{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Slice Selection Function deployment object.  A NSSF deployment object represents a NSSF instance that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/nssfDeployments/{nssfDeploymentName}": {
      "put": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Network Slice Selection Function deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            },
            "description": "Parameters supplied to create or update a NSSF Deployment object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the NSSF Deployment resource.",
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create NSSF Deployment resource": {
            "$ref": "./examples/NssfDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core Network Slice Selection Function Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the NSSF Deployment resource.",
            "schema": {
              "$ref": "#/definitions/NssfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get NSSF Deployment resource": {
            "$ref": "./examples/NssfDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core Network Slice Selection Function Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/NssfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The NSSF Deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The NSSF Deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NSSF Deployment resource": {
            "$ref": "./examples/NssfDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/nssfDeployments": {
      "get": {
        "tags": [
          "NssfDeployments"
        ],
        "operationId": "NssfDeployments_ListByCluster",
        "description": "Lists all the Network Slice Selection Function deployment resources in a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NssfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NSSF deployments by mobile packet core instance": {
            "$ref": "./examples/NssfDeploymentListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NssfDeploymentProperties": {
      "type": "object",
      "description": "The NSSF Deployment resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the NSSF Deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the NSSF deployment",
          "properties": {
            "nssfName": {
              "type": "string",
              "description": "Name assigned to this NSSF"
            },
            "resolvedNrfs": {
              "$ref": "./common.json#/definitions/ResolvedNrfs",
              "description": "The NRFs used by this instance of AMF"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this network functions belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "deploymentArea"
      ]
    },
    "NssfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NssfDeploymentProperties",
          "description": "Mobile Packet Core NSSF Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The NSSF Deployment resource."
    },
    "NssfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NssfDeployment"
          },
          "description": "A list of NSSF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for NSSF Deployment API service call."
    }
  },
  "parameters": {
    "NssfDeploymentNameParameter": {
      "name": "nssfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of NSSF deployment object.",
      "x-ms-parameter-location": "client"
    }
  }
}
