{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Slice Selection Function Profile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nssfProfiles/{nssfProfileName}": {
      "put": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Network Slice Selection Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the NSSF Profile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            },
            "description": "Parameters supplied to create or update a NSSF profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core NSSF Profile resource.",
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create NSSF Profile": {
            "$ref": "./examples/NssfProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Network Slice Selection Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the NSSF Profile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core NSSF Profile resource.",
            "schema": {
              "$ref": "#/definitions/NssfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get NSSF Profile": {
            "$ref": "./examples/NssfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Network Slice Selection Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "nssfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the nssfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The NSSF Profile object has been deleted"
          },
          "204": {
            "description": "Successful: The NSSF Profile object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete NssfProfile": {
            "$ref": "./examples/NssfProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nssfProfiles": {
      "get": {
        "tags": [
          "NssfProfiles"
        ],
        "operationId": "NssfProfiles_ListByMobilePacketCore",
        "description": "Lists all the Network Slice Selection Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NssfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NSSF profiles by mobile packet core instance": {
            "$ref": "./examples/NssfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "matchCriteriaTypeWithContainsAll": {
      "type": "string",
      "enum": [
        "Contains",
        "Equals",
        "ContainsAll"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeWithContainsAll",
        "modelAsString": true
      },
      "description": "Match criteria contains all"
    },
    "matchCriteriaTypeWithOnlyContains": {
      "type": "string",
      "enum": [
        "Contains"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeWithOnlyContains",
        "modelAsString": true
      },
      "description": "Match criteria"
    },
    "FilterTypeNssai": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithContainsAll"
        },
        "value": {
          "$ref": "./common.json#/definitions/Snssai"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeTrackingAreaIdentifierList": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/matchCriteriaTypeWithOnlyContains"
        },
        "trackingAreaIdentifiers": {
          "type": "array",
          "description": "List of tracking area identifiers",
          "items": {
            "$ref": "./common.json#/definitions/TrackingAreaIdentifier"
          }
        }
      },
      "description": "Filter type"
    },
    "RegistrationAndUeConfigurationUpdatePolicy": {
      "type": "object",
      "description": "Parameters for registration and UE Configuration Update policy",
      "properties": {
        "policyAction": {
          "type": "string",
          "enum": [
            "MatchSubscribedWithRequestedNssai",
            "UseLocalConfigNssaiAsAllowed"
          ],
          "x-ms-enum": {
            "name": "RegistrationAndUeConfiguratonUpdatePolicy",
            "modelAsString": true
          },
          "description": "Action to take"
        },
        "allowedNssaiMaxSize": {
          "type": "integer",
          "minimum": 1,
          "maximum": 8,
          "description": "Maximum number of NSSAIs allowed"
        },
        "amfRerouteType": {
          "type": "string",
          "enum": [
            "RerouteNotAllowed",
            "UseAmfSetId",
            "UseAmfIdList"
          ],
          "x-ms-enum": {
            "name": "AmfRerouteType",
            "modelAsString": true
          },
          "description": "AMF reroute policy"
        },
        "networkSliceIdentifierInformation": {
          "type": "string",
          "enum": [
            "Include",
            "DontInclude"
          ],
          "x-ms-enum": {
            "name": "NetworkSliceIdentifierInformation",
            "modelAsString": true
          },
          "default": "DontInclude",
          "description": "Whether Network slice identifier should be included"
        }
      }
    },
    "NssfProfileProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SMF profile resource."
        },
        "analyzer": {
          "type": "object",
          "description": "Parameters for choosing a policy",
          "properties": {
            "filterSets": {
              "type": "array",
              "description": "Filters for selecting a policy",
              "items": {
                "type": "object",
                "properties": {
                  "currentTrackingAreaIdentifierList": {
                    "$ref": "#/definitions/FilterTypeTrackingAreaIdentifierList"
                  },
                  "subscribedNssai": {
                    "$ref": "#/definitions/FilterTypeNssai"
                  },
                  "requestedNssai": {
                    "$ref": "#/definitions/FilterTypeNssai"
                  }
                }
              }
            },
            "registrationAndUeConfigurationUpdatePolicy": {
              "$ref": "#/definitions/RegistrationAndUeConfigurationUpdatePolicy"
            },
            "pduEstablishmentPolicy": {
              "type": "object",
              "description": "Policy applied for PDU establishment",
              "properties": {
                "networkSliceIdentifier": {
                  "type": "string",
                  "enum": [
                    "Include",
                    "DontInclude"
                  ],
                  "x-ms-enum": {
                    "name": "NetworkSliceIdentifier",
                    "modelAsString": true
                  },
                  "default": "Include",
                  "description": "Whether Network slice identifier should be included"
                }
              }
            }
          }
        }
      },
      "description": "The Mobile Packet Core NSSF Profile resource definition."
    },
    "NssfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NssfProfileProperties",
          "description": "Mobile Packet Core NSSF Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core NSSF Profile resource."
    },
    "NssfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NssfProfile"
          },
          "description": "A list of Mobile Packet Core NSSF Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core NSSF Profile API service call."
    }
  }
}
