{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore packet detection rule .",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/packetDetectionRules/{packetDetectionRuleName}": {
      "put": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRules_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Packet Detection Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketDetectionRule"
            },
            "description": "Parameters supplied to create or update a packet detection rule object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Packet Detection Rule resource.",
            "schema": {
              "$ref": "#/definitions/PacketDetectionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Packet Detection Rule": {
            "$ref": "./examples/PacketDetectionRuleCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRules_Get",
        "description": "Get information about the specified Mobile Packet Core Packet Detection Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the MobilePacketCore PacketDetectionRule resource.",
            "schema": {
              "$ref": "#/definitions/PacketDetectionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Packet Detection Rule": {
            "$ref": "./examples/PacketDetectionRuleGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRules_Delete",
        "description": "Deletes the specified Mobile Packet Core Packet Detection Rule resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "packetDetectionRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Detection Rule object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The Packet Detection Rule object has been deleted"
          },
          "204": {
            "description": "Successful: The Packet Detection Rule object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Packet Detection Rule": {
            "$ref": "./examples/PacketDetectionRuleDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/packetDetectionRules": {
      "get": {
        "tags": [
          "PacketDetectionRules"
        ],
        "operationId": "PacketDetectionRules_ListByMobilePacketCore",
        "description": "Lists all the Packet Detection Rules in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PacketDetectionRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Packet Detection Rules by resource group": {
            "$ref": "./examples/PacketDetectionRuleListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PacketDetectionRuleProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the Packet Detection Rule resource."
        },
        "name": {
          "type": "string",
          "description": "Name of the packet detection rule"
        },
        "packetDetectionRuleId": {
          "type": "integer",
          "description": "Unique ID used to identify the PDR",
          "minimum": 1,
          "maximum": 65535
        },
        "priority": {
          "type": "integer",
          "description": "priority of the packet detection rule",
          "minimum": 1,
          "maximum": 4096
        },
        "applicationId": {
          "type": "string",
          "description": "application identifier used in PCC rule to refer a pre-configured rule (this one) in UPF"
        },
        "packetFlowDescriptionList": {
          "type": "array",
          "maxItems": 256,
          "description": "List of packet flow descriptions for this packet detection rule",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource",
            "description": "Reference to specific packet detection rule resource"
          }
        },
        "firewallServicePolicyList": {
          "type": "array",
          "description": "Array of associated firewall service policies",
          "items": {
            "type": "object",
            "properties": {
              "priority": {
                "type": "integer",
                "description": "Priority of the firewall service policy",
                "minimum": 1,
                "maximum": 4096
              },
              "natPool": {
                "type": "string",
                "description": "Name of the NAT pool associated to this service (provisioned in the UPF profile).  Required when action is 'nat'"
              },
              "action": {
                "type": "string",
                "description": "Action to take for this subscriber-firewall flow",
                "enum": [
                  "NAT",
                  "Pass",
                  "Drop"
                ],
                "x-ms-enum": {
                  "name": "FirewallServicePolicyAction",
                  "modelAsString": true
                }
              },
              "applicationLayerGateway": {
                "type": "string",
                "description": "Application Level Gateway",
                "enum": [
                  "None",
                  "Tftp",
                  "Ftp",
                  "Rtsp",
                  "Pptp"
                ],
                "x-ms-enum": {
                  "name": "ApplicationLayerGateway",
                  "modelAsString": true
                }
              }
            }
          },
          "required": [
            "priority"
          ]
        }
      },
      "required": [
        "packetDetectionRuleId",
        "priority"
      ],
      "description": "The Mobile Packet Core Packet Detection Rule resource definition."
    },
    "PacketDetectionRule": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketDetectionRuleProperties",
          "description": "Mobile Packet Core Packet Detection Rule properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Packet Detection Rule resource."
    },
    "PacketDetectionRuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketDetectionRule"
          },
          "description": "A list of Mobile Packet Core Packet Detection Rule objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Packet Detection Rule API service call."
    }
  }
}
