{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for MobilePacketCore Packet Flow Description ( service-rule ).",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/packetFlowDescriptions/{packetFlowDescriptionName}": {
      "put": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescriptions_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Packet Flow Description resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Flow Description object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            },
            "description": "Parameters supplied to create or update a packet flow description object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Packet Flow Description resource.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Packet Flow Description": {
            "$ref": "./examples/PacketFlowDescriptionCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescriptions_Get",
        "description": "Get information about the specified Mobile Packet Core Packet Flow Description resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Flow Description object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Packet Flow Description resource.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Packet Flow Description": {
            "$ref": "./examples/PacketFlowDescriptionGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescriptions_Delete",
        "description": "Deletes the specified Mobile Packet Core Packet Flow Description resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "packetFlowDescriptionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Packet Flow Description object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The Packet Flow Description object has been deleted"
          },
          "204": {
            "description": "Successful: The Packet Flow Description object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Packet Flow Description": {
            "$ref": "./examples/PacketFlowDescriptionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/PacketFlowDescriptions": {
      "get": {
        "tags": [
          "PacketFlowDescriptions"
        ],
        "operationId": "PacketFlowDescriptions_ListByMobilePacketCore",
        "description": "Lists all the Packet Flow Descriptions in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PacketFlowDescriptionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet flow descriptions by resource group": {
            "$ref": "./examples/PacketFlowDescriptionListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CommonRuleMatchDef": {
      "type": "object",
      "description": "The definition of common rule matching",
      "properties": {
        "matchingCriteria": {
          "type": "string",
          "description": "begins-with:Specify a string that begins-with to match against incoming domain;ends-with: Specify a string that ends-with to match against incoming domain;contains:Specify a string that contains to match against incoming domain;regex:Specify a regex to match against incoming domain;exact:Specify an exact string to match against incoming domain",
          "enum": [
            "BeginsWith",
            "EndsWith",
            "Contains",
            "Regex",
            "Exact"
          ],
          "x-ms-enum": {
            "name": "MatchingCriteria",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Value to be matched per criteria"
        }
      },
      "required": [
        "matchingCriteria",
        "value"
      ]
    },
    "PacketFlowDescriptionProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the Packet Flow Description resource.  UPF"
        },
        "priority": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4096,
          "description": "Unique priority value for PFD"
        },
        "dscpMarking": {
          "$ref": "./common.json#/definitions/DscpMarking",
          "description": "DSCP Marking"
        },
        "packetFilter": {
          "type": "array",
          "maxItems": 4000,
          "description": "packet-flow-description:  match on any packet-filter AND http-rule-group AND domain-rule-group",
          "items": {
            "type": "object",
            "description": "Packet Filter: match on all fields",
            "properties": {
              "ipVersion": {
                "type": "string",
                "description": "IP Version",
                "enum": [
                  "V4Only",
                  "V6Only",
                  "V4OrV6"
                ],
                "x-ms-enum": {
                  "name": "PacketFlowDetectionIpVersion",
                  "modelAsString": true
                },
                "default": "V4OrV6"
              },
              "ueIpV4AddressStart": {
                "$ref": "./common.json#/definitions/Ipv4Address",
                "description": "user equipment IPv4 address range start (inclusive).  default: 0.0.0.0"
              },
              "ueIpV4AddressEnd": {
                "$ref": "./common.json#/definitions/Ipv4Address",
                "description": "user equipment IPv4 address range end (inclusive).  default: 0.0.0.0"
              },
              "networkIpV4AddressStart": {
                "$ref": "./common.json#/definitions/Ipv4Address",
                "description": "network equipment IPv4 address range end (inclusive).  default: 0.0.0.0"
              },
              "networkIpV4AddressEnd": {
                "$ref": "./common.json#/definitions/Ipv4Address",
                "description": "network equipment IPv4 address range end (inclusive).  default: 0.0.0.0"
              },
              "ueIpV6AddressStart": {
                "$ref": "./common.json#/definitions/Ipv6Address",
                "description": "user equipment IPv6 address range start (inclusive).  default: ::"
              },
              "ueIpV6AddressEnd": {
                "$ref": "./common.json#/definitions/Ipv6Address",
                "description": "user equipment IPv6 address range end (inclusive).  default: ::"
              },
              "networkIpV6AddressStart": {
                "$ref": "./common.json#/definitions/Ipv6Address",
                "description": "network IPv6 address range start (inclusive).  default: ::"
              },
              "networkIpV6AddressEnd": {
                "$ref": "./common.json#/definitions/Ipv6Address",
                "description": "network IPv6 address range end (inclusive).  default: ::"
              },
              "uePortStart": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "user equipment port range start value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)",
                "default": 0
              },
              "uePortEnd": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "user equipment port range end value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)",
                "default": 65525
              },
              "networkPortStart": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "network equipment port range start value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)",
                "default": 0
              },
              "networkPortEnd": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "network equipment port range end value (valid for protocol = TCP (6), UDP (17), SCTP (132), only)",
                "default": 65535
              },
              "protocol": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255,
                "description": "ip protocol values (e.g., all: 255, ICMP: 1, TCP: 6, UDP: 17, SCTP: 132)",
                "default": 255
              },
              "initiator": {
                "$ref": "./common.json#/definitions/Initiator",
                "description": "match against ue or network traffic"
              },
              "minUplinkTtl": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255,
                "description": "minimum value of the connection TTL(Time-To-Live)",
                "default": 0
              },
              "maxUplinkTtl": {
                "type": "integer",
                "minimum": 0,
                "maximum": 255,
                "description": "maximum value of the connection TTL(Time-To-Live)",
                "default": 255
              }
            }
          }
        },
        "httpRules": {
          "type": "array",
          "maxItems": 256,
          "description": "HTTP Rule Group:  match on any rule in array (each array entry is one rule in the rule group)",
          "items": {
            "type": "object",
            "description": "(count(host-port-start) = 0) or ((count(host-port-start) + count(host-port-end)) = 2): must enter host-port-start and host-port-end together to have a valid range;((count(host-port-start) + count(host-port-end)) = 0) or (host-port-end >= host-port-start):host-port-end must be >= host-port-start",
            "properties": {
              "priority": {
                "type": "integer",
                "description": "http rule priority",
                "minimum": 1,
                "maximum": 4096
              },
              "requestMethod": {
                "type": "string",
                "enum": [
                  "Get",
                  "Head",
                  "Post",
                  "Put",
                  "Delete",
                  "Trace",
                  "Options",
                  "Connect"
                ],
                "x-ms-enum": {
                  "name": "HttpRequestMethod",
                  "modelAsString": true
                },
                "description": "HTTP Request method"
              },
              "responseStatusCode": {
                "type": "string",
                "enum": [
                  "100",
                  "101",
                  "200",
                  "201",
                  "202",
                  "203",
                  "204",
                  "205",
                  "206",
                  "300",
                  "301",
                  "302",
                  "303",
                  "304",
                  "305",
                  "306",
                  "307",
                  "400",
                  "401",
                  "402",
                  "403",
                  "404",
                  "405",
                  "406",
                  "407",
                  "408",
                  "409",
                  "410",
                  "411",
                  "412",
                  "413",
                  "414",
                  "415",
                  "416",
                  "417",
                  "500",
                  "501",
                  "502",
                  "503",
                  "504",
                  "505"
                ],
                "x-ms-enum": {
                  "name": "HttpResponseStatusCode",
                  "modelAsString": true
                },
                "description": "Specify a status code for matching against HTTP response's status line"
              },
              "contentType": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a string for matching against HTTP request's content-type header"
              },
              "host": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a string for matching against HTTP request's host header"
              },
              "userAgent": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a string for matching against HTTP request's user-agent header"
              },
              "requestUri": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a string for matching against HTTP request's URI field"
              },
              "referer": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a string for matching against HTTP request's Referer field"
              },
              "accept": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a string for matching against HTTP request's Accept header"
              },
              "hostPortStart": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "Specify a port start value for matching against HTTP request host port"
              },
              "hostPortEnd": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "Specify a port end value for matching against HTTP request host port"
              },
              "media": {
                "type": "object",
                "description": "Specify media types for matching against response payload",
                "properties": {
                  "mediaChoice": {
                    "type": "string",
                    "description": "Media Choice",
                    "enum": [
                      "AllVideo",
                      "ProgressiveVideo",
                      "AbrVideo"
                    ],
                    "x-ms-enum": {
                      "name": "MediaChoice",
                      "modelAsString": true
                    }
                  },
                  "progressiveVideo": {
                    "type": "object",
                    "description": "Specify progressive video types(FLV, MP4, WebM) for matching against the response payload",
                    "properties": {
                      "progressiveVideoChoice": {
                        "type": "string",
                        "description": "Progress Video Choice",
                        "enum": [
                          "ProgressiveVideoAll",
                          "ProgressiveVideoType"
                        ],
                        "x-ms-enum": {
                          "name": "ProgressiveVideoChoice",
                          "modelAsString": true
                        }
                      },
                      "progressiveVideoType": {
                        "type": "string",
                        "enum": [
                          "flv",
                          "mp4",
                          "webm"
                        ],
                        "x-ms-enum": {
                          "name": "ProgressiveVideoType",
                          "modelAsString": true
                        },
                        "description": "flv:Specify FLV for matching against the response payload;mp4:Specify MP4 for matching against the response payload;webm:Specify WebM for matching against the response payload"
                      }
                    }
                  },
                  "abrVideo": {
                    "type": "object",
                    "description": "Specify all ABR video types(HLS, DASH, HDS) for matching against the response payload",
                    "properties": {
                      "abrVideoChoice": {
                        "type": "string",
                        "description": "Average Bit Rate Choice",
                        "enum": [
                          "AbrAll",
                          "AbrVideoType"
                        ],
                        "x-ms-enum": {
                          "name": "AbrVideoChoice",
                          "modelAsString": true
                        }
                      },
                      "abrVideoType": {
                        "type": "string",
                        "enum": [
                          "hls",
                          "dash",
                          "hds"
                        ],
                        "x-ms-enum": {
                          "name": "AbrVideoType",
                          "modelAsString": true
                        },
                        "description": "hls:Specify HLS for matching against the response payload;dash:Specify DASH for matching against the response payload;hds:Specify HDS for matching against the response payload"
                      }
                    }
                  }
                }
              }
            },
            "required": [
              "priority"
            ]
          }
        },
        "tlsRules": {
          "type": "array",
          "maxItems": 512,
          "description": "Transport Layer Security Rule Group:  match on any rule in the array (each array entry is one rule in the rule group)",
          "items": {
            "type": "object",
            "properties": {
              "serverNameIndication": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a Server Name Indication string for matching against the incoming SNI"
              },
              "serverCommonName": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a Common Name string for matching against the incoming Common Name"
              },
              "subjectAlternativeName": {
                "$ref": "#/definitions/CommonRuleMatchDef",
                "description": "Specify a Subject Alternative Name string for matching against the incoming SAN"
              }
            }
          }
        },
        "applicationRules": {
          "type": "array",
          "maxItems": 512,
          "description": "Protocol Application Rule Group: match on any rule in the array (each array entry is one rule in the rule group)",
          "items": {
            "type": "object",
            "properties": {
              "applicationGroup": {
                "type": "array",
                "description": "Protocol Application Rule Group in Application Rules",
                "maxItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "groupName": {
                      "type": "string",
                      "description": "DPI group name"
                    },
                    "applicationName": {
                      "type": "array",
                      "description": "match the application specified",
                      "maxItems": 1,
                      "items": {
                        "type": "string",
                        "description": "DPI application name"
                      }
                    }
                  },
                  "required": [
                    "groupName"
                  ]
                }
              },
              "flowAttribute": {
                "type": "array",
                "description": "match the flow attribute specified",
                "items": {
                  "type": "string",
                  "description": "DPI flow attribute name"
                }
              },
              "subscriber": {
                "type": "object",
                "description": "match operating-system and the tethered attribute when specified",
                "properties": {
                  "operatingSystem": {
                    "type": "string",
                    "description": "DPI operating system name"
                  },
                  "tethered": {
                    "$ref": "./common.json#/definitions/EnableDisable",
                    "description": "Whether tethered or not"
                  }
                }
              },
              "flow": {
                "type": "object",
                "description": "match operating-system and the tethered attribute when specified",
                "properties": {
                  "operatingSystem": {
                    "type": "string",
                    "description": "DPI operating system name"
                  },
                  "tethered": {
                    "$ref": "./common.json#/definitions/EnableDisable",
                    "description": "Whether tethered or not"
                  },
                  "tetheringDetectionConfidenceIndexLowerLimit": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "maximum": 4294967295,
                    "description": "match tethering detection confidence index lower limit.  Must be specified in conjunction with and less than tetheringDetectionConfidenceIndexUpperLimit"
                  },
                  "tetheringDetectionConfidenceIndexUpperLimit": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 2,
                    "maximum": 4294967295,
                    "description": "match tethering detection confidence index upper limit.  Must be specified in conjunction with and greater than tetheringDetectionConfidenceIndexLowerLimit"
                  }
                }
              },
              "protocolGroup": {
                "type": "object",
                "description": "match the protocol group specified",
                "properties": {
                  "groupName": {
                    "type": "string",
                    "description": "DPI group name"
                  },
                  "protocol": {
                    "type": "string",
                    "description": "DPI Protocol"
                  }
                },
                "required": [
                  "groupName"
                ]
              }
            }
          }
        }
      },
      "required": [
        "priority"
      ],
      "description": "The Mobile Packet Core Packet Flow Description resource definition."
    },
    "PacketFlowDescription": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketFlowDescriptionProperties",
          "description": "Mobile Packet Core Packet Flow Description properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Packet Flow Description resource."
    },
    "PacketFlowDescriptionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketFlowDescription"
          },
          "description": "A list of Mobile Packet Core Packet Flow Description objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Packet Flow Description API service call."
    }
  }
}
