{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core policy and charging control rule base resources.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/pccRuleBases/{pccRuleBaseName}": {
      "put": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBases_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Policy and Charging Control Rule Base resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            },
            "description": "Parameters supplied to create or update a PCC rule base object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the PCC Rule Base resource.",
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PCC Rule Base": {
            "$ref": "./examples/PccRuleBaseCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBases_Get",
        "description": "Get information about the specified Mobile Packet Core Policy and Charging Control Rule Base resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the PccRuleBase resource.",
            "schema": {
              "$ref": "#/definitions/PccRuleBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PCC Rule Base": {
            "$ref": "./examples/PccRuleBaseGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBases_Delete",
        "description": "Deletes the specified Mobile Packet Core Policy and Charging Control Rule Base resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "pccRuleBaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PCC Rule Base object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The PCC Rule Base object has been deleted"
          },
          "204": {
            "description": "Successful: The PCC Rule Base object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete PCC Rule Base": {
            "$ref": "./examples/PccRuleBaseDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/pccRuleBases": {
      "get": {
        "tags": [
          "PccRuleBases"
        ],
        "operationId": "PccRuleBases_ListByMobilePacketCore",
        "description": "Lists all the Mobile Packet Core Policy and Charging Control Rule Bases in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PccRuleBaseListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List PCC Rule Bases by resource group": {
            "$ref": "./examples/PccRuleBaseListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PccRuleBaseProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the PCC Rule Base resource."
        },
        "pcfActivationName": {
          "type": "string",
          "description": "Name used by the PCF to activate the PCC rules in this object"
        },
        "pccRules": {
          "type": "array",
          "description": "list off pcc rules",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource",
            "description": "URL to PCC Rule resource"
          }
        }
      },
      "required": [
        "pcfActivationName"
      ],
      "description": "The PccRuleBase resource definition."
    },
    "PccRuleBase": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PccRuleBaseProperties",
          "description": "PccRuleBase properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The PccRuleBase resource."
    },
    "PccRuleBaseListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PccRuleBase"
          },
          "description": "A list of Mobile Packet Core PCC rule base objects in a mobile packet core instance."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core PCC rule base API service call."
    }
  }
}
