{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Public Land Mobile Network ( PLMN ) resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/plmns/{plmnName}": {
      "put": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmns_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Public Land Mobile Network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Plmn"
            },
            "description": "Parameters supplied to create or update a plmn object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Public Land Mobile Network resource.",
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Plmn": {
            "$ref": "./examples/PlmnCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmns_Get",
        "description": "Get information about the specified Mobile Packet Core Public Land Mobile Network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Public Land Mobile Network resource.",
            "schema": {
              "$ref": "#/definitions/Plmn"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Plmn": {
            "$ref": "./examples/PlmnGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmns_Delete",
        "description": "Deletes the specified Mobile Packet Core Public Land Mobile Network resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "plmnName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the plmn object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The plmn object has been deleted"
          },
          "204": {
            "description": "Successful: The plmn object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Plmn": {
            "$ref": "./examples/PlmnDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/plmns": {
      "get": {
        "tags": [
          "Plmns"
        ],
        "operationId": "Plmns_ListByMobilePacketCore",
        "description": "Lists all the Public Land Mobile Network instances in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/PlmnListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Plmns by mobile packet core instance": {
            "$ref": "./examples/PlmnListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PlmnProperties": {
      "type": "object",
      "description": "The Mobile Packet Core Public Land Mobile Network resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "plmnId": {
          "$ref": "./common.json#/definitions/PlmnId",
          "description": "Private Land Mobile Network Identifier.  5-6 digits, comprised of 3 digit Mobile Country Code and 2-3 digit Mobile Network Code.  All network functions"
        },
        "imsVoiceOverPacketSwitchedSupport": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "IMS voice over Packet Switched support enable or disable.  AMF.  default: enabled"
        }
      }
    },
    "Plmn": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PlmnProperties",
          "description": "Mobile Packet Core PLMN properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Public Land Mobile Network resource."
    },
    "PlmnListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plmn"
          },
          "description": "A list of Mobile Packet Core PLMN objects in a mobile packet core instance."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core PLMN API service call."
    }
  }
}
