{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Service Area resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/serviceAreas/{serviceAreaName}": {
      "put": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceAreas_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core service area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            },
            "description": "Parameters supplied to create or update a service area object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Service Area resource.",
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create serviceArea": {
            "$ref": "./examples/ServiceAreaCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceAreas_Get",
        "description": "Get information about the specified Mobile Packet Core Service Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ServiceArea resource.",
            "schema": {
              "$ref": "#/definitions/ServiceArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get serviceArea": {
            "$ref": "./examples/ServiceAreaGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceAreas_Delete",
        "description": "Deletes the specified Mobile Packet Core service area resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The service area object has been deleted"
          },
          "204": {
            "description": "Successful: The service area object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete serviceArea": {
            "$ref": "./examples/ServiceAreaDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/serviceAreas": {
      "get": {
        "tags": [
          "ServiceAreas"
        ],
        "operationId": "ServiceAreas_ListByMobilePacketCore",
        "description": "Lists all the Service Areas in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of Service Area resources.",
            "schema": {
              "$ref": "#/definitions/ServiceAreaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ServiceAreas by resource group": {
            "$ref": "./examples/ServiceAreaListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ServiceAreaProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "networkFunctionList": {
          "type": "array",
          "description": "List of network function types to which this service area applies.  If not specified it applies to all network function types",
          "items": {
            "$ref": "./common.json#/definitions/NetworkFunctionType"
          }
        },
        "timeZone": {
          "$ref": "./common.json#/definitions/TimeZone",
          "description": "Timezone information - AMF"
        },
        "smfServingAreaName": {
          "type": "string",
          "description": "The SMF serving area to which this service area belongs - SMF"
        }
      },
      "description": "The ServiceArea resource definition."
    },
    "ServiceArea": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceAreaProperties",
          "description": "ServiceArea properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The ServiceArea resource."
    },
    "ServiceAreaListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceArea"
          },
          "description": "A list of Service Area resources in a Mobile Packet Core."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Service Area API service call."
    }
  }
}
