{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Session Management Function  deployment object. A SMF deployment object represents a SMF instance that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/smfDeployments/{smfDeploymentName}": {
      "put": {
        "tags": [
          "SmfDeployments"
        ],
        "operationId": "SmfDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Session Management Function deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/SmfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SmfDeployment"
            },
            "description": "Parameters supplied to create or update an SMF deployment object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the SMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/SmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update SMF Deployment resource": {
            "$ref": "./examples/SmfDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SmfDeployments"
        ],
        "operationId": "SmfDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core Session Management Function Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/SmfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the SMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/SmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SMF Deployment resource": {
            "$ref": "./examples/SmfDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SmfDeployments"
        ],
        "operationId": "SmfDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core Session Management Function deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/SmfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The Session Management Function deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The Session Management Function deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SMF Deployment resource": {
            "$ref": "./examples/SmfDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/smfDeployments": {
      "get": {
        "tags": [
          "SmfDeployments"
        ],
        "operationId": "SmfDeployments_ListByCluster",
        "description": "Lists all the Session Management Function deployment resources in a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SmfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SMF deployment objects by mobile packet core": {
            "$ref": "./examples/SmfDeploymentListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SmfDeploymentProperties": {
      "type": "object",
      "description": "The SMF deployment resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the SMF deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the SMF deployment",
          "properties": {
            "pfcpFqdn": {
              "$ref": "./common.json#/definitions/Fqdn"
            },
            "upfList": {
              "$ref": "./common.json#/definitions/PfcpPeers",
              "description": "A list of UPFs with which the SMF instance communicates"
            },
            "resolvedNrfs": {
              "$ref": "./common.json#/definitions/ResolvedNrfs",
              "description": "The NRFs used by this instance of SMF"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this network function belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "networkSliceList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "networkSlice": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "Network slice in which this network function participates"
              },
              "distinguishedName": {
                "$ref": "./common.json#/definitions/DistinguishedName",
                "description": "This identifies the specific slice subnet profile in the network slice subnet profile list"
              }
            }
          },
          "description": "A list of network slice resource object and subnet instance"
        }
      },
      "required": [
        "deploymentArea",
        "networkSliceList"
      ]
    },
    "SmfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SmfDeploymentProperties",
          "description": "SMF Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The SMF deployment resource definition."
    },
    "SmfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmfDeployment"
          },
          "description": "A list of SMF in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for SMF Deployment API service call."
    }
  },
  "parameters": {
    "SmfDeploymentNameParameter": {
      "name": "smfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of SMF deployment.",
      "x-ms-parameter-location": "client"
    }
  }
}
