{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Subscriber Analyzer resource.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/subscriberAnalyzers/{subscriberAnalyzerName}": {
      "put": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzers_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core subscriber analyzer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            },
            "description": "Parameters supplied to create or update a subscriber analyzer object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Subscriber Analyzer resource.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Subscriber Analyzer": {
            "$ref": "./examples/SubscriberAnalyzerCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzers_Get",
        "description": "Get information about the specified Mobile Packet Core subscriber analyzer",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Subscriber Analyzer resource.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Subscriber Analyzer": {
            "$ref": "./examples/SubscriberAnalyzerGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzers_Delete",
        "description": "Deletes the specified Mobile Packet Core subscriber analyzer.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "subscriberAnalyzerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the subscriber analyzer object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The subscriber analyzer object has been deleted"
          },
          "204": {
            "description": "Successful: The subscriber analyzer object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Subscriber Analyzer": {
            "$ref": "./examples/SubscriberAnalyzerDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/subscriberAnalyzers": {
      "get": {
        "tags": [
          "SubscriberAnalyzers"
        ],
        "operationId": "SubscriberAnalyzers_ListByMobilePacketCore",
        "description": "Lists all the subscriber analyzers in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/SubscriberAnalyzerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Subscriber Analyzers by resource group": {
            "$ref": "./examples/SubscriberAnalyzerListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ResultCodeAction": {
      "type": "string",
      "enum": [
        "Continue",
        "Terminate"
      ],
      "x-ms-enum": {
        "name": "ResultCodeAction",
        "modelAsString": true
      },
      "description": "Action to be performed on the session based on the result code"
    },
    "RgLevelResultCodeAction": {
      "type": "string",
      "enum": [
        "Continue",
        "TerminateService",
        "Redirect"
      ],
      "x-ms-enum": {
        "name": "rgLevelResultCodeAction",
        "modelAsString": true
      },
      "description": "Action to be performed on the session based on the result code"
    },
    "ApplicationErrorCode": {
      "type": "string",
      "description": "Application error codes from CHF server",
      "enum": [
        "ChargingFailed",
        "ChargingNotApplicable",
        "UserUnknown",
        "EndUserRequestDenied",
        "EndUserRequestRejected"
      ],
      "x-ms-enum": {
        "name": "ApplicationErrorCode",
        "modelAsString": true
      }
    },
    "ChargingResultCodeActionTemplate": {
      "type": "object",
      "description": "Configure error codes from chf and the actions to be performed on the session",
      "properties": {
        "defaultAction": {
          "$ref": "#/definitions/ResultCodeAction"
        },
        "statusCodes": {
          "type": "array",
          "description": "List of status codes and application errors",
          "items": {
            "type": "object",
            "properties": {
              "statusCode": {
                "type": "integer",
                "minimum": 0,
                "maximum": 65535,
                "description": "Valid HTTP status codes"
              },
              "applicationError": {
                "type": "array",
                "description": "Configure application error codes and the actions",
                "items": {
                  "type": "object",
                  "properties": {
                    "applicationErrorCode": {
                      "$ref": "#/definitions/ApplicationErrorCode"
                    },
                    "action": {
                      "$ref": "#/definitions/ResultCodeAction"
                    }
                  }
                }
              },
              "defaultAction": {
                "$ref": "#/definitions/ResultCodeAction"
              }
            }
          }
        }
      }
    },
    "RedirectServerAddressType": {
      "type": "string",
      "description": "Address type of the redirect server",
      "enum": [
        "Ipv4",
        "Ipv6",
        "Url"
      ],
      "x-ms-enum": {
        "name": "RedirectServerAddressType",
        "modelAsString": true
      }
    },
    "ChargingRgLevelResultCodeActionTemplate": {
      "type": "object",
      "description": "Configure list of expected RG level error result codes from CHF and any action to be taken",
      "properties": {
        "defaultAction": {
          "$ref": "#/definitions/RgLevelResultCodeAction"
        },
        "redirectServerAddressType": {
          "$ref": "#/definitions/RedirectServerAddressType",
          "description": "Required when default action is 'redirect'"
        },
        "redirectServerAddress": {
          "type": "string",
          "description": "Required when default action is 'redirect'"
        },
        "ratingGroupResultCodes": {
          "type": "array",
          "description": "Rating Group result codes",
          "items": {
            "type": "object",
            "properties": {
              "resultCode": {
                "type": "string",
                "description": "RG level application error codes from CHF server",
                "enum": [
                  "EndUserServiceDenied",
                  "QuotaManagementNotApplicable",
                  "QuotaLimitReached",
                  "EndUserServiceRejected",
                  "RatingFailed"
                ],
                "x-ms-enum": {
                  "name": "ResultCode",
                  "modelAsString": true
                }
              },
              "action": {
                "$ref": "#/definitions/RgLevelResultCodeAction"
              },
              "redirectServerAddressType": {
                "$ref": "#/definitions/RedirectServerAddressType",
                "description": "Required when action is 'redirect'"
              },
              "redirectServerAddress": {
                "type": "string",
                "description": "Required when action is 'redirect'"
              },
              "applicationError": {
                "type": "array",
                "description": "Configure application error codes and the actions",
                "items": {
                  "type": "object",
                  "properties": {
                    "applicationErrorCode": {
                      "$ref": "#/definitions/ApplicationErrorCode"
                    },
                    "action": {
                      "$ref": "#/definitions/ResultCodeAction"
                    }
                  }
                }
              },
              "defaultAction": {
                "$ref": "#/definitions/ResultCodeAction"
              }
            },
            "required": [
              "resultCode"
            ]
          }
        }
      }
    },
    "MatchCriteriaTypeRange": {
      "type": "string",
      "enum": [
        "Presence",
        "InRange",
        "OutOfRange"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeRange",
        "modelAsString": true
      },
      "description": "Match type criteria"
    },
    "MatchCriteriaTypeWithPresence": {
      "type": "string",
      "enum": [
        "Presence",
        "Equals",
        "DoesNotEqual"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeWithPresence",
        "modelAsString": true
      },
      "description": "Match type criteria"
    },
    "MatchCriteriaTypeWithContains": {
      "type": "string",
      "enum": [
        "Contains",
        "Equals",
        "DoesNotEqual"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeWithContains",
        "modelAsString": true
      },
      "description": "Match type criteria"
    },
    "MatchCriteriaTypeCustomFilters": {
      "type": "string",
      "enum": [
        "Presence",
        "Contains",
        "Equals",
        "DoesNotEqual"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeCustomFilters",
        "modelAsString": true
      },
      "description": "Match type criteria"
    },
    "MatchCriteriaTypeWithBitSet": {
      "type": "string",
      "enum": [
        "IsAnySet",
        "IsNotSet",
        "Equals",
        "DoesNotEqual"
      ],
      "x-ms-enum": {
        "name": "MatchCriteriaTypeWithBitSet",
        "modelAsString": true
      },
      "description": "Match type criteria"
    },
    "FilterTypeChargingCharacteristics": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithBitSet"
        },
        "value": {
          "type": "string",
          "pattern": "(0x[A-Fa-f0-9]{4})",
          "description": "Filter value"
        }
      },
      "description": "Filter for charging characteristics"
    },
    "FilterTypeDnn": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithContains"
        },
        "value": {
          "$ref": "./common.json#/definitions/DataNetworkName"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeImsiRange": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeRange"
        },
        "low": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$",
          "description": "Lower bound"
        },
        "high": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$",
          "description": "Upper bound"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeImeiRange": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeRange"
        },
        "low": {
          "type": "string",
          "pattern": "^[0-9]{5,16}$",
          "description": "Lower bound"
        },
        "high": {
          "type": "string",
          "pattern": "^[0-9]{5,16}$",
          "description": "Upper bound"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeMsisdnRange": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeRange"
        },
        "low": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$",
          "description": "Lower bound"
        },
        "high": {
          "type": "string",
          "pattern": "^[0-9]{5,15}$",
          "description": "Upper bound"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeRadioAccessTechnology": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "Geran",
            "Utran",
            "EutranNarrowband",
            "EutranWideband",
            "NgRan",
            "Wlan",
            "Virtual"
          ],
          "x-ms-enum": {
            "name": "RadioAccessTechnologyTypeValue",
            "modelAsString": true
          },
          "description": "Filter value"
        }
      },
      "description": "Filter type"
    },
    "FilterTypePduType": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "Ipv4",
            "Ipv6",
            "Ipv4v6",
            "Unstructured",
            "Ethernet"
          ],
          "x-ms-enum": {
            "name": "FilterTypePduTypeValue",
            "modelAsString": true
          },
          "description": "Filter value"
        }
      },
      "description": "Filter type"
    },
    "FilterTypePdnType": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "Ipv4",
            "Ipv6",
            "Ipv4v6",
            "NonIp"
          ],
          "x-ms-enum": {
            "name": "FilterTypePdnTypeValue",
            "modelAsString": true
          },
          "description": "Filter value"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeDataNetworkType": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithPresence"
        },
        "value": {
          "type": "string",
          "enum": [
            "Ipv4",
            "Ipv6",
            "Ipv4v6",
            "Unstructured",
            "Ethernet"
          ],
          "x-ms-enum": {
            "name": "DataNetworkTypeValue",
            "modelAsString": true
          },
          "description": "Filter value"
        }
      },
      "description": "Filter type"
    },
    "FilterTypeCustom": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeCustomFilters"
        },
        "value": {
          "type": "array",
          "description": "Value of the custom filter (only if matchCriteria does not equal 'presence'",
          "items": {
            "type": "string"
          },
          "maxItems": 10
        }
      },
      "description": "Filter type"
    },
    "FilterTypeServingLocation": {
      "type": "object",
      "properties": {
        "matchCriteria": {
          "$ref": "#/definitions/MatchCriteriaTypeWithContains"
        },
        "servingAreaGroup": {
          "type": "array",
          "description": "URL to Service Area resource",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          }
        }
      },
      "description": "Filter type"
    },
    "SessionRule": {
      "type": "object",
      "description": "session level default qos attributes",
      "properties": {
        "sessionAmbr": {
          "type": "array",
          "minItems": 1,
          "maxItems": 1,
          "description": "Session Aggregate Maximum Bit Rate",
          "items": {
            "type": "object",
            "properties": {
              "measurementUnit": {
                "$ref": "./common.json#/definitions/MeasurementUnit"
              },
              "uplinkAmbr": {
                "type": "integer",
                "format": "int64",
                "minimum": 0,
                "maximum": 4294967295,
                "description": "per session Uplink Aggregate Maximum Bit Rate"
              },
              "downlinkAmbr": {
                "type": "integer",
                "format": "int64",
                "minimum": 0,
                "maximum": 4294967295,
                "description": "per session Downlink Aggregate Maximum Bit Rate"
              }
            },
            "required": [
              "uplinkAmbr",
              "downlinkAmbr"
            ]
          }
        },
        "defaultQos": {
          "type": "array",
          "minItems": 1,
          "maxItems": 1,
          "description": "Default Quality of Service parameters",
          "items": {
            "type": "object",
            "description": "session level default qos attributes.  nonGbrFlow = true, reflective-qos = false",
            "properties": {
              "fiveQi": {
                "$ref": "./common.json#/definitions/FiveQi"
              },
              "arpPriorityLevel": {
                "$ref": "./common.json#/definitions/ArpPriorityLevel"
              },
              "arpPreemptionCapability": {
                "$ref": "./common.json#/definitions/ArpPreemptionCapability"
              },
              "arpPreemptionVulnerability": {
                "$ref": "./common.json#/definitions/ArpPreemptionVulnerability"
              },
              "maxBurst": {
                "type": "integer",
                "minimum": 1,
                "maximum": 4095,
                "description": "uplink maximum burst, measurement-units: bytes[1-4095]."
              }
            },
            "required": [
              "fiveQi",
              "arpPriorityLevel",
              "arpPreemptionCapability",
              "arpPreemptionVulnerability"
            ]
          }
        }
      }
    },
    "AnalyzerNameType": {
      "type": "string",
      "minLength": 1,
      "maxLength": 64,
      "pattern": "([0-9a-zA-Z_.-])*",
      "description": "Specific name type used by analyzer objects"
    },
    "SmfBaseFilter": {
      "type": "object",
      "description": "Base parameters for SMF filters",
      "discriminator": "smfFilterType",
      "properties": {
        "smfFilterType": {
          "type": "string",
          "enum": [
            "Imsi",
            "Msisdn",
            "Imei",
            "Dnn",
            "DataNetworkType",
            "RadioAccessTechnologyType",
            "PdnType",
            "ChargingCharacteristics",
            "CustomFilters"
          ],
          "x-ms-enum": {
            "name": "SmfFilterType",
            "modelAsString": true
          },
          "description": "Type of filter specified.  Must be unique in the same filter set"
        }
      },
      "required": [
        "smfFilterType"
      ]
    },
    "SmfFilterTypeChargingCharacteristics": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeChargingCharacteristics"
        }
      },
      "x-ms-discriminator-value": "ChargingCharacteristics",
      "description": "SMF Filter for charging characteristics"
    },
    "SmfFilterTypeDnn": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeDnn"
        }
      },
      "x-ms-discriminator-value": "Dnn",
      "description": "SMF Filter for Dnn"
    },
    "SmfFilterTypeImsiRange": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeImsiRange"
        }
      },
      "x-ms-discriminator-value": "Imsi",
      "description": "SMF Filter for Imsi"
    },
    "SmfFilterTypeImeiRange": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeImeiRange"
        }
      },
      "x-ms-discriminator-value": "Imei",
      "description": "SMF Filter for Imei"
    },
    "SmfFilterTypeMsisdnRange": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeMsisdnRange"
        }
      },
      "x-ms-discriminator-value": "Msisdn",
      "description": "SMF Filter for Msisdn"
    },
    "SmfFilterTypeRadioAccessTechnology": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeRadioAccessTechnology"
        }
      },
      "x-ms-discriminator-value": "RadioAccessTechnologyType",
      "description": "SMF Filter for RadioAccessTechnology"
    },
    "SmfFilterTypePdnType": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypePdnType"
        }
      },
      "x-ms-discriminator-value": "PdnType",
      "description": "SMF Filter for PDN Type"
    },
    "SmfFilterTypeDataNetworkType": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeDataNetworkType"
        }
      },
      "x-ms-discriminator-value": "DataNetworkType",
      "description": "SMF Filter for DataNetworkType"
    },
    "SmfFilterTypeCustom": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeCustom"
        }
      },
      "x-ms-discriminator-value": "CustomFilters",
      "description": "SMF Filter for custom filters"
    },
    "FilterSetsSmf": {
      "type": "array",
      "minItems": 1,
      "maxItems": 100,
      "description": "List of filter sets for the given class (profile instance). A filter set can have multiple filters. All filters in filter set have to match for a class name to be chosen. If any one filter set matches, the class name associated with this filter set will be chosen",
      "items": {
        "type": "object",
        "description": "Filters to be applied to match the filter set. All filters needs to be matched.",
        "properties": {
          "filters": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "description": "Specific set of filters to be applied",
            "items": {
              "$ref": "#/definitions/SmfBaseFilter"
            }
          }
        }
      }
    },
    "AmfBaseFilter": {
      "type": "object",
      "description": "Base parameters for AMF filters",
      "discriminator": "amfFilterType",
      "properties": {
        "amfFilterType": {
          "type": "string",
          "enum": [
            "ServingLocation",
            "Imsi",
            "Msisdn",
            "Imei",
            "Dnn",
            "DataNetworkType",
            "RadioAccessTechnologyType",
            "PdnType",
            "CustomFilters"
          ],
          "x-ms-enum": {
            "name": "AmfFilterType",
            "modelAsString": true
          },
          "description": "Type of filter specified.  Must be unique in the same filter set"
        }
      },
      "required": [
        "amfFilterType"
      ]
    },
    "AmfFilterTypeServingLocation": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeServingLocation"
        }
      },
      "x-ms-discriminator-value": "ServingLocation",
      "description": "AMF Filter for the serving location"
    },
    "AmfFilterTypeDnn": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeDnn"
        }
      },
      "x-ms-discriminator-value": "Dnn",
      "description": "AMF Filter for Dnn"
    },
    "AmfFilterTypeImsiRange": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeImsiRange"
        }
      },
      "x-ms-discriminator-value": "Imsi",
      "description": "AMF Filter for Imsi"
    },
    "AmfFilterTypeImeiRange": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeImeiRange"
        }
      },
      "x-ms-discriminator-value": "Imei",
      "description": "AMF Filter for Imei"
    },
    "AmfFilterTypeMsisdnRange": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeMsisdnRange"
        }
      },
      "x-ms-discriminator-value": "Msisdn",
      "description": "AMF Filter for Msisdn"
    },
    "AmfFilterTypeRadioAccessTechnology": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeRadioAccessTechnology"
        }
      },
      "x-ms-discriminator-value": "RadioAccessTechnologyType",
      "description": "AMF Filter for RadioAccessTechnology"
    },
    "AmfFilterTypePdnType": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypePdnType"
        }
      },
      "x-ms-discriminator-value": "PdnType",
      "description": "AMF Filter for PDN Type"
    },
    "AmfFilterTypeDataNetworkType": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeDataNetworkType"
        }
      },
      "x-ms-discriminator-value": "DataNetworkType",
      "description": "AMF Filter for DataNetworkType"
    },
    "AmfFilterTypeCustom": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AmfBaseFilter"
        }
      ],
      "properties": {
        "filter": {
          "$ref": "#/definitions/FilterTypeCustom"
        }
      },
      "x-ms-discriminator-value": "CustomFilters",
      "description": "AMF Filter for custom filters"
    },
    "FilterSetsAmf": {
      "type": "array",
      "minItems": 1,
      "maxItems": 100,
      "description": "List of filter set for the given class (profile instance). A filter set can have multiple filters. All filters in filter set have to match for a class name to be chosen. If any one filter set matches, the class name associated with this filter set will be chosen",
      "items": {
        "type": "object",
        "description": "Filters to be applied to match the filter set. All filters needs to be matched.",
        "properties": {
          "filters": {
            "type": "array",
            "minItems": 1,
            "maxItems": 20,
            "description": "Specific set of filters to be applied",
            "items": {
              "$ref": "#/definitions/AmfBaseFilter"
            }
          }
        }
      }
    },
    "SubscriberAnalyzerProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "upfServicePolicy": {
          "type": "object",
          "properties": {
            "filters": {
              "type": "array",
              "description": "Filters to be applied to match the filter set. All filters needs to be matched.",
              "items": {
                "type": "object",
                "properties": {
                  "dnn": {
                    "$ref": "./common.json#/definitions/DataNetworkName"
                  }
                }
              }
            },
            "firewallRuleGroup": {
              "type": "array",
              "description": "List of PDRs with firewall service policies",
              "items": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URL identifying a packet detection rule with firewall service policy."
              }
            }
          },
          "description": "UPF Service Policy."
        },
        "chargingProfile": {
          "type": "object",
          "properties": {
            "priority": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096,
              "description": "Priority of the charging profile has to be unique across the Profile-Analyzers."
            },
            "filters": {
              "type": "array",
              "minItems": 1,
              "maxItems": 10,
              "description": "Charging Profile Key. Method of procedure for modifying the Profile-Key: Remove the whole profile-key 'no profile-key <>'; commit; configure the profile-key with the updated configuration 'profile-key <>'; commit",
              "items": {
                "type": "object",
                "properties": {
                  "dnn": {
                    "$ref": "#/definitions/FilterTypeDnn"
                  },
                  "imsiRange": {
                    "$ref": "#/definitions/FilterTypeImsiRange"
                  },
                  "imeiRange": {
                    "$ref": "#/definitions/FilterTypeImeiRange"
                  },
                  "msisdnRange": {
                    "$ref": "#/definitions/FilterTypeMsisdnRange"
                  },
                  "radioAccessTechnologyType": {
                    "$ref": "#/definitions/FilterTypeRadioAccessTechnology"
                  },
                  "pduType": {
                    "$ref": "#/definitions/FilterTypePduType"
                  },
                  "chargingCharacteristics": {
                    "$ref": "#/definitions/FilterTypeChargingCharacteristics"
                  },
                  "isRoamingUser": {
                    "type": "boolean",
                    "default": false,
                    "description": "Whether the user is roaming or not"
                  }
                }
              }
            },
            "partialRecordMethod": {
              "type": "string",
              "description": "Partial Charging Method",
              "enum": [
                "Individual",
                "Default"
              ],
              "x-ms-enum": {
                "name": "PartialRecordMethod",
                "modelAsString": true
              }
            },
            "chargingDataRecordOutputType": {
              "type": "string",
              "description": "Charging Data Record Output Type",
              "enum": [
                "CHF",
                "PGW"
              ],
              "x-ms-enum": {
                "name": "ChargingDataRecordOutputType",
                "modelAsString": true
              }
            },
            "online": {
              "$ref": "./common.json#/definitions/EnableDisable",
              "description": "default online charging enabled/disabled at PDU Session.  One of online or offline must be enabled"
            },
            "offline": {
              "$ref": "./common.json#/definitions/EnableDisable",
              "description": "default offline charging enabled/disabled at PDU Session.  One of online or offline must be enabled"
            },
            "usageReportingLevel": {
              "type": "string",
              "enum": [
                "Service",
                "RatingGroup",
                "Sponsored"
              ],
              "x-ms-enum": {
                "name": "UsageReportingLevel",
                "modelAsString": true
              },
              "description": "default usage reporting-level when not provided in a policy charging data",
              "default": "RatingGroup"
            },
            "maxNumberOfChargeConditionChange": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1000,
              "default": 0,
              "description": "max number of changes in charging condition to send explicit trigger"
            },
            "periodicReportingTimer": {
              "type": "integer",
              "minimum": 0,
              "maximum": 86400,
              "default": 0,
              "description": "measurement period for generating periodic reports (in seconds)"
            },
            "triggerTemplate": {
              "type": "array",
              "description": "associated to chargeable events trigger template",
              "items": {
                "type": "object",
                "properties": {
                  "triggerType": {
                    "type": "string",
                    "enum": [
                      "PlmnChange",
                      "RatChange",
                      "UserLocationChange",
                      "UeTimezoneChange",
                      "QosChange",
                      "VolumeLimit",
                      "SessionAmbrChange"
                    ],
                    "x-ms-enum": {
                      "name": "TriggerType",
                      "modelAsString": true
                    },
                    "description": "Type of trigger"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "ImmediateReport",
                      "DeferredReport"
                    ],
                    "x-ms-enum": {
                      "name": "TriggerCategory",
                      "modelAsString": true
                    },
                    "default": "ImmediateReport",
                    "description": "Usage Reporting Category"
                  },
                  "volumeLimitValue": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 1,
                    "description": "volume limit(threshold) bytes for session level volume reporting"
                  }
                },
                "required": [
                  "triggerType"
                ]
              }
            },
            "onlineChargingAttributes": {
              "type": "array",
              "description": "Online Charging Parameters",
              "maxItems": 256,
              "items": {
                "type": "object",
                "properties": {
                  "defaultQuotaVolumeQuotaTotal": {
                    "type": "integer",
                    "minimum": 10000,
                    "default": 1000000,
                    "description": "Default Volume Quota(bytes) in both Uplink Downlink Directions"
                  },
                  "defaultQuotaVolumeQuotaThreshold": {
                    "type": "integer",
                    "minimum": 1000,
                    "default": 100000,
                    "description": "Default Volume Quota(bytes) threshold"
                  },
                  "defaultQuotaMaxNumDefaultQuota": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 1000,
                    "default": 0,
                    "description": "Max Number of Times a Session can be assigned Default Quota.  Zero means Unlimited Number of Default Quota Allocation"
                  },
                  "defaultQuotaValidityTime": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 7200,
                    "default": 1800,
                    "description": "Validity Time(seconds) of the Quota"
                  },
                  "chfDefaultValidityTime": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 7200,
                    "description": "Default quota validity time if validity timer is missing in the CHF response"
                  },
                  "chfDefaultQuotaHoldingTime": {
                    "type": "integer",
                    "minimum": 60,
                    "maximum": 1800,
                    "description": "Default QHT if QHT is missing in the CHF response"
                  }
                },
                "description": "Online charging parameters.  must: default-quota-volume-quota-threshold < default-quota-volume-quota-total"
              }
            },
            "initialMessageResultCodeActions": {
              "$ref": "#/definitions/ChargingResultCodeActionTemplate",
              "description": "During create sessions, actions to be taken on the session based on the CHF returned error-code"
            },
            "updateMessageResultCodeActions": {
              "$ref": "#/definitions/ChargingResultCodeActionTemplate",
              "description": "During update sessions, actions to be taken on the session based on the CHF returned error-code"
            },
            "onlineChargingInitialRatingGroupLevelResultCodeActionTemplate": {
              "$ref": "#/definitions/ChargingRgLevelResultCodeActionTemplate"
            },
            "onlineChargingUpdateRatingGroupLevelResultCodeActionTemplate": {
              "$ref": "#/definitions/ChargingRgLevelResultCodeActionTemplate"
            },
            "chfServerDiscoveryThroughNrf": {
              "$ref": "./common.json#/definitions/EnableDisable",
              "description": "enable chf server discovery through nrf when PCF does not provide"
            },
            "reflectiveQosTimer": {
              "type": "integer",
              "minimum": 0,
              "maximum": 92160,
              "description": "reflective qos timer value in seconds"
            }
          },
          "description": "Class Charging Profile.  SMF"
        },
        "smfSubscriberManagementProfile": {
          "type": "object",
          "description": "subscriber management profile to support subscriber data",
          "properties": {
            "precedence": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096,
              "description": "Defines the precedence of this instance. A smaller value is higher priority"
            },
            "filterSets": {
              "$ref": "#/definitions/FilterSetsSmf"
            },
            "defaultSessionServiceContinuityMode": {
              "$ref": "./common.json#/definitions/SscMode",
              "description": "mode1, mode2 or mode3"
            },
            "defaultPduSessionType": {
              "$ref": "./common.json#/definitions/PduType",
              "description": "ipv4, ipv6, ipv4v6"
            },
            "dscpMappingPolicy": {
              "type": "object",
              "description": "DSCP mapping policy",
              "properties": {
                "fiveQiDscpMap": {
                  "type": "array",
                  "maxItems": 256,
                  "description": "Configure 5qi to dscp mapping.  fiveQi and arpPriorityLevel combination must be unique per item",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fiveQi": {
                        "$ref": "./common.json#/definitions/FiveQi"
                      },
                      "arpPriorityLevel": {
                        "$ref": "./common.json#/definitions/ArpPriorityLevel"
                      },
                      "dscp": {
                        "$ref": "./common.json#/definitions/DscpMarking"
                      }
                    },
                    "required": [
                      "fiveQi",
                      "dscp"
                    ]
                  }
                },
                "defaultDscp": {
                  "$ref": "./common.json#/definitions/DscpMarking",
                  "description": "default dscp is used when 5qi isn't configured in five-qi-dscp-map"
                },
                "dscpPagePolicyIndicatorMap": {
                  "type": "array",
                  "maxItems": 128,
                  "description": "Mapping of paging policy indicator to DSCP value",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ppi": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 7,
                        "description": "paging policy indicator"
                      },
                      "dscp": {
                        "$ref": "./common.json#/definitions/DscpMarking"
                      }
                    },
                    "required": [
                      "ppi",
                      "dscp"
                    ]
                  }
                },
                "defaultPagePolicyIndicate": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 7,
                  "description": "default ppi is used when dscp value isn't configured in dscp-ppi-map"
                }
              },
              "required": [
                "defaultDscp",
                "defaultPagePolicyIndicate"
              ]
            },
            "pagingProfile": {
              "type": "object",
              "description": "Parameters used for paging",
              "properties": {
                "pageTimeout": {
                  "type": "integer",
                  "minimum": 1000,
                  "maximum": 30000,
                  "default": 10000,
                  "description": "Page Timeout Value in milliseconds - the length of time to wait for a UE to be paged before discarding buffered data"
                },
                "maxDownlinkPacketsToBuffer": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 20,
                  "default": 5,
                  "description": "Maximum number of downlink data packets to buffer per flow when UE is being paged"
                },
                "arpPriorityLevelThreshold": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 15,
                  "default": 4,
                  "description": "Flows with ARP Priority Level values equal to or less than this threshold value will be marked for priority use"
                },
                "downlinkPacketBufferingCapability": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Indicates if SMF supports buffering data packets when UE is being paged"
                }
              }
            },
            "alwaysGrantPolicy": {
              "type": "string",
              "enum": [
                "Disable",
                "EnableOnRequest",
                "EnableAlways"
              ],
              "x-ms-enum": {
                "name": "AlwaysGrantPolicy",
                "modelAsString": true
              },
              "description": "Always on grant policy for sessions"
            },
            "inactivityTimerDuration": {
              "type": "integer",
              "minimum": 15,
              "maximum": 2160000,
              "description": "Inactivity timer duration for sessions in seconds[15-2160000]"
            },
            "sessionIdleTimer": {
              "type": "integer",
              "minimum": 15,
              "maximum": 2160000,
              "description": "Idle timer duration for sessions in seconds[0-2160000]"
            },
            "allowedSessionServiceContinuityModes": {
              "type": "array",
              "items": {
                "$ref": "./common.json#/definitions/SscMode"
              },
              "description": "list of allowed-ssc-modes for the the subscriber"
            },
            "allowedPduSessionTypes": {
              "type": "array",
              "items": {
                "$ref": "./common.json#/definitions/PduType"
              },
              "description": "list of allowed-pdu-session-types for the the subscriber"
            },
            "qosFlowInactivityTimerMap": {
              "type": "array",
              "maxItems": 256,
              "description": "Configure QosFlow i.e. 5qi+arp(key) to inactivity-timer mapping.  fiveQi and arpPriorityLevel combination must be unique per item",
              "items": {
                "type": "object",
                "properties": {
                  "fiveQi": {
                    "$ref": "./common.json#/definitions/FiveQi"
                  },
                  "arpPriorityLevel": {
                    "$ref": "./common.json#/definitions/ArpPriorityLevel"
                  },
                  "qosFlowInactivityTimer": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 3600,
                    "default": 3600,
                    "description": "Inactivity timer duration for 5qi+arp_pl combination in seconds[0-2160000]"
                  }
                },
                "required": [
                  "fiveQi"
                ]
              }
            }
          },
          "required": [
            "defaultSessionServiceContinuityMode"
          ]
        },
        "smfPolicyProfile": {
          "type": "object",
          "description": "Parameters controlling SMF policy",
          "properties": {
            "precedence": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096,
              "description": "Defines the precedence of this instance. A smaller value is higher priority"
            },
            "filterSets": {
              "$ref": "#/definitions/FilterSetsSmf"
            },
            "pccRules": {
              "type": "array",
              "maxItems": 64,
              "description": "list of pcc rules to be associated",
              "items": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URL to PCC Rule resource"
              }
            },
            "pccRuleBase": {
              "type": "array",
              "maxItems": 64,
              "description": "list of pcc rule base objects to be associated",
              "items": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "URL to PCC Rule Base resource"
              }
            },
            "sessionRules": {
              "type": "array",
              "description": "session rule to apply default qos and ambr",
              "minItems": 1,
              "maxItems": 1,
              "items": {
                "$ref": "#/definitions/SessionRule"
              }
            },
            "pcfResponseCodes": {
              "type": "array",
              "description": "Array of HTTP Response Codes",
              "items": {
                "type": "object",
                "properties": {
                  "responseCode": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 65536,
                    "description": "HTTP Response Codes.  If PCF response matches the response code the session is continued using the default policy profile"
                  }
                }
              }
            },
            "defaultSubscriberPolicyProfile": {
              "type": "object",
              "description": "Default Policy profile to be used in case of error in policy create response code",
              "properties": {
                "pccRules": {
                  "type": "array",
                  "maxItems": 64,
                  "description": "list of pcc rules to be associated",
                  "items": {
                    "$ref": "./common.json#/definitions/ReferencedResource",
                    "description": "URL to PCC Rule resource"
                  }
                },
                "pccRuleBase": {
                  "type": "array",
                  "maxItems": 64,
                  "description": "list of pcc rule bases to be associated",
                  "items": {
                    "$ref": "./common.json#/definitions/ReferencedResource",
                    "description": "URL to PCC Rule Base resource"
                  }
                },
                "sessionRules": {
                  "type": "array",
                  "maxItems": 1,
                  "description": "session rule to apply default qos and ambr",
                  "items": {
                    "$ref": "#/definitions/SessionRule"
                  }
                },
                "reflectiveQosTimer": {
                  "type": "integer",
                  "description": "reflective qos timer value in seconds",
                  "minimum": 0,
                  "maximum": 92160
                }
              }
            },
            "pcfRejoinTime": {
              "type": "object",
              "description": "pcf rejoin time in seconds",
              "properties": {
                "state": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Whether this parameter is enabled or not"
                },
                "value": {
                  "type": "integer",
                  "minimum": 90,
                  "maximum": 86400,
                  "default": 900,
                  "description": "Value of rejoin time"
                }
              }
            },
            "pcfDownSessionHoldTime": {
              "type": "object",
              "description": "pcf down session hold time in seconds",
              "properties": {
                "state": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Whether this parameter is enabled or not"
                },
                "value": {
                  "type": "integer",
                  "minimum": 180,
                  "maximum": 172800,
                  "default": 180,
                  "description": "Value of hold time"
                }
              }
            },
            "supportedPcfFeatures": {
              "type": "array",
              "description": "List of Supported Features for PCF Interface",
              "items": {
                "type": "string",
                "enum": [
                  "TSC",
                  "ADC",
                  "NetLoc",
                  "RanNasCause",
                  "PRA",
                  "RanSupportInfo"
                ],
                "x-ms-enum": {
                  "name": "supportedPcfFeatures",
                  "modelAsString": true
                }
              }
            }
          }
        },
        "smfNetworkInstanceProfile": {
          "type": "object",
          "description": "Network-Instance profile to provide network-instances for N3, N6 and N9 interfaces",
          "properties": {
            "precedence": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096,
              "description": "Defines the precedence of this instance. A smaller value is higher priority"
            },
            "filterSets": {
              "$ref": "#/definitions/FilterSetsSmf"
            },
            "n3NetworkInstance": {
              "type": "string",
              "description": "Network instance (context) name for the N3 interface"
            },
            "n6NetworkInstance": {
              "type": "string",
              "description": "Network instance (context) name for the N6 interface"
            },
            "n9NetworkInstance": {
              "type": "string",
              "description": "Network instance (context) name for the N9 interface"
            },
            "s5s8uS2buNetworkInstance": {
              "type": "string",
              "description": "Network instance (context) name for the s5/s8/s2b interfaces"
            }
          },
          "required": [
            "n3NetworkInstance",
            "n6NetworkInstance",
            "n9NetworkInstance"
          ]
        },
        "mobilityPolicy": {
          "type": "object",
          "description": "Parameters to control access and mobility policy.  AMF",
          "properties": {
            "precedence": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096,
              "description": "Defines the precedence of this instance. A smaller value is higher priority"
            },
            "filterSets": {
              "$ref": "#/definitions/FilterSetsAmf"
            },
            "isDefault": {
              "type": "boolean",
              "default": false,
              "description": "whether this is the default instance.  If true then the filterSets field is not needed (ignored if specified).  There can only be one default profile"
            },
            "pcfControl": {
              "type": "object",
              "description": "PCF Control attributes",
              "properties": {
                "reselectPcfOn5gRelocation": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Defines support for PCF re-selection on target AMF. Default: disable"
                },
                "forwardPcfIdToSmf": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Defines PCF-Id to be forwarded to SMF or not. Default: disable"
                },
                "userEquipmentPolicyControlPolicyAssociation": {
                  "type": "string",
                  "description": "Defines support for UE Policy Association Establishment with PCF. Default: ue-requested",
                  "enum": [
                    "Never",
                    "Always",
                    "UeRequested"
                  ],
                  "x-ms-enum": {
                    "name": "UePolicyAssociation",
                    "modelAsString": true
                  },
                  "default": "UeRequested"
                },
                "accessMobilityPolicyControlPolicyAssociation": {
                  "type": "string",
                  "description": "Defines support for AM Policy Association Establishment with PCF. Default: never",
                  "enum": [
                    "Never",
                    "Always"
                  ],
                  "x-ms-enum": {
                    "name": "AccessMobilityPolicyAssociation",
                    "modelAsString": true
                  },
                  "default": "Never"
                }
              }
            },
            "accessControl": {
              "type": "object",
              "description": "Access Control Policy",
              "properties": {
                "accessReject": {
                  "type": "string",
                  "description": "Access reject cause for the subscriber",
                  "enum": [
                    "UndefinedMmCause0",
                    "PeiNotAccepted5",
                    "IllegalMe6",
                    "ServicesNotAllowed7",
                    "PlmnNotAllowed11",
                    "TaNotAllowed12",
                    "RoamingNotAllowedInThisTa13",
                    "Congestion22",
                    "N1ModeNotAllowed27",
                    "RestrictedServiceArea28",
                    "InsufficientResourcesForSpecificSlice69"
                  ],
                  "x-ms-enum": {
                    "name": "AccessReject",
                    "modelAsString": true
                  },
                  "default": "UndefinedMmCause0"
                },
                "nssaiInclusionMode": {
                  "type": "string",
                  "description": "Mode used for NSSAI inclusion",
                  "enum": [
                    "Disable",
                    "ModeA",
                    "ModeB",
                    "ModeC",
                    "ModeD"
                  ],
                  "x-ms-enum": {
                    "name": "NssaiInclusionMode",
                    "modelAsString": true
                  }
                },
                "sliceSelectionSelectionPolicy": {
                  "type": "string",
                  "description": "Indicates the policy for slice selection",
                  "enum": [
                    "Standard",
                    "UseNssfPolicy"
                  ],
                  "x-ms-enum": {
                    "name": "SliceSelectionSelectionPolicy",
                    "modelAsString": true
                  },
                  "default": "Standard"
                },
                "sliceSelectionRejectCause": {
                  "type": "string",
                  "description": "Describes cause code for registration-reject. Default: causeNoSuitableCellInTa.",
                  "enum": [
                    "Cause5gsServiceNotAllowed",
                    "CausePlmnNotAllowed",
                    "CauseRoamingNotAllowedInTa",
                    "CauseNoSuitableCellInTa",
                    "CauseN1ModeNotAllowed"
                  ],
                  "x-ms-enum": {
                    "name": "SliceSelectionRejectCause",
                    "modelAsString": true
                  },
                  "default": "CauseNoSuitableCellInTa"
                },
                "sliceSelectionSliceNegotiationDuringN26Handover": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls slice selection during N26 Handover. Default: enable"
                },
                "coreNetworkRestrictions": {
                  "type": "array",
                  "description": "Core network type restrictions applicable for a UE",
                  "items": {
                    "type": "string",
                    "enum": [
                      "CoreNetworkRestrictionEpc",
                      "CoreNetworkRestriction5gc"
                    ],
                    "x-ms-enum": {
                      "name": "CoreNetworkRestrictions",
                      "modelAsString": true
                    }
                  }
                },
                "ratRestrictions": {
                  "type": "array",
                  "description": "3GPP Radio Access Technology restrictions applicable for an UE",
                  "items": {
                    "type": "string",
                    "enum": [
                      "NewRadio",
                      "Eutran"
                    ],
                    "x-ms-enum": {
                      "name": "RatRestrictions",
                      "modelAsString": true
                    }
                  }
                },
                "serviceAreaRestrictions": {
                  "type": "array",
                  "description": "Service Area restrictions applicable for a UE",
                  "maxItems": 16,
                  "items": {
                    "type": "object",
                    "properties": {
                      "plmnId": {
                        "$ref": "./common.json#/definitions/PlmnId",
                        "description": "Supported PLMN identity; Range: numbers with 5-6 digits"
                      },
                      "restrictionType": {
                        "type": "string",
                        "description": "If the list of tracking areas are allowed or disallowed",
                        "enum": [
                          "AllowedAreas",
                          "NotAllowedAreas"
                        ],
                        "x-ms-enum": {
                          "name": "RestrictionType",
                          "modelAsString": true
                        }
                      },
                      "trackingAreaCodes": {
                        "type": "array",
                        "maxItems": 16,
                        "description": "Tracking Area Code (TAC); Valid values are hexadecimal values of length 4 or 6 with a leading '0x'",
                        "items": {
                          "type": "string",
                          "pattern": "(0x[A-Fa-f0-9]{4})|(0x[A-Fa-f0-9]{6})"
                        }
                      }
                    }
                  }
                }
              }
            },
            "serviceControl": {
              "type": "object",
              "description": "Service Control Policy",
              "properties": {
                "smsSupport": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls Short Message Service (SMS) support. Default: disable"
                },
                "imsVoiceOverPacketSwitchedSupport": {
                  "type": "array",
                  "description": "List of IMS Voice over PS support options",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Ims3gpp5gc",
                      "ImsFallbackEps",
                      "ImsNon3gpp5gc"
                    ],
                    "x-ms-enum": {
                      "name": "ImsVoiceOverPacketSwitchedSupport",
                      "modelAsString": true
                    },
                    "description": "IMS Voice over PS support options"
                  }
                },
                "imsEmergencySupport": {
                  "type": "array",
                  "description": "List that defines how UE obtains emergency service (fallback to EPS or provided by the 5G network)",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Ims3gpp5gc",
                      "ImsFallbackEps"
                    ],
                    "x-ms-enum": {
                      "name": "ImsEmergencySupport",
                      "modelAsString": true
                    },
                    "description": "Option that defines how UE obtains emergency service (fallback to EPS or provided by the 5G network)"
                  }
                },
                "purgeTrigger": {
                  "type": "array",
                  "description": "List of purge triggers",
                  "maxItems": 3,
                  "items": {
                    "type": "object",
                    "description": "The entry with 'deregistration-type' set to all is already present, no other entry is allowed to be configured; The 'deregistration-type' with value all is not allowed when entries with other deregistration types are already configured; The 'deregistration-type' with value all is not allowed when entries with other deregistration types are already configured",
                    "properties": {
                      "deregistrationType": {
                        "type": "string",
                        "description": "Deregistration type",
                        "enum": [
                          "ExplicitDeregistration",
                          "ImplicitDeregistration",
                          "All"
                        ],
                        "x-ms-enum": {
                          "name": "DeregistrationType",
                          "modelAsString": true
                        }
                      }
                    }
                  }
                },
                "locationServicesSupport": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls location service support. Default: disable"
                },
                "locationServicesNetworkInducedLocationRequestSupport": {
                  "type": "string",
                  "description": "Controls Network Induced - Location Request procedure initiation. Default: enableWithInitialPositioning",
                  "enum": [
                    "Disable",
                    "EnableWithInitialPositioning",
                    "EnableWithoutInitialPositioning"
                  ],
                  "x-ms-enum": {
                    "name": "LocationServicesNetworkInducedLocationRequestSupport",
                    "modelAsString": true
                  },
                  "default": "EnableWithInitialPositioning"
                },
                "locationServicesNetworkInducedLocationRequestHorizontalAccuracy": {
                  "type": "number",
                  "description": "Describes NI-LR measurement for horizontal accuracy. Default: 50; Unit: meters",
                  "default": 50.0
                },
                "locationServicesNetworkIncludedLocationRequestVerticalAccuracy": {
                  "type": "number",
                  "description": "Describes NI-LR measurement for vertical accuracy. Default: 0; Unit: meters",
                  "default": 0.0
                },
                "locationServicesNetworkIncludedLocationRequestEmergencyTargetSender": {
                  "type": "string",
                  "description": "Specifies which node sends target node id to the Gateway Mobile Location Center. Default: sourceNode",
                  "enum": [
                    "SourceNode",
                    "TargetNode"
                  ],
                  "x-ms-enum": {
                    "name": "LocationServicesNetworkIncludedLocationRequestEmergencyTargetSender",
                    "modelAsString": true
                  },
                  "default": "SourceNode"
                },
                "locationServicesNetworkIncludedLocationRequestResponseTime": {
                  "type": "string",
                  "description": "Controls initial NI-LR QoS response time. Default: delayTolerant",
                  "enum": [
                    "NoDelay",
                    "LowDelay",
                    "DelayTolerant"
                  ],
                  "x-ms-enum": {
                    "name": "LocationServicesNetworkIncludedLocationRequestResponseTime",
                    "modelAsString": true
                  },
                  "default": "DelayTolerant"
                },
                "locationServicesNetworkIncludedLocationRequestQosClass": {
                  "type": "string",
                  "description": "Describes NI-LR QoS class type. Default: bestEffort",
                  "enum": [
                    "BestEffort",
                    "Assured"
                  ],
                  "x-ms-enum": {
                    "name": "LocationServicesNetworkIncludedLocationRequestQosClass",
                    "modelAsString": true
                  },
                  "default": "BestEffort"
                },
                "locationServicesNasNotificationTimer": {
                  "type": "integer",
                  "description": "Defines the duration the AMF waits for a response to a NAS Notification invoke request sent to the UE; Default: 10; Unit: seconds",
                  "minimum": 10,
                  "maximum": 20,
                  "default": 10
                }
              }
            },
            "nasPolicy": {
              "type": "object",
              "description": "Non Access Stratum Policy",
              "properties": {
                "ueRegistrationRetryDelayT3502Value": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 60,
                  "default": 12,
                  "description": "Delay time before the UE retries a registration procedure after five consecutive failed attempts; Default: 12; Unit: minutes"
                },
                "uePeriodicRegistrationT3512Value": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 19200,
                  "default": 60,
                  "description": "Periodic registration procedure timer. Values in range 32..310 must be a multiple of 10, values in range 311..1860 must be a multiple of 60, values in range 1861..18600 must be a multiple of 600, and 19200. Default 60; Unit: minutes.  Values in range 32..310 must be a multiple of 10, values in range 311..1860 must be a multiple of 60, values in range 1861..18600 must be a multiple of 600, and 19200."
                },
                "uePeriodicRegistrationT3512Source": {
                  "type": "string",
                  "description": "Source for the periodic registration timer value sent to the UE as defined in 3GPP NAS standard section 8.2.7 of TS 24.501. If a subscribed value is not yet received from the UDM, then local-config will be used. Default: localConfig",
                  "enum": [
                    "LocalConfig",
                    "UdmSubscription"
                  ],
                  "x-ms-enum": {
                    "name": "T3512Source",
                    "modelAsString": true
                  },
                  "default": "LocalConfig"
                },
                "networkInitiatedDeregistrationT3522": {
                  "type": "integer",
                  "minimum": 100,
                  "maximum": 15000,
                  "default": 6000,
                  "description": "Defines the duration the AMF waits for a response to a deregistration request sent to the UE; Default: 6000; Unit: milliseconds"
                },
                "networkInitiatedDeregistrationRetryN3522": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 5,
                  "default": 2,
                  "description": "Defines the number of retries the AMF performs for the network initiated deregistration procedure; Default: 2"
                },
                "registrationAcceptT3550": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 65535,
                  "default": 6000,
                  "description": "Defines the duration the AMF waits for a response to a registration accept; Default: 6000; Unit: milliseconds"
                },
                "registrationAcceptRetryN3550": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 5,
                  "default": 3,
                  "description": "Defines the number of retries the AMF performs for a registration accept; Default: 3"
                },
                "gutiLifetime": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 168,
                  "default": 12,
                  "description": "Defines the life time of a current 5G-GUTI (Guaranteed Unique Temporary Identifier); Default: 12; Unit: hours"
                },
                "identityT3570": {
                  "type": "integer",
                  "minimum": 100,
                  "maximum": 15000,
                  "default": 6000,
                  "description": "Defines the duration the AMF waits for a response to an identity request; Default: 6000; Unit: milliseconds"
                },
                "identityRetryN3570": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 5,
                  "default": 2,
                  "description": "Defines the number of retries the AMF performs for an identity request; Default: 2"
                },
                "mobileReachableTimer": {
                  "type": "string",
                  "description": "Defines the duration the UE can stay IDLE without messaging the AMF; t3512plus4, t3512times2plus1, Default: t3512plus4; Unit: minutes",
                  "enum": [
                    "T3512plus4",
                    "T3512times2plus1"
                  ],
                  "x-ms-enum": {
                    "name": "MobileReachableTimer",
                    "modelAsString": true
                  },
                  "default": "T3512plus4"
                },
                "trackingAreaIdentifierListMax": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 16,
                  "default": 1,
                  "description": "Defines the number of TAIs which can be stored for a particular UE; Default: 1"
                },
                "trackingAreaIdentifierListAllocation": {
                  "type": "string",
                  "description": "Defines the PLMN based restriction for TAI list; Default: unrestricted",
                  "enum": [
                    "Unrestricted",
                    "WithinPlmn"
                  ],
                  "x-ms-enum": {
                    "name": "TaiListAllocation",
                    "modelAsString": true
                  },
                  "default": "Unrestricted"
                },
                "configurationUpdateT3555": {
                  "type": "integer",
                  "minimum": 100,
                  "maximum": 15000,
                  "default": 6000,
                  "description": "Defines the duration the AMF waits for a response to a configuration update command; Default: 6000; Unit: milliseconds"
                },
                "configurationUpdateRetryN3555": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 4,
                  "default": 4,
                  "description": "Defines the number of retries the AMF performs for a configuration update command; Default: 4"
                },
                "gutiReallocationUeInitiatedServiceRequest": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls if the AMF allocates a new GUTI during UE initiated Service Request procedure. Default: disable"
                },
                "gutiReallocationMobilityRegistrationRequest": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls if the AMF allocates a new GUTI during Mobility Registration procedure. Default: enable"
                },
                "gutiReallocationPeriodicRegistrationRequest": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls if the AMF allocates a new GUTI during Periodic Registration procedure. Default: enable"
                },
                "non3gppValuesDeregistrationTimer": {
                  "type": "integer",
                  "minimum": 10,
                  "maximum": 34560,
                  "default": 54,
                  "description": "Defines the non-3GPP deregistration timer value. This is sent in registration accept towards UE. Default: 54"
                }
              }
            },
            "nasSecurity": {
              "type": "object",
              "description": "Parameters controlling NAS security",
              "properties": {
                "securityT3560": {
                  "type": "integer",
                  "minimum": 100,
                  "maximum": 15000,
                  "default": 6000,
                  "description": "Defines the duration the AMF waits for a response to authentication and security mode; Default: 6000; Unit: milliseconds"
                },
                "securityRetryN3560": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 5,
                  "default": 2,
                  "description": "Defines the number of retries the AMF performs for authentication request and security mode command; Default: 2"
                },
                "cipheringAlgorithms": {
                  "type": "array",
                  "description": "Defines the list of 5G ciphering algorithms that can be used for NAS ciphering. Valid values are nea0, nea1 and nea2 in any order or combination, with order indicating preference. SNOW3G (nea1) algorithm for NAS ciphering is considered compromised, and is not recommended. Default: nea2,nea0",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Nea0",
                      "Nea1",
                      "Nea2"
                    ],
                    "x-ms-enum": {
                      "name": "CipheringAlgorithms",
                      "modelAsString": true
                    }
                  }
                },
                "integrityAlgorithms": {
                  "type": "array",
                  "description": "Defines the list of 5G integrity algorithms that can be used for NAS integrity protection. Valid values are null, nia1 and nia2 in any order or combination, with order indicating preference. Default: nia1,nia2,null",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Null",
                      "Nia1",
                      "Nia2"
                    ],
                    "x-ms-enum": {
                      "name": "IntegrityAlgorithms",
                      "modelAsString": true
                    }
                  }
                },
                "epsCipheringAlgorithms": {
                  "type": "array",
                  "description": "Defines the list of EPS ciphering algorithms that can be used for NAS ciphering. Valid values are eea0, eea1 and eea2 in any order or combination, with order indicating preference. SNOW3G (eea1) algorithm for NAS ciphering is considered compromised, and is not recommended. Default: eea2,eea0",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Eea0",
                      "Eea1",
                      "Eea2"
                    ],
                    "x-ms-enum": {
                      "name": "EpsCipheringAlgorithms",
                      "modelAsString": true
                    }
                  }
                },
                "epsIntegrityAlgorithms": {
                  "type": "array",
                  "description": "Defines the list of EPS integrity algorithms that can be used for NAS integrity protection. Valid values are null, eia1 and eia2 in any order or combination, with order indicating preference. Default: eia1,eia2,null",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Null",
                      "E1a1",
                      "E1a2"
                    ],
                    "x-ms-enum": {
                      "name": "EpsIntegrityAlgorithms",
                      "modelAsString": true
                    }
                  }
                },
                "additionalAuthEvents": {
                  "type": "array",
                  "description": "Additional events for which AMF performs authentication",
                  "items": {
                    "type": "string",
                    "enum": [
                      "IntraAmfMobility",
                      "InterAmfMobility",
                      "PeriodicRegistration",
                      "ServiceRequest",
                      "Deregistration",
                      "EpsMobility"
                    ],
                    "x-ms-enum": {
                      "name": "AdditionalAuthEvents",
                      "modelAsString": true
                    }
                  }
                },
                "additionalSecurityForEpsAlgorithms": {
                  "$ref": "./common.json#/definitions/EnableDisable",
                  "description": "Controls support of an additional security procedure in order to provide the selected EPS security algorithms to the UE when the AMF supports N26 interface and the UE indicates support of S1-mode. This attribute is applicable only when 'amf-cc interface nas version' is set to '15.6.0'. A value of 'disable' is compliant to TS 24.501 v15.6.0. A value of 'enable' is compliant to v16.6.0. Default: disable"
                }
              }
            },
            "pagingProfile": {
              "type": "array",
              "maxItems": 4,
              "description": "Set of paging profiles",
              "items": {
                "type": "object",
                "properties": {
                  "precedence": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 255,
                    "description": "The precedence in the paging profile set of this paging profile. Lower value indicates higher precedence.  Must be unique within a paging profile"
                  },
                  "triggers5GQosIdentifier": {
                    "type": "array",
                    "maxItems": 256,
                    "description": "List of 5G QoS identifiers used to match this paging profile",
                    "items": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 255
                    }
                  },
                  "triggersService": {
                    "type": "array",
                    "maxItems": 3,
                    "description": "List of services used to match this paging profile",
                    "items": {
                      "type": "string",
                      "description": "Service identifier",
                      "enum": [
                        "Sms",
                        "UePolicy",
                        "LocationServices"
                      ],
                      "x-ms-enum": {
                        "name": "TriggersService",
                        "modelAsString": true
                      }
                    }
                  },
                  "triggersAllocationRetentionPriority": {
                    "type": "array",
                    "maxItems": 15,
                    "description": "List of Allocation & Retention Priorities (ARP) used to match this paging profile",
                    "items": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 15
                    }
                  },
                  "triggersPagingPolicyIndicators": {
                    "type": "array",
                    "maxItems": 8,
                    "description": "List of Paging Policy Indicators (PPI) used to match this paging profile",
                    "items": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 7
                    }
                  },
                  "t3513Initial": {
                    "type": "integer",
                    "minimum": 1000,
                    "maximum": 30000,
                    "default": 5000,
                    "description": "Defines the wait time for the initial page attempt. Default: 5000; Unit: milliseconds"
                  },
                  "t3513Increment": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 10000,
                    "default": 2000,
                    "description": "Defines the additional delay added to retried page attempts. Default: 2000; Unit: milliseconds"
                  },
                  "n3513Retry": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 4,
                    "default": 2,
                    "description": "Defines the number of paging retries the AMF performs before declaring paging failure. Default: 2"
                  },
                  "initialPagingTarget": {
                    "type": "string",
                    "description": "Defines initial paging target. Default: taList",
                    "enum": [
                      "LastKnownGnb",
                      "LastVisitedGnbs",
                      "LastKnownTrackingArea",
                      "TrackingAreaList"
                    ],
                    "x-ms-enum": {
                      "name": "InitialPagingTarget",
                      "modelAsString": true
                    },
                    "default": "TrackingAreaList"
                  },
                  "pagingPriority": {
                    "type": "string",
                    "description": "Defines the paging priority. Lower value indicates higher priority as described in TS 38.413 section 9.3.1.78. Default: none",
                    "enum": [
                      "PriorityLevel1",
                      "PriorityLevel2",
                      "PriorityLevel3",
                      "PriorityLevel4",
                      "PriorityLevel5",
                      "PriorityLevel6",
                      "PriorityLevel7",
                      "PriorityLevel8",
                      "None"
                    ],
                    "x-ms-enum": {
                      "name": "PagingPriority",
                      "modelAsString": true
                    },
                    "default": "None"
                  }
                },
                "required": [
                  "precedence"
                ]
              }
            }
          }
        }
      },
      "description": "The MobilePacketCore SubscriberAnalyzer resource definition."
    },
    "SubscriberAnalyzer": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriberAnalyzerProperties",
          "description": "Mobile Packet Core Subscriber Analyzer properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Subscriber Analyzer resource."
    },
    "SubscriberAnalyzerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriberAnalyzer"
          },
          "description": "A list of Mobile Packet Core Subscriber Analyzer objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Subscriber Analyzer API service call."
    }
  }
}
