{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Tracking Area resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/serviceAreas/{serviceAreaName}/trackingAreas/{trackingAreaName}": {
      "put": {
        "tags": [
          "TrackingAreas"
        ],
        "operationId": "TrackingAreas_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core tracking area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          },
          {
            "name": "trackingAreaName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the tracking area"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackingArea"
            },
            "description": "Parameters supplied to create or update a tracking area object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Tracking Area resource.",
            "schema": {
              "$ref": "#/definitions/TrackingArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create TrackingArea": {
            "$ref": "./examples/TrackingAreaCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "TrackingAreas"
        ],
        "operationId": "TrackingAreas_Get",
        "description": "Get information about the specified Mobile Packet Core Tracking Area resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          },
          {
            "name": "trackingAreaName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the tracking area"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the TrackingArea resource.",
            "schema": {
              "$ref": "#/definitions/TrackingArea"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get TrackingArea": {
            "$ref": "./examples/TrackingAreaGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "TrackingAreas"
        ],
        "operationId": "TrackingAreas_Delete",
        "description": "Deletes the specified Mobile Packet Core tracking area resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          },
          {
            "name": "trackingAreaName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the tracking area"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The tracking area object has been deleted"
          },
          "204": {
            "description": "Successful: The tracking area object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete TrackingArea": {
            "$ref": "./examples/TrackingAreaDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/serviceAreas/{serviceAreaName}/trackingAreas": {
      "get": {
        "tags": [
          ""
        ],
        "operationId": "TrackingAreas_ListByServiceArea",
        "description": "Lists all the Tracking Areas in a specific service area.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ServiceAreaNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of Tracking Area resources.",
            "schema": {
              "$ref": "#/definitions/TrackingAreaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List TrackingAreas by resource group": {
            "$ref": "./examples/TrackingAreaListByServiceArea.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "TrackingAreaCodeRange": {
      "type": "object",
      "description": "Range of Tracking Area Codes",
      "properties": {
        "start": {
          "$ref": "./common.json#/definitions/TrackingAreaCode",
          "description": "Starting TAC value - must be equal to or smaller than the end value"
        },
        "end": {
          "$ref": "./common.json#/definitions/TrackingAreaCode",
          "description": "Ending TAC value - must be equal to or greater than the end value"
        }
      }
    },
    "TrackingAreaProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "plmnId": {
          "$ref": "./common.json#/definitions/PlmnId",
          "description": "Reference to the PLMN to which this tracking area belongs"
        },
        "trackingAreaCodeRange": {
          "$ref": "#/definitions/TrackingAreaCodeRange",
          "description": "Range of Tracking Area Codes"
        }
      },
      "required": [
        "plmnId",
        "trackingAreaCodeRange"
      ],
      "description": "The TrackingArea resource definition."
    },
    "TrackingArea": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TrackingAreaProperties",
          "description": "TrackingArea properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The TrackingArea resource."
    },
    "TrackingAreaListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrackingArea"
          },
          "description": "A list of Tracking Area resources in a Mobile Packet Core."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Tracking Area API service call."
    }
  }
}
