{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core User Plane Function deployment object. A UPF deployment object represents a UPF that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/upfDeployments/{upfDeploymentName}": {
      "put": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core User Plane Function deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            },
            "description": "Parameters supplied to create or update an UPF deployment object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update UPF Deployment resource": {
            "$ref": "./examples/UpfDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core User Plane Function Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the UPF deployment resource.",
            "schema": {
              "$ref": "#/definitions/UpfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get UPF Deployment resource": {
            "$ref": "./examples/UpfDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core User Plane Function Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The User Plane Function Deployment object has been deleted"
          },
          "204": {
            "description": "Successful: The User Plane Function Deployment object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF Deployment resource": {
            "$ref": "./examples/UpfDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/upfDeployments": {
      "get": {
        "tags": [
          "UpfDeployments"
        ],
        "operationId": "UpfDeployments_ListByCluster",
        "description": "Lists all the User Plane Function Deployments in a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/UpfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List UPF deployment objects by mobile packet core": {
            "$ref": "./examples/UpfDeploymentListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "UpfDeploymentProperties": {
      "type": "object",
      "description": "The UPF deployment resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the UPF deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the UPF deployment",
          "properties": {
            "pfcpFqdn": {
              "$ref": "./common.json#/definitions/Fqdn"
            },
            "smfList": {
              "$ref": "./common.json#/definitions/PfcpPeers",
              "description": "A list of SMFs with which the UPF instance communicates"
            },
            "resolvedNrfs": {
              "$ref": "./common.json#/definitions/ResolvedNrfs",
              "description": "The NRFs used by this instance of UPF"
            },
            "networkContext": {
              "type": "array",
              "description": "A list of network contexts and related config applicable to UPFs.",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "./common.json#/definitions/NetworkContextName",
                    "description": "Network context name"
                  },
                  "routing": {
                    "type": "object",
                    "description": "Routing parameters specific to this deployment",
                    "properties": {
                      "bgpRouterId": {
                        "$ref": "./common.json#/definitions/Ipv4Address",
                        "description": "BGP router ID used by this UPF"
                      }
                    }
                  },
                  "networkContextUsage": {
                    "$ref": "./common.json#/definitions/NetworkContextUsage",
                    "description": "Usage of the network context for specific interface types.  If specified, the interfaces' IP will be allocated from a pool within the specified network context"
                  },
                  "ipInterfaces": {
                    "type": "array",
                    "description": "Provisioned IP Interfaces",
                    "items": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "./common.json#/definitions/IpInterfacesCommon"
                        }
                      ],
                      "properties": {
                        "ipAddressTemplates": {
                          "type": "array",
                          "description": "Provisioned set of IPv4/IPv6 addresses available for use when deploying this ip-interface",
                          "items": {
                            "type": "object",
                            "properties": {
                              "prefixLength": {
                                "type": "integer",
                                "description": "IPv4/IPv6 subnet length of all addresses created by template"
                              },
                              "count": {
                                "type": "integer",
                                "description": "Total number of addresses that can be generated by this template"
                              },
                              "baseAddress": {
                                "$ref": "./common.json#/definitions/IpAddress",
                                "description": "IPv4/IPv6 end-point address, (subnet and host), of first address created by template"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "ipLoopbacks": {
                    "type": "array",
                    "description": "Provisioned IP loopbacks",
                    "items": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "./common.json#/definitions/IpLoopbackCommon"
                        }
                      ],
                      "properties": {
                        "startIp": {
                          "$ref": "./common.json#/definitions/IpAddress",
                          "description": "IP address of loopback interface - start address for the range"
                        },
                        "endIp": {
                          "$ref": "./common.json#/definitions/IpAddress",
                          "description": "IP address of loopback interface - end address for the range"
                        }
                      }
                    }
                  },
                  "ipPools": {
                    "type": "array",
                    "description": "Provisioned IP pools",
                    "items": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "./common.json#/definitions/IpPoolCommon"
                        }
                      ],
                      "properties": {
                        "startIp": {
                          "$ref": "./common.json#/definitions/IpAddress",
                          "description": "Starting value for IP address of this IP pool"
                        },
                        "endIp": {
                          "$ref": "./common.json#/definitions/IpAddress",
                          "description": "Ending value for IP address of this IP pool"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this network function belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "networkSliceList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "networkSlice": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "Network slice in which this network function participates"
              },
              "distinguishedName": {
                "$ref": "./common.json#/definitions/DistinguishedName",
                "description": "This identifies the specific slice subnet profile in the network slice subnet profile list"
              }
            }
          },
          "description": "A list of network slice resource object and subnet instance"
        }
      },
      "required": [
        "deploymentArea",
        "networkSliceList"
      ]
    },
    "UpfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpfDeploymentProperties",
          "description": "UPF Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The UPF deployment resource definition."
    },
    "UpfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpfDeployment"
          },
          "description": "A list of UPF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for UPF deployment API service call."
    }
  },
  "parameters": {
    "UpfDeploymentNameParameter": {
      "name": "upfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of UPF deployment.",
      "x-ms-parameter-location": "client"
    }
  }
}
