{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core User Plane Function Profile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/upfProfiles/{upfProfileName}": {
      "put": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core User Plane Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            },
            "description": "Parameters supplied to create or update a UPF profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core UPF Profile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create UPF Profile": {
            "$ref": "./examples/UpfProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core User Plane Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the upfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core UPF Profile resource.",
            "schema": {
              "$ref": "#/definitions/UpfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get UPF Profile": {
            "$ref": "./examples/UpfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core User Plane Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "upfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the UPF Profile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The User Plane Function Profile object has been deleted"
          },
          "204": {
            "description": "Successful: The User Plane Function Profile object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete UPF Profile": {
            "$ref": "./examples/UpfProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/upfProfiles": {
      "get": {
        "tags": [
          "UpfProfiles"
        ],
        "operationId": "UpfProfiles_ListByMobilePacketCore",
        "description": "Lists all the User Plane Function Profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/UpfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List UPF profiles by mobile packet core instance": {
            "$ref": "./examples/UpfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "IpLoopbackProfile": {
      "type": "array",
      "description": "Configure IPv4/IPv6 loopback interfaces that will be deployed in this Network Context. Each loopback entry will be deployed as an interface in the Network Context FIB. A loopback interface is defined by a 'loopback-address' and a 'prefix-length'. The 'loopback-address', masked by the 'prefix-length', defines a loopback subnet. All host addresses in the subnet will be loopback addresses, including the 'all 0's' and 'all 1's' host addresses. 'prefix-length' is optional, defaulting to 32 if not specified. Multicast addresses are invalid and will not be deployed.  The 'loopback-address', masked by 'prefix-length', represents the routing prefix used to advertise reachability to the loopback addresses supported by the interface. 'admin-state' controls the administrative state of the loopback interface. If set to 'disabled', all traffic received on the loopback interface will be dropped, and no traffic will be originated from the interface.",
      "items": {
        "type": "object",
        "allOf": [
          {
            "$ref": "./common.json#/definitions/IpLoopbackCommon"
          }
        ],
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of loopback IPs to allocate",
            "minimum": 0,
            "maximum": 128,
            "default": 1
          }
        }
      }
    },
    "UpfProfileProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the UPF Profile resource."
        },
        "networkContext": {
          "type": "array",
          "description": "A list of network contexts and related config applicable to UPFs.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "$ref": "./common.json#/definitions/NetworkContextName",
                "description": "Network context name used by associated UPFs"
              },
              "networkContextUsage": {
                "$ref": "./common.json#/definitions/NetworkContextUsage",
                "description": "Usage of the network context for specific interface types.  If specified, the interfaces' IP will be allocated from a pool within the specified network context"
              },
              "ipInterfaces": {
                "type": "array",
                "description": "Configure the ip-interface that will be created on every ethernet interface in this Network Context if the interface-label is not specified. Otherwise, the ip-interface will be created only on the interface-label matching interface.",
                "items": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "./common.json#/definitions/IpInterfacesCommon"
                    }
                  ],
                  "properties": {
                    "ipv4AddressTemplate": {
                      "type": "array",
                      "description": "Configure a set of IPv4 addresses available for use when deploying this ip-interface",
                      "maxItems": 8,
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefixLength": {
                            "type": "integer",
                            "description": "IPv4 subnet length of all addresses created by template - range [1, 31] - mandatory",
                            "minimum": 1,
                            "maximum": 31
                          },
                          "count": {
                            "type": "integer",
                            "description": "Total number of addresses that can be generated by this template - range is [0, 128] - 0 disables the template - mandatory",
                            "minimum": 0,
                            "maximum": 128
                          }
                        },
                        "required": [
                          "prefixLength",
                          "count"
                        ]
                      }
                    },
                    "ipv6AddressTemplate": {
                      "type": "array",
                      "description": "Configure a set of IPv6 addresses available for use when deploying this ip-interface.",
                      "maxItems": 8,
                      "items": {
                        "type": "object",
                        "properties": {
                          "prefixLength": {
                            "type": "integer",
                            "description": "IPv6 subnet length of all addresses created by template - range [1, 127] - mandatory",
                            "minimum": 1,
                            "maximum": 127
                          },
                          "count": {
                            "type": "integer",
                            "description": "Total number of addresses that can be generated by this template - range is [0, 127] - 0 disables the template - mandatory",
                            "minimum": 0,
                            "maximum": 127
                          }
                        },
                        "required": [
                          "prefixLength",
                          "count"
                        ]
                      }
                    }
                  }
                }
              },
              "ipv4Loopbacks": {
                "$ref": "#/definitions/IpLoopbackProfile"
              },
              "ipv6Loopbacks": {
                "$ref": "#/definitions/IpLoopbackProfile"
              },
              "ipPools": {
                "type": "array",
                "description": "IP Pools configuration",
                "items": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "./common.json#/definitions/IpPoolCommon"
                    }
                  ],
                  "properties": {
                    "poolSize": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Size of this pool"
                    },
                    "ipVersion": {
                      "$ref": "./common.json#/definitions/IpVersion",
                      "description": "IP Version of the pool.  If not specified, IPv4 is assumed"
                    }
                  },
                  "required": [
                    "poolSize"
                  ]
                }
              }
            }
          }
        }
      },
      "description": "The Mobile Packet Core Upf Profile resource definition."
    },
    "UpfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/UpfProfileProperties",
          "description": "Mobile Packet Core UPF Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core UPF Profile resource."
    },
    "UpfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpfProfile"
          },
          "description": "A list of Mobile Packet Core UPF Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile PacketC ore UPF Profile API service call."
    }
  }
}
