{
  "swagger": "2.0",
  "info": {
    "title": "InsightsManagementClient",
    "version": "2016-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles/{logProfileName}": {
      "delete": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_Delete",
        "description": "Deletes the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to delete a log profile"
          }
        }
      },
      "get": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_Get",
        "description": "Gets the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get more information about a log profile.",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_CreateOrUpdate",
        "description": "Create or update the log profile.",
        "parameters": [
          {
            "$ref": "#/parameters/LogProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to create or update a log profile",
            "schema": {
              "$ref": "#/definitions/LogProfileResource"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/logprofiles": {
      "get": {
        "tags": [
          "LogProfiles"
        ],
        "operationId": "LogProfiles_List",
        "description": "List the log profiles.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to list log profiles",
            "schema": {
              "$ref": "#/definitions/LogProfileCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "RetentionPolicy": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether the retention policy is enabled."
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "the number of days for the retention."
        }
      },
      "required": [ "enabled", "days" ],
      "description": "Specifies the retention policy for the log."
    },
    "LogProfileProperties": {
      "required": ["storageAccountId", "locations"],
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "the resource id of the storage account."
        },
        "serviceBusRuleId": {
          "type": "string",
          "description": "the resource id of the service bus rule."
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the comma separated list of valid ARM locations plus global. This are the locations where the logs are generated from."
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": " the categories of the logs. These categories are created as is convenient to the user."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "the retention policy for this log."
        }
      },
      "description": "The log profile properties."
    },
    "LogProfileResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
       "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LogProfileProperties"
        }
      },
      "required": ["properties"],
      "description": "The log profile resource."
    },
    "LogProfileCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogProfileResource"
          },
          "description": "the values of the log profiles."
        }
      },
      "required": ["value"],
      "description": "Represents a collection of log profiles."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "LogProfileNameParameter": {
      "name": "logProfileName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the log profile.",
      "x-ms-parameter-location": "method"
    }
  }
}