{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-27-preview",
    "title": "ContainerRegistryManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/checkNameAvailability": {
      "post": {
        "tags": [
          "Operation"
        ],
        "description": "Checks whether the container registry name is available.",
        "operationId": "Operation_CheckNameAvailability",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "registryNameCheckRequest",
            "in": "body",
            "description": "The request to check whether the container registry name is available.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryNameCheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryNameStatus"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.ContainerRegistry/registries/{registryName}": {
      "get": {
        "tags": [
          "Registries"
        ],
        "description": "Returns the properties for the specified container registry.",
        "operationId": "Registries_GetProperties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Registries"
        ],
        "description": "Creates a new container registry with the specified parameters.",
        "operationId": "Registries_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryCreateParameters",
            "in": "body",
            "description": "The parameters for creating a container registry.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Registries"
        ],
        "description": "Deletes a container registry from the given subscription and resource group.",
        "operationId": "Registries_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Registries"
        ],
        "description": "Updates a container registry with the specified parameters.",
        "operationId": "Registries_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a container registry.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "tags": [
          "Registries"
        ],
        "description": "Lists all the container registries available under the given resource group.",
        "operationId": "Registries_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "tags": [
          "Registries"
        ],
        "description": "Lists all the container registries available under the subscription.",
        "operationId": "Registries_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ContainerRegistry/registries/{registryName}/getCredentials": {
      "post": {
        "tags": [
          "Registries"
        ],
        "description": "Gets login credentials for the specified container registry.",
        "operationId": "Registries_GetCredentials",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "description": "The container registry name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistryCredentials"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "RegistryNameCheckRequest": {
      "description": "The request to check whether the container registry name is available.",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The container registry name.",
          "type": "string"
        },
        "type": {
          "description": "The container registry resource type.",
          "type": "string"
        }
      }
    },
    "RegistryNameStatus": {
      "description": "The result of checking name availability.",
      "properties": {
        "nameAvailable": {
          "description": "The boolean value that indicates whether the name is available.",
          "type": "boolean",
          "readOnly": true
        },
        "reason": {
          "description": "The reason that the container registry name could not be used.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message that explains the reason value in more detail.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Registry": {
      "description": "The container registry.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegistryProperties",
          "description": "The container registry properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryProperties": {
      "description": "The container registry properties.",
      "properties": {
        "loginServer": {
          "description": "The URL to log into the container registry.",
          "type": "string",
          "readOnly": true
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of the container registry in ISO8601 format.",
          "type": "string",
          "readOnly": true
        },
        "adminUserEnabled": {
          "description": "The boolean value that indicates whether admin user is enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountBase",
          "description": "The storage account base properties.",
          "readOnly": true
        }
      }
    },
    "StorageAccountBase": {
      "description": "The storage account base properties.",
      "properties": {
        "name": {
          "description": "Storage account name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RegistryCreateParameters": {
      "description": "The parameters for creating a container registry.",
      "required": [
        "location",
        "properties"
      ],
      "properties": {
        "location": {
          "description": "Resource location.",
          "type": "string"
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/RegistryPropertiesCreateParameters",
          "description": "The parameters for creating container registry properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryPropertiesCreateParameters": {
      "description": "The parameters for creating container registry properties.",
      "required": [
        "tenantId",
        "storageAccount"
      ],
      "properties": {
        "tenantId": {
          "description": "The tenant id for the current user.",
          "type": "string"
        },
        "adminUserEnabled": {
          "description": "The boolean value that indicates whether admin user is enabled.",
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The storage account properties."
        }
      }
    },
    "StorageAccountProperties": {
      "description": "The storage account properties.",
      "required": [
        "name",
        "accessKey",
        "endPointUrl"
      ],
      "properties": {
        "name": {
          "description": "Storage account name.",
          "type": "string"
        },
        "accessKey": {
          "description": "Storage account access key.",
          "type": "string"
        },
        "endPointUrl": {
          "description": "Storage account endpoint URL.",
          "type": "string"
        },
        "location": {
          "description": "Storage account location.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Azure resource.",
      "properties": {
        "id": {
          "description": "Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Resource location.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "RegistryUpdateParameters": {
      "description": "The parameters for updating a container registry.",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/RegistryPropertiesUpdateParameters",
          "description": "The parameters for updating container registry properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryPropertiesUpdateParameters": {
      "description": "The parameters for updating container registry properties.",
      "properties": {
        "tenantId": {
          "description": "The tenant id for the current user.",
          "type": "string"
        },
        "adminUserEnabled": {
          "description": "The boolean value that indicates whether admin user is enabled.",
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The storage account properties."
        }
      }
    },
    "RegistryListResult": {
      "description": "The result of listing container registries.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Registry"
          },
          "readOnly": true
        }
      }
    },
    "RegistryCredentials": {
      "description": "The result of showing admin user credentials.",
      "properties": {
        "username": {
          "description": "Admin username.",
          "type": "string",
          "readOnly": true
        },
        "password": {
          "description": "Admin password.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Microsoft Azure subscription id.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  }
}