{
  "swagger": "2.0",
  "info": {
    "title": "GuestConfigurationClient",
    "version": "2022-01-25",
    "description": "Guest Configuration Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GuestConfigurationAssignments"
    }
  ],
  "paths": {
    "/providers/Microsoft.GuestConfiguration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments": {
      "get": {
        "operationId": "GuestConfigurationAssignments_SubscriptionList",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "List all guest configuration assignments for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all guest configuration assignments for a subscription": {
            "$ref": "./examples/GuestConfigurationAssignments_SubscriptionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments": {
      "get": {
        "operationId": "GuestConfigurationAssignmentsVmssOperations_List",
        "description": "List all guest configuration assignments for VMSS.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmssName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{name}": {
      "get": {
        "operationId": "GuestConfigurationAssignmentsVmssOperations_Get",
        "description": "Get information about a guest configuration assignment for VMSS",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "vmssName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "GuestConfigurationAssignmentsVmssOperations_Delete",
        "description": "Delete a guest configuration assignment for VMSS",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "vmssName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{name}/reports": {
      "get": {
        "operationId": "GuestConfigurationAssignmentReportsVmssOperations_List",
        "description": "List all reports for the VMSS guest configuration assignment, latest report first.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "vmssName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReportList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{name}/reports/{id}": {
      "get": {
        "operationId": "GuestConfigurationAssignmentReportsVmssOperations_Get",
        "description": "Get a report for the VMSS guest configuration assignment, by reportId.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "vmssName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The GUID for the guest configuration assignment report.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{resourceGroupName}/{guestConfigurationAssignmentName}/{subscriptionId}/{vmName}": {
      "get": {
        "operationId": "GuestConfigurationAssignmentReports_List",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "List all reports for the guest configuration assignment, latest report first.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReportList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "List all guest configuration assignments for a virtual machine": {
            "$ref": "./examples/GuestConfigurationAssignmentReports_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}/{resourceGroupName}/{guestConfigurationAssignmentName}/{reportId}/{subscriptionId}/{vmName}": {
      "get": {
        "operationId": "GuestConfigurationAssignmentReports_Get",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "Get a report for the guest configuration assignment, by reportId.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The GUID for the guest configuration assignment report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "Get a guest configuration assignment report by Id for a virtual machine": {
            "$ref": "./examples/GuestConfigurationAssignmentReports_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments": {
      "get": {
        "operationId": "GuestConfigurationAssignments_List",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "List all guest configuration assignments for a virtual machine.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all guest configuration assignments for a virtual machine": {
            "$ref": "./examples/GuestConfigurationAssignments_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}": {
      "get": {
        "operationId": "GuestConfigurationAssignments_Get",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "Get information about a guest configuration assignment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a guest configuration assignment": {
            "$ref": "./examples/GuestConfigurationAssignments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GuestConfigurationAssignments_CreateOrUpdate",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "Creates an association between a VM and guest configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update guest configuration assignment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GuestConfigurationAssignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "201": {
            "description": "Resource 'GuestConfigurationAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update guest configuration assignment": {
            "$ref": "./examples/GuestConfigurationAssignments_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "GuestConfigurationAssignments_Delete",
        "tags": [
          "GuestConfigurationAssignments"
        ],
        "description": "Delete a guest configuration assignment",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an guest configuration assignment": {
            "$ref": "./examples/GuestConfigurationAssignments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments": {
      "get": {
        "operationId": "GuestConfigurationHcrpAssignmentsOperations_List",
        "description": "List all guest configuration assignments for an ARC machine.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the ARC machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}": {
      "get": {
        "operationId": "GuestConfigurationHcrpAssignmentsOperations_Get",
        "description": "Get information about a guest configuration assignment",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the ARC machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "put": {
        "operationId": "GuestConfigurationHcrpAssignmentsOperations_CreateOrUpdate",
        "description": "Creates an association between a ARC machine and guest configuration",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "Name of the guest configuration assignment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the ARC machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update guest configuration assignment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "GuestConfigurationHcrpAssignmentsOperations_Delete",
        "description": "Delete a guest configuration assignment",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "Name of the guest configuration assignment",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the ARC machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports": {
      "get": {
        "operationId": "GuestConfigurationHcrpAssignmentReportsOperations_List",
        "description": "List all reports for the guest configuration assignment, latest report first.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the ARC machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReportList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports/{reportId}": {
      "get": {
        "operationId": "GuestConfigurationHcrpAssignmentReportsOperations_Get",
        "description": "Get a report for the guest configuration assignment, by reportId.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The resource group name.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "guestConfigurationAssignmentName",
            "in": "path",
            "description": "The guest configuration assignment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "reportId",
            "in": "path",
            "description": "The GUID for the guest configuration assignment report.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "required": true,
            "type": "string"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the ARC machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GuestConfigurationAssignmentReport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ActionAfterReboot": {
      "type": "string",
      "description": "Specifies what happens after a reboot during the application of a configuration. The possible values are ContinueConfiguration and StopConfiguration",
      "enum": [
        "ContinueConfiguration",
        "StopConfiguration"
      ],
      "x-ms-enum": {
        "name": "ActionAfterReboot",
        "modelAsString": true
      }
    },
    "AssignmentInfo": {
      "type": "object",
      "description": "Information about the guest configuration assignment.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the guest configuration assignment.",
          "readOnly": true
        },
        "configuration": {
          "$ref": "#/definitions/ConfigurationInfo",
          "description": "Information about the configuration."
        }
      }
    },
    "AssignmentReport": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ARM resource id of the report for the guest configuration assignment.",
          "readOnly": true
        },
        "reportId": {
          "type": "string",
          "description": "GUID that identifies the guest configuration assignment report under a subscription, resource group.",
          "readOnly": true
        },
        "assignment": {
          "$ref": "#/definitions/AssignmentInfo",
          "description": "Configuration details of the guest configuration assignment."
        },
        "vm": {
          "$ref": "#/definitions/VMInfo",
          "description": "Information about the VM."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time of the guest configuration assignment compliance status check.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time of the guest configuration assignment compliance status check.",
          "readOnly": true
        },
        "complianceStatus": {
          "$ref": "#/definitions/ComplianceStatus",
          "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
          "readOnly": true
        },
        "operationType": {
          "$ref": "#/definitions/Type",
          "description": "Type of report, Consistency or Initial",
          "readOnly": true
        },
        "resources": {
          "type": "array",
          "description": "The list of resources for which guest configuration assignment compliance is checked.",
          "items": {
            "$ref": "#/definitions/AssignmentReportResource"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AssignmentReportDetails": {
      "type": "object",
      "description": "Details of the guest configuration assignment report.",
      "properties": {
        "complianceStatus": {
          "$ref": "#/definitions/ComplianceStatus",
          "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time of the guest configuration assignment compliance status check.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time of the guest configuration assignment compliance status check.",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "GUID of the report.",
          "readOnly": true
        },
        "operationType": {
          "$ref": "#/definitions/Type",
          "description": "Type of report, Consistency or Initial",
          "readOnly": true
        },
        "resources": {
          "type": "array",
          "description": "The list of resources for which guest configuration assignment compliance is checked.",
          "items": {
            "$ref": "#/definitions/AssignmentReportResource"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AssignmentReportResource": {
      "type": "object",
      "description": "The guest configuration assignment resource.",
      "properties": {
        "complianceStatus": {
          "$ref": "#/definitions/ComplianceStatus",
          "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
          "readOnly": true
        },
        "resourceId": {
          "type": "string",
          "description": "Name of the guest configuration assignment resource setting.",
          "readOnly": true
        },
        "reasons": {
          "type": "array",
          "description": "Compliance reason and reason code for a resource.",
          "items": {
            "$ref": "#/definitions/AssignmentReportResourceComplianceReason"
          },
          "x-ms-identifiers": []
        },
        "properties": {
          "type": "object",
          "description": "Properties of a guest configuration assignment resource.",
          "additionalProperties": {},
          "readOnly": true
        }
      }
    },
    "AssignmentReportResourceComplianceReason": {
      "type": "object",
      "description": "Reason and code for the compliance of the guest configuration assignment resource.",
      "properties": {
        "phrase": {
          "type": "string",
          "description": "Reason for the compliance of the guest configuration assignment resource.",
          "readOnly": true
        },
        "code": {
          "type": "string",
          "description": "Code for the compliance of the guest configuration assignment resource.",
          "readOnly": true
        }
      }
    },
    "AssignmentType": {
      "type": "string",
      "description": "Specifies the assignment type and execution of the configuration. Possible values are Audit, DeployAndAutoCorrect, ApplyAndAutoCorrect and ApplyAndMonitor.",
      "enum": [
        "Audit",
        "DeployAndAutoCorrect",
        "ApplyAndAutoCorrect",
        "ApplyAndMonitor"
      ],
      "x-ms-enum": {
        "name": "AssignmentType",
        "modelAsString": true
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "ComplianceStatus": {
      "type": "string",
      "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
      "enum": [
        "Compliant",
        "NonCompliant",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "ComplianceStatus",
        "modelAsString": true
      }
    },
    "ConfigurationInfo": {
      "type": "object",
      "description": "Information about the configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the configuration.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of the configuration.",
          "readOnly": true
        }
      }
    },
    "ConfigurationMode": {
      "type": "string",
      "description": "Specifies how the LCM(Local Configuration Manager) actually applies the configuration to the target nodes. Possible values are ApplyOnly, ApplyAndMonitor, and ApplyAndAutoCorrect.",
      "enum": [
        "ApplyOnly",
        "ApplyAndMonitor",
        "ApplyAndAutoCorrect"
      ],
      "x-ms-enum": {
        "name": "ConfigurationMode",
        "modelAsString": true
      }
    },
    "ConfigurationParameter": {
      "type": "object",
      "description": "Represents a configuration parameter.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the configuration parameter."
        },
        "value": {
          "type": "string",
          "description": "Value of the configuration parameter."
        }
      }
    },
    "ConfigurationSetting": {
      "type": "object",
      "description": "Configuration setting of LCM (Local Configuration Manager).",
      "properties": {
        "configurationMode": {
          "$ref": "#/definitions/ConfigurationMode",
          "description": "Specifies how the LCM(Local Configuration Manager) actually applies the configuration to the target nodes. Possible values are ApplyOnly, ApplyAndMonitor, and ApplyAndAutoCorrect.",
          "readOnly": true
        },
        "allowModuleOverwrite": {
          "type": "boolean",
          "description": "If true - new configurations downloaded from the pull service are allowed to overwrite the old ones on the target node. Otherwise, false",
          "readOnly": true
        },
        "actionAfterReboot": {
          "$ref": "#/definitions/ActionAfterReboot",
          "description": "Specifies what happens after a reboot during the application of a configuration. The possible values are ContinueConfiguration and StopConfiguration",
          "readOnly": true
        },
        "refreshFrequencyMins": {
          "type": "number",
          "format": "float",
          "description": "The time interval, in minutes, at which the LCM checks a pull service to get updated configurations. This value is ignored if the LCM is not configured in pull mode. The default value is 30.",
          "default": 30,
          "readOnly": true
        },
        "rebootIfNeeded": {
          "type": "boolean",
          "description": "Set this to true to automatically reboot the node after a configuration that requires reboot is applied. Otherwise, you will have to manually reboot the node for any configuration that requires it. The default value is false. To use this setting when a reboot condition is enacted by something other than DSC (such as Windows Installer), combine this setting with the xPendingReboot module.",
          "readOnly": true
        },
        "configurationModeFrequencyMins": {
          "type": "number",
          "format": "float",
          "description": "How often, in minutes, the current configuration is checked and applied. This property is ignored if the ConfigurationMode property is set to ApplyOnly. The default value is 15.",
          "default": 15,
          "readOnly": true
        }
      }
    },
    "ErrorResponseError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Detail error message indicating why the operation failed."
        }
      }
    },
    "GuestConfigurationAssignment": {
      "type": "object",
      "description": "Guest configuration assignment is an association between a machine and guest configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GuestConfigurationAssignmentProperties",
          "description": "Properties of the Guest configuration assignment.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GuestConfigurationAssignmentListResult": {
      "type": "object",
      "description": "The response of a GuestConfigurationAssignment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GuestConfigurationAssignment items on this page",
          "items": {
            "$ref": "#/definitions/GuestConfigurationAssignment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GuestConfigurationAssignmentProperties": {
      "type": "object",
      "description": "Guest configuration assignment properties.",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "VM resource Id.",
          "readOnly": true
        },
        "guestConfiguration": {
          "$ref": "#/definitions/GuestConfigurationNavigation",
          "description": "The guest configuration to assign."
        },
        "complianceStatus": {
          "$ref": "#/definitions/ComplianceStatus",
          "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
          "readOnly": true
        },
        "lastComplianceStatusChecked": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time when last compliance status was checked.",
          "readOnly": true
        },
        "latestReportId": {
          "type": "string",
          "description": "Id of the latest report for the guest configuration assignment.",
          "readOnly": true
        },
        "parameterHash": {
          "type": "string",
          "description": "parameter hash for the guest configuration assignment.",
          "readOnly": true
        },
        "latestAssignmentReport": {
          "$ref": "#/definitions/AssignmentReport",
          "description": "Last reported guest configuration assignment report."
        },
        "context": {
          "type": "string",
          "description": "The source which initiated the guest configuration assignment. Ex: Azure Policy"
        },
        "assignmentHash": {
          "type": "string",
          "description": "Combined hash of the configuration package and parameters.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state, which only appears in the response.",
          "readOnly": true
        },
        "resourceType": {
          "type": "string",
          "description": "Type of the resource - VMSS / VM",
          "readOnly": true
        },
        "vmssVMList": {
          "type": "array",
          "description": "The list of VM Compliance data for VMSS",
          "items": {
            "$ref": "#/definitions/VmssvmInfo"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "GuestConfigurationAssignmentReport": {
      "type": "object",
      "description": "Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ARM resource id of the report for the guest configuration assignment.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "GUID that identifies the guest configuration assignment report under a subscription, resource group.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/GuestConfigurationAssignmentReportProperties",
          "description": "Properties of the guest configuration report."
        }
      }
    },
    "GuestConfigurationAssignmentReportList": {
      "type": "object",
      "description": "List of guest configuration assignment reports.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of reports for the guest configuration. Report contains information such as compliance status, reason and more.",
          "items": {
            "$ref": "#/definitions/GuestConfigurationAssignmentReport"
          }
        }
      }
    },
    "GuestConfigurationAssignmentReportProperties": {
      "type": "object",
      "description": "Report for the guest configuration assignment. Report contains information such as compliance status, reason, and more.",
      "properties": {
        "complianceStatus": {
          "$ref": "#/definitions/ComplianceStatus",
          "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
          "readOnly": true
        },
        "reportId": {
          "type": "string",
          "description": "GUID that identifies the guest configuration assignment report under a subscription, resource group.",
          "readOnly": true
        },
        "assignment": {
          "$ref": "#/definitions/AssignmentInfo",
          "description": "Configuration details of the guest configuration assignment."
        },
        "vm": {
          "$ref": "#/definitions/VMInfo",
          "description": "Information about the VM."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time of the guest configuration assignment compliance status check.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time of the guest configuration assignment compliance status check.",
          "readOnly": true
        },
        "details": {
          "$ref": "#/definitions/AssignmentReportDetails",
          "description": "Details of the assignment report."
        },
        "vmssResourceId": {
          "type": "string",
          "description": "Azure resource Id of the VMSS.",
          "readOnly": true
        }
      }
    },
    "GuestConfigurationNavigation": {
      "type": "object",
      "description": "Guest configuration is an artifact that encapsulates DSC configuration and its dependencies. The artifact is a zip file containing DSC configuration (as MOF) and dependent resources and other dependencies like modules.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/Kind",
          "description": "Kind of the guest configuration. For example:DSC"
        },
        "name": {
          "type": "string",
          "description": "Name of the guest configuration."
        },
        "version": {
          "type": "string",
          "description": "Version of the guest configuration."
        },
        "contentUri": {
          "type": "string",
          "description": "Uri of the storage where guest configuration package is uploaded."
        },
        "contentHash": {
          "type": "string",
          "description": "Combined hash of the guest configuration package and configuration parameters."
        },
        "assignmentType": {
          "$ref": "#/definitions/AssignmentType",
          "description": "Specifies the assignment type and execution of the configuration. Possible values are Audit, DeployAndAutoCorrect, ApplyAndAutoCorrect and ApplyAndMonitor."
        },
        "assignmentSource": {
          "type": "string",
          "description": "Specifies the origin of the configuration.",
          "readOnly": true
        },
        "contentType": {
          "type": "string",
          "description": "Specifies the content type of the configuration. Possible values could be Builtin or Custom.",
          "readOnly": true
        },
        "configurationParameter": {
          "type": "array",
          "description": "The configuration parameters for the guest configuration.",
          "items": {
            "$ref": "#/definitions/ConfigurationParameter"
          },
          "x-ms-identifiers": []
        },
        "configurationProtectedParameter": {
          "type": "array",
          "description": "The protected configuration parameters for the guest configuration.",
          "items": {
            "$ref": "#/definitions/ConfigurationParameter"
          },
          "x-ms-identifiers": []
        },
        "configurationSetting": {
          "$ref": "#/definitions/ConfigurationSetting",
          "description": "The configuration setting for the guest configuration.",
          "readOnly": true
        }
      }
    },
    "GuestConfigurationResourceData": {
      "type": "object",
      "description": "The core properties of guest configuration resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "ARM resource id of the guest configuration assignment.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the guest configuration assignment."
        },
        "location": {
          "type": "string",
          "description": "Region where the VM is located."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "Kind": {
      "type": "string",
      "description": "Kind of the guest configuration. For example:DSC",
      "enum": [
        "DSC"
      ],
      "x-ms-enum": {
        "name": "Kind",
        "modelAsString": true
      }
    },
    "OperationProperties": {
      "type": "object",
      "description": "Provider, Resource, Operation and description values.",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "Service provider: Microsoft.GuestConfiguration"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state, which only appears in the response.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Created"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "Type": {
      "type": "string",
      "description": "Type of report, Consistency or Initial",
      "enum": [
        "Consistency",
        "Initial"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true
      }
    },
    "VMInfo": {
      "type": "object",
      "description": "Information about the VM.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource Id of the VM.",
          "readOnly": true
        },
        "uuid": {
          "type": "string",
          "description": "UUID(Universally Unique Identifier) of the VM.",
          "readOnly": true
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2022-01-25"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_01_25",
            "value": "2022-01-25",
            "description": "The 2022-01-25 API version."
          }
        ]
      }
    },
    "VmssvmInfo": {
      "type": "object",
      "description": "Information about VMSS VM",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "UUID of the VM.",
          "readOnly": true
        },
        "vmResourceId": {
          "type": "string",
          "description": "Azure resource Id of the VM.",
          "readOnly": true
        },
        "complianceStatus": {
          "$ref": "#/definitions/ComplianceStatus",
          "description": "A value indicating compliance status of the machine for the assigned guest configuration.",
          "readOnly": true
        },
        "latestReportId": {
          "type": "string",
          "description": "Id of the latest report for the guest configuration assignment.",
          "readOnly": true
        },
        "lastComplianceChecked": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time when last compliance status was checked.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
