{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-15",
    "title": "DNC",
    "description": "DNC web api provides way to create, get and delete dnc controller"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/delegatedSubnets/{resourceName}": {
      "get": {
<<<<<<< HEAD:specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/delegatedSubnets.json
        "description": "Gets details about the specified dnc DelegatedSubnet Link.",
=======
        "operationId": "storagecontainers_Retrieve",
        "description": "Gets storagecontainers by resource name",
>>>>>>> 858f624c15... [Microsoft.AzureStackHCI] 2021-09-01-preview update (#7147):specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-09-01-preview/storageContainers.json
        "x-ms-examples": {
          "Get details of a delegated subnet": {
            "$ref": "./examples/getDelegatedSubnet.json"
          }
        },
        "tags": [
          "DNCDelegatedSubnet"
        ],
        "operationId": "DelegatedSubnetService_GetDetails",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/DelegatedSubnet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "description": "Put delegated subnet resource",
        "x-ms-examples": {
          "put delegated subnet": {
            "$ref": "./examples/putDelegatedSubnet.json"
          }
        },
        "tags": [
          "DNCDelegatedSubnet"
        ],
        "operationId": "DelegatedSubnetService_PutDetails",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegatedSubnet"
            },
            "description": "Delegated subnet details."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/DelegatedSubnet"
            }
          },
          "201": {
            "description": "InProgress. The operation is still in progress",
            "schema": {
              "$ref": "#/definitions/DelegatedSubnet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "description": "Patch delegated subnet resource",
        "x-ms-examples": {
          "patch delegated subnet": {
            "$ref": "./examples/patchDelegatedSubnet.json"
          }
        },
        "tags": [
          "DNCDelegatedSubnet"
        ],
        "operationId": "DelegatedSubnetService_PatchDetails",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceUpdateParameters"
            },
            "description": "Delegated subnet details."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/DelegatedSubnet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "description": "Delete dnc DelegatedSubnet.",
        "x-ms-examples": {
          "delete delegated subnet": {
            "$ref": "./examples/deleteDelegatedSubnet.json"
          }
        },
        "tags": [
          "DNCDelegatedSubnet"
        ],
        "operationId": "DelegatedSubnetService_DeleteDetails",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/resourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ForceDeleteParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DelegatedNetwork/delegatedSubnets": {
      "get": {
        "tags": [
          "DelegatedSubnets"
        ],
        "description": "Get all the DelegatedSubnets resources in a subscription.",
        "operationId": "DelegatedSubnetService_ListBySubscription",
        "x-ms-examples": {
          "Get DelegatedSubnets resources by subscription": {
            "$ref": "./examples/delegatedSubnetListBySub.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the DelegatedSubnets in the subscription.",
            "schema": {
              "$ref": "#/definitions/DelegatedSubnets"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DelegatedNetwork/delegatedSubnets": {
      "get": {
        "tags": [
          "DelegatedSubnets"
        ],
        "description": "Get all the DelegatedSubnets resources in a resource group.",
        "operationId": "DelegatedSubnetService_ListByResourceGroup",
        "x-ms-examples": {
          "Get DelegatedSubnets resources by resource group": {
            "$ref": "./examples/delegatedSubnetListByRG.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the DelegatedSubnets in the resource group.",
            "schema": {
              "$ref": "#/definitions/DelegatedSubnets"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
<<<<<<< HEAD:specification/dnc/resource-manager/Microsoft.DelegatedNetwork/stable/2021-03-15/delegatedSubnets.json
    "DelegatedSubnetResource": {
      "description": "Represents an instance of a resource.",
=======
    "storagecontainersProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "path": {
          "type": "string",
          "description": "Path of the storage container on the disk"
        },
        "provisioningState": {
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "name of the object to be used in moc"
        },
        "availableSizeMB": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "Amount of space available on the disk in MB"
        },
        "containerSizeMB": {
          "type": "integer",
          "format": "int64",
          "readOnly": true,
          "description": "Total size of the disk in MB"
        },
        "status": {
          "$ref": "#/definitions/storageContainerStatus"
        }
      },
      "description": "storagecontainersProperties defines a list of properties under storagecontainers"
    },
    "storageContainerStatus": {
      "type": "object",
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "StorageContainer provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        },
        "availableSizeMB": {
          "type": "integer",
          "format": "int64",
          "description": "Amount of space available on the disk in MB"
        },
        "containerSizeMB": {
          "type": "integer",
          "format": "int64",
          "description": "Total size of the disk in MB"
        },
        "provisioningStatus": {
          "type": "object",
          "description": "The provisioning status of the storage container",
          "properties": {
            "operationId": {
              "type": "string",
              "description": "The ID of the operation performed on the storage container"
            },
            "status": {
              "type": "string",
              "description": "The status of the operation performed on the storage container [Succeeded, Failed, InProgress]",
              "enum": [
                "Succeeded",
                "Failed",
                "InProgress"
              ],
              "x-ms-enum": {
                "name": "ProvisioningStatusEnum",
                "modelAsString": true
              }
            }
          }
        }
      },
      "description": "storageContainerStatus defines the observed state of storagecontainers"
    },
    "storagecontainers": {
>>>>>>> 858f624c15... [Microsoft.AzureStackHCI] 2021-09-01-preview update (#7147):specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/preview/2021-09-01-preview/storageContainers.json
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceUpdateParameters": {
      "description": "Parameters for updating a resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      }
    },
    "DelegatedSubnets": {
      "description": "An array of DelegatedSubnet resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DelegatedSubnet"
          },
          "description": "An array of DelegatedSubnet resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of DelegatedSubnet resources.",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "DelegatedSubnet": {
      "description": "Represents an instance of a orchestrator.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DelegatedSubnetResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DelegatedSubnetProperties",
          "description": "Properties of the provision operation request."
        }
      }
    },
    "DelegatedSubnetProperties": {
      "description": "Properties of delegated subnet",
      "type": "object",
      "properties": {
        "resourceGuid": {
          "type": "string",
          "readOnly": true,
          "description": "Resource guid."
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Deleting",
            "Succeeded",
            "Failed",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "DelegatedSubnetState",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "The current state of dnc delegated subnet resource."
        },
        "subnetDetails": {
          "description": "subnet details",
          "$ref": "#/definitions/subnetDetails"
        },
        "controllerDetails": {
          "$ref": "./common-types.json#/definitions/controllerDetails",
          "description": "Properties of the controller."
        }
      }
    },
    "subnetDetails": {
      "description": "Properties of orchestrator",
      "type": "object",
      "properties": {
        "id": {
          "description": "subnet arm resource id",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "resourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-z][a-z0-9]*$",
      "minLength": 3,
      "maxLength": 63,
      "x-ms-parameter-location": "method",
      "description": "The name of the resource. It must be a minimum of 3 characters, and a maximum of 63."
    },
    "ForceDeleteParameter": {
      "name": "forceDelete",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Force delete resource",
      "x-ms-parameter-location": "method"
    }
  }
}
