{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "version": "2024-06-15-preview",
    "description": "Self service experience for Azure Network Fabric API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AccessControlLists"
    },
    {
      "name": "InternetGatewayRules"
    },
    {
      "name": "InternetGateways"
    },
    {
      "name": "IpCommunities"
    },
    {
      "name": "IpExtendedCommunities"
    },
    {
      "name": "IpPrefixes"
    },
    {
      "name": "L2IsolationDomains"
    },
    {
      "name": "L3IsolationDomains"
    },
    {
      "name": "InternalNetworks"
    },
    {
      "name": "ExternalNetworks"
    },
    {
      "name": "NeighborGroups"
    },
    {
      "name": "NetworkDeviceSkus"
    },
    {
      "name": "NetworkDevices"
    },
    {
      "name": "NetworkInterfaces"
    },
    {
      "name": "NetworkFabricControllers"
    },
    {
      "name": "NetworkFabricSkus"
    },
    {
      "name": "NetworkFabrics"
    },
    {
      "name": "NetworkToNetworkInterconnects"
    },
    {
      "name": "NetworkPacketBrokers"
    },
    {
      "name": "NetworkRacks"
    },
    {
      "name": "NetworkTapRules"
    },
    {
      "name": "NetworkTaps"
    },
    {
      "name": "RoutePolicies"
    },
    {
      "name": "NetworkMonitors"
    }
  ],
  "paths": {
    "/providers/Microsoft.ManagedNetworkFabric/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/accessControlLists": {
      "get": {
        "operationId": "AccessControlLists_ListBySubscription",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements AccessControlLists list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessControlListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules": {
      "get": {
        "operationId": "InternetGatewayRules_ListBySubscription",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "List all Internet Gateway rules in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/InternetGatewayRules_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/internetGateways": {
      "get": {
        "operationId": "InternetGateways_ListBySubscription",
        "tags": [
          "InternetGateways"
        ],
        "description": "Displays Internet Gateways list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGateways_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/InternetGateways_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/ipCommunities": {
      "get": {
        "operationId": "IpCommunities_ListBySubscription",
        "tags": [
          "IpCommunities"
        ],
        "description": "Implements IP Communities list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpCommunityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunities_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/IpCommunities_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities": {
      "get": {
        "operationId": "IpExtendedCommunities_ListBySubscription",
        "tags": [
          "IpExtendedCommunities"
        ],
        "description": "Implements IpExtendedCommunities list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpExtendedCommunities_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/IpExtendedCommunities_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes": {
      "get": {
        "operationId": "IpPrefixes_ListBySubscription",
        "tags": [
          "IpPrefixes"
        ],
        "description": "Implements IpPrefixes list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpPrefixListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixes_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains": {
      "get": {
        "operationId": "L2IsolationDomains_ListBySubscription",
        "tags": [
          "L2IsolationDomains"
        ],
        "description": "Displays L2IsolationDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "L2IsolationDomains_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains": {
      "get": {
        "operationId": "L3IsolationDomains_ListBySubscription",
        "tags": [
          "L3IsolationDomains"
        ],
        "description": "Displays L3IsolationDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomainListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "L3IsolationDomains_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/neighborGroups": {
      "get": {
        "operationId": "NeighborGroups_ListBySubscription",
        "tags": [
          "NeighborGroups"
        ],
        "description": "Displays NeighborGroups list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NeighborGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NeighborGroups_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NeighborGroups_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkDeviceSkus": {
      "get": {
        "operationId": "NetworkDeviceSkus_ListBySubscription",
        "tags": [
          "NetworkDeviceSkus"
        ],
        "description": "List Network Device SKUs for the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceSkuListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkDeviceSkus_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkDeviceSkus_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkDeviceSkus/{networkDeviceSkuName}": {
      "get": {
        "operationId": "NetworkDeviceSkus_Get",
        "tags": [
          "NetworkDeviceSkus"
        ],
        "description": "Get a Network Device SKU details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkDeviceSkuName",
            "in": "path",
            "description": "Name of the Network Device SKU.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceSku"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkDeviceSkus_Get_MaximumSet_Gen": {
            "$ref": "./examples/NetworkDeviceSkus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkDevices": {
      "get": {
        "operationId": "NetworkDevices_ListBySubscription",
        "tags": [
          "NetworkDevices"
        ],
        "description": "List all the Network Device resources in a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkDevices_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkDevices_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListBySubscription",
        "tags": [
          "NetworkFabricControllers"
        ],
        "description": "Lists all the NetworkFabricControllers by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFabricControllers_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricSkus": {
      "get": {
        "operationId": "NetworkFabricSkus_ListBySubscription",
        "tags": [
          "NetworkFabricSkus"
        ],
        "description": "Implements Network Fabric SKUs list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricSkuListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFabricSkus_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricSkus_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricSkus/{networkFabricSkuName}": {
      "get": {
        "operationId": "NetworkFabricSkus_Get",
        "tags": [
          "NetworkFabricSkus"
        ],
        "description": "Implements Network Fabric SKU GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "networkFabricSkuName",
            "in": "path",
            "description": "Name of the Network Fabric SKU.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricSku"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFabricSkus_Get_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricSkus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabrics": {
      "get": {
        "operationId": "NetworkFabrics_ListBySubscription",
        "tags": [
          "NetworkFabrics"
        ],
        "description": "List all the Network Fabric resources in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkFabrics_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabrics_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkMonitors": {
      "get": {
        "operationId": "NetworkMonitors_ListBySubscription",
        "tags": [
          "NetworkMonitors"
        ],
        "description": "Displays NetworkMonitors list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkMonitors_ListBySubscription": {
            "$ref": "./examples/NetworkMonitors_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkPacketBrokers": {
      "get": {
        "operationId": "NetworkPacketBrokers_ListBySubscription",
        "tags": [
          "NetworkPacketBrokers"
        ],
        "description": "Displays Network Packet Brokers list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkPacketBrokerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkPacketBrokers_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkPacketBrokers_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkRacks": {
      "get": {
        "operationId": "NetworkRacks_ListBySubscription",
        "tags": [
          "NetworkRacks"
        ],
        "description": "List all Network Rack resources in the given subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkRackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkRacks_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkRacks_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkTapRules": {
      "get": {
        "operationId": "NetworkTapRules_ListBySubscription",
        "tags": [
          "NetworkTapRules"
        ],
        "description": "List all the Network Tap Rule resources in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkTapRules_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkTaps": {
      "get": {
        "operationId": "NetworkTaps_ListBySubscription",
        "tags": [
          "NetworkTaps"
        ],
        "description": "Displays Network Taps list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkTapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkTaps_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTaps_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/routePolicies": {
      "get": {
        "operationId": "RoutePolicies_ListBySubscription",
        "tags": [
          "RoutePolicies"
        ],
        "description": "Implements RoutePolicies list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoutePolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RoutePolicies_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/RoutePolicies_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists": {
      "get": {
        "operationId": "AccessControlLists_ListByResourceGroup",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements AccessControlLists list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessControlListListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}": {
      "get": {
        "operationId": "AccessControlLists_Get",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements Access Control List GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_Get_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AccessControlLists_Create",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements Access Control List PUT method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AccessControlList' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          },
          "201": {
            "description": "Resource 'AccessControlList' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_Create_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AccessControlLists_Update",
        "tags": [
          "AccessControlLists"
        ],
        "description": "API to update certain properties of the Access Control List resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Access Control List properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessControlListPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AccessControlList"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_Update_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AccessControlLists_Delete",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements Access Control List DELETE method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_Delete_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}/resync": {
      "post": {
        "operationId": "AccessControlLists_Resync",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_Resync_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_Resync.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}/updateAdministrativeState": {
      "post": {
        "operationId": "AccessControlLists_UpdateAdministrativeState",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_UpdateAdministrativeState_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_UpdateAdministrativeState.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/accessControlLists/{accessControlListName}/validateConfiguration": {
      "post": {
        "operationId": "AccessControlLists_ValidateConfiguration",
        "tags": [
          "AccessControlLists"
        ],
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accessControlListName",
            "in": "path",
            "description": "Name of the Access Control List.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateConfigurationResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AccessControlLists_ValidateConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/AccessControlLists_ValidateConfiguration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules": {
      "get": {
        "operationId": "InternetGatewayRules_ListByResourceGroup",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Implements Internet Gateway Rules list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/InternetGatewayRules_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules/{internetGatewayRuleName}": {
      "get": {
        "operationId": "InternetGatewayRules_Get",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Gets an Internet Gateway Rule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/InternetGatewayRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "InternetGatewayRules_Create",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Creates an Internet Gateway rule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InternetGatewayRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          },
          "201": {
            "description": "Resource 'InternetGatewayRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Create_MaximumSet_Gen": {
            "$ref": "./examples/InternetGatewayRules_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InternetGatewayRules_Update",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "API to update certain properties of the Internet Gateway Rule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Internet Gateway Rule properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternetGatewayRulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Update_MaximumSet_Gen": {
            "$ref": "./examples/InternetGatewayRules_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "InternetGatewayRules_Delete",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Implements Internet Gateway Rules DELETE method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/InternetGatewayRules_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGateways": {
      "get": {
        "operationId": "InternetGateways_ListByResourceGroup",
        "tags": [
          "InternetGateways"
        ],
        "description": "Displays Internet Gateways list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGateways_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/InternetGateways_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGateways/{internetGatewayName}": {
      "get": {
        "operationId": "InternetGateways_Get",
        "tags": [
          "InternetGateways"
        ],
        "description": "Implements Gateway GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayName",
            "in": "path",
            "description": "Name of the Internet Gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGateways_Get_MaximumSet_Gen": {
            "$ref": "./examples/InternetGateways_Get.json"
          }
        }
      },
      "put": {
        "operationId": "InternetGateways_Create",
        "tags": [
          "InternetGateways"
        ],
        "description": "Creates a Network Fabric Service Internet Gateway resource instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayName",
            "in": "path",
            "description": "Name of the Internet Gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternetGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InternetGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InternetGateway"
            }
          },
          "201": {
            "description": "Resource 'InternetGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InternetGateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGateways_Create_MaximumSet_Gen": {
            "$ref": "./examples/InternetGateways_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InternetGateways_Update",
        "tags": [
          "InternetGateways"
        ],
        "description": "Execute patch on Network Fabric Service Internet Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayName",
            "in": "path",
            "description": "Name of the Internet Gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "API to update certain properties of the InternetGateway resource..",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternetGatewayPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGateway"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGateways_Update_MaximumSet_Gen": {
            "$ref": "./examples/InternetGateways_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "InternetGateways_Delete",
        "tags": [
          "InternetGateways"
        ],
        "description": "Execute a delete on Network Fabric Service Internet Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayName",
            "in": "path",
            "description": "Name of the Internet Gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGateways_Delete_MaximumSet_Gen": {
            "$ref": "./examples/InternetGateways_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipCommunities": {
      "get": {
        "operationId": "IpCommunities_ListByResourceGroup",
        "tags": [
          "IpCommunities"
        ],
        "description": "Implements IP Communities list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpCommunityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunities_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/IpCommunities_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipCommunities/{ipCommunityName}": {
      "get": {
        "operationId": "IpCommunities_Get",
        "tags": [
          "IpCommunities"
        ],
        "description": "Implements an IP Community GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipCommunityName",
            "in": "path",
            "description": "Name of the IP Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpCommunity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunities_Get_MaximumSet_Gen": {
            "$ref": "./examples/IpCommunities_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IpCommunities_Create",
        "tags": [
          "IpCommunities"
        ],
        "description": "Implements an IP Community PUT method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipCommunityName",
            "in": "path",
            "description": "Name of the IP Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpCommunity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IpCommunity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IpCommunity"
            }
          },
          "201": {
            "description": "Resource 'IpCommunity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IpCommunity"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunities_Create_MaximumSet_Gen": {
            "$ref": "./examples/IpCommunities_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IpCommunities_Update",
        "tags": [
          "IpCommunities"
        ],
        "description": "API to update certain properties of the IP Community resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipCommunityName",
            "in": "path",
            "description": "Name of the IP Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "IP Community properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpCommunityPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpCommunity"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunities_Update_MaximumSet_Gen": {
            "$ref": "./examples/IpCommunities_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "IpCommunities_Delete",
        "tags": [
          "IpCommunities"
        ],
        "description": "Implements IP Community DELETE method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipCommunityName",
            "in": "path",
            "description": "Name of the IP Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunities_Delete_MaximumSet_Gen": {
            "$ref": "./examples/IpCommunities_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities": {
      "get": {
        "operationId": "IpExtendedCommunities_ListByResourceGroup",
        "tags": [
          "IpExtendedCommunities"
        ],
        "description": "Implements IpExtendedCommunities list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpExtendedCommunities_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/IpExtendedCommunities_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/{ipExtendedCommunityName}": {
      "get": {
        "operationId": "IpExtendedCommunities_Get",
        "tags": [
          "IpExtendedCommunities"
        ],
        "description": "Implements IP Extended Community GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipExtendedCommunityName",
            "in": "path",
            "description": "Name of the IP Extended Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpExtendedCommunities_Get_MaximumSet_Gen": {
            "$ref": "./examples/IpExtendedCommunities_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IpExtendedCommunities_Create",
        "tags": [
          "IpExtendedCommunities"
        ],
        "description": "Implements IP Extended Community PUT method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipExtendedCommunityName",
            "in": "path",
            "description": "Name of the IP Extended Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IpExtendedCommunity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunity"
            }
          },
          "201": {
            "description": "Resource 'IpExtendedCommunity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunity"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpExtendedCommunities_Create_MaximumSet_Gen": {
            "$ref": "./examples/IpExtendedCommunities_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IpExtendedCommunities_Update",
        "tags": [
          "IpExtendedCommunities"
        ],
        "description": "API to update certain properties of the IP Extended Community resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipExtendedCommunityName",
            "in": "path",
            "description": "Name of the IP Extended Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "IP Extended Community properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunityPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpExtendedCommunity"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpExtendedCommunities_Update_MaximumSet_Gen": {
            "$ref": "./examples/IpExtendedCommunities_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "IpExtendedCommunities_Delete",
        "tags": [
          "IpExtendedCommunities"
        ],
        "description": "Implements IP Extended Community DELETE method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipExtendedCommunityName",
            "in": "path",
            "description": "Name of the IP Extended Community.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpExtendedCommunities_Delete_MaximumSet_Gen": {
            "$ref": "./examples/IpExtendedCommunities_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes": {
      "get": {
        "operationId": "IpPrefixes_ListByResourceGroup",
        "tags": [
          "IpPrefixes"
        ],
        "description": "Implements IpPrefixes list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpPrefixListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixes_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/IpPrefixes_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixes/{ipPrefixName}": {
      "get": {
        "operationId": "IpPrefixes_Get",
        "tags": [
          "IpPrefixes"
        ],
        "description": "Implements IP Prefix GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ipPrefixName",
            "in": "path",
            "description": "Name of the IP Prefix.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IpPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
[...]
