{
  "swagger": "2.0",
  "info": {
    "title": "WorkloadBluilder Client",
    "description": "Workload builder client provides access to workloads, versions, artifacts, instances and it's status operations.",
    "version": "2020-07-01-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/providers/Microsoft.WorkloadBuilder/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all the available API operations for Workload builder.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationPageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.WorkloadBuilder/workloads": {
      "get": {
        "tags": [
          "Workloads"
        ],
        "description": "Lists workload resources in a subscription.",
        "operationId": "Workloads_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkloadResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/Workloads": {
      "get": {
        "tags": [
          "Workloads"
        ],
        "description": "Lists workload resources in a resource group.",
        "operationId": "Workloads_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of workload resources retrieved",
            "schema": {
              "$ref": "#/definitions/WorkloadResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/Workloads/{workloadName}": {
      "get": {
        "tags": [
          "Workloads"
        ],
        "description": "Get a workload resource.",
        "operationId": "Workloads_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- workload resource retrieved",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Workloads"
        ],
        "description": "Create or update workload resource.",
        "operationId": "Workloads_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "in": "body",
            "name": "WorkloadResource",
            "description": "Workload resource data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- Workload resource updated",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "201": {
            "description": "Created -- Workload resource created",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Workloads"
        ],
        "description": "Update a workload resource.",
        "operationId": "Workloads_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "in": "body",
            "name": "ResourcePatchRequestBody",
            "description": "Workload resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatchRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource updated",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Workloads"
        ],
        "description": "Delete a workload resource.",
        "operationId": "Workloads_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource not found"
          },
          "200": {
            "description": "OK -- Workload resource deleted"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Instances": {
      "get": {
        "tags": [
          "Instances"
        ],
        "description": "Lists the instance resources of a workload.",
        "operationId": "Instances_ListByWorkloadResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- retrieved list of instance resources of a workload.",
            "schema": {
              "$ref": "#/definitions/InstanceResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_ListByWorkload.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Instances/{instanceName}": {
      "get": {
        "tags": [
          "Instances"
        ],
        "description": "Gets an instance resource.",
        "operationId": "Instances_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/InstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- retrieved instance resource.",
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Instances"
        ],
        "description": "Creates or update instance resource.",
        "operationId": "Instances_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/InstanceNameParameter"
          },
          {
            "in": "body",
            "name": "InstanceResource",
            "description": "Instance definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- instance resource updated.",
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          },
          "201": {
            "description": "Created -- instance resource creation accepted.",
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Instances"
        ],
        "description": "Deletes instance resource.",
        "operationId": "Instances_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/InstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- instance resource deleted."
          },
          "204": {
            "description": "Resource not found"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Versions": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "List version resources of a workload.",
        "operationId": "Versions_ListByWorkloadResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of version resources retrieved",
            "schema": {
              "$ref": "#/definitions/VersionResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_ListByWorkload.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Versions/{versionName}": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "Get a version resource.",
        "operationId": "Versions_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- version resource retrieved",
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Versions"
        ],
        "description": "Create or update version resource.",
        "operationId": "Versions_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "in": "body",
            "name": "VersionResource",
            "description": "Version data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- version resource updated",
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          },
          "201": {
            "description": "Created -- version resource creation accepted",
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Versions"
        ],
        "description": "Delete a version resource.",
        "operationId": "Versions_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource not found"
          },
          "200": {
            "description": "OK -- resource deleted"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Versions/{versionName}/Artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "description": "List artifact resources of a version.",
        "operationId": "Artifacts_ListByVersionResource",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of artifact resources retrieved",
            "schema": {
              "$ref": "#/definitions/ArtifactResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Artifacts": {
            "$ref": "./examples/Artifacts_ListByVersionResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Versions/{versionName}/Artifacts/{artifactName}": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "description": "Get an artifact resource.",
        "operationId": "Artifacts_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "$ref": "#/parameters/ArtifactNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- artifact resource retrieved",
            "schema": {
              "$ref": "#/definitions/ArtifactResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts": {
            "$ref": "./examples/Artifacts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Artifacts"
        ],
        "description": "Create or update an artifact resource.",
        "operationId": "Artifacts_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "$ref": "#/parameters/ArtifactNameParameter"
          },
          {
            "in": "body",
            "name": "ArtifactResource",
            "description": "Artifact resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- artifact resource retrieved",
            "schema": {
              "$ref": "#/definitions/ArtifactResource"
            }
          },
          "201": {
            "description": "Created -- Artifact resource created",
            "schema": {
              "$ref": "#/definitions/ArtifactResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts": {
            "$ref": "./examples/Artifacts_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Artifacts"
        ],
        "description": "Delete artifact resource.",
        "operationId": "Artifacts_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/WorkloadNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "$ref": "#/parameters/ArtifactNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource not found"
          },
          "200": {
            "description": "OK -- resource deleted"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts": {
            "$ref": "./examples/Artifacts_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationPageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Workload builder operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Workload builder API operation.",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is data action or not.",
          "type": "boolean"
        },
        "display": {
          "description": "Operation display information.",
          "$ref": "#/definitions/OperationDisplayInfo"
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "Operation display details.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource Provider: Microsoft.WorkloadBuilder",
          "type": "string"
        },
        "resource": {
          "description": "Workload builder resource type",
          "type": "string"
        },
        "operation": {
          "description": "Operation on the resource type.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        }
      }
    },
    "ResourceBaseProperties": {
      "description": "Resource base properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Resource provisioning state.",
          "$ref": "#/definitions/ResourceState",
          "readOnly": true
        }
      }
    },
    "WorkloadResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkloadResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "WorkloadResource": {
      "description": "Workload resource data.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "description": "Workload resource properties",
          "$ref": "#/definitions/WorkloadProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WorkloadProperties": {
      "description": "Workload resource properties.",
      "required": [
        "workloadType"
      ],
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the resource.",
          "maxLength": 512,
          "type": "string"
        },
        "workloadType": {
          "description": "Workload type",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "$ref": "#/definitions/WorkloadType"
        }
      },
      "allOf": [
        {
          "$ref":"#/definitions/ResourceBaseProperties"
        }
      ]
    },
    "VersionResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "VersionResource": {
      "description": "Version resource data.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Version resource properties",
          "$ref": "#/definitions/VersionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VersionProperties": {
      "description": "Workload version resource properties.",
      "required": [
        "contentType",
        "keyVaultId",
        "appInsightsInstrumentationKey"
      ],
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the resource.",
          "maxLength": 512,
          "type": "string"
        },
        "specContent": {
          "description": "Version spec url or content. This field is empty on migration scenario.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "specSummary": {
          "description": "Summary of the infra spec.",
          "type": "string",
          "readOnly": true
        },
        "contentType": {
          "description": "Content type",
          "x-ms-mutability": [
            "create",
             "read"
            ],
          "$ref": "#/definitions/ContentType"
        },
        "keyVaultId": {
          "description": "Key-vault resource id.\r\n\r\nKey-vault will be used to store secrets like private ssh keys or\r\npasswords for the vms created in user's subscription.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "appInsightsInstrumentationKey": {
          "description": "AppInsights instrumentation key\r\n\r\nThe detailed progress logs will be pushed to this\r\napplication insights account which is owned by customer.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "migrationPreRequisites": {
          "description": "Migration scenario specific prerequisites.",
          "$ref": "#/definitions/VersionResourceMigrationPreReqs"
        },
        "activityLog": {
          "description": "Version creation activity log.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationActivityRecord"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref":"#/definitions/ResourceBaseProperties"
        }
      ]
    },
    "VersionResourceMigrationPreReqs": {
      "description": "Prerequisites for version resource creation in migration scenario.",
      "type": "object",
      "properties": {
        "storageAccountId": {
          "description": "Customer storage account arm Id where below referenced\r\nStorageQueueName and StorageTableName will be created.",
          "type": "string"
        },
        "storageQueueName": {
          "description": "Queue to be used for handshake between on-premise migration tool and workload builder service.",
          "type": "string"
        },
        "storageTableName": {
          "description": "Table to be used for storing information needed to generate spec for individual VMs.",
          "type": "string"
        },
        "vmDiscoveryIds": {
          "description": "Migrating VMs discovery Ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "assessmentId": {
          "description": "Migrating VMs assessment Id.",
          "type": "string"
        }
      }
    },
    "ArtifactResourcePageList" : {
      "description": "List of artifact resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of artifact resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ArtifactResource": {
      "description": "Artifact resource definition.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Artifact resource propeties",
          "$ref": "#/definitions/ArtifactProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ArtifactProperties": {
      "description": "Workload artifact.",
      "type": "object",
      "properties": {
        "artifactType": {
          "description": "Artifact type",
          "$ref": "#/definitions/ArtifactType",
          "readOnly": true
        },
        "purpose": {
          "description": "Artifact purpose",
          "$ref": "#/definitions/ArtifactPurpose",
          "readOnly": true
        },
        "executionOrder": {
          "format": "int32",
          "description": "Artifact execution order.",
          "type": "integer",
          "readOnly": true
        },
        "artifactContent": {
          "description": "Artifact definition content.\r\nFor example, if artifact type is 'AnsiblePlaybook' then this field contains the play book yaml content.\r\n if artifact type is 'Blueprint' then this field holds published blueprint Arm id.",
          "type": "string",
          "readOnly": true
        },
        "parameters": {
          "description": "Parameters for the artifact definition.",
          "type": "object",
          "additionalProperties": {
            "description": "Artifact parameters.",
            "$ref": "#/definitions/ParameterValue"
          },
          "readOnly": true
        },
        "artifactDependencies": {
          "description": "List of artifacts the current artifact depends on.\r\nFor example, 'AnsiblePlaybook' type artifact depends on 'AnsibleVarsFile' artifact type.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref":"#/definitions/ResourceBaseProperties"
        }
      ]
    },
    "InstanceResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InstanceResource": {
      "description": "Instance resource definition.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Instance resource propeties",
          "$ref": "#/definitions/InstanceProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "InstanceProperties": {
      "description": "Instance resource properties.",
      "required": [
        "versionId",
        "targetResourceGroupId"
      ],
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the resource.",
          "maxLength": 512,
          "type": "string"
        },
        "versionId": {
          "description": "Workload version Id for this instance.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "targetResourceGroupId": {
          "description": "Target resource group Id where workload infra resources will be created.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "userManagedIdentity": {
          "description": "User managed identity id used for deploying the artifacts. This is optional field.\r\nIf provided, then it will be used for deployment operations. And this identity\r\nshould have necessary (owner) permissions on the subscription.",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters for individual artifacts of the version.",
          "type": "object",
          "additionalProperties": {
            "description": "Parameter collection of an artifact.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/ParameterValue"
            }
          }
        },
        "artifactsStatus": {
          "description": "Artifacts deployment status.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ArtifactStatus"
          },
          "readOnly": true
        },
        "activityLog": {
          "description": "Instance creation activity log.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationActivityRecord"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref":"#/definitions/ResourceBaseProperties"
        }
      ]
    },
    "ArtifactStatus": {
      "description": "Artifact deployment status.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Artifact deployment state",
          "$ref": "#/definitions/ArtifactDeploymentState",
          "readOnly": true
        },
        "startTimeUtc": {
          "format": "date-time",
          "description": "Artifact deployment start time.",
          "type": "string",
          "readOnly": true
        },
        "endTimeUtc": {
          "format": "date-time",
          "description": "Artifact deployment end time.",
          "type": "string",
          "readOnly": true
        },
        "errorDetails": {
          "description": "Error details",
          "$ref": "#/definitions/ErrorDetails",
          "readOnly": true
        }
      }
    },
    "OperationActivityRecord": {
      "description": "Represents the activity record of an operation.\r\n\r\nAn activity represents a particular task or sub-task in an operation,\r\nand this activity can recorded using below class.",
      "type": "object",
      "properties": {
        "timeStamp": {
          "format": "date-time",
          "description": "Time of the activity.",
          "type": "string"
        },
        "operation": {
          "description": "Operation name.",
          "type": "string"
        },
        "activity": {
          "description": "Activity name.",
          "type": "string"
        },
        "subActivity": {
          "description": "Sub activity name.\r\n\r\nThis field is useful when an activity is again\r\nsplit into multiple sub-activities.",
          "type": "string"
        },
        "data": {
          "description": "Activity data.\r\n\r\nActivity data represents the details about activity/sub-activity performed.\r\nMost of the time it could be simple message describing the activity.",
          "type": "string"
        },
        "level": {
          "format": "int32",
          "description": "Activity record criticality level.\r\n\r\nIndicates the criticality of the activity record. This can be assumed as log level.\r\n0 - Critical, 1 - Error, 2 - Warning, 3 - info, 4 and above - verbose.",
          "type": "integer"
        }
      }
    },
    "ParameterValue": {
      "description": "Value type to store parameter values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Parameter value.",
          "type": "string"
        },
        "secureValue": {
          "description": "Secure parameter value.",
          "$ref": "#/definitions/SecureValueType"
        }
      }
    },
    "SecureValueType": {
      "description": "Secure value type to store key-vault details.",
      "type": "object",
      "properties": {
        "keyVaultId": {
          "description": "Key vault Id.",
          "type": "string"
        },
        "secretName": {
          "description": "Secret name.",
          "maxLength": 128,
          "type": "string"
        }
      }
    },
    "ArtifactType": {
      "description": "Type of supported workload artifact types.",
      "enum": [
        "AnsiblePlaybook",
        "AnsibleHostsFile",
        "AnsibleVarsFile",
        "Blueprint",
        "ShellScript",
        "PowershellScript"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true
      }
    },
    "ArtifactPurpose": {
      "description": "Artifact purpose.",
      "enum": [
        "InfraCreation",
        "AppInstallation",
        "AppConfiguration",
        "AppMigration",
        "AppValidation"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ArtifactPurpose",
        "modelAsString": true
      }
    },
    "ArtifactDeploymentState": {
      "description": "Different states of the artifact deployment.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ArtifactDeploymentState",
        "modelAsString": true
      }
    },
    "ContentType": {
      "description": "Type of the content.",
      "enum": [
        "None",
        "Yaml",
        "Url"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ContentType",
        "modelAsString": true
      }
    },
    "WorkloadType": {
      "description": "Type of workloads understood by workload builder.",
      "enum": [
        "Unknown",
        "Jboss",
        "Lamp",
        "Custom"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "WorkloadType",
        "modelAsString": true
      }
    },
    "ResourceState": {
      "description": "Workload builder resources provisioning states.",
      "enum": [
        "NotSpecified",
        "Accepted",
        "Creating",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "ProvisioningResources",
        "InstallingApplication",
        "ConfiguringApplication",
        "MigratingApplicationData",
        "RunningValidations",
        "CreatingArtifacts",
        "DeletingArtifacts"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true
      }
    },
    "ResourcePatchRequestBody": {
      "description": "Workload resource patch request body.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Api error response on failure.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "WorkloadNameParameter": {
      "in": "path",
      "name": "workloadName",
      "description": "Workload name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "VersionNameParameter": {
      "in": "path",
      "name": "versionName",
      "description": "Version name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "ArtifactNameParameter": {
      "in": "path",
      "name": "artifactName",
      "description": "Artifact name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "InstanceNameParameter": {
      "in": "path",
      "name": "instanceName",
      "description": "Instance name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
