{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.CloudHealth",
    "version": "2023-10-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HealthModels"
    },
    {
      "name": "SignalDefinitions"
    },
    {
      "name": "AuthenticationSettings"
    },
    {
      "name": "Entities"
    },
    {
      "name": "Relationships"
    }
  ],
  "paths": {
    "/providers/Microsoft.CloudHealth/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CloudHealth/healthmodels": {
      "get": {
        "operationId": "HealthModels_ListBySubscription",
        "tags": [
          "HealthModels"
        ],
        "description": "List HealthModel resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_ListBySubscription": {
            "$ref": "./examples/HealthModels_ListBySubscription_MinimumSet_Gen.json"
          },
          "HealthModels_ListBySubscription_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/HealthModels_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels": {
      "get": {
        "operationId": "HealthModels_ListByResourceGroup",
        "tags": [
          "HealthModels"
        ],
        "description": "List HealthModel resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_ListByResourceGroup": {
            "$ref": "./examples/HealthModels_ListByResourceGroup_MinimumSet_Gen.json"
          },
          "HealthModels_ListByResourceGroup_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/HealthModels_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}": {
      "get": {
        "operationId": "HealthModels_Get",
        "tags": [
          "HealthModels"
        ],
        "description": "Get a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetHealthModel": {
            "$ref": "./examples/HealthModels_Get.json"
          },
          "GetHealthModel - generated by [MaximumSet] rule": {
            "$ref": "./examples/HealthModels_Get_MaximumSet_Gen.json"
          },
          "GetHealthModel - generated by [MinimumSet] rule": {
            "$ref": "./examples/HealthModels_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "HealthModels_Create",
        "tags": [
          "HealthModels"
        ],
        "description": "Create a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HealthModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          },
          "201": {
            "description": "Resource 'HealthModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Create": {
            "$ref": "./examples/HealthModels_Create_MinimumSet_Gen.json"
          },
          "HealthModels_Create_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/HealthModels_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HealthModels_Update",
        "tags": [
          "HealthModels"
        ],
        "description": "Update a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Update": {
            "$ref": "./examples/HealthModels_Update_MinimumSet_Gen.json"
          },
          "HealthModels_Update_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/HealthModels_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HealthModels_Delete",
        "tags": [
          "HealthModels"
        ],
        "description": "Delete a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Delete_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/HealthModels_Delete_MaximumSet_Gen.json"
          },
          "HealthModels_Delete_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/HealthModels_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/authenticationsettings": {
      "get": {
        "operationId": "AuthenticationSettings_ListByHealthModel",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "List AuthenticationSetting resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_ListByHealthModel": {
            "$ref": "./examples/AuthenticationSettings_ListByHealthModel_MinimumSet_Gen.json"
          },
          "AuthenticationSettings_ListByHealthModel_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_ListByHealthModel_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/authenticationsettings/{authenticationSettingName}": {
      "get": {
        "operationId": "AuthenticationSettings_Get",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "Get a AuthenticationSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "authenticationSettingName",
            "in": "path",
            "description": "Name of the authentication setting. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_Get_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_Get_MaximumSet_Gen.json"
          },
          "AuthenticationSettings_Get_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AuthenticationSettings_CreateOrUpdate",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "Create a AuthenticationSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "authenticationSettingName",
            "in": "path",
            "description": "Name of the authentication setting. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_CreateOrUpdate_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "AuthenticationSettings_CreateOrUpdate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AuthenticationSettings_Delete",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "Delete a AuthenticationSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "authenticationSettingName",
            "in": "path",
            "description": "Name of the authentication setting. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_Delete_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_Delete_MaximumSet_Gen.json"
          },
          "AuthenticationSettings_Delete_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/AuthenticationSettings_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities": {
      "get": {
        "operationId": "Entities_ListByHealthModel",
        "tags": [
          "Entities"
        ],
        "description": "List Entity resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_ListByHealthModel": {
            "$ref": "./examples/Entities_ListByHealthModel_MinimumSet_Gen.json"
          },
          "Entities_ListByHealthModel_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Entities_ListByHealthModel_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}": {
      "get": {
        "operationId": "Entities_Get",
        "tags": [
          "Entities"
        ],
        "description": "Get a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_Get": {
            "$ref": "./examples/Entities_Get_MinimumSet_Gen.json"
          },
          "Entities_Get_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Entities_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Entities_CreateOrUpdate",
        "tags": [
          "Entities"
        ],
        "description": "Create a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_CreateOrUpdate": {
            "$ref": "./examples/Entities_CreateOrUpdate_MinimumSet_Gen.json"
          },
          "Entities_CreateOrUpdate_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Entities_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Entities_Delete",
        "tags": [
          "Entities"
        ],
        "description": "Delete a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_Delete_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Entities_Delete_MaximumSet_Gen.json"
          },
          "Entities_Delete_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Entities_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships": {
      "get": {
        "operationId": "Relationships_ListByHealthModel",
        "tags": [
          "Relationships"
        ],
        "description": "List Relationship resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RelationshipListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_ListByHealthModel": {
            "$ref": "./examples/Relationships_ListByHealthModel_MinimumSet_Gen.json"
          },
          "Relationships_ListByHealthModel_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Relationships_ListByHealthModel_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships/{relationshipName}": {
      "get": {
        "operationId": "Relationships_Get",
        "tags": [
          "Relationships"
        ],
        "description": "Get a Relationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_Get_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Relationships_Get_MaximumSet_Gen.json"
          },
          "Relationships_Get_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Relationships_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Relationships_CreateOrUpdate",
        "tags": [
          "Relationships"
        ],
        "description": "Create a Relationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_CreateOrUpdate_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Relationships_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Relationships_CreateOrUpdate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Relationships_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Relationships_Delete",
        "tags": [
          "Relationships"
        ],
        "description": "Delete a Relationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_Delete_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Relationships_Delete_MaximumSet_Gen.json"
          },
          "Relationships_Delete_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Relationships_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions": {
      "get": {
        "operationId": "SignalDefinitions_ListByHealthModel",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "List SignalDefinition resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_ListByHealthModel": {
            "$ref": "./examples/SignalDefinitions_ListByHealthModel_MinimumSet_Gen.json"
          },
          "SignalDefinitions_ListByHealthModel_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/SignalDefinitions_ListByHealthModel_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions/{signalDefinitionName}": {
      "get": {
        "operationId": "SignalDefinitions_Get",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Get a SignalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "Name of the signal definition. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Get_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/SignalDefinitions_Get_MaximumSet_Gen.json"
          },
          "SignalDefinitions_Get_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/SignalDefinitions_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SignalDefinitions_CreateOrUpdate",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Create a SignalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "Name of the signal definition. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_CreateOrUpdate_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/SignalDefinitions_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "SignalDefinitions_CreateOrUpdate_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/SignalDefinitions_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SignalDefinitions_Delete",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Delete a SignalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "Name of the signal definition. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Delete_MinimumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/SignalDefinitions_Delete_MaximumSet_Gen.json"
          },
          "SignalDefinitions_Delete_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/SignalDefinitions_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AuthenticationKind": {
      "type": "string",
      "description": "Supported kinds of authentication settings as discriminator",
      "enum": [
        "ManagedIdentity",
        "BasicAuth"
      ],
      "x-ms-enum": {
        "name": "AuthenticationKind",
        "modelAsString": true
      }
    },
    "AuthenticationSetting": {
      "type": "object",
      "description": "An authentication setting in a health model",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AuthenticationSettingProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AuthenticationSettingListResult": {
      "type": "object",
      "description": "The response of a AuthenticationSetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AuthenticationSetting items on this page",
          "items": {
            "$ref": "#/definitions/AuthenticationSetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AuthenticationSettingProperties": {
      "type": "object",
      "description": "Authentication setting properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 100
        },
        "authenticationKind": {
          "type": "string",
          "description": "Kind of the authentication setting",
          "enum": [
            "ManagedIdentity",
            "BasicAuth"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          }
        }
      },
      "discriminator": "authenticationKind",
      "required": [
        "authenticationKind"
      ]
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "AzureMonitorWorkspaceResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Monitor/accounts"
          }
        ]
      }
    },
    "AzureMonitorWorkspaceSignalGroup": {
      "type": "object",
      "description": "A grouping of signal assignments for a Azure Monitor Workspace",
      "properties": {
        "signalAssignments": {
          "type": "array",
          "description": "Signal definitions which are assigned to this signal group. All assignments are combined with an OR operator.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/SignalAssignment"
          },
          "x-ms-identifiers": []
        },
        "authenticationSetting": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source"
        },
        "azureMonitorWorkspaceResourceId": {
          "$ref": "#/definitions/AzureMonitorWorkspaceResourceId",
          "description": "Azure Monitor workspace resource ID"
        }
      },
      "required": [
        "authenticationSetting",
        "azureMonitorWorkspaceResourceId"
      ]
    },
    "AzureResourceSignalGroup": {
      "type": "object",
      "description": "A grouping of signal assignments for an Azure resource",
      "properties": {
        "signalAssignments": {
          "type": "array",
          "description": "Signal definitions which are assigned to this signal group. All assignments are combined with an OR operator.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/SignalAssignment"
          },
          "x-ms-identifiers": []
        },
        "authenticationSetting": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source"
        },
        "azureResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure resource ID",
          "x-ms-arm-id-details": {
            "allowedResources": []
          }
        }
      },
      "required": [
        "authenticationSetting",
        "azureResourceId"
      ]
    },
    "BasicAuthenticationSettingProperties": {
      "type": "object",
      "description": "Authentication setting properties for basic auth using username and password",
      "properties": {
        "username": {
          "type": "string",
          "description": "User name for basic authentication",
          "minLength": 1,
          "maxLength": 500
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for basic authentication",
          "minLength": 1,
          "maxLength": 500,
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        }
      },
      "required": [
        "username",
        "password"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AuthenticationSettingProperties"
        }
      ],
      "x-ms-discriminator-value": "BasicAuth"
    },
    "DependentEntitiesSignalGroup": {
      "type": "object",
      "description": "Properties for dependent entities, i.e. child entities",
      "properties": {
        "requiredHealthyChildren": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of children entities that need to be healthy in order for this entity to be considered healthy.",
          "minimum": 1
        }
      }
    },
    "DynamicAzureResourcesSignalGroup": {
      "type": "object",
      "description": "A grouping of signal assignments for dynamic Azure Resources",
      "properties": {
        "signalAssignments": {
          "type": "array",
          "description": "Signal definitions which are assigned to this signal group. All assignments are combined with an OR operator.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/SignalAssignment"
          },
          "x-ms-identifiers": []
        },
        "authenticationSetting": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source"
        },
        "azureResourceGraphQuery": {
          "type": "string",
          "description": "Azure Resource Graph query in KQL syntax to select a dynamic set of Azure resources",
          "minLength": 1,
          "maxLength": 5000
        }
      },
      "required": [
        "authenticationSetting",
        "azureResourceGraphQuery"
      ]
    },
    "DynamicDetectionRule": {
      "type": "object",
      "description": "ML-based evaluation rule for a signal definition",
      "properties": {
        "dynamicThresholdModel": {
          "$ref": "#/definitions/DynamicThresholdModel",
          "description": "Operator"
        },
        "modelSensitivity": {
          "type": "integer",
          "format": "int32",
          "description": "ML model sensitivity"
        }
      },
      "required": [
        "dynamicThresholdModel"
      ]
    },
    "DynamicThresholdModel": {
      "type": "string",
      "description": "ML-based model variants",
      "enum": [
        "AnomalyDetection"
      ],
      "x-ms-enum": {
        "name": "DynamicThresholdModel",
        "modelAsString": true,
        "values": [
          {
            "name": "AnomalyDetection",
            "value": "AnomalyDetection",
            "description": "Anomaly detection model"
          }
        ]
      }
    },
    "EnabledState": {
      "type": "string",
      "description": "Enabled state of the health model",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "EnabledState",
        "modelAsString": true
      }
    },
    "Entity": {
      "type": "object",
      "description": "An entity (aka node) a health model",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EntityCoordinates": {
      "type": "object",
      "description": "Visual position of the entity",
      "properties": {
        "x": {
          "type": "number",
          "format": "float",
          "description": "X Coordinate"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y Coordinate"
        }
      },
      "required": [
        "x",
        "y"
      ]
    },
    "EntityImpact": {
      "type": "string",
      "description": "Type of impact an entity has on health state propagation",
      "enum": [
        "Standard",
        "Limited",
        "Suppressed"
      ],
      "x-ms-enum": {
        "name": "EntityImpact",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard impact"
          },
          {
            "name": "Limited",
            "value": "Limited",
            "description": "Limited impact"
          },
          {
            "name": "Suppressed",
            "value": "Suppressed",
            "description": "Suppressed impact"
          }
        ]
      }
    },
    "EntityListResult": {
      "type": "object",
      "description": "The response of a Entity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Entity items on this page",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntityProperties": {
      "type": "object",
      "description": "Properties which are common across all kinds of entities",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 100
        },
        "canvasPosition": {
          "$ref": "#/definitions/EntityCoordinates",
          "description": "Positioning of the entity on the model canvas"
        },
        "icon": {
          "$ref": "#/definitions/IconDefinition",
          "description": "Visual icon definition. If not set, a default icon is used."
        },
        "serviceLevelObjective": {
          "type": "number",
          "format": "float",
          "description": "Service level objective",
          "minimum": 0,
          "maximum": 100
        },
        "impact": {
          "$ref": "#/definitions/EntityImpact",
          "description": "Impact of the entity in health state propagation",
          "default": "Standard"
        },
        "labels": {
          "type": "object",
          "description": "Optional set of labels (key-value pairs)",
          "additionalProperties": {
            "$ref": "#/definitions/string4096"
          }
        },
        "signals": {
          "$ref": "#/definitions/SignalGroup",
          "description": "Signal groups which are assigned to this entity"
        },
        "isDynamicallyDiscovered": {
          "type": "boolean",
          "description": "Indicates whether this entity was dynamically discovered. If true, the entity cannot be deleted manually.",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when the entity was (soft-)deleted",
          "readOnly": true
        }
      }
    },
    "EvaluationRule": {
      "type": "object",
      "description": "Evaluation rule for a signal definition",
      "properties": {
        "dynamicDetectionRule": {
          "$ref": "#/definitions/DynamicDetectionRule",
          "description": "Configure to use ML-based dynamic thresholds. When used, degradedRule and unhealthyRule must not be set."
        },
        "degradedRule": {
          "$ref": "#/definitions/ThresholdRule",
          "description": "Degraded rule with static threshold. When used, dynamicDetectionRule must not be set."
        },
        "unhealthyRule": {
          "$ref": "#/definitions/ThresholdRule",
          "description": "Unhealthy rule with static threshold. When used, dynamicDetectionRule must not be set."
        }
      }
    },
    "HealthModel": {
      "type": "object",
      "description": "A HealthModel resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HealthModelProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HealthModelListResult": {
      "type": "object",
      "description": "The response of a HealthModel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HealthModel items on this page",
          "items": {
            "$ref": "#/definitions/HealthModel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HealthModelProperties": {
      "type": "object",
      "description": "HealthModel properties",
      "properties": {
        "enabledState": {
          "$ref": "#/definitions/EnabledState",
          "description": "Enabled state of the health model. When disabled, no health data is collected and no health state is propagated."
        },
        "dataplaneEndpoint": {
          "type": "string",
          "description": "The data plane endpoint for interacting with health data",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "enabledState"
      ]
    },
    "HealthModelProvisioningState": {
      "type": "string",
      "description": "Health Model provisioning states",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "HealthModelProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          }
        ]
      }
    },
    "HealthModelUpdate": {
      "type": "object",
      "description": "The type used for update operations of the HealthModel.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/HealthModelUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "HealthModelUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the HealthModel.",
      "properties": {
        "enabledState": {
          "$ref": "#/definitions/EnabledState",
          "description": "Enabled state of the health model. When disabled, no health data is collected and no health state is propagated."
        }
      }
    },
    "IconDefinition": {
      "type": "object",
      "description": "Visual icon definition of an entity",
      "properties": {
        "icon": {
          "type": "string",
          "description": "Name of the built-in icon, or 'Custom' to use customData",
          "minLength": 1,
          "maxLength": 100
        },
        "customData": {
          "type": "string",
          "description": "Custom data. Base64-encoded SVG data. If set, this overrides the built-in icon.",
          "minLength": 1,
          "maxLength": 5000
        }
      },
      "required": [
        "icon"
      ]
    },
    "LogAnalyticsQuerySignalDefinitionProperties": {
      "type": "object",
      "description": "Log Analytics Query Signal Definition properties",
      "properties": {
        "queryText": {
          "type": "string",
          "description": "Query text in KQL syntax",
          "minLength": 1,
          "maxLength": 5000
        },
        "valueColumnName": {
          "type": "string",
          "description": "Name of the column in the result set to evaluate against the thresholds. Defaults to the first column in the result set if not specified.",
          "minLength": 1,
          "maxLength": 100
        },
        "dataType": {
          "$ref": "#/definitions/ResultDataType",
          "description": "Data type of the result"
        }
      },
      "required": [
        "queryText",
        "dataType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SignalDefinitionProperties"
        }
      ],
      "x-ms-discriminator-value": "LogAnalyticsQuery"
    },
    "LogAnalyticsSignalGroup": {
      "type": "object",
      "description": "A grouping of signal assignments for a Log Analytics Workspace",
      "properties": {
        "signalAssignments": {
          "type": "array",
          "description": "Signal definitions which are assigned to this signal group. All assignments are combined with an OR operator.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/SignalAssignment"
          },
          "x-ms-identifiers": []
        },
        "authenticationSetting": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source"
        },
        "logAnalyticsWorkspaceResourceId": {
          "$ref": "#/definitions/LogAnalyticsWorkspaceResourceId",
          "description": "Log Analytics Workspace resource ID"
        },
        "logAnalyticsWorkspaceId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "Log Analytics workspace ID"
        }
      },
      "required": [
        "authenticationSetting",
        "logAnalyticsWorkspaceResourceId",
        "logAnalyticsWorkspaceId"
      ]
    },
    "LogAnalyticsWorkspaceResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an ARM resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.OperationalInsights/workspaces"
          }
        ]
      }
    },
    "ManagedIdentityAuthenticationSettingProperties": {
      "type": "object",
      "description": "Authentication setting properties for Azure Managed Identity",
      "properties": {
        "managedIdentityName": {
          "type": "string",
          "description": "Name of the managed identity to use. Either 'SystemAssigned' or the resourceId of a user-assigned identity.",
          "minLength": 1,
          "maxLength": 500
        }
      },
      "required": [
        "managedIdentityName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AuthenticationSettingProperties"
        }
      ],
      "x-ms-discriminator-value": "ManagedIdentity"
    },
    "MetricAggregationType": {
      "type": "string",
      "description": "Metric aggregation type",
      "enum": [
        "None",
        "Average",
        "Count",
        "Minimum",
        "Maximum",
        "Total"
      ],
      "x-ms-enum": {
        "name": "MetricAggregationType",
        "modelAsString": true
      }
    },
    "PrometheusMetricsSignalDefinitionProperties": {
      "type": "object",
      "description": "Prometheus Metrics Signal Definition properties",
      "properties": {
        "queryText": {
          "type": "string",
          "description": "Query text in PromQL syntax",
          "minLength": 1,
          "maxLength": 5000
        }
      },
      "required": [
        "queryText"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SignalDefinitionProperties"
        }
      ],
      "x-ms-discriminator-value": "PrometheusMetricsQuery"
    },
    "RefreshInterval": {
      "type": "string",
      "description": "Refresh interval",
      "enum": [
        "PT1M",
        "PT5M",
        "PT10M",
        "PT30M",
        "PT1H",
        "PT2H"
      ],
      "x-ms-enum": {
        "name": "RefreshInterval",
        "modelAsString": true,
        "values": [
          {
            "name": "PT1M",
            "value": "PT1M",
            "description": "One Minute"
          },
          {
            "name": "PT5M",
            "value": "PT5M",
            "description": "Five Minutes"
          },
          {
            "name": "PT10M",
            "value": "PT10M",
            "description": "Ten Minutes"
          },
          {
            "name": "PT30M",
            "value": "PT30M",
            "description": "Thirty Minutes"
          },
          {
            "name": "PT1H",
            "value": "PT1H",
            "description": "One Hour"
          },
          {
            "name": "PT2H",
            "value": "PT2H",
            "description": "Two Hours"
          }
        ]
      }
    },
    "Relationship": {
      "type": "object",
      "description": "A relationship (aka edge) between two entities in a health model",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RelationshipProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RelationshipListResult": {
      "type": "object",
      "description": "The response of a Relationship list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Relationship items on this page",
          "items": {
            "$ref": "#/definitions/Relationship"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RelationshipProperties": {
      "type": "object",
      "description": "Relationship properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "parentEntityName": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Resource name of the parent entity",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "childEntityName": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Resource name of the child entity",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional set of labels (key-value pairs)",
          "additionalProperties": {
            "$ref": "#/definitions/string4096"
          }
        },
        "isDynamicallyDiscovered": {
          "type": "boolean",
          "description": "Indicates whether this relationship was dynamically discovered. If true, the relationship cannot be deleted manually.",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when the relationship was (soft-)deleted",
          "readOnly": true
        }
      },
      "required": [
        "parentEntityName",
        "childEntityName"
      ]
    },
    "ResourceMetricSignalDefinitionProperties": {
      "type": "object",
      "description": "Azure Resource Metric Signal Definition properties",
      "properties": {
        "metricNamespace": {
          "type": "string",
          "description": "Metric namespace",
          "minLength": 1,
          "maxLength": 256
        },
        "metricName": {
          "type": "string",
          "description": "Name of the metric",
          "minLength": 1,
          "maxLength": 256
        },
        "aggregationType": {
          "$ref": "#/definitions/MetricAggregationType",
          "description": "Type of aggregation to apply to the metric"
        },
        "dimension": {
          "type": "string",
          "description": "Optional: Dimension to split by",
          "minLength": 1,
          "maxLength": 256
        },
        "dimensionFilter": {
          "type": "string",
          "description": "Optional: Dimension filter to apply to the dimension. Must only be set if also Dimension is set.",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "required": [
        "metricNamespace",
        "metricName",
        "aggregationType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/SignalDefinitionProperties"
        }
      ],
      "x-ms-discriminator-value": "AzureResourceMetric"
    },
    "ResultDataType": {
      "type": "string",
      "description": "Result data type",
      "enum": [
        "Numeric",
        "Text"
      ],
      "x-ms-enum": {
        "name": "ResultDataType",
        "modelAsString": true
      }
    },
    "SignalAssignment": {
      "type": "object",
      "description": "Group of signal definition assignments",
      "properties": {
        "signalDefinitions": {
          "type": "array",
          "description": "Signal definitions referenced by their names. All definitions are combined with an AND operator.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/stringResourceName"
          }
        }
      },
      "required": [
        "signalDefinitions"
      ]
    },
    "SignalAssignmentGroup": {
      "type": "object",
      "description": "A grouping of signal assignments and link to a data source",
      "properties": {
        "signalAssignments": {
          "type": "array",
          "description": "Signal definitions which are assigned to this signal group. All assignments are combined with an OR operator.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/SignalAssignment"
          },
          "x-ms-identifiers": []
        },
        "authenticationSetting": {
          "$ref": "#/definitions/stringResourceName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source"
        }
      },
      "required": [
        "authenticationSetting"
      ]
    },
    "SignalDefinition": {
      "type": "object",
      "description": "A signal definition in a health model",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SignalDefinitionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SignalDefinitionListResult": {
      "type": "object",
      "description": "The response of a SignalDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SignalDefinition items on this page",
          "items": {
            "$ref": "#/definitions/SignalDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SignalDefinitionProperties": {
      "type": "object",
      "description": "SignalDefinition properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 100
        },
        "signalKind": {
          "type": "string",
          "description": "Kind of the signal definition",
          "enum": [
            "AzureResourceMetric",
            "LogAnalyticsQuery",
            "PrometheusMetricsQuery"
          ],
          "x-ms-enum": {
            "name": "string",
            "modelAsString": true
          }
        },
        "refreshInterval": {
          "$ref": "#/definitions/RefreshInterval",
          "description": "Interval in which the signal is being evaluated."
        },
        "labels": {
          "type": "object",
          "description": "Optional set of labels (key-value pairs)",
          "additionalProperties": {
            "$ref": "#/definitions/string4096"
          }
        },
        "timeGrain": {
          "type": "string",
          "description": "Time range of signal",
          "minLength": 1,
          "maxLength": 100
        },
        "dataUnit": {
          "type": "string",
          "description": "Unit of the signal result (e.g. Bytes, MilliSeconds, Percent, Count))",
          "minLength": 1,
          "maxLength": 100
        },
        "evaluationRules": {
          "$ref": "#/definitions/EvaluationRule",
          "description": "Evaluation rules for the signal definition"
        },
        "enabledState": {
          "$ref": "#/definitions/SignalEnabledState",
          "description": "Signal definition enabled state"
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when the signal definition was (soft-)deleted",
          "readOnly": true
        }
      },
      "discriminator": "signalKind",
      "required": [
        "signalKind",
        "evaluationRules",
        "enabledState"
      ]
    },
    "SignalEnabledState": {
      "type": "string",
      "description": "Signal enabled state",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "SignalEnabledState",
        "modelAsString": true
      }
    },
    "SignalGroup": {
      "type": "object",
      "description": "Contains various signal groups that can be assigned to an entity",
      "properties": {
        "azureResource": {
          "$ref": "#/definitions/AzureResourceSignalGroup",
          "description": "Azure Resource Signal Group. Can only be defined if dynamicAzureResourceDefinition is not defined."
        },
        "dynamicAzureResources": {
          "$ref": "#/definitions/DynamicAzureResourcesSignalGroup",
          "description": "Dynamic Azure Resource Signal Group. Can only be defined if azureResource is not defined."
        },
        "azureLogAnalytics": {
          "$ref": "#/definitions/LogAnalyticsSignalGroup",
          "description": "Log Analytics Signal Group"
        },
        "azureMonitorWorkspace": {
          "$ref": "#/definitions/AzureMonitorWorkspaceSignalGroup",
          "description": "Azure Monitor Workspace Signal Group"
        },
        "dependentEntities": {
          "$ref": "#/definitions/DependentEntitiesSignalGroup",
          "description": "Settings for dependent entities, i.e. child entities"
        }
      }
    },
    "SignalKind": {
      "type": "string",
      "description": "Supported signal kinds as discriminator",
      "enum": [
        "AzureResourceMetric",
        "LogAnalyticsQuery",
        "PrometheusMetricsQuery"
      ],
      "x-ms-enum": {
        "name": "SignalKind",
        "modelAsString": true
      }
    },
    "SignalOperator": {
      "type": "string",
      "description": "Signal operator",
      "enum": [
        "LowerThan",
        "LowerOrEquals",
        "GreaterThan",
        "GreaterOrEquals",
        "Equals",
        "Contains"
      ],
      "x-ms-enum": {
        "name": "SignalOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "LowerThan",
            "value": "LowerThan",
            "description": "Lower than"
          },
          {
            "name": "LowerOrEquals",
            "value": "LowerOrEquals",
            "description": "Lower than or equal to"
          },
          {
            "name": "GreaterThan",
            "value": "GreaterThan",
            "description": "Greater than"
          },
          {
            "name": "GreaterOrEquals",
            "value": "GreaterOrEquals",
            "description": "Greater than or equal to"
          },
          {
            "name": "Equals",
            "value": "Equals",
            "description": "Equal to"
          },
          {
            "name": "Contains",
            "value": "Contains",
            "description": "Contains (only applicable for text data type)"
          }
        ]
      }
    },
    "ThresholdRule": {
      "type": "object",
      "description": "Threshold-based evaluation rule for a signal definition",
      "properties": {
        "operator": {
          "$ref": "#/definitions/SignalOperator",
          "description": "Operator how to compare the signal value with the threshold"
        },
        "threshold": {
          "type": "string",
          "description": "Threshold value",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "required": [
        "operator",
        "threshold"
      ]
    },
    "string4096": {
      "type": "string",
      "maxLength": 4096
    },
    "stringResourceName": {
      "type": "string",
      "pattern": "^[a-zA-Z0-9](?:[a-zA-Z0-9-]{1,58}[a-zA-Z0-9])?$"
    }
  },
  "parameters": {}
}
