{
  "swagger": "2.0",
  "info": {
    "version": "2016-09-01",
    "title": "AppServiceEnvironments API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get all App Service Environments for a subscription.",
        "description": "Get all App Service Environments for a subscription.",
        "operationId": "AppServiceEnvironments_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get all App Service Environments in a resource group.",
        "description": "Get all App Service Environments in a resource group.",
        "operationId": "AppServiceEnvironments_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get the properties of an App Service Environment.",
        "description": "Get the properties of an App Service Environment.",
        "operationId": "AppServiceEnvironments_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Create or update an App Service Environment.",
        "description": "Create or update an App Service Environment.",
        "operationId": "AppServiceEnvironments_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostingEnvironmentEnvelope",
            "in": "body",
            "description": "Configuration details of the App Service Environment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Delete an App Service Environment.",
        "description": "Delete an App Service Environment.",
        "operationId": "AppServiceEnvironments_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forceDelete",
            "in": "query",
            "description": "Specify <code>true</code> to force the deletion even if the App Service Environment contains resources. The default is <code>false</code>.",
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Operation is in progress."
          },
          "204": {
            "description": "App Service Environment does not exist"
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Create or update an App Service Environment.",
        "description": "Create or update an App Service Environment.",
        "operationId": "AppServiceEnvironments_Update",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostingEnvironmentEnvelope",
            "in": "body",
            "description": "Configuration details of the App Service Environment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentPatchResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get the used, available, and total worker capacity an App Service Environment.",
        "description": "Get the used, available, and total worker capacity an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListCapacities",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StampCapacityCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get IP addresses assigned to an App Service Environment.",
        "description": "Get IP addresses assigned to an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListVips",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddressResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get diagnostic information for an App Service Environment.",
        "description": "Get diagnostic information for an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListDiagnostics",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HostingEnvironmentDiagnostics"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get a diagnostics item for an App Service Environment.",
        "description": "Get a diagnostics item for an App Service Environment.",
        "operationId": "AppServiceEnvironments_GetDiagnosticsItem",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "diagnosticsName",
            "in": "path",
            "description": "Name of the diagnostics item.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HostingEnvironmentDiagnostics"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get global metric definitions of an App Service Environment.",
        "description": "Get global metric definitions of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMetricDefinitions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MetricDefinition"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get global metrics of an App Service Environment.",
        "description": "Get global metrics of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMetrics",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "type": "boolean"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.",
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get all multi-role pools.",
        "description": "Get all multi-role pools.",
        "operationId": "AppServiceEnvironments_ListMultiRolePools",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerPoolCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get properties of a multi-role pool.",
        "description": "Get properties of a multi-role pool.",
        "operationId": "AppServiceEnvironments_GetMultiRolePool",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Create or update a multi-role pool.",
        "description": "Create or update a multi-role pool.",
        "operationId": "AppServiceEnvironments_CreateOrUpdateMultiRolePool",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "multiRolePoolEnvelope",
            "in": "body",
            "description": "Properties of the multi-role pool.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Create or update a multi-role pool.",
        "description": "Create or update a multi-role pool.",
        "operationId": "AppServiceEnvironments_UpdateMultiRolePool",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "multiRolePoolEnvelope",
            "in": "body",
            "description": "Properties of the multi-role pool.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}/metricdefinitions": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.",
        "description": "Get metric definitions for a specific instance of a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRolePoolInstanceMetricDefinitions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance",
            "in": "path",
            "description": "Name of the instance in the multi-role pool.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/instances/{instance}metrics": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metrics for a specific instance of a multi-role pool of an App Service Environment.",
        "description": "Get metrics for a specific instance of a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRolePoolInstanceMetrics",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance",
            "in": "path",
            "description": "Name of the instance in the multi-role pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metricdefinitions": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metric definitions for a multi-role pool of an App Service Environment.",
        "description": "Get metric definitions for a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRoleMetricDefinitions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/metrics": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metrics for a multi-role pool of an App Service Environment.",
        "description": "Get metrics for a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRoleMetrics",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Beginning time of the metrics query.",
            "type": "string"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "End time of the metrics query.",
            "type": "string"
          },
          {
            "name": "timeGrain",
            "in": "query",
            "description": "Time granularity of the metrics query.",
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "type": "boolean"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.",
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/skus": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get available SKUs for scaling a multi-role pool.",
        "description": "Get available SKUs for scaling a multi-role pool.",
        "operationId": "AppServiceEnvironments_ListMultiRolePoolSkus",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SkuInfoCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/multiRolePools/default/usages": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get usage metrics for a multi-role pool of an App Service Environment.",
        "description": "Get usage metrics for a multi-role pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListMultiRoleUsages",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UsageCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/operations": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "List all currently running operations on the App Service Environment.",
        "description": "List all currently running operations on the App Service Environment.",
        "operationId": "AppServiceEnvironments_ListOperations",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Operation"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/reboot": {
      "post": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Reboot all machines in an App Service Environment.",
        "description": "Reboot all machines in an App Service Environment.",
        "operationId": "AppServiceEnvironments_Reboot",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/resume": {
      "post": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Resume an App Service Environment.",
        "description": "Resume an App Service Environment.",
        "operationId": "AppServiceEnvironments_Resume",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/serverfarms": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get all App Service plans in an App Service Environment.",
        "description": "Get all App Service plans in an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListAppServicePlans",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/AppServicePlanCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/sites": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get all apps in an App Service Environment.",
        "description": "Get all apps in an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWebApps",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertiesToInclude",
            "in": "query",
            "description": "Comma separated list of app properties to include.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/suspend": {
      "post": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Suspend an App Service Environment.",
        "description": "Suspend an App Service Environment.",
        "operationId": "AppServiceEnvironments_Suspend",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WebAppCollection"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/usages": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get global usage metrics of an App Service Environment.",
        "description": "Get global usage metrics of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListUsages",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.",
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/CsmUsageQuotaCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get all worker pools of an App Service Environment.",
        "description": "Get all worker pools of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWorkerPools",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerPoolCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get properties of a worker pool.",
        "description": "Get properties of a worker pool.",
        "operationId": "AppServiceEnvironments_GetWorkerPool",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Create or update a worker pool.",
        "description": "Create or update a worker pool.",
        "operationId": "AppServiceEnvironments_CreateOrUpdateWorkerPool",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolEnvelope",
            "in": "body",
            "description": "Properties of the worker pool.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Create or update a worker pool.",
        "description": "Create or update a worker pool.",
        "operationId": "AppServiceEnvironments_UpdateWorkerPool",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolEnvelope",
            "in": "body",
            "description": "Properties of the worker pool.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "202": {
            "description": "Operation is in progress.",
            "schema": {
              "$ref": "#/definitions/WorkerPoolResource"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "404": {
            "description": "Not found."
          },
          "409": {
            "description": "Conflict."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}/metricdefinitions": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metric definitions for a specific instance of a worker pool of an App Service Environment.",
        "description": "Get metric definitions for a specific instance of a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWorkerPoolInstanceMetricDefinitions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance",
            "in": "path",
            "description": "Name of the instance in the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/instances/{instance}metrics": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metrics for a specific instance of a worker pool of an App Service Environment.",
        "description": "Get metrics for a specific instance of a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWorkerPoolInstanceMetrics",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instance",
            "in": "path",
            "description": "Name of the instance in the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "type": "boolean"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.",
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metricdefinitions": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metric definitions for a worker pool of an App Service Environment.",
        "description": "Get metric definitions for a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWebWorkerMetricDefinitions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/metrics": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get metrics for a worker pool of a AppServiceEnvironment (App Service Environment).",
        "description": "Get metrics for a worker pool of a AppServiceEnvironment (App Service Environment).",
        "operationId": "AppServiceEnvironments_ListWebWorkerMetrics",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of worker pool",
            "required": true,
            "type": "string"
          },
          {
            "name": "details",
            "in": "query",
            "description": "Specify <code>true</code> to include instance details. The default is <code>false</code>.",
            "type": "boolean"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2') and startTime eq '2014-01-01T00:00:00Z' and endTime eq '2014-12-31T23:59:59Z' and timeGrain eq duration'[Hour|Minute|Day]'.",
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ResourceMetricCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/skus": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get available SKUs for scaling a worker pool.",
        "description": "Get available SKUs for scaling a worker pool.",
        "operationId": "AppServiceEnvironments_ListWorkerPoolSkus",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SkuInfoCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/workerPools/{workerPoolName}/usages": {
      "get": {
        "tags": [
          "AppServiceEnvironments"
        ],
        "summary": "Get usage metrics for a worker pool of an App Service Environment.",
        "description": "Get usage metrics for a worker pool of an App Service Environment.",
        "operationId": "AppServiceEnvironments_ListWebWorkerUsages",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerPoolName",
            "in": "path",
            "description": "Name of the worker pool.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UsageCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AddressResponse": {
      "description": "Describes main public IP address and any extra virtual IPs.",
      "type": "object",
      "properties": {
        "serviceIpAddress": {
          "description": "Main public virtual IP.",
          "type": "string"
        },
        "internalIpAddress": {
          "description": "Virtual Network internal IP address of the App Service Environment if it is in internal load-balancing mode.",
          "type": "string"
        },
        "outboundIpAddresses": {
          "description": "IP addresses appearing on outbound connections.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vipMappings": {
          "description": "Additional virtual IPs.",
          "type": "array",
          "items": {
            "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/VirtualIPMapping"
          }
        }
      }
    },
    "AppServiceEnvironmentCollection": {
      "description": "Collection of App Service Environments.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppServiceEnvironmentResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "AppServiceEnvironmentPatchResource": {
      "description": "ARM resource for a app service enviroment.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/AppServiceEnvironment",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "AppServiceEnvironmentResource": {
      "description": "App Service Environment ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/AppServiceEnvironment",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "HostingEnvironmentDiagnostics": {
      "description": "Diagnostics for an App Service Environment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name/identifier of the diagnostics.",
          "type": "string"
        },
        "diagnosicsOutput": {
          "description": "Diagnostics output.",
          "type": "string"
        }
      }
    },
    "MetricAvailabilily": {
      "description": "Metric availability and retention.",
      "type": "object",
      "properties": {
        "timeGrain": {
          "description": "Time grain.",
          "type": "string"
        },
        "retention": {
          "description": "Retention period for the current time grain.",
          "type": "string"
        }
      }
    },
    "MetricDefinition": {
      "description": "Metadata for a metric.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "MetricDefinition resource specific properties",
          "properties": {
            "name": {
              "description": "Name of the metric.",
              "type": "string",
              "readOnly": true
            },
            "unit": {
              "description": "Unit of the metric.",
              "type": "string",
              "readOnly": true
            },
            "primaryAggregationType": {
              "description": "Primary aggregation type.",
              "type": "string",
              "readOnly": true
            },
            "metricAvailabilities": {
              "description": "List of time grains supported for the metric together with retention period.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetricAvailabilily"
              },
              "readOnly": true
            },
            "displayName": {
              "description": "Friendly name shown in the UI.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "SkuInfo": {
      "description": "SKU discovery information.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Resource type that this SKU applies to.",
          "type": "string"
        },
        "sku": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/SkuDescription",
          "description": "Name and tier of the SKU."
        },
        "capacity": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/SkuCapacity",
          "description": "Min, max, and default scale values of the SKU."
        }
      }
    },
    "SkuInfoCollection": {
      "description": "Collection of SKU information.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuInfo"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "StampCapacityCollection": {
      "description": "Collection of stamp capacities.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/StampCapacity"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "Usage": {
      "description": "Usage of the quota resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Usage resource specific properties",
          "properties": {
            "displayName": {
              "description": "Friendly name shown in the UI.",
              "type": "string",
              "readOnly": true
            },
            "name": {
              "description": "Name of the quota.",
              "type": "string",
              "readOnly": true
            },
            "resourceName": {
              "description": "Name of the quota resource.",
              "type": "string",
              "readOnly": true
            },
            "unit": {
              "description": "Units of measurement for the quota resource.",
              "type": "string",
              "readOnly": true
            },
            "currentValue": {
              "format": "int64",
              "description": "The current value of the resource counter.",
              "type": "integer",
              "readOnly": true
            },
            "limit": {
              "format": "int64",
              "description": "The resource limit.",
              "type": "integer",
              "readOnly": true
            },
            "nextResetTime": {
              "format": "date-time",
              "description": "Next reset time for the resource counter.",
              "type": "string",
              "readOnly": true
            },
            "computeMode": {
              "description": "Compute mode used for this usage.",
              "enum": [
                "Shared",
                "Dedicated",
                "Dynamic"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "ComputeModeOptions",
                "modelAsString": false
              }
            },
            "siteMode": {
              "description": "Site mode used for this usage.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "UsageCollection": {
      "description": "Collection of usages.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Usage"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "WorkerPoolCollection": {
      "description": "Collection of worker pools.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerPoolResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "WorkerPoolResource": {
      "description": "Worker pool of an App Service Environment ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WorkerPool",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/SkuDescription"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
