{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2024-12-01-preview",
    "description": "The workload SAP monitor Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Monitors"
    },
    {
      "name": "AlertTemplates"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "Db2JobConfigurations"
    },
    {
      "name": "ProviderInstances"
    },
    {
      "name": "SapLandscapeMonitor"
    },
    {
      "name": "InstanceGroupMonitors"
    },
    {
      "name": "InstanceMonitors"
    },
    {
      "name": "InstanceHealthDefinitions"
    },
    {
      "name": "SignalDefinitions"
    }
  ],
  "paths": {
    "/providers/Microsoft.Workloads/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/instanceGroupMonitors": {
      "get": {
        "operationId": "InstanceGroupMonitors_ListBySubscription",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "List instance group monitors by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_ListBySubscription": {
            "$ref": "./examples/InstanceGroupMonitors_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/instanceHealthDefinitions": {
      "get": {
        "operationId": "InstanceHealthDefinitions_ListBySubscription",
        "tags": [
          "InstanceHealthDefinitions"
        ],
        "description": "List instance health definitions by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceHealthDefinitions_ListBySubscription": {
            "$ref": "./examples/InstanceHealthDefinitions_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/instanceMonitors": {
      "get": {
        "operationId": "InstanceMonitors_ListBySubscription",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "List instance group monitors by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_ListBySubscription": {
            "$ref": "./examples/InstanceMonitors_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "operationId": "Monitors_List",
        "tags": [
          "Monitors"
        ],
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors in a subscription": {
            "$ref": "./examples/Monitors_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceGroupMonitors": {
      "get": {
        "operationId": "InstanceGroupMonitors_ListByResourceGroup",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "List instance group monitors by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_ListByResourceGroup": {
            "$ref": "./examples/InstanceGroupMonitors_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceGroupMonitors/{instanceGroupMonitorName}": {
      "get": {
        "operationId": "InstanceGroupMonitors_Get",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "Get the instance group monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceGroupMonitorName",
            "in": "path",
            "description": "The name of the InstanceGroupMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_Get": {
            "$ref": "./examples/InstanceGroupMonitors_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "InstanceGroupMonitors_Create",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "Create or replace the instance group monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceGroupMonitorName",
            "in": "path",
            "description": "The name of the InstanceGroupMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InstanceGroupMonitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitor"
            }
          },
          "201": {
            "description": "Resource 'InstanceGroupMonitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_Create": {
            "$ref": "./examples/InstanceGroupMonitors_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InstanceGroupMonitors_Update",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "Update the instance group monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceGroupMonitorName",
            "in": "path",
            "description": "The name of the InstanceGroupMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitorTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceGroupMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_Update": {
            "$ref": "./examples/InstanceGroupMonitors_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "InstanceGroupMonitors_Delete",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "Delete the instance group monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceGroupMonitorName",
            "in": "path",
            "description": "The name of the InstanceGroupMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_Delete": {
            "$ref": "./examples/InstanceGroupMonitors_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceGroupMonitors/{instanceGroupMonitorName}/getHealthStatus": {
      "post": {
        "operationId": "InstanceGroupMonitors_GetHealthStatus",
        "tags": [
          "InstanceGroupMonitors"
        ],
        "description": "Get the instance health status at instance group scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceGroupMonitorName",
            "in": "path",
            "description": "The name of the InstanceGroupMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Get health status request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HealthStatusRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceGroupHealthStatusResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceGroupMonitors_GetHealthStatus": {
            "$ref": "./examples/InstanceGroupMonitors_GetHealthStatus_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceHealthDefinitions": {
      "get": {
        "operationId": "InstanceHealthDefinitions_ListByResourceGroup",
        "tags": [
          "InstanceHealthDefinitions"
        ],
        "description": "List instance health definitions by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceHealthDefinitions_ListByResourceGroup": {
            "$ref": "./examples/InstanceHealthDefinitions_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceHealthDefinitions/{instanceHealthDefinitionName}": {
      "get": {
        "operationId": "InstanceHealthDefinitions_Get",
        "tags": [
          "InstanceHealthDefinitions"
        ],
        "description": "Get the instance health definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceHealthDefinitions_Get": {
            "$ref": "./examples/InstanceHealthDefinitions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "InstanceHealthDefinitions_Create",
        "tags": [
          "InstanceHealthDefinitions"
        ],
        "description": "Create or replace the instance health definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InstanceHealthDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinition"
            }
          },
          "201": {
            "description": "Resource 'InstanceHealthDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinition"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceHealthDefinitions_Create": {
            "$ref": "./examples/InstanceHealthDefinitions_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InstanceHealthDefinitions_Update",
        "tags": [
          "InstanceHealthDefinitions"
        ],
        "description": "Update the instance health definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinitionTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceHealthDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceHealthDefinitions_Update": {
            "$ref": "./examples/InstanceHealthDefinitions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "InstanceHealthDefinitions_Delete",
        "tags": [
          "InstanceHealthDefinitions"
        ],
        "description": "Delete the instance health definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceHealthDefinitions_Delete": {
            "$ref": "./examples/InstanceHealthDefinitions_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceHealthDefinitions/{instanceHealthDefinitionName}/signalDefinitions": {
      "get": {
        "operationId": "SignalDefinitions_ListByHealthDefinition",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "List signal definitions by parent resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_ListByHealthDefinition": {
            "$ref": "./examples/SignalDefinitions_ListByHealthDefinition_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceHealthDefinitions/{instanceHealthDefinitionName}/signalDefinitions/{signalDefinitionName}": {
      "get": {
        "operationId": "SignalDefinitions_Get",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Get the signal definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "The name of the SignalDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Get": {
            "$ref": "./examples/SignalDefinitions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SignalDefinitions_Create",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Create or replace the signal definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "The name of the SignalDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SignalDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          },
          "201": {
            "description": "Resource 'SignalDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Create": {
            "$ref": "./examples/SignalDefinitions_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SignalDefinitions_Delete",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Delete the signal definition",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceHealthDefinitionName",
            "in": "path",
            "description": "The name of the InstanceHealthDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "The name of the SignalDefinition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Delete": {
            "$ref": "./examples/SignalDefinitions_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceMonitors": {
      "get": {
        "operationId": "InstanceMonitors_ListByResourceGroup",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "List instance monitors by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_ListByResourceGroup": {
            "$ref": "./examples/InstanceMonitors_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceMonitors/{instanceMonitorName}": {
      "get": {
        "operationId": "InstanceMonitors_Get",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Get the instance monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceMonitorName",
            "in": "path",
            "description": "The name of the InstanceMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_Get": {
            "$ref": "./examples/InstanceMonitors_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "InstanceMonitors_Create",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Create or replace the instance monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceMonitorName",
            "in": "path",
            "description": "The name of the InstanceMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InstanceMonitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          },
          "201": {
            "description": "Resource 'InstanceMonitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_Create": {
            "$ref": "./examples/InstanceMonitors_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InstanceMonitors_Update",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Update the instance monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceMonitorName",
            "in": "path",
            "description": "The name of the InstanceMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceMonitorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceMonitor"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_Update": {
            "$ref": "./examples/InstanceMonitors_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "InstanceMonitors_Delete",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Delete the instance monitor",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceMonitorName",
            "in": "path",
            "description": "The name of the InstanceMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_Delete": {
            "$ref": "./examples/InstanceMonitors_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/instanceMonitors/{instanceMonitorName}/getHealthStatus": {
      "post": {
        "operationId": "InstanceMonitors_GetHealthStatus",
        "tags": [
          "InstanceMonitors"
        ],
        "description": "Get the health status of the instance",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceMonitorName",
            "in": "path",
            "description": "The name of the InstanceMonitor",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Get health status request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HealthStatusRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InstanceHealthStatusResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InstanceMonitors_GetHealthStatus": {
            "$ref": "./examples/InstanceMonitors_GetHealthStatus_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "operationId": "Monitors_ListByResourceGroup",
        "tags": [
          "Monitors"
        ],
        "description": "Gets a list of SAP monitors in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors in a resource group": {
            "$ref": "./examples/Monitors_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}": {
      "get": {
        "operationId": "Monitors_Get",
        "tags": [
          "Monitors"
        ],
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/Monitors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Monitors_Create",
        "tags": [
          "Monitors"
        ],
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a SAP monitor",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Monitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "201": {
            "description": "Resource 'Monitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Monitor"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a SAP monitor": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor.json"
          },
          "Create a SAP monitor with system assigned identity": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor_With_System_Assigned_Identity.json"
          },
          "Create a SAP monitor with user assigned identity": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor_With_User_Assigned_Identity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Monitors_Update",
        "tags": [
          "Monitors"
        ],
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The Update SAP workload monitor request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateMonitorRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/Monitors_PatchTags_Delete.json"
          },
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/Monitors_PatchTags.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Monitors_Delete",
        "tags": [
          "Monitors"
        ],
        "description": "Deletes a SAP monitor with the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/Monitors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates": {
      "get": {
        "operationId": "AlertTemplates_List",
        "tags": [
          "AlertTemplates"
        ],
        "description": "Gets a list of alert templates in the specified SAP monitor. The operations returns various properties of each alert template.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerType",
            "in": "query",
            "description": "The provider type for filtering alert templates.",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertTemplateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Alert Templates in a monitor": {
            "$ref": "./examples/AlertTemplates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates/{alertTemplateName}": {
      "get": {
        "operationId": "AlertTemplates_Get",
        "tags": [
          "AlertTemplates"
        ],
        "description": "Gets properties of an alert template for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertTemplateName",
            "in": "path",
            "description": "SAP monitor alert template resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertTemplate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor Alert Template": {
            "$ref": "./examples/AlertTemplates_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alerts": {
      "get": {
        "operationId": "Alerts_List",
        "tags": [
          "Alerts"
        ],
        "description": "Gets a list of alerts in the specified SAP monitor. The operations returns various properties of each alerts.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Alerts in a monitor": {
            "$ref": "./examples/Alerts_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alerts/{alertName}": {
      "get": {
        "operationId": "Alerts_Get",
        "tags": [
          "Alerts"
        ],
        "description": "Gets properties of an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the SAP monitor alert resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor Alert": {
            "$ref": "./examples/Alerts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Alerts_Create",
        "tags": [
          "Alerts"
        ],
        "description": "Creates an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the SAP monitor alert resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a SAP monitor's alert resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Alert' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "201": {
            "description": "Resource 'Alert' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Alert"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Alert": {
            "$ref": "./examples/Alerts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Alerts_Delete",
        "tags": [
          "Alerts"
        ],
        "description": "Deletes an alert for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "alertName",
            "in": "path",
            "description": "Name of the SAP monitor alert resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a SAP monitor alert": {
            "$ref": "./examples/Alerts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/db2JobConfigurations": {
      "get": {
        "operationId": "Db2JobConfigurations_List",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Gets a list of DB2 job configurations in the specified SAP monitor. The operations returns various properties of each DB2 job configurations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Db2JobConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all db2 job configurations": {
            "$ref": "./examples/Db2JobConfigurations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/db2JobConfigurations/{jobConfigurationName}": {
      "get": {
        "operationId": "Db2JobConfigurations_Get",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Gets db2 job configuration for the specified subscription, resource group, SAP monitor name and job configurations name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "jobConfigurationName",
            "in": "path",
            "description": "Name of the job configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Db2JobConfigurations_Create",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Create db2 job configuration for the specified subscription, resource group, SAP monitor name and job configurations Name",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "jobConfigurationName",
            "in": "path",
            "description": "Name of the job configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a DB2 job configurations",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Db2JobConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            }
          },
          "201": {
            "description": "Resource 'Db2JobConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Db2JobConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Db2JobConfigurations_Delete",
        "tags": [
          "Db2JobConfigurations"
        ],
        "description": "Delete db2 job configuration for the specified subscription, resource group, SAP monitor name, and job configurations Name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "jobConfigurationName",
            "in": "path",
            "description": "Name of the job configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete db2 job configuration": {
            "$ref": "./examples/Db2JobConfigurations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances": {
      "get": {
        "operationId": "ProviderInstances_ListByMonitor",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Gets a list of provider instances in the specified SAP monitor. The operations returns various properties of each provider instances.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors providers in a subscription": {
            "$ref": "./examples/ProviderInstances_ListByMonitor.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "operationId": "ProviderInstances_Get",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Gets properties of a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a Db2 provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Db2_Provider.json"
          },
          "Get properties of a MsSqlServer provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Ms_Sql_Server_Provider.json"
          },
          "Get properties of a OS provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Os_Provider.json"
          },
          "Get properties of a Oracle provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Oracle_Provider.json"
          },
          "Get properties of a PrometheusHaCluster provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Prometheus_Ha_Cluster_Provider.json"
          },
          "Get properties of a SAP monitor Hana provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Sap_Monitor_Hana_Provider.json"
          },
          "Get properties of a SAP monitor NetWeaver provider": {
            "$ref": "./examples/ProviderInstances_Get_Get_Properties_Of_A_Sap_Monitor_Net_Weaver_Provider.json"
          }
        }
      },
      "put": {
        "operationId": "ProviderInstances_Create",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Creates a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a provider instance associated with a SAP monitor.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProviderInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Resource 'ProviderInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Db2 provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Db2_Provider.json"
          },
          "Create a Db2 provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Db2_Provider_With_Root_Certificate.json"
          },
          "Create a MsSqlServer provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Ms_Sql_Server_Provider.json"
          },
          "Create a MsSqlServer provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Ms_Sql_Server_Provider_With_Root_Certificate.json"
          },
          "Create a OS provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Os_Provider.json"
          },
          "Create a OS provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Os_Provider_With_Root_Certificate.json"
          },
          "Create a Oracle provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Oracle_Provider.json"
          },
          "Create a Oracle provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Oracle_Provider_With_Root_Certificate.json"
          },
          "Create a PrometheusHaCluster provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Prometheus_Ha_Cluster_Provider.json"
          },
          "Create a PrometheusHaCluster provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Prometheus_Ha_Cluster_Provider_With_Root_Certificate.json"
          },
          "Create a SAP monitor Hana provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Hana_Provider.json"
          },
          "Create a SAP monitor Hana provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Hana_Provider_With_Root_Certificate.json"
          },
          "Create a SAP monitor NetWeaver provider": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Net_Weaver_Provider.json"
          },
          "Create a SAP monitor NetWeaver provider with Root Certificate": {
            "$ref": "./examples/ProviderInstances_Create_Create_A_Sap_Monitor_Net_Weaver_Provider_With_Root_Certificate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProviderInstances_Delete",
        "tags": [
          "ProviderInstances"
        ],
        "description": "Deletes a provider instance for the specified subscription, resource group, SAP monitor name, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
[...]
