{
  "swagger": "2.0",
  "info": {
    "version": "2018-01-01",
    "title": "DataBoxManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.DataBox/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "This method gets all the operations.",
        "operationId": "Operations_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The supported operations list.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Lists all the jobs available under the subscription.",
        "operationId": "Jobs_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs available under the subscription.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobsList": {
            "$ref": "./examples/JobsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/availableSkus": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This method provides the list of available skus for the given subscription and location.",
        "operationId": "Service_ListAvailableSkus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "availableSkuRequest",
            "in": "body",
            "description": "Filters for showing the available skus.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailableSkuRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available skus.",
            "schema": {
              "$ref": "#/definitions/AvailableSkusResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ServiceListAvailableSkus": {
            "$ref": "./examples/ServiceListAvailableSkus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This method validates the customer shipping address and provide alternate addresses if any.",
        "operationId": "Service_ValidateAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "validateAddress",
            "in": "body",
            "description": "Shipping address of the customer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The valid and alternate addresses.",
            "schema": {
              "$ref": "#/definitions/AddressValidationOutput"
            }
          }
        },
        "x-ms-examples": {
          "ServiceValidateAddress": {
            "$ref": "./examples/ServiceValidateAddress.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Lists all the jobs available under the given resource group.",
        "operationId": "Jobs_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs by resource group.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobsListByResourceGroup": {
            "$ref": "./examples/JobsListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Gets information about the specified job.",
        "operationId": "Jobs_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on details parameter for job, which provides details on the job stages.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        },
        "x-ms-examples": {
          "JobsGet": {
            "$ref": "./examples/JobsGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "description": "Creates a new job with the specified parameters. Existing job cannot be updated with this API and should instead be updated with the Update job API.",
        "operationId": "Jobs_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "jobResource",
            "in": "body",
            "description": "Job details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "202": {
            "description": "Accepted request for create Job."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobsCreate": {
            "$ref": "./examples/JobsCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "description": "Deletes a job.",
        "operationId": "Jobs_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Job deleted."
          }
        },
        "x-ms-examples": {
          "JobsDelete": {
            "$ref": "./examples/JobsDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "description": "Updates the properties of an existing job.",
        "operationId": "Jobs_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.",
            "type": "string"
          },
          {
            "name": "jobResourceUpdateParameter",
            "in": "body",
            "description": "Job update parameters from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResourceUpdateParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "202": {
            "description": "Accepted request for job updated."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobsUpdate": {
            "$ref": "./examples/JobsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Book shipment pick up.",
        "operationId": "Jobs_BookShipmentPickUp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "shipmentPickUpRequest",
            "in": "body",
            "description": "Details of shipment pick up request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShipmentPickUpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booked shipment pick up successfully.",
            "schema": {
              "$ref": "#/definitions/ShipmentPickUpResponse"
            }
          }
        },
        "x-ms-examples": {
          "JobsBookShipmentPickUp": {
            "$ref": "./examples/JobsBookShipmentPickUp.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "CancelJob.",
        "operationId": "Jobs_Cancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "cancellationReason",
            "in": "body",
            "description": "Reason for cancellation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancellationReason"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Job cancelled."
          }
        },
        "x-ms-examples": {
          "JobsCancel": {
            "$ref": "./examples/JobsCancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/copyLogsUri": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Provides list of copy logs uri.",
        "operationId": "Jobs_GetCopyLogsUri",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Copy logs uri.",
            "schema": {
              "$ref": "#/definitions/GetCopyLogsUriOutput"
            }
          }
        },
        "x-ms-examples": {
          "JobsGetCopyLogsUri": {
            "$ref": "./examples/JobsGetCopyLogsUri.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/downloadShippingLabel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Get shipping label sas uri.",
        "operationId": "Jobs_DownloadShippingLabelUri",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipping label sas uri.",
            "schema": {
              "$ref": "#/definitions/ShippingLabelDetails"
            }
          }
        },
        "x-ms-examples": {
          "JobsDownloadShippingLabelUri": {
            "$ref": "./examples/JobsDownloadShippingLabelUri.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listSecrets": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "This method gets the unencrypted secrets related to the job.",
        "operationId": "Jobs_ListSecrets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The unencrypted secrets of the job.",
            "schema": {
              "$ref": "#/definitions/UnencryptedSecrets"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "JobsListSecrets": {
            "$ref": "./examples/JobsListSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/reportIssue": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Reports an issue.",
        "operationId": "Jobs_ReportIssue",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "reportIssueDetails",
            "in": "body",
            "description": "Details of reported issue.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportIssueDetails"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Accepted issue report."
          }
        },
        "x-ms-examples": {
          "JobsReportIssue": {
            "$ref": "./examples/JobsReportIssue.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountCopyLogDetails": {
      "description": "Copy log details for an storage account",
      "required": [
        "accountName",
        "copyLogLink"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "properties": {
        "accountName": {
          "description": "Destination account name.",
          "type": "string"
        },
        "copyLogLink": {
          "description": "Link for copy logs.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Pod"
    },
    "AccountCredentialDetails": {
      "description": "Credential details of the account.",
      "required": [
        "shareCredentialDetails"
      ],
      "type": "object",
      "properties": {
        "accountName": {
          "description": "Name of the account.",
          "type": "string"
        },
        "shareCredentialDetails": {
          "description": "Per share level unencrypted access credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShareCredentialDetails"
          }
        }
      }
    },
    "AddressValidationOutput": {
      "description": "Output of the address validation api.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddressValidationProperties",
          "description": "The address validation properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AddressValidationProperties": {
      "description": "The address validation output.",
      "type": "object",
      "properties": {
        "validationStatus": {
          "description": "The address validation status.",
          "enum": [
            "Valid",
            "Invalid",
            "Ambiguous"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AddressValidationStatus",
            "modelAsString": false
          }
        },
        "alternateAddresses": {
          "description": "List of alternate addresses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingAddress"
          }
        }
      }
    },
    "ArmBaseObject": {
      "description": "Base class for all objects under resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the object.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id of the object.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of the object.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AvailableSkuRequest": {
      "description": "The filters for showing the available skus.",
      "required": [
        "transferType",
        "country",
        "location"
      ],
      "type": "object",
      "properties": {
        "transferType": {
          "description": "Type of the transfer.",
          "enum": [
            "ImportToAzure"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TransferType",
            "modelAsString": false
          }
        },
        "country": {
          "description": "ISO country code. Country for hardware shipment. For codes check: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements",
          "type": "string"
        },
        "location": {
          "description": "Location for data transfer. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01",
          "type": "string"
        }
      }
    },
    "AvailableSkusResult": {
      "description": "The available skus operation response.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available skus.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuInformation"
          }
        },
        "nextLink": {
          "description": "Link for the next set of skus.",
          "type": "string"
        }
      }
    },
    "CabinetJobSecrets": {
      "description": "The secrets related to a cabinet job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "properties": {
        "cabinetPodSecrets": {
          "description": "Contains the list of secret objects for a cabinet job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CabinetPodSecret"
          }
        }
      },
      "x-ms-discriminator-value": "Cabinet"
    },
    "CabinetPodSecret": {
      "description": "The secrets related to a cabinet pod.",
      "type": "object",
      "properties": {
        "deviceSerialNumber": {
          "description": "Serial number of the assigned device.",
          "type": "string"
        },
        "devicePassword": {
          "description": "Password for out of the box experience on device.",
          "type": "string"
        },
        "accountCredentialDetails": {
          "description": "Per account level access credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountCredentialDetails"
          }
        }
      }
    },
    "CancellationReason": {
      "description": "Reason for cancellation.",
      "required": [
        "reason"
      ],
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason for cancellation.",
          "type": "string"
        }
      }
    },
    "ContactDetails": {
      "description": "Contact Details.",
      "required": [
        "phone",
        "emailList"
      ],
      "type": "object",
      "properties": {
        "contactName": {
          "description": "Contact name of the person.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number of the contact person.",
          "type": "string"
        },
        "phoneExtension": {
          "description": "Phone extension number of the contact person.",
          "type": "string"
        },
        "mobile": {
          "description": "Mobile number of the contact person.",
          "type": "string"
        },
        "emailList": {
          "description": "List of Email-ids to be notified about job progress.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notificationPreference": {
          "description": "Notification preference for a job stage.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationPreference"
          }
        }
      }
    },
    "CopyLogDetails": {
      "description": "Details for log generated during copy.",
      "type": "object",
      "properties": {
        "copyLogDetailsType": {
          "description": "Indicates the type of job details.",
          "enum": [
            "Pod",
            "Disk",
            "Cabinet"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassDiscriminator",
            "modelAsString": false
          }
        }
      },
      "discriminator": "copyLogDetailsType"
    },
    "CopyProgress": {
      "description": "Copy progress.",
      "type": "object",
      "properties": {
        "storageAccountName": {
          "description": "Name of the storage account where the data needs to be uploaded.",
          "type": "string"
        },
        "bytesSentToCloud": {
          "format": "int64",
          "description": "Amount of data uploaded by the job as of now.",
          "type": "integer"
        },
        "totalBytesToProcess": {
          "format": "int64",
          "description": "Total amount of data to be processed by the job.",
          "type": "integer"
        }
      }
    },
    "DestinationAccountDetails": {
      "description": "Details for the destination account.",
      "required": [
        "accountId"
      ],
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Destination storage account id.",
          "type": "string"
        }
      }
    },
    "DestinationToServiceLocationMap": {
      "description": "Map of destination location to service location",
      "type": "object",
      "properties": {
        "destinationLocation": {
          "description": "Location of the destination.",
          "type": "string"
        },
        "serviceLocation": {
          "description": "Location of the service.",
          "type": "string"
        }
      }
    },
    "DiskCopyLogDetails": {
      "description": "Copy Log Details for a disk",
      "required": [
        "diskSerialNumber",
        "errorLogLink",
        "verboseLogLink"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "properties": {
        "diskSerialNumber": {
          "description": "Disk Serial Number.",
          "type": "string"
        },
        "errorLogLink": {
          "description": "Link for copy error logs.",
          "type": "string"
        },
        "verboseLogLink": {
          "description": "Link for copy verbose logs.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Disk"
    },
    "DiskCopyProgress": {
      "description": "Disk Copy Progress",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the disk",
          "type": "string"
        },
        "percentComplete": {
          "format": "int32",
          "description": "Indicates the percentage completed for the copy of the disk.",
          "type": "integer"
        },
        "status": {
          "description": "The Status of the copy",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "CompletedWithErrors",
            "Failed"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "CopyStatus",
            "modelAsString": false
          }
        }
      }
    },
    "DiskJobDetails": {
      "description": "Disk Job Details.",
      "required": [
        "contactDetails",
        "shippingAddress"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "preferredDisks": {
          "description": "User preference on what size disks are needed for the job. The map is from the disk size in TB to the count. Eg. {2,5} means 5 disks of 2 TB size. Key is string but will be checked against an int.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "copyProgress": {
          "description": "Copy progress per disk.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiskCopyProgress"
          }
        },
        "disksAndSizeDetails": {
          "description": "Contains the map of disk serial number to the disk size being used for the job. Is returned only after the disks are shipped to the customer.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "x-ms-discriminator-value": "Disk"
    },
    "DiskJobSecrets": {
      "description": "The secrets related to disk job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "properties": {
        "diskSecrets": {
          "description": "Contains the list of secrets object for that device.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiskSecret"
          }
        }
      },
      "x-ms-discriminator-value": "Disk"
    },
    "DiskSecret": {
      "description": "Contains all the secrets of a Disk.",
      "type": "object",
      "properties": {
        "diskSerialNumber": {
          "description": "Serial number of the assigned disk.",
          "type": "string"
        },
        "bitLockerKey": {
          "description": "Bit Locker key of the disk which can be used to unlock the disk to copy data.",
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Top level error for the job.",
      "required": [
        "code"
      ],
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code that can be used to programmatically identify the error.",
          "type": "string"
        },
        "message": {
          "description": "Describes the error in detail and provides debugging information.",
          "type": "string"
        }
      }
    },
    "GetCopyLogsUriOutput": {
      "description": "Output for the GetCopyLogsUri.",
      "type": "object",
      "properties": {
        "logType": {
          "description": "Type/Level of the log.",
          "type": "string"
        },
        "copyLogDetails": {
          "description": "List of copy log details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CopyLogDetails"
          }
        }
      }
    },
    "JobDetails": {
      "description": "Job details.",
      "required": [
        "contactDetails",
        "shippingAddress"
      ],
      "type": "object",
      "properties": {
        "expectedDataSizeInTeraBytes": {
          "format": "int32",
          "description": "The expected size of the data, which needs to be transfered in this job, in tera bytes.",
          "type": "integer"
        },
        "jobStages": {
          "description": "List of stages that run in the job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStages"
          }
        },
        "contactDetails": {
          "$ref": "#/definitions/ContactDetails",
          "description": "Contact details for notification and shipping."
        },
        "shippingAddress": {
          "$ref": "#/definitions/ShippingAddress",
          "description": "Shipping address of the customer."
        },
        "errorDetails": {
          "description": "Error details for failure. This is optional.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobErrorDetails"
          }
        },
        "jobDetailsType": {
          "description": "Indicates the type of job details.",
          "enum": [
            "Pod",
            "Disk",
            "Cabinet"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassDiscriminator",
            "modelAsString": false
          }
        }
      },
      "discriminator": "jobDetailsType"
    },
    "JobErrorDetails": {
      "description": "Job Error Details for providing the information and recommended action.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Message for the error.",
          "type": "string"
        },
        "errorCode": {
          "format": "int32",
          "description": "Code for the error.",
          "type": "integer"
        },
        "recommendedAction": {
          "description": "Recommended action for the error.",
          "type": "string"
        },
        "exceptionMessage": {
          "description": "Contains the non localized exception message",
          "type": "string"
        }
      }
    },
    "JobProperties": {
      "description": "Job Properties",
      "required": [
        "destinationAccountDetails"
      ],
      "type": "object",
      "properties": {
        "deviceType": {
          "description": "Type of the device to be used for the job.",
          "enum": [
            "Pod",
            "Disk",
            "Cabinet"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DeviceType",
            "modelAsString": false
          }
        },
        "isCancellable": {
          "description": "Describes whether the job is cancellable or not.",
          "type": "boolean"
        },
        "isShippingAddressEditable": {
          "description": "Describes whether the shipping address is editable or not.",
          "type": "boolean"
        },
        "status": {
          "description": "Name of the stage which is in progress.",
          "enum": [
            "DeviceOrdered",
            "DevicePrepared",
            "Dispatched",
            "Delivered",
            "PickedUp",
            "AtAzureDC",
            "DataCopy",
            "Completed",
            "CompletedWithErrors",
            "Cancelled",
            "Failed_IssueReportedAtCustomer",
            "Failed_IssueDetectedAtAzureDC",
            "Aborted"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StageName",
            "modelAsString": false
          }
        },
        "startTime": {
          "format": "date-time",
          "description": "Time at which the job was started in UTC ISO 8601 format.",
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/Error",
          "description": "Top level error for the job."
        },
        "deliveryPackage": {
          "$ref": "#/definitions/PackageShippingDetails",
          "description": "Delivery package shipping details."
        },
        "returnPackage": {
          "$ref": "#/definitions/PackageShippingDetails",
          "description": "Return package shipping details."
        },
        "destinationAccountDetails": {
          "description": "Destination account details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DestinationAccountDetails"
          }
        },
        "details": {
          "$ref": "#/definitions/JobDetails",
          "description": "Details of a job run. This field will only be sent for expand details filter."
        },
        "cancellationReason": {
          "description": "Reason for cancellation.",
          "type": "string"
        }
      }
    },
    "JobResource": {
      "description": "Job Resource.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "description": "Properties of a job.",
          "x-ms-client-flatten": true
        },
        "name": {
          "description": "Name of the object.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id of the object.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of the object.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JobResourceList": {
      "description": "Job Resource Collection",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of job resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobResource"
          }
        },
        "nextLink": {
          "description": "Link for the next set of job resources.",
          "type": "string"
        }
      }
    },
    "JobResourceUpdateParameter": {
      "description": "The JobResourceUpdateParameter.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UpdateJobProperties",
          "description": "Properties of a job to be updated.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JobSecrets": {
      "description": "The base class for the secrets",
      "type": "object",
      "properties": {
        "jobSecretsType": {
          "description": "Used to indicate what type of job secrets object.",
          "enum": [
            "Pod",
            "Disk",
            "Cabinet"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassDiscriminator",
            "modelAsString": false
          }
        }
      },
      "discriminator": "jobSecretsType"
    },
    "JobStages": {
      "description": "Job stages.",
      "required": [
        "stageName",
        "stageStatus"
      ],
      "type": "object",
      "properties": {
        "stageName": {
          "description": "Name of the job stage.",
          "enum": [
            "DeviceOrdered",
            "DevicePrepared",
            "Dispatched",
            "Delivered",
            "PickedUp",
            "AtAzureDC",
            "DataCopy",
            "Completed",
            "CompletedWithErrors",
            "Cancelled",
            "Failed_IssueReportedAtCustomer",
            "Failed_IssueDetectedAtAzureDC",
            "Aborted"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StageName",
            "modelAsString": false
          }
        },
        "displayName": {
          "description": "Display name of the job stage.",
          "type": "string"
        },
        "stageStatus": {
          "description": "Status of the job stage.",
          "enum": [
            "None",
            "InProgress",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Cancelling",
            "SucceededWithErrors"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StageStatus",
            "modelAsString": false
          }
        },
        "stageTime": {
          "format": "date-time",
          "description": "Time for the job stage in UTC ISO 8601 format.",
          "type": "string"
        },
        "jobStageDetails": {
          "description": "Job Stage Details",
          "type": "object"
        },
        "errorDetails": {
          "description": "Error details for the stage.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobErrorDetails"
          }
        }
      }
    },
    "NotificationPreference": {
      "description": "Notification preference for a job stage.",
      "required": [
        "stageName",
        "sendNotification"
      ],
      "type": "object",
      "properties": {
        "stageName": {
          "description": "Name of the stage.",
          "enum": [
            "DevicePrepared",
            "Dispatched",
            "Delivered",
            "PickedUp",
            "AtAzureDC",
            "DataCopy"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NotificationStageName",
            "modelAsString": false
          }
        },
        "sendNotification": {
          "description": "Notification is required or not.",
          "type": "boolean"
        }
      }
    },
    "Operation": {
      "description": "Operation entity.",
      "required": [
        "name",
        "display",
        "properties",
        "origin"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation. Format: {resourceProviderNamespace}/{resourceType}/{read|write|delete|action}",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Operation display values."
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Operation properties.",
          "x-ms-client-flatten": true
        },
        "origin": {
          "description": "Origin of the operation. Can be : user|system|user,system",
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Provider name.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "operation": {
          "description": "Localized name of the operation for display purpose.",
          "type": "string"
        },
        "description": {
          "description": "Localized description of the operation for display purpose.",
          "type": "string"
        }
      }
    },
    "OperationList": {
      "description": "Operation Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "Link for the next set of operations.",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Operation properties.",
      "type": "object",
      "properties": {}
    },
    "PackageShippingDetails": {
      "description": "Shipping details.",
      "type": "object",
      "properties": {
        "carrierName": {
          "description": "Name of the carrier.",
          "type": "string"
        },
        "trackingId": {
          "description": "Tracking Id of shipment.",
          "type": "string"
        },
        "trackingUrl": {
          "description": "Url where shipment can be tracked.",
          "type": "string"
        }
      }
    },
    "PodJobDetails": {
      "description": "Pod Job Details",
      "required": [
        "contactDetails",
        "shippingAddress"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "copyProgress": {
          "description": "Copy progress per account.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CopyProgress"
          }
        }
      },
      "x-ms-discriminator-value": "Pod"
    },
    "PodJobSecrets": {
      "description": "The secrets related to a pod job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "properties": {
        "podSecrets": {
          "description": "Contains the list of secret objects for a job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PodSecret"
          }
        }
      },
      "x-ms-discriminator-value": "Pod"
    },
    "PodSecret": {
      "description": "The secrets related to a Pod.",
      "type": "object",
      "properties": {
        "deviceSerialNumber": {
          "description": "Serial number of the assigned device.",
          "type": "string"
        },
        "devicePassword": {
          "description": "Password for out of the box experience on device.",
          "type": "string"
        },
        "accountCredentialDetails": {
          "description": "Per account level access credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountCredentialDetails"
          }
        }
      }
    },
    "ReportIssueDetails": {
      "description": "Details of the reported issue.",
      "type": "object",
      "properties": {
        "issueType": {
          "description": "Issue Type.",
          "enum": [
            "DeviceMismatch",
            "ValidationStringMismatch",
            "CredentialNotWorking",
            "DeviceFailure"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IssueType",
            "modelAsString": false
          }
        },
        "deviceIssueType": {
          "description": "Device Issue Type. Only used for Device failure issue.",
          "enum": [
            "DeviceTampering",
            "DeviceNotBootingUp",
            "DeviceHealthCheckShowFailures",
            "NICsAreNotWorking",
            "Misc"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DeviceIssueType",
            "modelAsString": false
          }
        }
      }
    },
    "Resource": {
      "description": "Model of the Resource.",
      "required": [
        "location",
        "sku"
      ],
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the resource. This will be one of the supported and registered Azure Regions (e.g. West US, East US, Southeast Asia, etc.). The region of a resource cannot be changed once it is created, but if an identical region is specified on update the request will succeed.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ShareCredentialDetails": {
      "description": "Credential details of the shares in account.",
      "type": "object",
      "properties": {
        "shareName": {
          "description": "Name of the share.",
          "type": "string"
        },
        "userName": {
          "description": "User name for the share.",
          "type": "string"
        },
        "password": {
          "description": "Password for the share.",
          "type": "string"
        }
      }
    },
    "ShipmentPickUpRequest": {
      "description": "Shipment pick up request details.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "date-time",
          "description": "Minimum date after which the pick up should commence, this must be in local time of pick up area.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "Maximum date before which the pick up should commence, this must be in local time of pick up area.",
          "type": "string"
        },
        "shipmentLocation": {
          "description": "Shipment Location in the pickup place. Eg.front desk",
          "type": "string"
        }
      }
    },
    "ShipmentPickUpResponse": {
      "description": "Shipment pick up response.",
      "type": "object",
      "properties": {
        "confirmationNumber": {
          "description": "Confirmation number for the pick up request.",
          "type": "string"
        },
        "readyByTime": {
          "format": "date-time",
          "description": "Time by which shipment should be ready for pick up, this is in local time of pick up area.",
          "type": "string"
        }
      }
    },
    "ShippingAddress": {
      "description": "Shipping address where customer wishes to receive the device.",
      "required": [
        "streetAddress1",
        "country",
        "postalCode"
      ],
      "type": "object",
      "properties": {
        "streetAddress1": {
          "description": "Street Address line 1.",
          "type": "string"
        },
        "streetAddress2": {
          "description": "Street Address line 2.",
          "type": "string"
        },
        "streetAddress3": {
          "description": "Street Address line 3.",
          "type": "string"
        },
        "city": {
          "description": "Name of the City.",
          "type": "string"
        },
        "stateOrProvince": {
          "description": "Name of the State or Province.",
          "type": "string"
        },
        "country": {
          "description": "Name of the Country.",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code.",
          "type": "string"
        },
        "zipExtendedCode": {
          "description": "Extended Zip Code.",
          "type": "string"
        },
        "companyName": {
          "description": "Name of the company.",
          "type": "string"
        },
        "addressType": {
          "description": "Type of address.",
          "enum": [
            "None",
            "Residential",
            "Commercial"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AddressType",
            "modelAsString": false
          }
        }
      }
    },
    "ShippingLabelDetails": {
      "description": "Details for the shipping label.",
      "required": [
        "shippingLabelSasUri"
      ],
      "type": "object",
      "properties": {
        "shippingLabelSasUri": {
          "description": "Sas uri for accessing the shipping label.",
          "type": "string"
        }
      }
    },
    "Sku": {
      "description": "The Sku.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The sku name.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the sku.",
          "type": "string"
        },
        "family": {
          "description": "The sku family.",
          "type": "string"
        }
      }
    },
    "SkuCapacity": {
      "description": "Capacity of the sku.",
      "required": [
        "usable",
        "maximum"
      ],
      "type": "object",
      "properties": {
        "usable": {
          "description": "Usable capacity in TB.",
          "type": "string"
        },
        "maximum": {
          "description": "Maximum capacity in TB.",
          "type": "string"
        }
      }
    },
    "SkuCost": {
      "description": "Describes metadata for retrieving price info.",
      "required": [
        "meterId",
        "meterType"
      ],
      "type": "object",
      "properties": {
        "meterId": {
          "description": "Meter id of the Sku.",
          "type": "string"
        },
        "meterType": {
          "description": "The type of the meter.",
          "type": "string"
        }
      }
    },
    "SkuInformation": {
      "description": "Information of the sku.",
      "required": [
        "sku",
        "enabled",
        "properties"
      ],
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The Sku."
        },
        "enabled": {
          "description": "The sku is enabled or not.",
          "type": "boolean"
        },
        "properties": {
          "$ref": "#/definitions/SkuProperties",
          "description": "Properties of the sku.",
          "x-ms-client-flatten": true
        }
      }
    },
    "SkuProperties": {
      "description": "Properties of the sku.",
      "required": [
        "capacity",
        "costs",
        "apiVersions"
      ],
      "type": "object",
      "properties": {
        "destinationToServiceLocationMap": {
          "description": "The map of destination location to service location.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DestinationToServiceLocationMap"
          }
        },
        "capacity": {
          "$ref": "#/definitions/SkuCapacity",
          "description": "Capacity of the Sku."
        },
        "costs": {
          "description": "Cost of the Sku.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCost"
          }
        },
        "apiVersions": {
          "description": "Api versions that support this Sku.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabledReason": {
          "description": "Reason why the Sku is disabled.",
          "type": "string"
        }
      }
    },
    "UnencryptedSecrets": {
      "description": "Unencrypted secrets for accessing device.",
      "required": [
        "jobName"
      ],
      "type": "object",
      "properties": {
        "jobName": {
          "description": "Name of the job.",
          "type": "string"
        },
        "deviceType": {
          "description": "The Device Type used in the job.",
          "enum": [
            "Pod",
            "Disk",
            "Cabinet"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DeviceType",
            "modelAsString": false
          }
        },
        "jobSecrets": {
          "$ref": "#/definitions/JobSecrets",
          "description": "Secrets related to this job."
        }
      }
    },
    "UpdateJobDetails": {
      "description": "Job details for update.",
      "type": "object",
      "properties": {
        "contactDetails": {
          "$ref": "#/definitions/ContactDetails",
          "description": "Contact details for notification and shipping."
        },
        "shippingAddress": {
          "$ref": "#/definitions/ShippingAddress",
          "description": "Shipping address of the customer."
        }
      }
    },
    "UpdateJobProperties": {
      "description": "Job Properties for update",
      "required": [
        "details"
      ],
      "type": "object",
      "properties": {
        "details": {
          "$ref": "#/definitions/UpdateJobDetails",
          "description": "Details of a job to be updated."
        }
      }
    },
    "ValidateAddress": {
      "description": "The requirements to validate customer address where the device needs to be shipped.",
      "type": "object",
      "properties": {
        "shippingAddress": {
          "$ref": "#/definitions/ShippingAddress",
          "description": "Shipping address of the customer."
        },
        "deviceType": {
          "description": "Device type to be used for the job.",
          "enum": [
            "Pod",
            "Disk",
            "Cabinet"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DeviceType",
            "modelAsString": false
          }
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API Version",
      "required": true,
      "type": "string"
    },
    "jobNameParameter": {
      "name": "jobName",
      "in": "path",
      "description": "The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only",
      "required": true,
      "type": "string",
      "maxLength": 24,
      "minLength": 3,
      "pattern": "^[-\\w\\.]+$",
      "x-ms-parameter-location": "method"
    },
    "locationParameter": {
      "name": "location",
      "in": "path",
      "description": "The location of the resource",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The Resource Group Name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Subscription Id",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}