{
  "swagger": "2.0",
  "info": {
    "title": "Custom Search Client",
    "description": "The Bing Custom Search API lets you send a search query to Bing and get back search results customized to meet your custom search definition.",
    "version": "1.0"
  },
  "parameters": {
    "x-bingapis-sdk": {
      "name": "X-BingApis-SDK",
      "description": "Activate swagger compliance",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "in": "header",
      "x-ms-enum": {
        "name": "XBingApisSDK",
        "modelAsString": true
      },
      "enum": [
        "true"
      ]
    }
  },
  "x-ms-parameterized-host": {
    "hostTemplate": "{Endpoint}",
    "useSchemePrefix": false,
    "parameters": [
      {
        "$ref": "../../../Common/Parameters.json#/parameters/GlobalEndpoint"
      }
    ]
  },
  "host": "api.cognitive.microsoft.com",
  "schemes": [
    "https"
  ],
  "basePath": "/bingcustomsearch/v7.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "The Custom Search API lets you send a search query to Bing and get back web pages found in your custom view of the web.",
        "operationId": "CustomInstance_Search",
        "tags": [
          "CustomSearch"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/x-bingapis-sdk"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept-Language",
            "x-ms-client-name": "AcceptLanguage",
            "in": "header",
            "description": "A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "User-Agent",
            "x-ms-client-name": "UserAgent",
            "in": "header",
            "description": "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-MSEdge-ClientID",
            "x-ms-client-name": "ClientId",
            "in": "header",
            "description": "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-MSEdge-ClientIP",
            "x-ms-client-name": "ClientIp",
            "in": "header",
            "description": "The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Search-Location",
            "x-ms-client-name": "Location",
            "in": "header",
            "description": "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.",
            "required": false,
            "type": "string"
          },
          {
            "name": "customConfig",
            "x-ms-client-name": "CustomConfig",
            "in": "query",
            "description": "The identifier for the custom search configuration",
            "required": true,
            "type": "string"
          },
          {
            "name": "cc",
            "x-ms-client-name": "CountryCode",
            "in": "query",
            "description": "A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "x-ms-client-name": "Count",
            "in": "query",
            "description": "The number of search results to return in the response. The default is 10 and the maximum value is 50. The actual number delivered may be less than requested.Use this parameter along with the offset parameter to page results.For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). It is possible for multiple pages to include some overlap in results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "mkt",
            "x-ms-client-name": "Market",
            "in": "query",
            "description": "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.",
            "required": false,
            "type": "string",
            "default": "en-us"
          },
          {
            "name": "offset",
            "x-ms-client-name": "Offset",
            "in": "query",
            "description": "The zero-based offset that indicates the number of search results to skip before returning results. The default is 0. The offset should be less than (totalEstimatedMatches - count). Use this parameter along with the count parameter to page results. For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). it is possible for multiple pages to include some overlap in results.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "x-ms-client-name": "Query",
            "in": "query",
            "description": "The user's search query term. The term may not be empty. The term may contain Bing Advanced Operators. For example, to limit results to a specific domain, use the site: operator.",
            "required": true,
            "type": "string"
          },
          {
            "name": "safeSearch",
            "x-ms-client-name": "SafeSearch",
            "in": "query",
            "description": "A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content.",
            "required": false,
            "type": "string",
            "enum": [
              "Off",
              "Moderate",
              "Strict"
            ],
            "x-ms-enum": {
              "name": "SafeSearch",
              "modelAsString": true
            }
          },
          {
            "name": "setLang",
            "x-ms-client-name": "SetLang",
            "in": "query",
            "description": "The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "textDecorations",
            "x-ms-client-name": "TextDecorations",
            "in": "query",
            "description": "A Boolean value that determines whether display strings should contain decoration markers such as hit highlighting characters. If true, the strings may include markers. The default is false. To specify whether to use Unicode characters or HTML tags as the markers, see the textFormat query parameter.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "textFormat",
            "x-ms-client-name": "TextFormat",
            "in": "query",
            "description": "The type of markers to use for text decorations (see the textDecorations query parameter). Possible values are Raw—Use Unicode characters to mark content that needs special formatting. The Unicode characters are in the range E000 through E019. For example, Bing uses E000 and E001 to mark the beginning and end of query terms for hit highlighting. HTML—Use HTML tags to mark content that needs special formatting. For example, use <b> tags to highlight query terms in display strings. The default is Raw. For display strings that contain escapable HTML characters such as <, >, and &, if textFormat is set to HTML, Bing escapes the characters as appropriate (for example, < is escaped to &lt;).",
            "required": false,
            "type": "string",
            "enum": [
              "Raw",
              "Html"
            ],
            "x-ms-enum": {
              "name": "TextFormat",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "default": {
            "description": "An error has occurred. Check the response type and/or status code for more details.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful query": {
            "$ref": "./examples//SuccessfulQueryRequest.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SearchResponse": {
      "description": "Defines the top-level object that the response includes when the request succeeds.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "queryContext": {
          "description": "An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.",
          "$ref": "#/definitions/QueryContext",
          "readOnly": true
        },
        "webPages": {
          "description": "A list of webpages that are relevant to the search query.",
          "$ref": "#/definitions/WebWebAnswer",
          "readOnly": true
        }
      }
    },
    "Response": {
      "description": "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
      "allOf": [
        {
          "$ref": "#/definitions/Identifiable"
        }
      ],
      "type": "object",
      "properties": {
        "webSearchUrl": {
          "description": "The URL To Bing's search result for this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "QueryContext": {
      "description": "Defines the query context that Bing used for the request.",
      "type": "object",
      "required": [
        "originalQuery"
      ],
      "properties": {
        "originalQuery": {
          "description": "The query string as specified in the request.",
          "type": "string"
        },
        "alteredQuery": {
          "description": "The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is \"saling downwind\", the altered query string will be \"sailing downwind\". This field is included only if the original query string contains a spelling mistake.",
          "readOnly": true,
          "type": "string"
        },
        "alterationOverrideQuery": {
          "description": "The query string to use to force Bing to use the original string. For example, if the query string is \"saling downwind\", the override query string will be \"+saling downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\". This field is included only if the original query string contains a spelling mistake.",
          "readOnly": true,
          "type": "string"
        },
        "adultIntent": {
          "description": "A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "WebWebAnswer": {
      "description": "Defines a list of relevant webpage links.",
      "x-ms-discriminator-value": "Web/WebAnswer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of webpages that are relevant to the query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "someResultsRemoved": {
          "description": "A Boolean value that indicates whether the response excluded some results from the answer. If Bing excluded some results, the value is true.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "SearchResultsAnswer": {
      "allOf": [
        {
          "$ref": "#/definitions/Answer"
        }
      ],
      "type": "object",
      "properties": {
        "queryContext": {
          "$ref": "#/definitions/QueryContext",
          "readOnly": true
        },
        "totalEstimatedMatches": {
          "description": "The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "isFamilyFriendly": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "Identifiable": {
      "description": "Defines the identity of a resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ResponseBase"
        }
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "A String identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebPage": {
      "description": "Defines a webpage that is relevant to the query.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "displayUrl": {
          "description": "The display URL of the webpage. The URL is meant for display purposes only and is not well formed.",
          "readOnly": true,
          "type": "string"
        },
        "snippet": {
          "description": "A snippet of text from the webpage that describes its contents.",
          "readOnly": true,
          "type": "string"
        },
        "deepLinks": {
          "description": "A list of links to related content that Bing found in the website that contains this webpage. The Webpage object in this context includes only the name, url, urlPingSuffix, and snippet fields.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "dateLastCrawled": {
          "description": "The last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS. For example, 2015-04-13T05:23:39.",
          "readOnly": true,
          "type": "string"
        },
        "searchTags": {
          "description": "A list of search tags that the webpage owner specified on the webpage. The API returns only indexed search tags. The name field of the MetaTag object contains the indexed search tag. Search tags begin with search.* (for example, search.assetId). The content field contains the tag's value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebMetaTag"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "The top-level response that represents a failed request.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "A list of errors that describe the reasons why the request failed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Answer": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "followUpQueries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Query": {
      "description": "Defines a search query.",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "The query string. Use this string as the query term in a new search request.",
          "type": "string"
        },
        "displayText": {
          "description": "The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL that takes the user to the Bing search results page for the query.Only related search results include this field.",
          "readOnly": true,
          "type": "string"
        },
        "searchLink": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Thing": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "The URL to get more information about the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A short description of the item.",
          "readOnly": true,
          "type": "string"
        },
        "bingId": {
          "description": "An ID that uniquely identifies this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreativeWork": {
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "The URL to a thumbnail of the item.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The source of the creative work.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "text": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebMetaTag": {
      "description": "Defines a webpage's metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The metadata.",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "description": "The name of the metadata.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResponseBase": {
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "_type": {
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Defines the error that occurred.",
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "The error code that identifies the category of error.",
          "type": "string",
          "default": "None",
          "enum": [
            "None",
            "ServerError",
            "InvalidRequest",
            "RateLimitExceeded",
            "InvalidAuthorization",
            "InsufficientAuthorization"
          ],
          "x-ms-enum": {
            "name": "ErrorCode",
            "modelAsString": true
          }
        },
        "subCode": {
          "description": "The error code that further helps to identify the error.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UnexpectedError",
            "ResourceError",
            "NotImplemented",
            "ParameterMissing",
            "ParameterInvalidValue",
            "HttpNotAllowed",
            "Blocked",
            "AuthorizationMissing",
            "AuthorizationRedundancy",
            "AuthorizationDisabled",
            "AuthorizationExpired"
          ],
          "x-ms-enum": {
            "name": "ErrorSubCode",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "moreDetails": {
          "description": "A description that provides additional information about the error.",
          "readOnly": true,
          "type": "string"
        },
        "parameter": {
          "description": "The parameter in the request that caused the error.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The parameter's value in the request that was not valid.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  }
}
