{
  "swagger": "2.0",
  "info": {
    "title": "ScVmm",
    "version": "2024-06-01",
    "description": "The Microsoft.ScVmm Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "VmmServers"
    },
    {
      "name": "Clouds"
    },
    {
      "name": "VirtualNetworks"
    },
    {
      "name": "VirtualMachineTemplates"
    },
    {
      "name": "AvailabilitySets"
    },
    {
      "name": "InventoryItems"
    },
    {
      "name": "VirtualMachineInstances"
    },
    {
      "name": "VmInstanceHybridIdentityMetadatas"
    },
    {
      "name": "GuestAgents"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances": {
      "get": {
        "operationId": "VirtualMachineInstances_List",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements List virtual machine instances.",
        "description": "Lists all of the virtual machine instances within the specified parent resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_List_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_List_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_List_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default": {
      "get": {
        "operationId": "VirtualMachineInstances_Get",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Gets a virtual machine.",
        "description": "Retrieves information about a virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_Get_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_Get_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineInstances_CreateOrUpdate",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements virtual machine PUT method.",
        "description": "The operation to create or update a virtual machine instance. Please note some properties can be set only during virtual machine instance creation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualMachineInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "201": {
            "description": "Resource 'VirtualMachineInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualMachineInstances_Update",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Updates a virtual machine.",
        "description": "The operation to update a virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_Update_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_Update_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_Update_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachineInstances_Delete",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Deletes an virtual machine.",
        "description": "The operation to delete a virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/QueryForceDelete"
          },
          {
            "name": "deleteFromHost",
            "in": "query",
            "description": "Whether to disable the VM from azure and also delete it from Vmm.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "x-ms-enum": {
              "name": "DeleteFromHost",
              "modelAsString": true,
              "values": [
                {
                  "name": "true",
                  "value": "true",
                  "description": "Enable delete from host."
                },
                {
                  "name": "false",
                  "value": "false",
                  "description": "Disable delete from host."
                }
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_Delete_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_Delete_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_Delete_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/createCheckpoint": {
      "post": {
        "operationId": "VirtualMachineInstances_CreateCheckpoint",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements the operation to creates a checkpoint in a virtual machine instance.",
        "description": "Creates a checkpoint in virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineCreateCheckpoint"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_CreateCheckpoint_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_CreateCheckpoint_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_CreateCheckpoint_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_CreateCheckpoint_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/deleteCheckpoint": {
      "post": {
        "operationId": "VirtualMachineInstances_DeleteCheckpoint",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements the operation to delete a checkpoint in a virtual machine instance.",
        "description": "Deletes a checkpoint in virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineDeleteCheckpoint"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_DeleteCheckpoint_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_DeleteCheckpoint_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_DeleteCheckpoint_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_DeleteCheckpoint_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/guestAgents": {
      "get": {
        "operationId": "GuestAgents_ListByVirtualMachineInstance",
        "tags": [
          "GuestAgents"
        ],
        "summary": "Implements GET GuestAgent in a vm.",
        "description": "Returns the list of GuestAgent of the given vm.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestAgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuestAgents_ListByVirtualMachineInstance_MaximumSet": {
            "$ref": "./examples/GuestAgents_ListByVirtualMachineInstance_MaximumSet_Gen.json"
          },
          "GuestAgents_ListByVirtualMachineInstance_MinimumSet": {
            "$ref": "./examples/GuestAgents_ListByVirtualMachineInstance_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/guestAgents/default": {
      "get": {
        "operationId": "GuestAgents_Get",
        "tags": [
          "GuestAgents"
        ],
        "summary": "Gets GuestAgent.",
        "description": "Implements GuestAgent GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuestAgents_Get_MaximumSet": {
            "$ref": "./examples/GuestAgents_Get_MaximumSet_Gen.json"
          },
          "GuestAgents_Get_MinimumSet": {
            "$ref": "./examples/GuestAgents_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GuestAgents_Create",
        "tags": [
          "GuestAgents"
        ],
        "summary": "Implements GuestAgent PUT method.",
        "description": "Create Or Update GuestAgent.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GuestAgent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            }
          },
          "201": {
            "description": "Resource 'GuestAgent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuestAgent"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuestAgents_Create_MaximumSet": {
            "$ref": "./examples/GuestAgents_Create_MaximumSet_Gen.json"
          },
          "GuestAgents_Create_MinimumSet": {
            "$ref": "./examples/GuestAgents_Create_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GuestAgents_Delete",
        "tags": [
          "GuestAgents"
        ],
        "summary": "Deletes a GuestAgent resource.",
        "description": "Implements GuestAgent DELETE method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuestAgents_Delete_MaximumSet": {
            "$ref": "./examples/GuestAgents_Delete_MaximumSet_Gen.json"
          },
          "GuestAgents_Delete_MinimumSet": {
            "$ref": "./examples/GuestAgents_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/hybridIdentityMetadata": {
      "get": {
        "operationId": "VmInstanceHybridIdentityMetadatas_ListByVirtualMachineInstance",
        "tags": [
          "VmInstanceHybridIdentityMetadatas"
        ],
        "summary": "Implements GET HybridIdentityMetadata in a vm.",
        "description": "Returns the list of HybridIdentityMetadata of the given VM.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmInstanceHybridIdentityMetadataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmInstanceHybridIdentityMetadatas_ListByVirtualMachineInstance_MaximumSet": {
            "$ref": "./examples/VmInstanceHybridIdentityMetadatas_ListByVirtualMachineInstance_MaximumSet_Gen.json"
          },
          "VmInstanceHybridIdentityMetadatas_ListByVirtualMachineInstance_MinimumSet": {
            "$ref": "./examples/VmInstanceHybridIdentityMetadatas_ListByVirtualMachineInstance_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/hybridIdentityMetadata/default": {
      "get": {
        "operationId": "VmInstanceHybridIdentityMetadatas_Get",
        "tags": [
          "VmInstanceHybridIdentityMetadatas"
        ],
        "summary": "Gets HybridIdentityMetadata.",
        "description": "Implements HybridIdentityMetadata GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmInstanceHybridIdentityMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmInstanceHybridIdentityMetadatas_Get_MaximumSet": {
            "$ref": "./examples/VmInstanceHybridIdentityMetadatas_Get_MaximumSet_Gen.json"
          },
          "VmInstanceHybridIdentityMetadatas_Get_MinimumSet": {
            "$ref": "./examples/VmInstanceHybridIdentityMetadatas_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/restart": {
      "post": {
        "operationId": "VirtualMachineInstances_Restart",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements the operation to restart a virtual machine.",
        "description": "The operation to restart a virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_Restart_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_Restart_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_Restart_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_Restart_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/restoreCheckpoint": {
      "post": {
        "operationId": "VirtualMachineInstances_RestoreCheckpoint",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements the operation to restores to a checkpoint in a virtual machine instance.",
        "description": "Restores to a checkpoint in virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineRestoreCheckpoint"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_RestoreCheckpoint_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_RestoreCheckpoint_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_RestoreCheckpoint_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_RestoreCheckpoint_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/start": {
      "post": {
        "operationId": "VirtualMachineInstances_Start",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements the operation to start a virtual machine.",
        "description": "The operation to start a virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_Start_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_Start_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_Start_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_Start_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ScVmm/virtualMachineInstances/default/stop": {
      "post": {
        "operationId": "VirtualMachineInstances_Stop",
        "tags": [
          "VirtualMachineInstances"
        ],
        "summary": "Implements the operation to stop a virtual machine.",
        "description": "The operation to power off (stop) a virtual machine instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopVirtualMachineOptions"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineInstances_Stop_MaximumSet": {
            "$ref": "./examples/VirtualMachineInstances_Stop_MaximumSet_Gen.json"
          },
          "VirtualMachineInstances_Stop_MinimumSet": {
            "$ref": "./examples/VirtualMachineInstances_Stop_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ScVmm/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/availabilitySets": {
      "get": {
        "operationId": "AvailabilitySets_ListBySubscription",
        "tags": [
          "AvailabilitySets"
        ],
        "summary": "Implements GET AvailabilitySets in a subscription.",
        "description": "List of AvailabilitySets in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_ListBySubscription_MaximumSet": {
            "$ref": "./examples/AvailabilitySets_ListBySubscription_MaximumSet_Gen.json"
          },
          "AvailabilitySets_ListBySubscription_MinimumSet": {
            "$ref": "./examples/AvailabilitySets_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/clouds": {
      "get": {
        "operationId": "Clouds_ListBySubscription",
        "tags": [
          "Clouds"
        ],
        "summary": "Implements GET Clouds in a subscription.",
        "description": "List of Clouds in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_ListBySubscription_MaximumSet": {
            "$ref": "./examples/Clouds_ListBySubscription_MaximumSet_Gen.json"
          },
          "Clouds_ListBySubscription_MinimumSet": {
            "$ref": "./examples/Clouds_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/virtualMachineTemplates": {
      "get": {
        "operationId": "VirtualMachineTemplates_ListBySubscription",
        "tags": [
          "VirtualMachineTemplates"
        ],
        "summary": "Implements GET VirtualMachineTemplates in a subscription.",
        "description": "List of VirtualMachineTemplates in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineTemplates_ListBySubscription_MaximumSet": {
            "$ref": "./examples/VirtualMachineTemplates_ListBySubscription_MaximumSet_Gen.json"
          },
          "VirtualMachineTemplates_ListBySubscription_MinimumSet": {
            "$ref": "./examples/VirtualMachineTemplates_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/virtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListBySubscription",
        "tags": [
          "VirtualNetworks"
        ],
        "summary": "Implements GET VirtualNetworks in a subscription.",
        "description": "List of VirtualNetworks in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_ListBySubscription_MaximumSet": {
            "$ref": "./examples/VirtualNetworks_ListBySubscription_MaximumSet_Gen.json"
          },
          "VirtualNetworks_ListBySubscription_MinimumSet": {
            "$ref": "./examples/VirtualNetworks_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ScVmm/vmmServers": {
      "get": {
        "operationId": "VmmServers_ListBySubscription",
        "tags": [
          "VmmServers"
        ],
        "summary": "Implements GET VmmServers in a subscription.",
        "description": "List of VmmServers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmmServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmmServers_ListBySubscription_MaximumSet": {
            "$ref": "./examples/VmmServers_ListBySubscription_MaximumSet_Gen.json"
          },
          "VmmServers_ListBySubscription_MinimumSet": {
            "$ref": "./examples/VmmServers_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/availabilitySets": {
      "get": {
        "operationId": "AvailabilitySets_ListByResourceGroup",
        "tags": [
          "AvailabilitySets"
        ],
        "summary": "Implements GET AvailabilitySets in a resource group.",
        "description": "List of AvailabilitySets in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/AvailabilitySets_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "AvailabilitySets_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/AvailabilitySets_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/availabilitySets/{availabilitySetResourceName}": {
      "get": {
        "operationId": "AvailabilitySets_Get",
        "tags": [
          "AvailabilitySets"
        ],
        "summary": "Gets an AvailabilitySet.",
        "description": "Implements AvailabilitySet GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetResourceName",
            "in": "path",
            "description": "Name of the AvailabilitySet.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_Get_MaximumSet": {
            "$ref": "./examples/AvailabilitySets_Get_MaximumSet_Gen.json"
          },
          "AvailabilitySets_Get_MinimumSet": {
            "$ref": "./examples/AvailabilitySets_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AvailabilitySets_CreateOrUpdate",
        "tags": [
          "AvailabilitySets"
        ],
        "summary": "Implements AvailabilitySets PUT method.",
        "description": "Onboards the ScVmm availability set as an Azure resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetResourceName",
            "in": "path",
            "description": "Name of the AvailabilitySet.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AvailabilitySet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "201": {
            "description": "Resource 'AvailabilitySet' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/AvailabilitySets_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "AvailabilitySets_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/AvailabilitySets_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AvailabilitySets_Update",
        "tags": [
          "AvailabilitySets"
        ],
        "summary": "Implements the AvailabilitySets PATCH method.",
        "description": "Updates the AvailabilitySets resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "availabilitySetResourceName",
            "in": "path",
            "description": "Name of the AvailabilitySet.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySetTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_Update_MaximumSet": {
            "$ref": "./examples/AvailabilitySets_Update_MaximumSet_Gen.json"
          },
          "AvailabilitySets_Update_MinimumSet": {
            "$ref": "./examples/AvailabilitySets_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AvailabilitySets_Delete",
        "tags": [
          "AvailabilitySets"
        ],
        "summary": "Implements AvailabilitySet DELETE method.",
        "description": "Deregisters the ScVmm availability set from Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/QueryForceDelete"
          },
          {
            "name": "availabilitySetResourceName",
            "in": "path",
            "description": "Name of the AvailabilitySet.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_Delete_MaximumSet": {
            "$ref": "./examples/AvailabilitySets_Delete_MaximumSet_Gen.json"
          },
          "AvailabilitySets_Delete_MinimumSet": {
            "$ref": "./examples/AvailabilitySets_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/clouds": {
      "get": {
        "operationId": "Clouds_ListByResourceGroup",
        "tags": [
          "Clouds"
        ],
        "summary": "Implements GET Clouds in a resource group.",
        "description": "List of Clouds in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/Clouds_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Clouds_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/Clouds_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/clouds/{cloudResourceName}": {
      "get": {
        "operationId": "Clouds_Get",
        "tags": [
          "Clouds"
        ],
        "summary": "Gets a Cloud.",
        "description": "Implements Cloud GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudResourceName",
            "in": "path",
            "description": "Name of the Cloud.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_Get_MaximumSet": {
            "$ref": "./examples/Clouds_Get_MaximumSet_Gen.json"
          },
          "Clouds_Get_MinimumSet": {
            "$ref": "./examples/Clouds_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Clouds_CreateOrUpdate",
        "tags": [
          "Clouds"
        ],
        "summary": "Implements Clouds PUT method.",
        "description": "Onboards the ScVmm fabric cloud as an Azure cloud resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudResourceName",
            "in": "path",
            "description": "Name of the Cloud.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Cloud' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "201": {
            "description": "Resource 'Cloud' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cloud"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/Clouds_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Clouds_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/Clouds_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Clouds_Update",
        "tags": [
          "Clouds"
        ],
        "summary": "Implements the Clouds PATCH method.",
        "description": "Updates the Clouds resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudResourceName",
            "in": "path",
            "description": "Name of the Cloud.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_Update_MaximumSet": {
            "$ref": "./examples/Clouds_Update_MaximumSet_Gen.json"
          },
          "Clouds_Update_MinimumSet": {
            "$ref": "./examples/Clouds_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Clouds_Delete",
        "tags": [
          "Clouds"
        ],
        "summary": "Implements Cloud resource DELETE method.",
        "description": "Deregisters the ScVmm fabric cloud from Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/QueryForceDelete"
          },
          {
            "name": "cloudResourceName",
            "in": "path",
            "description": "Name of the Cloud.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_Delete_MaximumSet": {
            "$ref": "./examples/Clouds_Delete_MaximumSet_Gen.json"
          },
          "Clouds_Delete_MinimumSet": {
            "$ref": "./examples/Clouds_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates": {
      "get": {
        "operationId": "VirtualMachineTemplates_ListByResourceGroup",
        "tags": [
          "VirtualMachineTemplates"
        ],
        "summary": "Implements GET VirtualMachineTemplates in a resource group.",
        "description": "List of VirtualMachineTemplates in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineTemplates_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/VirtualMachineTemplates_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VirtualMachineTemplates_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/VirtualMachineTemplates_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachineTemplates/{virtualMachineTemplateName}": {
      "get": {
        "operationId": "VirtualMachineTemplates_Get",
        "tags": [
          "VirtualMachineTemplates"
        ],
        "summary": "Gets a VirtualMachineTemplate.",
        "description": "Implements VirtualMachineTemplate GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineTemplateName",
            "in": "path",
            "description": "Name of the VirtualMachineTemplate.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineTemplates_Get_MaximumSet": {
            "$ref": "./examples/VirtualMachineTemplates_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineTemplates_Get_MinimumSet": {
            "$ref": "./examples/VirtualMachineTemplates_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineTemplates_CreateOrUpdate",
        "tags": [
          "VirtualMachineTemplates"
        ],
        "summary": "Implements VirtualMachineTemplates PUT method.",
        "description": "Onboards the ScVmm VM Template as an Azure VM Template resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineTemplateName",
            "in": "path",
            "description": "Name of the VirtualMachineTemplate.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualMachineTemplate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "201": {
            "description": "Resource 'VirtualMachineTemplate' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineTemplates_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/VirtualMachineTemplates_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualMachineTemplates_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/VirtualMachineTemplates_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualMachineTemplates_Update",
        "tags": [
          "VirtualMachineTemplates"
        ],
        "summary": "Implements the VirtualMachineTemplate PATCH method.",
        "description": "Updates the VirtualMachineTemplate resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineTemplateName",
            "in": "path",
            "description": "Name of the VirtualMachineTemplate.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplateTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplate"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineTemplates_Update_MaximumSet": {
            "$ref": "./examples/VirtualMachineTemplates_Update_MaximumSet_Gen.json"
          },
          "VirtualMachineTemplates_Update_MinimumSet": {
            "$ref": "./examples/VirtualMachineTemplates_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachineTemplates_Delete",
        "tags": [
          "VirtualMachineTemplates"
        ],
        "summary": "Implements VirtualMachineTemplate DELETE method.",
        "description": "Deregisters the ScVmm VM Template from Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/QueryForceDelete"
          },
          {
            "name": "virtualMachineTemplateName",
            "in": "path",
            "description": "Name of the VirtualMachineTemplate.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineTemplates_Delete_MaximumSet": {
            "$ref": "./examples/VirtualMachineTemplates_Delete_MaximumSet_Gen.json"
          },
          "VirtualMachineTemplates_Delete_MinimumSet": {
            "$ref": "./examples/VirtualMachineTemplates_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListByResourceGroup",
        "tags": [
          "VirtualNetworks"
        ],
        "summary": "Implements GET VirtualNetworks in a resource group.",
        "description": "List of VirtualNetworks in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/VirtualNetworks_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VirtualNetworks_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/VirtualNetworks_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualNetworks/{virtualNetworkName}": {
      "get": {
        "operationId": "VirtualNetworks_Get",
        "tags": [
          "VirtualNetworks"
        ],
        "summary": "Gets a VirtualNetwork.",
        "description": "Implements VirtualNetwork GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Name of the VirtualNetwork.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_Get_MaximumSet": {
            "$ref": "./examples/VirtualNetworks_Get_MaximumSet_Gen.json"
          },
          "VirtualNetworks_Get_MinimumSet": {
            "$ref": "./examples/VirtualNetworks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworks_CreateOrUpdate",
        "tags": [
          "VirtualNetworks"
        ],
        "summary": "Implements VirtualNetworks PUT method.",
        "description": "Onboards the ScVmm virtual network as an Azure virtual network resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Name of the VirtualNetwork.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetwork' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetwork' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/VirtualNetworks_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualNetworks_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/VirtualNetworks_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworks_Update",
        "tags": [
          "VirtualNetworks"
        ],
        "summary": "Implements the VirtualNetworks PATCH method.",
        "description": "Updates the VirtualNetworks resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Name of the VirtualNetwork.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetwork"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_Update_MaximumSet": {
            "$ref": "./examples/VirtualNetworks_Update_MaximumSet_Gen.json"
          },
          "VirtualNetworks_Update_MinimumSet": {
            "$ref": "./examples/VirtualNetworks_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualNetworks_Delete",
        "tags": [
          "VirtualNetworks"
        ],
        "summary": "Implements VirtualNetwork DELETE method.",
        "description": "Deregisters the ScVmm virtual network from Azure.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/QueryForceDelete"
          },
          {
            "name": "virtualNetworkName",
            "in": "path",
            "description": "Name of the VirtualNetwork.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualNetworks_Delete_MaximumSet": {
            "$ref": "./examples/VirtualNetworks_Delete_MaximumSet_Gen.json"
          },
          "VirtualNetworks_Delete_MinimumSet": {
            "$ref": "./examples/VirtualNetworks_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers": {
      "get": {
        "operationId": "VmmServers_ListByResourceGroup",
        "tags": [
          "VmmServers"
        ],
        "summary": "Implements GET VmmServers in a resource group.",
        "description": "List of VmmServers in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmmServerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmmServers_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/VmmServers_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VmmServers_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/VmmServers_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/vmmServers/{vmmServerName}": {
      "get": {
        "operationId": "VmmServers_Get",
        "tags": [
          "VmmServers"
        ],
        "summary": "Gets a VMMServer.",
        "description": "Implements VmmServer GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vmmServerName",
            "in": "path",
            "description": "Name of the VmmServer.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmmServer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmmServers_Get_MaximumSet": {
            "$ref": "./examples/VmmServers_Get_MaximumSet_Gen.json"
          },
          "VmmServers_Get_MinimumSet": {
            "$ref": "./examples/VmmServers_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VmmServers_CreateOrUpdate",
        "tags": [
          "VmmServers"
        ],
        "summary": "Implements VmmServers PUT method.",
        "description": "Onboards the SCVmm fabric as an Azure VmmServer resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vmmServerName",
            "in": "path",
            "description": "Name of the VmmServer.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "[a-zA-Z0-9-_\\.]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VmmServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VmmServer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VmmServer"
            }
          },
          "201": {
            "description": "Resource 'VmmServer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VmmServer"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmmServers_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/VmmServers_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VmmServers_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/VmmServers_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VmmServers_Update",
        "tags": [
          "VmmServers"
        ],
        "summary": "Implements VmmServers PATCH method.",
        "description": "Updates the VmmServers resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
[...]
