{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-15",
    "title": "DevTestLabsClient",
    "description": "The DevTest Labs Client."
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs": {
      "get": {
        "tags": [ "Lab" ],
        "description": "List labs in a subscription.",
        "operationId": "Lab_ListBySubscription",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=storageDetails)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Lab]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Lab"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules": {
      "get": {
        "tags": [ "GlobalSchedule" ],
        "description": "List schedules in a subscription.",
        "operationId": "GlobalSchedule_ListBySubscription",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=status)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Schedule]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Schedule"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs": {
      "get": {
        "tags": [ "Lab" ],
        "description": "List labs in a resource group.",
        "operationId": "Lab_ListByResourceGroup",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=storageDetails)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Lab]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Lab"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources": {
      "get": {
        "tags": [ "ArtifactSource" ],
        "description": "List artifact sources in a given lab.",
        "operationId": "ArtifactSource_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[ArtifactSource]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/ArtifactSource"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates": {
      "get": {
        "tags": [ "ArmTemplate" ],
        "description": "List azure resource manager templates in a given artifact source.",
        "operationId": "ArmTemplate_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSourceName",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[ArmTemplate]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/ArmTemplate"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}": {
      "get": {
        "tags": [ "ArmTemplate" ],
        "description": "Get azure resource manager template.",
        "operationId": "ArmTemplate_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSourceName",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the azure Resource Manager template.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArmTemplate" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts": {
      "get": {
        "tags": [ "Artifact" ],
        "description": "List artifacts in a given artifact source.",
        "operationId": "Artifact_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSourceName",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=title)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Artifact]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Artifact"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}": {
      "get": {
        "tags": [ "Artifact" ],
        "description": "Get artifact.",
        "operationId": "Artifact_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSourceName",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=title)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Artifact" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate": {
      "post": {
        "tags": [ "Artifact" ],
        "description": "Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.",
        "operationId": "Artifact_GenerateArmTemplate",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSourceName",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact.",
            "required": true,
            "type": "string"
          },
          {
            "name": "generateArmTemplateRequest",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/GenerateArmTemplateRequest" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArmTemplateInfo" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}": {
      "get": {
        "tags": [ "ArtifactSource" ],
        "description": "Get artifact source.",
        "operationId": "ArtifactSource_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArtifactSource" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "ArtifactSource" ],
        "description": "Create or replace an existing artifact source.",
        "operationId": "ArtifactSource_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSource",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ArtifactSource" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArtifactSource" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/ArtifactSource" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "delete": {
        "tags": [ "ArtifactSource" ],
        "description": "Delete artifact source.",
        "operationId": "ArtifactSource_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "patch": {
        "tags": [ "ArtifactSource" ],
        "description": "Modify properties of artifact sources.",
        "operationId": "ArtifactSource_PatchResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "artifactSource",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ArtifactSource" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ArtifactSource" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}": {
      "get": {
        "tags": [ "Cost" ],
        "description": "Get cost.",
        "operationId": "Cost_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the cost.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=labCostDetails)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/LabCost" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "Cost" ],
        "description": "Create or replace an existing cost.",
        "operationId": "Cost_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the cost.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labCost",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/LabCost" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/LabCost" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/LabCost" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages": {
      "get": {
        "tags": [ "CustomImage" ],
        "description": "List custom images in a given lab.",
        "operationId": "CustomImage_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=vm)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[CustomImage]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/CustomImage"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}": {
      "get": {
        "tags": [ "CustomImage" ],
        "description": "Get custom image.",
        "operationId": "CustomImage_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=vm)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomImage" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "CustomImage" ],
        "description": "Create or replace an existing custom image. This operation can take a while to complete.",
        "operationId": "CustomImage_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string"
          },
          {
            "name": "customImage",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CustomImage" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/CustomImage" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/CustomImage" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [ "CustomImage" ],
        "description": "Delete custom image. This operation can take a while to complete.",
        "operationId": "CustomImage_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "202": { "description": "Accepted" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas": {
      "get": {
        "tags": [ "Formula" ],
        "description": "List formulas in a given lab.",
        "operationId": "Formula_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Formula]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Formula"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}": {
      "get": {
        "tags": [ "Formula" ],
        "description": "Get formula.",
        "operationId": "Formula_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Formula" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "Formula" ],
        "description": "Create or replace an existing Formula. This operation can take a while to complete.",
        "operationId": "Formula_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string"
          },
          {
            "name": "formula",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Formula" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Formula" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/Formula" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [ "Formula" ],
        "description": "Delete formula.",
        "operationId": "Formula_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages": {
      "get": {
        "tags": [ "GalleryImage" ],
        "description": "List gallery images in a given lab.",
        "operationId": "GalleryImage_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=author)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[GalleryImage]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/GalleryImage"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels": {
      "get": {
        "tags": [ "NotificationChannel" ],
        "description": "List notificationchannels in a given lab.",
        "operationId": "NotificationChannel_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=webHookUrl)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[NotificationChannel]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/NotificationChannel"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}": {
      "get": {
        "tags": [ "NotificationChannel" ],
        "description": "Get notificationchannel.",
        "operationId": "NotificationChannel_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notificationChannel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=webHookUrl)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/NotificationChannel" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "NotificationChannel" ],
        "description": "Create or replace an existing notificationChannel.",
        "operationId": "NotificationChannel_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notificationChannel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationChannel",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/NotificationChannel" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/NotificationChannel" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/NotificationChannel" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "delete": {
        "tags": [ "NotificationChannel" ],
        "description": "Delete notificationchannel.",
        "operationId": "NotificationChannel_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notificationChannel.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "patch": {
        "tags": [ "NotificationChannel" ],
        "description": "Modify properties of notificationchannels.",
        "operationId": "NotificationChannel_PatchResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notificationChannel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationChannel",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/NotificationChannel" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/NotificationChannel" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify": {
      "post": {
        "tags": [ "NotificationChannel" ],
        "description": "Send notification to provided channel.",
        "operationId": "NotificationChannel_Notify",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notificationChannel.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notifyParameters",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/NotifyParameters" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies": {
      "post": {
        "tags": [ "PolicySet" ],
        "description": "Evaluates lab policy.",
        "operationId": "PolicySet_EvaluatePolicies",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "evaluatePoliciesRequest",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/EvaluatePoliciesRequest" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/EvaluatePoliciesResponse" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies": {
      "get": {
        "tags": [ "Policy" ],
        "description": "List policies in a given policy set.",
        "operationId": "Policy_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetName",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Policy]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Policy"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}": {
      "get": {
        "tags": [ "Policy" ],
        "description": "Get policy.",
        "operationId": "Policy_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetName",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Policy" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "Policy" ],
        "description": "Create or replace an existing policy.",
        "operationId": "Policy_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetName",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policy",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Policy" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Policy" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/Policy" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "delete": {
        "tags": [ "Policy" ],
        "description": "Delete policy.",
        "operationId": "Policy_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetName",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "patch": {
        "tags": [ "Policy" ],
        "description": "Modify properties of policies.",
        "operationId": "Policy_PatchResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetName",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policy",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Policy" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Policy" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules": {
      "get": {
        "tags": [ "Schedule" ],
        "description": "List schedules in a given lab.",
        "operationId": "Schedule_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=status)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Schedule]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/Schedule"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}": {
      "get": {
        "tags": [ "Schedule" ],
        "description": "Get schedule.",
        "operationId": "Schedule_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=status)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Schedule" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "Schedule" ],
        "description": "Create or replace an existing schedule.",
        "operationId": "Schedule_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "schedule",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Schedule" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Schedule" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/Schedule" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "delete": {
        "tags": [ "Schedule" ],
        "description": "Delete schedule.",
        "operationId": "Schedule_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "patch": {
        "tags": [ "Schedule" ],
        "description": "Modify properties of schedules.",
        "operationId": "Schedule_PatchResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "schedule",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Schedule" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/Schedule" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute": {
      "post": {
        "tags": [ "Schedule" ],
        "description": "Execute a schedule. This operation can take a while to complete.",
        "operationId": "Schedule_Execute",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "202": { "description": "Accepted" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable": {
      "post": {
        "tags": [ "Schedule" ],
        "description": "Lists all applicable schedules",
        "operationId": "Schedule_ListApplicable",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[Schedule]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners": {
      "get": {
        "tags": [ "ServiceRunner" ],
        "description": "List service runners in a given lab.",
        "operationId": "ServiceRunner_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[ServiceRunner]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/ServiceRunner"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners/{name}": {
      "get": {
        "tags": [ "ServiceRunner" ],
        "description": "Get service runner.",
        "operationId": "ServiceRunner_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the service runner.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ServiceRunner" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "ServiceRunner" ],
        "description": "Create or replace an existing Service runner.",
        "operationId": "ServiceRunner_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the service runner.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceRunner",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/ServiceRunner" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ServiceRunner" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/ServiceRunner" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "delete": {
        "tags": [ "ServiceRunner" ],
        "description": "Delete service runner.",
        "operationId": "ServiceRunner_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the service runner.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users": {
      "get": {
        "tags": [ "User" ],
        "description": "List user profiles in a given lab.",
        "operationId": "User_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=identity)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation.",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ResponseWithContinuation[User]" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-pageable": { "nextLinkName": "nextLink" },
        "x-ms-odata": "#/definitions/User"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{name}": {
      "get": {
        "tags": [ "User" ],
        "description": "Get user profile.",
        "operationId": "User_GetResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the user profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=identity)'",
            "required": false,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "put": {
        "tags": [ "User" ],
        "description": "Create or replace an existing user profile.",
        "operationId": "User_CreateOrUpdateResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the user profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/User" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/User" }
          },
          "201": {
            "description": "Created",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      },
      "delete": {
        "tags": [ "User" ],
        "description": "Delete user profile. This operation can take a while to complete.",
        "operationId": "User_DeleteResource",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the user profile.",
            "required": true,
            "type": "string"
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "202": { "description": "Accepted" },
          "204": { "description": "No Content" },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ],
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [ "User" ],
        "description": "Modify properties of user profiles.",
        "operationId": "User_PatchResource",
        "consumes": [ "application/json", "text/json" ],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the user profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "user",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/User" }
          },
          { "$ref": "#/parameters/api-version" }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "BadRequest",
            "schema": { "$ref": "#/definitions/CloudError" }
          }
        },
        "security": [ { "oauth2": [ "user_impersonation" ] } ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/users/{userName}/disks": {
      "get": {
        "tags": [ "Disk" ],
        "description": "List disks in a given user profile.",
        "operationId": "Disk_List",
        "consumes": [],
        "produces": [ "application/json", "text/json" ],
        "parameters": [
          { "$ref": "#/parameters/subscriptionId" },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "labName",
            "in": "path",
            "description": "The name of the lab.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userName",
            "in": "path",
            "description": "The name of the user profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=diskType)'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
[...]
