{
  "swagger": "2.0",
  "info": {
    "title": "PlaywrightTesting Client",
    "description": "PlaywrightTesting client provides access to PlaywrightService Resource and it's status operations.",
    "version": "2022-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/providers/Microsoft.PlaywrightTesting/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all the available API operations for PlaywrightService Resource.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlaywrightTesting/workspaces": {
      "get": {
        "tags": [
          "PlaywrightWorkspaces"
        ],
        "description": "Lists playwright workspace resources in a subscription.",
        "operationId": "PlaywrightWorkspaces_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlaywrightWorkspaces_ListBySubscription": {
            "$ref": "./examples/PlaywrightWorkspaces_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlaywrightTesting/workspaces": {
      "get": {
        "tags": [
          "PlaywrightWorkspaces"
        ],
        "description": "Lists playwright workspace resources in a resource group.",
        "operationId": "PlaywrightWorkspaces_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of playwright workspace resources retrieved",
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PlaywrightWorkspaces_ListByResourceGroup": {
            "$ref": "./examples/PlaywrightWorkspaces_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlaywrightTesting/workspaces/{playwrightWorkspaceName}": {
      "get": {
        "tags": [
          "PlaywrightWorkspaces"
        ],
        "description": "Get a playwright workspace resource.",
        "operationId": "PlaywrightWorkspaces_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PlaywrightWorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- playwright workspace resource retrieved",
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlaywrightWorkspaces_Get": {
            "$ref": "./examples/PlaywrightWorkspaces_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PlaywrightWorkspaces"
        ],
        "description": "Create or update PlaywrightWorkspace resource.",
        "operationId": "PlaywrightWorkspaces_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PlaywrightWorkspaceNameParameter"
          },
          {
            "in": "body",
            "name": "PlaywrightWorkspaceResource",
            "description": "PlaywrightWorkspace resource data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlaywrightWorkspaces_CreateOrUpdate": {
            "$ref": "./examples/PlaywrightWorkspaces_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "PlaywrightWorkspaces"
        ],
        "description": "Update a playwright workspace resource.",
        "operationId": "PlaywrightWorkspaces_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PlaywrightWorkspaceNameParameter"
          },
          {
            "in": "body",
            "name": "PlaywrightWorkspaceResourcePatch",
            "description": "PlaywrightWorkspace resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource updated",
            "schema": {
              "$ref": "#/definitions/PlaywrightWorkspaceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlaywrightWorkspaces_Update": {
            "$ref": "./examples/PlaywrightWorkspaces_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PlaywrightWorkspaces"
        ],
        "description": "Delete a PlaywrightWorkspace resource.",
        "operationId": "PlaywrightWorkspaces_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PlaywrightWorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource deleted"
          },
          "204": {
            "description": "No Content -- resource deleted"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlaywrightWorkspaces_Delete": {
            "$ref": "./examples/PlaywrightWorkspaces_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PlaywrightWorkspaceResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlaywrightWorkspaceResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "PlaywrightWorkspaceResource": {
      "type": "object",
      "description": "PlaywrightWorkspace details",
      "properties": {
        "properties": {
          "description": "Playwright Workspace resource properties",
          "$ref": "#/definitions/PlaywrightWorkspaceProperties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The type of identity used for the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PlaywrightWorkspaceResourcePatch": {
      "description": "PlaywrightWorkspace resource patch request body.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object"
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The type of identity used for the resource."
        },
        "properties": {
          "description": "Playwright Workspace resource properties",
          "type": "object",
          "x-ms-client-flatten": true,
          "properties": {
            "description": {
              "description": "Description of the resource.",
              "maxLength": 512,
              "type": "string"
            },
            "plan": {
              "description": "Resource pricing plan.",
              "$ref": "#/definitions/plan"
            },
            "dashboardURI": {
              "description": "Resource dashboard URI.",
              "maxLength": 2083,
              "type": "string"
            }
          }
        }
      }
    },
    "PlaywrightWorkspaceProperties": {
      "description": "PlaywrightWorkspace resource properties.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the resource.",
          "maxLength": 512,
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state.",
          "$ref": "#/definitions/ResourceState",
          "readOnly": true
        },
        "plan": {
          "description": "Resource pricing plan.",
          "$ref": "#/definitions/plan"
        },
        "dashboardURI": {
          "description": "Playwright Dashboard URI.",
          "maxLength": 2083,
          "type": "string"
        }
      }
    },
    "plan": {
      "description": "Playwright workspace resource pricing plan.",
      "enum": [
        "Free",
        "Standard"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "plan",
        "modelAsString": true
      }
    },
    "ResourceState": {
      "description": "Playwright workspace resources provisioning states.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "PlaywrightWorkspaceNameParameter": {
      "in": "path",
      "name": "playwrightWorkspaceName",
      "description": "Playwright Workspace name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
