{
    "swagger": "2.0",
    "info": {
      "title": "Auto Suggest API",
      "description": "The Auto Suggest API lets you send a search query to Bing and get back a list of auto suggestions that are relevant to the search query. This section provides technical details about the query parameters and headers that you use to request news and the JSON response objects that contain them.",
      "version": "1.0"
    },
    "parameters": {
      "x-bingapis-sdk": {
        "name": "X-BingApis-SDK",
        "description": "Activate swagger compliance",
        "x-ms-parameter-location": "method",
        "required": true,
        "type": "string",
        "in": "header",
        "x-ms-enum": {
          "name": "XBingApisSDK",
          "modelAsString": true
        },
        "enum": [
          "true"
        ]
      }
    },
    "host": "api.cognitive.microsoft.com",
    "schemes": [
      "https"
    ],
    "basePath": "/bing/v7.0",
    "produces": [
      "application/json"
    ],
    "securityDefinitions": {
      "apiKeyHeader": {
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey",
        "in": "header"
      }
    },
    "security": [
      {
        "apiKeyHeader": []
      }
    ],
    "paths": {
      "/suggestions": {
        "get": {
            "description": "The Auto Suggest API lets you send a search query to Bing and get back a list of auto suggestions that are relevant to the search query. This section provides technical details about the query parameters and headers that you use to request news and the JSON response objects that contain them.",
            "operationId": "Auto_Suggest",
          "tags": [
            "AutoSuggest"
          ],
          "parameters": [
            {
              "$ref": "#/parameters/x-bingapis-sdk"
            },
            {
              "name": "Accept",
              "in": "header",
              "description": "The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.",
              "required": false,
              "type": "string"
            },
            {
              "name": "Accept-Language",
              "x-ms-client-name": "AcceptLanguage",
              "in": "header",
              "description": "A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#setLang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-news-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#setLang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.",
              "required": false,
              "type": "string"
            },
            {
              "name": "User-Agent",
              "x-ms-client-name": "UserAgent",
              "in": "header",
              "description": "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53",
              "required": false,
              "type": "string"
            },
            {
              "name": "X-MSEdge-ClientID",
              "x-ms-client-name": "ClientId",
              "in": "header",
              "description": "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request.",
              "required": false,
              "type": "string"
            },
            {
              "name": "X-MSEdge-ClientIP",
              "x-ms-client-name": "ClientIp",
              "in": "header",
              "description": "The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.",
              "required": false,
              "type": "string"
            },
            {
              "name": "X-Search-Location",
              "x-ms-client-name": "Location",
              "in": "header",
              "description": "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.",
              "required": false,
              "type": "string"
            },
            {
              "name": "mkt",
              "x-ms-client-name": "Market",
              "in": "query",
              "description": "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#market-codes). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#market-codes), Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-autosuggest-api-v7-reference#cc) query parameter are mutually exclusive—do not specify both.",
              "required": false,
              "type": "string"
            },
            {
              "name": "q",
              "x-ms-client-name": "Query",
              "in": "query",
              "description": "The user's search query string. The query string cannot be empty. The query string may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx). For example, to limit news to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx) operator. Use this parameter only with the Auto Suggest API.",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "schema": {
                "$ref": "#/definitions/SuggestionGroup"
              }
            },
            "default": {
              "description": "An error has occurred. Check the response type and/or status code for more details.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "Successful query": {
                "$ref": "./examples//SuccessfulAutoSuggestRequest.json"
            }
          }
        }
      }
    },
    "definitions": {
      "Query": {
        "description": "Defines a search query.",
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "description": "The query string. Use this string as the query term in a new auto suggest request.",
            "type": "string"
          }
        }
      },
      "Response": {
        "description": "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
        "allOf": [
          {
            "$ref": "#/definitions/Identifiable"
          }
        ],
        "type": "object",
        "properties": {
          "webSearchUrl": {
            "description": "The URL to the auto suggest result for this item.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "QueryContext": {
        "description": "Defines the query term that Bing used for the request.",
        "type": "object",
        "required": [
            "value"
        ],
        "properties": {
            "value": {
                "description": "A string term used to generate suggestions.",
                "type": "string"
            }
        }
      },
      "Suggestions": {
        "description": "Defines the query term that Bing used for the request.",
        "type": "object",
        "required": [
            "value"
        ],
        "properties": {
            "value": {
                "description": "A string term used to generate suggestions.",
                "type": "string"
            }
        }
      },
      "SuggestionGroup": {
        "description": "Defines the query term that Bing used for the request.",
        "type": "object",
        "required": [
            "value"
        ],
        "properties": {
            "value": {
                "description": "A string term used to generate suggestions.",
                "type": "string"
            }
        }
      },
      "Identifiable": {
        "description": "Defines the identity of a resource.",
        "allOf": [
          {
            "$ref": "#/definitions/ResponseBase"
          }
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "A String identifier.",
            "readOnly": true,
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "description": "The top-level response that represents a failed request.",
        "allOf": [
          {
            "$ref": "#/definitions/Response"
          }
        ],
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "description": "A list of errors that describe the reasons why the request failed.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "ResponseBase": {
        "description": "Response base",
        "discriminator": "_type",
        "type": "object",
        "required": [
          "_type"
        ],
        "properties": {
          "_type": {
            "type": "string"
          }
        }
      },
      "Error": {
        "description": "Defines the error that occurred.",
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "description": "The error code that identifies the category of error.",
            "type": "string",
            "default": "None",
            "enum": [
              "None",
              "ServerError",
              "InvalidRequest",
              "RateLimitExceeded",
              "InvalidAuthorization",
              "InsufficientAuthorization"
            ],
            "x-ms-enum": {
              "name": "ErrorCode",
              "modelAsString": true
            }
          },
          "subCode": {
            "description": "The error code that further helps to identify the error.",
            "readOnly": true,
            "type": "string",
            "enum": [
              "UnexpectedError",
              "ResourceError",
              "NotImplemented",
              "ParameterMissing",
              "ParameterInvalidValue",
              "HttpNotAllowed",
              "Blocked",
              "AuthorizationMissing",
              "AuthorizationRedundancy",
              "AuthorizationDisabled",
              "AuthorizationExpired"
            ],
            "x-ms-enum": {
              "name": "ErrorSubCode",
              "modelAsString": true
            }
          },
          "message": {
            "description": "A description of the error.",
            "type": "string"
          },
          "moreDetails": {
            "description": "A description that provides additional information about the error.",
            "readOnly": true,
            "type": "string"
          },
          "parameter": {
            "description": "The parameter in the request that caused the error.",
            "readOnly": true,
            "type": "string"
          },
          "value": {
            "description": "The parameter's value in the request that was not valid.",
            "readOnly": true,
            "type": "string"
          }
        }
      }
    }
  }