{
  "swagger": "2.0",
  "info": {
    "version": "2021-08-01-privatepreview",
    "title": "Fidalgo",
    "description": "Project Fidalgo Management API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/projects/{projectName}/pools": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ProjectNameParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/TopParameter"
        }
      ],
      "get": {
        "tags": [
          "Pools"
        ],
        "description": "Lists pools for a project",
        "operationId": "Pools_ListByProject",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PoolListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Pools_ListByProject": {
            "$ref": "./examples/Pools_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/projects/{projectName}/pools/{poolName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ProjectNameParameter"
        },
        {
          "$ref": "#/parameters/PoolNameParameter"
        }
      ],
      "get": {
        "tags": [
          "Pools"
        ],
        "description": "Gets a machine pool",
        "operationId": "Pools_Get",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Pools_Get": {
            "$ref": "./examples/Pools_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Pools"
        ],
        "description": "Creates or updates a machine pool",
        "operationId": "Pools_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Represents a machine pool",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "201": {
            "description": "Created. Operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Pools_CreateOrUpdate": {
            "$ref": "./examples/Pools_Put.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Pools"
        ],
        "description": "Partially updates a machine pool",
        "operationId": "Pools_Update",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Represents a machine pool",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PoolUpdate"
            }
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "202": {
            "description": "Accepted. Operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/Pool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Pools_Update": {
            "$ref": "./examples/Pools_Patch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Pools"
        ],
        "description": "Deletes a machine pool",
        "operationId": "Pools_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. Resource has been deleted"
          },
          "202": {
            "description": "Accepted. Operation will complete asynchronously."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Pools_Delete": {
            "$ref": "./examples/Pools_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Fidalgo/machinedefinitions": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/TopParameter"
        }
      ],
      "get": {
        "tags": [
          "Machine Definitions"
        ],
        "description": "Lists Machine Definitions in a subscription",
        "operationId": "MachineDefinitions_ListBySubscription",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MachineDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MachineDefinitions_ListBySubscription": {
            "$ref": "./examples/MachineDefinitions_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/machinedefinitions": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/TopParameter"
        }
      ],
      "get": {
        "tags": [
          "Machine Definitions"
        ],
        "description": "List Machine Definitions in a resource group",
        "operationId": "MachineDefinitions_ListByResourceGroup",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MachineDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "MachineDefinitions_ListByResourceGroup": {
            "$ref": "./examples/MachineDefinitions_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/machinedefinitions/{machineDefinitionName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/MachineDefinitionName"
        }
      ],
      "get": {
        "tags": [
          "Machine Definitions"
        ],
        "description": "Gets a Machine Definition",
        "operationId": "MachineDefinitions_Get",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MachineDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "MachineDefinitions_Get": {
            "$ref": "./examples/MachineDefinitions_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Machine Definitions"
        ],
        "description": "Creates or updates a Machine definition",
        "operationId": "MachineDefinitions_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Represents a machine definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MachineDefinition"
            }
          },
          "201": {
            "description": "Created. The operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/MachineDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "MachineDefinitions_CreateWithCustomImage": {
            "$ref": "./examples/MachineDefinitions_CreateWithCustomImage.json"
          },
          "MachineDefinitions_CreateWithGalleryImage": {
            "$ref": "./examples/MachineDefinitions_CreateWithGalleryImage.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Machine Definitions"
        ],
        "description": "Partially updates a Machine definition",
        "operationId": "MachineDefinitions_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Represents a machine definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineDefinitionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MachineDefinition"
            }
          },
          "202": {
            "description": "Accepted. The operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/MachineDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "MachineDefinitions_Patch": {
            "$ref": "./examples/MachineDefinitions_Patch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Machine Definitions"
        ],
        "description": "Deletes a Machine definition",
        "operationId": "MachineDefinitions_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. Resource has been deleted"
          },
          "202": {
            "description": "Accepted. Operation will complete asynchronously."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "MachineDefinitions_Delete": {
            "$ref": "./examples/MachineDefinitions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Fidalgo/networksettings": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/TopParameter"
        }
      ],
      "get": {
        "tags": [
          "Network Settings"
        ],
        "description": "Lists network settings in a subscription",
        "operationId": "NetworkSettings_ListBySubscription",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_ListBySubscription": {
            "$ref": "./examples/NetworkSettings_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/networksettings": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/TopParameter"
        }
      ],
      "get": {
        "tags": [
          "Network Settings"
        ],
        "description": "Lists network settings in a resource group",
        "operationId": "NetworkSettings_ListByResourceGroup",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_ListByResourceGroup": {
            "$ref": "./examples/NetworkSettings_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/networksettings/{networkSettingName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSettingName"
        }
      ],
      "get": {
        "tags": [
          "Network Settings"
        ],
        "description": "Gets a network settings resource",
        "operationId": "NetworkSettings_Get",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NetworkSettings"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_Get": {
            "$ref": "./examples/NetworkSettings_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Network Settings"
        ],
        "description": "Creates or updates a Network Settings resource",
        "operationId": "NetworkSettings_CreateOrUpdate",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Represents network settings",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSettings"
            }
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "Accepted. Operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/NetworkSettings"
            }
          },
          "201": {
            "description": "Created. Operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/NetworkSettings"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_CreateOrUpdate": {
            "$ref": "./examples/NetworkSettings_Put.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Network Settings"
        ],
        "description": "Partially updates Network Settings",
        "operationId": "NetworkSettings_Update",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Represents network settings",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSettingsUpdate"
            }
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NetworkSettings"
            }
          },
          "202": {
            "description": "Accepted. Operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/NetworkSettings"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_Update": {
            "$ref": "./examples/NetworkSettings_Patch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Network Settings"
        ],
        "description": "Deletes a Network Settings resource",
        "operationId": "NetworkSettings_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "OK. Resource has been deleted"
          },
          "202": {
            "description": "Accepted. Operation will complete asynchronously."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_Delete": {
            "$ref": "./examples/NetworkSettings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/networksettings/{networkSettingName}/healthchecks": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "commonDefinitions.json#/parameters/TopParameter"
        },
        {
          "$ref": "#/parameters/NetworkSettingName"
        }
      ],
      "get": {
        "tags": [
          "Network Settings"
        ],
        "description": "Lists health check status details",
        "operationId": "NetworkSettings_ListHealthDetails",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HealthCheckStatusDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_ListHealthDetails": {
            "$ref": "./examples/NetworkSettings_ListHealthDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fidalgo/networksettings/{networkSettingName}/healthchecks/latest": {
      "get": {
        "tags": [
          "Network Settings"
        ],
        "description": "Gets health check status details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "commonDefinitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "commonDefinitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingName"
          }
        ],
        "operationId": "NetworkSettings_GetHealthDetails",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HealthCheckStatusDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "commonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSettings_GetHealthDetails": {
            "$ref": "./examples/NetworkSettings_GetHealthDetails.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Pool": {
      "description": "A pool of Virtual Machines.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Pool properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PoolProperties"
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "PoolUpdateProperties": {
      "description": "Properties of a Pool. These properties can be updated after the resource has been created.",
      "type": "object",
      "properties": {
        "sku": {
          "description": "The SKU for the virtual machine. Defines the type of virtual machines used in the pool.",
          "$ref": "commonDefinitions.json#/definitions/Sku"
        },
        "machineDefinitionId": {
          "description": "Resource Id of a Machine Definition",
          "type": "string"
        },
        "networkSettingsId": {
          "description": "Resource Id of a Network Settings resource",
          "type": "string"
        }
      }
    },
    "PoolProperties": {
      "type": "object",
      "description": "Properties of a Pool",
      "allOf": [
        {
          "$ref": "#/definitions/PoolUpdateProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "$ref": "commonDefinitions.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "PoolListResult": {
      "description": "Results of the machine pool list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Current page of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Pool"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URL to get the next set of results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PoolUpdate": {
      "description": "The pool properties for partial update. Properties not provided in the update request will not be changed.",
      "type": "object",
      "allOf": [
        {
          "$ref": "commonDefinitions.json#/definitions/TrackedResourceUpdate"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PoolUpdateProperties",
          "description": "Properties of a pool to be updated."
        }
      }
    },
    "MachineDefinitionListResult": {
      "description": "Results of the machine definition list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Current page of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MachineDefinition"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URL to get the next set of results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MachineDefinitionUpdate": {
      "description": "Partial update of a machine definition resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "commonDefinitions.json#/definitions/TrackedResourceUpdate"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MachineDefinitionUpdateProperties",
          "description": "Properties of a machine definition to be updated."
        }
      }
    },
    "MachineDefinition": {
      "description": "Represents a definition for a Developer Machine.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Machine definition properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MachineDefinitionProperties"
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "MachineDefinitionUpdateProperties": {
      "description": "Properties of a Machine Definition. These properties can be updated after the resource has been created.",
      "type": "object",
      "properties": {
        "imageReference": {
          "$ref": "#/definitions/ImageReference",
          "description": "Image reference information."
        },
        "imageType": {
          "enum": [
            "Custom",
            "Gallery"
          ],
          "description": "The image type.",
          "type": "string",
          "x-ms-enum": {
            "name": "ImageType",
            "modelAsString": true
          }
        },
        "imageId": {
          "description": "The image identifier of the virtual machine image.",
          "type": "string"
        }
      }
    },
    "ImageReference": {
      "type": "object",
      "description": "Image reference information",
      "properties": {
        "id": {
          "description": "Image resource ID.",
          "type": "string"
        },
        "publisher": {
          "description": "The image publisher.",
          "type": "string"
        },
        "offer": {
          "description": "The image offer.",
          "type": "string"
        },
        "sku": {
          "description": "The image sku.",
          "type": "string"
        }
      }
    },
    "MachineDefinitionProperties": {
      "description": "Properties of a Machine Definition.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MachineDefinitionUpdateProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "$ref": "commonDefinitions.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      }
    },
    "NetworkSettings": {
      "type": "object",
      "description": "Network related settings",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Properties of Network Settings",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkProperties"
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "NetworkSettingsUpdate": {
      "description": "The network settings properties for partial update. Properties not provided in the update request will not be changed.",
      "type": "object",
      "allOf": [
        {
          "$ref": "commonDefinitions.json#/definitions/TrackedResourceUpdate"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSettingsUpdateProperties",
          "description": "Properties of a network settings resource to be updated."
        }
      }
    },
    "NetworkSettingsUpdateProperties": {
      "description": "Properties of network settings. These properties can be updated after the resource has been created.",
      "type": "object",
      "properties": {
        "virtualNetworkId": {
          "description": "Resource id of a vnet to join virtual machines in the pool to.",
          "type": "string"
        },
        "subnetId": {
          "description": "The subnet to attach Virtual Machines to",
          "type": "string"
        },
        "networkingResourceGroupId": {
          "description": "Target resource group id for NICs to be placed. Required format: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}'",
          "type": "string"
        },
        "domainName": {
          "description": "Active Directory domain name",
          "type": "string"
        },
        "organizationUnit": {
          "description": "Active Directory domain Organization Unit (OU)",
          "type": "string"
        },
        "domainUsername": {
          "description": "The username of an Active Directory account (user or service account) that has permissions to create computer objects in Active Directory. Required format: admin@contoso.com.",
          "type": "string"
        },
        "domainPassword": {
          "description": "The password for the account used to join domain",
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "NetworkProperties": {
      "description": "Network properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NetworkSettingsUpdateProperties"
        }
      ],
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "$ref": "commonDefinitions.json#/definitions/ProvisioningState",
          "readOnly": true
        },
        "healthCheckStatus": {
          "description": "Overall health status of the network connection. Health checks are run on creation, update, and periodically to validate the network connection.",
          "$ref": "#/definitions/HealthCheckStatus",
          "readOnly": true
        }
      }
    },
    "NetworkSettingsListResult": {
      "description": "Result of the network settings list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Current page of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSettings"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URL to get the next set of results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "HealthCheckStatus": {
      "description": "Health check status values",
      "enum": [
        "Pending",
        "Running",
        "Passed",
        "Failed",
        "Warning",
        "Unknown"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "HealthCheckStatus",
        "modelAsString": true
      }
    },
    "HealthCheckStatusDetails": {
      "description": "",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Health check status details properties.",
          "$ref": "#/definitions/HealthCheckStatusDetailsProperties"
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "HealthCheckStatusDetailsProperties": {
      "description": "",
      "type": "object",
      "properties": {
        "startDateTime": {
          "type": "string",
          "description": "Start time of last execution of the health checks.",
          "readOnly": true,
          "format": "date-time"
        },
        "endDateTime": {
          "type": "string",
          "description": "End time of last execution of the health checks.",
          "readOnly": true,
          "format": "date-time"
        },
        "healthChecks": {
          "description": "Details for each health check item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthCheck"
          },
          "readOnly": true
        }
      }
    },
    "HealthCheck": {
      "description": "An individual health check item",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the health check item.",
          "$ref": "#/definitions/HealthCheckStatus",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of this health check item.",
          "type": "string",
          "readOnly": true
        },
        "startDateTime": {
          "description": "Start time of health check item.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "endDateTime": {
          "description": "End time of the health check item.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "errorType": {
          "description": "The type of error that occurred during this health check.",
          "type": "string",
          "readOnly": true
        },
        "recommendedAction": {
          "description": "The recommended action to fix the corresponding error.",
          "type": "string",
          "readOnly": true
        },
        "additionalDetails": {
          "description": "Additional details about the health check or the recommended action.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "HealthCheckStatusDetailsListResult": {
      "description": "Result of the network health check list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Current page of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthCheckStatusDetails"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "URL to get the next set of results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "PoolNameParameter": {
      "name": "poolName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the pool.",
      "x-ms-parameter-location": "method"
    },
    "MachineDefinitionName": {
      "name": "machineDefinitionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the machine definition.",
      "x-ms-parameter-location": "method"
    },
    "NetworkSettingName": {
      "name": "networkSettingName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Network Settings that can be applied to a Pool.",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName').",
      "type": "string",
      "required": false,
      "x-ms-parameter-location": "method"
    }
  }
}
