{
    "swagger": "2.0",
    "info": {
        "title": "HDInsightManagementClient",
        "description": "The HDInsight Management Client.",
        "version": "2015-03-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities": {
            "get": {
                "tags": [
                    "Regions"
                ],
                "operationId": "Locations_GetCapabilities",
                "description": "Gets the capabilities for the specified location.",
                "x-ms-examples": {
                    "Get the subscription capabilities for specific location": {
                        "$ref": "./examples/GetHDInsightCapabilities.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "./operations.json#/definitions/ErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/CapabilitiesResult"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages": {
            "get": {
                "tags": [
                    "Regions"
                ],
                "operationId": "Locations_ListUsages",
                "description": "Lists the usages for the specified location.",
                "x-ms-examples": {
                    "Get the subscription usages for specific location": {
                        "$ref": "./examples/GetHDInsightUsages.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "./operations.json#/definitions/ErrorResponse"
                        }
                    },
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/UsagesListResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "VersionSpec": {
            "description": "The version properties.",
            "properties": {
                "friendlyName": {
                    "type": "string",
                    "description": "The friendly name"
                },
                "displayName": {
                    "type": "string",
                    "description": "The display name"
                },
                "isDefault": {
                    "type": "string",
                    "description": "Whether or not the version is the default version."
                },
                "componentVersions": {
                    "type": "object",
                    "description": "The component version property.",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "VersionsCapability": {
            "description": "The version capability.",
            "properties": {
                "available": {
                    "description": "The list of version capabilities.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VersionSpec"
                    }
                }
            }
        },
        "RegionsCapability": {
            "description": "The regions capability.",
            "properties": {
                "available": {
                    "description": "The list of region capabilities.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "VmSizesCapability": {
            "description": "The virtual machine sizes capability.",
            "properties": {
                "available": {
                    "description": "The list of virtual machine size capabilities.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "VmSizeCompatibilityFilter": {
            "description": "The virtual machine type compatibility filter.",
            "properties": {
                "FilterMode": {
                    "description": "The mode for the filter.",
                    "type": "string"
                },
                "Regions": {
                    "description": "The list of regions.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "ClusterFlavors": {
                    "description": "The list of cluster types available.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "NodeTypes": {
                    "description": "The list of node types.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "ClusterVersions": {
                    "description": "The list of cluster versions.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "vmsizes": {
                    "description": "The list of virtual machine sizes.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "RegionalQuotaCapability": {
            "description": "The regional quota capacity.",
            "properties": {
                "region_name": {
                    "description": "The region name.",
                    "type": "string"
                },
                "cores_used": {
                    "description": "The number of cores used in the region.",
                    "type": "integer",
                    "format": "int64"
                },
                "cores_available": {
                    "description": "The number of courses available in the region.",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "QuotaCapability": {
            "description": "The regional quota capability.",
            "properties": {
                "regionalQuotas": {
                    "description": "The list of region quota capabilities.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RegionalQuotaCapability"
                    }
                }
            }
        },
        "CapabilitiesResult": {
            "description": "The Get Capabilities operation response.",
            "properties": {
                "versions": {
                    "description": "The version capability.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/VersionsCapability"
                    }
                },
                "regions": {
                    "description": "The virtual machine size compatibilty features.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/RegionsCapability"
                    }
                },
                "vmSizes": {
                    "description": "The virtual machine sizes.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/VmSizesCapability"
                    }
                },
                "vmSize_filters": {
                    "description": "The virtual machine size compatibilty filters.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/VmSizeCompatibilityFilter"
                    }
                },
                "features": {
                    "description": "The capabilty features.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "quota": {
                    "description": "The quota capability.",
                    "$ref": "#/definitions/QuotaCapability"
                }
            }
        },
        "LocalizedName": {
            "description": "The details about the localizable name of a type of usage.",
            "properties": {
                "value": {
                    "description": "The name of the used resource.",
                    "type": "string"
                },
                "localizedValue": {
                    "description": "The localized name of the used resource.",
                    "type": "string"
                }
            }
        },
        "Usage": {
            "description": "The details about the usage of a particular limited resource.",
            "properties": {
                "unit": {
                    "description": "The type of measurement for usage.",
                    "type": "string"
                },
                "currentValue": {
                    "description": "The current usage.",
                    "type": "integer"
                },
                "limit": {
                    "description": "The maximum allowed usage.",
                    "type": "integer"
                },
                "name": {
                    "description": "The details about the localizable name of the used resource.",
                    "$ref": "#/definitions/LocalizedName"
                }
            }
        },
        "UsagesListResult": {
            "description": "The response for the operation to get regional usages for a subscription.",
            "properties": {
                "value": {
                    "description": "The list of usages.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Usage"
                    }
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "LocationParameter": {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location.",
            "x-ms-parameter-location": "method"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The HDInsight client API Version."
        }
    }
}