{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2023-12-01-preview",
    "description": "Azure Stack HCI service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EdgeDeviceJobs"
    },
    {
      "name": "ClusterJobs"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/jobs": {
      "get": {
        "operationId": "EdgeDeviceJobs_ListByEdgeDevice",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "List EdgeDeviceJob resources by EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_ListByEdgeDevice_MaximumSet_Gen": {
            "$ref": "./examples/EdgeDeviceJobs_ListByEdgeDevice_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/jobs/{jobsName}": {
      "get": {
        "operationId": "EdgeDeviceJobs_Get",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Get a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_Get_MaximumSet_Gen": {
            "$ref": "./examples/EdgeDeviceJobs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeDeviceJobs_CreateOrUpdate",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Create a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeDeviceJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          },
          "201": {
            "description": "Resource 'EdgeDeviceJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EdgeDeviceJobs_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/EdgeDeviceJobs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "EdgeDeviceJobs_Delete",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Delete a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "EdgeDeviceJobs_Delete_MaximumSet_Gen": {
            "$ref": "./examples/EdgeDeviceJobs_Delete_MaximumSet_Gen.json"
          },
          "EdgeDeviceJobs_Delete_MinimumSet_Gen": {
            "$ref": "./examples/EdgeDeviceJobs_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs": {
      "get": {
        "operationId": "ClusterJobs_ListByClusters",
        "tags": [
          "ClusterJobs"
        ],
        "description": "List ClusterJob resources by Clusters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ClusterJobs_ListByClusters_MaximumSet_Gen": {
            "$ref": "./examples/ClusterJobs_ListByClusters_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs/{jobsName}": {
      "get": {
        "operationId": "ClusterJobs_Get",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Get a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_Get_MaximumSet_Gen": {
            "$ref": "./examples/ClusterJobs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ClusterJobs_CreateOrUpdate",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Create a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ClusterJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          },
          "201": {
            "description": "Resource 'ClusterJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ClusterJobs_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ClusterJobs_Delete",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Delete a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ClusterJobs_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ClusterJobs_Delete_MaximumSet_Gen.json"
          },
          "ClusterJobs_Delete_MinimumSet_Gen": {
            "$ref": "./examples/ClusterJobs_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AddServerJobProperties": {
      "type": "object",
      "description": "Properties for adding a server to the cluster.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to the cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "IP address of server to be added to the cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger the job for the cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ]
    },
    "AzureLinuxAddServerJobProperties": {
      "type": "object",
      "description": "Properties for adding a server in Azure Linux cluster job.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to the cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "IP address of server to be added to the cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger the job for the cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "AzureLinuxClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/AzureLinuxJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "AzureLinuxCollectLogJobProperties": {
      "type": "object",
      "description": "Azure Linux Collect Log Job Properties.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "AzureLinuxEdgeDeviceJob": {
      "type": "object",
      "description": "Edgedevice job for Azure Linux solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties",
          "description": "Edgedevice job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeDeviceJob"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxEdgeDeviceJobProperties": {
      "type": "object",
      "description": "Edgedevice job properties",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/EdgeDeviceJobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "AzureLinuxEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "RemoteSupport"
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "RemoteConnect"
          }
        ]
      }
    },
    "AzureLinuxJob": {
      "type": "object",
      "description": "Cluster job for Azure Linux solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties",
          "description": "Cluster Job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJob"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxJobType": {
      "type": "string",
      "description": "ClusterJob Type supported.",
      "enum": [
        "AddServer",
        "RepairServer"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          }
        ]
      }
    },
    "AzureLinuxRemoteSupportJobProperties": {
      "type": "object",
      "description": "Represents the properties of an Azure Linux Remote Support job.",
      "properties": {
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/RemoteSupportReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "accessLevel",
        "expirationTimestamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteSupport"
    },
    "AzureLinuxRepairServerJobProperties": {
      "type": "object",
      "description": "Properties for repairing a server in the cluster.",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RepairServer"
    },
    "AzureStackHciJob": {
      "type": "object",
      "description": "Cluster job for Azure Stack HCI solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciClusterJobProperties",
          "description": "HCI Cluster Job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJob"
        }
      ],
      "x-ms-discriminator-value": "AzureStackHCI"
    },
    "ClusterJob": {
      "type": "object",
      "description": "Cluster Jobs resource",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "$ref": "#/definitions/EdgeSolutionType",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterJobListResult": {
      "type": "object",
      "description": "The response of a ClusterJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ClusterJob items on this page",
          "items": {
            "$ref": "#/definitions/ClusterJob"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      }
    },
    "CollectLogJobProperties": {
      "type": "object",
      "description": "Represents the properties of a log collection job.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ]
    },
    "DeploymentAdapterPropertyOverrides": {
      "type": "object",
      "description": "The AdapterPropertyOverrides of a cluster.",
      "properties": {
        "jumboPacket": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirect": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirectTechnology": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation. Expected values are 'iWARP', 'RoCEv2', 'RoCE'"
        }
      }
    },
    "DeploymentHostNetwork": {
      "type": "object",
      "description": "The HostNetwork of a cluster.",
      "properties": {
        "intents": {
          "type": "array",
          "description": "The network intents assigned to the network reference pattern used for the deployment. Each intent will define its own name, traffic type, adapter names, and overrides as recommended by your OEM.",
          "items": {
            "$ref": "#/definitions/DeploymentIntents"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageNetworks": {
          "type": "array",
          "description": "List of StorageNetworks config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageNetworks"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageConnectivitySwitchless": {
          "type": "boolean",
          "description": "Defines how the storage adapters between nodes are connected either switch or switch less.."
        },
        "enableStorageAutoIp": {
          "type": "boolean",
          "description": "Optional parameter required only for 3 Nodes Switchless deployments. This allows users to specify IPs and Mask for Storage NICs when Network ATC is not assigning the IPs for storage automatically."
        }
      }
    },
    "DeploymentIntents": {
      "type": "object",
      "description": "The Intents of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the network intent you wish to create."
        },
        "trafficType": {
          "type": "array",
          "description": "List of network traffic types. Only allowed values are 'Compute', 'Storage', 'Management'.",
          "items": {
            "type": "string"
          }
        },
        "adapter": {
          "type": "array",
          "description": "Array of network interfaces used for the network intent.",
          "items": {
            "type": "string"
          }
        },
        "overrideVirtualSwitchConfiguration": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "virtualSwitchConfigurationOverrides": {
          "$ref": "#/definitions/DeploymentVirtualSwitchConfigurationOverrides",
          "description": "Set virtualSwitch ConfigurationOverrides for cluster."
        },
        "overrideQosPolicy": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "qosPolicyOverrides": {
          "$ref": "#/definitions/DeploymentQosPolicyOverrides",
          "description": "Set QoS PolicyOverrides for cluster."
        },
        "overrideAdapterProperty": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "adapterPropertyOverrides": {
          "$ref": "#/definitions/DeploymentAdapterPropertyOverrides",
          "description": "Set Adapter PropertyOverrides for cluster."
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "Deployment mode to trigger job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "DeploymentQosPolicyOverrides": {
      "type": "object",
      "description": "The QoSPolicyOverrides of a cluster.",
      "properties": {
        "priorityValue8021Action_Cluster": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation.",
          "x-ms-client-name": "priorityValue8021ActionCluster"
        },
        "priorityValue8021Action_SMB": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation.",
          "x-ms-client-name": "priorityValue8021ActionSMB"
        },
        "bandwidthPercentage_SMB": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation.",
          "x-ms-client-name": "bandwidthPercentageSMB"
        }
      }
    },
    "DeploymentStorageAdapterIPInfo": {
      "type": "object",
      "description": "The StorageAdapter physical nodes of a cluster.",
      "properties": {
        "physicalNode": {
          "type": "string",
          "description": "storage adapter physical node name."
        },
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address assigned to each storage adapter physical node on your Azure Stack HCI cluster."
        },
        "subnetMask": {
          "type": "string",
          "description": "The SubnetMask address assigned to each storage adapter physical node on your Azure Stack HCI cluster."
        }
      }
    },
    "DeploymentStorageNetworks": {
      "type": "object",
      "description": "The StorageNetworks of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the storage network."
        },
        "networkAdapterName": {
          "type": "string",
          "description": "Name of the storage network adapter."
        },
        "vlanId": {
          "type": "string",
          "description": "ID specified for the VLAN storage network. This setting is applied to the network interfaces that route the storage and VM migration traffic."
        },
        "storageAdapterIPInfo": {
          "type": "array",
          "description": "List of Storage adapter physical nodes config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageAdapterIPInfo"
          },
          "x-ms-identifiers": [
            "physicalNode"
          ]
        }
      }
    },
    "DeploymentVirtualSwitchConfigurationOverrides": {
      "type": "object",
      "description": "The VirtualSwitchConfigurationOverrides of a cluster.",
      "properties": {
        "enableIov": {
          "type": "string",
          "description": "Enable IoV for Virtual Switch"
        },
        "loadBalancingAlgorithm": {
          "type": "string",
          "description": "Load Balancing Algorithm for Virtual Switch"
        }
      }
    },
    "DeviceType": {
      "type": "string",
      "description": "Edge device type based on host OS installed.",
      "enum": [
        "HCI",
        "WindowsServer",
        "WindowsIoT",
        "AzureLinux",
        "UbuntuLinux"
      ],
      "x-ms-enum": {
        "name": "DeviceType",
        "modelAsString": true,
        "values": [
          {
            "name": "HCI",
            "value": "HCI",
            "description": "Arc-enabled edge device with HCI OS."
          },
          {
            "name": "WindowsServer",
            "value": "WindowsServer",
            "description": "Arc-enabled edge device with WindowsServer OS."
          },
          {
            "name": "WindowsIoT",
            "value": "WindowsIoT",
            "description": "Arc-enabled edge device with WindowsIoT OS."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Arc-enabled edge device with AzureLinux OS."
          },
          {
            "name": "UbuntuLinux",
            "value": "UbuntuLinux",
            "description": "Arc-enabled edge device with UbuntuLinux OS."
          }
        ]
      }
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Job status.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of Edgedevice job.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "EceDeploymentSecrets": {
      "type": "object",
      "description": "Protected parameters list stored in keyvault.",
      "properties": {
        "secretName": {
          "type": "string",
          "description": "Secret name stored in keyvault."
        },
        "eceSecretName": {
          "$ref": "#/definitions/EceSecrets",
          "description": "Secret name expected for job execution."
        },
        "secretLocation": {
          "type": "string",
          "format": "uri",
          "description": "Secret URI stored in keyvault."
        }
      }
    },
    "EceSecrets": {
      "type": "string",
      "description": "Secret names allowed for Enterprise Cloud Engine (ECE) deployment.",
      "enum": [
        "AzureStackLCMUserCredential",
        "DefaultARBApplication",
        "LocalAdminCredential",
        "WitnessStorageKey"
      ],
      "x-ms-enum": {
        "name": "EceSecrets",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureStackLCMUserCredential",
            "value": "AzureStackLCMUserCredential",
            "description": "AzureStackLCMUserCredential used for LCM operations for AzureStackHCI cluster."
          },
          {
            "name": "DefaultARBApplication",
            "value": "DefaultARBApplication",
            "description": "DefaultARBApplication used to manage Azure Arc resource bridge (ARB) for AzureStackHCI cluster."
          },
          {
            "name": "LocalAdminCredential",
            "value": "LocalAdminCredential",
            "description": "LocalAdminCredential used for admin operations for AzureStackHCI cluster."
          },
          {
            "name": "WitnessStorageKey",
            "value": "WitnessStorageKey",
            "description": "WitnessStorageKey used for setting up a cloud witness for AzureStackHCI cluster."
          }
        ]
      }
    },
    "EdgeDeviceJob": {
      "type": "object",
      "description": "EdgeDevice Jobs resource",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "$ref": "#/definitions/DeviceType",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeDeviceJobListResult": {
      "type": "object",
      "description": "The response of a EdgeDeviceJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeDeviceJob items on this page",
          "items": {
            "$ref": "#/definitions/EdgeDeviceJob"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeDeviceJobProperties": {
      "type": "object",
      "description": "Edgedevice job properties",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/EdgeDeviceJobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      }
    },
    "EdgeDeviceJobReportedProperties": {
      "type": "object",
      "description": "Reported Properties for  job triggered from cloud.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        }
      }
    },
    "EdgeDeviceJobType": {
      "type": "string",
      "description": "Common Job Types supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect"
      ],
      "x-ms-enum": {
        "name": "EdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "RemoteSupport"
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "RemoteConnect"
          }
        ]
      }
    },
    "EdgeSolutionType": {
      "type": "string",
      "description": "Edge solution type.",
      "enum": [
        "AzureStackHCI",
        "AzureLinux"
      ],
      "x-ms-enum": {
        "name": "EdgeSolutionType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureStackHCI",
            "value": "AzureStackHCI",
            "description": "Edge solution for Azure stack HCI edge devices."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Edge solution for Azure linux edge devices."
          }
        ]
      }
    },
    "HciAddNetworkIntentJobProperties": {
      "type": "object",
      "description": "Properties for adding network intent to a cluster.",
      "properties": {
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "hostNetwork": {
          "type": "object",
          "description": "HostNetwork properties to set network intent.",
          "additionalProperties": {}
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddNetworkIntent"
    },
    "HciAddServerJobProperties": {
      "type": "object",
      "description": "Properties for adding a server in the cluster.",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "Ip address of server to be added to cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "HciClusterJobProperties": {
      "type": "object",
      "description": "HCI Cluster Job properties",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/HciJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "HciCollectLogJobProperties": {
      "type": "object",
      "description": "Represents the properties of an HCI Collect Log job.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "HciEdgeDeviceJob": {
      "type": "object",
      "description": "Edgedevice job for Azure Stack HCI solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties",
          "description": "HCI Edgedevice job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeDeviceJob"
        }
      ],
      "x-ms-discriminator-value": "HCI"
    },
    "HciEdgeDeviceJobProperties": {
      "type": "object",
      "description": "HCI Edgedevice job properties",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Edgedevice job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/EdgeDeviceJobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/HciEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "HciEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect",
        "RenameHostname"
      ],
      "x-ms-enum": {
        "name": "HciEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "RemoteSupport"
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "RemoteConnect"
          },
          {
            "name": "RenameHostname",
            "value": "RenameHostname",
            "description": "RenameHostname"
          }
        ]
      }
    },
    "HciJobType": {
      "type": "string",
      "description": "ClusterJob Type supported.",
      "enum": [
        "AddServer",
        "RepairServer",
        "ResumeServer",
        "PauseServer",
        "AddNetworkIntent",
        "SetInformation"
      ],
      "x-ms-enum": {
        "name": "HciJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          },
          {
            "name": "ResumeServer",
            "value": "ResumeServer",
            "description": "ResumeServer"
          },
          {
            "name": "PauseServer",
            "value": "PauseServer",
            "description": "PauseServer"
          },
          {
            "name": "AddNetworkIntent",
            "value": "AddNetworkIntent",
            "description": "AddNetworkIntent"
          },
          {
            "name": "SetInformation",
            "value": "SetInformation",
            "description": "SetInformation"
          }
        ]
      }
    },
    "HciPauseServerJobProperties": {
      "type": "object",
      "description": "Properties for pausing a server in the cluster.",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger pause job for given server name in cluster."
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "PauseServer"
    },
    "HciRemoteConnectJobProperties": {
      "type": "object",
      "description": "Represents the properties of a remote connect job for HCI.",
      "properties": {
        "userName": {
          "type": "string",
          "description": "user name."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "password.",
          "x-ms-secret": true
        }
      },
      "required": [
        "userName",
        "password"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteConnect"
    },
    "HciRemoteSupportJobProperties": {
      "type": "object",
      "description": "Represents the properties of a remote support job for HCI.",
      "properties": {
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/RemoteSupportReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "accessLevel",
        "expirationTimestamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteSupport"
    },
    "HciRepairServerJobProperties": {
      "type": "object",
      "description": "Properties for repairing a server in the cluster.",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RepairServer"
    },
    "HciResumeServerJobProperties": {
      "type": "object",
      "description": "Properties for resuming a server in the cluster.",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger resume job for given server name in cluster."
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "serverName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "ResumeServer"
    },
    "HciSetInformationJobProperties": {
      "type": "object",
      "description": "Properties for setting information in the HCI cluster.",
      "properties": {
        "Switchless": {
          "type": "boolean",
          "description": "Set to represent if the system is configured in a switchless or switched configuration.",
          "x-ms-client-name": "switchless"
        },
        "StorageIntentAdapters": {
          "type": "string",
          "description": "A string with a list of comma-separated name of the network adapters to use for the storage intent.",
          "x-ms-client-name": "storageIntentAdapters"
        },
        "Name": {
          "type": "string",
          "description": "A string with the name of the storage intent. If not provided a default one storage is used.",
          "x-ms-client-name": "name"
        },
        "VlanId": {
          "type": "string",
          "description": "A string with a list of comma-separated vlan ids to use which should map exactly and in order to the adapters provided in StorageIntentAdapters. If not provided the system uses the defaults set by Network ATC.",
          "x-ms-client-name": "vlanId"
        },
        "JumboPacket": {
          "type": "string",
          "description": "A string with the size to be set for Jumb packet frame size for the storage adapters.",
          "x-ms-client-name": "jumboPacket"
        },
        "NetworkDirect": {
          "type": "string",
          "description": "A string to be set to enabled or disabled to specify if network direct mode should be enabled/disabled.",
          "x-ms-client-name": "networkDirect"
        },
        "NetworkDirectTechnology": {
          "type": "string",
          "description": "A string that specifies the network direct technology to be used. Possible values are iWARP, RoCE and RoCEv2.",
          "x-ms-client-name": "networkDirectTechnology"
        },
        "PriorityValue8021Action_Cluster": {
          "type": "string",
          "description": "A string to specify the 802.1Q priority for the cluster.",
          "x-ms-client-name": "priorityValue8021ActionCluster"
        },
        "PriorityValue8021Action_SMB": {
          "type": "string",
          "description": "A string to specify the 802.1Q priority for SMB.",
          "x-ms-client-name": "priorityValue8021ActionSMB"
        },
        "BandwidthPercentage_SMB": {
          "type": "string",
          "description": "A string to specify the bandwidth percentage to be used for SMB.",
          "x-ms-client-name": "bandwidthPercentageSMB"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/HciClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "SetInformation"
    },
    "JobReportedProperties": {
      "type": "object",
      "description": "Reported Properties for cluster job triggered from cloud.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of ob.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        }
      }
    },
    "JobType": {
      "type": "string",
      "description": "Common ClusterJob Types supported.",
      "enum": [
        "AddServer",
        "RepairServer"
      ],
      "x-ms-enum": {
        "name": "JobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          }
        ]
      }
    },
    "LogCollectionReportedProperties": {
      "type": "object",
      "description": "Represents the reported properties of a log collection job.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        },
        "logCollectionSessionDetails": {
          "$ref": "#/definitions/LogCollectionSession",
          "description": "Details of the log collection session."
        }
      }
    },
    "LogCollectionSession": {
      "type": "object",
      "description": "Represents a session for collecting logs from an edge device.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The timestamp when log collection started, in ISO 8601 format."
        },
        "endTime": {
          "type": "string",
          "description": "The timestamp when log collection ended, in ISO 8601 format."
        },
        "timeCollected": {
          "type": "string",
          "description": "The total time logs were collected for, in ISO 8601 duration format."
        },
        "logSize": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the collected logs in bytes."
        },
        "status": {
          "$ref": "#/definitions/LogCollectionStatus",
          "description": "The status of the log collection session."
        },
        "correlationId": {
          "type": "string",
          "description": "A unique identifier for correlating this log collection session with other operations or sessions."
        }
      }
    },
    "LogCollectionStatus": {
      "type": "string",
      "description": "The status of log collection.Represents the status of a log collection operation.",
      "enum": [
        "None",
        "InProgress",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "LogCollectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Indicates that no log collection operation has been initiated."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Indicates that the log collection operation is currently in progress."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Indicates that the log collection operation has failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Indicates that the log collection operation has completed successfully."
          }
        ]
      },
      "readOnly": true
    },
    "PauseServerJobProperties": {
      "type": "object",
      "description": "Properties for pausing a server in the cluster.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Trigger pause job for given server name in cluster."
        }
      },
      "required": [
        "serverName"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "NotSpecified",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource provision state is not specified"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RemoteSupportAccessLevel": {
      "type": "string",
      "description": "Defines the level of remote support access granted.",
      "enum": [
        "None",
        "Diagnostics",
        "DiagnosticsAndRepair"
      ],
      "x-ms-enum": {
        "name": "RemoteSupportAccessLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No remote support access is granted."
          },
          {
            "name": "Diagnostics",
            "value": "Diagnostics",
            "description": "Access is limited to diagnostics information only."
          },
          {
            "name": "DiagnosticsAndRepair",
            "value": "DiagnosticsAndRepair",
            "description": "Access includes diagnostics information and the ability to perform repairs."
          }
        ]
      }
    },
    "RemoteSupportJobProperties": {
      "type": "object",
      "description": "Represents the properties of a remote support job.",
      "properties": {
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/RemoteSupportReportedProperties",
          "description": "log collection job reported properties."
        }
      },
      "required": [
        "accessLevel",
        "expirationTimestamp",
        "type"
      ]
    },
    "RemoteSupportNodeSettings": {
      "type": "object",
      "description": "Represents the settings of a remote support node.",
      "properties": {
        "arcResourceId": {
          "type": "string",
          "description": "The resource ID of the Azure Arc enabled server."
        },
        "state": {
          "type": "string",
          "description": "The state of the remote support node."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the node settings were created, in UTC."
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the node settings were last updated, in UTC."
        },
        "connectionStatus": {
          "type": "string",
          "description": "The current connection status of the remote support session."
        },
        "connectionErrorMessage": {
          "type": "string",
          "description": "The error message, if any, from the last connection attempt."
        },
        "transcriptLocation": {
          "type": "string",
          "description": "The location where the session transcript is stored."
        }
      }
    },
    "RemoteSupportReportedProperties": {
      "type": "object",
      "description": "Represents the reported properties of a remote support job.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        },
        "nodeSettings": {
          "$ref": "#/definitions/RemoteSupportNodeSettings",
          "description": "Optional settings for configuring the node for remote support."
        },
        "sessionDetails": {
          "$ref": "#/definitions/RemoteSupportSession",
          "description": "Details of the remote support session."
        }
      }
    },
    "RemoteSupportSession": {
      "type": "object",
      "description": "Represents a remote support session.",
      "properties": {
        "sessionStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the remote support session, in UTC."
        },
        "sessionEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the remote support session, in UTC."
        },
        "nodeName": {
          "type": "string",
          "description": "The name of the node for which the session was initiated."
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "The duration of the session in minutes."
        },
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "The level of access granted during the remote support session."
        }
      }
    },
    "RemoteSupportType": {
      "type": "string",
      "description": "Defines the type of remote support action to be performed on an edge device.",
      "enum": [
        "Enable",
        "Revoke"
      ],
      "x-ms-enum": {
        "name": "RemoteSupportType",
        "modelAsString": true,
        "values": [
          {
            "name": "Enable",
            "value": "Enable",
            "description": "Enables remote support for the edge device."
          },
          {
            "name": "Revoke",
            "value": "Revoke",
            "description": "Revokes previously granted remote support access for the edge device."
          }
        ]
      }
    },
    "RepairServerJobProperties": {
      "type": "object",
      "description": "Properties for repairing a server in the cluster.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in cluster."
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "serverName"
      ]
    },
    "ResumeServerJobProperties": {
      "type": "object",
      "description": "Properties for resuming a server in the cluster.",
      "properties": {
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Trigger resume job for given server name in cluster."
        }
      },
      "required": [
        "serverName"
      ]
    },
    "Step": {
      "type": "object",
      "description": "Step details during job execution.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "FullStepIndex of step.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "description": "Start time of step.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "description": "End time of step.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of step. Allowed values are 'Error', 'Success', 'InProgress'",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested steps during job execution..",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions in job execution.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
