
{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2023-12-01-preview",
    "description": "A EdgeDevice",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "EdgeDeviceJobs"
    },
    {
      "name": "ClusterJobs"
    },
    {
      "name": "EdgeDeviceMetadata"
    },
    {
      "name": "ValidatedSolutionRecipes"
    },
    {
      "name": "Gpus"
    },
    {
      "name": "NetworkProfiles"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDeviceMetadata": {
      "get": {
        "operationId": "EdgeDeviceMetadata_ListByEdgeDevice",
        "tags": [
          "EdgeDeviceMetadata"
        ],
        "description": "List EdgeDeviceMetadata resources by EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceMetadataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceMetadata_List": {
            "$ref": "./examples/EdgeDeviceMetadata_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDeviceMetadata/{default}": {
      "get": {
        "operationId": "EdgeDeviceMetadata_Get",
        "tags": [
          "EdgeDeviceMetadata"
        ],
        "description": "Get a EdgeDeviceMetadata",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of EdgeDevice metadata",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceMetadata_Get": {
            "$ref": "./examples/EdgeDeviceMetadata_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeDeviceMetadata_CreateOrUpdate",
        "tags": [
          "EdgeDeviceMetadata"
        ],
        "description": "Create a EdgeDeviceMetadata",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of EdgeDevice metadata",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeviceMetadata' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceMetadata"
            }
          },
          "201": {
            "description": "Resource 'DeviceMetadata' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceMetadata"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceMetadata_CreateOrUpdate": {
            "$ref": "./examples/EdgeDeviceMetadata_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeDeviceMetadata_Delete",
        "tags": [
          "EdgeDeviceMetadata"
        ],
        "description": "Delete a EdgeDeviceMetadata",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "default",
            "in": "path",
            "description": "Name of EdgeDevice metadata",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceMetadata_Delete": {
            "$ref": "./examples/EdgeDeviceMetadata_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/gpus": {
      "get": {
        "operationId": "Gpus_ListByEdgeDevice",
        "tags": [
          "Gpus"
        ],
        "description": "List Gpu resources by EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GpuListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gpus_ListByEdgeDevice": {
            "$ref": "./examples/Gpus_ListByEdgeDevice_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/gpus/{gpuName}": {
      "get": {
        "operationId": "Gpus_Get",
        "tags": [
          "Gpus"
        ],
        "description": "Get a Gpu",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the Gpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gpu"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gpus_Get": {
            "$ref": "./examples/Gpus_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Gpus_CreateOrUpdate",
        "tags": [
          "Gpus"
        ],
        "description": "Create a Gpu",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the Gpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gpu"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Gpu' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gpu"
            }
          },
          "201": {
            "description": "Resource 'Gpu' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gpu"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gpus_CreateOrUpdate": {
            "$ref": "./examples/Gpus_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Gpus_Delete",
        "tags": [
          "Gpus"
        ],
        "description": "Delete a Gpu",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "gpuName",
            "in": "path",
            "description": "The name of the Gpu",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gpus_Delete": {
            "$ref": "./examples/Gpus_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/jobs": {
      "get": {
        "operationId": "EdgeDeviceJobs_ListByEdgeDevice",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "List EdgeDeviceJob resources by EdgeDevice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_ListByEdgeDevice": {
            "$ref": "./examples/EdgeDeviceJobs_ListByEdgeDevice.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AzureStackHCI/edgeDevices/{edgeDeviceName}/jobs/{jobsName}": {
      "get": {
        "operationId": "EdgeDeviceJobs_Get",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Get a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_Get_RemoteSupport": {
            "$ref": "./examples/EdgeDeviceJobs_Get_RemoteSupport.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeDeviceJobs_CreateOrUpdate",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Create a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeDeviceJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            }
          },
          "201": {
            "description": "Resource 'EdgeDeviceJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeDeviceJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_CreateOrUpdate_CollectLog": {
            "$ref": "./examples/EdgeDeviceJobs_CreateOrUpdate_CollectLog.json"
          },
          "EdgeDeviceJobs_CreateOrUpdate_RemoteSupport": {
            "$ref": "./examples/EdgeDeviceJobs_CreateOrUpdate_RemoteSupport.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeDeviceJobs_Delete",
        "tags": [
          "EdgeDeviceJobs"
        ],
        "description": "Delete a EdgeDeviceJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeDeviceName",
            "in": "path",
            "description": "The name of the EdgeDevice",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeDevice Job",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeDeviceJobs_Delete": {
            "$ref": "./examples/EdgeDeviceJobs_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/validatedSolutionRecipes": {
      "get": {
        "operationId": "ValidatedSolutionRecipes_ListBySubscriptionLocationResource",
        "tags": [
          "ValidatedSolutionRecipes"
        ],
        "description": "List all validated solution recipes.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidatedSolutionRecipeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidatedSolutionRecipes_ListBySubscriptionLocationResource": {
            "$ref": "./examples/ValidatedSolutionRecipes_ListBySubscriptionLocationResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/validatedSolutionRecipes/{validatedSolutionRecipeName}": {
      "get": {
        "operationId": "ValidatedSolutionRecipes_Get",
        "tags": [
          "ValidatedSolutionRecipes"
        ],
        "description": "Get a validated solution recipe.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "validatedSolutionRecipeName",
            "in": "path",
            "description": "The name of the ValidatedSolutionRecipe",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidatedSolutionRecipe"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidatedSolutionRecipes_Get": {
            "$ref": "./examples/ValidatedSolutionRecipes_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs": {
      "get": {
        "operationId": "ClusterJobs_ListByCluster",
        "tags": [
          "ClusterJobs"
        ],
        "description": "List ClusterJob resources by Clusters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_ListByCluster": {
            "$ref": "./examples/ClusterJobs_ListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs/{jobsName}": {
      "get": {
        "operationId": "ClusterJobs_Get",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Get a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_Get_AddServerJob": {
            "$ref": "./examples/ClusterJobs_Get_AddServerJob.json"
          }
        }
      },
      "put": {
        "operationId": "ClusterJobs_CreateOrUpdate",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Create a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ClusterJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            }
          },
          "201": {
            "description": "Resource 'ClusterJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ClusterJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_CreateOrUpdate_AddServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_AddServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_PauseServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_PauseServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_RepairServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_RepairServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_ResumeServerJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_ResumeServerJob.json"
          },
          "ClusterJobs_CreateOrUpdate_Windows_AddNetworkIntentJob": {
            "$ref": "./examples/ClusterJobs_CreateOrUpdate_AddNetworkIntentJob.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ClusterJobs_Delete",
        "tags": [
          "ClusterJobs"
        ],
        "description": "Delete a ClusterJob",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of ClusterJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterJobs_Delete": {
            "$ref": "./examples/ClusterJobs_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/networkProfiles": {
      "get": {
        "operationId": "NetworkProfiles_ListByCluster",
        "tags": [
          "NetworkProfiles"
        ],
        "description": "List NetworkProfile resources by Clusters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkProfiles_ListByCluster": {
            "$ref": "./examples/NetworkProfiles_ListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/networkProfiles/{networkProfileName}": {
      "get": {
        "operationId": "NetworkProfiles_Get",
        "tags": [
          "NetworkProfiles"
        ],
        "description": "Get Network Profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "networkProfileName",
            "in": "path",
            "description": "Name of NetworkProfile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkProfiles_Get": {
            "$ref": "./examples/NetworkProfiles_Get.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkProfiles_Create",
        "tags": [
          "NetworkProfiles"
        ],
        "description": "Create a Network Profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "networkProfileName",
            "in": "path",
            "description": "Name of NetworkProfile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          },
          "201": {
            "description": "Resource 'NetworkProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkProfiles_Create": {
            "$ref": "./examples/NetworkProfiles_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "NetworkProfiles_Update",
        "tags": [
          "NetworkProfiles"
        ],
        "description": "Update a Network Profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "networkProfileName",
            "in": "path",
            "description": "Name of NetworkProfile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkProfiles_Update": {
            "$ref": "./examples/NetworkProfiles_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkProfiles_Delete",
        "tags": [
          "NetworkProfiles"
        ],
        "description": "Delete a Network Profile.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "networkProfileName",
            "in": "path",
            "description": "Name of NetworkProfile",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkProfiles_Delete": {
            "$ref": "./examples/NetworkProfiles_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddNetworkIntentJobDetails": {
      "type": "object",
      "description": "Host and Network details for which the intent has to be added.",
      "properties": {
        "hostNetwork": {
          "$ref": "#/definitions/DeploymentHostNetwork",
          "description": "HostNetwork properties to set network intent."
        },
        "serverResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure resource id of Arc machine part of cluster for which job will be triggered."
        }
      },
      "required": [
        "hostNetwork"
      ]
    },
    "AddServerJobServerDetails": {
      "type": "object",
      "description": "Details of servers to be added to the cluster",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to cluster."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "Ip address of server to be added to cluster."
        },
        "localAvailabilityZoneName": {
          "type": "string",
          "description": "Local availability zone name of server to be added to rack aware cluster."
        },
        "serverResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure resource id of machine part of cluster for which job will be triggered."
        }
      },
      "required": [
        "serverName",
        "hostIpv4Address",
        "serverResourceId"
      ]
    },
    "AzureLinuxProvisioningRequest": {
      "type": "object",
      "description": "Azure Linux provisioning request.",
      "properties": {
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Operating system profile."
        },
        "userConfiguration": {
          "$ref": "#/definitions/UserConfiguration",
          "description": "User configuration."
        },
        "onboardingConfiguration": {
          "$ref": "#/definitions/OnboardingConfiguration",
          "description": "Onboarding configuration."
        },
        "deviceConfiguration": {
          "$ref": "#/definitions/DeviceConfiguration",
          "description": "Device configuration."
        }
      },
      "required": [
        "osProfile",
        "userConfiguration",
        "onboardingConfiguration",
        "deviceConfiguration"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProvisioningRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureLinux"
    },
    "AzureLinuxRoeEdgeDeviceJob": {
      "type": "object",
      "description": "Edge device job for Azure Linux restricted operating environment solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureLinuxRoeEdgeDeviceJobProperties",
          "description": "Edge device job properties for restricted operating environment"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeDeviceJob"
        }
      ],
      "x-ms-discriminator-value": "AzureLinuxRoe"
    },
    "AzureLinuxRoeEdgeDeviceJobProperties": {
      "type": "object",
      "description": "Azure linux edge device job properties in restricted operating environment",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Edge device job.",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/AzureLinuxRoeEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "AzureLinuxRoeEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported by Azure Linux Edge Devices in Restricted operating environment.",
      "enum": [
        "ProvisionOs"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxRoeEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "ProvisionOs",
            "value": "ProvisionOs",
            "description": "Job to provision operating system in the device."
          }
        ]
      }
    },
    "AzureLinuxRoeProvisionOsJobProperties": {
      "type": "object",
      "description": "Represents the properties of an Azure Linux restricted operating environment Provision Os job.",
      "properties": {
        "provisioningRequest": {
          "$ref": "#/definitions/ProvisioningRequest",
          "description": "Os Provisioning request."
        },
        "reportedProperties": {
          "$ref": "#/definitions/ProvisionOsReportedProperties",
          "description": "Reported Properties for Provision Os job"
        }
      },
      "required": [
        "provisioningRequest"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureLinuxRoeEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "ProvisionOs"
    },
    "Cluster": {
      "type": "object",
      "description": "Cluster details.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ClusterJob": {
      "type": "object",
      "description": "Cluster Jobs resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterJobProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterJobListResult": {
      "type": "object",
      "description": "The response of a ClusterJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ClusterJob items on this page",
          "items": {
            "$ref": "#/definitions/ClusterJob"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterJobProperties": {
      "type": "object",
      "description": "Cluster Job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/HciJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "deploymentMode": {
          "type": "string",
          "description": "Deployment mode to trigger job.",
          "default": "Deploy",
          "enum": [
            "Validate",
            "Deploy"
          ],
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": true,
            "values": [
              {
                "name": "Validate",
                "value": "Validate",
                "description": "Validate ECE action deployment for a cluster."
              },
              {
                "name": "Deploy",
                "value": "Deploy",
                "description": "Deploy ECE action deployment for a cluster."
              }
            ]
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Cluster job.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/JobReportedProperties",
          "description": "Reported properties for job",
          "readOnly": true
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "CollectLogJobProperties": {
      "type": "object",
      "description": "Represents the properties of a log collection job.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ]
    },
    "ConfidentialVmIntent": {
      "type": "string",
      "description": "Defines the customer's intent for updating confidential VM properties",
      "enum": [
        "Enable"
      ],
      "x-ms-enum": {
        "name": "ConfidentialVmIntent",
        "modelAsString": true,
        "values": [
          {
            "name": "Enable",
            "value": "Enable",
            "description": "Enable confidential VM properties on device"
          }
        ]
      }
    },
    "DeploymentAdapterPropertyOverrides": {
      "type": "object",
      "description": "The network adapter properties to override during deployment of a cluster.",
      "properties": {
        "jumboPacket": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirect": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirectTechnology": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation. Expected values are 'iWARP', 'RoCEv2', 'RoCE'"
        }
      }
    },
    "DeploymentHostNetwork": {
      "type": "object",
      "description": "The HostNetwork of a cluster.",
      "properties": {
        "intents": {
          "type": "array",
          "description": "The network intents assigned to the network reference pattern used for the deployment. Each intent will define its own name, traffic type, adapter names, and overrides as recommended by your OEM.",
          "items": {
            "$ref": "#/definitions/DeploymentIntents"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageNetworks": {
          "type": "array",
          "description": "List of StorageNetworks config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageNetworks"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageConnectivitySwitchless": {
          "type": "boolean",
          "description": "Defines how the storage adapters between nodes are connected either switch or switch less.."
        },
        "enableStorageAutoIp": {
          "type": "boolean",
          "description": "Optional parameter required only for 3 Nodes switchless deployments. This allows users to specify IPs and Mask for Storage NICs when Network ATC is not assigning the IPs for storage automatically."
        }
      }
    },
    "DeploymentIntents": {
      "type": "object",
      "description": "The Intents of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the network intent you wish to create."
        },
        "trafficType": {
          "type": "array",
          "description": "List of network traffic types. Only allowed values are 'Compute', 'Storage', 'Management'.",
          "items": {
            "type": "string"
          }
        },
        "adapter": {
          "type": "array",
          "description": "Array of network interfaces used for the network intent.",
          "items": {
            "type": "string"
          }
        },
        "overrideVirtualSwitchConfiguration": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "virtualSwitchConfigurationOverrides": {
          "$ref": "#/definitions/DeploymentVirtualSwitchConfigurationOverrides",
          "description": "Set virtualSwitch ConfigurationOverrides for cluster."
        },
        "overrideQosPolicy": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "qosPolicyOverrides": {
          "$ref": "#/definitions/QosPolicyOverrides",
          "description": "Set QoS PolicyOverrides for cluster."
        },
        "overrideAdapterProperty": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "adapterPropertyOverrides": {
          "$ref": "#/definitions/DeploymentAdapterPropertyOverrides",
          "description": "Set Adapter PropertyOverrides for cluster."
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "Deployment mode to trigger job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "DeploymentStorageAdapterIPInfo": {
      "type": "object",
      "description": "The storage network adapter info.",
      "properties": {
        "physicalNode": {
          "type": "string",
          "description": "physical node name."
        },
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address assigned to network adapter used for storage."
        },
        "subnetMask": {
          "type": "string",
          "description": "The SubnetMask address assigned to network adapter used for storage."
        }
      }
    },
    "DeploymentStorageNetworks": {
      "type": "object",
      "description": "The StorageNetworks of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the storage network."
        },
        "networkAdapterName": {
          "type": "string",
          "description": "Name of the storage network adapter."
        },
        "vlanId": {
          "type": "string",
          "description": "ID specified for the VLAN storage network. This setting is applied to the network interfaces that route the storage and VM migration traffic."
        },
        "storageAdapterIPInfo": {
          "type": "array",
          "description": "List of Storage adapter physical nodes config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageAdapterIPInfo"
          },
          "x-ms-identifiers": [
            "physicalNode"
          ]
        }
      }
    },
    "DeploymentVirtualSwitchConfigurationOverrides": {
      "type": "object",
      "description": "The VirtualSwitchConfigurationOverrides of a cluster.",
      "properties": {
        "enableIov": {
          "type": "string",
          "description": "Enable IoV for Virtual Switch"
        },
        "loadBalancingAlgorithm": {
          "type": "string",
          "description": "Load Balancing Algorithm for Virtual Switch"
        }
      }
    },
    "DeviceConfiguration": {
      "type": "object",
      "description": "Device configuration.",
      "properties": {
        "network": {
          "$ref": "#/definitions/NetworkConfiguration",
          "description": "Network configuration."
        },
        "hostName": {
          "type": "string",
          "description": "Hostname of the device."
        },
        "webProxy": {
          "$ref": "#/definitions/WebProxyConfiguration",
          "description": "Web proxy configuration."
        },
        "time": {
          "$ref": "#/definitions/TimeConfiguration",
          "description": "Time configuration."
        }
      }
    },
    "DeviceLogCollectionStatus": {
      "type": "string",
      "description": "Represents the status of a log collection operation.",
      "enum": [
        "NotStarted",
        "Running",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeviceLogCollectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Log collection operation has not been initiated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Indicates that the log collection operation is currently running."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Indicates that the log collection operation has failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Indicates that the log collection operation has completed successfully."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Indicates that the log collection operation has completed successfully."
          }
        ]
      },
      "readOnly": true
    },
    "DeviceMetadata": {
      "type": "object",
      "description": "EdgeDevice Metadata resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeDeviceMetadataProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeviceMetadataListResult": {
      "type": "object",
      "description": "The response of a DeviceMetadata list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeviceMetadata items on this page",
          "items": {
            "$ref": "#/definitions/DeviceMetadata"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Job status.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of Edge device job.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "EceDeploymentSecrets": {
      "type": "object",
      "description": "Protected parameters list stored in keyvault.",
      "properties": {
        "secretName": {
          "type": "string",
          "description": "Secret name stored in keyvault."
        },
        "eceSecretName": {
          "$ref": "#/definitions/EceSecrets",
          "description": "Secret name expected for job execution."
        },
        "secretLocation": {
          "type": "string",
          "format": "uri",
          "description": "Secret URI stored in keyvault."
        }
      }
    },
    "EceSecrets": {
      "type": "string",
      "description": "Secret names allowed for Enterprise Cloud Engine (ECE) deployment.",
      "enum": [
        "AzureStackLCMUserCredential",
        "DefaultARBApplication",
        "LocalAdminCredential",
        "WitnessStorageKey"
      ],
      "x-ms-enum": {
        "name": "EceSecrets",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureStackLCMUserCredential",
            "value": "AzureStackLCMUserCredential",
            "description": "AzureStackLCMUserCredential used for LCM operations for AzureStackHCI cluster."
          },
          {
            "name": "DefaultARBApplication",
            "value": "DefaultARBApplication",
            "description": "DefaultARBApplication used to manage Azure Arc resource bridge (ARB) for AzureStackHCI cluster."
          },
          {
            "name": "LocalAdminCredential",
            "value": "LocalAdminCredential",
            "description": "LocalAdminCredential used for admin operations for AzureStackHCI cluster."
          },
          {
            "name": "WitnessStorageKey",
            "value": "WitnessStorageKey",
            "description": "WitnessStorageKey used for setting up a cloud witness for AzureStackHCI cluster."
          }
        ]
      }
    },
    "EdgeDevice": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeDeviceJob": {
      "type": "object",
      "description": "EdgeDevice Jobs resource",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/EdgeDeviceKind",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeDeviceJobListResult": {
      "type": "object",
      "description": "The response of a EdgeDeviceJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeDeviceJob items on this page",
          "items": {
            "$ref": "#/definitions/EdgeDeviceJob"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeDeviceJobProperties": {
      "type": "object",
      "description": "Edge device job properties",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Edge device job.",
          "readOnly": true
        }
      }
    },
    "EdgeDeviceJobType": {
      "type": "string",
      "description": "Common Job Types supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "RemoteConnect"
      ],
      "x-ms-enum": {
        "name": "EdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          },
          {
            "name": "RemoteConnect",
            "value": "RemoteConnect",
            "description": "Job to establish a remote connection to the device."
          }
        ]
      }
    },
    "EdgeDeviceKind": {
      "type": "string",
      "description": "Edge device type based on host OS installed.",
      "enum": [
        "HCI",
        "WindowsServer",
        "WindowsIoT",
        "AzureLinux",
        "UbuntuLinux",
        "AzureLinuxRoe"
      ],
      "x-ms-enum": {
        "name": "EdgeDeviceKind",
        "modelAsString": true,
        "values": [
          {
            "name": "HCI",
            "value": "HCI",
            "description": "Arc-enabled edge device with HCI OS."
          },
          {
            "name": "WindowsServer",
            "value": "WindowsServer",
            "description": "Arc-enabled edge device with WindowsServer OS."
          },
          {
            "name": "WindowsIoT",
            "value": "WindowsIoT",
            "description": "Arc-enabled edge device with WindowsIoT OS."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Arc-enabled edge device with AzureLinux OS."
          },
          {
            "name": "UbuntuLinux",
            "value": "UbuntuLinux",
            "description": "Arc-enabled edge device with UbuntuLinux OS."
          },
          {
            "name": "AzureLinuxRoe",
            "value": "AzureLinuxRoe",
            "description": "Arc-enabled edge device with Azure Linux restricted operating environment."
          }
        ]
      }
    },
    "EdgeDeviceMetadataProperties": {
      "type": "object",
      "description": "Edge device metadata properties",
      "properties": {
        "validatedRecipe": {
          "type": "string",
          "description": "Validated Recipe."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      }
    },
    "EdgeSolutionType": {
      "type": "string",
      "description": "Edge solution type.",
      "enum": [
        "WindowsServer",
        "AzureLinux"
      ],
      "x-ms-enum": {
        "name": "EdgeSolutionType",
        "modelAsString": true,
        "values": [
          {
            "name": "WindowsServer",
            "value": "WindowsServer",
            "description": "Edge solution for Windows based edge devices."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Edge solution for Azure linux edge devices."
          }
        ]
      }
    },
    "Gpu": {
      "type": "object",
      "description": "GPU resource",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/EdgeDeviceKind",
          "description": "Edge Solution type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GpuDetails": {
      "type": "object",
      "description": "Represents the details of a GPU.",
      "properties": {
        "gpuId": {
          "type": "string",
          "description": "Represents the details of a GPU.",
          "readOnly": true
        },
        "gpuName": {
          "type": "string",
          "description": "The name of the GPU.",
          "readOnly": true
        },
        "gpuManufacturer": {
          "type": "string",
          "description": "The vendor of the GPU.",
          "readOnly": true
        },
        "gpuModel": {
          "type": "string",
          "description": "The model of the GPU.",
          "readOnly": true
        },
        "gpuStatus": {
          "type": "string",
          "description": "The status of the GPU.",
          "readOnly": true
        },
        "gpuMode": {
          "$ref": "#/definitions/GpuMode",
          "description": "Specified by admin whether this GPU can be used as DDA, GPU-P, GPU-P with LM. Can only be updated when the GPU is not attached to any VM. ",
          "readOnly": true
        },
        "partitionSizeGb": {
          "type": "string",
          "description": "Reported partition size (default: 0 for DDA) For e.g. 2, 4, etc. ",
          "readOnly": true
        },
        "totalPartitions": {
          "type": "integer",
          "format": "int32",
          "description": "This is the count of total partitions.",
          "readOnly": true
        },
        "availablePartitions": {
          "type": "integer",
          "format": "int32",
          "description": "The number of available partitions.",
          "readOnly": true
        },
        "assignedPartitions": {
          "type": "integer",
          "format": "int32",
          "description": "This is the count of assigned partitions.",
          "readOnly": true
        },
        "hostDriverVersion": {
          "type": "string",
          "description": "This is the host driver for the host on which GPU is assigned, only for DDA",
          "readOnly": true
        },
        "availableEncoder": {
          "type": "string",
          "description": "It is the available processing power to encode video. ",
          "readOnly": true
        },
        "availableDecoder": {
          "type": "string",
          "description": "It is the available processing power to decode video. ",
          "readOnly": true
        },
        "availableVram": {
          "type": "string",
          "description": "It is a high-speed memory which drivers allow the GPU to borrow from system memory.",
          "readOnly": true
        },
        "totalVram": {
          "type": "string",
          "description": "VRAM (Video Random-Access Memory) is the total RAM that is plugged into your GPU and acts as temporary storage for data related to graphics rendering.",
          "readOnly": true
        },
        "ddaPool": {
          "type": "string",
          "description": "It is a resource pool on each server containing the clustered GPU resources.",
          "readOnly": true
        },
        "validPartitionCount": {
          "type": "array",
          "description": "IA set of valid partition counts that's predefined to configure. ",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "assignmentStatus": {
          "type": "string",
          "description": "This is the assignment status of the GPU.",
          "readOnly": true
        },
        "workloads": {
          "type": "array",
          "description": "workload details to which GPU is assigned.",
          "items": {
            "$ref": "#/definitions/WorkloadDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "workloadName"
          ]
        }
      },
      "required": [
        "partitionSizeGb"
      ]
    },
    "GpuListResult": {
      "type": "object",
      "description": "The response of a Gpu list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Gpu items on this page",
          "items": {
            "$ref": "#/definitions/Gpu"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GpuMode": {
      "type": "string",
      "description": "GPU modes supported.",
      "enum": [
        "GPUP",
        "DDA"
      ],
      "x-ms-enum": {
        "name": "GpuMode",
        "modelAsString": true,
        "values": [
          {
            "name": "GPUP",
            "value": "GPUP",
            "description": "GPU-P mode."
          },
          {
            "name": "DDA",
            "value": "DDA",
            "description": "DDA mode."
          }
        ]
      }
    },
    "GpuVendorType": {
      "type": "string",
      "description": "GPU Vendor Type supported.",
      "enum": [
        "Nvidia",
        "AMD",
        "Intel"
      ],
      "x-ms-enum": {
        "name": "GpuVendorType",
        "modelAsString": true,
        "values": [
          {
            "name": "Nvidia",
            "value": "Nvidia",
            "description": "Nvidia GPU."
          },
          {
            "name": "AMD",
            "value": "AMD",
            "description": "AMD GPU."
          },
          {
            "name": "Intel",
            "value": "Intel",
            "description": "Intel GPU."
          }
        ]
      }
    },
    "HciAddNetworkIntentJobProperties": {
      "type": "object",
      "description": "Properties for adding network intent to a cluster.",
      "properties": {
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "addNetworkIntentJobDetails": {
          "type": "array",
          "description": "Host and Network details for which the intent has to be added.",
          "items": {
            "$ref": "#/definitions/AddNetworkIntentJobDetails"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "addNetworkIntentJobDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddNetworkIntent"
    },
    "HciAddServerJobProperties": {
      "type": "object",
      "description": "Properties for adding a server in the cluster.",
      "properties": {
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger the job for the cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        },
        "addServerJobServerDetails": {
          "type": "array",
          "description": "Details of servers to be added to the cluster",
          "items": {
            "$ref": "#/definitions/AddServerJobServerDetails"
          },
          "x-ms-identifiers": []
        },
        "witnessType": {
          "type": "string",
          "description": "Use a cloud witness if you have internet access and if you use an Azure Storage account to provide a vote on cluster quorum. A cloud witness uses Azure Blob Storage to read or write a blob file and then uses it to arbitrate in split-brain resolution. Only allowed values are 'Cloud', 'FileShare'"
        },
        "witnessPath": {
          "type": "string",
          "description": "Specify the fileshare path for the local witness for your Azure Stack HCI cluster."
        },
        "cloudAccountName": {
          "type": "string",
          "description": "Specify the Azure Storage account name for cloud witness for your Azure Stack HCI cluster."
        }
      },
      "required": [
        "addServerJobServerDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "HciCollectLogJobProperties": {
      "type": "object",
      "description": "Represents the properties of an HCI Collect Log job.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "HciConfigureArcGatewayJobProperties": {
      "type": "object",
      "description": "Properties for configuring arc gateway to a cluster.",
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "ConfigureArcGateway"
    },
    "HciEdgeDeviceJob": {
      "type": "object",
      "description": "Edge device job for Azure Stack HCI solution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties",
          "description": "HCI Edge device job properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeDeviceJob"
        }
      ],
      "x-ms-discriminator-value": "HCI"
    },
    "HciEdgeDeviceJobProperties": {
      "type": "object",
      "description": "HCI Edge device job properties",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Edge device job.",
          "readOnly": true
        },
        "jobType": {
          "$ref": "#/definitions/HciEdgeDeviceJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "HciEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "UpdateConfidentialVm"
      ],
      "x-ms-enum": {
        "name": "HciEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          },
          {
            "name": "UpdateConfidentialVm",
            "value": "UpdateConfidentialVm",
            "description": "Job to update confidential VM support to the device."
          }
        ]
      }
    },
    "HciGpu": {
      "type": "object",
      "description": "GPU properties for edge device with HCI OS installed.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HciGpuProperties",
          "description": "GPU properties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Gpu"
        }
      ],
      "x-ms-discriminator-value": "HCI"
    },
    "HciGpuDesiredProperties": {
      "type": "object",
      "description": "Represents the desired properties of a GPU.",
      "properties": {
        "partitionSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Desired partition size (default: 0 for DDA) For e.g. 2, 4, etc. across all nodes "
        },
        "gpuMode": {
          "$ref": "#/definitions/GpuMode",
          "description": "Specified by admin whether this GPU can be used as DDA, GPU-P, GPU-P with LM. Can only be updated when the GPU is not attached to any VM. "
        }
      }
    },
    "HciGpuProperties": {
      "type": "object",
      "description": "Represents the properties of a GPU.",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "The name of the node."
        },
        "reportedProperties": {
          "$ref": "#/definitions/HciGpuReportedProperties",
          "description": "GPU reported properties.",
          "readOnly": true
        },
        "desiredProperties": {
          "$ref": "#/definitions/HciGpuDesiredProperties",
          "description": "GPU desired properties."
        }
      }
    },
    "HciGpuReportedProperties": {
      "type": "object",
      "description": "Represents the reported properties of a log collection job.",
      "properties": {
        "gpuDetails": {
          "type": "array",
          "description": "List of GPU details for this edge device.",
          "items": {
            "$ref": "#/definitions/GpuDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "gpuId"
          ]
        }
      }
    },
    "HciJobType": {
      "type": "string",
      "description": "ClusterJob Type supported.",
      "enum": [
        "AddServer",
        "RepairServer",
        "ResumeServer",
        "PauseServer",
        "AddNetworkIntent",
        "ConfigureArcGateway",
        "VmConnectProvision",
        "VmConnectRemove"
      ],
      "x-ms-enum": {
        "name": "HciJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "Job to add a server to the cluster."
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "Job to repair a server in the cluster."
          },
          {
            "name": "ResumeServer",
            "value": "ResumeServer",
            "description": "Job to resume a paused server in the cluster."
          },
          {
            "name": "PauseServer",
            "value": "PauseServer",
            "description": "Job to pause an active server in the cluster."
          },
          {
            "name": "AddNetworkIntent",
            "value": "AddNetworkIntent",
            "description": "Job to add a network intent to the cluster."
          },
          {
            "name": "ConfigureArcGateway",
            "value": "ConfigureArcGateway",
            "description": "Job to configure arc gateway for the cluster."
          },
          {
            "name": "VmConnectProvision",
            "value": "VmConnectProvision",
            "description": "Job to open port to enable RDP Connection"
          },
          {
            "name": "VmConnectRemove",
            "value": "VmConnectRemove",
            "description": "Job to close port to disable RDP Connection"
          }
        ]
      }
    },
    "HciPauseServerJobProperties": {
      "type": "object",
      "description": "Properties for pausing a server in the cluster.",
      "properties": {
        "pauseServerJobServerDetails": {
          "type": "array",
          "description": "Details of servers to be paused in the cluster",
          "items": {
            "$ref": "#/definitions/PauseServerJobServerDetails"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "pauseServerJobServerDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "PauseServer"
    },
    "VmConnectProvisionJobProperties": {
      "type": "object",
      "description": "Properties for enabling VM Connect.",
      "properties": {
        "vmConnectProvisionJobDetails": {
          "type": "array",
          "description": "Details of VM needed to enable VM Connect",
          "items": {
            "$ref": "#/definitions/VmConnectJobDetails"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "vmConnectProvisionJobDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "VmConnectProvision"
    },
    "VmConnectRemoveJobProperties": {
      "type": "object",
      "description": "Properties for disabling VM Connect.",
      "properties": {
        "vmConnectRemoveJobDetails": {
          "type": "array",
          "description": "Details of VM needed to disable VM Connect",
          "items": {
            "$ref": "#/definitions/VmConnectJobDetails"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "vmConnectRemoveJobDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
      "x-ms-discriminator-value": "VmConnectRemove"
    },
    "HciProvisioningRequest": {
      "type": "object",
      "description": "HCI provisioning request.",
      "properties": {
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Operating system profile."
        },
        "userConfiguration": {
          "$ref": "#/definitions/UserConfiguration",
          "description": "User configuration."
        },
        "onboardingConfiguration": {
          "$ref": "#/definitions/OnboardingConfiguration",
          "description": "Onboarding configuration."
        },
        "deviceConfiguration": {
          "$ref": "#/definitions/DeviceConfiguration",
          "description": "Device configuration."
        }
      },
      "required": [
        "osProfile",
        "userConfiguration",
        "onboardingConfiguration",
        "deviceConfiguration"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProvisioningRequest"
        }
      ],
      "x-ms-discriminator-value": "HCI"
    },
    "HciRemoteSupportJobProperties": {
      "type": "object",
      "description": "Represents the properties of a remote support job for HCI.",
      "properties": {
        "accessLevel": {
          "$ref": "#/definitions/RemoteSupportAccessLevel",
          "description": "Remote support access level."
        },
        "expirationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Remote support expiration timestamp."
        },
        "type": {
          "$ref": "#/definitions/RemoteSupportType",
          "description": "Remote support type."
        },
        "reportedProperties": {
          "$ref": "#/definitions/RemoteSupportReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "accessLevel",
        "expirationTimestamp",
        "type"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/HciEdgeDeviceJobProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteSupport"
    },
    "HciRepairServerJobProperties": {
      "type": "object",
      "description": "Properties for repairing a server in the cluster.",
      "properties": {
        "repairServerJobServerDetails": {
          "type": "array",
          "description": "Details of servers to be repaired in the cluster",
          "items": {
            "$ref": "#/definitions/RepairServerJobServerDetails"
          },
          "x-ms-identifiers": []
        },
        "secrets": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for cluster.",
          "items": {
            "$ref": "#/definitions/EceDeploymentSecrets"
          },
          "x-ms-identifiers": [
            "secretName"
          ]
        }
      },
      "required": [
        "repairServerJobServerDetails"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ClusterJobProperties"
        }
      ],
[...]
