{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "version": "2023-12-01-preview",
    "description": "Azure Stack HCI management service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Jobs"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs": {
      "get": {
        "operationId": "Jobs_ListByClusters",
        "tags": [
          "Jobs"
        ],
        "description": "List Job resources by Clusters",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/jobs/{jobsName}": {
      "get": {
        "operationId": "Jobs_Get",
        "tags": [
          "Jobs"
        ],
        "description": "Get a Job",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Jobs_CreateOrUpdate",
        "tags": [
          "Jobs"
        ],
        "description": "Create a Job",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Job' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "201": {
            "description": "Resource 'Job' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Job"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Jobs_Delete",
        "tags": [
          "Jobs"
        ],
        "description": "Delete a Job",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of Job",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AddServerJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddServerJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AddServer"
    },
    "AddServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be added to Azure stack HCI Cluster."
        },
        "mode": {
          "$ref": "./common.json#/definitions/DeploymentMode",
          "description": "Add Server action plan mode."
        },
        "hostIpv4Address": {
          "type": "string",
          "description": "Ip address of server to be added to Azure stack HCI Cluster."
        },
        "protectedParameters": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for Azure Stack HCI cluster.",
          "items": {
            "$ref": "./common.json#/definitions/ProtectedParameters"
          },
          "x-ms-identifiers": []
        },
        "validationStatus": {
          "$ref": "./common.json#/definitions/EceActionStatus",
          "description": "use ECE status property to show job status run using ECE toolchain in HCI cluster.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "./common.json#/definitions/EceActionStatus"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    },
    "ClusterProperties": {
      "type": "object",
      "description": "A ClusterProperties"
    },
    "Clusters": {
      "type": "object",
      "description": "A Cluster",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of Cluster",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CollectLogJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CollectLogJobJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "CollectLogJobJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in Azure stack HCI Cluster."
        },
        "outputBlobUri": {
          "type": "string",
          "description": "Store external blob link to output.",
          "readOnly": true
        },
        "errorBlobUri": {
          "type": "string",
          "description": "Store external blob link to error details.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    },
    "DefaultJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SetInformationJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "DefaultJob"
    },
    "DefaultJobJobProperties": {
      "type": "object",
      "properties": {
        "defaultJobName": {
          "type": "string",
          "description": "default job type."
        },
        "parameters": {
          "type": "array",
          "description": "List of parameters to pass to trigger job for Azure Stack HCI cluster.",
          "items": {
            "$ref": "./common.json#/definitions/Parameters"
          },
          "x-ms-identifiers": []
        },
        "protectedParameters": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for Azure Stack HCI cluster.",
          "items": {
            "$ref": "./common.json#/definitions/ProtectedParameters"
          },
          "x-ms-identifiers": []
        },
        "statusDetails": {
          "$ref": "#/definitions/JobStatusDetails"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    },
    "EceActionStatus": {
      "type": "object",
      "description": "The ECE action plan deployment status for AzureStackHCI Cluster.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of ECE action AzureStackHCI Cluster Deployment.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of AzureStackHCI Cluster Deployment.",
          "items": {
            "$ref": "./common.json#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "Job": {
      "type": "object",
      "description": "Jobs resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobsProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "kind": {
          "$ref": "#/definitions/JobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "JobListResult": {
      "type": "object",
      "description": "The response of a Job list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Job items on this page",
          "items": {
            "$ref": "#/definitions/Job"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "JobStatusDetails": {
      "type": "object",
      "description": "The DeploymentStatus of AzureStackHCI Cluster.",
      "properties": {
        "eceStatus": {
          "$ref": "./common.json#/definitions/EceActionStatus",
          "description": "use ECE status property to show job status run using ECE toolchain in HCI cluster.",
          "readOnly": true
        },
        "outputBlobUri": {
          "type": "string",
          "description": "Store external blob link to output.",
          "readOnly": true
        },
        "errorBlobUri": {
          "type": "string",
          "description": "Store external blob link to error details.",
          "readOnly": true
        },
        "trace": {
          "$ref": "#/definitions/JobStatusTrace",
          "description": "The job error details",
          "readOnly": true
        }
      }
    },
    "JobStatusTrace": {
      "type": "object",
      "description": "The job status details.",
      "properties": {
        "target": {
          "type": "string",
          "description": "The target for which job status reported.",
          "readOnly": true
        },
        "code": {
          "type": "string",
          "description": "The code intended for programmatic access.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The message that describes the status in detail.",
          "readOnly": true
        },
        "recommendations": {
          "type": "array",
          "description": "The recommended actions.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "trace": {
          "type": "array",
          "description": "The message that describes the error in detail.",
          "items": {
            "$ref": "#/definitions/JobStatusTrace"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "JobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "AddServer",
        "RemoveServer",
        "RepairServer",
        "ResumeServer",
        "PauseServer",
        "SetInformation",
        "DefaultJob",
        "CollectLog"
      ],
      "x-ms-enum": {
        "name": "JobType",
        "modelAsString": true,
        "values": [
          {
            "name": "AddServer",
            "value": "AddServer",
            "description": "AddServer"
          },
          {
            "name": "RemoveServer",
            "value": "RemoveServer",
            "description": "RemoveServer"
          },
          {
            "name": "RepairServer",
            "value": "RepairServer",
            "description": "RepairServer"
          },
          {
            "name": "ResumeServer",
            "value": "ResumeServer",
            "description": "ResumeServer"
          },
          {
            "name": "PauseServer",
            "value": "PauseServer",
            "description": "ResumeServer"
          },
          {
            "name": "SetInformation",
            "value": "SetInformation",
            "description": "SetInformation"
          },
          {
            "name": "DefaultJob",
            "value": "DefaultJob",
            "description": "DefaultJob"
          },
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "CollectLog"
          }
        ]
      }
    },
    "JobsProperties": {
      "type": "object",
      "description": "Job properties",
      "properties": {
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "arcNodeResourceIds": {
          "type": "array",
          "description": "List of ARM resource ids of Arc machines part of Azure Stack HCI cluster for which job will be trigerred.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [],
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "message": {
          "type": "string",
          "description": "Status details of AzureStackHCI Cluster job.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of AzureStackHCI Cluster job. Allowed values are 'Failed', 'Success', 'Running', 'canceled'",
          "readOnly": true
        }
      }
    },
    "Parameters": {
      "type": "object",
      "description": "Parameters Object.",
      "properties": {
        "name": {
          "type": "string",
          "description": "property name."
        },
        "value": {
          "type": "string",
          "description": "property value."
        }
      }
    },
    "PauseServerJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PauseServerJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "PauseServer"
    },
    "PauseServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger pause action plan for given server name in Azure stack HCI Cluster."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    },
    "ProtectedParameters": {
      "type": "object",
      "description": "Protected parameters list stored in keyvault.",
      "properties": {
        "secretsLocation": {
          "type": "string",
          "format": "uri",
          "description": "keyvault URI to store protected secrets."
        },
        "secrets": {
          "type": "array",
          "description": "List of secret names stored in keyvault.",
          "items": {},
          "x-ms-identifiers": []
        }
      }
    },
    "RepairServerJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RepairServerJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "RepairServer"
    },
    "RepairServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Name of server to be repaired in Azure stack HCI Cluster."
        },
        "protectedParameters": {
          "type": "array",
          "description": "List of protected parameters to pass to trigger job for Azure Stack HCI cluster.",
          "items": {
            "$ref": "./common.json#/definitions/ProtectedParameters"
          },
          "x-ms-identifiers": []
        },
        "statusDetails": {
          "$ref": "./common.json#/definitions/EceActionStatus",
          "description": "use ECE status property to show job status run using ECE toolchain in HCI cluster.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    },
    "ResumeServerJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResumeServerJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "ResumeServer"
    },
    "ResumeServerJobProperties": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "Trigger resume action plan for given server name in Azure stack HCI Cluster."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    },
    "SetInformationJob": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SetInformationJobProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "SetInformation"
    },
    "SetInformationJobProperties": {
      "type": "object",
      "properties": {
        "Switchless": {
          "type": "boolean",
          "description": "Sset to represent if the system is configured in a switchless or switched configuration."
        },
        "StorageIntentAdapters": {
          "type": "string",
          "description": "A string with a list of comma-separated name of the network adapters to use for the storage intent."
        },
        "Name": {
          "type": "string",
          "description": "A string with the name of the storage intent. If not provided a default one storage is used."
        },
        "VlanId": {
          "type": "string",
          "description": "A string with a list of comma-separated vlan ids to use which should map exactly and in order to the adapters provided in StorageIntentAdapters. If not provided the system uses the defaults set by Network ATC."
        },
        "JumboPacket": {
          "type": "string",
          "description": "A string with the size to be set for Jumb packet frame size for the storage adapters."
        },
        "NetworkDirect": {
          "type": "string",
          "description": "A string to be set to enabled or disabled to specify if network direct mode should be enabled/disabled."
        },
        "NetworkDirectTechnology": {
          "type": "string",
          "description": "A string that specifies the network direct technology to be used. Possible values are iWARP, RoCE and RoCEv2."
        },
        "PriorityValue8021Action_Cluster": {
          "type": "string",
          "description": "A string to specify the 802.1Q priority for the cluster."
        },
        "PriorityValue8021Action_SMB": {
          "type": "string",
          "description": "A string to specify the 802.1Q priority for SMB."
        },
        "BandwidthPercentage_SMB": {
          "type": "string",
          "description": "A string to specify the bandwidth percentage to be used for SMB."
        },
        "statusDetails": {
          "$ref": "./common.json#/definitions/EceActionStatus",
          "description": "use ECE status property to show job status run using ECE toolchain in HCI cluster.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/JobsProperties"
        }
      ]
    }
  },
  "parameters": {}
}
