{
  "swagger": "2.0",
  "info": {
    "title": "LoadTest Client",
    "description": "LoadTest client provides access to LoadTest Resource and it's status operations.",
    "version": "2021-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/providers/Microsoft.LoadTestService/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all the available API operations for Load Test Resource.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationPageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "tags": [
          "LoadTests"
        ],
        "description": "Lists loadtests resources in a subscription.",
        "operationId": "LoadTests_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LoadTestResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "tags": [
          "LoadTests"
        ],
        "description": "Lists loadtest resources in a resource group.",
        "operationId": "LoadTests_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of loadtests resources retrieved",
            "schema": {
              "$ref": "#/definitions/LoadTestResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}": {
      "get": {
        "tags": [
          "LoadTests"
        ],
        "description": "Get a LoadTest resource.",
        "operationId": "LoadTests_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- loadtest resource retrieved",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "LoadTests"
        ],
        "description": "Create or update LoadTest resource.",
        "operationId": "LoadTests_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          },
          {
            "in": "body",
            "name": "LoadTestResource",
            "description": "LoadTest resource data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LoadTests"
        ],
        "description": "Update a loadtest resource.",
        "operationId": "LoadTests_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          },
          {
            "in": "body",
            "name": "ResourcePatchRequestBody",
            "description": "LoadTest resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatchRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource updated",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LoadTests"
        ],
        "description": "Delete a LoadTest resource.",
        "operationId": "LoadTests_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource deleted"
          },
          "202": {
            "description": "Accepted -- LoadTest resource delete request accepted"
          },
          "204": {
            "description": "No Content -- resource deleted"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Identity": {
      "description": "Identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "enum": [
            "SystemAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          },
          "type": "string",
          "description": "The identity type."
        }
      }
    },
    "OperationPageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "LoadTest operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "LoadTest API operation.",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is data action or not.",
          "type": "boolean"
        },
        "display": {
          "description": "Operation display information.",
          "$ref": "#/definitions/OperationDisplayInfo"
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "Operation display details.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource Provider: Microsoft.LoadTestService",
          "type": "string"
        },
        "resource": {
          "description": "LoadTest resource type",
          "type": "string"
        },
        "operation": {
          "description": "Operation on the resource type.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        }
      }
    },
    "LoadTestResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadTestResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "LoadTestResource": {
      "type": "object",
      "description": "LoadTest details",
      "properties": {
        "properties": {
          "description": "Load Test resource properties",
          "$ref": "#/definitions/LoadTestProperties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The type of identity used for the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ResourcePatchRequestBody": {
      "description": "LoadTest resource patch request body.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object"
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The type of identity used for the resource."
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives"
        }
      }
    },
    "LoadTestProperties": {
      "description": "LoadTest resource properties.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the resource.",
          "maxLength": 512,
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state.",
          "$ref": "#/definitions/ResourceState",
          "readOnly": true
        },
        "dataPlaneURI": {
          "description": "Resource data plane URI.",
          "maxLength": 2083,
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceState": {
      "description": "Load Test resources provisioning states.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "LoadTestNameParameter": {
      "in": "path",
      "name": "loadTestName",
      "description": "Load Test name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
