{
  "swagger": "2.0",
  "info": {
    "title": "Desktop Virtualization API Client",
    "version": "2024-08-08-preview",
    "description": "This Typespec represents the Desktop Virtualization API interfaces.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AppAttachPackages"
    },
    {
      "name": "StartMenuItems"
    },
    {
      "name": "ApplicationGroups"
    },
    {
      "name": "AppAttachPackageInfo"
    },
    {
      "name": "MSIXImages"
    },
    {
      "name": "PrivateLinkResources"
    },
    {
      "name": "HostPools"
    },
    {
      "name": "ScalingPlans"
    },
    {
      "name": "Workspaces"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Desktops"
    },
    {
      "name": "CustomPrivateEndpointConnection"
    },
    {
      "name": "SessionHosts"
    },
    {
      "name": "UserSessions"
    },
    {
      "name": "ScalingPlanPersonalSchedules"
    },
    {
      "name": "ScalingPlanPooledSchedules"
    },
    {
      "name": "MSIXPackages"
    },
    {
      "name": "ActiveSessionHostConfigurations"
    },
    {
      "name": "InitiateSessionHostUpdate"
    },
    {
      "name": "ControlSessionHostUpdate"
    },
    {
      "name": "SessionHostManagements"
    },
    {
      "name": "SessionHostConfigurations"
    },
    {
      "name": "SessionHostManagementUpdateStatuses"
    }
  ],
  "paths": {
    "/providers/Microsoft.DesktopVirtualization/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Provider Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/appAttachPackages": {
      "get": {
        "operationId": "AppAttachPackage_ListBySubscription",
        "tags": [
          "AppAttachPackages"
        ],
        "description": "List App Attach packages in subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression. Valid properties for filtering are package name, host pool, and resource group.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AppAttachPackageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackage_ListBySubscription": {
            "$ref": "./examples/AppAttachPackage_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/applicationGroups": {
      "get": {
        "operationId": "ApplicationGroups_ListBySubscription",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "List applicationGroups in subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression. Valid properties for filtering are applicationGroupType.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGroup_List": {
            "$ref": "./examples/ApplicationGroups_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/hostPools": {
      "get": {
        "operationId": "HostPools_List",
        "tags": [
          "HostPools"
        ],
        "description": "List hostPools in subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HostPoolList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPool_List": {
            "$ref": "./examples/HostPool_Lists.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/scalingPlans": {
      "get": {
        "operationId": "ScalingPlans_ListBySubscription",
        "tags": [
          "ScalingPlans"
        ],
        "description": "List scaling plans in subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScalingPlans_ListBySubscription": {
            "$ref": "./examples/ScalingPlans_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/workspaces": {
      "get": {
        "operationId": "Workspaces_ListBySubscription",
        "tags": [
          "Workspaces"
        ],
        "description": "List workspaces in subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workspaces_ListBySubscription": {
            "$ref": "./examples/Workspaces_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages": {
      "get": {
        "operationId": "AppAttachPackage_ListByResourceGroup",
        "tags": [
          "AppAttachPackages"
        ],
        "description": "List App Attach packages in resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression. Valid properties for filtering are package name and host pool.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AppAttachPackageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackage_ListByResourceGroup": {
            "$ref": "./examples/AppAttachPackage_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/appAttachPackages/{appAttachPackageName}": {
      "get": {
        "operationId": "AppAttachPackage_Get",
        "tags": [
          "AppAttachPackages"
        ],
        "description": "Get an app attach package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appAttachPackageName",
            "in": "path",
            "description": "The name of the App Attach package",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppAttachPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackage_Get": {
            "$ref": "./examples/AppAttachPackage_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AppAttachPackage_CreateOrUpdate",
        "tags": [
          "AppAttachPackages"
        ],
        "description": "Create or update an App Attach package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appAttachPackageName",
            "in": "path",
            "description": "The name of the App Attach package",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$"
          },
          {
            "name": "appAttachPackage",
            "in": "body",
            "description": "Object containing App Attach Package definitions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAttachPackage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AppAttachPackage' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppAttachPackage"
            }
          },
          "201": {
            "description": "Resource 'AppAttachPackage' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppAttachPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackage_Create": {
            "$ref": "./examples/AppAttachPackage_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "AppAttachPackage_Update",
        "tags": [
          "AppAttachPackages"
        ],
        "description": "Update an App Attach Package",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appAttachPackageName",
            "in": "path",
            "description": "The name of the App Attach package",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$"
          },
          {
            "name": "appAttachPackagePatch",
            "in": "body",
            "description": "The resource properties to be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AppAttachPackagePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppAttachPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackage_Update": {
            "$ref": "./examples/AppAttachPackage_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "AppAttachPackage_Delete",
        "tags": [
          "AppAttachPackages"
        ],
        "description": "Remove an App Attach Package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appAttachPackageName",
            "in": "path",
            "description": "The name of the App Attach package",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-z0-9]([a-z0-9]|(-(?!-))){1,61}[a-z0-9]$"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Allows force delete",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackage_Delete": {
            "$ref": "./examples/AppAttachPackage_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups": {
      "get": {
        "operationId": "ApplicationGroups_ListByResourceGroup",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "List applicationGroups.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter expression. Valid properties for filtering are applicationGroupType.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGroup_ListByResourceGroup": {
            "$ref": "./examples/ApplicationGroups_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}": {
      "get": {
        "operationId": "ApplicationGroups_Get",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "Get an application group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGroup_Get": {
            "$ref": "./examples/ApplicationGroups_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ApplicationGroups_CreateOrUpdate",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "Create or update an applicationGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "applicationGroup",
            "in": "body",
            "description": "Object containing ApplicationGroup definitions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApplicationGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "201": {
            "description": "Resource 'ApplicationGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGroup_Create": {
            "$ref": "./examples/ApplicationGroups_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ApplicationGroups_Update",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "Update an applicationGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "applicationGroup",
            "in": "body",
            "description": "The AppGroup properties to be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationGroupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGroup_Update": {
            "$ref": "./examples/ApplicationGroups_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ApplicationGroups_Delete",
        "tags": [
          "ApplicationGroups"
        ],
        "description": "Remove an applicationGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationGroups_Delete": {
            "$ref": "./examples/ApplicationGroups_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/applications": {
      "get": {
        "operationId": "Applications_List",
        "tags": [
          "Applications"
        ],
        "description": "List applications.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_List": {
            "$ref": "./examples/Applications_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/applications/{applicationName}": {
      "get": {
        "operationId": "Applications_Get",
        "tags": [
          "Applications"
        ],
        "description": "Get an application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the application within the specified application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_Get": {
            "$ref": "./examples/Applications_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Applications_CreateOrUpdate",
        "tags": [
          "Applications"
        ],
        "description": "Create or update an application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the application within the specified application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "application",
            "in": "body",
            "description": "Object containing Application definitions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Application' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Resource 'Application' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_CreateOrUpdate": {
            "$ref": "./examples/Applications_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Applications_Update",
        "tags": [
          "Applications"
        ],
        "description": "Update an application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the application within the specified application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "application",
            "in": "body",
            "description": "The resource properties to be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_Update": {
            "$ref": "./examples/Applications_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Applications_Delete",
        "tags": [
          "Applications"
        ],
        "description": "Remove an application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the application within the specified application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_Delete": {
            "$ref": "./examples/Applications_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops": {
      "get": {
        "operationId": "Desktops_List",
        "tags": [
          "Desktops"
        ],
        "description": "List desktops.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DesktopList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desktops_List": {
            "$ref": "./examples/Desktops_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}": {
      "get": {
        "operationId": "Desktops_Get",
        "tags": [
          "Desktops"
        ],
        "description": "Get a desktop.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "desktopName",
            "in": "path",
            "description": "The name of the desktop within the specified desktop group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Desktop"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desktops_Get": {
            "$ref": "./examples/Desktops_Get.json"
          }
        }
      },
      "patch": {
        "operationId": "Desktops_Update",
        "tags": [
          "Desktops"
        ],
        "description": "Update a desktop.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "desktopName",
            "in": "path",
            "description": "The name of the desktop within the specified desktop group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 24,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "desktop",
            "in": "body",
            "description": "The resource properties to be updated",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DesktopPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Desktop"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Desktops_Update": {
            "$ref": "./examples/Desktops_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/startMenuItems": {
      "get": {
        "operationId": "StartMenuItems_List",
        "tags": [
          "StartMenuItems"
        ],
        "description": "List start menu items in the given application group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationGroupName",
            "in": "path",
            "description": "The name of the application group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartMenuItemList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StartMenuItems_List": {
            "$ref": "./examples/StartMenuItems_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools": {
      "get": {
        "operationId": "HostPools_ListByResourceGroup",
        "tags": [
          "HostPools"
        ],
        "description": "List hostPools.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HostPoolList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_ListByResourceGroup": {
            "$ref": "./examples/HostPools_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}": {
      "get": {
        "operationId": "HostPools_Get",
        "tags": [
          "HostPools"
        ],
        "description": "Get a host pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_Get": {
            "$ref": "./examples/HostPools_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HostPools_CreateOrUpdate",
        "tags": [
          "HostPools"
        ],
        "description": "Create or update a host pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "hostPool",
            "in": "body",
            "description": "Object containing HostPool definitions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HostPool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "201": {
            "description": "Resource 'HostPool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_CreateOrUpdate": {
            "$ref": "./examples/HostPool_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "HostPools_Update",
        "tags": [
          "HostPools"
        ],
        "description": "Update a host pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "hostPool",
            "in": "body",
            "description": "The properties to be updated.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HostPoolPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_Update": {
            "$ref": "./examples/HostPools_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "HostPools_Delete",
        "tags": [
          "HostPools"
        ],
        "description": "Remove a host pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force flag to delete sessionHost.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_Delete": {
            "$ref": "./examples/HostPools_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/activeSessionHostConfigurations": {
      "get": {
        "operationId": "ActiveSessionHostConfigurations_ListByHostPool",
        "tags": [
          "ActiveSessionHostConfigurations"
        ],
        "description": "Operation to list the ActiveSessionHostConfigurations associated with the HostPool",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveSessionHostConfigurationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ActiveSessionHostConfigurations_ListByHostPool": {
            "$ref": "./examples/ActiveSessionHostConfigurations_ListByHostPool.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/activeSessionHostConfigurations/default": {
      "get": {
        "operationId": "ActiveSessionHostConfigurations_Get",
        "tags": [
          "ActiveSessionHostConfigurations"
        ],
        "description": "Get a ActiveSessionHostConfiguration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveSessionHostConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ActiveSessionHostConfigurations_Get": {
            "$ref": "./examples/ActiveSessionHostConfigurations_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/expandMsixImage": {
      "post": {
        "operationId": "MsixImages_Expand",
        "tags": [
          "MSIXImages"
        ],
        "description": "Expands and Lists MSIX packages in an Image, given the Image Path.\nThis action uses incorrect Msix casing intentionally to match the previous APIs.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixImageURI",
            "in": "body",
            "description": "Represents URI referring to MSIX Image",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MSIXImageURI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExpandMsixImageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MsixImages_Expand": {
            "$ref": "./examples/MsixImages_Expand.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/importAppAttachPackageInfo": {
      "post": {
        "operationId": "AppAttachPackageInfo_Import",
        "tags": [
          "AppAttachPackageInfo"
        ],
        "description": "Gets information from a package given the path to the package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "importPackageInfoRequest",
            "in": "body",
            "description": "Information to import app attach package",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportPackageInfoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppAttachPackageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AppAttachPackageInfo_Import": {
            "$ref": "./examples/AppAttachPackageInfo_Import.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/listRegistrationTokens": {
      "post": {
        "operationId": "HostPools_ListRegistrationTokens",
        "tags": [
          "HostPools"
        ],
        "description": "Operation to list the RegistrationTokens associated with the HostPool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegistrationTokenList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_ListRegistrationTokens": {
            "$ref": "./examples/HostPools_ListRegistrationTokens.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/msixPackages": {
      "get": {
        "operationId": "MSIXPackages_List",
        "tags": [
          "MSIXPackages"
        ],
        "description": "List MSIX packages in hostpool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MSIXPackageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MSIXPackages_List": {
            "$ref": "./examples/MSIXPackages_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/msixPackages/{msixPackageFullName}": {
      "get": {
        "operationId": "MSIXPackages_Get",
        "tags": [
          "MSIXPackages"
        ],
        "description": "Get a msixpackage.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixPackageFullName",
            "in": "path",
            "description": "The version specific package full name of the MSIX package within specified hostpool",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MSIXPackages_Get": {
            "$ref": "./examples/MSIXPackages_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MSIXPackages_CreateOrUpdate",
        "tags": [
          "MSIXPackages"
        ],
        "description": "Create or update a MSIX package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixPackageFullName",
            "in": "path",
            "description": "The version specific package full name of the MSIX package within specified hostpool",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixPackage",
            "in": "body",
            "description": "Object containing  MSIX Package definitions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MSIXPackage' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "201": {
            "description": "Resource 'MSIXPackage' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MSIXPackages_Create": {
            "$ref": "./examples/MSIXPackages_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "MSIXPackages_Update",
        "tags": [
          "MSIXPackages"
        ],
        "description": "Update an  MSIX Package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixPackageFullName",
            "in": "path",
            "description": "The version specific package full name of the MSIX package within specified hostpool",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixPackage",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MSIXPackagePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MSIXPackage_Update": {
            "$ref": "./examples/MSIXPackages_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "MSIXPackages_Delete",
        "tags": [
          "MSIXPackages"
        ],
        "description": "Remove an MSIX Package.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "msixPackageFullName",
            "in": "path",
            "description": "The version specific package full name of the MSIX package within specified hostpool",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MSIXPackages_Delete": {
            "$ref": "./examples/MSIXPackages_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByHostPool",
        "tags": [
          "CustomPrivateEndpointConnection"
        ],
        "description": "List private endpoint connections associated with hostpool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResultWithSystemData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_ListByHostPool": {
            "$ref": "./examples/PrivateEndpointConnections_ListByHostPool.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_GetByHostPool",
        "tags": [
          "CustomPrivateEndpointConnection"
        ],
        "description": "Get a PrivateEndpointConnectionWithSystemData",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name parameter for private endpoint",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionWithSystemData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_GetByHostPool": {
            "$ref": "./examples/PrivateEndpointConnections_GetByHostPool.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_UpdateByHostPool",
        "tags": [
          "CustomPrivateEndpointConnection"
        ],
        "description": "Approve or reject a private endpoint connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name parameter for private endpoint",
            "required": true,
            "type": "string"
          },
          {
            "name": "connection",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionWithSystemData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnectionWithSystemData' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionWithSystemData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_UpdateByHostPool": {
            "$ref": "./examples/PrivateEndpointConnections_UpdateByHostPool.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_DeleteByHostPool",
        "tags": [
          "CustomPrivateEndpointConnection"
        ],
        "description": "Delete a PrivateEndpointConnectionWithSystemData",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name parameter for private endpoint",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_DeleteByHostPool": {
            "$ref": "./examples/PrivateEndpointConnections_DeleteByHostPool.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByHostPool",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "List the private link resources available for this hostpool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_ListByHostPool": {
            "$ref": "./examples/PrivateLinkResources_ListByHostPool.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/retrieveRegistrationToken": {
      "post": {
        "operationId": "HostPools_RetrieveRegistrationToken",
        "tags": [
          "HostPools"
        ],
        "description": "Registration token of the host pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegistrationInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HostPools_RetrieveRegistrationToken": {
            "$ref": "./examples/HostPools_RetrieveRegistrationToken.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/scalingPlans": {
      "get": {
        "operationId": "ScalingPlans_ListByHostPool",
        "tags": [
          "ScalingPlans"
        ],
        "description": "List scaling plan associated with hostpool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "hostPoolName",
            "in": "path",
            "description": "The name of the host pool within the specified resource group",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[A-Za-z0-9@.\\-_ ]*$"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "isDescending",
            "in": "query",
            "description": "Indicates whether the collection is descending.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "initialSkip",
            "in": "query",
            "description": "Initial number of items to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScalingPlanList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScalingPlans_ListByHostPool": {
            "$ref": "./examples/ScalingPlans_ListByHostPool.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostConfigurations": {
      "get": {
        "operationId": "SessionHostConfigurations_ListByHostPool",
        "tags": [
          "SessionHostConfigurations"
        ],
        "description": "List SessionHostConfigurations.",
        "parameters": [
          {
[...]
