{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2023-11-01-preview",
    "description": "Azure Programmable Connectivity Provider management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "OpenApiGateways"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/openApiGateways": {
      "get": {
        "operationId": "OpenApiGateways_ListBySubscription",
        "tags": [
          "OpenApiGateways"
        ],
        "description": "List OpenApiGateway resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenApiGateway' list operation on subscription ID completed.",
            "schema": {
              "$ref": "#/definitions/OpenApiGatewayListResult"
            }
          },
          "default": {
            "description": "OpenAPI Gateway error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OpenApiGateways_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/openApiGateways": {
      "get": {
        "operationId": "OpenApiGateways_ListByResourceGroup",
        "tags": [
          "OpenApiGateways"
        ],
        "description": "List OpenApiGateway resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenApiGateway' list operation on resource group completed.",
            "schema": {
              "$ref": "#/definitions/OpenApiGatewayListResult"
            }
          },
          "default": {
            "description": "OpenAPI Gateway error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OpenApiGateways_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/openApiGateways/{openApiGatewayName}": {
      "get": {
        "operationId": "OpenApiGateways_Get",
        "tags": [
          "OpenApiGateways"
        ],
        "description": "Get an OpenAPI Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OpenApiGatewayName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenApiGateway' get by name operation completed.",
            "schema": {
              "$ref": "#/definitions/OpenApiGateway"
            }
          },
          "default": {
            "description": "OpenAPI Gateway error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OpenApiGateways_Get_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OpenApiGateways_CreateOrUpdate",
        "tags": [
          "OpenApiGateways"
        ],
        "description": "Create an OpenAPI Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OpenApiGatewayName"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "OpenAPI Gateway resource create or update request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenApiGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenApiGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OpenApiGateway"
            }
          },
          "201": {
            "description": "Resource 'OpenApiGateway' create operation succeeded. Although the resource may be created but there could be other operations in progress on the resource. The current status can be queried via an HTTP GET operation on the URL returned in the HTTP header 'azure-async-operation' of the response.",
            "schema": {
              "$ref": "#/definitions/OpenApiGateway"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "OpenAPI Gateway error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "OpenApiGateways_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "OpenApiGateways_Update",
        "tags": [
          "OpenApiGateways"
        ],
        "description": "Update an OpenAPI Gateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OpenApiGatewayName"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "OpenAPI Gateway properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenApiGatewayUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OpenApiGateway' update operation completed.",
            "schema": {
              "$ref": "#/definitions/OpenApiGateway"
            }
          },
          "202": {
            "description": "Resource 'OpenApiGateway' update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "OpenAPI Gateway error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "OpenApiGateways_Update_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "OpenApiGateways_Delete",
        "tags": [
          "OpenApiGateways"
        ],
        "description": "Delete an OpenAPI Gateway",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OpenApiGatewayName"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "OpenAPI Gateway error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "OpenApiGateways_Delete_MaximumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_Delete_MaximumSet_Gen.json"
          },
          "OpenApiGateways_Delete_MinimumSet_Gen": {
            "$ref": "./examples/OpenApiGateways_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountType": {
      "type": "string",
      "description": "The Account Type of the Open API Gateways",
      "enum": [
        "AzureManaged",
        "UserManaged"
      ],
      "x-ms-enum": {
        "name": "AccountType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureManaged",
            "value": "AzureManaged",
            "description": "Managed by Azure on-behalf-of the user"
          },
          {
            "name": "UserManaged",
            "value": "UserManaged",
            "description": "Managed by the User themselves on the Operator end"
          }
        ]
      }
    },
    "AppCredentials": {
      "type": "object",
      "description": "Application credentials needed to authenticate to the operator's Network APIs in a specific country.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Application ID of the App Developer that is registered with the Operator in a specific country."
        },
        "appSecret": {
          "type": "string",
          "format": "password",
          "description": "Application secret linked to the 'appId'. This should be stored securely and is not returned back when the resource information is read.",
          "x-ms-secret": true
        }
      }
    },
    "OpenApiGateway": {
      "type": "object",
      "description": "A Programmable Connectivity Open API Gateway resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OpenApiGatewayProperties",
          "description": "OpenAPI Gateway resource properties.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OpenApiGatewayListResult": {
      "type": "object",
      "description": "The response of an OpenAPI Gateway list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OpenApiGateway items on this page",
          "items": {
            "$ref": "#/definitions/OpenApiGateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OpenApiGatewayProperties": {
      "type": "object",
      "description": "OpenAPI Gateway resource properties",
      "allOf": [
        {
          "$ref": "#/definitions/AppCredentials"
        }
      ],
      "properties": {
        "gatewayId": {
          "$ref": "./common.json#/definitions/GatewayResourceId",
          "description": "Reference to the APC Gateway resource ID."
        },
        "openApiGatewayOfferingId": {
          "$ref": "./common.json#/definitions/OpenApiGatewayOfferingResourceId",
          "description": "Reference to the Open API Gateway Offering Resource ID"
        },
        "selectedApis": {
          "type": "array",
          "description": "List of selected Network APIs the user has selected for the current operator in the country provided in the Offering.",
          "items": {
            "type": "string"
          }
        },
        "accountType": {
          "$ref": "#/definitions/AccountType",
          "description": "Type of the account the user has with the Operator's Network API infrastructure. AzureManaged | UserManaged"
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "gatewayId",
        "openApiGatewayOfferingId",
        "selectedApis",
        "accountType"
      ]
    },
    "OpenApiGatewayUpdate": {
      "type": "object",
      "description": "The type used for update operations of the OpenApiGateway.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OpenApiGatewayUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "OpenApiGatewayUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the OpenApiGateway.",
      "allOf": [
        {
          "$ref": "#/definitions/AppCredentials"
        }
      ],
      "properties": {
        "gatewayId": {
          "type": "string",
          "description": "Reference to the APC Gateway resource ID."
        },
        "openApiGatewayOfferingId": {
          "type": "string",
          "description": "Reference to the Open API Gateway Offering resource ID"
        },
        "selectedApis": {
          "type": "array",
          "description": "List of selected Network APIs the user has selected for the current operator in the country provided in the Offering.",
          "items": {
            "type": "string"
          }
        },
        "accountType": {
          "$ref": "#/definitions/AccountType",
          "description": "Type of the account the user has with the Operator's Network API infrastructure. AzureManaged | UserManaged"
        }
      }
    }
  },
  "parameters": {
    "OpenApiGatewayName": {
      "name": "openApiGatewayName",
      "in": "path",
      "description": "Azure Programmable Connectivity (APC) OpenAPI Gateway Name",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    }
  }
}
