{
  "swagger": "2.0",
  "info": {
    "title": "PolicyClient",
    "version": "2025-03-01",
    "description": "To manage and control access to your resources, you can define customized policies and assign them at a scope.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "PolicyAssignments"
    },
    {
      "name": "PolicyDefinitions"
    },
    {
      "name": "PolicyDefinitionVersions"
    },
    {
      "name": "PolicySetDefinitions"
    },
    {
      "name": "PolicySetDefinitionVersions"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}": {
      "get": {
        "operationId": "PolicyAssignments_Get",
        "tags": [
          "PolicyAssignments"
        ],
        "description": "This operation retrieves a single policy assignment, given its name and the scope it was created at.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "The name of the policy assignment to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy assignment": {
            "$ref": "./examples/getPolicyAssignment.json"
          },
          "Retrieve a policy assignment with a system assigned identity": {
            "$ref": "./examples/getPolicyAssignmentWithIdentity.json"
          },
          "Retrieve a policy assignment with a user assigned identity": {
            "$ref": "./examples/getPolicyAssignmentWithUserAssignedIdentity.json"
          },
          "Retrieve a policy assignment with overrides": {
            "$ref": "./examples/getPolicyAssignmentWithOverrides.json"
          },
          "Retrieve a policy assignment with resource selectors": {
            "$ref": "./examples/getPolicyAssignmentWithResourceSelectors.json"
          }
        }
      },
      "put": {
        "operationId": "PolicyAssignments_Create",
        "tags": [
          "PolicyAssignments"
        ],
        "description": "This operation creates or updates a policy assignment with the given scope and name. Policy assignments apply to all resources contained within their scope. For example, when you assign a policy at resource group scope, that policy applies to all resources in the group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "The name of the policy assignment to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the policy assignment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'PolicyAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy assignment": {
            "$ref": "./examples/createPolicyAssignment.json"
          },
          "Create or update a policy assignment to enforce policy effect only on enrolled resources during resource creation or update.": {
            "$ref": "./examples/createPolicyAssignmentWithEnrollEnforcement.json"
          },
          "Create or update a policy assignment with a system assigned identity": {
            "$ref": "./examples/createPolicyAssignmentWithIdentity.json"
          },
          "Create or update a policy assignment with a user assigned identity": {
            "$ref": "./examples/createPolicyAssignmentWithUserAssignedIdentity.json"
          },
          "Create or update a policy assignment with multiple non-compliance messages": {
            "$ref": "./examples/createPolicyAssignmentNonComplianceMessages.json"
          },
          "Create or update a policy assignment with overrides": {
            "$ref": "./examples/createPolicyAssignmentWithOverrides.json"
          },
          "Create or update a policy assignment with resource selectors": {
            "$ref": "./examples/createPolicyAssignmentWithResourceSelectors.json"
          },
          "Create or update a policy assignment without enforcing policy effect during resource creation or update.": {
            "$ref": "./examples/createPolicyAssignmentWithoutEnforcement.json"
          }
        }
      },
      "patch": {
        "operationId": "PolicyAssignments_Update",
        "tags": [
          "PolicyAssignments"
        ],
        "description": "This operation updates a policy assignment with the given scope and name. Policy assignments apply to all resources contained within their scope. For example, when you assign a policy at resource group scope, that policy applies to all resources in the group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "The name of the policy assignment to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for policy assignment patch request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyAssignmentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a policy assignment with a system assigned identity": {
            "$ref": "./examples/updatePolicyAssignmentWithIdentity.json"
          },
          "Update a policy assignment with a user assigned identity": {
            "$ref": "./examples/updatePolicyAssignmentWithUserAssignedIdentity.json"
          },
          "Update a policy assignment with overrides": {
            "$ref": "./examples/updatePolicyAssignmentWithOverrides.json"
          },
          "Update a policy assignment with resource selectors": {
            "$ref": "./examples/updatePolicyAssignmentWithResourceSelectors.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicyAssignments_Delete",
        "tags": [
          "PolicyAssignments"
        ],
        "description": "This operation deletes a policy assignment, given its name and the scope it was created in. The scope of a policy assignment is the part of its ID preceding '/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}'.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "policyAssignmentName",
            "in": "path",
            "description": "The name of the policy assignment to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyAssignment"
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy assignment": {
            "$ref": "./examples/deletePolicyAssignment.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/listPolicyDefinitionVersions": {
      "post": {
        "operationId": "PolicyDefinitionVersions_ListAllBuiltins",
        "summary": "Lists all built-in policy definition versions.",
        "description": "This operation lists all the built-in policy definition versions for all built-in policy definitions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all built-in policy definition versions": {
            "$ref": "./examples/listAllBuiltInPolicyDefinitionVersions.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/listPolicySetDefinitionVersions": {
      "post": {
        "operationId": "PolicySetDefinitionVersions_ListAllBuiltins",
        "summary": "Lists all built-in policy set definition versions.",
        "description": "This operation lists all the built-in policy set definition versions for all built-in policy set definitions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all built-in policy definition versions": {
            "$ref": "./examples/listAllBuiltInPolicySetDefinitionVersions.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/policyDefinitions": {
      "get": {
        "operationId": "PolicyDefinitions_ListBuiltIn",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation retrieves a list of all the built-in policy definitions that match the optional given $filter. If $filter='policyType -eq {value}' is provided, the returned list only includes all built-in policy definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all built-in policy definitions whose category match the {value}.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atExactScope() is provided, the returned list only includes all policy definitions that at the given scope. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy definitions whose category match the {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List built-in policy definitions": {
            "$ref": "./examples/listBuiltInPolicyDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}": {
      "get": {
        "operationId": "PolicyDefinitions_GetBuiltIn",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation retrieves the built-in policy definition with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the built-in policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a built-in policy definition": {
            "$ref": "./examples/getBuiltinPolicyDefinition.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions": {
      "get": {
        "operationId": "PolicyDefinitionVersions_ListBuiltIn",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation retrieves a list of all the built-in policy definition versions for the given policy definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List built-in policy definition versions": {
            "$ref": "./examples/listBuiltInPolicyDefinitionVersions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}": {
      "get": {
        "operationId": "PolicyDefinitionVersions_GetBuiltIn",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation retrieves the built-in policy definition version with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a built-in policy definition version": {
            "$ref": "./examples/getBuiltinPolicyDefinitionVersion.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/policySetDefinitions": {
      "get": {
        "operationId": "PolicySetDefinitions_ListBuiltIn",
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "This operation retrieves a list of all the built-in policy set definitions that match the optional given $filter. If $filter='category -eq {value}' is provided, the returned list only includes all built-in policy set definitions whose category match the {value}.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atExactScope() is provided, the returned list only includes all policy set definitions that at the given scope. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy set definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy set definitions whose category match the {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List built-in policy set definitions": {
            "$ref": "./examples/listBuiltInPolicySetDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}": {
      "get": {
        "operationId": "PolicySetDefinitions_GetBuiltIn",
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "This operation retrieves the built-in policy set definition with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a built-in policy set definition": {
            "$ref": "./examples/getBuiltInPolicySetDefinition.json"
          }
        }
      }
    },
    "/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions": {
      "get": {
        "operationId": "PolicySetDefinitionVersions_ListBuiltIn",
        "tags": [
          "PolicySetDefinitionVersions"
        ],
        "description": "This operation retrieves a list of all the built-in policy set definition versions for the given built-in policy set definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List built-in policy set definitions": {
            "$ref": "./examples/listBuiltInPolicySetDefinitionVersions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions/{policyDefinitionVersion}": {
      "get": {
        "operationId": "PolicySetDefinitionVersions_GetBuiltIn",
        "tags": [
          "PolicySetDefinitionVersions"
        ],
        "description": "This operation retrieves the built-in policy set definition version with the given name and version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy set definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a built-in policy set definition version": {
            "$ref": "./examples/getBuiltInPolicySetDefinitionVersion.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/acquirePolicyToken": {
      "post": {
        "operationId": "PolicyTokens_AcquireAtManagementGroup",
        "summary": "Acquires a policy token at management group level.",
        "description": "This operation acquires a policy token in the given management group for the given request body.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The policy token properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Acquire a policy token at management group level": {
            "$ref": "./examples/acquirePolicyTokenAtManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/listPolicyDefinitionVersions": {
      "post": {
        "operationId": "PolicyDefinitionVersions_ListAllAtManagementGroup",
        "summary": "Lists all policy definition versions at management group scope.",
        "description": "This operation lists all the policy definition versions for all policy definitions at the management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all policy definition versions at management group": {
            "$ref": "./examples/listAllPolicyDefinitionVersionsByManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/listPolicySetDefinitionVersions": {
      "post": {
        "operationId": "PolicySetDefinitionVersions_ListAllAtManagementGroup",
        "summary": "Lists all policy set definition versions at management group scope.",
        "description": "This operation lists all the policy set definition versions for all policy set definitions at the management group scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all policy definition versions at management group": {
            "$ref": "./examples/listAllPolicySetDefinitionVersionsByManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policyAssignments": {
      "get": {
        "operationId": "PolicyAssignments_ListForManagementGroup",
        "tags": [
          "PolicyAssignments"
        ],
        "summary": "Retrieves all policy assignments that apply to a management group.",
        "description": "This operation retrieves the list of all policy assignments applicable to the management group that match the given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter=atScope() is provided, the returned list includes all policy assignments that are assigned to the management group or the management group's ancestors. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the management group. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value} that apply to the management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atScope() is provided, the returned list only includes all policy assignments that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the given scope. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy assignments that apply to a management group": {
            "$ref": "./examples/listPolicyAssignmentsForManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions": {
      "get": {
        "operationId": "PolicyDefinitions_ListByManagementGroup",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation retrieves a list of all the policy definitions in a given management group that match the optional given $filter. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, the unfiltered list includes all policy definitions associated with the management group, including those that apply directly or from management groups that contain the given management group. If $filter=atExactScope() is provided, the returned list only includes all policy definitions that at the given management group. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy definitions whose category match the {value}.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atExactScope() is provided, the returned list only includes all policy definitions that at the given scope. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy definitions whose category match the {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy definitions by management group": {
            "$ref": "./examples/listPolicyDefinitionsByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}": {
      "get": {
        "operationId": "PolicyDefinitions_GetAtManagementGroup",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation retrieves the policy definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy definition at management group level": {
            "$ref": "./examples/getPolicyDefinitionAtManagementGroup.json"
          }
        }
      },
      "put": {
        "operationId": "PolicyDefinitions_CreateOrUpdateAtManagementGroup",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation creates or updates a policy definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The policy definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'PolicyDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy definition at management group level": {
            "$ref": "./examples/createOrUpdatePolicyDefinitionAtManagementGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicyDefinitions_DeleteAtManagementGroup",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation deletes the policy definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy definition at management group level": {
            "$ref": "./examples/deletePolicyDefinitionAtManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions": {
      "get": {
        "operationId": "PolicyDefinitionVersions_ListByManagementGroup",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation retrieves a list of all the policy definition versions for the given policy definition in the given management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy definition versions by management group": {
            "$ref": "./examples/listPolicyDefinitionVersionsByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}": {
      "get": {
        "operationId": "PolicyDefinitionVersions_GetAtManagementGroup",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation retrieves the policy definition version in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy definition version at management group level": {
            "$ref": "./examples/getPolicyDefinitionVersionAtManagementGroup.json"
          }
        }
      },
      "put": {
        "operationId": "PolicyDefinitionVersions_CreateOrUpdateAtManagementGroup",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation creates or updates a policy definition version in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The policy definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PolicyDefinitionVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersion"
            }
          },
          "201": {
            "description": "Resource 'PolicyDefinitionVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy definition version at management group level": {
            "$ref": "./examples/createOrUpdatePolicyDefinitionVersionAtManagementGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicyDefinitionVersions_DeleteAtManagementGroup",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation deletes the policy definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy definition version at management group level": {
            "$ref": "./examples/deletePolicyDefinitionVersionAtManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions": {
      "get": {
        "operationId": "PolicySetDefinitions_ListByManagementGroup",
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "This operation retrieves a list of all the policy set definitions in a given management group that match the optional given $filter. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, the unfiltered list includes all policy set definitions associated with the management group, including those that apply directly or from management groups that contain the given management group. If $filter=atExactScope() is provided, the returned list only includes all policy set definitions that at the given management group. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy set definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn and Custom. If $filter='category -eq {value}' is provided, the returned list only includes all policy set definitions whose category match the {value}.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atExactScope() is provided, the returned list only includes all policy set definitions that at the given scope. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy set definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy set definitions whose category match the {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy set definitions at management group level": {
            "$ref": "./examples/listPolicySetDefinitionsByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}": {
      "get": {
        "operationId": "PolicySetDefinitions_GetAtManagementGroup",
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "This operation retrieves the policy set definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy set definition at management group level": {
            "$ref": "./examples/getPolicySetDefinitionAtManagementGroup.json"
          }
        }
      },
      "put": {
        "operationId": "PolicySetDefinitions_CreateOrUpdateAtManagementGroup",
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "This operation creates or updates a policy set definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The policy set definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PolicySetDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          },
          "201": {
            "description": "Resource 'PolicySetDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy set definition at management group level": {
            "$ref": "./examples/createOrUpdatePolicySetDefinitionAtManagementGroup.json"
          },
          "Create or update a policy set definition with groups at management group level": {
            "$ref": "./examples/createOrUpdatePolicySetDefinitionWithGroupsAtManagementGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicySetDefinitions_DeleteAtManagementGroup",
        "tags": [
          "PolicySetDefinitions"
        ],
        "description": "This operation deletes the policy set definition in the given management group with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The ID of the management group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy set definition at management group level": {
            "$ref": "./examples/deletePolicySetDefinitionAtManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions": {
      "get": {
        "operationId": "PolicySetDefinitionVersions_ListByManagementGroup",
        "tags": [
          "PolicySetDefinitionVersions"
        ],
        "description": "This operation retrieves a list of all the policy set definition versions for the given policy set definition in a given management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy set definitions at management group level": {
            "$ref": "./examples/listPolicySetDefinitionVersionsByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupName}/providers/Microsoft.Authorization/policySetDefinitions/{policySetDefinitionName}/versions/{policyDefinitionVersion}": {
      "get": {
        "operationId": "PolicySetDefinitionVersions_GetAtManagementGroup",
        "tags": [
          "PolicySetDefinitionVersions"
        ],
        "description": "This operation retrieves the policy set definition version in the given management group with the given name and version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy set definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy set definition version at management group level": {
            "$ref": "./examples/getPolicySetDefinitionVersionAtManagementGroup.json"
          }
        }
      },
      "put": {
        "operationId": "PolicySetDefinitionVersions_CreateOrUpdateAtManagementGroup",
        "tags": [
          "PolicySetDefinitionVersions"
        ],
        "description": "This operation creates or updates a policy set definition version in the given management group with the given name and version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy set definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The policy set definition version properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PolicySetDefinitionVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersion"
            }
          },
          "201": {
            "description": "Resource 'PolicySetDefinitionVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy set definition version at management group level": {
            "$ref": "./examples/createOrUpdatePolicySetDefinitionVersionAtManagementGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicySetDefinitionVersions_DeleteAtManagementGroup",
        "tags": [
          "PolicySetDefinitionVersions"
        ],
        "description": "This operation deletes the policy set definition version in the given management group with the given name and version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "policySetDefinitionName",
            "in": "path",
            "description": "The name of the policy set definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy set definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy set definition version at management group level": {
            "$ref": "./examples/deletePolicySetDefinitionVersionAtManagementGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/acquirePolicyToken": {
      "post": {
        "operationId": "PolicyTokens_Acquire",
        "summary": "Acquires a policy token.",
        "description": "This operation acquires a policy token in the given subscription for the given request body.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PolicyTokenResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Acquire a policy token": {
            "$ref": "./examples/acquirePolicyToken.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/listPolicyDefinitionVersions": {
      "post": {
        "operationId": "PolicyDefinitionVersions_ListAll",
        "summary": "Lists all policy definition versions within a subscription.",
        "description": "This operation lists all the policy definition versions for all policy definitions within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all policy definition versions at subscription": {
            "$ref": "./examples/listAllPolicyDefinitionVersions.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/listPolicySetDefinitionVersions": {
      "post": {
        "operationId": "PolicySetDefinitionVersions_ListAll",
        "summary": "Lists all policy set definition versions within a subscription.",
        "description": "This operation lists all the policy set definition versions for all policy set definitions within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicySetDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all policy definition versions at subscription": {
            "$ref": "./examples/listAllPolicySetDefinitionVersions.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyAssignments": {
      "get": {
        "operationId": "PolicyAssignments_List",
        "tags": [
          "PolicyAssignments"
        ],
        "summary": "Retrieves all policy assignments that apply to a subscription.",
        "description": "This operation retrieves the list of all policy assignments associated with the given subscription that match the optional given $filter. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, the unfiltered list includes all policy assignments associated with the subscription, including those that apply directly or from management groups that contain the given subscription, as well as any applied to objects contained within the subscription. If $filter=atScope() is provided, the returned list includes all policy assignments that apply to the subscription, which is everything in the unfiltered list except those applied to objects contained within the subscription. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the subscription. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value}.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atScope()', 'atExactScope()' or 'policyDefinitionId eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atScope() is provided, the returned list only includes all policy assignments that apply to the scope, which is everything in the unfiltered list except those applied to sub scopes contained within the given scope. If $filter=atExactScope() is provided, the returned list only includes all policy assignments that at the given scope. If $filter=policyDefinitionId eq '{value}' is provided, the returned list includes all policy assignments of the policy definition whose id is {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Comma-separated list of additional properties to be included in the response. Supported values are 'LatestDefinitionVersion, EffectiveDefinitionVersion'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy assignments that apply to a subscription": {
            "$ref": "./examples/listPolicyAssignments.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions": {
      "get": {
        "operationId": "PolicyDefinitions_List",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation retrieves a list of all the policy definitions in a given subscription that match the optional given $filter. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, the unfiltered list includes all policy definitions associated with the subscription, including those that apply directly or from management groups that contain the given subscription. If $filter=atExactScope() is provided, the returned list only includes all policy definitions that at the given subscription. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy definitions whose category match the {value}.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Valid values for $filter are: 'atExactScope()', 'policyType -eq {value}' or 'category eq '{value}''. If $filter is not provided, no filtering is performed. If $filter=atExactScope() is provided, the returned list only includes all policy definitions that at the given scope. If $filter='policyType -eq {value}' is provided, the returned list only includes all policy definitions whose type match the {value}. Possible policyType values are NotSpecified, BuiltIn, Custom, and Static. If $filter='category -eq {value}' is provided, the returned list only includes all policy definitions whose category match the {value}.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy definitions by subscription": {
            "$ref": "./examples/listPolicyDefinitions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}": {
      "get": {
        "operationId": "PolicyDefinitions_Get",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation retrieves the policy definition in the given subscription with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy definition": {
            "$ref": "./examples/getPolicyDefinition.json"
          }
        }
      },
      "put": {
        "operationId": "PolicyDefinitions_CreateOrUpdate",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation creates or updates a policy definition in the given subscription with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The policy definition properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'PolicyDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PolicyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a policy definition": {
            "$ref": "./examples/createOrUpdatePolicyDefinition.json"
          },
          "Create or update a policy definition with advanced parameters": {
            "$ref": "./examples/createOrUpdatePolicyDefinitionAdvancedParams.json"
          },
          "Create or update a policy definition with external evaluation enforcement settings": {
            "$ref": "./examples/createOrUpdatePolicyDefinitionExternalEvaluationEnforcementSettings.json"
          }
        }
      },
      "delete": {
        "operationId": "PolicyDefinitions_Delete",
        "tags": [
          "PolicyDefinitions"
        ],
        "description": "This operation deletes the policy definition in the given subscription with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition to get.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a policy definition": {
            "$ref": "./examples/deletePolicyDefinition.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions": {
      "get": {
        "operationId": "PolicyDefinitionVersions_List",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation retrieves a list of all the policy definition versions for the given policy definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of records to return. When the $top filter is not provided, it will return 500 records.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List policy definition versions by subscription": {
            "$ref": "./examples/listPolicyDefinitionVersions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyDefinitions/{policyDefinitionName}/versions/{policyDefinitionVersion}": {
      "get": {
        "operationId": "PolicyDefinitionVersions_Get",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation retrieves the policy definition version in the given subscription with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>*%&:\\?.+/]*[^<>*%&:\\?.+/ ]+$"
          },
          {
            "name": "policyDefinitionVersion",
            "in": "path",
            "description": "The policy definition version.  The format is x.y.z where x is the major version number, y is the minor version number, and z is the patch number",
            "required": true,
            "type": "string",
            "pattern": "^\\d+\\.\\d+\\.\\d+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyDefinitionVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a policy definition version": {
            "$ref": "./examples/getPolicyDefinitionVersion.json"
          }
        }
      },
      "put": {
        "operationId": "PolicyDefinitionVersions_CreateOrUpdate",
        "tags": [
          "PolicyDefinitionVersions"
        ],
        "description": "This operation creates or updates a policy definition in the given subscription with the given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "policyDefinitionName",
            "in": "path",
            "description": "The name of the policy definition.",
            "required": true,
[...]
