{
  "swagger": "2.0",
  "info": {
    "title": "HybridComputeManagementClient",
    "x-ms-code-generation-settings": {
      "name": "HybridComputeManagementClient"
    },
    "description": "Azure Arc( Servers and K8s Clusters) API reference for Private Link's Scopes management.",
    "version": "2020-08-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/privateLinkScopes": {
      "get": {
        "description": "Gets a list of all Azure Arc PrivateLinkScopes within a subscription.",
        "operationId": "PrivateLinkScopes_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Azure Arc PrivateLinkScope definitions.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScopeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopesList.json": {
            "$ref": "./examples/PrivateLinkScopesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes": {
      "get": {
        "description": "Gets a list of Azure Arc PrivateLinkScopes within a resource group.",
        "operationId": "PrivateLinkScopes_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Azure Arc PrivateLinkScope definitions.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScopeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeListByResourceGroup": {
            "$ref": "./examples/PrivateLinkScopesListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}": {
      "delete": {
        "description": "Deletes a Azure Arc PrivateLinkScope.",
        "operationId": "PrivateLinkScopes_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when deleting an Azure Arc PrivateLinkScope."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "The specified PrivateLinkScope does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PrivateLinkScopesDelete": {
            "$ref": "./examples/PrivateLinkScopesDelete.json"
          }
        }
      },
      "get": {
        "description": "Returns a Azure Arc PrivateLinkScope.",
        "operationId": "PrivateLinkScopes_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Arc PrivateLinkScope definition.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScope"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeGet": {
            "$ref": "./examples/PrivateLinkScopesGet.json"
          }
        }
      },
      "put": {
        "description": "Creates (or updates) a Azure Arc PrivateLinkScope. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation.",
        "operationId": "PrivateLinkScopes_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "parameters",
            "description": "Properties that need to be specified to create or update a Azure Arc for Servers and Clusters PrivateLinkScope.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScope"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when creating or updating a Azure Arc PrivateLinkScope. The updated PrivateLinkScope is returned.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScope"
            }
          },
          "201": {
            "description": "Successful request when creating or updating a Azure Arc PrivateLinkScope. The updated PrivateLinkScope was created and is returned.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScope"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeCreate": {
            "$ref": "./examples/PrivateLinkScopesCreate.json"
          },
          "PrivateLinkScopeUpdate": {
            "$ref": "./examples/PrivateLinkScopesUpdate.json"
          }
        }
      },
      "patch": {
        "description": "Updates an existing PrivateLinkScope's tags. To update other fields use the CreateOrUpdate method.",
        "operationId": "PrivateLinkScopes_UpdateTags",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "PrivateLinkScopeTags",
            "description": "Updated tag information to set into the PrivateLinkScope instance.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating the Azure Arc PrivateLinkScope's tags was successful. PrivateLinkScope tags are updated and returned with the rest of the PrivateLinkScope's object properties.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScope"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeUpdateTagsOnly": {
            "$ref": "./examples/PrivateLinkScopesUpdateTagsOnly.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the private link resources that need to be created for a Azure Monitor PrivateLinkScope.",
        "operationId": "PrivateLinkResources_ListByPrivateLinkScope",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection.": {
            "$ref": "./examples/PrivateLinkScopePrivateLinkResourceListGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}/privateLinkResources/{groupName}": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the private link resources that need to be created for a Azure Monitor PrivateLinkScope.",
        "operationId": "PrivateLinkResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "$ref": "#/parameters/GroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a specified private link resource.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection.": {
            "$ref": "./examples/PrivateLinkScopePrivateLinkResourceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets a private endpoint connection.",
        "operationId": "PrivateEndpointConnections_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a specified private endpoint connection.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection.": {
            "$ref": "./examples/PrivateEndpointConnectionGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Approve or reject a private endpoint connection with a given name.",
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully approved or rejected private endpoint connection.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Approve or reject a private endpoint connection with a given name.": {
            "$ref": "./examples/PrivateEndpointConnectionUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection with a given name.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted private endpoint connection."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Private endpoint connection does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Deletes a private endpoint connection with a given name.": {
            "$ref": "./examples/PrivateEndpointConnectionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets all private endpoint connections on a private link scope.",
        "operationId": "PrivateEndpointConnections_ListByPrivateLinkScope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private endpoint connections.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets list of private endpoint connections on a private link scope.": {
            "$ref": "./examples/PrivateEndpointConnectionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}/scopedResources/{name}": {
      "get": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Gets a scoped resource in a private link scope.",
        "operationId": "PrivateLinkScopedResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the scoped resource object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a scoped resource in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-examples": {
          "Gets private link scoped resource.": {
            "$ref": "./examples/PrivateLinkScopedResourceGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Approve or reject a private endpoint connection with a given name.",
        "operationId": "PrivateLinkScopedResources_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the scoped resource object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully create or updated a new Azure Arc scoped resource in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          },
          "201": {
            "description": "Successfully created a new Azure Arc scoped resource in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update a scoped resource in a private link scope.": {
            "$ref": "./examples/PrivateLinkScopedResourceUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Deletes a private endpoint connection with a given name.",
        "operationId": "PrivateLinkScopedResources_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the scoped resource object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted scoped resource."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Scoped resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Deletes a scoped resource with a given name.": {
            "$ref": "./examples/PrivateLinkScopedResourceDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/privateLinkScopes/{scopeName}/scopedResources": {
      "get": {
        "tags": [
          "PrivateLinkScopedResources"
        ],
        "description": "Gets all private endpoint connections on a private link scope.",
        "operationId": "PrivateLinkScopedResources_ListByPrivateLinkScope",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved scoped resources in a private link scope.",
            "schema": {
              "$ref": "#/definitions/ScopedResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseV2"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets list of scoped resources in a private link scope.": {
            "$ref": "./examples/PrivateLinkScopedResourceList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "PrivateLinkScopesResource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "TagsResource": {
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "A container holding only the Tags for a resource, allowing the user to update the tags on a PrivateLinkScope instance."
    },
    "HybridComputePrivateLinkScope": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Properties that define a Azure Arc PrivateLinkScope resource.",
          "$ref": "#/definitions/HybridComputePrivateLinkScopeProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PrivateLinkScopesResource"
        }
      ],
      "description": "An Azure Arc PrivateLinkScope definition."
    },
    "HybridComputePrivateLinkScopeProperties": {
      "description": "Properties that define a Azure Arc PrivateLinkScope resource.",
      "properties": {
        "publicNetworkAccess": {
          "description": "Indicates whether machines associated with the private link scope can also use public Azure Arc service endpoints.",
          "$ref": "#/definitions/PublicNetworkAccessType"
        },
        "provisioningState": {
          "type": "string",
          "description": "Current state of this PrivateLinkScope: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "readOnly": true,
          "description": "List of private endpoint connections.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        }
      }
    },
    "HybridComputePrivateLinkScopeListResult": {
      "description": "Describes the list of Azure Arc PrivateLinkScope resources.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Azure Arc PrivateLinkScope definitions.",
          "items": {
            "$ref": "#/definitions/HybridComputePrivateLinkScope"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to get the next set of Azure Arc PrivateLinkScope definitions if too many PrivateLinkScopes where returned in the result set."
        }
      }
    },
    "PrivateLinkResourceListResult": {
      "description": "A list of private link resources",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateLinkResource": {
      "description": "A private link resource",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateLinkResourceProperties": {
      "description": "Properties of a private link resource.",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The private link resource group id.",
          "type": "string",
          "readOnly": true
        },
        "requiredMembers": {
          "description": "The private link resource required member names.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "description": "Required DNS zone names of the the private link resource.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "description": "Properties of a private endpoint connection.",
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpointProperty",
          "description": "Private endpoint which the connection belongs to."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionStateProperty",
          "description": "Connection state of the private endpoint connection."
        },
        "provisioningState": {
          "description": "State of the private endpoint connection.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointProperty": {
      "description": "Private endpoint which the connection belongs to.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource id of the private endpoint.",
          "type": "string"
        }
      }
    },
    "PrivateLinkServiceConnectionStateProperty": {
      "description": "State of the private endpoint connection.",
      "type": "object",
      "required": [
        "status",
        "description"
      ],
      "properties": {
        "status": {
          "description": "The private link service connection status.",
          "type": "string"
        },
        "description": {
          "description": "The private link service connection description.",
          "type": "string"
        },
        "actionsRequired": {
          "description": "The actions required for private link service connection.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "description": "A private endpoint connection",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateEndpointConnectionListResult": {
      "description": "A list of private endpoint connections.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ScopedResourceListResult": {
      "description": "A list of scoped resources in a private link scope.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScopedResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ScopedResource": {
      "description": "A private link scoped resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScopedResourceProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ScopedResourceProperties": {
      "description": "Properties of a private link scoped resource.",
      "type": "object",
      "properties": {
        "linkedResourceId": {
          "description": "The resource id of the scoped Azure monitor resource.",
          "type": "string"
        },
        "provisioningState": {
          "description": "State of the private endpoint connection.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponseCommon": {
      "allOf": [
        {
          "$ref": "#/definitions/ErrorResponseV2"
        }
      ],
      "properties": {
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponseCommon"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      },
      "description": "The resource management error response."
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponseV2": {
      "properties": {
        "error": {
          "type": "object",
          "description": "The error object.",
          "properties": {
            "code": {
              "readOnly": true,
              "type": "string",
              "description": "The error code."
            },
            "message": {
              "readOnly": true,
              "type": "string",
              "description": "The error message."
            },
            "target": {
              "readOnly": true,
              "type": "string",
              "description": "The error target."
            },
            "details": {
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorResponseV2"
              },
              "description": "The error details."
            },
            "additionalInfo": {
              "readOnly": true,
              "type": "array",
              "items": {
                "$ref": "#/definitions/ErrorAdditionalInfo"
              },
              "description": "The error additional info."
            }
          }
        }
      },
      "description": "The resource management error response."
    },
    "PublicNetworkAccessType": {
      "type": "string",
      "description": "The network access policy to determine if Azure Arc agents can use public Azure Arc service endpoints. Defaults to disabled (access to Azure Arc services only via private link).",
      "default": "Disabled",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccessType",
        "modelAsString": true,
        "values": [
          {
            "value": "Enabled",
            "description": "Allows Azure Arc agents to communicate with Azure Arc services over both public (internet) and private endpoints."
          },
          {
            "value": "Disabled",
            "description": "Does not allow Azure Arc agents to communicate with Azure Arc services over public (internet) endpoints. The agents must use the private link."
          }
        ]
      }
    }
  },
  "parameters": {
    "PrivateLinkScopeName": {
      "name": "scopeName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure Arc PrivateLinkScope resource.",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "GroupNameParameter": {
      "name": "groupName",
      "in": "path",
      "description": "The name of the private link resource.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
