{
  "swagger": "2.0",
  "info": {
    "title": "CognitiveServicesManagementClient",
    "version": "2025-12-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.CognitiveServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AADAuthTypeConnectionProperties": {
      "type": "object",
      "description": "This connection type covers the AAD auth for any applicable Azure service",
      "allOf": [
        {
          "$ref": "#/definitions/ConnectionPropertiesV2"
        }
      ],
      "x-ms-discriminator-value": "AAD"
    },
    "AbusePenalty": {
      "type": "object",
      "description": "The abuse penalty.",
      "properties": {
        "action": {
          "$ref": "#/definitions/AbusePenaltyAction",
          "description": "The action of AbusePenalty."
        },
        "rateLimitPercentage": {
          "type": "number",
          "format": "float",
          "description": "The percentage of rate limit."
        },
        "expiration": {
          "type": "string",
          "format": "date-time",
          "description": "The datetime of expiration of the AbusePenalty."
        }
      }
    },
    "AbusePenaltyAction": {
      "type": "string",
      "description": "The action of AbusePenalty.",
      "enum": [
        "Throttle",
        "Block"
      ],
      "x-ms-enum": {
        "name": "AbusePenaltyAction",
        "modelAsString": true,
        "values": [
          {
            "name": "Throttle",
            "value": "Throttle"
          },
          {
            "name": "Block",
            "value": "Block"
          }
        ]
      }
    },
    "AccessKeyAuthTypeConnectionProperties": {
      "type": "object",
      "properties": {
        "credentials": {
          "$ref": "#/definitions/ConnectionAccessKey"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ConnectionPropertiesV2"
        }
      ],
      "x-ms-discriminator-value": "AccessKey"
    },
    "Account": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "The RP-specific properties for this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "identity": {
          "$ref": "#/definitions/Identity"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "AccountKeyAuthTypeConnectionProperties": {
      "type": "object",
      "description": "This connection type covers the account key connection for Azure storage",
      "properties": {
        "credentials": {
          "$ref": "#/definitions/ConnectionAccountKey",
          "description": "Account key object for connection credential."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ConnectionPropertiesV2"
        }
      ],
      "x-ms-discriminator-value": "AccountKey"
    },
    "AccountListResult": {
      "type": "object",
      "description": "The list of cognitive services accounts operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of accounts."
        },
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services accounts and their properties.",
          "items": {
            "$ref": "#/definitions/Account"
          },
          "readOnly": true
        }
      }
    },
    "AccountModel": {
      "type": "object",
      "description": "Cognitive Services account Model.",
      "properties": {
        "baseModel": {
          "$ref": "#/definitions/DeploymentModel",
          "description": "Properties of Cognitive Services account deployment model."
        },
        "isDefaultVersion": {
          "type": "boolean",
          "description": "If the model is default version."
        },
        "skus": {
          "type": "array",
          "description": "The list of Model Sku.",
          "items": {
            "$ref": "#/definitions/ModelSku"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "maxCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "The max capacity."
        },
        "capabilities": {
          "type": "object",
          "description": "The capabilities.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "finetuneCapabilities": {
          "type": "object",
          "description": "The capabilities for finetune models.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deprecation": {
          "$ref": "#/definitions/ModelDeprecationInfo",
          "description": "Cognitive Services account ModelDeprecationInfo."
        },
        "replacementConfig": {
          "$ref": "#/definitions/ReplacementConfig",
          "description": "Configuration for model replacement."
        },
        "modelCatalogAssetId": {
          "type": "string",
          "description": "Asset identifier for the model in the model catalog."
        },
        "lifecycleStatus": {
          "$ref": "#/definitions/ModelLifecycleStatus",
          "description": "Model lifecycle status."
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DeploymentModel"
        }
      ]
    },
    "AccountModelListResult": {
      "type": "object",
      "description": "The list of cognitive services accounts operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Model."
        },
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services accounts Model and their properties.",
          "items": {
            "$ref": "#/definitions/AccountModel"
          },
          "x-ms-identifiers": [
            "name",
            "format",
            "version"
          ]
        }
      }
    },
    "AccountProperties": {
      "type": "object",
      "description": "Properties of Cognitive Services account.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets the status of the cognitive services account at the time the operation was called.",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the created account.",
          "readOnly": true
        },
        "internalId": {
          "type": "string",
          "description": "The internal identifier (deprecated, do not use this property).",
          "readOnly": true
        },
        "capabilities": {
          "type": "array",
          "description": "Gets the capabilities of the cognitive services account. Each item indicates the capability of a specific feature. The values are read-only and for reference only.",
          "items": {
            "$ref": "#/definitions/SkuCapability"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "isMigrated": {
          "type": "boolean",
          "description": "If the resource is migrated from an existing key.",
          "readOnly": true
        },
        "migrationToken": {
          "type": "string",
          "description": "Resource migration token."
        },
        "skuChangeInfo": {
          "$ref": "#/definitions/SkuChangeInfo",
          "description": "Sku change info of account.",
          "readOnly": true
        },
        "customSubDomainName": {
          "type": "string",
          "description": "Optional subdomain name used for token-based authentication."
        },
        "networkAcls": {
          "$ref": "#/definitions/NetworkRuleSet",
          "description": "A collection of rules governing the accessibility from specific network locations."
        },
        "encryption": {
          "$ref": "#/definitions/Encryption",
          "description": "The encryption properties for this resource."
        },
        "userOwnedStorage": {
          "type": "array",
          "description": "The storage accounts for this resource.",
          "items": {
            "$ref": "#/definitions/UserOwnedStorage"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        },
        "amlWorkspace": {
          "$ref": "#/definitions/UserOwnedAmlWorkspace",
          "description": "The user owned AML account properties."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The private endpoint connection associated with the Cognitive Services account.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Whether or not public endpoint access is allowed for this account."
        },
        "apiProperties": {
          "$ref": "#/definitions/ApiProperties",
          "description": "The api properties for special APIs."
        },
        "dateCreated": {
          "type": "string",
          "description": "Gets the date of cognitive services account creation.",
          "readOnly": true
        },
        "callRateLimit": {
          "$ref": "#/definitions/CallRateLimit",
          "description": "The call rate limit Cognitive Services account.",
          "readOnly": true
        },
        "dynamicThrottlingEnabled": {
          "type": "boolean",
          "description": "The flag to enable dynamic throttling."
        },
        "storedCompletionsDisabled": {
          "type": "boolean",
          "description": "The flag to disable stored completions."
        },
        "quotaLimit": {
          "$ref": "#/definitions/QuotaLimit",
          "readOnly": true
        },
        "restrictOutboundNetworkAccess": {
          "type": "boolean"
        },
        "allowedFqdnList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disableLocalAuth": {
          "type": "boolean"
        },
        "endpoints": {
          "type": "object",
          "description": "Dictionary of <string>",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "restore": {
          "type": "boolean",
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "deletionDate": {
          "type": "string",
          "description": "The deletion date, only available for deleted account.",
          "readOnly": true
        },
        "scheduledPurgeDate": {
          "type": "string",
          "description": "The scheduled purge date, only available for deleted account.",
          "readOnly": true
        },
        "locations": {
          "$ref": "#/definitions/MultiRegionSettings",
          "description": "The multiregion settings of Cognitive Services account."
        },
        "commitmentPlanAssociations": {
          "type": "array",
          "description": "The commitment plan associations of Cognitive Services account.",
          "items": {
            "$ref": "#/definitions/CommitmentPlanAssociation"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "commitmentPlanId"
          ]
        },
        "abusePenalty": {
          "$ref": "#/definitions/AbusePenalty",
          "description": "The abuse penalty.",
          "readOnly": true
        },
        "raiMonitorConfig": {
          "$ref": "#/definitions/RaiMonitorConfig",
          "description": "Cognitive Services Rai Monitor Config."
        },
        "networkInjections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInjection"
          }
        },
        "allowProjectManagement": {
          "type": "boolean",
          "description": "Specifies whether this resource support project management as child resources, used as containers for access management, data isolation and cost in AI Foundry."
        },
        "defaultProject": {
          "type": "string",
          "description": "Specifies the project, by project name, that is targeted when data plane endpoints are called without a project parameter."
        },
        "associatedProjects": {
          "type": "array",
          "description": "Specifies the projects, by project name, that are associated with this resource.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AccountSku": {
      "type": "object",
      "description": "Cognitive Services resource type and SKU.",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Resource Namespace and Type"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of Cognitive Services account."
        }
      }
    },
    "AccountSkuListResult": {
      "type": "object",
      "description": "The list of cognitive services accounts operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services accounts and their properties.",
          "items": {
            "$ref": "#/definitions/AccountSku"
          },
          "x-ms-identifiers": [
            "sku/name",
            "resourceType"
          ]
        }
      }
    },
    "ActionType": {
      "type": "string",
      "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
      "enum": [
        "Internal"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Internal",
            "value": "Internal"
          }
        ]
      }
    },
    "AgentApplication": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgenticApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AgentApplicationResourceArmPaginatedResult": {
      "type": "object",
      "description": "A paginated list of Agent Application entities.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of Agent Application objects. If null, there are no additional pages.",
          "x-nullable": true
        },
        "value": {
          "type": "array",
          "description": "An array of objects of type Agent Application.",
          "items": {
            "$ref": "#/definitions/AgentApplication"
          }
        }
      }
    },
    "AgentCard": {
      "type": "object",
      "description": "Represents a detailed description of an agent, including its name, functionality, hosting information, supported interaction modes, and available skills.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human-readable name for the Agent (e.g., 'Recipe Agent').",
          "x-nullable": true
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the Agent's function.",
          "x-nullable": true
        },
        "url": {
          "type": "string",
          "description": "URL address where the Agent is hosted.",
          "x-nullable": true
        },
        "provider": {
          "$ref": "#/definitions/ProviderInfo",
          "description": "Service provider information for the Agent.",
          "x-nullable": true
        },
        "version": {
          "type": "string",
          "description": "Version of the Agent (format defined by provider, e.g., '1.0.0').",
          "x-nullable": true
        },
        "documentationUrl": {
          "type": "string",
          "description": "URL for the Agent's documentation.",
          "x-nullable": true
        },
        "defaultInputModes": {
          "type": "array",
          "description": "Default interaction modes supported by the Agent across all skills.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "defaultOutputModes": {
          "type": "array",
          "description": "Default output modes supported by the Agent across all skills.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "skills": {
          "type": "array",
          "description": "Collection of capability units the Agent can perform.",
          "x-nullable": true,
          "items": {
            "$ref": "#/definitions/Skill"
          }
        }
      }
    },
    "AgentDeployment": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentDeploymentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AgentDeploymentProperties": {
      "type": "object",
      "description": "Type representing an agent deployment as a management construct.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Gets or sets the display name of the deployment.",
          "x-nullable": true
        },
        "deploymentId": {
          "type": "string",
          "description": "Gets or sets the unique identifier of the deployment.",
          "x-nullable": true
        },
        "state": {
          "$ref": "#/definitions/AgentDeploymentState",
          "description": "Gets or sets the current operational state of the deployment (and, intrinsically, of the comprising agents).",
          "x-nullable": true
        },
        "protocols": {
          "type": "array",
          "description": "Gets or sets the supported protocol types and versions exposed by this deployment.",
          "x-nullable": true,
          "items": {
            "$ref": "#/definitions/AgentProtocolVersion"
          }
        },
        "agents": {
          "type": "array",
          "description": "Returns a flat list of agent:version deployed in this deployment.",
          "x-nullable": true,
          "items": {
            "$ref": "#/definitions/VersionedAgentReference"
          }
        },
        "deploymentType": {
          "$ref": "#/definitions/AgentDeploymentType",
          "description": "Gets or sets the type of deployment for the agent."
        },
        "provisioningState": {
          "$ref": "#/definitions/AgentDeploymentProvisioningState",
          "description": "Gets or sets the provisioning state of the agent deployment.",
          "readOnly": true
        }
      },
      "discriminator": "deploymentType",
      "required": [
        "deploymentType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ResourceBase"
        }
      ]
    },
    "AgentDeploymentProvisioningState": {
      "type": "string",
      "description": "Provisioning state of an agentic deployment, as an Azure resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "AgentDeploymentProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The deployment was successfully completed."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The deployment failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The deployment was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The deployment is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The deployment is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The deployment is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "AgentDeploymentResourceArmPaginatedResult": {
      "type": "object",
      "description": "A paginated list of Agent Deployment entities.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of Agent Deployment objects. If null, there are no additional pages.",
          "x-nullable": true
        },
        "value": {
          "type": "array",
          "description": "An array of objects of type Agent Deployment.",
          "items": {
            "$ref": "#/definitions/AgentDeployment"
          }
        }
      }
    },
    "AgentDeploymentState": {
      "type": "string",
      "description": "Current operational state of the agentic functionality represented by this deployment.",
      "enum": [
        "Starting",
        "Running",
        "Stopping",
        "Stopped",
        "Failed",
        "Deleting",
        "Deleted",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "AgentDeploymentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Starting",
            "value": "Starting",
            "description": "The deployment is starting."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The deployment started/is operational."
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "The deployment is being stopped."
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "The deployment was stopped."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The deployment failed."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The deployment is being deleted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The deployment was deleted."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The deployment is being updated."
          }
        ]
      }
    },
    "AgentDeploymentType": {
      "type": "string",
      "description": "Specifies the type of deployment for an agent, indicating how the underlying compute and network infrastructure is managed.",
      "enum": [
        "Managed",
        "Hosted",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "AgentDeploymentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Managed",
            "value": "Managed",
            "description": "The underlying infra is managed by the platform in the deployer's subscription"
          },
          {
            "name": "Hosted",
            "value": "Hosted",
            "description": "The underlying infra is owned by the platform"
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "The underlying infra is provisioned by the deployer (BYO)"
          }
        ]
      }
    },
    "AgentProtocol": {
      "type": "string",
      "description": "Protocol used by the agent/exposed by a deployment.",
      "enum": [
        "Agent",
        "A2A",
        "Responses"
      ],
      "x-ms-enum": {
        "name": "AgentProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "Agent",
            "value": "Agent",
            "description": "Agent protocol (aka Active)"
          },
          {
            "name": "A2A",
            "value": "A2A",
            "description": "Agent2Agent standard"
          },
          {
            "name": "Responses",
            "value": "Responses",
            "description": "OpenAI-compatible"
          }
        ]
      }
    },
    "AgentProtocolVersion": {
      "type": "object",
      "description": "Type modeling the protocol and version used by an agent/exposed by a deployment.",
      "properties": {
        "protocol": {
          "$ref": "#/definitions/AgentProtocol",
          "description": "The protocol used by the agent/exposed by a deployment."
        },
        "version": {
          "type": "string",
          "description": "The version of the protocol.",
          "x-nullable": true
        }
      }
    },
    "AgentReference": {
      "type": "object",
      "description": "Agent Reference resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentReferenceProperties",
          "description": "[Required] Additional attributes of the entity."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AgentReferenceProperties": {
      "type": "object",
      "description": "Type modeling a reference to a version of an agent definition.",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Gets the agent's unique identifier within the organization (subscription).",
          "x-nullable": true
        },
        "agentName": {
          "type": "string",
          "description": "Gets the agent's name (unique within the project/app).",
          "x-nullable": true
        }
      }
    },
    "AgentReferenceResourceArmPaginatedResult": {
      "type": "object",
      "description": "A paginated list of Agent Reference entities.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of Agent Reference objects. If null, there are no additional pages.",
          "x-nullable": true
        },
        "value": {
          "type": "array",
          "description": "An array of objects of type Agent Reference.",
          "x-nullable": true,
          "items": {
            "$ref": "#/definitions/AgentReference"
          }
        }
      }
    },
    "AgenticApplicationProperties": {
      "type": "object",
      "description": "Resource type representing an agentic application as a management construct.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the application.",
          "x-nullable": true
        },
        "baseUrl": {
          "type": "string",
          "description": "The application's dedicated invocation endpoint.",
          "x-nullable": true
        },
        "agents": {
          "type": "array",
          "description": "The list of agent definitions comprising this application, returned as references to the objects under the parent project; use this to obtain a flat list of all agent-version pairs represented by this application.",
          "x-nullable": true,
          "items": {
            "$ref": "#/definitions/AgentReferenceProperties"
          }
        },
        "agentIdentityBlueprint": {
          "$ref": "#/definitions/AssignedIdentity",
          "description": "The EntraId Agentic Blueprint of the application.",
          "x-nullable": true
        },
        "defaultInstanceIdentity": {
          "$ref": "#/definitions/AssignedIdentity",
          "description": "The (default) agent instance identity of the application.",
          "x-nullable": true
        },
        "authorizationPolicy": {
          "$ref": "#/definitions/ApplicationAuthorizationPolicy",
          "description": "Gets or sets the authorization policy associated with this agentic application instance.",
          "x-nullable": true
        },
        "trafficRoutingPolicy": {
          "$ref": "#/definitions/ApplicationTrafficRoutingPolicy",
          "description": "Gets or sets the traffic routing policy for the application's deployments.",
          "x-nullable": true
        },
        "provisioningState": {
          "$ref": "#/definitions/AgenticApplicationProvisioningState",
          "description": "Provisioning state of the application.",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Enabledstate of the application.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceBase"
        }
      ]
    },
    "AgenticApplicationProvisioningState": {
      "type": "string",
      "description": "Provisioning state of an agentic application.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "AgenticApplicationProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The application was successfully provisioned."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The application provisioning failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The application provisioning was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The application is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The application is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The application is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "ApiKeyAuthConnectionProperties": {
      "type": "object",
      "description": "This connection type covers the generic ApiKey auth connection categories, for examples:\nAzureOpenAI:\nCategory:= AzureOpenAI\nAuthType:= ApiKey (as type discriminator)\nCredentials:= {ApiKey} as .ApiKey\nTarget:= {ApiBase}\n\nCognitiveService:\nCategory:= CognitiveService\nAuthType:= ApiKey (as type discriminator)\nCredentials:= {SubscriptionKey} as ApiKey\nTarget:= ServiceRegion={serviceRegion}\n\nCognitiveSearch:\nCategory:= CognitiveSearch\nAuthType:= ApiKey (as type discriminator)\nCredentials:= {Key} as ApiKey\nTarget:= {Endpoint}\n\nUse Metadata property bag for ApiType, ApiVersion, Kind and other metadata fields",
      "properties": {
        "credentials": {
          "$ref": "#/definitions/ConnectionApiKey",
          "description": "Api key object for connection credential."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ConnectionPropertiesV2"
        }
      ],
      "x-ms-discriminator-value": "ApiKey"
    },
    "ApiKeys": {
      "type": "object",
      "description": "The access keys for the cognitive services account.",
      "properties": {
        "key1": {
          "type": "string",
          "description": "Gets the value of key 1."
        },
        "key2": {
          "type": "string",
          "description": "Gets the value of key 2."
        }
      }
    },
    "ApiProperties": {
      "type": "object",
      "description": "The api properties for special APIs.",
      "properties": {
        "qnaRuntimeEndpoint": {
          "type": "string",
          "description": "(QnAMaker Only) The runtime endpoint of QnAMaker."
        },
        "qnaAzureSearchEndpointKey": {
          "type": "string",
          "description": "(QnAMaker Only) The Azure Search endpoint key of QnAMaker."
        },
        "qnaAzureSearchEndpointId": {
          "type": "string",
          "description": "(QnAMaker Only) The Azure Search endpoint id of QnAMaker."
        },
        "statisticsEnabled": {
          "type": "boolean",
          "description": "(Bing Search Only) The flag to enable statistics of Bing Search."
        },
        "eventHubConnectionString": {
          "type": "string",
          "description": "(Personalization Only) The flag to enable statistics of Bing Search.",
          "maxLength": 1000,
          "pattern": "^( *)Endpoint=sb://(.*);( *)SharedAccessKeyName=(.*);( *)SharedAccessKey=(.*)$"
        },
        "storageAccountConnectionString": {
          "type": "string",
          "description": "(Personalization Only) The storage account connection string.",
          "maxLength": 1000,
          "pattern": "^(( *)DefaultEndpointsProtocol=(http|https)( *);( *))?AccountName=(.*)AccountKey=(.*)EndpointSuffix=(.*)$"
        },
        "aadClientId": {
          "type": "string",
          "description": "(Metrics Advisor Only) The Azure AD Client Id (Application Id).",
          "maxLength": 500
        },
        "aadTenantId": {
          "type": "string",
          "description": "(Metrics Advisor Only) The Azure AD Tenant Id.",
          "maxLength": 500
        },
        "superUser": {
          "type": "string",
          "description": "(Metrics Advisor Only) The super user of Metrics Advisor.",
          "maxLength": 500
        },
        "websiteName": {
          "type": "string",
          "description": "(Metrics Advisor Only) The website name of Metrics Advisor.",
          "maxLength": 500
        }
      },
      "additionalProperties": {}
    },
    "ApplicationAuthorizationPolicy": {
      "type": "object",
      "description": "Represents a policy for authorizing applications based on specified authentication and authorization schemes.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BuiltInAuthorizationScheme",
          "description": "Authorization scheme type."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ApplicationTrafficRoutingPolicy": {
      "type": "object",
      "description": "Type representing an application traffic policy as a property of an agentic application.",
      "properties": {
        "protocol": {
          "$ref": "#/definitions/TrafficRoutingProtocol",
          "description": "Methodology used to route traffic to the application's deployments."
        },
        "rules": {
          "type": "array",
          "description": "Gets or sets the collection of traffic routing rules.",
          "x-nullable": true,
          "items": {
            "$ref": "#/definitions/TrafficRoutingRule"
          }
        }
      }
    },
    "AssignedIdentity": {
      "type": "object",
      "description": "Type representing an identity assignment",
      "properties": {
        "kind": {
          "$ref": "#/definitions/IdentityKind",
          "description": "Specifies the kind of Entra identity described by this object."
        },
        "type": {
          "$ref": "#/definitions/IdentityManagementType",
          "description": "Enumeration of identity types, from the perspective of management."
        },
        "clientId": {
          "type": "string",
          "description": "The client ID of the identity."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID of the identity."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the identity."
        },
        "subject": {
          "type": "string",
          "description": "The subject of this identity assignment.",
          "x-nullable": true
        },
        "provisioningState": {
          "$ref": "#/definitions/IdentityProvisioningState",
          "description": "Represents the provisioning state of an identity resource.",
          "readOnly": true
        }
      },
      "required": [
        "kind",
        "type",
        "clientId",
        "principalId",
        "tenantId"
      ]
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "BillingMeterInfo": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "meterId": {
          "type": "string"
        },
        "unit": {
          "type": "string"
        }
      }
    },
    "BuiltInAuthorizationScheme": {
      "type": "string",
      "description": "Authorization scheme type.",
      "enum": [
        "Default",
        "OrganizationScope",
        "Channels",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "BuiltInAuthorizationScheme",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Standard AzureML RBAC"
          },
          {
            "name": "OrganizationScope",
            "value": "OrganizationScope",
            "description": "Claim-based, requires membership in the tenant"
          },
          {
            "name": "Channels",
            "value": "Channels",
            "description": "Channels-specific (AzureBotService) authorization"
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom scheme defined by the application author"
          }
        ]
      }
    },
    "ByPassSelection": {
      "type": "string",
      "description": "Setting for trusted services.",
      "enum": [
        "None",
        "AzureServices"
      ],
      "x-ms-enum": {
        "name": "ByPassSelection",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "AzureServices",
            "value": "AzureServices"
          }
        ]
      }
    },
    "CalculateModelCapacityParameter": {
      "type": "object",
      "description": "Calculate Model Capacity parameter.",
      "properties": {
        "model": {
          "$ref": "#/definitions/DeploymentModel",
          "description": "Properties of Cognitive Services account deployment model."
        },
        "skuName": {
          "type": "string",
          "description": "The name of SKU."
        },
        "workloads": {
          "type": "array",
          "description": "List of Model Capacity Calculator Workload.",
          "items": {
            "$ref": "#/definitions/ModelCapacityCalculatorWorkload"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CalculateModelCapacityResult": {
      "type": "object",
      "description": "Calculate Model Capacity result.",
      "properties": {
        "model": {
          "$ref": "#/definitions/DeploymentModel",
          "description": "Properties of Cognitive Services account deployment model."
        },
        "skuName": {
          "type": "string"
        },
        "estimatedCapacity": {
          "$ref": "#/definitions/CalculateModelCapacityResultEstimatedCapacity",
          "description": "Model Estimated Capacity."
        }
      }
    },
    "CalculateModelCapacityResultEstimatedCapacity": {
      "type": "object",
      "description": "Model Estimated Capacity.",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32"
        },
        "deployableValue": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CallRateLimit": {
      "type": "object",
      "description": "The call rate limit Cognitive Services account.",
      "properties": {
        "count": {
          "type": "number",
          "format": "float",
          "description": "The count value of Call Rate Limit."
        },
        "renewalPeriod": {
          "type": "number",
          "format": "float",
          "description": "The renewal period in seconds of Call Rate Limit."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ThrottlingRule"
          },
          "x-ms-identifiers": [
            "key"
          ]
        }
      }
    },
    "CapabilityHost": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CapabilityHostProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CapabilityHostKind": {
      "type": "string",
      "enum": [
        "Agents"
      ],
      "x-ms-enum": {
        "name": "CapabilityHostKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Agents",
            "value": "Agents"
          }
        ]
      }
    },
    "CapabilityHostProperties": {
      "type": "object",
      "properties": {
        "aiServicesConnections": {
          "type": "array",
          "description": "List of AI services connections.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "capabilityHostKind": {
          "$ref": "#/definitions/CapabilityHostKind",
          "description": "Kind of this capability host."
        },
        "customerSubnet": {
          "type": "string",
          "description": "Customer subnet info to help set up this capability host.",
          "x-nullable": true
        },
        "provisioningState": {
          "$ref": "#/definitions/CapabilityHostProvisioningState",
          "description": "Provisioning state for the CapabilityHost.",
          "readOnly": true
        },
        "storageConnections": {
          "type": "array",
          "description": "List of connection names from those available in the account or project to be used as a storage resource.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "threadStorageConnections": {
          "type": "array",
          "description": "List of connection names from those available in the account or project to be used for Thread storage.",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "vectorStoreConnections": {
          "type": "array",
          "description": "List of connection names from those available in the account or project to be used for vector database (e.g. CosmosDB).",
          "x-nullable": true,
          "items": {
            "type": "string"
          }
        },
        "enablePublicHostingEnvironment": {
          "type": "boolean",
          "description": "Whether public hosting environment is enabled for the capability host"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ResourceBase"
        }
      ]
    },
    "CapabilityHostProvisioningState": {
      "type": "string",
      "description": "Provisioning state of capability host.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "CapabilityHostProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled"
          },
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Updating",
            "value": "Updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          }
        ]
      },
      "readOnly": true
    },
    "CapabilityHostResourceArmPaginatedResult": {
      "type": "object",
      "description": "A paginated list of Capability Host entities.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of Capability Host objects. If null, there are no additional pages.",
          "x-nullable": true
        },
        "value": {
          "type": "array",
          "description": "An array of objects of type Capability Host.",
          "items": {
            "$ref": "#/definitions/CapabilityHost"
          }
        }
      }
    },
    "CapacityConfig": {
      "type": "object",
      "description": "The capacity configuration.",
      "properties": {
        "minimum": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum capacity."
        },
        "maximum": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum capacity."
        },
        "step": {
          "type": "integer",
          "format": "int32",
          "description": "The minimal incremental between allowed values for capacity."
        },
        "default": {
          "type": "integer",
          "format": "int32",
          "description": "The default capacity."
        },
        "allowedValues": {
          "type": "array",
          "description": "The array of allowed values for capacity.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "ChannelsBuiltInAuthorizationPolicy": {
      "type": "object",
      "description": "Represents a built-in authorization policy specific to Azure Bot Service/Channels authentication.",
      "allOf": [
        {
          "$ref": "#/definitions/ApplicationAuthorizationPolicy"
        }
      ],
      "x-ms-discriminator-value": "Channels"
    },
    "CheckDomainAvailabilityParameter": {
      "type": "object",
      "description": "Check Domain availability parameter.",
      "properties": {
        "subdomainName": {
          "type": "string",
          "description": "The subdomain name to use."
        },
        "type": {
          "type": "string",
          "description": "The Type of the resource."
        },
        "kind": {
          "type": "string",
          "description": "The kind (type) of cognitive service account."
        }
      },
      "required": [
        "subdomainName",
        "type"
      ]
    },
    "CheckSkuAvailabilityParameter": {
      "type": "object",
      "description": "Check SKU availability parameter.",
      "properties": {
        "skus": {
          "type": "array",
          "description": "The SKU of the resource.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind (type) of cognitive service account."
        },
        "type": {
          "type": "string",
          "description": "The Type of the resource."
        }
      },
      "required": [
        "skus",
        "kind",
        "type"
      ]
    },
    "CommitmentCost": {
      "type": "object",
      "description": "Cognitive Services account commitment cost.",
      "properties": {
        "commitmentMeterId": {
          "type": "string",
          "description": "Commitment meter Id."
        },
        "overageMeterId": {
          "type": "string",
          "description": "Overage meter Id."
        }
      }
    },
    "CommitmentPeriod": {
      "type": "object",
      "description": "Cognitive Services account commitment period.",
      "properties": {
        "tier": {
          "type": "string",
          "description": "Commitment period commitment tier."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Commitment period commitment count."
        },
        "quota": {
          "$ref": "#/definitions/CommitmentQuota",
          "description": "Cognitive Services account commitment quota.",
          "readOnly": true
        },
        "startDate": {
          "type": "string",
          "description": "Commitment period start date.",
          "readOnly": true
        },
        "endDate": {
          "type": "string",
          "description": "Commitment period end date.",
          "readOnly": true
        }
      }
    },
    "CommitmentPlan": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommitmentPlanProperties",
          "description": "The RP-specific properties for this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "CommitmentPlanAccountAssociation": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommitmentPlanAccountAssociationProperties",
          "description": "The resource-specific properties for this resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CommitmentPlanAccountAssociationListResult": {
      "type": "object",
      "description": "The list of cognitive services Commitment Plan Account Association operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Commitment Plan Account Association."
        },
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services Commitment Plan Account Association and their properties.",
          "items": {
            "$ref": "#/definitions/CommitmentPlanAccountAssociation"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "CommitmentPlanAccountAssociationProperties": {
      "type": "object",
      "description": "The commitment plan account association properties.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The Azure resource id of the account."
        }
      }
    },
    "CommitmentPlanAssociation": {
      "type": "object",
      "description": "The commitment plan association.",
      "properties": {
        "commitmentPlanId": {
          "type": "string",
          "description": "The Azure resource id of the commitment plan."
        },
        "commitmentPlanLocation": {
          "type": "string",
          "description": "The location of of the commitment plan."
        }
      }
    },
    "CommitmentPlanListResult": {
      "type": "object",
      "description": "The list of cognitive services accounts operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of CommitmentPlan."
        },
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services accounts CommitmentPlan and their properties.",
          "items": {
            "$ref": "#/definitions/CommitmentPlan"
          },
          "readOnly": true
        }
      }
    },
    "CommitmentPlanProperties": {
      "type": "object",
      "description": "Properties of Cognitive Services account commitment plan.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/CommitmentPlanProvisioningState",
          "description": "Gets the status of the resource at the time the operation was called.",
          "readOnly": true
        },
        "commitmentPlanGuid": {
          "type": "string",
          "description": "Commitment plan guid."
        },
        "hostingModel": {
          "$ref": "#/definitions/HostingModel",
          "description": "Account hosting model."
        },
        "planType": {
          "type": "string",
          "description": "Commitment plan type."
        },
        "current": {
          "$ref": "#/definitions/CommitmentPeriod",
          "description": "Cognitive Services account commitment period."
        },
        "autoRenew": {
          "type": "boolean",
          "description": "AutoRenew commitment plan."
        },
        "next": {
          "$ref": "#/definitions/CommitmentPeriod",
          "description": "Cognitive Services account commitment period."
        },
        "last": {
          "$ref": "#/definitions/CommitmentPeriod",
          "description": "Cognitive Services account commitment period.",
          "readOnly": true
        },
        "provisioningIssues": {
          "type": "array",
          "description": "The list of ProvisioningIssue.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "CommitmentPlanProvisioningState": {
      "type": "string",
      "description": "Gets the status of the resource at the time the operation was called.",
      "enum": [
        "Accepted",
        "Creating",
        "Deleting",
        "Moving",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "CommitmentPlanProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted"
          },
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          },
          {
            "name": "Moving",
            "value": "Moving"
          },
          {
            "name": "Failed",
            "value": "Failed"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded"
          },
          {
            "name": "Canceled",
            "value": "Canceled"
          }
        ]
      },
      "readOnly": true
    },
    "CommitmentQuota": {
      "type": "object",
      "description": "Cognitive Services account commitment quota.",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Commitment quota quantity."
        },
        "unit": {
          "type": "string",
          "description": "Commitment quota unit."
        }
      }
    },
    "CommitmentTier": {
      "type": "object",
      "description": "Cognitive Services account commitment tier.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind (type) of cognitive service account."
        },
        "skuName": {
          "type": "string",
          "description": "The name of the SKU. Ex - P3. It is typically a letter+number code"
        },
        "hostingModel": {
          "$ref": "#/definitions/HostingModel",
          "description": "Account hosting model."
        },
        "planType": {
          "type": "string",
          "description": "Commitment plan type."
        },
        "tier": {
          "type": "string",
          "description": "Commitment period commitment tier."
        },
        "maxCount": {
          "type": "integer",
          "format": "int32",
          "description": "Commitment period commitment max count."
        },
        "quota": {
          "$ref": "#/definitions/CommitmentQuota",
          "description": "Cognitive Services account commitment quota."
        },
        "cost": {
          "$ref": "#/definitions/CommitmentCost",
          "description": "Cognitive Services account commitment cost."
        }
      }
    },
    "CommitmentTierListResult": {
      "type": "object",
      "description": "The list of cognitive services accounts operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of CommitmentTier."
        },
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services accounts CommitmentTier and their properties.",
          "items": {
            "$ref": "#/definitions/CommitmentTier"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "kind",
            "tier",
            "skuName",
            "hostingModel",
            "planType"
          ]
        }
      }
    },
    "ConnectionAccessKey": {
      "type": "object",
      "properties": {
        "accessKeyId": {
          "type": "string"
        },
        "secretAccessKey": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        }
      }
    },
    "ConnectionAccountKey": {
      "type": "object",
      "description": "Account key object for connection credential.",
      "properties": {
        "key": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        }
      }
    },
    "ConnectionApiKey": {
      "type": "object",
      "description": "Api key object for connection credential.",
      "properties": {
        "key": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        }
      }
    },
    "ConnectionAuthType": {
      "type": "string",
      "description": "Authentication type of the connection target",
      "enum": [
        "PAT",
        "ManagedIdentity",
        "UsernamePassword",
        "None",
        "SAS",
        "AccountKey",
        "ServicePrincipal",
        "AccessKey",
        "ApiKey",
        "CustomKeys",
        "OAuth2",
        "AAD",
        "DelegatedSAS",
        "ProjectManagedIdentity",
        "AccountManagedIdentity",
        "UserEntraToken",
        "AgentUserImpersonation",
        "AgenticIdentityToken",
        "AgenticUser"
      ],
      "x-ms-enum": {
        "name": "ConnectionAuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "PAT",
            "value": "PAT"
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity"
          },
          {
            "name": "UsernamePassword",
            "value": "UsernamePassword"
          },
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "SAS",
            "value": "SAS"
          },
          {
            "name": "AccountKey",
            "value": "AccountKey"
          },
          {
            "name": "ServicePrincipal",
            "value": "ServicePrincipal"
          },
          {
            "name": "AccessKey",
            "value": "AccessKey"
          },
          {
            "name": "ApiKey",
            "value": "ApiKey"
          },
          {
            "name": "CustomKeys",
            "value": "CustomKeys"
          },
          {
            "name": "OAuth2",
            "value": "OAuth2"
          },
          {
            "name": "AAD",
            "value": "AAD"
          },
          {
            "name": "DelegatedSAS",
            "value": "DelegatedSAS"
          },
          {
            "name": "ProjectManagedIdentity",
            "value": "ProjectManagedIdentity"
          },
          {
            "name": "AccountManagedIdentity",
            "value": "AccountManagedIdentity"
          },
          {
            "name": "UserEntraToken",
            "value": "UserEntraToken"
          },
          {
            "name": "AgentUserImpersonation",
            "value": "AgentUserImpersonation"
          },
          {
            "name": "AgenticIdentityToken",
            "value": "AgenticIdentityToken"
          },
          {
            "name": "AgenticUser",
            "value": "AgenticUser"
          }
        ]
      }
    },
    "ConnectionCategory": {
      "type": "string",
      "description": "Category of the connection",
      "enum": [
        "PythonFeed",
        "ContainerRegistry",
        "Git",
        "S3",
        "Snowflake",
        "AzureKeyVault",
        "AzureSqlDb",
        "AzureSynapseAnalytics",
        "AzureMySqlDb",
        "AzurePostgresDb",
        "ADLSGen2",
        "AzureContainerAppEnvironment",
        "Redis",
        "ApiKey",
        "AzureOpenAI",
        "AIServices",
        "CognitiveSearch",
        "CognitiveService",
        "CustomKeys",
        "AzureBlob",
        "AzureStorageAccount",
        "AzureOneLake",
        "CosmosDb",
        "CosmosDbMongoDbApi",
        "AzureDataExplorer",
        "AzureMariaDb",
        "AzureDatabricksDeltaLake",
        "AzureSqlMi",
        "AzureTableStorage",
        "AmazonRdsForOracle",
        "AmazonRdsForSqlServer",
        "AmazonRedshift",
        "Db2",
        "Drill",
        "GoogleBigQuery",
        "Greenplum",
        "Hbase",
        "Hive",
        "Impala",
        "Informix",
        "MariaDb",
        "MicrosoftAccess",
        "MySql",
        "Netezza",
        "Oracle",
        "Phoenix",
        "PostgreSql",
        "Presto",
        "SapOpenHub",
        "SapBw",
        "SapHana",
        "SapTable",
        "Spark",
        "SqlServer",
        "Sybase",
        "Teradata",
        "Vertica",
        "Pinecone",
        "Databricks",
        "Cassandra",
        "Couchbase",
        "MongoDbV2",
        "MongoDbAtlas",
        "AmazonS3Compatible",
        "FileServer",
        "FtpServer",
        "GoogleCloudStorage",
        "Hdfs",
        "OracleCloudStorage",
        "Sftp",
        "GenericHttp",
        "ODataRest",
        "Odbc",
        "GenericRest",
        "RemoteTool",
        "AmazonMws",
        "Concur",
        "Dynamics",
        "DynamicsAx",
        "DynamicsCrm",
        "GoogleAdWords",
        "Hubspot",
        "Jira",
        "Magento",
        "Marketo",
        "Office365",
        "Eloqua",
        "Responsys",
        "OracleServiceCloud",
        "PayPal",
        "QuickBooks",
        "Salesforce",
        "SalesforceServiceCloud",
        "SalesforceMarketingCloud",
        "SapCloudForCustomer",
        "SapEcc",
        "ServiceNow",
        "SharePointOnlineList",
        "Shopify",
        "Square",
        "WebTable",
        "Xero",
        "Zoho",
        "GenericContainerRegistry",
        "Elasticsearch",
        "AppInsights",
        "AppConfig",
        "OpenAI",
        "Serp",
        "BingLLMSearch",
        "Serverless",
        "ManagedOnlineEndpoint",
        "ApiManagement",
        "ModelGateway",
        "GroundingWithBingSearch",
        "GroundingWithCustomSearch",
        "Sharepoint",
        "MicrosoftFabric",
        "PowerPlatformEnvironment",
        "RemoteA2A"
      ],
      "x-ms-enum": {
        "name": "ConnectionCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "PythonFeed",
            "value": "PythonFeed"
          },
          {
            "name": "ContainerRegistry",
            "value": "ContainerRegistry"
          },
          {
            "name": "Git",
            "value": "Git"
          },
          {
            "name": "S3",
            "value": "S3"
          },
          {
            "name": "Snowflake",
            "value": "Snowflake"
          },
          {
            "name": "AzureKeyVault",
            "value": "AzureKeyVault"
          },
          {
            "name": "AzureSqlDb",
            "value": "AzureSqlDb"
          },
          {
            "name": "AzureSynapseAnalytics",
            "value": "AzureSynapseAnalytics"
          },
          {
            "name": "AzureMySqlDb",
            "value": "AzureMySqlDb"
          },
          {
            "name": "AzurePostgresDb",
            "value": "AzurePostgresDb"
          },
          {
            "name": "ADLSGen2",
            "value": "ADLSGen2"
          },
          {
            "name": "AzureContainerAppEnvironment",
            "value": "AzureContainerAppEnvironment"
          },
          {
            "name": "Redis",
            "value": "Redis"
          },
          {
            "name": "ApiKey",
            "value": "ApiKey"
          },
          {
            "name": "AzureOpenAI",
            "value": "AzureOpenAI"
          },
          {
            "name": "AIServices",
            "value": "AIServices"
          },
          {
            "name": "CognitiveSearch",
            "value": "CognitiveSearch"
          },
          {
            "name": "CognitiveService",
            "value": "CognitiveService"
          },
          {
            "name": "CustomKeys",
            "value": "CustomKeys"
          },
          {
            "name": "AzureBlob",
            "value": "AzureBlob"
          },
          {
            "name": "AzureStorageAccount",
            "value": "AzureStorageAccount"
          },
          {
            "name": "AzureOneLake",
            "value": "AzureOneLake"
          },
          {
            "name": "CosmosDb",
            "value": "CosmosDb"
          },
          {
            "name": "CosmosDbMongoDbApi",
            "value": "CosmosDbMongoDbApi"
          },
          {
            "name": "AzureDataExplorer",
            "value": "AzureDataExplorer"
          },
          {
            "name": "AzureMariaDb",
            "value": "AzureMariaDb"
          },
          {
            "name": "AzureDatabricksDeltaLake",
            "value": "AzureDatabricksDeltaLake"
          },
          {
            "name": "AzureSqlMi",
            "value": "AzureSqlMi"
          },
          {
            "name": "AzureTableStorage",
            "value": "AzureTableStorage"
          },
          {
            "name": "AmazonRdsForOracle",
            "value": "AmazonRdsForOracle"
          },
          {
            "name": "AmazonRdsForSqlServer",
            "value": "AmazonRdsForSqlServer"
          },
          {
            "name": "AmazonRedshift",
            "value": "AmazonRedshift"
          },
          {
            "name": "Db2",
            "value": "Db2"
          },
          {
            "name": "Drill",
            "value": "Drill"
          },
          {
            "name": "GoogleBigQuery",
            "value": "GoogleBigQuery"
          },
          {
            "name": "Greenplum",
            "value": "Greenplum"
          },
          {
            "name": "Hbase",
            "value": "Hbase"
          },
          {
            "name": "Hive",
            "value": "Hive"
          },
          {
            "name": "Impala",
            "value": "Impala"
          },
          {
            "name": "Informix",
            "value": "Informix"
          },
          {
            "name": "MariaDb",
            "value": "MariaDb"
          },
          {
            "name": "MicrosoftAccess",
            "value": "MicrosoftAccess"
          },
          {
            "name": "MySql",
            "value": "MySql"
          },
          {
            "name": "Netezza",
            "value": "Netezza"
          },
          {
            "name": "Oracle",
            "value": "Oracle"
          },
          {
            "name": "Phoenix",
            "value": "Phoenix"
          },
          {
            "name": "PostgreSql",
            "value": "PostgreSql"
          },
          {
            "name": "Presto",
            "value": "Presto"
          },
          {
            "name": "SapOpenHub",
            "value": "SapOpenHub"
          },
          {
            "name": "SapBw",
            "value": "SapBw"
          },
          {
            "name": "SapHana",
            "value": "SapHana"
          },
          {
            "name": "SapTable",
            "value": "SapTable"
          },
          {
            "name": "Spark",
            "value": "Spark"
          },
          {
            "name": "SqlServer",
            "value": "SqlServer"
          },
          {
            "name": "Sybase",
            "value": "Sybase"
          },
          {
            "name": "Teradata",
            "value": "Teradata"
          },
          {
            "name": "Vertica",
            "value": "Vertica"
          },
          {
            "name": "Pinecone",
            "value": "Pinecone"
          },
          {
            "name": "Databricks",
            "value": "Databricks"
          },
          {
            "name": "Cassandra",
            "value": "Cassandra"
          },
          {
            "name": "Couchbase",
            "value": "Couchbase"
          },
          {
            "name": "MongoDbV2",
            "value": "MongoDbV2"
          },
          {
            "name": "MongoDbAtlas",
            "value": "MongoDbAtlas"
          },
          {
            "name": "AmazonS3Compatible",
            "value": "AmazonS3Compatible"
          },
          {
            "name": "FileServer",
            "value": "FileServer"
          },
          {
            "name": "FtpServer",
            "value": "FtpServer"
          },
          {
            "name": "GoogleCloudStorage",
            "value": "GoogleCloudStorage"
          },
          {
            "name": "Hdfs",
            "value": "Hdfs"
          },
          {
            "name": "OracleCloudStorage",
            "value": "OracleCloudStorage"
          },
          {
            "name": "Sftp",
            "value": "Sftp"
          },
          {
            "name": "GenericHttp",
            "value": "GenericHttp"
          },
          {
            "name": "ODataRest",
            "value": "ODataRest"
          },
          {
            "name": "Odbc",
            "value": "Odbc"
          },
          {
            "name": "GenericRest",
            "value": "GenericRest"
          },
          {
            "name": "RemoteTool",
            "value": "RemoteTool"
          },
          {
            "name": "AmazonMws",
            "value": "AmazonMws"
          },
          {
            "name": "Concur",
            "value": "Concur"
          },
          {
            "name": "Dynamics",
            "value": "Dynamics"
          },
          {
            "name": "DynamicsAx",
            "value": "DynamicsAx"
          },
          {
            "name": "DynamicsCrm",
            "value": "DynamicsCrm"
          },
          {
            "name": "GoogleAdWords",
            "value": "GoogleAdWords"
          },
          {
            "name": "Hubspot",
            "value": "Hubspot"
          },
          {
            "name": "Jira",
            "value": "Jira"
          },
          {
            "name": "Magento",
            "value": "Magento"
          },
          {
            "name": "Marketo",
            "value": "Marketo"
          },
          {
            "name": "Office365",
            "value": "Office365"
          },
          {
            "name": "Eloqua",
            "value": "Eloqua"
          },
          {
            "name": "Responsys",
            "value": "Responsys"
          },
          {
            "name": "OracleServiceCloud",
            "value": "OracleServiceCloud"
          },
          {
            "name": "PayPal",
            "value": "PayPal"
          },
          {
            "name": "QuickBooks",
            "value": "QuickBooks"
          },
          {
            "name": "Salesforce",
            "value": "Salesforce"
          },
          {
            "name": "SalesforceServiceCloud",
            "value": "SalesforceServiceCloud"
          },
          {
            "name": "SalesforceMarketingCloud",
            "value": "SalesforceMarketingCloud"
          },
          {
            "name": "SapCloudForCustomer",
            "value": "SapCloudForCustomer"
          },
          {
            "name": "SapEcc",
            "value": "SapEcc"
          },
          {
            "name": "ServiceNow",
            "value": "ServiceNow"
          },
          {
            "name": "SharePointOnlineList",
            "value": "SharePointOnlineList"
          },
          {
            "name": "Shopify",
            "value": "Shopify"
          },
          {
            "name": "Square",
            "value": "Square"
          },
          {
            "name": "WebTable",
            "value": "WebTable"
          },
          {
            "name": "Xero",
            "value": "Xero"
          },
          {
            "name": "Zoho",
            "value": "Zoho"
          },
          {
            "name": "GenericContainerRegistry",
            "value": "GenericContainerRegistry"
          },
          {
            "name": "Elasticsearch",
            "value": "Elasticsearch"
          },
          {
            "name": "AppInsights",
            "value": "AppInsights"
          },
          {
            "name": "AppConfig",
            "value": "AppConfig"
          },
          {
            "name": "OpenAI",
            "value": "OpenAI"
          },
          {
            "name": "Serp",
            "value": "Serp"
          },
          {
            "name": "BingLLMSearch",
            "value": "BingLLMSearch"
          },
          {
            "name": "Serverless",
            "value": "Serverless"
          },
          {
            "name": "ManagedOnlineEndpoint",
            "value": "ManagedOnlineEndpoint"
          },
          {
            "name": "ApiManagement",
            "value": "ApiManagement"
          },
          {
            "name": "ModelGateway",
            "value": "ModelGateway"
          },
          {
            "name": "GroundingWithBingSearch",
            "value": "GroundingWithBingSearch"
          },
          {
            "name": "GroundingWithCustomSearch",
            "value": "GroundingWithCustomSearch"
          },
          {
            "name": "Sharepoint",
            "value": "Sharepoint"
          },
          {
            "name": "MicrosoftFabric",
            "value": "MicrosoftFabric"
          },
          {
            "name": "PowerPlatformEnvironment",
            "value": "PowerPlatformEnvironment"
          },
          {
            "name": "RemoteA2A",
            "value": "RemoteA2A"
          }
        ]
      }
    },
    "ConnectionGroup": {
      "type": "string",
      "description": "Group based on connection category",
      "enum": [
        "Azure",
        "AzureAI",
        "Database",
        "NoSQL",
        "File",
        "GenericProtocol",
        "ServicesAndApps"
      ],
      "x-ms-enum": {
        "name": "ConnectionGroup",
        "modelAsString": true,
        "values": [
          {
            "name": "Azure",
            "value": "Azure"
          },
          {
            "name": "AzureAI",
            "value": "AzureAI"
          },
          {
            "name": "Database",
            "value": "Database"
          },
          {
            "name": "NoSQL",
            "value": "NoSQL"
          },
          {
            "name": "File",
            "value": "File"
          },
          {
            "name": "GenericProtocol",
            "value": "GenericProtocol"
          },
          {
            "name": "ServicesAndApps",
            "value": "ServicesAndApps"
          }
        ]
      }
    },
    "ConnectionManagedIdentity": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        }
      }
    },
    "ConnectionOAuth2": {
      "type": "object",
      "description": "ClientId and ClientSecret are required. Other properties are optional\ndepending on each OAuth2 provider's implementation.",
      "properties": {
        "authUrl": {
          "type": "string",
          "format": "uri",
          "description": "Required by Concur connection category"
        },
        "clientId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "Client id in the format of UUID"
        },
        "clientSecret": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        },
        "developerToken": {
          "type": "string",
          "format": "password",
          "description": "Required by GoogleAdWords connection category",
          "x-ms-secret": true
        },
        "password": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        },
        "refreshToken": {
          "type": "string",
          "format": "password",
          "description": "Required by GoogleBigQuery, GoogleAdWords, Hubspot, QuickBooks, Square, Xero, Zoho\nwhere user needs to get RefreshToken offline",
          "x-ms-secret": true
        },
        "tenantId": {
          "type": "string",
          "description": "Required by QuickBooks and Xero connection categories"
        },
        "username": {
          "type": "string",
          "description": "Concur, ServiceNow auth server AccessToken grant type is 'Password'\nwhich requires UsernamePassword"
        }
      }
    },
    "ConnectionPersonalAccessToken": {
      "type": "object",
      "properties": {
        "pat": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        }
      }
    },
    "ConnectionPropertiesV2": {
      "type": "object",
      "description": "Connection property base schema.",
      "properties": {
        "authType": {
          "$ref": "#/definitions/ConnectionAuthType",
          "description": "Authentication type of the connection target"
        },
        "category": {
          "$ref": "#/definitions/ConnectionCategory",
          "description": "Category of the connection"
        },
        "createdByWorkspaceArmId": {
          "type": "string",
          "format": "arm-id",
          "description": "A type definition that refers the id to an Azure Resource Manager resource.",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Provides the error message if the connection fails"
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time"
        },
        "group": {
          "$ref": "#/definitions/ConnectionGroup",
          "description": "Group based on connection category",
          "readOnly": true
        },
        "isSharedToAll": {
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Store user metadata for this connection",
          "additionalProperties": {
            "type": "string"
          }
        },
        "peRequirement": {
          "$ref": "#/definitions/ManagedPERequirement",
          "description": "Specifies how private endpoints are used with this connection: 'Required', 'NotRequired', or 'NotApplicable'."
        },
        "peStatus": {
          "$ref": "#/definitions/ManagedPEStatus",
          "description": "Specifies the status of private endpoints for this connection: 'Inactive', 'Active', or 'NotApplicable'."
        },
        "sharedUserList": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "target": {
          "type": "string",
          "description": "The connection URL to be used."
        },
        "useWorkspaceManagedIdentity": {
          "type": "boolean"
        }
      },
      "discriminator": "authType",
      "required": [
        "authType"
      ]
    },
    "ConnectionPropertiesV2BasicResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionPropertiesV2",
          "description": "The resource-specific properties for this resource."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConnectionPropertiesV2BasicResourceArmPaginatedResult": {
      "type": "object",
      "properties": {
        "nextLink": {
          "type": "string"
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionPropertiesV2BasicResource"
          }
        }
      }
    },
    "ConnectionServicePrincipal": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        },
        "tenantId": {
          "type": "string"
        }
      }
    },
    "ConnectionSharedAccessSignature": {
      "type": "object",
      "properties": {
        "sas": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        }
      }
    },
    "ConnectionUpdateContent": {
      "type": "object",
      "description": "The properties that the Cognitive services connection will be updated with.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionPropertiesV2",
          "description": "The properties that the Cognitive services connection will be updated with."
        }
      }
    },
    "ConnectionUsernamePassword": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "format": "password",
          "x-ms-secret": true
        },
        "securityToken": {
          "type": "string",
          "format": "password",
          "description": "Optional, required by connections like SalesForce for extra security in addition to UsernamePassword",
          "x-ms-secret": true
        },
        "username": {
          "type": "string"
        }
      }
    },
    "ContentLevel": {
      "type": "string",
      "description": "Level at which content is filtered.",
      "enum": [
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "ContentLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low"
          },
          {
            "name": "Medium",
            "value": "Medium"
          },
          {
            "name": "High",
            "value": "High"
          }
        ]
      }
    },
    "CreatedByType": {
      "type": "string",
      "description": "The type of identity that created the resource.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User"
          },
          {
            "name": "Application",
            "value": "Application"
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity"
          },
          {
            "name": "Key",
            "value": "Key"
          }
        ]
      }
    },
    "CustomBlocklistConfig": {
      "type": "object",
      "description": "Gets or sets the source to which filter applies.",
      "properties": {
        "source": {
          "$ref": "#/definitions/RaiPolicyContentSource",
          "description": "Content source to apply the Content Filters."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RaiBlocklistConfig"
        }
      ]
    },
    "CustomKeys": {
      "type": "object",
      "description": "Custom Keys credential object",
      "properties": {
        "keys": {
          "type": "object",
          "description": "Dictionary of <string>",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CustomKeysConnectionProperties": {
      "type": "object",
      "description": "Category:= CustomKeys\nAuthType:= CustomKeys (as type discriminator)\nCredentials:= {CustomKeys} as CustomKeys\nTarget:= {any value}\nUse Metadata property bag for ApiVersion and other metadata fields",
      "properties": {
        "credentials": {
          "$ref": "#/definitions/CustomKeys",
          "description": "Custom Keys credential object"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ConnectionPropertiesV2"
        }
      ],
      "x-ms-discriminator-value": "CustomKeys"
    },
    "CustomTopicConfig": {
      "type": "object",
      "description": "Gets or sets the source to which filter applies.",
      "properties": {
        "source": {
          "$ref": "#/definitions/RaiPolicyContentSource",
          "description": "Content source to apply the Content Filters."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RaiTopicConfig"
        }
      ]
    },
    "DefenderForAISetting": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DefenderForAISettingProperties",
          "description": "The resource-specific properties for this resource."
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DefenderForAISettingProperties": {
      "type": "object",
      "description": "The Defender for AI resource properties.",
      "properties": {
        "state": {
          "$ref": "#/definitions/DefenderForAISettingState",
          "description": "Defender for AI state on the AI resource."
        }
      }
    },
    "DefenderForAISettingResult": {
      "type": "object",
      "description": "The list of cognitive services Defender for AI Settings.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Defender for AI Settings."
        },
        "value": {
          "type": "array",
          "description": "The list of Defender for AI Settings.",
          "items": {
            "$ref": "#/definitions/DefenderForAISetting"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "DefenderForAISettingState": {
      "type": "string",
      "description": "Defender for AI state on the AI resource.",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "DefenderForAISettingState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled"
          }
        ]
      }
    },
    "Deployment": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties",
          "description": "The resource-specific properties for this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "etag": {
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeploymentCapacitySettings": {
      "type": "object",
      "description": "Internal use only.",
      "properties": {
        "designatedCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "The designated capacity.",
          "minimum": 0
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of this capacity setting.",
          "minimum": 0
        }
      }
    },
    "DeploymentListResult": {
      "type": "object",
      "description": "The list of cognitive services accounts operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of Deployment."
        },
        "value": {
          "type": "array",
          "description": "Gets the list of Cognitive Services accounts Deployment and their properties.",
          "items": {
            "$ref": "#/definitions/Deployment"
          },
          "readOnly": true
        }
      }
    },
    "DeploymentModel": {
      "type": "object",
      "description": "Properties of Cognitive Services account deployment model.",
      "properties": {
        "publisher": {
          "type": "string",
          "description": "Deployment model publisher."
        },
        "format": {
          "type": "string",
          "description": "Deployment model format."
        },
        "name": {
          "type": "string",
          "description": "Deployment model name."
        },
        "version": {
          "type": "string",
          "description": "Optional. Deployment model version. If version is not specified, a default version will be assigned. The default version is different for different models and might change when there is new version available for a model. Default version for a model could be found from list models API."
        },
        "source": {
          "type": "string",
          "description": "Optional. Deployment model source ARM resource ID."
        },
        "sourceAccount": {
          "type": "string",
          "format": "arm-id",
          "description": "Optional. Source of the model, another Microsoft.CognitiveServices accounts ARM resource ID.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.CognitiveServices/accounts"
              }
            ]
          }
        },
        "callRateLimit": {
          "$ref": "#/definitions/CallRateLimit",
          "description": "The call rate limit Cognitive Services account.",
          "readOnly": true
        }
      }
    },
    "DeploymentModelVersionUpgradeOption": {
      "type": "string",
      "description": "Deployment model version upgrade option.",
      "enum": [
        "OnceNewDefaultVersionAvailable",
        "OnceCurrentVersionExpired",
        "NoAutoUpgrade"
      ],
      "x-ms-enum": {
        "name": "DeploymentModelVersionUpgradeOption",
        "modelAsString": true,
        "values": [
          {
            "name": "OnceNewDefaultVersionAvailable",
            "value": "OnceNewDefaultVersionAvailable"
          },
          {
            "name": "OnceCurrentVersionExpired",
            "value": "OnceCurrentVersionExpired"
          },
          {
            "name": "NoAutoUpgrade",
            "value": "NoAutoUpgrade"
          }
        ]
      }
    },
    "DeploymentProperties": {
      "type": "object",
      "description": "Properties of Cognitive Services account deployment.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/DeploymentProvisioningState",
          "description": "Gets the status of the resource at the time the operation was called.",
          "readOnly": true
        },
        "model": {
          "$ref": "#/definitions/DeploymentModel",
          "description": "Properties of Cognitive Services account deployment model."
        },
        "scaleSettings": {
          "$ref": "#/definitions/DeploymentScaleSettings",
          "description": "Properties of Cognitive Services account deployment model. (Deprecated, please use Deployment.sku instead.)"
        },
        "capabilities": {
          "type": "object",
          "description": "The capabilities.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "raiPolicyName": {
          "type": "string",
          "description": "The name of RAI policy."
        },
        "callRateLimit": {
          "$ref": "#/definitions/CallRateLimit",
          "description": "The call rate limit Cognitive Services account.",
          "readOnly": true
        },
        "rateLimits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ThrottlingRule"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "key"
          ]
        },
        "versionUpgradeOption": {
          "$ref": "#/definitions/DeploymentModelVersionUpgradeOption",
          "description": "Deployment model version upgrade option."
        },
        "dynamicThrottlingEnabled": {
          "type": "boolean",
          "description": "If the dynamic throttling is enabled.",
          "readOnly": true
        },
        "currentCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "The current capacity."
        },
        "capacitySettings": {
          "$ref": "#/definitions/DeploymentCapacitySettings",
          "description": "Internal use only."
        },
        "parentDeploymentName": {
          "type": "string",
          "description": "The name of parent deployment."
        },
        "spilloverDeploymentName": {
          "type": "string",
          "description": "Specifies the deployment name that should serve requests when the request would have otherwise been throttled due to reaching current deployment throughput limit."
        },
        "serviceTier": {
          "$ref": "#/definitions/ServiceTier",
          "description": "The service tier for the deployment. Determines the pricing and performance level for request processing. Use 'Default' for standard pricing or 'Priority' for higher-priority processing with premium pricing. Note: Pause operations are only supported on Standard, DataZoneStandard, and GlobalStandard SKUs.",
          "x-nullable": true
[...]
