{
  "swagger": "2.0",
  "info": {
    "version": "2019-01-01-preview",
    "title": "CostManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_List",
        "description": "Lists all exports for a subscription.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExportList": {
            "$ref": "./examples/ExportList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/exports": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_ListByResourceGroupName",
        "description": "Lists all exports for a resource group under a subscription.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExportList": {
            "$ref": "./examples/ExportList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/exports": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_ListByBillingAccount",
        "description": "Lists all exports for a billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExportList": {
            "$ref": "./examples/ExportListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/exports": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_ListByDepartment",
        "description": "Lists all exports for a department.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExportList": {
            "$ref": "./examples/ExportListByDepartment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports/{exportName}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_Get",
        "description": "Gets the export for a subscription by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "Export": {
            "$ref": "./examples/Export.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_CreateOrUpdate",
        "description": "The operation to create or update a export. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CreateOrUpdateExport": {
            "$ref": "./examples/ExportCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Export"
            },
            "description": "Parameters supplied to the CreateOrUpdate Export operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_Delete",
        "description": "The operation to delete a export.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DeleteExport": {
            "$ref": "./examples/ExportDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/exports/{exportName}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetByResourceGroupName",
        "description": "Gets the export for a resource group under a subscription by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "Export": {
            "$ref": "./examples/Export.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_CreateOrUpdateByResourceGroupName",
        "description": "The operation to create or update a export. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CreateOrUpdateExport": {
            "$ref": "./examples/ExportCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Export"
            },
            "description": "Parameters supplied to the CreateOrUpdate Export operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_DeleteByResourceGroupName",
        "description": "The operation to delete a export.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DeleteExport": {
            "$ref": "./examples/ExportDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/exports/{exportName}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetByBillingAccount",
        "description": "Gets the export for a billing account by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "Export": {
            "$ref": "./examples/ExportByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_CreateOrUpdateByBillingAccount",
        "description": "The operation to create or update a export for billingAccount. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CreateOrUpdateExport": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Export"
            },
            "description": "Parameters supplied to the CreateOrUpdate Export operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_DeleteByBillingAccount",
        "description": "The operation to delete a export for billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DeleteExport": {
            "$ref": "./examples/ExportDeleteByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/exports/{exportName}": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetByDepartment",
        "description": "Gets the export for a department by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "Export": {
            "$ref": "./examples/ExportByDepartment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_CreateOrUpdateByDepartment",
        "description": "The operation to create or update a export for department. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "CreateOrUpdateExport": {
            "$ref": "./examples/ExportCreateOrUpdateByDepartment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Export"
            },
            "description": "Parameters supplied to the CreateOrUpdate Export operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_DeleteByDepartment",
        "description": "The operation to delete a export for department.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "DeleteExport": {
            "$ref": "./examples/ExportDeleteByDepartment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports/{exportName}/run": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_Execute",
        "description": "The operation to execute a export.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecuteExport": {
            "$ref": "./examples/ExportExecution.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/exports/{exportName}/run": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_ExecuteByResourceGroupName",
        "description": "The operation to execute a export.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecuteExport": {
            "$ref": "./examples/ExportExecution.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/exports/{exportName}/run": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_ExecuteByBillingAccount",
        "description": "The operation to execute a export by billing account.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecuteExport": {
            "$ref": "./examples/ExportExecutionByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/exports/{exportName}/run": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_ExecuteByDepartment",
        "description": "The operation to execute a export by department.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecuteExport": {
            "$ref": "./examples/ExportExecutionByDepartment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetExecutionHistory",
        "description": "Gets the execution history of a export for a subscription by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecutionHistoryExport": {
            "$ref": "./examples/ExportExecutionList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportExecutionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetExecutionHistoryByResourceGroupName",
        "description": "Gets the execution history of a export for a resource group by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecutionHistoryExport": {
            "$ref": "./examples/ExportExecutionList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportExecutionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetExecutionHistoryByBillingAccount",
        "description": "Gets the execution history of a export for a billing account by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecutionHistoryExport": {
            "$ref": "./examples/ExportExecutionListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportExecutionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/departments/{departmentId}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "Exports_GetExecutionHistoryByDepartment",
        "description": "Gets the execution history of a export for a department by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "x-ms-examples": {
          "ExecutionHistoryExport": {
            "$ref": "./examples/ExportExecutionListByDepartment.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/departmentIdParameter"
          },
          {
            "$ref": "#/parameters/exportNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExportExecutionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available cost management REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Operation": {
      "description": "A Cost Management REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.CostManagement.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: UsageDetail, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of listing CostManagement operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of CostManagement operations supported by the Microsoft.CostManagement resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorBase": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine readable error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "A human readable error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Indicates which property in the request is responsible for the error.",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "A machine readable error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "A human readable error message.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Indicates which property in the request is responsible for the error.",
          "type": "string"
        },
        "details": {
          "description": "error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorBase"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "ExportListResult": {
      "description": "Result of listing exports. It contains a list of available exports in the scope provided.",
      "properties": {
        "value": {
          "description": "The list of exports.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Export"
          }
        }
      }
    },
    "Export": {
      "description": "A export resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExportProperties",
          "title": "Export properties"
        }
      }
    },
    "ExportProperties": {
      "description": "The properties of the export.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CommonExportProperties"
        }
      ],
      "properties": {
        "schedule": {
          "description": "Has schedule information for the export.",
          "$ref": "#/definitions/ExportSchedule"
        }
      }
    },
    "CommonExportProperties": {
      "description": "The common properties of the export.",
      "properties": {
        "format": {
          "description": "The format of the export being delivered.",
          "type": "string",
          "enum": [
            "Csv"
          ],
          "x-ms-enum": {
            "name": "FormatType",
            "modelAsString": true
          }
        },
        "deliveryInfo": {
          "description": "Has delivery information for the export.",
          "$ref": "#/definitions/ExportDeliveryInfo"
        },
        "definition": {
          "description": "Has definition for the export.",
          "$ref": "#/definitions/ExportDefinition"
        }
      },
      "required": [
        "deliveryInfo",
        "definition"
      ]
    },
    "ExportSchedule": {
      "description": "The schedule associated with a export.",
      "properties": {
        "status": {
          "description": "The status of the schedule. Whether active or not. If inactive, the export's scheduled execution is paused.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          }
        },
        "recurrence": {
          "description": "The schedule recurrence.",
          "type": "string",
          "enum": [
            "Daily",
            "Weekly",
            "Monthly",
            "Annually"
          ],
          "x-ms-enum": {
            "name": "RecurrenceType",
            "modelAsString": true
          }
        },
        "recurrencePeriod": {
          "description": "Has start and end date of the recurrence. The start date must be in future. If present, the end date must be greater than start date.",
          "$ref": "#/definitions/ExportRecurrencePeriod"
        }
      },
      "required": [
        "recurrence"
      ]
    },
    "ExportDeliveryInfo": {
      "description": "The delivery information associated with a export.",
      "properties": {
        "destination": {
          "description": "Has destination for the export being delivered.",
          "$ref": "#/definitions/ExportDeliveryDestination"
        }
      },
      "required": [
        "destination"
      ]
    },
    "ExportDefinition": {
      "description": "The definition of a export.",
      "properties": {
        "type": {
          "description": "The type of the export.",
          "type": "string",
          "enum": [
            "Usage"
          ],
          "x-ms-enum": {
            "name": "ExportType",
            "modelAsString": true
          }
        },
        "timeframe": {
          "description": "The time frame for pulling data for the export. If custom, then a specific time period must be provided.",
          "type": "string",
          "enum": [
            "WeekToDate",
            "MonthToDate",
            "Custom"
          ],
          "x-ms-enum": {
            "name": "TimeframeType",
            "modelAsString": true
          }
        },
        "timePeriod": {
          "description": "Has time period for pulling data for the export.",
          "$ref": "#/definitions/ExportTimePeriod"
        },
        "dataset": {
          "description": "Has definition for data in this export.",
          "$ref": "#/definitions/ExportDataset"
        }
      },
      "required": [
        "type",
        "timeframe"
      ]
    },
    "ExportRecurrencePeriod": {
      "description": "The start and end date for recurrence schedule.",
      "properties": {
        "from": {
          "description": "The start date of recurrence.",
          "type": "string",
          "format": "date-time"
        },
        "to": {
          "description": "The end date of recurrence.",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "from"
      ]
    },
    "ExportDeliveryDestination": {
      "description": "The destination information for the delivery of the export.",
      "properties": {
        "resourceId": {
          "description": "The resource id of the storage account where exports will be delivered.",
          "type": "string"
        },
        "container": {
          "description": "The name of the container where exports will be uploaded.",
          "type": "string"
        },
        "rootFolderPath": {
          "description": "The name of the directory where exports will be uploaded.",
          "type": "string"
        }
      },
      "required": [
        "resourceId",
        "container"
      ]
    },
    "ExportTimePeriod": {
      "description": "The start and end date for pulling data for the export.",
      "properties": {
        "from": {
          "description": "The start date to pull data from.",
          "type": "string",
          "format": "date-time"
        },
        "to": {
          "description": "The end date to pull data to.",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "from",
        "to"
      ]
    },
    "ExportDataset": {
      "description": "The definition of data present in the export.",
      "properties": {
        "granularity": {
          "description": "The granularity of rows in the export.",
          "type": "string",
          "enum": [
            "Daily",
            "Hourly"
          ],
          "x-ms-enum": {
            "name": "GranularityType",
            "modelAsString": true
          }
        },
        "configuration": {
          "description": "Has configuration information for the data in the export. The configuration will be ignored if aggregation and grouping are provided.",
          "$ref": "#/definitions/ExportDatasetConfiguration"
        },
        "aggregation": {
          "type": "object",
          "description": "Dictionary of aggregation expression to use in the export. The key of each item in the dictionary is the alias for the aggregated column. Export can have up to 2 aggregation clauses.",
          "additionalProperties": {
            "type": "object",
            "$ref": "#/definitions/ExportAggregation"
          },
          "maxItems": 2
        },
        "grouping": {
          "description": "Array of group by expression to use in the export. Export can have up to 2 group by clauses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExportGrouping"
          },
          "maxItems": 2
        },
        "filter": {
          "type": "object",
          "description": "Has filter expression to use in the export.",
          "$ref": "#/definitions/ExportFilter"
        }
      }
    },
    "ExportDatasetConfiguration": {
      "description": "The configuration of dataset in the export.",
      "properties": {
        "columns": {
          "description": "Array of column names to be included in the export. Any valid export column name is allowed. If not provided, then export includes all columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportAggregation": {
      "description": "The aggregation expression to be used in the export.",
      "properties": {
        "name": {
          "description": "The name of the column to aggregate.",
          "type": "string"
        },
        "function": {
          "description": "The name of the aggregation function to use.",
          "type": "string",
          "enum": [
            "Sum"
          ],
          "x-ms-enum": {
            "name": "FunctionType",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "function"
      ]
    },
    "ExportGrouping": {
      "description": "The group by expression to be used in the export.",
      "properties": {
        "type": {
          "description": "Has type of the column to group.",
          "$ref": "#/definitions/ExportColumnType"
        },
        "name": {
          "description": "The name of the column to group.",
          "type": "string"
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExportFilter": {
      "description": "The filter expression to be used in the export.",
      "properties": {
        "and": {
          "description": "The logical \"AND\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExportFilter"
          },
          "minItems": 2
        },
        "or": {
          "description": "The logical \"OR\" expression. Must have at least 2 items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExportFilter"
          },
          "minItems": 2
        },
        "not": {
          "description": "The logical \"NOT\" expression.",
          "$ref": "#/definitions/ExportFilter"
        },
        "dimension": {
          "description": "Has comparison expression for a dimension",
          "$ref": "#/definitions/ExportComparisonExpression"
        },
        "tag": {
          "description": "Has comparison expression for a tag",
          "$ref": "#/definitions/ExportComparisonExpression"
        }
      }
    },
    "ExportColumnType": {
      "description": "The type of the column in the export.",
      "type": "string",
      "enum": [
        "Tag",
        "Dimension"
      ],
      "x-ms-enum": {
        "name": "ExportColumnType",
        "modelAsString": true
      }
    },
    "ExportComparisonExpression": {
      "description": "The comparison expression to be used in the export.",
      "properties": {
        "name": {
          "description": "The name of the column to use in comparison.",
          "type": "string"
        },
        "operator": {
          "description": "The operator to use for comparison.",
          "type": "string",
          "enum": [
            "In"
          ],
          "x-ms-enum": {
            "name": "OperatorType",
            "modelAsString": true
          }
        },
        "values": {
          "description": "Array of values to use for comparison",
          "type": "array",
          "items": {
            "type": "string"
          },
          "minItems": 1
        }
      },
      "required": [
        "name",
        "operator",
        "values"
      ]
    },
    "ExportExecutionListResult": {
      "description": "Result of listing exports execution history of a export by name",
      "properties": {
        "value": {
          "description": "The list of export executions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExportExecution"
          }
        }
      }
    },
    "ExportExecution": {
      "description": "A export execution.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ExportExecutionProperties",
          "title": "Export execution properties"
        }
      }
    },
    "ExportExecutionProperties": {
      "description": "The properties of the export execution.",
      "properties": {
        "executionType": {
          "description": "The type of the export execution.",
          "type": "string",
          "enum": [
            "OnDemand",
            "Scheduled"
          ],
          "x-ms-enum": {
            "name": "ExecutionType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The status of the export execution.",
          "type": "string",
          "enum": [
            "Queued",
            "InProgress",
            "Completed",
            "Failed",
            "Timeout",
            "NewDataNotAvailable",
            "DataNotAvailable"
          ],
          "x-ms-enum": {
            "name": "ExecutionStatus",
            "modelAsString": true
          }
        },
        "submittedBy": {
          "description": "The identifier for the entity that executed the export. For OnDemand executions, it is the email id. For Scheduled executions, it is the constant value - System.",
          "type": "string"
        },
        "submittedTime": {
          "description": "The time when export was queued to be executed.",
          "type": "string",
          "format": "date-time"
        },
        "processingStartTime": {
          "description": "The time when export was picked up to be executed.",
          "type": "string",
          "format": "date-time"
        },
        "processingEndTime": {
          "description": "The time when export execution finished.",
          "type": "string",
          "format": "date-time"
        },
        "fileName": {
          "description": "The name of the file export got written to.",
          "type": "string"
        },
        "runSettings": {
          "$ref": "#/definitions/CommonExportProperties"
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2019-01-01-preview."
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Azure Resource Group Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "BillingAccount ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "departmentIdParameter": {
      "name": "departmentId",
      "in": "path",
      "description": "Department ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "exportNameParameter": {
      "name": "exportName",
      "in": "path",
      "description": "Export Name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}