{
  "swagger": "2.0",
  "info": {
    "title": "HybridContainerService",
    "description": "The Microsoft.HybridContainerService Rest API spec.",
    "version": "2023-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}": {
      "get": {
        "operationId": "ProvisionedClusters_Get",
        "x-ms-examples": {
          "GetProvisionedCluster": {
            "$ref": "./examples/GetProvisionedCluster.json"
          }
        },
        "summary": "Gets the provisioned cluster",
        "description": "Gets the Hybrid AKS provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ProvisionedClusters_CreateOrUpdate",
        "x-ms-examples": {
          "PutProvisionedCluster": {
            "$ref": "./examples/PutProvisionedCluster.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates the provisioned cluster",
        "description": "Creates the Hybrid AKS provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "provisionedClusters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          },
          "201": {
            "description": "Creates the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ProvisionedClusters_Delete",
        "x-ms-examples": {
          "DeleteProvisionedCluster": {
            "$ref": "./examples/DeleteProvisionedCluster.json"
          }
        },
        "summary": "Deletes the provisioned cluster",
        "description": "Deletes the Hybrid AKS provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "ProvisionedClusters_Update",
        "x-ms-examples": {
          "UpdateProvisionedCluster": {
            "$ref": "./examples/UpdateProvisionedCluster.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Updates the provisioned cluster",
        "description": "Updates the Hybrid AKS provisioned cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "provisionedClusters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/provisionedClustersPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Updated the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          },
          "202": {
            "description": "Updates the provisionedClusters resource.",
            "headers": {
              "Location": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters": {
      "get": {
        "operationId": "ProvisionedClusters_ListByResourceGroup",
        "x-ms-examples": {
          "ListProvisionedClusterByResourceGroup": {
            "$ref": "./examples/ListProvisionedClusterByResourceGroup.json"
          }
        },
        "summary": "Gets the provisioned clusters in a resource group",
        "description": "Gets the Hybrid AKS provisioned cluster in a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all provisionedClusters under the resource group.",
            "schema": {
              "$ref": "#/definitions/provisionedClustersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridContainerService/provisionedClusters": {
      "get": {
        "operationId": "ProvisionedClusters_ListBySubscription",
        "x-ms-examples": {
          "ListProvisionedClusterBySubscription": {
            "$ref": "./examples/ListProvisionedClusterBySubscription.json"
          }
        },
        "summary": "Gets the provisioned clusters in a subscription",
        "description": "Gets the Hybrid AKS provisioned cluster in a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all provisionedClusters under the subscription.",
            "schema": {
              "$ref": "#/definitions/provisionedClustersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/upgradeProfiles/default": {
      "get": {
        "tags": [
          "ProvisionedClusters"
        ],
        "operationId": "ProvisionedClusters_GetUpgradeProfile",
        "summary": "Gets the upgrade profile of a provisioned cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProvisionedClusterUpgradeProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetUpgradeProfileForProvisionedCluster": {
            "$ref": "./examples/ProvisionedClustersGetUpgradeProfile.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/hybridIdentityMetadata/{hybridIdentityMetadataResourceName}": {
      "put": {
        "operationId": "HybridIdentityMetadata_Put",
        "x-ms-examples": {
          "CreateHybridIdentityMetadata": {
            "$ref": "./examples/CreateHybridIdentityMetadata.json"
          }
        },
        "summary": "Creates the hybrid identity metadata resource",
        "description": "Creates the hybrid identity metadata proxy resource that facilitates the managed identity provisioning.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/hybridIdentityMetadataResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/hybridIdentityMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the hybridIdentityMetadata resource.",
            "schema": {
              "$ref": "#/definitions/hybridIdentityMetadata"
            }
          },
          "201": {
            "description": "Created the hybridIdentityMetadata resource.",
            "schema": {
              "$ref": "#/definitions/hybridIdentityMetadata"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "operationId": "HybridIdentityMetadata_Get",
        "x-ms-examples": {
          "GetHybridIdentityMetadata": {
            "$ref": "./examples/GetHybridIdentityMetadata.json"
          }
        },
        "summary": "Get the hybrid identity metadata resource",
        "description": "Get the hybrid identity metadata proxy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/hybridIdentityMetadataResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the hybridIdentityMetadata resource for the given AKS Edge cluster.",
            "schema": {
              "$ref": "#/definitions/hybridIdentityMetadata"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "HybridIdentityMetadata_Delete",
        "x-ms-examples": {
          "DeleteHybridIdentityMetadata": {
            "$ref": "./examples/DeleteHybridIdentityMetadata.json"
          }
        },
        "summary": "Deletes the hybrid identity metadata resource",
        "description": "Deletes the hybrid identity metadata proxy resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/hybridIdentityMetadataResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/hybridIdentityMetadata": {
      "get": {
        "operationId": "HybridIdentityMetadata_ListByCluster",
        "summary": "Lists the hybrid identity metadata resources in a cluster",
        "description": "Lists the hybrid identity metadata proxy resource in a cluster.",
        "x-ms-examples": {
          "HybridIdentityMetadataListByCluster": {
            "$ref": "./examples/HybridIdentityMetadataListByCluster.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/hybridIdentityMetadataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/agentPools/{agentPoolName}": {
      "get": {
        "operationId": "agentPool_Get",
        "summary": "Gets the agent pool in the provisioned cluster",
        "description": "Gets the agent pool in the Hybrid AKS provisioned cluster",
        "x-ms-examples": {
          "GetAgentPool": {
            "$ref": "./examples/GetAgentPool.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/agentPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the agentPool resource.",
            "schema": {
              "$ref": "#/definitions/agentPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "agentPool_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "summary": "Creates the agent pool in the provisioned cluster",
        "description": "Creates the agent pool in the Hybrid AKS provisioned cluster",
        "x-ms-examples": {
          "PutAgentPool": {
            "$ref": "./examples/PutAgentPool.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/agentPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "agentPool",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agentPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the agent pool in the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/agentPool"
            }
          },
          "201": {
            "description": "Creates the agent pool in the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/agentPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "agentPool_Delete",
        "summary": "Deletes the agent pool in the provisioned cluster",
        "description": "Deletes the agent pool in the Hybrid AKS provisioned cluster",
        "x-ms-examples": {
          "DeleteAgentPool": {
            "$ref": "./examples/DeleteAgentPool.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/agentPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "agentPool_Update",
        "summary": "Updates the agent pool in the provisioned cluster",
        "description": "Updates the agent pool in the Hybrid AKS provisioned cluster",
        "x-ms-examples": {
          "UpdateAgentPool": {
            "$ref": "./examples/UpdateAgentPool.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/agentPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "agentPool",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/agentPoolPatch"
            }
          }
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "Updates the agent pool in the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/agentPool"
            }
          },
          "202": {
            "description": "Updates the agent pool in the provisionedClusters resource.",
            "schema": {
              "$ref": "#/definitions/agentPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/agentPools": {
      "get": {
        "operationId": "agentPool_ListByProvisionedCluster",
        "summary": "Gets the agent pools in the provisioned cluster",
        "description": "Gets the agent pools in the Hybrid AKS provisioned cluster",
        "x-ms-examples": {
          "ListAgentPoolByProvisionedCluster": {
            "$ref": "./examples/ListAgentPoolByProvisionedCluster.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all the agentPools in the provisionedCluster resource.",
            "schema": {
              "$ref": "#/definitions/agentPoolListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/upgradeNodeImageVersionForEntireCluster": {
      "post": {
        "tags": [
          "ProvisionedClusters"
        ],
        "operationId": "ProvisionedClusters_UpgradeNodeImageVersionForEntireCluster",
        "summary": "Upgrades the node image version of the cluster control plane and all agent pools to the latest.",
        "description": "Upgrading the node image version of a cluster applies the newest OS and runtime updates to the nodes.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/provisionedClusters"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "UpgradeClusterNodeImageVersion": {
            "$ref": "./examples/ProvisionedClustersUpgradeNodeImageVersionForEntireCluster.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/listClusterUserCredential": {
      "post": {
        "tags": [
          "ProvisionedClusters"
        ],
        "operationId": "ProvisionedClusters_ListClusterUserCredentials",
        "summary": "Listing the AAD user credentials of a provisioned cluster used only in direct mode.",
        "description": "Lists the AAD user credentials of a provisioned cluster used only in direct mode.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/CredentialResults"
        },
        "x-ms-examples": {
          "ListClusterUserCredentials": {
            "$ref": "./examples/ProvisionedClustersListClusterUserCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridContainerService/provisionedClusters/{resourceName}/listClusterAdminCredential": {
      "post": {
        "tags": [
          "ProvisionedClusters"
        ],
        "operationId": "ProvisionedClusters_ListClusterAdminCredentials",
        "summary": "Listing the admin credentials of a provisioned cluster used only in direct mode.",
        "description": "Lists the admin credentials of a provisioned cluster used only in direct mode.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CredentialResults"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/CredentialResults"
        },
        "x-ms-examples": {
          "ListClusterAdminCredentials": {
            "$ref": "./examples/ProvisionedClustersListClusterAdminCredentials.json"
          }
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions/default": {
      "get": {
        "operationId": "GetKubernetesVersions",
        "x-ms-examples": {
          "GetKubernetesVersions": {
            "$ref": "./examples/GetKubernetesVersions.json"
          }
        },
        "summary": "Gets the supported kubernetes versions",
        "description": "Gets the supported kubernetes versions from the underlying custom location",
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the supported kubernetes versions from the underlying custom location",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PutKubernetesVersions",
        "x-ms-examples": {
          "PutKubernetesVersions": {
            "$ref": "./examples/PutKubernetesVersions.json"
          }
        },
        "summary": "Puts the kubernetes version",
        "description": "Puts the kubernetes version resource type",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "kubernetesVersions",
            "in": "body",
            "required": true,
            "description": "Kubernetes Versions resource definition",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the kubernetes version resource",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          },
          "201": {
            "description": "Creates the kubernetes version resource",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteKubernetesVersions",
        "x-ms-examples": {
          "DeleteKubernetesVersions": {
            "$ref": "./examples/DeleteKubernetesVersions.json"
          }
        },
        "summary": "Delete the kubernetes versions",
        "description": "Delete the kubernetes versions resource type",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/kubernetesVersions": {
      "get": {
        "operationId": "KubernetesVersions_List",
        "x-ms-examples": {
          "ListKubernetesVersions": {
            "$ref": "./examples/ListKubernetesVersions.json"
          }
        },
        "summary": "Lists the supported kubernetes versions",
        "description": "Lists the supported kubernetes versions from the underlying custom location",
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists the supported kubernetes versions from the underlying custom location",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionProfileList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus/default": {
      "get": {
        "operationId": "GetVMSkus",
        "x-ms-examples": {
          "GetVMSkus": {
            "$ref": "./examples/GetVmSkus.json"
          }
        },
        "summary": "Gets the supported VM skus",
        "description": "Gets the supported VM skus from the underlying custom location",
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the supported Vm Skus from the underlying appliance",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "PutVMSkus",
        "x-ms-examples": {
          "PutVMSkus": {
            "$ref": "./examples/PutVmSkus.json"
          }
        },
        "summary": "Puts the VM SKUs",
        "description": "Puts the VM SKUs resource type",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "skus",
            "in": "body",
            "required": true,
            "description": "VM SKUs resource definition",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Vm Skus resource",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          },
          "201": {
            "description": "Creates the Vm Skus resource",
            "schema": {
              "$ref": "#/definitions/VmSkuProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteVMSkus",
        "x-ms-examples": {
          "DeleteVMSkus": {
            "$ref": "./examples/DeleteVmSkus.json"
          }
        },
        "summary": "Deletes the Vm Skus",
        "description": "Deletes the Vm Sku resource type",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{customLocationResourceUri}/providers/Microsoft.HybridContainerService/skus": {
      "get": {
        "operationId": "VMSkus_List",
        "x-ms-examples": {
          "ListVmSkus": {
            "$ref": "./examples/ListVmSkus.json"
          }
        },
        "summary": "Lists the supported VM SKUs",
        "description": "Lists the supported VM SKUs from the underlying custom location",
        "parameters": [
          {
            "$ref": "#/parameters/customLocationResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the supported Vm Skus from the underlying appliance",
            "schema": {
              "$ref": "#/definitions/VmSkuProfileList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HybridContainerService/operations": {
      "get": {
        "operationId": "Operations_List",
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CredentialResults": {
      "type": "object",
      "properties": {
        "kubeconfigs": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/CredentialResult"
          },
          "x-ms-identifiers": [],
          "description": "Base64-encoded Kubernetes configuration file."
        }
      },
      "description": "The list credential result response."
    },
    "CredentialResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the credential."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "readOnly": true,
          "description": "Base64-encoded Kubernetes configuration file."
        }
      },
      "description": "The credential result response."
    },
    "provisionedClustersProperties": {
      "type": "object",
      "properties": {
        "aadProfile": {
          "description": "AAD profile for the provisioned cluster.",
          "$ref": "#/definitions/AADProfile"
        },
        "enableRbac": {
          "type": "boolean",
          "description": "EnableRBAC - Whether to enable Kubernetes Role-Based Access Control."
        },
        "linuxProfile": {
          "description": "LinuxProfile - The profile for Linux VMs in the Provisioned Cluster.",
          "$ref": "#/definitions/LinuxProfileProperties"
        },
        "features": {
          "type": "object",
          "description": "Additional features specs like Arc Agent Onboarding.",
          "properties": {
            "arcAgentProfile": {
              "description": "Arc agentry configuration for the provisioned cluster.",
              "$ref": "#/definitions/ArcAgentProfile"
            }
          }
        },
        "controlPlane": {
          "$ref": "#/definitions/ControlPlaneProfile",
          "description": "ControlPlane - ControlPlane Configuration"
        },
        "kubernetesVersion": {
          "type": "string",
          "description": "KubernetesVersion - Version of Kubernetes specified when creating the managed cluster."
        },
        "networkProfile": {
          "description": "NetworkProfile - Profile of network configuration.",
          "$ref": "#/definitions/NetworkProfile"
        },
        "agentPoolProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamedAgentPoolProfile"
          },
          "x-ms-identifiers": [],
          "description": "The agent pools of the cluster."
        },
        "cloudProviderProfile": {
          "description": "The underlying cloud infra provider properties.",
          "$ref": "#/definitions/CloudProviderProfile"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "status": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "featuresStatus": {
              "type": "object",
              "description": "Additional features status like Arc Agent Onboarding.",
              "properties": {
                "arcAgentStatus": {
                  "description": "Defines the observed Arc Agent status that is resourceSynced back to the ARM resource.",
                  "$ref": "#/definitions/ArcAgentStatus"
                }
              }
            },
            "addonStatus": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/AddonStatus"
              },
              "description": "AddonStatus - Status of Addons"
            },
            "errorMessage": {
              "type": "string",
              "description": "ErrorMessage - Error messages during creation of cluster"
            },
            "provisioningStatus": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "operationId": {
                  "type": "string"
                },
                "phase": {
                  "type": "string",
                  "description": "Phase represents the current phase of cluster actuation. E.g. Pending, Running, Terminating, Failed etc."
                },
                "status": {
                  "type": "string"
                }
              },
              "description": "Contains Provisioning errors"
            }
          },
          "description": "HybridAKSClusterStatus defines the observed state of HybridAKSCluster"
        },
        "securityProfile": {
          "$ref": "#/definitions/ProvisionedClusterSecurityProfile",
          "description": "The security profile for the provisioned cluster."
        },
        "oidcIssuerProfile": {
          "$ref": "#/definitions/ProvisionedClusterOIDCIssuerProfile",
          "description": "The OIDC issuer profile of the provisioned cluster."
        },
        "licenseProfile": {
          "$ref": "#/definitions/ProvisionedClusterLicenseProfile",
          "description": "The license profile of the provisioned cluster."
        }
      },
      "description": "All properties of the provisioned cluster"
    },
    "provisionedClusters": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "identity": {
          "$ref": "#/definitions/provisionedClusterIdentity"
        },
        "properties": {
          "$ref": "#/definitions/provisionedClustersProperties"
        },
        "systemData": {
          "readOnly": true,
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "The provisionedClusters resource definition."
    },
    "provisionedClustersPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "identity": {
          "$ref": "#/definitions/provisionedClusterIdentity",
          "description": "The identity of the provisioned cluster."
        }
      },
      "description": "The provisionedClusters resource patch definition."
    },
    "provisionedClustersListResult": {
      "type": "object",
      "description": "A list of provisioned clusters resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/provisionedClusters"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "x-ms-identifiers": []
    },
    "AddonStatus": {
      "properties": {
        "errorMessage": {
          "description": "ErrorMessage will be set in the event that there is a terminal problem reconciling the AddOn and will contain a more verbose string suitable for logging and human consumption.",
          "type": "string"
        },
        "phase": {
          "description": "Phase represents the current phase of cluster actuation. E.g. Pending, Running, Terminating, Failed etc.",
          "type": "string"
        },
        "ready": {
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Status of the addon"
    },
    "AgentPoolProfile": {
      "type": "object",
      "description": "AgentPool configuration",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count - Number of agents to host docker containers. Allowed values must be in the range of 1 to 100 (inclusive). The default value is 1.",
          "default": 1
        },
        "availabilityZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AvailabilityZones - The list of Availability zones to use for nodes. Datacenter racks modelled as zones"
        },
        "osType": {
          "$ref": "#/definitions/OSType"
        },
        "osSKU": {
          "$ref": "#/definitions/OSSKU"
        },
        "nodeImageVersion": {
          "type": "string",
          "description": "The version of node image"
        },
        "vmSize": {
          "type": "string",
          "description": "VmSize - The size of the agent pool VMs."
        }
      }
    },
    "AgentPoolName": {
      "type": "object",
      "description": "AgentPool Name",
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the agent pool profile in the context of the subscription and resource group."
        }
      }
    },
    "NamedAgentPoolProfile": {
      "description": "Agent pool profile along with a name parameter",
      "allOf": [
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AgentPoolProfile"
        },
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AgentPoolName"
        }
      ]
    },
    "agentPoolProperties": {
      "allOf": [
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AgentPoolProfile"
        },
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/agentPoolProvisioningStatus"
        }
      ]
    },
    "agentPoolProvisioningStatus": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "status": {
          "type": "object",
          "properties": {
            "errorMessage": {
              "type": "string",
              "description": "ErrorMessage - Error messages during creation of cluster"
            },
            "provisioningStatus": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "operationId": {
                  "type": "string"
                },
                "phase": {
                  "type": "string",
                  "description": "Phase represents the current phase of cluster actuation. E.g. Pending, Running, Terminating, Failed etc."
                },
                "status": {
                  "type": "string"
                }
              },
              "description": "Contains Provisioning errors"
            },
            "readyReplicas": {
              "type": "integer",
              "format": "int32",
              "description": "Total number of ready machines targeted by this deployment."
            },
            "replicas": {
              "type": "integer",
              "format": "int32",
              "description": "Total number of non-terminated machines targeted by this deployment"
            }
          },
          "description": "Defines the observed state of the agent pool"
        }
      },
      "description": "The agentPool resource provisioning status definition"
    },
    "agentPool": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/agentPoolProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        }
      },
      "description": "The agentPool resource definition"
    },
    "agentPoolPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The agentPool resource patch definition"
    },
    "agentPoolListResult": {
      "type": "object",
      "description": "A list of agent pool resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/agentPool"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "AADProfile": {
      "type": "object",
      "description": "AAD Profile specifies attributes for Azure Active Directory integration.",
      "properties": {
        "adminGroupObjectIDs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of AAD group object IDs that will have admin role of the cluster."
        },
        "enableAzureRbac": {
          "type": "boolean",
          "description": "Whether to enable Azure RBAC for Kubernetes authorization."
        },
        "managed": {
          "type": "boolean",
          "description": "Whether to enable managed AAD."
        },
        "tenantID": {
          "type": "string",
          "description": "The AAD tenant ID to use for authentication. If not specified, will use the tenant of the deployment subscription."
        }
      }
    },
    "ProvisionedClusterSecurityProfile": {
      "type": "object",
      "properties": {
        "workloadIdentity": {
          "$ref": "#/definitions/ProvisionedClusterSecurityProfileWorkloadIdentity",
          "description": "Workload identity settings for the security profile. Workload identity enables Kubernetes applications to access Azure cloud resources securely with Azure AD."
        }
      },
      "description": "The security profile for the provisioned cluster."
    },
    "ProvisionedClusterSecurityProfileWorkloadIdentity": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the workload identity is enabled.",
          "default": false
        }
      },
      "description": "The workload identity profile of the provisioned cluster."
    },
    "ProvisionedClusterOIDCIssuerProfile": {
      "type": "object",
      "properties": {
        "issuerURL": {
          "readOnly": true,
          "type": "string",
          "description": "The OIDC issuer url of the provisioned cluster."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the OIDC issuer is enabled.",
          "default": false
        }
      },
      "description": "The OIDC issuer profile of the provisioned cluster."
    },
    "ProvisionedClusterLicenseProfile": {
      "type": "object",
      "properties": {
        "azureHybridBenefit": {
          "type": "string",
          "description": "Indicates whether Azure Hybrid Benefit is opted in",
          "enum": [
            "True",
            "False",
            "NotApplicable"
          ],
          "default": "NotApplicable",
          "x-ms-enum": {
            "name": "AzureHybridBenefit",
            "modelAsString": true
          }
        }
      },
      "description": "The license profile of the provisioned cluster."
    },
    "LinuxProfile": {
      "type": "object",
      "description": "LinuxProfile - Profile for Linux VMs in the container service cluster.",
      "properties": {
        "linuxProfile": {
          "description": "Profile for Linux VMs in the container service cluster.",
          "$ref": "#/definitions/LinuxProfileProperties"
        }
      }
    },
    "LinuxProfileProperties": {
      "type": "object",
      "properties": {
        "ssh": {
          "type": "object",
          "properties": {
            "publicKeys": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "keyData": {
                    "type": "string",
                    "description": "KeyData - Certificate public key used to authenticate with VMs through SSH. The certificate must be in PEM format with or without headers."
                  }
                }
              },
              "x-ms-identifiers": [],
              "description": "PublicKeys - The list of SSH public keys used to authenticate with Linux-based VMs. Only expect one key specified."
            }
          },
          "description": "SSH - SSH configuration for Linux-based VMs running on Azure."
        }
      },
      "description": "LinuxProfile - Profile for Linux VMs in the container service cluster."
    },
    "NetworkProfile": {
      "type": "object",
      "properties": {
        "networkPolicy": {
          "type": "string",
          "description": "NetworkPolicy - Network policy used for building Kubernetes network. Possible values include: 'calico', 'flannel'. Default is 'calico'",
          "enum": [
            "calico",
            "flannel"
          ],
          "default": "calico",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "networkPolicy"
          }
        },
        "podCidr": {
          "type": "string",
          "description": "PodCidr - A CIDR notation IP range from which to assign pod IPs when kubenet is used."
        }
      },
      "description": "NetworkProfile - Profile of network configuration."
    },
    "ControlPlaneEndpointProfile": {
      "type": "object",
      "description": "controlPlaneEndpoint - API server endpoint for the control plane",
      "properties": {
        "controlPlaneEndpoint": {
          "type": "object",
          "description": "API server endpoint for the control plane",
          "properties": {
            "hostIP": {
              "type": "string",
              "description": "Host IP address for API server"
            },
            "port": {
              "type": "integer",
              "format": "int32",
              "description": "Port for the API server"
            }
          }
        }
      }
    },
    "ControlPlaneProfile": {
      "type": "object",
      "description": "ControlPlaneProfile - The control plane properties for the provisioned cluster.",
      "allOf": [
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NamedAgentPoolProfile"
        },
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ControlPlaneEndpointProfile"
        },
        {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LinuxProfile"
        }
      ]
    },
    "CloudProviderProfile": {
      "type": "object",
      "description": "CloudProviderProfile - The underlying cloud infra provider properties.",
      "properties": {
        "infraNetworkProfile": {
          "type": "object",
          "description": "InfraNetworkProfile - List of infra network profiles for the provisioned cluster",
          "properties": {
            "vnetSubnetIds": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "arm-id",
                "x-ms-arm-id-details": {
                  "allowedResources": [
                    {
                      "type": "Microsoft.AzureStackHCI/logicalNetworks"
                    }
                  ]
                }
              },
              "description": "Array of references to azure resource corresponding to the Network object e.g. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/logicalNetworks/{logicalNetworkName}"
            }
          }
        }
      }
    },
    "ArcAgentProfile": {
      "description": "Defines the Arc Agent properties for the Provisioned clusters.",
      "type": "object",
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "Version of the Arc agents to be installed on the provisioned Provisioned cluster resource"
        },
        "agentAutoUpgrade": {
          "type": "string",
          "description": "Indicates whether the Arc agents on the provisioned clusters be upgraded automatically to the latest version. Defaults to Enabled.",
          "default": "Enabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "AutoUpgradeOptions",
            "modelAsString": true
          }
        }
      }
    },
    "ArcAgentStatus": {
      "description": "Defines the observed Arc Agent status that is resourceSynced back to the ARM resource.",
      "type": "object",
      "properties": {
        "deploymentState": {
          "type": "string",
          "description": "Observed deployment state of the Arc Agents on the target cluster. Possible values include: 'pending', 'provisioning', 'provisioning {HelmChartInstalled}', 'provisioning {MSICertificateDownloaded}', 'provisioned', 'deleting', 'failed', 'upgrading'",
          "enum": [
            "pending",
            "provisioning",
            "provisioning {HelmChartInstalled}",
            "provisioning {MSICertificateDownloaded}",
            "provisioned",
            "deleting",
            "failed",
            "upgrading"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "deploymentState"
          }
        },
        "errorMessage": {
          "type": "string",
          "description": "Error messages while onboarding/upgrading/uninstalling the Arc agents"
        },
        "onboardingPublicKey": {
          "type": "string",
          "description": "Onboarding public key for provisioning the Managed identity for the HybridAKS cluster. Will be used to create the hybridIdentityMetadata proxy resource and will not be persisted."
        },
        "agentVersion": {
          "type": "string",
          "description": "Version of the Arc agents currently running on the Provisioned cluster resource."
        },
        "coreCount": {
          "type": "integer",
          "format": "int64",
          "description": "Number of CPU cores present in the Provisioned cluster resource"
        },
        "managedIdentityCertificateExpirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "ManagedIdentity certificate expiration time (ValidUntil)."
        },
        "lastConnectivityTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last connected timestamp of the Provisioned cluster resource."
        }
      }
    },
    "provisionedClusterIdentity": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of provisioned cluster identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the provisioned cluster. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the provisioned cluster. The type SystemAssigned, includes a system created identity. The type None means no identity is assigned to the provisioned cluster.",
          "enum": [
            "None",
            "SystemAssigned"
          ],
          "default": "SystemAssigned",
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      },
      "description": "Identity for the Provisioned cluster."
    },
    "hybridIdentityMetadata": {
      "description": "Defines the hybridIdentityMetadata.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags."
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/hybridIdentityMetadataProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "x-ms-azure-resource": true
    },
    "hybridIdentityMetadataProperties": {
      "description": "Defines the resource properties.",
      "type": "object",
      "properties": {
        "resourceUid": {
          "description": "Unique id of the parent provisioned cluster resource.",
          "type": "string"
        },
        "publicKey": {
          "description": "Onboarding public key for provisioning the Managed identity for the HybridAKS cluster.",
          "type": "string"
        },
        "identity": {
          "$ref": "#/definitions/provisionedClusterIdentity",
          "description": "The identity of the provisioned cluster."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "hybridIdentityMetadataList": {
      "description": "List of hybridIdentityMetadata.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of hybridIdentityMetadata.",
          "type": "string"
        },
        "value": {
          "description": "Array of hybridIdentityMetadata",
          "type": "array",
          "items": {
            "$ref": "#/definitions/hybridIdentityMetadata"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "KubernetesVersionProfileList": {
      "type": "object",
      "description": "A list of kubernetes version resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KubernetesVersionProfile"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "x-ms-identifiers": []
    },
    "KubernetesVersionProfile": {
      "type": "object",
      "description": "The supported kubernetes versions.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags."
        }
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "properties": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/ProvisioningState"
            },
            "values": {
              "type": "array",
              "description": "List of supported Kubernetes versions",
              "items": {
                "$ref": "#/definitions/KubernetesVersionProfileProperties"
              },
              "x-ms-identifiers": []
            }
          }
        }
      }
    },
    "KubernetesVersionProfileProperties": {
      "type": "object",
      "description": "Kubernetes version profile for given major.minor release",
      "properties": {
        "version": {
          "type": "string",
          "description": "major.minor version of Kubernetes release",
          "readOnly": true
        },
        "capabilities": {
          "$ref": "#/definitions/KubernetesVersionCapabilities",
          "description": "Capabilities on this kubernetes version",
          "readOnly": true
        },
        "isPreview": {
          "type": "boolean",
          "description": "Whether this version is in preview mode.",
          "readOnly": true
        },
        "patchVersions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/KubernetesPatchVersions"
          },
          "description": "Patch versions of a Kubernetes release",
          "readOnly": true
        }
      }
    },
    "KubernetesVersionCapabilities": {
      "type": "object",
      "description": "Capabilities on this kubernetes version",
      "properties": {
        "supportPlan": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/KubernetesSupportPlan"
          }
        }
      }
    },
    "KubernetesPatchVersions": {
      "type": "object",
      "description": "Kubernetes Patch Version profile",
      "properties": {
        "upgrades": {
          "type": "array",
          "description": "Possible upgrade path for given patch version",
          "x-ms-identifiers": [],
          "items": {
            "type": "string"
          }
        }
      }
    },
    "KubernetesSupportPlan": {
      "type": "string",
      "description": "Different support tiers for AKS managed clusters",
      "enum": [
        "KubernetesOfficial"
      ],
      "x-ms-enum": {
        "name": "KubernetesSupportPlan",
        "values": [
          {
            "value": "KubernetesOfficial",
            "description": "Support for the version is the same as for the open source Kubernetes offering. Official Kubernetes open source community support versions for 1 year after release."
          }
        ]
      }
    },
    "VmSkuProfileList": {
      "type": "object",
      "description": "A list of VM SKU resources.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VmSkuProfile"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "x-ms-identifiers": []
    },
    "VmSkuProfile": {
      "type": "object",
      "description": "The list of supported VM SKUs.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags."
        }
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation"
        },
        "properties": {
          "type": "object",
          "readOnly": true,
          "properties": {
            "provisioningState": {
              "$ref": "#/definitions/ProvisioningState"
            },
            "values": {
              "type": "array",
              "description": "Array of HybridAKS Support VM Skus",
              "items": {
                "$ref": "#/definitions/VmSkuProfileProperties"
              },
              "x-ms-identifiers": []
            }
          }
        }
      }
    },
    "VmSkuProfileProperties": {
      "type": "object",
      "description": "The profile for supported VM skus",
      "readOnly": true,
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type of the vm",
          "readOnly": true
        },
        "capabilities": {
          "type": "array",
          "readOnly": true,
          "description": "A name value pair to describe the specific vm's capability",
          "items": {
            "$ref": "#/definitions/VmSkuCapabilities"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the VM Family"
        },
        "tier": {
          "type": "string",
          "readOnly": true,
          "description": "The tier of the VM Family"
        },
        "size": {
          "type": "string",
          "readOnly": true,
          "description": "The size of the VM Family"
        }
      }
    },
    "VmSkuCapabilities": {
      "type": "object",
      "description": "describes the vm sku capabilities object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "An invariant to describe the feature"
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "An invariant if the feature is measured by quantity"
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "Extended Location definition",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type.",
          "enum": [
            "CustomLocation"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ExtendedLocationTypes"
          }
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource",
      "readOnly": true,
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating",
        "Upgrading",
        "InProgress",
        "Accepted",
        "Created"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ResourceProvisioningState"
      }
    },
    "ProvisionedClusterPoolUpgradeProfile": {
      "type": "object",
      "properties": {
        "kubernetesVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The Kubernetes version (major.minor.patch)."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The Agent Pool name."
        },
        "osType": {
          "readOnly": true,
          "$ref": "#/definitions/OSType"
        },
        "upgrades": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvisionedClusterPoolUpgradeProfileProperties"
          },
          "x-ms-identifiers": [],
          "description": "List of orchestrator types and versions available for upgrade."
        }
      },
      "description": "The list of available upgrade versions."
    },
    "ProvisionedClusterPoolUpgradeProfileProperties": {
      "type": "object",
      "properties": {
        "kubernetesVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The Kubernetes version (major.minor.patch)."
        },
        "isPreview": {
          "type": "boolean",
          "readOnly": true,
          "description": "Whether the Kubernetes version is currently in preview."
        }
      },
      "description": "The upgrade properties."
    },
    "ProvisionedClusterUpgradeProfileProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "controlPlaneProfile": {
          "$ref": "#/definitions/ProvisionedClusterPoolUpgradeProfile",
          "description": "The list of available upgrade versions for the control plane."
        },
        "agentPoolProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvisionedClusterPoolUpgradeProfile"
          },
          "x-ms-identifiers": [],
          "description": "The list of available upgrade versions for agent pools."
        }
      },
      "required": [
        "controlPlaneProfile",
        "agentPoolProfiles"
      ],
      "description": "Control plane and agent pool upgrade profiles."
    },
    "ProvisionedClusterUpgradeProfile": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags."
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProvisionedClusterUpgradeProfileProperties",
          "description": "The properties of the upgrade profile.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "description": "The list of available upgrades for compute pools."
    },
    "OSType": {
      "type": "string",
      "description": "OsType - OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux. Possible values include: 'Linux', 'Windows'",
      "enum": [
        "Linux",
        "Windows"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "osType"
      },
      "default": "Linux"
    },
    "OSSKU": {
      "type": "string",
      "enum": [
        "CBLMariner",
        "Windows2019",
        "Windows2022"
      ],
      "x-ms-enum": {
        "name": "OSSKU",
        "modelAsString": true,
        "values": [
          {
            "value": "CBLMariner",
            "description": "Use Mariner as the OS for node images."
          },
          {
            "value": "Windows2019",
            "description": "Use Windows2019 as the OS for node images."
          },
          {
            "value": "Windows2022",
            "description": "Use Windows2022 as the OS for node images."
          }
        ]
      },
      "description": "Specifies the OS SKU used by the agent pool. The default is CBLMariner if OSType is Linux. The default is Windows2019 when OSType is Windows."
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 63,
      "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$",
      "description": "Parameter for the name of the provisioned cluster",
      "x-ms-parameter-location": "method"
    },
    "hybridIdentityMetadataResourceNameParameter": {
      "name": "hybridIdentityMetadataResourceName",
      "description": "Parameter for the name of the hybrid identity metadata resource.",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3
    },
    "agentPoolNameParameter": {
      "name": "agentPoolName",
      "description": "Parameter for the name of the agent pool in the provisioned cluster",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3
    },
    "customLocationResourceUriParameter": {
      "name": "customLocationResourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The fully qualified Azure Resource manager identifier of the custom location resource.",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    }
  }
}
