{
  "swagger": "2.0",
  "info": {
    "title": "Azure Compute resource management API.",
    "version": "2026-06-06",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Compute/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkCancel": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkCancel",
        "description": "Cancels eligible start, deallocate, or hibernate operations identified by their Bulk Action Operation Ids. Work that has already completed is not reversed.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The Bulk Action Operation Ids that identify the operations to cancel.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelOperationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CancelOperationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkCancel - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkCancel_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkCancel - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkCancel_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkDeallocate": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkDeallocate",
        "description": "Deallocates one or more virtual machines. Bulk Actions begins processing the request immediately and returns a Bulk Action Operation Id for each virtual machine. Use the returned IDs to get operation status.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The virtual machines to deallocate and the execution settings for the bulk action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeallocateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeallocateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkDeallocate - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDeallocate_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkDeallocate - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDeallocate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkDelete": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkDelete",
        "description": "Deletes one or more virtual machines. This operation is destructive. Bulk Actions begins processing the request immediately and returns a Bulk Action Operation Id for each virtual machine. Use the returned IDs to get operation status.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The virtual machines to delete and the execution settings for the bulk action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeleteResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkDelete - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDelete_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkDelete - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkDelete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkGetOperationStatus": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkGetOperationsStatus",
        "description": "Gets the current status of operations identified by their Bulk Action Operation Ids.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The Bulk Action Operation Ids that identify the operations for which current status should be returned.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOperationStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetOperationStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkGetOperationsStatus - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkGetOperationsStatus_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkGetOperationsStatus - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkGetOperationsStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkHibernate": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkHibernate",
        "description": "Hibernates one or more virtual machines that support hibernation. Bulk Actions begins processing the request immediately and returns a Bulk Action Operation Id for each virtual machine. Use the returned IDs to get operation status.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The virtual machines to hibernate and the execution settings for the bulk action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteHibernateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HibernateResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkHibernate - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkHibernate_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkHibernate - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkHibernate_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/locations/{location}/virtualMachinesBulkStart": {
      "post": {
        "operationId": "VirtualMachineBulkOperations_BulkStart",
        "description": "Starts one or more virtual machines. Bulk Actions begins processing the request immediately and returns a Bulk Action Operation Id for each virtual machine. Use the returned IDs to get operation status.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location name.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "The virtual machines to start and the execution settings for the bulk action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteStartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StartResourceOperationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineBulkOperations_BulkStart - generated by [MaximumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkStart_MaximumSet_Gen.json"
          },
          "VirtualMachineBulkOperations_BulkStart - generated by [MinimumSet] rule": {
            "$ref": "./examples/VirtualMachineBulkOperations_BulkStart_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "CancelOperationsRequest": {
      "type": "object",
      "description": "The eligible operations to cancel.",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The Bulk Action Operation Ids that identify the operations to cancel.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operationIds"
      ]
    },
    "CancelOperationsResponse": {
      "type": "object",
      "description": "The results of the cancellation requests.",
      "properties": {
        "results": {
          "type": "array",
          "description": "The current result for each operation submitted for cancellation.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "DeallocateResourceOperationResponse": {
      "type": "object",
      "description": "The result of a bulk deallocate action.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the bulk action result."
        },
        "type": {
          "type": "string",
          "description": "The type of resources targeted by the bulk action."
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region where Bulk Actions processes the request.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The result for each virtual machine.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "DeleteResourceOperationResponse": {
      "type": "object",
      "description": "The result of a bulk delete action.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the bulk action result."
        },
        "type": {
          "type": "string",
          "description": "The type of resources targeted by the bulk action."
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region where Bulk Actions processes the request.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The result for each virtual machine.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "ExecuteDeallocateRequest": {
      "type": "object",
      "description": "The virtual machines and execution settings for a bulk deallocate action.",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution settings for the bulk action."
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The target virtual machines. Do not specify this property together with `resourcesWithContext`."
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteDeleteRequest": {
      "type": "object",
      "description": "The virtual machines and execution settings for a bulk delete action.",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution settings for the bulk action."
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The target virtual machines. Do not specify this property together with `resourcesWithContext`."
        },
        "forceDeletion": {
          "type": "boolean",
          "description": "Indicates whether Bulk Actions uses forced deletion for the target virtual machines."
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteHibernateRequest": {
      "type": "object",
      "description": "The virtual machines and execution settings for a bulk hibernate action.",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution settings for the bulk action."
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The target virtual machines. Do not specify this property together with `resourcesWithContext`."
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecuteStartRequest": {
      "type": "object",
      "description": "The virtual machines and execution settings for a bulk start action.",
      "properties": {
        "executionParameters": {
          "$ref": "#/definitions/ExecutionParameters",
          "description": "The execution settings for the bulk action."
        },
        "resources": {
          "$ref": "#/definitions/Resources",
          "description": "The target virtual machines. Do not specify this property together with `resourcesWithContext`."
        }
      },
      "required": [
        "executionParameters",
        "resources"
      ]
    },
    "ExecutionParameters": {
      "type": "object",
      "description": "The execution settings for a bulk action.",
      "properties": {
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "The retry settings for the bulk action."
        }
      }
    },
    "FallbackOperationInfo": {
      "type": "object",
      "description": "Information about an additional operation attempted after the requested operation did not succeed.",
      "properties": {
        "lastOpType": {
          "$ref": "#/definitions/ResourceOperationType",
          "description": "The type of the additional operation."
        },
        "status": {
          "type": "string",
          "description": "The status of the additional operation."
        },
        "error": {
          "$ref": "#/definitions/ResourceOperationError",
          "description": "The error returned when the additional operation did not succeed."
        }
      },
      "required": [
        "lastOpType",
        "status"
      ]
    },
    "GetOperationStatusRequest": {
      "type": "object",
      "description": "The operation for which current status should be returned.",
      "properties": {
        "operationIds": {
          "type": "array",
          "description": "The Bulk Action Operation Ids that identify the operations for which current status should be returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operationIds"
      ]
    },
    "GetOperationStatusResponse": {
      "type": "object",
      "description": "The current results for the requested operations.",
      "properties": {
        "results": {
          "type": "array",
          "description": "The current result for each requested operation.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "results"
      ]
    },
    "HibernateResourceOperationResponse": {
      "type": "object",
      "description": "The result of a bulk hibernate action.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the bulk action result."
        },
        "type": {
          "type": "string",
          "description": "The type of resources targeted by the bulk action."
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region where Bulk Actions processes the request.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The result for each virtual machine.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    },
    "ResourceOperation": {
      "type": "object",
      "description": "The result of a bulk action for one virtual machine.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure resource ID of the virtual machine."
        },
        "errorCode": {
          "type": "string",
          "description": "A code that identifies the error for the virtual machine."
        },
        "errorDetails": {
          "type": "string",
          "description": "A message that describes the error for the virtual machine."
        },
        "operation": {
          "$ref": "#/definitions/ResourceOperationDetails",
          "description": "The status and settings for the operation on the virtual machine."
        }
      }
    },
    "ResourceOperationDetails": {
      "type": "object",
      "description": "The status and settings for an operation on one virtual machine.",
      "properties": {
        "operationId": {
          "type": "string",
          "description": "The operation ID used to track the action for this virtual machine."
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure resource ID of the virtual machine."
        },
        "opType": {
          "type": "string",
          "description": "The type of operation performed on the virtual machine.",
          "default": "Unknown",
          "enum": [
            "Unknown",
            "Start",
            "Deallocate",
            "Hibernate",
            "Create",
            "Delete"
          ],
          "x-ms-enum": {
            "name": "ResourceOperationType",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "The operation type is not known."
              },
              {
                "name": "Start",
                "value": "Start",
                "description": "Starts the specified virtual machines."
              },
              {
                "name": "Deallocate",
                "value": "Deallocate",
                "description": "Deallocates the specified virtual machines."
              },
              {
                "name": "Hibernate",
                "value": "Hibernate",
                "description": "Hibernates the specified virtual machines."
              },
              {
                "name": "Create",
                "value": "Create",
                "description": "Creates the specified virtual machines."
              },
              {
                "name": "Delete",
                "value": "Delete",
                "description": "Deletes the specified virtual machines."
              }
            ]
          }
        },
        "subscriptionId": {
          "type": "string",
          "description": "The subscription ID associated with the bulk action."
        },
        "deadline": {
          "type": "string",
          "format": "date-time",
          "description": "The requested deadline for the operation."
        },
        "deadlineType": {
          "type": "string",
          "description": "The behavior associated with the operation deadline.",
          "default": "Unknown",
          "enum": [
            "Unknown",
            "InitiateAt",
            "CompleteBy"
          ],
          "x-ms-enum": {
            "name": "DeadlineType",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "The deadline behavior is not known."
              },
              {
                "name": "InitiateAt",
                "value": "InitiateAt",
                "description": "Bulk Actions attempts to start the operation at the specified deadline."
              },
              {
                "name": "CompleteBy",
                "value": "CompleteBy",
                "description": "Bulk Actions attempts to complete the operation by the specified deadline."
              }
            ]
          }
        },
        "state": {
          "type": "string",
          "description": "The current state of the operation.",
          "default": "Unknown",
          "enum": [
            "Unknown",
            "PendingScheduling",
            "Scheduled",
            "PendingExecution",
            "Executing",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Blocked"
          ],
          "x-ms-enum": {
            "name": "OperationState",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "The operation state is not known."
              },
              {
                "name": "PendingScheduling",
                "value": "PendingScheduling",
                "description": "The operation is waiting to be scheduled."
              },
              {
                "name": "Scheduled",
                "value": "Scheduled",
                "description": "The operation has been scheduled."
              },
              {
                "name": "PendingExecution",
                "value": "PendingExecution",
                "description": "The operation is waiting to begin."
              },
              {
                "name": "Executing",
                "value": "Executing",
                "description": "The operation is in progress."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The operation completed successfully."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The operation failed."
              },
              {
                "name": "Cancelled",
                "value": "Cancelled",
                "description": "The operation was canceled by the customer."
              },
              {
                "name": "Blocked",
                "value": "Blocked",
                "description": "The operation cannot currently make progress."
              }
            ]
          },
          "readOnly": true
        },
        "timezone": {
          "type": "string",
          "description": "The time zone used to interpret the operation deadline."
        },
        "resourceOperationError": {
          "$ref": "#/definitions/ResourceOperationError",
          "description": "The error returned for the virtual machine, if the operation did not succeed."
        },
        "fallbackOperationInfo": {
          "$ref": "#/definitions/FallbackOperationInfo",
          "description": "Information about an additional operation attempted after the requested operation did not succeed."
        },
        "completedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the operation completed."
        },
        "retryPolicy": {
          "$ref": "#/definitions/RetryPolicy",
          "description": "The retry settings for the bulk action."
        }
      },
      "required": [
        "operationId"
      ]
    },
    "ResourceOperationError": {
      "type": "object",
      "description": "An error that occurred while processing one virtual machine.",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "A code that identifies the error."
        },
        "errorDetails": {
          "type": "string",
          "description": "A message that describes the error."
        }
      },
      "required": [
        "errorCode",
        "errorDetails"
      ]
    },
    "ResourceOperationType": {
      "type": "string",
      "description": "The type of operation performed by Bulk Actions.",
      "enum": [
        "Unknown",
        "Start",
        "Deallocate",
        "Hibernate",
        "Create",
        "Delete"
      ],
      "x-ms-enum": {
        "name": "ResourceOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The operation type is not known."
          },
          {
            "name": "Start",
            "value": "Start",
            "description": "Starts the specified virtual machines."
          },
          {
            "name": "Deallocate",
            "value": "Deallocate",
            "description": "Deallocates the specified virtual machines."
          },
          {
            "name": "Hibernate",
            "value": "Hibernate",
            "description": "Hibernates the specified virtual machines."
          },
          {
            "name": "Create",
            "value": "Create",
            "description": "Creates the specified virtual machines."
          },
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Deletes the specified virtual machines."
          }
        ]
      }
    },
    "Resources": {
      "type": "object",
      "description": "The virtual machines targeted by a bulk action.",
      "properties": {
        "ids": {
          "type": "array",
          "description": "The Azure resource IDs of the target virtual machines.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Compute/virtualMachines"
                }
              ]
            }
          }
        }
      },
      "required": [
        "ids"
      ]
    },
    "RetryPolicy": {
      "type": "object",
      "description": "The retry settings for a bulk action.",
      "properties": {
        "retryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of retry attempts."
        },
        "retryWindowInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The period, in minutes, during which Bulk Actions can retry the operation."
        },
        "onFailureAction": {
          "$ref": "#/definitions/ResourceOperationType",
          "description": "The operation that Bulk Actions attempts when the requested operation fails."
        }
      }
    },
    "StartResourceOperationResponse": {
      "type": "object",
      "description": "The result of a bulk start action.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A description of the bulk action result."
        },
        "type": {
          "type": "string",
          "description": "The type of resources targeted by the bulk action."
        },
        "location": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "The Azure region where Bulk Actions processes the request.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "results": {
          "type": "array",
          "description": "The result for each virtual machine.",
          "items": {
            "$ref": "#/definitions/ResourceOperation"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "description",
        "type",
        "location"
      ]
    }
  },
  "parameters": {}
}
