{
  "swagger": "2.0",
  "info": {
    "version": "2022-03-01",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprComponents": {
      "get": {
        "tags": [
          "DaprComponents"
        ],
        "summary": "Get the Dapr Components for a managed environment.",
        "operationId": "DaprComponents_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DaprComponentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Dapr Components": {
            "$ref": "./examples/DaprComponents_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprComponents/{name}": {
      "get": {
        "tags": [
          "DaprComponents"
        ],
        "summary": "Get a dapr component.",
        "operationId": "DaprComponents_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr Component.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DaprComponent"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Dapr Component": {
            "$ref": "./examples/DaprComponents_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DaprComponents"
        ],
        "summary": "Creates or updates a Dapr Component.",
        "description": "Creates or updates a Dapr Component in a Managed Environment.",
        "operationId": "DaprComponents_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr Component.",
            "required": true,
            "type": "string"
          },
          {
            "name": "daprComponentEnvelope",
            "in": "body",
            "description": "Configuration details of the Dapr Component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DaprComponent"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DaprComponent"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "Create or update dapr component": {
            "$ref": "./examples/DaprComponents_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DaprComponents"
        ],
        "summary": "Delete a Dapr Component.",
        "description": "Delete a Dapr Component from a Managed Environment.",
        "operationId": "DaprComponents_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr Component.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed"
          },
          "204": {
            "description": "Environment does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete dapr component": {
            "$ref": "./examples/DaprComponents_Delete.json"
          }
        },
        "x-ms-long-running-operation": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprComponents/{name}/listSecrets": {
      "post": {
        "tags": [
          "DaprComponents"
        ],
        "summary": "List secrets for a dapr component",
        "operationId": "DaprComponents_ListSecrets",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Dapr Component.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DaprSecretsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Secrets": {
            "$ref": "./examples/DaprComponents_ListSecrets.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DaprComponentsCollection": {
      "description": "Dapr Components ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DaprComponent"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DaprComponent": {
      "description": "Dapr Component.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Dapr Component resource specific properties",
          "type": "object",
          "properties": {
            "componentType": {
              "description": "Component type",
              "type": "string"
            },
            "version": {
              "description": "Component version",
              "type": "string"
            },
            "ignoreErrors": {
              "description": "Boolean describing if the component errors are ignores",
              "type": "boolean"
            },
            "initTimeout": {
              "description": "Initialization timeout",
              "type": "string"
            },
            "secrets": {
              "description": "Collection of secrets used by a Dapr component",
              "type": "array",
              "items": {
                "$ref": "./CommonDefinitions.json#/definitions/Secret"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "metadata": {
              "description": "Component metadata",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DaprMetadata"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "scopes": {
              "description": "Names of container apps that can use this Dapr component",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "DaprMetadata": {
      "description": "Dapr component metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Metadata property name.",
          "type": "string"
        },
        "value": {
          "description": "Metadata property value.",
          "type": "string"
        },
        "secretRef": {
          "description": "Name of the Dapr Component secret from which to pull the metadata property value.",
          "type": "string"
        }
      }
    },
    "DaprSecretsCollection": {
      "description": "Dapr component Secrets Collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of secrets used by a Dapr component",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/Secret"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
