{
  "swagger": "2.0",
  "info": {
    "title": "PostgreSQLServerManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.",
    "version": "2023-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DBforPostgreSQL/locations/{locationName}/capabilities": {
      "get": {
        "tags": [
          "LocationBasedCapabilities"
        ],
        "operationId": "LocationBasedCapabilities_Execute",
        "x-ms-examples": {
          "CapabilitiesList": {
            "$ref": "./examples/CapabilitiesByLocation.json"
          }
        },
        "description": "Get capabilities at specified location in a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/LocationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FlexibleServerCapabilitiesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/capabilities": {
      "get": {
        "tags": [
          "LocationBasedCapabilities"
        ],
        "operationId": "ServerCapabilities_Execute",
        "x-ms-examples": {
          "CapabilitiesList": {
            "$ref": "./examples/ServerCapabilities.json"
          }
        },
        "description": "Get capabilities at specified location in a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapabilitiesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "StorageTierCapability": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name to represent Storage tier capability",
          "readOnly": true
        },
        "iops": {
          "type": "integer",
          "format": "int64",
          "description": "Supported IOPS for this storage tier",
          "readOnly": true
        }
      }
    },
    "StorageMBCapability": {
      "type": "object",
      "properties": {
        "supportedIOPS": {
          "type": "integer",
          "format": "int64",
          "description": "supported IOPS",
          "readOnly": true
        },
        "storageSizeMB": {
          "type": "integer",
          "format": "int64",
          "description": "storage size in MB",
          "readOnly": true
        },
        "defaultIopsTier": {
          "type": "string",
          "description": "Default tier for IOPS",
          "readOnly": true
        },
        "supportedIopsTierList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTierCapability"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        }
      },
      "description": "storage size in MB capability"
    },
    "ServerSku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Sku name",
          "readOnly": true
        },
        "vCores": {
          "type": "integer",
          "format": "int64",
          "description": "supported vCores",
          "readOnly": true
        },
        "supportedIOPS": {
          "type": "integer",
          "format": "int64",
          "description": "supported IOPS",
          "readOnly": true
        },
        "supportedMemoryPerVcoreMB": {
          "type": "integer",
          "format": "int64",
          "description": "supported memory per vCore in MB",
          "readOnly": true
        },
        "supportedZones": {
          "type": "array",
          "items": {            
            "type":  "object",
            "properties": {
              "zone": {
                "type": "string",
                "description": "zone name",
                "readOnly": true
              }
            }
          }
        },
        "supportedHAMode": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported high availability mode",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status",
          "readOnly": true
        }
      },
      "description": "Sku capability"
    },
    "ServerVersion": {
      "type": "string",
      "description": "The version of a server.",
      "enum": [
        "15",
        "14",
        "13",
        "12",
        "11"
      ],
      "x-ms-enum": {
        "name": "ServerVersion",
        "modelAsString": true
      }
    },
    "ServerVersionCapability": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "server version",
          "readOnly": true
        },
        "supportedVersionsToUpgrade": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported servers versions to upgrade",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status",
          "readOnly": true
        }
      },
      "description": "Server version capabilities."
    },
    "StorageEditionCapability": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "storage edition name",
          "readOnly": true
        },
        "defaultsSorageSizeMB": {
          "type": "integer",
          "format": "int64",
          "description": "Default storage size in MB for storage edition",
          "readOnly": true
        },
        "supportedStorageMB": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageMBCapability"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        }
      },
      "description": "storage edition capability"
    },
    "FastProvisioningEditionCapability": {
      "type": "object",
      "properties": {
        "supportedTier": {
          "type": "string",
          "description": "Fast provisioning supported tier name",
          "readonly": true
        },
        "supportedSku": {
          "type": "string",
          "description": "Fast provisioning supported sku name",
          "readOnly": true
        },
        "supportedStorageGb": {
          "type": "string",
          "description": "Fast provisioning supported storage in Gb",
          "readOnly": true
        },
        "supportedServerVersions": {
          "type": "string",
          "description": "Fast provisioning supported version",
          "readOnly": true
        },
        "serverCount": {
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "FlexibleServerEditionCapability": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Server edition name",
          "readOnly": true
        },
        "defaultSkuName": {
          "type": "string",
          "description": "Default sku name for the server edition",
          "readOnly": true
        },
        "supportedStorageEditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageEditionCapability"
          },
          "description": "The list of editions supported by this server edition.",
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "supportedServerSkus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerSku"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status",
          "readOnly": true
        }
      },
      "description": "Flexible server edition capabilities."
    },
    "FlexibleServerCapabilitiesList": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "supportedServerEditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlexibleServerEditionCapability"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "supportedServerVersions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerVersionCapability"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "The list of server versions supported by this server edition.",
          "readOnly": true
        },
        "fastProvisioningSupported": {
          "type": "boolean",
          "readOnly": true
        },
        "supportedFastProvisioningEditions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FastProvisioningEditionCapability"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "geoBackupSupported": {
          "type": "boolean",
          "description": "Determines if geo-backup is supported in this region.",
          "readOnly": true
        },
        "zoneRedundantHaSupported": {
          "type": "boolean",
          "description": "A value indicating whether Zone Redundant HA is supported in this region.",
          "readOnly": true
        },
        "zoneRedundantHaAndGeoBackupSupported": {
          "type": "boolean",
          "description": "A value indicating whether Zone Redundant HA and Geo-backup is supported in this region.",
          "readOnly": true
        },
        "storageAutoGrowthSupported": {
          "type": "boolean",
          "description": "A value indicating whether storage auto-grow is supported in this region.",
          "readOnly": true
        },
        "restricted": {
          "type": "boolean",
          "description": "A value indicating whether this region is restricted.",
          "readOnly": true
        }
      },
      "description": "location capability"
    },
    "CapabilitiesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of supported capabilities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlexibleServerCapabilitiesList"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "location capability"
    }
  },
  "parameters": {}
}
