{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2025-09-09-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AssessmentProjectsOperations"
    },
    {
      "name": "AssessmentProjectSummaryOperations"
    },
    {
      "name": "PrivateEndpointConnectionOperations"
    },
    {
      "name": "PrivateLinkResourceOperations"
    },
    {
      "name": "OnPremTcoOperations"
    },
    {
      "name": "MachineOnPremSettingsOperations"
    },
    {
      "name": "SqlOnPremSettingsOperations"
    },
    {
      "name": "OperationStatuses"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Migrate/onPremTcoDetails/default": {
      "get": {
        "operationId": "OnPremTcoOperations_Get",
        "tags": [
          "OnPremTcoOperations"
        ],
        "description": "Gets the on-premises tco calculation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnPremTco"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnPremTcoOperations_Get_MaximumSet_Gen": {
            "$ref": "./examples/OnPremTcoOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "operationId": "AssessmentProjectsOperations_ListBySubscription",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "List AssessmentProject resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListBySubscription": {
            "$ref": "./examples/AssessmentProjectsOperations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatuses_GetSubscriptionStatus",
        "tags": [
          "OperationStatuses"
        ],
        "description": "Get the status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatuses_GetSubscriptionStatus_MaximumSet": {
            "$ref": "./examples/OperationStatuses_GetSubscriptionStatus_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "operationId": "AssessmentProjectsOperations_ListByParent",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "List AssessmentProject resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListByParent": {
            "$ref": "./examples/AssessmentProjectsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}": {
      "get": {
        "operationId": "AssessmentProjectsOperations_Get",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Get a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Get": {
            "$ref": "./examples/AssessmentProjectsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AssessmentProjectsOperations_Create",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Create a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AssessmentProject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "201": {
            "description": "Resource 'AssessmentProject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Create": {
            "$ref": "./examples/AssessmentProjectsOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AssessmentProjectsOperations_Update",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Update a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Update": {
            "$ref": "./examples/AssessmentProjectsOperations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AssessmentProjectsOperations_Delete",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Delete a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Delete": {
            "$ref": "./examples/AssessmentProjectsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machineOnPremSettings": {
      "get": {
        "operationId": "MachineOnPremSettingsOperations_ListByParent",
        "tags": [
          "MachineOnPremSettingsOperations"
        ],
        "description": "Lists the on-premises machine settings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineOnPremSettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineOnPremSettingsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/MachineOnPremSettingsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machineOnPremSettings/default": {
      "get": {
        "operationId": "MachineOnPremSettingsOperations_Get",
        "tags": [
          "MachineOnPremSettingsOperations"
        ],
        "description": "Gets the on-premises machine settings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineOnPremSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineOnPremSettingsOperations_Get_MaximumSet": {
            "$ref": "./examples/MachineOnPremSettingsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MachineOnPremSettingsOperations_Create",
        "tags": [
          "MachineOnPremSettingsOperations"
        ],
        "description": "Updates the on-premises machine settings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineOnPremSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MachineOnPremSettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineOnPremSettings"
            }
          },
          "201": {
            "description": "Resource 'MachineOnPremSettings' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineOnPremSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineOnPremSettingsOperations_Create_MaximumSet": {
            "$ref": "./examples/MachineOnPremSettingsOperations_Create_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnectionOperations_ListByParent",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "List PrivateEndpointConnection resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_ListByParent": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnectionOperations_Get",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "Get a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_Get": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnectionOperations_Update",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "Create a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_Update": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnectionOperations_Delete",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "Delete a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_Delete": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResourceOperations_ListByParent",
        "tags": [
          "PrivateLinkResourceOperations"
        ],
        "description": "List PrivateLinkResource resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourceOperations_ListByParent": {
            "$ref": "./examples/PrivateLinkResourceOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "operationId": "PrivateLinkResourceOperations_Get",
        "tags": [
          "PrivateLinkResourceOperations"
        ],
        "description": "Get a PrivateLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateLinkResourceName",
            "in": "path",
            "description": "Private link resource ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourceOperations_Get": {
            "$ref": "./examples/PrivateLinkResourceOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary": {
      "get": {
        "operationId": "AssessmentProjectSummaryOperations_ListByParent",
        "tags": [
          "AssessmentProjectSummaryOperations"
        ],
        "description": "List AssessmentProjectSummary resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectSummaryOperations_ListByParent": {
            "$ref": "./examples/AssessmentProjectSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary/{projectSummaryName}": {
      "get": {
        "operationId": "AssessmentProjectSummaryOperations_Get",
        "tags": [
          "AssessmentProjectSummaryOperations"
        ],
        "description": "Get a AssessmentProjectSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "projectSummaryName",
            "in": "path",
            "description": "Assessment project summary resource.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectSummaryOperations_Get": {
            "$ref": "./examples/AssessmentProjectSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlOnPremSettings": {
      "get": {
        "operationId": "SqlOnPremSettingsOperations_ListByParent",
        "tags": [
          "SqlOnPremSettingsOperations"
        ],
        "description": "Lists the on-premises SQL settings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlOnPremSettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlOnPremSettingsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/SqlOnPremSettingsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlOnPremSettings/default": {
      "get": {
        "operationId": "SqlOnPremSettingsOperations_Get",
        "tags": [
          "SqlOnPremSettingsOperations"
        ],
        "description": "Gets the on-premises SQL settings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlOnPremSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlOnPremSettingsOperations_Get_MaximumSet": {
            "$ref": "./examples/SqlOnPremSettingsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SqlOnPremSettingsOperations_Create",
        "tags": [
          "SqlOnPremSettingsOperations"
        ],
        "description": "Updates the on-premises SQL settings.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlOnPremSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlOnPremSettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlOnPremSettings"
            }
          },
          "201": {
            "description": "Resource 'SqlOnPremSettings' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlOnPremSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlOnPremSettingsOperations_Create_MaximumSet": {
            "$ref": "./examples/SqlOnPremSettingsOperations_Create_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssessmentHypervVirtualizationManagementSettings": {
      "type": "object",
      "description": "Hyper-V virtualization management settings for assessment.",
      "properties": {
        "numberOfPhysicalCoresPerLicense": {
          "type": "integer",
          "format": "int32",
          "description": "Number of physical CPU cores covered per license."
        },
        "softwareAssuranceCost": {
          "type": "number",
          "format": "float",
          "description": "Software Assurance cost for Hyper-V."
        },
        "licenseAndSupportList": {
          "type": "array",
          "description": "List of Hyper-V license and support information.",
          "items": {
            "$ref": "#/definitions/HyperVirtualizationLicense"
          },
          "x-ms-identifiers": [
            "licenseType"
          ]
        }
      },
      "required": [
        "numberOfPhysicalCoresPerLicense",
        "softwareAssuranceCost",
        "licenseAndSupportList"
      ]
    },
    "AssessmentProject": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssessmentProjectListResult": {
      "type": "object",
      "description": "The response of a AssessmentProject list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessmentProject items on this page",
          "items": {
            "$ref": "#/definitions/AssessmentProject"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessmentProjectSummary": {
      "type": "object",
      "description": "Assessment project summary resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessmentProjectSummaryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessmentProjectSummaryListResult": {
      "type": "object",
      "description": "The response of a AssessmentProjectSummary list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessmentProjectSummary items on this page",
          "items": {
            "$ref": "#/definitions/AssessmentProjectSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessmentProjectSummaryProperties": {
      "type": "object",
      "description": "Assessment project summary properties class.",
      "properties": {
        "errorSummaryAffectedEntities": {
          "type": "array",
          "description": "Gets the Error summary by feature. Contains number of affected Entities per\nfeature.",
          "items": {
            "$ref": "#/definitions/ErrorSummary"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "numberOfPrivateEndpointConnections": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of private endpoint connections.",
          "readOnly": true
        },
        "numberOfGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of groups created in this project.",
          "readOnly": true
        },
        "numberOfMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of machines part of this project.",
          "readOnly": true
        },
        "numberOfImportMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of import machines part of this project.",
          "readOnly": true
        },
        "numberOfAssessments": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of assessments created in this project.",
          "readOnly": true
        },
        "lastAssessmentTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the last assessment timestamp.",
          "readOnly": true
        }
      }
    },
    "AssessmentProjectUpdate": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "AssessmentSizingCriterion": {
      "type": "string",
      "description": "Assessment Sizing Criteria.",
      "enum": [
        "PerformanceBased",
        "AsOnPremises"
      ],
      "x-ms-enum": {
        "name": "AssessmentSizingCriterion",
        "modelAsString": true,
        "values": [
          {
            "name": "PerformanceBased",
            "value": "PerformanceBased",
            "description": "Performance Data based Sizing."
          },
          {
            "name": "AsOnPremises",
            "value": "AsOnPremises",
            "description": "As On Premises or Static Data based Sizing."
          }
        ]
      }
    },
    "AssessmentStatus": {
      "type": "string",
      "description": "Assessment Status.",
      "enum": [
        "Created",
        "Updated",
        "Running",
        "Completed",
        "Invalid",
        "OutOfSync",
        "OutDated",
        "Deleted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AssessmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Assessment is Created."
          },
          {
            "name": "Updated",
            "value": "Updated",
            "description": "Assessment is Updated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Assessment is currently running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Assessment is Completed or Ready."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Assessment is Failed i.e. it is now invalid."
          },
          {
            "name": "OutOfSync",
            "value": "OutOfSync",
            "description": "Assessment is Out of Sync."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "Assessment is Out Dated."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Assessment is Deleted."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Assessment has Failed."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "AzureArcManagementSettings": {
      "type": "object",
      "description": "Management configuration for Azure Arc.",
      "properties": {
        "monitoringSettings": {
          "$ref": "#/definitions/AzureArcMonitoringSettings",
          "description": "Monitoring-related settings for Azure Arc."
        }
      }
    },
    "AzureArcMonitoringSettings": {
      "type": "object",
      "description": "Monitoring settings used by Azure Arc.",
      "properties": {
        "logsVolumeInGb": {
          "type": "number",
          "format": "float",
          "description": "Volume of logs generated per month in gigabytes."
        },
        "alertRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of alert rules configured."
        }
      }
    },
    "AzureArcSettings": {
      "type": "object",
      "description": "Azure Arc–related configuration and cost settings for on-premises machines.",
      "properties": {
        "azureArcState": {
          "$ref": "#/definitions/AzureArcState",
          "description": "Indicates whether Azure Arc is enabled or disabled."
        },
        "laborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of labor cost attributed to Azure Arc management."
        },
        "managementSettings": {
          "$ref": "#/definitions/AzureArcManagementSettings",
          "description": "Azure Arc management-related configuration."
        }
      }
    },
    "AzureArcState": {
      "type": "string",
      "description": "Possible states of Azure Arc enablement.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AzureArcState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Azure Arc is enabled for the on-premises machine."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Azure Arc is disabled for the on-premises machine."
          }
        ]
      }
    },
    "AzureCurrency": {
      "type": "string",
      "description": "Currency for Azure.",
      "enum": [
        "Unknown",
        "USD",
        "DKK",
        "CAD",
        "IDR",
        "JPY",
        "KRW",
        "NZD",
        "NOK",
        "RUB",
        "SAR",
        "ZAR",
        "SEK",
        "TRY",
        "GBP",
        "MXN",
        "MYR",
        "INR",
        "HKD",
        "BRL",
        "TWD",
        "EUR",
        "CHF",
        "ARS",
        "AUD",
        "CNY"
      ],
      "x-ms-enum": {
        "name": "AzureCurrency",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Currency for Azure"
          },
          {
            "name": "USD",
            "value": "USD",
            "description": "USD Currency for Azure"
          },
          {
            "name": "DKK",
            "value": "DKK",
            "description": "DKK Currency for Azure"
          },
          {
            "name": "CAD",
            "value": "CAD",
            "description": "CAD Currency for Azure"
          },
          {
            "name": "IDR",
            "value": "IDR",
            "description": "IDR Currency for Azure"
          },
          {
            "name": "JPY",
            "value": "JPY",
            "description": "JPY Currency for Azure"
          },
          {
            "name": "KRW",
            "value": "KRW",
            "description": "KRW Currency for Azure"
          },
          {
            "name": "NZD",
            "value": "NZD",
            "description": "NZD Currency for Azure"
          },
          {
            "name": "NOK",
            "value": "NOK",
            "description": "NOK Currency for Azure"
          },
          {
            "name": "RUB",
            "value": "RUB",
            "description": "RUB Currency for Azure"
          },
          {
            "name": "SAR",
            "value": "SAR",
            "description": "SAR Currency for Azure"
          },
          {
            "name": "ZAR",
            "value": "ZAR",
            "description": "ZAR Currency for Azure"
          },
          {
            "name": "SEK",
            "value": "SEK",
            "description": "SEK Currency for Azure"
          },
          {
            "name": "TRY",
            "value": "TRY",
            "description": "TRY Currency for Azure"
          },
          {
            "name": "GBP",
            "value": "GBP",
            "description": "GBP Currency for Azure"
          },
          {
            "name": "MXN",
            "value": "MXN",
            "description": "MXN Currency for Azure"
          },
          {
            "name": "MYR",
            "value": "MYR",
            "description": "MYR Currency for Azure"
          },
          {
            "name": "INR",
            "value": "INR",
            "description": "INR Currency for Azure"
          },
          {
            "name": "HKD",
            "value": "HKD",
            "description": "HKD Currency for Azure"
          },
          {
            "name": "BRL",
            "value": "BRL",
            "description": "BRL Currency for Azure"
          },
          {
            "name": "TWD",
            "value": "TWD",
            "description": "TWD Currency for Azure"
          },
          {
            "name": "EUR",
            "value": "EUR",
            "description": "EUR Currency for Azure"
          },
          {
            "name": "CHF",
            "value": "CHF",
            "description": "CHF Currency for Azure"
          },
          {
            "name": "ARS",
            "value": "ARS",
            "description": "ARS Currency for Azure"
          },
          {
            "name": "AUD",
            "value": "AUD",
            "description": "AUD Currency for Azure"
          },
          {
            "name": "CNY",
            "value": "CNY",
            "description": "CNY Currency for Azure"
          }
        ]
      }
    },
    "AzureLocation": {
      "type": "string",
      "description": "Location for Azure.",
      "enum": [
        "Unknown",
        "EastAsia",
        "SoutheastAsia",
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CanadaCentral",
        "CanadaEast",
        "WestEurope",
        "NorthEurope",
        "CentralIndia",
        "SouthIndia",
        "WestIndia",
        "JapanEast",
        "JapanWest",
        "KoreaCentral",
        "KoreaSouth",
        "UkWest",
        "UkSouth",
        "NorthCentralUs",
        "EastUs",
        "WestUs2",
        "SouthCentralUs",
        "CentralUs",
        "EastUs2",
        "WestUs",
        "WestCentralUs",
        "GermanyCentral",
        "GermanyNortheast",
        "ChinaNorth",
        "ChinaEast",
        "USGovArizona",
        "USGovTexas",
        "USGovIowa",
        "USGovVirginia",
        "USDoDCentral",
        "USDoDEast",
        "FranceCentral",
        "AustraliaCentral",
        "SouthAfricaNorth",
        "FranceSouth",
        "AustraliaCentral2",
        "SouthAfricaWest",
        "GermanyNorth",
        "GermanyWestCentral",
        "NorwayEast",
        "NorwayWest",
        "ChinaEast2",
        "ChinaNorth2",
        "SwitzerlandNorth",
        "SwitzerlandWest",
        "UAENorth",
        "UAECentral",
        "UsNatEast",
        "UsNatWest",
        "UsSecEast",
        "UsSecCentral",
        "UsSecWest",
        "SwedenCentral",
        "QatarCentral",
        "JioIndiaWest",
        "ItalyNorth",
        "PolandCentral",
        "IsraelCentral",
        "MexicoCentral",
        "NewZealandNorth",
        "SpainCentral"
      ],
      "x-ms-enum": {
        "name": "AzureLocation",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Location for Azure"
          },
          {
            "name": "EastAsia",
            "value": "EastAsia",
            "description": "EastAsia Location for Azure"
          },
          {
            "name": "SoutheastAsia",
            "value": "SoutheastAsia",
            "description": "SoutheastAsia Location for Azure"
          },
          {
            "name": "AustraliaEast",
            "value": "AustraliaEast",
            "description": "AustraliaEast Location for Azure"
          },
          {
            "name": "AustraliaSoutheast",
            "value": "AustraliaSoutheast",
            "description": "AustraliaSoutheast Location for Azure"
          },
          {
            "name": "BrazilSouth",
            "value": "BrazilSouth",
            "description": "BrazilSouth Location for Azure"
          },
          {
            "name": "CanadaCentral",
            "value": "CanadaCentral",
            "description": "CanadaCentral Location for Azure"
          },
          {
            "name": "CanadaEast",
            "value": "CanadaEast",
            "description": "CanadaEast Location for Azure"
          },
          {
            "name": "WestEurope",
            "value": "WestEurope",
            "description": "WestEurope Location for Azure"
          },
          {
            "name": "NorthEurope",
            "value": "NorthEurope",
            "description": "NorthEurope Location for Azure"
          },
          {
            "name": "CentralIndia",
            "value": "CentralIndia",
            "description": "CentralIndia Location for Azure"
          },
          {
            "name": "SouthIndia",
            "value": "SouthIndia",
            "description": "SouthIndia Location for Azure"
          },
          {
            "name": "WestIndia",
            "value": "WestIndia",
            "description": "WestIndia Location for Azure"
          },
          {
            "name": "JapanEast",
            "value": "JapanEast",
            "description": "JapanEast Location for Azure"
          },
          {
            "name": "JapanWest",
            "value": "JapanWest",
            "description": "JapanWest Location for Azure"
          },
          {
            "name": "KoreaCentral",
            "value": "KoreaCentral",
            "description": "KoreaCentral Location for Azure"
          },
          {
            "name": "KoreaSouth",
            "value": "KoreaSouth",
            "description": "KoreaSouth Location for Azure"
          },
          {
            "name": "UkWest",
            "value": "UkWest",
            "description": "UkWest Location for Azure"
          },
          {
            "name": "UkSouth",
            "value": "UkSouth",
            "description": "UkSouth Location for Azure"
          },
          {
            "name": "NorthCentralUs",
            "value": "NorthCentralUs",
            "description": "NorthCentralUs Location for Azure"
          },
          {
            "name": "EastUs",
            "value": "EastUs",
            "description": "EastUs Location for Azure"
          },
          {
            "name": "WestUs2",
            "value": "WestUs2",
            "description": "WestUs2 Location for Azure"
          },
          {
            "name": "SouthCentralUs",
            "value": "SouthCentralUs",
            "description": "SouthCentralUs Location for Azure"
          },
          {
            "name": "CentralUs",
            "value": "CentralUs",
            "description": "CentralUs Location for Azure"
          },
          {
            "name": "EastUs2",
            "value": "EastUs2",
            "description": "EastUs2 Location for Azure"
          },
          {
            "name": "WestUs",
            "value": "WestUs",
            "description": "WestUs Location for Azure"
          },
          {
            "name": "WestCentralUs",
            "value": "WestCentralUs",
            "description": "WestCentralUs Location for Azure"
          },
          {
            "name": "GermanyCentral",
            "value": "GermanyCentral",
            "description": "GermanyCentral Location for Azure"
          },
          {
            "name": "GermanyNortheast",
            "value": "GermanyNortheast",
            "description": "GermanyNortheast Location for Azure"
          },
          {
            "name": "ChinaNorth",
            "value": "ChinaNorth",
            "description": "ChinaNorth Location for Azure"
          },
          {
            "name": "ChinaEast",
            "value": "ChinaEast",
            "description": "ChinaEast Location for Azure"
          },
          {
            "name": "USGovArizona",
            "value": "USGovArizona",
            "description": "USGovArizona Location for Azure"
          },
          {
            "name": "USGovTexas",
            "value": "USGovTexas",
            "description": "USGovTexas Location for Azure"
          },
          {
            "name": "USGovIowa",
            "value": "USGovIowa",
            "description": "USGovIowa Location for Azure"
          },
          {
            "name": "USGovVirginia",
            "value": "USGovVirginia",
            "description": "USGovVirginia Location for Azure"
          },
          {
            "name": "USDoDCentral",
            "value": "USDoDCentral",
            "description": "USDoDCentral Location for Azure"
          },
          {
            "name": "USDoDEast",
            "value": "USDoDEast",
            "description": "USDoDEast Location for Azure"
          },
          {
            "name": "FranceCentral",
            "value": "FranceCentral",
            "description": "FranceCentral Location for Azure"
          },
          {
            "name": "AustraliaCentral",
            "value": "AustraliaCentral",
            "description": "AustraliaCentral Location for Azure"
          },
          {
            "name": "SouthAfricaNorth",
            "value": "SouthAfricaNorth",
            "description": "SouthAfricaNorth Location for Azure"
          },
          {
            "name": "FranceSouth",
            "value": "FranceSouth",
            "description": "FranceSouth Location for Azure"
          },
          {
            "name": "AustraliaCentral2",
            "value": "AustraliaCentral2",
            "description": "AustraliaCentral2 Location for Azure"
          },
          {
            "name": "SouthAfricaWest",
            "value": "SouthAfricaWest",
            "description": "SouthAfricaWest Location for Azure"
          },
          {
            "name": "GermanyNorth",
            "value": "GermanyNorth",
            "description": "GermanyNorth Location for Azure"
          },
          {
            "name": "GermanyWestCentral",
            "value": "GermanyWestCentral",
            "description": "GermanyWestCentral Location for Azure"
          },
          {
            "name": "NorwayEast",
            "value": "NorwayEast",
            "description": "NorwayEast Location for Azure"
          },
          {
            "name": "NorwayWest",
            "value": "NorwayWest",
            "description": "NorwayWest Location for Azure"
          },
          {
            "name": "ChinaEast2",
            "value": "ChinaEast2",
            "description": "ChinaEast2 Location for Azure"
          },
          {
            "name": "ChinaNorth2",
            "value": "ChinaNorth2",
            "description": "ChinaNorth2 Location for Azure"
          },
          {
            "name": "SwitzerlandNorth",
            "value": "SwitzerlandNorth",
            "description": "SwitzerlandNorth Location for Azure"
          },
          {
            "name": "SwitzerlandWest",
            "value": "SwitzerlandWest",
            "description": "SwitzerlandWest Location for Azure"
          },
          {
            "name": "UAENorth",
            "value": "UAENorth",
            "description": "UAENorth Location for Azure"
          },
          {
            "name": "UAECentral",
            "value": "UAECentral",
            "description": "UAECentral Location for Azure"
          },
          {
            "name": "UsNatEast",
            "value": "UsNatEast",
            "description": "UsNatEast Location for Azure"
          },
          {
            "name": "UsNatWest",
            "value": "UsNatWest",
            "description": "UsNatWest Location for Azure"
          },
          {
            "name": "UsSecEast",
            "value": "UsSecEast",
            "description": "UsSecEast Location for Azure"
          },
          {
            "name": "UsSecCentral",
            "value": "UsSecCentral",
            "description": "UsSecCentral Location for Azure"
          },
          {
            "name": "UsSecWest",
            "value": "UsSecWest",
            "description": "UsSecWest Location for Azure"
          },
          {
            "name": "SwedenCentral",
            "value": "SwedenCentral",
            "description": "SwedenCentral Location for Azure"
          },
          {
            "name": "QatarCentral",
            "value": "QatarCentral",
            "description": "QatarCentral Location for Azure"
          },
          {
            "name": "JioIndiaWest",
            "value": "JioIndiaWest",
            "description": "JioIndiaWest Location for Azure"
          },
          {
            "name": "ItalyNorth",
            "value": "ItalyNorth",
            "description": "ItalyNorth Location for Azure"
          },
          {
            "name": "PolandCentral",
            "value": "PolandCentral",
            "description": "PolandCentral Location for Azure"
          },
          {
            "name": "IsraelCentral",
            "value": "IsraelCentral",
            "description": "IsraelCentral Location for Azure"
          },
          {
            "name": "MexicoCentral",
            "value": "MexicoCentral",
            "description": "MexicoCentral Location for Azure"
          },
          {
            "name": "NewZealandNorth",
            "value": "NewZealandNorth",
            "description": "NewZealandNorth Location for Azure"
          },
          {
            "name": "SpainCentral",
            "value": "SpainCentral",
            "description": "SpainCentral Location for Azure"
          }
        ]
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AzureWebAppTier": {
      "type": "string",
      "description": "Wep App Tier.",
      "enum": [
        "Unknown",
        "Free",
        "Shared",
        "Basic",
        "Standard",
        "Premium",
        "PremiumV2",
        "Isolated"
      ],
      "x-ms-enum": {
        "name": "AzureWebAppTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates Missing Data."
          },
          {
            "name": "Free",
            "value": "Free",
            "description": "Free Tier."
          },
          {
            "name": "Shared",
            "value": "Shared",
            "description": "Shared Tier."
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic Tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Tier."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium Tier."
          },
          {
            "name": "PremiumV2",
            "value": "PremiumV2",
            "description": "PremiumV2 Tier."
          },
          {
            "name": "Isolated",
            "value": "Isolated",
            "description": "Isolated Tier."
          }
        ]
      }
    },
    "CarbonEmissionMetric": {
      "type": "object",
      "description": "Represents a carbon emission metric and its measured value.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the emission metric."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Measured value of the emission metric."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "CarbonEmissionsDetails": {
      "type": "object",
      "description": "Carbon emission details grouped by scope.",
      "properties": {
        "scope1": {
          "type": "array",
          "description": "Scope 1 carbon emission metrics.",
          "items": {
            "$ref": "#/definitions/CarbonEmissionMetric"
          }
        },
        "scope2": {
          "type": "array",
          "description": "Scope 2 carbon emission metrics.",
          "items": {
            "$ref": "#/definitions/CarbonEmissionMetric"
          }
        },
        "scope3": {
          "type": "array",
          "description": "Scope 3 carbon emission metrics.",
          "items": {
            "$ref": "#/definitions/CarbonEmissionMetric"
          }
        }
      },
      "required": [
        "scope1",
        "scope2",
        "scope3"
      ]
    },
    "CloudSuitability": {
      "type": "string",
      "description": "Cloud Suitability for Azure.",
      "enum": [
        "Unknown",
        "NotSuitable",
        "Suitable",
        "ConditionallySuitable",
        "ReadinessUnknown"
      ],
      "x-ms-enum": {
        "name": "CloudSuitability",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates missing data."
          },
          {
            "name": "NotSuitable",
            "value": "NotSuitable",
            "description": "Not Suitable for Azure."
          },
          {
            "name": "Suitable",
            "value": "Suitable",
            "description": "Suitable for Azure."
          },
          {
            "name": "ConditionallySuitable",
            "value": "ConditionallySuitable",
            "description": "Conditionally Suitable for Azure."
          },
          {
            "name": "ReadinessUnknown",
            "value": "ReadinessUnknown",
            "description": "Unknown Readiness for Azure."
          }
        ]
      }
    },
    "CostComponent": {
      "type": "object",
      "description": "Represents an individual cost component and its value.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the cost component."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Cost value associated with the component."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "CostComponentCategory": {
      "type": "string",
      "description": "Represents the category of a cost component.",
      "enum": [
        "Unknown",
        "HardwareAcquisitionCost",
        "VirtualizationLicenseCost",
        "LinuxLicenseCost",
        "SqlLicenseCost",
        "WindowsLicenseCost",
        "EsuCosts",
        "HardwareMaintainanceCost",
        "StorageAcquisitionCost",
        "StorageMaintenanceCost",
        "NetworkAcquisitionCost",
        "NetworkMaintenanceCost",
        "FacilitiesCost",
        "SecurityCost",
        "LaborCost",
        "AzureArcMonitoringCost",
        "AzureArcPatchingCost",
        "AzureDataProtectionCost",
        "ManagementCost",
        "MonitoringServiceCost",
        "OtherDataProtectionManagementCost",
        "OtherMonitoringManagementCost",
        "OtherPatchingManagementCost",
        "PatchingServiceCost",
        "StorageBackupCost",
        "SystemCenterLicenseCost",
        "ThirdPartyManagementCost",
        "VSphereManagementCost"
      ],
      "x-ms-enum": {
        "name": "CostComponentCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown or uninitialized category."
          },
          {
            "name": "HardwareAcquisitionCost",
            "value": "HardwareAcquisitionCost",
            "description": "Hardware acquisition cost."
          },
          {
            "name": "VirtualizationLicenseCost",
            "value": "VirtualizationLicenseCost",
            "description": "Virtualization license cost."
          },
          {
            "name": "LinuxLicenseCost",
            "value": "LinuxLicenseCost",
            "description": "Linux license cost."
          },
          {
            "name": "SqlLicenseCost",
            "value": "SqlLicenseCost",
            "description": "SQL license cost."
          },
          {
            "name": "WindowsLicenseCost",
            "value": "WindowsLicenseCost",
            "description": "Windows license cost."
          },
          {
            "name": "EsuCosts",
            "value": "EsuCosts",
            "description": "ESU costs."
          },
          {
            "name": "HardwareMaintainanceCost",
            "value": "HardwareMaintainanceCost",
            "description": "Hardware maintainance cost."
          },
          {
            "name": "StorageAcquisitionCost",
            "value": "StorageAcquisitionCost",
            "description": "Storage acquisition cost."
          },
          {
            "name": "StorageMaintenanceCost",
            "value": "StorageMaintenanceCost",
            "description": "Storage maintenance cost."
          },
          {
            "name": "NetworkAcquisitionCost",
            "value": "NetworkAcquisitionCost",
            "description": "Network acquisition cost."
          },
          {
            "name": "NetworkMaintenanceCost",
            "value": "NetworkMaintenanceCost",
            "description": "Network maintenance cost."
          },
          {
            "name": "FacilitiesCost",
            "value": "FacilitiesCost",
            "description": "Facilities cost."
          },
          {
            "name": "SecurityCost",
            "value": "SecurityCost",
            "description": "Security cost."
          },
          {
            "name": "LaborCost",
            "value": "LaborCost",
            "description": "Labor cost."
          },
          {
            "name": "AzureArcMonitoringCost",
            "value": "AzureArcMonitoringCost",
            "description": "Monitoring cost in Azure Arc."
          },
          {
            "name": "AzureArcPatchingCost",
            "value": "AzureArcPatchingCost",
            "description": "Patching cost in Azure Arc."
          },
          {
            "name": "AzureDataProtectionCost",
            "value": "AzureDataProtectionCost",
            "description": "Data protection cost in Azure."
          },
          {
            "name": "ManagementCost",
            "value": "ManagementCost",
            "description": "Management cost."
          },
          {
            "name": "MonitoringServiceCost",
            "value": "MonitoringServiceCost",
            "description": "Monitoring service cost."
          },
          {
            "name": "OtherDataProtectionManagementCost",
            "value": "OtherDataProtectionManagementCost",
            "description": "Other data protection management cost."
          },
          {
            "name": "OtherMonitoringManagementCost",
            "value": "OtherMonitoringManagementCost",
            "description": "Other monitoring management cost."
          },
          {
            "name": "OtherPatchingManagementCost",
            "value": "OtherPatchingManagementCost",
            "description": "Other patching management cost."
          },
          {
            "name": "PatchingServiceCost",
            "value": "PatchingServiceCost",
            "description": "Patching service cost."
          },
          {
            "name": "StorageBackupCost",
            "value": "StorageBackupCost",
            "description": "Storage backup cost."
          },
          {
            "name": "SystemCenterLicenseCost",
            "value": "SystemCenterLicenseCost",
            "description": "System Center license cost."
          },
          {
            "name": "ThirdPartyManagementCost",
            "value": "ThirdPartyManagementCost",
            "description": "Third party management cost."
          },
          {
            "name": "VSphereManagementCost",
            "value": "VSphereManagementCost",
            "description": "VSphere management cost."
          }
        ]
      }
    },
    "CostComponentDetails": {
      "type": "object",
      "description": "Represents a breakdown of a cost component (total, capex, opex).",
      "properties": {
        "totalCost": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the total cost."
        },
        "capexCost": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the capital expenditure (CapEx) cost."
        },
        "opexCost": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the operational expenditure (OpEx) cost."
        },
        "costLineItems": {
          "type": "array",
          "description": "Gets or sets the list of cost line items.",
          "items": {
            "$ref": "#/definitions/CostLineItem"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "CostComponentType": {
      "type": "string",
      "description": "Represents the type of cost component.",
      "enum": [
        "Unknown",
        "CapexCost",
        "OpexCost"
      ],
      "x-ms-enum": {
        "name": "CostComponentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown or uninitialized cost type."
          },
          {
            "name": "CapexCost",
            "value": "CapexCost",
            "description": "Capital expenditure (CapEx) cost."
          },
          {
            "name": "OpexCost",
            "value": "OpexCost",
            "description": "Operational expenditure (OpEx) cost."
          }
        ]
      }
    },
    "CostDetailsV2": {
      "type": "object",
      "description": "The on premises cost details.",
      "properties": {
        "storageCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the storage cost."
        },
        "computeCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the compute cost."
        },
        "itLaborCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the IT labor cost."
        },
        "networkCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the network cost."
        },
        "securityCost": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the security cost (scalar). Deprecated: Use securityCostDetails instead."
        },
        "securityCostDetails": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the security cost details."
        },
        "managementCostDetails": {
          "$ref": "#/definitions/ManagementCostDetails",
          "description": "Gets or sets the management cost details (legacy format). Deprecated: Use managementCost instead."
        },
        "managementCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the management cost."
        },
        "facilitiesCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the facilities cost."
        },
        "licenseCostDetails": {
          "$ref": "#/definitions/LicenseCostDetails",
          "description": "Gets or sets the license cost details (legacy format). Deprecated: Use licensingCost instead."
        },
        "licensingCost": {
          "$ref": "#/definitions/CostComponentDetails",
          "description": "Gets or sets the licensing cost."
        }
      },
      "required": [
        "storageCost",
        "computeCost",
        "itLaborCost",
        "networkCost",
        "facilitiesCost"
      ]
    },
    "CostLineItem": {
      "type": "object",
      "description": "Represents a single line item in a cost breakdown.",
      "properties": {
        "pillar": {
          "$ref": "#/definitions/CostPillar",
          "description": "Gets or sets the pillar this cost belongs to."
        },
        "name": {
          "$ref": "#/definitions/CostComponentCategory",
          "description": "Gets or sets the name of the cost component."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the value of the cost component."
        },
        "costType": {
          "$ref": "#/definitions/CostComponentType",
          "description": "Gets or sets the type of cost (Capex or Opex)."
        }
      },
      "required": [
        "pillar",
        "name",
        "value",
        "costType"
      ]
    },
    "CostOverride": {
      "type": "object",
      "description": "A cost override entry that allows the customer to specify a custom value for a specific on-premises cost category.",
      "properties": {
        "name": {
          "$ref": "#/definitions/OnPremisesCostCategory",
          "description": "The on-premises cost category to override."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The override value for the cost category."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "CostPillar": {
      "type": "string",
      "description": "Represents the cost pillar a line item belongs to.",
      "enum": [
        "Unknown",
        "Compute",
        "Facilities",
        "ItLabor",
        "Licensing",
        "Management",
        "Network",
        "Security",
        "Storage"
      ],
      "x-ms-enum": {
        "name": "CostPillar",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown or uninitialized pillar."
          },
          {
            "name": "Compute",
            "value": "Compute",
            "description": "Compute pillar."
          },
          {
            "name": "Facilities",
            "value": "Facilities",
            "description": "Facilities pillar."
          },
          {
            "name": "ItLabor",
            "value": "ItLabor",
            "description": "IT labor pillar."
          },
          {
            "name": "Licensing",
            "value": "Licensing",
            "description": "Licensing pillar."
          },
          {
            "name": "Management",
            "value": "Management",
            "description": "Management pillar."
          },
          {
            "name": "Network",
            "value": "Network",
            "description": "Network pillar."
          },
          {
            "name": "Security",
            "value": "Security",
            "description": "Security pillar."
          },
          {
            "name": "Storage",
            "value": "Storage",
            "description": "Storage pillar."
          }
        ]
      }
    },
    "ErrorSummary": {
      "type": "object",
      "description": "Error summary containing affected entities for each type of assessment.",
      "properties": {
        "assessmentType": {
          "type": "string",
          "description": "Gets the assessment type.",
          "readOnly": true
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the affected entity count.",
          "readOnly": true
        }
      }
    },
    "HyperVLicenseType": {
      "type": "string",
      "description": "HyperV license types",
      "enum": [
        "Datacentre",
        "Standard"
      ],
      "x-ms-enum": {
        "name": "HyperVLicenseType",
        "modelAsString": true,
        "values": [
          {
            "name": "Datacentre",
            "value": "Datacentre",
            "description": "Datacentre license"
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard license"
          }
        ]
      }
    },
    "HyperVirtualizationLicense": {
      "type": "object",
      "description": "HyperV license information",
      "properties": {
        "licenseCost": {
          "type": "number",
          "format": "float",
          "description": "License cost"
        },
        "basicSupportCost": {
          "type": "number",
          "format": "float",
          "description": "Basic support cost"
        },
        "productionSupportCost": {
          "type": "number",
          "format": "float",
          "description": "Production support cost"
        },
        "licenseType": {
          "$ref": "#/definitions/HyperVLicenseType",
          "description": "Type of HyperV license"
        }
      }
    },
    "LicenseAndSupportInfo": {
      "type": "object",
      "description": "License and support cost information.",
      "properties": {
        "licenseType": {
          "type": "string",
          "description": "Type of license."
        },
        "licenseCost": {
          "type": "number",
          "format": "double",
          "description": "Cost of the license."
        },
        "basicSupportCost": {
          "type": "number",
          "format": "double",
          "description": "Basic support cost."
        },
        "productionSupportCost": {
          "type": "number",
          "format": "double",
          "description": "Production support cost."
        }
      },
      "required": [
        "licenseType",
        "licenseCost"
      ]
    },
    "LicenseCostDetails": {
      "type": "object",
      "description": "License-related cost details for on-premises workloads.",
      "properties": {
        "licenseCost": {
          "type": "number",
          "format": "double",
          "description": "Total license cost."
        },
        "licenseCostComponents": {
          "type": "array",
          "description": "Breakdown of individual license cost components.",
          "items": {
            "$ref": "#/definitions/CostComponent"
          }
        }
      },
      "required": [
        "licenseCost",
        "licenseCostComponents"
      ]
    },
    "LicenseType": {
      "type": "string",
      "description": "VSphere license types",
      "enum": [
        "VSphereStandard",
        "VSphereEnterprisePlus",
        "VSphereServerStandard"
      ],
      "x-ms-enum": {
        "name": "LicenseType",
        "modelAsString": true,
        "values": [
          {
            "name": "VSphereStandard",
            "value": "VSphereStandard",
            "description": "VSphere Standard"
          },
          {
            "name": "VSphereEnterprisePlus",
            "value": "VSphereEnterprisePlus",
            "description": "VSphere Enterprise Plus"
          },
          {
            "name": "VSphereServerStandard",
            "value": "VSphereServerStandard",
            "description": "VSphere Server Standard"
          }
        ]
      }
    },
    "LicensingProgram": {
      "type": "string",
      "description": "The licensing program.",
      "enum": [
        "Retail",
        "Unknown",
        "EA",
        "MCA"
      ],
      "x-ms-enum": {
        "name": "LicensingProgram",
        "modelAsString": true,
        "values": [
          {
            "name": "Retail",
            "value": "Retail",
            "description": "Retail/Pay as you go."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Not known"
          },
          {
            "name": "EA",
            "value": "EA",
            "description": "Enterprise agreement."
          },
          {
            "name": "MCA",
            "value": "MCA",
            "description": "Microsoft customer agreement."
          }
        ]
      }
    },
    "LinuxServerLicensingSetting": {
      "type": "object",
      "description": "Licensing information for a Linux server.",
      "properties": {
        "licenseCost": {
          "type": "number",
          "format": "float",
          "description": "Cost of the Linux server license."
        }
      },
      "required": [
        "licenseCost"
      ]
    },
    "MachineComputeSettings": {
      "type": "object",
      "description": "Compute configuration and licensing settings for an on-premises machine.",
      "properties": {
        "hyperthreadCoreToMemoryRatio": {
          "type": "number",
          "format": "float",
          "description": "Ratio of hyperthreaded CPU cores to memory."
        },
        "price": {
          "type": "number",
          "format": "float",
          "description": "Base price of compute resources."
        },
        "windowsServerLicensing": {
          "$ref": "#/definitions/WindowsServerLicensingSetting",
          "description": "Windows Server licensing configuration."
        },
        "rhelLinuxServerLicensing": {
          "$ref": "#/definitions/LinuxServerLicensingSetting",
          "description": "RHEL Linux Server licensing configuration."
        },
        "suseLinuxServerLicensing": {
          "$ref": "#/definitions/LinuxServerLicensingSetting",
          "description": "SUSE Linux Server licensing configuration."
        },
        "virtualizationSoftwareSettings": {
          "$ref": "#/definitions/VirtualizationSoftwareSettings",
          "description": "Virtualization software configuration and licensing details."
        },
        "computeHardwareMaintenanceCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Annual compute hardware maintenance cost as a percentage."
        },
        "vmOversubscriptionRatio": {
          "type": "number",
          "format": "float",
          "description": "Virtual machine oversubscription ratio."
        },
        "cpuOversubscriptionRatio": {
          "type": "number",
          "format": "float",
          "description": "CPU oversubscription ratio."
        }
      }
    },
    "MachineFacilitySettings": {
      "type": "object",
      "description": "Facility-related configuration and cost settings.",
      "properties": {
        "facilitiesCost": {
          "type": "number",
          "format": "double",
          "description": "Total facilities-related cost."
        },
        "powerUtilizationEfficiency": {
          "type": "number",
          "format": "float",
          "description": "Power utilization efficiency of the facility."
        },
        "facilitiesCostPerKwh": {
          "type": "number",
          "format": "float",
          "description": "Facilities cost per kilowatt-hour."
        }
      }
    },
    "MachineLaborSettings": {
      "type": "object",
      "description": "Labor-related configuration and cost settings.",
      "properties": {
        "physicalServersPerAdmin": {
          "type": "integer",
          "format": "int32",
          "description": "Number of physical servers managed per administrator."
        },
        "virtualMachinesPerAdmin": {
          "type": "integer",
          "format": "int32",
          "description": "Number of virtual machines managed per administrator."
        },
        "hourlyAdminCost": {
          "type": "number",
          "format": "float",
          "description": "Hourly cost of an administrator."
        }
      }
    },
    "MachineManagementSettings": {
      "type": "object",
[...]
