{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2018-06-30",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/python2Packages/{packageName}": {
      "delete": {
        "tags": [
          "Python2Package"
        ],
        "operationId": "Python2Package_Delete",
        "description": "Delete the python 2 package by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Delete a python 2 package": {
            "$ref": "./examples/deletePython2Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The python package name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Python2Package"
        ],
        "operationId": "Python2Package_Get",
        "description": "Retrieve the python 2 package identified by package name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Get a python 2 package": {
            "$ref": "./examples/getPython2Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The python package name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/v1/schemas.json#/definitions/Module"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Python2Package"
        ],
        "operationId": "Python2Package_CreateOrUpdate",
        "description": "Create or Update the python 2 package identified by package name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Create or update a python 2 package": {
            "$ref": "./examples/createOrUpdatePython2Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of python package."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PythonPackageCreateParameters"
            },
            "description": "The create or update parameters for python package."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "../../common/v1/schemas.json#/definitions/Module"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/v1/schemas.json#/definitions/Module"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Python2Package"
        ],
        "operationId": "Python2Package_Update",
        "description": "Update the python 2 package identified by package name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Update a module": {
            "$ref": "./examples/updatePython2Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of python package."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PythonPackageUpdateParameters"
            },
            "description": "The update parameters for python package."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/v1/schemas.json#/definitions/Module"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/python2Packages": {
      "get": {
        "tags": [
          "Python2Package"
        ],
        "operationId": "Python2Package_ListByAutomationAccount",
        "description": "Retrieve a list of python 2 packages.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "List python 2 packages by automation account": {
            "$ref": "./examples/listPython2PackagesByAutomationAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/v1/schemas.json#/definitions/ModuleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PythonPackageCreateProperties": {
      "properties": {
        "contentLink": {
          "$ref": "../../common/v1/schemas.json#/definitions/ContentLink",
          "description": "Gets or sets the module content link."
        }
      },
      "required": [
        "contentLink"
      ],
      "description": "The parameters supplied to the create or update module properties."
    },
    "PythonPackageCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/PythonPackageCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module create properties."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update module operation."
    },
    "PythonPackageUpdateParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update module operation."
    }
  },
  "parameters": {}
}
