{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/plain",
    "text/powershell",
    "application/graph-runbook",
    "application/octet-stream"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    
    
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentLink": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "DscConfigurationParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the configuration parameter type."
    },
    "DscConfigurationProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the configuration.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationProvisioningState",
            "modelAsString": false
          }
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the configuration."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DscConfigurationParameter"
          },
          "description": "Gets or sets the configuration parameters."
        },
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the configuration.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "DscConfigurationState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "nodeConfigurationCount": {
          "type": "integer",
          "description": "Gets the number of compiled node configurations.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the configuration property type."
    },
    "DscConfiguration": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the configuration properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
        }
      ],
      "description": "Definition of the configuration type."
    },
    "DscConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscConfiguration"
          },
          "description": "Gets or sets a list of configurations."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        },
        "totalCount": {
          "type": "integer",
          "description": "Gets the total number of configurations matching filter criteria."
        }
      },
      "description": "The response model for the list configuration operation."
    },
    "DscConfigurationCreateOrUpdateProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DscConfigurationParameter"
          },
          "description": "Gets or sets the configuration parameters."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the configuration."
        }
      },
      "required": [
        "source"
      ],
      "description": "The properties to create or update configuration."
    },
    "DscConfigurationCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscConfigurationCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets configuration create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update configuration operation."
    },
    "DscConfigurationUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscConfigurationCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets configuration create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the create or update configuration operation."
    },
    
    "DscNodeExtensionHandlerAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the extension handler."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the extension handler."
        }
      },
      "description": "The dsc extensionHandler property associated with the node"
    },
   
    
    
    
    
    
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    
    "ScheduleAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        }
      },
      "description": "The schedule property associated with the entity."
    },
    "JobScheduleCreateProperties": {
      "properties": {
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of job properties."
        }
      },
      "required": [
        "schedule",
        "runbook"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    },
    "JobScheduleCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobScheduleCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of job schedule properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    },
    "JobScheduleProperties": {
      "properties": {
        "jobScheduleId": {
          "type": "string",
          "description": "Gets or sets the id of job schedule."
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job schedule."
        }
      },
      "description": "Definition of job schedule parameters."
    },
    "JobSchedule": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name of the variable."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        },
        "properties": {
          "$ref": "#/definitions/JobScheduleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the job schedule."
        }
      },
      "description": "Definition of the job schedule."
    },
    "JobScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobSchedule"
          },
          "description": "Gets or sets a list of job schedules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job schedule operation."
    },
    "JobProvisioningStateProperty": {
      "readOnly": true,
      "type": "string",
      "description": "The provisioning state of the resource.",	
      "enum": [	
        "Failed",	
        "Succeeded",	
        "Suspended",	
        "Processing"	
      ],	
      "x-ms-enum": {	
        "name": "JobProvisioningState",	
        "modelAsString": true	
      }
    },
    
    "RunbookParameter": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate whether the parameter is madatory or not."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "description": "Get or sets the position of the parameter."
        },
        "defaultValue": {
          "type": "string",
          "description": "Gets or sets the default value of parameter."
        }
      },
      "description": "Definition of the runbook parameter type."
    },
    "RunbookDraft": {
      "properties": {
        "inEdit": {
          "type": "boolean",
          "description": "Gets or sets whether runbook is in edit mode."
        },
        "draftContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the draft runbook content link."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the runbook draft.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the runbook draft.",
          "x-nullable": false
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook draft parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        }
      },
      "description": "Definition of the runbook type."
    },
    "RunbookDraftUndoEditResult": {
      "properties": {
        "statusCode": {
          "type": "string",
          "enum": [
            "Continue",
            "SwitchingProtocols",
            "OK",
            "Created",
            "Accepted",
            "NonAuthoritativeInformation",
            "NoContent",
            "ResetContent",
            "PartialContent",
            "MultipleChoices",
            "Ambiguous",
            "MovedPermanently",
            "Moved",
            "Found",
            "Redirect",
            "SeeOther",
            "RedirectMethod",
            "NotModified",
            "UseProxy",
            "Unused",
            "TemporaryRedirect",
            "RedirectKeepVerb",
            "BadRequest",
            "Unauthorized",
            "PaymentRequired",
            "Forbidden",
            "NotFound",
            "MethodNotAllowed",
            "NotAcceptable",
            "ProxyAuthenticationRequired",
            "RequestTimeout",
            "Conflict",
            "Gone",
            "LengthRequired",
            "PreconditionFailed",
            "RequestEntityTooLarge",
            "RequestUriTooLong",
            "UnsupportedMediaType",
            "RequestedRangeNotSatisfiable",
            "ExpectationFailed",
            "UpgradeRequired",
            "InternalServerError",
            "NotImplemented",
            "BadGateway",
            "ServiceUnavailable",
            "GatewayTimeout",
            "HttpVersionNotSupported"
          ],
          "x-ms-enum": {
            "name": "HttpStatusCode",
            "modelAsString": false
          }
        },
        "requestId": {
          "type": "string"
        }
      },
      "description": "The response model for the undoedit runbook operation."
    },
    "RunbookCreateOrUpdateProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType"
      ],
      "description": "The parameters supplied to the create or update runbook properties."
    },
    "RunbookCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets runbook create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "RunbookCreateOrUpdateDraftProperties": {
      "properties": {
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "required": [
        "runbookType",
        "draft"
      ],
      "description": "The parameters supplied to the create or update dratft runbook properties."
    },
    "RunbookCreateOrUpdateDraftParameters": {
      "properties": {
        "runbookContent": {
          "type": "string",
          "description": "Content of the Runbook."
        }
      },
      "x-ms-client-flatten": true,
      "required": [
        "runbookContent"
      ],
      "description": "The parameters supplied to the create or update runbook operation."
    },
    "RunbookUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the runbook."
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity-level tracing options of the runbook."
        }
      },
      "description": "The parameters supplied to the update runbook properties."
    },
    "RunbookUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update runbook operation."
    },
    "RunbookProperties": {
      "properties": {
        "runbookType": {
          "type": "string",
          "description": "Gets or sets the type of the runbook.",
          "enum": [
            "Script",
            "Graph",
            "PowerShellWorkflow",
            "PowerShell",
            "GraphPowerShellWorkflow",
            "GraphPowerShell"
          ],
          "x-ms-enum": {
            "name": "RunbookTypeEnum",
            "modelAsString": true
          }
        },
        "publishContentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the published runbook content link."
        },
        "state": {
          "type": "string",
          "description": "Gets or sets the state of the runbook.",
          "enum": [
            "New",
            "Edit",
            "Published"
          ],
          "x-ms-enum": {
            "name": "RunbookState",
            "modelAsString": true
          }
        },
        "logVerbose": {
          "type": "boolean",
          "description": "Gets or sets verbose log option."
        },
        "logProgress": {
          "type": "boolean",
          "description": "Gets or sets progress log option."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the option to log activity trace of the runbook."
        },
        "jobCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the job count of the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RunbookParameter"
          },
          "description": "Gets or sets the runbook parameters."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the runbook output types."
        },
        "draft": {
          "$ref": "#/definitions/RunbookDraft",
          "description": "Gets or sets the draft runbook properties."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the runbook.",
          "enum": [
            "Succeeded"
          ],
          "x-ms-enum": {
            "name": "RunbookProvisioningState",
            "modelAsString": false
          }
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Gets or sets the last modified by."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the runbook property type."
    },
    "Runbook": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunbookProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the runbook properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
        }
      ],
      "description": "Definition of the runbook type."
    },
    "RunbookListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Runbook"
          },
          "description": "Gets or sets a list of runbooks."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list runbook operation."
    },"RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "scheduleFrequency": {
      "type": "string",
      "description": "Gets or sets the frequency of the schedule.",
      "enum": [
        "OneTime",
        "Day",
        "Hour",
        "Week",
        "Month"
      ],
      "x-ms-enum": {
        "name": "ScheduleFrequency",
        "modelAsString": true
      }
    },
    "ScheduleProperties": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the schedule.",
          "x-nullable": false
        },
        "startTimeOffsetMinutes": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets the start time's offset in minutes.",
          "x-nullable": false
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the schedule.",
          "x-nullable": true
        },
        "expiryTimeOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the expiry time's offset in minutes.",
          "x-nullable": false
        },
        "isEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Gets or sets a value indicating whether this schedule is enabled."
        },
        "nextRun": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the next run time of the schedule.",
          "x-nullable": true
        },
        "nextRunOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the next run time's offset in minutes.",
          "x-nullable": false
        },
        "interval": {
          "description": "Gets or sets the interval of the schedule."
        },
        "frequency": {
          "type": "string",
          "description": "Gets or sets the frequency of the schedule.",
          "enum": [
            "OneTime",
            "Day",
            "Hour",
            "Week",
            "Month"
          ],
          "x-ms-enum": {
            "name": "ScheduleFrequency",
            "modelAsString": true
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone of the schedule."
        },
        "advancedSchedule": {
          "$ref": "#/definitions/AdvancedSchedule",
          "description": "Gets or sets the advanced schedule."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of schedule parameters."
    },    
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "description": "The Sub Resource definition.",
      "x-ms-azure-resource": true
    },
    "TestJobCreateParameters": {
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        }
      },
      "description": "The parameters supplied to the create test job operation."
    },
    "TestJob": {
      "x-ms-mutability": [
        "read",
        "create"
      ],
      "properties": {
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the test job.",
          "x-nullable": false
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the test job."
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the test job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the test job.",
          "x-nullable": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the test job.",
          "x-nullable": true
        },
        "exception": {
          "type": "string",
          "description": "Gets or sets the exception of the test job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the test job.",
          "x-nullable": false
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last status modified time of the test job.",
          "x-nullable": true
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the test job."
        },
        "logActivityTrace": {
          "type": "integer",
          "format": "int32",
          "description": "The activity-level tracing options of the runbook."
        }
      },
      "description": "Definition of the test job."
    }
  },
  "parameters": {
    }
  }
