{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation": {
      "get": {
        "tags": [
          "AgentRegistrationInformation"
        ],
        "operationId": "AgentRegistrationInformation_Get",
        "description": "Retrieve the automation agent registration information.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "x-ms-examples": {
          "Get Agent Registration Information": {
            "$ref": "./examples/getAgentRegistrationInformation.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/AgentRegistration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey": {
      "post": {
        "tags": [
          "AgentRegistrationInformation"
        ],
        "operationId": "AgentRegistrationInformation_RegenerateKey",
        "description": "Regenerate a primary or secondary agent registration key",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "x-ms-examples": {
          "Regenerate the Primary Agent Registration Key": {
            "$ref": "./examples/regenerateAgentRegistrationKey.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/AgentRegistrationRegenerateKeyParameter"
            },
            "description": "The name of the agent registration key to be regenerated"
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/AgentRegistration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}": {
      "delete": {
        "tags": [
          "DscNode"
        ],
        "operationId": "DscNode_Delete",
        "description": "Delete the dsc node identified by node id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "x-ms-examples": {
          "Delete a DSC Node": {
            "$ref": "./examples/deleteDscNode.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNode"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DscNode"
        ],
        "operationId": "DscNode_Get",
        "description": "Retrieve the dsc node identified by node id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "x-ms-examples": {
          "Get a node": {
            "$ref": "./examples/getDscNode.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNode"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DscNode"
        ],
        "operationId": "DscNode_Update",
        "description": "Update the dsc node.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "x-ms-examples": {
          "Update a node": {
            "$ref": "./examples/updateDscNode.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Parameters supplied to the update dsc node."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/DscNodeUpdateParameters"
            },
            "description": "Parameters supplied to the update dsc node."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNode"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes": {
      "get": {
        "tags": [
          "DscNode"
        ],
        "operationId": "DscNode_ListByAutomationAccount",
        "description": "Retrieve a list of dsc nodes.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "x-ms-examples": {
          "List DSC nodes by Automation Account": {
            "$ref": "./examples/listAllDscNodesByAutomationAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_ListByNode",
        "description": "Retrieve the Dsc node report list by node id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "$ref": "./examples/listDscNodeReportsByNode.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the list operation."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscNodeReportListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_Get",
        "description": "Retrieve the Dsc node report data by node id and report id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "Get Dsc node report data by node id and report id. ": {
            "$ref": "./examples/getDscNodeReport.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node id."
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The report id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscNodeReport"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}/content": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_GetContent",
        "description": "Retrieve the Dsc node reports by node id and report id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "$ref": "./examples/listDscNodeReportsByNode.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node id."
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The report id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DscNode": {
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node."
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node."
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "$ref": "./definitions.json#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        },
        "extensionHandler": {
          "type": "array",
          "description": "Gets or sets the list of extensionHandler properties for a Node.",
          "items": {
            "$ref": "./definitions.json#/definitions/DscNodeExtensionHandlerAssociationProperty"
          }
        }
      },
      "allOf": [
        {
          "$ref": "./definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the dsc node type."
    },
    "DscNodeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNode"
          },
          "description": "Gets or sets a list of dsc nodes."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    }
  },
  "parameters": {}
}
