{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}": {
      "delete": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_Delete",
        "description": "Delete the Dsc node configurations by node configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "Delete a DSC node configuration": {
            "$ref": "./examples/deleteDscNodeConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node configuration name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_Get",
        "description": "Retrieve the Dsc node configurations by node configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "Get a DSC node configuration": {
            "$ref": "./examples/getDscNodeConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node configuration name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_CreateOrUpdate",
        "description": "Create the node configuration identified by node configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "Get a DSC node configuration": {
            "$ref": "./examples/createOrUpdateDscNodeConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The create or update parameters for configuration."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DscNodeConfigurationCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for configuration."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations": {
      "get": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_ListByAutomationAccount",
        "description": "Retrieve a list of dsc node configurations.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "List DSC node configurations by Automation Account": {
            "$ref": "./examples/listDscNodeConfigurations.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfigurationListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DscNodeConfiguration": {
      "properties": {
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets creation time.",
          "x-nullable": false
        },
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the dsc node configuration."
    },
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "DscNodeConfigurationCreateOrUpdateParameters": {
      "properties": {
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "name": {
          "type": "string",
          "description": "Name of the node configuration."
        },
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "incrementNodeConfigurationBuild": {
          "type": "boolean",
          "description": "If a new build version of NodeConfiguration is required."
        }
      },
      "required": [
        "source",
        "name",
        "configuration"
      ],
      "description": "The parameters supplied to the create or update node configuration operation."
    },
    "DscNodeConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeConfiguration"
          },
          "description": "Gets or sets a list of Dsc node configurations."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    },
    "DscConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the Dsc configuration."
        }
      },
      "description": "The Dsc configuration property associated with the entity."
    }
  },
  "parameters": {}
}
