{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}": {
      "delete": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_Delete",
        "description": "Delete the Dsc node configurations by node configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "Delete a DSC node configuration": {
            "$ref": "./examples/deleteDscNodeConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node configuration name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_Get",
        "description": "Retrieve the Dsc node configurations by node configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "Get a DSC node configuration": {
            "$ref": "./examples/getDscNodeConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node configuration name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_CreateOrUpdate",
        "description": "Create the node configuration identified by node configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "Get a DSC node configuration": {
            "$ref": "./examples/createOrUpdateDscNodeConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The create or update parameters for configuration."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/DscNodeConfigurationCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for configuration."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfiguration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations": {
      "get": {
        "tags": [
          "DscNodeConfiguration"
        ],
        "operationId": "DscNodeConfiguration_ListByAutomationAccount",
        "description": "Retrieve a list of dsc node configurations.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeconfigurations"
        },
        "x-ms-examples": {
          "List DSC node configurations by Automation Account": {
            "$ref": "./examples/listDscNodeConfigurations.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNodeConfigurationListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DscNodeConfiguration": {
      "properties": {
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets creation time."
        },
        "configuration": {
          "$ref": "./definitions.json#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        }
      },
      "allOf": [
        {
          "$ref": "./definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the dsc node configuration."
    },
    "DscNodeConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeConfiguration"
          },
          "description": "Gets or sets a list of Dsc node configurations."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    }
  },
  "parameters": {}
}
