{
    "swagger": "2.0",
    "info": {
      "title": "AutomationManagement",
      "version": "2015-10-31",
      "x-ms-code-generation-settings": {  
        "useDateTimeOffset": true
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}": {
            "put": {
                "tags": [
                  "Watcher"
                ],
                "operationId": "Watcher_CreateOrUpdate",
                "description": "Create the watcher identified by watcher name.",
                "externalDocs": {
                  "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                  "Create or update watcher": {
                    "$ref": "./examples/createOrUpdateWatcher.json"
                  }
                },
                "parameters": [
                  {
                    "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                  },
                  {
                    "name": "automationAccountName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The automation account name."
                  },
                  {
                    "name": "watcherName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The watcher name."
                  },
                  {
                    "name": "parameters",
                    "in": "body",
                    "required": true,
                    "schema": {
                      "$ref": "./definitions.json#/definitions/WatcherCreateOrUpdateParameters"
                    },
                    "description": "The create or update parameters for watcher."
                  },
                  {
                    "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                  },
                  {
                    "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                  }
                ],
                "responses": {
                  "200": {
                    "description": "OK",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/Watcher"
                    }
                  },
                  "201": {
                    "description": "Created",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/Watcher"
                    }
                  },
                  "default": {
                    "description": "Automation error response describing why the operation failed.",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/ErrorResponse"
                    }
                  }
                }
              },
              "get": {
                "tags": [
                  "Watcher"
                ],
                "operationId": "Watcher_Get",
                "description": "Retrieve the watcher identified by watcher name.",
                "externalDocs": {
                  "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                  "Get watcher": {
                    "$ref": "./examples/getWatcher.json"
                  }
                },
                "parameters": [
                  {
                    "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                  },
                  {
                    "name": "automationAccountName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The automation account name."
                  },
                  {
                    "name": "watcherName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The watcher name."
                  },
                  {
                    "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                  },
                  {
                    "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                  }
                ],
                "responses": {
                  "200": {
                    "description": "OK",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/Watcher"
                    }
                  },
                  "default": {
                    "description": "Automation error response describing why the operation failed.",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/ErrorResponse"
                    }
                  }
                }
              },
              "patch": {
                "tags": [
                  "Watcher"
                ],
                "operationId": "Watcher_Update",
                "description": "Update the watcher identified by watcher name.",
                "externalDocs": {
                  "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                  "Update watcher": {
                    "$ref": "./examples/updateWatcher.json"
                  }
                },
                "parameters": [
                  {
                    "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                  },
                  {
                    "name": "automationAccountName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The automation account name."
                  },
                  {
                    "name": "watcherName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The watcher name."
                  },
                  {
                    "name": "parameters",
                    "in": "body",
                    "required": true,
                    "schema": {
                      "$ref": "./definitions.json#/definitions/WatcherUpdateParameters"
                    },
                    "description": "The update parameters for watcher."
                  },
                  {
                    "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                  },
                  {
                    "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                  }
                ],
                "responses": {
                  "200": {
                    "description": "OK",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/Watcher"
                    }
                  },
                  "default": {
                    "description": "Automation error response describing why the operation failed.",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/ErrorResponse"
                    }
                  }
                }
              },
              "delete": {
                "tags": [
                  "Watcher"
                ],
                "operationId": "Watcher_Delete",
                "description": "Delete the watcher by name.",
                "externalDocs": {
                  "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                  "Delete watcher": {
                    "$ref": "./examples/deleteWatcher.json"
                  }
                },
                "parameters": [
                  {
                    "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                  },
                  {
                    "name": "automationAccountName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The automation account name."
                  },
                  {
                    "name": "watcherName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The watcher name."
                  },
                  {
                    "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                  },
                  {
                    "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                  }
                ],
                "responses": {
                  "200": {
                    "description": "OK"
                  },
                  "default": {
                    "description": "Automation error response describing why the operation failed.",
                    "schema": {
                      "$ref": "./definitions.json#/definitions/ErrorResponse"
                    }
                  }
                }
              }
            },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/start": {
            "post": {
                "tags": [
                "Watcher"
                ],
                "operationId": "Watcher_Start",
                "description": "Resume the watcher identified by watcher name.",
                "externalDocs": {
                "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                "Start Watcher": {
                    "$ref": "./examples/startWatcher.json"
                }
                },
                "parameters": [
                {
                    "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                },
                {
                    "name": "automationAccountName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The automation account name."
                },
                {
                    "name": "watcherName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The watcher name."
                },
                {
                    "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                }
                ],
                "responses": {
                "200": {
                    "description": "OK"
                },
                "default": {
                    "description": "Automation error response describing why the operation failed.",
                    "schema": {
                    "$ref": "./definitions.json#/definitions/ErrorResponse"
                    }
                }
                }
            }
            },
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers/{watcherName}/stop": {
            "post": {
                "tags": [
                "Watcher"
                ],
                "operationId": "Watcher_Stop",
                "description": "Resume the watcher identified by watcher name.",
                "externalDocs": {
                "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                    "Start Watcher": {
                        "$ref": "./examples/stopWatcher.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "name": "automationAccountName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The automation account name."
                    },
                    {
                        "name": "watcherName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The watcher name."
                    },
                    {
                        "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "schema": {
                        "$ref": "./definitions.json#/definitions/ErrorResponse"
                        }
                    }
                }
            }
            },
            "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/watchers": {
            "get": {
                "tags": [
                "Watcher"
                ],
                "operationId": "Watcher_ListByAutomationAccount",
                "description": "Retrieve a list of watchers.",
                "externalDocs": {
                "url": "http://aka.ms/azureautomationsdk/watcheroperations"
                },
                "x-ms-examples": {
                "List watchers by Automation Account": {
                    "$ref": "./examples/listWatchersByAutomationAccount.json"
                }
                },
                "parameters": [
                {
                    "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
                },
                {
                    "name": "automationAccountName",
                    "in": "path",
                    "required": true,
                    "type": "string",
                    "description": "The automation account name."
                },
                {
                    "name": "$filter",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "description": "The filter to apply on the operation."
                },
                {
                    "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
                },
                {
                    "$ref": "./definitions.json#/parameters/ApiVersionParameter"
                }
                ],
                "responses": {
                "200": {
                    "description": "OK",
                    "schema": {
                    "$ref": "./definitions.json#/definitions/WatcherListResult"
                    }
                },
                "default": {
                    "description": "Automation error response describing why the operation failed.",
                    "schema": {
                    "$ref": "./definitions.json#/definitions/ErrorResponse"
                    }
                }
                },
                "x-ms-pageable": {
                "nextLinkName": "nextLink"
                },
                "x-ms-odata": "./definitions.json#/definitions/Watcher"
            }
        }
    },
    "definitions": {},
    "parameters": {}
}
