{
  "swagger": "2.0",
  "info": {
    "title": "PostgreSQLServerManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.",
    "version": "2024-11-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningOptions_Get",
        "x-ms-examples": {
          "TuningOptions_Get": {
            "$ref": "./examples/Tuning_GetTuningOption.json"
          }
        },
        "description": "Retrieve the tuning option on a server.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TuningOptionsResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/recommendations": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningOptions_ListRecommendations",
        "x-ms-examples": {
          "TuningOptions_ListRecommendations": {
            "$ref": "./examples/Tuning_GetRecommendedIndexes.json"
          },
          "TuningOptions_ListFilteredRecommendations": {
            "$ref": "./examples/Tuning_GetFilteredRecommendedIndexes.json"
          }
        },
        "description": "Retrieve the list of available tuning index recommendations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          },
          {
            "$ref": "#/parameters/RecommendationTypeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndexRecommendationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningOptions_ListByServer",
        "x-ms-examples": {
          "TuningOptions_ListByServer": {
            "$ref": "./examples/Tuning_ListTuningOptions.json"
          }
        },
        "description": "Retrieve the list of available tuning options.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TuningOptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ImpactRecord": {
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Dimension name"
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit"
        },
        "queryId": {
          "type": "integer",
          "format": "int64",
          "description": "Optional property that can be used to store the QueryId if the metric is for a specific query."
        },
        "absoluteValue": {
          "type": "number",
          "format": "double",
          "description": "Absolute value"
        }
      },
      "description": "Stores property that features impact on some metric if this recommended action is applied."
    },
    "IndexRecommendationDetails": {
      "type": "object",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Database name."
        },
        "schema": {
          "type": "string",
          "description": "Schema name."
        },
        "table": {
          "type": "string",
          "description": "Table name."
        },
        "indexType": {
          "type": "string",
          "description": "Index type."
        },
        "indexName": {
          "type": "string",
          "description": "Index name."
        },
        "indexColumns": {
          "type": "string",
          "description": "Index columns. These will be semi-column separated."
        }
      },
      "description": "Recommendation details for the recommended action."
    },
    "IndexRecommendationResourceProperties": {
      "type": "object",
      "properties": {
        "initialRecommendedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time of this recommendation in UTC date-time string format."
        },
        "lastRecommendedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last refresh of this recommendation in UTC date-time string format."
        },
        "timesRecommended": {
          "format": "int32",
          "type": "integer",
          "description": "The number of times this recommendation has encountered."
        },
        "improvedQueryIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          },
          "description": "The ImprovedQueryIds. The list will only be populated for CREATE INDEX recommendations."
        },
        "recommendationReason": {
          "type": "string",
          "description": "Reason for this recommendation."
        },
        "recommendationType": {
          "type": "string",
          "enum": [
            "CreateIndex",
            "DropIndex"
          ],
          "x-ms-enum": {
            "name": "RecommendationTypeEnum",
            "modelAsString": true
          },
          "description": "Type for this recommendation."
        },
        "implementationDetails": {
          "type": "object",
          "properties": {
            "method": {
              "type": "string",
              "description": "Method of implementation for recommended action"
            },
            "script": {
              "type": "string",
              "description": "Implementation script for the recommended action"
            }
          },
          "description": "Stores implementation details for the recommended action."
        },
        "analyzedWorkload": {
          "type": "object",
          "properties": {
            "startTime": {
              "type": "string",
              "format": "date-time",
              "description": "Workload start time in UTC date-time string format."
            },
            "endTime": {
              "type": "string",
              "format": "date-time",
              "description": "Workload end time in UTC date-time string format."
            },
            "queryCount": {
              "format": "int32",
              "type": "integer",
              "description": "Workload query examined count. For DROP INDEX will be 0."
            }
          },
          "description": "Stores workload information for the recommended action."
        },
        "estimatedImpact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImpactRecord"
          },
          "x-ms-identifiers": [
            "dimensionName"
          ],
          "readOnly": true,
          "description": "The estimated impact of this recommended action"
        },
        "details": {
          "$ref": "#/definitions/IndexRecommendationDetails",
          "description": "Stores recommendation details for the recommended action."
        }
      },
      "description": "Index recommendation properties."
    },
    "IndexRecommendationResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IndexRecommendationResourceProperties",
          "x-ms-client-flatten": true,
          "description": "Properties of IndexRecommendationResource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Index recommendation properties."
    },
    "IndexRecommendationListResult": {
      "description": "A list of available index recommendations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of available index recommendations.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndexRecommendationResource"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "TuningOptionsResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Stores property that features impact on some metric if this recommended action is applied."
    },
    "TuningOptionsListResult": {
      "description": "A list of server tuning options.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of available tuning options.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TuningOptionsResource"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "TuningOptionParameter": {
      "name": "tuningOption",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "index"
      ],
      "description": "The name of the tuning option.",
      "x-ms-enum": {
        "name": "TuningOptionEnum",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method"
    },
    "RecommendationTypeParameter": {
      "name": "$recommendationType",
      "in": "query",
      "required": false,
      "type": "string",
      "enum": [
        "CreateIndex",
        "DropIndex"
      ],
      "description": "Recommendations list filter. Retrieves recommendations based on type.",
      "x-ms-enum": {
        "name": "RecommendationType",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method"
    }
  }
}
