{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2025-12-01-preview",
    "description": "Azure Stack HCI service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "KubernetesVersions"
    },
    {
      "name": "PlatformUpdates"
    },
    {
      "name": "OsImages"
    },
    {
      "name": "UpdateContents"
    },
    {
      "name": "Operations"
    },
    {
      "name": "EdgeMachines"
    },
    {
      "name": "EdgeMachineJobs"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureStackHCI/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/edgeMachines": {
      "get": {
        "operationId": "EdgeMachines_ListBySubscription",
        "tags": [
          "EdgeMachines"
        ],
        "description": "List all edge machines in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List edge machines in a given subscription": {
            "$ref": "./examples/EdgeMachines_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/kubernetesVersions": {
      "get": {
        "operationId": "KubernetesVersions_ListBySubscriptionLocationResource",
        "tags": [
          "KubernetesVersions"
        ],
        "description": "List all kubernetes versions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KubernetesVersions_ListBySubscriptionLocationResource_MaximumSet": {
            "$ref": "./examples/KubernetesVersions_ListBySubscriptionLocationResource_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/osImages": {
      "get": {
        "operationId": "OsImages_ListBySubscriptionLocationResource",
        "tags": [
          "OsImages"
        ],
        "description": "List all os images.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OsImageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OsImages_ListBySubscriptionLocationResource_MaximumSet": {
            "$ref": "./examples/OsImages_ListBySubscriptionLocationResource_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/osImages/{osImageName}": {
      "get": {
        "operationId": "OsImages_Get",
        "tags": [
          "OsImages"
        ],
        "description": "Get a os image.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "osImageName",
            "in": "path",
            "description": "The name of the OsImage",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OsImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OsImages_Get_MaximumSet": {
            "$ref": "./examples/OsImages_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/platformUpdates": {
      "get": {
        "operationId": "PlatformUpdates_List",
        "tags": [
          "PlatformUpdates"
        ],
        "description": "List all platform updates.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlatformUpdateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlatformUpdates_ListByLocation_MaximumSet": {
            "$ref": "./examples/PlatformUpdates_ListByLocation_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/platformUpdates/{platformUpdateName}": {
      "get": {
        "operationId": "PlatformUpdates_Get",
        "tags": [
          "PlatformUpdates"
        ],
        "description": "Get a platform update.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "platformUpdateName",
            "in": "path",
            "description": "The name of the PlatformUpdate",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlatformUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlatformUpdates_Get_MaximumSet": {
            "$ref": "./examples/PlatformUpdates_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/updateContents": {
      "get": {
        "operationId": "UpdateContents_List",
        "tags": [
          "UpdateContents"
        ],
        "description": "List all update contents.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateContentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContents_ListByLocation_MaximumSet": {
            "$ref": "./examples/UpdateContents_ListByLocation_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/updateContents/{updateContentName}": {
      "get": {
        "operationId": "UpdateContents_Get",
        "tags": [
          "UpdateContents"
        ],
        "description": "Gets content for an update.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "updateContentName",
            "in": "path",
            "description": "The name of the UpdateContent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateContent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContents_Get_MaximumSet": {
            "$ref": "./examples/UpdateContents_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines": {
      "get": {
        "operationId": "EdgeMachines_ListByResourceGroup",
        "tags": [
          "EdgeMachines"
        ],
        "description": "List all edge machines in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List edge machines in a given resource group": {
            "$ref": "./examples/EdgeMachines_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}": {
      "get": {
        "operationId": "EdgeMachines_Get",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Get an edge machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Get_MaximumSet": {
            "$ref": "./examples/EdgeMachines_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachines_CreateOrUpdate",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Create or update an edge machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachine' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachine' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_CreateOrUpdate": {
            "$ref": "./examples/EdgeMachines_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeMachines_Update",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Update an edge machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachinePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachine"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Update": {
            "$ref": "./examples/EdgeMachines_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachines_Delete",
        "tags": [
          "EdgeMachines"
        ],
        "description": "Delete an edge machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachines_Delete_MaximumSet": {
            "$ref": "./examples/EdgeMachines_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/jobs": {
      "get": {
        "operationId": "EdgeMachineJobs_List",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "List EdgeMachineJob resources by EdgeMachines",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJobListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_List_MaximumSet": {
            "$ref": "./examples/EdgeMachineJobs_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/edgeMachines/{edgeMachineName}/jobs/{jobsName}": {
      "get": {
        "operationId": "EdgeMachineJobs_Get",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "Get a EdgeMachineJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_Get_CollectLog": {
            "$ref": "./examples/EdgeMachineJobs_Get_CollectLog.json"
          },
          "EdgeMachineJobs_Get_ProvisionOs": {
            "$ref": "./examples/EdgeMachineJobs_Get_ProvisionOs.json"
          },
          "EdgeMachineJobs_Get_RemoteSupport": {
            "$ref": "./examples/EdgeMachineJobs_Get_RemoteSupport.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeMachineJobs_CreateOrUpdate",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "Create a EdgeMachineJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeMachineJob' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            }
          },
          "201": {
            "description": "Resource 'EdgeMachineJob' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeMachineJob"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_CreateOrUpdate_CollectLog": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_CollectLog.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_DownloadOs": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_DownloadOs.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_ProvisionOs": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_ProvisionOs.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_RemoteSupport": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_RemoteSupport.json"
          },
          "EdgeMachineJobs_CreateOrUpdate_UpdateOs": {
            "$ref": "./examples/EdgeMachineJobs_CreateOrUpdate_UpdateOs.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeMachineJobs_Delete",
        "tags": [
          "EdgeMachineJobs"
        ],
        "description": "Delete a EdgeMachineJob",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "edgeMachineName",
            "in": "path",
            "description": "Name of Device",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          },
          {
            "name": "jobsName",
            "in": "path",
            "description": "Name of EdgeMachineJob",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]{3,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeMachineJobs_Delete_MaximumSet": {
            "$ref": "./examples/EdgeMachineJobs_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/locations/{location}/validateOwnershipVouchers": {
      "post": {
        "operationId": "OwnershipVouchers_Validate",
        "description": "Validates ownership vouchers.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "validationRequest",
            "in": "body",
            "description": "Ownership vouchers to be validated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateOwnershipVouchersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateOwnershipVouchersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate ownership vouchers in a given resource group": {
            "$ref": "./examples/ValidateOwnershipVouchers_ByResourceGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArcExtensionState": {
      "type": "string",
      "description": "Arc extension installation state.",
      "enum": [
        "NotSpecified",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Moving",
        "Deleting",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ArcExtensionState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "Arc extension state is not specified."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Arc extension state is Succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Arc extension state is Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Arc extension state is Canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Arc extension state is Accepted when extension installation triggered."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Arc extension is in Creating State."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Arc extension is in Updating State."
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "Arc extension is in Moving State."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Arc extension is in Deleting State."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Arc extension is in Deleted State."
          }
        ]
      },
      "readOnly": true
    },
    "ClusterSdnProperties": {
      "type": "object",
      "description": "Represents the Software Defined Networking (SDN) configuration state of the Azure Stack HCI cluster.",
      "properties": {
        "sdnIntegrationIntent": {
          "$ref": "#/definitions/SdnIntegrationIntent",
          "description": "Indicates whether Software Defined Networking (SDN) integration should be enabled or disabled for this deployment.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SdnProperties"
        }
      ]
    },
    "CollectLogJobProperties": {
      "type": "object",
      "description": "Properties for pausing a server in the cluster.",
      "properties": {
        "fromDate": {
          "type": "string",
          "format": "date-time",
          "description": "From date for log collection."
        },
        "toDate": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection."
        },
        "lastLogGenerated": {
          "type": "string",
          "format": "date-time",
          "description": "To date for log collection.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/LogCollectionReportedProperties",
          "description": "log collection job reported properties.",
          "readOnly": true
        }
      },
      "required": [
        "fromDate",
        "toDate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeMachineJobProperties"
        }
      ],
      "x-ms-discriminator-value": "CollectLog"
    },
    "ConfidentialVmIntent": {
      "type": "string",
      "description": "Captures the customer's intent to enable or disable confidential VM support on the cluster, either during initial deployment (Day-0) or at a later stage (Day-N).",
      "enum": [
        "Enable",
        "Disable"
      ],
      "x-ms-enum": {
        "name": "ConfidentialVmIntent",
        "modelAsString": true,
        "values": [
          {
            "name": "Enable",
            "value": "Enable",
            "description": "Indicates that the customer intends to enable confidential VM support on the cluster."
          },
          {
            "name": "Disable",
            "value": "Disable",
            "description": "Indicates that the customer intends to disable confidential VM support on the cluster."
          }
        ]
      }
    },
    "ConfidentialVmProfile": {
      "type": "object",
      "description": "Represents the Confidential Virtual Machine (CVM) configuration status for an edge device. It includes the current IGVM support state and detailed component-level status information.",
      "properties": {
        "igvmStatus": {
          "$ref": "#/definitions/IgvmStatus",
          "description": "Indicates whether Independent Guest Virtual Machine (IGVM) support is available on the device. This will be 'Enabled' if the device supports confidential VMs, 'Disabled' if not, and 'Unknown' if the status cannot be determined.",
          "readOnly": true
        },
        "statusDetails": {
          "type": "array",
          "description": "Provides detailed status entries for IGVM-related components, including deployment status, compatibility checks, and error diagnostics.",
          "items": {
            "$ref": "#/definitions/IgvmStatusDetail"
          },
          "x-ms-identifiers": [
            "code"
          ]
        }
      }
    },
    "ConfidentialVmProperties": {
      "type": "object",
      "description": "Represents the Confidential Virtual Machine (CVM) support intent and current status for the cluster resource.",
      "properties": {
        "confidentialVmIntent": {
          "type": "string",
          "description": "Captures the customer's intent to enable or disable confidential VM support on the cluster, either during initial deployment (Day-0) or at a later stage (Day-N).",
          "default": "Disable",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "name": "ConfidentialVmIntent",
            "modelAsString": true,
            "values": [
              {
                "name": "Enable",
                "value": "Enable",
                "description": "Indicates that the customer intends to enable confidential VM support on the cluster."
              },
              {
                "name": "Disable",
                "value": "Disable",
                "description": "Indicates that the customer intends to disable confidential VM support on the cluster."
              }
            ]
          },
          "readOnly": true
        },
        "confidentialVmStatus": {
          "type": "string",
          "description": "Captures the current status of Confidential Virtual Machine (CVM) support on the cluster.",
          "default": "Disabled",
          "enum": [
            "Enabled",
            "PartiallyEnabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ConfidentialVmStatus",
            "modelAsString": true,
            "values": [
              {
                "name": "Enabled",
                "value": "Enabled",
                "description": "Confidential VM support is fully enabled on the cluster. All nodes are CVM capable."
              },
              {
                "name": "PartiallyEnabled",
                "value": "PartiallyEnabled",
                "description": "Confidential VM support is partially enabled. At least one node in the cluster is CVM capable."
              },
              {
                "name": "Disabled",
                "value": "Disabled",
                "description": "Confidential VM support is disabled. None of the nodes in the cluster are CVM capable."
              }
            ]
          },
          "readOnly": true
        },
        "confidentialVmStatusSummary": {
          "type": "string",
          "description": "Additional context about confidential VM support on the cluster, such as reasons for partial enablement or hardware constraints.",
          "readOnly": true
        }
      }
    },
    "ConfidentialVmStatus": {
      "type": "string",
      "description": "Captures the current status of Confidential Virtual Machine (CVM) support on the cluster.",
      "enum": [
        "Enabled",
        "PartiallyEnabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ConfidentialVmStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Confidential VM support is fully enabled on the cluster. All nodes are CVM capable."
          },
          {
            "name": "PartiallyEnabled",
            "value": "PartiallyEnabled",
            "description": "Confidential VM support is partially enabled. At least one node in the cluster is CVM capable."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Confidential VM support is disabled. None of the nodes in the cluster are CVM capable."
          }
        ]
      }
    },
    "ContentPayload": {
      "type": "object",
      "description": "Represents details of a specific update content payload.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Represents url of a update payload."
        },
        "hash": {
          "type": "string",
          "description": "Represents hash of a update payload."
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "Represents hash algorithm of a update payload."
        },
        "identifier": {
          "type": "string",
          "description": "Represents identifier of a update payload."
        },
        "packageSizeInBytes": {
          "type": "string",
          "description": "Represents size in bytes of a update payload."
        },
        "group": {
          "type": "string",
          "description": "Represents the group of a update payload."
        },
        "fileName": {
          "type": "string",
          "description": "Represents the file name of a update payload."
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "Deployment mode to trigger job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "DeviceConfiguration": {
      "type": "object",
      "description": "Device configuration.",
      "properties": {
        "network": {
          "$ref": "#/definitions/NetworkConfiguration",
          "description": "Network configuration."
        },
        "hostName": {
          "type": "string",
          "description": "Hostname of the device."
        },
        "webProxy": {
          "$ref": "#/definitions/WebProxyConfiguration",
          "description": "Web proxy configuration."
        },
        "time": {
          "$ref": "#/definitions/TimeConfiguration",
          "description": "Time configuration."
        },
        "storage": {
          "$ref": "#/definitions/StorageConfiguration",
          "description": "Storage configuration."
        }
      }
    },
    "DeviceLogCollectionStatus": {
      "type": "string",
      "description": "Represents the status of a log collection operation.",
      "enum": [
        "NotStarted",
        "Running",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeviceLogCollectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Log collection operation has not been initiated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Indicates that the log collection operation is currently running."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Indicates that the log collection operation has failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Indicates that the log collection operation has completed successfully."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Indicates that the log collection operation has completed successfully."
          }
        ]
      },
      "readOnly": true
    },
    "DownloadOsJobProperties": {
      "type": "object",
      "description": "Represents the properties of Download Os job.",
      "properties": {
        "downloadRequest": {
          "$ref": "#/definitions/DownloadRequest",
          "description": "Download OS request."
        },
        "reportedProperties": {
          "$ref": "#/definitions/ProvisionOsReportedProperties",
          "description": "Reported Properties for Download Os job"
        }
      },
      "required": [
        "downloadRequest"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/EdgeMachineJobProperties"
        }
      ],
      "x-ms-discriminator-value": "DownloadOs"
    },
    "DownloadOsProfile": {
      "type": "object",
      "description": "Operating system profile.",
      "properties": {
        "osName": {
          "type": "string",
          "description": "Name of the operating system."
        },
        "osType": {
          "type": "string",
          "description": "Type of the operating system."
        },
        "osVersion": {
          "type": "string",
          "description": "Version of the operating system."
        },
        "osImageLocation": {
          "type": "string",
          "description": "Location of the operating system image."
        },
        "vsrVersion": {
          "type": "string",
          "description": "Validated Solution Recipe version to be used for the job"
        },
        "imageHash": {
          "type": "string",
          "description": "Hash of the OS package downloaded"
        },
        "gpgPubKey": {
          "type": "string",
          "description": "GPG Public Key used for package verification"
        }
      }
    },
    "DownloadRequest": {
      "type": "object",
      "description": "Download Request properties",
      "properties": {
        "target": {
          "$ref": "#/definitions/ProvisioningOsType",
          "description": "Target operating system to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "osProfile": {
          "$ref": "#/definitions/DownloadOsProfile",
          "description": "Operating system profile."
        }
      },
      "required": [
        "target",
        "osProfile"
      ]
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Job status.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of Edge device job.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "EdgeMachine": {
      "type": "object",
      "description": "EdgeMachine details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeMachineProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EdgeMachineConnectivityStatus": {
      "type": "string",
      "description": "Overall connectivity status for the machine resource.",
      "enum": [
        "NotSpecified",
        "Disconnected",
        "Connected"
      ],
      "x-ms-enum": {
        "name": "EdgeMachineConnectivityStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The connectivity status of the machine resource is not specified."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The machine resource is disconnected."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The machine resource is connected."
          }
        ]
      }
    },
    "EdgeMachineJob": {
      "type": "object",
      "description": "Cluster Jobs resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeMachineJobProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeMachineJobListResult": {
      "type": "object",
      "description": "The response of a EdgeMachineJob list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeMachineJob items on this page",
          "items": {
            "$ref": "#/definitions/EdgeMachineJob"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeMachineJobProperties": {
      "type": "object",
      "description": "EdgeMachine Job properties",
      "properties": {
        "jobType": {
          "$ref": "#/definitions/EdgeMachineJobType",
          "description": "Job Type to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "Deployment mode to trigger job."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Job provisioning state",
          "readOnly": true
        },
        "jobId": {
          "type": "string",
          "description": "Unique, immutable job id.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job started.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time at which the job completed.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/JobStatus",
          "description": "Status of Edge device job.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "error details.",
          "readOnly": true
        }
      },
      "discriminator": "jobType",
      "required": [
        "jobType"
      ]
    },
    "EdgeMachineJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport",
        "ProvisionOs",
        "DownloadOs"
      ],
      "x-ms-enum": {
        "name": "EdgeMachineJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          },
          {
            "name": "ProvisionOs",
            "value": "ProvisionOs",
            "description": "Job to provision operating system in the device."
          },
          {
            "name": "DownloadOs",
            "value": "DownloadOs",
            "description": "Job to download OS packages on to the device"
          }
        ]
      }
    },
    "EdgeMachineKind": {
      "type": "string",
      "description": "Edge Machine Kind.",
      "enum": [
        "Standard",
        "Dedicated"
      ],
      "x-ms-enum": {
        "name": "EdgeMachineKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "EdgeMachine resource created using Zero-touch provisioning."
          },
          {
            "name": "Dedicated",
            "value": "Dedicated",
            "description": "EdgeMachine resource created for brownfield HCI customers without zero touch provisioning."
          }
        ]
      }
    },
    "EdgeMachineListResult": {
      "type": "object",
      "description": "The response of a EdgeMachine list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeMachine items on this page",
          "items": {
            "$ref": "#/definitions/EdgeMachine"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeMachinePatch": {
      "type": "object",
      "description": "Model for patching edge machine.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "properties": {
          "$ref": "#/definitions/EdgeMachinePatchProperties",
          "description": "Properties for patching edge machine."
        }
      }
    },
    "EdgeMachinePatchProperties": {
      "type": "object",
      "description": "Properties for patching edge machine.",
      "properties": {
        "labels": {
          "type": "array",
          "description": "selection labels that can be used by CMP to decide which all machines can be part of this device pool",
          "items": {
            "$ref": "#/definitions/Labels"
          },
          "x-ms-identifiers": [
            "labelName"
          ]
        }
      }
    },
    "EdgeMachineProperties": {
      "type": "object",
      "description": "Properties for edge machine.",
      "properties": {
        "edgeMachineKind": {
          "$ref": "#/definitions/EdgeMachineKind",
          "description": "Edge Machine type.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of a resource.",
          "readOnly": true
        },
        "cloudId": {
          "type": "string",
          "description": "Unique, immutable resource id.",
          "readOnly": true
        },
        "arcMachineResourceGroupId": {
          "type": "string",
          "format": "arm-id",
          "description": "Optional property to create arc machine in custom resource group.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Resources/resourceGroups"
              }
            ]
          }
        },
        "arcMachineResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Arc machine instance resource id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.HybridCompute/machines"
              }
            ]
          }
        },
        "arcGatewayResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Link to Arc Gateway ARM resource Id",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.HybridCompute/gateways"
              }
            ]
          }
        },
        "siteDetails": {
          "$ref": "#/definitions/SiteDetails",
          "description": "Service fetches common configuration from site.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ownershipVoucherDetails": {
          "$ref": "#/definitions/OwnershipVoucherDetails",
          "description": "Ownership voucher details for provisioned machine.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningDetails": {
          "$ref": "#/definitions/ProvisioningDetails",
          "description": "Details for device provisioning.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "devicePoolResourceId": {
          "type": "string",
          "description": "A machine can only be assigned to single device pool",
          "readOnly": true
        },
        "machineState": {
          "$ref": "#/definitions/EdgeMachineState",
          "description": "OS configuration status details ",
          "readOnly": true
        },
        "connectivityStatus": {
          "$ref": "#/definitions/EdgeMachineConnectivityStatus",
          "description": "machine connectivity status",
          "readOnly": true
        },
        "labels": {
          "type": "array",
          "description": "selection labels that can be used by CMP to decide which all machines can be part of this device pool",
          "items": {
            "$ref": "#/definitions/Labels"
          },
          "x-ms-identifiers": [
            "labelName"
          ]
        },
        "claimedBy": {
          "type": "string",
          "description": "Tracks the ID of the consuming resource, Settingthe machine as in-use.",
          "readOnly": true
        },
        "reportedProperties": {
          "$ref": "#/definitions/ReportedProperties",
          "description": "Reported properties for edge machine.",
          "readOnly": true
        },
        "operationDetails": {
          "type": "array",
          "description": "operation status details for edge machine.",
          "items": {
            "$ref": "#/definitions/OperationDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "lastSyncTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Last time data updated to service.",
          "readOnly": true
        }
      }
    },
    "EdgeMachineState": {
      "type": "string",
      "description": "OS State",
      "enum": [
        "Created",
        "Registering",
        "Unpurposed",
        "Transitioning",
        "Purposed",
        "Updating",
        "Resetting",
        "Failed",
        "Preparing"
      ],
      "x-ms-enum": {
        "name": "EdgeMachineState",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Created when EdgeMachine resource created"
          },
          {
            "name": "Registering",
            "value": "Registering",
            "description": "EdgeMachine state during device discovery and registration"
          },
          {
            "name": "Unpurposed",
            "value": "Unpurposed",
            "description": "EdgeMachine state when machine configured with restricted OS and not provisioned to deploy workloads"
          },
          {
            "name": "Transitioning",
            "value": "Transitioning",
            "description": "EdgeMachine state when transitioning from initial OS to target OS"
          },
          {
            "name": "Purposed",
            "value": "Purposed",
            "description": "EdgeMachine state when machine configured with target OS to deploy workloads"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "EdgeMachine state when OS updates are in-progress"
          },
          {
            "name": "Resetting",
            "value": "Resetting",
            "description": "EdgeMachine state when transitioning from target OS to restricted OS"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "EdgeMachine failed state and only option to recover is to re-provisioning machine"
          },
          {
            "name": "Preparing",
            "value": "Preparing",
            "description": "Preparing EdgeMachine"
          }
        ]
      }
    },
    "ErrorDetailModel": {
      "type": "object",
      "description": "details of validation failure",
      "properties": {
        "exception": {
          "type": "string",
          "description": "Exception details while installing extension.",
          "readOnly": true
        }
      }
    },
    "Extension": {
      "type": "object",
      "description": "Arc extension installed on edge device.",
      "properties": {
        "extensionName": {
          "type": "string",
          "description": "Arc extension name installed on edge device.",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/ArcExtensionState",
          "description": "Arc extension state from arc machine extension.",
          "readOnly": true
        },
        "errorDetails": {
          "type": "array",
          "description": "Error details while installing Arc extension.",
          "items": {
            "$ref": "#/definitions/ErrorDetailModel"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "string",
          "description": "Exception details while installing Arc extension.",
          "readOnly": true
        },
        "extensionResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Arc Extension Azure resource id.",
          "readOnly": true
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Extension version installed.",
          "readOnly": true
        },
        "managedBy": {
          "$ref": "#/definitions/ExtensionManagedBy",
          "description": "Extension managed by user or Azure.",
          "readOnly": true
        }
      }
    },
    "ExtensionManagedBy": {
      "type": "string",
      "description": "Extension managed by user or Azure.",
      "enum": [
        "User",
        "Azure"
      ],
      "x-ms-enum": {
        "name": "ExtensionManagedBy",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "Extension managed by user."
          },
          {
            "name": "Azure",
            "value": "Azure",
            "description": "Extension managed by Azure."
          }
        ]
      }
    },
    "ExtensionProfile": {
      "type": "object",
      "description": "Extensions details for edge device.",
      "properties": {
        "extensions": {
          "type": "array",
          "description": "List of Arc extensions installed on edge device.",
          "items": {
            "$ref": "#/definitions/Extension"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "extensionName"
          ]
        }
      }
    },
    "HardwareProfile": {
      "type": "object",
      "description": "Hardware profile for the machine",
      "properties": {
        "cpuCores": {
          "type": "integer",
          "format": "int64",
          "description": "Number of cpu cores in the machine",
          "readOnly": true
        },
        "cpuSockets": {
          "type": "integer",
          "format": "int64",
          "description": "Number of cpu sockets in the machine",
          "readOnly": true
        },
        "memoryCapacityInGb": {
          "type": "integer",
          "format": "int64",
          "description": "Memory capacity of the machine",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Model info of the machine",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "manufacturer info of the machine",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the machine",
          "readOnly": true
        },
        "processorType": {
          "type": "string",
          "description": "Process type of the machine",
          "readOnly": true
        }
      }
    },
    "IgvmStatus": {
      "type": "string",
      "description": "Represents the IGVM support status for the device.",
      "enum": [
        "Unknown",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "IgvmStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The IGVM status could not be determined due to a query failure or inconsistent system state."
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "IGVM support is enabled, indicating that confidential VM features are available on this device."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "IGVM status is disabled, indicating that confidential VM features are not supported on this device."
          }
        ]
      }
    },
    "IgvmStatusDetail": {
      "type": "object",
      "description": "Provides component-level status information related to IGVM enablement on the device.",
      "properties": {
        "code": {
          "type": "string",
          "description": "A machine-readable status code indicating the result or condition of a specific IGVM-related check or operation.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "A human-readable message providing context or explanation for the associated status code.",
          "readOnly": true
        }
      }
    },
    "IpAddressRange": {
      "type": "object",
      "description": "IP address range configuration.",
      "properties": {
        "startIp": {
          "type": "string",
          "description": "Start IP address."
        },
        "endIp": {
          "type": "string",
          "description": "End IP address."
        }
      },
      "required": [
        "startIp",
        "endIp"
      ]
    },
    "IpAssignmentType": {
      "type": "string",
      "description": "IP assignment types",
      "enum": [
        "Automatic",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "IpAssignmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Automatic",
            "value": "Automatic",
            "description": "Automatic IP assignment"
          },
          {
            "name": "Manual",
            "value": "Manual",
            "description": "Manual IP assignment"
          }
        ]
      }
    },
    "JobReportedProperties": {
      "type": "object",
      "description": "Reported Properties for job triggered from cloud.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        }
      }
    },
    "JobStatus": {
      "type": "string",
      "description": "Represents the various statuses a job can have throughout its lifecycle.",
      "enum": [
        "NotSpecified",
        "ValidationInProgress",
        "ValidationSuccess",
        "ValidationFailed",
        "DeploymentInProgress",
        "DeploymentFailed",
        "DeploymentSuccess",
        "Succeeded",
        "Failed",
        "Canceled",
        "Paused",
        "Scheduled"
      ],
      "x-ms-enum": {
        "name": "JobStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The job status has not been specified."
          },
          {
            "name": "ValidationInProgress",
            "value": "ValidationInProgress",
            "description": "The job is currently undergoing validation."
          },
          {
            "name": "ValidationSuccess",
            "value": "ValidationSuccess",
            "description": "The job has successfully passed validation."
          },
          {
            "name": "ValidationFailed",
            "value": "ValidationFailed",
            "description": "The job has failed validation."
          },
          {
            "name": "DeploymentInProgress",
            "value": "DeploymentInProgress",
            "description": "The job's deployment is currently in progress."
          },
          {
            "name": "DeploymentFailed",
            "value": "DeploymentFailed",
            "description": "The job's deployment has failed."
          },
          {
            "name": "DeploymentSuccess",
            "value": "DeploymentSuccess",
            "description": "The job has been successfully deployed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The job has succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The job has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The job has been canceled."
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "The job is paused."
          },
          {
            "name": "Scheduled",
            "value": "Scheduled",
            "description": "The job is scheduled to run."
          }
        ]
      },
      "readOnly": true
    },
    "KubernetesVersion": {
      "type": "object",
      "description": "Represents a kubernetes version resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KubernetesVersionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "KubernetesVersionListResult": {
      "type": "object",
      "description": "The response of a KubernetesVersion list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The KubernetesVersion items on this page",
          "items": {
            "$ref": "#/definitions/KubernetesVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "KubernetesVersionProperties": {
      "type": "object",
      "description": "Represents properties of a kubernetes version.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Represents kubernetes version."
        }
      },
      "required": [
        "version"
      ]
    },
    "Labels": {
      "type": "object",
      "description": "selection labels that can be used by CMP to decide which all machines can be part of this device pool",
      "properties": {
        "labelName": {
          "type": "string",
          "description": "Name of label"
        },
        "labelValue": {
          "type": "string",
          "description": "Value of label"
        }
      }
    },
    "LogCollectionReportedProperties": {
      "type": "object",
      "description": "Represents the reported properties of a log collection job.",
      "properties": {
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of the job that is complete.",
          "readOnly": true
        },
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Validation status of job.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of job.",
          "readOnly": true
        },
        "logCollectionSessionDetails": {
          "type": "array",
          "description": "Details of the log collection session.",
          "items": {
            "$ref": "#/definitions/LogCollectionSession"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "correlationId"
          ]
        }
      }
    },
    "LogCollectionSession": {
      "type": "object",
      "description": "Represents a session for collecting logs from an edge device.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The timestamp when log collection started, in ISO 8601 format.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "The timestamp when log collection ended, in ISO 8601 format.",
          "readOnly": true
        },
        "timeCollected": {
          "type": "string",
          "description": "The total time logs were collected for, in ISO 8601 duration format.",
          "readOnly": true
        },
        "logSize": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the collected logs in bytes.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/DeviceLogCollectionStatus",
          "description": "The status of the log collection session.",
          "readOnly": true
        },
        "correlationId": {
          "type": "string",
          "description": "A unique identifier for correlating this log collection session with other operations or sessions.",
          "readOnly": true
        }
      }
    },
    "NetworkAdapter": {
      "type": "object",
      "description": "Network adapter configuration.",
      "properties": {
        "ipAssignmentType": {
          "$ref": "#/definitions/IpAssignmentType",
          "description": "Type of IP assignment."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address."
        },
        "adapterName": {
          "type": "string",
          "description": "Adapter Name."
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "ipAddressRange": {
          "$ref": "#/definitions/IpAddressRange",
          "description": "IP address range."
        },
        "gateway": {
          "type": "string",
          "description": "Gateway id."
        },
        "subnetMask": {
          "type": "string",
          "description": "Subnet mask."
        },
        "dnsAddressArray": {
          "type": "array",
          "description": "Array of DNS addresses.",
          "items": {
            "type": "string"
          }
        },
        "vlanId": {
          "type": "string",
          "description": "VLAN ID for the network setup."
        }
      },
      "required": [
        "ipAssignmentType"
      ]
    },
    "NetworkConfiguration": {
      "type": "object",
      "description": "Network configuration.",
      "properties": {
        "networkAdapters": {
          "type": "array",
          "description": "List of network adapters.",
          "items": {
            "$ref": "#/definitions/NetworkAdapter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NetworkProfile": {
      "type": "object",
      "description": "NetworkProfile of edge machine.",
      "properties": {
        "nicDetails": {
          "type": "array",
          "description": "List of NIC Details of edge machine.",
          "items": {
            "$ref": "#/definitions/NicDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "adapterName"
          ]
        },
        "switchDetails": {
          "type": "array",
          "description": "List of switch Details of edge machine.",
          "items": {
            "$ref": "#/definitions/SwitchDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "switchName"
          ]
        }
      }
    },
    "NicDetail": {
      "type": "object",
      "description": "NIC Details of edge machine.",
      "properties": {
        "adapterName": {
          "type": "string",
          "description": "Adapter Name of NIC",
          "readOnly": true
        },
        "interfaceDescription": {
          "type": "string",
          "description": "Interface Description of NIC",
          "readOnly": true
        },
        "componentId": {
          "type": "string",
          "description": "Component Id of NIC",
          "readOnly": true
        },
        "driverVersion": {
          "type": "string",
          "description": "Driver Version of NIC",
          "readOnly": true
        },
        "ip4Address": {
          "type": "string",
          "description": "Subnet Mask of NIC",
          "readOnly": true
        },
        "subnetMask": {
          "type": "string",
          "description": "Subnet Mask of NIC",
          "readOnly": true
        },
        "defaultGateway": {
          "type": "string",
          "description": "Default Gateway of NIC",
          "readOnly": true
        },
        "dnsServers": {
          "type": "array",
          "description": "DNS Servers for NIC",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "defaultIsolationId": {
          "type": "string",
          "description": "Default Isolation of Management NIC",
          "readOnly": true
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address information of NIC.",
          "readOnly": true
        },
        "slot": {
          "type": "string",
          "description": "The slot attached to the NIC.",
          "readOnly": true
        },
        "switchName": {
          "type": "string",
          "description": "The switch attached to the NIC, if any.",
          "readOnly": true
        },
        "nicType": {
          "type": "string",
          "description": "The type of NIC, physical, virtual, management.",
          "readOnly": true
        },
        "vlanId": {
          "type": "string",
          "description": "The VLAN ID of the physical NIC.",
          "readOnly": true
        },
        "nicStatus": {
          "type": "string",
          "description": "The status of NIC, up, disconnected.",
          "readOnly": true
        },
        "rdmaCapability": {
          "type": "string",
          "description": "Describes the RDMA capability of the network adapter.",
          "default": "Disabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "RdmaCapability",
            "modelAsString": true,
            "values": [
              {
                "name": "Enabled",
                "value": "Enabled",
                "description": "Network Adapter on the device is RDMA Capable"
              },
              {
                "name": "Disabled",
                "value": "Disabled",
                "description": "Network Adapter on the device isn't RDMA Capable"
              }
            ]
          },
          "readOnly": true
        }
      }
    },
    "OSOperationType": {
      "type": "string",
      "description": "OS Provision Operation type",
      "enum": [
        "Provision",
        "Update",
        "ReImage"
      ],
      "x-ms-enum": {
        "name": "OSOperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Provision",
            "value": "Provision",
            "description": "OS Provisioning operation"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "OS Update operation"
          },
          {
            "name": "ReImage",
            "value": "ReImage",
            "description": "OS ReImage operation"
          }
        ]
      }
    },
    "OnboardingConfiguration": {
      "type": "object",
      "description": "Onboarding configuration.",
      "properties": {
        "type": {
          "$ref": "#/definitions/OnboardingResourceType",
          "description": "Type of the onboarding resource to support polymorphic resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource ID."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the resource."
        },
        "arcVirtualMachineId": {
          "type": "string",
          "description": "Azure Arc virtual machine ID."
        }
      }
    },
    "OnboardingResourceType": {
      "type": "string",
      "description": "Onboarding resource type.",
      "enum": [
        "HybridComputeMachine"
      ],
      "x-ms-enum": {
        "name": "OnboardingResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "HybridComputeMachine",
            "value": "HybridComputeMachine",
            "description": "Hybrid Compute Machine."
          }
        ]
      }
    },
    "OperationDetail": {
      "type": "object",
      "description": "operation detail.",
      "properties": {
        "name": {
          "type": "string",
          "description": "operation name.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "operation id.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "operation type.",
          "readOnly": true
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "operation resource id.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "operation description.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "operation status.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "error details.",
          "readOnly": true
        }
      }
    },
    "OsImage": {
      "type": "object",
      "description": "Represents a os image resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OsImageProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OsImageListResult": {
      "type": "object",
      "description": "The response of a OsImage list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OsImage items on this page",
          "items": {
            "$ref": "#/definitions/OsImage"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OsImageProperties": {
      "type": "object",
      "description": "Represents properties of a os image resource.",
      "properties": {
        "validatedSolutionRecipeVersion": {
          "type": "string",
          "description": "Represents validated solution recipe version of a os image."
        },
        "composedImageVersion": {
          "type": "string",
          "description": "Represents composed image version of a os image."
        },
        "composedImageIsoUrl": {
          "type": "string",
          "description": "Represents composed image iso download url of a os image."
        },
        "composedImageIsoHash": {
          "type": "string",
          "description": "Represents composed image iso hash of a os image."
        }
      }
    },
    "OsProfile": {
      "type": "object",
      "description": "OS configurations for HCI device.",
      "properties": {
        "bootType": {
          "type": "string",
          "description": "The boot type of the device. e.g. UEFI, Legacy etc",
          "readOnly": true
        },
        "assemblyVersion": {
          "type": "string",
          "description": "Version of assembly present on device",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "description": "OS type (“windows\", “linux”)",
          "readOnly": true
        },
        "osSku": {
          "type": "string",
          "description": "OS SKU (e.g., “ Microsoft Azure Linux ROE“, “Azure Stack HCI\", \"Microsoft Azure Linux 3.0\")",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "description": "OS Version",
          "readOnly": true
        },
        "buildNumber": {
          "type": "string",
          "description": "OS Build Number",
          "readOnly": true
        },
        "baseImageVersion": {
          "type": "string",
          "description": "OS Base Image Version",
          "readOnly": true
        },
        "imageVersion": {
          "type": "string",
          "description": "OS Image Version",
          "readOnly": true
        }
      }
    },
    "OsProvisionProfile": {
      "type": "object",
      "description": "Operating system profile.",
      "properties": {
        "osName": {
          "type": "string",
          "description": "Name of the operating system."
        },
        "osType": {
          "type": "string",
          "description": "Type of the operating system."
        },
        "osVersion": {
          "type": "string",
          "description": "Version of the operating system."
        },
        "osImageLocation": {
          "type": "string",
          "description": "Location of the operating system image."
        },
        "vsrVersion": {
          "type": "string",
          "description": "Validated Solution Recipe version to be used for the job"
        },
        "imageHash": {
          "type": "string",
          "description": "Hash of the OS package downloaded"
        },
        "gpgPubKey": {
          "type": "string",
          "description": "GPG Public Key used for package verification"
        },
        "operationType": {
          "type": "string",
          "description": "Operation sub type of OS Provisioning",
          "default": "Provision",
          "enum": [
            "Provision",
            "Update",
            "ReImage"
          ],
          "x-ms-enum": {
            "name": "OSOperationType",
            "modelAsString": true,
            "values": [
              {
                "name": "Provision",
                "value": "Provision",
                "description": "OS Provisioning operation"
              },
              {
                "name": "Update",
                "value": "Update",
                "description": "OS Update operation"
              },
              {
                "name": "ReImage",
                "value": "ReImage",
                "description": "OS ReImage operation"
              }
            ]
          }
        }
      }
    },
    "OwnerKeyType": {
      "type": "string",
      "description": "Type of owner key in the voucher",
      "enum": [
        "MicrosoftManaged"
      ],
      "x-ms-enum": {
        "name": "OwnerKeyType",
        "modelAsString": true,
        "values": [
          {
            "name": "MicrosoftManaged",
            "value": "MicrosoftManaged",
            "description": "Owner is Microsoft managed key"
          }
        ]
      }
    },
    "OwnershipVoucherDetails": {
      "type": "object",
      "description": "Details for ownership voucher.",
      "properties": {
        "ownershipVoucher": {
          "type": "string",
          "format": "password",
          "description": "Ownership voucher in base64 encoded format",
          "x-ms-secret": true
        },
        "ownerKeyType": {
          "$ref": "#/definitions/OwnerKeyType",
          "description": "Owner key type"
        }
      },
      "required": [
        "ownershipVoucher",
        "ownerKeyType"
      ]
    },
    "OwnershipVoucherValidationDetails": {
      "type": "object",
      "description": "Ownership Voucher Validation Details",
      "properties": {
        "validationStatus": {
          "$ref": "#/definitions/OwnershipVoucherValidationStatus",
          "description": "The ownership voucher validation status."
        },
        "serialNumber": {
          "type": "string",
          "description": "Serial number of the device."
        },
        "id": {
          "type": "string",
          "description": "FDO guid of the Ownership Voucher."
        },
        "manufacturer": {
          "type": "string",
          "description": "Name of the manufacturer."
        },
        "modelName": {
          "type": "string",
          "description": "Name of the model."
        },
        "version": {
          "type": "string",
          "description": "Version of the Ownership Voucher format"
        },
        "azureMachineId": {
          "type": "string",
          "description": "Azure Machine Id of the Ownership voucher"
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details if the validation failed."
        }
      }
    },
    "OwnershipVoucherValidationStatus": {
      "type": "string",
      "description": "Ownership Voucher validation Status.",
      "enum": [
        "Valid",
        "Invalid"
      ],
      "x-ms-enum": {
        "name": "OwnershipVoucherValidationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Valid",
            "value": "Valid",
            "description": "Voucher evaluated as valid."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Voucher evaluated as invalid."
          }
        ]
      }
    },
    "PlatformPayload": {
      "type": "object",
      "description": "Represents details of a specific platform update payload.",
      "properties": {
        "payloadUrl": {
          "type": "string",
          "description": "Represents url of a platform update payload."
        },
        "payloadHash": {
          "type": "string",
          "description": "Represents hash of a platform update payload."
        },
        "payloadPackageSizeInBytes": {
          "type": "string",
          "description": "Represents size in bytes of a platform update payload."
        },
        "payloadIdentifier": {
          "type": "string",
          "description": "Represents identifier of a platform update payload."
        }
      }
    },
    "PlatformUpdate": {
      "type": "object",
      "description": "Represents a platform update resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlatformUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
[...]
