{
  "swagger": "2.0",
  "info": {
    "title": "SecurityCenter",
    "version": "2022-05-01",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Settings"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings": {
      "get": {
        "operationId": "Settings_List",
        "tags": [
          "Settings"
        ],
        "description": "Settings about different configurations in Microsoft Defender for Cloud",
        "parameters": [
          {
            "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SettingsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get settings of subscription": {
            "$ref": "./examples/Settings/GetSettings_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}": {
      "get": {
        "operationId": "Settings_Get",
        "tags": [
          "Settings"
        ],
        "description": "Settings of different configurations in Microsoft Defender for Cloud",
        "parameters": [
          {
            "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The name of the setting",
            "required": true,
            "type": "string",
            "enum": [
              "MCAS",
              "WDATP",
              "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW",
              "WDATP_UNIFIED_SOLUTION",
              "Sentinel"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "MCAS",
                  "value": "MCAS",
                  "description": "MCAS"
                },
                {
                  "name": "WDATP",
                  "value": "WDATP",
                  "description": "WDATP"
                },
                {
                  "name": "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW",
                  "value": "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW",
                  "description": "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW"
                },
                {
                  "name": "WDATP_UNIFIED_SOLUTION",
                  "value": "WDATP_UNIFIED_SOLUTION",
                  "description": "WDATP_UNIFIED_SOLUTION"
                },
                {
                  "name": "Sentinel",
                  "value": "Sentinel",
                  "description": "Sentinel"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a setting on subscription": {
            "$ref": "./examples/Settings/GetSetting_example.json"
          }
        }
      },
      "put": {
        "operationId": "Settings_Update",
        "tags": [
          "Settings"
        ],
        "description": "updating settings about different configurations in Microsoft Defender for Cloud",
        "parameters": [
          {
            "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "The name of the setting",
            "required": true,
            "type": "string",
            "enum": [
              "MCAS",
              "WDATP",
              "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW",
              "WDATP_UNIFIED_SOLUTION",
              "Sentinel"
            ],
            "x-ms-enum": {
              "name": "SettingName",
              "modelAsString": true,
              "values": [
                {
                  "name": "MCAS",
                  "value": "MCAS",
                  "description": "MCAS"
                },
                {
                  "name": "WDATP",
                  "value": "WDATP",
                  "description": "WDATP"
                },
                {
                  "name": "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW",
                  "value": "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW",
                  "description": "WDATP_EXCLUDE_LINUX_PUBLIC_PREVIEW"
                },
                {
                  "name": "WDATP_UNIFIED_SOLUTION",
                  "value": "WDATP_UNIFIED_SOLUTION",
                  "description": "WDATP_UNIFIED_SOLUTION"
                },
                {
                  "name": "Sentinel",
                  "value": "Sentinel",
                  "description": "Sentinel"
                }
              ]
            }
          },
          {
            "name": "setting",
            "in": "body",
            "description": "Setting object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Setting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a setting for subscription": {
            "$ref": "./examples/Settings/UpdateSetting_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AlertSyncSettingProperties": {
      "type": "object",
      "description": "The alert sync setting properties",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Is the alert sync setting enabled"
        }
      },
      "required": [
        "enabled"
      ]
    },
    "AlertSyncSettings": {
      "type": "object",
      "description": "Represents an alert sync setting",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlertSyncSettingProperties",
          "description": "Alert sync setting data",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "the kind of the settings string",
          "enum": [
            "AlertSyncSettings"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Setting"
        }
      ]
    },
    "DataExportSettingProperties": {
      "type": "object",
      "description": "The data export setting properties",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Is the data export setting enabled"
        }
      },
      "required": [
        "enabled"
      ]
    },
    "DataExportSettings": {
      "type": "object",
      "description": "Represents a data export setting",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataExportSettingProperties",
          "description": "Data export setting data",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "the kind of the settings string",
          "enum": [
            "DataExportSettings"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Setting"
        }
      ]
    },
    "Setting": {
      "type": "object",
      "description": "The kind of the security setting",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/SettingKind",
          "description": "the kind of the settings string"
        }
      },
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SettingKind": {
      "type": "string",
      "description": "the kind of the settings string",
      "enum": [
        "DataExportSettings",
        "AlertSuppressionSetting",
        "AlertSyncSettings"
      ],
      "x-ms-enum": {
        "name": "SettingKind",
        "modelAsString": true,
        "values": [
          {
            "name": "DataExportSettings",
            "value": "DataExportSettings",
            "description": "DataExportSettings"
          },
          {
            "name": "AlertSuppressionSetting",
            "value": "AlertSuppressionSetting",
            "description": "AlertSuppressionSetting"
          },
          {
            "name": "AlertSyncSettings",
            "value": "AlertSyncSettings",
            "description": "AlertSyncSettings"
          }
        ]
      }
    },
    "SettingsList": {
      "type": "object",
      "description": "Subscription settings list.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Setting items on this page",
          "items": {
            "$ref": "#/definitions/Setting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
