{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Premonition Insights",
    "version": "2024-09-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "LibraryOperations"
    },
    {
      "name": "AnalysisOperations"
    },
    {
      "name": "SampleOperations"
    }
  ],
  "paths": {
    "/": {
      "put": {
        "operationId": "SampleOperations_Identify",
        "tags": [
          "SampleOperations"
        ],
        "description": "Create a Metagenomics analysis of this sample",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "analysisName",
            "in": "query",
            "description": "The name for the new analysis",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "settings",
            "in": "body",
            "description": "The settings for Metagenomics analysis",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetagenomicsAnalysisSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Analysis' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Analysis"
            }
          },
          "201": {
            "description": "Resource 'Analysis' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Analysis"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SampleOperations_Identify": {
            "$ref": "./examples/SampleOperations_Identify.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Premonition.Insights/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Premonition.Insights/libraries": {
      "get": {
        "operationId": "LibraryOperations_ListBySubscription",
        "tags": [
          "LibraryOperations"
        ],
        "description": "List Library resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LibraryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LibraryOperations_ListBySubscription": {
            "$ref": "./examples/LibraryOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Premonition.Insights/libraries": {
      "get": {
        "operationId": "LibraryOperations_ListByResourceGroup",
        "tags": [
          "LibraryOperations"
        ],
        "description": "List Library resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LibraryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LibraryOperations_ListByResourceGroup": {
            "$ref": "./examples/LibraryOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Premonition.Insights/libraries/{libraryName}": {
      "get": {
        "operationId": "LibraryOperations_Get",
        "tags": [
          "LibraryOperations"
        ],
        "description": "Get a Library",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Library"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LibraryOperations_Get": {
            "$ref": "./examples/LibraryOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LibraryOperations_Create",
        "tags": [
          "LibraryOperations"
        ],
        "description": "Create a Library",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Library"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Library' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Library"
            }
          },
          "201": {
            "description": "Resource 'Library' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Library"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LibraryOperations_Create": {
            "$ref": "./examples/LibraryOperations_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "LibraryOperations_Update",
        "tags": [
          "LibraryOperations"
        ],
        "description": "Update a Library",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LibraryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Library"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LibraryOperations_Update": {
            "$ref": "./examples/LibraryOperations_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "LibraryOperations_Delete",
        "tags": [
          "LibraryOperations"
        ],
        "description": "Delete a Library",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LibraryOperations_Delete": {
            "$ref": "./examples/LibraryOperations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Premonition.Insights/libraries/{libraryName}/analyses": {
      "get": {
        "operationId": "AnalysisOperations_ListByParent",
        "tags": [
          "AnalysisOperations"
        ],
        "description": "List Analysis resources by Library",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AnalysisListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AnalysisOperations_ListByParent": {
            "$ref": "./examples/AnalysisOperations_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Premonition.Insights/libraries/{libraryName}/analyses/{analysisName}": {
      "get": {
        "operationId": "AnalysisOperations_Get",
        "tags": [
          "AnalysisOperations"
        ],
        "description": "Get a Analysis",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "analysisName",
            "in": "path",
            "description": "Name of the analysis",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Analysis"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AnalysisOperations_Get": {
            "$ref": "./examples/AnalysisOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AnalysisOperations_Create",
        "tags": [
          "AnalysisOperations"
        ],
        "description": "Create a Analysis",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "analysisName",
            "in": "path",
            "description": "Name of the analysis",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Analysis"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Analysis' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Analysis"
            }
          },
          "201": {
            "description": "Resource 'Analysis' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Analysis"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AnalysisOperations_Create": {
            "$ref": "./examples/AnalysisOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AnalysisOperations_Delete",
        "tags": [
          "AnalysisOperations"
        ],
        "description": "Delete a Analysis",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "analysisName",
            "in": "path",
            "description": "Name of the analysis",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AnalysisOperations_Delete": {
            "$ref": "./examples/AnalysisOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Premonition.Insights/libraries/{libraryName}/samples": {
      "get": {
        "operationId": "SampleOperations_ListByParent",
        "tags": [
          "SampleOperations"
        ],
        "description": "List Sample resources by Library",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SampleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SampleOperations_ListByParent": {
            "$ref": "./examples/SampleOperations_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Premonition.Insights/libraries/{libraryName}/samples/{sampleName}": {
      "get": {
        "operationId": "SampleOperations_Get",
        "tags": [
          "SampleOperations"
        ],
        "description": "Get a Sample",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "sampleName",
            "in": "path",
            "description": "Name of the sample",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sample"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SampleOperations_Get": {
            "$ref": "./examples/SampleOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SampleOperations_Create",
        "tags": [
          "SampleOperations"
        ],
        "description": "Create a Sample",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "sampleName",
            "in": "path",
            "description": "Name of the sample",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sample"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Sample' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Sample"
            }
          },
          "201": {
            "description": "Resource 'Sample' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Sample"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SampleOperations_Create": {
            "$ref": "./examples/SampleOperations_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "SampleOperations_Update",
        "tags": [
          "SampleOperations"
        ],
        "description": "Update a Sample",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "sampleName",
            "in": "path",
            "description": "Name of the sample",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SampleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sample"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SampleOperations_Update": {
            "$ref": "./examples/SampleOperations_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SampleOperations_Delete",
        "tags": [
          "SampleOperations"
        ],
        "description": "Delete a Sample",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "libraryName",
            "in": "path",
            "description": "Name of the library",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          },
          {
            "name": "sampleName",
            "in": "path",
            "description": "Name of the sample",
            "required": true,
            "type": "string",
            "pattern": "^[\\w\\-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SampleOperations_Delete": {
            "$ref": "./examples/SampleOperations_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Analysis": {
      "type": "object",
      "description": "Analysis of one or more samples",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AnalysisProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AnalysisKind": {
      "type": "string",
      "description": "Supported types of analysis",
      "enum": [
        "Metagenomics"
      ],
      "x-ms-enum": {
        "name": "AnalysisKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Metagenomics",
            "value": "Metagenomics",
            "description": "Metagenomics analysis: identify the sources of genetic material in a sample"
          }
        ]
      }
    },
    "AnalysisListResult": {
      "type": "object",
      "description": "The response of a Analysis list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Analysis items on this page",
          "items": {
            "$ref": "#/definitions/Analysis"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AnalysisProperties": {
      "type": "object",
      "description": "The properties of Analysis",
      "properties": {
        "samples": {
          "type": "array",
          "description": "The sample names being analyzed",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "settings": {
          "$ref": "#/definitions/AnalysisSettings",
          "description": "The settings for the analysis",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time this analysis started",
          "readOnly": true
        },
        "finishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time this analysis finished",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/AnalysisState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "result": {
          "$ref": "#/definitions/AnalysisResult",
          "description": "The result if the analysis succeeded",
          "readOnly": true
        },
        "error": {
          "type": "object",
          "description": "The error if the analysis failed",
          "properties": {
            "code": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          },
          "required": [
            "code",
            "message"
          ],
          "readOnly": true
        }
      },
      "required": [
        "samples",
        "settings"
      ]
    },
    "AnalysisResult": {
      "type": "object",
      "description": "Base result of an analysis",
      "properties": {
        "kind": {
          "$ref": "#/definitions/AnalysisKind",
          "description": "The type of the analysis"
        },
        "files": {
          "type": "array",
          "description": "The path to the output files",
          "items": {
            "type": "string"
          }
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "AnalysisSettings": {
      "type": "object",
      "description": "Base settings for analysis",
      "properties": {
        "kind": {
          "$ref": "#/definitions/AnalysisKind",
          "description": "The type of the analysis"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "AnalysisState": {
      "type": "string",
      "description": "The status of an analysis",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Queued",
        "Started"
      ],
      "x-ms-enum": {
        "name": "AnalysisState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Queued",
            "value": "Queued",
            "description": "Submitted for processing"
          },
          {
            "name": "Started",
            "value": "Started",
            "description": "In progress"
          }
        ]
      },
      "readOnly": true
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Library": {
      "type": "object",
      "description": "A collection of genomics samples and analyses",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LibraryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LibraryListResult": {
      "type": "object",
      "description": "The response of a Library list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Library items on this page",
          "items": {
            "$ref": "#/definitions/Library"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LibraryProperties": {
      "type": "object",
      "description": "The properties of Library",
      "properties": {
        "container": {
          "type": "string",
          "description": "The blob container URL where data files are stored"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "container"
      ]
    },
    "LibraryPropertiesUpdate": {
      "type": "object",
      "description": "The properties of Library",
      "properties": {
        "container": {
          "type": "string",
          "description": "The blob container URL where data files are stored"
        }
      }
    },
    "LibraryUpdate": {
      "type": "object",
      "description": "A collection of genomics samples and analyses",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LibraryPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "MetagenomicsAnalysisResult": {
      "type": "object",
      "description": "Result for a Metagenomics analysis",
      "properties": {
        "taxonomyVersion": {
          "$ref": "#/definitions/TaxonomyVersion",
          "description": "The version of taxonomy database used"
        },
        "totalReads": {
          "type": "integer",
          "format": "int32",
          "description": "The number of base pairs read"
        }
      },
      "required": [
        "taxonomyVersion",
        "totalReads"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AnalysisResult"
        }
      ],
      "x-ms-discriminator-value": "Metagenomics"
    },
    "MetagenomicsAnalysisSettings": {
      "type": "object",
      "description": "Settings for a Metagenomics analysis",
      "properties": {
        "taxonomyVersion": {
          "$ref": "#/definitions/TaxonomyVersion",
          "description": "The version of taxonomy database to use. Default is the latest version."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AnalysisSettings"
        }
      ],
      "x-ms-discriminator-value": "Metagenomics"
    },
    "Sample": {
      "type": "object",
      "description": "Genetic sequence data from a biological sample",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SampleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SampleListResult": {
      "type": "object",
      "description": "The response of a Sample list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Sample items on this page",
          "items": {
            "$ref": "#/definitions/Sample"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SampleProperties": {
      "type": "object",
      "description": "The properties of Sample",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description"
        },
        "paths": {
          "type": "array",
          "description": "Location of the fastq files",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      },
      "required": [
        "paths"
      ]
    },
    "SamplePropertiesUpdate": {
      "type": "object",
      "description": "The properties of Sample",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description"
        },
        "paths": {
          "type": "array",
          "description": "Location of the fastq files",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SampleUpdate": {
      "type": "object",
      "description": "Genetic sequence data from a biological sample",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SamplePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "TaxonomyVersion": {
      "type": "string",
      "description": "Valid taxonomy database versions",
      "enum": [
        "v2020_07_06",
        "Latest"
      ],
      "x-ms-enum": {
        "name": "TaxonomyVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "v2020_07_06",
            "value": "v2020_07_06",
            "description": "Taxonomy database derived from NCBI and COL as of 2020-07-06"
          },
          {
            "name": "Latest",
            "value": "Latest",
            "description": "The latest version of the taxonomy database"
          }
        ]
      }
    }
  },
  "parameters": {}
}
