{
  "swagger": "2.0",
  "info": {
    "title": "AzureTerraformResourceProviderClient",
    "version": "2023-07-01-preview",
    "description": "The Azure Terraform management API provides a RESTful set of web services that used to manage your Azure Terraform resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ExportTerraform"
    },
    {
      "name": "Operations"
    },
    {
      "name": "OperationStatuses"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureTerraform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a list of operations for a resource provider": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureTerraform/exportTerraform": {
      "post": {
        "operationId": "ExportTerraform",
        "tags": [
          "ExportTerraform"
        ],
        "description": "Exports the Terraform configuration of the specified resource(s).",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "exportParameter",
            "in": "body",
            "description": "The export parameter",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseExportModel"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Export request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportTerraform": {
            "$ref": "./examples/ExportTerraform.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/OperationStatus"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureTerraform/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatuses_Get",
        "tags": [
          "OperationStatuses"
        ],
        "description": "Get the status of a long running azure asynchronous operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "InProgress operation status",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get specific operation status": {
            "$ref": "./examples/GetOperationStatus.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BaseExportModel": {
      "type": "object",
      "description": "The base export parameter",
      "properties": {
        "type": {
          "$ref": "#/definitions/Type",
          "description": "The parameter type"
        },
        "targetProvider": {
          "type": "string",
          "description": "The target Azure Terraform Provider",
          "default": "azurerm",
          "enum": [
            "azurerm",
            "azapi"
          ],
          "x-ms-enum": {
            "name": "targetProvider",
            "modelAsString": true,
            "values": [
              {
                "name": "azurerm",
                "value": "azurerm",
                "description": "https://registry.terraform.io/providers/hashicorp/azurerm/latest"
              },
              {
                "name": "azapi",
                "value": "azapi",
                "description": "https://registry.terraform.io/providers/Azure/azapi/latest"
              }
            ]
          }
        },
        "fullProperties": {
          "type": "boolean",
          "description": "Whether to output all non-computed properties in the generated Terraform configuration? This probably needs manual modifications to make it valid",
          "default": true
        },
        "maskSensitive": {
          "type": "boolean",
          "description": "Mask sensitive attributes in the Terraform configuration",
          "default": true
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ExportQuery": {
      "type": "object",
      "description": "Export parameter for resources queried by ARG (Azure Resource Graph)",
      "properties": {
        "query": {
          "type": "string",
          "description": "The ARG where predicate. Note that you can combine multiple conditions in one `where` predicate, e.g. `resourceGroup =~ \"my-rg\" and type =~ \"microsoft.network/virtualnetworks\"`"
        },
        "namePattern": {
          "type": "string",
          "description": "The name pattern of the Terraform resources",
          "default": "res-"
        },
        "recursive": {
          "type": "boolean",
          "description": "Whether to recursively list child resources of the query result",
          "default": false
        }
      },
      "required": [
        "query"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseExportModel"
        }
      ],
      "x-ms-discriminator-value": "ExportQuery"
    },
    "ExportResource": {
      "type": "object",
      "description": "Export parameter for individual resources.",
      "properties": {
        "resourceIds": {
          "type": "array",
          "description": "The id of the resource to be exported",
          "items": {
            "type": "string"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "The Terraform resource name. Only works when `resourceIds` contains only one item.",
          "default": "res-0"
        },
        "resourceType": {
          "type": "string",
          "description": "The Terraform resource type. Only works when `resourceIds` contains only one item."
        },
        "namePattern": {
          "type": "string",
          "description": "The name pattern of the Terraform resources",
          "default": "res-"
        }
      },
      "required": [
        "resourceIds"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseExportModel"
        }
      ],
      "x-ms-discriminator-value": "ExportResource"
    },
    "ExportResourceGroup": {
      "type": "object",
      "description": "Export parameter for a resource group",
      "properties": {
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group to be exported"
        },
        "namePattern": {
          "type": "string",
          "description": "The name pattern of the Terraform resources",
          "default": "res-"
        }
      },
      "required": [
        "resourceGroupName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BaseExportModel"
        }
      ],
      "x-ms-discriminator-value": "ExportResourceGroup"
    },
    "ExportResult": {
      "type": "object",
      "description": "The Terraform export result",
      "properties": {
        "configuration": {
          "type": "string",
          "description": "The Terraform configuration content"
        },
        "skippedResources": {
          "type": "array",
          "description": "A list of Azure resources which are not exported to Terraform due to there is no corresponding resources in Terraform",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "type": "array",
          "description": "A list of errors derived during exporting each resource",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "OperationStatus": {
      "type": "object",
      "description": "The status of the LRO operation.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation status resource id."
        },
        "resourceId": {
          "type": "string",
          "description": "The fully qualified resource id of the resource for which the operation was performed.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time of the operation.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status of the operation."
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "The progress percentage of the operation, ranges from 0 to 100"
        },
        "properties": {
          "$ref": "#/definitions/ExportResult",
          "description": "The Terraform export result"
        },
        "error": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "The error object."
        }
      }
    },
    "Type": {
      "type": "string",
      "description": "The parameter type",
      "enum": [
        "ExportResource",
        "ExportResourceGroup",
        "ExportQuery"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true,
        "values": [
          {
            "name": "ExportResource",
            "value": "ExportResource"
          },
          {
            "name": "ExportResourceGroup",
            "value": "ExportResourceGroup"
          },
          {
            "name": "ExportQuery",
            "value": "ExportQuery"
          }
        ]
      }
    }
  },
  "parameters": {}
}
