{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-01",
    "title": "Microsoft.Azure.AMH.WebRole.V2020_05_01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "Azure Subscription Id in which project was created.",
      "type": "string",
      "in": "path",
      "required": true
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "Name of the Azure Resource Group that project is part of.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "migrateProjectName": {
	  "name": "migrateProjectName",
	  "description": "Migrate project name.",
	  "in": "path",
      "x-ms-parameter-location": "method",
	  "required": true,
	  "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}": {
      "get": {
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_GetMigrateProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Get": {
            "$ref": "./examples/migrateProject_Get.json"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_PutMigrateProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "body",
            "description": "Migrate project body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Put": {
            "$ref": "./examples/migrateProject_Create.json"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_DeleteMigrateProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Delete": {
            "$ref": "./examples/migrateProject_Delete.json"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_PatchMigrateProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "body",
            "description": "Migrate project body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Patch": {
            "$ref": "./examples/migrateProject_Patch.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/privateEndpointConnections/{peConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "operationId": "PrivateEndpointConnectionController_GetPrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Get": {
            "$ref": "./examples/PrivateEndpointConnection_Get.json"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "operationId": "PrivateEndpointConnectionController_PutPrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "Modify connection state body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyConnectionStateBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Put": {
            "$ref": "./examples/PrivateEndpointConnections_Create.json"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "operationId": "PrivateEndpointConnectionController_DeletePrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "enum": [
                "Continue",
                "SwitchingProtocols",
                "OK",
                "Created",
                "Accepted",
                "NonAuthoritativeInformation",
                "NoContent",
                "ResetContent",
                "PartialContent",
                "MultipleChoices",
                "Ambiguous",
                "MovedPermanently",
                "Moved",
                "Found",
                "Redirect",
                "SeeOther",
                "RedirectMethod",
                "NotModified",
                "UseProxy",
                "Unused",
                "TemporaryRedirect",
                "RedirectKeepVerb",
                "BadRequest",
                "Unauthorized",
                "PaymentRequired",
                "Forbidden",
                "NotFound",
                "MethodNotAllowed",
                "NotAcceptable",
                "ProxyAuthenticationRequired",
                "RequestTimeout",
                "Conflict",
                "Gone",
                "LengthRequired",
                "PreconditionFailed",
                "RequestEntityTooLarge",
                "RequestUriTooLong",
                "UnsupportedMediaType",
                "RequestedRangeNotSatisfiable",
                "ExpectationFailed",
                "UpgradeRequired",
                "InternalServerError",
                "NotImplemented",
                "BadGateway",
                "ServiceUnavailable",
                "GatewayTimeout",
                "HttpVersionNotSupported"
              ],
              "type": "string"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "tags": [
          "PrivateLinkResourceController"
        ],
        "operationId": "PrivateLinkResourceController_GetPrivateLinkResource",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "privateLinkResourceName",
            "description": "Private Link resource name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_Get": {
            "$ref": "./examples/PrivateLinkResources_Get.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/MigrateProjects/{migrateProjectName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResourceController"
        ],
        "operationId": "PrivateLinkResourceController_GetPrivateLinkResources",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "api-version",
            "description": "The API version to use for this operation.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PrivateLinkResource"
              }
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_ListBySite": {
            "$ref": "./examples/PrivateLinkResources_ListBySite.json"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object",
      "properties": {
        
      }
    },	
    "MigrateProject": {
      "type": "object",
      "description": "Migrate project.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrateProjectProperties"
        },
        "eTag": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MigrateProjectProperties": {
      "type": "object",
      "description": "Properties of a migrate project.",
      "properties": {
        "registeredTools": {
          "type": "array",
          "items": {
            "enum": [
              "ServerDiscovery",
              "ServerAssessment",
              "ServerMigration",
              "Cloudamize",
              "Turbonomic",
              "Zerto",
              "CorentTech",
              "ServerAssessmentV1",
              "ServerMigration_Replication",
              "Carbonite",
              "DataMigrationAssistant",
              "DatabaseMigrationService",
              "Device42",
              "JetStream",
              "RackWare",
              "UnifyCloud",
              "Flexera",
              "ServerDiscovery_Import",
              "Lakeside",
              "AppServiceMigrationAssistant",
              "Movere",
              "CloudSphere",
              "Unknown"
            ],
            "type": "string"
          },
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string"
        },
        "summary": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ProjectSummary"
          },
          "readOnly": true
        },
        "lastSummaryRefreshedTime": {
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "refreshSummaryState": {
          "enum": [
            "Started",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "type": "string",
          "readOnly": true
        },
		"utilityStorageAccountId": {
		  "type": "string"
		},
        "publicNetworkAccess": {
          "description": "Gets or sets the state of public network access.",
          "enum": [
            "NotSpecified",
            "Enabled",
            "Disabled"
          ],
          "type": "string"
        },
        "privateEndpointConnections": {
          "description": "Gets the private endpoint connections.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "description": "REST model used to encapsulate the user visible state of a PrivateEndpoint.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Relative URL to get this Sites.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets the name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Gets the resource type.",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Gets the tag for optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Gets the properties of the object.",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of a private endpoint connection.",
      "properties": {
        "provisioningState": {
          "enum": [
            "Accepted",
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "type": "string",
          "readOnly": true
        },
        "privateEndpoint": {
          "$ref": "#/definitions/ResourceId",
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState"
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "Private endpoint connection state.",
      "properties": {
        "status": {
          "enum": [
            "Approved",
            "Pending",
            "Rejected",
            "Disconnected"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "actionsRequired": {
          "type": "string"
        }
      }
    },
    "ResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionCollection": {
      "description": "Collection of PrivateLink resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of machines.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "Private link resource.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "id": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "readOnly": true
        }
      }
    },
    "ProjectSummary": {
      "type": "object",
      "description": "Project summary.",
      "properties": {
        "instanceType": {
          "type": "string",
          "readOnly": true
        },
        "refreshSummaryState": {
          "enum": [
            "Started",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "type": "string"
        },
        "lastSummaryRefreshedTime": {
          "format": "date-time",
          "type": "string"
        },
        "extendedSummary": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ModifyConnectionStateBody": {
      "type": "object",
      "description": "Modify connection state body.",
      "properties": {
        "eTag": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ConnectionStateRequestBodyProperties"
        }
      }
    },
    "ConnectionStateRequestBodyProperties": {
      "type": "object",
      "description": "Properties of Connection state request.",
      "properties": {
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState"
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "description": "Properties of private link resource.",
      "properties": {
        "requiredMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredZoneNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupId": {
          "type": "string"
        }
      }
    }
  }
}