{
  "swagger": "2.0",
  "info": {
    "title": "adp",
    "version": "2022-09-01-preview",
    "description": "Microsoft.AutonomousDevelopmentPlatform resource management API."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_List",
        "description": "List all ADP accounts available under the subscription",
        "x-ms-examples": {
          "List accounts": {
            "$ref": "./examples/AdpAccountsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_ListByResourceGroup",
        "description": "List all ADP accounts available under the resource group",
        "x-ms-examples": {
          "List accounts by resource group": {
            "$ref": "./examples/AdpAccountsListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts/{accountName}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Get",
        "description": "Gets the properties of an ADP account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The ADP account properties were retrieved successfully",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get account": {
            "$ref": "./examples/AdpAccountGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Update",
        "x-ms-long-running-operation": true,
        "description": "Updates the properties of an existing ADP account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "The parameters to provide for the current ADP account",
            "schema": {
              "$ref": "#/definitions/AccountPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was updated successfully",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "The resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch account": {
            "$ref": "./examples/AdpAccountPatch.json"
          }
        }
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_CreateOrUpdate",
        "description": "Creates or updates an ADP account",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "The parameters to provide for the ADP account",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The ADP account was successfully updated",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "201": {
            "description": "The resource will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put account": {
            "$ref": "./examples/AdpAccountPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "operationId": "Accounts_Delete",
        "description": "Deletes an ADP account",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The ADP account was successfully deleted"
          },
          "202": {
            "description": "The ADP account will be deleted asynchronously"
          },
          "204": {
            "description": "The ADP account does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete account": {
            "$ref": "./examples/AdpAccountDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts/{accountName}/dataPools": {
      "get": {
        "tags": [
          "DataPools"
        ],
        "operationId": "DataPools_List",
        "description": "Lists the data pools under the ADP account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of data pools that was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/DataPoolList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Data Pools": {
            "$ref": "./examples/AdpDataPoolsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AutonomousDevelopmentPlatform/accounts/{accountName}/dataPools/{dataPoolName}": {
      "get": {
        "tags": [
          "DataPools"
        ],
        "operationId": "DataPools_Get",
        "description": "Gets the properties of a Data Pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/DataPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Data Pool that was successfully retrieved",
            "schema": {
              "$ref": "#/definitions/DataPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Data Pool": {
            "$ref": "./examples/AdpDataPoolGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DataPools"
        ],
        "operationId": "DataPools_Update",
        "description": "Updates the properties of an existing Data Pool",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/DataPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "The parameters to provide for the Data Pool",
            "schema": {
              "$ref": "#/definitions/DataPoolPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Data Pool was updated successfully",
            "schema": {
              "$ref": "#/definitions/DataPool"
            }
          },
          "201": {
            "description": "The Data Pool will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/DataPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Data Pool": {
            "$ref": "./examples/AdpDataPoolPatch.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataPools"
        ],
        "operationId": "DataPools_CreateOrUpdate",
        "description": "Creates or updates a Data Pool",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/DataPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "The parameters to provide for the Data Pool",
            "schema": {
              "$ref": "#/definitions/DataPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Data Pool was successfully updated",
            "schema": {
              "$ref": "#/definitions/DataPool"
            }
          },
          "201": {
            "description": "The Data Pool will be updated asynchronously",
            "schema": {
              "$ref": "#/definitions/DataPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put Data Pool": {
            "$ref": "./examples/AdpDataPoolPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataPools"
        ],
        "operationId": "DataPools_Delete",
        "description": "Deletes a Data Pool",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/DataPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Data Pool was successfully deleted"
          },
          "202": {
            "description": "The Data Pool will be deleted asynchronously"
          },
          "204": {
            "description": "The Data Pool does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Data Pool": {
            "$ref": "./examples/AdpDataPoolDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Tags": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "x-ms-mutability": [
        "read",
        "create",
        "update"
      ],
      "description": "Resource tags"
    },
    "Account": {
      "type": "object",
      "description": "ADP account",
      "properties": {
        "properties": {
          "description": "List of account properties",
          "type": "object",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccountProperties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AccountPatch": {
      "type": "object",
      "description": "ADP account",
      "properties": {
        "properties": {
          "description": "List of account properties",
          "type": "object",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccountProperties"
        },
        "tags": {
          "$ref": "#/definitions/Tags"
        }
      }
    },
    "AccountProperties": {
      "type": "object",
      "description": "ADP account properties",
      "properties": {
        "accountId": {
          "description": "The account's data-plane ID",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of the account at the time the operation was called",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Provisioning",
            "Deleting",
            "Accepted"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "AccountList": {
      "type": "object",
      "description": "The list operation response, that contains the data pools and their properties",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          },
          "description": "List of accounts and their properties"
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any"
        }
      }
    },
    "DataPool": {
      "type": "object",
      "description": "ADP Data Pool",
      "properties": {
        "properties": {
          "description": "List of data pool properties",
          "type": "object",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DataPoolProperties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "DataPoolPatch": {
      "type": "object",
      "description": "ADP Data Pool",
      "properties": {
        "properties": {
          "description": "List of data pool properties",
          "type": "object",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DataPoolBaseProperties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "DataPoolBaseProperties": {
      "type": "object",
      "description": "Data Pool properties",
      "properties": {
        "dataPoolId": {
          "description": "The Data Pool's data-plane ID",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the status of the data pool at the time the operation was called",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataPoolLocation"
          },
          "description": "Gets or sets the collection of locations where Data Pool resources should be created"
        },
        "tags": {
          "$ref": "#/definitions/Tags"
        }
      }
    },
    "DataPoolProperties": {
      "type": "object",
      "description": "Data Pool properties",
      "allOf": [
        {
          "$ref": "#/definitions/DataPoolBaseProperties"
        }
      ],
      "required": [
        "locations"
      ]
    },
    "DataPoolLocation": {
      "type": "object",
      "description": "Location of a Data Pool",
      "properties": {
        "name": {
          "description": "The location name",
          "type": "string"
        },
        "encryption": {
          "description": "Encryption properties of a Data Pool location",
          "$ref": "#/definitions/DataPoolEncryption"
        },
        "storageSku": {
          "description": "The Storage SKU. Default: Standard_ZRS.",
          "$ref": "workspaces.json#/definitions/StorageSku",
          "x-nullable": true
        },
        "storageAccountCount": {
          "description": "The amount of storage accounts provisioned per Data Pool. Default: 5",
          "type": "integer",
          "minimum": 1,
          "format": "int32"
        }
      },
      "required": [
        "name"
      ]
    },
    "DataPoolEncryption": {
      "type": "object",
      "description": "Encryption properties of a Data Pool",
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "description": "The URI of a soft delete-enabled Key Vault that is in the same location as the Data Pool location"
        },
        "keyName": {
          "type": "string",
          "description": "The name of Key Vault key"
        },
        "keyVersion": {
          "type": "string",
          "description": "The version of Key Vault key"
        },
        "userAssignedIdentity": {
          "type": "string",
          "description": "The resource ID of a user-assigned Managed Identity used to access the encryption key in the Key Vault. Requires access to the key operations get, wrap, unwrap, and recover"
        }
      },
      "required": [
        "keyVaultUri",
        "keyName",
        "userAssignedIdentity"
      ]
    },
    "DataPoolList": {
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataPool"
          },
          "description": "List of data pools and their properties"
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any"
        }
      },
      "description": "The list operation response, that contains the data pools and their properties"
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the ADP account",
      "pattern": "^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*",
      "maxLength": 50,
      "x-ms-parameter-location": "method"
    },
    "DataPoolNameParameter": {
      "name": "dataPoolName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Data Pool",
      "pattern": "^[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*",
      "maxLength": 50,
      "x-ms-parameter-location": "method"
    }
  }
}
