{
  "swagger": "2.0",
  "info": {
    "title": "SearchManagementClient",
    "version": "2025-05-01",
    "description": "Client that can be used to manage Azure AI Search services and API keys.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SearchServices"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "SharedPrivateLinkResources"
    },
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Search/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.Search provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchListOperations": {
            "$ref": "./examples/SearchListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Search/checkNameAvailability": {
      "post": {
        "operationId": "Services_CheckNameAvailability",
        "description": "Checks whether or not the given search service name is available for use. Search service names must be globally unique since they are part of the service URI (https://<name>.search.windows.net).",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "name": "checkNameAvailabilityInput",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityOutput"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchCheckNameAvailability": {
            "$ref": "./examples/SearchCheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Search/locations/{location}/usages": {
      "get": {
        "operationId": "Usages_ListBySubscription",
        "description": "Get a list of all Azure AI Search quota usages across the subscription.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QuotaUsagesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetQuotaUsagesList": {
            "$ref": "./examples/GetQuotaUsagesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Search/locations/{location}/usages/{skuName}": {
      "get": {
        "operationId": "UsageBySubscriptionSku",
        "description": "Gets the quota usage for a search SKU in the given subscription.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "skuName",
            "in": "path",
            "description": "The unique SKU name that identifies a billable tier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QuotaUsageResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetQuotaUsage": {
            "$ref": "./examples/GetQuotaUsage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Search/searchServices": {
      "get": {
        "operationId": "Services_ListBySubscription",
        "tags": [
          "SearchServices"
        ],
        "description": "Gets a list of all Search services in the given subscription.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SearchServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchListServicesBySubscription": {
            "$ref": "./examples/SearchListServicesBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices": {
      "get": {
        "operationId": "Services_ListByResourceGroup",
        "tags": [
          "SearchServices"
        ],
        "description": "Gets a list of all Search services in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SearchServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchListServicesByResourceGroup": {
            "$ref": "./examples/SearchListServicesByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}": {
      "get": {
        "operationId": "Services_Get",
        "tags": [
          "SearchServices"
        ],
        "description": "Gets the search service with the given name in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchGetService": {
            "$ref": "./examples/SearchGetService.json"
          }
        }
      },
      "put": {
        "operationId": "Services_CreateOrUpdate",
        "tags": [
          "SearchServices"
        ],
        "description": "Creates or updates a search service in the given resource group. If the search service already exists, all properties will be updated with the given values.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "name": "service",
            "in": "body",
            "description": "The definition of the search service to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SearchService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          },
          "201": {
            "description": "Resource 'SearchService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SearchService"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchCreateOrUpdateService": {
            "$ref": "./examples/SearchCreateOrUpdateService.json"
          },
          "SearchCreateOrUpdateServiceAuthOptions": {
            "$ref": "./examples/SearchCreateOrUpdateServiceAuthOptions.json"
          },
          "SearchCreateOrUpdateServiceDisableLocalAuth": {
            "$ref": "./examples/SearchCreateOrUpdateServiceDisableLocalAuth.json"
          },
          "SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints": {
            "$ref": "./examples/SearchCreateOrUpdateServiceToAllowAccessFromPrivateEndpoints.json"
          },
          "SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs": {
            "$ref": "./examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPs.json"
          },
          "SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass": {
            "$ref": "./examples/SearchCreateOrUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json"
          },
          "SearchCreateOrUpdateServiceWithCmkEnforcement": {
            "$ref": "./examples/SearchCreateOrUpdateServiceWithCmkEnforcement.json"
          },
          "SearchCreateOrUpdateServiceWithDataExfiltration": {
            "$ref": "./examples/SearchCreateOrUpdateServiceWithDataExfiltration.json"
          },
          "SearchCreateOrUpdateServiceWithIdentity": {
            "$ref": "./examples/SearchCreateOrUpdateServiceWithIdentity.json"
          },
          "SearchCreateOrUpdateWithSemanticSearch": {
            "$ref": "./examples/SearchCreateOrUpdateWithSemanticSearch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SearchService"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Services_Update",
        "tags": [
          "SearchServices"
        ],
        "description": "Updates an existing search service in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "name": "service",
            "in": "body",
            "description": "The definition of the search service to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchUpdateService": {
            "$ref": "./examples/SearchUpdateService.json"
          },
          "SearchUpdateServiceAuthOptions": {
            "$ref": "./examples/SearchUpdateServiceAuthOptions.json"
          },
          "SearchUpdateServiceDisableLocalAuth": {
            "$ref": "./examples/SearchUpdateServiceDisableLocalAuth.json"
          },
          "SearchUpdateServiceToAllowAccessFromPrivateEndpoints": {
            "$ref": "./examples/SearchUpdateServiceToAllowAccessFromPrivateEndpoints.json"
          },
          "SearchUpdateServiceToAllowAccessFromPublicCustomIPs": {
            "$ref": "./examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPs.json"
          },
          "SearchUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass": {
            "$ref": "./examples/SearchUpdateServiceToAllowAccessFromPublicCustomIPsAndBypass.json"
          },
          "SearchUpdateServiceToRemoveIdentity": {
            "$ref": "./examples/SearchUpdateServiceToRemoveIdentity.json"
          },
          "SearchUpdateServiceWithCmkEnforcement": {
            "$ref": "./examples/SearchUpdateServiceWithCmkEnforcement.json"
          },
          "SearchUpdateServiceWithDataExfiltration": {
            "$ref": "./examples/SearchUpdateServiceWithDataExfiltration.json"
          },
          "SearchUpdateServiceWithSemanticSearch": {
            "$ref": "./examples/SearchUpdateServiceWithSemanticSearch.json"
          },
          "SearchUpdateServiceWithSku": {
            "$ref": "./examples/SearchUpdateServiceWithSku.json"
          }
        }
      },
      "delete": {
        "operationId": "Services_Delete",
        "tags": [
          "SearchServices"
        ],
        "description": "Deletes a search service in the given resource group, along with its associated resources.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchDeleteService": {
            "$ref": "./examples/SearchDeleteService.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}": {
      "post": {
        "operationId": "QueryKeys_Create",
        "tags": [
          "SearchServices"
        ],
        "description": "Generates a new query key for the specified search service. You can create up to 50 query keys per service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the new query API key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchCreateQueryKey": {
            "$ref": "./examples/SearchCreateQueryKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}": {
      "delete": {
        "operationId": "QueryKeys_Delete",
        "tags": [
          "SearchServices"
        ],
        "description": "Deletes the specified query key. Unlike admin keys, query keys are not regenerated. The process for regenerating a query key is to delete and then recreate it.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "key",
            "in": "path",
            "description": "The query key to be deleted. Query keys are identified by value, not by name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchDeleteQueryKey": {
            "$ref": "./examples/SearchDeleteQueryKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listAdminKeys": {
      "post": {
        "operationId": "AdminKeys_Get",
        "tags": [
          "SearchServices"
        ],
        "description": "Gets the primary and secondary admin API keys for the specified Azure AI Search service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AdminKeyResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchGetAdminKeys": {
            "$ref": "./examples/SearchGetAdminKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys": {
      "post": {
        "operationId": "QueryKeys_ListBySearchService",
        "tags": [
          "SearchServices"
        ],
        "description": "Returns the list of query API keys for the given Azure AI Search service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListQueryKeysResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchListQueryKeysBySearchService": {
            "$ref": "./examples/SearchListQueryKeysBySearchService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_ListByService",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a list of network security perimeter configurations for a search service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List NSP configs by search service": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationsListByService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/networkSecurityPerimeterConfigurations/{nspConfigName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Get",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a network security perimeter configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "nspConfigName",
            "in": "path",
            "description": "The network security perimeter configuration name.",
            "required": true,
            "type": "string",
            "minLength": 38,
            "maxLength": 100,
            "pattern": "^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}\\.[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/networksecurityperimeter.json#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get an NSP config by name": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/networkSecurityPerimeterConfigurations/{nspConfigName}/reconcile": {
      "post": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Reconcile",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconcile network security perimeter configuration for the Azure AI Search resource provider. This triggers a manual resync with network security perimeter configurations by ensuring the search service carries the latest configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "nspConfigName",
            "in": "path",
            "description": "The network security perimeter configuration name.",
            "required": true,
            "type": "string",
            "minLength": 38,
            "maxLength": 100,
            "pattern": "^[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}\\.[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Reconcile NSP Config": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationsReconcile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByService",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets a list of all private endpoint connections in the given service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListPrivateEndpointConnectionsByService": {
            "$ref": "./examples/ListPrivateEndpointConnectionsByService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the details of the private endpoint connection to the search service in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection to the Azure AI Search service with the specified resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionGet": {
            "$ref": "./examples/GetPrivateEndpointConnection.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Update",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Updates a private endpoint connection to the search service in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection to the Azure AI Search service with the specified resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The definition of the private endpoint connection to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionUpdate": {
            "$ref": "./examples/UpdatePrivateEndpointConnection.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Disconnects the private endpoint connection and deletes it from the search service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection to the Azure AI Search service with the specified resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionDelete": {
            "$ref": "./examples/DeletePrivateEndpointConnection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListSupported",
        "tags": [
          "SearchServices"
        ],
        "description": "Gets a list of all supported private link resource types for the given service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourcesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListSupportedPrivateLinkResources": {
            "$ref": "./examples/ListSupportedPrivateLinkResources.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}": {
      "post": {
        "operationId": "AdminKeys_Regenerate",
        "tags": [
          "SearchServices"
        ],
        "description": "Regenerates either the primary or secondary admin API key. You can only regenerate one key at a time.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "keyKind",
            "in": "path",
            "description": "Specifies which key to regenerate. Valid values include 'primary' and 'secondary'.",
            "required": true,
            "type": "string",
            "enum": [
              "primary",
              "secondary"
            ],
            "x-ms-enum": {
              "name": "AdminKeyKind",
              "modelAsString": false,
              "values": [
                {
                  "name": "Primary",
                  "value": "primary",
                  "description": "The primary API key for the search service."
                },
                {
                  "name": "Secondary",
                  "value": "secondary",
                  "description": "The secondary API key for the search service."
                }
              ]
            }
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AdminKeyResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SearchRegenerateAdminKey": {
            "$ref": "./examples/SearchRegenerateAdminKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/sharedPrivateLinkResources": {
      "get": {
        "operationId": "SharedPrivateLinkResources_ListByService",
        "tags": [
          "SharedPrivateLinkResources"
        ],
        "description": "Gets a list of all shared private link resources managed by the given service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListSharedPrivateLinkResourcesByService": {
            "$ref": "./examples/ListSharedPrivateLinkResourcesByService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}": {
      "get": {
        "operationId": "SharedPrivateLinkResources_Get",
        "tags": [
          "SharedPrivateLinkResources"
        ],
        "description": "Gets the details of the shared private link resource managed by the search service in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "sharedPrivateLinkResourceName",
            "in": "path",
            "description": "The name of the shared private link resource managed by the Azure AI Search service within the specified resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SharedPrivateLinkResourceGet": {
            "$ref": "./examples/GetSharedPrivateLinkResource.json"
          }
        }
      },
      "put": {
        "operationId": "SharedPrivateLinkResources_CreateOrUpdate",
        "tags": [
          "SharedPrivateLinkResources"
        ],
        "description": "Initiates the creation or update of a shared private link resource managed by the search service in the given resource group.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "sharedPrivateLinkResourceName",
            "in": "path",
            "description": "The name of the shared private link resource managed by the Azure AI Search service within the specified resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          },
          {
            "name": "sharedPrivateLinkResource",
            "in": "body",
            "description": "The definition of the shared private link resource to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SharedPrivateLinkResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SharedPrivateLinkResource"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SharedPrivateLinkResourceCreateOrUpdate": {
            "$ref": "./examples/CreateOrUpdateSharedPrivateLinkResource.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SharedPrivateLinkResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SharedPrivateLinkResources_Delete",
        "tags": [
          "SharedPrivateLinkResources"
        ],
        "description": "Initiates the deletion of the shared private link resource from the search service.",
        "externalDocs": {
          "url": "https://aka.ms/search-manage"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          },
          {
            "name": "sharedPrivateLinkResourceName",
            "in": "path",
            "description": "The name of the shared private link resource managed by the Azure AI Search service within the specified resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
            "required": false,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-grouping": {
              "name": "search-management-request-options"
            },
            "x-ms-client-name": "clientRequestId",
            "x-ms-client-request-id": true
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SharedPrivateLinkResourceDelete": {
            "$ref": "./examples/DeleteSharedPrivateLinkResource.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/upgrade": {
      "post": {
        "operationId": "Services_Upgrade",
        "tags": [
          "SearchServices"
        ],
        "description": "Upgrades the Azure AI Search service to the latest version available.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "searchServiceName",
            "in": "path",
            "description": "The name of the Azure AI Search service associated with the specified resource group.",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{2,60}$)[a-z0-9][a-z0-9]+(-[a-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "UpgradeSearchServiceToLatestVersion": {
            "$ref": "./examples/UpgradeSearchServiceToLatestVersion.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SearchService"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AadAuthFailureMode": {
      "type": "string",
      "description": "Describes what response the data plane API of a search service would send for requests that failed authentication.",
      "enum": [
        "http403",
        "http401WithBearerChallenge"
      ],
      "x-ms-enum": {
        "name": "AadAuthFailureMode",
        "modelAsString": false,
        "values": [
          {
            "name": "Http403",
            "value": "http403",
            "description": "Indicates that requests that failed authentication should be presented with an HTTP status code of 403 (Forbidden)."
          },
          {
            "name": "Http401WithBearerChallenge",
            "value": "http401WithBearerChallenge",
            "description": "Indicates that requests that failed authentication should be presented with an HTTP status code of 401 (Unauthorized) and present a Bearer Challenge."
          }
        ]
      }
    },
    "ActionType": {
      "type": "string",
      "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
      "enum": [
        "Internal"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Internal",
            "value": "Internal"
          }
        ]
      }
    },
    "AdminKeyKind": {
      "type": "string",
      "enum": [
        "primary",
        "secondary"
      ],
      "x-ms-enum": {
        "name": "AdminKeyKind",
        "modelAsString": false,
        "values": [
          {
            "name": "Primary",
            "value": "primary",
            "description": "The primary API key for the search service."
          },
          {
            "name": "Secondary",
            "value": "secondary",
            "description": "The secondary API key for the search service."
          }
        ]
      }
    },
    "AdminKeyResult": {
      "type": "object",
      "description": "Response containing the primary and secondary admin API keys for a given Azure AI Search service.",
      "properties": {
        "primaryKey": {
          "type": "string",
          "description": "The primary admin API key of the search service.",
          "readOnly": true
        },
        "secondaryKey": {
          "type": "string",
          "description": "The secondary admin API key of the search service.",
          "readOnly": true
        }
      }
    },
    "AsyncOperationResult": {
      "type": "object",
      "description": "The details of a long running asynchronous shared private link resource operation.",
      "properties": {
        "status": {
          "$ref": "#/definitions/SharedPrivateLinkResourceAsyncOperationResult",
          "description": "The current status of the long running asynchronous shared private link resource operation."
        }
      }
    },
    "CheckNameAvailabilityInput": {
      "type": "object",
      "description": "Input of check name availability API.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The search service name to validate. Search service names must only contain lowercase letters, digits or dashes, cannot use dash as the first two or last one characters, cannot contain consecutive dashes, and must be between 2 and 60 characters in length."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource whose name is to be validated. This value must always be 'searchServices'.",
          "enum": [
            "searchServices"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "CheckNameAvailabilityOutput": {
      "type": "object",
      "description": "Output of check name availability API.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "A value indicating whether the name is available.",
          "readOnly": true,
          "x-ms-client-name": "IsNameAvailable"
        },
        "reason": {
          "$ref": "#/definitions/UnavailableNameReason",
          "description": "The reason why the name is not available. 'Invalid' indicates the name provided does not match the naming requirements (incorrect length, unsupported characters, etc.). 'AlreadyExists' indicates that the name is already in use and is therefore unavailable.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "A message that explains why the name is invalid and provides resource naming requirements. Available only if 'Invalid' is returned in the 'reason' property.",
          "readOnly": true
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Contains information about an API error.",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "Describes a particular API error with an error code and a message."
        },
        "message": {
          "type": "string",
          "description": "A brief description of the error that hints at what went wrong (for details/debugging information refer to the 'error.message' property)."
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "Describes a particular API error with an error code and a message.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that describes the error condition more precisely than an HTTP status code. Can be used to programmatically handle specific error cases."
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error in detail and provides debugging information."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "description": "Contains nested errors that are related to this error.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          }
        }
      },
      "x-ms-external": true
    },
    "ComputeType": {
      "type": "string",
      "description": "Configure this property to support the search service using either the Default Compute or Azure Confidential Compute.",
      "enum": [
        "Default",
        "Confidential"
      ],
      "x-ms-enum": {
        "name": "ComputeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Create the service with the Default Compute."
          },
          {
            "name": "Confidential",
            "value": "Confidential",
            "description": "Create the service with Azure Confidential Compute."
          }
        ]
      }
    },
    "CreatedByType": {
      "type": "string",
      "description": "The type of identity that created the resource.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User"
          },
          {
            "name": "Application",
            "value": "Application"
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity"
          },
          {
            "name": "Key",
            "value": "Key"
          }
        ]
      }
    },
    "DataPlaneAadOrApiKeyAuthOption": {
      "type": "object",
      "description": "Indicates that either the API key or an access token from a Microsoft Entra ID tenant can be used for authentication.",
      "properties": {
        "aadAuthFailureMode": {
          "$ref": "#/definitions/AadAuthFailureMode",
          "description": "Describes what response the data plane API of a search service would send for requests that failed authentication."
        }
      }
    },
    "DataPlaneAuthOptions": {
      "type": "object",
      "description": "Defines the options for how the search service authenticates a data plane request. This cannot be set if 'disableLocalAuth' is set to true.",
      "properties": {
        "apiKeyOnly": {
          "description": "Indicates that only the API key can be used for authentication."
        },
        "aadOrApiKey": {
          "$ref": "#/definitions/DataPlaneAadOrApiKeyAuthOption",
          "description": "Indicates that either the API key or an access token from a Microsoft Entra ID tenant can be used for authentication."
        }
      }
    },
    "EncryptionWithCmk": {
      "type": "object",
      "description": "Describes a policy that determines how resources within the search service are to be encrypted with customer managed keys.",
      "properties": {
        "enforcement": {
          "$ref": "#/definitions/SearchEncryptionWithCmk",
          "description": "Describes how a search service should enforce compliance if it finds objects that aren't encrypted with the customer-managed key."
        },
        "encryptionComplianceStatus": {
          "$ref": "#/definitions/SearchEncryptionComplianceStatus",
          "description": "Returns the status of search service compliance with respect to non-CMK-encrypted objects. If a service has more than one unencrypted object, and enforcement is enabled, the service is marked as noncompliant.",
          "readOnly": true
        }
      }
    },
    "HostingMode": {
      "type": "string",
      "description": "Applicable only for the standard3 SKU. You can set this property to enable up to 3 high density partitions that allow up to 1000 indexes, which is much higher than the maximum indexes allowed for any other SKU. For the standard3 SKU, the value is either 'Default' or 'HighDensity'. For all other SKUs, this value must be 'Default'.",
      "enum": [
        "Default",
        "HighDensity"
      ],
      "x-ms-enum": {
        "name": "HostingMode",
        "modelAsString": false,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "The limit on number of indexes is determined by the default limits for the SKU."
          },
          {
            "name": "HighDensity",
            "value": "HighDensity",
            "description": "Only application for standard3 SKU, where the search service can have up to 1000 indexes."
          }
        ]
      }
    },
    "Identity": {
      "type": "object",
      "description": "Details about the search service identity. A null value indicates that the search service has no identity assigned.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of the system-assigned identity of the search service.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the system-assigned identity of the search service.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an identity created by the system and a set of user assigned identities. The type 'None' will remove all identities from the service."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource IDs in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "IdentityType": {
      "type": "string",
      "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an identity created by the system and a set of user assigned identities. The type 'None' will remove all identities from the service.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Indicates that any identity associated with the search service needs to be removed."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "Indicates that system-assigned identity for the search service will be enabled."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "Indicates that one or more user assigned identities will be assigned to the search service."
          },
          {
            "name": "SystemAssigned, UserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "Indicates that system-assigned identity for the search service will be enabled along with the assignment of one or more user assigned identities."
          }
        ]
      }
    },
    "IpRule": {
      "type": "object",
      "description": "The IP restriction rule of the Azure AI Search service.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value corresponding to a single IPv4 address (eg., 123.1.2.3) or an IP range in CIDR format (eg., 123.1.2.3/24) to be allowed."
        }
      }
    },
    "IssueType": {
      "type": "string",
      "description": "Type of issue",
      "enum": [
        "Unknown",
        "ConfigurationPropagationFailure",
        "MissingPerimeterConfiguration",
        "MissingIdentityConfiguration"
      ],
      "x-ms-enum": {
        "name": "IssueType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown issue type"
          },
          {
            "name": "ConfigurationPropagationFailure",
            "value": "ConfigurationPropagationFailure",
            "description": "An error occurred while applying the network security perimeter (NSP) configuration."
          },
          {
            "name": "MissingPerimeterConfiguration",
            "value": "MissingPerimeterConfiguration",
            "description": "A network connectivity issue is happening on the resource which could be addressed either by adding new resources to the network security perimeter (NSP) or by modifying access rules."
          },
          {
            "name": "MissingIdentityConfiguration",
            "value": "MissingIdentityConfiguration",
            "description": "An managed identity hasn't been associated with the resource. The resource will still be able to validate inbound traffic from the network security perimeter (NSP) or matching inbound access rules, but it won't be able to perform outbound access as a member of the NSP."
          }
        ]
      }
    },
    "ListQueryKeysResult": {
      "type": "object",
      "description": "Response containing the query API keys for a given Azure AI Search service.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The query keys for the Azure AI Search service.",
          "items": {
            "$ref": "#/definitions/QueryKey"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of query keys. Returned when the total number of requested query keys exceed maximum page size.",
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "NetworkRuleSet": {
      "type": "object",
      "description": "Network specific rules that determine how the Azure AI Search service may be reached.",
      "properties": {
        "ipRules": {
          "type": "array",
          "description": "A list of IP restriction rules that defines the inbound network(s) with allowing access to the search service endpoint. At the meantime, all other public IP networks are blocked by the firewall. These restriction rules are applied only when the 'publicNetworkAccess' of the search service is 'enabled'; otherwise, traffic over public interface is not allowed even with any public IP rules, and private endpoint connections would be the exclusive access method.",
          "items": {
            "$ref": "#/definitions/IpRule"
          }
        },
        "bypass": {
          "$ref": "#/definitions/SearchBypass",
          "description": "Possible origins of inbound traffic that can bypass the rules defined in the 'ipRules' section."
        }
      }
    },
    "NetworkSecurityPerimeterConfigurationListResult": {
      "type": "object",
      "description": "The response of a NetworkSecurityPerimeterConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkSecurityPerimeterConfiguration items on this page",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/networksecurityperimeter.json#/definitions/NetworkSecurityPerimeterConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperationListResult": {
      "type": "object",
      "description": "The result of the request to list REST API operations. It contains a list of operations and a URL to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of operations by Azure AI Search, some supported by the resource provider and others by data plane APIs.",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Operation"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of operation list results, if any.",
          "readOnly": true
        }
      }
    },
    "Origin": {
      "type": "string",
      "description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
      "enum": [
        "user",
        "system",
        "user,system"
      ],
      "x-ms-enum": {
        "name": "Origin",
        "modelAsString": true,
        "values": [
          {
            "name": "user",
            "value": "user"
          },
          {
            "name": "system",
            "value": "system"
          },
          {
            "name": "user,system",
            "value": "user,system"
          }
        ]
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "Describes an existing private endpoint connection to the Azure AI Search service.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Describes the properties of an existing private endpoint connection to the Azure AI Search service."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "Response containing a list of private endpoint connections.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of private endpoint connections.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of private endpoint connections. Returned when the total number of requested private endpoint connections exceed maximum page size.",
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Describes the properties of an existing private endpoint connection to the search service.",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpointConnectionPropertiesPrivateEndpoint",
          "description": "The private endpoint resource from Microsoft.Network provider."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateEndpointConnectionPropertiesPrivateLinkServiceConnectionState",
          "description": "Describes the current state of an existing Azure Private Link service connection to the private endpoint."
        },
        "groupId": {
          "type": "string",
          "description": "The group ID of the Azure resource for which the private link service is for."
        },
        "provisioningState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionProvisioningState",
          "description": "The provisioning state of the private link service connection. Valid values are Updating, Deleting, Failed, Succeeded, Incomplete, or Canceled."
        }
      }
    },
    "PrivateEndpointConnectionPropertiesPrivateEndpoint": {
      "type": "object",
      "description": "The private endpoint resource from Microsoft.Network provider.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of the private endpoint resource from Microsoft.Network provider."
        }
      }
    },
    "PrivateEndpointConnectionPropertiesPrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "Describes the current state of an existing Azure Private Link service connection to the private endpoint.",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionStatus",
          "description": "Status of the the private link service connection. Valid values are Pending, Approved, Rejected, or Disconnected."
        },
        "description": {
          "type": "string",
          "description": "The description for the private link service connection state."
        },
        "actionsRequired": {
          "type": "string",
          "description": "A description of any extra actions that may be required.",
          "default": "None"
        }
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "Describes a supported private link resource for the Azure AI Search service.",
      "properties": {
        "properties": {
[...]
