{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2024-02-02-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/builders/{builderName}/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "operationId": "BuildsByBuilderResource_List",
        "description": "List BuildResource resources by BuilderResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Builders.json#/parameters/BuilderNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builds_ListByBuilderResource_0": {
            "$ref": "./examples/Builds_ListByBuilderResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/builders/{builderName}/builds/{buildName}": {
      "get": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_Get",
        "description": "Get a BuildResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Builders.json#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_Get_0": {
            "$ref": "./examples/Builds_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_CreateOrUpdate",
        "description": "Create a BuildResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Builders.json#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          },
          {
            "name": "buildEnvelope",
            "in": "body",
            "required": true,
            "description": "Resource create or update parameters.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            }
          },
          "201": {
            "description": "ARM create or update operation has been started.",
            "schema": {
              "$ref": "#/definitions/BuildResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Builds_CreateOrUpdate_WithConfig": {
            "$ref": "./examples/Builds_CreateOrUpdate.json"
          },
          "Builds_CreateOrUpdate_NoConfig": {
            "$ref": "./examples/Builds_CreateOrUpdate_NoConfig.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Builds"
        ],
        "operationId": "Builds_Delete",
        "description": "Delete a BuildResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Builders.json#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Builds_Delete_0": {
            "$ref": "./examples/Builds_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/builders/{builderName}/builds/{buildName}/listAuthToken": {
      "post": {
        "tags": [
          "Builds"
        ],
        "operationId": "BuildAuthToken_List",
        "description": "Gets the token used to connect to the endpoint where source code can be uploaded for a build.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Builders.json#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BuildToken"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Build Auth Token": {
            "$ref": "./examples/Builds_ListAuthToken.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BuildConfiguration": {
      "type": "object",
      "properties": {
        "baseOs": {
          "type": "string",
          "description": "Base OS used to build and run the app."
        },
        "platform": {
          "type": "string",
          "description": "Platform to be used to build and run the app."
        },
        "platformVersion": {
          "type": "string",
          "description": "Platform version to be used to build and run the app."
        },
        "environmentVariables": {
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/EnvironmentVariable"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of environment variables to be passed to the build, secrets should not be used in environment variable."
        },
        "preBuildSteps": {
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/PreBuildStep"
          },
          "x-ms-identifiers": [],
          "description": "List of steps to perform before the build."
        }
      },
      "description": "Configuration of the build."
    },
    "BuildProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/BuildProvisioningState",
          "description": "Build provisioning state.",
          "readOnly": true
        },
        "buildStatus": {
          "$ref": "#/definitions/BuildStatus",
          "description": "Status of the build once it has been provisioned.",
          "readOnly": true
        },
        "destinationContainerRegistry": {
          "$ref": "./CommonDefinitions.json#/definitions/ContainerRegistryWithCustomImage",
          "description": "Container registry that the final image will be uploaded to."
        },
        "configuration": {
          "$ref": "#/definitions/BuildConfiguration",
          "description": "Configuration of the build."
        },
        "uploadEndpoint": {
          "type": "string",
          "description": "Endpoint to which the source code should be uploaded.",
          "readOnly": true
        },
        "logStreamEndpoint": {
          "type": "string",
          "description": "Endpoint from which the build logs can be streamed.",
          "readOnly": true
        },
        "tokenEndpoint": {
          "type": "string",
          "description": "Endpoint to use to retrieve an authentication token for log streaming and uploading source code.",
          "readOnly": true
        }
      },
      "description": "The build properties."
    },
    "BuildResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "Information pertaining to an individual build.",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BuildCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildResource"
          },
          "description": "The BuildResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a BuildResource list operation.",
      "required": [
        "value"
      ]
    },
    "BuildStatus": {
      "type": "string",
      "description": "Status of the build once it has been provisioned.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Succeeded",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "BuildStatus",
        "modelAsString": true
      }
    },
    "BuildToken": {
      "description": "Build Auth Token.",
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "x-ms-secret": true,
          "description": "Authentication token.",
          "readOnly": true
        },
        "expires": {
          "format": "date-time",
          "description": "Token expiration date.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BuildProvisioningState": {
      "type": "string",
      "description": "Resource instance provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "BuildProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    }
  },
  "parameters": {
    "BuildNameParameter": {
      "name": "buildName",
      "in": "path",
      "required": true,
      "description": "The name of a build.",
      "minLength": 2,
      "maxLength": 64,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method"
    }
  }
}
