{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2024-02-02-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/builds": {
      "get": {
        "tags": [
          "ContainerAppsBuilds"
        ],
        "operationId": "ContainerAppsBuildsByContainerApp_List",
        "description": "List Container Apps Build resources by Container App",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerAppsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerAppsBuildCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ContainerAppsBuilds_ListByContainerApp_0": {
            "$ref": "./examples/ContainerAppsBuilds_ListByContainerApp.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/builds/{buildName}": {
      "get": {
        "tags": [
          "ContainerAppsBuilds"
        ],
        "operationId": "ContainerAppsBuilds_Get",
        "description": "Get a Container Apps Build resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerAppsNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerAppsBuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerAppsBuildResource"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerAppsBuilds_Get_0": {
            "$ref": "./examples/ContainerAppsBuilds_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ContainerAppsBuilds"
        ],
        "operationId": "ContainerAppsBuilds_Delete",
        "description": "Delete a Container Apps Build resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerAppsNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerAppsBuildNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContainerAppsBuilds_Delete_0": {
            "$ref": "./examples/ContainerAppsBuilds_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ContainerAppsBuildConfiguration": {
      "type": "object",
      "properties": {
        "baseOs": {
          "type": "string",
          "description": "Base OS used to build and run the app.",
          "readOnly": true
        },
        "platform": {
          "type": "string",
          "description": "Platform to be used to build and run the app.",
          "readOnly": true
        },
        "platformVersion": {
          "type": "string",
          "description": "Platform version to be used to build and run the app.",
          "readOnly": true
        },
        "environmentVariables": {
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/EnvironmentVariable"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of environment variables to be passed to the build, secrets should not be used in environment variable.",
          "readOnly": true
        },
        "preBuildSteps": {
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/PreBuildStep"
          },
          "x-ms-identifiers": [],
          "description": "List of steps to perform before the build.",
          "readOnly": true
        }
      },
      "description": "Configuration of the build."
    },
    "ContainerAppsBuildProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/BuildProvisioningState",
          "description": "Build provisioning state.",
          "readOnly": true
        },
        "buildStatus": {
          "$ref": "#/definitions/BuildStatus",
          "description": "Status of the build once it has been provisioned.",
          "readOnly": true
        },
        "destinationContainerRegistry": {
          "$ref": "./CommonDefinitions.json#/definitions/ContainerRegistryWithCustomImage",
          "description": "Container registry that the final image will be uploaded to.",
          "readOnly": true
        },
        "configuration": {
          "$ref": "#/definitions/ContainerAppsBuildConfiguration",
          "description": "Configuration of the build.",
          "readOnly": true
        },
        "logStreamEndpoint": {
          "type": "string",
          "description": "Endpoint from which the build logs can be streamed.",
          "readOnly": true
        }
      },
      "description": "The ContainerAppBuild properties."
    },
    "ContainerAppsBuildResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerAppsBuildProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      },
      "description": "Information pertaining to an individual build.",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContainerAppsBuildCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerAppsBuildResource"
          },
          "description": "The Container Apps Build Resource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a Container Apps Build Resource list operation.",
      "required": [
        "value"
      ]
    },
    "BuildStatus": {
      "type": "string",
      "description": "Status of the build once it has been provisioned.",
      "enum": [
        "NotStarted",
        "InProgress",
        "Succeeded",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "BuildStatus",
        "modelAsString": true
      },
      "readOnly": true
    },
    "BuildProvisioningState": {
      "type": "string",
      "description": "Resource instance provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "BuildProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    }
  },
  "parameters": {
    "ContainerAppsBuildNameParameter": {
      "name": "buildName",
      "in": "path",
      "required": true,
      "description": "The name of a build.",
      "minLength": 2,
      "maxLength": 64,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method"
    },
    "ContainerAppsNameParameter": {
      "name": "containerAppName",
      "in": "path",
      "description": "Name of the Container App the Build is associated.",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "x-ms-parameter-location": "method"
    }
  }
}
