{
  "swagger": "2.0",
  "info": {
    "version": "2022-11-01-preview",
    "title": "ContainerAppsJobs API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/containerAppsJobs": {
      "get": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Get the Container Apps Jobs in a given subscription.",
        "operationId": "ContainerAppsJobs_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJobsCollection"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Jobs by subscription": {
            "$ref": "./examples/ContainerAppsJobs_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerAppsJobs": {
      "get": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Get the Container Apps Jobs in a given resource group.",
        "operationId": "ContainerAppsJobs_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJobsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Jobs by resource group": {
            "$ref": "./examples/ContainerAppsJobs_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerAppsJobs/{containerAppsJobName}": {
      "get": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Get the properties of a Container Apps Job.",
        "operationId": "ContainerAppsJob_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppsJobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJob"
            }
          },
          "404": {
            "description": "Not found.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Create or update a Container Apps Job.",
        "description": "Create or update a Container Apps Job.",
        "operationId": "ContainerAppsJob_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppsJobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerAppsJobEnvelope",
            "in": "body",
            "description": "Properties used to create a container apps job",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerAppsJob"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No change performed on the Container Apps Job.",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJob"
            }
          },
          "201": {
            "description": "Container Apps Job create or update has been started.",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJob"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_CreateOrUpdate.json"
          },
          "Create or Update Tcp Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_TcpApp_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Delete a Container Apps Job.",
        "description": "Delete a Container Apps Job.",
        "operationId": "ContainerAppsJob_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppsJobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container Apps Job deleted successfully."
          },
          "202": {
            "description": "Delete operation is in progress."
          },
          "204": {
            "description": "Container Apps Job does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Update properties of a Container Apps Job",
        "description": "Patches a Container Apps Job using JSON Merge Patch",
        "operationId": "ContainerAppsJob_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppsJobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerAppsJobEnvelope",
            "in": "body",
            "required": true,
            "description": "Properties of a Container Apps Job that need to be updated",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJob"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ContainerAppsJob"
            }
          },
          "202": {
            "description": "Patch operation is in progress."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_Patch.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerAppsJobs/{containerAppsJobName}/run": {
      "post": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Runs a Container Apps Job",
        "operationId": "ContainerAppsJob_run",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppsJobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Run a Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_Run.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerAppsJobs/{containerAppsJobName}/terminate": {
      "post": {
        "tags": [
          "ContainerAppsJobs"
        ],
        "summary": "Terminates execution of a running container apps job",
        "operationId": "ContainerAppsJob_terminate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "containerAppsJobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "OK"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Terminate a Container Apps Job": {
            "$ref": "./examples/ContainerAppsJob_Terminate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Configuration": {
      "description": "Non versioned Container Apps Job configuration properties that define the mutable settings of a Container apps job",
      "type": "object",
      "required": [
        "activeDeadlineSeconds",
        "crashLoopRetryLimit",
        "triggerType"
      ],
      "properties": {
        "secrets": {
          "description": "Collection of secrets used by a Container app",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/Secret"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "activeDeadlineSeconds": {
          "description": "Maximum duration of the job.",
          "format": "int32",
          "type": "integer"
        },
        "replicaRetryLimit": {
          "format": "int32",
          "description": "Maximum duration of the job.",
          "type": "integer"
        },
        "manualTriggerConfig": {
          "type": "object",
          "required": [
            "completions",
            "parallelism"
          ],
          "properties": {
            "completions": {
              "description": "Number of pods that needs to be successfully\ncompleted for a job to be complete.",
              "format": "int32",
              "type": "integer"
            },
            "parallelism": {
              "description": "Number of parallel jobs that can run at a given\ntime.",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "scheduleTriggerConfig": {
          "required": [
            "completions",
            "cronExpression",
            "parallelism"
          ],
          "type": "object",
          "properties": {
            "completions": {
              "description": "Number of pods that needs to be successfully\ncompleted for a job to be complete.",
              "format": "int32",
              "type": "integer"
            },
            "cronExpression": {
              "description": "Cron formatted repeating schedule (\"* * * * *\")\nfor cronjobs.",
              "type": "string"
            },
            "parallelism": {
              "description": "Number of parallel jobs that can run at a given\ntime.",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "registries": {
          "description": "Collection of private container registry credentials for containers used by the Container app",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegistryCredentials"
          },
          "x-ms-identifiers": [
            "server"
          ]
        },
        "triggerType": {
          "description": "Type of the job - Schedule | Event | Manual",
          "enum": [
            "Scheduled",
            "Event",
            "Manual"
          ],
          "type": "string",
          "default": "Single",
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          }
        }
      }
    },
    "ContainerAppsJob": {
      "type": "object",
      "description": "Container App Job",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "./CommonDefinitions.json#/definitions/ExtendedLocation"
        },
        "identity": {
          "description": "managed identities for the Container App to interact with other Azure services without maintaining any secrets or credentials in code.",
          "$ref": "../../../../../common-types/resource-management/v3/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "properties": {
          "args": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "command": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "provisioningState": {
            "description": "Provisioning state of the Container Apps Job.",
            "enum": [
              "InProgress",
              "Succeeded",
              "Failed",
              "Canceled",
              "Deleting"
            ],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ContainerAppsJobProvisioningState",
              "modelAsString": true
            }
          },
          "managedEnvironmentId": {
            "description": "Deprecated. Resource ID of the Container App's environment.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "environmentId": {
            "description": "Resource ID of environment.",
            "type": "string",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "configuration": {
            "$ref": "#/definitions/Configuration",
            "description": "Non versioned Container Apps Job configuration properties."
          },
          "template": {
            "$ref": "./CommonDefinitions.json#/definitions/ContainerAppsJobTemplate",
            "description": "Container App versioned application definition."
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "ContainerAppsJobsCollection": {
      "description": "Container Apps Jobs collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerAppsJob"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RegistryCredentials": {
      "description": "Container App Private Registry",
      "type": "object",
      "properties": {
        "server": {
          "description": "Container Registry Server",
          "type": "string"
        },
        "username": {
          "description": "Container Registry Username",
          "type": "string"
        },
        "passwordSecretRef": {
          "description": "The name of the Secret that contains the registry login password",
          "type": "string"
        },
        "identity": {
          "description": "A Managed Identity to use to authenticate with Azure Container Registry. For user-assigned identities, use the full user-assigned identity Resource ID. For system-assigned identities, use 'system'",
          "type": "string"
        }
      }
    },
    "ContainerAppSecret": {
      "description": "Container App Secret.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Secret Name.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Secret Value.",
          "type": "string",
          "x-ms-secret": true,
          "readOnly": true
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
