{
  "swagger": "2.0",
  "info": {
    "version": "2022-11-01-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the Container Apps Jobs in a given subscription.",
        "operationId": "Jobs_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobsCollection"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Jobs by subscription": {
            "$ref": "./examples/Jobs_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the Container Apps Jobs in a given resource group.",
        "operationId": "Jobs_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Jobs by resource group": {
            "$ref": "./examples/Jobs_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{JobName}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get the properties of a Container Apps Job.",
        "operationId": "Job_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container Apps Job": {
            "$ref": "./examples/Job_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create or Update a Container Apps Job.",
        "description": "Create or Update a Container Apps Job.",
        "operationId": "Job_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "JobEnvelope",
            "in": "body",
            "description": "Properties used to create a container apps job",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Container Apps Job create has been started.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "200": {
            "description": "No change performed on the Container Apps Job.",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Container Apps Job": {
            "$ref": "./examples/Job_CreateorUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "summary": "Delete a Container Apps Job.",
        "description": "Delete a Container Apps Job.",
        "operationId": "Job_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container Apps Job deleted successfully."
          },
          "202": {
            "description": "Delete operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Container Apps Job does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Container Apps Job": {
            "$ref": "./examples/Job_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update properties of a Container Apps Job",
        "description": "Patches a Container Apps Job using JSON Merge Patch",
        "operationId": "Job_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "JobEnvelope",
            "in": "body",
            "required": true,
            "description": "Properties used to create a container apps job",
            "schema": {
              "$ref": "#/definitions/JobPatchProperties"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "202": {
            "description": "Patch operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Container Apps Job": {
            "$ref": "./examples/Job_Patch.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{JobName}/start": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Runs a Container Apps Job",
        "operationId": "Job_run",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container Apps Jobs started successfully."
          },
          "202": {
            "description": "OK",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Run a Container Apps Job": {
            "$ref": "./examples/Job_Start.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{JobName}/stop": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Terminates execution of a running container apps job",
        "operationId": "Job_terminate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Container Apps Jobs terminated successfully."
          },
          "202": {
            "description": "OK",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Terminate a Container Apps Job": {
            "$ref": "./examples/Job_Stop.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{JobName}/listSecrets": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "List secrets for a container apps job",
        "operationId": "Jobs_ListSecrets",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "JobName",
            "in": "path",
            "description": "Name of the Container Apps Job.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobSecretsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container Apps Job Secrets": {
            "$ref": "./examples/Job_ListSecrets.json"
          }
        }
      }
    }
  },
  "definitions": {
    "JobConfiguration": {
      "description": "Non versioned Container Apps Job configuration properties",
      "type": "object",
      "required": [
        "replicaTimeout",
        "triggerType"
      ],
      "properties": {
        "secrets": {
          "description": "Collection of secrets used by a Container app",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/Secret"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "triggerType": {
          "description": "Trigger type of the job",
          "enum": [
            "Scheduled",
            "Event",
            "Manual"
          ],
          "type": "string",
          "default": "Manual",
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          }
        },
        "replicaTimeout": {
          "description": "Maximum number of seconds a replica is allowed to run.",
          "format": "int32",
          "type": "integer"
        },
        "replicaRetryLimit": {
          "format": "int32",
          "description": "Maximum number of retries before failing the job.",
          "type": "integer"
        },
        "manualTriggerConfig": {
          "type": "object",
          "description": "Manual trigger configuration for a single execution job. Properties replicaCompletionCount and parallelism would be set to 1 by default",
          "properties": {
            "replicaCompletionCount": {
              "$ref": "#/definitions/ReplicaCompletionCount"
            },
            "parallelism": {
              "$ref": "#/definitions/Parallelism"
            }
          }
        },
        "scheduleTriggerConfig": {
          "description": "Cron formatted repeating trigger schedule (\"* * * * *\") for cronjobs. Properties completions and parallelism would be set to 1 by default",
          "required": [
            "cronExpression"
          ],
          "type": "object",
          "properties": {
            "replicaCompletionCount": {
              "$ref": "#/definitions/ReplicaCompletionCount"
            },
            "cronExpression": {
              "description": "Cron formatted repeating schedule (\"* * * * *\") of a Cron Job.",
              "type": "string"
            },
            "parallelism": {
              "$ref": "#/definitions/Parallelism"
            }
          }
        },
        "registries": {
          "description": "Collection of private container registry credentials used by a Container apps job",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegistryCredentials"
          },
          "x-ms-identifiers": [
            "server"
          ]
        }
      }
    },
    "Job": {
      "type": "object",
      "description": "Container App Job",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "extendedLocation": {
          "$ref": "./CommonDefinitions.json#/definitions/ExtendedLocation"
        },
        "identity": {
          "description": "Managed identities needed by a container app job to interact with other Azure services to not maintain any secrets or credentials in code.",
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "properties": {
          "description": "ContainerApp resource specific properties.",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state of the Container Apps Job.",
              "enum": [
                "InProgress",
                "Succeeded",
                "Failed",
                "Canceled",
                "Deleting"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "JobProvisioningState",
                "modelAsString": true
              }
            },
            "environmentId": {
              "description": "Resource ID of environment.",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "configuration": {
              "$ref": "#/definitions/JobConfiguration",
              "description": "Container Apps Job configuration properties."
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/JobTemplate",
              "description": "Container Apps job definition."
            },
            "outboundIpAddresses": {
              "description": "Outbound IP Addresses of a container apps job.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "readOnly": true
            },
            "eventStreamEndpoint": {
              "description": "The endpoint of the eventstream of the container apps job.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      },
      "required": []
    },
    "JobPatchProperties": {
      "type": "object",
      "description": "ContainerApp resource specific properties.",
      "properties": {
        "identity": {
          "description": "Managed identities needed by a container app job to interact with other Azure services to not maintain any secrets or credentials in code.",
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "properties": {
          "type": "object",
          "properties": {
            "environmentId": {
              "description": "Resource ID of environment.",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read",
                "update"
              ]
            },
            "configuration": {
              "$ref": "#/definitions/JobConfiguration",
              "description": "Container Apps Job configuration properties."
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/JobTemplate",
              "description": "Container Apps job definition."
            },
            "outboundIpAddresses": {
              "description": "Outbound IP Addresses of a container apps job.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "eventStreamEndpoint": {
              "description": "The endpoint of the eventstream of the container apps job.",
              "type": "string"
            }
          }
        }
      }
    },
    "JobsCollection": {
      "description": "Container Apps Jobs collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RegistryCredentials": {
      "description": "Container App Private Registry",
      "type": "object",
      "properties": {
        "server": {
          "description": "Container Registry Server",
          "type": "string"
        },
        "username": {
          "description": "Container Registry Username",
          "type": "string"
        },
        "passwordSecretRef": {
          "description": "The name of the Secret that contains the registry login password",
          "type": "string"
        },
        "identity": {
          "description": "A Managed Identity to use to authenticate with Azure Container Registry. For user-assigned identities, use the full user-assigned identity Resource ID. For system-assigned identities, use 'system'",
          "type": "string"
        }
      }
    },
    "JobSecretsCollection": {
      "description": "Container Apps Job Secrets Collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "./CommonDefinitions.json#/definitions/Secret"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "ReplicaCompletionCount": {
      "description": "Minimum number of successful replica completions before overall job completion.",
      "format": "int32",
      "type": "integer"
    },
    "Parallelism": {
      "description": "Number of parallel replicas of a job that can run at a given time.",
      "format": "int32",
      "type": "integer"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
