{
  "swagger": "2.0",
  "info": {
    "version": "2022-11-01-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyCircuitBreakerPolicies": {
      "get": {
        "tags": [
          "DaprResiliencyCircuitBreakerPolicies"
        ],
        "summary": "Get the Dapr Resiliency Circuit Breaker Policies for a managed environment.",
        "operationId": "DaprResiliencyCircuitBreakerPolicies_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyCircuitBreakerPoliciesCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Dapr Resiliency Circuit Breaker Policy": {
            "$ref": "./examples/DaprResiliencyCircuitBreakerPolicies_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyCircuitBreakerPolicies/{policyName}": {
      "get": {
        "tags": [
          "DaprResiliencyCircuitBreakerPolicies"
        ],
        "summary": "Get a Dapr Resiliency Circuit Breaker policy.",
        "operationId": "DaprResiliencyCircuitBreakerPolicies_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Name of the Dapr resiliency circuit breaker policy.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyCircuitBreakerPolicy"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Dapr Resiliency Circuit Breaker Policy": {
            "$ref": "./examples/DaprResiliencyCircuitBreakerPolicies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DaprResiliencyCircuitBreakerPolicies"
        ],
        "summary": "Creates or updates a Dapr Resiliency Circuit Breaker Policy.",
        "description": "Creates or updates a Dapr Resiliency Circuit Breaker Policy in a Managed Environment.",
        "operationId": "DaprResiliencyCircuitBreakerPolicies_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Name of the Dapr Resiliency Circuit Breaker Policy.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "daprResiliencyCircuitBreakerPoliciesEnvelope",
            "in": "body",
            "description": "Configuration details of the Dapr Resiliency Circuit Breaker Policy.",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyCircuitBreakerPolicy"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyCircuitBreakerPolicy"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Dapr Resiliency Circuit Breaker Policy": {
            "$ref": "./examples/DaprResiliencyCircuitBreakerPolicies_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DaprResiliencyCircuitBreakerPolicies"
        ],
        "summary": "Delete a  Dapr Resiliency Circuit Breaker Policy.",
        "description": "Delete a Dapr Resiliency Circuit Breaker Policy from a Managed Environment.",
        "operationId": "DaprResiliencyCircuitBreakerPolicies_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Name of the Dapr Resiliency Circuit Breaker Policy.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed"
          },
          "204": {
            "description": "Environment does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Dapr Resiliency Circuit Breaker Policy": {
            "$ref": "./examples/DaprResiliencyCircuitBreakerPolicies_Delete.json"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
