{
  "swagger": "2.0",
  "info": {
    "version": "2022-11-01-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyRetryPolicies": {
      "get": {
        "tags": [
          "DaprResiliencyRetryPolicies"
        ],
        "summary": "Get the Dapr Resiliency Retry Policies for a managed environment.",
        "operationId": "DaprResiliencyRetryPolicies_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DaprResiliencyRetryPoliciesCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Dapr Resiliency Retry Policy": {
            "$ref": "./examples/DaprResiliencyRetryPolicies_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyRetryPolicies/{policyName}": {
      "get": {
        "tags": [
          "DaprResiliencyRetryPolicies"
        ],
        "summary": "Get a Dapr Resiliency Retry Policy.",
        "operationId": "DaprResiliencyRetryPolicies_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Name of the Dapr Resiliency Retry Policy.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyRetryPolicy"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Dapr Resiliency Retry Policy": {
            "$ref": "./examples/DaprResiliencyRetryPolicies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DaprResiliencyRetryPolicies"
        ],
        "summary": "Creates or updates a Dapr Resiliency Retry Policy.",
        "description": "Creates or updates a Dapr Resiliency Retry Policy in a Managed Environment.",
        "operationId": "DaprResiliencyRetryPolicies_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Name of the Dapr Resiliency Retry Policy.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "daprResiliencyRetryPoliciesEnvelope",
            "in": "body",
            "description": "Configuration details of the Dapr Resiliency Retry Policy.",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyRetryPolicy"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyRetryPolicy"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DaprResiliencyRetryPolicy"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Dapr Resiliency Retry Policy": {
            "$ref": "./examples/DaprResiliencyRetryPolicies_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DaprResiliencyRetryPolicies"
        ],
        "summary": "Delete a Dapr Resiliency Retry Policy.",
        "description": "Delete a Dapr Resiliency Retry Policy from a Managed Environment.",
        "operationId": "DaprResiliencyRetryPolicies_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Name of the Dapr Resiliency Retry Policy.",
            "required": true,
            "pattern": "^.*",
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed"
          },
          "204": {
            "description": "Environment does not exist"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Dapr Resiliency Retry Policy": {
            "$ref": "./examples/DaprResiliencyRetryPolicies_Delete.json"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
