{
  "swagger": "2.0",
  "info": {
    "version": "2024-02-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/labels": {
      "get": {
        "tags": [
          "ContainerAppsLabels"
        ],
        "summary": "Get the labels associated with the revisions of current app.",
        "operationId": "ContainerAppsLabels_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabelsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List App's Labels": {
            "$ref": "./examples/Labels_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/labels/{labelsName}": {
      "get": {
        "tags": [
          "ContainerAppsLabels"
        ],
        "summary": "Get a labels to revisions mapping for a Container App.",
        "operationId": "ContainerAppsLabels_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "labelsName",
            "in": "path",
            "description": "Name of the Container App Labels mapping.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Labels"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's Labels": {
            "$ref": "./examples/Labels_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ContainerAppsLabels"
        ],
        "summary": "Create or update the Labels for a Container App.",
        "description": "Create or update the mapping of revision to labels for a Container App.",
        "operationId": "ContainerAppsLabels_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "labelsName",
            "in": "path",
            "description": "Name of the Container App Labels collection.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "labelsEnvelope",
            "in": "body",
            "description": "Properties used to create a Container App Labels collection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Labels"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Labels"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Labels"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Container App Labels": {
            "$ref": "./examples/Labels_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ContainerAppsLabels"
        ],
        "summary": "Delete Container App's Labels.",
        "description": "Delete the mapping of revision to labels for a Container App.",
        "operationId": "ContainerAppsLabels_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]*$"
          },
          {
            "name": "labelsName",
            "in": "path",
            "description": "Name of the Container App Labels collection.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Container App Labels collection does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Container App Labels": {
            "$ref": "./examples/Labels_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Labels": {
      "description": "Container App Labels.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Labels specific properties",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Current provisioning State of the operation",
              "enum": [
                "InProgress",
                "Succeeded",
                "Failed",
                "Canceled"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "LabelsProvisioningState",
                "modelAsString": true
              }
            },
            "labels": {
              "description": "Labels for the Container App.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Label"
              },
              "x-ms-identifiers" : [
                "name"
              ]
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "Label": {
      "description": "Label for the Container App.",
      "type": "object",
      "properties": {
        "name" : {
          "description": "Name of the label.",
          "type": "string"
        },
        "revisionName": {
          "description": "Name of the revision associated with the label.",
          "type": "string"
        },
        "trafficWeight": {
          "description": "Percent of the traffic that will be routed to the revision in this label.",
          "type": "integer",
          "format": "int32"
        },
        "template": {
          "$ref": "./CommonDefinitions.json#/definitions/Template",
          "description": "Container App versioned application definition.",
          "readOnly": true
        }
      }
    },
    "LabelsCollection": {
      "description": "Labels collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Labels"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string"
        }
      }
    }
  }
}
