{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2024-02-02-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "parameters": {
    "SessionPoolNameParameter": {
      "name": "sessionPoolName",
      "in": "path",
      "description": "Name of the Session Pool.",
      "required": true,
      "type": "string",
      "pattern": "^[a-z][a-z0-9]*$",
      "minLength": 3,
      "maxLength": 63
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}/generateSessions": {
      "post": {
        "tags": [
          "ContainerAppsSessionPoolSessions"
        ],
        "summary": "Generate Sessions from a Session Pool.",
        "operationId": "ContainerAppsSessionPoolSessionsGeneration_ListGenerated",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SessionPoolNameParameter"
          },
          {
            "name": "generateSessionsEnvelope",
            "in": "body",
            "description": "Properties used to generate a session",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateSessionsRequest"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SessionCollection"
            }
          },
          "202": {
            "description": "Generating SessionPool Sessions.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Generate Sessions": {
            "$ref": "./examples/Sessions_GenerateSessions.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}/sessions/{name}": {
      "get": {
        "tags": [
          "ContainerAppsSessionPoolSessions"
        ],
        "summary": "Get the properties of a Session.",
        "operationId": "ContainerAppsSessionPoolSessions_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SessionPoolNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Session.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/Session"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Session": {
            "$ref": "./examples/Sessions_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sessionPools/{sessionPoolName}/sessions": {
      "get": {
        "tags": [
          "ContainerAppsSessionPoolSessions"
        ],
        "summary": "Get the Session Pools in a Session Pool.",
        "operationId": "ContainerAppsSessionPoolSessions_ListBySessionPool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SessionPoolNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SessionCollection"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Sessions by Session Pool": {
            "$ref": "./examples/Sessions_ListBySessionPool.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SSHConfiguration": {
      "description": "SSH configuration of the Session.",
      "type": "object",
      "properties": {
        "username": {
          "description": "The username.",
          "type": "string"
        },
        "password": {
          "description": "The password.",
          "type": "string"
        },
        "authorizedPublicKey": {
          "description": "The authorized public key.",
          "type": "string"
        }
      }
    },
    "CodeExecutionConfiguration": {
      "description": "Code execution configuration of the Session.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The token used for code execution.",
          "type": "string"
        },
        "environment": {
          "description": "The environment used for code execution.",
          "type": "string"
        }
      }
    },
    "SessionTemplate": {
      "description": "Session template.",
      "type": "object",
      "properties": {
        "requestedDurationInSeconds": {
          "description": "The requested duration of the Session in seconds.",
          "type": "integer",
          "format": "int32"
        },
        "timeElapsedInSeconds": {
          "description": "The time elapsed in seconds since the Session was created.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "expiredAt": {
          "description": "The time when the Session will expire.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "generatedAt": {
          "description": "The time when the Session was generated.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "sessionType": {
          "description": "The type of the Session.",
          "enum": [
            "SSH",
            "CustomImage"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ContainerType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The status of the Session.",
          "enum": [
            "PodScheduled",
            "PodReadyToStartContainers",
            "ContainersReady",
            "Initialized",
            "Ready"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SessionStatus",
            "modelAsString": true
          },
          "readOnly": true
        },
        "sshConfiguration": {
          "description": "SSH configuration of the Session.",
          "$ref": "#/definitions/SSHConfiguration"
        },
        "codeExecutionConfiguration": {
          "description": "Code execution configuration of the Session.",
          "$ref": "#/definitions/CodeExecutionConfiguration"
        }
      }
    },
    "Session": {
      "description": "Session resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Session resource specific properties.",
          "type": "object",
          "properties": {
            "name": {
              "description": "The name of the Session.",
              "type": "string"
            },
            "endpoint": {
              "description": "The endpoint of the Session.",
              "type": "string"
            },
            "sessionTemplate": {
              "description": "The template of the session.",
              "$ref": "#/definitions/SessionTemplate"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "GenerateSessionsRequest": {
      "description": "Request body to generate sessions.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Session resource specific properties.",
          "type": "object",
          "properties": {
            "count": {
              "description": "The number of Sessions to generate.",
              "type": "integer",
              "format": "int32",
              "maximum": 1000,
              "minimum": 1
            },
            "sessionTemplate": {
              "description": "The template of the session.",
              "$ref": "#/definitions/SessionTemplate"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "SessionCollection": {
      "description": "Session collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Session"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  }
}
