{
  "swagger": "2.0",
  "info": {
    "title": "AdvisorManagementClient",
    "version": "2020-01-01",
    "description": "REST APIs for Azure Advisor",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MetadataEntities"
    },
    {
      "name": "ResourceRecommendationBases"
    },
    {
      "name": "SuppressionContracts"
    }
  ],
  "paths": {
    "/{resourceUri}/{subscriptionId}/providers/Microsoft.Advisor/recommendations": {
      "get": {
        "operationId": "Recommendations_List",
        "tags": [
          "ResourceRecommendationBases"
        ],
        "description": "Obtains cached recommendations for a subscription. The recommendations are generated or computed by invoking generateRecommendations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the recommendations.<br>Filter can be applied to properties ['ResourceId', 'ResourceGroup', 'RecommendationTypeGuid', '[Category](#category)'] with operators ['eq', 'and', 'or'].<br>Example:<br>- $filter=Category eq 'Cost' and ResourceGroup eq 'MyResourceGroup'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of recommendations per page if a paged version of this API is being used.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The page-continuation token to use with a paged version of this API.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceRecommendationBaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListRecommendations": {
            "$ref": "./examples/Recommendations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}": {
      "get": {
        "operationId": "Recommendations_Get",
        "tags": [
          "ResourceRecommendationBases"
        ],
        "description": "Obtains details of a cached recommendation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "description": "The recommendation ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceRecommendationBase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetRecommendationDetail": {
            "$ref": "./examples/Recommendations_Get.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}": {
      "get": {
        "operationId": "Suppressions_Get",
        "tags": [
          "SuppressionContracts"
        ],
        "description": "Obtains the details of a suppression.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "description": "The recommendation ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the suppression.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionContract"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetSuppressionDetail": {
            "$ref": "./examples/Suppressions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Suppressions_Create",
        "tags": [
          "SuppressionContracts"
        ],
        "description": "Enables the snoozed or dismissed attribute of a recommendation. The snoozed or dismissed attribute is referred to as a suppression. Use this API to create or update the snoozed or dismissed status of a recommendation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "description": "The recommendation ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the suppression.",
            "required": true,
            "type": "string"
          },
          {
            "name": "suppressionContract",
            "in": "body",
            "description": "The snoozed or dismissed attribute; for example, the snooze duration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuppressionContract"
            },
            "x-ms-client-name": "suppressionContract"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SuppressionContract' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionContract"
            }
          },
          "201": {
            "description": "Resource 'SuppressionContract' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SuppressionContract"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateSuppression": {
            "$ref": "./examples/Suppressions_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "Suppressions_Delete",
        "tags": [
          "SuppressionContracts"
        ],
        "description": "Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "description": "The recommendation ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the suppression.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteSuppression": {
            "$ref": "./examples/Suppressions_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Advisor/metadata": {
      "get": {
        "operationId": "RecommendationMetadata_List",
        "tags": [
          "MetadataEntities"
        ],
        "description": "Gets the list of metadata entities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetadataEntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetMetadata": {
            "$ref": "./examples/RecommendationMetadata_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Advisor/metadata/{name}": {
      "get": {
        "operationId": "RecommendationMetadata_Get",
        "tags": [
          "MetadataEntities"
        ],
        "description": "Gets the metadata entity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of metadata entity.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetadataEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetMetadata": {
            "$ref": "./examples/RecommendationMetadata_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Advisor/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations": {
      "get": {
        "operationId": "ConfigurationsOperations_ListBySubscription",
        "summary": "Retrieve Azure Advisor configurations.",
        "description": "Retrieve Azure Advisor configurations and also retrieve configurations of contained resource groups.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedConfigData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/configurations/{configurationName}": {
      "put": {
        "operationId": "ConfigurationsOperations_CreateInSubscription",
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "description": "Create/Overwrite Azure Advisor configuration and also delete all configurations of contained resource groups.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Advisor configuration name. Value must be 'default'",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ConfigurationName",
              "modelAsString": true
            }
          },
          {
            "name": "configContract",
            "in": "body",
            "description": "The Azure Advisor configuration data structure.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions": {
      "get": {
        "operationId": "Suppressions_List",
        "tags": [
          "SuppressionContracts"
        ],
        "description": "Retrieves the list of snoozed or dismissed suppressions for a subscription. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "description": "The recommendation ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SuppressionContractListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListSuppressions": {
            "$ref": "./examples/Suppressions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations": {
      "get": {
        "operationId": "ConfigurationsOperations_ListByResourceGroup",
        "summary": "Retrieve Azure Advisor configurations.",
        "description": "Retrieve Azure Advisor configurations.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The name of the Azure resource group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedConfigData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Advisor/configurations/{configurationName}": {
      "put": {
        "operationId": "ConfigurationsOperations_CreateInResourceGroup",
        "summary": "Create/Overwrite Azure Advisor configuration.",
        "description": "Create/Overwrite Azure Advisor configuration.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "Advisor configuration name. Value must be 'default'",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ConfigurationName",
              "modelAsString": true
            }
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "description": "The name of the Azure resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configContract",
            "in": "body",
            "description": "The Azure Advisor configuration data structure.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ConfigData"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ARMErrorResponseBody": {
      "type": "object",
      "description": "ARM error response body.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Gets or sets the string that describes the error in detail and provides debugging information."
        },
        "code": {
          "type": "string",
          "description": "Gets or sets the string that can be used to programmatically identify the error."
        }
      }
    },
    "ArmErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ARMErrorResponseBody",
          "description": "ARM error response body."
        }
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Category": {
      "type": "string",
      "enum": [
        "HighAvailability",
        "Security",
        "Performance",
        "Cost",
        "OperationalExcellence"
      ],
      "x-ms-enum": {
        "name": "Category",
        "modelAsString": true
      }
    },
    "ConfigData": {
      "type": "object",
      "description": "The Advisor configuration data structure.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigDataProperties",
          "description": "The Advisor configuration data structure."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ConfigDataProperties": {
      "type": "object",
      "description": "Configuration data properties",
      "properties": {
        "exclude": {
          "type": "boolean",
          "description": "Exclude the resource from Advisor evaluations. Valid values: False (default) or True."
        },
        "lowCpuThreshold": {
          "$ref": "#/definitions/CpuThreshold",
          "description": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20."
        },
        "digests": {
          "type": "array",
          "description": "Advisor digest configuration. Valid only for subscriptions",
          "items": {
            "$ref": "#/definitions/DigestConfig"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ConfigurationName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "ConfigurationName",
        "modelAsString": true
      }
    },
    "CpuThreshold": {
      "type": "string",
      "description": "Minimum percentage threshold for Advisor low CPU utilization evaluation. Valid only for subscriptions. Valid values: 5 (default), 10, 15 or 20.",
      "enum": [
        "5",
        "10",
        "15",
        "20"
      ],
      "x-ms-enum": {
        "name": "CpuThreshold",
        "modelAsString": true
      }
    },
    "DigestConfig": {
      "type": "object",
      "description": "Advisor Digest configuration entity",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of digest configuration. Value is case-insensitive and must be unique within a subscription."
        },
        "actionGroupResourceId": {
          "type": "string",
          "description": "Action group resource id used by digest."
        },
        "frequency": {
          "type": "integer",
          "format": "int32",
          "description": "Frequency that digest will be triggered, in days. Value must be between 7 and 30 days inclusive."
        },
        "categories": {
          "type": "array",
          "description": "Categories to send digest for. If categories are not provided, then digest will be sent for all categories.",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "language": {
          "type": "string",
          "description": "Language for digest content body. Value must be ISO 639-1 code for one of Azure portal supported languages. Otherwise, it will be converted into one. Default value is English (en)."
        },
        "state": {
          "$ref": "#/definitions/DigestConfigState",
          "description": "State of digest configuration."
        }
      }
    },
    "DigestConfigState": {
      "type": "string",
      "description": "State of digest configuration.",
      "enum": [
        "Active",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DigestConfigState",
        "modelAsString": true
      }
    },
    "Impact": {
      "type": "string",
      "description": "The business impact of the recommendation.",
      "enum": [
        "High",
        "Medium",
        "Low"
      ],
      "x-ms-enum": {
        "name": "Impact",
        "modelAsString": true
      }
    },
    "MetadataEntity": {
      "type": "object",
      "description": "The metadata entity contract.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MetadataEntityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MetadataEntityListResult": {
      "type": "object",
      "description": "The response of a MetadataEntity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MetadataEntity items on this page",
          "items": {
            "$ref": "#/definitions/MetadataEntity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MetadataEntityProperties": {
      "type": "object",
      "description": "The metadata entity properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name."
        },
        "dependsOn": {
          "type": "array",
          "description": "The list of keys on which this entity depends on.",
          "items": {
            "type": "string"
          }
        },
        "applicableScenarios": {
          "type": "array",
          "description": "The list of scenarios applicable to this metadata entity.",
          "items": {
            "$ref": "#/definitions/Scenario"
          }
        },
        "supportedValues": {
          "type": "array",
          "description": "The list of supported values.",
          "items": {
            "$ref": "#/definitions/MetadataSupportedValueDetail"
          }
        }
      }
    },
    "MetadataSupportedValueDetail": {
      "type": "object",
      "description": "The metadata supported value detail.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id."
        },
        "displayName": {
          "type": "string",
          "description": "The display name."
        }
      }
    },
    "OperationDisplayInfo": {
      "type": "object",
      "description": "The operation supported by Advisor.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation."
        },
        "operation": {
          "type": "string",
          "description": "The action that users can perform, based on their permission level."
        },
        "provider": {
          "type": "string",
          "description": "Service provider: Microsoft Advisor."
        },
        "resource": {
          "type": "string",
          "description": "Resource on which the operation is performed."
        }
      }
    },
    "OperationEntity": {
      "type": "object",
      "description": "The operation supported by Advisor.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}."
        },
        "display": {
          "$ref": "#/definitions/OperationDisplayInfo",
          "description": "The operation supported by Advisor."
        }
      }
    },
    "PagedConfigData": {
      "type": "object",
      "description": "The list of Advisor configurations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConfigData items on this page",
          "items": {
            "$ref": "#/definitions/ConfigData"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RecommendationProperties": {
      "type": "object",
      "description": "The properties of the recommendation.",
      "properties": {
        "category": {
          "$ref": "#/definitions/Category",
          "description": "The category of the recommendation."
        },
        "impact": {
          "$ref": "#/definitions/Impact",
          "description": "The business impact of the recommendation."
        },
        "impactedField": {
          "type": "string",
          "description": "The resource type identified by Advisor."
        },
        "impactedValue": {
          "type": "string",
          "description": "The resource identified by Advisor."
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "The most recent time that Advisor checked the validity of the recommendation."
        },
        "metadata": {
          "type": "object",
          "description": "The recommendation metadata.",
          "additionalProperties": {
            "additionalProperties": {},
            "type": "object"
          }
        },
        "recommendationTypeId": {
          "type": "string",
          "description": "The recommendation-type GUID."
        },
        "risk": {
          "$ref": "#/definitions/Risk",
          "description": "The potential risk of not implementing the recommendation."
        },
        "shortDescription": {
          "$ref": "#/definitions/ShortDescription",
          "description": "A summary of the recommendation."
        },
        "suppressionIds": {
          "type": "array",
          "description": "The list of snoozed and dismissed rules for the recommendation.",
          "items": {
            "type": "string"
          }
        },
        "extendedProperties": {
          "type": "object",
          "description": "Extended properties",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Metadata of resource that was assessed"
        },
        "description": {
          "type": "string",
          "description": "The detailed description of recommendation."
        },
        "label": {
          "type": "string",
          "description": "The label of recommendation."
        },
        "learnMoreLink": {
          "type": "string",
          "description": "The link to learn more about recommendation and generation logic."
        },
        "potentialBenefits": {
          "type": "string",
          "description": "The potential benefit of implementing recommendation."
        },
        "actions": {
          "type": "array",
          "description": "The list of recommended actions to implement recommendation.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "additionalProperties": {},
              "type": "object"
            }
          },
          "x-ms-identifiers": []
        },
        "remediation": {
          "type": "object",
          "description": "The automated way to apply recommendation.",
          "additionalProperties": {
            "additionalProperties": {},
            "type": "object"
          }
        },
        "exposedMetadataProperties": {
          "type": "object",
          "description": "The recommendation metadata properties exposed to customer to provide additional information.",
          "additionalProperties": {
            "additionalProperties": {},
            "type": "object"
          }
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        }
      }
    },
    "ResourceMetadata": {
      "type": "object",
      "description": "Recommendation resource metadata",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Azure resource Id of the assessed resource"
        },
        "source": {
          "type": "string",
          "description": "Source from which recommendation is generated"
        },
        "action": {
          "type": "object",
          "description": "The action to view resource.",
          "additionalProperties": {
            "additionalProperties": {},
            "type": "object"
          }
        },
        "singular": {
          "type": "string",
          "description": "The singular user friendly name of resource type. eg: virtual machine"
        },
        "plural": {
          "type": "string",
          "description": "The plural user friendly name of resource type. eg: virtual machines"
        }
      }
    },
    "ResourceRecommendationBase": {
      "type": "object",
      "description": "Advisor Recommendation.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ResourceRecommendationBaseListResult": {
      "type": "object",
      "description": "The response of a ResourceRecommendationBase list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResourceRecommendationBase items on this page",
          "items": {
            "$ref": "#/definitions/ResourceRecommendationBase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Risk": {
      "type": "string",
      "description": "The potential risk of not implementing the recommendation.",
      "enum": [
        "Error",
        "Warning",
        "None"
      ],
      "x-ms-enum": {
        "name": "Risk",
        "modelAsString": true
      }
    },
    "Scenario": {
      "type": "string",
      "enum": [
        "Alerts"
      ],
      "x-ms-enum": {
        "name": "Scenario",
        "modelAsString": true
      }
    },
    "ShortDescription": {
      "type": "object",
      "description": "A summary of the recommendation.",
      "properties": {
        "problem": {
          "type": "string",
          "description": "The issue or opportunity identified by the recommendation."
        },
        "solution": {
          "type": "string",
          "description": "The remediation action suggested by the recommendation."
        }
      }
    },
    "SuppressionContract": {
      "type": "object",
      "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SuppressionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SuppressionContractListResult": {
      "type": "object",
      "description": "The response of a SuppressionContract list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SuppressionContract items on this page",
          "items": {
            "$ref": "#/definitions/SuppressionContract"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SuppressionProperties": {
      "type": "object",
      "description": "The properties of the suppression.",
      "properties": {
        "suppressionId": {
          "type": "string",
          "description": "The GUID of the suppression."
        },
        "ttl": {
          "type": "string",
          "description": "The duration for which the suppression is valid."
        },
        "expirationTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the expiration time stamp.",
          "readOnly": true
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2020-01-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2020_01_01",
            "value": "2020-01-01",
            "description": "The 2020-01-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    },
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
