{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs to manage Azure API Management gateway hostname bindings.",
    "version": "2025-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/hostnameBindings": {
      "get": {
        "tags": [
          "ApiGatewayHostnameBinding"
        ],
        "operationId": "ApiGatewayHostnameBinding_ListByGateway",
        "description": "List all API Management gateway hostname bindings within a gateway.",
        "x-ms-examples": {
          "ApiManagementListGatewayHostnameBindings": {
            "$ref": "./examples/ApiManagementListGatewayHostnameBindings.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The API Management gateway hostname binding list.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/hostnameBindings/{hostnameBindingName}": {
      "get": {
        "tags": [
          "ApiGatewayHostnameBinding"
        ],
        "operationId": "ApiGatewayHostnameBinding_Get",
        "description": "Gets an API Management gateway hostname binding resource description.",
        "x-ms-examples": {
          "ApiManagementGetGatewayHostnameBinding": {
            "$ref": "./examples/ApiManagementGetGatewayHostnameBinding.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayHostnameBindingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got the API Management gateway hostname binding resource.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApiGatewayHostnameBinding"
        ],
        "operationId": "ApiGatewayHostnameBinding_CreateOrUpdate",
        "description": "Creates or updates an API Management gateway hostname binding. This is long running operation and could take several minutes to complete.",
        "x-ms-examples": {
          "ApiManagementCreateGatewayHostnameBinding": {
            "$ref": "./examples/ApiManagementCreateGatewayHostnameBinding.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayHostnameBindingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/IfMatchOptionalParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            },
            "description": "Parameters supplied to the CreateOrUpdate API Management gateway hostname binding operation."
          }
        ],
        "responses": {
          "200": {
            "description": "The gateway hostname binding was successfully updated.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            },
            "headers": {
              "location": {
                "description": "Location header",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked",
                "type": "string"
              }
            }
          },
          "201": {
            "description": "The gateway hostname binding was successfully created.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            },
            "headers": {
              "location": {
                "description": "Location header",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "ApiGatewayHostnameBinding"
        ],
        "operationId": "ApiGatewayHostnameBinding_Delete",
        "description": "Deletes an existing API Management gateway hostname binding.",
        "x-ms-examples": {
          "ApiManagementDeleteGatewayHostnameBinding": {
            "$ref": "./examples/ApiManagementDeleteGatewayHostnameBinding.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayHostnameBindingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/IfMatchRequiredParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The gateway hostname binding delete request was accepted.",
            "headers": {
              "location": {
                "description": "Location header",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The gateway hostname binding does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/hostnameBindings/{hostnameBindingName}/refreshSecret": {
      "post": {
        "tags": [
          "ApiGatewayHostnameBinding"
        ],
        "operationId": "ApiGatewayHostnameBinding_RefreshSecret",
        "description": "Refresh the secret for an API Management gateway hostname binding.",
        "x-ms-examples": {
          "ApiManagementRefreshGatewayHostnameBindingSecret": {
            "$ref": "./examples/ApiManagementRefreshGatewayHostnameBindingSecret.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/GatewayHostnameBindingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The gateway hostname binding secret refresh request was accepted.",
            "headers": {
              "location": {
                "description": "Location header",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "GatewayHostnameBindingBaseProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current provisioning state of the API Management gateway hostname binding."
        },
        "hostname": {
          "type": "string",
          "description": "The default hostname of the data-plane gateway."
        },
        "keyVault": {
          "$ref": "#/definitions/GatewayHostnameBindingKeyVault",
          "description": "The link to the API Management service workspace."
        },
        "certificate": {
          "readOnly": true,
          "$ref": "#/definitions/GatewayHostnameBindingCertificate",
          "description": "The hostnames of the data-plane gateway to which requests can be sent."
        }
      },
      "required": [
        "hostname",
        "keyVault"
      ]
    },
    "GatewayHostnameBindingKeyVault": {
      "type": "object",
      "properties": {
        "secretId": {
          "type": "string",
          "description": "The current provisioning state of the API Management gateway hostname binding."
        },
        "identityClientId": {
          "type": "string",
          "description": "The default hostname of the data-plane gateway."
        },
        "lastStatus": {
          "$ref": "#/definitions/GatewayHostnameBindingKeyVaultLastStatus",
          "description": "The last status of the Key Vault certificate fetch process."
        }
      },
      "required": [
        "secretId"
      ]
    },
    "GatewayHostnameBindingKeyVaultLastStatus": {
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The last status of the Key Vault certificate fetch process.",
          "enum": [
            "Success",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "KeyVaultFetchCode",
            "modelAsString": false
          }
        },
        "timeStampUtc": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The last time the Key Vault certificate fetch process was attempted. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
        },
        "lastSuccessTimeStampUtc": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The last time the Key Vault certificate fetch process was successful. Only when the fetch process has succeeded at least once and current state is failed.  The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
        }
      }
    },
    "GatewayHostnameBindingCertificate": {
      "readOnly": true,
      "type": "object",
      "properties": {
        "thumbprint": {
          "readOnly": true,
          "type": "string",
          "description": "The thumbprint of the certificate."
        },
        "subject": {
          "readOnly": true,
          "type": "string",
          "description": "The subject of the certificate."
        },
        "expiry": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The expiration date of the certificate."
        }
      }
    },
    "GatewayHostnameBindingResource": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GatewayHostnameBindingBaseProperties",
          "description": "Properties of the API Management gateway hostname binding."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "./../../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "A single API Management gateway hostname binding resource in List or Get response."
    },
    "GatewayHostnameBindingListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GatewayHostnameBindingResource"
          },
          "description": "Result of the List API Management gateway hostname binding operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of API Management gateway hostname bindings."
        }
      },
      "required": [
        "value"
      ],
      "description": "The response of the List API Management gateway hostname binding operation."
    }
  },
  "parameters": {}
}
