{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "version": "2025-03-01-preview",
    "description": "Resource provider operation status.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ApiManagementOperations"
    },
    {
      "name": "Operations"
    },
    {
      "name": "ApiManagementGatewayResources"
    },
    {
      "name": "ApiContracts"
    },
    {
      "name": "WorkspaceApi"
    },
    {
      "name": "ApiManagementServiceResources"
    },
    {
      "name": "ApiReleaseContracts"
    },
    {
      "name": "WorkspaceApiRelease"
    },
    {
      "name": "OperationContracts"
    },
    {
      "name": "WorkspaceApiOperation"
    },
    {
      "name": "PolicyContracts"
    },
    {
      "name": "GraphQLApiResolverPolicy"
    },
    {
      "name": "ApiPolicy"
    },
    {
      "name": "Policy"
    },
    {
      "name": "ProductPolicy"
    },
    {
      "name": "WorkspacePolicy"
    },
    {
      "name": "WorkspaceApiOperationPolicy"
    },
    {
      "name": "WorkspaceApiPolicy"
    },
    {
      "name": "WorkspaceProductPolicy"
    },
    {
      "name": "Tag"
    },
    {
      "name": "TagContracts"
    },
    {
      "name": "TagContractOperation"
    },
    {
      "name": "TagContractOperationGroup"
    },
    {
      "name": "WorkspaceTag"
    },
    {
      "name": "ResolverContracts"
    },
    {
      "name": "SchemaContracts"
    },
    {
      "name": "WorkspaceApiSchema"
    },
    {
      "name": "DiagnosticContracts"
    },
    {
      "name": "Diagnostic"
    },
    {
      "name": "WorkspaceDiagnostic"
    },
    {
      "name": "WorkspaceApiDiagnostic"
    },
    {
      "name": "IssueContracts"
    },
    {
      "name": "Issue"
    },
    {
      "name": "IssueCommentContracts"
    },
    {
      "name": "IssueAttachmentContracts"
    },
    {
      "name": "TagDescriptionContracts"
    },
    {
      "name": "WikiContracts"
    },
    {
      "name": "ProductWiki"
    },
    {
      "name": "ToolContracts"
    },
    {
      "name": "ApiVersionSetContracts"
    },
    {
      "name": "WorkspaceApiVersionSet"
    },
    {
      "name": "AuthorizationProviderContracts"
    },
    {
      "name": "AuthorizationContracts"
    },
    {
      "name": "AuthorizationAccessPolicyContracts"
    },
    {
      "name": "AuthorizationServerContracts"
    },
    {
      "name": "BackendContracts"
    },
    {
      "name": "WorkspaceBackend"
    },
    {
      "name": "CacheContracts"
    },
    {
      "name": "CertificateContracts"
    },
    {
      "name": "WorkspaceCertificate"
    },
    {
      "name": "ContentTypeContracts"
    },
    {
      "name": "ContentItemContracts"
    },
    {
      "name": "DeletedServiceContracts"
    },
    {
      "name": "DocumentationContracts"
    },
    {
      "name": "EmailTemplateContracts"
    },
    {
      "name": "ApiManagementGatewayConfigConnectionResources"
    },
    {
      "name": "GatewayHostnameBindingResources"
    },
    {
      "name": "GatewayContracts"
    },
    {
      "name": "GatewayHostnameConfigurationContracts"
    },
    {
      "name": "GatewayCertificateAuthorityContracts"
    },
    {
      "name": "GroupContracts"
    },
    {
      "name": "WorkspaceGroup"
    },
    {
      "name": "IdentityProviderContracts"
    },
    {
      "name": "LoggerContracts"
    },
    {
      "name": "WorkspaceLogger"
    },
    {
      "name": "NamedValueContracts"
    },
    {
      "name": "WorkspaceNamedValue"
    },
    {
      "name": "NotificationContracts"
    },
    {
      "name": "WorkspaceNotification"
    },
    {
      "name": "OpenidConnectProviderContracts"
    },
    {
      "name": "PolicyFragmentContracts"
    },
    {
      "name": "WorkspacePolicyFragment"
    },
    {
      "name": "PolicyRestrictionContracts"
    },
    {
      "name": "PortalConfigContracts"
    },
    {
      "name": "ClientApplicationContracts"
    },
    {
      "name": "ClientApplicationProductLinkContracts"
    },
    {
      "name": "PortalRevisionContracts"
    },
    {
      "name": "SignInSettings"
    },
    {
      "name": "SignUpSettings"
    },
    {
      "name": "DelegationSettings"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "PrivateLinkResources"
    },
    {
      "name": "ProductContracts"
    },
    {
      "name": "WorkspaceProduct"
    },
    {
      "name": "ProductApiLinkContracts"
    },
    {
      "name": "WorkspaceProductApiLink"
    },
    {
      "name": "ProductGroupLinkContracts"
    },
    {
      "name": "WorkspaceProductGroupLink"
    },
    {
      "name": "GlobalSchemaContracts"
    },
    {
      "name": "WorkspaceGlobalSchema"
    },
    {
      "name": "TenantSettingsContracts"
    },
    {
      "name": "SubscriptionContracts"
    },
    {
      "name": "UserSubscription"
    },
    {
      "name": "WorkspaceSubscription"
    },
    {
      "name": "TagApiLinkContracts"
    },
    {
      "name": "WorkspaceTagApiLink"
    },
    {
      "name": "TagOperationLinkContracts"
    },
    {
      "name": "WorkspaceTagOperationLink"
    },
    {
      "name": "TagProductLinkContracts"
    },
    {
      "name": "WorkspaceTagProductLink"
    },
    {
      "name": "AccessInformationContracts"
    },
    {
      "name": "UserContracts"
    },
    {
      "name": "ApiManagementWorkspaceLinksResources"
    },
    {
      "name": "WorkspaceContracts"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApiManagement/operations": {
      "get": {
        "operationId": "ApiManagementOperations_List",
        "tags": [
          "ApiManagementOperations",
          "Operations"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.ApiManagement provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListOperations": {
            "$ref": "./examples/ApiManagementListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability": {
      "post": {
        "operationId": "ApiManagementService_CheckNameAvailability",
        "description": "Checks availability and correctness of a name for an API Management service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceCheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementServiceCheckNameAvailability": {
            "$ref": "./examples/ApiManagementServiceCheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/deletedservices": {
      "get": {
        "operationId": "DeletedServices_ListBySubscription",
        "description": "Lists all soft-deleted services available for undelete for the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeletedServicesCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementDeletedServicesListBySubscription": {
            "$ref": "./examples/ApiManagementDeletedServicesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/gateways": {
      "get": {
        "operationId": "ApiGateway_List",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "description": "List all API Management gateways within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListGatewaysBySubscription": {
            "$ref": "./examples/ApiManagementListGatewaysBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/getDomainOwnershipIdentifier": {
      "post": {
        "operationId": "ApiManagementService_GetDomainOwnershipIdentifier",
        "description": "Get the custom domain ownership identifier for an API Management service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceGetDomainOwnershipIdentifierResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementServiceGetDomainOwnershipIdentifier": {
            "$ref": "./examples/ApiManagementServiceGetDomainOwnershipIdentifier.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/locations/{location}/deletedservices/{serviceName}": {
      "get": {
        "operationId": "DeletedServices_GetByName",
        "tags": [
          "DeletedServiceContracts"
        ],
        "description": "Get soft-deleted Api Management Service by name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedServiceContract"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetDeletedServiceByName": {
            "$ref": "./examples/ApiManagementGetDeletedServiceByName.json"
          }
        }
      },
      "delete": {
        "operationId": "DeletedServices_Purge",
        "tags": [
          "DeletedServiceContracts"
        ],
        "description": "Purges Api Management Service (deletes it with no option to undelete).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/DeletedServiceContract"
            },
            "headers": {
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementDeletedServicesPurge": {
            "$ref": "./examples/ApiManagementDeletedServicesPurge.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DeletedServiceContract"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/locations/{location}/operationResults/{operationId}": {
      "get": {
        "operationId": "OperationsResults_Get",
        "description": "Returns operation results for long running operations executing DELETE or PATCH on the resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The ID of an ongoing async operation.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL for determining when an operation has completed."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetOperationResult": {
            "$ref": "./examples/ApiManagementGetOperationResult.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The ID of an ongoing async operation.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get operation status": {
            "$ref": "./examples/ApiManagementGetOperationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service": {
      "get": {
        "operationId": "ApiManagementService_List",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "Lists all API Management services within an Azure subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListServiceBySubscription": {
            "$ref": "./examples/ApiManagementListServiceBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/skus": {
      "get": {
        "operationId": "ApiManagementSkus_List",
        "description": "Gets the list of Microsoft.ApiManagement SKUs available for your Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementSkusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all available Resource SKUs": {
            "$ref": "./examples/ApiManagementListSku.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways": {
      "get": {
        "operationId": "ApiGateway_ListByResourceGroup",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "description": "List all API Management gateways within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListGatewaysBySubscriptionAndResourceGroup": {
            "$ref": "./examples/ApiManagementListGatewaysBySubscriptionAndResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}": {
      "get": {
        "operationId": "ApiGateway_Get",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "description": "Gets an API Management gateway resource description.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGatewayGetGateway": {
            "$ref": "./examples/ApiManagementGatewayGetGateway.json"
          }
        }
      },
      "put": {
        "operationId": "ApiGateway_CreateOrUpdate",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "description": "Creates or updates an API Management gateway. This is long running operation and could take several minutes to complete.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate API Management gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApiManagementGatewayResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayResource"
            }
          },
          "201": {
            "description": "Resource 'ApiManagementGatewayResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateStandardGateway": {
            "$ref": "./examples/ApiManagementCreateStandardGateway.json"
          },
          "ApiManagementCreateWorkspacePremiumGateway": {
            "$ref": "./examples/ApiManagementCreateWorkspacePremiumGateway.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ApiManagementGatewayResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ApiGateway_Update",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "description": "Updates an existing API Management gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate API Management gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementUpdateStandardGateway": {
            "$ref": "./examples/ApiManagementUpdateStandardGateway.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ApiManagementGatewayResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ApiGateway_Delete",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "description": "Deletes an existing API Management gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayResource"
            },
            "headers": {
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGatewayDeleteGateway": {
            "$ref": "./examples/ApiManagementGatewayDeleteGateway.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ApiManagementGatewayResource"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/configConnections": {
      "get": {
        "operationId": "ApiGatewayConfigConnection_ListByGateway",
        "tags": [
          "ApiManagementGatewayConfigConnectionResources"
        ],
        "description": "List all API Management gateway config connections within a gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayConfigConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListGatewayConfigConnection": {
            "$ref": "./examples/ApiManagementListGatewayConfigConnection.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/configConnections/{configConnectionName}": {
      "get": {
        "operationId": "ApiGatewayConfigConnection_Get",
        "tags": [
          "ApiManagementGatewayConfigConnectionResources"
        ],
        "description": "Gets an API Management gateway config connection resource description.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "configConnectionName",
            "in": "path",
            "description": "The name of the API Management gateway config connection.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayConfigConnectionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetGatewayConfigConnection": {
            "$ref": "./examples/ApiManagementGetGatewayConfigConnection.json"
          }
        }
      },
      "put": {
        "operationId": "ApiGatewayConfigConnection_CreateOrUpdate",
        "tags": [
          "ApiManagementGatewayConfigConnectionResources"
        ],
        "description": "Creates or updates an API Management gateway config connection. This is long running operation and could take several minutes to complete.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "configConnectionName",
            "in": "path",
            "description": "The name of the API Management gateway config connection.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate API Management gateway config connection operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayConfigConnectionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApiManagementGatewayConfigConnectionResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayConfigConnectionResource"
            }
          },
          "201": {
            "description": "Resource 'ApiManagementGatewayConfigConnectionResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiManagementGatewayConfigConnectionResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateGatewayConfigConnection": {
            "$ref": "./examples/ApiManagementCreateGatewayConfigConnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ApiManagementGatewayConfigConnectionResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ApiGatewayConfigConnection_Delete",
        "tags": [
          "ApiManagementGatewayConfigConnectionResources"
        ],
        "description": "Deletes an existing API Management gateway config connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "configConnectionName",
            "in": "path",
            "description": "The name of the API Management gateway config connection.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 30,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGatewayDeleteGateway": {
            "$ref": "./examples/ApiManagementDeleteGatewayConfigConnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/hostnameBindings": {
      "get": {
        "operationId": "ApiGatewayHostnameBinding_ListByGateway",
        "tags": [
          "GatewayHostnameBindingResources"
        ],
        "description": "List all API Management gateway hostname bindings within a gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListGatewayHostnameBindings": {
            "$ref": "./examples/ApiManagementListGatewayHostnameBindings.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/hostnameBindings/{hostnameBindingName}": {
      "get": {
        "operationId": "ApiGatewayHostnameBinding_Get",
        "tags": [
          "GatewayHostnameBindingResources"
        ],
        "description": "Gets an API Management gateway hostname binding resource description.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "hostnameBindingName",
            "in": "path",
            "description": "Gateway hostname binding identifier. Must be unique in the scope of parent Gateway entity.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetGatewayHostnameBinding": {
            "$ref": "./examples/ApiManagementGetGatewayHostnameBinding.json"
          }
        }
      },
      "put": {
        "operationId": "ApiGatewayHostnameBinding_CreateOrUpdate",
        "tags": [
          "GatewayHostnameBindingResources"
        ],
        "description": "Creates or updates an API Management gateway hostname binding. This is long running operation and could take several minutes to complete.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "hostnameBindingName",
            "in": "path",
            "description": "Gateway hostname binding identifier. Must be unique in the scope of parent Gateway entity.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate API Management gateway hostname binding operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked"
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "201": {
            "description": "Resource 'GatewayHostnameBindingResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GatewayHostnameBindingResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked"
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateGatewayHostnameBinding": {
            "$ref": "./examples/ApiManagementCreateGatewayHostnameBinding.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GatewayHostnameBindingResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ApiGatewayHostnameBinding_Delete",
        "tags": [
          "GatewayHostnameBindingResources"
        ],
        "description": "Deletes an existing API Management gateway hostname binding.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "hostnameBindingName",
            "in": "path",
            "description": "Gateway hostname binding identifier. Must be unique in the scope of parent Gateway entity.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementDeleteGatewayHostnameBinding": {
            "$ref": "./examples/ApiManagementDeleteGatewayHostnameBinding.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/hostnameBindings/{hostnameBindingName}/refreshSecret": {
      "post": {
        "operationId": "ApiGatewayHostnameBinding_RefreshSecret",
        "tags": [
          "GatewayHostnameBindingResources"
        ],
        "description": "Refresh the secret for an API Management gateway hostname binding.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "hostnameBindingName",
            "in": "path",
            "description": "Gateway hostname binding identifier. Must be unique in the scope of parent Gateway entity.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "Azure-AsyncOperation header contains the URL where the status of the long running operation can be checked"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementRefreshGatewayHostnameBindingSecret": {
            "$ref": "./examples/ApiManagementRefreshGatewayHostnameBindingSecret.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/gateways/{gatewayName}/skus": {
      "get": {
        "operationId": "ApiManagementGatewaySkus_ListAvailableSkus",
        "tags": [
          "ApiManagementGatewayResources"
        ],
        "summary": "Gets available SKUs for API Management gateway",
        "description": "Gets all available SKU for a given API Management gateway",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the API Management gateway.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 45,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayResourceSkuResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListSKUs-Gateways": {
            "$ref": "./examples/ApiManagementListSKUs-Gateways.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service": {
      "get": {
        "operationId": "ApiManagementService_ListByResourceGroup",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "List all API Management services within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListServiceBySubscriptionAndResourceGroup": {
            "$ref": "./examples/ApiManagementListServiceBySubscriptionAndResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}": {
      "get": {
        "operationId": "ApiManagementService_Get",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "Gets an API Management service resource description.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementServiceGetMultiRegionInternalVnet": {
            "$ref": "./examples/ApiManagementServiceGetMultiRegionInternalVnet.json"
          },
          "ApiManagementServiceGetService": {
            "$ref": "./examples/ApiManagementServiceGetService.json"
          },
          "ApiManagementServiceGetServiceHavingMsi": {
            "$ref": "./examples/ApiManagementServiceGetServiceHavingMsi.json"
          }
        }
      },
      "put": {
        "operationId": "ApiManagementService_CreateOrUpdate",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "Creates or updates an API Management service. This is long running operation and could take several minutes to complete.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate API Management service operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApiManagementServiceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "201": {
            "description": "Resource 'ApiManagementServiceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateMultiRegionServiceWithCustomHostname": {
            "$ref": "./examples/ApiManagementCreateMultiRegionServiceWithCustomHostname.json"
          },
          "ApiManagementCreateService": {
            "$ref": "./examples/ApiManagementCreateService.json"
          },
          "ApiManagementCreateServiceHavingMsi": {
            "$ref": "./examples/ApiManagementCreateServiceHavingMsi.json"
          },
          "ApiManagementCreateServiceInVnetWithPublicIP": {
            "$ref": "./examples/ApiManagementCreateServiceInVnetWithPublicIP.json"
          },
          "ApiManagementCreateServiceInZones": {
            "$ref": "./examples/ApiManagementCreateServiceInZones.json"
          },
          "ApiManagementCreateServiceSkuv2Service": {
            "$ref": "./examples/ApiManagementCreateServiceSkuv2Service.json"
          },
          "ApiManagementCreateServiceWithCustomHostnameKeyVault": {
            "$ref": "./examples/ApiManagementCreateServiceWithCustomHostnameKeyVault.json"
          },
          "ApiManagementCreateServiceWithDeveloperPortal": {
            "$ref": "./examples/ApiManagementCreateServiceWithDeveloperPortal.json"
          },
          "ApiManagementCreateServiceWithNatGatewayEnabled": {
            "$ref": "./examples/ApiManagementCreateServiceWithNatGatewayEnabled.json"
          },
          "ApiManagementCreateServiceWithSystemCertificates": {
            "$ref": "./examples/ApiManagementCreateServiceWithSystemCertificates.json"
          },
          "ApiManagementCreateServiceWithUserAssignedIdentity": {
            "$ref": "./examples/ApiManagementCreateServiceWithUserAssignedIdentity.json"
          },
          "ApiManagementCreateServiceWithoutLegacyConfigurationApi": {
            "$ref": "./examples/ApiManagementCreateServiceWithoutLegacyConfigurationApi.json"
          },
          "ApiManagementUndelete": {
            "$ref": "./examples/ApiManagementUndelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ApiManagementServiceResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ApiManagementService_Update",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "Updates an existing API Management service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate API Management service operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementUpdateServiceDisableTls10": {
            "$ref": "./examples/ApiManagementUpdateServiceDisableTls10.json"
          },
          "ApiManagementUpdateServicePublisherDetails": {
            "$ref": "./examples/ApiManagementUpdateServicePublisherDetails.json"
          },
          "ApiManagementUpdateServiceToNewVnetAndAvailabilityZones": {
            "$ref": "./examples/ApiManagementUpdateServiceToNewVnetAndAZs.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ApiManagementServiceResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ApiManagementService_Delete",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "Deletes an existing API Management service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/ApiManagementServiceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "location": {
                "type": "string",
                "description": "Location header"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementServiceDeleteService": {
            "$ref": "./examples/ApiManagementServiceDeleteService.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ApiManagementServiceResource"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/allPolicies": {
      "get": {
        "operationId": "AllPolicies_ListByService",
        "tags": [
          "ApiManagementServiceResources"
        ],
        "description": "Status of all policies of API Management services.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AllPoliciesCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListPolicyRestrictions": {
            "$ref": "./examples/ApiManagementAllPolicies.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apiVersionSets": {
      "get": {
        "operationId": "ApiVersionSet_ListByService",
        "tags": [
          "ApiVersionSetContracts"
        ],
        "description": "Lists a collection of API Version Sets in the specified service instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiVersionSetCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListApiVersionSets": {
            "$ref": "./examples/ApiManagementListApiVersionSets.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apiVersionSets/{versionSetId}": {
      "get": {
        "operationId": "ApiVersionSet_Get",
        "tags": [
          "ApiVersionSetContracts"
        ],
        "description": "Gets the details of the Api Version Set specified by its identifier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[^*#&+:<>?]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApiVersionSetContract"
            },
            "headers": {
              "ETag": {
                "type": "string",
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementGetApiVersionSet": {
            "$ref": "./examples/ApiManagementGetApiVersionSet.json"
          }
        }
      },
      "put": {
        "operationId": "ApiVersionSet_CreateOrUpdate",
        "tags": [
          "ApiVersionSetContracts"
        ],
        "description": "Creates or Updates a Api Version Set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[^*#&+:<>?]+$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. Not required when creating an entity, but required when updating an entity.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Create or update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiVersionSetContract"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApiVersionSetContract"
            },
            "headers": {
              "ETag": {
                "type": "string",
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests."
              }
            }
          },
          "201": {
            "description": "The request has succeeded and a new resource has been created as a result.",
            "schema": {
              "$ref": "#/definitions/ApiVersionSetContract"
            },
            "headers": {
              "ETag": {
                "type": "string",
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementCreateApiVersionSet": {
            "$ref": "./examples/ApiManagementCreateApiVersionSet.json"
          }
        }
      },
      "patch": {
        "operationId": "ApiVersionSet_Update",
        "tags": [
          "ApiVersionSetContracts"
        ],
        "description": "Updates the details of the Api VersionSet specified by its identifier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[^*#&+:<>?]+$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiVersionSetUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApiVersionSetContract"
            },
            "headers": {
              "ETag": {
                "type": "string",
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementUpdateApiVersionSet": {
            "$ref": "./examples/ApiManagementUpdateApiVersionSet.json"
          }
        }
      },
      "delete": {
        "operationId": "ApiVersionSet_Delete",
        "tags": [
          "ApiVersionSetContracts"
        ],
        "description": "Deletes specific Api Version Set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[^*#&+:<>?]+$"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementDeleteApiVersionSet": {
            "$ref": "./examples/ApiManagementDeleteApiVersionSet.json"
          }
        }
      },
      "head": {
        "operationId": "ApiVersionSet_GetEntityTag",
        "tags": [
          "ApiVersionSetContracts"
        ],
        "description": "Gets the entity state (Etag) version of the Api Version Set specified by its identifier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "versionSetId",
            "in": "path",
            "description": "Api Version Set identifier. Must be unique in the current API Management service instance.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "^[^*#&+:<>?]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "headers": {
              "ETag": {
                "type": "string",
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementHeadApiVersionSet": {
            "$ref": "./examples/ApiManagementHeadApiVersionSet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis": {
      "get": {
        "operationId": "Api_ListByService",
        "tags": [
          "ApiContracts"
        ],
        "description": "Lists all APIs of the API Management service instance.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the API Management service.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "|     Field     |     Usage     |     Supported operators     |     Supported functions     |</br>|-------------|-------------|-------------|-------------|</br>| name | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| displayName | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| description | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| serviceUrl | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| path | filter | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |</br>| isCurrent | filter | eq, ne |  |</br>",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of records to skip.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Include tags in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expandApiVersionSet",
            "in": "query",
            "description": "Include full ApiVersionSet resource in response",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApiManagementListApis": {
            "$ref": "./examples/ApiManagementListApis.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}": {
      "get": {
        "operationId": "Api_Get",
        "tags": [
          "ApiContracts"
        ],
        "description": "Gets the details of the API specified by its identifier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceName",
            "in": "path",
[...]
