{
  "swagger": "2.0",
  "info": {
    "title": "ConsumptionManagementClient",
    "version": "2024-08-01",
    "description": "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PriceSheet"
    },
    {
      "name": "PriceSheetResults"
    },
    {
      "name": "Budgets"
    },
    {
      "name": "CreditSummaries"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Consumption/budgets": {
      "get": {
        "operationId": "Budgets_List",
        "tags": [
          "Budgets"
        ],
        "description": "Lists all budgets for the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BudgetsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BudgetsList": {
            "$ref": "./examples/BudgetsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/budgets/{budgetName}": {
      "get": {
        "operationId": "Budgets_Get",
        "tags": [
          "Budgets"
        ],
        "description": "Gets the budget for the scope by budget name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "budgetName",
            "in": "path",
            "description": "Budget Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Budget": {
            "$ref": "./examples/Budget.json"
          }
        }
      },
      "put": {
        "operationId": "Budgets_CreateOrUpdate",
        "tags": [
          "Budgets"
        ],
        "description": "The operation to create or update a budget. You can optionally provide an eTag if desired as a form of concurrency control. To obtain the latest eTag for a given budget, perform a get operation prior to your put operation.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "budgetName",
            "in": "path",
            "description": "Budget Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Budget operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Budget' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "201": {
            "description": "Resource 'Budget' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdateBudget": {
            "$ref": "./examples/CreateOrUpdateBudget.json"
          }
        }
      },
      "delete": {
        "operationId": "Budgets_Delete",
        "tags": [
          "Budgets"
        ],
        "description": "The operation to delete a budget.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "budgetName",
            "in": "path",
            "description": "Budget Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteBudget": {
            "$ref": "./examples/DeleteBudget.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/charges": {
      "get": {
        "operationId": "Charges_List",
        "description": "Lists the charges based for the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter charges by properties/usageEnd (Utc time), properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "required": false,
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "May be used to group charges for billingAccount scope by properties/billingProfileId, properties/invoiceSectionId, properties/customerId (specific for Partner Led), or for billingProfile scope by properties/invoiceSectionId.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangesForBillingPeriodByDepartment-Legacy": {
            "$ref": "./examples/ChargesForBillingPeriodByDepartment.json"
          },
          "ChangesForBillingPeriodByEnrollmentAccount-Legacy": {
            "$ref": "./examples/ChargesForBillingPeriodByEnrollmentAccount.json"
          },
          "ChargesListByBillingAccount-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccount.json"
          },
          "ChargesListByBillingAccountGroupByBillingProfileId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccountGroupByBillingProfileId.json"
          },
          "ChargesListByBillingAccountGroupByCustomerId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccountGroupByCustomerId.json"
          },
          "ChargesListByBillingAccountGroupByInvoiceSectionId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccountGroupByInvoiceSectionId.json"
          },
          "ChargesListByBillingProfile-Modern": {
            "$ref": "./examples/ChargesListByModernBillingProfile.json"
          },
          "ChargesListByBillingProfileGroupByInvoiceSectionId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingProfileGroupByInvoiceSectionId.json"
          },
          "ChargesListByBillingProfileInvoiceSection-Modern": {
            "$ref": "./examples/ChargesListByModernBillingProfileInvoiceSection.json"
          },
          "ChargesListByCustomer-Modern": {
            "$ref": "./examples/ChargesListByModernCustomer.json"
          },
          "ChargesListByDepartment-Legacy": {
            "$ref": "./examples/ChargesListForDepartmentFilterByStartEndDate.json"
          },
          "ChargesListByInvoiceSectionId-Modern": {
            "$ref": "./examples/ChargesListByModernInvoiceSectionId.json"
          },
          "ChargesListForEnrollmentAccount-Legacy": {
            "$ref": "./examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/marketplaces": {
      "get": {
        "operationId": "Marketplaces_List",
        "description": "Lists the marketplaces for a scope at the defined scope. Marketplaces are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter marketplaces by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "May be used to limit the number of results to the most recent N marketplaces.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MarketplacesListResult"
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountMarketplacesList": {
            "$ref": "./examples/MarketplacesByBillingAccountList.json"
          },
          "BillingAccountMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByBillingAccountListForBillingPeriod.json"
          },
          "DepartmentMarketplacesList": {
            "$ref": "./examples/MarketplacesByDepartmentList.json"
          },
          "DepartmentMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByDepartment_ListByBillingPeriod.json"
          },
          "EnrollmentAccountMarketplacesList": {
            "$ref": "./examples/MarketplacesByEnrollmentAccountList.json"
          },
          "EnrollmentAccountMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json"
          },
          "ManagementGroupMarketplacesList": {
            "$ref": "./examples/MarketplacesByManagementGroupList.json"
          },
          "ManagementGroupMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByManagementGroup_ListForBillingPeriod.json"
          },
          "SubscriptionMarketplacesList": {
            "$ref": "./examples/MarketplacesList.json"
          },
          "SubscriptionMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesListForBillingPeriod.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "operationId": "ReservationsDetails_List",
        "description": "Lists the reservations details for provided date range. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. If the data size is too large, customers may also get 504 as the API timed out preparing the data. In such cases, API call should be made with smaller date ranges or a call to Generate Reservation Details Report API should be made as it is asynchronous and will not run into response size time outs.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceScope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date. Only applicable when querying with billing profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date. Only applicable when querying with billing profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'. Not applicable when querying with billing profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "query",
            "description": "Reservation Id GUID. Only valid if reservationOrderId is also provided. Filter to a specific reservation",
            "required": false,
            "type": "string"
          },
          {
            "name": "reservationOrderId",
            "in": "query",
            "description": "Reservation Order Id GUID. Required if reservationId is provided. Filter to a specific reservation order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationDetailsByBillingAccountId": {
            "$ref": "./examples/ReservationDetailsByBillingAccountId.json"
          },
          "ReservationDetailsByBillingProfileId": {
            "$ref": "./examples/ReservationDetailsByBillingProfileId.json"
          },
          "ReservationDetailsByBillingProfileIdReservationId": {
            "$ref": "./examples/ReservationDetailsByBillingProfileIdReservationId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Consumption/reservationRecommendationDetails": {
      "get": {
        "operationId": "ReservationRecommendationDetails_Get",
        "description": "Details of a reservation recommendation for what-if analysis of reserved instances.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceScope",
            "in": "path",
            "description": "The scope associated with reservation recommendation details operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope, /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for BillingAccount scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Scope of the reservation.",
            "required": true,
            "type": "string",
            "enum": [
              "Single",
              "Shared"
            ],
            "x-ms-enum": {
              "name": "Scope",
              "modelAsString": true,
              "values": [
                {
                  "name": "Single",
                  "value": "Single"
                },
                {
                  "name": "Shared",
                  "value": "Shared"
                }
              ]
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Used to select the region the recommendation should be generated for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "term",
            "in": "query",
            "description": "Specify length of reservation recommendation term.",
            "required": true,
            "type": "string",
            "enum": [
              "P1M",
              "P1Y",
              "P3Y"
            ],
            "x-ms-enum": {
              "name": "Term",
              "modelAsString": true,
              "values": [
                {
                  "name": "P1M",
                  "value": "P1M",
                  "description": "1 month reservation term"
                },
                {
                  "name": "P1Y",
                  "value": "P1Y",
                  "description": "1 year reservation term"
                },
                {
                  "name": "P3Y",
                  "value": "P3Y",
                  "description": "3 year reservation term"
                }
              ]
            }
          },
          {
            "name": "lookBackPeriod",
            "in": "query",
            "description": "Filter the time period on which reservation recommendation results are based.",
            "required": true,
            "type": "string",
            "enum": [
              "Last7Days",
              "Last30Days",
              "Last60Days"
            ],
            "x-ms-enum": {
              "name": "LookBackPeriod",
              "modelAsString": true,
              "values": [
                {
                  "name": "Last07Days",
                  "value": "Last7Days",
                  "description": "Use 7 days of data for recommendations"
                },
                {
                  "name": "Last30Days",
                  "value": "Last30Days",
                  "description": "Use 30 days of data for recommendations"
                },
                {
                  "name": "Last60Days",
                  "value": "Last60Days",
                  "description": "Use 60 days of data for recommendations"
                }
              ]
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "Filter the products for which reservation recommendation results are generated. Examples: Standard_DS1_v2 (for VM), Premium_SSD_Managed_Disks_P30 (for Managed Disks)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Used to filter reservation recommendation details by: properties/subscriptionId can be specified for billing account and billing profile paths.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationRecommendationDetailsModel"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/HighCasedErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationRecommendationsByBillingAccount-Legacy": {
            "$ref": "./examples/ReservationRecommendationDetailsByBillingAccount.json"
          },
          "ReservationRecommendationsByBillingProfile-Modern": {
            "$ref": "./examples/ReservationRecommendationDetailsByBillingProfile.json"
          },
          "ReservationRecommendationsByResourceGroup-Legacy": {
            "$ref": "./examples/ReservationRecommendationDetailsByResourceGroup.json"
          },
          "ReservationRecommendationsBySubscription-Legacy": {
            "$ref": "./examples/ReservationRecommendationDetailsBySubscription.json"
          }
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Consumption/reservationRecommendations": {
      "get": {
        "operationId": "ReservationRecommendations_List",
        "description": "List of recommendations for purchasing reserved instances.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceScope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter reservationRecommendations by: properties/scope with allowed values ['Single', 'Shared'] and default value 'Single'; properties/resourceType with allowed values ['VirtualMachines', 'SQLDatabases', 'PostgreSQL', 'ManagedDisk', 'MySQL', 'RedHat', 'MariaDB', 'RedisCache', 'CosmosDB', 'SqlDataWarehouse', 'SUSELinux', 'AppService', 'BlockBlob', 'AzureDataExplorer', 'VMwareCloudSimple'] and default value 'VirtualMachines'; and properties/lookBackPeriod with allowed values ['Last7Days', 'Last30Days', 'Last60Days'] and default value 'Last7Days'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationRecommendationsListResult"
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationRecommendationsByBillingAccount-Legacy": {
            "$ref": "./examples/ReservationRecommendationsByBillingAccount.json"
          },
          "ReservationRecommendationsByBillingAccountFilterForScope": {
            "$ref": "./examples/ReservationRecommendationsByBillingAccountFilterByScope.json"
          },
          "ReservationRecommendationsByBillingProfile-Modern": {
            "$ref": "./examples/ReservationRecommendationsByBillingProfile.json"
          },
          "ReservationRecommendationsByResourceGroup-Legacy": {
            "$ref": "./examples/ReservationRecommendationsByResourceGroup.json"
          },
          "ReservationRecommendationsBySubscription-Legacy": {
            "$ref": "./examples/ReservationRecommendationsBySubscription.json"
          },
          "ReservationRecommendationsFilterBySubscriptionForScopeLookBackPeriod-Legacy": {
            "$ref": "./examples/ReservationRecommendationsFilterBySubscriptionForScopeLookBackPeriod.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceScope}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "operationId": "ReservationsSummaries_List",
        "description": "Lists the reservations summaries for the defined scope daily or monthly grain. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resourceScope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "grain",
            "in": "query",
            "description": "Can be daily or monthly",
            "required": true,
            "type": "string",
            "enum": [
              "daily",
              "monthly"
            ],
            "x-ms-enum": {
              "name": "Datagrain",
              "modelAsString": true,
              "values": [
                {
                  "name": "DailyGrain",
                  "value": "daily",
                  "description": "Daily grain of data"
                },
                {
                  "name": "MonthlyGrain",
                  "value": "monthly",
                  "description": "Monthly grain of data"
                }
              ]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date. Only applicable when querying with billing profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date. Only applicable when querying with billing profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'. Not applicable when querying with billing profile",
            "required": false,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "query",
            "description": "Reservation Id GUID. Only valid if reservationOrderId is also provided. Filter to a specific reservation",
            "required": false,
            "type": "string"
          },
          {
            "name": "reservationOrderId",
            "in": "query",
            "description": "Reservation Order Id GUID. Required if reservationId is provided. Filter to a specific reservation order",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationSummariesDailyWithBillingAccountId": {
            "$ref": "./examples/ReservationSummariesDailyWithBillingAccountId.json"
          },
          "ReservationSummariesDailyWithBillingProfileId": {
            "$ref": "./examples/ReservationSummariesDailyWithBillingProfileId.json"
          },
          "ReservationSummariesMonthlyWithBillingAccountId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithBillingAccountId.json"
          },
          "ReservationSummariesMonthlyWithBillingProfileId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithBillingProfileId.json"
          },
          "ReservationSummariesMonthlyWithBillingProfileIdReservationId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithBillingProfileIdReservationId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/tags": {
      "get": {
        "operationId": "Tags_Get",
        "description": "Get all available tag keys for the defined scope",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TagsResult"
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Tags_Get": {
            "$ref": "./examples/Tags.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "operationId": "UsageDetails_List",
        "description": "Lists the usage details for the defined scope. Usage details are available via this API only for May 1, 2014 or later.\n\n**Note:Microsoft will be retiring the Consumption Usage Details API at some point in the future. We do not recommend that you take a new dependency on this API. Please use the Cost Details API instead. We will notify customers once a date for retirement has been determined.For Learn more,see [Generate Cost Details Report - Create Operation](https://learn.microsoft.com/en-us/rest/api/cost-management/generate-cost-details-report/create-operation?tabs=HTTP)**",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties/additionalInfo or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter usageDetails by properties/resourceGroup, properties/resourceName, properties/resourceId, properties/chargeType, properties/reservationId, properties/publisherType or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:). PublisherType Filter accepts two values azure and marketplace and it is currently supported for Web Direct Offer Type",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "metric",
            "in": "query",
            "description": "Allows to select different type of cost/usage records.",
            "required": false,
            "type": "string",
            "enum": [
              "actualcost",
              "amortizedcost",
              "usage"
            ],
            "x-ms-enum": {
              "name": "Metrictype",
              "modelAsString": true,
              "values": [
                {
                  "name": "ActualCostMetricType",
                  "value": "actualcost",
                  "description": "Actual cost data."
                },
                {
                  "name": "AmortizedCostMetricType",
                  "value": "amortizedcost",
                  "description": "Amortized cost data."
                },
                {
                  "name": "UsageMetricType",
                  "value": "usage",
                  "description": "Usage data."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UsageDetailsListResult"
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByBillingAccount.json"
          },
          "BillingAccountUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCABillingAccount.json"
          },
          "BillingAccountUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByBillingAccount.json"
          },
          "BillingProfileUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCABillingProfile.json"
          },
          "CustomerUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCACustomer.json"
          },
          "DepartmentUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByDepartment.json"
          },
          "DepartmentUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByDepartment.json"
          },
          "EnrollmentAccountUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByEnrollmentAccount.json"
          },
          "EnrollmentAccountUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json"
          },
          "InvoiceSectionUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCAInvoiceSection.json"
          },
          "ManagementGroupUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByManagementGroup.json"
          },
          "ManagementGroupUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByManagementGroup.json"
          },
          "UsageDetailsExpand-Legacy": {
            "$ref": "./examples/UsageDetailsExpand.json"
          },
          "UsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsList.json"
          },
          "UsageDetailsListByMetricActualCost-Legacy": {
            "$ref": "./examples/UsageDetailsListByMetricActualCost.json"
          },
          "UsageDetailsListByMetricAmortizedCost-Legacy": {
            "$ref": "./examples/UsageDetailsListByMetricAmortizedCost.json"
          },
          "UsageDetailsListByMetricUsage-Legacy": {
            "$ref": "./examples/UsageDetailsListByMetricUsage.json"
          },
          "UsageDetailsListFilterByTag-Legacy": {
            "$ref": "./examples/UsageDetailsListFilterByTag.json"
          },
          "UsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriod.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances": {
      "get": {
        "operationId": "Balances_GetForBillingPeriodByBillingAccount",
        "description": "Gets the balances for a scope by billing period and billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingPeriodName",
            "in": "path",
            "description": "Billing Period Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Balances": {
            "$ref": "./examples/BalancesByBillingAccountForBillingPeriod.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/download": {
      "post": {
        "operationId": "PriceSheet_DownloadByBillingAccountPeriod",
        "description": "Generates the pricesheet for the provided billing period asynchronously based on the enrollment id",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingPeriodName",
            "in": "path",
            "description": "Billing Period Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EAPriceSheetForBillingPeriod": {
            "$ref": "./examples/EAPriceSheetForBillingPeriod.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/OperationStatus"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits/balanceSummary": {
      "get": {
        "operationId": "Credits_Get",
        "tags": [
          "CreditSummaries"
        ],
        "description": "The credit summary by billingAccountId and billingProfileId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingProfileId",
            "in": "path",
            "description": "Azure Billing Profile ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditSummary"
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSummaryByBillingProfile": {
            "$ref": "./examples/CreditSummaryByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/events": {
      "get": {
        "operationId": "Events_ListByBillingProfile",
        "description": "Lists the events that decrements Azure credits or Microsoft Azure consumption commitment for a billing account or a billing profile for a given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingProfileId",
            "in": "path",
            "description": "Azure Billing Profile ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EventsListByBillingProfile": {
            "$ref": "./examples/EventsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/lots": {
      "get": {
        "operationId": "Lots_ListByBillingProfile",
        "description": "Lists all Azure credits for a billing account or a billing profile. The API is only supported for Microsoft Customer Agreements (MCA) billing accounts.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingProfileId",
            "in": "path",
            "description": "Azure Billing Profile ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Lots"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LotsListByBillingProfile": {
            "$ref": "./examples/LotsListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/reservationTransactions": {
      "get": {
        "operationId": "ReservationTransactions_ListByBillingProfile",
        "description": "List of transactions for reserved instances on billing profile scope. The refund transactions are posted along with its purchase transaction (i.e. in the purchase billing month). For example, The refund is requested in May 2021. This refund transaction will have event date as May 2021 but the billing month as April 2020 when the reservation purchase was made. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingProfileId",
            "in": "path",
            "description": "Azure Billing Profile ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter reservation transactions by date range. The properties/EventDate for start date and end date. The filter supports 'le' and  'ge'. Note: API returns data for the entire start date's and end date's billing month. For example, filter properties/eventDate+ge+2020-01-01+AND+properties/eventDate+le+2020-12-29 will include data for entire December 2020 month (i.e. will contain records for dates December 30 and 31)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ModernReservationTransactionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationTransactionsByBillingProfileId": {
            "$ref": "./examples/ReservationTransactionsListByBillingProfileId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}/providers/Microsoft.Consumption/lots": {
      "get": {
        "operationId": "Lots_ListByCustomer",
        "description": "Lists all Azure credits for a customer. The API is only supported for Microsoft Partner  Agreements (MPA) billing accounts.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter the lots by Status, Source etc. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Lots"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LotsListByCustomer": {
            "$ref": "./examples/LotsListByCustomer.json"
          },
          "LotsListByCustomerWithFilter": {
            "$ref": "./examples/LotsListByCustomerWithFilters.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances": {
      "get": {
        "operationId": "Balances_GetByBillingAccount",
        "description": "Gets the balances for a scope by billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Balances": {
            "$ref": "./examples/BalancesByBillingAccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/events": {
      "get": {
        "operationId": "Events_ListByBillingAccount",
        "description": "Lists the events that decrements Azure credits or Microsoft Azure consumption commitment for a billing account or a billing profile for a given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter the events by lotId, lotSource etc. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Events"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EventsGetByBillingAccount": {
            "$ref": "./examples/EventsGetByBillingAccount.json"
          },
          "EventsGetByBillingAccount-Contributor": {
            "$ref": "./examples/EventsGetByBillingAccount-Contributor.json"
          },
          "EventsGetByBillingAccount-Primary": {
            "$ref": "./examples/EventsGetByBillingAccount-Primary.json"
          },
          "EventsGetByBillingAccountWithFilters": {
            "$ref": "./examples/EventsGetByBillingAccountWithFilters.json"
          },
          "EventsGetByBillingAccountWithFilters-Contributor.json": {
            "$ref": "./examples/EventsGetByBillingAccountWithFilters-Contributor.json"
          },
          "EventsGetByBillingAccountWithFilters-Primary": {
            "$ref": "./examples/EventsGetByBillingAccountWithFilters-Primary.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/lots": {
      "get": {
        "operationId": "Lots_ListByBillingAccount",
        "description": "Lists all Microsoft Azure consumption commitments for a billing account. The API is only supported for Microsoft Customer Agreements (MCA) and Direct Enterprise Agreement (EA)  billing accounts.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter the lots by Status, Source etc. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Lots"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LotsListByBillingAccount": {
            "$ref": "./examples/LotsListByBillingAccount.json"
          },
          "LotsListByBillingAccount-Contributor": {
            "$ref": "./examples/LotsListByBillingAccount-Contributor.json"
          },
          "LotsListByBillingAccount-Primary": {
            "$ref": "./examples/LotsListByBillingAccount-Primary.json"
          },
          "LotsListByBillingAccountWithStatusFilter": {
            "$ref": "./examples/LotsListByBillingAccountWithFilters.json"
          },
          "LotsListByBillingAccountWithStatusFilter-Contributor": {
            "$ref": "./examples/LotsListByBillingAccountWithFilters-Contributor.json"
          },
          "LotsListByBillingAccountWithStatusFilter-Primary": {
            "$ref": "./examples/LotsListByBillingAccountWithFilters-Primary.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationTransactions": {
      "get": {
        "operationId": "ReservationTransactions_List",
        "description": "List of transactions for reserved instances on billing account scope. Note: The refund transactions are posted along with its purchase transaction (i.e. in the purchase billing month). For example, The refund is requested in May 2021. This refund transaction will have event date as May 2021 but the billing month as April 2020 when the reservation purchase was made. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "BillingAccount ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter reservation transactions by date range. The properties/EventDate for start date and end date. The filter supports 'le' and  'ge'. Note: API returns data for the entire start date's and end date's billing month. For example, filter properties/eventDate+ge+2020-01-01+AND+properties/eventDate+le+2020-12-29 will include data for the entire December 2020 month (i.e. will contain records for dates December 30 and 31)",
            "required": false,
            "type": "string"
          },
          {
            "name": "useMarkupIfPartner",
            "in": "query",
            "description": "Applies mark up to the transactions if the caller is a partner.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "previewMarkupPercentage",
            "in": "query",
            "description": "Preview markup percentage to be applied.",
            "required": false,
            "type": "number",
            "format": "decimal"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationTransactionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationTransactionsByEnrollmentNumber": {
            "$ref": "./examples/ReservationTransactionsListByEnrollmentNumber.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "operationId": "ReservationsDetails_ListByReservationOrder",
        "description": "Lists the reservations details for provided date range. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. If the data size is too large, customers may also get 504 as the API timed out preparing the data. In such cases, API call should be made with smaller date ranges or a call to Generate Reservation Details Report API should be made as it is asynchronous and will not run into response size time outs.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationDetails": {
            "$ref": "./examples/ReservationDetails.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "operationId": "ReservationsSummaries_ListByReservationOrder",
        "description": "Lists the reservations summaries for daily or monthly grain. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "grain",
            "in": "query",
            "description": "Can be daily or monthly",
            "required": true,
            "type": "string",
            "enum": [
              "daily",
              "monthly"
            ],
            "x-ms-enum": {
              "name": "Datagrain",
              "modelAsString": true,
              "values": [
                {
                  "name": "DailyGrain",
                  "value": "daily",
                  "description": "Daily grain of data"
                },
                {
                  "name": "MonthlyGrain",
                  "value": "monthly",
                  "description": "Monthly grain of data"
                }
              ]
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationSummariesDaily": {
            "$ref": "./examples/ReservationSummariesDaily.json"
          },
          "ReservationSummariesMonthly": {
            "$ref": "./examples/ReservationSummariesMonthly.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "operationId": "ReservationsDetails_ListByReservationOrderAndReservation",
        "description": "Lists the reservations details for provided date range. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. If the data size is too large, customers may also get 504 as the API timed out preparing the data. In such cases, API call should be made with smaller date ranges or a call to Generate Reservation Details Report API should be made as it is asynchronous and will not run into response size time outs.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationDetailsWithReservationId": {
            "$ref": "./examples/ReservationDetailsWithReservationId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "operationId": "ReservationsSummaries_ListByReservationOrderAndReservation",
        "description": "Lists the reservations summaries for daily or monthly grain. Note: ARM has a payload size limit of 12MB, so currently callers get 400 when the response size exceeds the ARM limit. In such cases, API call should be made with smaller date ranges.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "reservationId",
            "in": "path",
            "description": "Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "grain",
            "in": "query",
            "description": "Can be daily or monthly",
            "required": true,
            "type": "string",
            "enum": [
              "daily",
              "monthly"
            ],
            "x-ms-enum": {
              "name": "Datagrain",
              "modelAsString": true,
              "values": [
                {
                  "name": "DailyGrain",
                  "value": "daily",
                  "description": "Daily grain of data"
                },
                {
                  "name": "MonthlyGrain",
                  "value": "monthly",
                  "description": "Monthly grain of data"
                }
              ]
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationSummariesDailyWithReservationId": {
            "$ref": "./examples/ReservationSummariesDailyWithReservationId.json"
          },
          "ReservationSummariesMonthlyWithReservationId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithReservationId.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Consumption/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationList": {
            "$ref": "./examples/OperationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/aggregatedCost": {
      "get": {
        "operationId": "AggregatedCost_GetForBillingPeriodByManagementGroup",
        "description": "Provides the aggregate cost of a management group and all child management groups by specified billing period",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "billingPeriodName",
            "in": "path",
            "description": "Billing Period Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagementGroupAggregatedCostResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AggregatedCostListForBillingPeriodByManagementGroup": {
            "$ref": "./examples/AggregatedCostForBillingPeriodByManagementGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost": {
      "get": {
        "operationId": "AggregatedCost_GetByManagementGroup",
        "description": "Provides the aggregate cost of a management group and all child management groups by current billing period.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "Order Id of the reservation",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagementGroupAggregatedCostResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AggregatedCostByManagementGroup": {
            "$ref": "./examples/AggregatedCostByManagementGroup.json"
          },
          "AggregatedCostByManagementGroupFilterByDate": {
            "$ref": "./examples/AggregatedCostByManagementGroupFilterByDate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default": {
      "get": {
        "operationId": "PriceSheet_GetByBillingPeriod",
        "tags": [
          "PriceSheet"
        ],
        "description": "Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "billingPeriodName",
            "in": "path",
            "description": "Billing Period Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "May be used to limit the number of results to the top N results.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PriceSheetResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PriceSheetExpand": {
            "$ref": "./examples/PriceSheetExpand.json"
          },
          "PriceSheetForBillingPeriod": {
            "$ref": "./examples/PriceSheetForBillingPeriod.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default": {
      "get": {
        "operationId": "PriceSheet_Get",
        "tags": [
          "PriceSheetResults"
        ],
        "description": "Gets the price sheet for a subscription. Price sheet is available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "May be used to limit the number of results to the top N results.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PriceSheetResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PriceSheet": {
            "$ref": "./examples/PriceSheet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AmountWithExchangeRate": {
      "type": "object",
      "description": "The amount with exchange rate.",
      "properties": {
        "exchangeRate": {
          "type": "number",
          "format": "decimal",
          "description": "The exchange rate.",
          "readOnly": true
        },
        "exchangeRateMonth": {
          "type": "integer",
          "format": "int32",
          "description": "The exchange rate month.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/amount"
        }
      ]
    },
    "Azure.Core.armResourceType": {
      "type": "string",
      "description": "Represents an Azure Resource Type."
    },
    "Balance": {
      "type": "object",
      "description": "A balance resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BalanceProperties",
          "description": "The properties of the balance.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "The etag for the resource.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "BalanceProperties": {
      "type": "object",
      "description": "The properties of the balance.",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The ISO currency in which the meter is charged, for example, USD.",
          "readOnly": true
        },
        "beginningBalance": {
          "type": "number",
          "format": "decimal",
          "description": "The beginning balance for the billing period.",
          "readOnly": true
        },
        "endingBalance": {
          "type": "number",
          "format": "decimal",
          "description": "The ending balance for the billing period (for open periods this will be updated daily).",
          "readOnly": true
        },
        "newPurchases": {
          "type": "number",
          "format": "decimal",
          "description": "Total new purchase amount.",
          "readOnly": true
        },
        "adjustments": {
          "type": "number",
          "format": "decimal",
          "description": "Total adjustment amount.",
          "readOnly": true
        },
        "utilized": {
          "type": "number",
          "format": "decimal",
          "description": "Total Commitment usage.",
          "readOnly": true
        },
        "serviceOverage": {
          "type": "number",
          "format": "decimal",
          "description": "Overage for Azure services.",
          "readOnly": true
        },
        "chargesBilledSeparately": {
          "type": "number",
          "format": "decimal",
          "description": "Charges Billed separately.",
          "readOnly": true
        },
        "totalOverage": {
          "type": "number",
          "format": "decimal",
          "description": "serviceOverage + chargesBilledSeparately.",
          "readOnly": true
        },
        "totalUsage": {
          "type": "number",
          "format": "decimal",
          "description": "Azure service commitment + total Overage.",
          "readOnly": true
        },
        "azureMarketplaceServiceCharges": {
          "type": "number",
          "format": "decimal",
          "description": "Total charges for Azure Marketplace.",
          "readOnly": true
        },
        "billingFrequency": {
          "$ref": "#/definitions/BillingFrequency",
          "description": "The billing frequency."
        },
        "priceHidden": {
          "type": "boolean",
          "description": "Price is hidden or not.",
          "readOnly": true
        },
        "overageRefund": {
          "type": "number",
          "format": "decimal",
          "description": "Overage Refunds",
          "readOnly": true
        },
        "newPurchasesDetails": {
          "type": "array",
          "description": "List of new purchases.",
          "items": {
            "$ref": "#/definitions/BalancePropertiesNewPurchasesDetailsItem"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "adjustmentDetails": {
          "type": "array",
          "description": "List of Adjustments (Promo credit, SIE credit etc.).",
          "items": {
            "$ref": "#/definitions/BalancePropertiesAdjustmentDetailsItem"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "BalancePropertiesAdjustmentDetailsItem": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of new adjustment.",
          "readOnly": true
        },
        "value": {
          "type": "number",
          "format": "decimal",
          "description": "the value of new adjustment.",
          "readOnly": true
        }
      }
    },
    "BalancePropertiesNewPurchasesDetailsItem": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of new purchase.",
          "readOnly": true
        },
        "value": {
          "type": "number",
          "format": "decimal",
          "description": "the value of new purchase.",
          "readOnly": true
        }
      }
    },
    "BillingFrequency": {
      "type": "string",
      "description": "The billing frequency.",
      "enum": [
        "Month",
        "Quarter",
        "Year"
      ],
      "x-ms-enum": {
        "name": "BillingFrequency",
        "modelAsString": true,
        "values": [
          {
            "name": "Month",
            "value": "Month"
          },
          {
            "name": "Quarter",
            "value": "Quarter"
          },
          {
            "name": "Year",
            "value": "Year"
          }
        ]
      }
    },
    "Budget": {
      "type": "object",
      "description": "A budget resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BudgetProperties",
          "description": "The properties of the budget.",
          "x-ms-client-flatten": true
        },
        "eTag": {
          "type": "string",
          "description": "eTag of the resource. To handle concurrent update scenario, this field will be used to determine whether the user is updating the latest version or not."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BudgetComparisonExpression": {
      "type": "object",
      "description": "The comparison expression to be used in the budgets.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the column to use in comparison."
        },
        "operator": {
          "$ref": "#/definitions/BudgetOperatorType",
          "description": "The operator to use for comparison."
        },
        "values": {
          "type": "array",
          "description": "Array of values to use for comparison",
          "minItems": 0,
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "operator",
        "values"
      ]
    },
    "BudgetFilter": {
      "type": "object",
      "description": "May be used to filter budgets by resource group, resource, or meter.",
      "properties": {
        "and": {
          "type": "array",
          "description": "The logical \"AND\" expression. Must have at least 2 items.",
          "minItems": 0,
          "items": {
            "$ref": "#/definitions/BudgetFilterProperties"
          },
          "x-ms-identifiers": []
        },
        "dimensions": {
          "$ref": "#/definitions/BudgetComparisonExpression",
          "description": "Has comparison expression for a dimension"
        },
        "tags": {
          "$ref": "#/definitions/BudgetComparisonExpression",
          "description": "Has comparison expression for a tag"
        }
      }
    },
    "BudgetFilterProperties": {
      "type": "object",
      "description": "The Dimensions or Tags to filter a budget by.",
      "properties": {
        "dimensions": {
          "$ref": "#/definitions/BudgetComparisonExpression",
          "description": "Has comparison expression for a dimension"
        },
        "tags": {
          "$ref": "#/definitions/BudgetComparisonExpression",
          "description": "Has comparison expression for a tag"
        }
      }
    },
    "BudgetOperatorType": {
      "type": "string",
      "description": "The operator to use for comparison.",
      "enum": [
        "In"
      ],
      "x-ms-enum": {
        "name": "BudgetOperatorType",
        "modelAsString": true,
        "values": [
          {
            "name": "In",
            "value": "In"
          }
        ]
      }
    },
    "BudgetProperties": {
      "type": "object",
      "description": "The properties of the budget.",
      "properties": {
        "category": {
          "$ref": "#/definitions/CategoryType",
          "description": "The category of the budget, whether the budget tracks cost or usage."
        },
        "amount": {
          "type": "number",
          "format": "decimal",
          "description": "The total amount of cost to track with the budget"
        },
        "timeGrain": {
          "$ref": "#/definitions/TimeGrainType",
          "description": "The time covered by a budget. Tracking of the amount will be reset based on the time grain. BillingMonth, BillingQuarter, and BillingAnnual are only supported by WD customers"
        },
        "timePeriod": {
          "$ref": "#/definitions/BudgetTimePeriod",
          "description": "Has start and end date of the budget. The start date must be first of the month and should be less than the end date. Budget start date must be on or after June 1, 2017. Future start date should not be more than twelve months. Past start date should  be selected within the timegrain period. There are no restrictions on the end date."
        },
        "filter": {
          "$ref": "#/definitions/BudgetFilter",
          "description": "May be used to filter budgets by user-specified dimensions and/or tags."
        },
        "currentSpend": {
[...]
