{
  "swagger": "2.0",
  "info": {
    "title": "ExposureControlService",
    "version": "2024-01-01-preview",
    "description": "Exposure Control Resource Provider Service API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ExposureGroups"
    },
    {
      "name": "ExposureFeatures"
    },
    {
      "name": "ExposureWorkflowManifests"
    },
    {
      "name": "ExposureWorkflows"
    }
  ],
  "paths": {
    "/providers/Microsoft.Edge/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/exposureWorkflowManifests": {
      "get": {
        "operationId": "ExposureWorkflowManifests_ListByResourceGroup",
        "tags": [
          "ExposureWorkflowManifests"
        ],
        "description": "List ExposureWorkflowManifest resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowManifestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ExposureWorkflowManifests_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflowManifests_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/exposureWorkflowManifests/{exposureWorkflowManifestName}": {
      "get": {
        "operationId": "ExposureWorkflowManifests_Get",
        "tags": [
          "ExposureWorkflowManifests"
        ],
        "description": "Get a ExposureWorkflowManifest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "exposureWorkflowManifestName",
            "in": "path",
            "description": "Name of Exposure workflow manifest",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowManifest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExposureWorkflowManifests_Get_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflowManifests_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ExposureWorkflowManifests_CreateOrUpdate",
        "tags": [
          "ExposureWorkflowManifests"
        ],
        "description": "Create a ExposureWorkflowManifest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "exposureWorkflowManifestName",
            "in": "path",
            "description": "Name of Exposure workflow manifest",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowManifest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExposureWorkflowManifest' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowManifest"
            }
          },
          "201": {
            "description": "Resource 'ExposureWorkflowManifest' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowManifest"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureWorkflowManifests_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflowManifests_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ExposureWorkflowManifests_Delete",
        "tags": [
          "ExposureWorkflowManifests"
        ],
        "description": "Delete a ExposureWorkflowManifest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "exposureWorkflowManifestName",
            "in": "path",
            "description": "Name of Exposure workflow manifest",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureWorkflowManifests_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflowManifests_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/exposureWorkflows": {
      "get": {
        "operationId": "ExposureWorkflows_ListByResourceGroup",
        "tags": [
          "ExposureWorkflows"
        ],
        "description": "List ExposureWorkflow resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ExposureWorkflows_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflows_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/exposureWorkflows/{exposureWorkflowName}": {
      "get": {
        "operationId": "ExposureWorkflows_Get",
        "tags": [
          "ExposureWorkflows"
        ],
        "description": "Get a ExposureWorkflow",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "exposureWorkflowName",
            "in": "path",
            "description": "Name of Exposure Workflow",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflow"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExposureWorkflows_Get_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflows_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ExposureWorkflows_CreateOrUpdate",
        "tags": [
          "ExposureWorkflows"
        ],
        "description": "Create a ExposureWorkflow",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "exposureWorkflowName",
            "in": "path",
            "description": "Name of Exposure Workflow",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureWorkflow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExposureWorkflow' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflow"
            }
          },
          "201": {
            "description": "Resource 'ExposureWorkflow' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflow"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureWorkflows_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflows_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ExposureWorkflows_Delete",
        "tags": [
          "ExposureWorkflows"
        ],
        "description": "Delete a ExposureWorkflow",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "exposureWorkflowName",
            "in": "path",
            "description": "Name of Exposure Workflow",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureWorkflows_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ExposureWorkflows_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/exposureWorkflows/{exposureWorkflowName}/updateStatus": {
      "patch": {
        "operationId": "UpdateWorkflowCurrentRingStatusAsync",
        "description": "update ring status in Exposure Workflow",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exposureWorkflowName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureWorkflowStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExposureWorkflow"
            }
          }
        },
        "x-ms-examples": {
          "UpdateWorkflowCurrentRingStatusAsync_MaximumSet_Gen": {
            "$ref": "./examples/UpdateWorkflowCurrentRingStatusAsync.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/features": {
      "get": {
        "operationId": "ExposureFeatures_ListByResourceGroup",
        "tags": [
          "ExposureFeatures"
        ],
        "description": "List ExposureFeature resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureFeatureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ExposureFeatures_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/ExposureFeatures_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/features/{featureName}": {
      "get": {
        "operationId": "ExposureFeatures_Get",
        "tags": [
          "ExposureFeatures"
        ],
        "description": "Get a ExposureFeature",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "Name of Feature",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureFeature"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExposureFeatures_Get_MaximumSet_Gen": {
            "$ref": "./examples/ExposureFeatures_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ExposureFeatures_CreateOrUpdate",
        "tags": [
          "ExposureFeatures"
        ],
        "description": "Create a ExposureFeature",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "Name of Feature",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureFeature"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExposureFeature' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureFeature"
            }
          },
          "201": {
            "description": "Resource 'ExposureFeature' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureFeature"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureFeatures_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ExposureFeatures_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ExposureFeatures_Delete",
        "tags": [
          "ExposureFeatures"
        ],
        "description": "Delete a ExposureFeature",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "Name of Feature",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureFeatures_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ExposureFeatures_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/groups": {
      "get": {
        "operationId": "ExposureGroups_ListByResourceGroup",
        "tags": [
          "ExposureGroups"
        ],
        "description": "List ExposureGroup resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ExposureGroups_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/ExposureGroups_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/groups/{groupName}": {
      "get": {
        "operationId": "ExposureGroups_Get",
        "tags": [
          "ExposureGroups"
        ],
        "description": "Get a ExposureGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of Group",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExposureGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExposureGroups_Get_MaximumSet_Gen": {
            "$ref": "./examples/ExposureGroups_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ExposureGroups_CreateOrUpdate",
        "tags": [
          "ExposureGroups"
        ],
        "description": "Create a ExposureGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of Group",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExposureGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExposureGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureGroup"
            }
          },
          "201": {
            "description": "Resource 'ExposureGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExposureGroup"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureGroups_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/ExposureGroups_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ExposureGroups_Delete",
        "tags": [
          "ExposureGroups"
        ],
        "description": "Delete a ExposureGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of Group",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ExposureGroups_Delete_MaximumSet_Gen": {
            "$ref": "./examples/ExposureGroups_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ExposureFeature": {
      "type": "object",
      "description": "A exposure control feature resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExposureFeatureProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExposureFeatureListResult": {
      "type": "object",
      "description": "The response of a ExposureFeature list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExposureFeature items on this page",
          "items": {
            "$ref": "#/definitions/ExposureFeature"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExposureFeatureProperties": {
      "type": "object",
      "description": "Feature Properties",
      "properties": {
        "description": {
          "type": "string",
          "description": "Feature description."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ExposureGroup": {
      "type": "object",
      "description": "A exposure control group resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExposureGroupProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExposureGroupListResult": {
      "type": "object",
      "description": "The response of a ExposureGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExposureGroup items on this page",
          "items": {
            "$ref": "#/definitions/ExposureGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExposureGroupProperties": {
      "type": "object",
      "description": "Group Properties",
      "properties": {
        "filterConditions": {
          "type": "array",
          "description": "filter conditions.",
          "items": {
            "$ref": "#/definitions/FilterCondition"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "filterConditions"
      ]
    },
    "ExposureWorkflow": {
      "type": "object",
      "description": "A exposure workflow resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExposureWorkflowProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExposureWorkflowListResult": {
      "type": "object",
      "description": "The response of a ExposureWorkflow list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExposureWorkflow items on this page",
          "items": {
            "$ref": "#/definitions/ExposureWorkflow"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExposureWorkflowManifest": {
      "type": "object",
      "description": "A exposure control manifest resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExposureWorkflowManifestProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExposureWorkflowManifestListResult": {
      "type": "object",
      "description": "The response of a ExposureWorkflowManifest list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExposureWorkflowManifest items on this page",
          "items": {
            "$ref": "#/definitions/ExposureWorkflowManifest"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExposureWorkflowManifestProperties": {
      "type": "object",
      "description": "Exposure manifest Properties",
      "properties": {
        "exposureFeatureId": {
          "type": "string",
          "description": "Feature Name."
        },
        "discriminator": {
          "type": "string",
          "description": "Ring description."
        },
        "overrideDefaultStartRing": {
          "type": "string",
          "description": "default start ring."
        },
        "ringConfigurations": {
          "type": "array",
          "description": "ring configuration details.",
          "items": {
            "$ref": "#/definitions/RingConfigurationProperties"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "exposureFeatureId",
        "discriminator",
        "ringConfigurations"
      ]
    },
    "ExposureWorkflowProperties": {
      "type": "object",
      "description": "Exposure workflow Properties",
      "properties": {
        "exposureFeatureId": {
          "type": "string",
          "description": "Feature Name.",
          "readOnly": true
        },
        "discriminator": {
          "type": "string",
          "description": "Workflow descriminator."
        },
        "exposureWorkflowManifestId": {
          "type": "string",
          "description": "Workflow manifest Id.",
          "readOnly": true
        },
        "rings": {
          "type": "array",
          "description": "Ring configuration names.",
          "items": {
            "$ref": "#/definitions/ExposureWorkflowRingConfigurationProperties"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "overrideDefaultStartRing": {
          "type": "string",
          "description": "Default start Ring.",
          "readOnly": true
        },
        "workflowStatus": {
          "$ref": "#/definitions/ExposureWorkflowStatus",
          "description": "Exposure workflow status.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "exposureFeatureId",
        "discriminator",
        "exposureWorkflowManifestId",
        "rings",
        "overrideDefaultStartRing",
        "workflowStatus"
      ]
    },
    "ExposureWorkflowRingConfigurationProperties": {
      "type": "object",
      "description": "Exposure workflow ring configuration Properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Ring name.",
          "readOnly": true
        },
        "exposureGroupProperties": {
          "type": "array",
          "description": "Group Properties.",
          "items": {
            "$ref": "#/definitions/ExposureGroupProperties"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "status": {
          "$ref": "#/definitions/RingStatus",
          "description": "Ring status."
        },
        "retryTimes": {
          "type": "integer",
          "format": "int32",
          "description": "Retry times.",
          "readOnly": true
        },
        "progressionSetting": {
          "$ref": "#/definitions/ProgressionSetting",
          "description": "Progression settings.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "exposureGroupProperties",
        "status",
        "retryTimes",
        "progressionSetting"
      ]
    },
    "ExposureWorkflowStatus": {
      "type": "string",
      "description": "Exposure Workflow Status",
      "enum": [
        "Waiting",
        "Active",
        "Succeeded",
        "Cancelled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ExposureWorkflowStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Waiting",
            "value": "Waiting",
            "description": "Workflow waiting."
          },
          {
            "name": "Active",
            "value": "Active",
            "description": "Workflow active."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Workflow completed."
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Workflow cancelled."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "workflow Failed."
          }
        ]
      }
    },
    "FilterCondition": {
      "type": "object",
      "description": "Filter Conditions",
      "properties": {
        "type": {
          "type": "string",
          "description": "type."
        },
        "values": {
          "type": "array",
          "description": "values.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "type",
        "values"
      ]
    },
    "GateStatus": {
      "type": "string",
      "description": "GateStatus enum.",
      "enum": [
        "Open",
        "Closed"
      ],
      "x-ms-enum": {
        "name": "GateStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Open",
            "value": "Open",
            "description": "Open."
          },
          {
            "name": "Closed",
            "value": "Closed",
            "description": "Closed."
          }
        ]
      }
    },
    "ProgressionMethod": {
      "type": "object",
      "description": "Ring progression method.",
      "properties": {
        "operationType": {
          "$ref": "#/definitions/ProgressionType",
          "description": "Operation type."
        },
        "gateDelay": {
          "type": "string",
          "format": "duration",
          "description": "Gate delay."
        },
        "statusPollingInterval": {
          "type": "string",
          "format": "duration",
          "description": "Defines interval for status polling."
        }
      },
      "required": [
        "operationType",
        "gateDelay",
        "statusPollingInterval"
      ]
    },
    "ProgressionSetting": {
      "type": "object",
      "description": "Progression settings.",
      "properties": {
        "method": {
          "$ref": "#/definitions/ProgressionMethod",
          "description": "Progression methods."
        },
        "gateStatus": {
          "$ref": "#/definitions/GateStatus",
          "description": "Gate Status."
        },
        "onSuccessRing": {
          "type": "string",
          "description": "Onsuccess ring settings."
        },
        "onFailureRing": {
          "type": "string",
          "description": "OnFailure ring settings."
        }
      },
      "required": [
        "method",
        "gateStatus",
        "onSuccessRing",
        "onFailureRing"
      ]
    },
    "ProgressionType": {
      "type": "string",
      "description": "Progression type enum.",
      "enum": [
        "TimeBased",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "ProgressionType",
        "modelAsString": true,
        "values": [
          {
            "name": "TimeBased",
            "value": "TimeBased",
            "description": "Fixed time based progression."
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom defined progression."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "RingConfigurationProperties": {
      "type": "object",
      "description": "Ring configuration Details",
      "properties": {
        "name": {
          "type": "string",
          "description": "Ring name."
        },
        "exposureGroupIds": {
          "type": "array",
          "description": "Group names.",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "$ref": "#/definitions/RingStatus",
          "description": "Ring status."
        },
        "progressionSetting": {
          "$ref": "#/definitions/ProgressionSetting",
          "description": "Progression settings."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "exposureGroupIds",
        "status",
        "progressionSetting"
      ]
    },
    "RingStatus": {
      "type": "string",
      "description": "Ring status enum.",
      "enum": [
        "Waiting",
        "Active",
        "Completed",
        "Cancelled",
        "Failed",
        "AutoPassed",
        "Omitted"
      ],
      "x-ms-enum": {
        "name": "RingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Waiting",
            "value": "Waiting",
            "description": "Ring waiting."
          },
          {
            "name": "Active",
            "value": "Active",
            "description": "Ring active."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Ring completed."
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Ring cancelled."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Ring failed."
          },
          {
            "name": "AutoPassed",
            "value": "AutoPassed",
            "description": "Ring bypassed."
          },
          {
            "name": "Omitted",
            "value": "Omitted",
            "description": "Omitted."
          }
        ]
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-01-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_00_01",
            "value": "2024-01-01-preview",
            "description": "Version 2024-01-01"
          }
        ]
      }
    }
  },
  "parameters": {}
}
