{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "version": "2023-11-01-preview",
    "description": "Azure Stack HCI cluster security settings."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SecuritySettings"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureStackHCI/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/securitySettings": {
      "get": {
        "operationId": "SecuritySettings_ListBySubscription",
        "tags": [
          "SecuritySettings"
        ],
        "description": "List SecuritySetting resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecuritySettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/securitySettings": {
      "get": {
        "operationId": "SecuritySettings_ListByClusters",
        "tags": [
          "SecuritySettings"
        ],
        "description": "List SecuritySetting resources by Clusters",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Name of Cluster",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecuritySettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/securitySettings/{securitySettingsName}": {
      "get": {
        "operationId": "SecuritySettings_Get",
        "tags": [
          "SecuritySettings"
        ],
        "description": "Get a SecuritySetting",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "name": "securitySettingsName",
            "in": "path",
            "description": "Name of security Setting",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecuritySetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "SecuritySettings_CreateOrUpdate",
        "tags": [
          "SecuritySettings"
        ],
        "description": "Create a SecuritySetting",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "name": "securitySettingsName",
            "in": "path",
            "description": "Name of security Setting",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecuritySetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecuritySetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecuritySetting"
            }
          },
          "201": {
            "description": "Resource 'SecuritySetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecuritySetting"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SecuritySettings_Delete",
        "tags": [
          "SecuritySettings"
        ],
        "description": "Delete a SecuritySetting",
        "parameters": [
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
           "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "name": "securitySettingsName",
            "in": "path",
            "description": "Name of security Setting",
            "required": true,
            "type": "string",
            "default": "default",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ClusterProperties": {
      "type": "object",
      "description": "A ClusterProperties"
    },
    "Clusters": {
      "type": "object",
      "description": "A Cluster",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of Cluster",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DesiredSecurityCompliance": {
      "type": "object",
      "description": "SecuritySetting properties",
      "properties": {
        "securedCoreCompliance": {
          "type": "boolean",
          "description": "Secured Core Compliance"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      }
    },
    "SecurityComplianceStatus": {
      "type": "object",
      "description": "SecuritySetting properties",
      "properties": {
        "securedCoreCompliance": {
          "type": "boolean",
          "description": "Secured Core Compliance",
          "readOnly": true
        },
        "wdacCompliance": {
          "type": "boolean",
          "description": "WDAC Compliance",
          "readOnly": true
        },
        "dataAtRestEncrypted": {
          "type": "boolean",
          "description": "Data at rest Compliance",
          "readOnly": true
        },
        "dataInTransitProtected": {
          "type": "boolean",
          "description": "Data In Transit Protected Compliance",
          "readOnly": true
        },
        "lastComplianceStatusChecked": {
          "type": "string",
          "description": "Last Datetime Compliance Status Checked",
          "readOnly": true
        }
      }
    },
    "SecurityProperties": {
      "type": "object",
      "description": "Security properties",
      "properties": {
        "desiredSecurityCompliance": {
          "$ref": "#/definitions/DesiredSecurityCompliance",
          "description": "Security Desired Properties"
        },
        "securityComplianceStatus": {
          "$ref": "#/definitions/SecurityComplianceStatus",
          "description": "Security Compliance Status",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "SecuritySetting": {
      "type": "object",
      "description": "Security settings proxy resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecuritySettingListResult": {
      "type": "object",
      "description": "The response of a SecuritySetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SecuritySetting items on this page",
          "items": {
            "$ref": "#/definitions/SecuritySetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    }
  }
}
