{
	"swagger": "2.0",
	"info": {
		"version": "2016-02-03",
		"title": "iotHubClient",
		"description": "API for using the IoT Hub Features"
	},
	"host": "management.azure.com",
	"schemes": ["https"],
	"paths": {
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}": {
			"get": {
				"tags": ["GET"],
				"summary": "Get an IotHub",
				"description": "Get an IotHub",
				"operationId": "IotHubResource_GetIotHub",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotHubDescription"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": ["PUT"],
				"operationId": "IotHubResource_CreateOrUpdateIotHub",
				"consumes": ["application/json", "text/json"],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "iotHubDescription",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/IotHubDescription"
					}
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotHubDescription"
						}
					},
					"201": {
						"description": "Created",
						"schema": {
							"$ref": "#/definitions/IotHubDescription"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": ["DELETE"],
				"summary": "Delete an IotHub",
				"description": "Delete an IotHub",
				"operationId": "IotHubResource_DeleteIotHub",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotHubDescription"
						}
					},
					"202": {
						"description": "Accepted",
						"schema": {
							"$ref": "#/definitions/IotHubDescription"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}": {
			"delete": {
				"tags": ["DELETE"],
				"summary": "Delete EventHub Consumer Group for an IotHub",
				"description": "Delete EventHub Consumer Group for an IotHub",
				"operationId": "IotHubResource_DeleteEventHubConsumerGroup",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "eventHubEndpointName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "name",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Object"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/providers/Microsoft.Devices/operations": {
			"get": {
				"tags": ["GET"],
				"summary": "Get all supported Resource Provider Operations",
				"description": "Get all supported Resource Provider Operations",
				"operationId": "IotHubResource_GetResourceProviderOperations",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[ResourceProviderOperationInfo]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs": {
			"get": {
				"tags": ["GET"],
				"summary": "Get all IotHubs in a subscription",
				"description": "Get all IotHubs in a subscription",
				"operationId": "IotHubResource_GetIotHubsForSubscription",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[IotHubDescription]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs": {
			"get": {
				"tags": ["GET"],
				"summary": "Get all IotHubs in a Resourcegroup",
				"description": "Get all IotHubs in a Resourcegroup",
				"operationId": "IotHubResource_GetIotHubsForResourceGroup",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[IotHubDescription]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/operationresults/{operationId}": {
			"get": {
				"tags": ["GET"],
				"summary": "Get the result of a long running operation like create or update iothub",
				"description": "Get the result of a long running operation like create or update iothub",
				"operationId": "IotHubResource_GetOperationResult",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "operationId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}, {
					"$ref": "#/parameters/asyncinfo"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/AsyncOperationResult"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats": {
			"get": {
				"tags": ["GET"],
				"summary": "Get IotHub Stats",
				"description": "Get IotHub Stats",
				"operationId": "IotHubResource_GetIotHubStats",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/RegistryStatistics"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus": {
			"get": {
				"tags": ["GET"],
				"summary": "Get Valid Skus",
				"description": "Get Valid Skus",
				"operationId": "IotHubResource_GetValidIotHubSkus",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[IotHubSkuDescription]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups": {
			"get": {
				"tags": ["GET"],
				"summary": "Get EventHub Consumer Groups for an IotHub",
				"description": "Get EventHub Consumer Groups for an IotHub",
				"operationId": "IotHubResource_GetEventHubConsumerGroups",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "eventHubEndpointName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[String]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{groupName}": {
			"get": {
				"tags": ["GET"],
				"summary": "Get EventHub Consumer Group for an IotHub",
				"description": "Get EventHub Consumer Group for an IotHub",
				"operationId": "IotHubResource_GetEventHubConsumerGroup",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "eventHubEndpointName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "groupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/EventHubConsumerGroupInfo"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			},
			"put": {
				"tags": ["PUT"],
				"summary": "Add an EventHub Consumer Group to an IotHub",
				"description": "Add an EventHub Consumer Group to an IotHub",
				"operationId": "IotHubResource_AddEventHubConsumerGroup",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "eventHubEndpointName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "groupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/EventHubConsumerGroupInfo"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs": {
			"get": {
				"tags": ["GET"],
				"summary": "Get all the jobs in an IotHub",
				"description": "Get all the jobs in an IotHub",
				"operationId": "IotHubResource_GetJobs",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[JobResponse]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}": {
			"get": {
				"tags": ["GET"],
				"summary": "Get a job in an IotHub",
				"description": "Get a job in an IotHub",
				"operationId": "IotHubResource_GetJob",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "jobId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/JobResponse"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics": {
			"get": {
				"tags": ["GET"],
				"summary": "Get quota metrics for an IotHub",
				"description": "Get quota metrics for an IotHub",
				"operationId": "IotHubResource_GetQuotaMetrics",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[IotHubQuotaMetricInfo]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability": {
			"post": {
				"tags": ["POST"],
				"operationId": "IotHubResource_CheckIotHubNameAvailability",
				"consumes": ["application/json", "text/json"],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "operationInputs",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/OperationInputs"
					}
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/IotHubNameAvailabilityInfo"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys": {
			"post": {
				"tags": ["POST"],
				"summary": "Get all Shared Access Policies for an IotHub",
				"description": "Get all Shared Access Policies for an IotHub",
				"operationId": "IotHubResource_GetAllIotHubKeys",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResponseWithContinuation[IEnumerable[SharedAccessSignatureAuthorizationRule]]"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys": {
			"post": {
				"tags": ["POST"],
				"summary": "Get the Key given a specific KeyName for an IotHub",
				"description": "Get the Key given a specific KeyName for an IotHub",
				"operationId": "IotHubResource_GetIotHubKeysForKeyName",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "keyName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices": {
			"post": {
				"tags": ["POST"],
				"summary": "Export all the Devices in an IotHub",
				"description": "Export all the Devices in an IotHub",
				"operationId": "IotHubResource_ExportDevices",
				"consumes": ["application/json", "text/json"],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "exportDevicesRequest",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ExportDevicesRequest"
					}
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/JobResponse"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices": {
			"post": {
				"tags": ["POST"],
				"summary": "Import all the Devices in an IotHub",
				"description": "Import all the Devices in an IotHub",
				"operationId": "IotHubResource_ImportDevices",
				"consumes": ["application/json", "text/json"],
				"produces": ["application/json", "text/json"],
				"parameters": [{
					"name": "resourceName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "importDevicesRequest",
					"in": "body",
					"required": true,
					"schema": {
						"$ref": "#/definitions/ImportDevicesRequest"
					}
				}, {
					"name": "subscriptionId",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "resourceGroupName",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"$ref": "#/parameters/api-version"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/JobResponse"
						}
					},
					"default": {
						"description": "DefaultErrorResponse",
						"schema": {
							"$ref": "#/definitions/ErrorDetails"
						}
					}
				},
				"deprecated": false
			}
		}
	},
	"definitions": {
		"Object": {
			"type": "object",
			"properties": {}
		},
		"SharedAccessSignatureAuthorizationRule": {
			"type": "object",
			"properties": {
				"keyName": {
					"type": "string"
				},
				"primaryKey": {
					"type": "string"
				},
				"secondaryKey": {
					"type": "string"
				},
				"rights": {
					"enum": ["RegistryRead", "RegistryWrite", "ServiceConnect", "DeviceConnect"],
					"type": "string"
				}
			}
		},
		"IotHubProperties": {
			"type": "object",
			"properties": {
				"authorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
					}
				},
				"hostName": {
					"type": "string"
				},
				"eventHubEndpoints": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/EventHubProperties"
					}
				},
				"storageEndpoints": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/StorageEndpointProperties"
					}
				},
				"messagingEndpoints": {
					"type": "object",
					"additionalProperties": {
						"$ref": "#/definitions/MessagingEndpointProperties"
					}
				},
				"enableFileUploadNotifications": {
					"type": "boolean"
				},
				"cloudToDevice": {
					"$ref": "#/definitions/CloudToDeviceProperties"
				},
				"comments": {
					"type": "string"
				},
				"operationsMonitoringProperties": {
					"$ref": "#/definitions/OperationsMonitoringProperties"
				},
				"features": {
					"enum": ["None", "DeviceManagement"],
					"type": "string"
				}
			}
		},
		"IotHubSkuInfo": {
			"type": "object",
			"properties": {
				"name": {
					"enum": ["F1", "S1", "S2"],
					"type": "string"
				},
				"tier": {
					"enum": ["Free", "Standard"],
					"type": "string",
					"readOnly": true
				},
				"capacity": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"EventHubProperties": {
			"type": "object",
			"properties": {
				"retentionTimeInDays": {
					"format": "int64",
					"type": "integer"
				},
				"partitionCount": {
					"format": "int32",
					"type": "integer"
				},
				"partitionIds": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"path": {
					"type": "string"
				},
				"endpoint": {
					"type": "string"
				},
				"internalAuthorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessAuthorizationRule"
					}
				},
				"authorizationPolicies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessAuthorizationRule"
					}
				}
			}
		},
		"StorageEndpointProperties": {
			"type": "object",
			"properties": {
				"sasTtlAsIso8601": {
					"type": "string"
				},
				"connectionString": {
					"type": "string"
				},
				"containerName": {
					"type": "string"
				}
			}
		},
		"MessagingEndpointProperties": {
			"type": "object",
			"properties": {
				"lockDurationAsIso8601": {
					"type": "string"
				},
				"ttlAsIso8601": {
					"type": "string"
				},
				"maxDeliveryCount": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"CloudToDeviceProperties": {
			"type": "object",
			"properties": {
				"maxDeliveryCount": {
					"format": "int32",
					"type": "integer"
				},
				"defaultTtlAsIso8601": {
					"type": "string"
				},
				"feedback": {
					"$ref": "#/definitions/FeedbackProperties"
				}
			}
		},
		"OperationsMonitoringProperties": {
			"type": "object",
			"properties": {
				"events": {
					"type": "object",
					"additionalProperties": {
						"enum": ["None", "Error", "Information"],
						"type": "string"
					}
				}
			}
		},
		"SharedAccessAuthorizationRule": {
			"type": "object",
			"properties": {
				"KeyName": {
					"type": "string"
				},
				"PrimaryKey": {
					"type": "string"
				},
				"IssuerName": {
					"type": "string"
				},
				"SecondaryKey": {
					"type": "string"
				},
				"ClaimType": {
					"type": "string"
				},
				"ClaimValue": {
					"type": "string"
				},
				"Rights": {
					"type": "array",
					"items": {
						"enum": ["Manage", "Send", "Listen", "ManageNotificationHub"],
						"type": "string"
					}
				},
				"CreatedTime": {
					"format": "date-time",
					"type": "string"
				},
				"ModifiedTime": {
					"format": "date-time",
					"type": "string"
				},
				"Revision": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"FeedbackProperties": {
			"type": "object",
			"properties": {
				"lockDurationAsIso8601": {
					"type": "string"
				},
				"ttlAsIso8601": {
					"type": "string"
				},
				"maxDeliveryCount": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"IotHubDescription": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"type": {
					"type": "string",
					"readOnly": true
				},
				"location": {
					"type": "string"
				},
				"tags": {
					"type": "object",
					"additionalProperties": {
						"type": "string"
					},
					"readOnly": true
				},
				"subscriptionid": {
					"type": "string"
				},
				"resourcegroup": {
					"type": "string"
				},
				"etag": {
					"type": "string"
				},
				"properties": {
					"$ref": "#/definitions/IotHubProperties"
				},
				"sku": {
					"$ref": "#/definitions/IotHubSkuInfo"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[ResourceProviderOperationInfo]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/ResourceProviderOperationInfo"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"ResourceProviderOperationInfo": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"display": {
					"$ref": "#/definitions/ResourceProviderOperationDisplayInfo"
				},
				"origin": {
					"type": "string"
				},
				"properties": {
					"$ref": "#/definitions/ResourceProviderOperationProperties"
				}
			}
		},
		"ResourceProviderOperationDisplayInfo": {
			"type": "object",
			"properties": {
				"provider": {
					"type": "string",
					"readOnly": true
				},
				"resource": {
					"type": "string",
					"readOnly": true
				},
				"operation": {
					"type": "string"
				},
				"description": {
					"type": "string"
				}
			}
		},
		"ResourceProviderOperationProperties": {
			"type": "object",
			"properties": {
				"serviceSpecification": {
					"$ref": "#/definitions/ServiceSpecification"
				}
			}
		},
		"ServiceSpecification": {
			"type": "object",
			"properties": {
				"metricSpecifications": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/MetricSpecification"
					}
				},
				"logSpecifications": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/LogSpecification"
					}
				}
			}
		},
		"MetricSpecification": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"displayName": {
					"type": "string"
				},
				"displayDescription": {
					"type": "string"
				},
				"unit": {
					"enum": ["Bytes", "BytesPerSecond", "Count", "CountPerSecond", "Percent", "Seconds"],
					"type": "string"
				},
				"aggregationType": {
					"enum": ["Average", "Last", "Maximum", "Minimum", "None", "Total"],
					"type": "string"
				},
				"dimensions": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/MetricDimension"
					}
				},
				"availabilities": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/MetricAvailability"
					}
				}
			}
		},
		"LogSpecification": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"displayName": {
					"type": "string"
				},
				"blobDuration": {
					"type": "string"
				}
			}
		},
		"MetricDimension": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string"
				},
				"displayName": {
					"type": "string"
				}
			}
		},
		"MetricAvailability": {
			"type": "object",
			"properties": {
				"timeGrain": {
					"type": "string"
				},
				"blobDuration": {
					"type": "string"
				}
			}
		},
		"ErrorDetails": {
			"type": "object",
			"properties": {
				"Code": {
					"type": "string"
				},
				"HttpStatusCode": {
					"type": "string",
					"readOnly": true
				},
				"Message": {
					"type": "string"
				},
				"Details": {
					"type": "string"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[IotHubDescription]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IotHubDescription"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"AsyncOperationResult": {
			"type": "object",
			"properties": {
				"Status": {
					"type": "string"
				},
				"Error": {
					"$ref": "#/definitions/ErrorMesssage"
				}
			}
		},
		"ErrorMesssage": {
			"type": "object",
			"properties": {
				"Code": {
					"type": "string"
				},
				"Message": {
					"type": "string"
				}
			}
		},
		"RegistryStatistics": {
			"type": "object",
			"properties": {
				"totalDeviceCount": {
					"format": "int64",
					"type": "integer"
				},
				"enabledDeviceCount": {
					"format": "int64",
					"type": "integer"
				},
				"disabledDeviceCount": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[IotHubSkuDescription]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IotHubSkuDescription"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"IotHubSkuDescription": {
			"type": "object",
			"properties": {
				"resourceType": {
					"type": "string",
					"readOnly": true
				},
				"sku": {
					"$ref": "#/definitions/IotHubSkuInfo"
				},
				"capacity": {
					"$ref": "#/definitions/IotHubCapacity"
				}
			}
		},
		"IotHubCapacity": {
			"type": "object",
			"properties": {
				"minimum": {
					"format": "int64",
					"type": "integer"
				},
				"maximum": {
					"format": "int64",
					"type": "integer"
				},
				"default": {
					"format": "int64",
					"type": "integer"
				},
				"scaleType": {
					"enum": ["Automatic", "Manual", "None"],
					"type": "string"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[String]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"EventHubConsumerGroupInfo": {
			"type": "object",
			"properties": {
				"tags": {
					"type": "object",
					"additionalProperties": {
						"type": "string"
					}
				},
				"id": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[JobResponse]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/JobResponse"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"JobResponse": {
			"type": "object",
			"properties": {
				"jobId": {
					"type": "string"
				},
				"startTimeUtc": {
					"format": "date-time",
					"type": "string"
				},
				"endTimeUtc": {
					"format": "date-time",
					"type": "string"
				},
				"type": {
					"enum": ["unknown", "export", "import", "backup", "readDeviceProperties", "writeDeviceProperties", "updateDeviceConfiguration", "rebootDevice", "factoryResetDevice", "firmwareUpdate"],
					"type": "string"
				},
				"status": {
					"enum": ["unknown", "enqueued", "running", "completed", "failed", "cancelled"],
					"type": "string"
				},
				"failureReason": {
					"type": "string"
				},
				"statusMessage": {
					"type": "string"
				},
				"deviceId": {
					"type": "string"
				},
				"parentJobId": {
					"type": "string"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[IotHubQuotaMetricInfo]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/IotHubQuotaMetricInfo"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"IotHubQuotaMetricInfo": {
			"type": "object",
			"properties": {
				"Name": {
					"type": "string"
				},
				"CurrentValue": {
					"format": "int64",
					"type": "integer"
				},
				"MaxValue": {
					"format": "int64",
					"type": "integer"
				}
			}
		},
		"OperationInputs": {
			"type": "object",
			"properties": {
				"Name": {
					"type": "string"
				},
				"ResourceType": {
					"type": "string"
				},
				"Key": {
					"type": "string"
				},
				"TokenLifeTimeInMinutes": {
					"format": "int32",
					"type": "integer"
				},
				"ConnectionString": {
					"type": "string"
				},
				"IotHubDescription": {
					"$ref": "#/definitions/IotHubDescription"
				}
			}
		},
		"IotHubNameAvailabilityInfo": {
			"type": "object",
			"properties": {
				"nameAvailable": {
					"type": "boolean"
				},
				"reason": {
					"enum": ["Invalid", "AlreadyExists"],
					"type": "string"
				},
				"message": {
					"type": "string"
				}
			}
		},
		"ResponseWithContinuation[IEnumerable[SharedAccessSignatureAuthorizationRule]]": {
			"type": "object",
			"properties": {
				"value": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
					}
				},
				"nextLink": {
					"type": "string",
					"readOnly": true
				}
			}
		},
		"ExportDevicesRequest": {
			"type": "object",
			"properties": {
				"ExportBlobContainerUri": {
					"type": "string"
				},
				"ExcludeKeys": {
					"type": "boolean"
				}
			}
		},
		"ImportDevicesRequest": {
			"type": "object",
			"properties": {
				"InputBlobContainerUri": {
					"type": "string"
				},
				"OutputBlobContainerUri": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"api-version": {
			"name": "api-version",
			"in": "query",
			"description": "Client API version.",
			"required": true,
			"type": "string",
			"default": "2016-02-03"
		},
		"asyncinfo": {
			"name": "asyncinfo",
			"in": "query",
			"description": "asyncinfo flag",
			"required": true,
			"type": "string",
			"default": "true"
		}
	},
	"security": []
}