{
  "swagger": "2.0",
  "info": {
    "title": "iotHubClient",
    "version": "2023-06-30",
    "description": "Use this API to manage the IoT hubs in your Azure subscription.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "IotHubDescriptions"
    },
    {
      "name": "EventHubConsumerGroupInfos"
    },
    {
      "name": "CertificateDescriptions"
    },
    {
      "name": "GroupIdInformations"
    },
    {
      "name": "PrivateEndpointConnections"
    }
  ],
  "paths": {
    "/providers/Microsoft.Devices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/iothub_operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs": {
      "get": {
        "operationId": "IotHubResource_ListBySubscription",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get all the IoT hubs in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubDescriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ListBySubscription": {
            "$ref": "./examples/iothub_listbysubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability": {
      "post": {
        "operationId": "IotHubResource_CheckNameAvailability",
        "summary": "Check if an IoT hub name is available",
        "description": "Check if an IoT hub name is available.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/IotHubNameAvailabilityInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_CheckNameAvailability": {
            "$ref": "./examples/checkNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/usages": {
      "get": {
        "operationId": "ResourceProviderCommon_GetSubscriptionQuota",
        "summary": "Get the number of iot hubs in the subscription",
        "description": "Get the number of free and paid iot hubs in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UserSubscriptionQuotaListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceProviderCommon_GetSubscriptionQuota": {
            "$ref": "./examples/iothub_usages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs": {
      "get": {
        "operationId": "IotHubResource_ListByResourceGroup",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get all the IoT hubs in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubDescriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ListByResourceGroup": {
            "$ref": "./examples/iothub_listbyrg.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}": {
      "get": {
        "operationId": "IotHubResource_Get",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the non-security related metadata of an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_Get": {
            "$ref": "./examples/iothub_get.json"
          }
        }
      },
      "put": {
        "operationId": "IotHubResource_CreateOrUpdate",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Create or update the metadata of an Iot hub. The usual pattern to modify a property is to retrieve the IoT hub metadata and security metadata, and then combine them with the modified values in a new body to update the IoT hub. If certain properties are missing in the JSON, updating IoT Hub may cause these values to fallback to default, which may lead to unexpected behavior.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the IoT Hub. Do not specify for creating a brand new IoT Hub. Required to update an existing IoT Hub.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "iotHubDescription",
            "in": "body",
            "description": "The IoT hub metadata and security metadata.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IotHubDescription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            }
          },
          "201": {
            "description": "Resource 'IotHubDescription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_AddCosmosDbEndpoint": {
            "$ref": "./examples/iothub_addRoutingCosmosDBEndpoint.json"
          },
          "IotHubResource_CreateOrUpdate": {
            "$ref": "./examples/iothub_createOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IotHubResource_Update",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Update an existing IoT Hub tags. to update other fields use the CreateOrUpdate method",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "IotHubTags",
            "in": "body",
            "description": "Updated tag information to set into the iot hub instance.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_Update": {
            "$ref": "./examples/iothub_patch.json"
          }
        }
      },
      "delete": {
        "operationId": "IotHubResource_Delete",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Delete an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/IotHubDescription"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_Delete": {
            "$ref": "./examples/iothub_delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/{jobId}/{jobId}": {
      "get": {
        "operationId": "IotHubResource_GetJob",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobId",
            "in": "path",
            "description": "The job identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_GetJob": {
            "$ref": "./examples/iothub_getjob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/{iotHubName}/$testall": {
      "post": {
        "operationId": "IotHubResource_TestAllRoutes",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Test all routes configured in this Iot Hub",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "iotHubName",
            "in": "path",
            "description": "IotHub to be tested",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Input for testing all routes",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestAllRoutesInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestAllRoutesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_TestAllRoutes": {
            "$ref": "./examples/iothub_testallroutes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/{iotHubName}/$testnew": {
      "post": {
        "operationId": "IotHubResource_TestRoute",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Test the new route for this Iot Hub",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "iotHubName",
            "in": "path",
            "description": "IotHub to be tested",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Route that needs to be tested",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestRouteInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestRouteResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_TestRoute": {
            "$ref": "./examples/iothub_testnewroute.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/{iotHubName}/failover": {
      "post": {
        "operationId": "IotHub_ManualFailover",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Manually initiate a failover for the IoT Hub to its secondary region. To learn more, see https://aka.ms/manualfailover",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "iotHubName",
            "in": "path",
            "description": "Name of the IoT hub to failover",
            "required": true,
            "type": "string"
          },
          {
            "name": "failoverInput",
            "in": "body",
            "description": "Region to failover to. Must be the Azure paired region. Get the value from the secondary location in the locations property. To learn more, see https://aka.ms/manualfailover/region",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FailoverInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHub_ManualFailover": {
            "$ref": "./examples/IotHub_ManualFailover.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/{keyName}/listkeys": {
      "post": {
        "operationId": "IotHubResource_GetKeysForKeyName",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "The name of the shared access policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedAccessSignatureAuthorizationRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_GetKeysForKeyName": {
            "$ref": "./examples/iothub_getkey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/{iotHubName}/routingEndpointsHealth": {
      "get": {
        "operationId": "IotHubResource_GetEndpointHealth",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the health for routing endpoints.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "iotHubName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndpointHealthDataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_GetEndpointHealth": {
            "$ref": "./examples/iothub_routingendpointhealth.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/ConsumerGroups": {
      "get": {
        "operationId": "IotHubResource_ListEventHubConsumerGroups",
        "tags": [
          "EventHubConsumerGroupInfos"
        ],
        "description": "Get a list of the consumer groups in the Event Hub-compatible device-to-cloud endpoint in an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventHubConsumerGroupInfoListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ListEventHubConsumerGroups": {
            "$ref": "./examples/iothub_listehgroups.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/ConsumerGroups/{name}": {
      "get": {
        "operationId": "IotHubResource_GetEventHubConsumerGroup",
        "tags": [
          "EventHubConsumerGroupInfos"
        ],
        "description": "Get a consumer group from the Event Hub-compatible device-to-cloud endpoint for an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the consumer group to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EventHubConsumerGroupInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ListEventHubConsumerGroups": {
            "$ref": "./examples/iothub_getconsumergroup.json"
          }
        }
      },
      "put": {
        "operationId": "IotHubResource_CreateEventHubConsumerGroup",
        "tags": [
          "EventHubConsumerGroupInfos"
        ],
        "description": "Add a consumer group to an Event Hub-compatible endpoint in an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the consumer group to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "name": "consumerGroupBody",
            "in": "body",
            "description": "The consumer group to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventHubConsumerGroupInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EventHubConsumerGroupInfo' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EventHubConsumerGroupInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_CreateEventHubConsumerGroup": {
            "$ref": "./examples/iothub_createconsumergroup.json"
          }
        }
      },
      "delete": {
        "operationId": "IotHubResource_DeleteEventHubConsumerGroup",
        "tags": [
          "EventHubConsumerGroupInfos"
        ],
        "description": "Delete a consumer group from an Event Hub-compatible endpoint in an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the consumer group to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_DeleteEventHubConsumerGroup": {
            "$ref": "./examples/iothub_deleteconsumergroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates": {
      "get": {
        "operationId": "Certificates_ListByIotHub",
        "tags": [
          "CertificateDescriptions"
        ],
        "description": "Returns the list of certificates.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateListDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_ListByIotHub": {
            "$ref": "./examples/iothub_listcertificates.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}": {
      "get": {
        "operationId": "Certificates_Get",
        "tags": [
          "CertificateDescriptions"
        ],
        "description": "Returns the certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the certificate",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9-._]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_Get": {
            "$ref": "./examples/iothub_getcertificate.json"
          }
        }
      },
      "put": {
        "operationId": "Certificates_CreateOrUpdate",
        "tags": [
          "CertificateDescriptions"
        ],
        "description": "Adds new or replaces existing certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the certificate",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9-._]{1,64}$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the Certificate. Do not specify for creating a brand new certificate. Required to update an existing certificate.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "certificateDescription",
            "in": "body",
            "description": "The certificate body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CertificateDescription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CertificateDescription"
            }
          },
          "201": {
            "description": "Resource 'CertificateDescription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CertificateDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_CreateOrUpdate": {
            "$ref": "./examples/iothub_certificatescreateorupdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Certificates_Delete",
        "tags": [
          "CertificateDescriptions"
        ],
        "description": "Deletes an existing X509 certificate or does nothing if it does not exist.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the certificate",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9-._]{1,64}$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the Certificate.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "If-Match"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_Delete": {
            "$ref": "./examples/iothub_certificatesdelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode": {
      "post": {
        "operationId": "Certificates_GenerateVerificationCode",
        "tags": [
          "CertificateDescriptions"
        ],
        "description": "Generates verification code for proof of possession flow. The verification code will be used to generate a leaf certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the certificate",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9-._]{1,64}$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the Certificate.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "If-Match"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateWithNonceDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_GenerateVerificationCode": {
            "$ref": "./examples/iothub_generateverificationcode.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify": {
      "post": {
        "operationId": "Certificates_Verify",
        "tags": [
          "CertificateDescriptions"
        ],
        "description": "Verifies the certificate's private key possession by providing the leaf cert issued by the verifying pre uploaded certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of the certificate",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9-._]{1,64}$"
          },
          {
            "name": "if-match",
            "in": "header",
            "description": "ETag of the Certificate.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "If-Match"
          },
          {
            "name": "certificateVerificationBody",
            "in": "body",
            "description": "The name of the certificate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateVerificationDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateDescription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Certificates_Verify": {
            "$ref": "./examples/iothub_certverify.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices": {
      "post": {
        "operationId": "IotHubResource_ExportDevices",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Exports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportDevicesParameters",
            "in": "body",
            "description": "The parameters that specify the export devices operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportDevicesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ExportDevices": {
            "$ref": "./examples/iothub_exportdevices.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices": {
      "post": {
        "operationId": "IotHubResource_ImportDevices",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Import, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          },
          {
            "name": "importDevicesParameters",
            "in": "body",
            "description": "The parameters that specify the import devices operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportDevicesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ImportDevices": {
            "$ref": "./examples/iothub_importdevices.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/iotHubStats": {
      "get": {
        "operationId": "IotHubResource_GetStats",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the statistics from an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegistryStatistics"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_GetStats": {
            "$ref": "./examples/iothub_stats.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs": {
      "get": {
        "operationId": "IotHubResource_ListJobs",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get a list of all the jobs in an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResponseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ListJobs": {
            "$ref": "./examples/iothub_listjobs.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys": {
      "post": {
        "operationId": "IotHubResource_ListKeys",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedAccessSignatureAuthorizationRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_ListKeys": {
            "$ref": "./examples/iothub_listkeys.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics": {
      "get": {
        "operationId": "IotHubResource_GetQuotaMetrics",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the quota metrics for an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubQuotaMetricInfoListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_GetQuotaMetrics": {
            "$ref": "./examples/iothub_quotametrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus": {
      "get": {
        "operationId": "IotHubResource_GetValidSkus",
        "tags": [
          "IotHubDescriptions"
        ],
        "description": "Get the list of valid SKUs for an IoT hub.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the IoT hub.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IotHubSkuDescriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IotHubResource_GetValidSkus": {
            "$ref": "./examples/iothub_getskus.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_List",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List private endpoint connection properties",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PrivateEndpointConnection"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_List": {
            "$ref": "./examples/iothub_listprivateendpointconnections.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Get private endpoint connection properties",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Get": {
            "$ref": "./examples/iothub_getprivateendpointconnection.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Update",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the status of a private endpoint connection with the specified name",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The private endpoint connection with updated properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Update": {
            "$ref": "./examples/iothub_updateprivateendpointconnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Delete private endpoint connection with the specified name",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Delete": {
            "$ref": "./examples/iothub_deleteprivateendpointconnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_List",
        "tags": [
          "GroupIdInformations"
        ],
        "description": "List private link resources for the given IotHub",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResources"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_List": {
            "$ref": "./examples/iothub_listprivatelinkresources.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/privateLinkResources/{groupId}": {
      "get": {
        "operationId": "PrivateLinkResources_Get",
        "tags": [
          "GroupIdInformations"
        ],
        "description": "Get the specified private link resource for the given IotHub",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The name of the private link resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupIdInformation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_List": {
            "$ref": "./examples/iothub_getprivatelinkresources.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessRights": {
      "type": "string",
      "description": "The permissions assigned to the shared access policy.",
      "enum": [
        "RegistryRead",
        "RegistryWrite",
        "ServiceConnect",
        "DeviceConnect",
        "RegistryRead, RegistryWrite",
        "RegistryRead, ServiceConnect",
        "RegistryRead, DeviceConnect",
        "RegistryWrite, ServiceConnect",
        "RegistryWrite, DeviceConnect",
        "ServiceConnect, DeviceConnect",
        "RegistryRead, RegistryWrite, ServiceConnect",
        "RegistryRead, RegistryWrite, DeviceConnect",
        "RegistryRead, ServiceConnect, DeviceConnect",
        "RegistryWrite, ServiceConnect, DeviceConnect",
        "RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect"
      ],
      "x-ms-enum": {
        "name": "AccessRights",
        "modelAsString": false
      }
    },
    "ArmIdentity": {
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "Principal Id",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant Id",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/ResourceIdentityType",
          "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the service."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "Dictionary of <ArmUserIdentity>",
          "additionalProperties": {
            "$ref": "#/definitions/ArmUserIdentity"
          }
        }
      }
    },
    "ArmUserIdentity": {
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AuthenticationType": {
      "type": "string",
      "description": "Specifies authentication type being used for connecting to the storage account.",
      "enum": [
        "keyBased",
        "identityBased"
      ],
      "x-ms-enum": {
        "name": "AuthenticationType",
        "modelAsString": true,
        "values": [
          {
            "name": "keyBased",
            "value": "keyBased"
          },
          {
            "name": "identityBased",
            "value": "identityBased"
          }
        ]
      }
    },
    "Capabilities": {
      "type": "string",
      "description": "The capabilities and features enabled for the IoT hub.",
      "enum": [
        "None",
        "DeviceManagement"
      ],
      "x-ms-enum": {
        "name": "Capabilities",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "DeviceManagement",
            "value": "DeviceManagement"
          }
        ]
      }
    },
    "CertificateDescription": {
      "type": "object",
      "description": "The X509 Certificate.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificateProperties",
          "description": "The description of an X509 CA Certificate.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true,
          "x-ms-client-name": "eTag"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CertificateListDescription": {
      "type": "object",
      "description": "The JSON-serialized array of Certificate objects.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The array of Certificate objects.",
          "items": {
            "$ref": "#/definitions/CertificateDescription"
          }
        }
      }
    },
    "CertificateProperties": {
      "type": "object",
      "description": "The description of an X509 CA Certificate.",
      "properties": {
        "subject": {
          "type": "string",
          "description": "The certificate's subject name.",
          "readOnly": true
        },
        "expiry": {
          "type": "string",
          "format": "date-time",
          "description": "The certificate's expiration date and time.",
          "readOnly": true
        },
        "thumbprint": {
          "type": "string",
          "description": "The certificate's thumbprint.",
          "readOnly": true
        },
        "isVerified": {
          "type": "boolean",
          "description": "Determines whether certificate has been verified."
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The certificate's create date and time.",
          "readOnly": true
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "The certificate's last update date and time.",
          "readOnly": true
        },
        "certificate": {
          "type": "string",
          "description": "The certificate content"
        }
      }
    },
    "CertificatePropertiesWithNonce": {
      "type": "object",
      "description": "The description of an X509 CA Certificate including the challenge nonce issued for the Proof-Of-Possession flow.",
      "properties": {
        "subject": {
          "type": "string",
          "description": "The certificate's subject name.",
          "readOnly": true
        },
        "expiry": {
          "type": "string",
          "format": "date-time",
          "description": "The certificate's expiration date and time.",
          "readOnly": true
        },
        "thumbprint": {
          "type": "string",
          "description": "The certificate's thumbprint.",
          "readOnly": true
        },
        "isVerified": {
          "type": "boolean",
          "description": "Determines whether certificate has been verified.",
          "readOnly": true
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The certificate's create date and time.",
          "readOnly": true
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "The certificate's last update date and time.",
          "readOnly": true
        },
        "verificationCode": {
          "type": "string",
          "description": "The certificate's verification code that will be used for proof of possession.",
          "readOnly": true
        },
        "certificate": {
          "type": "string",
          "description": "The certificate content",
          "readOnly": true
        }
      }
    },
    "CertificateVerificationDescription": {
      "type": "object",
      "description": "The JSON-serialized leaf certificate",
      "properties": {
        "certificate": {
          "type": "string",
          "description": "base-64 representation of X509 certificate .cer file or just .pem file content."
        }
      }
    },
    "CertificateWithNonceDescription": {
      "type": "object",
      "description": "The X509 Certificate.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CertificatePropertiesWithNonce",
          "description": "The description of an X509 CA Certificate including the challenge nonce issued for the Proof-Of-Possession flow."
        },
        "id": {
          "type": "string",
          "description": "The resource identifier.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the certificate.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "The entity tag.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        }
      }
    },
    "CloudToDeviceProperties": {
      "type": "object",
      "description": "The IoT hub cloud-to-device messaging properties.",
      "properties": {
        "maxDeliveryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "minimum": 1,
          "maximum": 100
        },
        "defaultTtlAsIso8601": {
          "type": "string",
          "format": "duration",
          "description": "The default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        },
        "feedback": {
          "$ref": "#/definitions/FeedbackProperties",
          "description": "The properties of the feedback queue for cloud-to-device messages."
        }
      }
    },
    "EndpointHealthData": {
      "type": "object",
      "description": "The health data for an endpoint",
      "properties": {
        "endpointId": {
          "type": "string",
          "description": "Id of the endpoint"
        },
        "healthStatus": {
          "$ref": "#/definitions/EndpointHealthStatus",
          "description": "Health statuses have following meanings. The 'healthy' status shows that the endpoint is accepting messages as expected. The 'unhealthy' status shows that the endpoint is not accepting messages as expected and IoT Hub is retrying to send data to this endpoint. The status of an unhealthy endpoint will be updated to healthy when IoT Hub has established an eventually consistent state of health. The 'dead' status shows that the endpoint is not accepting messages, after IoT Hub retried sending messages for the retrial period. See IoT Hub metrics to identify errors and monitor issues with endpoints. The 'unknown' status shows that the IoT Hub has not established a connection with the endpoint. No messages have been delivered to or rejected from this endpoint"
        },
        "lastKnownError": {
          "type": "string",
          "description": "Last error obtained when a message failed to be delivered to iot hub"
        },
        "lastKnownErrorTime": {
          "type": "string",
          "format": "date-time",
          "description": "Time at which the last known error occurred"
        },
        "lastSuccessfulSendAttemptTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last time iot hub successfully sent a message to the endpoint"
        },
        "lastSendAttemptTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last time iot hub tried to send a message to the endpoint"
        }
      }
    },
    "EndpointHealthDataListResult": {
      "type": "object",
      "description": "The JSON-serialized array of EndpointHealthData objects with a next link.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EndpointHealthData items on this page",
          "items": {
            "$ref": "#/definitions/EndpointHealthData"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EndpointHealthStatus": {
      "type": "string",
      "description": "Health statuses have following meanings. The 'healthy' status shows that the endpoint is accepting messages as expected. The 'unhealthy' status shows that the endpoint is not accepting messages as expected and IoT Hub is retrying to send data to this endpoint. The status of an unhealthy endpoint will be updated to healthy when IoT Hub has established an eventually consistent state of health. The 'dead' status shows that the endpoint is not accepting messages, after IoT Hub retried sending messages for the retrial period. See IoT Hub metrics to identify errors and monitor issues with endpoints. The 'unknown' status shows that the IoT Hub has not established a connection with the endpoint. No messages have been delivered to or rejected from this endpoint",
      "enum": [
        "unknown",
        "healthy",
        "degraded",
        "unhealthy",
        "dead"
      ],
      "x-ms-enum": {
        "name": "EndpointHealthStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "unknown",
            "value": "unknown"
          },
          {
            "name": "healthy",
            "value": "healthy"
          },
          {
            "name": "degraded",
            "value": "degraded"
          },
          {
            "name": "unhealthy",
            "value": "unhealthy"
          },
          {
            "name": "dead",
            "value": "dead"
          }
        ]
      }
    },
    "EnrichmentProperties": {
      "type": "object",
      "description": "The properties of an enrichment that your IoT hub applies to messages delivered to endpoints.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key or name for the enrichment property."
        },
        "value": {
          "type": "string",
          "description": "The value for the enrichment property."
        },
        "endpointNames": {
          "type": "array",
          "description": "The list of endpoints for which the enrichment is applied to the message.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "key",
        "value",
        "endpointNames"
      ]
    },
    "EventHubConsumerGroupInfo": {
      "type": "object",
      "description": "The properties of the EventHubConsumerGroupInfo object.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The tags.",
          "additionalProperties": {},
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true,
          "x-ms-client-name": "eTag"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EventHubConsumerGroupInfoListResult": {
      "type": "object",
      "description": "The response of a EventHubConsumerGroupInfo list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EventHubConsumerGroupInfo items on this page",
          "items": {
            "$ref": "#/definitions/EventHubConsumerGroupInfo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EventHubProperties": {
      "type": "object",
      "description": "The properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.",
      "properties": {
        "retentionTimeInDays": {
          "type": "integer",
          "format": "int64",
          "description": "The retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages"
        },
        "partitionCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of partitions for receiving device-to-cloud messages in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages."
        },
        "partitionIds": {
          "type": "array",
          "description": "The partition ids in the Event Hub-compatible endpoint.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "The Event Hub-compatible name.",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "The Event Hub-compatible endpoint.",
          "readOnly": true
        }
      }
    },
    "ExportDevicesRequest": {
      "type": "object",
      "description": "Use to provide parameters when requesting an export of all devices in the IoT hub.",
      "properties": {
        "exportBlobContainerUri": {
          "type": "string",
          "description": "The export blob container URI."
        },
        "excludeKeys": {
          "type": "boolean",
          "description": "The value indicating whether keys should be excluded during export."
        },
        "exportBlobName": {
          "type": "string",
          "description": "The name of the blob that will be created in the provided output blob container. This blob will contain the exported device registry information for the IoT Hub."
        },
        "authenticationType": {
          "$ref": "#/definitions/AuthenticationType",
          "description": "Specifies authentication type being used for connecting to the storage account."
        },
        "identity": {
          "$ref": "#/definitions/ManagedIdentity",
          "description": "Managed identity properties of storage endpoint for export devices."
        },
        "includeConfigurations": {
          "type": "boolean",
          "description": "The value indicating whether configurations should be exported."
        },
        "configurationsBlobName": {
          "type": "string",
          "description": "The name of the blob that will be created in the provided output blob container. This blob will contain the exported configurations for the Iot Hub."
        }
      },
      "required": [
        "exportBlobContainerUri",
        "excludeKeys"
      ]
    },
    "FailoverInput": {
      "type": "object",
      "description": "Use to provide failover region when requesting manual Failover for a hub.",
      "properties": {
        "failoverRegion": {
          "type": "string",
          "description": "Region the hub will be failed over to"
        }
      },
      "required": [
        "failoverRegion"
      ]
    },
    "FallbackRouteProperties": {
      "type": "object",
      "description": "The properties of the fallback route. IoT Hub uses these properties when it routes messages to the fallback endpoint.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique."
        },
        "source": {
          "$ref": "#/definitions/RoutingSource",
          "description": "The source to which the routing rule is to be applied to. For example, DeviceMessages"
        },
        "condition": {
          "type": "string",
          "description": "The condition which is evaluated in order to apply the fallback route. If the condition is not provided it will evaluate to true by default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language"
        },
        "endpointNames": {
          "type": "array",
          "description": "The list of endpoints to which the messages that satisfy the condition are routed to. Currently only 1 endpoint is allowed.",
          "items": {
            "type": "string"
          }
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Used to specify whether the fallback route is enabled."
        }
      },
      "required": [
        "source",
        "endpointNames",
        "isEnabled"
      ]
    },
    "FeedbackProperties": {
      "type": "object",
      "description": "The properties of the feedback queue for cloud-to-device messages.",
      "properties": {
        "lockDurationAsIso8601": {
          "type": "string",
          "format": "duration",
          "description": "The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        },
        "ttlAsIso8601": {
          "type": "string",
          "format": "duration",
          "description": "The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        },
        "maxDeliveryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times the IoT hub attempts to deliver a message on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages.",
          "minimum": 1,
          "maximum": 100
        }
      }
    },
    "GroupIdInformation": {
      "type": "object",
      "description": "The group information for creating a private endpoint on an IotHub",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GroupIdInformationProperties",
          "description": "The properties for a group information object",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GroupIdInformationProperties": {
      "type": "object",
      "description": "The properties for a group information object",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The group id"
        },
        "requiredMembers": {
          "type": "array",
          "description": "The required members for a specific group id",
          "items": {
            "type": "string"
          }
        },
        "requiredZoneNames": {
          "type": "array",
          "description": "The required DNS zones for a specific group id",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImportDevicesRequest": {
      "type": "object",
      "description": "Use to provide parameters when requesting an import of all devices in the hub.",
      "properties": {
        "inputBlobContainerUri": {
          "type": "string",
          "description": "The input blob container URI."
        },
        "outputBlobContainerUri": {
          "type": "string",
          "description": "The output blob container URI."
        },
        "inputBlobName": {
          "type": "string",
          "description": "The blob name to be used when importing from the provided input blob container."
        },
        "outputBlobName": {
[...]
