{
  "swagger": "2.0",
  "info": {
    "title": "HanaManagementClient",
    "version": "2020-02-07-preview",
    "description": "The SAP HANA on Azure Management Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "HanaOnAzure"
    }
  ],
  "paths": {
    "/providers/Microsoft.HanaOnAzure/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "HanaOnAzure"
        ],
        "description": "Gets a list of SAP HANA management operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all HANA management operations supported by HANA RP": {
            "$ref": "./examples/HanaOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors": {
      "get": {
        "operationId": "SapMonitors_List",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Gets a list of SAP monitors in the specified subscription.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SapMonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/SapMonitors_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}": {
      "get": {
        "operationId": "SapMonitors_Get",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Gets properties of a SAP monitor.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/SapMonitors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SapMonitors_Create",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Creates a SAP monitor.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sapMonitorParameter",
            "in": "body",
            "description": "Request body representing a SAP Monitor",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SapMonitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "201": {
            "description": "Resource 'SapMonitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/SapMonitors_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SapMonitor"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SapMonitors_Update",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Patches the Tags field of a SAP monitor.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tagsParameter",
            "in": "body",
            "description": "Request body that only contains the new Tags field",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Tags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SapMonitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Delete Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags_Delete.json"
          },
          "Update Tags field of a SAP monitor": {
            "$ref": "./examples/SapMonitors_PatchTags.json"
          }
        }
      },
      "delete": {
        "operationId": "SapMonitors_Delete",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Deletes a SAP monitor.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/SapMonitors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances": {
      "get": {
        "operationId": "ProviderInstances_List",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Gets a list of provider instances in the specified SAP monitor.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "List all SAP Monitors in a subscription": {
            "$ref": "./examples/ProviderInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}/providerInstances/{providerInstanceName}": {
      "get": {
        "operationId": "ProviderInstances_Get",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Gets properties of a provider instance.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/ProviderInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ProviderInstances_Create",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Creates a provider instance.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerInstanceParameter",
            "in": "body",
            "description": "Request body representing a provider instance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProviderInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            }
          },
          "201": {
            "description": "Resource 'ProviderInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderInstance"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Create a SAP Monitor": {
            "$ref": "./examples/ProviderInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ProviderInstance"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ProviderInstances_Delete",
        "tags": [
          "HanaOnAzure"
        ],
        "summary": "Deletes a provider instance.",
        "description": "The product Microsoft.Workloads/sapMonitors (AMS Classic) is officially retired as of May 31, 2023.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapMonitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerInstanceName",
            "in": "path",
            "description": "Name of the provider instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/ProviderInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Display": {
      "type": "object",
      "description": "Detailed HANA operation information",
      "properties": {
        "provider": {
          "type": "string",
          "description": "The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the “name” section.",
          "readOnly": true
        },
        "operation": {
          "type": "string",
          "description": "The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views.",
          "readOnly": true
        },
        "origin": {
          "type": "string",
          "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Describes the format of Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorResponseError",
          "description": "Describes the error object."
        }
      }
    },
    "ErrorResponseError": {
      "type": "object",
      "description": "Describes the error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error message indicating why the operation failed.",
          "readOnly": true
        }
      }
    },
    "HanaProvisioningStatesEnum": {
      "type": "string",
      "description": "State of provisioning of the HanaInstance",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Failed",
        "Succeeded",
        "Deleting",
        "Migrating"
      ],
      "x-ms-enum": {
        "name": "HanaProvisioningStatesEnum",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting"
          },
          {
            "name": "Migrating",
            "value": "Migrating",
            "description": "Migrating"
          }
        ]
      }
    },
    "Operation": {
      "type": "object",
      "description": "HANA operation information",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service.",
          "readOnly": true
        },
        "display": {
          "$ref": "#/definitions/Display",
          "description": "Displayed HANA operation information"
        }
      }
    },
    "OperationList": {
      "type": "object",
      "description": "List of HANA operations",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of HANA operations",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ProviderInstance": {
      "type": "object",
      "description": "A provider instance associated with a SAP monitor.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProviderInstanceProperties",
          "description": "Provider Instance properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProviderInstanceListResult": {
      "type": "object",
      "description": "The response of a ProviderInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ProviderInstance items on this page",
          "items": {
            "$ref": "#/definitions/ProviderInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProviderInstanceProperties": {
      "type": "object",
      "description": "Describes the properties of a provider instance.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of provider instance."
        },
        "properties": {
          "type": "string",
          "description": "A JSON string containing the properties of the provider instance."
        },
        "metadata": {
          "type": "string",
          "description": "A JSON string containing metadata of the provider instance."
        },
        "provisioningState": {
          "$ref": "#/definitions/HanaProvisioningStatesEnum",
          "description": "State of provisioning of the provider instance",
          "readOnly": true
        }
      }
    },
    "SapMonitor": {
      "type": "object",
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SapMonitorProperties",
          "description": "SAP monitor properties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SapMonitorListResult": {
      "type": "object",
      "description": "The response of a SapMonitor list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SapMonitor items on this page",
          "items": {
            "$ref": "#/definitions/SapMonitor"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SapMonitorProperties": {
      "type": "object",
      "description": "Describes the properties of a SAP monitor.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HanaProvisioningStatesEnum",
          "description": "State of provisioning of the HanaInstance",
          "readOnly": true
        },
        "managedResourceGroupName": {
          "type": "string",
          "description": "The name of the resource group the SAP Monitor resources get deployed into.",
          "readOnly": true
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for monitoring"
        },
        "enableCustomerAnalytics": {
          "type": "boolean",
          "description": "The value indicating whether to send analytics to Microsoft"
        },
        "logAnalyticsWorkspaceId": {
          "type": "string",
          "description": "The workspace ID of the log analytics workspace to be used for monitoring"
        },
        "logAnalyticsWorkspaceSharedKey": {
          "type": "string",
          "description": "The shared key of the log analytics workspace that is used for monitoring"
        },
        "sapMonitorCollectorVersion": {
          "type": "string",
          "description": "The version of the payload running in the Collector VM",
          "readOnly": true
        },
        "monitorSubnet": {
          "type": "string",
          "description": "The subnet which the SAP monitor will be deployed in"
        }
      }
    },
    "Tags": {
      "type": "object",
      "description": "Tags field of the resource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Tags field of the resource.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
