{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework.",
    "version": "2018-06-01-preview"
  },
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "definitions": {
    "AssetProperties": {
      "properties": {
        "assetId": {
          "type": "string",
          "format": "uuid",
          "description": "The Asset ID.",
          "readOnly": true,
          "x-nullable": false
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the Asset.",
          "readOnly": true,
          "x-nullable": false
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "The last modified date of the Asset.",
          "readOnly": true,
          "x-nullable": false
        },
        "alternateId": {
          "type": "string",
          "description": "The alternate ID of the Asset."
        },
        "description": {
          "type": "string",
          "description": "The Asset description."
        },
        "container": {
          "type": "string",
          "description": "The name of the asset blob container."
        },
        "storageAccountName": {
          "type": "string",
          "description": "The name of the storage account."
        },
        "storageEncryptionFormat": {
          "type": "string",
          "enum": [
            "None",
            "MediaStorageClientEncryption"
          ],
          "x-ms-enum": {
            "name": "AssetStorageEncryptionFormat",
            "values": [
              {
                "value": "None",
                "description": "The Asset does not use client-side storage encryption (this is the only allowed value for new Assets)."
              },
              {
                "value": "MediaStorageClientEncryption",
                "description": "The Asset is encrypted with Media Services client-side encryption."
              }
            ],
            "modelAsExtensible": true
          },
          "description": "The Asset encryption format. One of None or MediaStorageEncryption.",
          "readOnly": true,
          "x-nullable": false
        }
      },
      "type": "object",
      "description": "The Asset properties."
    },
    "AssetContainerSas": {
      "properties": {
        "assetContainerSasUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of Asset container SAS URLs."
        }
      },
      "type": "object",
      "description": "The Asset Storage container SAS URLs."
    },
    "AssetStorageEncryptionKey": {
      "properties": {
        "storageEncryptionKey": {
          "type": "string",
          "description": "The Asset storage encryption key."
        }
      },
      "type": "object",
      "description": "The Asset Storage encryption key."
    },
    "Asset": {
      "description": "An Asset.",
      "allOf": [
        {
          "$ref": "./Common.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssetProperties",
          "description": "The resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ODataError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "A language-independent error name."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "type": "string",
          "description": "The target of the error (for example, the name of the property in error)."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ODataError"
          },
          "description": "The error details."
        }
      },
      "type": "object",
      "description": "Information about an error."
    },
    "ApiError": {
      "properties": {
        "error": {
          "$ref": "#/definitions/ODataError",
          "description": "The error properties."
        }
      },
      "type": "object",
      "description": "The API error."
    },
    "AssetCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Asset"
          },
          "description": "A collection of Asset items."
        },
        "@odata.nextLink": {
          "type": "string",
          "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
        }
      },
      "type": "object",
      "description": "A collection of Asset items."
    },
    "ListContainerSasInput": {
      "description": "The parameters to the list SAS request.",
      "properties": {
        "permissions": {
          "description": "The permissions to set on the SAS URL.",
          "type": "string",
          "enum": [
            "Read",
            "ReadWrite",
            "ReadWriteDelete"
          ],
          "x-ms-enum": {
            "name": "AssetContainerPermission",
            "values": [
              {
                "value": "Read",
                "description": "The SAS URL will allow read access to the container."
              },
              {
                "value": "ReadWrite",
                "description": "The SAS URL will allow read and write access to the container."
              },
              {
                "value": "ReadWriteDelete",
                "description": "The SAS URL will allow read, write and delete access to the container."
              }
            ],
            "modelAsExtensible": true
          }
        },
        "expiryTime": {
          "description": "The SAS URL expiration time.  This must be less than 24 hours from the current time.",
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets": {
      "get": {
        "summary": "List Assets",
        "description": "List Assets in the Media Services account with optional filtering and ordering",
        "operationId": "Assets_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetCollection"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Restricts the set of items returned."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specifies a non-negative integer n that limits the number of items returned from a collection. The service returns the number of available items up to but not greater than the specified value n."
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the key by which the result collection should be ordered."
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-odata": "#/definitions/Asset",
        "x-ms-examples": {
          "List all Assets": {
            "$ref": "examples/assets-list-all.json"
          },
          "List Asset ordered by date": {
            "$ref": "examples/assets-list-by-date.json"
          },
          "List Asset created in a date range": {
            "$ref": "examples/assets-list-in-date-range.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}": {
      "get": {
        "summary": "Get an Asset",
        "description": "Get the details of an Asset in the Media Services account",
        "operationId": "Assets_Get",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "404": {
            "description": "NotFound"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get an Asset by name": {
            "$ref": "examples/assets-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update an Asset",
        "description": "Creates or updates an Asset in the Media Services account",
        "operationId": "Assets_CreateOrUpdate",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Create an Asset": {
            "$ref": "examples/assets-create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete an Asset.",
        "description": "Deletes an Asset in the Media Services account",
        "operationId": "Assets_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Delete an Asset": {
            "$ref": "examples/assets-delete.json"
          }
        }
      },
      "patch": {
        "summary": "Update an Asset",
        "description": "Updates an existing Asset in the Media Services account",
        "operationId": "Assets_Update",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Update an Asset": {
            "$ref": "examples/assets-update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/listContainerSas": {
      "post": {
        "summary": "List the Asset URLs",
        "description": "Lists storage container URLs with shared access signatures (SAS) for uploading and downloading Asset content. The signatures are derived from the storage account keys.",
        "operationId": "Assets_ListContainerSas",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetContainerSas"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListContainerSasInput"
            },
            "description": "The request parameters"
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "List Asset SAS URLs": {
            "$ref": "examples/assets-list-sas-urls.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/getEncryptionKey": {
      "post": {
        "summary": "Gets the Asset storage key",
        "description": "Gets the Asset storage encryption keys used to decrypt content created by version 2 of the Media Services API",
        "operationId": "Assets_GetEncryptionKey",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetStorageEncryptionKey"
            }
          },
          "default": {
            "description": "Detailed error information.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/MediaServicesAccountName"
          },
          {
            "name": "assetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Asset name."
          },
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "x-ms-examples": {
          "Get Asset Storage Encryption Keys": {
            "$ref": "examples/assets-get-encryption-keys.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription."
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the Azure subscription.",
      "x-ms-parameter-location": "method"
    },
    "MediaServicesAccountName": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Media Services account name.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The Version of the API to be used with the client request."
    }
  }
}
