{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2015-06-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Tasks"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
      "get": {
        "operationId": "Tasks_ListByHomeRegion",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter. Optional.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityTaskList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendations tasks from security data location": {
            "$ref": "./examples/Tasks/GetTasksSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
      "get": {
        "operationId": "Tasks_GetSubscriptionLevelTask",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the task object, will be a GUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendation task from security data location": {
            "$ref": "./examples/Tasks/GetTaskSubscriptionLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
      "post": {
        "operationId": "Tasks_UpdateSubscriptionLevelTaskState",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the task object, will be a GUID",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskUpdateActionType",
            "in": "path",
            "description": "Type of the action to do on the task",
            "required": true,
            "type": "string",
            "enum": [
              "Activate",
              "Dismiss",
              "Start",
              "Resolve",
              "Close"
            ],
            "x-ms-enum": {
              "name": "TaskUpdateActionType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Activate",
                  "value": "Activate",
                  "description": "Activate"
                },
                {
                  "name": "Dismiss",
                  "value": "Dismiss",
                  "description": "Dismiss"
                },
                {
                  "name": "Start",
                  "value": "Start",
                  "description": "Start"
                },
                {
                  "name": "Resolve",
                  "value": "Resolve",
                  "description": "Resolve"
                },
                {
                  "name": "Close",
                  "value": "Close",
                  "description": "Close"
                }
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Change security recommendation task state": {
            "$ref": "./examples/Tasks/UpdateTaskSubscriptionLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/tasks": {
      "get": {
        "operationId": "Tasks_List",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter. Optional.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SecurityTaskList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendations tasks": {
            "$ref": "./examples/Tasks/GetTasksSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
      "get": {
        "operationId": "Tasks_ListByResourceGroup",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter. Optional.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityTaskList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendation tasks in a resource group": {
            "$ref": "./examples/Tasks/GetTasksResourceGroupLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
      "get": {
        "operationId": "Tasks_GetResourceGroupLevelTask",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the task object, will be a GUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security recommendation task in a resource group": {
            "$ref": "./examples/Tasks/GetTaskResourceGroupLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
      "post": {
        "operationId": "Tasks_UpdateResourceGroupLevelTaskState",
        "tags": [
          "Tasks"
        ],
        "description": "Recommended tasks that will help improve the security of the subscription proactively",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the task object, will be a GUID",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskUpdateActionType",
            "in": "path",
            "description": "Type of the action to do on the task",
            "required": true,
            "type": "string",
            "enum": [
              "Activate",
              "Dismiss",
              "Start",
              "Resolve",
              "Close"
            ],
            "x-ms-enum": {
              "name": "TaskUpdateActionType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Activate",
                  "value": "Activate",
                  "description": "Activate"
                },
                {
                  "name": "Dismiss",
                  "value": "Dismiss",
                  "description": "Dismiss"
                },
                {
                  "name": "Start",
                  "value": "Start",
                  "description": "Start"
                },
                {
                  "name": "Resolve",
                  "value": "Resolve",
                  "description": "Resolve"
                },
                {
                  "name": "Close",
                  "value": "Close",
                  "description": "Close"
                }
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Change security recommendation task state": {
            "$ref": "./examples/Tasks/UpdateTaskResourceGroupLocation_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "SecurityTask": {
      "type": "object",
      "description": "Security task that we recommend to do in order to strengthen security",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityTaskProperties",
          "description": "Describes properties of a task.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecurityTaskList": {
      "type": "object",
      "description": "List of security task recommendations",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SecurityTask items on this page",
          "items": {
            "$ref": "#/definitions/SecurityTask"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page.",
          "readOnly": true
        }
      }
    },
    "SecurityTaskParameters": {
      "type": "object",
      "description": "Changing set of properties, depending on the task type that is derived from the name field",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the task type",
          "readOnly": true
        }
      },
      "additionalProperties": {}
    },
    "SecurityTaskProperties": {
      "type": "object",
      "description": "Describes properties of a task.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of the task (Active, Resolved etc.)",
          "readOnly": true
        },
        "creationTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The time this task was discovered in UTC",
          "readOnly": true
        },
        "securityTaskParameters": {
          "$ref": "#/definitions/SecurityTaskParameters",
          "description": "Changing set of properties, depending on the task type that is derived from the name field"
        },
        "lastStateChangeTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The time this task's details were last changed in UTC",
          "readOnly": true
        },
        "subState": {
          "type": "string",
          "description": "Additional data on the state of the task",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
