{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AAD management service",
    "version": "2026-01-01-preview",
    "description": "Microsoft.AAD Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ResilienceServices"
    }
  ],
  "paths": {
    "/providers/Microsoft.AAD/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AAD/resilienceServices": {
      "get": {
        "operationId": "ResilienceServices_ListBySubscription",
        "tags": [
          "ResilienceServices"
        ],
        "description": "List ResilienceService resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResilienceServices_ListBySubscription_MaximumSet_Gen.json"
          },
          "ResilienceServices_ListBySubscription_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ResilienceServices_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/resilienceServices": {
      "get": {
        "operationId": "ResilienceServices_ListByResourceGroup",
        "tags": [
          "ResilienceServices"
        ],
        "description": "List ResilienceService resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResilienceServices_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "ResilienceServices_ListByResourceGroup_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/ResilienceServices_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/resilienceServices/{resilienceServiceName}": {
      "get": {
        "operationId": "ResilienceServices_Get",
        "tags": [
          "ResilienceServices"
        ],
        "description": "Get a ResilienceService",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resilienceServiceName",
            "in": "path",
            "description": "The name of the ResilienceService",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResilienceServices_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ResilienceServices_CreateOrUpdate",
        "tags": [
          "ResilienceServices"
        ],
        "description": "Create a ResilienceService",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resilienceServiceName",
            "in": "path",
            "description": "The name of the ResilienceService",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResilienceService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResilienceService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResilienceService"
            }
          },
          "201": {
            "description": "Resource 'ResilienceService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResilienceService"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResilienceServices_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ResilienceServices_Update",
        "tags": [
          "ResilienceServices"
        ],
        "description": "Update a ResilienceService",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resilienceServiceName",
            "in": "path",
            "description": "The name of the ResilienceService",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResilienceServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResilienceServices_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ResilienceServices_Delete",
        "tags": [
          "ResilienceServices"
        ],
        "description": "Delete a ResilienceService",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resilienceServiceName",
            "in": "path",
            "description": "The name of the ResilienceService",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ResilienceServices_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/resilienceServices/{resilienceServiceName}/syncPolicies": {
      "post": {
        "operationId": "ResilienceServices_SyncPolicies",
        "tags": [
          "ResilienceServices"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resilienceServiceName",
            "in": "path",
            "description": "The name of the ResilienceService",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceServicePolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResilienceServices_SyncPolicies_MaximumSet_Gen": {
            "$ref": "./examples/ResilienceServices_SyncPolicies_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Policy": {
      "type": "object",
      "description": "A policy enforced in the tenant where the resilience service resides",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier of the policy"
        },
        "definition": {
          "type": "array",
          "description": "The definitions of the policy",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the policy"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the policy"
        },
        "isOrganizationDefault": {
          "type": "boolean",
          "description": "Indicates if the policy is the organization default"
        },
        "deletedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the policy was deleted"
        }
      },
      "required": [
        "id",
        "definition",
        "description",
        "displayName",
        "isOrganizationDefault"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ResilienceProperties": {
      "type": "object",
      "description": "Resilience properties",
      "properties": {
        "arcResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure Resource Manager (ARM) resource ID of the Azure Arc instance linked to the resilience service",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.HybridCompute/machines",
                "scopes": [
                  "Tenant"
                ]
              }
            ]
          }
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "arcResourceId",
        "tenantId"
      ]
    },
    "ResilienceService": {
      "type": "object",
      "description": "Resilience resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResilienceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ResilienceServiceListResult": {
      "type": "object",
      "description": "The response of a ResilienceService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResilienceService items on this page",
          "items": {
            "$ref": "#/definitions/ResilienceService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ResilienceServicePolicyResponse": {
      "type": "object",
      "description": "The response containing the policies enforced in the tenant where the resilience service resides",
      "properties": {
        "multiConditionalAccessPolicies": {
          "type": "array",
          "description": "The list of multi conditional access policies",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        },
        "userCredentialPolicies": {
          "type": "array",
          "description": "The list of user credential policies",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        },
        "securityRiskPolicies": {
          "type": "array",
          "description": "The list of security risk policies",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        },
        "authenticationStrengthPolicies": {
          "type": "array",
          "description": "The list of authentication strength policies",
          "items": {
            "$ref": "#/definitions/Policy"
          }
        }
      },
      "required": [
        "multiConditionalAccessPolicies",
        "userCredentialPolicies",
        "securityRiskPolicies",
        "authenticationStrengthPolicies"
      ]
    },
    "ResilienceServiceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ResilienceService.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ResilienceServiceUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ResilienceServiceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ResilienceService.",
      "properties": {
        "arcResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure Resource Manager (ARM) resource ID of the Azure Arc instance linked to the resilience service",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.HybridCompute/machines",
                "scopes": [
                  "Tenant"
                ]
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {}
}
