{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2018-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}": {
      "delete": {
        "tags": [
          "ServiceEndpointPolicies"
        ],
        "operationId": "ServiceEndpointPolicies_Delete",
        "description": "Deletes the specified service endpoint policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "serviceEndpointPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service endpoint policy."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "200": {
            "description": "Delete successful."
          }
        },
        "x-ms-examples": {
          "Delete service endpoint Policys": { "$ref": "./examples/ServiceEndpointPolicyDelete.json" }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ServiceEndpointPolicies"
        ],
        "operationId": "ServiceEndpointPolicies_Get",
        "description": "Gets the specified service Endpoint Policies in a specified resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "serviceEndpointPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service endpoint policy."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting ServiceEndpointPolicy resource.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicy"
            }
          }
        },
        "x-ms-examples": {
          "Get service endPoint Policy": { "$ref": "./examples/ServiceEndpointPolicyGet.json" }
        }
      },
      "put": {
        "tags": [
          "ServiceEndpointPolicies"
        ],
        "operationId": "ServiceEndpointPolicies_CreateOrUpdate",
        "description": "Creates or updates a service Endpoint Policies.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "serviceEndpointPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service endpoint policy."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicy"
            },
            "description": "Parameters supplied to the create or update service endpoint policy operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting ServiceEndpointPolicy resource.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicy"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting ServiceEndpointPolicy resource.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicy"
            }
          }
        },
        "x-ms-examples": {
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "ServiceEndpointPolicies"
        ],
        "operationId": "ServiceEndpointPolicies_UpdateTags",
        "description": "Updates service Endpoint Policies tags.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "ServiceEndpointPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the service endpoint policy."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update service endpoint policy tags."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting ServiceEndpointPolicy resource.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicy"
            }
          }
        },
        "x-ms-examples": {
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ServiceEndpointPolicies": {
      "get": {
        "tags": [
          "ServiceEndpointPolicies"
        ],
        "operationId": "ServiceEndpointPolicies_ListAll",
        "description": "Gets all the service endpoint policies in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ServiceEndpointPolicy resources.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicyListResult"
            }
          }
        },
        "x-ms-examples": {
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies": {
      "get": {
        "tags": [
          "serviceEndpointPolicies"
        ],
        "operationId": "serviceEndpointPolicies_List",
        "description": "Gets all service endpoint Policies in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ServiceEndpointPolicy resources.",
            "schema": {
              "$ref": "#/definitions/ServiceEndpointPolicyListResult"
            }
          }
        },
        "x-ms-examples": {
          "List resource group service endpoint policies": { "$ref": "./examples/ServiceEndpointPolicyList.json" }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ServiceEndpointPolicy": {
      "properties": {
        "serviceEndpointPolicyDefinitions": {
          "type": "array",
          "items": {  
          "$ref": "#/definitions/ServiceEndpointPolicyDefinitionsFormat"
          },  
          "description": "List of service endpoint definitions."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "Service endpoint policy."
    },
    "ServiceEndpointPolicyListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceEndpointPolicy"
          },
          "description": "A list of service endpoint policies that exists in a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListServiceEndpointPolicies API service call."
    },
    "ServiceEndpointPolicyDefinitionsFormat": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of service endpoint policy definition."
        },
        "service": {
          "type": "string",
          "description": "service endpoint name."
        },
        "serviceResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of service resources."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the resource."
        }
      },
      "description": "The service endpoint definition properties."
    }
  }
}
