{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Agents Control Plane API",
    "version": "2026-05-01-preview",
    "description": "Monitor Agents Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ObservabilityAgents"
    }
  ],
  "paths": {
    "/providers/Microsoft.Monitor/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/observabilityAgents": {
      "get": {
        "operationId": "ObservabilityAgents_ListBySubscription",
        "tags": [
          "ObservabilityAgents"
        ],
        "description": "Lists observability agents in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityAgents_ListBySubscription": {
            "$ref": "./examples/ObservabilityAgents_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/observabilityAgents": {
      "get": {
        "operationId": "ObservabilityAgents_ListByResourceGroup",
        "tags": [
          "ObservabilityAgents"
        ],
        "description": "Lists observability agents in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityAgents_ListByResourceGroup": {
            "$ref": "./examples/ObservabilityAgents_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/observabilityAgents/{observabilityAgentName}": {
      "get": {
        "operationId": "ObservabilityAgents_Get",
        "tags": [
          "ObservabilityAgents"
        ],
        "description": "Returns the specified observability agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "observabilityAgentName",
            "in": "path",
            "description": "The name of the observability agent resource. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{1,63}$)(?!-)[a-zA-Z0-9-]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityAgents_Get": {
            "$ref": "./examples/ObservabilityAgents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ObservabilityAgents_CreateOrUpdate",
        "tags": [
          "ObservabilityAgents"
        ],
        "description": "Creates or updates an observability agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "observabilityAgentName",
            "in": "path",
            "description": "The name of the observability agent resource. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{1,63}$)(?!-)[a-zA-Z0-9-]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Properties that need to be specified to create or update an observability agent",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ObservabilityAgentResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResource"
            }
          },
          "201": {
            "description": "Resource 'ObservabilityAgentResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityAgents_CreateOrUpdate": {
            "$ref": "./examples/ObservabilityAgents_CreateOrUpdate.json"
          },
          "ObservabilityAgents_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/ObservabilityAgents_CreateOrUpdate_MinimumSet.json"
          }
        }
      },
      "patch": {
        "operationId": "ObservabilityAgents_Update",
        "tags": [
          "ObservabilityAgents"
        ],
        "description": "Updates part of an observability agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "observabilityAgentName",
            "in": "path",
            "description": "The name of the observability agent resource. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{1,63}$)(?!-)[a-zA-Z0-9-]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObservabilityAgentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityAgents_Update": {
            "$ref": "./examples/ObservabilityAgents_Update.json"
          },
          "ObservabilityAgents_Update_MinimumSet": {
            "$ref": "./examples/ObservabilityAgents_Update_MinimumSet.json"
          }
        }
      },
      "delete": {
        "operationId": "ObservabilityAgents_Delete",
        "tags": [
          "ObservabilityAgents"
        ],
        "description": "Deletes an observability agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "observabilityAgentName",
            "in": "path",
            "description": "The name of the observability agent resource. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{1,63}$)(?!-)[a-zA-Z0-9-]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityAgents_Delete": {
            "$ref": "./examples/ObservabilityAgents_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ObservabilityAgentPatch": {
      "type": "object",
      "description": "The request body used to update an observability agent resource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "properties": {
          "$ref": "#/definitions/ObservabilityAgentPropertiesUpdate",
          "description": "Updatable resource properties."
        }
      }
    },
    "ObservabilityAgentProperties": {
      "type": "object",
      "description": "Properties for an observability agent resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The resource provisioning state.",
          "readOnly": true
        },
        "monitoringAccountId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource ID of the Azure Monitor workspace where this agent stores the issues it produces.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Monitor/accounts"
              }
            ]
          }
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the observability agent is enabled. Defaults to true when not specified."
        },
        "operations": {
          "type": "array",
          "description": "Configuration overrides for agent operations. When omitted, default behavior applies for all operations.",
          "items": {
            "$ref": "#/definitions/OperationEntry"
          },
          "x-ms-identifiers": [
            "type"
          ]
        }
      },
      "required": [
        "monitoringAccountId"
      ]
    },
    "ObservabilityAgentPropertiesUpdate": {
      "type": "object",
      "description": "Updatable properties of an observability agent.",
      "properties": {
        "monitoringAccountId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource ID of the Azure Monitor workspace where this agent stores the issues it produces. If changed, existing issues remain in the previously configured workspace and are not migrated; only newly created issues are written to the new workspace.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Monitor/accounts"
              }
            ]
          }
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the observability agent is enabled."
        },
        "operations": {
          "type": "array",
          "description": "Configuration overrides for agent operations. When omitted, default behavior applies for all operations.",
          "items": {
            "$ref": "#/definitions/OperationEntry"
          },
          "x-ms-identifiers": [
            "type"
          ]
        }
      }
    },
    "ObservabilityAgentResource": {
      "type": "object",
      "description": "An observability agent resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ObservabilityAgentProperties",
          "description": "Resource properties"
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ObservabilityAgentResourceListResult": {
      "type": "object",
      "description": "The response of a ObservabilityAgentResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ObservabilityAgentResource items on this page",
          "items": {
            "$ref": "#/definitions/ObservabilityAgentResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperationEntry": {
      "type": "object",
      "description": "Configuration for a specific agent operation.",
      "properties": {
        "type": {
          "$ref": "#/definitions/OperationType",
          "description": "Type of operation."
        },
        "mode": {
          "$ref": "#/definitions/OperationMode",
          "description": "Execution mode for this operation. Defaults to Auto when not specified."
        },
        "instructions": {
          "type": "string",
          "description": "Custom instructions that guide the agent's behavior for this operation.",
          "maxLength": 8192
        }
      },
      "required": [
        "type"
      ]
    },
    "OperationMode": {
      "type": "string",
      "description": "Execution mode for a specific agent operation.",
      "enum": [
        "Auto",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "OperationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "auto",
            "value": "Auto",
            "description": "The operation runs autonomously."
          },
          {
            "name": "manual",
            "value": "Manual",
            "description": "The operation runs only when triggered manually."
          }
        ]
      }
    },
    "OperationType": {
      "type": "string",
      "description": "Type of agent operation.",
      "enum": [
        "IssueCreation",
        "Investigation"
      ],
      "x-ms-enum": {
        "name": "OperationType",
        "modelAsString": true,
        "values": [
          {
            "name": "issueCreation",
            "value": "IssueCreation",
            "description": "Issue creation operation."
          },
          {
            "name": "investigation",
            "value": "Investigation",
            "description": "Investigation operation."
          }
        ]
      }
    }
  },
  "parameters": {}
}
