{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights client for Continuous Export of a component.",
    "version": "2015-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration": {
      "get": {
        "description": "Gets a list of Continuous Export configuration of an Application Insights component.",
        "operationId": "ExportConfigurations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more Continuous Export configuration definitions of an Application Insights component.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportConfigurationListResult"
            }
          }
        },
        "x-ms-examples": {
          "ExportConfigurationsList": {
            "$ref": "./examples/ExportConfigurationsList.json"
          }
        }
      },
      "post": {
        "description": "Create a Continuous Export configuration of an Application Insights component.",
        "operationId": "ExportConfigurations_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "ExportProperties",
            "description": "Properties that need to be specified to create a Continuous Export configuration of a Application Insights component.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing the Continuous Export configuration definition created by this POST call.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportConfigurationListResult"
            }
          }
        },
        "x-ms-examples": {
          "ExportConfigurationPost": {
            "$ref": "./examples/ExportConfigurationsPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration/{exportId}": {
      "delete": {
        "description": "Delete a Continuous Export configuration of an Application Insights component.",
        "operationId": "ExportConfigurations_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ExportId"
          }
        ],
        "responses": {
          "200": {
            "description": "The Continuous Export configuration that was successfully deleted.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "ExportConfigurationDelete": {
            "$ref": "./examples/ExportConfigurationDelete.json"
          }
        }
      },
      "get": {
        "description": "Get the Continuous Export configuration for this export id.",
        "operationId": "ExportConfigurations_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ExportId"
          }
        ],
        "responses": {
          "200": {
            "description": "The Continuous Export configuration for this export id.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "ExportConfigurationGet": {
            "$ref": "./examples/ExportConfigurationGet.json"
          }
        }
      },
      "put": {
        "description": "Update the Continuous Export configuration for this export id.",
        "operationId": "ExportConfigurations_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ExportId"
          },
          {
            "name": "ExportProperties",
            "description": "Properties that need to be specified to update the Continuous Export configuration.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Continuous Export configuration that was successfully updated.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentExportConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "ExportConfigurationUpdate": {
            "$ref": "./examples/ExportConfigurationUpdate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApplicationInsightsComponentExportRequest": {
      "description": "An Application Insights component Continuous Export configuration request definition.",
      "type": "object",
      "properties": {
        "RecordTypes": {
          "type": "string",
          "description": "The document types to be exported, as comma separated values. Allowed values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'."
        },
        "DestinationType": {
          "type": "string",
          "description": "The Continuous Export destination type. This has to be 'Blob'."
        },
        "DestinationAddress": {
          "type": "string",
          "description": "The SAS URL for the destination storage container. It must grant write permission."
        },
        "IsEnabled": {
          "type": "string",
          "description": "Set to 'true' to create a Continuous Export configuration as enabled, otherwise set it to 'false'."
        },
        "NotificationQueueEnabled": {
          "type": "string",
          "description": "Deprecated"
        },
        "NotificationQueueUri": {
          "type": "string",
          "description": "Deprecated"
        },
        "DestinationStorageSubscriptionId": {
          "type": "string",
          "description": "The subscription ID of the destination storage container."
        },
        "DestinationStorageLocationId": {
          "type": "string",
          "description": "The location ID of the destination storage container."
        },
        "DestinationAccountId": {
          "type": "string",
          "description": "The name of destination storage account."
        }
      }
    },
    "ApplicationInsightsComponentExportConfigurationListResult": {
      "description": "A list of Continuous Export configurations.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/ApplicationInsightsComponentExportConfiguration"
      }
    },
    "ApplicationInsightsComponentExportConfiguration": {
      "description": "Properties that define a Continuous Export configuration.",
      "type": "object",
      "properties": {
        "ExportId": {
          "type": "string",
          "readOnly": true,
          "description": "The unique ID of the export configuration inside an Application Insights component. It is auto generated when the Continuous Export configuration is created."
        },
        "InstrumentationKey": {
          "type": "string",
          "readOnly": true,
          "description": "The instrumentation key of the Application Insights component."
        },
        "RecordTypes": {
          "type": "string",
          "description": "This comma separated list of document types that will be exported. The possible values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'."
        },
        "ApplicationName": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the Application Insights component."
        },
        "SubscriptionId": {
          "type": "string",
          "readOnly": true,
          "description": "The subscription of the Application Insights component."
        },
        "ResourceGroup": {
          "type": "string",
          "readOnly": true,
          "description": "The resource group of the Application Insights component."
        },
        "DestinationStorageSubscriptionId": {
          "type": "string",
          "readOnly": true,
          "description": "The destination storage account subscription ID."
        },
        "DestinationStorageLocationId": {
          "type": "string",
          "readOnly": true,
          "description": "The destination account location ID."
        },
        "DestinationAccountId": {
          "type": "string",
          "readOnly": true,
          "description": "The name of destination account."
        },
        "DestinationType": {
          "type": "string",
          "readOnly": true,
          "description": "The destination type."
        },
        "IsUserEnabled": {
          "type": "string",
          "readOnly": true,
          "description": "This will be 'true' if the Continuous Export configuration is enabled, otherwise it will be 'false'."
        },
        "LastUserUpdate": {
          "type": "string",
          "readOnly": true,
          "description": "Last time the Continuous Export configuration was updated."
        },
        "NotificationQueueEnabled": {
          "type": "string",
          "description": "Deprecated"
        },
        "ExportStatus": {
          "type": "string",
          "readOnly": true,
          "description": "This indicates current Continuous Export configuration status. The possible values are 'Preparing', 'Success', 'Failure'."
        },
        "LastSuccessTime": {
          "type": "string",
          "readOnly": true,
          "description": "The last time data was successfully delivered to the destination storage container for this Continuous Export configuration."
        },
        "LastGapTime": {
          "type": "string",
          "readOnly": true,
          "description": "The last time the Continuous Export configuration started failing."
        },
        "PermanentErrorReason": {
          "type": "string",
          "readOnly": true,
          "description": "This is the reason the Continuous Export configuration started failing. It can be 'AzureStorageNotFound' or 'AzureStorageAccessDenied'."
        },
        "StorageName": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the destination storage account."
        },
        "ContainerName": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the destination storage container."
        }
      }
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    },
    "ExportId": {
      "name": "exportId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Continuous Export configuration ID. This is unique within a Application Insights component.",
      "x-ms-parameter-location": "method"
    }
  }
}
