{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights client for selecting pricing plans and options.",
    "version": "2015-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/currentbillingfeatures": {
      "get": {
        "description": "Returns current billing features for an Application Insights component.",
        "operationId": "ComponentCurrentBillingFeatures_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "An Application Insights component billing features definition.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentBillingFeatures"
            }
          }
        },
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesGet": {
            "$ref": "./examples/CurrentBillingFeaturesGet.json"
          }
        }
      },
      "put": {
        "description": "Update current billing features for an Application Insights component.",
        "operationId": "ComponentCurrentBillingFeatures_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "BillingFeaturesProperties",
            "description": "Properties that need to be specified to update billing features for an Application Insights component.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentBillingFeatures"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request when updating billing features for an Application Insights component. The updated current billing features are returned.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentBillingFeatures"
            }
          }
        },
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesUpdate": {
            "$ref": "./examples/CurrentBillingFeaturesUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/quotastatus": {
      "get": {
        "description": "Returns daily data volume cap (quota) status for an Application Insights component.",
        "operationId": "ComponentQuotaStatus_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "An Application Insights component daily data volume cap status definition.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsComponentQuotaStatus"
            }
          }
        },
        "x-ms-examples": {
          "ComponentCurrentBillingFeaturesGet": {
            "$ref": "./examples/QuotaStatusGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApplicationInsightsComponentBillingFeatures": {
      "type": "object",
      "description": "An Application Insights component billing features",
      "properties": {
        "DataVolumeCap": {
          "description": "An Application Insights component daily data volumne cap",
          "$ref": "#/definitions/ApplicationInsightsComponentDataVolumeCap"
        },
        "CurrentBillingFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Current enabled pricing plan. When the component is in the Enterprise plan, this will list both 'Basic' and 'Application Insights Enterprise'."
        }
      }
    },
    "ApplicationInsightsComponentDataVolumeCap": {
      "type": "object",
      "description": "An Application Insights component daily data volumne cap",
      "properties": {
        "Cap": {
          "type": "number",
          "description": "Daily data volume cap in GB."
        },
        "ResetTime": {
          "type": "integer",
          "readOnly": true,
          "description": "Daily data volume cap UTC reset hour."
        },
        "WarningThreshold": {
          "type": "integer",
          "description": "Reserved, not used for now."
        },
        "StopSendNotificationWhenHitThreshold": {
          "type": "boolean",
          "description": "Reserved, not used for now."
        },
        "StopSendNotificationWhenHitCap": {
          "type": "boolean",
          "description": "Do not send a notification email when the daily data volume cap is met."
        },
        "MaxHistoryCap": {
          "type": "number",
          "readOnly": true,
          "description": "Maximum daily data volume cap that the user can set for this component."
        }
      }
    },
    "ApplicationInsightsComponentQuotaStatus": {
      "type": "object",
      "description": "An Application Insights component daily data volume cap status",
      "properties": {
        "AppId": {
          "type": "string",
          "readOnly": true,
          "description": "The Application ID for the Application Insights component."
        },
        "ShouldBeThrottled": {
          "type": "boolean",
          "readOnly": true,
          "description": "The daily data volume cap is met, and data ingestion will be stopped."
        },
        "ExpirationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Date and time when the daily data volume cap will be reset, and data ingestion will resume."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    }
  }
}