{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights workbook type.",
    "version": "2015-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/microsoft.insights/workbooks/category/{category}": {  
      "get": {
        "description": "Gets a list of workbooks.",
        "operationId": "Workbooks_ListBySourceId",
        "parameters": [
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/parameters/CategoryParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          },
          {
            "$ref": "#/parameters/CanFetchWorkbookContentParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more workbook definitions.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Workbook"
              }
            }
          }
        },
        "x-ms-examples": {
          "WorkbooksList": {
            "$ref": "./examples/WorkbooksListLink.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/resourceName/{resourceName}/providers/microsoft.insights/workbooks": {  
      "put": {
        "description": "Create a new workbook.",
        "operationId": "Workbook_CreateLink",
        "parameters": [          
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The link has been created."
          }
        },
        "x-ms-examples": {
          "WorkbookAdd": {
            "$ref": "./examples/WorkbookResponseOnly.json"
          }
        }
      },
      "patch": {
        "description": "Updates a workbook that has already been added.",
        "operationId": "Workbook_UpdateLink",
        "parameters": [          
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The workbook definition updated."
          }
        },
        "x-ms-examples": {
          "WorkbookAdd": {
            "$ref": "./examples/WorkbookResponseOnly.json"
          }
        }
      },
      "delete": {
        "description": "Delete a workbook.",
        "operationId": "Workbook_DeleteLink",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The workbook link has been successfully deleted."
          }
        },
        "x-ms-examples": {
          "WorkbookList": {
            "$ref": "./examples/WorkbookResponseOnly.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "Workbook": {
      "description": "An Application Insights workbook definition.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of workbook. Choices are user and shared.",
          "default": "shared",
          "enum": [
            "user",
            "shared"
          ],
          "x-ms-enum": {
            "name": "SharedTypeKind",
            "modelAsString": false
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a web test for an Azure resource.",
          "$ref": "#/definitions/WorkbookProperties"
        }
      }
    },
    "WorkbookProperties": {
      "description": "Properties that contain a workbook.",
      "required": [
        "name",
        "kind",
        "category",
        "workbookId",
        "serializedData",
        "userId"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The user-defined name of the workbook."
        },
        "serializedData": {
          "type": "string",
          "description": "Configuration of this particular workbook. Configuration data is a string containing valid JSON"
        },
        "version": {
          "type": "string",
          "description": "This instance's version of the data model. This can change as new features are added that can be marked workbook."
        },
        "workbookId": {
          "type": "string",
          "description": "Internally assigned unique id of the workbook definition. This will be a resource name.",
          "readOnly": true
        },
        "kind": {
          "description": "Enum indicating if this workbook definition is owned by a specific user or is shared between all users with access to the Application Insights component.",
          "x-ms-client-name": "SharedTypeKind",
          "default": "shared",
          "type": "string",
          "enum": [
            "shared",
            "user"
          ],
          "x-ms-enum": {
            "name": "SharedTypeKind",
            "modelAsString": false
          }
        },
        "timeModified": {
          "type": "string",
          "description": "Date and time in UTC of the last modification that was made to this workbook definition.",
          "readOnly": true
        },       
        "category": {
          "type": "string",
          "description": "Workbook category, as defined by the user at creation time."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of 0 or more tags that are associated with this workbook definition"
        },
        "userId": {
          "type": "string",
          "readOnly": true,
          "description": "Unique user id of the specific user that owns this workbook."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of Azure resource group.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of Azure resource.",
      "x-ms-parameter-location": "method"
    },
    "SourceIdParameter": {
      "name": "sourceId",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Azure Resource Id that will fetch all linked workbooks.",
      "x-ms-parameter-location": "method"
    },
    "CategoryParameter": {
      "name": "category",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "workbook",
        "TSG",
        "performance",
        "retention"
      ],
      "x-ms-enum": {
        "name": "CategoryType",
        "modelAsString": true
      },
      "description": "Category of workbook to return. When left out, the source type defaults to 'other' (not present in this enum).",
      "x-ms-parameter-location": "method"
    },
    "CanFetchWorkbookContentParameter": {
      "name": "canFetchContent",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tags",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "Tags presents on each workbook returned.",
      "x-ms-parameter-location": "method"
    }
  }
}