{
  "swagger": "2.0",
  "info": {
    "title": "Billing benefits RP",
    "version": "2025-05-01-preview",
    "description": "Azure Benefits RP let users create and manage benefits like savings plan.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SavingsPlanOrderAliasModels"
    },
    {
      "name": "SavingsPlanOrderModels"
    },
    {
      "name": "SavingsPlanModels"
    },
    {
      "name": "ReservationOrderAliasResponses"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Maccs"
    },
    {
      "name": "Contributors"
    },
    {
      "name": "Credits"
    },
    {
      "name": "ConditionalCredits"
    },
    {
      "name": "CreditSources"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.BillingBenefits/applicableConditionalCredits": {
      "get": {
        "operationId": "ConditionalCredits_ScopeList",
        "description": "List conditional credits that are applicable for a given scope. Currently supported scopes: billing accounts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope at which the benefits are listed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConditionalCreditList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditScopeList": {
            "$ref": "./examples/ApplicableConditionalCreditList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.BillingBenefits/applicableCredits": {
      "get": {
        "operationId": "Credits_ListApplicable",
        "description": "List applicable credits for the provided scope. Currently supported scopes: BillingAccountResourceId",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope at which the benefits are listed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSourcesListByCredit": {
            "$ref": "./examples/CreditListApplicableCredits.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.BillingBenefits/applicableDiscounts": {
      "get": {
        "operationId": "Discounts_ScopeList",
        "description": "List discounts that are applicable for a given scope. Currently supported scopes: billing accounts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope at which the benefits are listed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountScopeList": {
            "$ref": "./examples/ApplicableDiscountsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.BillingBenefits/applicableMaccs": {
      "get": {
        "operationId": "ApplicableMaccs_List",
        "description": "List applicable maccs for the provided scope. Currently supported scopes: BillingAccountResourceId",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope at which the benefits are listed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicableMaccList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ApplicableMaccsList": {
            "$ref": "./examples/ApplicableMaccsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.BillingBenefits/applicableMaccs/{systemId}/providers/Microsoft.BillingBenefits/applicableContributors": {
      "get": {
        "operationId": "Contributors_ListFromApplicableMacc",
        "description": "List contributors under applicable MACCs for a given billing account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope at which the benefits are listed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "systemId",
            "in": "path",
            "description": "The system identifier of the applicable MACC.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicableContributorList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContributorsListFromApplicableMacc": {
            "$ref": "./examples/ContributorsListFromApplicableMacc.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/listSellerResources": {
      "post": {
        "operationId": "SellerResource_List",
        "description": "List maccs by billing account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SellerResourceListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Macc"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SellerViewContributors": {
            "$ref": "./examples/MaccSellerViewContributors.json"
          },
          "SellerViewContributorsWithMilestones": {
            "$ref": "./examples/MaccSellerViewContributorsWithMilestones.json"
          },
          "SellerViewContributorsWithMilestonesAndShortfall": {
            "$ref": "./examples/MaccSellerViewContributorsWithMilestonesAndShortfall.json"
          },
          "SellerViewNoContributors": {
            "$ref": "./examples/MaccSellerViewNoContributors.json"
          },
          "SellerViewWithMilestonesNoContributors": {
            "$ref": "./examples/MaccSellerViewWithMilestonesNoContributors.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/reservationOrderAliases/{reservationOrderAliasName}": {
      "get": {
        "operationId": "ReservationOrderAlias_Get",
        "tags": [
          "ReservationOrderAliasResponses"
        ],
        "description": "Get a reservation order alias.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderAliasName",
            "in": "path",
            "description": "Name of the reservation order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationOrderAliasGet": {
            "$ref": "./examples/ReservationOrderAliasGet.json"
          }
        }
      },
      "put": {
        "operationId": "ReservationOrderAlias_Create",
        "tags": [
          "ReservationOrderAliasResponses"
        ],
        "description": "Create a reservation order alias.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "reservationOrderAliasName",
            "in": "path",
            "description": "Name of the reservation order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating a reservation order alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "201": {
            "description": "Resource 'ReservationOrderAliasResponse' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/ReservationOrderAliasCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ReservationOrderAliasResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}": {
      "get": {
        "operationId": "SavingsPlanOrderAlias_Get",
        "tags": [
          "SavingsPlanOrderAliasModels"
        ],
        "description": "Get a savings plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderAliasName",
            "in": "path",
            "description": "Name of the savings plan order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderAliasGet": {
            "$ref": "./examples/SavingsPlanOrderAliasGet.json"
          }
        }
      },
      "put": {
        "operationId": "SavingsPlanOrderAlias_Create",
        "tags": [
          "SavingsPlanOrderAliasModels"
        ],
        "description": "Create a savings plan. Learn more about permissions needed at https://go.microsoft.com/fwlink/?linkid=2215851",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=2215851/"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderAliasName",
            "in": "path",
            "description": "Name of the savings plan order alias",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating a savings plan order alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SavingsPlanOrderAliasModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "201": {
            "description": "Resource 'SavingsPlanOrderAliasModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderAliasCreate": {
            "$ref": "./examples/SavingsPlanOrderAliasCreate.json"
          },
          "SavingsPlanOrderAliasCreateSingleScope": {
            "$ref": "./examples/SavingsPlanOrderAliasCreateSingleScope.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SavingsPlanOrderAliasModel"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders": {
      "get": {
        "operationId": "SavingsPlanOrder_List",
        "tags": [
          "SavingsPlanOrderModels"
        ],
        "description": "List all Savings plan orders.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModelList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderList": {
            "$ref": "./examples/SavingsPlanOrderList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}": {
      "get": {
        "operationId": "SavingsPlanOrder_Get",
        "tags": [
          "SavingsPlanOrderModels"
        ],
        "description": "Get a savings plan order.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the detail information of some properties.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderGet": {
            "$ref": "./examples/SavingsPlanOrderGet.json"
          },
          "SavingsPlanOrderWithExpandedPaymentsGet": {
            "$ref": "./examples/SavingsPlanOrderExpandedGet.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/elevate": {
      "post": {
        "operationId": "SavingsPlanOrder_Elevate",
        "tags": [
          "SavingsPlanOrderModels"
        ],
        "description": "Elevate as owner on savings plan order based on billing permissions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanOrderElevate": {
            "$ref": "./examples/SavingsPlanOrderElevate.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans": {
      "get": {
        "operationId": "SavingsPlan_List",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "List savings plans in an order.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlansInOrderList": {
            "$ref": "./examples/SavingsPlansInOrderList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}": {
      "get": {
        "operationId": "SavingsPlan_Get",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "Get savings plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "savingsPlanId",
            "in": "path",
            "description": "ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the detail information of some properties.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanItemGet": {
            "$ref": "./examples/SavingsPlanItemGet.json"
          },
          "SavingsPlanItemWithExpandedRenewPropertiesGet": {
            "$ref": "./examples/SavingsPlanItemExpandedGet.json"
          }
        }
      },
      "patch": {
        "operationId": "SavingsPlan_Update",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "Update savings plan.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "savingsPlanId",
            "in": "path",
            "description": "ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for patching a savings plan order alias",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "404": {
            "description": "The Azure resource is not found"
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanUpdate": {
            "$ref": "./examples/SavingsPlanUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SavingsPlanModel"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate": {
      "post": {
        "operationId": "SavingsPlan_ValidateUpdate",
        "tags": [
          "SavingsPlanModels"
        ],
        "description": "Validate savings plan patch.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "savingsPlanOrderId",
            "in": "path",
            "description": "Order ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "savingsPlanId",
            "in": "path",
            "description": "ID of the savings plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for validating a savings plan patch request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavingsPlanUpdateValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlanValidateUpdate": {
            "$ref": "./examples/SavingsPlanValidateUpdate.json"
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlans": {
      "get": {
        "operationId": "SavingsPlan_ListAll",
        "description": "List savings plans.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter by reservation properties. The filter supports 'eq', 'or', and 'and'. It does not currently support 'ne', 'gt', 'le', 'ge', or 'not'. Reservation properties include sku/name, properties/{appliedScopeType, archived, displayName, displayProvisioningState, effectiveDateTime, expiryDate, provisioningState, quantity, renew, reservedResourceType, term, userFriendlyAppliedScopeType, userFriendlyRenewState}",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "May be used to sort order by reservation properties.",
            "required": false,
            "type": "string"
          },
          {
            "name": "refreshSummary",
            "in": "query",
            "description": "To indicate whether to refresh the roll up counts of the savings plans group by provisioning states",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "The number of savings plans to skip from the list before returning results",
            "required": false,
            "type": "number",
            "format": "float"
          },
          {
            "name": "selectedState",
            "in": "query",
            "description": "The selected provisioning state",
            "required": false,
            "type": "string"
          },
          {
            "name": "take",
            "in": "query",
            "description": "To number of savings plans to return",
            "required": false,
            "type": "number",
            "format": "float"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SavingsPlansList": {
            "$ref": "./examples/SavingsPlansList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/validate": {
      "post": {
        "operationId": "Benefit_Validate",
        "description": "Validate any benefit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BenefitValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BenefitValidateResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MaccValidateCancel": {
            "$ref": "./examples/MaccValidateCancel.json"
          },
          "MaccValidateCancelWithMilestones": {
            "$ref": "./examples/MaccValidateCancelWithMilestones.json"
          },
          "MaccValidateCreate": {
            "$ref": "./examples/MaccValidateCreate.json"
          },
          "MaccValidateCreateBackfilledMacc": {
            "$ref": "./examples/MaccValidateCreateBackfilledMacc.json"
          },
          "MaccValidateCreateContributor": {
            "$ref": "./examples/MaccValidateCreateContributor.json"
          },
          "MaccValidateCreateMilestonesOnExistingMacc": {
            "$ref": "./examples/MaccValidateCreateMilestonesOnExistingMacc.json"
          },
          "MaccValidateCreateMultiEntity": {
            "$ref": "./examples/MaccValidateCreateMultiEntity.json"
          },
          "MaccValidateCreateNewMaccWithMilestone": {
            "$ref": "./examples/MaccValidateCreateNewMaccWithMilestone.json"
          },
          "MaccValidateUpdate": {
            "$ref": "./examples/MaccValidateUpdate.json"
          },
          "MaccValidateUpdateCommitment": {
            "$ref": "./examples/MaccValidateUpdateCommitment.json"
          },
          "MaccValidateUpdateCommitmentEndAtContributorRule": {
            "$ref": "./examples/MaccValidateUpdateCommitmentEndAtContributorRule.json"
          },
          "MaccValidateUpdateContributor": {
            "$ref": "./examples/MaccValidateUpdateContributor.json"
          },
          "MaccValidateUpdateContributorRule": {
            "$ref": "./examples/MaccValidateUpdateContributorRule.json"
          },
          "MaccValidateUpdateDisplayName": {
            "$ref": "./examples/MaccValidateUpdateDisplayName.json"
          },
          "MaccValidateUpdateEndAt": {
            "$ref": "./examples/MaccValidateUpdateEndAt.json"
          },
          "MaccValidateUpdateMaccAndMilestoneCommitment": {
            "$ref": "./examples/MaccValidateUpdateMaccAndMilestoneCommitment.json"
          },
          "MaccValidateUpdateMaccAndMilestoneEndDate": {
            "$ref": "./examples/MaccValidateUpdateMaccAndMilestoneEndDate.json"
          },
          "MaccValidateUpdateMilestoneCommitment": {
            "$ref": "./examples/MaccValidateUpdateMilestoneCommitment.json"
          },
          "MaccValidateUpdateMilestoneEndDate": {
            "$ref": "./examples/MaccValidateUpdateMilestoneEndDate.json"
          },
          "MaccValidateUpdateRemoveMilestones": {
            "$ref": "./examples/MaccValidateUpdateRemoveMilestones.json"
          },
          "MaccValidateUpdateSuppressShortfall": {
            "$ref": "./examples/MaccValidateUpdateSuppressShortfall.json"
          },
          "MaccValidateUpdateSuppressShortfallOnMilestone": {
            "$ref": "./examples/MaccValidateUpdateSuppressShortfallOnMilestone.json"
          },
          "MaccValidateUpdateUnsuppressShortfall": {
            "$ref": "./examples/MaccValidateUpdateUnsuppressShortfall.json"
          },
          "MaccValidateUpdateUnsuppressShortfallOnMilestone": {
            "$ref": "./examples/MaccValidateUpdateUnsuppressShortfallOnMilestone.json"
          },
          "MaccValidateWriteOffWithMilestones": {
            "$ref": "./examples/MaccValidateWriteOffWithMilestones.json"
          },
          "SavingsPlanValidatePurchase": {
            "$ref": "./examples/SavingsPlanValidatePurchase.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/conditionalCredits": {
      "get": {
        "operationId": "ConditionalCredits_ListBySubscription",
        "tags": [
          "ConditionalCredits"
        ],
        "description": "List conditional credits by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConditionalCreditList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditsListBySubscription": {
            "$ref": "./examples/ConditionalCreditsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/credits": {
      "get": {
        "operationId": "Credits_ListBySubscription",
        "tags": [
          "Credits"
        ],
        "description": "List credits under a subscription from primary service tenant.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditsListBySubscription": {
            "$ref": "./examples/CreditsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/discounts": {
      "get": {
        "operationId": "Discounts_SubscriptionList",
        "tags": [
          "Discounts"
        ],
        "description": "List discounts at subscription level",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountSubscriptionList": {
            "$ref": "./examples/DiscountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/maccs": {
      "get": {
        "operationId": "Maccs_ListBySubscription",
        "tags": [
          "Maccs"
        ],
        "description": "List MACCs under a subscription from primary service tenant.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaccList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MaccsWithMilestones_ListBySubscription": {
            "$ref": "./examples/MaccsWithMilestonesListBySubscription.json"
          },
          "Maccs_ListBySubscription": {
            "$ref": "./examples/MaccsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/conditionalCredits": {
      "get": {
        "operationId": "ConditionalCredits_ListByResourceGroup",
        "tags": [
          "ConditionalCredits"
        ],
        "description": "List conditional credits by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConditionalCreditList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditsListByResourceGroup": {
            "$ref": "./examples/ConditionalCreditsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/conditionalCredits/{conditionalCreditName}": {
      "get": {
        "operationId": "ConditionalCredits_Get",
        "tags": [
          "ConditionalCredits"
        ],
        "description": "Get a conditional credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "conditionalCreditName",
            "in": "path",
            "description": "Name of the conditional credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditGet": {
            "$ref": "./examples/ConditionalCreditGet.json"
          }
        }
      },
      "put": {
        "operationId": "ConditionalCredits_CreateOrUpdate",
        "tags": [
          "ConditionalCredits"
        ],
        "description": "Create or update a conditional credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "conditionalCreditName",
            "in": "path",
            "description": "Name of the conditional credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating a conditional credit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConditionalCredit' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            }
          },
          "201": {
            "description": "Resource 'ConditionalCredit' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditCreateContributor": {
            "$ref": "./examples/ConditionalCreditCreateContributor.json"
          },
          "ConditionalCreditCreatePrimary": {
            "$ref": "./examples/ConditionalCreditCreatePrimary.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ConditionalCredit"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConditionalCredits_Update",
        "tags": [
          "ConditionalCredits"
        ],
        "description": "Update a conditional credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "conditionalCreditName",
            "in": "path",
            "description": "Name of the conditional credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for updating a conditional credit",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConditionalCreditPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditUpdate": {
            "$ref": "./examples/ConditionalCreditUpdate.json"
          },
          "ConditionalCreditUpdateContributor": {
            "$ref": "./examples/ConditionalCreditUpdateContributor.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ConditionalCredits_Delete",
        "tags": [
          "ConditionalCredits"
        ],
        "description": "Delete a conditional credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "conditionalCreditName",
            "in": "path",
            "description": "Name of the conditional credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConditionalCreditDelete": {
            "$ref": "./examples/ConditionalCreditDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits": {
      "get": {
        "operationId": "Credits_ListByResourceGroup",
        "tags": [
          "Credits"
        ],
        "description": "List Credits under a resource group from primary service admin.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditsListByResourceGroup": {
            "$ref": "./examples/CreditsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}": {
      "get": {
        "operationId": "Credits_Get",
        "tags": [
          "Credits"
        ],
        "description": "Get a credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditGet": {
            "$ref": "./examples/CreditGet.json"
          }
        }
      },
      "put": {
        "operationId": "Credits_Create",
        "tags": [
          "Credits"
        ],
        "description": "Create a credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Credit create request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Credit' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          },
          "201": {
            "description": "Resource 'Credit' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Credit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditCreate": {
            "$ref": "./examples/CreditCreate.json"
          },
          "EndCustomerInvestmentFundCreditCreate": {
            "$ref": "./examples/EndCustomerInvestmentFundCreditCreate.json"
          },
          "PromotionalCreditCreate": {
            "$ref": "./examples/PromotionalCreditCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Credit"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Credits_Update",
        "tags": [
          "Credits"
        ],
        "description": "Update a credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Credit patch request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditTagsUpdate": {
            "$ref": "./examples/CreditTagsUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Credits_Delete",
        "tags": [
          "Credits"
        ],
        "description": "Delete a credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditDelete": {
            "$ref": "./examples/CreditDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}/cancel": {
      "post": {
        "operationId": "Credits_Cancel",
        "tags": [
          "Credits"
        ],
        "description": "Cancels a credit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditCancel": {
            "$ref": "./examples/CreditCancel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Azure.ResourceManager.ArmResponse%3CCredit%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}/sources": {
      "get": {
        "operationId": "Sources_ListByCredit",
        "tags": [
          "CreditSources"
        ],
        "description": "List credit sources for a credit under a resource group from primary service admin.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditSourcesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSourcesListByCredit": {
            "$ref": "./examples/CreditSourcesListByCredit.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}/sources/{sourceName}": {
      "get": {
        "operationId": "Sources_Get",
        "tags": [
          "CreditSources"
        ],
        "description": "Get a credit source.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "Name of the credit source",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSourceGet": {
            "$ref": "./examples/CreditSourceGet.json"
          }
        }
      },
      "put": {
        "operationId": "Sources_Create",
        "tags": [
          "CreditSources"
        ],
        "description": "Create a credit source.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "Name of the credit source",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Credit source create request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CreditSource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "201": {
            "description": "Resource 'CreditSource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSourceCreate": {
            "$ref": "./examples/CreditSourceCreate.json"
          }
        }
      },
      "patch": {
        "operationId": "Sources_Update",
        "tags": [
          "CreditSources"
        ],
        "description": "Update a credit source.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "Name of the credit source",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Credit source patch request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreditSourcePatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSourceTagsUpdate": {
            "$ref": "./examples/CreditSourceTagsUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Sources_Delete",
        "tags": [
          "CreditSources"
        ],
        "description": "Delete a credit source.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "creditName",
            "in": "path",
            "description": "Name of the credit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "Name of the credit source",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreditSourceDelete": {
            "$ref": "./examples/CreditSourceDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/discounts": {
      "get": {
        "operationId": "Discounts_ResourceGroupList",
        "tags": [
          "Discounts"
        ],
        "description": "List discounts at resource group level",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountsResourceGroupList": {
            "$ref": "./examples/DiscountListResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/discounts/{discountName}": {
      "get": {
        "operationId": "Discount_Get",
        "tags": [
          "Discounts"
        ],
        "description": "Get discount at resource group level",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discountName",
            "in": "path",
            "description": "Name of the discount",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountGet": {
            "$ref": "./examples/DiscountGet.json"
          }
        }
      },
      "put": {
        "operationId": "Discounts_Create",
        "tags": [
          "Discounts"
        ],
        "description": "Create discount.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discountName",
            "in": "path",
            "description": "Name of the discount",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating a discount.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Discount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "201": {
            "description": "Resource 'Discount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Discount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountsCreateAffiliate": {
            "$ref": "./examples/DiscountsCreateAffiliate.json"
          },
          "DiscountsCreatePrimary": {
            "$ref": "./examples/DiscountsCreatePrimary.json"
          },
          "DiscountsCreatePrimaryBackfill": {
            "$ref": "./examples/DiscountsCreatePrimaryBackfill.json"
          },
          "DiscountsCreatePrimaryWithCustomPrice": {
            "$ref": "./examples/DiscountsCreatePrimaryWithCustomPrice.json"
          },
          "DiscountsCreatePrimaryWithCustomPriceMultiCurrency": {
            "$ref": "./examples/DiscountsCreatePrimaryWithCustomPriceMultiCurrency.json"
          },
          "DiscountsCreatePrimaryWithPriceGuarantee": {
            "$ref": "./examples/DiscountsCreatePrimaryWithPriceGuarantee.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Discount"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Discount_Update",
        "tags": [
          "Discounts"
        ],
        "description": "Update discounts",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discountName",
            "in": "path",
            "description": "Name of the discount",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for updating discounts",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscountPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountGet": {
            "$ref": "./examples/DiscountsUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Discount"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Discounts_Delete",
        "tags": [
          "Discounts"
        ],
        "description": "Delete discount. Clears the metadata from the user's view.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discountName",
            "in": "path",
            "description": "Name of the discount",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/DiscountsDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/discounts/{discountName}/cancel": {
      "post": {
        "operationId": "Discounts_Cancel",
        "tags": [
          "Discounts"
        ],
        "description": "Cancel discount. Stops applying the benefit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discountName",
            "in": "path",
            "description": "Name of the discount",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscountCancel": {
            "$ref": "./examples/DiscountCancel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Discount"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs": {
      "get": {
        "operationId": "Maccs_ListByResourceGroup",
        "tags": [
          "Maccs"
        ],
        "description": "List MACCs under a resource group for primary service admin.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaccList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MaccsWithMilestones_ListByResourceGroup": {
            "$ref": "./examples/MaccsWithMilestonesListByResourceGroup.json"
          },
          "Maccs_ListByResourceGroup": {
            "$ref": "./examples/MaccsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}": {
      "get": {
        "operationId": "Maccs_Get",
        "tags": [
          "Maccs"
        ],
        "description": "Get a MACC.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "maccName",
            "in": "path",
            "description": "Name of primary MACC.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ContributorWithMilestonesAndShortfall_GetFromPrimary": {
            "$ref": "./examples/ContributorWithMilestonesAndShortfallGet.json"
          },
          "ContributorWithMilestones_GetFromPrimary": {
            "$ref": "./examples/ContributorWithMilestonesGet.json"
          },
          "Contributor_Get": {
            "$ref": "./examples/ContributorGet.json"
          },
          "MaccWithMilestonesAndShortfall_Get": {
            "$ref": "./examples/MaccWithMilestonesAndShortfallGet.json"
          },
          "MaccWithMilestones_Get": {
            "$ref": "./examples/MaccWithMilestonesGet.json"
          },
          "MaccWithShortfall_Get": {
            "$ref": "./examples/MaccWithShortfallGet.json"
          },
          "Macc_Get": {
            "$ref": "./examples/MaccGet.json"
          }
        }
      },
      "put": {
        "operationId": "Maccs_Create",
        "tags": [
          "Maccs"
        ],
        "description": "Create MACC.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "maccName",
            "in": "path",
            "description": "Name of primary MACC.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for creating MACC.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Macc' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "201": {
            "description": "Resource 'Macc' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Macc"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Contributor_Create": {
            "$ref": "./examples/ContributorCreate.json"
          },
          "MaccWithMilestones_Create": {
            "$ref": "./examples/MaccWithMilestonesCreate.json"
          },
          "Macc_Create": {
            "$ref": "./examples/MaccCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Macc"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Maccs_Update",
        "tags": [
          "Maccs"
        ],
        "description": "Update MACC.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "maccName",
            "in": "path",
            "description": "Name of primary MACC.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_\\-\\.]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body for updating MACC.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaccPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
[...]
