{
  "swagger": "2.0",
  "info": {
    "version": "2025-05-01-preview",
    "title": "Billing benefits RP",
    "description": "Azure Benefits RP let users create and manage benefits."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.BillingBenefits/operations": {
      "get": {
        "summary": "Get operations.",
        "description": "List all the operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Benefits operations"
        ],
        "responses": {
          "200": {
            "description": "List all the operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}": {
      "put": {
        "description": "Create a savings plan. Learn more about permissions needed at https://go.microsoft.com/fwlink/?linkid=2215851",
        "operationId": "SavingsPlanOrderAlias_Create",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=2215851/"
        },
        "tags": [
          "Savings plan order aliases"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "SavingsPlanOrderAliasCreate": {
            "$ref": "./examples/SavingsPlanOrderAliasCreate.json"
          },
          "SavingsPlanOrderAliasCreateSingleScope": {
            "$ref": "./examples/SavingsPlanOrderAliasCreateSingleScope.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderAliasNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderAliasRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get a savings plan.",
        "operationId": "SavingsPlanOrderAlias_Get",
        "tags": [
          "Savings plan order aliases"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderAliasGet": {
            "$ref": "./examples/SavingsPlanOrderAliasGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderAliasNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}": {
      "get": {
        "description": "Get a savings plan order.",
        "operationId": "SavingsPlanOrder_Get",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderGet": {
            "$ref": "./examples/SavingsPlanOrderGet.json"
          },
          "SavingsPlanOrderWithExpandedPaymentsGet": {
            "$ref": "./examples/SavingsPlanOrderExpandedGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/elevate": {
      "post": {
        "description": "Elevate as owner on savings plan order based on billing permissions.",
        "operationId": "SavingsPlanOrder_Elevate",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderElevate": {
            "$ref": "./examples/SavingsPlanOrderElevate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentEntity"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders": {
      "get": {
        "description": "List all Savings plan orders.",
        "operationId": "SavingsPlanOrder_List",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlanOrderList": {
            "$ref": "./examples/SavingsPlanOrderList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModelList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans": {
      "get": {
        "description": "List savings plans in an order.",
        "operationId": "SavingsPlan_List",
        "tags": [
          "Savings plan"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlansInOrderList": {
            "$ref": "./examples/SavingsPlansInOrderList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlans": {
      "get": {
        "description": "List savings plans.",
        "operationId": "SavingsPlan_ListAll",
        "tags": [
          "Savings plan"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlansList": {
            "$ref": "./examples/SavingsPlansList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by reservation properties. The filter supports 'eq', 'or', and 'and'. It does not currently support 'ne', 'gt', 'le', 'ge', or 'not'. Reservation properties include sku/name, properties/{appliedScopeType, archived, displayName, displayProvisioningState, effectiveDateTime, expiryDate, provisioningState, quantity, renew, reservedResourceType, term, userFriendlyAppliedScopeType, userFriendlyRenewState}",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "description": "May be used to sort order by reservation properties.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "refreshSummary",
            "description": "To indicate whether to refresh the roll up counts of the savings plans group by provisioning states",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "The number of savings plans to skip from the list before returning results",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "selectedState",
            "description": "The selected provisioning state",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "take",
            "description": "To number of savings plans to return",
            "in": "query",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}": {
      "get": {
        "description": "Get savings plan.",
        "operationId": "SavingsPlan_Get",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanItemGet": {
            "$ref": "./examples/SavingsPlanItemGet.json"
          },
          "SavingsPlanItemWithExpandedRenewPropertiesGet": {
            "$ref": "./examples/SavingsPlanItemExpandedGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update savings plan.",
        "operationId": "SavingsPlan_Update",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanUpdate": {
            "$ref": "./examples/SavingsPlanUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanUpdateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate": {
      "post": {
        "description": "Validate savings plan patch.",
        "operationId": "SavingsPlan_ValidateUpdate",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanValidateUpdate": {
            "$ref": "./examples/SavingsPlanValidateUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanUpdateValidateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/validate": {
      "post": {
        "description": "Validate any benefit.",
        "operationId": "Benefit_Validate",
        "tags": [
          "Savings plan",
          "Macc",
          "ConditionalCredits"
        ],
        "x-ms-examples": {
          "SavingsPlanValidatePurchase": {
            "$ref": "./examples/SavingsPlanValidatePurchase.json"
          },
          "MaccValidateCreate": {
            "$ref": "./examples/MaccValidateCreate.json"
          },
          "MaccValidateCreateContributor": {
            "$ref": "./examples/MaccValidateCreateContributor.json"
          },
          "MaccValidateCreateMultiEntity": {
            "$ref": "./examples/MaccValidateCreateMultiEntity.json"
          },
          "MaccValidateCreateBackfilledMacc": {
            "$ref": "./examples/MaccValidateCreateBackfilledMacc.json"
          },
          "MaccValidateCreateNewMaccWithMilestone": {
            "$ref": "./examples/MaccValidateCreateNewMaccWithMilestone.json"
          },
          "MaccValidateCreateMilestonesOnExistingMacc": {
            "$ref": "./examples/MaccValidateCreateMilestonesOnExistingMacc.json"
          },
          "MaccValidateUpdate": {
            "$ref": "./examples/MaccValidateUpdate.json"
          },
          "MaccValidateUpdateCommitment": {
            "$ref": "./examples/MaccValidateUpdateCommitment.json"
          },
          "MaccValidateUpdateEndAt": {
            "$ref": "./examples/MaccValidateUpdateEndAt.json"
          },
          "MaccValidateUpdateContributorRule": {
            "$ref": "./examples/MaccValidateUpdateContributorRule.json"
          },
          "MaccValidateUpdateDisplayName": {
            "$ref": "./examples/MaccValidateUpdateDisplayName.json"
          },
          "MaccValidateUpdateCommitmentEndAtContributorRule": {
            "$ref": "./examples/MaccValidateUpdateCommitmentEndAtContributorRule.json"
          },
          "MaccValidateUpdateMilestoneCommitment": {
            "$ref": "./examples/MaccValidateUpdateMilestoneCommitment.json"
          },
          "MaccValidateUpdateMilestoneEndDate": {
            "$ref": "./examples/MaccValidateUpdateMilestoneEndDate.json"
          },
          "MaccValidateUpdateMaccAndMilestoneCommitment": {
            "$ref": "./examples/MaccValidateUpdateMaccAndMilestoneCommitment.json"
          },
          "MaccValidateUpdateMaccAndMilestoneEndDate": {
            "$ref": "./examples/MaccValidateUpdateMaccAndMilestoneEndDate.json"
          },
          "MaccValidateUpdateSuppressShortfall": {
            "$ref": "./examples/MaccValidateUpdateSuppressShortfall.json"
          },
          "MaccValidateUpdateUnsuppressShortfall": {
            "$ref": "./examples/MaccValidateUpdateUnsuppressShortfall.json"
          },
          "MaccValidateUpdateSuppressShortfallOnMilestone": {
            "$ref": "./examples/MaccValidateUpdateSuppressShortfallOnMilestone.json"
          },
          "MaccValidateUpdateUnsuppressShortfallOnMilestone": {
            "$ref": "./examples/MaccValidateUpdateUnsuppressShortfallOnMilestone.json"
          },
          "MaccValidateUpdateRemoveMilestones": {
            "$ref": "./examples/MaccValidateUpdateRemoveMilestones.json"
          },
          "MaccValidateUpdateContributor": {
            "$ref": "./examples/MaccValidateUpdateContributor.json"
          },
          "MaccValidateCancel": {
            "$ref": "./examples/MaccValidateCancel.json"
          },
          "MaccValidateCancelWithMilestones": {
            "$ref": "./examples/MaccValidateCancelWithMilestones.json"
          },
          "MaccValidateWriteOffWithMilestones": {
            "$ref": "./examples/MaccValidateWriteOffWithMilestones.json"
          },
          "ConditionalCreditValidateCreate": {
            "$ref": "./examples/ConditionalCreditValidateCreate.json"
          },
          "ConditionalCreditValidateCreateContributor": {
            "$ref": "./examples/ConditionalCreditValidateCreateContributor.json"
          },
          "ConditionalCreditValidateCreateError": {
            "$ref": "./examples/ConditionalCreditValidateCreateError.json"
          },
          "ConditionalCreditValidateCreateMultiple": {
            "$ref": "./examples/ConditionalCreditValidateCreateMultiple.json"
          },
          "ConditionalCreditValidateUpdate": {
            "$ref": "./examples/ConditionalCreditValidateUpdate.json"
          },
          "ConditionalCreditValidateUpdateRemoveMilestone": {
            "$ref": "./examples/ConditionalCreditValidateUpdateRemoveMilestone.json"
          },
          "ConditionalCreditValidateCancel": {
            "$ref": "./examples/ConditionalCreditValidateCancel.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BenefitValidateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/BenefitValidateResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/reservationOrderAliases/{reservationOrderAliasName}": {
      "put": {
        "description": "Create a reservation order alias.",
        "operationId": "ReservationOrderAlias_Create",
        "tags": [
          "Reservation order aliases"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/ReservationOrderAliasCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReservationOrderAliasNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ReservationOrderAliasRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get a reservation order alias.",
        "operationId": "ReservationOrderAlias_Get",
        "tags": [
          "Reservation order aliases"
        ],
        "x-ms-examples": {
          "ReservationOrderAliasGet": {
            "$ref": "./examples/ReservationOrderAliasGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReservationOrderAliasNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/discounts/{discountName}": {
      "put": {
        "description": "Create discount.",
        "operationId": "Discounts_Create",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DiscountsCreatePrimary": {
            "$ref": "./examples/DiscountsCreatePrimary.json"
          },
          "DiscountsCreatePrimaryWithPriceGuarantee": {
            "$ref": "./examples/DiscountsCreatePrimaryWithPriceGuarantee.json"
          },
          "DiscountsCreatePrimaryWithCustomPrice": {
            "$ref": "./examples/DiscountsCreatePrimaryWithCustomPrice.json"
          },
          "DiscountsCreatePrimaryWithCustomPriceMultiCurrency": {
            "$ref": "./examples/DiscountsCreatePrimaryWithCustomPriceMultiCurrency.json"
          },
          "DiscountsCreatePrimaryBackfill": {
            "$ref": "./examples/DiscountsCreatePrimaryBackfill.json"
          },
          "DiscountsCreateAffiliate": {
            "$ref": "./examples/DiscountsCreateAffiliate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DiscountRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/Discount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete discount. Clears the metadata from the user's view.",
        "operationId": "Discounts_Delete",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/DiscountsDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "204": {
            "description": "The resource is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get discount at resource group level",
        "operationId": "Discount_Get",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountGet": {
            "$ref": "./examples/DiscountGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update discounts",
        "operationId": "Discount_Update",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DiscountGet": {
            "$ref": "./examples/DiscountsUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DiscountPatchRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/discounts": {
      "get": {
        "description": "List discounts at resource group level",
        "operationId": "Discounts_ResourceGroupList",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountsResourceGroupList": {
            "$ref": "./examples/DiscountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts under the given resource group.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/discounts": {
      "get": {
        "description": "List discounts at subscription level",
        "operationId": "Discounts_SubscriptionList",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountSubscriptionList": {
            "$ref": "./examples/DiscountList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List discounts at subscription level.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/discounts/{discountName}/cancel": {
      "post": {
        "description": "Cancel discount. Stops applying the benefit.",
        "operationId": "Discounts_Cancel",
        "tags": [
          "Discounts"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DiscountCancel": {
            "$ref": "./examples/DiscountCancel.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiscountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "200": {
            "description": "Get discount under the given resource group.",
            "schema": {
              "$ref": "#/definitions/Discount"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.BillingBenefits/applicableDiscounts": {
      "get": {
        "description": "List discounts that are applicable for a given scope. Currently supported scopes: billing accounts",
        "operationId": "Discounts_ScopeList",
        "tags": [
          "Discounts"
        ],
        "x-ms-examples": {
          "DiscountScopeList": {
            "$ref": "./examples/ApplicableDiscountsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of discounts that are applicable for a given scope.",
            "schema": {
              "$ref": "#/definitions/DiscountList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}": {
      "put": {
        "description": "Create MACC.",
        "operationId": "Maccs_Create",
        "tags": [
          "Macc"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Macc_Create": {
            "$ref": "./examples/MaccCreate.json"
          },
          "MaccWithMilestones_Create": {
            "$ref": "./examples/MaccWithMilestonesCreate.json"
          },
          "Contributor_Create": {
            "$ref": "./examples/ContributorCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MaccPutRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/Macc"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get a MACC.",
        "operationId": "Maccs_Get",
        "tags": [
          "Macc"
        ],
        "x-ms-examples": {
          "Macc_Get": {
            "$ref": "./examples/MaccGet.json"
          },
          "MaccWithShortfall_Get": {
            "$ref": "./examples/MaccWithShortfallGet.json"
          },
          "Contributor_Get": {
            "$ref": "./examples/ContributorGet.json"
          },
          "MaccWithMilestones_Get": {
            "$ref": "./examples/MaccWithMilestonesGet.json"
          },
          "MaccWithMilestonesAndShortfall_Get": {
            "$ref": "./examples/MaccWithMilestonesAndShortfallGet.json"
          },
          "ContributorWithMilestones_GetFromPrimary": {
            "$ref": "./examples/ContributorWithMilestonesGet.json"
          },
          "ContributorWithMilestonesAndShortfall_GetFromPrimary": {
            "$ref": "./examples/ContributorWithMilestonesAndShortfallGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update MACC.",
        "operationId": "Maccs_Update",
        "tags": [
          "Macc"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "MaccCommitment_Update": {
            "$ref": "./examples/MaccNoMilestonesCommitmentUpdate.json"
          },
          "MaccAndMilestoneCommitment_Update": {
            "$ref": "./examples/MaccAndMilestoneCommitmentUpdate.json"
          },
          "MaccEndDate_Update": {
            "$ref": "./examples/MaccNoMilestonesEndDateUpdate.json"
          },
          "MaccAndMilestoneEndDate_Update": {
            "$ref": "./examples/MaccAndMilestoneEndDateUpdate.json"
          },
          "MaccEndContributorRule_Update": {
            "$ref": "./examples/MaccContributorRuleUpdate.json"
          },
          "MaccTags_Update": {
            "$ref": "./examples/MaccTagsUpdate.json"
          },
          "MilestonesCreate_OnExistingMacc": {
            "$ref": "./examples/MilestonesCreateOnExistingMacc.json"
          },
          "MaccDisplayName_Update": {
            "$ref": "./examples/MaccDisplayNameUpdate.json"
          },
          "MaccMultiProperty_Update": {
            "$ref": "./examples/MaccMultiPropertyUpdate.json"
          },
          "MaccAndMilestoneMultiProperty_Update": {
            "$ref": "./examples/MaccAndMilestoneMultiPropertyUpdate.json"
          },
          "MilestonesRemove_FromMacc": {
            "$ref": "./examples/MilestonesRemoveFromMacc.json"
          },
          "MaccSuppressAutomaticShortfall": {
            "$ref": "./examples/MaccSuppressAutomaticShortfall.json"
          },
          "MaccUnsuppressAutomaticShortfall": {
            "$ref": "./examples/MaccUnsuppressAutomaticShortfall.json"
          },
          "MaccMilestoneSuppressAutomaticShortfall": {
            "$ref": "./examples/MaccMilestoneSuppressAutomaticShortfall.json"
          },
          "MaccMilestoneUnsuppressAutomaticShortfall": {
            "$ref": "./examples/MaccMilestoneUnsuppressAutomaticShortfall.json"
          },
          "Contributor_UpdateEndDate": {
            "$ref": "./examples/ContributorEndDateUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MaccPatchRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete MACC.",
        "operationId": "Maccs_Delete",
        "tags": [
          "Macc"
        ],
        "x-ms-examples": {
          "ServiceSpecificIncentives_Delete": {
            "$ref": "./examples/MaccDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "204": {
            "description": "The resource is already deleted."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs": {
      "get": {
        "description": "List MACCs under a resource group for primary service admin.",
        "operationId": "Maccs_ListByResourceGroup",
        "tags": [
          "Macc"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Maccs_ListByResourceGroup": {
            "$ref": "./examples/MaccsListByResourceGroup.json"
          },
          "MaccsWithMilestones_ListByResourceGroup": {
            "$ref": "./examples/MaccsWithMilestonesListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of MACCs under the given resource group for primary service admin.",
            "schema": {
              "$ref": "#/definitions/MaccList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/maccs": {
      "get": {
        "description": "List MACCs under a subscription from primary service tenant.",
        "operationId": "Maccs_ListBySubscription",
        "tags": [
          "Macc"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Maccs_ListBySubscription": {
            "$ref": "./examples/MaccsListBySubscription.json"
          },
          "MaccsWithMilestones_ListBySubscription": {
            "$ref": "./examples/MaccsWithMilestonesListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List MACCs at subscription level from primary service tenant.",
            "schema": {
              "$ref": "#/definitions/MaccList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/cancel": {
      "post": {
        "description": "Represents an operation to cancel MACC contract. This operation does not indicate deletion of the MACC, but rather stops applying the benefit to the account.",
        "operationId": "Maccs_Cancel",
        "tags": [
          "Macc"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Macc_Cancel": {
            "$ref": "./examples/MaccCancel.json"
          },
          "MaccWithMilestones_Cancel": {
            "$ref": "./examples/MaccWithMilestonesCancel.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/writeOff": {
      "post": {
        "description": "Operation to waive a customer's pending MACC balance (Shortfall) from their account, ensuring they are not charged for the outstanding amount.",
        "operationId": "Maccs_WriteOff",
        "tags": [
          "Macc"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Macc_WriteOff": {
            "$ref": "./examples/MaccWriteOff.json"
          },
          "MaccWithMilestones_WriteOff": {
            "$ref": "./examples/MaccWithMilestonesWriteOff.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/contributors/{contributorName}": {
      "get": {
        "description": "Get a contributor for primary service admin",
        "operationId": "Contributors_GetFromPrimary",
        "tags": [
          "Macc"
        ],
        "x-ms-examples": {
          "Contributor_GetFromPrimary": {
            "$ref": "./examples/ContributorGetFromPrimary.json"
          },
          "Contributor_GetFromPrimary_WithMilestones": {
            "$ref": "./examples/ContributorWithMilestonesGetFromPrimary.json"
          },
          "Contributor_GetFromPrimary_WithMilestonesAndShortfall": {
            "$ref": "./examples/ContributorWithMilestonesAndShortfallGetFromPrimary.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "#/parameters/ContributorNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/Contributor"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/contributors": {
      "get": {
        "description": "List contributors under a MACC for primary service admin",
        "operationId": "Contributors_ListFromPrimary",
        "tags": [
          "Macc"
        ],
        "x-ms-examples": {
          "Contributors_ListFromPrimary": {
            "$ref": "./examples/ContributorsListFromPrimary.json"
          },
          "ContributorsWithMilestones_ListFromPrimary": {
            "$ref": "./examples/ContributorsWithMilestonesListFromPrimary.json"
          },
          "ContributorsWithMilestonesAndShortfall_ListFromPrimary": {
            "$ref": "./examples/ContributorsWithMilestonesAndShortfallListFromPrimary.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List contributors under a MACC for primary service admin.",
            "schema": {
              "$ref": "#/definitions/ContributorList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/maccs/{maccName}/chargeShortfall": {
      "post": {
        "description": "Operation to charge shortfall to a customer's account, ensuring they are charged for the outstanding amount of MACC credit.",
        "operationId": "Maccs_ChargeShortfall",
        "tags": [
          "Macc"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Maccs_ChargeShortfall": {
            "$ref": "./examples/MaccChargeShortfall.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MaccNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ChargeShortfallRequestParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/Macc"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/listSellerResources": {
      "post": {
        "description": "List maccs by billing account",
        "operationId": "SellerResource_List",
        "tags": [
          "Macc"
        ],
        "x-ms-examples": {
          "SellerViewContributors": {
            "$ref": "./examples/MaccSellerViewContributors.json"
          },
          "SellerViewContributorsWithMilestones": {
            "$ref": "./examples/MaccSellerViewContributorsWithMilestones.json"
          },
          "SellerViewContributorsWithMilestonesAndShortfall": {
            "$ref": "./examples/MaccSellerViewContributorsWithMilestonesAndShortfall.json"
          },
          "SellerViewNoContributors": {
            "$ref": "./examples/MaccSellerViewNoContributors.json"
          },
          "SellerViewWithMilestonesNoContributors": {
            "$ref": "./examples/MaccSellerViewWithMilestonesNoContributors.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SellerResourceListRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Macc"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.BillingBenefits/applicableMaccs": {
      "get": {
        "description": "List maccs that are applicable for a given billing account.",
        "operationId": "ApplicableMaccs_List",
        "tags": [
          "Maccs"
        ],
        "x-ms-examples": {
          "DiscountScopeList": {
            "$ref": "./examples/ApplicableMaccsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of maccs that are applicable for a given billing account.",
            "schema": {
              "$ref": "#/definitions/ApplicableMaccList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.BillingBenefits/applicableMaccs/{systemId}/providers/Microsoft.BillingBenefits/applicableContributors": {
      "get": {
        "description": "List contributors under applicable MACCs for a given billing account.",
        "operationId": "Contributors_ListFromApplicableMacc",
        "tags": [
          "Contributors"
        ],
        "x-ms-examples": {
          "ContributorsScopeList": {
            "$ref": "./examples/ContributorsListFromApplicableMacc.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/SystemIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of contributors under applicable MACCs for a given billing account.",
            "schema": {
              "$ref": "#/definitions/ContributorList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}": {
      "put": {
        "description": "Create a credit.",
        "operationId": "Credits_Create",
        "tags": [
          "Credits"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "x-ms-examples": {
          "PromotionalCreditCreate": {
            "$ref": "./examples/PromotionalCreditCreate.json"
          },
          "EndCustomerInvestmentFundCreditCreate": {
            "$ref": "./examples/EndCustomerInvestmentFundCreditCreate.json"
          },
          "CreditCreate": {
            "$ref": "./examples/CreditCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CreditPutRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been updated.",
            "schema": {
              "$ref": "#/definitions/Credit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          },
          "201": {
            "description": "The resource is created.",
            "schema": {
              "$ref": "#/definitions/Credit"
            },
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          }
        }
      },
      "get": {
        "description": "Get a credit.",
        "operationId": "Credits_Get",
        "tags": [
          "Credits"
        ],
        "x-ms-examples": {
          "CreditGet": {
            "$ref": "./examples/CreditGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/Credit"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a credit.",
        "operationId": "Credits_Update",
        "tags": [
          "Credits"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "CreditTagsUpdate": {
            "$ref": "./examples/CreditTagsUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CreditPatchRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Credit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete a credit.",
        "operationId": "Credits_Delete",
        "tags": [
          "Credits"
        ],
        "x-ms-examples": {
          "CreditDelete": {
            "$ref": "./examples/CreditDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "204": {
            "description": "Resource does not exist and the request is well formed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits": {
      "get": {
        "description": "List Credits under a resource group from primary service admin.",
        "operationId": "Credits_ListByResourceGroup",
        "tags": [
          "Credits"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CreditsListByResourceGroup": {
            "$ref": "./examples/CreditsListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/CreditsList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BillingBenefits/credits": {
      "get": {
        "description": "List credits under a subscription from primary service tenant.",
        "operationId": "Credits_ListBySubscription",
        "tags": [
          "Credits"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CreditsListBySubscription": {
            "$ref": "./examples/CreditsListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/CreditsList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}/cancel": {
      "post": {
        "description": "Cancels a credit.",
        "operationId": "Credits_Cancel",
        "tags": [
          "Credits"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "CreditCancel": {
            "$ref": "./examples/CreditCancel.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Credit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}/sources/{sourceName}": {
      "put": {
        "description": "Create a credit source.",
        "operationId": "Sources_Create",
        "tags": [
          "Credits"
        ],
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "CreditSourceCreate": {
            "$ref": "./examples/CreditSourceCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "#/parameters/SourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CreditSourcePutRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been updated.",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "201": {
            "description": "The resource is created.",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get a credit source.",
        "operationId": "Sources_Get",
        "tags": [
          "Credits"
        ],
        "x-ms-examples": {
          "CreditSourceGet": {
            "$ref": "./examples/CreditSourceGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "#/parameters/SourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a credit source.",
        "operationId": "Sources_Update",
        "tags": [
          "Credits"
        ],
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "CreditSourceTagsUpdate": {
            "$ref": "./examples/CreditSourceTagsUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "#/parameters/SourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/CreditSourcePatchRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreditSource"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a credit source.",
        "operationId": "Sources_Delete",
        "tags": [
          "Credits"
        ],
        "x-ms-examples": {
          "CreditSourceDelete": {
            "$ref": "./examples/CreditSourceDelete.json"
          }
        },
        "x-ms-long-running-operation": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "#/parameters/SourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The deletion has succeeded."
          },
          "204": {
            "description": "Resource does not exist and the request is well formed."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/credits/{creditName}/sources": {
      "get": {
        "description": "List credit sources for a credit under a resource group from primary service admin.",
        "operationId": "Sources_ListByCredit",
        "tags": [
          "Credits"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CreditSourcesListByCredit": {
            "$ref": "./examples/CreditSourcesListByCredit.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/CreditSourcesList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.BillingBenefits/applicableCredits": {
      "get": {
        "description": "List applicable credits for the provided scope. Currently supported scopes: BillingAccountResourceId",
        "operationId": "Credits_ListApplicable",
        "tags": [
          "Credits"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CreditSourcesListByCredit": {
            "$ref": "./examples/CreditListApplicableCredits.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ScopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/CreditsList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BillingBenefits/conditionalCredits/{conditionalCreditName}": {
      "put": {
        "description": "Create or update a conditional credit.",
        "operationId": "ConditionalCredits_CreateOrUpdate",
        "tags": [
          "Conditional Credits"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ConditionalCreditCreatePrimary": {
            "$ref": "./examples/ConditionalCreditCreatePrimary.json"
          },
          "ConditionalCreditCreateContributor": {
            "$ref": "./examples/ConditionalCreditCreateContributor.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConditionalCreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ConditionalCreditRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              }
            }
          }
        }
      },
      "get": {
        "description": "Get a conditional credit.",
        "operationId": "ConditionalCredits_Get",
        "tags": [
          "Conditional Credits"
        ],
        "x-ms-examples": {
          "ConditionalCreditGet": {
            "$ref": "./examples/ConditionalCreditGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConditionalCreditNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/ConditionalCredit"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update a conditional credit.",
        "operationId": "ConditionalCredits_Update",
        "tags": [
          "Conditional Credits"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ConditionalCreditUpdate": {
            "$ref": "./examples/ConditionalCreditUpdate.json"
          },
          "ConditionalCreditUpdateContributor": {
            "$ref": "./examples/ConditionalCreditUpdateContributor.json"
          },
          "ConditionalCreditUpdateContributorEndDateOnly": {
            "$ref": "./examples/ConditionalCreditUpdateContributorEndDateOnly.json"
          }
        },
        "parameters": [
          {
[...]
