{
  "swagger": "2.0",
  "info": {
    "title": "FeatureClient",
    "version": "2015-12-01",
    "description": "Azure Feature Exposure Control (AFEC) provides a mechanism for the resource providers to control feature exposure to users. Resource providers typically use this mechanism to provide public/private preview for new features prior to making them generally available. Users need to explicitly register for AFEC features to get access to such functionality."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Features/features": {
      "get": {
        "tags": [
          "Features"
        ],
        "operationId": "Features_ListAll",
        "description": "Gets all the preview features that are available through AFEC for the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array containing metadata for each feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.",
            "schema": {
              "$ref": "#/definitions/FeatureOperationsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features": {
      "get": {
        "tags": [
          "Features"
        ],
        "operationId": "Features_List",
        "description": "Gets all the preview features in a provider namespace that are available through AFEC for the subscription.",
        "parameters": [
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider for getting features."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array containing metadata for each feature in the resource provider. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.",
            "schema": {
              "$ref": "#/definitions/FeatureOperationsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features/{featureName}": {
      "get": {
        "tags": [
          "Features"
        ],
        "operationId": "Features_Get",
        "description": "Gets the preview feature with the specified name.",
        "parameters": [
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The resource provider namespace for the feature."
          },
          {
            "name": "featureName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the feature to get."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns metadata about the feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.",
            "schema": {
              "$ref": "#/definitions/FeatureResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Features/providers/{resourceProviderNamespace}/features/{featureName}/register": {
      "post": {
        "tags": [
          "Features"
        ],
        "operationId": "Features_Register",
        "description": "Registers the preview feature for the subscription.",
        "parameters": [
          {
            "name": "resourceProviderNamespace",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The namespace of the resource provider."
          },
          {
            "name": "featureName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the feature to register."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns metadata about the registerd feature. The metadata includes the name of the feature, the registration state, the resource ID, and resource type.",
            "schema": {
              "$ref": "#/definitions/FeatureResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "FeatureProperties": {
      "properties": {
        "state": {
          "type": "string",
          "description": "The registration state of the feature for the subscription."
        }
      },
      "description": "Information about feature."
    },
    "FeatureResult": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the feature."
        },
        "properties": {
          "$ref": "#/definitions/FeatureProperties",
          "description": "Properties of the previewed feature."
        },
        "id": {
          "type": "string",
          "description": "The resource ID of the feature."
        },
        "type": {
          "type": "string",
          "description": "The resource type of the feature."
        }
      },
      "description": "Previewed feature information."
    },
    "FeatureOperationsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeatureResult"
          },
          "description": "The array of features."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of previewed features."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    }
  }
}