{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-01-01",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DatabaseSqlVulnerabilityAssessmentScans"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/scans": {
      "get": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentScans_ListBySqlVulnerabilityAssessments",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentScans"
        ],
        "description": "Lists the vulnerability assessment scans of a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentScanRecordListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the list of a database vulnerability assessment scan records": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentScanRecordsListByDatabase.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}": {
      "get": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentScans_Get",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentScans"
        ],
        "description": "Get a database vulnerability assessment scan result.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The vulnerability assessment scan Id of the scan to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentScanRecord"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a database's vulnerability assessment scan.": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentScan.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SqlVulnerabilityAssessmentScanError": {
      "type": "object",
      "description": "Properties of a vulnerability assessment scan error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        }
      }
    },
    "SqlVulnerabilityAssessmentScanRecord": {
      "type": "object",
      "description": "A vulnerability assessment scan record.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlVulnerabilityAssessmentScanRecordProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SqlVulnerabilityAssessmentScanRecordListResult": {
      "type": "object",
      "description": "The response of a SqlVulnerabilityAssessmentScanRecord list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SqlVulnerabilityAssessmentScanRecord items on this page",
          "items": {
            "$ref": "#/definitions/SqlVulnerabilityAssessmentScanRecord"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SqlVulnerabilityAssessmentScanRecordProperties": {
      "type": "object",
      "description": "Properties of a vulnerability assessment scan record.",
      "properties": {
        "scanId": {
          "type": "string",
          "description": "The scan ID.",
          "readOnly": true
        },
        "triggerType": {
          "$ref": "./common.json#/definitions/VulnerabilityAssessmentScanTriggerType",
          "description": "The scan trigger type.",
          "readOnly": true
        },
        "state": {
          "$ref": "./common.json#/definitions/VulnerabilityAssessmentScanState",
          "description": "The scan status.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The scan start time (UTC).",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The scan end time (UTC).",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "description": "The scan errors.",
          "items": {
            "$ref": "#/definitions/SqlVulnerabilityAssessmentScanError"
          },
          "readOnly": true
        },
        "server": {
          "type": "string",
          "description": "The server name.",
          "readOnly": true
        },
        "database": {
          "type": "string",
          "description": "The database name.",
          "readOnly": true
        },
        "sqlVersion": {
          "type": "string",
          "description": "The SQL version.",
          "readOnly": true
        },
        "highSeverityFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failed rules with high severity.",
          "readOnly": true
        },
        "mediumSeverityFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failed rules with medium severity.",
          "readOnly": true
        },
        "lowSeverityFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of failed rules with low severity.",
          "readOnly": true
        },
        "totalPassedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of total passed rules.",
          "readOnly": true
        },
        "totalFailedRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of total failed rules.",
          "readOnly": true
        },
        "totalRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of total rules assessed.",
          "readOnly": true
        },
        "isBaselineApplied": {
          "type": "boolean",
          "description": "Baseline created for this database, and has one or more rules.",
          "readOnly": true
        },
        "lastScanTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last scan time.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
