{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-01-01",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DatabaseExtensions"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions": {
      "get": {
        "operationId": "DatabaseExtensions_ListByDatabase",
        "tags": [
          "DatabaseExtensions"
        ],
        "description": "List database extension. This will return an empty list as it is not supported.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ImportExportExtensionsOperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List database extensions.": {
            "$ref": "./examples/ListDatabaseExtensions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/extensions/{extensionName}": {
      "get": {
        "operationId": "DatabaseExtensions_Get",
        "tags": [
          "DatabaseExtensions"
        ],
        "description": "Gets a database extension. This will return resource not found as it is not supported.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get database extensions.": {
            "$ref": "./examples/GetDatabaseExtensions.json"
          }
        }
      },
      "put": {
        "operationId": "DatabaseExtensions_CreateOrUpdate",
        "tags": [
          "DatabaseExtensions"
        ],
        "description": "Perform a database extension operation, like database import, database export, or polybase import",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The database import request parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseExtensions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ImportExportExtensionsOperationResult' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImportExportExtensionsOperationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update database extensions.": {
            "$ref": "./examples/CreateOrUpdateDatabaseExtensions.json"
          },
          "Export database using database extension with Managed Identity.": {
            "$ref": "./examples/ExportDatabaseUsingDatabaseExtensionsWithManagedIdentity.json"
          },
          "Export database using database extension.": {
            "$ref": "./examples/ExportDatabaseUsingDatabaseExtensions.json"
          },
          "Import database using database extension.": {
            "$ref": "./examples/ImportDatabaseUsingDatabaseExtensions.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ImportExportExtensionsOperationResult"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "DatabaseExtensions": {
      "type": "object",
      "description": "An Import, Export, or PolybaseImport resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseExtensionsProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatabaseExtensionsProperties": {
      "type": "object",
      "description": "Contains the database information after a successful Import, Export, or PolybaseImport",
      "properties": {
        "operationMode": {
          "$ref": "./common.json#/definitions/OperationMode",
          "description": "Operation mode of the operation: Import, Export, or PolybaseImport.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageKeyType": {
          "$ref": "./common.json#/definitions/StorageKeyType",
          "description": "Storage key type: StorageAccessKey, SharedAccessKey or ManagedIdentity.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageKey": {
          "type": "string",
          "description": "Storage key for the storage account. If StorageKeyType is ManagedIdentity, this field should specify the Managed Identity's resource ID.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageUri": {
          "type": "string",
          "description": "Storage Uri for the storage account.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLogin": {
          "type": "string",
          "description": "Administrator login name. If AuthenticationType is ManagedIdentity, this field should specify the Managed Identity's resource ID.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "Administrator login password. If AuthenticationType is ManagedIdentity, this field should not be specified.",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-secret": true
        },
        "authenticationType": {
          "type": "string",
          "description": "Authentication type used to access the SQL: Sql, ADPassword or ManagedIdentity.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "databaseEdition": {
          "type": "string",
          "description": "Database edition for the newly created database in the case of an import operation.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "serviceObjectiveName": {
          "type": "string",
          "description": "Database service level objective for the newly created database in the case of an import operation.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "maxSizeBytes": {
          "type": "string",
          "description": "Database max size in bytes for the newly created database in the case of an import operation.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "networkIsolation": {
          "$ref": "./common.json#/definitions/NetworkIsolationSettings",
          "description": "Optional resource information to enable network isolation for request.",
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "required": [
        "operationMode",
        "storageKeyType",
        "storageKey",
        "storageUri"
      ]
    },
    "ImportExportExtensionsOperationListResult": {
      "type": "object",
      "description": "Import export operation extensions list.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Array of results.",
          "items": {
            "$ref": "#/definitions/ImportExportExtensionsOperationResult"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Link to retrieve next page of results.",
          "readOnly": true
        }
      }
    },
    "ImportExportExtensionsOperationResult": {
      "type": "object",
      "description": "An Extension operation result resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ImportExportExtensionsOperationResultProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ImportExportExtensionsOperationResultProperties": {
      "type": "object",
      "description": "Contains the operation result properties for import/export operation.",
      "properties": {
        "requestId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "Request Id.",
          "readOnly": true
        },
        "requestType": {
          "type": "string",
          "description": "Request type.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last modified time.",
          "readOnly": true
        },
        "serverName": {
          "type": "string",
          "description": "Server name.",
          "readOnly": true
        },
        "databaseName": {
          "type": "string",
          "description": "Database name.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Operation status.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message.",
          "readOnly": true
        },
        "queuedTime": {
          "type": "string",
          "description": "Queued time.",
          "readOnly": true
        },
        "blobUri": {
          "type": "string",
          "description": "Blob URI.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "Gets the status of private endpoints associated with this request.",
          "items": {
            "$ref": "./common.json#/definitions/PrivateEndpointConnectionRequestStatus"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
