{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-01-01",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DatabaseAdvisors"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors": {
      "get": {
        "operationId": "DatabaseAdvisors_ListByDatabase",
        "tags": [
          "DatabaseAdvisors"
        ],
        "description": "Gets a list of database advisors.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The child resources to include in the response.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Advisor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List of database advisors": {
            "$ref": "./examples/DatabaseAdvisorList.json"
          },
          "List of database recommended actions for all advisors": {
            "$ref": "./examples/DatabaseRecommendedActionListExpand.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/advisors/{advisorName}": {
      "get": {
        "operationId": "DatabaseAdvisors_Get",
        "tags": [
          "DatabaseAdvisors"
        ],
        "description": "Gets a database advisor.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "advisorName",
            "in": "path",
            "description": "The name of the Database Advisor.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Advisor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get database advisor": {
            "$ref": "./examples/DatabaseAdvisorGet.json"
          }
        }
      },
      "patch": {
        "operationId": "DatabaseAdvisors_Update",
        "tags": [
          "DatabaseAdvisors"
        ],
        "description": "Updates a database advisor.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "advisorName",
            "in": "path",
            "description": "The name of the Database Advisor.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested advisor resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Advisor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Advisor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update database advisor": {
            "$ref": "./examples/DatabaseAdvisorUpdate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Advisor": {
      "type": "object",
      "description": "Database, Server or Elastic Pool Advisor.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdvisorProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Resource kind.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AdvisorProperties": {
      "type": "object",
      "description": "Properties for a Database, Server or Elastic Pool Advisor.",
      "properties": {
        "advisorStatus": {
          "$ref": "./common.json#/definitions/AdvisorStatus",
          "description": "Gets the status of availability of this advisor to customers. Possible values are 'GA', 'PublicPreview', 'LimitedPublicPreview' and 'PrivatePreview'.",
          "readOnly": true
        },
        "autoExecuteStatus": {
          "$ref": "./common.json#/definitions/AutoExecuteStatus",
          "description": "Gets the auto-execute status (whether to let the system execute the recommendations) of this advisor. Possible values are 'Enabled' and 'Disabled'"
        },
        "autoExecuteStatusInheritedFrom": {
          "$ref": "./common.json#/definitions/AutoExecuteStatusInheritedFrom",
          "description": "Gets the resource from which current value of auto-execute status is inherited. Auto-execute status can be set on (and inherited from) different levels in the resource hierarchy. Possible values are 'Subscription', 'Server', 'ElasticPool', 'Database' and 'Default' (when status is not explicitly set on any level).",
          "readOnly": true
        },
        "recommendationsStatus": {
          "type": "string",
          "description": "Gets that status of recommendations for this advisor and reason for not having any recommendations. Possible values include, but are not limited to, 'Ok' (Recommendations available),LowActivity (not enough workload to analyze), 'DbSeemsTuned' (Database is doing well), etc.",
          "readOnly": true
        },
        "lastChecked": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when the current resource was analyzed for recommendations by this advisor.",
          "readOnly": true
        },
        "recommendedActions": {
          "type": "array",
          "description": "Gets the recommended actions for this advisor.",
          "items": {
            "$ref": "#/definitions/RecommendedAction"
          },
          "readOnly": true
        }
      },
      "required": [
        "autoExecuteStatus"
      ]
    },
    "RecommendedAction": {
      "type": "object",
      "description": "Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendedActionProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Resource kind.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RecommendedActionErrorInfo": {
      "type": "object",
      "description": "Contains error information for an Azure SQL Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Gets the reason why the recommended action was put to error state. e.g., DatabaseHasQdsOff, IndexAlreadyExists",
          "readOnly": true
        },
        "isRetryable": {
          "$ref": "./common.json#/definitions/IsRetryable",
          "description": "Gets whether the error could be ignored and recommended action could be retried. Possible values are: Yes/No",
          "readOnly": true
        }
      }
    },
    "RecommendedActionImpactRecord": {
      "type": "object",
      "description": "Contains information of estimated or observed impact on various metrics for an Azure SQL Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Gets the name of the impact dimension. e.g., CPUChange, DiskSpaceChange, NumberOfQueriesAffected.",
          "readOnly": true
        },
        "unit": {
          "type": "string",
          "description": "Gets the name of the impact dimension. e.g., CPUChange, DiskSpaceChange, NumberOfQueriesAffected.",
          "readOnly": true
        },
        "absoluteValue": {
          "type": "number",
          "format": "double",
          "description": "Gets the absolute value of this dimension if applicable. e.g., Number of Queries affected",
          "readOnly": true
        },
        "changeValueAbsolute": {
          "type": "number",
          "format": "double",
          "description": "Gets the absolute change in the value of this dimension. e.g., Absolute Disk space change in Megabytes",
          "readOnly": true
        },
        "changeValueRelative": {
          "type": "number",
          "format": "double",
          "description": "Gets the relative change in the value of this dimension. e.g., Relative Disk space change in Percentage",
          "readOnly": true
        }
      }
    },
    "RecommendedActionImplementationInfo": {
      "type": "object",
      "description": "Contains information for manual implementation for an Azure SQL Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "method": {
          "$ref": "./common.json#/definitions/ImplementationMethod",
          "description": "Gets the method in which this recommended action can be manually implemented. e.g., TSql, AzurePowerShell.",
          "readOnly": true
        },
        "script": {
          "type": "string",
          "description": "Gets the manual implementation script. e.g., T-SQL script that could be executed on the database.",
          "readOnly": true
        }
      }
    },
    "RecommendedActionMetricInfo": {
      "type": "object",
      "description": "Contains time series of various impacted metrics for an Azure SQL Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "Gets the name of the metric. e.g., CPU, Number of Queries.",
          "readOnly": true
        },
        "unit": {
          "type": "string",
          "description": "Gets the unit in which metric is measured. e.g., DTU, Frequency",
          "readOnly": true
        },
        "timeGrain": {
          "type": "string",
          "description": "Gets the duration of time interval for the value given by this MetricInfo. e.g., PT1H (1 hour)",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the start time of time interval given by this MetricInfo.",
          "readOnly": true
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Gets the value of the metric in the time interval given by this MetricInfo.",
          "readOnly": true
        }
      }
    },
    "RecommendedActionProperties": {
      "type": "object",
      "description": "Properties for a Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "recommendationReason": {
          "type": "string",
          "description": "Gets the reason for recommending this action. e.g., DuplicateIndex",
          "readOnly": true
        },
        "validSince": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time since when this recommended action is valid.",
          "readOnly": true
        },
        "lastRefresh": {
          "type": "string",
          "format": "date-time",
          "description": "Gets time when this recommended action was last refreshed.",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/RecommendedActionStateInfo",
          "description": "Gets the info of the current state the recommended action is in."
        },
        "isExecutableAction": {
          "type": "boolean",
          "description": "Gets if this recommended action is actionable by user",
          "readOnly": true
        },
        "isRevertableAction": {
          "type": "boolean",
          "description": "Gets if changes applied by this recommended action can be reverted by user",
          "readOnly": true
        },
        "isArchivedAction": {
          "type": "boolean",
          "description": "Gets if this recommended action was suggested some time ago but user chose to ignore this and system added a new recommended action again.",
          "readOnly": true
        },
        "executeActionStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when system started applying this recommended action on the user resource. e.g., index creation start time",
          "readOnly": true
        },
        "executeActionDuration": {
          "type": "string",
          "format": "duration",
          "description": "Gets the time taken for applying this recommended action on user resource. e.g., time taken for index creation",
          "readOnly": true
        },
        "revertActionStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when system started reverting changes of this recommended action on user resource. e.g., time when index drop is executed.",
          "readOnly": true
        },
        "revertActionDuration": {
          "type": "string",
          "format": "duration",
          "description": "Gets the time taken for reverting changes of this recommended action on user resource. e.g., time taken for dropping the created index.",
          "readOnly": true
        },
        "executeActionInitiatedBy": {
          "$ref": "./common.json#/definitions/RecommendedActionInitiatedBy",
          "description": "Gets if approval for applying this recommended action was given by user/system.",
          "readOnly": true
        },
        "executeActionInitiatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when this recommended action was approved for execution.",
          "readOnly": true
        },
        "revertActionInitiatedBy": {
          "$ref": "./common.json#/definitions/RecommendedActionInitiatedBy",
          "description": "Gets if approval for reverting this recommended action was given by user/system.",
          "readOnly": true
        },
        "revertActionInitiatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when this recommended action was approved for revert.",
          "readOnly": true
        },
        "score": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the impact of this recommended action. Possible values are 1 - Low impact, 2 - Medium Impact and 3 - High Impact",
          "readOnly": true
        },
        "implementationDetails": {
          "$ref": "#/definitions/RecommendedActionImplementationInfo",
          "description": "Gets the implementation details of this recommended action for user to apply it manually.",
          "readOnly": true
        },
        "errorDetails": {
          "$ref": "#/definitions/RecommendedActionErrorInfo",
          "description": "Gets the error details if and why this recommended action is put to error state.",
          "readOnly": true
        },
        "estimatedImpact": {
          "type": "array",
          "description": "Gets the estimated impact info for this recommended action e.g., Estimated CPU gain, Estimated Disk Space change",
          "items": {
            "$ref": "#/definitions/RecommendedActionImpactRecord"
          },
          "readOnly": true
        },
        "observedImpact": {
          "type": "array",
          "description": "Gets the observed/actual impact info for this recommended action e.g., Actual CPU gain, Actual Disk Space change",
          "items": {
            "$ref": "#/definitions/RecommendedActionImpactRecord"
          },
          "readOnly": true
        },
        "timeSeries": {
          "type": "array",
          "description": "Gets the time series info of metrics for this recommended action e.g., CPU consumption time series",
          "items": {
            "$ref": "#/definitions/RecommendedActionMetricInfo"
          },
          "readOnly": true
        },
        "linkedObjects": {
          "type": "array",
          "description": "Gets the linked objects, if any.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "details": {
          "type": "object",
          "description": "Gets additional details specific to this recommended action.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "state"
      ]
    },
    "RecommendedActionStateInfo": {
      "type": "object",
      "description": "Contains information of current state for an Azure SQL Database, Server or Elastic Pool Recommended Action.",
      "properties": {
        "currentValue": {
          "$ref": "./common.json#/definitions/RecommendedActionCurrentState",
          "description": "Current state the recommended action is in. Some commonly used states are: Active      -> recommended action is active and no action has been taken yet. Pending     -> recommended action is approved for and is awaiting execution. Executing   -> recommended action is being applied on the user database. Verifying   -> recommended action was applied and is being verified of its usefulness by the system. Success     -> recommended action was applied and improvement found during verification. Pending Revert  -> verification found little or no improvement so recommended action is queued for revert or user has manually reverted. Reverting   -> changes made while applying recommended action are being reverted on the user database. Reverted    -> successfully reverted the changes made by recommended action on user database. Ignored     -> user explicitly ignored/discarded the recommended action."
        },
        "actionInitiatedBy": {
          "$ref": "./common.json#/definitions/RecommendedActionInitiatedBy",
          "description": "Gets who initiated the execution of this recommended action. Possible Value are: User    -> When user explicity notified system to apply the recommended action. System  -> When auto-execute status of this advisor was set to 'Enabled', in which case the system applied it.",
          "readOnly": true
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the time when the state was last modified",
          "readOnly": true
        }
      },
      "required": [
        "currentValue"
      ]
    }
  },
  "parameters": {}
}
