{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-01-01",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "LongTermRetentionPolicies"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies": {
      "get": {
        "operationId": "LongTermRetentionPolicies_ListByDatabase",
        "tags": [
          "LongTermRetentionPolicies"
        ],
        "description": "Gets a database's long term retention policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LongTermRetentionPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the long term retention policy for the database.": {
            "$ref": "./examples/LongTermRetentionPolicyListByDatabase.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies/{policyName}": {
      "get": {
        "operationId": "LongTermRetentionPolicies_Get",
        "tags": [
          "LongTermRetentionPolicies"
        ],
        "description": "Gets a database's long term retention policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The policy name. Should always be Default.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "LongTermRetentionPolicyName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LongTermRetentionPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the long term retention policy for the database.": {
            "$ref": "./examples/LongTermRetentionPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "LongTermRetentionPolicies_CreateOrUpdate",
        "tags": [
          "LongTermRetentionPolicies"
        ],
        "description": "Set or update a database's long term retention policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The policy name. Should always be Default.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "LongTermRetentionPolicyName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The long term retention policy info.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LongTermRetentionPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LongTermRetentionPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LongTermRetentionPolicy"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the long term retention policy for the database.": {
            "$ref": "./examples/LongTermRetentionPolicyCreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/LongTermRetentionPolicy"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "LongTermRetentionPolicy": {
      "type": "object",
      "description": "A long term retention policy.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LongTermRetentionPolicyProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LongTermRetentionPolicyListResult": {
      "type": "object",
      "description": "The response of a LongTermRetentionPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LongTermRetentionPolicy items on this page",
          "items": {
            "$ref": "#/definitions/LongTermRetentionPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LongTermRetentionPolicyProperties": {
      "type": "object",
      "description": "Properties of a long term retention policy",
      "properties": {
        "timeBasedImmutability": {
          "$ref": "./common.json#/definitions/TimeBasedImmutability",
          "description": "The setting for whether to enable time-based immutability for future backups. When set, future backups will have TimeBasedImmutability enabled."
        },
        "timeBasedImmutabilityMode": {
          "$ref": "./common.json#/definitions/TimeBasedImmutabilityMode",
          "description": "The setting for time-based immutability mode for future backup (Value can be either Locked or UnLocked. Only effective if TimeBasedImmutability is enabled). Caution: Immutability of LTR backup cannot be removed if TimeBasedImmutabilityMode is Locked."
        },
        "weeklyRetention": {
          "type": "string",
          "description": "The weekly retention policy for an LTR backup in an ISO 8601 format."
        },
        "monthlyRetention": {
          "type": "string",
          "description": "The monthly retention policy for an LTR backup in an ISO 8601 format."
        },
        "yearlyRetention": {
          "type": "string",
          "description": "The yearly retention policy for an LTR backup in an ISO 8601 format."
        },
        "weekOfYear": {
          "type": "integer",
          "format": "int32",
          "description": "The week of year to take the yearly backup in an ISO 8601 format."
        }
      }
    }
  },
  "parameters": {}
}
