{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-01-01",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_ListByServer",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a list of NSP configurations for a server.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List NSP configs by server": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationsListByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/networkSecurityPerimeterConfigurations/{nspConfigName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Get",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets a network security perimeter configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nspConfigName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an NSP config by name": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/networkSecurityPerimeterConfigurations/{nspConfigName}/reconcile": {
      "post": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Reconcile",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconcile network security perimeter configuration for SQL Resource Provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nspConfigName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Reconcile NSP Config": {
            "$ref": "./examples/NetworkSecurityPerimeterConfigurationsReconcile.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/NetworkSecurityPerimeterConfiguration"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "NSPConfigAccessRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NSPConfigAccessRuleProperties"
        }
      }
    },
    "NSPConfigAccessRuleProperties": {
      "type": "object",
      "properties": {
        "direction": {
          "type": "string"
        },
        "addressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fullyQualifiedDomainNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networkSecurityPerimeters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPConfigNetworkSecurityPerimeterRule"
          }
        },
        "serviceTags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NSPConfigAssociation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accessMode": {
          "type": "string"
        }
      }
    },
    "NSPConfigNetworkSecurityPerimeterRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "perimeterGuid": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "NSPConfigPerimeter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "perimeterGuid": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "NSPConfigProfile": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "accessRulesVersion": {
          "type": "string"
        },
        "accessRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPConfigAccessRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NSPProvisioningIssue": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/NSPProvisioningIssueProperties"
        }
      }
    },
    "NSPProvisioningIssueProperties": {
      "type": "object",
      "properties": {
        "issueType": {
          "type": "string"
        },
        "severity": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "suggestedResourceIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestedAccessRules": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "NetworkSecurityPerimeterConfiguration": {
      "type": "object",
      "description": "NSP Configuration for a server.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NetworkSecurityPerimeterConfigurationListResult": {
      "type": "object",
      "description": "The response of a NetworkSecurityPerimeterConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkSecurityPerimeterConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkSecurityPerimeterConfigurationProperties": {
      "type": "object",
      "description": "The properties of an NSP config.",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true
        },
        "networkSecurityPerimeter": {
          "$ref": "#/definitions/NSPConfigPerimeter"
        },
        "resourceAssociation": {
          "$ref": "#/definitions/NSPConfigAssociation"
        },
        "profile": {
          "$ref": "#/definitions/NSPConfigProfile"
        },
        "provisioningIssues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NSPProvisioningIssue"
          },
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
