{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-01-01",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SqlVulnerabilityAssessmentRuleBaseline"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/baselines/{baselineName}/rules": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentRuleBaseline_ListByBaseline",
        "tags": [
          "SqlVulnerabilityAssessmentRuleBaseline"
        ],
        "description": "Gets a system database's sql vulnerability assessment rule baseline.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "baselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "BaselineName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "systemDatabaseName",
            "in": "query",
            "description": "The vulnerability assessment system database name.",
            "required": true,
            "type": "string",
            "enum": [
              "master"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentSystemDatabaseName",
              "modelAsString": false,
              "values": [
                {
                  "name": "master",
                  "value": "master",
                  "description": "master"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/DatabaseSqlVulnerabilityAssessmentRuleBaselineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a system database's sql vulnerability assessment rule baseline.": {
            "$ref": "./examples/SqlVulnerabilityAssessmentRuleBaselineListByBaseline.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/baselines/{baselineName}/rules/{ruleId}": {
      "get": {
        "operationId": "SqlVulnerabilityAssessmentRuleBaseline_Get",
        "tags": [
          "SqlVulnerabilityAssessmentRuleBaseline"
        ],
        "description": "Gets a system database's sql vulnerability assessment rule baseline.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "baselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "BaselineName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The vulnerability assessment rule ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "systemDatabaseName",
            "in": "query",
            "description": "The vulnerability assessment system database name.",
            "required": true,
            "type": "string",
            "enum": [
              "master"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentSystemDatabaseName",
              "modelAsString": false,
              "values": [
                {
                  "name": "master",
                  "value": "master",
                  "description": "master"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/DatabaseSqlVulnerabilityAssessmentRuleBaseline"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a system database's sql vulnerability assessment rule baseline.": {
            "$ref": "./examples/SqlVulnerabilityAssessmentRuleBaselineGet.json"
          }
        }
      },
      "put": {
        "operationId": "SqlVulnerabilityAssessmentRuleBaseline_CreateOrUpdate",
        "tags": [
          "SqlVulnerabilityAssessmentRuleBaseline"
        ],
        "description": "Creates or updates a database's vulnerability assessment rule baseline.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "baselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "BaselineName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The vulnerability assessment rule ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "systemDatabaseName",
            "in": "query",
            "description": "The vulnerability assessment system database name.",
            "required": true,
            "type": "string",
            "enum": [
              "master"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentSystemDatabaseName",
              "modelAsString": false,
              "values": [
                {
                  "name": "master",
                  "value": "master",
                  "description": "master"
                }
              ]
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested rule baseline resource.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/DatabaseSqlVulnerabilityAssessmentRuleBaselineInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DatabaseSqlVulnerabilityAssessmentRuleBaseline' update operation succeeded",
            "schema": {
              "$ref": "./common.json#/definitions/DatabaseSqlVulnerabilityAssessmentRuleBaseline"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a database's vulnerability assessment rule baseline.": {
            "$ref": "./examples/SqlVulnerabilityAssessmentRuleBaselineCreate.json"
          }
        }
      },
      "delete": {
        "operationId": "SqlVulnerabilityAssessmentRuleBaselines_Delete",
        "tags": [
          "SqlVulnerabilityAssessmentRuleBaseline"
        ],
        "description": "Removes the database's vulnerability assessment rule baseline.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "baselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "BaselineName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "ruleId",
            "in": "path",
            "description": "The vulnerability assessment rule ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "systemDatabaseName",
            "in": "query",
            "description": "The vulnerability assessment system database name.",
            "required": true,
            "type": "string",
            "enum": [
              "master"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentSystemDatabaseName",
              "modelAsString": false,
              "values": [
                {
                  "name": "master",
                  "value": "master",
                  "description": "master"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Removes a database's vulnerability assessment rule baseline.": {
            "$ref": "./examples/SqlVulnerabilityAssessmentRuleBaselineDelete.json"
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}
