{
  "swagger": "2.0",
  "info": {
    "title": "AppConfigurationManagementClient",
    "version": "2025-02-01-preview",
    "description": "// (missing-service-description) Add service description",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ConfigurationStores"
    },
    {
      "name": "DeletedConfigurationStores"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "PrivateLinkResources"
    },
    {
      "name": "KeyValues"
    },
    {
      "name": "Replicas"
    },
    {
      "name": "Snapshots"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.AppConfiguration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailability",
        "description": "Checks whether the configuration store name is available for use.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "checkNameAvailabilityParameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_CheckNameAvailable": {
            "$ref": "./examples/CheckNameAvailable.json"
          },
          "ConfigurationStores_CheckNameNotAvailable": {
            "$ref": "./examples/CheckNameNotAvailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/configurationStores": {
      "get": {
        "operationId": "ConfigurationStores_List",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Lists the configuration stores for a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStoreListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_List": {
            "$ref": "./examples/ConfigurationStoresList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/deletedConfigurationStores": {
      "get": {
        "operationId": "ConfigurationStores_ListDeleted",
        "description": "Gets information about the deleted configuration stores in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeletedConfigurationStoreListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletedConfigurationStores_List": {
            "$ref": "./examples/DeletedConfigurationStoresList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "Operations_RegionalCheckNameAvailability",
        "description": "Checks whether the configuration store name is available for use.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "checkNameAvailabilityParameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_CheckNameAvailable": {
            "$ref": "./examples/RegionalCheckNameAvailable.json"
          },
          "ConfigurationStores_CheckNameNotAvailable": {
            "$ref": "./examples/RegionalCheckNameNotAvailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}": {
      "get": {
        "operationId": "ConfigurationStores_GetDeleted",
        "tags": [
          "DeletedConfigurationStores"
        ],
        "description": "Gets a deleted Azure app configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedConfigurationStore"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletedConfigurationStores_Get": {
            "$ref": "./examples/DeletedConfigurationStoresGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}/purge": {
      "post": {
        "operationId": "ConfigurationStores_PurgeDeleted",
        "tags": [
          "DeletedConfigurationStores"
        ],
        "description": "Permanently deletes the specified configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Purge a deleted configuration store": {
            "$ref": "./examples/DeletedConfigurationStoresPurge.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores": {
      "get": {
        "operationId": "ConfigurationStores_ListByResourceGroup",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Lists the configuration stores for a given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStoreListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_ListByResourceGroup": {
            "$ref": "./examples/ConfigurationStoresListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}": {
      "get": {
        "operationId": "ConfigurationStores_Get",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Gets the properties of the specified configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Get": {
            "$ref": "./examples/ConfigurationStoresGet.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationStores_Create",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Creates a configuration store with the specified parameters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "configStoreCreationParameters",
            "in": "body",
            "description": "The parameters for creating a configuration store.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConfigurationStore' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationStore' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Create": {
            "$ref": "./examples/ConfigurationStoresCreate.json"
          },
          "ConfigurationStores_Create_With_Data_Plane_Proxy": {
            "$ref": "./examples/ConfigurationStoresCreateWithDataPlaneProxy.json"
          },
          "ConfigurationStores_Create_With_Identity": {
            "$ref": "./examples/ConfigurationStoresCreateWithIdentity.json"
          },
          "ConfigurationStores_Create_With_Local_Auth_Disabled": {
            "$ref": "./examples/ConfigurationStoresCreateWithLocalAuthDisabled.json"
          },
          "ConfigurationStores_Create_With_Telemetry": {
            "$ref": "./examples/ConfigurationStoresCreateWithTelemetry.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ConfigurationStore"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConfigurationStores_Update",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Updates a configuration store with the specified parameters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "configStoreUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a configuration store.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationStoreUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "201": {
            "description": "Resource 'ConfigurationStore' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Update": {
            "$ref": "./examples/ConfigurationStoresUpdate.json"
          },
          "ConfigurationStores_Update_Disable_Local_Auth": {
            "$ref": "./examples/ConfigurationStoresUpdateDisableLocalAuth.json"
          },
          "ConfigurationStores_Update_With_Identity": {
            "$ref": "./examples/ConfigurationStoresUpdateWithIdentity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ConfigurationStore"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ConfigurationStores_Delete",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Deletes a configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "URL to query for status of the operation."
              },
              "Location": {
                "type": "string",
                "description": "URL to query for the operation result"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Delete": {
            "$ref": "./examples/ConfigurationStoresDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/keyValues/{keyValueName}": {
      "get": {
        "operationId": "KeyValues_Get",
        "tags": [
          "KeyValues"
        ],
        "description": "Gets the properties of the specified key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "keyValueName",
            "in": "path",
            "description": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KeyValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyValues_Get": {
            "$ref": "./examples/ConfigurationStoresGetKeyValue.json"
          }
        }
      },
      "put": {
        "operationId": "KeyValues_CreateOrUpdate",
        "tags": [
          "KeyValues"
        ],
        "description": "Creates a key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "keyValueName",
            "in": "path",
            "description": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional.",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyValueParameters",
            "in": "body",
            "description": "The parameters for creating a key-value.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyValue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'KeyValue' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/KeyValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyValues_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationStoresCreateKeyValue.json"
          }
        }
      },
      "delete": {
        "operationId": "KeyValues_Delete",
        "tags": [
          "KeyValues"
        ],
        "description": "Deletes a key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "keyValueName",
            "in": "path",
            "description": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyValues_Delete": {
            "$ref": "./examples/ConfigurationStoresDeleteKeyValue.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/listKeys": {
      "post": {
        "operationId": "ConfigurationStores_ListKeys",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Lists the access key for the specified configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiKeyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_ListKeys": {
            "$ref": "./examples/ConfigurationStoresListKeys.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByConfigurationStore",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Lists all private endpoint connections for a configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_List": {
            "$ref": "./examples/ConfigurationStoresListPrivateEndpointConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_GetConnection": {
            "$ref": "./examples/ConfigurationStoresGetPrivateEndpointConnection.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of the specified private endpoint connection associated with the configuration store. This operation cannot be used to create a private endpoint connection. Private endpoint connections must be created with the Network resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The private endpoint connection properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Update": {
            "$ref": "./examples/ConfigurationStoresUpdatePrivateEndpointConnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/PrivateEndpointConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/ConfigurationStoresDeletePrivateEndpointConnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByConfigurationStore",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the private link resources that need to be created for a configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_ListGroupIds": {
            "$ref": "./examples/PrivateLinkResourcesListByConfigurationStore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources/{groupName}": {
      "get": {
        "operationId": "PrivateLinkResources_Get",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets a private link resource that need to be created for a configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "The name of the private link resource group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_Get": {
            "$ref": "./examples/PrivateLinkResourceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/regenerateKey": {
      "post": {
        "operationId": "ConfigurationStores_RegenerateKey",
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Regenerates an access key for the specified configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "regenerateKeyParameters",
            "in": "body",
            "description": "The parameters for regenerating an access key.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_RegenerateKey": {
            "$ref": "./examples/ConfigurationStoresRegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas": {
      "get": {
        "operationId": "Replicas_ListByConfigurationStore",
        "tags": [
          "Replicas"
        ],
        "description": "Lists the replicas for a given configuration store.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReplicaListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_ListByConfigurationStore": {
            "$ref": "./examples/ConfigurationStoresListReplicas.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas/{replicaName}": {
      "get": {
        "operationId": "Replicas_Get",
        "tags": [
          "Replicas"
        ],
        "description": "Gets the properties of the specified replica.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the replica.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_Get": {
            "$ref": "./examples/ConfigurationStoresGetReplica.json"
          }
        }
      },
      "put": {
        "operationId": "Replicas_Create",
        "tags": [
          "Replicas"
        ],
        "description": "Creates a replica with the specified parameters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the replica.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "replicaCreationParameters",
            "in": "body",
            "description": "The parameters for creating a replica.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Replica' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "201": {
            "description": "Resource 'Replica' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Replica"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_Create": {
            "$ref": "./examples/ConfigurationStoresCreateReplica.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Replica"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Replicas_Delete",
        "tags": [
          "Replicas"
        ],
        "description": "Deletes a replica.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the replica.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_Delete": {
            "$ref": "./examples/ConfigurationStoresDeleteReplica.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/snapshots/{snapshotName}": {
      "get": {
        "operationId": "Snapshots_Get",
        "tags": [
          "Snapshots"
        ],
        "description": "Gets the properties of the specified snapshot. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration snapshots the data plane API should be used instead.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "snapshotName",
            "in": "path",
            "description": "The name of the snapshot.",
            "required": true,
            "type": "string",
            "pattern": "^[^\\x00-\\x1F\\x7F]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Snapshots_Get": {
            "$ref": "./examples/ConfigurationStoresGetSnapshot.json"
          }
        }
      },
      "put": {
        "operationId": "Snapshots_Create",
        "tags": [
          "Snapshots"
        ],
        "description": "Creates a snapshot. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration snapshots the data plane API should be used instead.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "configStoreName",
            "in": "path",
            "description": "The name of the configuration store.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9_-]*$"
          },
          {
            "name": "snapshotName",
            "in": "path",
            "description": "The name of the snapshot.",
            "required": true,
            "type": "string",
            "pattern": "^[^\\x00-\\x1F\\x7F]+$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The parameters for creating a snapshot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Snapshot' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          },
          "201": {
            "description": "Resource 'Snapshot' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Snapshots_Create": {
            "$ref": "./examples/ConfigurationStoresCreateSnapshot.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Snapshot"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActionsRequired": {
      "type": "string",
      "description": "Any action that is required beyond basic workflow (approve/ reject/ disconnect)",
      "enum": [
        "None",
        "Recreate"
      ],
      "x-ms-enum": {
        "name": "ActionsRequired",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "Recreate",
            "value": "Recreate"
          }
        ]
      }
    },
    "ApiKey": {
      "type": "object",
      "description": "An API key used for authenticating with a configuration store endpoint.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The key ID.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "A name for the key describing its usage.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The value of the key that is used for authentication purposes.",
          "readOnly": true
        },
        "connectionString": {
          "type": "string",
          "description": "A connection string that can be used by supporting clients for authentication.",
          "readOnly": true
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "The last time any of the key's properties were modified.",
          "readOnly": true
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether this key can only be used for read operations.",
          "readOnly": true
        }
      }
    },
    "ApiKeyListResult": {
      "type": "object",
      "description": "The result of a request to list API keys.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApiKey items on this page",
          "items": {
            "$ref": "#/definitions/ApiKey"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AuthenticationMode": {
      "type": "string",
      "description": "The data plane proxy authentication mode. This property manages the authentication mode of request to the data plane resources.",
      "enum": [
        "Local",
        "Pass-through"
      ],
      "x-ms-enum": {
        "name": "AuthenticationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local",
            "description": "The local authentication mode. Users are not required to have data plane permissions if local authentication is not disabled."
          },
          {
            "name": "Pass-through",
            "value": "Pass-through",
            "description": "The pass-through authentication mode. User identity will be passed through from ARM, requiring user to have data plane action permissions (Available via App Configuration Data Owner/ App Configuration Data Reader)."
          }
        ]
      }
    },
    "CheckNameAvailabilityParameters": {
      "type": "object",
      "description": "Parameters used for checking whether a resource name is available.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name to check for availability."
        },
        "type": {
          "$ref": "#/definitions/ConfigurationResourceType",
          "description": "The resource type to check for name availability."
        }
      },
      "required": [
        "name",
        "type"
      ]
    },
    "CompositionType": {
      "type": "string",
      "description": "The composition type describes how the key-values within the snapshot are composed. The 'key' composition type ensures there are no two key-values containing the same key. The 'key_label' composition type ensures there are no two key-values containing the same key and label.",
      "enum": [
        "Key",
        "Key_Label"
      ],
      "x-ms-enum": {
        "name": "CompositionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Key",
            "value": "Key"
          },
          {
            "name": "Key_Label",
            "value": "Key_Label"
          }
        ]
      }
    },
    "ConfigurationResourceType": {
      "type": "string",
      "description": "The resource type to check for name availability.",
      "enum": [
        "Microsoft.AppConfiguration/configurationStores"
      ],
      "x-ms-enum": {
        "name": "ConfigurationResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Microsoft.AppConfiguration/configurationStores",
            "value": "Microsoft.AppConfiguration/configurationStores"
          }
        ]
      }
    },
    "ConfigurationStore": {
      "type": "object",
      "description": "The configuration store along with all resource properties. The Configuration Store will have all information to begin utilizing it.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationStoreProperties",
          "description": "The properties of a configuration store.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "The managed identity information, if configured."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the configuration store."
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConfigurationStoreListResult": {
      "type": "object",
      "description": "The response of a ConfigurationStore list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConfigurationStore items on this page",
          "items": {
            "$ref": "#/definitions/ConfigurationStore"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConfigurationStoreProperties": {
      "type": "object",
      "description": "The properties of a configuration store.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the configuration store.",
          "readOnly": true
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of configuration store.",
          "readOnly": true
        },
        "endpoint": {
          "type": "string",
          "description": "The DNS endpoint where the configuration store API will be available.",
          "readOnly": true
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "The encryption settings of the configuration store."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The list of private endpoint connections that are set up for this resource.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionReference"
          },
          "readOnly": true
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Disables all authentication methods other than AAD authentication.",
          "default": false
        },
        "softDeleteRetentionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of time in days that the configuration store will be retained when it is soft deleted.",
          "default": 7
        },
        "defaultKeyValueRevisionRetentionPeriodInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "The duration in seconds to retain new key value revisions. Defaults to 604800 (7 days) for Free SKU stores and 2592000 (30 days) for Standard SKU stores and Premium SKU stores."
        },
        "enablePurgeProtection": {
          "type": "boolean",
          "description": "Property specifying whether protection against purge is enabled for this configuration store.",
          "default": false
        },
        "dataPlaneProxy": {
          "$ref": "#/definitions/DataPlaneProxyProperties",
          "description": "Property specifying the configuration of data plane proxy for Azure Resource Manager (ARM)."
        },
        "createMode": {
          "$ref": "#/definitions/CreateMode",
          "description": "Indicates whether the configuration store need to be recovered.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "telemetry": {
          "$ref": "#/definitions/TelemetryProperties",
          "description": "Property specifying the configuration of telemetry for this configuration store"
        },
        "managedOnBehalfOfConfiguration": {
          "$ref": "../../../../../../common-types/resource-management/v5/mobo.json#/definitions/ManagedOnBehalfOfConfiguration",
          "description": "Managed On Behalf Of Configuration.",
          "readOnly": true
        }
      }
    },
    "ConfigurationStorePropertiesUpdateParameters": {
      "type": "object",
      "description": "The properties for updating a configuration store.",
      "properties": {
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "The encryption settings of the configuration store."
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Disables all authentication methods other than AAD authentication."
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled."
        },
        "enablePurgeProtection": {
          "type": "boolean",
          "description": "Property specifying whether protection against purge is enabled for this configuration store."
        },
        "dataPlaneProxy": {
          "$ref": "#/definitions/DataPlaneProxyProperties",
          "description": "Property specifying the configuration of data plane proxy for Azure Resource Manager (ARM)."
        },
        "defaultKeyValueRevisionRetentionPeriodInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "The duration in seconds to retain new key value revisions. Defaults to 604800 (7 days) for Free SKU stores and 2592000 (30 days) for Standard SKU stores and Premium SKU stores."
        },
        "telemetry": {
          "$ref": "#/definitions/TelemetryProperties",
          "description": "Property specifying the configuration of telemetry to update for this configuration store"
        }
      }
    },
    "ConfigurationStoreUpdateParameters": {
      "type": "object",
      "description": "The parameters for updating a configuration store.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationStorePropertiesUpdateParameters",
          "description": "The properties for updating a configuration store.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "The managed identity information for the configuration store."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the configuration store."
        },
        "tags": {
          "type": "object",
          "description": "The ARM resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConnectionStatus": {
      "type": "string",
      "description": "The private link service connection status.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending"
          },
          {
            "name": "Approved",
            "value": "Approved"
          },
          {
            "name": "Rejected",
            "value": "Rejected"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected"
          }
        ]
      }
    },
    "CreateMode": {
      "type": "string",
      "description": "Indicates whether the configuration store need to be recovered.",
      "enum": [
        "Recover",
        "Default"
      ],
      "x-ms-enum": {
        "name": "CreateMode",
        "modelAsString": false
      }
    },
    "DataPlaneProxyProperties": {
      "type": "object",
      "description": "The data plane proxy settings for a configuration store.",
      "properties": {
        "authenticationMode": {
          "$ref": "#/definitions/AuthenticationMode",
          "description": "The data plane proxy authentication mode. This property manages the authentication mode of request to the data plane resources."
        },
        "privateLinkDelegation": {
          "$ref": "#/definitions/PrivateLinkDelegation",
          "description": "The data plane proxy private link delegation. This property manages if a request from delegated ARM private link is allowed when the data plane resource requires private link."
        }
      }
    },
    "DeletedConfigurationStore": {
      "type": "object",
      "description": "Deleted configuration store information with extended details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeletedConfigurationStoreProperties",
          "description": "Properties of the deleted configuration store",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeletedConfigurationStoreListResult": {
      "type": "object",
      "description": "The response of a DeletedConfigurationStore list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeletedConfigurationStore items on this page",
          "items": {
            "$ref": "#/definitions/DeletedConfigurationStore"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeletedConfigurationStoreProperties": {
      "type": "object",
      "description": "Properties of the deleted configuration store.",
      "properties": {
        "configurationStoreId": {
          "type": "string",
          "description": "The resource id of the original configuration store.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The location of the original configuration store.",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The deleted date.",
          "readOnly": true
        },
        "scheduledPurgeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The scheduled purged date.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Tags of the original configuration store.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "purgeProtectionEnabled": {
          "type": "boolean",
          "description": "Purge protection status of the original configuration store.",
          "readOnly": true
        }
      }
    },
    "EncryptionProperties": {
      "type": "object",
      "description": "The encryption settings for a configuration store.",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Key vault properties."
        }
      }
    },
    "IdentityType": {
      "type": "string",
      "description": "The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identities.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned"
          },
          {
            "name": "SystemAssigned, UserAssigned",
            "value": "SystemAssigned, UserAssigned"
          }
        ]
      }
    },
    "KeyValue": {
      "type": "object",
      "description": "The key-value resource along with all resource properties.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KeyValueProperties",
          "description": "All key-value properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "KeyValueFilter": {
      "type": "object",
      "description": "Enables filtering of key-values.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Filters key-values by their key field."
        },
        "label": {
          "type": "string",
          "description": "Filters key-values by their label field."
        }
      },
      "required": [
        "key"
      ]
    },
    "KeyValueProperties": {
      "type": "object",
      "description": "All key-value properties.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The primary identifier of a key-value.\nThe key is used in unison with the label to uniquely identify a key-value.",
          "readOnly": true
        },
        "label": {
          "type": "string",
          "description": "A value used to group key-values.\nThe label is used in unison with the key to uniquely identify a key-value.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "The value of the key-value."
        },
        "contentType": {
          "type": "string",
          "description": "The content type of the key-value's value.\nProviding a proper content-type can enable transformations of values when they are retrieved by applications."
        },
        "eTag": {
          "type": "string",
          "description": "An ETag indicating the state of a key-value within a configuration store.",
          "readOnly": true
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "The last time a modifying operation was performed on the given key-value.",
          "readOnly": true
        },
        "locked": {
          "type": "boolean",
          "description": "A value indicating whether the key-value is locked.\nA locked key-value may not be modified until it is unlocked.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "A dictionary of tags that can help identify what a key-value may be applicable for.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "KeyVaultProperties": {
      "type": "object",
      "description": "Settings concerning key vault encryption for a configuration store.",
      "properties": {
        "keyIdentifier": {
          "type": "string",
          "description": "The URI of the key vault key used to encrypt data."
        },
        "identityClientId": {
          "type": "string",
          "description": "The client id of the identity which will be used to access key vault."
        }
      }
    },
    "LogSpecification": {
      "type": "object",
      "description": "Specifications of the Log for Azure Monitoring",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the log"
        },
        "displayName": {
          "type": "string",
          "description": "Localized friendly display name of the log"
        },
        "blobDuration": {
          "type": "string",
          "description": "Blob duration of the log"
        }
      }
    },
    "MetricDimension": {
      "type": "object",
      "description": "Specifications of the Dimension of metrics",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension"
        },
        "displayName": {
          "type": "string",
          "description": "Localized friendly display name of the dimension"
        },
        "internalName": {
          "type": "string",
          "description": "Internal name of the dimension."
        }
      }
    },
    "MetricSpecification": {
      "type": "object",
      "description": "Specifications of the Metrics for Azure Monitoring",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the metric"
        },
        "displayName": {
          "type": "string",
          "description": "Localized friendly display name of the metric"
        },
        "displayDescription": {
          "type": "string",
          "description": "Localized friendly description of the metric"
        },
        "unit": {
          "type": "string",
          "description": "Unit that makes sense for the metric"
        },
        "aggregationType": {
          "type": "string",
          "description": "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."
        },
        "internalMetricName": {
          "type": "string",
          "description": "Internal metric name."
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions of the metric",
          "items": {
            "$ref": "#/definitions/MetricDimension"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "fillGapWithZero": {
          "type": "boolean",
          "description": "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published."
        }
      }
    },
    "NameAvailabilityStatus": {
      "type": "object",
      "description": "The result of a request to check the availability of a resource name.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "The value indicating whether the resource name is available.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "If any, the error message that provides more detail for the reason that the name is not available.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "If any, the reason that the name is not available.",
          "readOnly": true
        }
      }
    },
    "OperationDefinition": {
      "type": "object",
      "description": "The definition of a configuration store operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{operation}."
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Indicates whether the operation is a data action"
        },
        "display": {
          "$ref": "#/definitions/OperationDefinitionDisplay",
          "description": "The display information for the configuration store operation."
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation"
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Properties of the operation"
        }
      }
    },
    "OperationDefinitionDisplay": {
      "type": "object",
      "description": "The display information for a configuration store operation.",
      "properties": {
        "provider": {
          "type": "string",
          "description": "The resource provider name: Microsoft App Configuration.\"",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "The resource on which the operation is performed."
        },
        "operation": {
          "type": "string",
          "description": "The operation that users can perform."
        },
        "description": {
          "type": "string",
          "description": "The description for the operation."
        }
      }
    },
    "OperationDefinitionListResult": {
      "type": "object",
      "description": "The result of a request to list configuration store operations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The collection value.",
          "items": {
            "$ref": "#/definitions/OperationDefinition"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "The URI that can be used to request the next set of paged results.",
          "readOnly": true
        }
      }
    },
    "OperationProperties": {
      "type": "object",
      "description": "Extra Operation properties",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "Service specifications of the operation"
        }
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "Private endpoint which a connection belongs to.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource Id for private endpoint"
        }
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "A private endpoint connection",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The properties of a private endpoint.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of a private endpoint connection.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning status of the private endpoint connection.",
          "readOnly": true
        },
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The resource of private endpoint."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ]
    },
    "PrivateEndpointConnectionReference": {
      "type": "object",
      "description": "A reference to a related private endpoint connection.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The properties of a private endpoint connection.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateLinkDelegation": {
      "type": "string",
      "description": "The data plane proxy private link delegation. This property manages if a request from delegated ARM private link is allowed when the data plane resource requires private link.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PrivateLinkDelegation",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ARM private endpoint is required if the resource requires private link."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Request is denied if the resource requires private link."
          }
        ]
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "A resource that supports private link capabilities.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Private link resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateLinkResourceListResult": {
      "type": "object",
      "description": "The response of a PrivateLinkResource list operation.",
      "properties": {
        "value": {
[...]
