{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2020-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/masterCustomIpPrefixes/{masterCustomIpPrefixName}": {
      "delete": {
        "tags": [
          "MasterCustomIPPrefixes"
        ],
        "operationId": "MasterCustomIPPrefixes_Delete",
        "description": "Deletes the specified master custom IP Prefix.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "masterCustomIpPrefixName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the MasterCustomIPPrefix."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "200": {
            "description": "Delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete master custom IP prefix": {
            "$ref": "./examples/MasterCustomIpPrefixDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "MasterCustomIPPrefixes"
        ],
        "operationId": "MasterCustomIPPrefixes_Get",
        "description": "Gets the specified master custom IP prefix in a specified resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "masterCustomIpPrefixName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the master custom IP prefix."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting MasterCustomIPPrefix resource.",
            "schema": {
              "$ref": "#/definitions/MasterCustomIPPrefix"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get master custom IP prefix": {
            "$ref": "./examples/MasterCustomIpPrefixGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "MasterCustomIPPrefixes"
        ],
        "operationId": "MasterCustomIPPrefixes_CreateOrUpdate",
        "description": "Creates or updates a master custom IP prefix.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "masterCustomIpPrefixName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the master custom IP prefix."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MasterCustomIPPrefix"
            },
            "description": "Parameters supplied to the create or update master custom IP prefix operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting MasterCustomIPPrefix resource.",
            "schema": {
              "$ref": "#/definitions/MasterCustomIPPrefix"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting MasterCustomIPPrefix resource.",
            "schema": {
              "$ref": "#/definitions/MasterCustomIPPrefix"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create master custom IP prefix allocation method": {
            "$ref": "./examples/MasterCustomIpPrefixCreateCustomizedValues.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/masterCustomIpPrefixes": {
      "get": {
        "tags": [
          "MasterCustomIPPrefixes"
        ],
        "operationId": "MasterCustomIPPrefixes_ListAll",
        "description": "Gets all master custom IP prefixes in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of MasterCustomIPPrefix resources.",
            "schema": {
              "$ref": "#/definitions/MasterCustomIPPrefixListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all master custom IP prefixes": {
            "$ref": "./examples/MasterCustomIpPrefixListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/masterCustomIpPrefixes": {
      "get": {
        "tags": [
          "MasterCustomIPPrefixes"
        ],
        "operationId": "MasterCustomIPPrefixes_List",
        "description": "Gets all master custom IP prefixes in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of MasterCustomIPPrefix resources.",
            "schema": {
              "$ref": "#/definitions/MasterCustomIPPrefixListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List resource group master custom IP prefixes": {
            "$ref": "./examples/MasterCustomIpPrefixList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "MasterCustomIPPrefixPropertiesFormat": {
      "properties": {
        "cidr": {
          "type": "string",
          "description": "The prefix range in CIDR notation. Should include the start address and the prefix length."
        },
        "originalValidationMessage": {
          "type": "string",
          "description": "Original message used to request creation of master custom IP Prefix."
        },
        "signedValidationMessage": {
          "type": "string",
          "description": "Signed message used to request creation of master custom IP Prefix."
        },
        "geography": {
          "type": "string",
          "description": "Geography of edge routers this CIDR can be reflected on. Related to geographies covered by the 5 International RIRs (ARIN/RIPE/APNIC/LACNIC/AFRINIC.",
          "enum": [
            "NorthAmerica",
            "Europe",
            "Asia",
            "SouthAmerica",
            "Africa",
            "Global"
          ],
          "x-ms-enum": {
            "name": "RIR",
            "modelAsString": true
          }
        },
        "customIpPrefixes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReferencedCustomIPPrefix"
          },
          "description": "The list of corresponding Custom IP Prefixes."
        },
        "validationState": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the ARIN / ROA authentication for master custom IP prefix resource. Possible values are: 'Validating', 'Valid', and 'Invalid'.",
          "enum": [
            "Validating",
            "Valid",
            "Invalid"
          ],
          "x-ms-enum": {
            "name": "ValidationStatus",
            "modelAsString": true
          }
        },
        "resourceGuid": {
          "readOnly": true,
          "type": "string",
          "description": "The resource GUID property of the master custom IP prefix resource."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the master custom IP prefix resource."
        }
      },
      "description": "Master custom IP prefix properties."
    },
    "MasterCustomIPPrefix": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MasterCustomIPPrefixPropertiesFormat",
          "description": "Master Custom IP prefix properties."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "Master Custom IP prefix resource."
    },
    "MasterCustomIPPrefixListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MasterCustomIPPrefix"
          },
          "description": "A list of master custom IP prefixes that exists in a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListMasterCustomIpPrefixes API service call."
    },
    "ReferencedCustomIPPrefix": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The CustomIpPrefix Reference."
        }
      },
      "description": "Reference to a custom IP prefix."
    }
  }
}
