{
  "swagger": "2.0",
  "info": {
    "title": "NotificationHubs RP Client",
    "description": "Microsoft Notification Hubs Resource Provider REST API.",
    "version": "2023-10-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/checkNotificationHubAvailability": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Checks the availability of the given notificationHub in a namespace.",
        "operationId": "NotificationHubs_CheckNotificationHubAvailability",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_CheckNotificationHubAvailability": {
            "$ref": "./examples/NotificationHubs/CheckAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "Gets the notification hub.",
        "operationId": "NotificationHubs_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_Get": {
            "$ref": "./examples/NotificationHubs/Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Hubs"
        ],
        "summary": "Creates/Update a NotificationHub in a namespace.",
        "operationId": "NotificationHubs_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_CreateOrUpdate": {
            "$ref": "./examples/NotificationHubs/CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Hubs"
        ],
        "summary": "Patch a NotificationHub in a namespace.",
        "operationId": "NotificationHubs_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationHubPatchParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotificationHubResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_Update": {
            "$ref": "./examples/NotificationHubs/Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Hubs"
        ],
        "summary": "Deletes a notification hub associated with a namespace.",
        "operationId": "NotificationHubs_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_Delete": {
            "$ref": "./examples/NotificationHubs/Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "Lists the notification hubs associated with a namespace.",
        "operationId": "NotificationHubs_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "in": "query",
            "name": "$skipToken",
            "description": "Continuation token.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Page size.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotificationHubListResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NotificationHubs_List": {
            "$ref": "./examples/NotificationHubs/List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/debugsend": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Test send a push notification.",
        "operationId": "NotificationHubs_DebugSend",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DebugSendResponse"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_DebugSend": {
            "$ref": "./examples/NotificationHubs/DebugSend.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules/{authorizationRuleName}": {
      "put": {
        "tags": [
          "Hubs"
        ],
        "summary": "Creates/Updates an authorization rule for a NotificationHub",
        "operationId": "NotificationHubs_CreateOrUpdateAuthorizationRule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_CreateOrUpdateAuthorizationRule": {
            "$ref": "./examples/NotificationHubs/AuthorizationRuleCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Hubs"
        ],
        "summary": "Deletes a notificationHub authorization rule",
        "operationId": "NotificationHubs_DeleteAuthorizationRule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_DeleteAuthorizationRule": {
            "$ref": "./examples/NotificationHubs/AuthorizationRuleDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "Gets an authorization rule for a NotificationHub by name.",
        "operationId": "NotificationHubs_GetAuthorizationRule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_GetAuthorizationRule": {
            "$ref": "./examples/NotificationHubs/AuthorizationRuleGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules": {
      "get": {
        "tags": [
          "Hubs"
        ],
        "summary": "Gets the authorization rules for a NotificationHub.",
        "operationId": "NotificationHubs_ListAuthorizationRules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleListResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NotificationHubs_ListAuthorizationRules": {
            "$ref": "./examples/NotificationHubs/AuthorizationRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Gets the Primary and Secondary ConnectionStrings to the NotificationHub",
        "operationId": "NotificationHubs_ListKeys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_ListKeys": {
            "$ref": "./examples/NotificationHubs/AuthorizationRuleListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/authorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Regenerates the Primary/Secondary Keys to the NotificationHub Authorization Rule",
        "operationId": "NotificationHubs_RegenerateKeys",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyKeyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_RegenerateKeys": {
            "$ref": "./examples/NotificationHubs/AuthorizationRuleRegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/notificationHubs/{notificationHubName}/pnsCredentials": {
      "post": {
        "tags": [
          "Hubs"
        ],
        "summary": "Lists the PNS Credentials associated with a notification hub.",
        "operationId": "NotificationHubs_GetPnsCredentials",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/HubName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PnsCredentialsResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationHubs_GetPnsCredentials": {
            "$ref": "./examples/NotificationHubs/PnsCredentialsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/checkNamespaceAvailability": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Checks the availability of the given service namespace across all Azure subscriptions. This is useful because the domain name is created based on the service namespace name.",
        "operationId": "Namespaces_CheckAvailability",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_CheckAvailability": {
            "$ref": "./examples/Namespaces/CheckAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Returns the given namespace.",
        "operationId": "Namespaces_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Get": {
            "$ref": "./examples/Namespaces/Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Creates / Updates a Notification Hub namespace. This operation is idempotent.",
        "operationId": "Namespaces_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_CreateOrUpdate": {
            "$ref": "./examples/Namespaces/CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Patches the existing namespace.",
        "operationId": "Namespaces_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespacePatchParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NamespaceResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Update": {
            "$ref": "./examples/Namespaces/Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Deletes an existing namespace. This operation also removes all associated notificationHubs under the namespace.",
        "operationId": "Namespaces_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Delete": {
            "$ref": "./examples/Namespaces/Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Lists all the available namespaces within the subscription.",
        "operationId": "Namespaces_ListAll",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "query",
            "name": "$skipToken",
            "description": "Skip token for subsequent requests.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Namespaces_ListAll": {
            "$ref": "./examples/Namespaces/ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Lists the available namespaces within a resource group.",
        "operationId": "Namespaces_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "query",
            "name": "$skipToken",
            "description": "Skip token for subsequent requests.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Maximum number of results to return.",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Namespaces_List": {
            "$ref": "./examples/Namespaces/ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}": {
      "put": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Creates an authorization rule for a namespace",
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_CreateOrUpdateAuthorizationRule": {
            "$ref": "./examples/Namespaces/AuthorizationRuleCreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Deletes a namespace authorization rule",
        "operationId": "Namespaces_DeleteAuthorizationRule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_DeleteAuthorizationRule": {
            "$ref": "./examples/Namespaces/AuthorizationRuleDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Gets an authorization rule for a namespace by name.",
        "operationId": "Namespaces_GetAuthorizationRule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_GetAuthorizationRule": {
            "$ref": "./examples/Namespaces/AuthorizationRuleGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules": {
      "get": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Gets the authorization rules for a namespace.",
        "operationId": "Namespaces_ListAuthorizationRules",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SharedAccessAuthorizationRuleListResult"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "itemName": "value",
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Namespaces_ListAuthorizationRules": {
            "$ref": "./examples/Namespaces/AuthorizationRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/listKeys": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Gets the Primary and Secondary ConnectionStrings to the namespace.",
        "operationId": "Namespaces_ListKeys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_ListKeys": {
            "$ref": "./examples/Namespaces/AuthorizationRuleListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/authorizationRules/{authorizationRuleName}/regenerateKeys": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Regenerates the Primary/Secondary Keys to the Namespace Authorization Rule",
        "operationId": "Namespaces_RegenerateKeys",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "#/parameters/AuthorizationRuleName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "parameters",
            "description": "Request content.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyKeyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceListKeys"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_RegenerateKeys": {
            "$ref": "./examples/Namespaces/AuthorizationRuleRegenerateKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NotificationHubs/namespaces/{namespaceName}/pnsCredentials": {
      "post": {
        "tags": [
          "Namespaces"
        ],
        "summary": "Lists the PNS credentials associated with a namespace.",
        "operationId": "Namespaces_GetPnsCredentials",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NamespaceName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PnsCredentialsResource"
            }
          },
          "default": {
            "description": "Error code with reason.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_GetPnsCredentials": {
            "$ref": "./examples/Namespaces/PnsCredentialsGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessRights": {
      "description": "Defines values for AccessRights.",
      "enum": [
        "Manage",
        "Send",
        "Listen"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AccessRights",
        "modelAsString": true
      }
    },
    "AdmCredential": {
      "description": "Description of a NotificationHub AdmCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdmCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "AdmCredentialProperties": {
      "description": "Description of a NotificationHub AdmCredential.",
      "required": [
        "authTokenUrl",
        "clientId",
        "clientSecret"
      ],
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Gets or sets the client identifier.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "clientSecret": {
          "description": "Gets or sets the credential secret access key.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "authTokenUrl": {
          "description": "Gets or sets the URL of the authorization token.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "ApnsCredential": {
      "description": "Description of a NotificationHub ApnsCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApnsCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "ApnsCredentialProperties": {
      "description": "Description of a NotificationHub ApnsCredential.",
      "required": [
        "endpoint"
      ],
      "type": "object",
      "properties": {
        "apnsCertificate": {
          "description": "Gets or sets the APNS certificate.",
          "type": "string",
          "x-ms-secret": true
        },
        "certificateKey": {
          "description": "Gets or sets the certificate key.",
          "type": "string",
          "x-ms-secret": true
        },
        "endpoint": {
          "description": "Gets or sets the endpoint of this credential.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "thumbprint": {
          "description": "Gets or sets the APNS certificate Thumbprint",
          "type": "string",
          "x-ms-secret": true
        },
        "keyId": {
          "description": "Gets or sets a 10-character key identifier (kid) key, obtained from\r\nyour developer account",
          "type": "string",
          "x-ms-secret": true
        },
        "appName": {
          "description": "Gets or sets the name of the application",
          "type": "string",
          "x-ms-secret": true
        },
        "appId": {
          "description": "Gets or sets the issuer (iss) registered claim key, whose value is\r\nyour 10-character Team ID, obtained from your developer account",
          "type": "string",
          "x-ms-secret": true
        },
        "token": {
          "description": "Gets or sets provider Authentication Token, obtained through your\r\ndeveloper account",
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "BaiduCredential": {
      "description": "Description of a NotificationHub BaiduCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BaiduCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "BaiduCredentialProperties": {
      "description": "Description of a NotificationHub BaiduCredential.",
      "required": [
        "baiduApiKey",
        "baiduEndPoint",
        "baiduSecretKey"
      ],
      "type": "object",
      "properties": {
        "baiduApiKey": {
          "description": "Gets or sets baidu Api Key.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "baiduEndPoint": {
          "description": "Gets or sets baidu Endpoint.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "baiduSecretKey": {
          "description": "Gets or sets baidu Secret Key",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "BrowserCredential": {
      "description": "Description of a NotificationHub BrowserCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BrowserCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "BrowserCredentialProperties": {
      "description": "Description of a NotificationHub BrowserCredential.",
      "required": [
        "subject",
        "vapidPrivateKey",
        "vapidPublicKey"
      ],
      "type": "object",
      "properties": {
        "subject": {
          "description": "Gets or sets web push subject.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "vapidPrivateKey": {
          "description": "Gets or sets VAPID private key.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "vapidPublicKey": {
          "description": "Gets or sets VAPID public key.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "CheckAvailabilityParameters": {
      "description": "Parameters supplied to the Check Name Availability for Namespace and\r\nNotificationHubs.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets resource Id",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets or sets resource name",
          "minLength": 1,
          "type": "string"
        },
        "type": {
          "description": "Gets resource type",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Gets or sets resource location",
          "type": "string"
        },
        "tags": {
          "description": "Gets or sets resource tags",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isAvailiable": {
          "description": "Not used and deprecated since API version 2023-01-01-preview",
          "type": "boolean"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "CheckAvailabilityResult": {
      "description": "Description of a CheckAvailability resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "isAvailiable": {
          "description": "Gets or sets true if the name is available and can be used to\r\ncreate new Namespace/NotificationHub. Otherwise false.",
          "type": "boolean"
        },
        "location": {
          "description": "Deprecated - only for compatibility.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "description": "Deprecated - only for compatibility.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "DebugSendResponse": {
      "description": "Description of a NotificationHub Resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DebugSendResult"
        },
        "location": {
          "description": "Deprecated - only for compatibility.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "description": "Deprecated - only for compatibility.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DebugSendResult": {
      "description": "Result of DebugSend operations.",
      "type": "object",
      "properties": {
        "success": {
          "format": "int64",
          "description": "Gets or sets successful send",
          "type": "integer",
          "readOnly": true
        },
        "failure": {
          "format": "int64",
          "description": "Gets or sets send failure",
          "type": "integer",
          "readOnly": true
        },
        "results": {
          "description": "Gets or sets actual failure description",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegistrationResult"
          },
          "readOnly": true,
          "x-ms-identifiers": [ ]
        }
      }
    },
    "FcmV1Credential": {
      "description": "Description of a NotificationHub FcmV1Credential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FcmV1CredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "FcmV1CredentialProperties": {
      "description": "Description of a NotificationHub FcmV1Credential.",
      "required": [
        "clientEmail",
        "privateKey",
        "projectId"
      ],
      "type": "object",
      "properties": {
        "clientEmail": {
          "description": "Gets or sets client email.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "privateKey": {
          "description": "Gets or sets private key.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "projectId": {
          "description": "Gets or sets project id.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "GcmCredential": {
      "description": "Description of a NotificationHub GcmCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GcmCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "GcmCredentialProperties": {
      "description": "Description of a NotificationHub GcmCredential.",
      "required": [
        "googleApiKey"
      ],
      "type": "object",
      "properties": {
        "gcmEndpoint": {
          "description": "Gets or sets the GCM endpoint.",
          "type": "string",
          "x-ms-secret": true
        },
        "googleApiKey": {
          "description": "Gets or sets the Google API key.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "IpRule": {
      "description": "A network authorization rule that filters traffic based on IP address.",
      "required": [
        "ipMask",
        "rights"
      ],
      "type": "object",
      "properties": {
        "ipMask": {
          "description": "IP mask.",
          "minLength": 1,
          "type": "string"
        },
        "rights": {
          "description": "List of access rights.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessRights"
          }
        }
      }
    },
    "MpnsCredential": {
      "description": "Description of a NotificationHub MpnsCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MpnsCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "MpnsCredentialProperties": {
      "description": "Description of a NotificationHub MpnsCredential.",
      "required": [
        "certificateKey",
        "mpnsCertificate",
        "thumbprint"
      ],
      "type": "object",
      "properties": {
        "mpnsCertificate": {
          "description": "Gets or sets the MPNS certificate.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "certificateKey": {
          "description": "Gets or sets the certificate key for this credential.",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        },
        "thumbprint": {
          "description": "Gets or sets the MPNS certificate Thumbprint",
          "minLength": 1,
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "NamespaceListResult": {
      "description": "The response of the List Namespace operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets result of the List AuthorizationRules operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NamespaceResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Gets or sets link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NamespacePatchParameters": {
      "description": "Patch parameter for NamespaceResource.",
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "$ref": "#/definitions/NamespaceProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NamespaceProperties": {
      "description": "Represents namespace properties.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Notification Hubs namespace. This is immutable property, set automatically \r\nby the service when the namespace is created.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/OperationProvisioningState"
        },
        "status": {
          "$ref": "#/definitions/NamespaceStatus"
        },
        "enabled": {
          "description": "Gets or sets whether or not the namespace is currently enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "critical": {
          "description": "Gets or sets whether or not the namespace is set as Critical.",
          "type": "boolean",
          "readOnly": true
        },
        "subscriptionId": {
          "description": "Namespace subscription id.",
          "type": "string",
          "readOnly": true
        },
        "region": {
          "description": "Region. The value is always set to the same value as Namespace.Location, so we are deprecating\r\nthis property.",
          "type": "string",
          "readOnly": true
        },
        "metricId": {
          "description": "Azure Insights Metrics id.",
          "type": "string",
          "readOnly": true
        },
        "createdAt": {
          "format": "date-time",
          "description": "Time when the namespace was created.",
          "type": "string",
          "readOnly": true
        },
        "updatedAt": {
          "format": "date-time",
          "description": "Time when the namespace was updated.",
          "type": "string",
          "readOnly": true
        },
        "namespaceType": {
          "$ref": "#/definitions/NamespaceType"
        },
        "replicationRegion": {
          "$ref": "#/definitions/ReplicationRegion"
        },
        "zoneRedundancy": {
          "$ref": "#/definitions/ZoneRedundancyPreference"
        },
        "networkAcls": {
          "$ref": "#/definitions/NetworkAcls"
        },
        "pnsCredentials": {
          "$ref": "#/definitions/PnsCredentials"
        },
        "serviceBusEndpoint": {
          "description": "Gets or sets endpoint you can use to perform NotificationHub\r\noperations.",
          "type": "string",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "description": "Private Endpoint Connections for namespace",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionResource"
          },
          "readOnly": true
        },
        "scaleUnit": {
          "description": "Gets or sets scaleUnit where the namespace gets created",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "dataCenter": {
          "description": "Deprecated.",
          "type": "string"
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess"
        }
      }
    },
    "NamespaceResource": {
      "description": "Notification Hubs Namespace Resource.",
      "required": [
        "location",
        "sku"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "$ref": "#/definitions/NamespaceProperties"
        }
      }
    },
    "NamespaceStatus": {
      "description": "Namespace status.",
      "enum": [
        "Created",
        "Creating",
        "Suspended",
        "Deleting"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "NamespaceStatus",
        "modelAsString": true
      }
    },
    "NamespaceType": {
      "description": "Defines values for NamespaceType.",
      "enum": [
        "Messaging",
        "NotificationHub"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "NamespaceType",
        "modelAsString": true
      }
    },
    "NetworkAcls": {
      "description": "A collection of network authorization rules.",
      "type": "object",
      "properties": {
        "ipRules": {
          "description": "List of IP rules.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpRule"
          },
          "x-ms-identifiers": [ ]
        },
        "publicNetworkRule": {
          "$ref": "#/definitions/PublicInternetAuthorizationRule"
        }
      }
    },
    "NotificationHubListResult": {
      "description": "The response of the List NotificationHub operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets result of the List AuthorizationRules operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationHubResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Gets or sets link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "NotificationHubPatchParameters": {
      "description": "Patch parameter for NamespaceResource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NotificationHubProperties"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NotificationHubProperties": {
      "description": "NotificationHub properties.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the NotificationHub name.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "registrationTtl": {
          "description": "Gets or sets the RegistrationTtl of the created NotificationHub",
          "type": "string"
        },
        "authorizationRules": {
          "description": "Gets or sets the AuthorizationRules of the created NotificationHub",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
          },
          "readOnly": true,
          "x-ms-secret": true,
          "x-ms-identifiers": [
            "keyName"
          ]
        },
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential"
        },
        "admCredential": {
          "$ref": "#/definitions/AdmCredential"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential"
        },
        "browserCredential": {
          "$ref": "#/definitions/BrowserCredential"
        },
        "xiaomiCredential": {
          "$ref": "#/definitions/XiaomiCredential"
        },
        "fcmV1Credential": {
          "$ref": "#/definitions/FcmV1Credential"
        },
        "dailyMaxActiveDevices": {
          "format": "int64",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "NotificationHubResource": {
      "description": "Notification Hub Resource.",
      "required": [
        "location"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/NotificationHubProperties"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        }
      }
    },
    "OperationProvisioningState": {
      "description": "Defines values for OperationProvisioningState.",
      "enum": [
        "Unknown",
        "InProgress",
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "OperationProvisioningState",
        "modelAsString": true
      }
    },
    "PnsCredentials": {
      "description": "Collection of Notification Hub or Notification Hub Namespace PNS credentials.",
      "type": "object",
      "properties": {
        "admCredential": {
          "$ref": "#/definitions/AdmCredential"
        },
        "apnsCredential": {
          "$ref": "#/definitions/ApnsCredential"
        },
        "baiduCredential": {
          "$ref": "#/definitions/BaiduCredential"
        },
        "browserCredential": {
          "$ref": "#/definitions/BrowserCredential"
        },
        "gcmCredential": {
          "$ref": "#/definitions/GcmCredential"
        },
        "mpnsCredential": {
          "$ref": "#/definitions/MpnsCredential"
        },
        "wnsCredential": {
          "$ref": "#/definitions/WnsCredential"
        },
        "xiaomiCredential": {
          "$ref": "#/definitions/XiaomiCredential"
        },
        "fcmV1Credential": {
          "$ref": "#/definitions/FcmV1Credential"
        }
      },
      "x-ms-secret": true
    },
    "PnsCredentialsResource": {
      "description": "Description of a NotificationHub PNS Credentials. This is a response of the POST requests that return namespace or hubs\r\nPNS credentials.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PnsCredentials"
        },
        "location": {
          "description": "Deprecated - only for compatibility.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "description": "Deprecated - only for compatibility.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyKeyResource": {
      "description": "Namespace / NotificationHub Regenerate Keys request.",
      "required": [
        "policyKey"
      ],
      "type": "object",
      "properties": {
        "policyKey": {
          "$ref": "#/definitions/PolicyKeyType"
        }
      }
    },
    "PolicyKeyType": {
      "description": "Type of Shared Access Policy Key (primary or secondary).",
      "enum": [
        "PrimaryKey",
        "SecondaryKey"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PolicyKeyType",
        "modelAsString": true
      }
    },
    "PrivateEndpointConnectionProperties": {
      "description": "Private Endpoint Connection properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProvisioningState"
        },
        "privateEndpoint": {
          "$ref": "#/definitions/RemotePrivateEndpointConnection"
        },
        "groupIds": {
          "description": "List of group ids. For Notification Hubs, it always contains a single \"namespace\" element.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/RemotePrivateLinkServiceConnectionState"
        }
      }
    },
    "PrivateEndpointConnectionProvisioningState": {
      "description": "State of Private Endpoint Connection.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Creating",
        "Updating",
        "UpdatingByProxy",
        "Deleting",
        "DeletingByProxy",
        "Deleted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProvisioningState",
        "modelAsString": true
      }
    },
    "PrivateEndpointConnectionResource": {
      "description": "Represents a Private Endpoint Connection ARM resource - a sub-resource of Notification Hubs namespace.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties"
        }
      }
    },
    "PrivateLinkConnectionStatus": {
      "description": "State of Private Link Connection.",
      "enum": [
        "Disconnected",
        "Pending",
        "Approved",
        "Rejected"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PrivateLinkConnectionStatus",
        "modelAsString": true
      }
    },
    "PublicInternetAuthorizationRule": {
      "description": "A default (public Internet) network authorization rule, which contains rights if no other network rule matches.",
      "required": [
        "rights"
      ],
      "type": "object",
      "properties": {
        "rights": {
          "description": "List of access rights.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessRights"
          }
        }
      }
    },
    "PublicNetworkAccess": {
      "description": "Type of public network access.",
      "default": "Enabled",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true
      }
    },
    "RegistrationResult": {
      "description": "Notification result for a single registration.",
      "type": "object",
      "properties": {
        "applicationPlatform": {
          "description": "PNS type.",
          "type": "string",
          "readOnly": true
        },
        "pnsHandle": {
          "description": "PNS handle.",
          "type": "string",
          "readOnly": true
        },
        "registrationId": {
          "description": "Registration id.",
          "type": "string",
          "readOnly": true
        },
        "outcome": {
          "description": "Notification outcome.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RemotePrivateEndpointConnection": {
      "description": "Represents a Private Endpoint that is connected to Notification Hubs namespace using Private Endpoint Connection.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ARM resource ID of the Private Endpoint. This may belong to different subscription and resource group than a Notification Hubs namespace.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RemotePrivateLinkServiceConnectionState": {
      "description": "State of the Private Link Service connection.",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateLinkConnectionStatus"
        },
        "description": {
          "description": "Human-friendly description.",
          "type": "string",
          "readOnly": true
        },
        "actionsRequired": {
          "description": "Human-friendly description of required actions.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ReplicationRegion": {
      "description": "Allowed replication region",
      "enum": [
        "Default",
        "WestUs2",
        "NorthEurope",
        "AustraliaEast",
        "BrazilSouth",
        "SouthEastAsia",
        "SouthAfricaNorth",
        "None"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ReplicationRegion",
        "modelAsString": true
      }
    },
    "ResourceListKeys": {
      "description": "Response for the POST request that returns Namespace or NotificationHub access keys (connection strings).",
      "type": "object",
      "properties": {
        "primaryConnectionString": {
          "description": "Gets or sets primaryConnectionString of the AuthorizationRule.",
          "type": "string",
          "readOnly": true,
          "x-ms-secret": true
        },
        "secondaryConnectionString": {
          "description": "Gets or sets secondaryConnectionString of the created\r\nAuthorizationRule",
          "type": "string",
          "readOnly": true,
          "x-ms-secret": true
        },
        "primaryKey": {
          "description": "Gets or sets primaryKey of the created AuthorizationRule.",
          "type": "string",
          "readOnly": true,
          "x-ms-secret": true
        },
        "secondaryKey": {
          "description": "Gets or sets secondaryKey of the created AuthorizationRule",
          "type": "string",
          "readOnly": true,
          "x-ms-secret": true
        },
        "keyName": {
          "description": "Gets or sets keyName of the created AuthorizationRule",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SharedAccessAuthorizationRuleListResult": {
      "description": "The response of the List Namespace operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets result of the List AuthorizationRules operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SharedAccessAuthorizationRuleResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Gets or sets link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SharedAccessAuthorizationRuleProperties": {
      "description": "SharedAccessAuthorizationRule properties.",
      "required": [
        "rights"
      ],
      "type": "object",
      "properties": {
        "rights": {
          "description": "Gets or sets the rights associated with the rule.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessRights"
          }
        },
        "primaryKey": {
          "description": "Gets a base64-encoded 256-bit primary key for signing and\r\nvalidating the SAS token.",
          "type": "string",
          "x-ms-secret": true
        },
        "secondaryKey": {
          "description": "Gets a base64-encoded 256-bit primary key for signing and\r\nvalidating the SAS token.",
          "type": "string",
          "x-ms-secret": true
        },
        "keyName": {
          "description": "Gets a string that describes the authorization rule.",
          "type": "string",
          "readOnly": true
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "Gets the last modified time for this rule",
          "type": "string",
          "readOnly": true
        },
        "createdTime": {
          "format": "date-time",
          "description": "Gets the created time for this rule",
          "type": "string",
          "readOnly": true
        },
        "claimType": {
          "description": "Gets a string that describes the claim type",
          "type": "string",
          "readOnly": true
        },
        "claimValue": {
          "description": "Gets a string that describes the claim value",
          "type": "string",
          "readOnly": true
        },
        "revision": {
          "format": "int32",
          "description": "Gets the revision number for the rule",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "SharedAccessAuthorizationRuleResource": {
      "description": "Response for POST requests that return single SharedAccessAuthorizationRule.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SharedAccessAuthorizationRuleProperties"
        },
        "location": {
          "description": "Deprecated - only for compatibility.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "description": "Deprecated - only for compatibility.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Sku": {
      "description": "The Sku description for a namespace",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName"
        },
        "tier": {
          "description": "Gets or sets the tier of particular sku",
          "type": "string"
        },
        "size": {
          "description": "Gets or sets the Sku size",
          "type": "string"
        },
        "family": {
          "description": "Gets or sets the Sku Family",
          "type": "string"
        },
        "capacity": {
          "format": "int32",
          "description": "Gets or sets the capacity of the resource",
          "type": "integer"
        }
      }
    },
    "SkuName": {
      "description": "Namespace SKU name.",
      "enum": [
        "Free",
        "Basic",
        "Standard"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": true
      }
    },
    "WnsCredential": {
      "description": "Description of a NotificationHub WnsCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WnsCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "WnsCredentialProperties": {
      "description": "Description of a NotificationHub WnsCredential.",
      "type": "object",
      "properties": {
        "packageSid": {
          "description": "Gets or sets the package ID for this credential.",
          "type": "string",
          "x-ms-secret": true
        },
        "secretKey": {
          "description": "Gets or sets the secret key.",
          "type": "string",
          "x-ms-secret": true
        },
        "windowsLiveEndpoint": {
          "description": "Gets or sets the Windows Live endpoint.",
          "type": "string",
          "x-ms-secret": true
        },
        "certificateKey": {
          "description": "Ges or sets the WNS Certificate Key.",
          "type": "string",
          "x-ms-secret": true
        },
        "wnsCertificate": {
          "description": "Gets or sets the WNS Certificate.",
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "XiaomiCredential": {
      "description": "Description of a NotificationHub XiaomiCredential.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/XiaomiCredentialProperties"
        }
      },
      "x-ms-secret": true
    },
    "XiaomiCredentialProperties": {
      "description": "Description of a NotificationHub XiaomiCredentialProperties.",
      "type": "object",
      "properties": {
        "appSecret": {
          "description": "Gets or sets app secret.",
          "type": "string",
          "x-ms-secret": true
        },
        "endpoint": {
          "description": "Gets or sets xiaomi service endpoint.",
          "type": "string",
          "x-ms-secret": true
        }
      }
    },
    "ZoneRedundancyPreference": {
      "description": "Namespace SKU name.",
      "default": "Disabled",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ZoneRedundancyPreference",
        "modelAsString": true
      },
      "x-ms-mutability": [
        "create",
        "read"
      ]
    }
  },
  "parameters": {
    "NamespaceName": {
      "in": "path",
      "name": "namespaceName",
      "description": "Namespace name",
      "required": true,
      "maxLength": 50,
      "minLength": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "HubName": {
      "in": "path",
      "name": "notificationHubName",
      "description": "Notification Hub name",
      "required": true,
      "maxLength": 265,
      "minLength": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9-./_]*$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "AuthorizationRuleName": {
      "in": "path",
      "name": "authorizationRuleName",
      "description": "Authorization Rule Name",
      "required": true,
      "maxLength": 256,
      "minLength": 1,
      "pattern": "^[a-zA-Z0-9!()*-._]+$",
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PrivateEndpointConnectionName": {
      "in": "path",
      "name": "privateEndpointConnectionName",
      "description": "Private Endpoint Connection Name",
      "required": true,
      "maxLength": 87,
      "minLength": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9-]*\\.[a-fA-F0-9\\-]+$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}