{
  "swagger": "2.0",
  "info": {
    "title": "Azure Maps Resource Provider",
    "description": "Resource Provider",
    "version": "2023-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators": {
      "get": {
        "tags": [
          "Creators"
        ],
        "description": "Get all Creator instances for an Azure Maps Account",
        "operationId": "Creators_ListByAccount",
        "x-ms-examples": {
          "List Creator Resources By Account": {
            "$ref": "./examples/ListMapsCreatorsByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/CreatorList"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators/{creatorName}": {
      "put": {
        "tags": [
          "Creators"
        ],
        "description": "Create or update a Maps Creator resource. Creator resource will manage Azure resources required to populate a custom set of mapping data. It requires an account to exist before it can be created.",
        "operationId": "Creators_CreateOrUpdate",
        "x-ms-examples": {
          "Create Creator Resource": {
            "$ref": "./examples/CreateMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          },
          {
            "name": "CreatorResource",
            "in": "body",
            "description": "The new or updated parameters for the Creator resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Creator is updated with the provided properties.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "201": {
            "description": "The Creator will be created asynchronously. The Creator will be ready to use once the provisioningState property changed to 'Succeeded' through creators Get API.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Creators"
        ],
        "description": "Updates the Maps Creator resource. Only a subset of the parameters may be updated after creation, such as Tags.",
        "operationId": "Creators_Update",
        "x-ms-examples": {
          "Update Creator Resource": {
            "$ref": "./examples/UpdateMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          },
          {
            "name": "CreatorUpdateParameters",
            "in": "body",
            "description": "The update parameters for Maps Creator.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatorUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Maps Creator was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Creators"
        ],
        "description": "Delete a Maps Creator resource.",
        "operationId": "Creators_Delete",
        "x-ms-examples": {
          "Delete Creator Resource": {
            "$ref": "./examples/DeleteMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Maps Creator will be deleted."
          },
          "204": {
            "description": "The specified Maps Creator resource was not found. Nothing was deleted."
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Creators"
        ],
        "description": "Get a Maps Creator resource.",
        "operationId": "Creators_Get",
        "x-ms-examples": {
          "Get Creator Resource": {
            "$ref": "./examples/GetMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "description": "The name of the Maps Account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CreatorNameParameter": {
      "name": "creatorName",
      "in": "path",
      "description": "The name of the Maps Creator instance.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "Creator": {
      "description": "An Azure resource which represents Maps Creator product and provides ability to manage private location data.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The Creator resource properties.",
          "$ref": "#/definitions/CreatorProperties"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "CreatorUpdateParameters": {
      "description": "Parameters used to update an existing Creator resource.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "properties": {
          "description": "Creator resource properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreatorProperties"
        }
      }
    },
    "CreatorList": {
      "description": "A list of Creator resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "a Creator account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Creator"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "Kind": {
      "description": "The Kind of the Maps Account.",
      "type": "string",
      "default": "Gen1",
      "enum": [
        "Gen1",
        "Gen2"
      ],
      "x-ms-enum": {
        "name": "kind",
        "modelAsString": true
      }
    },
    "Sku": {
      "description": "The SKU of the Maps Account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the SKU, in standard format (such as S0).",
          "type": "string",
          "enum": [
            "S0",
            "S1",
            "G2"
          ],
          "x-ms-enum": {
            "name": "name",
            "modelAsString": true
          }
        },
        "tier": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the sku tier. This is based on the SKU name."
        }
      },
      "required": [
        "name"
      ]
    },
    "MapsKeySpecification": {
      "description": "Whether the operation refers to the primary or secondary key.",
      "type": "object",
      "required": [
        "keyType"
      ],
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": true
          },
          "description": "Whether the operation refers to the primary or secondary key."
        }
      }
    },
    "MapsOperations": {
      "description": "The set of operations available for Maps.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An operation available for Maps.",
          "type": "array",
          "readOnly": true,
          "uniqueItems": false,
          "items": {
            "$ref": "#/definitions/OperationDetail"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "OperationDetail": {
      "description": "Operation detail payload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationProperties",
          "description": "Properties of the operation"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Resource of the operation",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of operation, include metric specifications.",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "One property of operation, include metric specifications."
        }
      }
    },
    "ServiceSpecification": {
      "description": "One property of operation, include metric specifications.",
      "properties": {
        "metricSpecifications": {
          "description": "Metric specifications of operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          }
        }
      }
    },
    "MetricSpecification": {
      "description": "Metric specification of operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of metric specification."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of metric specification."
        },
        "displayDescription": {
          "type": "string",
          "description": "Display description of metric specification."
        },
        "unit": {
          "type": "string",
          "description": "Unit could be Count."
        },
        "dimensions": {
          "description": "Dimensions of map account.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        },
        "aggregationType": {
          "type": "string",
          "description": "Aggregation type could be Average."
        },
        "fillGapWithZero": {
          "type": "boolean",
          "description": "The property to decide fill gap with zero or not."
        },
        "category": {
          "type": "string",
          "description": "The category this metric specification belong to, could be Capacity."
        },
        "resourceIdDimensionNameOverride": {
          "type": "string",
          "description": "Account Resource Id."
        }
      }
    },
    "Dimension": {
      "description": "Dimension of map account, for example API Category, Api Name, Result Type, and Response Code.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "internalName": {
          "type": "string",
          "description": "Internal name of the dimension."
        },
        "internalMetricName": {
          "type": "string",
          "description": "Internal metric name of the dimension."
        },
        "sourceMdmNamespace": {
          "type": "string",
          "description": "Source Mdm Namespace of the dimension."
        },
        "toBeExportedToShoebox": {
          "type": "boolean",
          "description": "Flag to indicate exporting to Azure Monitor."
        }
      }
    },
    "CreatorProperties": {
      "description": "Creator resource properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the resource provisioning, terminal states: Succeeded, Failed, Canceled",
          "type": "string",
          "readOnly": true
        },
        "storageUnits": {
          "description": "The storage units to be allocated. Integer values from 1 to 100, inclusive.",
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100
        },
        "totalStorageUnitSizeInBytes": {
          "description": "The total allocated storage unit size in bytes for the creator resource.",
          "type": "integer",
          "format": "int32"
        },
        "consumedStorageUnitSizeInBytes": {
          "description": "The consumed storage unit size in bytes for the creator resource.",
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "storageUnits"
      ]
    }
  }
}
