{
  "swagger": "2.0",
  "info": {
    "version": "2022-06-01",
    "title": "Microsoft.ResourceHealth",
    "description": "The Resource Health Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceHealth/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "Events_ListBySubscriptionId",
        "description": "Lists current service health events in the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/QueryStartTimeParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ViewParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of current service health events in the subscription",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListEventsBySubscriptionId": {
            "$ref": "./examples/Events_ListBySubscriptionId.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ResourceHealth/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "Events_ListBySingleResource",
        "description": "Lists current service health events for given resource.",
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Currently the API support not nested and one nesting level resource types : /subscriptions/{subscriptionId}/resourceGroups/{resource-group-name}/providers/{resource-provider-name}/{resource-type}/{resource-name} and /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resource-provider-name}/{parentResourceType}/{parentResourceName}/{resourceType}/{resourceName}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ViewParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of current service health events for given resource",
            "schema": {
              "$ref": "#/definitions/events"
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListEventsBySingleResource": {
            "$ref": "./examples/Events_ListBySingleResource.json"
          }
        }
      }
    },
    "/providers/Microsoft.ResourceHealth/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists available operations for the resourcehealth resource provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available operations for the resourcehealth resource provider",
            "schema": {
              "$ref": "#/definitions/operationListResult"
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "events": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/event"
          },
          "description": "The list of event."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of events. Call ListNext() with this URI to fetch the next page of events."
        }
      },
      "required": [
        "value"
      ],
      "description": "The List events operation response."
    },
    "event": {
      "type": "object",
      "description": "Service health event",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "type": "object",
          "description": "Properties of event.",
          "properties": {
            "eventType": {
              "type": "string",
              "description": "Type of event.",
              "enum": [
                "ServiceIssue",
                "PlannedMaintenance",
                "HealthAdvisory",
                "RCA",
                "EmergingIssues",
                "SecurityAdvisory"
              ],
              "x-ms-enum": {
                "name": "EventTypeValues",
                "modelAsString": true
              }
            },
            "eventSource": {
              "type": "string",
              "description": "Source of event.",
              "enum": [
                "ResourceHealth",
                "ServiceHealth"
              ],
              "x-ms-enum": {
                "name": "EventSourceValues",
                "modelAsString": true
              }
            },
            "status": {
              "type": "string",
              "description": "Current status of event.",
              "enum": [
                "Active",
                "Resolved"
              ],
              "x-ms-enum": {
                "name": "EventStatusValues",
                "modelAsString": true
              }
            },
            "title": {
              "type": "string",
              "description": "Title text of event."
            },
            "summary": {
              "type": "string",
              "description": "Summary text of event."
            },
            "header": {
              "type": "string",
              "description": "Header text of event."
            },
            "level": {
              "type": "string",
              "description": "Level of insight.",
              "enum": [
                "Critical",
                "Warning"
              ],
              "x-ms-enum": {
                "name": "LevelValues",
                "modelAsString": true
              }
            },
            "eventLevel": {
              "type": "string",
              "description": "Level of event.",
              "enum": [
                "Critical",
                "Error",
                "Warning",
                "Informational"
              ],
              "x-ms-enum": {
                "name": "EventLevelValues",
                "modelAsString": true
              }
            },
            "article": {
              "type": "object",
              "description": "Article of event.",
              "properties": {
                "articleContent": {
                  "type": "string",
                  "description": "Article content of event."
                }
              }
            },
            "links": {
              "type": "array",
              "description": "Useful links of event.",
              "items": {
                "$ref": "#/definitions/link"
              }
            },
            "impactStartTime": {
              "type": "string",
              "description": "It provides the Timestamp for when the health impacting event started.",
              "format": "date-time"
            },
            "impactMitigationTime": {
              "type": "string",
              "description": "It provides the Timestamp for when the health impacting event resolved.",
              "format": "date-time"
            },
            "impact": {
              "type": "array",
              "description": "List services impacted by the service health event.",
              "items": {
                "$ref": "#/definitions/impact"
              }
            },
            "recommendedActions": {
              "type": "object",
              "description": "Recommended actions of event.",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Recommended action title for the service health event."
                },
                "actions": {
                  "type": "array",
                  "description": "Recommended actions for the service health event.",
                  "items": {
                    "type": "object",
                    "description": "Recommended action for the service health event.",
                    "properties": {
                      "groupId": {
                        "type": "integer",
                        "description": "Recommended action group Id for the service health event."
                      },
                      "actionText": {
                        "type": "string",
                        "description": "Recommended action text"
                      }
                    }
                  }
                },
                "localeCode": {
                  "type": "string",
                  "description": "Recommended action locale for the service health event."
                }
              }
            },
            "faqs": {
              "type": "array",
              "description": "Frequently asked questions for the service health event.",
              "items": {
                "$ref": "#/definitions/faq"
              }
            },
            "isHIR": {
              "type": "boolean",
              "description": "It provides information if the event is High incident rate event or not."
            },
            "enableMicrosoftSupport": {
              "type": "boolean",
              "description": "Tells if we want to enable or disable Microsoft Support for this event."
            },
            "description": {
              "type": "string",
              "description": "Contains the communication message for the event, that could include summary, root cause and other details."
            },
            "platformInitiated": {
              "type": "boolean",
              "description": "Is true if the event is platform initiated."
            },
            "enableChatWithUs": {
              "type": "boolean",
              "description": "Tells if we want to enable or disable Microsoft Support for this event."
            },
            "priority": {
              "type": "integer",
              "description": "Priority level of the event. Has value from 0 to 23. 0 is the highest priority. Service issue events have higher priority followed by planned maintenance and health advisory. Critical events have higher priority followed by error, warning and informational. Furthermore, active events have higher priority than resolved."
            },
            "lastUpdateTime": {
              "type": "string",
              "description": "It provides the Timestamp for when the health impacting event was last updated.",
              "format": "date-time"
            },
            "hirStage": {
              "type": "string",
              "description": "Stage for HIR Document"
            },
            "duration": {
              "type": "integer",
              "description": "The expected duration of the event in seconds."
            },
            "impactType": {
              "type": "string",
              "description": "The event's impact type"
            },
            "additionalInformation": {
              "type": "object",
              "description": "Contains additional information regarding the event.",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Additional information message."
                }
              }
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "link": {
      "description": "Useful links for service health event.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of link.",
          "enum": [
            "Button",
            "Hyperlink"
          ],
          "x-ms-enum": {
            "name": "LinkTypeValues",
            "modelAsString": true
          }
        },
        "displayText": {
          "type": "object",
          "description": "Display text of link.",
          "properties": {
            "value": {
              "type": "string",
              "description": "Display text of link."
            },
            "localizedValue": {
              "type": "string",
              "description": "Localized display text of link."
            }
          }
        },
        "extensionName": {
          "type": "string",
          "description": "It provides the name of portal extension to produce link for given service health event."
        },
        "bladeName": {
          "type": "string",
          "description": "It provides the name of portal extension blade to produce link for given service health event."
        },
        "parameters": {
          "type": "object",
          "description": "It provides a map of parameter name and value for portal extension blade to produce lik for given service health event."
        }
      }
    },
    "faq": {
      "description": "Frequently asked question for the service health event",
      "properties": {
        "question": {
          "type": "string",
          "description": "FAQ question for the service health event."
        },
        "answer": {
          "type": "string",
          "description": "FAQ answer for the service health event."
        },
        "localeCode": {
          "type": "string",
          "description": "FAQ locale for the service health event."
        }
      }
    },
    "impact": {
      "description": "Azure service impacted by the service health event.",
      "properties": {
        "impactedService": {
          "type": "string",
          "description": "Impacted service name."
        },
        "impactedRegions": {
          "type": "array",
          "description": "List regions impacted by the service health event.",
          "items": {
            "$ref": "#/definitions/impactedServiceRegion"
          }
        }
      }
    },
    "impactedServiceRegion": {
      "description": "Azure region impacted by the service health event.",
      "properties": {
        "impactedRegion": {
          "type": "string",
          "description": "Impacted region name."
        },
        "status": {
          "type": "string",
          "description": "Current status of event in the region.",
          "enum": [
            "Active",
            "Resolved"
          ],
          "x-ms-enum": {
            "name": "EventStatusValues",
            "modelAsString": true
          }
        },
        "impactedSubscriptions": {
          "type": "array",
          "description": "List subscription impacted by the service health event.",
          "items": {
            "type": "string",
            "description": "Subscription impacted by the service health event."
          }
        },
        "lastUpdateTime": {
          "type": "string",
          "description": "It provides the Timestamp for when the last update for the service health event.",
          "format": "date-time"
        },
        "updates": {
          "type": "array",
          "description": "List of updates for given service health event.",
          "items": {
            "$ref": "#/definitions/update"
          }
        }
      }
    },
    "operationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          },
          "description": "List of operations available in the resourcehealth resource provider."
        }
      },
      "required": [
        "value"
      ],
      "description": "Lists the operations response."
    },
    "operation": {
      "description": "Operation available in the resourcehealth resource provider.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation."
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation.",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name."
            },
            "resource": {
              "type": "string",
              "description": "Resource name."
            },
            "operation": {
              "type": "string",
              "description": "Operation name."
            },
            "description": {
              "type": "string",
              "description": "Description of the operation."
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The error details.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A valid odata query to limit the events returned. The logical operators and, or, equal, not equal, and top are supported. For example, $filter=Properties/EventType eq 'ServiceIssue' or Properties/EventType eq 'PlannedMaintenance' OR %24filter=Properties%2FEventType%20eq%20%27ServiceIssue%27%20or%20Properties%2FEventType%20eq%20%27PlannedMaintenance%27",
      "x-ms-parameter-location": "method"
    },
    "QueryStartTimeParameter": {
      "name": "queryStartTime",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Specifies from when to return events, based on the lastUpdateTime property. For example, queryStartTime = 7/24/2020 OR queryStartTime=7%2F24%2F2020",
      "x-ms-parameter-location": "method"
    },
    "ViewParameter": {
      "name": "view",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "setting view=full expands the article parameters",
      "x-ms-parameter-location": "method"
    }
  }
}
