{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "version": "2024-04-15",
    "description": "The definitions in this swagger specification will be used to manage the Hybrid Network resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ConfigurationGroupSchemas"
    },
    {
      "name": "Publishers"
    },
    {
      "name": "ConfigurationGroupValues"
    },
    {
      "name": "NetworkFunctions"
    },
    {
      "name": "Components"
    },
    {
      "name": "NetworkFunctionDefinitionGroups"
    },
    {
      "name": "NetworkFunctionDefinitionVersions"
    },
    {
      "name": "NetworkServiceDesignGroups"
    },
    {
      "name": "NetworkServiceDesignVersions"
    },
    {
      "name": "ArtifactStores"
    },
    {
      "name": "ArtifactManifests"
    },
    {
      "name": "Sites"
    },
    {
      "name": "SiteNetworkServices"
    }
  ],
  "paths": {
    "/providers/Microsoft.HybridNetwork/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Gets a list of the operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns a list of operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Registration Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/configurationGroupValues": {
      "get": {
        "operationId": "ConfigurationGroupValues_ListBySubscription",
        "tags": [
          "ConfigurationGroupValues"
        ],
        "description": "Lists all sites in the configuration group value in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network site resources.",
            "schema": {
              "$ref": "#/definitions/configurationGroupValueListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network sites in a subscription.": {
            "$ref": "./examples/ConfigurationGroupValueListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctions": {
      "get": {
        "operationId": "NetworkFunctions_ListBySubscription",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Lists all the network functions in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of network function resources.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all network function resources in subscription.": {
            "$ref": "./examples/NetworkFunctionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/publishers": {
      "get": {
        "operationId": "Publishers_ListBySubscription",
        "tags": [
          "Publishers"
        ],
        "description": "Lists all the publishers in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of publisher resources.",
            "schema": {
              "$ref": "#/definitions/PublisherListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all publisher resources in a subscription": {
            "$ref": "./examples/PublisherListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/siteNetworkServices": {
      "get": {
        "operationId": "SiteNetworkServices_ListBySubscription",
        "tags": [
          "SiteNetworkServices"
        ],
        "description": "Lists all sites in the network service in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of network site resources.",
            "schema": {
              "$ref": "#/definitions/SiteNetworkServiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network sites in a subscription.": {
            "$ref": "./examples/SiteNetworkServiceListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/sites": {
      "get": {
        "operationId": "Sites_ListBySubscription",
        "tags": [
          "Sites"
        ],
        "description": "Lists all sites in the network service in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network site resources.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network sites in a subscription.": {
            "$ref": "./examples/SiteListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues": {
      "get": {
        "operationId": "ConfigurationGroupValues_ListByResourceGroup",
        "tags": [
          "ConfigurationGroupValues"
        ],
        "description": "Lists all the hybrid network configurationGroupValues in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid configuration group value resources.",
            "schema": {
              "$ref": "#/definitions/configurationGroupValueListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all hybrid network configurationGroupValues in a subscription.": {
            "$ref": "./examples/ConfigurationGroupValueListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/configurationGroupValues/{configurationGroupValueName}": {
      "get": {
        "operationId": "ConfigurationGroupValues_Get",
        "tags": [
          "ConfigurationGroupValues"
        ],
        "description": "Gets information about the specified hybrid configuration group values.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupValueNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting hybrid configuration group resource.",
            "schema": {
              "$ref": "#/definitions/configurationGroupValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get hybrid configuration group": {
            "$ref": "./examples/ConfigurationGroupValueGet.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationGroupValues_CreateOrUpdate",
        "tags": [
          "ConfigurationGroupValues"
        ],
        "description": "Creates or updates a hybrid configuration group value.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupValueNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update configuration group value resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/configurationGroupValue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create or update operation has been completed successfully.",
            "schema": {
              "$ref": "#/definitions/configurationGroupValue"
            }
          },
          "201": {
            "description": "Create or update operation has been completed successfully. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/configurationGroupValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update configuration group value": {
            "$ref": "./examples/ConfigurationGroupValueCreate.json"
          },
          "Create or update configuration group value with secrets": {
            "$ref": "./examples/ConfigurationGroupValueCreateSecret.json"
          },
          "Create or update first party configuration group value": {
            "$ref": "./examples/ConfigurationGroupValueFirstPartyCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConfigurationGroupValues_UpdateTags",
        "tags": [
          "ConfigurationGroupValues"
        ],
        "description": "Updates a hybrid configuration group tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupValueNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update configuration group values tags.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update is successful. The operation returns the resulting hybrid configuration group resource.",
            "schema": {
              "$ref": "#/definitions/configurationGroupValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update hybrid configuration group tags": {
            "$ref": "./examples/ConfigurationGroupValueUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "ConfigurationGroupValues_Delete",
        "tags": [
          "ConfigurationGroupValues"
        ],
        "description": "Deletes the specified hybrid configuration group value.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupValueNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete hybrid configuration group resource": {
            "$ref": "./examples/ConfigurationGroupValueDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions": {
      "get": {
        "operationId": "NetworkFunctions_ListByResourceGroup",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Lists all the network function resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of network function resources.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List network function in resource group": {
            "$ref": "./examples/NetworkFunctionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}": {
      "get": {
        "operationId": "NetworkFunctions_Get",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Gets information about the specified network function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkFunctionName",
            "in": "path",
            "description": "The name of the network function resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful. The operation returns the resulting network function resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network function resource": {
            "$ref": "./examples/NetworkFunctionGet.json"
          },
          "Get virtual network function resource on AzureCore": {
            "$ref": "./examples/AzureCore/VirtualNetworkFunctionGet.json"
          },
          "Get virtual network function resource on AzureOperatorNexus": {
            "$ref": "./examples/AzureOperatorNexus/VirtualNetworkFunctionGet.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkFunctions_CreateOrUpdate",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Creates or updates a network function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkFunctionName",
            "in": "path",
            "description": "Resource name for the network function resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied in the body to the create or update network function operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Create or update operation has been completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "201": {
            "description": "Create or update operation has been completed successfully. The header contains 'Azure-AsyncOperation' header pointing to an operation resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create first party network function resource": {
            "$ref": "./examples/NetworkFunctionFirstPartyCreate.json"
          },
          "Create network function resource": {
            "$ref": "./examples/NetworkFunctionCreate.json"
          },
          "Create network function resource with secrets": {
            "$ref": "./examples/NetworkFunctionCreateSecret.json"
          },
          "Create virtual network function resource on AzureCore": {
            "$ref": "./examples/AzureCore/VirtualNetworkFunctionCreate.json"
          },
          "Create virtual network function resource on AzureOperatorNexus": {
            "$ref": "./examples/AzureOperatorNexus/VirtualNetworkFunctionCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "NetworkFunctions_UpdateTags",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Updates the tags for the network function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkFunctionName",
            "in": "path",
            "description": "Resource name for the network function resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update network function tags operation.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update is completed successfully. The operation returns the resulting network function resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags for network function resource": {
            "$ref": "./examples/NetworkFunctionUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "NetworkFunctions_Delete",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Deletes the specified network function resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete network function resource": {
            "$ref": "./examples/NetworkFunctionDelete.json"
          },
          "Delete virtual network function resource on AzureCore": {
            "$ref": "./examples/AzureCore/VirtualNetworkFunctionDelete.json"
          },
          "Delete virtual network function resource on AzureOperatorNexus": {
            "$ref": "./examples/AzureOperatorNexus/VirtualNetworkFunctionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}/components": {
      "get": {
        "operationId": "Components_ListByNetworkFunction",
        "tags": [
          "Components"
        ],
        "description": "Lists all the component resources in a network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/ComponentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List components in network function": {
            "$ref": "./examples/ComponentListByNetworkFunction.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}/components/{componentName}": {
      "get": {
        "operationId": "Components_Get",
        "tags": [
          "Components"
        ],
        "description": "Gets information about the specified application instance resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionComponentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful. The operation returns the resulting component resource.",
            "schema": {
              "$ref": "#/definitions/Component"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get component resource": {
            "$ref": "./examples/ComponentGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}/executeRequest": {
      "post": {
        "operationId": "NetworkFunctions_ExecuteRequest",
        "tags": [
          "NetworkFunctions"
        ],
        "description": "Execute a request to services on a containerized network function.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NetworkFunctionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Payload for execute request post call.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteRequestParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Send request to  network function services": {
            "$ref": "./examples/NetworkFunctionsExecuteRequest.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers": {
      "get": {
        "operationId": "Publishers_ListByResourceGroup",
        "tags": [
          "Publishers"
        ],
        "description": "Lists all the publishers in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of publisher resources.",
            "schema": {
              "$ref": "#/definitions/PublisherListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all publisher resources in a resource group": {
            "$ref": "./examples/PublisherListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}": {
      "get": {
        "operationId": "Publishers_Get",
        "tags": [
          "Publishers"
        ],
        "description": "Gets information about the specified publisher.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting publisher resource.",
            "schema": {
              "$ref": "#/definitions/Publisher"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a publisher resource": {
            "$ref": "./examples/PublisherGet.json"
          }
        }
      },
      "put": {
        "operationId": "Publishers_CreateOrUpdate",
        "tags": [
          "Publishers"
        ],
        "description": "Creates or updates a publisher.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create publisher operation.",
            "schema": {
              "$ref": "#/definitions/Publisher"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting publisher resource.",
            "schema": {
              "$ref": "#/definitions/Publisher"
            }
          },
          "201": {
            "description": "Create or update operation has been completed successfully. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/Publisher"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a publisher resource": {
            "$ref": "./examples/PublisherCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Publishers_Update",
        "tags": [
          "Publishers"
        ],
        "description": "Update a publisher resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create publisher operation.",
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Request is successful.",
            "schema": {
              "$ref": "#/definitions/Publisher"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a publisher tags": {
            "$ref": "./examples/PublisherUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "Publishers_Delete",
        "tags": [
          "Publishers"
        ],
        "description": "Deletes the specified publisher.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a publisher resource": {
            "$ref": "./examples/PublisherDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores": {
      "get": {
        "operationId": "ArtifactStores_ListByPublisher",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Gets information of the ArtifactStores under publisher.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactStoreVersion resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get application groups under a publisher resource": {
            "$ref": "./examples/ArtifactStoresListByPublisherName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}": {
      "get": {
        "operationId": "ArtifactStores_Get",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Gets information about the specified artifact store.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactStore resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a artifact store resource": {
            "$ref": "./examples/ArtifactStoreGet.json"
          }
        }
      },
      "put": {
        "operationId": "ArtifactStores_CreateOrUpdate",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Creates or updates a artifact store.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update application group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting ArtifactStore sub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "201": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting ArtifactStore sub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an artifact store of publisher resource": {
            "$ref": "./examples/ArtifactStoreCreate.json"
          },
          "Create or update an artifact store of publisher resource with container registry": {
            "$ref": "./examples/ArtifactStoreCreateContainer.json"
          },
          "Create or update an artifact store of publisher resource with storage": {
            "$ref": "./examples/ArtifactStoreCreateStorage.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ArtifactStores_Update",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Update artifact store resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update application group operation.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting ArtifactStore sub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update artifact store resource tags": {
            "$ref": "./examples/ArtifactStoreUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "ArtifactStores_Delete",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Deletes the specified artifact store.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a artifact store of publisher resource": {
            "$ref": "./examples/ArtifactStoreDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifactVersions/{artifactVersionName}": {
      "patch": {
        "operationId": "ProxyArtifact_UpdateState",
        "tags": [
          "ProxyArtifact"
        ],
        "description": "Change artifact state defined in artifact store.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactVersionNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update the state of artifact manifest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. Artifact State updated successfully",
            "schema": {
              "$ref": "#/definitions/ProxyArtifactVersionsListOverview"
            }
          },
          "202": {
            "description": "Request of updating artifact state is accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an artifact state": {
            "$ref": "./examples/PureProxyArtifact/ArtifactChangeState.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/addNetworkFabricControllerEndPoints": {
      "post": {
        "operationId": "ArtifactStores_AddNetworkFabricControllerEndPoints",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Add network fabric controllers to artifact stores",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update application group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactStoreNetworkFabricControllerEndPoints"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Add Network Fabric Endpoint": {
            "$ref": "./examples/ArtifactStoreAddNFCEndPoints.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/approvePrivateEndPoints": {
      "post": {
        "operationId": "ArtifactStores_ApprovePrivateEndPoints",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Approve manual private endpoints on artifact stores",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to approve private endpoints.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactStorePrivateEndPointsFormat"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Approve manual private endpoints": {
            "$ref": "./examples/ArtifactStoreApprovePrivateEndPoints.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifactManifests": {
      "get": {
        "operationId": "ArtifactManifests_ListByArtifactStore",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "Gets information about the artifact manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactManifest resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifestListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get artifact manifest list resource": {
            "$ref": "./examples/ArtifactManifestListByArtifactStore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifactManifests/{artifactManifestName}": {
      "get": {
        "operationId": "ArtifactManifests_Get",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "Gets information about a artifact manifest resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactManifestParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting ArtifactManifest resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a artifact manifest resource": {
            "$ref": "./examples/ArtifactManifestGet.json"
          }
        }
      },
      "put": {
        "operationId": "ArtifactManifests_CreateOrUpdate",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "Creates or updates a artifact manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactManifestParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update artifact manifest operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting ArtifactManifest sub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "201": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting ArtifactManifest sub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the artifact manifest resource": {
            "$ref": "./examples/ArtifactManifestCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ArtifactManifests_Update",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "Updates a artifact manifest resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactManifestParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update artifact manifest operation.",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Creation or update is successful. The operation returns the resulting ArtifactManifest sub resource.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifest"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a artifact manifest resource tags": {
            "$ref": "./examples/ArtifactManifestUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "ArtifactManifests_Delete",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "Deletes the specified artifact manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactManifestParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Sets provisioningState to 'Deleting' until the operation is completed. Returns an operation URI that can be queried to find the current state of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Request is successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a artifact manifest resource": {
            "$ref": "./examples/ArtifactManifestDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifactManifests/{artifactManifestName}/listCredential": {
      "post": {
        "operationId": "ArtifactManifests_ListCredential",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "List credential for publishing artifacts defined in artifact manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactManifestParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operations returns the credential for publishing artifacts.",
            "schema": {
              "$ref": "./common.json#/definitions/ArtifactAccessCredential"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List a credential for artifact manifest": {
            "$ref": "./examples/ArtifactManifestListCredential.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifactManifests/{artifactManifestName}/updateState": {
      "post": {
        "operationId": "ArtifactManifests_UpdateState",
        "tags": [
          "ArtifactManifests"
        ],
        "description": "Update state for artifact manifest.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactManifestParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update the state of artifact manifest.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactManifestUpdateState"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operations returns the credential for publishing artifacts.",
            "schema": {
              "$ref": "#/definitions/ArtifactManifestUpdateState"
            }
          },
          "202": {
            "description": "Request of updating artifact manifest state is accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update artifact manifest state": {
            "$ref": "./examples/ArtifactManifestUpdateState.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifactVersions": {
      "get": {
        "operationId": "ProxyArtifact_Get",
        "tags": [
          "ProxyArtifact"
        ],
        "description": "Get a Artifact overview information.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a proxy artifact overview.",
            "schema": {
              "$ref": "#/definitions/ProxyArtifactVersionsOverviewListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an artifact overview": {
            "$ref": "./examples/PureProxyArtifact/ArtifactGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/artifacts": {
      "get": {
        "operationId": "ProxyArtifact_List",
        "tags": [
          "ProxyArtifact"
        ],
        "description": "Lists all the available artifacts in the parent Artifact Store.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of available artifacts.",
            "schema": {
              "$ref": "#/definitions/ProxyArtifactOverviewListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List artifacts under an artifact store": {
            "$ref": "./examples/PureProxyArtifact/ArtifactList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/deleteNetworkFabricControllerEndPoints": {
      "post": {
        "operationId": "ArtifactStores_DeleteNetworkFabricControllerEndPoints",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Delete network fabric controllers on artifact stores",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update application group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactStoreNetworkFabricControllerEndPoints"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Fabric Endpoints": {
            "$ref": "./examples/ArtifactStoreDeleteNFCEndPoints.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/listNetworkFabricControllerPrivateEndPoints": {
      "post": {
        "operationId": "ArtifactStores_ListNetworkFabricControllerPrivateEndPoints",
        "tags": [
          "ArtifactStores"
        ],
        "description": "List network fabric controllers to artifact stores",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operations returns the list of network fabric controllers attached to artifact store.",
            "schema": {
              "$ref": "#/definitions/ArtifactStoreNetworkFabricControllerEndPointsList"
            }
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Network Fabric Endpoints": {
            "$ref": "./examples/ArtifactStoreListNFCEndPoints.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/listPrivateEndPoints": {
      "post": {
        "operationId": "ArtifactStores_ListPrivateEndPoints",
        "tags": [
          "ArtifactStores"
        ],
        "description": "List manual private endpoints on artifact stores",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful.",
            "schema": {
              "$ref": "#/definitions/ArtifactStorePrivateEndPointsListResult"
            }
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Manual Private Endpoints": {
            "$ref": "./examples/ArtifactStoreListPrivateEndPoints.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/artifactStores/{artifactStoreName}/removePrivateEndPoints": {
      "post": {
        "operationId": "ArtifactStores_RemovePrivateEndPoints",
        "tags": [
          "ArtifactStores"
        ],
        "description": "Remove manual private endpoints on artifact stores",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ArtifactStoreParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update application group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactStorePrivateEndPointsFormat"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Remove Manual Endpoint": {
            "$ref": "./examples/ArtifactStoreRemovePrivateEndPoints.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas": {
      "get": {
        "operationId": "ConfigurationGroupSchemas_ListByPublisher",
        "tags": [
          "ConfigurationGroupSchemas"
        ],
        "description": "Gets information of the configuration group schemas under a publisher.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting configuration group schema resource.",
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupSchemaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get networkFunctionDefinition groups under publisher resource": {
            "$ref": "./examples/ConfigurationGroupSchemaListByPublisherName.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/publishers/{publisherName}/configurationGroupSchemas/{configurationGroupSchemaName}": {
      "get": {
        "operationId": "ConfigurationGroupSchemas_Get",
        "tags": [
          "ConfigurationGroupSchemas"
        ],
        "description": "Gets information about the specified configuration group schema.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupSchemaNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting publisher network function definition group resource.",
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupSchema"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a networkFunctionDefinition group resource": {
            "$ref": "./examples/ConfigurationGroupSchemaGet.json"
          }
        }
      },
      "put": {
        "operationId": "ConfigurationGroupSchemas_CreateOrUpdate",
        "tags": [
          "ConfigurationGroupSchemas"
        ],
        "description": "Creates or updates a configuration group schema.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupSchemaNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update configuration group schema resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupSchema"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting configuration group schema resource.",
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupSchema"
            }
          },
          "201": {
            "description": "Create or update operation has been completed successfully. The operation returns the resulting configuration group schema sub resource.",
            "schema": {
              "$ref": "#/definitions/ConfigurationGroupSchema"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update the network function definition group": {
            "$ref": "./examples/ConfigurationGroupSchemaCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConfigurationGroupSchemas_Update",
        "tags": [
          "ConfigurationGroupSchemas"
        ],
        "description": "Updates a configuration group schema resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PublisherNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ConfigurationGroupSchemaNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update network service design version operation.",
            "required": true,
            "schema": {
[...]
