{
  "swagger": "2.0",
  "info": {
    "version": "2019-07-19-preview",
    "title": "Azure Reservation API",
    "description": "Microsoft Azure Quota Resource Provider."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits/{resourceName}": {
      "get": {
        "tags": [
          "QuotaInformation"
        ],
        "summary": "Gets the current quota limit and usages for the resource provider for the specified location for the specific resource in the parameter.",
        "description": "This API gets the current quota limit and usages for the specific resource for resource provider for the specified location. This response can be used to submit quotaRequests.",
        "operationId": "Quota_listStatus",
        "x-ms-examples": {
          "Quotas_Request_ForCompute": {
            "$ref": "./examples/getComputeOneSkuUsages.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameInParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota information will be returned as response with pagination.",
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            },
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "QuotaRequests"
        ],
        "summary": "Submits a Quota Request for a resource provider at the specified location for the specific resource in the parameter.",
        "description": "Submits Quota change request for a resource provider for the specified location for the specific resource in the parameter. To use, first make a Get request to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the Get request to their new values. Then, submit this updated JSON object to this quota request API. This will update the quota to the values specified. The location header in the response will be used to track the status of the quota request. Please check the provisioningState field in the response.",
        "operationId": "QuotaRequest_Create",
        "x-ms-examples": {
          "Quotas_Request_listForCompute": {
            "$ref": "./examples/putComputeOneSkuQuotaRequest.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "createQuotaRequest",
            "in": "body",
            "description": "Quota requests payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          },
          {
            "$ref": "#/parameters/IfMatchRequiredParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns Quota requests details.",
            "schema": {
              "$ref": "#/definitions/QuotaRequestOneResourceSubmitResponse"
            }
          },
          "201": {
            "description": "The request is accepted and is being processed. Please use requestId to check the status.",
            "schema": {
              "$ref": "#/definitions/QuotaRequestSubmitResponse201"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "QuotaRequests"
        ],
        "summary": "Submits a Quota Request for a resource provider at the specified location for the specific resource in the parameter.",
        "description": "Submits Quota change request for a resource provider for the specified location for the specific resource in the parameter. To use, first make a Get request to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the Get request to their new values. Then, submit this updated JSON object to this quota request API. This will update the quota to the values specified. The location header in the response will be used to track the status of the quota request. Please check the provisioningState field in the response.",
        "operationId": "QuotaRequest_Update",
        "x-ms-examples": {
          "Quotas_Request_PatchForCompute": {
            "$ref": "./examples/patchComputeQuotaRequest.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/ResourceNameInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "createQuotaRequest",
            "in": "body",
            "description": "Quota requests payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CurrentQuotaLimitBase"
            }
          },
          {
            "$ref": "#/parameters/IfMatchRequiredParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns Quota requests details.",
            "schema": {
              "$ref": "#/definitions/QuotaRequestOneResourceSubmitResponse"
            }
          },
          "201": {
            "description": "The request is accepted and is being processed. Please use requestId to check the status.",
            "schema": {
              "$ref": "#/definitions/QuotaRequestSubmitResponse201"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits": {
      "get": {
        "tags": [
          "QuotaInformation"
        ],
        "summary": "Gets the current quota limit and usages for all the resources by the resource provider at the specified location.",
        "description": "This API gets the current quota limits and usages for the resource provider for the specified location. This response can be used to submit quotaRequests.",
        "operationId": "Quotas_listStatus",
        "x-ms-examples": {
          "Quotas_listUsagesForCompute": {
            "$ref": "./examples/getComputeUsages.json"
          },
          "Quotas_listUsagesForBatchAI": {
            "$ref": "./examples/getBatchAIUsages.json"
          },
          "Quotas_listUsagesForMsSql": {
            "$ref": "./examples/getMsSqlUsages.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Quota information will be returned as response with pagination.",
            "schema": {
              "$ref": "#/definitions/QuotaLimits"
            },
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests/{id}": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "x-ms-examples": {
          "QuotaRequestStatus": {
            "$ref": "./examples/getQuotaRequestStatusById.json"
          },
          "QuotaRequestInProgress": {
            "$ref": "./examples/getQuotaRequestStatusInProgress.json"
          },
          "QuotaRequestFailed": {
            "$ref": "./examples/getQuotaRequestStatusFailed.json"
          }
        },
        "summary": "Gets the Quota request status by requestId, for the specified resource provider at specified location.",
        "description": "Gets the QuotaRequest details and status by the quota requestId for the resources for the resource provider at a specific location. The requestId is returned as response to the Put requests for serviceLimits.",
        "operationId": "QuotaRequests_GetStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "$ref": "#/parameters/RequestIdInParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Returning the status for the quota request .",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests": {
      "get": {
        "tags": [
          "QuotaRequests"
        ],
        "x-ms-examples": {
          "QuotaRequestHistory": {
            "$ref": "./examples/getQuotaRequestsHistory.json"
          }
        },
        "summary": "For the specified location and resource Provider, gets the quota requests under the subscription over the time\n period of one year ago from now to one year back, based on the filter specified.",
        "description": "For the specified location and Resource provider gets the current quota requests under the subscription over the time period of one year ago from now to one year back. oData filter can be used to select quota requests.",
        "operationId": "QuotaRequests_ListStatus",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderIdInParameters"
          },
          {
            "$ref": "#/parameters/LocationIdInParameters"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "| Field                    | Supported operators  \n|---------------------|------------------------\n\r\n|requestSubmitTime | ge, le, eq, gt, lt\n"
          },
          {
            "$ref": "#/parameters/TopQueryParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "Ok. Sending Quota request status and details",
            "schema": {
              "$ref": "#/definitions/QuotaRequestDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/autoQuotaIncrease": {
      "get": {
        "tags": [
          "AutoQuotaIncrease"
        ],
        "summary": "For the specified subscription, gets the Auto Quota Increase enrollment status.",
        "description": "Gets the Auto Quota Increase enrollment details for the specified subscription.",
        "operationId": "AutoQuotaIncrease_GetProperties",
        "x-ms-examples": {
          "GetAutoQuotaIncreaseSettings": {
            "$ref": "./examples/getAutoQuotaIncreaseStatus.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Returning the properties of auto quota increase .",
            "schema": {
              "$ref": "#/definitions/AutoQuotaIncreaseDetail"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AutoQuotaIncrease"
        ],
        "summary": "For the specified subscription, sets the Auto Quota Increase enrollment properties.",
        "description": "Sets the Auto Quota Increase enrollment properties for the specified subscription.",
        "operationId": "AutoQuotaIncrease_Create",
        "x-ms-examples": {
          "SetAutoQuotaIncreaseSettings": {
            "$ref": "./examples/putAutoQuotaIncrease.json"
          },
          "TurnOffAutoQuotaIncrease": {
            "$ref": "./examples/putAutoQuotaIncreaseTurnOff.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdInParameters"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "autoQuotaIncreaseRequest",
            "in": "body",
            "description": "Auto Quota increase request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoQuotaIncreaseDetail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok. Returning the updated status of auto quota increase request.",
            "schema": {
              "$ref": "#/definitions/AutoQuotaIncreaseDetail"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CurrentQuotaLimit": {
      "type": "object",
      "description": "Quota limits.",
      "x-ms-azure-resource": true,
      "properties": {
        "quotaInformation": {
          "description": "Quota information detail.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CurrentQuotaLimitBase"
        },
        "properties": {
          "description": "Addition properties for the quota request status for the resource.",
          "$ref": "#/definitions/QuotaRequestStatusDetails",
          "x-ms-client-flatten": true
        }
      }
    },
    "CurrentQuotaLimitBase": {
      "type": "object",
      "description": "Quota limits.",
      "x-ms-azure-resource": true,
      "properties": {
        "limit": {
          "description": "The quota limit.",
          "type": "integer"
        },
        "currentValue": {
          "description": "The current resource usages information.",
          "type": "integer",
          "readOnly": true
        },
        "unit": {
          "description": " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
          "type": "string",
          "readOnly": false
        },
        "name": {
          "description": "Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.",
          "properties": {
            "value": {
              "description": "Resource name.",
              "type": "string",
              "readOnly": false
            },
            "localizedValue": {
              "description": "Resource display name.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "resourceType": {
          "description": "The Resource Type Name.",
          "$ref": "#/definitions/ResourceTypesName",
          "readOnly": false
        },
        "quotaPeriod": {
          "description": "The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn’t matter.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Additional properties for the specific resource provider.",
          "type": "object"
        }
      }
    },
    "QuotaLimits": {
      "description": "Quota limits.",
      "properties": {
        "value": {
          "description": "List of Quota limits.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimitBase"
          }
        },
        "nextLink": {
          "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "QuotaLimitsResponse": {
      "description": "Quota limits request response.",
      "properties": {
        "value": {
          "description": "List of Quota limits with the quota request status.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimit"
          }
        },
        "nextLink": {
          "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "CreateGenericQuotaRequestParameters": {
      "type": "object",
      "description": "Quota change requests information.",
      "properties": {
        "value": {
          "description": "Quota change requests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CurrentQuotaLimitBase"
          }
        }
      }
    },
    "SubRequest": {
      "type": "object",
      "description": "The sub-request submitted with the quota request.",
      "properties": {
        "limit": {
          "description": "The Resource limit.",
          "type": "integer",
          "readOnly": true
        },
        "name": {
          "description": "The Resource name.",
          "properties": {
            "localizedValue": {
              "description": "Resource display name.",
              "type": "string",
              "readOnly": true
            },
            "value": {
              "description": "Resource name.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "resourceType": {
          "description": "Resource type for which the quota check was made.",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response.",
          "type": "string"
        },
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "subRequestId": {
          "description": "Sub request id for individual request.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QuotaRequestOneResourceSubmitResponse": {
      "description": "Quota submit request response",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The quota request Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the quota request.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Type of resource. \"Microsoft.Capacity/ServiceLimits\""
        },
        "properties": {
          "description": "The quota request details.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/quotaRequestOneResourceProperties"
        }
      }
    },
    "QuotaRequestSubmitResponse": {
      "description": "Quota submit request response",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The quota request Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the quota request.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "The quota request details.",
          "type": "object",
          "$ref": "#/definitions/QuotaRequestProperties"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Type of resource. \"Microsoft.Capacity/serviceLimits\""
        }
      }
    },
    "QuotaRequestSubmitResponse201": {
      "description": "The quota request submit response with request id.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The quota request id. Please use the requestId to check the request status.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The operation Id",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The resource type",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestStatusDetails",
          "x-ms-client-flatten": true
        }
      }
    },
    "QuotaRequestStatusDetails": {
      "description": "The quota request status details.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState",
          "readOnly": true
        },
        "message": {
          "description": "A user friendly message.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "QuotaRequestDetails": {
      "type": "object",
      "description": "The details of the quota Request.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The quota request Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the quota request.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "The quota request details.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaRequestProperties"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Type of resource. \"Microsoft.Capacity/ServiceLimits\""
        }
      }
    },
    "QuotaRequestDetailsList": {
      "description": "Quota requests information.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The quota Requests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/QuotaRequestDetails"
          }
        },
        "nextLink": {
          "description": "The uri to fetch the next page of quota limits. When there are no more pages, this is null.",
          "type": "string"
        }
      }
    },
    "QuotaRequestProperties": {
      "type": "object",
      "description": "The details of quota request.",
      "properties": {
        "provisioningState": {
          "description": "The quota request status.",
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "requestSubmitTime": {
          "description": "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "value": {
          "description": "The quotaRequests.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubRequest"
          }
        }
      }
    },
    "quotaRequestOneResourceProperties": {
      "type": "object",
      "description": "The details of quota request.",
      "properties": {
        "provisioningState": {
          "description": "The quota request status.",
          "readOnly": true,
          "$ref": "#/definitions/QuotaRequestState"
        },
        "message": {
          "description": "User friendly status message.",
          "type": "string",
          "readOnly": true
        },
        "requestSubmitTime": {
          "description": "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard.",
          "type": "string",
          "readOnly": true,
          "format": "date-time"
        },
        "properties": {
          "description": "The quota request addition properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CurrentQuotaLimitBase"
        }
      }
    },
    "QuotaRequestState": {
      "description": "The quota request status.",
      "enum": [
        "Accepted",
        "Invalid",
        "Succeeded",
        "Failed",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "QuotaRequestState",
        "modelAsString": true
      }
    },
    "ResourceTypesName": {
      "description": "The resource types.",
      "enum": [
        "standard",
        "dedicated",
        "shared",
        "serviceSpecific"
      ],
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": true
      }
    },
    "AutoQuotaIncreaseDetail": {
      "type": "object",
      "description": "Auto Quota Increase settings.",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The subscription Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the auto quota increase.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Actions for auto quota increase.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/autoQuotaIncreaseSettings"
        }
      }
    },
    "autoQuotaIncreaseSettings": {
      "type": "object",
      "description": "Actions for auto quota increase.",
      "properties": {
        "settings": {
          "description": "Settings for automatic quota increase.",
          "$ref": "#/definitions/aqiSettings"
        },
        "onFailure": {
          "description": "The on failure Actions.",
          "$ref": "#/definitions/OnFailure"
        },
        "onSuccess": {
          "description": "The on success Actions.",
          "$ref": "#/definitions/OnSuccess"
        },
        "supportTicketAction": {
          "description": "The support ticket action.",
          "$ref": "#/definitions/SupportRequestAction"
        }
      }
    },
    "aqiSettings": {
      "type": "object",
      "description": "Settings for auto quota increase.",
      "properties": {
        "autoQuotaIncreaseState": {
          "description": "If the subscription has enabled automatic quota increase.",
          "$ref": "#/definitions/AqiState"
        }
      }
    },
    "SupportContactTypes": {
      "description": "The support contact types.",
      "enum": [
        "email",
        "phone",
        "chat"
      ],
      "x-ms-enum": {
        "name": "SupportContactType",
        "modelAsString": true
      }
    },
    "EmailActions": {
      "description": "The email actions.",
      "properties": {
        "value": {
          "description": "The list of actions based on the success or failure of automatic quota increase action.",
          "type": "array",
          "items": {
            "description": "The email recipients for the specific action types.",
            "$ref": "#/definitions/EmailAction"
          }
        }
      }
    },
    "SupportRequestAction": {
      "description": "The SupportRequest action.",
      "type": "object",
      "properties": {
        "autoQuotaIncreaseState": {
          "description": "Is support request action enabled.",
          "$ref": "#/definitions/AqiState"
        },
        "severity": {
          "description": "The support request severity.",
          "$ref": "#/definitions/SeverityTypes"
        },
        "firstName": {
          "description": "The first name of the recipient.",
          "type": "string"
        },
        "lastName": {
          "description": "The last name of the recipient.",
          "type": "string"
        },
        "country": {
          "description": "The country of the recipient.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The phone number of the recipient.",
          "type": "string"
        },
        "primaryEmailAddress": {
          "description": "The primary email addresses of the recipients.",
          "type": "string"
        },
        "supportLanguage": {
          "description": "The support language.",
          "type": "string"
        },
        "preferredContactMethod": {
          "description": "The preferred communication channel.",
          "$ref": "#/definitions/ContactMethod"
        },
        "alternateEmailAddresses": {
          "description": "The alternate email address of the recipient.",
          "type": "array",
          "items": {
            "description": "The email recipients.",
            "type": "string"
          }
        }
      }
    },
    "SeverityTypes": {
      "description": "The Severity types.",
      "enum": [
        "Critical",
        "Moderate",
        "Minimal"
      ],
      "x-ms-enum": {
        "name": "SeverityType",
        "modelAsString": true
      }
    },
    "ContactMethod": {
      "description": "The contact method.",
      "enum": [
        "Email",
        "Phone"
      ],
      "x-ms-enum": {
        "name": "ContactMethodType",
        "modelAsString": true
      }
    },
    "AqiState": {
      "description": "The Auto quota increase state.",
      "enum": [
        "enabled",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "AqiStateType",
        "modelAsString": true
      }
    },
    "PhoneAction": {
      "type": "object",
      "description": "Phone Action.",
      "properties": {
        "phoneNumber": {
          "description": "The phone number for the action.",
          "type": "string"
        },
        "preferredChannel": {
          "description": "The preferred communication channel.",
          "$ref": "#/definitions/ContactMethod"
        }
      }
    },
    "EmailAction": {
      "description": "Email Action.",
      "properties": {
        "emailAddress": {
          "description": "The email address for the action.",
          "type": "string"
        }
      }
    },
    "OnFailure": {
      "description": "The on failure action for auto quota increase.",
      "$ref": "#/definitions/Actions"
    },
    "OnSuccess": {
      "description": "The on success action for auto quota increase.",
      "$ref": "#/definitions/Actions"
    },
    "Actions": {
      "description": "The actions for auto quota increase.",
      "type": "object",
      "properties": {
        "emailActions": {
          "description": "The email actions for auto quota increase.",
          "properties": {
            "value": {
              "description": "The list of email actions.",
              "type": "array",
              "items": {
                "description": "The email recipients.",
                "$ref": "#/definitions/EmailAction"
              }
            }
          }
        },
        "phoneActions": {
          "description": "The phone actions for auto quota increase.",
          "properties": {
            "value": {
              "description": "The list of phone actions.",
              "type": "array",
              "items": {
                "description": "The email recipients.",
                "$ref": "#/definitions/PhoneAction"
              }
            }
          }
        }
      }
    },
    "ExceptionResponse": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ServiceError",
          "description": "The api error details."
        }
      },
      "description": "The api error."
    },
    "ServiceError": {
      "description": "The api error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceErrorDetail"
          },
          "description": "The list of error details.",
          "readOnly": true
        }
      }
    },
    "ServiceErrorDetail": {
      "description": "The error details.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The error message."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdInParameters": {
      "name": "subscriptionId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure subscription id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Api version."
    },
    "LocationIdInParameters": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure region.",
      "x-ms-parameter-location": "method"
    },
    "ProviderIdInParameters": {
      "name": "providerId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Azure resource Provider id.",
      "x-ms-parameter-location": "method"
    },
    "ResourceNameInParameters": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Resource name for the specific resource provider, such as SKU name for Microsoft.Compute, pool for Microsoft.Batch.",
      "x-ms-parameter-location": "method"
    },
    "RequestIdInParameters": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Quota Request id.",
      "x-ms-parameter-location": "method"
    },
    "TopQueryParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to return.",
      "minimum": 1,
      "x-ms-parameter-location": "method"
    },
    "SkipTokenParameter": {
      "name": "$skiptoken",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls",
      "x-ms-parameter-location": "method"
    },
    "IfMatchRequiredParameter": {
      "name": "If-Match",
      "in": "header",
      "required": true,
      "description": "ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
