{
  "swagger": "2.0",
  "info": {
    "title": "Azure Clean Room API",
    "version": "2025-10-31-preview",
    "description": "Azure Clean Room API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Collaborations"
    },
    {
      "name": "ConsortiumViews"
    },
    {
      "name": "Consortiums"
    },
    {
      "name": "ConsortiumViewContracts"
    }
  ],
  "paths": {
    "/providers/Microsoft.CleanRoom/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/operations/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CleanRoom/collaborations": {
      "get": {
        "operationId": "Collaborations_ListBySubscription",
        "tags": [
          "Collaborations"
        ],
        "description": "List collaborations in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CollaborationsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List collaborations in subscription": {
            "$ref": "./examples/collaborations/Collaborations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CleanRoom/consortiumViews": {
      "get": {
        "operationId": "ConsortiumViews_ListBySubscription",
        "tags": [
          "ConsortiumViews"
        ],
        "description": "List consortium views in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumViewsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List consortium views in subscription": {
            "$ref": "./examples/consortiumViews/ConsortiumViews_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CleanRoom/consortiums": {
      "get": {
        "operationId": "Consortiums_ListBySubscription",
        "tags": [
          "Consortiums"
        ],
        "description": "List consortiums in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List consortiums in subscription": {
            "$ref": "./examples/consortiums/Consortiums_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations": {
      "get": {
        "operationId": "Collaborations_ListByResourceGroup",
        "tags": [
          "Collaborations"
        ],
        "description": "List collaborations in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CollaborationsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List collaborations in resource group": {
            "$ref": "./examples/collaborations/Collaborations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}": {
      "get": {
        "operationId": "Collaborations_Get",
        "tags": [
          "Collaborations"
        ],
        "description": "Get a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Collaborations_Create",
        "tags": [
          "Collaborations"
        ],
        "description": "Create or update a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The collaboration to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Collaboration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "201": {
            "description": "Resource 'Collaboration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Collaborations_Update",
        "tags": [
          "Collaborations"
        ],
        "description": "Updates tags on a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Collaborations_Delete",
        "tags": [
          "Collaborations"
        ],
        "description": "Deletes a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/addCollaborator": {
      "post": {
        "operationId": "Collaborations_AddCollaborator",
        "tags": [
          "Collaborations"
        ],
        "description": "Adds a collaborator to a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddCollaboratorInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Add Collaborator": {
            "$ref": "./examples/collaborations/Collaborations_AddCollaborator.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/enableWorkload": {
      "post": {
        "operationId": "Collaborations_EnableWorkload",
        "tags": [
          "Collaborations"
        ],
        "description": "Enables a workload on a collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnableWorkloadInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Enable Workload": {
            "$ref": "./examples/collaborations/Collaborations_EnableWorkload.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/pause": {
      "post": {
        "operationId": "Collaborations_Pause",
        "tags": [
          "Collaborations"
        ],
        "description": "Pauses collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pause Collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Pause.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/recover": {
      "post": {
        "operationId": "Collaborations_Recover",
        "tags": [
          "Collaborations"
        ],
        "description": "Recovers collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecoverCollaborationInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Recover Collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Recover.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/collaborations/{collaborationName}/resume": {
      "post": {
        "operationId": "Collaborations_Resume",
        "tags": [
          "Collaborations"
        ],
        "description": "Resumes collaboration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "collaborationName",
            "in": "path",
            "description": "Name of the collaboration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Collaboration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resume Collaboration": {
            "$ref": "./examples/collaborations/Collaborations_Resume.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiumViews": {
      "get": {
        "operationId": "ConsortiumViews_ListByResourceGroup",
        "tags": [
          "ConsortiumViews"
        ],
        "description": "List consortium views in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumViewsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List consortium views in resource group": {
            "$ref": "./examples/consortiumViews/ConsortiumViews_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiumViews/{consortiumViewName}": {
      "get": {
        "operationId": "ConsortiumViews_Get",
        "tags": [
          "ConsortiumViews"
        ],
        "description": "Get a consortium view.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumView"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a consortium view": {
            "$ref": "./examples/consortiumViews/ConsortiumViews_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ConsortiumViews_Create",
        "tags": [
          "ConsortiumViews"
        ],
        "description": "Create or update a consortium view.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The consortium view to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsortiumView"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConsortiumView' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConsortiumView"
            }
          },
          "201": {
            "description": "Resource 'ConsortiumView' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConsortiumView"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Consortium View": {
            "$ref": "./examples/consortiumViews/ConsortiumViews_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ConsortiumViews_Update",
        "tags": [
          "ConsortiumViews"
        ],
        "description": "Updates tags on a consortium view.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumView"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a consortium view": {
            "$ref": "./examples/consortiumViews/ConsortiumViews_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ConsortiumViews_Delete",
        "tags": [
          "ConsortiumViews"
        ],
        "description": "Deletes a consortium view.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a consortium view": {
            "$ref": "./examples/consortiumViews/ConsortiumViews_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiumViews/{consortiumViewName}/contracts": {
      "get": {
        "operationId": "ConsortiumViewContracts_ListByConsortiumView",
        "tags": [
          "ConsortiumViewContracts"
        ],
        "description": "List contracts in a consortium view.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumViewContractsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List contracts in consortium view": {
            "$ref": "./examples/consortiumViewContracts/ConsortiumViewContracts_ListByCollaboration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiumViews/{consortiumViewName}/contracts/{contractName}": {
      "get": {
        "operationId": "ConsortiumViewContracts_Get",
        "tags": [
          "ConsortiumViewContracts"
        ],
        "description": "Get a contract.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "contractName",
            "in": "path",
            "description": "Name of the contract.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumViewContract"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a contract": {
            "$ref": "./examples/consortiumViewContracts/ConsortiumViewContracts_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiumViews/{consortiumViewName}/contracts/{contractName}/proposeTemplate": {
      "post": {
        "operationId": "ConsortiumViewContracts_ProposeTemplate",
        "tags": [
          "ConsortiumViewContracts"
        ],
        "description": "Generates and proposes contract template.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumViewName",
            "in": "path",
            "description": "Name of the consortium view.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "contractName",
            "in": "path",
            "description": "Name of the contract.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumViewContract"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generate template for a contract": {
            "$ref": "./examples/consortiumViewContracts/ConsortiumViewContracts_ProposeTemplate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums": {
      "get": {
        "operationId": "Consortiums_ListByResourceGroup",
        "tags": [
          "Consortiums"
        ],
        "description": "List consortiums in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConsortiumsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List consortiums in resource group": {
            "$ref": "./examples/consortiums/Consortiums_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}": {
      "get": {
        "operationId": "Consortiums_Get",
        "tags": [
          "Consortiums"
        ],
        "description": "Get a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a consortium": {
            "$ref": "./examples/consortiums/Consortiums_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Consortiums_Create",
        "tags": [
          "Consortiums"
        ],
        "description": "Create or update a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The consortium to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Consortium' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "201": {
            "description": "Resource 'Consortium' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Consortium"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Consortium": {
            "$ref": "./examples/consortiums/Consortiums_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Consortiums_Update",
        "tags": [
          "Consortiums"
        ],
        "description": "Updates tags on a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Resource properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update tags on a consortium": {
            "$ref": "./examples/consortiums/Consortiums_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Consortiums_Delete",
        "tags": [
          "Consortiums"
        ],
        "description": "Deletes a consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a consortium": {
            "$ref": "./examples/consortiums/Consortiums_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}/pause": {
      "post": {
        "operationId": "Consortiums_Pause",
        "tags": [
          "Consortiums"
        ],
        "description": "Pauses consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pause consortium": {
            "$ref": "./examples/consortiums/Consortiums_Pause.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}/recover": {
      "post": {
        "operationId": "Consortiums_Recover",
        "tags": [
          "Consortiums"
        ],
        "description": "Recovers consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecoverConsortiumInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Recover Consortium": {
            "$ref": "./examples/consortiums/Consortiums_Recover.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CleanRoom/consortiums/{consortiumName}/resume": {
      "post": {
        "operationId": "Consortiums_Resume",
        "tags": [
          "Consortiums"
        ],
        "description": "Resumes consortium.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "consortiumName",
            "in": "path",
            "description": "Name of the consortium.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Consortium"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resume consortium": {
            "$ref": "./examples/consortiums/Consortiums_Resume.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccountType": {
      "type": "string",
      "description": "Types of account types.",
      "enum": [
        "microsoft"
      ],
      "x-ms-enum": {
        "name": "AccountType",
        "modelAsString": true,
        "values": [
          {
            "name": "Microsoft",
            "value": "microsoft",
            "description": "Microsoft account."
          }
        ]
      }
    },
    "AddCollaboratorInput": {
      "type": "object",
      "description": "Input model to add a collaborator.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of the collaborator to be added."
        }
      },
      "required": [
        "email"
      ]
    },
    "Collaboration": {
      "type": "object",
      "description": "Defines the collaboration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CollaborationProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CollaborationProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "clusterEndpoint": {
          "type": "string",
          "description": "Gets or sets the cluster endpoint.",
          "readOnly": true
        },
        "consortiumType": {
          "$ref": "#/definitions/ConsortiumType",
          "description": "Gets or sets the consortium type."
        },
        "consortiumArmId": {
          "type": "string",
          "format": "arm-id",
          "description": "Gets or sets the consortium ARM ID.",
          "readOnly": true
        },
        "workloads": {
          "type": "array",
          "description": "Gets or sets the workloads.",
          "items": {
            "$ref": "#/definitions/Workload"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "userIdentity": {
          "$ref": "#/definitions/UserIdentity",
          "description": "Gets or sets the user identity."
        },
        "health": {
          "$ref": "#/definitions/Health",
          "description": "Gets or sets the health of the collaboration.",
          "readOnly": true
        },
        "managedOnBehalfOfConfiguration": {
          "$ref": "#/definitions/ManagedOnBehalfOfConfiguration",
          "description": "Gets or sets the managed on-behalf-of configuration.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "clusterEndpoint",
        "consortiumType",
        "consortiumArmId",
        "workloads",
        "userIdentity",
        "health"
      ]
    },
    "CollaborationsList": {
      "type": "object",
      "description": "List of collaborations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Collaboration items on this page",
          "items": {
            "$ref": "#/definitions/Collaboration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Consortium": {
      "type": "object",
      "description": "Defines the consortium.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConsortiumProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConsortiumMember": {
      "type": "object",
      "description": "Configuration details of the consortium member.",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "Identifier of the member."
        },
        "certificatePem": {
          "type": "string",
          "description": "Gets or sets the public certificate of the member in PEM format."
        },
        "encryptionKeyPem": {
          "type": "string",
          "description": "Gets or sets the public encryption key of the member in PEM format."
        },
        "isOperator": {
          "type": "boolean",
          "description": "Indicates if the member is an operator."
        }
      },
      "required": [
        "identifier",
        "certificatePem",
        "encryptionKeyPem",
        "isOperator"
      ]
    },
    "ConsortiumProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "consortiumType": {
          "$ref": "#/definitions/ConsortiumType",
          "description": "Gets or sets the consortium type."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the endpoint.",
          "readOnly": true
        },
        "serviceCertificatePem": {
          "type": "string",
          "description": "Gets or sets the public service certificate in PEM format.",
          "readOnly": true
        },
        "members": {
          "type": "array",
          "description": "Gets or sets the list of members to be added to the consortium.",
          "items": {
            "$ref": "#/definitions/ConsortiumMember"
          },
          "x-ms-identifiers": []
        },
        "health": {
          "$ref": "#/definitions/Health",
          "description": "Gets or sets the health of the consortium.",
          "readOnly": true
        },
        "managedOnBehalfOfConfiguration": {
          "$ref": "#/definitions/ManagedOnBehalfOfConfiguration",
          "description": "Gets or sets the managed on-behalf-of configuration.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "health"
      ]
    },
    "ConsortiumType": {
      "type": "string",
      "description": "Types of consortium types.",
      "enum": [
        "ConfidentialACI"
      ],
      "x-ms-enum": {
        "name": "ConsortiumType",
        "modelAsString": true,
        "values": [
          {
            "name": "ConfidentialACI",
            "value": "ConfidentialACI"
          }
        ]
      }
    },
    "ConsortiumView": {
      "type": "object",
      "description": "Defines the consortium view.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConsortiumViewProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConsortiumViewContract": {
      "type": "object",
      "description": "Defines the contract.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContractProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Metadata used by portal/tooling/etc to render different UX experiences for resources of the same type.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConsortiumViewContractsList": {
      "type": "object",
      "description": "List of contracts.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConsortiumViewContract items on this page",
          "items": {
            "$ref": "#/definitions/ConsortiumViewContract"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConsortiumViewMember": {
      "type": "object",
      "description": "Configuration details of the consortium view members.",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "Identifier of the member.",
          "readOnly": true
        },
        "signedPayload": {
          "type": "string",
          "format": "password",
          "description": "Signature of the member (member identifier signed using the member private certificate).",
          "x-ms-secret": true
        },
        "certificatePem": {
          "type": "string",
          "description": "Gets or sets the public certificate of the member in PEM format."
        }
      },
      "required": [
        "signedPayload",
        "certificatePem"
      ]
    },
    "ConsortiumViewProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "consortiumEndpoint": {
          "type": "string",
          "description": "Gets or sets the CCF endpoint."
        },
        "consortiumServiceCertificatePem": {
          "type": "string",
          "description": "Gets or sets the CCF public service certificate in PEM format."
        },
        "member": {
          "$ref": "#/definitions/ConsortiumViewMember",
          "description": "Gets or sets the consortium view member."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Gets or sets the provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "consortiumEndpoint",
        "consortiumServiceCertificatePem",
        "member"
      ]
    },
    "ConsortiumViewsList": {
      "type": "object",
      "description": "List of consortium views.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConsortiumView items on this page",
          "items": {
            "$ref": "#/definitions/ConsortiumView"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConsortiumsList": {
      "type": "object",
      "description": "List of consortiums.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Consortium items on this page",
          "items": {
            "$ref": "#/definitions/Consortium"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContractProperties": {
      "type": "object",
      "description": "Defines the resource properties.",
      "properties": {
        "contractId": {
          "type": "string",
          "description": "Gets or sets the contract Id.",
          "readOnly": true
        },
        "deploymentPolicy": {
          "type": "string",
          "description": "Gets or sets the deployment policy.",
          "readOnly": true
        },
        "deploymentTemplate": {
          "type": "string",
          "description": "Gets or sets the deployment template.",
          "readOnly": true
        }
      },
      "required": [
        "contractId"
      ]
    },
    "EnableWorkloadInput": {
      "type": "object",
      "description": "Input model to enable a workload.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/WorkloadType",
          "description": "Type of the workload to be enabled."
        }
      },
      "required": [
        "workloadType"
      ]
    },
    "Health": {
      "type": "object",
      "description": "Health of a resource.",
      "properties": {
        "healthState": {
          "$ref": "#/definitions/HealthState",
          "description": "Health state of the resource."
        },
        "healthIssues": {
          "type": "array",
          "description": "List of health issues associated with the resource.",
          "items": {
            "$ref": "#/definitions/HealthIssue"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "healthState"
      ]
    },
    "HealthIssue": {
      "type": "object",
      "description": "Health issue of a resource.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Status code representing the health of the resource."
        },
        "message": {
          "type": "string",
          "description": "Message providing additional information about the health status."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "HealthState": {
      "type": "string",
      "description": "Health states.",
      "enum": [
        "Ok",
        "Error"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Ok",
            "value": "Ok",
            "description": "Resource is healthy."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "Resource is not healthy."
          }
        ]
      }
    },
    "ManagedOnBehalfOfConfiguration": {
      "type": "object",
      "description": "Managed-On-Behalf-Of configuration properties. This configuration exists for the resources where a resource provider manages those resources on behalf of the resource owner.",
      "properties": {
        "moboBrokerResources": {
          "type": "array",
          "description": "Managed-On-Behalf-Of broker resources",
          "items": {
            "$ref": "#/definitions/MoboBrokerResource"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "MoboBrokerResource": {
      "type": "object",
      "description": "Managed-On-Behalf-Of broker resource. This resource is created by the Resource Provider to manage some resources on behalf of the user.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource identifier of a Managed-On-Behalf-Of broker resource"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning states.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource operation has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "RecoverCollaborationInput": {
      "type": "object",
      "description": "Input model to recover a collaboration.",
      "properties": {
        "forceRecover": {
          "type": "boolean",
          "description": "Indicates whether to force recover the collaboration."
        }
      },
      "required": [
        "forceRecover"
      ]
    },
    "RecoverConsortiumInput": {
      "type": "object",
      "description": "Input model to recover a consortium.",
      "properties": {
        "forceRecover": {
          "type": "boolean",
          "description": "Indicates whether to force recover the consortium."
        }
      },
      "required": [
        "forceRecover"
      ]
    },
    "ResourceTags": {
      "type": "object",
      "description": "Object containing resource tags for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UserIdentity": {
      "type": "object",
      "description": "Configuration details of the user identity.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant ID of the user identity."
        },
        "objectId": {
          "type": "string",
          "description": "Object ID of the user identity."
        },
        "accountType": {
          "$ref": "#/definitions/AccountType",
          "description": "Account type of the user identity."
        }
      },
      "required": [
        "tenantId",
        "objectId",
        "accountType"
      ]
    },
    "Workload": {
      "type": "object",
      "description": "Configuration details of the workload.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/WorkloadType",
          "description": "Type of the workload."
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the workload."
        },
        "namespace": {
          "type": "string",
          "description": "Namespace of the workload."
        }
      },
      "required": [
        "workloadType",
        "endpoint",
        "namespace"
      ]
    },
    "WorkloadType": {
      "type": "string",
      "description": "Types of workload types.",
      "enum": [
        "analytics"
      ],
      "x-ms-enum": {
        "name": "WorkloadType",
        "modelAsString": true,
        "values": [
          {
            "name": "Analytics",
            "value": "analytics",
            "description": "Analytics workload."
          }
        ]
      }
    }
  },
  "parameters": {}
}
