{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "version": "2021-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlDatabases": {
      "get": {
        "operationId": "RestorableSqlDatabases_List",
        "x-ms-examples": {
          "CosmosDBRestorableSqlDatabaseList": {
            "$ref": "./examples/CosmosDBRestorableSqlDatabaseList.json"
          }
        },
        "description": "Show the event feed of all mutations done on all the Azure Cosmos DB SQL databases under the restorable account.  This helps in scenario where database was accidentally deleted to get the deletion time.  This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/locationParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/instanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlDatabasesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlContainers": {
      "get": {
        "operationId": "RestorableSqlContainers_List",
        "x-ms-examples": {
          "CosmosDBRestorableSqlContainerList": {
            "$ref": "./examples/CosmosDBRestorableSqlContainerList.json"
          }
        },
        "description": "Show the event feed of all mutations done on all the Azure Cosmos DB SQL containers under a specific database.  This helps in scenario where container was accidentally deleted.  This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/locationParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableSqlDatabaseRidParameter"
          },
          {
            "$ref": "#/parameters/restoreStartTime"
          },
          {
            "$ref": "#/parameters/restoreEndTime"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlContainersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableSqlResources": {
      "get": {
        "operationId": "RestorableSqlResources_List",
        "x-ms-examples": {
          "CosmosDBRestorableSqlResourceList": {
            "$ref": "./examples/CosmosDBRestorableSqlResourceList.json"
          }
        },
        "description": "Return a list of database and container combo that exist on the account at the given timestamp and location. This helps in scenarios to validate what resources exist at given timestamp and location. This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/locationParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restoreLocationParameter"
          },
          {
            "$ref": "#/parameters/restoreTimestampInUtcParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableSqlResourcesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbDatabases": {
      "get": {
        "operationId": "RestorableMongodbDatabases_List",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbDatabaseList": {
            "$ref": "./examples/CosmosDBRestorableMongodbDatabaseList.json"
          }
        },
        "description": "Show the event feed of all mutations done on all the Azure Cosmos DB MongoDB databases under the restorable account.  This helps in scenario where database was accidentally deleted to get the deletion time.  This API requires  'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/locationParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/instanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbDatabasesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbCollections": {
      "get": {
        "operationId": "RestorableMongodbCollections_List",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbCollectionList": {
            "$ref": "./examples/CosmosDBRestorableMongodbCollectionList.json"
          }
        },
        "description": "Show the event feed of all mutations done on all the Azure Cosmos DB MongoDB collections under a specific database.  This helps in scenario where container was accidentally deleted.  This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/locationParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restorableMongodbDatabaseRidParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbCollectionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/locations/{location}/restorableDatabaseAccounts/{instanceId}/restorableMongodbResources": {
      "get": {
        "operationId": "RestorableMongodbResources_List",
        "x-ms-examples": {
          "CosmosDBRestorableMongodbResourceList": {
            "$ref": "./examples/CosmosDBRestorableMongodbResourceList.json"
          }
        },
        "description": "Return a list of database and collection combo that exist on the account at the given timestamp and location. This helps in scenarios to validate what resources exist at given timestamp and location. This API requires 'Microsoft.DocumentDB/locations/restorableDatabaseAccounts/.../read' permission.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/locationParameter"
          },
          {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/parameters/instanceIdParameter"
          },
          {
            "$ref": "#/parameters/restoreLocationParameter"
          },
          {
            "$ref": "#/parameters/restoreTimestampInUtcParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableMongodbResourcesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "cosmos-db.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "RestorableSqlDatabasesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableSqlDatabaseGetResult"
          },
          "description": "List of SQL database events and their properties."
        }
      },
      "description": "The List operation response, that contains the SQL database events and their properties."
    },
    "RestorableSqlDatabaseGetResult": {
      "description": "An Azure Cosmos DB SQL database event",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a SQL database event.",
          "$ref": "#/definitions/RestorableSqlDatabaseProperties"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The unique resource Identifier of the ARM resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the ARM resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure resource."
        }
      }
    },
    "RestorableSqlDatabaseProperties": {
      "description": "The properties of an Azure Cosmos DB SQL database event",
      "type": "object",
      "properties": {
        "resource": {
          "type": "object",
          "description": "The resource of an Azure Cosmos DB SQL database event",
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this database event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The time when this database event happened."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of the SQL database."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource ID of the SQL database."
            },
            "database": {
              "type": "object",
              "description": "Cosmos DB SQL database resource object",
              "properties": {
                "_colls": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specified the addressable path of the collections resource."
                },
                "_users": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specifies the addressable path of the users resource."
                },
                "_self": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specifies the addressable path of the database resource."
                }
              },
              "allOf": [
                {
                  "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/definitions/SqlDatabaseResource"
                },
                {
                  "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/definitions/ExtendedResourceProperties"
                }
              ]
            }
          }
        }
      }
    },
    "RestorableSqlContainersListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableSqlContainerGetResult"
          },
          "description": "List of SQL container events and their properties."
        }
      },
      "description": "The List operation response, that contains the SQL container events and their properties."
    },
    "RestorableSqlContainerGetResult": {
      "description": "An Azure Cosmos DB SQL container event",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a SQL container event.",
          "$ref": "#/definitions/RestorableSqlContainerProperties"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The unique resource Identifier of the ARM resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the ARM resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure resource."
        }
      }
    },
    "RestorableSqlContainerProperties": {
      "description": "The properties of an Azure Cosmos DB SQL container event",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The resource of an Azure Cosmos DB SQL container event",
          "type": "object",
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this container event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The when this container event happened."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this SQL container."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource ID of this SQL container."
            },
            "container": {
              "type": "object",
              "description": "Cosmos DB SQL container resource object",
              "properties": {
                "_self": {
                  "type": "string",
                  "readOnly": true,
                  "description": "A system generated property that specifies the addressable path of the container resource."
                }
              },
              "allOf": [
                {
                  "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/definitions/SqlContainerResource"
                },
                {
                  "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/definitions/ExtendedResourceProperties"
                }
              ]
            }
          }
        }
      }
    },
    "RestorableSqlResourcesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/definitions/DatabaseRestoreResource"
          },
          "description": "List of restorable SQL resources, including the database and collection names."
        }
      },
      "description": "The List operation response, that contains the restorable SQL resources."
    },
    "RestorableMongodbDatabasesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableMongodbDatabaseGetResult"
          },
          "description": "List of MongoDB database events and their properties."
        }
      },
      "description": "The List operation response, that contains the MongoDB database events and their properties."
    },
    "RestorableMongodbDatabaseGetResult": {
      "description": "An Azure Cosmos DB MongoDB database event",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a MongoDB database event.",
          "$ref": "#/definitions/RestorableMongodbDatabaseProperties"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The unique resource Identifier of the ARM resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the ARM resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure resource."
        }
      }
    },
    "RestorableMongodbDatabaseProperties": {
      "description": "The properties of an Azure Cosmos DB MongoDB database event",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The resource of an Azure Cosmos DB MongoDB database event",
          "type": "object",
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this database event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The time when this database event happened."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this MongoDB database."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource ID of this MongoDB database."
            }
          }
        }
      }
    },
    "RestorableMongodbCollectionsListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableMongodbCollectionGetResult"
          },
          "description": "List of MongoDB collection events and their properties."
        }
      },
      "description": "The List operation response, that contains the MongoDB collection events and their properties."
    },
    "RestorableMongodbCollectionGetResult": {
      "description": "An Azure Cosmos DB MongoDB collection event",
      "type": "object",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "The properties of a MongoDB collection event.",
          "$ref": "#/definitions/RestorableMongodbCollectionProperties"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The unique resource Identifier of the ARM resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the ARM resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of Azure resource."
        }
      }
    },
    "RestorableMongodbCollectionProperties": {
      "description": "The properties of an Azure Cosmos DB MongoDB collection event",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The resource of an Azure Cosmos DB MongoDB collection event",
          "type": "object",
          "properties": {
            "_rid": {
              "type": "string",
              "readOnly": true,
              "description": "A system generated property. A unique identifier."
            },
            "operationType": {
              "type": "string",
              "readOnly": true,
              "description": "The operation type of this collection event.",
              "$ref": "#/definitions/OperationType"
            },
            "eventTimestamp": {
              "type": "string",
              "readOnly": true,
              "description": "The time when this collection event happened."
            },
            "ownerId": {
              "type": "string",
              "readOnly": true,
              "description": "The name of this MongoDB collection."
            },
            "ownerResourceId": {
              "type": "string",
              "readOnly": true,
              "description": "The resource ID of this MongoDB collection."
            }
          }
        }
      }
    },
    "RestorableMongodbResourcesListResult": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "../../preview/2021-04-01-preview/cosmos-db.json#/definitions/DatabaseRestoreResource"
          },
          "description": "List of restorable MongoDB resources, including the database and collection names."
        }
      },
      "description": "The List operation response, that contains the restorable MongoDB resources."
    },
    "OperationType": {
      "description": "Enum to indicate the operation type of the event.",
      "type": "string",
      "readOnly": true,
      "enum": [
        "Create",
        "Replace",
        "Delete",
        "SystemOperation"
      ],
      "x-ms-enum": {
        "name": "OperationType",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "restorableSqlDatabaseRidParameter": {
      "name": "restorableSqlDatabaseRid",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The resource ID of the SQL database."
    },
    "restorableMongodbDatabaseRidParameter": {
      "name": "restorableMongodbDatabaseRid",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The resource ID of the MongoDB database."
    },
    "restoreLocationParameter": {
      "name": "restoreLocation",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The location where the restorable resources are located."
    },
    "restoreTimestampInUtcParameter": {
      "name": "restoreTimestampInUtc",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The timestamp when the restorable resources existed."
    },
    "restoreStartTime": {
      "name": "startTime",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The snapshot create timestamp after which snapshots need to be listed."
    },
    "restoreEndTime": {
      "name": "endTime",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The snapshot create timestamp before which snapshots need to be listed."
    }
  }
}
