{
  "swagger": "2.0",
  "info": {
    "title": "VirtualMachineImageTemplate",
    "description": "Virtual Machine Image Template",
    "version": "2020-02-14"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.VirtualMachineImages/imageTemplates": {
      "get": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_List",
        "description": "Gets information about the VM image templates associated with the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageTemplateListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List images by subscription.": {
            "$ref": "./examples/ListImageTemplates.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates": {
      "get": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_ListByResourceGroup",
        "description": "Gets information about the VM image templates associated with the specified resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageTemplateListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List images by resource group": {
            "$ref": "./examples/ListImageTemplatesByRg.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}": {
      "put": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_CreateOrUpdate",
        "description": "Create or update a virtual machine image template",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageTemplate"
            },
            "description": "Parameters supplied to the CreateImageTemplate operation"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageTemplate"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ImageTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create an Image Template for Linux.": {
            "$ref": "./examples/CreateImageTemplateLinux.json"
          },
          "Create an Image Template for Windows.": {
            "$ref": "./examples/CreateImageTemplateWindows.json"
          },
          "Create an Image Template with a user assigned identity configured": {
            "$ref": "./examples/CreateImageTemplateWithUserAssignedIdentity.json"
          }
        }
      },
      "patch": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_Update",
        "description": "Update the tags for this Virtual Machine Image Template",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageTemplateUpdateParameters"
            },
            "description": "Additional parameters for Image Template update."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageTemplate"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Update the tags for an Image Template.": {
            "$ref": "./examples/UpdateImageTemplateTags.json"
          },
          "Remove identities for an Image Template.": {
            "$ref": "./examples/UpdateImageTemplateToRemoveIdentities.json"
          }
        }
      },
      "get": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_Get",
        "description": "Get information about a virtual machine image template",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve an Image Template.": {
            "$ref": "./examples/GetImageTemplate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_Delete",
        "description": "Delete a virtual machine image template",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "202": {
            "description": "The operation will be completed asynchronously."
          },
          "204": {
            "description": "NoContent -- VM image template does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete an Image Template.": {
            "$ref": "./examples/DeleteImageTemplate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/run": {
      "post": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_Run",
        "description": "Create artifacts from a existing image template",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The operation was successful."
          },
          "202": {
            "description": "The operation will be completed asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create image(s) from existing imageTemplate.": {
            "$ref": "./examples/RunImageTemplate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/cancel": {
      "post": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_Cancel",
        "description": "Cancel the long running image build based on the image template",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The long running image build has been canceled."
          },
          "202": {
            "description": "The request is accepted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Cancel the image build based on the imageTemplate.": {
            "$ref": "./examples/CancelImageBuild.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/runOutputs": {
      "get": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_ListRunOutputs",
        "description": "List all run outputs for the specified Image Template resource",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunOutputCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Retrieve a list of all outputs created by the last run of an Image Template": {
            "$ref": "./examples/ListRunOutputs.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VirtualMachineImages/imageTemplates/{imageTemplateName}/runOutputs/{runOutputName}": {
      "get": {
        "tags": [
          "VirtualMachineImageTemplate"
        ],
        "operationId": "VirtualMachineImageTemplates_GetRunOutput",
        "description": "Get the specified run output for the specified image template resource",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ImageTemplateNameParameter"
          },
          {
            "$ref": "#/parameters/RunOutputNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunOutput"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve single runOutput": {
            "$ref": "./examples/GetRunOutput.json"
          }
        }
      }
    },
    "/providers/Microsoft.VirtualMachineImages/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists available operations for the Microsoft.VirtualMachineImages provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the list of available operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ImageTemplateListResult": {
      "description": "The result of List image templates operation",
      "properties": {
        "value": {
          "description": "An array of image templates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTemplate"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token."
        }
      }
    },
    "ImageTemplateSource": {
      "description": "Describes a virtual machine image source for building, customizing and distributing",
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "description": "Specifies the type of source image you want to start with."
        }
      },
      "required": [
        "type"
      ]
    },
    "ImageTemplatePlatformImageSource": {
      "description": "Describes an image source from [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages).",
      "x-ms-discriminator-value": "PlatformImage",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateSource"
        }
      ],
      "properties": {
        "publisher": {
          "type": "string",
          "description": "Image Publisher in [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
        },
        "offer": {
          "type": "string",
          "description": "Image offer from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
        },
        "sku": {
          "type": "string",
          "description": "Image sku from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
        },
        "version": {
          "type": "string",
          "description": "Image version from the [Azure Gallery Images](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages)."
        },
        "planInfo": {
          "$ref": "#/definitions/PlatformImagePurchasePlan",
          "description": "Optional configuration of purchase plan for platform image."
        }
      }
    },
    "ImageTemplateManagedImageSource": {
      "description": "Describes an image source that is a managed image in customer subscription.",
      "x-ms-discriminator-value": "ManagedImage",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateSource"
        }
      ],
      "properties": {
        "imageId": {
          "type": "string",
          "description": "ARM resource id of the managed image in customer subscription"
        }
      },
      "required": [
        "imageId"
      ]
    },
    "ImageTemplateSharedImageVersionSource": {
      "description": "Describes an image source that is an image version in a shared image gallery.",
      "x-ms-discriminator-value": "SharedImageVersion",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateSource"
        }
      ],
      "properties": {
        "imageVersionId": {
          "type": "string",
          "description": "ARM resource id of the image version in the shared image gallery"
        }
      },
      "required": [
        "imageVersionId"
      ]
    },
    "ImageTemplateCustomizer": {
      "description": "Describes a unit of image customization",
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of customization tool you want to use on the Image. For example, \"Shell\" can be shell customizer"
        },
        "name": {
          "type": "string",
          "description": "Friendly Name to provide context on what this customization step does"
        }
      },
      "required": [
        "type"
      ]
    },
    "ImageTemplateShellCustomizer": {
      "description": "Runs a shell script during the customization phase (Linux). Corresponds to Packer shell provisioner. Exactly one of 'scriptUri' or 'inline' can be specified.",
      "x-ms-discriminator-value": "Shell",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateCustomizer"
        }
      ],
      "properties": {
        "scriptUri": {
          "type": "string",
          "description": "URI of the shell script to be run for customizing. It can be a github link, SAS URI for Azure Storage, etc"
        },
        "sha256Checksum": {
          "type": "string",
          "description": "SHA256 checksum of the shell script provided in the scriptUri field"
        },
        "inline": {
          "type": "array",
          "description": "Array of shell commands to execute",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImageTemplateRestartCustomizer": {
      "description": "Reboots a VM and waits for it to come back online (Windows). Corresponds to Packer windows-restart provisioner",
      "x-ms-discriminator-value": "WindowsRestart",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateCustomizer"
        }
      ],
      "properties": {
        "restartCommand": {
          "type": "string",
          "description": "Command to execute the restart [Default: 'shutdown /r /f /t 0 /c \"packer restart\"']"
        },
        "restartCheckCommand": {
          "type": "string",
          "description": "Command to check if restart succeeded [Default: '']"
        },
        "restartTimeout": {
          "type": "string",
          "description": "Restart timeout specified as a string of magnitude and unit, e.g. '5m' (5 minutes) or '2h' (2 hours) [Default: '5m']"
        }
      }
    },
    "ImageTemplateWindowsUpdateCustomizer": {
      "description": "Installs Windows Updates. Corresponds to Packer Windows Update Provisioner (https://github.com/rgl/packer-provisioner-windows-update)",
      "x-ms-discriminator-value": "WindowsUpdate",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateCustomizer"
        }
      ],
      "properties": {
        "searchCriteria": {
          "type": "string",
          "description": "Criteria to search updates. Omit or specify empty string to use the default (search all). Refer to above link for examples and detailed description of this field."
        },
        "filters": {
          "type": "array",
          "description": "Array of filters to select updates to apply. Omit or specify empty array to use the default (no filter). Refer to above link for examples and detailed description of this field.",
          "items": {
            "type": "string"
          }
        },
        "updateLimit": {
          "type": "integer",
          "minimum": 0,
          "description": "Maximum number of updates to apply at a time. Omit or specify 0 to use the default (1000)"
        }
      }
    },
    "ImageTemplatePowerShellCustomizer": {
      "description": "Runs the specified PowerShell on the VM (Windows). Corresponds to Packer powershell provisioner. Exactly one of 'scriptUri' or 'inline' can be specified.",
      "x-ms-discriminator-value": "PowerShell",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateCustomizer"
        }
      ],
      "properties": {
        "scriptUri": {
          "type": "string",
          "description": "URI of the PowerShell script to be run for customizing. It can be a github link, SAS URI for Azure Storage, etc"
        },
        "sha256Checksum": {
          "type": "string",
          "description": "SHA256 checksum of the power shell script provided in the scriptUri field above"
        },
        "inline": {
          "type": "array",
          "description": "Array of PowerShell commands to execute",
          "items": {
            "type": "string"
          }
        },
        "runElevated": {
          "type": "boolean",
          "description": "If specified, the PowerShell script will be run with elevated privileges"
        },
        "validExitCodes": {
          "type": "array",
          "description": "Valid exit codes for the PowerShell script. [Default: 0]",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "ImageTemplateFileCustomizer": {
      "description": "Uploads files to VMs (Linux, Windows). Corresponds to Packer file provisioner",
      "x-ms-discriminator-value": "File",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateCustomizer"
        }
      ],
      "properties": {
        "sourceUri": {
          "type": "string",
          "description": "The URI of the file to be uploaded for customizing the VM. It can be a github link, SAS URI for Azure Storage, etc"
        },
        "sha256Checksum": {
          "type": "string",
          "description": "SHA256 checksum of the file provided in the sourceUri field above"
        },
        "destination": {
          "type": "string",
          "description": "The absolute path to a file (with nested directory structures already created) where the file (from sourceUri) will be uploaded to in the VM"
        }
      }
    },
    "ImageTemplateDistributor": {
      "type": "object",
      "description": "Generic distribution object",
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of distribution."
        },
        "runOutputName": {
          "type": "string",
          "description": "The name to be used for the associated RunOutput.",
          "pattern": "^[A-Za-z0-9-_.]{1,64}$"
        },
        "artifactTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags that will be applied to the artifact once it has been created/updated by the distributor."
        }
      },
      "required": [
        "type",
        "runOutputName"
      ]
    },
    "ImageTemplateManagedImageDistributor": {
      "x-ms-discriminator-value": "ManagedImage",
      "description": "Distribute as a Managed Disk Image.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateDistributor"
        }
      ],
      "properties": {
        "imageId": {
          "type": "string",
          "description": "Resource Id of the Managed Disk Image"
        },
        "location": {
          "type": "string",
          "description": "Azure location for the image, should match if image already exists"
        }
      },
      "required": [
        "imageId",
        "location"
      ]
    },
    "ImageTemplateSharedImageDistributor": {
      "x-ms-discriminator-value": "SharedImage",
      "description": "Distribute via Shared Image Gallery.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateDistributor"
        }
      ],
      "properties": {
        "galleryImageId": {
          "type": "string",
          "description": "Resource Id of the Shared Image Gallery image"
        },
        "replicationRegions": {
          "description": "A list of regions that the image will be replicated to",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeFromLatest": {
          "type": "boolean",
          "description": "Flag that indicates whether created image version should be excluded from latest. Omit to use the default (false)."
        },
        "storageAccountType": {
          "type": "string",
          "enum": [
            "Standard_LRS",
            "Standard_ZRS"
          ],
          "x-ms-enum": {
            "name": "SharedImageStorageAccountType",
            "modelAsString": false
          },
          "description": "Storage account type to be used to store the shared image. Omit to use the default (Standard_LRS)."
        }
      },
      "required": [
        "galleryImageId",
        "replicationRegions"
      ]
    },
    "ImageTemplateVhdDistributor": {
      "x-ms-discriminator-value": "VHD",
      "description": "Distribute via VHD in a storage account.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ImageTemplateDistributor"
        }
      ]
    },
    "PlatformImagePurchasePlan": {
      "description": "Purchase plan configuration for platform image.",
      "properties": {
        "planName": {
          "type": "string",
          "description": "Name of the purchase plan."
        },
        "planProduct": {
          "type": "string",
          "description": "Product of the purchase plan."
        },
        "planPublisher": {
          "type": "string",
          "description": "Publisher of the purchase plan."
        }
      },
      "required": [
        "planName",
        "planProduct",
        "planPublisher"
      ]
    },
    "VirtualNetworkConfig": {
      "description": "Virtual Network configuration.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "Resource id of a pre-existing subnet."
        }
      }
    },
    "ImageTemplateVmProfile": {
      "description": "Describes the virtual machine used to build, customize and capture images",
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "Size of the virtual machine used to build, customize and capture images. Omit or specify empty string to use the default (Standard_D1_v2)."
        },
        "osDiskSizeGB": {
          "type": "integer",
          "minimum": 0,
          "description": "Size of the OS disk in GB. Omit or specify 0 to use Azure's default OS disk size."
        },
        "vnetConfig": {
          "$ref": "#/definitions/VirtualNetworkConfig",
          "description": "Optional configuration of the virtual network to use to deploy the build virtual machine in. Omit if no specific virtual network needs to be used."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Creating",
        "Updating",
        "Succeeded",
        "Failed",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false
      },
      "description": "Provisioning state of the resource"
    },
    "ProvisioningError": {
      "description": "Describes the error happened when create or update an image template",
      "properties": {
        "provisioningErrorCode": {
          "type": "string",
          "enum": [
            "BadSourceType",
            "BadPIRSource",
            "BadManagedImageSource",
            "BadSharedImageVersionSource",
            "BadCustomizerType",
            "UnsupportedCustomizerType",
            "NoCustomizerScript",
            "BadDistributeType",
            "BadSharedImageDistribute",
            "ServerError",
            "Other"
          ],
          "x-ms-enum": {
            "name": "ProvisioningErrorCode",
            "modelAsString": true
          },
          "description": "Error code of the provisioning failure"
        },
        "message": {
          "type": "string",
          "description": "Verbose error message about the provisioning failure"
        }
      }
    },
    "ImageTemplateLastRunStatus": {
      "description": "Describes the latest status of running an image template",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the last run (UTC)"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the last run (UTC)"
        },
        "runState": {
          "type": "string",
          "enum": [
            "Running",
            "Canceling",
            "Succeeded",
            "PartiallySucceeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "RunState",
            "modelAsString": false
          },
          "description": "State of the last run"
        },
        "runSubState": {
          "type": "string",
          "enum": [
            "Queued",
            "Building",
            "Customizing",
            "Distributing"
          ],
          "x-ms-enum": {
            "name": "RunSubState",
            "modelAsString": false
          },
          "description": "Sub-state of the last run"
        },
        "message": {
          "type": "string",
          "description": "Verbose information about the last run state"
        }
      }
    },
    "ImageTemplateProperties": {
      "description": "Describes the properties of an image template",
      "properties": {
        "source": {
          "$ref": "#/definitions/ImageTemplateSource",
          "description": "Specifies the properties used to describe the source image."
        },
        "customize": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTemplateCustomizer"
          },
          "description": "Specifies the properties used to describe the customization steps of the image, like Image source etc"
        },
        "distribute": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTemplateDistributor"
          },
          "description": "The distribution targets where the image output needs to go to."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "provisioningError": {
          "$ref": "#/definitions/ProvisioningError",
          "description": "Provisioning error, if any",
          "readOnly": true
        },
        "lastRunStatus": {
          "$ref": "#/definitions/ImageTemplateLastRunStatus",
          "description": "State of 'run' that is currently executing or was last executed.",
          "readOnly": true
        },
        "buildTimeoutInMinutes": {
          "type": "integer",
          "minimum": 0,
          "maximum": 960,
          "description": "Maximum duration to wait while building the image template. Omit or specify 0 to use the default (4 hours)."
        },
        "vmProfile": {
          "$ref": "#/definitions/ImageTemplateVmProfile",
          "description": "Describes how virtual machine is set up to build images"
        }
      },
      "required": [
        "source",
        "distribute"
      ]
    },
    "ImageTemplateIdentity": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of identity used for the image template. The type 'None' will remove any identities from the image template.",
          "enum": [
            "UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          },
          "description": "The list of user identities associated with the image template. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        }
      },
      "description": "Identity for the image template."
    },
    "RunOutputProperties": {
      "description": "Describes the properties of a run output",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "The resource id of the artifact."
        },
        "artifactUri": {
          "type": "string",
          "description": "The location URI of the artifact."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        }
      }
    },
    "ImageTemplate": {
      "description": "Image template is an ARM resource managed by Microsoft.VirtualMachineImages provider",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ImageTemplateProperties",
          "description": "The properties of the image template"
        },
        "identity": {
          "$ref": "#/definitions/ImageTemplateIdentity",
          "description": "The identity of the image template, if configured."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ImageTemplateUpdateParameters": {
      "properties": {
        "identity": {
          "$ref": "#/definitions/ImageTemplateIdentity",
          "description": "The identity of the image template, if configured."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user-specified tags associated with the image template."
        }
      },
      "description": "Parameters for updating an image template."
    },
    "RunOutput": {
      "description": "Represents an output that was created by running an image template.",
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RunOutputProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the run output"
        }
      }
    },
    "RunOutputCollection": {
      "description": "The result of List run outputs operation",
      "properties": {
        "value": {
          "description": "An array of run outputs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RunOutput"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token."
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "description": "The Sub Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        }
      },
      "required": [
        "name"
      ]
    },
    "Operation": {
      "title": "A REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "title": "The operation name.",
          "description": "This is of the format {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "title": "The object that describes the operation.",
          "properties": {
            "provider": {
              "title": "Friendly name of the resource provider.",
              "type": "string"
            },
            "operation": {
              "title": "The operation type.",
              "description": "For example: read, write, delete, or listKeys/action",
              "type": "string"
            },
            "resource": {
              "title": "The resource type on which the operation is performed.",
              "type": "string"
            },
            "description": {
              "title": "The friendly name of the operation",
              "type": "string"
            }
          }
        },
        "origin": {
          "title": "The intended executor of the operation.",
          "type": "string"
        },
        "properties": {
          "title": "Properties of the operation.",
          "type": "object"
        },
        "isDataAction": {
          "title": "The flag that indicates whether the operation applies to data plane.",
          "type": "boolean"
        }
      }
    },
    "OperationListResult": {
      "title": "Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "title": "The list of operations supported by the resource provider."
        },
        "nextLink": {
          "type": "string",
          "title": "The URL to get the next set of operation list results if there are any."
        }
      }
    },
    "ApiErrorBase": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "Api error base."
    },
    "InnerError": {
      "properties": {
        "exceptionType": {
          "type": "string",
          "description": "The exception type."
        },
        "errorDetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      },
      "description": "Inner error details."
    },
    "ApiError": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiErrorBase"
          },
          "description": "The Api error details"
        },
        "innerError": {
          "$ref": "#/definitions/InnerError",
          "description": "The Api inner error"
        },
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      },
      "description": "Api error."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription Id forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ImageTemplateNameParameter": {
      "name": "imageTemplateName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the image Template",
      "pattern": "^[A-Za-z0-9-_.]{1,64}$",
      "x-ms-parameter-location": "method"
    },
    "RunOutputNameParameter": {
      "name": "runOutputName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the run output",
      "pattern": "^[A-Za-z0-9-_.]{1,64}$",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Location of the service.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}
