{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Azure Resources Client",
    "version": "2025-08-01-preview",
    "description": "Microsoft Azure Resources Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BatchOperations"
    },
    {
      "name": "ResourceGroups"
    },
    {
      "name": "Resources"
    }
  ],
  "paths": {
    "/{resourceId}": {
      "get": {
        "operationId": "Resources_GetById",
        "tags": [
          "Resources"
        ],
        "description": "Gets a resource.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for the operation.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Resources_CreateOrUpdateById",
        "tags": [
          "Resources"
        ],
        "description": "Creates a resource.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for the operation.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "apiVersion"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Create or update resource parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "202": {
            "description": "Resource creation/update accepted",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Resources_UpdateById",
        "tags": [
          "Resources"
        ],
        "description": "Updates a resource.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for the operation.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "apiVersion"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Update resource parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "202": {
            "description": "Resource update accepted",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Resources_DeleteById",
        "tags": [
          "Resources"
        ],
        "description": "Deletes a resource.",
        "parameters": [
          {
            "name": "resourceId",
            "in": "path",
            "description": "The fully qualified ID of the resource, including the resource name and resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}",
            "required": true,
            "type": "string"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for the operation.",
            "required": true,
            "type": "string",
            "x-ms-client-name": "apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "202": {
            "description": "Resource deletion accepted",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.Resources/resourceGroups/{resourceGroupName}": {
      "get": {
        "operationId": "ResourceGroups_Get",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Gets a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ResourceGroups_CreateOrUpdate",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Creates or updates a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResourceGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "201": {
            "description": "Resource 'ResourceGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "ResourceGroups_Update",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Updates a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ResourceGroups_Delete",
        "tags": [
          "ResourceGroups"
        ],
        "description": "When you delete a resource group, all of its resources are also deleted. Deleting a resource group deletes all of its template deployments and currently stored operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Resources/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Resources/resources": {
      "get": {
        "operationId": "Resources_ListByResourceGroup",
        "tags": [
          "Resources"
        ],
        "description": "Get all the resources for a resource group.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "description": "The dynamic parameters of a list call for a resource instance - pass in the proper base type to indicate\nwhere the list should take place.  The default is in a resource group",
              "properties": {
                "properties": {
                  "$ref": "#/definitions/ResourceGroupProperties",
                  "description": "The resource-specific properties for this resource."
                },
                "name": {
                  "type": "string",
                  "description": "The name of the resource group."
                },
                "location": {
                  "type": "string",
                  "description": "Location of the resource group. It cannot be changed after the resource group has been created. It must be one of the supported Azure locations."
                },
                "tags": {
                  "type": "object",
                  "description": "The tags attached to the resource group.",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "managedBy": {
                  "type": "string",
                  "description": "The ID of the resource that manages this resource group."
                }
              },
              "required": [
                "name",
                "location"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/invokeAtSubscriptionScope": {
      "post": {
        "operationId": "BatchOperations_InvokeAtSubscriptionScope",
        "tags": [
          "BatchOperations"
        ],
        "description": "The batch API can be used to invoke multiple Azure Resource Manager requests at once. Batches are processed asynchronously and allow for more efficient handling of many concurrent requests.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Specifications for all of the requests that will be invoked as part of the batch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchRequests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BatchResponseStatus"
            }
          },
          "202": {
            "description": "The batch was accepted and has begun processing.",
            "schema": {
              "$ref": "#/definitions/BatchResponseStatus"
            }
          }
        },
        "x-ms-examples": {
          "Invoke batch operation at subscription scope": {
            "$ref": "./examples/BatchOperations_InvokeAtSubscriptionScope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/resourceGroups": {
      "get": {
        "operationId": "ResourceGroups_List",
        "tags": [
          "ResourceGroups"
        ],
        "description": "Gets all the resource groups for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/resources": {
      "get": {
        "operationId": "Resources_List",
        "tags": [
          "Resources"
        ],
        "description": "Get all the resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenericResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Resources/invokeAtResourceGroupScope": {
      "post": {
        "operationId": "BatchOperations_InvokeAtResourceGroupScope",
        "tags": [
          "BatchOperations"
        ],
        "description": "The batch API can be used to invoke multiple Azure Resource Manager requests at once. Batches are processed asynchronously and allow for more efficient handling of many concurrent requests.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Specifications for all of the requests that will be invoked as part of the batch.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchRequests"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BatchResponseStatus"
            }
          },
          "202": {
            "description": "The batch was accepted and has begun processing.",
            "schema": {
              "$ref": "#/definitions/BatchResponseStatus"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          }
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Azure REST API guidelines - https://aka.ms/AzureRestApiGuidelines#handling-errors.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.Core.Foundations.OperationState": {
      "type": "string",
      "description": "Enum describing allowed operation states.",
      "enum": [
        "NotStarted",
        "Running",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "OperationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "The operation has not started."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The operation is in progress."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The operation has completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The operation has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation has been canceled by the user."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "BatchRequest": {
      "type": "object",
      "description": "The specification for one request that will be part of a larger batch.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier for the request. Must be unique within a batch."
        },
        "method": {
          "$ref": "#/definitions/HttpMethod",
          "description": "The HTTP method associated with the request."
        },
        "url": {
          "type": "string",
          "description": "The request's absolute path."
        },
        "headers": {
          "type": "object",
          "description": "Headers that are specific to the request.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "body": {
          "description": "The body of the request. Not allowed for requests with an method of GET or DELETE."
        }
      },
      "required": [
        "id",
        "method",
        "url"
      ]
    },
    "BatchRequests": {
      "type": "object",
      "description": "Specifications for all of the requests that will be invoked as part of the batch.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "The requests that will be invoked.",
          "items": {
            "$ref": "#/definitions/BatchRequest"
          }
        }
      },
      "required": [
        "requests"
      ]
    },
    "BatchResponse": {
      "type": "object",
      "description": "The response received for one request in the batch.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of the request that generated the response."
        },
        "httpStatusCode": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP status code of the response."
        },
        "status": {
          "type": "string",
          "description": "The status of the batch request. The request is complete when the status is set to Succeeded, Failed, or Canceled."
        },
        "headers": {
          "type": "object",
          "description": "Headers that are specific to this response.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "body": {
          "description": "The body of the response."
        }
      }
    },
    "BatchResponseStatus": {
      "type": "object",
      "description": "The result of the batch operation and each request within it.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the operation."
        },
        "status": {
          "$ref": "#/definitions/Azure.Core.Foundations.OperationState",
          "description": "The status of the operation"
        },
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "Error object that describes the error when status is \"Failed\"."
        },
        "batchResult": {
          "$ref": "#/definitions/BatchResponses",
          "description": "The final result of the batch operation."
        },
        "nextLink": {
          "type": "string",
          "description": "If present, a GET on this URL will return the next page of results."
        }
      },
      "required": [
        "id",
        "status"
      ]
    },
    "BatchResponses": {
      "type": "object",
      "description": "Responses for all requests contained in the batch.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "Responses for all requests contained in the batch.",
          "items": {
            "$ref": "#/definitions/BatchResponse"
          }
        }
      }
    },
    "GenericResource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GenericResourceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GenericResourceListResult": {
      "type": "object",
      "description": "The response of a GenericResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GenericResource items on this page",
          "items": {
            "$ref": "#/definitions/GenericResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GenericResourceProperties": {
      "type": "object",
      "description": "The resource properties.",
      "properties": {
        "properties": {
          "description": "The resource properties."
        }
      }
    },
    "GenericResourceUpdate": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GenericResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "HttpMethod": {
      "type": "string",
      "description": "The HTTP method associated with the request.",
      "enum": [
        "GET",
        "PUT",
        "PATCH",
        "DELETE",
        "POST"
      ],
      "x-ms-enum": {
        "name": "HttpMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "GET",
            "value": "GET",
            "description": "HTTP GET method"
          },
          {
            "name": "PUT",
            "value": "PUT",
            "description": "HTTP PUT method"
          },
          {
            "name": "PATCH",
            "value": "PATCH",
            "description": "HTTP PATCH method"
          },
          {
            "name": "DELETE",
            "value": "DELETE",
            "description": "HTTP DELETE method"
          },
          {
            "name": "POST",
            "value": "POST",
            "description": "HTTP POST method"
          }
        ]
      }
    },
    "ResourceGroup": {
      "type": "object",
      "description": "Resource group information.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceGroupProperties",
          "description": "The resource-specific properties for this resource."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource group.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Location of the resource group. It cannot be changed after the resource group has been created. It must be one of the supported Azure locations."
        },
        "tags": {
          "type": "object",
          "description": "The tags attached to the resource group.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "managedBy": {
          "type": "string",
          "description": "The ID of the resource that manages this resource group."
        }
      },
      "required": [
        "name",
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ResourceGroupListResult": {
      "type": "object",
      "description": "The response of a ResourceGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResourceGroup items on this page",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ResourceGroupProperties": {
      "type": "object",
      "description": "The resource group properties.",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state."
        }
      }
    },
    "ResourceGroupUpdate": {
      "type": "object",
      "description": "Resource group information.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceGroupProperties",
          "description": "The resource-specific properties for this resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource group. It cannot be changed after the resource group has been created. It must be one of the supported Azure locations."
        },
        "tags": {
          "type": "object",
          "description": "The tags attached to the resource group.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "managedBy": {
          "type": "string",
          "description": "The ID of the resource that manages this resource group."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
