{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/networkinterfaces/{networkinterfacesName}": {
      "get": {
        "operationId": "networkinterfaces_Retrieve",
        "x-ms-examples": {
          "GetNetworkInterface": {
            "$ref": "./examples/GetNetworkInterface.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Retrieves the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        }
      },
      "put": {
        "operationId": "networkinterfaces_CreateOrUpdate",
        "x-ms-examples": {
          "PutNetworkInterface": {
            "$ref": "./examples/PutNetworkInterface.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkinterfaces",
            "in": "body",
            "required": true,
            "description": "Spec of the to-be-created networkinterfaces resource",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          },
          "201": {
            "description": "Creates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        }
      },
      "delete": {
        "operationId": "networkinterfaces_Delete",
        "x-ms-examples": {
          "DeleteNetworkInterface": {
            "$ref": "./examples/DeleteNetworkInterface.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the networkinterfaces resource."
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "networkinterfaces_Update",
        "x-ms-examples": {
          "UpdateNetworkInterface": {
            "$ref": "./examples/UpdateNetworkInterface.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkinterfaces",
            "in": "body",
            "required": true,
            "description": "Patch of the updated networkinterfaces resource",
            "schema": {
              "$ref": "#/definitions/networkinterfacesPatch"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/networkinterfaces": {
      "get": {
        "operationId": "networkinterfaces_ListByResourceGroup",
        "x-ms-examples": {
          "ListNetworkInterfaceByResourceGroup": {
            "$ref": "./examples/ListNetworkInterfaceByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all networkinterfaces under the resource group.",
            "schema": {
              "$ref": "#/definitions/networkinterfacesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/networkinterfaces": {
      "get": {
        "operationId": "networkinterfaces_ListBySubscription",
        "x-ms-examples": {
          "ListNetworkInterfaceBySubscription": {
            "$ref": "./examples/ListNetworkInterfaceBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all networkinterfaces under the subscription.",
            "schema": {
              "$ref": "#/definitions/networkinterfacesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "InterfaceDNSSettings": {
      "type": "object",
      "properties": {
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of DNS server IP Addresses for the interface"
        }
      }
    },
    "networkinterfacesProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ipConfiguration"
          },
          "description": "IPConfigurations - A list of IPConfigurations of the network interface.",
          "x-ms-identifiers": []
        },
        "macAddress": {
          "type": "string",
          "description": "MacAddress - The MAC address of the network interface."
        },
        "dnsSettings": {
          "$ref": "#/definitions/InterfaceDNSSettings",
          "description": "DNS Settings for the interface"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "InProgress",
            "Accepted",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true
          }
        },
        "resourceName": {
          "type": "string",
          "description": "name of the object to be used in moc"
        },
        "status": {
          "$ref": "#/definitions/NetworkInterfaceStatus"
        }
      },
      "description": "NetworkInterfaceSpec defines the desired state of NetworkInterface"
    },
    "NetworkInterfaceStatus": {
      "type": "object",
      "description": "NetworkInterfaceStatus defines the observed state of NetworkInterface",
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "NetworkInterface provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        }
      }
    },
    "ipConfiguration": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "name": {
          "type": "string",
          "description": "Name - The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "properties": {
          "type": "object",
          "properties": {
            "gateway": {
              "x-ms-client-flatten": true,
              "type": "string",
              "description": "Gateway for network interface"
            },
            "prefixLength": {
              "type": "string",
              "description": "prefixLength for network interface"
            },
            "privateIPAddress": {
              "type": "string",
              "description": "PrivateIPAddress - Private IP address of the IP configuration."
            },
            "privateIPAllocationMethod": {
              "type": "string",
              "description": "PrivateIPAllocationMethod - The private IP address allocation method. Possible values include: 'Static', 'Dynamic'",
              "enum": [
                "Dynamic",
                "Static"
              ],
              "x-ms-enum": {
                "name": "PrivateIPAllocationMethodEnum",
                "modelAsString": true
              }
            },
            "subnet": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID - The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
                }
              },
              "description": "Subnet - Name of Subnet bound to the IP configuration."
            }
          },
          "description": "InterfaceIPConfigurationPropertiesFormat properties of IP configuration."
        }
      },
      "description": "InterfaceIPConfiguration iPConfiguration in a network interface."
    },
    "networkinterfaces": {
      "type": "object",
      "description": "The networkinterfaces resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/networkinterfacesProperties"
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extendedLocation of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "networkinterfacesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The networkinterfaces resource patch definition."
    },
    "networkinterfacesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkinterfaces"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "networkinterfacesNameParameter": {
      "name": "networkinterfacesName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3
    }
  }
}
