{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualnetworks/{virtualnetworksName}": {
      "get": {
        "operationId": "virtualnetworks_Retrieve",
        "x-ms-examples": {
          "GetVirtualNetwork": {
            "$ref": "./examples/GetVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworksNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Retrieves the virtualnetworks resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks"
            }
          }
        }
      },
      "put": {
        "operationId": "virtualnetworks_CreateOrUpdate",
        "x-ms-examples": {
          "PutVirtualNetwork": {
            "$ref": "./examples/PutVirtualNetwork.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworksNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualnetworks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualnetworks"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the virtualnetworks resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks"
            }
          },
          "201": {
            "description": "Creates the virtualnetworks resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks"
            }
          }
        }
      },
      "delete": {
        "operationId": "virtualnetworks_Delete",
        "x-ms-examples": {
          "DeleteVirtualNetwork": {
            "$ref": "./examples/DeleteVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworksNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Deletes the virtualnetworks resource."
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "virtualnetworks_Update",
        "x-ms-examples": {
          "UpdateVirtualNetwork": {
            "$ref": "./examples/UpdateVirtualNetwork.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualnetworksNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualnetworks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualnetworksPatch"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updates the virtualnetworks resource.",
            "schema": {
              "$ref": "#/definitions/virtualnetworks"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualnetworks": {
      "get": {
        "operationId": "virtualnetworks_ListByResourceGroup",
        "x-ms-examples": {
          "ListVirtualNetworkByResourceGroup": {
            "$ref": "./examples/ListVirtualNetworkByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all virtualnetworks under the resource group.",
            "schema": {
              "$ref": "#/definitions/virtualnetworksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/virtualnetworks": {
      "get": {
        "operationId": "virtualnetworks_ListBySubscription",
        "x-ms-examples": {
          "ListVirtualNetworkBySubscription": {
            "$ref": "./examples/ListVirtualNetworkBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Lists all virtualnetworks under the subscription.",
            "schema": {
              "$ref": "#/definitions/virtualnetworksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "virtualnetworksProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "networkType": {
          "type": "string",
          "description": "Type of the network",
          "enum": [
            "NAT",
            "Transparent",
            "L2Bridge",
            "L2Tunnel",
            "ICS",
            "Private",
            "Overlay",
            "Internal",
            "Mirrored"
          ],
          "x-ms-enum": {
            "name": "NetworkTypeEnum",
            "modelAsString": true
          }
        },
        "subnets": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name - The name of the resource that is unique within a resource group. This name can be used to access the resource."
              },
              "properties": {
                "type": "object",
                "x-ms-client-flatten": true,
                "properties": {
                  "addressPrefix": {
                    "type": "string",
                    "description": "Cidr for this subnet - IPv4, IPv6"
                  },
                  "addressPrefixes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "AddressPrefixes - List of address prefixes for the subnet."
                  },
                  "ipAllocationMethod": {
                    "type": "string",
                    "description": "IPAllocationMethod - The IP address allocation method. Possible values include: 'Static', 'Dynamic'",
                    "enum": [
                      "Dynamic",
                      "Static"
                    ],
                    "x-ms-enum": {
                      "name": "IpAllocationMethodEnum",
                      "modelAsString": true
                    }
                  },
                  "ipConfigurationReferences": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "Name of the Ip Configuration"
                        }
                      },
                      "description": "IPConfigurationReference - Describes a IPConfiguration under the virtual network"
                    },
                    "x-ms-identifiers": [],
                    "description": "IPConfigurationReferences - list of IPConfigurationReferences"
                  },
                  "routeTable": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "route ID - ID of the IP route"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name - READ-ONLY; Resource name."
                      },
                      "properties": {
                        "type": "object",
                        "x-ms-client-flatten": true,
                        "properties": {
                          "routes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Name - name of the subnet"
                                },
                                "properties": {
                                  "type": "object",
                                  "x-ms-client-flatten": true,
                                  "properties": {
                                    "addressPrefix": {
                                      "type": "string",
                                      "description": "AddressPrefix - The destination CIDR to which the route applies."
                                    },
                                    "nextHopIpAddress": {
                                      "type": "string",
                                      "description": "NextHopIPAddress - The IP address packets should be forwarded to. Next hop values are only allowed in routes where the next hop type is VirtualAppliance."
                                    }
                                  },
                                  "description": "RoutePropertiesFormat - Properties of the route."
                                }
                              },
                              "description": "Route is associated with a subnet."
                            },
                            "description": "Routes - Collection of routes contained within a route table.",
                            "x-ms-identifiers": []
                          }
                        },
                        "description": "RouteTablePropertiesFormat route Table resource."
                      },
                      "type": {
                        "type": "string",
                        "description": "Type - READ-ONLY; Resource type."
                      }
                    },
                    "description": "RouteTable for the subnet"
                  },
                  "ipPools": {
                    "type": "array",
                    "description": "network associated pool of IP Addresses",
                    "items": {
                      "$ref": "#/definitions/IPPool"
                    },
                    "x-ms-identifiers": []
                  },
                  "vlan": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Vlan to use for the subnet"
                  }
                },
                "description": "SubnetProperties - Properties of the subnet."
              }
            },
            "description": "Subnet subnet in a virtual network resource."
          },
          "description": "Subnet - list of subnets under the virtual network",
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "InProgress",
            "Accepted",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true
          }
        },
        "resourceName": {
          "type": "string",
          "description": "name of the object to be used in moc"
        },
        "status": {
          "$ref": "#/definitions/VirtualNetworkStatus"
        }
      },
      "description": "VirtualNetworkSpec defines the desired state of VirtualNetwork"
    },
    "VirtualNetworkStatus": {
      "type": "object",
      "description": "VirtualNetworkStatus defines the observed state of VirtualNetwork",
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "VirtualNetwork provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        }
      }
    },
    "IPPoolInfo": {
      "type": "object",
      "properties": {
        "used": {
          "type": "string",
          "readOnly": true,
          "description": "no. of ip addresses allocated from the ip pool"
        },
        "available": {
          "type": "string",
          "readOnly": true,
          "description": "no. of ip addresses available in the ip pool"
        }
      }
    },
    "IPPool": {
      "type": "object",
      "properties": {
        "ipPoolType": {
          "type": "string",
          "enum": [
            "vm",
            "vippool"
          ],
          "x-ms-enum": {
            "name": "IPPoolTypeEnum",
            "modelAsString": false
          },
          "description": "ip pool type"
        },
        "start": {
          "type": "string",
          "description": "First IP in the pool"
        },
        "end": {
          "type": "string",
          "description": "Last IP in the pool"
        },
        "info": {
          "$ref": "#/definitions/IPPoolInfo"
        }
      }
    },
    "virtualnetworks": {
      "type": "object",
      "description": "The virtualnetworks resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/virtualnetworksProperties"
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extendedLocation of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "virtualnetworksPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The virtualnetworks resource patch definition."
    },
    "virtualnetworksListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/virtualnetworks"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "virtualnetworksNameParameter": {
      "name": "virtualnetworksName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "maxLength": 64,
      "minLength": 3
    }
  }
}
