{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2026-08-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "TopQueries"
    },
    {
      "name": "TopQueriesQueryText"
    },
    {
      "name": "TopQueryStatistics"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries": {
      "get": {
        "operationId": "Databases_TopQueriesListByDatabase",
        "tags": [
          "TopQueries"
        ],
        "description": "Get top resource consuming queries of a database",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TopQueriesDatabaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Obtain list of database's top resource consuming queries. Example with only mandatory request parameters.": {
            "$ref": "./examples/GetTopQueries.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{topQueryName}/queryText": {
      "get": {
        "operationId": "DatabaseTopQueries_QueryText",
        "tags": [
          "TopQueriesQueryText"
        ],
        "description": "Get query text.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "topQueryName",
            "in": "path",
            "description": "Placeholder for query ID.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryTextResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Obtain required query text.": {
            "$ref": "./examples/GetQueryText.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/topQueries/{topQueryName}/statistics": {
      "get": {
        "operationId": "DatabaseTopQueries_Statistics",
        "tags": [
          "TopQueryStatistics"
        ],
        "description": "Get query statistics.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "topQueryName",
            "in": "path",
            "description": "Placeholder for query ID.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryStatisticsDatabaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Obtain query execution statistics.": {
            "$ref": "./examples/GetQueryStatistics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DatabaseTopQuery": {
      "type": "object",
      "description": "A database top query, identified by query id.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseTopQueryProperties",
          "description": "Resource properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatabaseTopQueryProperties": {
      "type": "object",
      "description": "Resource properties. Empty, since a database top query has no settable state of its own."
    },
    "IntervalQuery": {
      "type": "object",
      "description": "A query metrics interval.",
      "properties": {
        "intervalType": {
          "$ref": "./common.json#/definitions/QueryTimeGrainType",
          "description": "Interval type (length).",
          "readOnly": true
        },
        "intervalStartTime": {
          "type": "string",
          "description": "The start time for the metric (ISO-8601 format).",
          "readOnly": true
        },
        "executionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Execution count of a query in this interval.",
          "readOnly": true
        },
        "metrics": {
          "type": "array",
          "description": "List of metric objects for one interval",
          "items": {
            "$ref": "#/definitions/MetricQuery"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "MetricQuery": {
      "type": "object",
      "description": "A query metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name information for the metric.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The UI appropriate name for the metric.",
          "readOnly": true
        },
        "unit": {
          "$ref": "./common.json#/definitions/QueryMetricUnitType",
          "description": "The unit of the metric.",
          "readOnly": true
        },
        "min": {
          "type": "number",
          "format": "double",
          "description": "Metric value when min() aggregate function is used over the interval.",
          "readOnly": true
        },
        "max": {
          "type": "number",
          "format": "double",
          "description": "Metric value when max() aggregate function is used over the interval.",
          "readOnly": true
        },
        "avg": {
          "type": "number",
          "format": "double",
          "description": "Metric value when avg() aggregate function is used over the interval.",
          "readOnly": true
        },
        "sum": {
          "type": "number",
          "format": "double",
          "description": "Metric value when sum() aggregate function is used over the interval.",
          "readOnly": true
        },
        "stdev": {
          "type": "number",
          "format": "double",
          "description": "Metric value when stdev aggregate function is used over the interval.",
          "readOnly": true
        }
      }
    },
    "QueryMetric": {
      "type": "object",
      "description": "Properties of a topquery metric in one interval.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name information for the metric.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The UI appropriate name for the metric.",
          "readOnly": true
        },
        "unit": {
          "$ref": "./common.json#/definitions/QueryMetricUnitType",
          "description": "The unit of the metric.",
          "readOnly": true
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The value of the metric.",
          "readOnly": true
        }
      }
    },
    "QueryMetricIntervalDetails": {
      "type": "object",
      "description": "Properties of a query metrics interval.",
      "properties": {
        "intervalStartTime": {
          "type": "string",
          "description": "The start time for the metric interval.",
          "readOnly": true
        },
        "executionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Execution count of a query in this interval.",
          "readOnly": true
        },
        "metrics": {
          "type": "array",
          "description": "List of metric objects for this interval",
          "items": {
            "$ref": "#/definitions/QueryMetric"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "QueryMetrics": {
      "type": "object",
      "description": "Metrics of a query execution.",
      "properties": {
        "queryId": {
          "type": "integer",
          "format": "int64",
          "description": "Unique query id",
          "readOnly": true
        },
        "intervals": {
          "type": "array",
          "description": "List of intervals with appropriate metric data",
          "items": {
            "$ref": "#/definitions/QueryMetricIntervalDetails"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "QueryStatisticsDatabase": {
      "type": "object",
      "description": "A query execution statistics.",
      "properties": {
        "queryId": {
          "type": "integer",
          "format": "int64",
          "description": "Query id.",
          "readOnly": true
        },
        "intervals": {
          "type": "array",
          "description": "List of interval objects",
          "items": {
            "$ref": "#/definitions/IntervalQuery"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "QueryStatisticsDatabaseListResult": {
      "type": "object",
      "description": "A list of a query execution statistics",
      "properties": {
        "value": {
          "type": "array",
          "description": "The QueryStatisticsDatabase items on this page",
          "items": {
            "$ref": "#/definitions/QueryStatisticsDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "QueryTextDatabase": {
      "type": "object",
      "description": "Text of requested query.",
      "properties": {
        "queryText": {
          "type": "string",
          "description": "Query text.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "QueryTextResult": {
      "type": "object",
      "description": "A list of requested query texts - contains one item.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The QueryTextDatabase items on this page",
          "items": {
            "$ref": "#/definitions/QueryTextDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TopQueriesDatabase": {
      "type": "object",
      "description": "A list of top resource consuming queries on database",
      "properties": {
        "numberOfTopQueries": {
          "type": "integer",
          "format": "int32",
          "description": "Requested number of top queries.",
          "readOnly": true
        },
        "aggregationFunction": {
          "$ref": "./common.json#/definitions/AggregationFunctionType",
          "description": "Aggregation function used to calculate query metrics.",
          "readOnly": true
        },
        "executionType": {
          "$ref": "./common.json#/definitions/ExecutionType",
          "description": "Requested execution type of top queries.",
          "readOnly": true
        },
        "observedMetric": {
          "$ref": "./common.json#/definitions/MetricType",
          "description": "Metric used to rank queries.",
          "readOnly": true
        },
        "intervalType": {
          "$ref": "./common.json#/definitions/QueryTimeGrainType",
          "description": "Interval type (length).",
          "readOnly": true
        },
        "observationStartTime": {
          "type": "string",
          "description": "The start time for the metric.",
          "readOnly": true
        },
        "observationEndTime": {
          "type": "string",
          "description": "The end time for the metric.",
          "readOnly": true
        },
        "queries": {
          "type": "array",
          "description": "List of top resource consuming queries with appropriate metric data",
          "items": {
            "$ref": "#/definitions/QueryMetrics"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TopQueriesDatabaseListResult": {
      "type": "object",
      "description": "A list of top resource consuming queries on database",
      "properties": {
        "value": {
          "type": "array",
          "description": "The TopQueriesDatabase items on this page",
          "items": {
            "$ref": "#/definitions/TopQueriesDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {}
}
