{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "version": "2018-10-01",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkInterfaces"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Gets all network interfaces in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set network interfaces": {
            "$ref": "./examples/VmssNetworkInterfaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses",
        "description": "Gets information about all public IP addresses on a virtual machine scale set level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSPublicIP": {
            "$ref": "./examples/VmssPublicIpListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Gets information about all network interfaces in a virtual machine in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set vm network interfaces": {
            "$ref": "./examples/VmssVmNetworkInterfaceList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}": {
      "get": {
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterface"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine scale set network interface": {
            "$ref": "./examples/VmssNetworkInterfaceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}": {
      "get": {
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface ip configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine scale set network interface": {
            "$ref": "./examples/VmssNetworkInterfaceIpConfigGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses",
        "description": "Gets information about all public IP addresses in a virtual machine IP configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSVMPublicIP": {
            "$ref": "./examples/VmssVmPublicIpList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}": {
      "get": {
        "operationId": "PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress",
        "description": "Get the specified public IP address in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "publicIpAddressName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVMSSPublicIP": {
            "$ref": "./examples/VmssPublicIpGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface ip configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceIPConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set network interface ip configurations": {
            "$ref": "./examples/VmssNetworkInterfaceIpConfigList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Access": {
      "type": "string",
      "description": "Access to be allowed or denied.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "Access",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow"
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "Deny"
          }
        ]
      }
    },
    "AccessMode": {
      "type": "string",
      "description": "The access mode of the private link service.",
      "enum": [
        "Default",
        "Restricted"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Allows unrestricted access to the private link service."
          },
          {
            "name": "Restricted",
            "value": "Restricted",
            "description": "Limits access to subscriptions which are inside visibility list only."
          }
        ]
      }
    },
    "ActionType": {
      "type": "string",
      "description": "Defines the action to take on rule match.",
      "enum": [
        "AnomalyScoring",
        "Allow",
        "Block",
        "Log",
        "JSChallenge",
        "CAPTCHA"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "AnomalyScoring",
            "value": "AnomalyScoring",
            "description": "AnomalyScoring"
          },
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow"
          },
          {
            "name": "Block",
            "value": "Block",
            "description": "Block"
          },
          {
            "name": "Log",
            "value": "Log",
            "description": "Log"
          },
          {
            "name": "JSChallenge",
            "value": "JSChallenge",
            "description": "JSChallenge"
          },
          {
            "name": "CAPTCHA",
            "value": "CAPTCHA",
            "description": "CAPTCHA"
          }
        ]
      }
    },
    "AddressSpace": {
      "type": "object",
      "description": "AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network.",
      "properties": {
        "addressPrefixes": {
          "type": "array",
          "description": "A list of address blocks reserved for this virtual network in CIDR notation.",
          "items": {
            "type": "string"
          }
        },
        "ipamPoolPrefixAllocations": {
          "type": "array",
          "description": "A list of IPAM Pools allocating IP address prefixes.",
          "items": {
            "$ref": "#/definitions/IpamPoolPrefixAllocation"
          }
        }
      }
    },
    "AdminState": {
      "type": "string",
      "description": "Property to indicate if the Express Route Gateway serves traffic when there are multiple Express Route Gateways in the vnet",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AdminState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "AdvertisedPublicPrefixProperties": {
      "type": "object",
      "description": "Prefix properties required to perform validation using openssl signature.",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "Advertised Public Prefix."
        },
        "validationId": {
          "type": "string",
          "description": "Validation string that contains circuit peering info."
        },
        "signature": {
          "type": "string",
          "description": "Signed string generated by encrypting validationId with a private key."
        },
        "validationState": {
          "$ref": "#/definitions/AdvertisedPublicPrefixPropertiesValidationState",
          "description": "Advertised Public Prefix State that denotes if the prefix is validated or not.",
          "readOnly": true
        }
      }
    },
    "AdvertisedPublicPrefixPropertiesValidationState": {
      "type": "string",
      "description": "Advertised Public Prefix State that denotes if the prefix is validated or not.",
      "enum": [
        "NotConfigured",
        "Configuring",
        "Configured",
        "ValidationNeeded",
        "ValidationFailed",
        "ManualValidationNeeded",
        "AsnValidationFailed",
        "CertificateMissingInRoutingRegistry",
        "InvalidSignatureEncoding",
        "SignatureVerificationFailed"
      ],
      "x-ms-enum": {
        "name": "AdvertisedPublicPrefixPropertiesValidationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotConfigured",
            "value": "NotConfigured",
            "description": "NotConfigured"
          },
          {
            "name": "Configuring",
            "value": "Configuring",
            "description": "Configuring"
          },
          {
            "name": "Configured",
            "value": "Configured",
            "description": "Configured"
          },
          {
            "name": "ValidationNeeded",
            "value": "ValidationNeeded",
            "description": "ValidationNeeded"
          },
          {
            "name": "ValidationFailed",
            "value": "ValidationFailed",
            "description": "ValidationFailed"
          },
          {
            "name": "ManualValidationNeeded",
            "value": "ManualValidationNeeded",
            "description": "ManualValidationNeeded"
          },
          {
            "name": "AsnValidationFailed",
            "value": "AsnValidationFailed",
            "description": "AsnValidationFailed"
          },
          {
            "name": "CertificateMissingInRoutingRegistry",
            "value": "CertificateMissingInRoutingRegistry",
            "description": "CertificateMissingInRoutingRegistry"
          },
          {
            "name": "InvalidSignatureEncoding",
            "value": "InvalidSignatureEncoding",
            "description": "InvalidSignatureEncoding"
          },
          {
            "name": "SignatureVerificationFailed",
            "value": "SignatureVerificationFailed",
            "description": "SignatureVerificationFailed"
          }
        ]
      }
    },
    "ApplicationGateway": {
      "type": "object",
      "description": "Application gateway resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayPropertiesFormat",
          "description": "Properties of the application gateway.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting where the resource needs to come from.",
          "items": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentity",
          "description": "The identity of the application gateway, if configured."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ApplicationGatewayAuthenticationCertificate": {
      "type": "object",
      "description": "Authentication certificates of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayAuthenticationCertificatePropertiesFormat",
          "description": "Properties of the application gateway authentication certificate.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the authentication certificate that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayAuthenticationCertificatePropertiesFormat": {
      "type": "object",
      "description": "Authentication certificates properties of an application gateway.",
      "properties": {
        "data": {
          "type": "string",
          "description": "Certificate public data."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the authentication certificate resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayAutoscaleConfiguration": {
      "type": "object",
      "description": "Application Gateway autoscale configuration.",
      "properties": {
        "minCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Lower bound on number of Application Gateway capacity.",
          "minimum": 0
        },
        "maxCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound on number of Application Gateway capacity.",
          "minimum": 2
        }
      },
      "required": [
        "minCapacity"
      ]
    },
    "ApplicationGatewayAvailableSslOptions": {
      "type": "object",
      "description": "Response for ApplicationGatewayAvailableSslOptions API service call.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayAvailableSslOptionsPropertiesFormat",
          "description": "Properties of the application gateway available SSL options.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ApplicationGatewayAvailableSslOptionsPropertiesFormat": {
      "type": "object",
      "description": "Properties of ApplicationGatewayAvailableSslOptions.",
      "properties": {
        "predefinedPolicies": {
          "type": "array",
          "description": "List of available Ssl predefined policy.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "defaultPolicy": {
          "$ref": "#/definitions/ApplicationGatewaySslPolicyName",
          "description": "Name of the Ssl predefined policy applied by default to application gateway."
        },
        "availableCipherSuites": {
          "type": "array",
          "description": "List of available Ssl cipher suites.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewaySslCipherSuite"
          }
        },
        "availableProtocols": {
          "type": "array",
          "description": "List of available Ssl protocols.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewaySslProtocol"
          }
        }
      }
    },
    "ApplicationGatewayBackendAddress": {
      "type": "object",
      "description": "Backend address of an application gateway.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name (FQDN)."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address."
        }
      }
    },
    "ApplicationGatewayBackendAddressPool": {
      "type": "object",
      "description": "Backend Address Pool of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayBackendAddressPoolPropertiesFormat",
          "description": "Properties of the application gateway backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address pool that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayBackendAddressPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of Backend Address Pool of an application gateway.",
      "properties": {
        "backendIPConfigurations": {
          "type": "array",
          "description": "Collection of references to IPs defined in network interfaces.",
          "items": {
            "$ref": "#/definitions/NetworkInterfaceIPConfiguration"
          },
          "readOnly": true
        },
        "backendAddresses": {
          "type": "array",
          "description": "Backend addresses.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendAddress"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the backend address pool resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayBackendHttpSettings": {
      "type": "object",
      "description": "Backend address pool settings of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayBackendHttpSettingsPropertiesFormat",
          "description": "Properties of the application gateway backend HTTP settings.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend http settings that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayBackendHttpSettingsPropertiesFormat": {
      "type": "object",
      "description": "Properties of Backend address pool settings of an application gateway.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The destination port on the backend."
        },
        "protocol": {
          "$ref": "#/definitions/ApplicationGatewayProtocol",
          "description": "The protocol used to communicate with the backend."
        },
        "cookieBasedAffinity": {
          "$ref": "#/definitions/ApplicationGatewayCookieBasedAffinity",
          "description": "Cookie based affinity."
        },
        "requestTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Request timeout in seconds. Application Gateway will fail the request if response is not received within RequestTimeout. Acceptable values are from 1 second to 86400 seconds."
        },
        "probe": {
          "$ref": "#/definitions/SubResource",
          "description": "Probe resource of an application gateway."
        },
        "authenticationCertificates": {
          "type": "array",
          "description": "Array of references to application gateway authentication certificates.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "trustedRootCertificates": {
          "type": "array",
          "description": "Array of references to application gateway trusted root certificates.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "connectionDraining": {
          "$ref": "#/definitions/ApplicationGatewayConnectionDraining",
          "description": "Connection draining of the backend http settings resource."
        },
        "hostName": {
          "type": "string",
          "description": "Host header to be sent to the backend servers."
        },
        "pickHostNameFromBackendAddress": {
          "type": "boolean",
          "description": "Whether to pick host header should be picked from the host name of the backend server. Default value is false."
        },
        "affinityCookieName": {
          "type": "string",
          "description": "Cookie name to use for the affinity cookie."
        },
        "probeEnabled": {
          "type": "boolean",
          "description": "Whether the probe is enabled. Default value is false."
        },
        "path": {
          "type": "string",
          "description": "Path which should be used as a prefix for all HTTP requests. Null means no path will be prefixed. Default value is null."
        },
        "dedicatedBackendConnection": {
          "type": "boolean",
          "description": "Enable or disable dedicated connection per backend server. Default is set to false."
        },
        "validateCertChainAndExpiry": {
          "type": "boolean",
          "description": "Verify or skip both chain and expiry validations of the certificate on the backend server. Default is set to true.",
          "default": true
        },
        "validateSNI": {
          "type": "boolean",
          "description": "When enabled, verifies if the Common Name of the certificate provided by the backend server matches the Server Name Indication (SNI) value. Default value is true.",
          "default": true
        },
        "sniName": {
          "type": "string",
          "description": "Specify an SNI value to match the common name of the certificate on the backend. By default, the application gateway uses the incoming request’s host header as the SNI. Default value is null."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the backend HTTP settings resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayBackendSettings": {
      "type": "object",
      "description": "Backend address pool settings of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayBackendSettingsPropertiesFormat",
          "description": "Properties of the application gateway backend settings.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend settings that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayBackendSettingsPropertiesFormat": {
      "type": "object",
      "description": "Properties of Backend address pool settings of an application gateway.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The destination port on the backend."
        },
        "protocol": {
          "$ref": "#/definitions/ApplicationGatewayProtocol",
          "description": "The protocol used to communicate with the backend."
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Connection timeout in seconds. Application Gateway will fail the request if response is not received within ConnectionTimeout. Acceptable values are from 1 second to 86400 seconds."
        },
        "probe": {
          "$ref": "#/definitions/SubResource",
          "description": "Probe resource of an application gateway."
        },
        "trustedRootCertificates": {
          "type": "array",
          "description": "Array of references to application gateway trusted root certificates.",
          "items": {
            "$ref": "#/definitions/SubResource"
          }
        },
        "hostName": {
          "type": "string",
          "description": "Server name indication to be sent to the backend servers for Tls protocol."
        },
        "pickHostNameFromBackendAddress": {
          "type": "boolean",
          "description": "Whether to pick server name indication from the host name of the backend server for Tls protocol. Default value is false."
        },
        "enableL4ClientIpPreservation": {
          "type": "boolean",
          "description": "Whether to send Proxy Protocol header to backend servers over TCP or TLS protocols. Default value is false."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the backend HTTP settings resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayClientAuthConfiguration": {
      "type": "object",
      "description": "Application gateway client authentication configuration.",
      "properties": {
        "verifyClientCertIssuerDN": {
          "type": "boolean",
          "description": "Verify client certificate issuer name on the application gateway."
        },
        "verifyClientRevocation": {
          "$ref": "#/definitions/ApplicationGatewayClientRevocationOptions",
          "description": "Verify client certificate revocation status."
        },
        "verifyClientAuthMode": {
          "$ref": "#/definitions/ApplicationGatewayClientAuthVerificationModes",
          "description": "Verify client Authentication mode."
        }
      }
    },
    "ApplicationGatewayClientAuthVerificationModes": {
      "type": "string",
      "description": "Verify client Authentication mode.",
      "enum": [
        "Strict",
        "Passthrough"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayClientAuthVerificationModes",
        "modelAsString": true,
        "values": [
          {
            "name": "Strict",
            "value": "Strict",
            "description": "Strict"
          },
          {
            "name": "Passthrough",
            "value": "Passthrough",
            "description": "Passthrough"
          }
        ]
      }
    },
    "ApplicationGatewayClientRevocationOptions": {
      "type": "string",
      "description": "Verify client certificate revocation status.",
      "enum": [
        "None",
        "OCSP"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayClientRevocationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "OCSP",
            "value": "OCSP",
            "description": "OCSP"
          }
        ]
      }
    },
    "ApplicationGatewayConnectionDraining": {
      "type": "object",
      "description": "Connection draining allows open connections to a backend server to be active for a specified time after the backend server got removed from the configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether connection draining is enabled or not."
        },
        "drainTimeoutInSec": {
          "type": "integer",
          "format": "int32",
          "description": "The number of seconds connection draining is active. Acceptable values are from 1 second to 3600 seconds.",
          "minimum": 1,
          "maximum": 3600
        }
      },
      "required": [
        "enabled",
        "drainTimeoutInSec"
      ]
    },
    "ApplicationGatewayCookieBasedAffinity": {
      "type": "string",
      "description": "Cookie based affinity.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayCookieBasedAffinity",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "ApplicationGatewayCustomError": {
      "type": "object",
      "description": "Custom error of an application gateway.",
      "properties": {
        "statusCode": {
          "$ref": "#/definitions/ApplicationGatewayCustomErrorStatusCode",
          "description": "Status code of the application gateway custom error."
        },
        "customErrorPageUrl": {
          "type": "string",
          "description": "Error page URL of the application gateway custom error."
        }
      }
    },
    "ApplicationGatewayCustomErrorStatusCode": {
      "type": "string",
      "description": "Status code of the application gateway custom error.",
      "enum": [
        "HttpStatus400",
        "HttpStatus403",
        "HttpStatus404",
        "HttpStatus405",
        "HttpStatus408",
        "HttpStatus500",
        "HttpStatus502",
        "HttpStatus503",
        "HttpStatus504"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayCustomErrorStatusCode",
        "modelAsString": true,
        "values": [
          {
            "name": "HttpStatus400",
            "value": "HttpStatus400",
            "description": "HttpStatus400"
          },
          {
            "name": "HttpStatus403",
            "value": "HttpStatus403",
            "description": "HttpStatus403"
          },
          {
            "name": "HttpStatus404",
            "value": "HttpStatus404",
            "description": "HttpStatus404"
          },
          {
            "name": "HttpStatus405",
            "value": "HttpStatus405",
            "description": "HttpStatus405"
          },
          {
            "name": "HttpStatus408",
            "value": "HttpStatus408",
            "description": "HttpStatus408"
          },
          {
            "name": "HttpStatus500",
            "value": "HttpStatus500",
            "description": "HttpStatus500"
          },
          {
            "name": "HttpStatus502",
            "value": "HttpStatus502",
            "description": "HttpStatus502"
          },
          {
            "name": "HttpStatus503",
            "value": "HttpStatus503",
            "description": "HttpStatus503"
          },
          {
            "name": "HttpStatus504",
            "value": "HttpStatus504",
            "description": "HttpStatus504"
          }
        ]
      }
    },
    "ApplicationGatewayEntraJWTValidationConfig": {
      "type": "object",
      "description": "Entra JWT Validation Configuration of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayEntraJWTValidationConfigPropertiesFormat",
          "description": "Properties of the application gateway entra jwt validation configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the entra jwt validation configuration that is unique within an application gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayEntraJWTValidationConfigPropertiesFormat": {
      "type": "object",
      "description": "Properties of entra jwt validation configuration of the application gateway.",
      "properties": {
        "unAuthorizedRequestAction": {
          "$ref": "#/definitions/ApplicationGatewayUnAuthorizedRequestAction",
          "description": "Unauthorized request action."
        },
        "tenantId": {
          "type": "string",
          "description": "The Tenant ID of the Microsoft Entra ID application."
        },
        "clientId": {
          "type": "string",
          "description": "The Client ID of the Microsoft Entra ID application."
        },
        "audiences": {
          "type": "array",
          "description": "List of acceptable audience claims that can be present in the token (aud claim). A maximum of 5 audiences are permitted.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the entra jwt validation configuration resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayFirewallDisabledRuleGroup": {
      "type": "object",
      "description": "Allows to disable rules within a rule group or an entire rule group.",
      "properties": {
        "ruleGroupName": {
          "type": "string",
          "description": "The name of the rule group that will be disabled."
        },
        "rules": {
          "type": "array",
          "description": "The list of rules that will be disabled. If null, all rules of the rule group will be disabled.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "required": [
        "ruleGroupName"
      ]
    },
    "ApplicationGatewayFirewallExclusion": {
      "type": "object",
      "description": "Allow to exclude some variable satisfy the condition for the WAF check.",
      "properties": {
        "matchVariable": {
          "type": "string",
          "description": "The variable to be excluded."
        },
        "selectorMatchOperator": {
          "type": "string",
          "description": "When matchVariable is a collection, operate on the selector to specify which elements in the collection this exclusion applies to."
        },
        "selector": {
          "type": "string",
          "description": "When matchVariable is a collection, operator used to specify which elements in the collection this exclusion applies to."
        }
      },
      "required": [
        "matchVariable",
        "selectorMatchOperator",
        "selector"
      ]
    },
    "ApplicationGatewayFirewallMode": {
      "type": "string",
      "description": "Web application firewall mode.",
      "enum": [
        "Detection",
        "Prevention"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayFirewallMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Detection",
            "value": "Detection",
            "description": "Detection"
          },
          {
            "name": "Prevention",
            "value": "Prevention",
            "description": "Prevention"
          }
        ]
      }
    },
    "ApplicationGatewayFirewallRateLimitDuration": {
      "type": "string",
      "description": "Duration over which Rate Limit policy will be applied. Applies only when ruleType is RateLimitRule.",
      "enum": [
        "OneMin",
        "FiveMins"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayFirewallRateLimitDuration",
        "modelAsString": true,
        "values": [
          {
            "name": "OneMin",
            "value": "OneMin",
            "description": "OneMin"
          },
          {
            "name": "FiveMins",
            "value": "FiveMins",
            "description": "FiveMins"
          }
        ]
      }
    },
    "ApplicationGatewayFirewallRule": {
      "type": "object",
      "description": "A web application firewall rule.",
      "properties": {
        "ruleId": {
          "type": "integer",
          "format": "int32",
          "description": "The identifier of the web application firewall rule."
        },
        "ruleIdString": {
          "type": "string",
          "description": "The string representation of the web application firewall rule identifier."
        },
        "state": {
          "$ref": "#/definitions/ApplicationGatewayWafRuleStateTypes",
          "description": "The string representation of the web application firewall rule state."
        },
        "action": {
          "$ref": "#/definitions/ApplicationGatewayWafRuleActionTypes",
          "description": "The string representation of the web application firewall rule action."
        },
        "sensitivity": {
          "$ref": "#/definitions/ApplicationGatewayWafRuleSensitivityTypes",
          "description": "The string representation of the web application firewall rule sensitivity."
        },
        "description": {
          "type": "string",
          "description": "The description of the web application firewall rule."
        }
      },
      "required": [
        "ruleId"
      ]
    },
    "ApplicationGatewayFirewallRuleGroup": {
      "type": "object",
      "description": "A web application firewall rule group.",
      "properties": {
        "ruleGroupName": {
          "type": "string",
          "description": "The name of the web application firewall rule group."
        },
        "description": {
          "type": "string",
          "description": "The description of the web application firewall rule group."
        },
        "rules": {
          "type": "array",
          "description": "The rules of the web application firewall rule group.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayFirewallRule"
          }
        }
      },
      "required": [
        "ruleGroupName",
        "rules"
      ]
    },
    "ApplicationGatewayFirewallRuleSet": {
      "type": "object",
      "description": "A web application firewall rule set.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayFirewallRuleSetPropertiesFormat",
          "description": "Properties of the application gateway firewall rule set.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ApplicationGatewayFirewallRuleSetPropertiesFormat": {
      "type": "object",
      "description": "Properties of the web application firewall rule set.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the web application firewall rule set.",
          "readOnly": true
        },
        "ruleSetType": {
          "type": "string",
          "description": "The type of the web application firewall rule set."
        },
        "ruleSetVersion": {
          "type": "string",
          "description": "The version of the web application firewall rule set type."
        },
        "ruleGroups": {
          "type": "array",
          "description": "The rule groups of the web application firewall rule set.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayFirewallRuleGroup"
          }
        },
        "tiers": {
          "type": "array",
          "description": "Tier of an application gateway that support the rule set.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayTierTypes"
          }
        }
      },
      "required": [
        "ruleSetType",
        "ruleSetVersion",
        "ruleGroups"
      ]
    },
    "ApplicationGatewayFirewallUserSessionVariable": {
      "type": "string",
      "description": "User Session clause variable.",
      "enum": [
        "ClientAddr",
        "GeoLocation",
        "None",
        "ClientAddrXFFHeader",
        "GeoLocationXFFHeader"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayFirewallUserSessionVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "ClientAddr",
            "value": "ClientAddr",
            "description": "ClientAddr"
          },
          {
            "name": "GeoLocation",
            "value": "GeoLocation",
            "description": "GeoLocation"
          },
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "ClientAddrXFFHeader",
            "value": "ClientAddrXFFHeader",
            "description": "ClientAddrXFFHeader"
          },
          {
            "name": "GeoLocationXFFHeader",
            "value": "GeoLocationXFFHeader",
            "description": "GeoLocationXFFHeader"
          }
        ]
      }
    },
    "ApplicationGatewayForContainersReferenceDefinition": {
      "type": "object",
      "description": "Defines an application gateway for containers reference.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource Id of the application gateway for containers.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ServiceNetworking/trafficControllers"
              }
            ]
          }
        }
      },
      "required": [
        "id"
      ]
    },
    "ApplicationGatewayFrontendIPConfiguration": {
      "type": "object",
      "description": "Frontend IP configuration of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayFrontendIPConfigurationPropertiesFormat",
          "description": "Properties of the application gateway frontend IP configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the frontend IP configuration that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayFrontendIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of Frontend IP configuration of an application gateway.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "PrivateIPAddress of the network interface IP Configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "subnet": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the PublicIP resource."
        },
        "privateLinkConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the application gateway private link configuration."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the frontend IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayFrontendPort": {
      "type": "object",
      "description": "Frontend port of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayFrontendPortPropertiesFormat",
          "description": "Properties of the application gateway frontend port.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the frontend port that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayFrontendPortPropertiesFormat": {
      "type": "object",
      "description": "Properties of Frontend port of an application gateway.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Frontend port."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the frontend port resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayGlobalConfiguration": {
      "type": "object",
      "description": "Application Gateway global configuration.",
      "properties": {
        "enableRequestBuffering": {
          "type": "boolean",
          "description": "Enable request buffering."
        },
        "enableResponseBuffering": {
          "type": "boolean",
          "description": "Enable response buffering."
        }
      }
    },
    "ApplicationGatewayHeaderConfiguration": {
      "type": "object",
      "description": "Header configuration of the Actions set in Application Gateway.",
      "properties": {
        "headerName": {
          "type": "string",
          "description": "Header name of the header configuration."
        },
        "headerValueMatcher": {
          "$ref": "#/definitions/HeaderValueMatcher",
          "description": "An optional field under \"Rewrite Action\". It lets you capture and modify the value(s) of a specific header when multiple headers with the same name exist. Currently supported for Set-Cookie Response header only. For more details, visit https://aka.ms/appgwheadercrud"
        },
        "headerValue": {
          "type": "string",
          "description": "Header value of the header configuration."
        }
      }
    },
    "ApplicationGatewayHttpListener": {
      "type": "object",
      "description": "Http listener of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayHttpListenerPropertiesFormat",
          "description": "Properties of the application gateway HTTP listener.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the HTTP listener that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayHttpListenerPropertiesFormat": {
      "type": "object",
      "description": "Properties of HTTP listener of an application gateway.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "Frontend IP configuration resource of an application gateway."
        },
        "frontendPort": {
          "$ref": "#/definitions/SubResource",
          "description": "Frontend port resource of an application gateway."
        },
        "protocol": {
          "$ref": "#/definitions/ApplicationGatewayProtocol",
          "description": "Protocol of the HTTP listener."
        },
        "hostName": {
          "type": "string",
          "description": "Host name of HTTP listener."
        },
        "sslCertificate": {
          "$ref": "#/definitions/SubResource",
          "description": "SSL certificate resource of an application gateway."
        },
        "sslProfile": {
          "$ref": "#/definitions/SubResource",
          "description": "SSL profile resource of the application gateway."
        },
        "requireServerNameIndication": {
          "type": "boolean",
          "description": "Applicable only if protocol is https. Enables SNI for multi-hosting."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the HTTP listener resource.",
          "readOnly": true
        },
        "customErrorConfigurations": {
          "type": "array",
          "description": "Custom error configurations of the HTTP listener.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayCustomError"
          }
        },
        "firewallPolicy": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the FirewallPolicy resource."
        },
        "hostNames": {
          "type": "array",
          "description": "List of Host names for HTTP Listener that allows special wildcard characters as well.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationGatewayIPConfiguration": {
      "type": "object",
      "description": "IP configuration of an application gateway. Currently 1 public and 1 private IP configuration is allowed.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayIPConfigurationPropertiesFormat",
          "description": "Properties of the application gateway IP configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the IP configuration that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration of an application gateway.",
      "properties": {
        "subnet": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the subnet resource. A subnet from where application gateway gets its private address."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the application gateway IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayListener": {
      "type": "object",
      "description": "Listener of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayListenerPropertiesFormat",
          "description": "Properties of the application gateway listener.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the listener that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayListenerPropertiesFormat": {
      "type": "object",
      "description": "Properties of listener of an application gateway.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "Frontend IP configuration resource of an application gateway."
        },
        "frontendPort": {
          "$ref": "#/definitions/SubResource",
          "description": "Frontend port resource of an application gateway."
        },
        "protocol": {
          "$ref": "#/definitions/ApplicationGatewayProtocol",
          "description": "Protocol of the listener."
        },
        "sslCertificate": {
          "$ref": "#/definitions/SubResource",
          "description": "SSL certificate resource of an application gateway."
        },
        "sslProfile": {
          "$ref": "#/definitions/SubResource",
          "description": "SSL profile resource of the application gateway."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the listener resource.",
          "readOnly": true
        },
        "hostNames": {
          "type": "array",
          "description": "List of Server Name Indications(SNI) for TLS Multi-site Listener that allows special wildcard characters as well.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationGatewayLoadDistributionAlgorithm": {
      "type": "string",
      "description": "Load Distribution Algorithm enums.",
      "enum": [
        "RoundRobin",
        "LeastConnections",
        "IpHash"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayLoadDistributionAlgorithm",
        "modelAsString": true,
        "values": [
          {
            "name": "RoundRobin",
            "value": "RoundRobin",
            "description": "RoundRobin"
          },
          {
            "name": "LeastConnections",
            "value": "LeastConnections",
            "description": "LeastConnections"
          },
          {
            "name": "IpHash",
            "value": "IpHash",
            "description": "IpHash"
          }
        ]
      }
    },
    "ApplicationGatewayLoadDistributionPolicy": {
      "type": "object",
      "description": "Load Distribution Policy of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayLoadDistributionPolicyPropertiesFormat",
          "description": "Properties of the application gateway load distribution policy.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the load distribution policy that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayLoadDistributionPolicyPropertiesFormat": {
      "type": "object",
      "description": "Properties of Load Distribution Policy of an application gateway.",
      "properties": {
        "loadDistributionTargets": {
          "type": "array",
          "description": "Load Distribution Targets resource of an application gateway.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayLoadDistributionTarget"
          }
        },
        "loadDistributionAlgorithm": {
          "$ref": "#/definitions/ApplicationGatewayLoadDistributionAlgorithm",
          "description": "Load Distribution Targets resource of an application gateway."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the Load Distribution Policy resource.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayLoadDistributionTarget": {
      "type": "object",
      "description": "Load Distribution Target of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayLoadDistributionTargetPropertiesFormat",
          "description": "Properties of the application gateway load distribution target.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the load distribution policy that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayLoadDistributionTargetPropertiesFormat": {
      "type": "object",
      "properties": {
        "weightPerServer": {
          "type": "integer",
          "format": "int32",
          "description": "Weight per server. Range between 1 and 100.",
          "minimum": 1,
          "maximum": 100
        },
        "backendAddressPool": {
          "$ref": "#/definitions/SubResource",
          "description": "Backend address pool resource of the application gateway."
        }
      }
    },
    "ApplicationGatewayOperationalState": {
      "type": "string",
      "description": "Operational state of the application gateway resource.",
      "enum": [
        "Stopped",
        "Starting",
        "Running",
        "Stopping"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayOperationalState",
        "modelAsString": true,
        "values": [
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Stopped"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Starting"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Running"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Stopping"
          }
        ]
      }
    },
    "ApplicationGatewayPathRule": {
      "type": "object",
      "description": "Path rule of URL path map of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayPathRulePropertiesFormat",
          "description": "Properties of the application gateway path rule.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the path rule that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayPathRulePropertiesFormat": {
      "type": "object",
      "description": "Properties of path rule of an application gateway.",
      "properties": {
        "paths": {
          "type": "array",
          "description": "Path rules of URL path map.",
          "items": {
            "type": "string"
          }
        },
        "backendAddressPool": {
          "$ref": "#/definitions/SubResource",
          "description": "Backend address pool resource of URL path map path rule."
        },
        "backendHttpSettings": {
          "$ref": "#/definitions/SubResource",
          "description": "Backend http settings resource of URL path map path rule."
        },
        "redirectConfiguration": {
          "$ref": "#/definitions/SubResource",
          "description": "Redirect configuration resource of URL path map path rule."
        },
        "rewriteRuleSet": {
          "$ref": "#/definitions/SubResource",
          "description": "Rewrite rule set resource of URL path map path rule."
        },
        "loadDistributionPolicy": {
          "$ref": "#/definitions/SubResource",
          "description": "Load Distribution Policy resource of URL path map path rule."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the path rule resource.",
          "readOnly": true
        },
        "firewallPolicy": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the FirewallPolicy resource."
        }
      }
    },
    "ApplicationGatewayPrivateEndpointConnection": {
      "type": "object",
      "description": "Private Endpoint connection on an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayPrivateEndpointConnectionProperties",
          "description": "Properties of the application gateway private endpoint connection.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResourceModel"
        }
      ]
    },
    "ApplicationGatewayPrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of Private Link Resource of an application gateway.",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The resource of private end point.",
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the application gateway private endpoint connection resource.",
          "readOnly": true
        },
        "linkIdentifier": {
          "type": "string",
          "description": "The consumer link id.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayPrivateLinkConfiguration": {
      "type": "object",
      "description": "Private Link Configuration on an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayPrivateLinkConfigurationProperties",
          "description": "Properties of the application gateway private link configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the private link configuration that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayPrivateLinkConfigurationProperties": {
      "type": "object",
      "description": "Properties of private link configuration on an application gateway.",
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "description": "An array of application gateway private link ip configurations.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayPrivateLinkIpConfiguration"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the application gateway private link configuration.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayPrivateLinkIpConfiguration": {
      "type": "object",
      "description": "The application gateway private link ip configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayPrivateLinkIpConfigurationProperties",
          "description": "Properties of an application gateway private link ip configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of application gateway private link ip configuration."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayPrivateLinkIpConfigurationProperties": {
      "type": "object",
      "description": "Properties of an application gateway private link IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "subnet": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the subnet resource."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the ip configuration is primary or not."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the application gateway private link IP configuration.",
          "readOnly": true
        }
      }
    },
    "ApplicationGatewayPrivateLinkResource": {
      "type": "object",
      "description": "PrivateLink Resource of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayPrivateLinkResourceProperties",
          "description": "Properties of the application gateway private link resource.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the private link resource that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayPrivateLinkResourceProperties": {
      "type": "object",
      "description": "Properties of a private link resource.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Group identifier of private link resource.",
          "readOnly": true
        },
        "requiredMembers": {
          "type": "array",
          "description": "Required member names of private link resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "description": "Required DNS zone names of the the private link resource.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationGatewayProbe": {
      "type": "object",
      "description": "Probe of the application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationGatewayProbePropertiesFormat",
          "description": "Properties of the application gateway probe.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the probe that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SubResource"
        }
      ]
    },
    "ApplicationGatewayProbeHealthResponseMatch": {
      "type": "object",
      "description": "Application gateway probe health response match.",
      "properties": {
        "body": {
          "type": "string",
          "description": "Body that must be contained in the health response. Default value is empty."
        },
        "statusCodes": {
          "type": "array",
          "description": "Allowed ranges of healthy status codes. Default range of healthy status codes is 200-399.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationGatewayProbePropertiesFormat": {
      "type": "object",
      "description": "Properties of probe of an application gateway.",
      "properties": {
        "protocol": {
          "$ref": "#/definitions/ApplicationGatewayProtocol",
          "description": "The protocol used for the probe."
        },
        "host": {
          "type": "string",
          "description": "Host name to send the probe to."
        },
        "path": {
          "type": "string",
          "description": "Relative path of probe. Valid path starts from '/'. Probe is sent to <Protocol>://<host>:<port><path>."
        },
        "interval": {
          "type": "integer",
          "format": "int32",
          "description": "The probing interval in seconds. This is the time interval between two consecutive probes. Acceptable values are from 1 second to 86400 seconds."
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "The probe timeout in seconds. Probe marked as failed if valid response is not received with this timeout period. Acceptable values are from 1 second to 86400 seconds."
        },
        "unhealthyThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "The probe retry count. Backend server is marked down after consecutive probe failure count reaches UnhealthyThreshold. Acceptable values are from 1 second to 20."
        },
        "pickHostNameFromBackendHttpSettings": {
          "type": "boolean",
          "description": "Whether the host header should be picked from the backend http settings. Default value is false."
        },
        "pickHostNameFromBackendSettings": {
          "type": "boolean",
          "description": "Whether the server name indication should be picked from the backend settings for Tls protocol. Default value is false."
        },
        "minServers": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of servers that are always marked healthy. Default value is 0."
        },
        "match": {
          "$ref": "#/definitions/ApplicationGatewayProbeHealthResponseMatch",
          "description": "Criterion for classifying a healthy probe response."
        },
        "enableProbeProxyProtocolHeader": {
          "type": "boolean",
          "description": "Whether to send Proxy Protocol header along with the Health Probe over TCP or TLS protocol. Default value is false."
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the probe resource.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Custom port which will be used for probing the backend servers. The valid value ranges from 1 to 65535. In case not set, port from http settings will be used. This property is valid for Basic, Standard_v2 and WAF_v2 only.",
          "minimum": 1,
          "maximum": 65535
        }
      }
    },
    "ApplicationGatewayPropertiesFormat": {
      "type": "object",
      "description": "Properties of the application gateway.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ApplicationGatewaySku",
          "description": "SKU of the application gateway resource."
        },
        "sslPolicy": {
          "$ref": "#/definitions/ApplicationGatewaySslPolicy",
          "description": "SSL policy of the application gateway resource."
        },
        "operationalState": {
          "$ref": "#/definitions/ApplicationGatewayOperationalState",
          "description": "Operational state of the application gateway resource.",
          "readOnly": true
        },
        "gatewayIPConfigurations": {
          "type": "array",
          "description": "Subnets of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayIPConfiguration"
          }
        },
        "authenticationCertificates": {
          "type": "array",
          "description": "Authentication certificates of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayAuthenticationCertificate"
          }
        },
        "trustedRootCertificates": {
          "type": "array",
          "description": "Trusted Root certificates of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayTrustedRootCertificate"
          }
        },
        "trustedClientCertificates": {
          "type": "array",
          "description": "Trusted client certificates of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayTrustedClientCertificate"
          }
        },
        "sslCertificates": {
          "type": "array",
          "description": "SSL certificates of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewaySslCertificate"
          }
        },
        "frontendIPConfigurations": {
          "type": "array",
          "description": "Frontend IP addresses of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayFrontendIPConfiguration"
          }
        },
        "frontendPorts": {
          "type": "array",
          "description": "Frontend ports of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayFrontendPort"
          }
        },
        "probes": {
          "type": "array",
          "description": "Probes of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayProbe"
          }
        },
        "backendAddressPools": {
          "type": "array",
          "description": "Backend address pool of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendAddressPool"
          }
        },
        "backendHttpSettingsCollection": {
          "type": "array",
          "description": "Backend http settings of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendHttpSettings"
          }
        },
        "backendSettingsCollection": {
          "type": "array",
          "description": "Backend settings of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayBackendSettings"
          }
        },
        "httpListeners": {
          "type": "array",
          "description": "Http listeners of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayHttpListener"
          }
        },
        "listeners": {
          "type": "array",
          "description": "Listeners of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayListener"
          }
        },
        "sslProfiles": {
          "type": "array",
          "description": "SSL profiles of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewaySslProfile"
          }
        },
        "urlPathMaps": {
          "type": "array",
          "description": "URL path map of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayUrlPathMap"
          }
        },
        "requestRoutingRules": {
          "type": "array",
          "description": "Request routing rules of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayRequestRoutingRule"
          }
        },
        "routingRules": {
          "type": "array",
          "description": "Routing rules of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayRoutingRule"
          }
        },
        "rewriteRuleSets": {
          "type": "array",
          "description": "Rewrite rules for the application gateway resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayRewriteRuleSet"
          }
        },
        "redirectConfigurations": {
          "type": "array",
          "description": "Redirect configurations of the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayRedirectConfiguration"
          }
        },
        "webApplicationFirewallConfiguration": {
          "$ref": "#/definitions/ApplicationGatewayWebApplicationFirewallConfiguration",
          "description": "Web application firewall configuration."
        },
        "firewallPolicy": {
          "$ref": "#/definitions/SubResource",
          "description": "Reference to the FirewallPolicy resource."
        },
        "enableHttp2": {
          "type": "boolean",
          "description": "Whether HTTP2 is enabled on the application gateway resource."
        },
        "enableFips": {
          "type": "boolean",
          "description": "Whether FIPS is enabled on the application gateway resource."
        },
        "autoscaleConfiguration": {
          "$ref": "#/definitions/ApplicationGatewayAutoscaleConfiguration",
          "description": "Autoscale Configuration."
        },
        "privateLinkConfigurations": {
          "type": "array",
          "description": "PrivateLink configurations on application gateway.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayPrivateLinkConfiguration"
          }
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "Private Endpoint connections on application gateway.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayPrivateEndpointConnection"
          },
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the application gateway resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/NetworkProvisioningState",
          "description": "The provisioning state of the application gateway resource.",
          "readOnly": true
        },
        "customErrorConfigurations": {
          "type": "array",
          "description": "Custom error configurations of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayCustomError"
          }
        },
        "forceFirewallPolicyAssociation": {
          "type": "boolean",
          "description": "If true, associates a firewall policy with an application gateway regardless whether the policy differs from the WAF Config."
        },
        "loadDistributionPolicies": {
          "type": "array",
          "description": "Load distribution policies of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayLoadDistributionPolicy"
          }
        },
        "entraJWTValidationConfigs": {
          "type": "array",
          "description": "Entra JWT validation configurations for the application gateway resource. For default limits, see [Application Gateway limits](https://docs.microsoft.com/azure/azure-subscription-service-limits#application-gateway-limits).",
          "items": {
            "$ref": "#/definitions/ApplicationGatewayEntraJWTValidationConfig"
          }
        },
        "globalConfiguration": {
          "$ref": "#/definitions/ApplicationGatewayGlobalConfiguration",
[...]
