{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "version": "2018-10-01",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkInterfaces"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Gets all network interfaces in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set network interfaces": {
            "$ref": "./examples/VmssNetworkInterfaceListForvmssNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetPublicIPAddresses",
        "description": "Gets information about all public IP addresses on a virtual machine scale set level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSPublicIP": {
            "$ref": "./examples/VmssPublicIpListAllForvmssNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Gets information about all network interfaces in a virtual machine in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set vm network interfaces": {
            "$ref": "./examples/VmssVmNetworkInterfaceListForvmssNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}": {
      "get": {
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.NetworkInterface"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine scale set network interface": {
            "$ref": "./examples/VmssNetworkInterfaceGetForvmssNetwork.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations/{ipConfigurationName}": {
      "get": {
        "operationId": "NetworkInterfaces_GetVirtualMachineScaleSetIpConfiguration",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface ip configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual machine scale set network interface": {
            "$ref": "./examples/VmssNetworkInterfaceIpConfigGetForvmssNetwork.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses": {
      "get": {
        "operationId": "PublicIPAddresses_ListVirtualMachineScaleSetVMPublicIPAddresses",
        "description": "Gets information about all public IP addresses in a virtual machine IP configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicIPAddressListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ListVMSSVMPublicIP": {
            "$ref": "./examples/VmssVmPublicIpListForvmssNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipconfigurations/{ipConfigurationName}/publicipaddresses/{publicIpAddressName}": {
      "get": {
        "operationId": "PublicIPAddresses_GetVirtualMachineScaleSetPublicIPAddress",
        "description": "Get the specified public IP address in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ipConfigurationName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "publicIpAddressName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.PublicIPAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetVMSSPublicIP": {
            "$ref": "./examples/VmssPublicIpGetForvmssNetwork.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}/ipConfigurations": {
      "get": {
        "operationId": "NetworkInterfaces_ListVirtualMachineScaleSetIpConfigurations",
        "tags": [
          "NetworkInterfaces"
        ],
        "description": "Get the specified network interface ip configuration in a virtual machine scale set.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualmachineIndex",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "networkInterfaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaceIPConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Network.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual machine scale set network interface ip configurations": {
            "$ref": "./examples/VmssNetworkInterfaceIpConfigListForvmssNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ManagedServiceIdentityUserAssignedIdentities": {
      "type": "object",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal id of user assigned identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The client id of user assigned identity.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.AccessMode": {
      "type": "string",
      "description": "The access mode of the private link service.",
      "enum": [
        "Default",
        "Restricted"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Allows unrestricted access to the private link service."
          },
          {
            "name": "Restricted",
            "value": "Restricted",
            "description": "Limits access to subscriptions which are inside visibility list only."
          }
        ]
      }
    },
    "Microsoft.Network.AddressSpace": {
      "type": "object",
      "description": "AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network.",
      "properties": {
        "addressPrefixes": {
          "type": "array",
          "description": "A list of address blocks reserved for this virtual network in CIDR notation.",
          "items": {
            "type": "string"
          }
        },
        "ipamPoolPrefixAllocations": {
          "type": "array",
          "description": "A list of IPAM Pools allocating IP address prefixes.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.IpamPoolPrefixAllocation"
          }
        }
      }
    },
    "Microsoft.Network.ApplicationGatewayBackendAddress": {
      "type": "object",
      "description": "Backend address of an application gateway.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name (FQDN)."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP address."
        }
      }
    },
    "Microsoft.Network.ApplicationGatewayBackendAddressPool": {
      "type": "object",
      "description": "Backend Address Pool of an application gateway.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.ApplicationGatewayBackendAddressPoolPropertiesFormat",
          "description": "Properties of the application gateway backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address pool that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResource"
        }
      ]
    },
    "Microsoft.Network.ApplicationGatewayBackendAddressPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of Backend Address Pool of an application gateway.",
      "properties": {
        "backendIPConfigurations": {
          "type": "array",
          "description": "Collection of references to IPs defined in network interfaces.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfiguration"
          },
          "readOnly": true
        },
        "backendAddresses": {
          "type": "array",
          "description": "Backend addresses.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.ApplicationGatewayBackendAddress"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the backend address pool resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.ApplicationGatewayIPConfiguration": {
      "type": "object",
      "description": "IP configuration of an application gateway. Currently 1 public and 1 private IP configuration is allowed.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.ApplicationGatewayIPConfigurationPropertiesFormat",
          "description": "Properties of the application gateway IP configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the IP configuration that is unique within an Application Gateway."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResource"
        }
      ]
    },
    "Microsoft.Network.ApplicationGatewayIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration of an application gateway.",
      "properties": {
        "subnet": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "Reference to the subnet resource. A subnet from where application gateway gets its private address."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the application gateway IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.ApplicationSecurityGroup": {
      "type": "object",
      "description": "An application security group in a resource group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.ApplicationSecurityGroupPropertiesFormat",
          "description": "Properties of the application security group.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.Resource"
        }
      ]
    },
    "Microsoft.Network.ApplicationSecurityGroupPropertiesFormat": {
      "type": "object",
      "description": "Application security group properties.",
      "properties": {
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the application security group resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.BackendAddressPool": {
      "type": "object",
      "description": "Pool of backend IP addresses.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.BackendAddressPoolPropertiesFormat",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResourceModel"
        }
      ]
    },
    "Microsoft.Network.BackendAddressPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of the backend address pool.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the backend address pool."
        },
        "tunnelInterfaces": {
          "type": "array",
          "description": "An array of gateway load balancer tunnel interfaces.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.GatewayLoadBalancerTunnelInterface"
          }
        },
        "loadBalancerBackendAddresses": {
          "type": "array",
          "description": "An array of backend addresses.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.LoadBalancerBackendAddress"
          }
        },
        "backendIPConfigurations": {
          "type": "array",
          "description": "An array of references to IP addresses defined in network interfaces.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfiguration"
          },
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "An array of references to load balancing rules that use this backend address pool.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "outboundRule": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to an outbound rule that uses this backend address pool.",
          "readOnly": true
        },
        "outboundRules": {
          "type": "array",
          "description": "An array of references to outbound rules that use this backend address pool.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "inboundNatRules": {
          "type": "array",
          "description": "An array of references to inbound NAT rules that use this backend address pool.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the backend address pool resource.",
          "readOnly": true
        },
        "drainPeriodInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Amount of seconds Load Balancer waits for before sending RESET to client and backend address."
        },
        "virtualNetwork": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to a virtual network."
        },
        "syncMode": {
          "$ref": "#/definitions/Microsoft.Network.SyncMode",
          "description": "Backend address synchronous mode for the backend pool"
        }
      }
    },
    "Microsoft.Network.CloudError": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Microsoft.Network.CloudErrorBody",
          "description": "Cloud error body."
        }
      },
      "x-ms-external": true
    },
    "Microsoft.Network.CloudErrorBody": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "description": "A list of additional details about the error.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.CloudErrorBody"
          }
        }
      },
      "x-ms-external": true
    },
    "Microsoft.Network.CustomDnsConfigPropertiesFormat": {
      "type": "object",
      "description": "Contains custom Dns resolution configuration from customer.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fqdn that resolves to private endpoint ip address."
        },
        "ipAddresses": {
          "type": "array",
          "description": "A list of private ip addresses of the private endpoint.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Microsoft.Network.DdosSettings": {
      "type": "object",
      "description": "Contains the DDoS protection settings of the public IP.",
      "properties": {
        "protectionMode": {
          "$ref": "#/definitions/Microsoft.Network.DdosSettingsProtectionMode",
          "description": "The DDoS protection mode of the public IP"
        },
        "ddosCustomPolicy": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The DDoS custom policy associated with the public IP."
        },
        "ddosProtectionPlan": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The DDoS protection plan associated with the public IP. Can only be set if ProtectionMode is Enabled"
        }
      }
    },
    "Microsoft.Network.DdosSettingsProtectionMode": {
      "type": "string",
      "description": "The DDoS protection mode of the public IP",
      "enum": [
        "VirtualNetworkInherited",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DdosSettingsProtectionMode",
        "modelAsString": true,
        "values": [
          {
            "name": "VirtualNetworkInherited",
            "value": "VirtualNetworkInherited",
            "description": "VirtualNetworkInherited"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "Microsoft.Network.Delegation": {
      "type": "object",
      "description": "Details the service to which the subnet is delegated.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.ServiceDelegationPropertiesFormat",
          "description": "Properties of the subnet.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a subnet. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResource"
        }
      ]
    },
    "Microsoft.Network.DeleteOptions": {
      "type": "string",
      "description": "Specify what happens to the public IP address when the VM using it is deleted",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DeleteOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "Delete"
          },
          {
            "name": "Detach",
            "value": "Detach",
            "description": "Detach"
          }
        ]
      }
    },
    "Microsoft.Network.DhcpOptions": {
      "type": "object",
      "description": "DhcpOptions contains an array of DNS servers available to VMs deployed in the virtual network. Standard DHCP option for a subnet overrides VNET DHCP options.",
      "properties": {
        "dnsServers": {
          "type": "array",
          "description": "The list of DNS servers IP addresses.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Microsoft.Network.ExtendedLocation": {
      "type": "object",
      "description": "ExtendedLocation complex type.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extended location."
        },
        "type": {
          "$ref": "#/definitions/Microsoft.Network.ExtendedLocationTypes",
          "description": "The type of the extended location."
        }
      }
    },
    "Microsoft.Network.ExtendedLocationTypes": {
      "type": "string",
      "description": "The supported ExtendedLocation types. Currently only EdgeZone is supported in Microsoft.Network resources.",
      "enum": [
        "EdgeZone"
      ],
      "x-ms-enum": {
        "name": "ExtendedLocationTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "EdgeZone",
            "value": "EdgeZone",
            "description": "EdgeZone"
          }
        ]
      }
    },
    "Microsoft.Network.FlowLog": {
      "type": "object",
      "description": "A flow log resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.FlowLogPropertiesFormat",
          "description": "Properties of the flow log.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/Microsoft.Network.ManagedServiceIdentity",
          "description": "FlowLog resource Managed Identity"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.Resource"
        }
      ]
    },
    "Microsoft.Network.FlowLogFormatParameters": {
      "type": "object",
      "description": "Parameters that define the flow log format.",
      "properties": {
        "type": {
          "$ref": "#/definitions/Microsoft.Network.FlowLogFormatType",
          "description": "The file type of flow log."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version (revision) of the flow log.",
          "default": 0
        }
      }
    },
    "Microsoft.Network.FlowLogFormatType": {
      "type": "string",
      "description": "The file type of flow log.",
      "enum": [
        "JSON"
      ],
      "x-ms-enum": {
        "name": "FlowLogFormatType",
        "modelAsString": true,
        "values": [
          {
            "name": "JSON",
            "value": "JSON",
            "description": "JSON"
          }
        ]
      }
    },
    "Microsoft.Network.FlowLogPropertiesFormat": {
      "type": "object",
      "description": "Parameters that define the configuration of flow log.",
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "ID of network security group to which flow log will be applied."
        },
        "targetResourceGuid": {
          "type": "string",
          "description": "Guid of network security group to which flow log will be applied.",
          "readOnly": true
        },
        "storageId": {
          "type": "string",
          "description": "ID of the storage account which is used to store the flow log."
        },
        "enabledFilteringCriteria": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on SrcIP, SrcPort, DstIP, DstPort, Protocol, Encryption, Direction and Action. If not specified, all network traffic will be logged."
        },
        "recordTypes": {
          "type": "string",
          "description": "Optional field to filter network traffic logs based on flow states. Value of this field could be any comma separated combination string of letters B,C,E or D. B represents Begin, when a flow is created. C represents Continue for an ongoing flow generated at every five-minute interval. E represents End, when a flow is terminated. D represents Deny, when a flow is denied. If not specified, all network traffic will be logged."
        },
        "enabled": {
          "type": "boolean",
          "description": "Flag to enable/disable flow logging."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/Microsoft.Network.RetentionPolicyParameters",
          "description": "Parameters that define the retention policy for flow log."
        },
        "format": {
          "$ref": "#/definitions/Microsoft.Network.FlowLogFormatParameters",
          "description": "Parameters that define the flow log format."
        },
        "flowAnalyticsConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.TrafficAnalyticsProperties",
          "description": "Parameters that define the configuration of traffic analytics."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the flow log.",
          "readOnly": true
        }
      },
      "required": [
        "targetResourceId",
        "storageId"
      ]
    },
    "Microsoft.Network.FrontendIPConfiguration": {
      "type": "object",
      "description": "Frontend IP address of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.FrontendIPConfigurationPropertiesFormat",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting the IP allocated for the resource needs to come from.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResourceModel"
        }
      ]
    },
    "Microsoft.Network.FrontendIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of Frontend IP Configuration of the load balancer.",
      "properties": {
        "inboundNatRules": {
          "type": "array",
          "description": "An array of references to inbound rules that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "inboundNatPools": {
          "type": "array",
          "description": "An array of references to inbound pools that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "outboundRules": {
          "type": "array",
          "description": "An array of references to outbound rules that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "An array of references to load balancing rules that use this frontend IP.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/Microsoft.Network.IPAllocationMethod",
          "description": "The Private IP allocation method."
        },
        "privateIPAddressVersion": {
          "$ref": "#/definitions/Microsoft.Network.IPVersion",
          "description": "Whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4."
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Network.Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/Microsoft.Network.PublicIPAddress",
          "description": "The reference to the Public IP resource."
        },
        "publicIPPrefix": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The reference to the Public IP Prefix resource."
        },
        "gatewayLoadBalancer": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The reference to gateway load balancer frontend IP."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the frontend IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.GatewayLoadBalancerTunnelInterface": {
      "type": "object",
      "description": "Gateway load balancer tunnel interface of a load balancer backend address pool.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port of gateway load balancer tunnel interface."
        },
        "identifier": {
          "type": "integer",
          "format": "int32",
          "description": "Identifier of gateway load balancer tunnel interface."
        },
        "protocol": {
          "$ref": "#/definitions/Microsoft.Network.GatewayLoadBalancerTunnelProtocol",
          "description": "Protocol of gateway load balancer tunnel interface."
        },
        "type": {
          "$ref": "#/definitions/Microsoft.Network.GatewayLoadBalancerTunnelInterfaceType",
          "description": "Traffic type of gateway load balancer tunnel interface."
        }
      }
    },
    "Microsoft.Network.GatewayLoadBalancerTunnelInterfaceType": {
      "type": "string",
      "description": "Traffic type of gateway load balancer tunnel interface.",
      "enum": [
        "None",
        "Internal",
        "External"
      ],
      "x-ms-enum": {
        "name": "GatewayLoadBalancerTunnelInterfaceType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Internal",
            "value": "Internal",
            "description": "Internal"
          },
          {
            "name": "External",
            "value": "External",
            "description": "External"
          }
        ]
      }
    },
    "Microsoft.Network.GatewayLoadBalancerTunnelProtocol": {
      "type": "string",
      "description": "Protocol of gateway load balancer tunnel interface.",
      "enum": [
        "None",
        "Native",
        "VXLAN"
      ],
      "x-ms-enum": {
        "name": "GatewayLoadBalancerTunnelProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Native",
            "value": "Native",
            "description": "Native"
          },
          {
            "name": "VXLAN",
            "value": "VXLAN",
            "description": "VXLAN"
          }
        ]
      }
    },
    "Microsoft.Network.IPAllocationMethod": {
      "type": "string",
      "description": "IP address allocation method.",
      "enum": [
        "Static",
        "Dynamic"
      ],
      "x-ms-enum": {
        "name": "IPAllocationMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "Static",
            "value": "Static",
            "description": "Static"
          },
          {
            "name": "Dynamic",
            "value": "Dynamic",
            "description": "Dynamic"
          }
        ]
      }
    },
    "Microsoft.Network.IPConfiguration": {
      "type": "object",
      "description": "IP configuration.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.IPConfigurationPropertiesFormat",
          "description": "Properties of the IP configuration.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResource"
        }
      ]
    },
    "Microsoft.Network.IPConfigurationProfile": {
      "type": "object",
      "description": "IP configuration profile child resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.IPConfigurationProfilePropertiesFormat",
          "description": "Properties of the IP configuration profile.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource. This name can be used to access the resource."
        },
        "type": {
          "type": "string",
          "description": "Sub Resource type.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResource"
        }
      ]
    },
    "Microsoft.Network.IPConfigurationProfilePropertiesFormat": {
      "type": "object",
      "description": "IP configuration profile properties.",
      "properties": {
        "subnet": {
          "$ref": "#/definitions/Microsoft.Network.Subnet",
          "description": "The reference to the subnet resource to create a container network interface ip configuration."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the IP configuration profile resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.IPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration.",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/Microsoft.Network.IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Network.Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/Microsoft.Network.PublicIPAddress",
          "description": "The reference to the public IP resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the IP configuration resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.IPVersion": {
      "type": "string",
      "description": "IP address version.",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IPVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "IPv4",
            "value": "IPv4",
            "description": "IPv4"
          },
          {
            "name": "IPv6",
            "value": "IPv6",
            "description": "IPv6"
          }
        ]
      }
    },
    "Microsoft.Network.InboundNatPool": {
      "type": "object",
      "description": "Inbound NAT pool of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.InboundNatPoolPropertiesFormat",
          "description": "Properties of load balancer inbound nat pool."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of inbound NAT pools used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the resource.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResource"
        }
      ]
    },
    "Microsoft.Network.InboundNatPoolPropertiesFormat": {
      "type": "object",
      "description": "Properties of Inbound NAT pool.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "protocol": {
          "$ref": "#/definitions/Microsoft.Network.TransportProtocol",
          "description": "The reference to the transport protocol used by the inbound NAT pool."
        },
        "frontendPortRangeStart": {
          "type": "integer",
          "format": "int32",
          "description": "The first port number in the range of external ports that will be used to provide Inbound Nat to NICs associated with a load balancer. Acceptable values range between 1 and 65534."
        },
        "frontendPortRangeEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The last port number in the range of external ports that will be used to provide Inbound Nat to NICs associated with a load balancer. Acceptable values range between 1 and 65535."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 1 and 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the inbound NAT pool resource.",
          "readOnly": true
        }
      },
      "required": [
        "protocol",
        "frontendPortRangeStart",
        "frontendPortRangeEnd",
        "backendPort"
      ]
    },
    "Microsoft.Network.InboundNatRule": {
      "type": "object",
      "description": "Inbound NAT rule of the load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.InboundNatRulePropertiesFormat",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResourceModel"
        }
      ]
    },
    "Microsoft.Network.InboundNatRulePropertiesFormat": {
      "type": "object",
      "description": "Properties of the inbound NAT rule.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfiguration",
          "description": "A reference to a private IP address defined on a network interface of a VM. Traffic sent to the frontend port of each of the frontend IP configurations is forwarded to the backend IP.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "#/definitions/Microsoft.Network.TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for the internal endpoint. Acceptable values range from 1 to 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "frontendPortRangeStart": {
          "type": "integer",
          "format": "int32",
          "description": "The port range start for the external endpoint. This property is used together with BackendAddressPool and FrontendPortRangeEnd. Individual inbound NAT rule port mappings will be created for each backend address from BackendAddressPool. Acceptable values range from 1 to 65534."
        },
        "frontendPortRangeEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The port range end for the external endpoint. This property is used together with BackendAddressPool and FrontendPortRangeStart. Individual inbound NAT rule port mappings will be created for each backend address from BackendAddressPool. Acceptable values range from 1 to 65534."
        },
        "backendAddressPool": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to backendAddressPool resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the inbound NAT rule resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.IpTag": {
      "type": "object",
      "description": "Contains the IpTag associated with the object.",
      "properties": {
        "ipTagType": {
          "type": "string",
          "description": "The IP tag type. Example: FirstPartyUsage."
        },
        "tag": {
          "type": "string",
          "description": "The value of the IP tag associated with the public IP. Example: SQL."
        }
      }
    },
    "Microsoft.Network.IpamPoolPrefixAllocation": {
      "type": "object",
      "description": "IpamPool prefix allocation reference.",
      "properties": {
        "pool": {
          "$ref": "#/definitions/Microsoft.Network.IpamPoolPrefixAllocationPool",
          "x-ms-client-flatten": true
        },
        "numberOfIpAddresses": {
          "type": "string",
          "description": "Number of IP addresses to allocate."
        },
        "allocatedAddressPrefixes": {
          "type": "array",
          "description": "List of assigned IP address prefixes in the IpamPool of the associated resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.IpamPoolPrefixAllocationPool": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource id of the associated Azure IpamPool resource."
        }
      }
    },
    "Microsoft.Network.LoadBalancer": {
      "type": "object",
      "description": "LoadBalancer resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerPropertiesFormat",
          "description": "Properties of the load balancer."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        },
        "extendedLocation": {
          "$ref": "#/definitions/Microsoft.Network.ExtendedLocation",
          "description": "The extended location of the load balancer."
        },
        "sku": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerSku",
          "description": "The load balancer SKU."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.Resource"
        }
      ]
    },
    "Microsoft.Network.LoadBalancerBackendAddress": {
      "type": "object",
      "description": "Load balancer backend addresses.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerBackendAddressPropertiesFormat",
          "description": "Properties of load balancer backend address pool.",
          "x-ms-client-flatten": true
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address."
        }
      }
    },
    "Microsoft.Network.LoadBalancerBackendAddressAdminState": {
      "type": "string",
      "description": "A list of administrative states which once set can override health probe so that Load Balancer will always forward new connections to backend, or deny new connections and reset existing connections.",
      "enum": [
        "None",
        "Up",
        "Down"
      ],
      "x-ms-enum": {
        "name": "LoadBalancerBackendAddressAdminState",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Up",
            "value": "Up",
            "description": "Up"
          },
          {
            "name": "Down",
            "value": "Down",
            "description": "Down"
          }
        ]
      }
    },
    "Microsoft.Network.LoadBalancerBackendAddressPropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer backend addresses.",
      "properties": {
        "virtualNetwork": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "Reference to an existing virtual network."
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "Reference to an existing subnet."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP Address belonging to the referenced virtual network."
        },
        "networkInterfaceIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "Reference to IP address defined in network interfaces.",
          "readOnly": true
        },
        "loadBalancerFrontendIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "Reference to the frontend ip address configuration defined in regional loadbalancer."
        },
        "inboundNatRulesPortMapping": {
          "type": "array",
          "description": "Collection of inbound NAT rule port mappings.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.NatRulePortMapping"
          },
          "readOnly": true
        },
        "adminState": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerBackendAddressAdminState",
          "description": "A list of administrative states which once set can override health probe so that Load Balancer will always forward new connections to backend, or deny new connections and reset existing connections."
        }
      }
    },
    "Microsoft.Network.LoadBalancerOutboundRuleProtocol": {
      "type": "string",
      "description": "The protocol for the outbound rule in load balancer.",
      "enum": [
        "Tcp",
        "Udp",
        "All"
      ],
      "x-ms-enum": {
        "name": "LoadBalancerOutboundRuleProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "Tcp",
            "value": "Tcp",
            "description": "Tcp"
          },
          {
            "name": "Udp",
            "value": "Udp",
            "description": "Udp"
          },
          {
            "name": "All",
            "value": "All",
            "description": "All"
          }
        ]
      }
    },
    "Microsoft.Network.LoadBalancerPropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer.",
      "properties": {
        "frontendIPConfigurations": {
          "type": "array",
          "description": "Object representing the frontend IPs to be used for the load balancer.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.FrontendIPConfiguration"
          }
        },
        "backendAddressPools": {
          "type": "array",
          "description": "Collection of backend address pools used by a load balancer.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.BackendAddressPool"
          }
        },
        "loadBalancingRules": {
          "type": "array",
          "description": "Object collection representing the load balancing rules Gets the provisioning.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.LoadBalancingRule"
          }
        },
        "probes": {
          "type": "array",
          "description": "Collection of probe objects used in the load balancer.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.Probe"
          }
        },
        "inboundNatRules": {
          "type": "array",
          "description": "Collection of inbound NAT Rules used by a load balancer. Defining inbound NAT rules on your load balancer is mutually exclusive with defining an inbound NAT pool. Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an Inbound NAT pool. They have to reference individual inbound NAT rules.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.InboundNatRule"
          }
        },
        "inboundNatPools": {
          "type": "array",
          "description": "Defines an external port range for inbound NAT to a single backend port on NICs associated with a load balancer. Inbound NAT rules are created automatically for each NIC associated with the Load Balancer using an external port from this range. Defining an Inbound NAT pool on your Load Balancer is mutually exclusive with defining inbound NAT rules. Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an inbound NAT pool. They have to reference individual inbound NAT rules.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.InboundNatPool"
          }
        },
        "outboundRules": {
          "type": "array",
          "description": "The outbound rules.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.OutboundRule"
          }
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the load balancer resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the load balancer resource.",
          "readOnly": true
        },
        "scope": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerScope",
          "description": "Indicates the scope of the load balancer: external (Public) or internal (Private)."
        }
      }
    },
    "Microsoft.Network.LoadBalancerScope": {
      "type": "string",
      "description": "Indicates the scope of the load balancer: external (Public) or internal (Private).",
      "enum": [
        "Public",
        "Private"
      ],
      "x-ms-enum": {
        "name": "LoadBalancerScope",
        "modelAsString": true,
        "values": [
          {
            "name": "Public",
            "value": "Public",
            "description": "Public"
          },
          {
            "name": "Private",
            "value": "Private",
            "description": "Private"
          }
        ]
      }
    },
    "Microsoft.Network.LoadBalancerSku": {
      "type": "object",
      "description": "SKU of a load balancer.",
      "properties": {
        "name": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerSkuName",
          "description": "Name of a load balancer SKU."
        },
        "tier": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancerSkuTier",
          "description": "Tier of a load balancer SKU."
        }
      }
    },
    "Microsoft.Network.LoadBalancerSkuName": {
      "type": "string",
      "description": "Name of a load balancer SKU.",
      "enum": [
        "Basic",
        "Standard",
        "Gateway"
      ],
      "x-ms-enum": {
        "name": "LoadBalancerSkuName",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic"
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard"
          },
          {
            "name": "Gateway",
            "value": "Gateway",
            "description": "Gateway"
          }
        ]
      }
    },
    "Microsoft.Network.LoadBalancerSkuTier": {
      "type": "string",
      "description": "Tier of a load balancer SKU.",
      "enum": [
        "Regional",
        "Global"
      ],
      "x-ms-enum": {
        "name": "LoadBalancerSkuTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Regional",
            "value": "Regional",
            "description": "Regional"
          },
          {
            "name": "Global",
            "value": "Global",
            "description": "Global"
          }
        ]
      }
    },
    "Microsoft.Network.LoadBalancingRule": {
      "type": "object",
      "description": "A load balancing rule for a load balancer.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.LoadBalancingRulePropertiesFormat"
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResourceModel"
        }
      ]
    },
    "Microsoft.Network.LoadBalancingRulePropertiesFormat": {
      "type": "object",
      "description": "Properties of the load balancer.",
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendAddressPool": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to a pool of DIPs. Inbound traffic is randomly load balanced across IPs in the backend IPs."
        },
        "backendAddressPools": {
          "type": "array",
          "description": "An array of references to pool of DIPs.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          }
        },
        "probe": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The reference to the load balancer probe used by the load balancing rule."
        },
        "protocol": {
          "$ref": "#/definitions/Microsoft.Network.TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "loadDistribution": {
          "$ref": "#/definitions/Microsoft.Network.LoadDistribution",
          "description": "The load distribution policy for this rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values are between 0 and 65534. Note that value 0 enables \"Any Port\"."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 0 and 65535. Note that value 0 enables \"Any Port\"."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "disableOutboundSnat": {
          "type": "boolean",
          "description": "Configures SNAT for the VMs in the backend pool to use the publicIP address specified in the frontend of the load balancing rule."
        },
        "enableConnectionTracking": {
          "type": "boolean",
          "description": "Defines whether connections between 2 communicating endpoints can be tracked and associated to the same backend VM over its lifetime when using UDP protocol."
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the load balancing rule resource.",
          "readOnly": true
        }
      },
      "required": [
        "protocol",
        "frontendPort"
      ]
    },
    "Microsoft.Network.LoadDistribution": {
      "type": "string",
      "description": "The load distribution policy for this rule.",
      "enum": [
        "Default",
        "SourceIP",
        "SourceIPProtocol"
      ],
      "x-ms-enum": {
        "name": "LoadDistribution",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "SourceIP",
            "value": "SourceIP",
            "description": "SourceIP"
          },
          {
            "name": "SourceIPProtocol",
            "value": "SourceIPProtocol",
            "description": "SourceIPProtocol"
          }
        ]
      }
    },
    "Microsoft.Network.ManagedServiceIdentity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal id of the system assigned identity. This property will only be provided for a system assigned identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant id of the system assigned identity. This property will only be provided for a system assigned identity.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Microsoft.Network.ResourceIdentityType",
          "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the virtual machine."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "$ref": "#/definitions/ManagedServiceIdentityUserAssignedIdentities"
          }
        }
      }
    },
    "Microsoft.Network.NatGateway": {
      "type": "object",
      "description": "Nat Gateway resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.NatGatewayPropertiesFormat",
          "description": "Nat Gateway properties.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "#/definitions/Microsoft.Network.NatGatewaySku",
          "description": "The nat gateway SKU."
        },
        "zones": {
          "type": "array",
          "description": "A list of availability zones denoting the zone in which Nat Gateway should be deployed.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.Resource"
        }
      ]
    },
    "Microsoft.Network.NatGatewayPropertiesFormat": {
      "type": "object",
      "description": "Nat Gateway properties.",
      "properties": {
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The idle timeout of the nat gateway."
        },
        "publicIpAddresses": {
          "type": "array",
          "description": "An array of public ip addresses V4 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          }
        },
        "publicIpAddressesV6": {
          "type": "array",
          "description": "An array of public ip addresses V6 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          }
        },
        "publicIpPrefixes": {
          "type": "array",
          "description": "An array of public ip prefixes V4 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          }
        },
        "publicIpPrefixesV6": {
          "type": "array",
          "description": "An array of public ip prefixes V6 associated with the nat gateway resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          }
        },
        "subnets": {
          "type": "array",
          "description": "An array of references to the subnets using this nat gateway resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.SubResource"
          },
          "readOnly": true
        },
        "sourceVirtualNetwork": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to the source virtual network using this nat gateway resource."
        },
        "serviceGateway": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "Reference to an existing service gateway."
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the NAT gateway resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the NAT gateway resource.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.NatGatewaySku": {
      "type": "object",
      "description": "SKU of nat gateway.",
      "properties": {
        "name": {
          "$ref": "#/definitions/Microsoft.Network.NatGatewaySkuName",
          "description": "Name of Nat Gateway SKU."
        }
      }
    },
    "Microsoft.Network.NatGatewaySkuName": {
      "type": "string",
      "description": "Name of Nat Gateway SKU.",
      "enum": [
        "Standard",
        "StandardV2"
      ],
      "x-ms-enum": {
        "name": "NatGatewaySkuName",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard"
          },
          {
            "name": "StandardV2",
            "value": "StandardV2",
            "description": "StandardV2"
          }
        ]
      }
    },
    "Microsoft.Network.NatRulePortMapping": {
      "type": "object",
      "description": "Individual port mappings for inbound NAT rule created for backend pool.",
      "properties": {
        "inboundNatRuleName": {
          "type": "string",
          "description": "Name of inbound NAT rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Frontend port."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "Backend port."
        }
      }
    },
    "Microsoft.Network.NetworkInterface": {
      "type": "object",
      "description": "A network interface in a resource group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfacePropertiesFormat",
          "description": "Properties of the network interface.",
          "x-ms-client-flatten": true
        },
        "extendedLocation": {
          "$ref": "#/definitions/Microsoft.Network.ExtendedLocation",
          "description": "The extended location of the network interface."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.Resource"
        }
      ]
    },
    "Microsoft.Network.NetworkInterfaceAuxiliaryMode": {
      "type": "string",
      "description": "Auxiliary mode of Network Interface resource.",
      "enum": [
        "None",
        "MaxConnections",
        "Floating",
        "AcceleratedConnections"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliaryMode",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "MaxConnections",
            "value": "MaxConnections",
            "description": "MaxConnections"
          },
          {
            "name": "Floating",
            "value": "Floating",
            "description": "Floating"
          },
          {
            "name": "AcceleratedConnections",
            "value": "AcceleratedConnections",
            "description": "AcceleratedConnections"
          }
        ]
      }
    },
    "Microsoft.Network.NetworkInterfaceAuxiliarySku": {
      "type": "string",
      "description": "Auxiliary sku of Network Interface resource.",
      "enum": [
        "None",
        "A1",
        "A2",
        "A4",
        "A8"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliarySku",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "A1",
            "value": "A1",
            "description": "A1"
          },
          {
            "name": "A2",
            "value": "A2",
            "description": "A2"
          },
          {
            "name": "A4",
            "value": "A4",
            "description": "A4"
          },
          {
            "name": "A8",
            "value": "A8",
            "description": "A8"
          }
        ]
      }
    },
    "Microsoft.Network.NetworkInterfaceDnsSettings": {
      "type": "object",
      "description": "DNS settings of a network interface.",
      "properties": {
        "dnsServers": {
          "type": "array",
          "description": "List of DNS servers IP addresses. Use 'AzureProvidedDNS' to switch to azure provided DNS resolution. 'AzureProvidedDNS' value cannot be combined with other IPs, it must be the only value in dnsServers collection.",
          "items": {
            "type": "string"
          }
        },
        "appliedDnsServers": {
          "type": "array",
          "description": "If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "internalDnsNameLabel": {
          "type": "string",
          "description": "Relative DNS name for this NIC used for internal communications between VMs in the same virtual network."
        },
        "internalFqdn": {
          "type": "string",
          "description": "Fully qualified DNS name supporting internal communications between VMs in the same virtual network.",
          "readOnly": true
        },
        "internalDomainNameSuffix": {
          "type": "string",
          "description": "Even if internalDnsNameLabel is not specified, a DNS entry is created for the primary NIC of the VM. This DNS name can be constructed by concatenating the VM name with the value of internalDomainNameSuffix.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.NetworkInterfaceIPConfiguration": {
      "type": "object",
      "description": "IPConfiguration in a network interface.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfigurationPropertiesFormat",
          "description": "Network interface IP configuration properties.",
          "x-ms-client-flatten": true
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Microsoft.Network.SubResourceModel"
        }
      ]
    },
    "Microsoft.Network.NetworkInterfaceIPConfigurationPrivateLinkConnectionProperties": {
      "type": "object",
      "description": "PrivateLinkConnection properties for the network interface.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The group ID for current private link connection.",
          "readOnly": true
        },
        "requiredMemberName": {
          "type": "string",
          "description": "The required member name for current private link connection.",
          "readOnly": true
        },
        "fqdns": {
          "type": "array",
          "description": "List of FQDNs for current private link connection.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.NetworkInterfaceIPConfigurationPropertiesFormat": {
      "type": "object",
      "description": "Properties of IP configuration.",
      "properties": {
        "gatewayLoadBalancer": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The reference to gateway load balancer frontend IP."
        },
        "virtualNetworkTaps": {
          "type": "array",
          "description": "The reference to Virtual Network Taps.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.VirtualNetworkTap"
          }
        },
        "applicationGatewayBackendAddressPools": {
          "type": "array",
          "description": "The reference to ApplicationGatewayBackendAddressPool resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.ApplicationGatewayBackendAddressPool"
          }
        },
        "loadBalancerBackendAddressPools": {
          "type": "array",
          "description": "The reference to LoadBalancerBackendAddressPool resource.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.BackendAddressPool"
          }
        },
        "loadBalancerInboundNatRules": {
          "type": "array",
          "description": "A list of references of LoadBalancerInboundNatRules.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.InboundNatRule"
          }
        },
        "privateIPAddress": {
          "type": "string",
          "description": "Private IP address of the IP configuration. It can be a single IP address or a CIDR block in the format <address>/<prefix-length>."
        },
        "privateIPAddressPrefixLength": {
          "type": "integer",
          "format": "int32",
          "description": "The private IP address prefix length. If specified and the allocation method is dynamic, the service will allocate a CIDR block instead of a single IP address.",
          "minimum": 1,
          "maximum": 128,
          "x-nullable": true
        },
        "privateIPAllocationMethod": {
          "$ref": "#/definitions/Microsoft.Network.IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "privateIPAddressVersion": {
          "$ref": "#/definitions/Microsoft.Network.IPVersion",
          "description": "Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4."
        },
        "subnet": {
          "$ref": "#/definitions/Microsoft.Network.Subnet",
          "description": "Subnet bound to the IP configuration."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether this is a primary customer address on the network interface."
        },
        "publicIPAddress": {
          "$ref": "#/definitions/Microsoft.Network.PublicIPAddress",
          "description": "Public IP address bound to the IP configuration."
        },
        "applicationSecurityGroups": {
          "type": "array",
          "description": "Application security groups in which the IP configuration is included.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.ApplicationSecurityGroup"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the network interface IP configuration.",
          "readOnly": true
        },
        "privateLinkConnectionProperties": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfigurationPrivateLinkConnectionProperties",
          "description": "PrivateLinkConnection properties for the network interface.",
          "readOnly": true
        }
      }
    },
    "Microsoft.Network.NetworkInterfaceMigrationPhase": {
      "type": "string",
      "description": "Migration phase of Network Interface resource.",
      "enum": [
        "None",
        "Prepare",
        "Commit",
        "Abort",
        "Committed"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceMigrationPhase",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Prepare",
            "value": "Prepare",
            "description": "Prepare"
          },
          {
            "name": "Commit",
            "value": "Commit",
            "description": "Commit"
          },
          {
            "name": "Abort",
            "value": "Abort",
            "description": "Abort"
          },
          {
            "name": "Committed",
            "value": "Committed",
            "description": "Committed"
          }
        ]
      }
    },
    "Microsoft.Network.NetworkInterfaceNicType": {
      "type": "string",
      "description": "Type of Network Interface resource.",
      "enum": [
        "Standard",
        "Elastic"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceNicType",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard"
          },
          {
            "name": "Elastic",
            "value": "Elastic",
            "description": "Elastic"
          }
        ]
      }
    },
    "Microsoft.Network.NetworkInterfacePropertiesFormat": {
      "type": "object",
      "description": "NetworkInterface properties.",
      "properties": {
        "virtualMachine": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "The reference to a virtual machine.",
          "readOnly": true
        },
        "networkSecurityGroup": {
          "$ref": "#/definitions/Microsoft.Network.NetworkSecurityGroup",
          "description": "The reference to the NetworkSecurityGroup resource."
        },
        "privateEndpoint": {
          "$ref": "#/definitions/Microsoft.Network.PrivateEndpoint",
          "description": "A reference to the private endpoint to which the network interface is linked.",
          "readOnly": true
        },
        "ipConfigurations": {
          "type": "array",
          "description": "A list of IPConfigurations of the network interface.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceIPConfiguration"
          }
        },
        "tapConfigurations": {
          "type": "array",
          "description": "A list of TapConfigurations of the network interface.",
          "items": {
            "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceTapConfiguration"
          },
          "readOnly": true
        },
        "dnsSettings": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceDnsSettings",
          "description": "The DNS settings in network interface."
        },
        "macAddress": {
          "type": "string",
          "description": "The MAC address of the network interface.",
          "readOnly": true
        },
        "primary": {
          "type": "boolean",
          "description": "Whether this is a primary network interface on a virtual machine.",
          "readOnly": true
        },
        "vnetEncryptionSupported": {
          "type": "boolean",
          "description": "Whether the virtual machine this nic is attached to supports encryption.",
          "readOnly": true
        },
        "defaultOutboundConnectivityEnabled": {
          "type": "boolean",
          "description": "Whether default outbound connectivity for nic was configured or not.",
          "readOnly": true
        },
        "enableAcceleratedNetworking": {
          "type": "boolean",
          "description": "If the network interface is configured for accelerated networking. Not applicable to VM sizes which require accelerated networking."
        },
        "disableTcpStateTracking": {
          "type": "boolean",
          "description": "Indicates whether to disable tcp state tracking."
        },
        "enableIPForwarding": {
          "type": "boolean",
          "description": "Indicates whether IP forwarding is enabled on this network interface."
        },
        "hostedWorkloads": {
          "type": "array",
          "description": "A list of references to linked BareMetal resources.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "dscpConfiguration": {
          "$ref": "#/definitions/Microsoft.Network.SubResource",
          "description": "A reference to the dscp configuration to which the network interface is linked.",
          "readOnly": true
        },
        "resourceGuid": {
          "type": "string",
          "description": "The resource GUID property of the network interface resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Microsoft.Network.ProvisioningState",
          "description": "The provisioning state of the network interface resource.",
          "readOnly": true
        },
        "workloadType": {
          "type": "string",
          "description": "WorkloadType of the NetworkInterface for BareMetal resources"
        },
        "nicType": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceNicType",
          "description": "Type of Network Interface resource."
        },
        "privateLinkService": {
          "$ref": "#/definitions/Microsoft.Network.PrivateLinkService",
          "description": "Privatelinkservice of the network interface resource."
        },
        "migrationPhase": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceMigrationPhase",
          "description": "Migration phase of Network Interface resource."
        },
        "auxiliaryMode": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceAuxiliaryMode",
          "description": "Auxiliary mode of Network Interface resource."
        },
        "auxiliarySku": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceAuxiliarySku",
          "description": "Auxiliary sku of Network Interface resource."
        }
      }
    },
    "Microsoft.Network.NetworkInterfaceTapConfiguration": {
      "type": "object",
      "description": "Tap configuration in a Network Interface.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Microsoft.Network.NetworkInterfaceTapConfigurationPropertiesFormat",
          "x-ms-client-flatten": true
        },
[...]
