{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/connectors": {
      "get": {
        "x-ms-examples": {
          "Get all Cloud accounts connectors of a subscription": {
            "$ref": "./examples/Connectors/GetConnectorsSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Cloud accounts connectors of a subscription",
        "operationId": "Connectors_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSettingList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/connectors/{connectorName}": {
      "get": {
        "x-ms-examples": {
          "Details of a specific cloud account connector": {
            "$ref": "./examples/Connectors/GetConnectorSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Details of a specific cloud account connector",
        "operationId": "Connectors_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create a cloud account connector for a subscription": {
            "$ref": "./examples/Connectors/CreateConnectorSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Create a cloud account connector or update an existing one. Connect to your AWS cloud account using either account credentials or role-based authentication.",
        "operationId": "Connectors_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          },
          {
            "$ref": "#/parameters/ConnectorSetting"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete a cloud account connector from a subscription": {
            "$ref": "./examples/Connectors/DeleteConnectorSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Delete a cloud account connector from a subscription",
        "operationId": "Connectors_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSetting"
            }
          },
          "201": {
            "description": "The connector is not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectorSettingList": {
      "type": "object",
      "description": "For a subscription, list of all cloud account connectors and their settings",
      "properties": {
        "value": {
          "description": "List of all the cloud account connector settings",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectorSetting"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "ConnectorSetting": {
      "type": "object",
      "description": "The connector setting",
      "properties": {
          "properties": {
          "x-ms-client-flatten": true,
          "description": "Auto provisioning setting data",
          "$ref": "#/definitions/ConnectorSettingProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "ConnectorSettingProperties": {
      "type": "object",
      "description": "describes properties of an auto connector setting",
      "properties": {
        "authenticationType": {
          "description": "Connect to your AWS cloud account using either account credentials or role-based authentication.",
          "type": "string",
          "enum": [
            "awsCreds",
            "awsAssumeRole"
          ],
          "x-ms-enum": {
            "name": "authenticationType",
            "modelAsString": true,
            "values": [
              {
                "value": "awsCreds",
                "description": "AWS cloud account connector user credentials authentication"
              },
              {
                "value": "awsAssumeRole",
                "description": "AWS account connector assume role authentication"
              }
            ]
          }
        },
        "accountId": {
          "description": "The ID of the cloud account",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "State of the connection",
          "type": "string",
          "readOnly": true,
          "enum": [
            "Valid",
            "Invalid",
            "Expired",
            "IncorrectPolicy"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true,
            "values": [
              {
                "value": "Valid",
                "description": "Valid connector"
              },
              {
                "value": "Invalid",
                "description": "Invalid connector"
              },
              {
                "value": "Expired",
                "description": "the connection is expired"
              },
              {
                "value": "IncorrectPolicy",
                "description": "Incorrect policy of the connector"
              }
            ]
          }
        },
        "awsCreds": {
          "description": "AWS cloud account connector based credentials, the credentials is composed of access key id and secret key, for more details, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html\">Creating an IAM User in Your AWS Account (write only)</a>",
          "type": "object",
          "$ref": "#/definitions/awsCredentialsSettingProperties"
        },
        "awsAssumeRole": {
          "description": "AWS cloud account connector based assume role, the role enables delegating access to your AWS resources. The role is composed of role arn and external id, for more details, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-user.html\">Creating a Role to Delegate Permissions to an IAM User (write only)</a>",
          "type": "object",
          "$ref": "#/definitions/awsAssumeRolesSettingProperties"
        },
        "hybridComputeAutoProvision": {
          "type": "string",
          "description": "Whether or not to automatically install Azure Arc (hybrid compute) agents on machines",
          "enum": [
            "On",
            "Off"
          ],
          "x-ms-enum": {
            "name": "hybridComputeAutoProvision",
            "modelAsString": true,
            "values": [
              {
                "value": "On",
                "description": "Install missing Azure Arc agent on VMs automatically"
              },
              {
                "value": "Off",
                "description": "Do not install Azure Arc agent on the VMs automatically"
              }
            ]
          }
        },
        "hybridComputeSettings": {
          "description": "Settings for hybrid compute management, these settings are relevant only arcAutoProvision is 'On'.",
          "type": "object",
          "$ref": "#/definitions/HybridComputeSettingsProperties"
        }
      }
    },
    "HybridComputeSettingsProperties": {
      "type": "object",
      "description": "Settings for hybrid compute management",
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The name of the resource group."
        },
        "proxyServer": {
          "type": "object",
          "description": "For a non-Azure machine that is not connected directly to the internet, specify a proxy server that the non-Azure machine can use.",
          "$ref": "#/definitions/ProxyServerProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "ProxyServerProperties": {
      "type": "object",
      "description": "For a non-Azure machine that is not connected directly to the internet, specify a proxy server that the non-Azure machine can use.",
      "properties": {
        "ip": {
          "type": "string",
          "description": "Proxy server IP"
        },
        "port": {
          "type": "string",
          "description": "Proxy server port"
        }
      }
    },
    "awsCredentialsSettingProperties": {
      "type": "object",
      "description": "AWS user credentials for the cloud account connector ",
      "properties": {
        "awsAccessKeyId": {
          "type": "string",
          "description": "Public key element of the AWS credential object "
        },
        "awsSecretAccessKey": {
          "type": "string",
          "description": "Secret key element of the AWS credential object"
        }
      }
    },
    "awsAssumeRolesSettingProperties": {
      "type": "object",
      "description": "AWS assume role setting for the cloud account connector ",
      "properties": {
        "awsAssumeRoleArn": {
          "type": "string",
          "description": "Assumed role ID is an identifier that you can use to create temporary security credentials."
        },
        "awsExternalId": {
          "type": "string",
          "description": "A unique identifier that is required when you assume a role in another account."
        }
      }
    }
  },
  "parameters": {
    "ConnectorName": {
      "name": "connectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the cloud account connector",
      "x-ms-parameter-location": "method"
    },
    "ConnectorSetting": {
      "name": "connectorSetting",
      "in": "body",
      "required": true,
      "description": "Settings for the cloud account connector",
      "schema": {
        "$ref": "#/definitions/ConnectorSetting"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
