{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/connectors": {
      "get": {
        "x-ms-examples": {
          "Get all connectors subscribed to the subscription": {
            "$ref": "./examples/Connectors/GetConnectorsSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Details of all subscribed connectors",
        "operationId": "Connectors_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSettingList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/connectors/{connectorName}": {
      "get": {
        "x-ms-examples": {
          "Get aa connector subscribed to the subscription": {
            "$ref": "./examples/Connectors/GetConnectorSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Details of a specific connector",
        "operationId": "Connectors_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create a connector and subscribe it to the subscription": {
            "$ref": "./examples/Connectors/CreateConnectorSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Create a connector rr update existing connector. When onboarding or updating a connector, there is a correlation between the connector type and type of onboarding. Right now, only aws connector is supported with two options to onboard: (1) using credentials; (2) role based.",
        "operationId": "Connectors_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          },
          {
            "$ref": "#/parameters/ConnectorSetting"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete a connector subscribed to the subscription": {
            "$ref": "./examples/Connectors/DeleteConnectorSubscription_example.json"
          }
        },
        "tags": [
          "Connectors"
        ],
        "description": "Delete a connector subscribed to the subscription",
        "operationId": "Connectors_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ConnectorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectorSetting"
            }
          },
          "201": {
            "description": "The connector is not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectorSettingList": {
      "type": "object",
      "description": "List of all the connector subscribed to subscription response",
      "properties": {
        "value": {
          "description": "List of all the connector settings",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectorSetting"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "ConnectorSetting": {
      "type": "object",
      "description": "The connector setting",
      "properties": {
        "ConnectorType": {
          "description": "Connector type to onboard, right now, only aws is supported",
          "type": "string",
          "enum": [
            "AwsUser",
            "AwsAssumeRole"
          ],
          "x-ms-enum": {
            "name": "ConnectorType",
            "modelAsString": true,
            "values": [
              {
                "value": "AwsUser",
                "description": "Aws connector based user credentials"
              },
              {
                "value": "AwsAssumeRole",
                "description": "Aws connector based assume role"
              }
            ]
          }
        },
        "AccountId": {
          "description": "The account id of the cloud connector",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "The connector state",
          "type": "string",
          "readOnly": true,
          "enum": [
            "Valid",
            "Invalid",
            "Expired",
            "IncorrectPolicy"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true,
            "values": [
              {
                "value": "Valid",
                "description": "Valid connector"
              },
              {
                "value": "Invalid",
                "description": "Invalid connector"
              },
              {
                "value": "Expired",
                "description": "the connection is expired"
              },
              {
                "value": "IncorrectPolicy",
                "description": "Incorrect policy of the connector"
              }
            ]
          }
        },
        "AwsUser": {
          "description": "Aws connector based credentials, the credentials is composed of access key id and secret key, for more details, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html\">Creating an IAM User in Your AWS Account (write only)</a>",
          "type": "object",
          "$ref": "#/definitions/AwsCredentialsSettingProperties"
        },
        "AwsAssumeRole": {
          "description": "Aws connector based assume role, the role enables delegating access to your AWS resources. The role is composed of role arn and external id, for more details, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_create_for-user.html\">Creating a Role to Delegate Permissions to an IAM User (write only)</a>",
          "type": "object",
          "$ref": "#/definitions/AwsAssumeRolesSettingProperties"
        },
        "arcAutoProvision": {
          "type": "string",
          "description": "Describes what kind of Azure Arc agent provisioning action to take",
          "enum": [
            "On",
            "Off"
          ],
          "x-ms-enum": {
            "name": "arcAutoProvision",
            "modelAsString": true,
            "values": [
              {
                "value": "On",
                "description": "Install missing Azure Arc agent on VMs automatically"
              },
              {
                "value": "Off",
                "description": "Do not install Azure Arc agent on the VMs automatically"
              }
            ]
          }
        }
      },
      "required": [
        "arcAutoProvision",
        "ConnectorType"
      ],
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "AwsCredentialsSettingProperties": {
      "type": "object",
      "description": "Describes properties of an aws connector setting",
      "properties": {
        "awsAccessKeyId": {
          "type": "string",
          "description": "Aws access key where this is the public key part"
        },
        "awsSecretKey": {
          "type": "string",
          "description": "Aws access key where this is the secret key part"
        }
      }
    },
    "AwsAssumeRolesSettingProperties": {
      "type": "object",
      "description": "Describes properties of an aws connector setting",
      "properties": {
        "awsAssumeRoleArn": {
          "type": "string",
          "description": "Assumed role ID is an identifier that you can use to create temporary security credentials."
        },
        "awsExtraId": {
          "type": "string",
          "description": "A unique identifier that is required when you assume a role in another account."
        }
      }
    }
  },
  "parameters": {
    "ConnectorName": {
      "name": "connectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the connector",
      "x-ms-parameter-location": "method"
    },
    "ConnectorSetting": {
      "name": "connectorSetting",
      "in": "body",
      "required": true,
      "description": "The connector setting to connect to a account",
      "schema": {
        "$ref": "#/definitions/ConnectorSetting"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
