{
	"swagger": "2.0",
	"info": {
		"title": "Security Center",
		"description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
		"version": "2020-01-01-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/{scope}/providers/Microsoft.Security/secureScores": {
			"get": {
				"x-ms-examples": {
					"List secure scores": {
						"$ref": "./examples/secureScores/ListSecureScores_example.json"
					}
				},
				"tags": [
					"secure Scores"
				],
				"description": "Get secure scores on all your initiatives inside a scope",
				"operationId": "SecureScores_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoreInitiativesList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{scope}/providers/Microsoft.Security/secureScores/{secureScoreName}/controls": {
			"get": {
				"x-ms-examples": {
					"List secure score's controls level for the specified name (builtin initiative)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForName_builtin_example.json"
					},
					"List secure score's controls level for the specified name (custom initiative)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForName_custom_example.json"
					},
					"Get secure score's controls level for the specified name with expand parameter (builtin initiative)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForNameWithExpand_builtin_example.json"
					},
					"Get secure score's controls level for the specified name with expand parameter (custom initiative)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForNameWithExpand_custom_example.json"
					}
				},
				"tags": [
					"Secure Scores"
				],
				"description": "Get secure scores' controls on specific initiatives inside a scope",
				"operationId": "SecureScoreControls_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
					},
					{
						"$ref": "#/parameters/secureScoreName"
					},
					{
						"$ref": "#/parameters/ExpandControlsMetadata"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoreControlsList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Security/secureScoreControlsMetadata": {
			"get": {
				"x-ms-examples": {
					"List secure score controls metadata": {
						"$ref": "./examples/secureScoreControlsMetadata/ListSecureScoreControlsMetadata_example.json"
					}
				},
				"tags": [
					"Secure Score Controls Metadata"
				],
				"description": "Get metadata information on all built in secure score controls",
				"operationId": "SecureScoreControlsMetadata_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoreControlsMetadataList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		}
	},
	"definitions": {
		"SecureScoreInitiativesList": {
			"type": "object",
			"description": "Page of a secure scores list",
			"properties": {
				"value": {
					"description": "Collection of secure scores in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreInitiativeDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreInitiativeDetails": {
			"type": "object",
			"description": "Secure score for initiative",
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreInitiativeProperties"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreInitiativeProperties": {
			"type": "object",
			"description": "Describes properties of a calculated secure score.",
			"properties": {
				"displayName": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the secure score initiative"
				},
				"score": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreScoreDetails"
				}
			},
			"required": [
				"score"
			]
		},
		"SecureScoreScoreDetails": {
			"type": "object",
			"description": "Calculation result data",
			"properties": {
				"maxScore": {
					"description": "Maximum score applicable for the control",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				},
				"current": {
					"type": "number",
					"format": "double",
					"description": "Actual score for the control"
				}
			},
			"required": [
				"maxScore",
				"current"
			]
		},
		"SecureScoreControlsList": {
			"type": "object",
			"description": "Page of a secure score controls list",
			"properties": {
				"value": {
					"description": "Collection of secure score controls in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreControlDetails": {
			"type": "object",
			"description": "List of security sub-assessments",
			"properties": {
				"displayName": {
					"type": "string",
					"description": "User friendly display name of the control"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				},
				{
					"$ref": "#/definitions/SecureScoreControlScoreDetails"
				}
			]
		},
		"SecureScoreControlScoreDetails": {
			"type": "object",
			"description": "Calculation result data in control level",
			"properties": {
				"maxScore": {
					"readOnly": true,
					"type": "integer",
					"format": "int32",
					"description": "Maximum control score (0..10)",
					"minimum": 0,
					"maximum": 10,
					"exclusiveMinimum": false
				},
				"current": {
					"type": "number",
					"format": "double",
					"description": "Actual score for the control"
				},
				"healthyResources": {
					"description": "Number of healthy resources in the control",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				},
				"unhealthyResources": {
					"description": "Number of unhealthy resources in the control",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				},
				"notApplicableResources": {
					"description": "Number of not applicable resources in the control",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				},
				"disabledResources": {
					"description": "Number of not resources that are disabled by policy in the control",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				},
				"achievedResourcesPoints": {
					"description": "Number of points achieved for the controls",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				},
				"totalResourcesPoints": {
					"description": "Total Number of points available in the control",
					"type": "integer",
					"format": "int32",
					"minimum": 0,
					"exclusiveMinimum": false
				}
			}
		},
		"SecureScoreControlsMetadataList": {
			"type": "object",
			"description": "Page of a secure score controls metadata list",
			"properties": {
				"value": {
					"description": "Collection of secure score controls metadata in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlMetadataDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreControlMetadataDetails": {
			"type": "object",
			"description": "Secure Score Control's Metadata information",
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreControlMetadataProperties"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreControlMetadataProperties": {
			"type": "object",
			"description": "Secure Score Control Metadata Properties",
			"properties": {
				"displayName": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the control"
				},
				"description": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the control",
					"maxLength": 256
				},
				"maxScore": {
					"readOnly": true,
					"type": "integer",
					"format": "int32",
					"description": "Maximum control score (0..10)",
					"minimum": 0,
					"maximum": 10,
					"exclusiveMinimum": false
				},
				"source": {
					"$ref": "#/definitions/SecureScoreControlMetadataSource"
				},
				"assessmentsMetadata": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlMetadataAssessmentsId"
					}
				}
			}
		},
		"SecureScoreControlMetadataAssessmentsId": {
			"type": "object",
			"description": "Secure Score Control Metadata Properties",
			"properties": {
				"id": {
					"type": "string",
					"description": "Full assessment metadata uris that build the control"
				}
			}
		},
		"SecureScoreControlMetadataSource": {
			"type": "object",
			"description": "representing the source of the control",
			"properties": {
				"sourceType": {
					"type": "string",
					"description": "BuiltIn if the control is built-in from Azure Security Center managed assessments, Custom if the assessment based on custom Azure Policy definition, CustomerManaged for customers who build their own controls",
					"enum": [
						"BuiltIn",
						"CustomPolicy",
						"CustomerManaged"
					],
					"x-ms-enum": {
						"name": "controlType",
						"modelAsString": true,
						"values": [
							{
								"value": "BuiltIn",
								"description": "Azure Security Center managed assessments"
							},
							{
								"value": "CustomPolicy",
								"description": "User defined policies that are automatically ingested from Azure Policy to Azure Security Center"
							},
							{
								"value": "CustomerManaged",
								"description": "User controls pushed directly by the user or other third party to Azure Security Center"
							}
						]
					}
				},
				"initiativeId": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"ExpandControlsMetadata": {
			"name": "$expand",
			"in": "query",
			"required": false,
			"type": "string",
			"description": "OData expand. Optional.",
			"x-ms-parameter-location": "method",
			"enum": [
				"metadata"
			],
			"x-ms-enum": {
				"name": "ExpandEnum",
				"modelAsString": true,
				"values": [
					{
						"value": "metadata",
						"description": "Add metadata object for each control"
					}
				]
			}
		},
		"secureScoreName": {
			"name": "secureScoreName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The secure score initiative name",
			"x-ms-parameter-location": "method"
		}
	}
}