{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2020-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts": {
      "get": {
        "x-ms-examples": {
          "List security contact data": {
            "$ref": "./examples/SecurityContacts/GetSecurityContactsSubscription_example.json"
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "List all security contact configurations for the subscription",
        "operationId": "SecurityContacts_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityContactList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}": {
      "get": {
        "x-ms-examples": {
          "Get a security contact": {
            "$ref": "./examples/SecurityContacts/GetSecurityContact_example.json"
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Get Default Security contact configurations for the subscription",
        "operationId": "SecurityContacts_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityContact"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create security contact data": {
            "$ref": "./examples/SecurityContacts/CreateSecurityContact_example.json"
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Create security contact configurations for the subscription",
        "operationId": "SecurityContacts_Create",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityContact"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Deletes a security contact data": {
            "$ref": "./examples/SecurityContacts/DeleteSecurityContact_example.json"
          }
        },
        "tags": [
          "Security Contacts"
        ],
        "description": "Security contact configurations for the subscription",
        "operationId": "SecurityContacts_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SecurityContactName"
          }
        ],
        "responses": {
          "200": {
            "description": "Security contact deleted"
          },
          "204": {
            "description": "Security contact was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SecurityContactList": {
      "type": "object",
      "description": "List of security contacts response",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "List of security contacts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityContact"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "SecurityContact": {
      "type": "object",
      "description": "Contact details and configurations for notifications coming from Azure Security Center.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Security contact data",
          "$ref": "#/definitions/SecurityContactProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "SecurityContactProperties": {
      "type": "object",
      "description": "Describes security contact properties",
      "properties": {
        "emails": {
          "type": "string",
          "description": "List of email addresses which will get notifications from Azure Security Center by the configurations defined in this security contact."
        },
        "phone": {
          "type": "string",
          "description": "The security contact's phone number"
        },
        "alertNotifications": {
          "type": "object",
          "description": "Defines whether to send email notifications about new security alerts",
          "properties": {
            "state": {
              "type": "string",
              "description": "Defines if email notifications will be sent about new security alerts",
              "enum": [
                "On",
                "Off"
              ],
              "x-ms-enum": {
                "name": "state",
                "modelAsString": true,
                "values": [
                  {
                    "value": "On",
                    "description": "Get notifications on new alerts"
                  },
                  {
                    "value": "Off",
                    "description": "Don't get notifications on new alerts"
                  }
                ]
              }
            },
            "minimalSeverity": {
              "type": "string",
              "description": "Defines the minimal alert severity which will be sent as email notifications",
              "enum": [
                "High",
                "Medium",
                "Low"
              ],
              "x-ms-enum": {
                "name": "minimalSeverity",
                "modelAsString": true,
                "values": [
                  {
                    "value": "High",
                    "description": "Get notifications on new alerts with High severity"
                  },
                  {
                    "value": "Medium",
                    "description": "Get notifications on new alerts with medium or high severity"
                  },
                  {
                    "value": "Low",
                    "description": "Don't get notifications on new alerts with low, medium or high severity"
                  }
                ]
              }
            }
          }
        },
        "notificationsByRole": {
          "type": "object",
          "description": "Defines whether to send email notifications from Azure Security Center to persons with specific RBAC roles on the subscription.",
          "properties": {
            "state": {
              "type": "string",
              "description": "Defines whether to send email notifications from Azure Security Center to persons with specific RBAC roles on the subscription.",
              "enum": [
                "On",
                "Off"
              ],
              "x-ms-enum": {
                "name": "state",
                "modelAsString": true,
                "values": [
                  {
                    "value": "On",
                    "description": "Send notification on new alerts to the subscription's admins"
                  },
                  {
                    "value": "Off",
                    "description": "Don't send notification on new alerts to the subscription's admins"
                  }
                ]
              }
            },
            "roles": {
              "type": "array",
              "description": "Defines which RBAC roles will get email notifications from Azure Security Center. List of allowed RBAC roles: ",
              "items": {
                "$ref": "#/definitions/SecurityContactRole"
              }
            }
          }
        }
      }
    },
    "SecurityContactRole": {
      "type": "string",
      "description": "A possible role to configure sending security notification alerts to",
      "enum": [
        "AccountAdmin",
        "ServiceAdmin",
        "Owner",
        "Contributor"
      ],
      "x-ms-enum": {
        "name": "roles",
        "modelAsString": true,
        "values": [
          {
            "value": "AccountAdmin",
            "description": "If enabled, send notification on new alerts to the account admins"
          },
          {
            "value": "ServiceAdmin",
            "description": "If enabled, send notification on new alerts to the service admins"
          },
          {
            "value": "Owner",
            "description": "If enabled, send notification on new alerts to the subscription owners"
          },
          {
            "value": "Contributor",
            "description": "If enabled, send notification on new alerts to the subscription contributors"
          }
        ]
      }
    }
  },
  "parameters": {
    "SecurityContactName": {
      "name": "securityContactName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the security contact object",
      "x-ms-parameter-location": "method"
    },
    "SecurityContact": {
      "name": "securityContact",
      "in": "body",
      "required": true,
      "description": "Security contact object",
      "schema": {
        "$ref": "#/definitions/SecurityContact"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
