{
	"swagger": "2.0",
	"info": {
		"title": "Security Center",
		"description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
		"version": "2020-01-01-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/{scope}/providers/Microsoft.Security/secureScores": {
			"get": {
				"x-ms-examples": {
					"List secure scores": {
						"$ref": "./examples/secureScores/ListSecureScores_example.json"
					}
				},
				"tags": [
					"secure Scores"
				],
				"description": "Get secure scores on all your initiatives inside a scope",
				"operationId": "SecureScores_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoreInitiativesList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		}
	},
	"definitions": {
		"nonNegativeInteger": {
			"type": "integer",
			"format": "int32",
			"minimum": 0,
			"exclusiveMinimum": false
		},
		"SecureScoreInitiativesList": {
			"type": "object",
			"description": "Page of a secure scores list",
			"properties": {
				"value": {
					"description": "Collection of secure scores in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreInitiativeDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreInitiativeDetails": {
			"type": "object",
			"description": "Secure score for initiative",
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreInitiativeProperties"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreInitiativeProperties": {
			"type": "object",
			"description": "Describes properties of a calculated secure score.",
			"properties": {
				"displayName": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the secure score initiative"
				},
				"score": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreScoreDetails"
				}
			},
			"required": [
				"score"
			]
		},
		"SecureScoreScoreDetails": {
			"type": "object",
			"description": "Calculation result data",
			"maxScore": {
				"$ref": "#/definitions/nonNegativeInteger",
				"description": "Maximum score applicable for the control"
			},
			"current": {
				"type": "number",
				"format": "double",
				"description": "Actual score for the control"
			},
			"required": [
				"maxScore",
				"current"
			]
		},
		"SecureScoreControlsList": {
			"type": "object",
			"description": "Page of a secure score controls list",
			"properties": {
				"value": {
					"description": "Collection of secure score controls in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreControlDetails": {
			"displayName": {
				"type": "string",
				"description": "User friendly display name of the control"
			},
			"data": {
				"description": "Control's score object",
				"ref": "#/definitions/SecureScoreControlScoreDetails"
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreControlScoreDetails": {
			"type": "object",
			"description": "Calculation result data in control level",
			"properties": {
				"score": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreScoreDetails"
				},
				"healthyResources": {
					"$ref": "#/definitions/nonNegativeInteger",
					"description": "Number of healthy resources in the control"
				},
				"unhealthyResources": {
					"$ref": "#/definitions/nonNegativeInteger",
					"description": "Number of unhealthy resources in the control"
				},
				"notApplicableResources": {
					"$ref": "#/definitions/nonNegativeInteger",
					"description": "Number of not applicable resources in the control"
				},
				"disabledResources": {
					"$ref": "#/definitions/nonNegativeInteger",
					"description": "Number of not resources that are disabled by policy in the control"
				},
				"achievedResourcesPoints": {
					"$ref": "#/definitions/nonNegativeInteger",
					"description": "Number of points achieved for the controls"
				},
				"totalResourcesPoints": {
					"$ref": "#/definitions/nonNegativeInteger",
					"description": "Total Number of points available in the control"
				}
			}
		},
		"SecureScoreControlsMetadataList": {
			"type": "object",
			"description": "Page of a secure score controls metadata list",
			"properties": {
				"value": {
					"description": "Collection of secure score controls metadata in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlMetadataDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreControlMetadataDetails": {
			"properties": {
				"description": "Control's metadata object",
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreControlMetadataProperties"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreControlMetadataProperties": {
			"displayName": {
				"type": "string",
				"description": "User friendly display name of the control"
			},
			"description": {
				"type": "string",
				"description": "User friendly display name of the control",
				"maxLength": 256
			},
			"maxScore": {
				"$ref": "#/definitions/nonNegativeInteger",
				"description": "Maximum control score (0..10)",
				"minimum": 0,
				"maximum": 10
			},
			"source": {
				"$ref": "#/definitions/SecureScoreControlMetadataSource"
			},
			"assessmentsMetadata": {
				"type": "array",
				"items": {
					"$ref": "#/definitions/SecureScoreControlMetadataAssessmentsId"
				}
			}
		},
		"SecureScoreControlMetadataAssessmentsId": {
			"id": {
				"type": "string",
				"description": "Full assessment metadata uris that build the control"
			}
		},
		"SecureScoreControlMetadataSource": {
			"sourceType": {
				"type": "string",
				"description": "BuiltIn if the control is built-in from Azure Security Center managed assessments, Custom if the assessment based on custom Azure Policy definition, CustomerManaged for customers who build their own controls",
				"enum": [
					"BuiltIn",
					"CustomPolicy",
					"CustomerManaged"
				],
				"x-ms-enum": {
					"name": "controlType",
					"modelAsString": true,
					"values": [
						{
							"value": "BuiltIn",
							"description": "Azure Security Center managed assessments"
						},
						{
							"value": "CustomPolicy",
							"description": "User defined policies that are automatically ingested from Azure Policy to Azure Security Center"
						},
						{
							"value": "CustomerManaged",
							"description": "User controls pushed directly by the user or other third party to Azure Security Center"
						}
					]
				}
			},
			"initiativeId": {
				"type": "string"
			}
		}
	},
	"parameters": {
		"ExpandControlsMetadata": {
			"name": "$expand",
			"in": "query",
			"required": false,
			"type": "string",
			"description": "OData expand. Optional.",
			"x-ms-parameter-location": "method",
			"enum": [
				"metadata"
			],
			"x-ms-enum": {
				"name": "ExpandEnum",
				"modelAsString": true,
				"values": [
					{
						"value": "metadata",
						"description": "Add metadata object for each control"
					}
				]
			}
		},
		"secureScoreName": {
			"name": "secureScoreName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The secure score initiative name",
			"x-ms-parameter-location": "method"
		}
	}
}