{
	"swagger": "2.0",
	"info": {
		"title": "Security Center",
		"description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
		"version": "2020-01-01-preview"
	},
	"host": "management.azure.com",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"security": [
		{
			"azure_auth": [
				"user_impersonation"
			]
		}
	],
	"securityDefinitions": {
		"azure_auth": {
			"type": "oauth2",
			"authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
			"flow": "implicit",
			"description": "Azure Active Directory OAuth2 Flow",
			"scopes": {
				"user_impersonation": "impersonate your user account"
			}
		}
	},
	"paths": {
		"/{scope}/providers/Microsoft.Security/secureScores": {
			"get": {
				"x-ms-examples": {
					"List secure scores": {
						"$ref": "./examples/secureScores/ListSecureScores_example.json"
					}
				},
				"tags": [
					"Secure Scores"
				],
				"description": "Get secure scores on all your initiatives inside a scope",
				"operationId": "SecureScores_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoresList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{scope}/providers/Microsoft.Security/secureScores/{secureScoreName}": {
			"get": {
				"x-ms-examples": {
					"List secure scores": {
						"$ref": "./examples/secureScores/GetSecureScoresSingle_example.json"
					}
				},
				"tags": [
					"Secure Scores"
				],
				"description": "Get secure score for a specific initiatives inside a scope",
				"operationId": "SecureScores_Single",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
          },
          {
						"$ref": "#/parameters/secureScoreName"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoresItem"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{scope}/providers/Microsoft.Security/secureScores/{secureScoreName}/controls": {
			"get": {
				"x-ms-examples": {
					"List secure score's controls level for the specified name (builtin)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForName_builtin_example.json"
					},
					"List secure score's controls level for the specified name (custom)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForName_custom_example.json"
					},
					"Get secure score's controls level for the specified name with expand parameter (builtin)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForNameWithExpand_builtin_example.json"
					},
					"Get secure score's controls level for the specified name with expand parameter (custom)": {
						"$ref": "./examples/secureScores/ListSecureScoreControlsForNameWithExpand_custom_example.json"
					}
				},
				"tags": [
					"Secure Scores"
				],
				"description": "Get all secure score controls on specific initiatives inside a scope",
				"operationId": "SecureScoreControls_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
					},
					{
						"$ref": "#/parameters/secureScoreName"
					},
					{
						"$ref": "#/parameters/ExpandControlsDefinition"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoreControlsList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{scope}/providers/Microsoft.Security/secureScoreControlsDefinition": {
			"get": {
				"x-ms-examples": {
					"List secure score controls definition": {
						"$ref": "./examples/secureScoreControlsDefinition/ListSecureScoreControlsDefinition_example.json"
					}
				},
				"tags": [
					"Secure Score Controls Definition"
				],
				"description": "Get definition information on all secure score controls",
				"operationId": "SecureScoreControlsDefinition_List",
				"parameters": [
					{
						"$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
					},
					{
						"$ref": "../../../common/v1/types.json#/parameters/Scope"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SecureScoreControlsDefinitionList"
						}
					},
					"default": {
						"description": "Error response describing why the operation failed.",
						"schema": {
							"$ref": "../../../common/v1/types.json#/definitions/CloudError"
						}
					}
				},
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		}
	},
	"definitions": {
		"SecureScoresList": {
			"type": "object",
			"description": "Page of a secure scores list",
			"properties": {
				"value": {
					"description": "Collection of secure scores in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoresItem"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoresItem": {
			"type": "object",
			"description": "Secure score item",
			"properties": {
				"properties": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreItemProperties"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreItemProperties": {
			"type": "object",
			"description": "Describes properties of a calculated secure score.",
			"properties": {
				"displayName": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the secure score item"
				},
				"score": {
					"x-ms-client-flatten": true,
					"$ref": "#/definitions/SecureScoreScoreDetails"
				}
			}
		},
		"SecureScoreScoreDetails": {
			"type": "object",
			"description": "Calculation result data",
			"properties": {
				"max": {
					"readOnly": true,
					"description": "Maximum score applicable",
					"type": "integer",
					"format": "int32"
				},
				"current": {
					"readOnly": true,
					"type": "number",
					"format": "double",
					"description": "Actual score"
				}
			}
    },
		"SecureScoreControlScoreObject": {
			"type": "object",
			"description": "Calculation result data",
			"properties": {
        "max": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Maximum control score (0..10)"
        },
        "current": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Actual score for the control = (achieved points / total points) * max score. if total points is zeroed, the return number is 0.00"
        }
			}
    },    
		"SecureScoreControlsList": {
			"type": "object",
			"description": "Page of a secure score controls list",
			"properties": {
				"value": {
					"readOnly": true,
					"description": "Collection of secure score controls in this page",
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlDetails"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreControlDetails": {
			"type": "object",
			"description": "List of security sub-assessments",
			"properties": {
				"displayName": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the control"
        },
        "properties": {
          "$ref": "#/definitions/SecureScoreControlScoreDetails"
        }
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreControlScoreDetails": {
			"type": "object",
			"description": "Calculation result data in control level",
			"properties": {
        "score": {
					"x-ms-client-flatten": true,
          "$ref": "#/definitions/SecureScoreControlScoreObject"
        },
				"healthyResources": {
					"readOnly": true,
					"description": "Number of healthy resources in the control",
					"type": "integer",
					"format": "int32"
				},
				"unhealthyResources": {
					"readOnly": true,
					"description": "Number of unhealthy resources in the control",
					"type": "integer",
					"format": "int32"
				},
				"notApplicableResources": {
					"readOnly": true,
					"description": "Number of not applicable resources in the control",
					"type": "integer",
					"format": "int32"
				},
				"disabledResources": {
					"readOnly": true,
					"description": "Number of not resources that are disabled by policy in the control",
					"type": "integer",
					"format": "int32"
				},
				"achievedPoints": {
					"readOnly": true,
					"description": "Number of points achieved for the controls",
					"type": "integer",
					"format": "int32"
				},
				"totalPoints": {
					"readOnly": true,
					"description": "Total Number of points available in the control",
					"type": "integer",
					"format": "int32"
				}
			}
		},
		"SecureScoreControlsDefinitionList": {
			"type": "object",
			"description": "Page of a secure score controls definition list",
			"properties": {
				"value": {
					"description": "Collection of secure score controls definition in this page",
					"readOnly": true,
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlDefinitionItem"
					}
				},
				"nextLink": {
					"readOnly": true,
					"type": "string",
					"description": "The URI to fetch the next page."
				}
			}
		},
		"SecureScoreControlDefinitionItem": {
			"type": "object",
			"description": "Secure Score Control's Definition information",
			"properties": {
				"properties": {
					"$ref": "#/definitions/SecureScoreControlDefinitionItemProperties"
				}
			},
			"allOf": [
				{
					"$ref": "../../../common/v1/types.json#/definitions/Resource"
				}
			]
		},
		"SecureScoreControlDefinitionItemProperties": {
			"type": "object",
			"description": "Secure Score Control Definition Properties",
			"properties": {
				"displayName": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the control"
				},
				"description": {
					"readOnly": true,
					"type": "string",
					"description": "User friendly display name of the control",
					"maxLength": 256
				},
				"maxScore": {
					"readOnly": true,
					"type": "integer",
					"format": "int32",
					"description": "Maximum control score (0..10)",
					"minimum": 0,
					"maximum": 10,
					"exclusiveMinimum": false
				},
				"source": {
					"$ref": "#/definitions/SecureScoreControlDefinitionSource"
				},
				"assessmentsDefinition": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/SecureScoreControlDefinitionAssessmentsId"
					}
				}
			}
		},
		"SecureScoreControlDefinitionAssessmentsId": {
			"type": "object",
			"description": "Secure Score Control Definition Properties",
			"properties": {
				"id": {
					"type": "string",
					"description": "Full assessment metadata azure ids that build the control"
				}
			}
		},
		"SecureScoreControlDefinitionSource": {
			"type": "object",
			"description": "representing the source of the control",
			"properties": {
				"sourceType": {
					"type": "string",
					"description": "BuiltIn if the control is built-in from Azure Security Center managed assessments, Custom if the assessment based on custom Azure Policy definition, CustomerManaged for customers who build their own controls",
					"enum": [
						"BuiltIn",
						"CustomPolicy",
						"CustomerManaged"
					],
					"x-ms-enum": {
						"name": "controlType",
						"modelAsString": true,
						"values": [
							{
								"value": "BuiltIn",
								"description": "Azure Security Center managed assessments"
							},
							{
								"value": "CustomPolicy",
								"description": "User defined policies that are automatically ingested from Azure Policy to Azure Security Center"
							},
							{
								"value": "CustomerManaged",
								"description": "User controls pushed directly by the user or other third party to Azure Security Center"
							}
						]
					}
				},
				"PolicySetDefinitionId": {
					"type": "string"
        },
        "GroupName": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"ExpandControlsDefinition": {
			"name": "$expand",
			"in": "query",
			"required": false,
			"type": "string",
			"description": "OData expand. Optional.",
			"x-ms-parameter-location": "method",
			"enum": [
				"definition"
			],
			"x-ms-enum": {
				"name": "ExpandEnum",
				"modelAsString": true,
				"values": [
					{
						"value": "definition",
						"description": "Add definition object for each control"
					}
				]
			}
		},
		"secureScoreName": {
			"name": "secureScoreName",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The secure score initiative name",
			"x-ms-parameter-location": "method"
		}
	}
}