{
  "swagger": "2.0",
  "info": {
    "title": "OffAzureSpringBoot",
    "description": "The Microsoft.OffAzureSpringBoot Rest API spec.",
    "version": "2023-01-01-preview"
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}": {
      "get": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_Get",
        "description": "Get a springbootsites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_Get_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_Get_MaximumSet_Gen.json"
          },
          "springbootsites_Get_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_CreateOrUpdate",
        "description": "Create a springbootsites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootsites",
            "description": "Create a springbootsites payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          },
          "201": {
            "description": "Creates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springbootsites_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_Delete",
        "description": "Delete a springbootsites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          },
          "204": {
            "description": "Deletes the springbootsites resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_Delete_MaximumSet_Gen.json"
          },
          "springbootsites_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_Update",
        "description": "Update a springbootsites resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootsites",
            "description": "Update a springbootsites payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootsitesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          },
          "201": {
            "description": "Updates the springbootsites resource.",
            "schema": {
              "$ref": "#/definitions/springbootsitesModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_Update_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_Update_MaximumSet_Gen.json"
          },
          "springbootsites_Update_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}/RefreshSite": {
      "post": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_TriggerRefreshSite",
        "description": "Trigger refresh springbootsites action",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/springbootsitesNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger refresh success"
          },
          "202": {
            "description": "Trigger refresh success"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootsites_TriggerRefreshSite_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_TriggerRefreshSite_MaximumSet_Gen.json"
          },
          "springbootsites_TriggerRefreshSite_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_TriggerRefreshSite_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites": {
      "get": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_ListByResourceGroup",
        "description": "List springbootsites resource by resourceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootsites under the resource group.",
            "schema": {
              "$ref": "#/definitions/springbootsitesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootsites_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springbootsites_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites": {
      "get": {
        "tags": [
          "springbootsites"
        ],
        "operationId": "springbootsites_ListBySubscription",
        "description": "List springbootsites resource by subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootsites under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootsitesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootsites_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springbootsites_ListBySubscription_MaximumSet_Gen.json"
          },
          "springbootsites_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springbootsites_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.OffAzureSpringBoot/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootservers/{springbootserversName}": {
      "get": {
        "tags": [
          "springbootservers"
        ],
        "operationId": "springbootservers_Get",
        "description": "List springbootservers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootserversNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springbootservers resource.",
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootservers_Get_MaximumSet_Gen": {
            "$ref": "./examples/springbootservers_Get_MaximumSet_Gen.json"
          },
          "springbootservers_Get_MinimumSet_Gen": {
            "$ref": "./examples/springbootservers_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "springbootservers"
        ],
        "operationId": "springbootservers_CreateOrUpdate",
        "description": "Create springbootservers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootserversNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootservers",
            "description": "Create a springbootservers payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootservers resource.",
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          },
          "201": {
            "description": "Creates the springbootservers resource.",
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootservers_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springbootservers_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springbootservers_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springbootservers_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "springbootservers"
        ],
        "operationId": "springbootservers_Delete",
        "description": "Delete springbootservers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootserversNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springbootservers resource.",
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          },
          "204": {
            "description": "Deletes the springbootservers resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootservers_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springbootservers_Delete_MaximumSet_Gen.json"
          },
          "springbootservers_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springbootservers_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "springbootservers"
        ],
        "operationId": "springbootservers_Update",
        "description": "Update springbootservers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootserversNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootservers",
            "description": "Update a springbootservers payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootserversPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootservers resource.",
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          },
          "201": {
            "description": "Updates the springbootservers resource.",
            "schema": {
              "$ref": "#/definitions/springbootserversModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootservers_Update_MaximumSet_Gen": {
            "$ref": "./examples/springbootservers_Update_MaximumSet_Gen.json"
          },
          "springbootservers_Update_MinimumSet_Gen": {
            "$ref": "./examples/springbootservers_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootservers": {
      "get": {
        "tags": [
          "springbootservers"
        ],
        "operationId": "springbootservers_ListByResourceGroup",
        "description": "List springbootservers resource by resourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootservers under the resource group.",
            "schema": {
              "$ref": "#/definitions/springbootserversListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootservers_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springbootservers_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springbootservers_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springbootservers_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootservers": {
      "get": {
        "tags": [
          "springbootservers"
        ],
        "operationId": "springbootservers_ListBySubscription",
        "description": "List springbootservers resource by subscription",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootservers under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootserversListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootservers_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springbootservers_ListBySubscription_MaximumSet_Gen.json"
          },
          "springbootservers_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springbootservers_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps/{springbootappsName}": {
      "get": {
        "tags": [
          "springbootapps"
        ],
        "operationId": "springbootapps_Get",
        "description": "Get a springbootapps resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_Get_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_Get_MaximumSet_Gen.json"
          },
          "springbootapps_Get_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "springbootapps"
        ],
        "operationId": "springbootapps_CreateOrUpdate",
        "description": "Create a springbootapps resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootapps",
            "description": "Create a springbootapps payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          },
          "201": {
            "description": "Creates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "springbootapps_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "springbootapps"
        ],
        "operationId": "springbootapps_Delete",
        "description": "Delete a springbootapps resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          },
          "204": {
            "description": "Deletes the springbootapps resource."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_Delete_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_Delete_MaximumSet_Gen.json"
          },
          "springbootapps_Delete_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "springbootapps"
        ],
        "operationId": "springbootapps_Update",
        "description": "Update a springbootapps resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/springbootappsNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "springbootapps",
            "description": "Update a springbootapps payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/springbootappsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          },
          "201": {
            "description": "Updates the springbootapps resource.",
            "schema": {
              "$ref": "#/definitions/springbootappsModel"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "springbootapps_Update_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_Update_MaximumSet_Gen.json"
          },
          "springbootapps_Update_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_Update_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps": {
      "get": {
        "tags": [
          "springbootapps"
        ],
        "operationId": "springbootapps_ListByResourceGroup",
        "description": "List springbootapps resource by resourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootapps under the resource group.",
            "schema": {
              "$ref": "#/definitions/springbootappsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootapps_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "springbootapps_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/springbootapps": {
      "get": {
        "tags": [
          "springbootapps"
        ],
        "operationId": "springbootapps_ListBySubscription",
        "description": "List springbootapps resource by subscription",
        "parameters": [
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all springbootapps under the subscription.",
            "schema": {
              "$ref": "#/definitions/springbootappsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "springbootapps_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/springbootapps_ListBySubscription_MaximumSet_Gen.json"
          },
          "springbootapps_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/springbootapps_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "springbootsitesProperties": {
      "type": "object",
      "description": "The springbootsites resource definition.",
      "properties": {
        "masterSiteId": {
          "type": "string",
          "description": "The master site ID from Azure Migrate."
        },
        "migrateProjectId": {
          "type": "string",
          "description": "The migrate project ID from Azure Migrate."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "springbootsitesModel": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootsitesProperties",
          "description": "The springbootsites resource definition."
        },
        "extendedLocation": {
          "type": "object",
          "description": "The extended location definition.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The springbootsites envelope resource definition."
    },
    "springbootsitesPatch": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "$ref": "#/definitions/springbootsitesProperties",
          "description": "The springbootsites resource definition."
        }
      },
      "description": "The springbootsites resource patch definition."
    },
    "springbootsitesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springbootsitesModel"
          },
          "description": "The springbootsites list."
        },
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of springbootsites resources list."
        }
      },
      "description": "The springbootsites list resource definition."
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          },
          "description": "The resource provider operation list."
        },
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of resource operation list."
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    },
    "springbootserversProperties": {
      "type": "object",
      "required": [
        "server"
      ],
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Target server port for remote login"
        },
        "server": {
          "type": "string",
          "description": "Server is the target server name or ip address to discover of SpringBootServer."
        },
        "machineArmId": {
          "type": "string",
          "description": "The machine Id from ARM"
        },
        "totalApps": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of apps been discovered"
        },
        "springBootApps": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of spring boot apps been discovered"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      },
      "description": "The springbootservers resource definition."
    },
    "springbootserversModel": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootserversProperties",
          "description": "The springbootservers resource definition."
        },
        "extendedLocation": {
          "type": "object",
          "description": "The extended location definition.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The springbootservers envelope resource definition."
    },
    "springbootserversPatch": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "$ref": "#/definitions/springbootserversProperties",
          "description": "The springbootsites resource definition."
        }
      },
      "description": "The springbootservers resource patch definition."
    },
    "springbootserversListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springbootserversModel"
          },
          "description": "The springbootsites list."
        },
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of springbootservers resources list."
        }
      },
      "description": "The springbootservers list resource definition."
    },
    "springbootappsProperties": {
      "type": "object",
      "properties": {
        "appName": {
          "type": "string",
          "description": "The name of SpringBootApp."
        },
        "appPort": {
          "type": "integer",
          "format": "int32",
          "description": "The application port."
        },
        "appType": {
          "type": "string",
          "description": "The application type, whether it is a SpringBoot app."
        },
        "applicationConfigurations": {
          "type": "array",
          "description": "The application configuration file list.",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "The application config file name."
              },
              "value": {
                "type": "string",
                "description": "The application config file content, only contains config keys."
              }
            },
            "required": [
              "key",
              "value"
            ]
          }
        },
        "bindingPorts": {
          "type": "array",
          "description": "The application binding port list.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "buildJdkVersion": {
          "type": "string",
          "description": "The jdk version in build."
        },
        "certificates": {
          "type": "array",
          "description": "The certificate file list.",
          "items": {
            "type": "string"
          }
        },
        "checksum": {
          "type": "string",
          "description": "The checksum of jar file."
        },
        "dependencies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The dependency list."
        },
        "environments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The environment variable list."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total instance count the app deployed."
        },
        "jarFileLocation": {
          "type": "string",
          "description": "The jar file location on the server."
        },
        "jvmMemoryInMB": {
          "type": "integer",
          "format": "int32",
          "description": "The jvm heap memory allocated."
        },
        "jvmOptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The jvm options."
        },
        "miscs": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "description": "The miscs. key."
              },
              "value": {
                "type": "string",
                "description": "The miscs. value."
              }
            },
            "required": [
              "key",
              "value"
            ]
          },
          "description": "The other types of date collected."
        },
        "runtimeJdkVersion": {
          "type": "string",
          "description": "The jdk version installed on server"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The server list the app installed"
        },
        "machineArmIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The machine ARM id list the app belongs to."
        },
        "siteName": {
          "type": "string",
          "description": "The site name."
        },
        "springBootVersion": {
          "type": "string",
          "description": "The spring boot version."
        },
        "staticContentLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The static content location list."
        },
        "connectionStrings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The connection string list."
        },
        "lastUpdatedTime": {
          "description": "Time when this springbootapps instance was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The resource provisioning state.",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      },
      "description": "The springbootapps resource definition."
    },
    "springbootappsModel": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootappsProperties",
          "description": "The springbootapps resource definition."
        },
        "extendedLocation": {
          "type": "object",
          "description": "The extended location definition.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The springbootapps envelope resource definition."
    },
    "springbootappsPatch": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/springbootappsProperties",
          "description": "The springbootapps resource definition."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The springbootapps resource patch definition."
    },
    "springbootappsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/springbootappsModel"
          },
          "description": "The springbootsites list."
        },
        "nextLink": {
          "type": "string",
          "description": "The link used to get the next page of springbootapps resources list."
        }
      },
      "description": "The springbootapps list resource definition."
    }
  },
  "parameters": {
    "springbootsitesNameParameter": {
      "x-ms-parameter-location": "client",
      "name": "springbootsitesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3,
      "description": "The springbootsites name."
    },
    "SiteNameParameter": {
      "x-ms-parameter-location": "client",
      "name": "siteName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3,
      "description": "The springbootsites name."
    },
    "springbootserversNameParameter": {
      "x-ms-parameter-location": "client",
      "name": "springbootserversName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3,
      "description": "The springbootservers name."
    },
    "springbootappsNameParameter": {
      "x-ms-parameter-location": "client",
      "name": "springbootappsName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3,
      "description": "The springbootapps name."
    }
  }
}
