{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PlatformValidation management service",
    "version": "2026-08-01-preview",
    "description": "Microsoft.PlatformValidation Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operation Status Interfaces"
    },
    {
      "name": "Operations"
    },
    {
      "name": "Cloud Validation Interfaces"
    },
    {
      "name": "Validation Test Execution Plan Interfaces"
    },
    {
      "name": "Execution Plan Run Interfaces"
    },
    {
      "name": "Validation Test Run Interfaces"
    },
    {
      "name": "Validation Test Interfaces"
    },
    {
      "name": "Validation Test Version Interfaces"
    },
    {
      "name": "Validation Test Category Interfaces"
    }
  ],
  "paths": {
    "/providers/Microsoft.PlatformValidation/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/cloudValidations": {
      "get": {
        "operationId": "CloudValidations_ListBySubscription",
        "tags": [
          "Cloud Validation Interfaces"
        ],
        "description": "List cloud validations by subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OdataFilterQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudValidationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudValidations_ListBySubscription_MaximumSet": {
            "$ref": "./examples/CloudValidations_ListBySubscription_MaximumSet_Gen.json"
          },
          "CloudValidations_ListBySubscription_MinimumSet": {
            "$ref": "./examples/CloudValidations_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "tags": [
          "Operation Status Interfaces"
        ],
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatus_Get_MaximumSet": {
            "$ref": "./examples/OperationStatus_Get_MaximumSet_Gen.json"
          },
          "OperationStatus_Get_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/OperationStatus_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/validationTestCategories": {
      "get": {
        "operationId": "ValidationTestCategories_ListBySubscription",
        "tags": [
          "Validation Test Category Interfaces"
        ],
        "description": "List validation test category catalog entries for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ValidationCatalogListQueryParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTestCategories_ListBySubscription_MaximumSet": {
            "$ref": "./examples/ValidationTestCategories_ListBySubscription_MaximumSet_Gen.json"
          },
          "ValidationTestCategories_ListBySubscription_MinimumSet": {
            "$ref": "./examples/ValidationTestCategories_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/validationTestCategories/{validationTestCategoryName}": {
      "get": {
        "operationId": "ValidationTestCategories_Get",
        "tags": [
          "Validation Test Category Interfaces"
        ],
        "description": "Get a validation test category catalog entry",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "validationTestCategoryName",
            "in": "path",
            "description": "The name of the ValidationTestCategory",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,90}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTestCategories_Get_MaximumSet": {
            "$ref": "./examples/ValidationTestCategories_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/validationTests": {
      "get": {
        "operationId": "ValidationTests_ListBySubscription",
        "tags": [
          "Validation Test Interfaces"
        ],
        "description": "List validation test catalog entries for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ValidationCatalogListQueryParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTests_ListBySubscription_MaximumSet": {
            "$ref": "./examples/ValidationTests_ListBySubscription_MaximumSet_Gen.json"
          },
          "ValidationTests_ListBySubscription_MinimumSet": {
            "$ref": "./examples/ValidationTests_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/validationTests/{validationTestName}": {
      "get": {
        "operationId": "ValidationTests_Get",
        "tags": [
          "Validation Test Interfaces"
        ],
        "description": "Get a validation test catalog entry",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "validationTestName",
            "in": "path",
            "description": "The name of the ValidationTest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,90}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTests_Get_MaximumSet": {
            "$ref": "./examples/ValidationTests_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/validationTests/{validationTestName}/versions": {
      "get": {
        "operationId": "ValidationTestVersions_List",
        "tags": [
          "Validation Test Version Interfaces"
        ],
        "description": "List validation test version catalog entries",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "validationTestName",
            "in": "path",
            "description": "The name of the ValidationTest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,90}$"
          },
          {
            "$ref": "#/parameters/ValidationCatalogListQueryParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTestVersions_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/ValidationTestVersions_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PlatformValidation/validationTests/{validationTestName}/versions/{version}": {
      "get": {
        "operationId": "ValidationTestVersions_Get",
        "tags": [
          "Validation Test Version Interfaces"
        ],
        "description": "Get a validation test version catalog entry",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "validationTestName",
            "in": "path",
            "description": "The name of the ValidationTest",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,90}$"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The name of the ValidationTestVersion",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9._-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTestVersions_Get_MaximumSet": {
            "$ref": "./examples/ValidationTestVersions_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations": {
      "get": {
        "operationId": "CloudValidations_ListByResourceGroup",
        "tags": [
          "Cloud Validation Interfaces"
        ],
        "description": "List cloud validations by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OdataFilterQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudValidationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudValidations_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/CloudValidations_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "CloudValidations_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/CloudValidations_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}": {
      "get": {
        "operationId": "CloudValidations_Get",
        "tags": [
          "Cloud Validation Interfaces"
        ],
        "description": "Get a cloud validation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudValidation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudValidations_Get_MaximumSet": {
            "$ref": "./examples/CloudValidations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CloudValidations_CreateOrUpdate",
        "tags": [
          "Cloud Validation Interfaces"
        ],
        "description": "Create or update a cloud validation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudValidation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CloudValidation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudValidation"
            }
          },
          "201": {
            "description": "Resource 'CloudValidation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CloudValidation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudValidations_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/CloudValidations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CloudValidations_Update",
        "tags": [
          "Cloud Validation Interfaces"
        ],
        "description": "Update a cloud validation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloudValidationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudValidation"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudValidations_Update_MaximumSet": {
            "$ref": "./examples/CloudValidations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CloudValidations_Delete",
        "tags": [
          "Cloud Validation Interfaces"
        ],
        "description": "Delete a cloud validation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudValidations_Delete_MaximumSet": {
            "$ref": "./examples/CloudValidations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}/validationExecutionPlans": {
      "get": {
        "operationId": "ValidationExecutionPlans_ListByResourceGroup",
        "tags": [
          "Validation Test Execution Plan Interfaces"
        ],
        "description": "List validation test execution plans by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "#/parameters/OdataFilterQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationExecutionPlans_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/ValidationExecutionPlans_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}/validationExecutionPlans/{validationExecutionPlanName}": {
      "get": {
        "operationId": "ValidationExecutionPlans_Get",
        "tags": [
          "Validation Test Execution Plan Interfaces"
        ],
        "description": "Get a validation test execution plan",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationExecutionPlans_Get_MaximumSet": {
            "$ref": "./examples/ValidationExecutionPlans_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ValidationExecutionPlans_CreateOrUpdate",
        "tags": [
          "Validation Test Execution Plan Interfaces"
        ],
        "description": "Create or update a validation test execution plan",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ValidationExecutionPlan' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlan"
            }
          },
          "201": {
            "description": "Resource 'ValidationExecutionPlan' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlan"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationExecutionPlans_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/ValidationExecutionPlans_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ValidationExecutionPlans_Update",
        "tags": [
          "Validation Test Execution Plan Interfaces"
        ],
        "description": "Update a validation test execution plan",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlanUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationExecutionPlan"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationExecutionPlans_Update_MaximumSet": {
            "$ref": "./examples/ValidationExecutionPlans_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ValidationExecutionPlans_Delete",
        "tags": [
          "Validation Test Execution Plan Interfaces"
        ],
        "description": "Delete a validation test execution plan",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationExecutionPlans_Delete_MaximumSet": {
            "$ref": "./examples/ValidationExecutionPlans_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}/validationExecutionPlans/{validationExecutionPlanName}/executionPlanRuns": {
      "get": {
        "operationId": "ExecutionPlanRuns_ListByExecutionPlan",
        "tags": [
          "Execution Plan Run Interfaces"
        ],
        "description": "List Validation test execution plan runs for an execution plan",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "#/parameters/OdataFilterQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExecutionPlanRunListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExecutionPlanRuns_ListByExecutionPlan_MaximumSet": {
            "$ref": "./examples/ExecutionPlanRuns_ListByExecutionPlan_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}/validationExecutionPlans/{validationExecutionPlanName}/executionPlanRuns/{executionPlanRunName}": {
      "get": {
        "operationId": "ExecutionPlanRuns_Get",
        "tags": [
          "Execution Plan Run Interfaces"
        ],
        "description": "Get a Validation test execution plan run details",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "executionPlanRunName",
            "in": "path",
            "description": "The name of the ExecutionPlanRun",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExecutionPlanRun"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExecutionPlanRuns_Get_MaximumSet": {
            "$ref": "./examples/ExecutionPlanRuns_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ExecutionPlanRuns_CreateOrUpdate",
        "tags": [
          "Execution Plan Run Interfaces"
        ],
        "description": "Create or update a validation test execution plan",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "executionPlanRunName",
            "in": "path",
            "description": "The name of the ExecutionPlanRun",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecutionPlanRun"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ExecutionPlanRun' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExecutionPlanRun"
            }
          },
          "201": {
            "description": "Resource 'ExecutionPlanRun' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ExecutionPlanRun"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExecutionPlanRuns_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/ExecutionPlanRuns_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ExecutionPlanRuns_Delete",
        "tags": [
          "Execution Plan Run Interfaces"
        ],
        "description": "Delete a validation test execution plan run resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "executionPlanRunName",
            "in": "path",
            "description": "The name of the ExecutionPlanRun",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExecutionPlanRuns_Delete_MaximumSet": {
            "$ref": "./examples/ExecutionPlanRuns_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}/validationExecutionPlans/{validationExecutionPlanName}/executionPlanRuns/{executionPlanRunName}/validationTestRuns": {
      "get": {
        "operationId": "ValidationTestRuns_ListByExecutionPlanRun",
        "tags": [
          "Validation Test Run Interfaces"
        ],
        "description": "List validation test runs for an execution plan run",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "executionPlanRunName",
            "in": "path",
            "description": "The name of the ExecutionPlanRun",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestRunListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTestRuns_ListByExecutionPlanRun_MaximumSet": {
            "$ref": "./examples/ValidationTestRuns_ListByExecutionPlanRun_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PlatformValidation/cloudValidations/{cloudValidationName}/validationExecutionPlans/{validationExecutionPlanName}/executionPlanRuns/{executionPlanRunName}/validationTestRuns/{validationTestRunName}": {
      "get": {
        "operationId": "ValidationTestRuns_Get",
        "tags": [
          "Validation Test Run Interfaces"
        ],
        "description": "Get a validation test run details",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "cloudValidationName",
            "in": "path",
            "description": "The name of the CloudValidation",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationExecutionPlanName",
            "in": "path",
            "description": "The name of the ValidationExecutionPlan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "executionPlanRunName",
            "in": "path",
            "description": "The name of the ExecutionPlanRun",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "validationTestRunName",
            "in": "path",
            "description": "The name of the ValidationTestRun",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidationTestRun"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidationTestRuns_Get_MaximumSet": {
            "$ref": "./examples/ValidationTestRuns_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CatalogAudience": {
      "type": "string",
      "description": "Audience visibility of a published catalog item.",
      "enum": [
        "Public",
        "Internal"
      ],
      "x-ms-enum": {
        "name": "CatalogAudience",
        "modelAsString": true,
        "values": [
          {
            "name": "Public",
            "value": "Public",
            "description": "Visible to all customers, including first-party and third-party callers."
          },
          {
            "name": "Internal",
            "value": "Internal",
            "description": "Visible only to authorized Microsoft-internal callers."
          }
        ]
      }
    },
    "CloudValidation": {
      "type": "object",
      "description": "Cloud Validation Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudValidationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CloudValidationListResult": {
      "type": "object",
      "description": "The response of a CloudValidation list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CloudValidation items on this page",
          "items": {
            "$ref": "#/definitions/CloudValidation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CloudValidationOverallState": {
      "type": "string",
      "description": "The Overall states of the validation resource.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "CloudValidationOverallState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The resource is in enabled state."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The resource is in disabled state."
          }
        ]
      }
    },
    "CloudValidationProperties": {
      "type": "object",
      "description": "Cloud Validation properties",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details. Populated when provisioningState is Failed or Canceled.",
          "readOnly": true
        },
        "overallState": {
          "$ref": "#/definitions/CloudValidationOverallState",
          "description": "The overall state of the resource."
        },
        "managedOnBehalfOfConfiguration": {
          "$ref": "../../../../../../common-types/resource-management/v6/mobo.json#/definitions/ManagedOnBehalfOfConfiguration",
          "description": "Managed On Behalf Of Configuration.",
          "readOnly": true
        }
      }
    },
    "CloudValidationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the CloudValidation.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/CloudValidationUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "CloudValidationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the CloudValidation.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "overallState": {
          "$ref": "#/definitions/CloudValidationOverallState",
          "description": "The overall state of the resource."
        }
      }
    },
    "ExecutionPlanRun": {
      "type": "object",
      "description": "The properties of the execution plan run.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExecutionPlanRunProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExecutionPlanRunListResult": {
      "type": "object",
      "description": "The response of a ExecutionPlanRun list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ExecutionPlanRun items on this page",
          "items": {
            "$ref": "#/definitions/ExecutionPlanRun"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExecutionPlanRunProperties": {
      "type": "object",
      "description": "The properties of the execution plan run.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "status": {
          "$ref": "#/definitions/ExecutionPlanRunStatus",
          "description": "The status of the execution plan run.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details. Populated when status is Failed, TimedOut, or Unknown.",
          "readOnly": true
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the execution plan run.",
          "readOnly": true
        },
        "completedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The completion time of the execution plan run.",
          "readOnly": true
        },
        "reportedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the execution result was reported.",
          "readOnly": true
        },
        "testRunSummary": {
          "$ref": "#/definitions/TestRunSummary",
          "description": "Summary of tests executed for this run.",
          "readOnly": true
        },
        "planConfigurationSnapshot": {
          "type": "string",
          "description": "Snapshot of the execution plan configuration captured at trigger time.",
          "readOnly": true
        },
        "testRunIds": {
          "type": "array",
          "description": "The ARM resource IDs of the validation test runs (ValidationTestRun resources) executed as part of this execution plan run.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.PlatformValidation/cloudValidations/validationExecutionPlans/executionPlanRuns/validationTestRuns"
                }
              ]
            }
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ExecutionPlanRunProvisioningState",
          "description": "The provisioning state of the execution plan run.",
          "readOnly": true
        }
      }
    },
    "ExecutionPlanRunProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the execution plan run.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Running",
        "Waiting",
        "Processing"
      ],
      "x-ms-enum": {
        "name": "ExecutionPlanRunProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The execution plan run is in progress."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The execution plan run is running."
          },
          {
            "name": "Waiting",
            "value": "Waiting",
            "description": "The execution plan run is waiting."
          },
          {
            "name": "Processing",
            "value": "Processing",
            "description": "The execution plan run is partially executed."
          }
        ]
      },
      "readOnly": true
    },
    "ExecutionPlanRunStatus": {
      "type": "string",
      "description": "The status of the execution plan run.",
      "enum": [
        "Succeeded",
        "Queued",
        "Running",
        "Completed",
        "Failed",
        "TimedOut",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ExecutionPlanRunStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The execution plan run is succeeded."
          },
          {
            "name": "Queued",
            "value": "Queued",
            "description": "The execution plan run has been queued."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The execution plan run is running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The execution plan run is completed."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The execution plan run is failed."
          },
          {
            "name": "TimedOut",
            "value": "TimedOut",
            "description": "The execution plan run is timed out."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The execution plan run is unknown."
          }
        ]
      },
      "readOnly": true
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Disabling",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating."
          },
          {
            "name": "Disabling",
            "value": "Disabling",
            "description": "The resource is being disabled."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "TestRunOverallResult": {
      "type": "string",
      "description": "The overall result of a validation test run collection.",
      "enum": [
        "Passed",
        "Failed",
        "PartiallyPassed"
      ],
      "x-ms-enum": {
        "name": "TestRunOverallResult",
        "modelAsString": true,
        "values": [
          {
            "name": "Passed",
            "value": "Passed",
            "description": "All tests passed."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "One or more tests failed."
          },
          {
            "name": "PartiallyPassed",
            "value": "PartiallyPassed",
            "description": "Some tests passed and some failed."
          }
        ]
      }
    },
    "TestRunSummary": {
      "type": "object",
      "description": "Execution summary details for a validation test run collection.",
      "properties": {
        "totalTests": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of tests executed."
        },
        "passedTests": {
          "type": "integer",
          "format": "int32",
          "description": "Number of passed tests."
        },
        "failedTests": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed tests."
        },
        "skippedTests": {
          "type": "integer",
          "format": "int32",
          "description": "Number of skipped tests."
        },
        "overallResult": {
          "$ref": "#/definitions/TestRunOverallResult",
          "description": "Overall result for the execution plan run."
        },
        "message": {
          "type": "string",
          "description": "Human-readable summary message."
        }
      }
    },
    "ValidationExecutionPlan": {
      "type": "object",
      "description": "Validation Test Execution Plan",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValidationExecutionPlanProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ValidationExecutionPlanListResult": {
      "type": "object",
      "description": "The response of a ValidationExecutionPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ValidationExecutionPlan items on this page",
          "items": {
            "$ref": "#/definitions/ValidationExecutionPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ValidationExecutionPlanOverallState": {
      "type": "string",
      "description": "The Overall states of the validation execution plan.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ValidationExecutionPlanOverallState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The resource is in enabled state."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The resource is in disabled state."
          }
        ]
      }
    },
    "ValidationExecutionPlanProperties": {
      "type": "object",
      "description": "Validation Test Execution Plan properties",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "planConfigurationUri": {
          "type": "string",
          "description": "URI where the configuration of the execution plan is defined.\nEither this property or `planConfigurationJson` is mandatory while creating; they are mutually exclusive.\nThis value is returned as-is in get responses, so it must not contain credentials or other secrets."
        },
        "planConfigurationJson": {
          "type": "string",
          "description": "Entire execution plan configuration/manifest json.\nEither this property or `planConfigurationUri` is mandatory while creating; they are mutually exclusive.\nIn get, always return the entire json configuration.\nThis value is returned as-is in get responses, so it must not contain credentials or other secrets."
        },
        "provisioningState": {
          "$ref": "#/definitions/ValidationExecutionPlanProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details. Populated when provisioningState is Failed or Canceled.",
          "readOnly": true
        },
        "overallState": {
          "$ref": "#/definitions/ValidationExecutionPlanOverallState",
          "description": "The overall state of the resource."
        }
      }
    },
    "ValidationExecutionPlanProvisioningState": {
      "type": "string",
      "description": "The execution plan resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ValidationExecutionPlanProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating."
          }
        ]
      },
      "readOnly": true
    },
    "ValidationExecutionPlanUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ValidationExecutionPlan.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ValidationExecutionPlanUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ValidationExecutionPlanUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ValidationExecutionPlan.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource."
        },
        "planConfigurationUri": {
          "type": "string",
          "description": "URI where the configuration of the execution plan is defined.\nEither this property or `planConfigurationJson` is mandatory while creating; they are mutually exclusive.\nThis value is returned as-is in get responses, so it must not contain credentials or other secrets."
        },
        "planConfigurationJson": {
          "type": "string",
          "description": "Entire execution plan configuration/manifest json.\nEither this property or `planConfigurationUri` is mandatory while creating; they are mutually exclusive.\nIn get, always return the entire json configuration.\nThis value is returned as-is in get responses, so it must not contain credentials or other secrets."
        },
        "overallState": {
          "$ref": "#/definitions/ValidationExecutionPlanOverallState",
          "description": "The overall state of the resource."
        }
      }
    },
    "ValidationTest": {
      "type": "object",
      "description": "Validation test catalog entry.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValidationTestProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ValidationTestCategory": {
      "type": "object",
      "description": "Validation test category catalog entry.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValidationTestCategoryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ValidationTestCategoryListResult": {
      "type": "object",
      "description": "The response of a ValidationTestCategory list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ValidationTestCategory items on this page",
          "items": {
            "$ref": "#/definitions/ValidationTestCategory"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ValidationTestCategoryProperties": {
      "type": "object",
      "description": "Validation test category properties.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the validation test category."
        },
        "description": {
          "type": "string",
          "description": "Validation test category description."
        },
        "audience": {
          "$ref": "#/definitions/CatalogAudience",
          "description": "Audience visibility of this validation test category."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the validation test category catalog resource.",
          "readOnly": true
        },
        "parentCategoryId": {
          "type": "string",
          "description": "Parent validation test category id. Categories form a two-level hierarchy only:\na top-level category leaves this unset, and a sub-category sets this to its\ntop-level parent's category id. Sub-categories cannot themselves have sub-categories,\nand a category must not reference itself as its own parent."
        },
        "owners": {
          "type": "array",
          "description": "Owners of the validation test category, expressed as email aliases or Microsoft Entra object IDs.\nOnly catalog publishers set this value through an internal publishing process; end users of the validation\nservice consume catalog entries read-only through Get/List and cannot modify it.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ValidationTestFailureDetails": {
      "type": "object",
      "description": "Detailed information about test failure.",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "Error code categorizing the type of failure.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Human-readable error message describing the failure.",
          "readOnly": true
        },
        "details": {
          "type": "string",
          "description": "Detailed information about the failure.",
          "readOnly": true
        },
        "diagnosticInfo": {
          "type": "string",
          "description": "Additional diagnostic information.",
          "readOnly": true
        },
        "recommendedActions": {
          "type": "array",
          "description": "Suggested remediation steps for the customer.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ValidationTestInput": {
      "type": "object",
      "description": "A named declared input parameter for a validation test contract.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The input parameter name."
        },
        "definition": {
          "$ref": "#/definitions/ValidationTestInputDefinition",
          "description": "The declared contract for this input parameter."
        }
      },
      "required": [
        "name",
        "definition"
      ]
    },
    "ValidationTestInputDataType": {
      "type": "string",
      "description": "Supported data types for a declared test input.",
      "enum": [
        "String",
        "Integer",
        "Number",
        "Boolean",
        "Object",
        "Array"
      ],
      "x-ms-enum": {
        "name": "ValidationTestInputDataType",
        "modelAsString": true,
        "values": [
          {
            "name": "String",
            "value": "String",
            "description": "String input value."
          },
          {
            "name": "Integer",
            "value": "Integer",
            "description": "Integer input value."
          },
          {
            "name": "Number",
            "value": "Number",
            "description": "Numeric input value."
          },
          {
            "name": "Boolean",
            "value": "Boolean",
            "description": "Boolean input value."
          },
          {
            "name": "Object",
            "value": "Object",
            "description": "Object input value."
          },
          {
            "name": "Array",
            "value": "Array",
            "description": "Array input value."
          }
        ]
      }
    },
    "ValidationTestInputDefinition": {
      "type": "object",
      "description": "Declared contract for a validation test input parameter.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the declared input parameter."
        },
        "type": {
          "$ref": "#/definitions/ValidationTestInputDataType",
          "description": "The data type expected for this input parameter."
        },
        "required": {
          "type": "boolean",
          "description": "Whether this input parameter is required."
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional default value to use when input is not provided."
        },
        "allowedValues": {
          "type": "array",
          "description": "Allowed values for this input parameter.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ValidationTestListResult": {
      "type": "object",
      "description": "The response of a ValidationTest list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ValidationTest items on this page",
          "items": {
            "$ref": "#/definitions/ValidationTest"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ValidationTestOverallState": {
      "type": "string",
      "description": "The overall state of a validation test or test version.",
      "enum": [
        "Draft",
        "Active",
        "Published",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ValidationTestOverallState",
        "modelAsString": true,
        "values": [
          {
            "name": "Draft",
            "value": "Draft",
            "description": "The validation test definition is in draft state."
          },
          {
            "name": "Active",
            "value": "Active",
            "description": "The validation test definition is active."
          },
          {
            "name": "Published",
            "value": "Published",
            "description": "The validation test definition is published."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The validation test definition is disabled."
          }
        ]
      }
    },
    "ValidationTestPassDetails": {
      "type": "object",
      "description": "Detailed information about test pass.",
      "properties": {
        "resultCode": {
          "type": "string",
          "description": "Result code categorizing the type of pass.",
          "readOnly": true
        },
        "testName": {
          "type": "string",
          "description": "test name which passed.",
          "readOnly": true
        },
        "resultDetails": {
          "type": "string",
          "description": "Detailed information about the passed test.",
          "readOnly": true
        }
      }
    },
    "ValidationTestProperties": {
      "type": "object",
      "description": "Validation test catalog properties.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Validation test description."
        },
        "audience": {
          "$ref": "#/definitions/CatalogAudience",
          "description": "Audience visibility of this validation test."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the validation test catalog resource.",
          "readOnly": true
        },
        "categoryIds": {
          "type": "array",
          "description": "The names of the validation test categories (ValidationTestCategory resource names, not ARM resource IDs) associated with this test.",
          "items": {
            "type": "string"
          }
        },
        "overallState": {
          "$ref": "#/definitions/ValidationTestOverallState",
          "description": "Overall state of the validation test."
        },
        "owners": {
          "type": "array",
          "description": "Owners of the validation test definition, expressed as aliases.\nOnly catalog publishers(limited to microsoft internal only) set this value through an internal publishing process; end users of the validation\nservice consume catalog entries read-only through Get/List and cannot modify it.",
          "items": {
            "type": "string"
          }
        },
        "inputs": {
          "type": "array",
          "description": "Declared input contract for this validation test.",
          "items": {
            "$ref": "#/definitions/ValidationTestInput"
          }
        },
        "testStoreUri": {
          "type": "string",
          "description": "URI of the location where the test artifact is stored."
        },
        "currentVersion": {
          "type": "string",
          "description": "The resource ID of the current immutable version snapshot."
        },
        "latestPublishedVersion": {
          "type": "string",
          "description": "The resource ID of the latest published version snapshot."
        },
        "lastPublishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of the last version publication."
        }
      }
    },
    "ValidationTestRun": {
      "type": "object",
      "description": "Validation Test Run represents execution instance(s) of a Validation Test instance under execution plan.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValidationTestRunProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ValidationTestRunListResult": {
      "type": "object",
      "description": "The response of a ValidationTestRun list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ValidationTestRun items on this page",
          "items": {
            "$ref": "#/definitions/ValidationTestRun"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ValidationTestRunProperties": {
      "type": "object",
      "description": "Validation Test Run properties.",
      "properties": {
        "status": {
          "$ref": "#/definitions/ValidationTestRunStatus",
          "description": "The overall status of the test run.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details. Populated when status is Error.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ValidationTestRunProvisioningState",
          "description": "The state of the test run.",
          "readOnly": true
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the test run.",
          "readOnly": true
        },
        "completedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The completion time of the test run.",
          "readOnly": true
        },
        "reportedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the test run result was reported.",
          "readOnly": true
        },
        "testId": {
          "type": "string",
          "description": "The name of the validation test (ValidationTest resource name, not an ARM resource ID) in the validation test catalog."
        },
        "inputsJson": {
          "type": "string",
          "description": "Validation test run inputs json, conforming to the input contract declared by `ValidationTestInput` on the corresponding validation test.\nThis value is returned as-is in get responses, so it must not contain credentials or other secrets."
        },
        "passDetails": {
          "type": "array",
          "description": "Detailed pass information when the test passes.",
          "maxItems": 100,
          "items": {
            "$ref": "#/definitions/ValidationTestPassDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "failureDetails": {
          "type": "array",
          "description": "Detailed failure information when the test fails.",
          "maxItems": 100,
          "items": {
            "$ref": "#/definitions/ValidationTestFailureDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "ValidationTestRunProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the validation test run.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Running"
      ],
      "x-ms-enum": {
        "name": "ValidationTestRunProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The validation test run is in progress."
          }
        ]
      },
      "readOnly": true
    },
    "ValidationTestRunStatus": {
      "type": "string",
      "description": "The overall status of the test run.",
      "enum": [
        "NotRunning",
        "Scheduled",
        "Ready",
        "Running",
        "Completed",
        "Stopped",
        "Error"
      ],
      "x-ms-enum": {
        "name": "ValidationTestRunStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotRunning",
            "value": "NotRunning",
            "description": "The test run is not running."
          },
          {
            "name": "Scheduled",
            "value": "Scheduled",
            "description": "The test run is scheduled."
          },
          {
            "name": "Ready",
            "value": "Ready",
            "description": "The test run is ready."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The test run is running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The test run is completed."
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "The test run is stopped."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "The test run is errored out."
          }
        ]
      }
    },
    "ValidationTestVersion": {
      "type": "object",
      "description": "Validation test version catalog entry.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValidationTestVersionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ValidationTestVersionListResult": {
      "type": "object",
      "description": "The response of a ValidationTestVersion list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ValidationTestVersion items on this page",
          "items": {
            "$ref": "#/definitions/ValidationTestVersion"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ValidationTestVersionProperties": {
      "type": "object",
      "description": "Validation test version catalog properties.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Validation test description."
        },
        "audience": {
          "$ref": "#/definitions/CatalogAudience",
          "description": "Audience visibility of this validation test version."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the validation test version catalog resource.",
          "readOnly": true
        },
        "categoryIds": {
          "type": "array",
          "description": "The names of the validation test categories (ValidationTestCategory resource names, not ARM resource IDs) associated with this test version.",
          "items": {
            "type": "string"
          }
        },
        "overallState": {
          "$ref": "#/definitions/ValidationTestOverallState",
          "description": "Overall state of the validation test."
        },
        "owners": {
          "type": "array",
          "description": "Owners of the validation test version definition, expressed as email aliases or Microsoft Entra object IDs.\nOnly catalog publishers set this value through an internal publishing process; end users of the validation\nservice consume catalog entries read-only through Get/List and cannot modify it.",
          "items": {
            "type": "string"
          }
        },
        "inputs": {
          "type": "array",
          "description": "Declared input contract for this validation test version.",
          "items": {
            "$ref": "#/definitions/ValidationTestInput"
          }
        },
        "contentHash": {
          "type": "string",
          "description": "SHA-256 hash of the version content used for integrity and deduplication.",
          "pattern": "^[A-Fa-f0-9]{64}$"
        },
        "testStoreUri": {
          "type": "string",
          "description": "URI of the location where the test artifact is stored."
        }
      }
    }
  },
  "parameters": {
    "OdataFilterQueryParameter": {
      "name": "$filter",
      "in": "query",
[...]
