{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipCommunityLists/{ipCommunityListName}": {
      "put": {
        "tags": [
          "IpCommunityLists"
        ],
        "operationId": "IpCommunityLists_Create",
        "summary": "Create Ip Community List.",
        "description": "Implements Ip Community List PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipCommunityListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Community List"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/IpCommunityList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpCommunityList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunityLists_Create_MinimumSet_Gen": {
            "$ref": "./examples/IpCommunityLists_Create_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "IpCommunityLists"
        ],
        "operationId": "IpCommunityLists_Get",
        "summary": "Gets a Ip Community List.",
        "description": "Implements Ip Community List GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipCommunityListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Community List"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpCommunityList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunityLists_Get_MinimumSet_Gen": {
            "$ref": "./examples/IpCommunityLists_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "IpCommunityLists"
        ],
        "operationId": "IpCommunityLists_Update",
        "summary": "Updates a Ip Community List.",
        "description": "API to update certain properties of the Ip Community List resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipCommunityListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Community List"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Ip Community List properties to update.",
            "schema": {
              "$ref": "#/definitions/IpCommunityListPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpCommunityList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunityLists_Update_MinimumSet_Gen": {
            "$ref": "./examples/IpCommunityLists_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IpCommunityLists"
        ],
        "operationId": "IpCommunityLists_Delete",
        "summary": "Deletes a Ip Community List.",
        "description": "Implements Ip Community List DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipCommunityListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Community List"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpCommunityLists_Delete_MinimumSet_Gen": {
            "$ref": "./examples/IpCommunityLists_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipCommunityLists": {
      "get": {
        "operationId": "IpCommunityLists_ListByResourceGroup",
        "summary": "List IpCommunityLists by resource group.",
        "description": "Implements IpCommunityLists list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IpCommunityLists under the resource group.",
            "schema": {
              "$ref": "#/definitions/IpCommunityListsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpCommunityLists_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/IpCommunityLists_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/ipCommunityLists": {
      "get": {
        "operationId": "IpCommunityLists_ListBySubscription",
        "summary": "List IpCommunityLists by subscription.",
        "description": "Implements IpCommunityLists list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IpCommunityLists under the subscription.",
            "schema": {
              "$ref": "#/definitions/IpCommunityListsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpCommunityLists_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/IpCommunityLists_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "IpCommunityListProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "action": {
          "type": "string",
          "description": "action. Example: allow | deny.",
          "enum": [
            "allow",
            "deny"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "communityActionType"
          }
        },
        "localAS": {
          "type": "string",
          "description": "Local Autonomous System. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "localASBoolean"
          }
        },
        "gshut": {
          "type": "string",
          "description": " Graceful Shutdown (GSHUT). Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "gshutBoolean"
          }
        },
        "internet": {
          "type": "string",
          "description": "Internet access. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "internetBoolean"
          }
        },
        "advertise": {
          "type": "string",
          "description": "noAdvertise. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "advertiseBoolean"
          }
        },
        "export": {
          "type": "string",
          "description": "noExport. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "exportBoolean"
          }
        },
        "communityMembers": {
          "type": "array",
          "description": "Ip Community List communityMembers.",
          "x-ms-identifiers": [
            "communityMember"
          ],
          "items": {
            "description": "Ip Community List communityMembers model.",
            "type": "object",
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "communityMember": {
                "type": "string",
                "description": "communityMember of the Ip Community List. Example: 100:200"
              }
            },
            "required": [
              "communityMember",
              "annotation"
            ]
          }
        },
        "evpnEsImportRouteTargets": {
          "type": "array",
          "description": "Ip Community List evpnEsImportRouteTargets.",
          "x-ms-identifiers": [
            "evpnEsImportRouteTarget"
          ],
          "items": {
            "description": "Ip Community List evpnEsImportRouteTarget model.",
            "type": "object",
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "evpnEsImportRouteTarget": {
                "type": "string",
                "description": "evpnEsImportRouteTarget of the Ip Community List. Example: 100:400"
              }
            },
            "required": [
              "evpnEsImportRouteTarget"
            ]
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "required": [
        "action",
        "localAS",
        "advertise",
        "export"
      ],
      "description": "IpCommunityListProperties define the resource properties."
    },
    "IpCommunityList": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IpCommunityListProperties"
        }
      },
      "description": "The IpCommunityList resource definition."
    },
    "IpCommunityListsListResult": {
      "type": "object",
      "description": "List of IpCommunityLists.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of IpCommunityList resources.",
          "items": {
            "$ref": "#/definitions/IpCommunityList"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "IpCommunityListPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IpCommunityListPatchProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The IpCommunityList patch resource definition."
    },
    "IpCommunityListPatchProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "action": {
          "type": "string",
          "description": "action. Example: allow | deny.",
          "enum": [
            "allow",
            "deny"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "communityActionType"
          }
        },
        "localAS": {
          "type": "string",
          "description": "Local Autonomous System. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "localASBoolean"
          }
        },
        "advertise": {
          "type": "string",
          "description": "noAdvertise. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "advertiseBoolean"
          }
        },
        "export": {
          "type": "string",
          "description": "noExport. Example: true | false.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "exportBoolean"
          }
        },
        "communityMembers": {
          "type": "array",
          "description": "Ip Community List communityMembers.",
          "x-ms-identifiers": [
            "communityMember"
          ],
          "items": {
            "description": "Ip Community List communityMembers model.",
            "type": "object",
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "communityMember": {
                "type": "string",
                "description": "communityMember of the Ip Community List. Example: 100:200"
              }
            },
            "required": [
              "communityMember",
              "annotation"
            ]
          }
        },
        "evpnEsImportRouteTargets": {
          "type": "array",
          "description": "Ip Community List evpnEsImportRouteTargets.",
          "x-ms-identifiers": [
            "evpnEsImportRouteTarget"
          ],
          "items": {
            "description": "Ip Community List evpnEsImportRouteTarget model.",
            "type": "object",
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "evpnEsImportRouteTarget": {
                "type": "string",
                "description": "evpnEsImportRouteTarget of the Ip Community List. Example: 100:400"
              }
            },
            "required": [
              "evpnEsImportRouteTarget"
            ]
          }
        }
      },
      "description": "IpCommunityListPatch define the patchable resource properties."
    }
  },
  "parameters": {}
}
