{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixLists/{ipPrefixListName}": {
      "put": {
        "tags": [
          "IpPrefixLists"
        ],
        "operationId": "IpPrefixLists_Create",
        "summary": "Create Ip Prefix List.",
        "description": "Implements Ip Prefix List PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Prefix List"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/IpPrefixList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpPrefixList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixLists_Create_MinimumSet_Gen": {
            "$ref": "./examples/IpPrefixLists_Create_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "IpPrefixLists"
        ],
        "operationId": "IpPrefixLists_Get",
        "summary": "Gets a Ip Prefix List.",
        "description": "Implements Ip Prefix List GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Prefix List"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpPrefixList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixLists_Get_MinimumSet_Gen": {
            "$ref": "./examples/IpPrefixLists_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "IpPrefixLists"
        ],
        "operationId": "IpPrefixLists_Update",
        "summary": "Updates a Ip Prefix List.",
        "description": "API to update certain properties of the Ip Prefix List resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Prefix List"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Ip Prefix List properties to update.",
            "schema": {
              "$ref": "#/definitions/IpPrefixListPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/IpPrefixList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixLists_Update_MinimumSet_Gen": {
            "$ref": "./examples/IpPrefixLists_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IpPrefixLists"
        ],
        "operationId": "IpPrefixLists_Delete",
        "summary": "Deletes a Ip Prefix List.",
        "description": "Implements Ip Prefix List DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "ipPrefixListName",
            "required": true,
            "type": "string",
            "description": "Name of the Ip Prefix List"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IpPrefixLists_Delete_MinimumSet_Gen": {
            "$ref": "./examples/IpPrefixLists_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/ipPrefixLists": {
      "get": {
        "operationId": "IpPrefixLists_ListByResourceGroup",
        "summary": "List IpPrefixLists by resource group.",
        "description": "Implements IpPrefixLists list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IpPrefixLists under the resource group.",
            "schema": {
              "$ref": "#/definitions/IpPrefixListsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpPrefixLists_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/IpPrefixLists_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/ipPrefixLists": {
      "get": {
        "operationId": "IpPrefixLists_ListBySubscription",
        "summary": "List IpPrefixLists by subscription.",
        "description": "Implements IpPrefixLists list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all IpPrefixLists under the subscription.",
            "schema": {
              "$ref": "#/definitions/IpPrefixListsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "IpPrefixLists_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/IpPrefixLists_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "IpPrefixListProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "action": {
          "type": "string",
          "description": "action. Example: allow | deny.",
          "enum": [
            "allow",
            "deny"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "prefixActionType"
          }
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int32",
          "description": "sequenceNumber of the Ip Prefix List."
        },
        "networkAddress": {
          "type": "string",
          "description": "networkAddress. Example:1.1.1.0/24 | 1.1.10.10."
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "required": [
        "action",
        "sequenceNumber",
        "networkAddress"
      ],
      "description": "IpPrefixListProperties define the resource properties."
    },
    "IpPrefixList": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IpPrefixListProperties"
        }
      },
      "required": [
        "location",
        "properties"
      ],
      "description": "The IpPrefixList resource definition."
    },
    "IpPrefixListPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/IpPrefixListPatchProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The IpPrefixList patch resource definition."
    },
    "IpPrefixListsListResult": {
      "type": "object",
      "description": "List of IpPrefixLists.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of IpPrefixList resources.",
          "items": {
            "$ref": "#/definitions/IpPrefixList"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "IpPrefixListPatchProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "action": {
          "type": "string",
          "description": "action. Example: allow | deny.",
          "enum": [
            "allow",
            "deny"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "prefixActionType"
          }
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int32",
          "description": "sequenceNumber of the Ip Prefix List."
        },
        "networkAddress": {
          "type": "string",
          "description": "networkAddress. Example:1.1.1.0/24 | 1.1.10.10."
        }
      },
      "description": "IpPrefixListPatchProperties define the patchable resource properties."
    }
  },
  "parameters": {}
}
