{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains/{l2IsolationDomainName}": {
      "put": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Create",
        "summary": "Create L2 Isolation Domain.",
        "description": "Implements L2 Isolation Domain PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l2IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L2 Isolation Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "L2IsolationDomains_Create_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Create_MaximumSet_Gen.json"
          },
          "L2IsolationDomains_Create_MinimumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Create_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Get",
        "summary": "Gets a L2 Isolation Domain.",
        "description": "Implements L2 Isolation Domain GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l2IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L2 Isolation Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "L2IsolationDomains_Get_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Get_MaximumSet_Gen.json"
          },
          "L2IsolationDomains_Get_MinimumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Update",
        "summary": "Updates a L2 Isolation Domain.",
        "description": "API to update certain properties of the L2 Isolation Domain resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l2IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L2 Isolation Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "L2 Isolation Domain properties to update.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_Update_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Update_MaximumSet_Gen.json"
          },
          "L2IsolationDomains_Update_MinimumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "L2IsolationDomains"
        ],
        "operationId": "L2IsolationDomains_Delete",
        "summary": "Deletes a L2 Isolation Domain.",
        "description": "Implements L2 Isolation Domain DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l2IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L2 Isolation Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L2IsolationDomains_Delete_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Delete_MaximumSet_Gen.json"
          },
          "L2IsolationDomains_Delete_MinimumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains": {
      "get": {
        "operationId": "L2IsolationDomains_ListByResourceGroup",
        "summary": "List L2IsolationDomains by resource group.",
        "description": "Implements L2IsolationDomains list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all L2IsolationDomains under the resource group.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "L2IsolationDomains_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "L2IsolationDomains_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/l2IsolationDomains": {
      "get": {
        "operationId": "L2IsolationDomains_ListBySubscription",
        "summary": "List L2IsolationDomains by subscription.",
        "description": "Implements L2IsolationDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all L2IsolationDomains under the subscription.",
            "schema": {
              "$ref": "#/definitions/L2IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "L2IsolationDomains_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListBySubscription_MaximumSet_Gen.json"
          },
          "L2IsolationDomains_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/L2IsolationDomains_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "L2IsolationDomainProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "vlanId": {
          "type": "integer",
          "format": "int32",
          "description": "vlanId. Example: 100."
        },
        "mtu": {
          "type": "integer",
          "format": "int32",
          "description": "mtu. Example: 9000."
        },
        "operationalState": {
          "type": "string",
          "description": "state. Example: Enabled | Disabled.",
          "readOnly": true
        },
        "administrativeState": {
          "type": "string",
          "description": "administrativeState state for the desired action on the resource.",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "L2AdministrativeState"
          }
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "L2IsolationDomainProperties define the resource properties."
    },
    "L2IsolationDomainPatchProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "mtu": {
          "type": "integer",
          "format": "int32",
          "description": "mtu. Example: 9000."
        },
        "administrativeState": {
          "type": "string",
          "description": "administrativeState state for the desired action on the resource.",
          "enum": [
            "Enable",
            "Disable"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "L2AdministrativeState"
          }
        }
      },
      "description": "L2IsolationDomainPatchProperties define the patchable resource properties."
    },
    "L2IsolationDomain": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/L2IsolationDomainProperties"
        }
      },
      "description": "The L2IsolationDomain resource definition."
    },
    "L2IsolationDomainPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/L2IsolationDomainPatchProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The L2IsolationDomain patch resource definition."
    },
    "L2IsolationDomainsListResult": {
      "type": "object",
      "description": "List of L2IsolationDomains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of L2IsolationDomain resources.",
          "items": {
            "$ref": "#/definitions/L2IsolationDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
