{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}": {
      "put": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_Create",
        "summary": "Create L3 Isolation Domain.",
        "description": "Implements L3 Isolation Domain PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3 Isolation Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomain"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomain"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "L3IsolationDomains_Create_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Create_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_Create_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Create_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_Get",
        "summary": "Gets a L3 Isolation Domain.",
        "description": "Implements L3 Isolation Domain GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3 Isolation Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomain"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "L3IsolationDomains_Get_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Get_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_Get_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_Update",
        "summary": "Updates a L3 Isolation Domain.",
        "description": "API to update certain properties of the L3 Isolation Domain resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3 Isolation Domain"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "L3 Isolation Domain properties to update.",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomainPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomain"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L3IsolationDomains_Update_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Update_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_Update_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_Delete",
        "summary": "Deletes a L3 Isolation Domain.",
        "description": "Implements L3 Isolation Domain DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3 Isolation Domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L3IsolationDomains_Delete_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Delete_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_Delete_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains": {
      "get": {
        "operationId": "L3IsolationDomains_ListByResourceGroup",
        "summary": "List L3IsolationDomains by resource group.",
        "description": "Implements L3IsolationDomains list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all L3IsolationDomains under the resource group.",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "L3IsolationDomains_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains": {
      "get": {
        "operationId": "L3IsolationDomains_ListBySubscription",
        "summary": "List L3IsolationDomains by subscription.",
        "description": "Implements L3IsolationDomains list by subscription GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all L3IsolationDomains under the subscription.",
            "schema": {
              "$ref": "#/definitions/L3IsolationDomainsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "L3IsolationDomains_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_ListBySubscription_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/updateAdminState": {
      "post": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_updateAdminState",
        "description": "Enables racks for this Isolation Domain.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L3IsolationDomains_updateAdminState_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_updateAdminState_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_updateAdminState_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_updateAdminState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/updateOptionBAdminState": {
      "post": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_updateOptionBAdminState",
        "description": "Update administrative state of option B on CE devices",
        "summary": "Update route targets on CE devices. List the CE network device ARM resource IDs in the request body payload.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L3IsolationDomains_updateOptionBAdminState_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_updateOptionBAdminState_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_updateOptionBAdminState_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_updateOptionBAdminState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/clearArpTable": {
      "post": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_clearArpTable",
        "description": "Clears ARP tables for this Isolation Domain.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/EnableDisableOnResources"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L3IsolationDomains_clearArpTable_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_clearArpTable_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_clearArpTable_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_clearArpTable_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/clearNeighborTable": {
      "post": {
        "tags": [
          "L3IsolationDomains"
        ],
        "operationId": "L3IsolationDomains_clearNeighborTable",
        "description": "Clears IPv6 neighbor tables for this Isolation Domain.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/EnableDisableOnResources"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "L3IsolationDomains_clearNeighborTable_MaximumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_clearNeighborTable_MaximumSet_Gen.json"
          },
          "L3IsolationDomains_clearNeighborTable_MinimumSet_Gen": {
            "$ref": "./examples/L3IsolationDomains_clearNeighborTable_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}": {
      "put": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_Create",
        "summary": "Create SouthBoundNetwork.",
        "description": "Implements SouthBoundNetwork PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the SouthBoundNetwork"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/InternalNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InternalNetwork"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InternalNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_Create_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Create_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_Create_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Create_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_Get",
        "summary": "Gets a SouthBoundNetworks.",
        "description": "Implements SouthBoundNetworks GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the InternalNetwork"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InternalNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SouthBoundNetworks_Get_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Get_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_Get_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_Update",
        "summary": "Updates a SouthBoundNetworks.",
        "description": "API to update certain properties of the SouthBoundNetworks resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the InternalNetwork"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "InternalNetwork properties to update. Only annotations are supported.",
            "schema": {
              "$ref": "#/definitions/InternalNetworkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InternalNetwork"
            }
          },
          "202": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InternalNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_Update_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Update_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_Update_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_Delete",
        "summary": "Deletes a SouthBoundNetworks.",
        "description": "Implements SouthBoundNetworks DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the InternalNetwork"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_Delete_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Delete_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_Delete_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks": {
      "get": {
        "operationId": "SouthBoundNetworks_List",
        "summary": "List all SouthBoundNetworks within an isolation domain.",
        "description": "Implements SouthBoundNetworks list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkInterfaces under the resource group.",
            "schema": {
              "$ref": "#/definitions/SouthBoundNetworksList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_List_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_List_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_List_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}/updateAdminState": {
      "post": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_updateAdminState",
        "description": "Update Administrative state of  SouthBoundNetworks on resources referred by their resource ids.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "description": "Name of the InternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_updateAdminState_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateAdminState_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_updateAdminState_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateAdminState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}/updateBgpState": {
      "post": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_updateBgpState",
        "description": "Update BGP state for internalNetwork. Allowed only on edge devices.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "description": "Name of the InternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_updateBgpState_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateBgpState_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_updateBgpState_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateBgpState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}/updateBfdForBgpState": {
      "post": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_updateBfdForBgpState",
        "description": "Update BfdForBgp for internalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "description": "Name of the InternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_updateBfdForBgpState_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateBfdForBgpState_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_updateBfdForBgpState_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateBfdForBgpState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}/clearIpv6Neighbors": {
      "post": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_clearIpv6Neighbors",
        "description": "clearIpv6Neighbors for internalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "description": "Name of the InternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/EnableDisableOnResources"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_clearIpv6Neighbors_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_clearIpv6Neighbors_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_clearIpv6Neighbors_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_clearIpv6Neighbors_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}/clearArpEntries": {
      "post": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_clearArpEntries",
        "description": "clearArpEntries for internalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "description": "Name of the InternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/EnableDisableOnResources"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_clearArpEntries_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_clearArpEntries_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_clearArpEntries_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_clearArpEntries_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/southBoundNetworks/{southBoundNetworkName}/updateBfdForStaticRoutesState": {
      "post": {
        "tags": [
          "SouthBoundNetworks"
        ],
        "operationId": "SouthBoundNetworks_updateBfdForStaticRoutesState",
        "description": "Update BfdForStaticRoutes for internalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "southBoundNetworkName",
            "description": "Name of the InternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SouthBoundNetworks_updateBfdForStaticRoutesState_MaximumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateBfdForStaticRoutesState_MaximumSet_Gen.json"
          },
          "SouthBoundNetworks_updateBfdForStaticRoutesState_MinimumSet_Gen": {
            "$ref": "./examples/SouthBoundNetworks_updateBfdForStaticRoutesState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks/{northBoundNetworkName}": {
      "put": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_Create",
        "summary": "Create ExternalNetwork.",
        "description": "Implements ExternalNetwork PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the ExternalNetwork"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/ExternalNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExternalNetwork"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ExternalNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_Create_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Create_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_Create_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Create_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_Get",
        "summary": "Gets a NorthBoundNetwork.",
        "description": "Implements NorthBoundNetworks GET method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the ExternalNetwork"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExternalNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NorthBoundNetworks_Get_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Get_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_Get_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_Update",
        "summary": "Updates a NorthBoundNetworks.",
        "description": "API to update certain properties of the NorthBoundNetworks resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the ExternalNetwork"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "ExternalNetwork properties to update. Only annotations are supported.",
            "schema": {
              "$ref": "#/definitions/ExternalNetworkPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExternalNetwork"
            }
          },
          "202": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ExternalNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_Update_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Update_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_Update_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_Delete",
        "summary": "Deletes a NorthBoundNetworks.",
        "description": "Implements NorthBoundNetworks DELETE method.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "required": true,
            "type": "string",
            "description": "Name of the ExternalNetwork"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_Delete_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Delete_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_Delete_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks": {
      "get": {
        "operationId": "NorthBoundNetworks_List",
        "summary": "List all North Bound Networks within an isolation domain.",
        "description": "Implements North Bound Networks list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "required": true,
            "type": "string",
            "description": "Name of the L3IsolationDomain"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkInterfaces under the resource group.",
            "schema": {
              "$ref": "#/definitions/NorthBoundNetworksList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_List_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_List_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_List_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks/{northBoundNetworkName}/updateAdminState": {
      "post": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_updateAdminState",
        "description": "Update Administrative State for externalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "description": "Name of the ExternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_updateAdminState_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_updateAdminState_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_updateAdminState_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_updateAdminState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks/{northBoundNetworkName}/updateBgpState": {
      "post": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_updateBgpState",
        "description": "Update BGP for externalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "description": "Name of the ExternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_updateBgpState_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_updateBgpState_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_updateBgpState_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_updateBgpState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks/{northBoundNetworkName}/updateBfdForBgpState": {
      "post": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_updateBfdForBgpState",
        "description": "Update BfdForBgp for externalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "description": "Name of the ExternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_updateBfdForBgpState_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_updateBfdForBgpState_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_updateBfdForBgpState_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_updateBfdForBgpState_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks/{northBoundNetworkName}/clearIpv6Neighbors": {
      "post": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_clearIpv6Neighbors",
        "description": "clearIpv6Neighbors for externalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "description": "Name of the ExternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/EnableDisableOnResources"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_clearIpv6Neighbors_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_clearIpv6Neighbors_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_clearIpv6Neighbors_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_clearIpv6Neighbors_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/{l3IsolationDomainName}/northBoundNetworks/{northBoundNetworkName}/clearArpEntries": {
      "post": {
        "tags": [
          "NorthBoundNetworks"
        ],
        "operationId": "NorthBoundNetworks_clearArpEntries",
        "description": "clearArpEntries for externalNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "l3IsolationDomainName",
            "description": "Name of the L3IsolationDomain.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "northBoundNetworkName",
            "description": "Name of the ExternalNetwork.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/EnableDisableOnResources"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NorthBoundNetworks_clearArpEntries_MaximumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_clearArpEntries_MaximumSet_Gen.json"
          },
          "NorthBoundNetworks_clearArpEntries_MinimumSet_Gen": {
            "$ref": "./examples/NorthBoundNetworks_clearArpEntries_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "L3IsolationDomainProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "networkFabricId": {
          "type": "string",
          "description": "Network Fabric ARM resource id."
        },
        "description": {
          "type": "string",
          "description": "L3 Isolation Domain description."
        },
        "internal": {
          "type": "object",
          "description": "Internal configuration.",
          "properties": {
            "importRoutePolicyIds": {
              "type": "array",
              "description": "List with importRoutePolicyIds.",
              "items": {
                "type": "string",
                "description": "importRoutePolicyId value."
              }
            },
            "exportRoutePolicyIds": {
              "type": "array",
              "description": "List with exportRoutePolicyIds.",
              "items": {
                "type": "string",
                "description": "exportRoutePolicyId value."
              }
            },
            "administrativeState": {
              "type": "string",
              "description": "administrativeState of the network interface. Example: up | down."
            }
          }
        },
        "external": {
          "type": "object",
          "description": "External configuration.",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            }
          ],
          "properties": {
            "importRoutePolicyIds": {
              "type": "array",
              "description": "List with importRoutePolicyIds.",
              "items": {
                "type": "string",
                "description": "importRoutePolicyId value."
              }
            },
            "exportRoutePolicyIds": {
              "type": "array",
              "description": "List with exportRoutePolicyIds.",
              "items": {
                "type": "string",
                "description": "exportRoutePolicyId value."
              }
            },
            "optionBConfiguration": {
              "type": "object",
              "description": "optionBConfiguration configuration.",
              "properties": {
                "importRouteTargets": {
                  "type": "array",
                  "description": "List with importRouteTargets.",
                  "items": {
                    "type": "string",
                    "description": "importRouteTarget value."
                  }
                },
                "exportRouteTargets": {
                  "type": "array",
                  "description": "List with exportRouteTargets.",
                  "items": {
                    "type": "string",
                    "description": "exportRouteTarget value."
                  }
                },
                "administrativeState": {
                  "type": "string",
                  "description": "administrativeState of the network interface. Example: up | down."
                }
              }
            }
          }
        },
        "disabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "administrativeState": {
          "description": "state. Example: Enabled | Disabled.",
          "readOnly": true,
          "$ref": "./common.json#/definitions/EnabledDisabledState"
        },
        "optionBDisabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "L3IsolationDomainProperties define the resource properties."
    },
    "L3IsolationDomainPatchProperties": {
      "type": "object",
      "properties": {},
      "description": "L3IsolationDomainPatchProperties define the patch resource properties."
    },
    "L3IsolationDomain": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/L3IsolationDomainProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "The L3IsolationDomain resource definition."
    },
    "L3IsolationDomainPatch": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/L3IsolationDomainPatchProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The L3IsolationDomain patch resource definition."
    },
    "L3IsolationDomainsListResult": {
      "type": "object",
      "description": "List of L3IsolationDomains.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of L3IsolationDomain resources.",
          "items": {
            "$ref": "#/definitions/L3IsolationDomain"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "InternalNetwork": {
      "description": "Defines the InternalNetwork item.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags."
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/InternalNetworkProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ExternalNetwork": {
      "description": "Defines the ExternalNetwork item.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource",
          "description": "The resource model definition for an Azure Resource Manager proxy resource. It will have everything other than required location and tags."
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/ExternalNetworkProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "NorthBoundNetworksList": {
      "type": "object",
      "description": "List of NorthBoundNetworks.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NorthBoundNetworks resources.",
          "items": {
            "$ref": "#/definitions/ExternalNetwork"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "SouthBoundNetworksList": {
      "type": "object",
      "description": "List of SouthBoundNetworks.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of SouthBoundNetworks resources.",
          "items": {
            "$ref": "#/definitions/InternalNetwork"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "ExternalNetworkPatch": {
      "type": "object",
      "description": "The ExternalNetwork patch resource definition.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "North Bound Network Patch properties.",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            }
          ]
        }
      }
    },
    "InternalNetworkPatch": {
      "type": "object",
      "description": "The InternalNetwork patch resource definition.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "InternalNetwork Patch properties.",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            }
          ]
        }
      }
    },
    "ExternalNetworkProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "$ref": "#/definitions/Layer3IpPrefixProperties"
        }
      ],
      "properties": {
        "mtu": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum Transmission Unit (MTU) for the NorthBoundNetwork."
        },
        "vlanId": {
          "type": "integer",
          "format": "int32",
          "description": "vlanId. Example: 200."
        },
        "fabricASN": {
          "type": "integer",
          "format": "int32",
          "description": "fabricASN. Example: 12076."
        },
        "peerASN": {
          "type": "integer",
          "format": "int32",
          "description": "peerASN. Example: 12076."
        },
        "bfdConfiguration": {
          "type": "object",
          "description": "BFD configuration properties",
          "properties": {
            "administrativeState": {
              "type": "string",
              "description": "state. Example: Enabled | Disabled."
            },
            "interval": {
              "type": "integer",
              "format": "int32",
              "description": "interval in seconds. Example: 300."
            },
            "multiplier": {
              "type": "integer",
              "format": "int32",
              "description": "Multiplier for the Bfd Configuration. Example: 3."
            }
          }
        },
        "disabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "bgpDisabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "bfdDisabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "administrativeState": {
          "type": "string",
          "description": "administrativeState of the network interface. Example: up | down."
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "ExternalNetworkProperties define the resource properties."
    },
    "InternalNetworkProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        }
      ],
      "properties": {
        "vlanId": {
          "type": "integer",
          "format": "int32",
          "description": "vlanId. Example: 200."
        },
        "mtu": {
          "type": "integer",
          "format": "int32",
          "description": "mtu. Example: 9000."
        },
        "connectedIPv4Subnets": {
          "type": "array",
          "description": "List with object connectedIPv4Subnets.",
          "x-ms-identifiers": [
            "prefix"
          ],
          "items": {
            "type": "object",
            "description": "connectedIPv4Subnet model.",
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "prefix": {
                "type": "string",
                "description": "ip prefix of the connectedIPv4Subnet."
              },
              "gateway": {
                "type": "string",
                "description": "gateway of the connectedIPv4Subnet."
              }
            }
          }
        },
        "connectedIPv6Subnets": {
          "type": "array",
          "description": "List with object connectedIPv6Subnets.",
          "x-ms-identifiers": [
            "prefix"
          ],
          "items": {
            "type": "object",
            "description": "connectedIPv6Subnet model.",
            "allOf": [
              {
                "$ref": "./common.json#/definitions/AnnotationResource",
                "description": "Common properties for annotated type."
              }
            ],
            "properties": {
              "prefix": {
                "type": "string",
                "description": "ip prefix of the connectedIPv6Subnet."
              },
              "gateway": {
                "type": "string",
                "description": "gateway of the connectedIPv6Subnet."
              }
            }
          }
        },
        "staticRouteConfiguration": {
          "type": "object",
          "description": "staticRouteConfiguration model.",
          "properties": {
            "bfdConfiguration": {
              "type": "object",
              "description": "BFD configuration properties",
              "properties": {
                "interval": {
                  "type": "integer",
                  "format": "int32",
                  "description": "interval in seconds. Example: 300."
                },
                "multiplier": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Multiplier for the BFD configuration."
                }
              }
            },
            "ipv4Routes": {
              "type": "object",
              "description": "staticIpv4Route model.",
              "properties": {
                "prefix": {
                  "type": "string",
                  "description": "ip prefix of the staticIpv4Route."
                },
                "nextHop": {
                  "type": "array",
                  "description": "List of next hop ipv4 addresses.",
                  "items": {
                    "type": "string",
                    "description": "Next Hop IPv4 address."
                  }
                }
              }
            },
            "ipv6Routes": {
              "type": "object",
              "description": "staticIpv6Route model.",
              "properties": {
                "prefix": {
                  "type": "string",
                  "description": "ip prefix of the staticIpv6Route."
                },
                "nextHop": {
                  "type": "array",
                  "description": "List of next hop ipv6 addresses.",
                  "items": {
                    "type": "string",
                    "description": "Next Hop IPv6 address."
                  }
                }
              }
            }
          }
        },
        "bgpConfiguration": {
          "type": "object",
          "description": "BGP configuration properties",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource",
              "description": "Common properties for annotated type."
            }
          ],
          "properties": {
            "bfdConfiguration": {
              "type": "object",
              "description": "BFD configuration properties",
              "allOf": [
                {
                  "$ref": "./common.json#/definitions/AnnotationResource",
                  "description": "Common properties for annotated type."
                }
              ],
              "properties": {
                "administrativeState": {
                  "type": "string",
                  "description": "state. Example: Enabled | Disabled.",
                  "readOnly": true
                },
                "interval": {
                  "type": "integer",
                  "format": "int32",
                  "description": "interval in seconds. Example: 300."
                },
                "multiplier": {
                  "type": "integer",
                  "format": "int32",
                  "description": "multiplier. Example: 3."
                }
              }
            },
            "defaultRouteOriginate": {
              "type": "boolean",
              "description": "defaultRouteOriginate. Example: true | false."
            },
            "fabricASN": {
              "type": "integer",
              "format": "int32",
              "description": "fabricASN. Example: 12076."
            },
            "peerASN": {
              "type": "integer",
              "format": "int32",
              "description": "peerASN. Example: 12076."
            },
            "ipv4Prefix": {
              "type": "string",
              "description": "ipv4Prefix. Example: 123.0.0.0/30."
            },
            "ipv6Prefix": {
              "type": "string",
              "description": "ipv6Prefix. Example: 3FFE:FFFF:0:CD30::/126."
            },
            "ipv4NeighborAddress": {
              "type": "array",
              "description": "List with stringified ipv4NeighborAddresses.",
              "x-ms-identifiers": [
                "address"
              ],
              "items": {
                "type": "object",
                "description": "ipv4NeighborAddress model.",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "ip address of the ipv4NeighborAddress."
                  },
                  "operationalState": {
                    "type": "string",
                    "description": "operationalState of the ipv4NeighborAddress.",
                    "readOnly": true
                  }
                }
              }
            },
            "ipv6NeighborAddress": {
              "type": "array",
              "description": "List with stringified ipv6NeighborAddress.",
              "x-ms-identifiers": [
                "address"
              ],
              "items": {
                "type": "object",
                "description": "ipv6NeighborAddress model.",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "ip address of the ipv6NeighborAddress."
                  },
                  "operationalState": {
                    "type": "string",
                    "description": "operationalState of the ipv6NeighborAddress.",
                    "readOnly": true
                  }
                }
              }
            }
          }
        },
        "disabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "administrativeState": {
          "description": "state. Example: Enabled | Disabled.",
          "readOnly": true,
          "$ref": "./common.json#/definitions/EnabledDisabledState"
        },
        "bgpDisabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
            "description": "ARM resource Id of the resource"
          },
          "readOnly": true
        },
        "bfdDisabledOnResources": {
          "type": "array",
          "description": "List of resources the L2 Isolation Domain is disabled on. Can be either entire NetworkFabric or NetworkRack.",
          "items": {
            "type": "string",
[...]
