{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/{networkFabricControllerName}": {
      "put": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Create",
        "summary": "Create Network fabric controller.",
        "description": "Implements Network Fabric Controller PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "CreateNetworkFabricController": {
            "$ref": "./examples/CreateNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Get",
        "summary": "Gets a Network Fabric Controller.",
        "description": "Implements Network Fabric Controller GET method.",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "GetNetworkFabricController": {
            "$ref": "./examples/GetNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Update",
        "summary": "Updates a Network Fabric Controller.",
        "description": "API to update certain properties of the Network Fabric Controller resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "UpdateNetworkFabricController": {
            "$ref": "./examples/UpdateNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Network Fabric Controller properties to update.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Delete",
        "summary": "Deletes a Network Fabric Controller.",
        "description": "Implements Network Fabric Controller DELETE method.",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "DeleteNetworkFabricController": {
            "$ref": "./examples/DeleteNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListByResourceGroup",
        "summary": "List NetworkFabricControllers by resource group.",
        "description": "Implements NetworkFabricControllers list by resource group GET method.",
        "x-ms-examples": {
          "ListByResourceGroupNetworkFabricController": {
            "$ref": "./examples/ListByResourceGroupNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricControllers under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListBySubscription",
        "summary": "List NetworkFabricControllers by subscription.",
        "description": "Implements NetworkFabricControllers list by subscription GET method.",
        "x-ms-examples": {
          "ListBySubscriptionNetworkFabricController": {
            "$ref": "./examples/ListBySubscriptionNetworkFabricController.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricControllers under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkFabricControllerProperties": {
      "type": "object",
      "properties": {
        "expressRouteConnections": {
          "type": "array",
          "description": "List of ExpressRouteConnections.",
          "x-ms-identifiers": [
            "expressRouteCircuitId"
          ],
          "items": {
            "$ref": "#/definitions/ExpressRouteConnectionInformation"
          }
        },
        "ipv4AddressSpaces": {
          "type": "array",
          "description": "List of IPv4 Network Fabric Controller Address Spaces.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "x-ms-identifiers": [
            "ipv4AddressSpace"
          ],
          "items": {
            "$ref": "#/definitions/IPV4AddressSpaceInformation"
          }
        },
        "ipv6AddressSpaces": {
          "type": "array",
          "description": "List of IPv6 Network Fabric Controller Address Spaces.",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "x-ms-identifiers": [
            "ipV6AddressSpace"
          ],
          "items": {
            "$ref": "#/definitions/IPV6AddressSpaceInformation"
          }
        },
        "operationalState": {
          "description": "Gets the operational state of the resource.",
          "$ref": "#/definitions/operationalStateProperties",
          "readOnly": true
        },
        "expressRouteConnectionStatus": {
          "type": "array",
          "description": "List of ExpressRouteConnections Status.",
          "x-ms-identifiers": [
            "expressRouteCircuitId"
          ],
          "items": {
            "$ref": "#/definitions/ExpressRouteStatusDef"
          },
          "readOnly": true
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "NetworkFabricControllerProperties define the resource properties."
    },
    "IPV4AddressSpaceInformation": {
      "type": "object",
      "properties": {
        "ipv4AddressSpace": {
          "type": "string",
          "description": "IPv4 Address Space in CIDR format. Example: 10.0.0.0/24."
        }
      },
      "description": "IPV4AddressSpace Information."
    },
    "IPV6AddressSpaceInformation": {
      "type": "object",
      "properties": {
        "ipV6AddressSpace": {
          "type": "string",
          "description": "IPv6 Address Space in CIDR format."
        }
      },
      "description": "IPV6AddressSpace Information."
    },
    "ExpressRouteConnectionInformation": {
      "type": "object",
      "properties": {
        "expressRouteCircuitId": {
          "type": "string",
          "description": "expressRouteCircuitId is the Azure Express Route circuit id."
        },
        "expressRouteAuthorizationKey": {
          "type": "string",
          "description": "expressRouteAuthorizationKey is the Azure Express Route authorization key used to connect to the Express Route Circuit.",
          "x-ms-secret": true
        }
      },
      "description": "ExpressRouteConnectionInformation defines the resource properties."
    },
    "ExpressRouteStatusDef": {
      "type": "object",
      "properties": {
        "expressRouteCircuitId": {
          "type": "string",
          "description": "expressRouteCircuitId is the Azure Express Route circuit id."
        },
        "expressRouteStatus": {
          "type": "string",
          "description": "expressRouteStatus is the Azure Express Route status. Example: Connected/Disconnected."
        }
      },
      "description": "ExpressRouteStatus defines the resource properties."
    },
    "NetworkFabricController": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkFabricControllerProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "The system data."
        }
      },
      "description": "The NetworkFabricController resource definition."
    },
    "NetworkFabricControllersListResult": {
      "type": "object",
      "description": "List of NetworkFabricControllers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkFabricController resources.",
          "items": {
            "$ref": "#/definitions/NetworkFabricController"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "operationalStateProperties": {
      "type": "string",
      "description": "Operational state for the resource.",
      "enum": [
        "Creating",
        "Configuring",
        "Updating",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "operationalState"
      }
    },
    "expressRouteConnectionStateProperties": {
      "type": "string",
      "description": "Express route connection state for the resource.",
      "enum": [
        "Connecting",
        "Configuring",
        "Updating",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "expressRouteConnectionState"
      }
    }
  },
  "parameters": {}
}
