{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Fabric API.",
    "version": "2022-01-15-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/{networkFabricControllerName}": {
      "put": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Create",
        "summary": "Create Network fabric controller.",
        "description": "Implements Network Fabric Controller PUT method.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "NetworkFabricControllers_Create_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Create_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_Create_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Create_MinimumSet_Gen.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Get",
        "summary": "Gets a Network Fabric Controller.",
        "description": "Implements Network Fabric Controller GET method.",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "NetworkFabricControllers_Get_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Get_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_Get_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Get_MinimumSet_Gen.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Update",
        "summary": "Updates a Network Fabric Controller.",
        "description": "API to update certain properties of the Network Fabric Controller resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "NetworkFabricControllers_Update_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Update_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_Update_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Update_MinimumSet_Gen.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Network Fabric Controller properties to update.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllerPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkFabricController"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_Delete",
        "summary": "Deletes a Network Fabric Controller.",
        "description": "Implements Network Fabric Controller DELETE method.",
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "NetworkFabricControllers_Delete_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Delete_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_Delete_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_Delete_MinimumSet_Gen.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "required": true,
            "type": "string",
            "description": "Name of the Network Fabric Controller"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListByResourceGroup",
        "summary": "List NetworkFabricControllers by resource group.",
        "description": "Implements NetworkFabricControllers list by resource group GET method.",
        "x-ms-examples": {
          "NetworkFabricControllers_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricControllers under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers": {
      "get": {
        "operationId": "NetworkFabricControllers_ListBySubscription",
        "summary": "List NetworkFabricControllers by subscription.",
        "description": "Implements NetworkFabricControllers list by subscription GET method.",
        "x-ms-examples": {
          "NetworkFabricControllers_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_ListBySubscription_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkFabricControllers under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkFabricControllersListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/{networkFabricControllerName}/enableWorkloadManagementNetwork": {
      "post": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_enableWorkloadManagementNetwork",
        "description": "Enable workloadManagementNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "description": "Name of the networkFabricController.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkFabricControllers_enableWorkloadManagementNetwork_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_enableWorkloadManagementNetwork_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_enableWorkloadManagementNetwork_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_enableWorkloadManagementNetwork_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkFabricControllers/{networkFabricControllerName}/disableWorkloadManagementNetwork": {
      "post": {
        "tags": [
          "NetworkFabricControllers"
        ],
        "operationId": "NetworkFabricControllers_disableWorkloadManagementNetwork",
        "description": "Disable workloadManagementNetwork.",
        "summary": "Implements the operation to the underlying hardware.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "networkFabricControllerName",
            "description": "Name of the networkFabricController.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkFabricControllers_disableWorkloadManagementNetwork_MaximumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_disableWorkloadManagementNetwork_MaximumSet_Gen.json"
          },
          "NetworkFabricControllers_disableWorkloadManagementNetwork_MinimumSet_Gen": {
            "$ref": "./examples/NetworkFabricControllers_disableWorkloadManagementNetwork_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkFabricControllerPatchableProperties": {
      "title": "Network Fabric Controller updatable properties",
      "type": "object",
      "properties": {
        "infrastructureExpressRouteConnections": {
          "type": "array",
          "description": "List of Infrastructure ExpressRouteConnections.",
          "x-ms-identifiers": [
            "expressRouteCircuitId"
          ],
          "items": {
            "$ref": "#/definitions/ExpressRouteConnectionInformation"
          }
        },
        "workloadExpressRouteConnections": {
          "type": "array",
          "description": "List of Workload ExpressRouteConnections.",
          "x-ms-identifiers": [
            "expressRouteCircuitId"
          ],
          "items": {
            "$ref": "#/definitions/ExpressRouteConnectionInformation"
          }
        }
      }
    },
    "NetworkFabricControllerProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "$ref": "#/definitions/NetworkFabricControllerPatchableProperties",
          "description": "Common patchable properties for Network Fabric Controller."
        }
      ],
      "properties": {
        "infrastructureServices": {
          "type": "object",
          "description": "InfrastructureServices IP ranges.",
          "properties": {
            "ipv4AddressSpaces": {
              "type": "array",
              "description": "List of IPv4 Network Fabric Controller Address Spaces.",
              "items": {
                "type": "string",
                "description": "IPv4 Network Fabric Controller Address Space."
              }
            },
            "ipv6AddressSpaces": {
              "type": "array",
              "description": "List of IPv6 Network Fabric Controller Address Spaces.",
              "items": {
                "type": "string",
                "description": "IPv6 Network Fabric Controller Address Space."
              }
            }
          },
          "readOnly": true
        },
        "workloadServices": {
          "type": "object",
          "description": "WorkloadServices IP ranges.",
          "properties": {
            "ipv4AddressSpaces": {
              "type": "array",
              "description": "List of IPv4 Network Fabric Controller Address Spaces.",
              "items": {
                "type": "string",
                "description": "IPv4 Network Fabric Controller Address Space."
              }
            },
            "ipv6AddressSpaces": {
              "type": "array",
              "description": "List of IPv6 Network Fabric Controller Address Spaces.",
              "items": {
                "type": "string",
                "description": "IPv6 Network Fabric Controller Address Space."
              }
            }
          },
          "readOnly": true
        },
        "managedResourceGroupConfiguration": {
          "type": "object",
          "description": "Managed Resource Group configuration properties.",
          "properties": {
            "name": {
              "type": "string",
              "description": "Managed resource group name."
            },
            "location": {
              "type": "string",
              "description": "Managed resource group location."
            }
          }
        },
        "networkFabricIds": {
          "type": "array",
          "description": "NetworkFabric Azure resource IDs from this Network Fabric Controller.",
          "items": {
            "description": "NetworkFabric Azure resource ID.",
            "type": "string"
          },
          "readOnly": true
        },
        "workloadManagementNetwork": {
          "type": "boolean",
          "description": "workloadManagementNetwork state.",
          "readOnly": true,
          "default": true
        },
        "ipv4AddressSpace": {
          "type": "string",
          "description": "IPv4 Network Fabric Controller Address Space."
        },
        "ipv6AddressSpace": {
          "type": "string",
          "description": "IPv6 Network Fabric Controller Address Space."
        },
        "operationalState": {
          "description": "Gets the operational state of the resource.",
          "$ref": "#/definitions/NetworkFabricControllerOperationalState",
          "readOnly": true
        },
        "provisioningState": {
          "description": "Gets the provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState",
          "readOnly": true
        }
      },
      "description": "NetworkFabricControllerProperties define the resource properties."
    },
    "ExpressRouteConnectionInformation": {
      "type": "object",
      "properties": {
        "expressRouteCircuitId": {
          "type": "string",
          "description": "The express route circuit Azure resource ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName."
        },
        "expressRouteAuthorizationKey": {
          "type": "string",
          "description": "Authorization key for the circuit, must be of type Microsoft.Network/expressRouteCircuits/authorizations.",
          "x-ms-secret": true
        }
      },
      "required": [
        "expressRouteCircuitId",
        "expressRouteAuthorizationKey"
      ],
      "description": "ExpressRouteConnectionInformation defines the resource properties."
    },
    "ExpressRouteStatusDef": {
      "type": "object",
      "properties": {
        "expressRouteCircuitId": {
          "type": "string",
          "description": "The express route circuit Azure resource ID, must be of type Microsoft.Network/expressRouteCircuits/circuitName."
        },
        "expressRouteStatus": {
          "type": "string",
          "description": "Express route connection state for the resource.",
          "enum": [
            "Connecting",
            "Connected",
            "Disconnected"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "expressRouteConnectionState"
          }
        }
      },
      "description": "ExpressRouteStatus defines the resource properties."
    },
    "NetworkFabricControllerOperationalState": {
      "type": "string",
      "description": "Operational state for the resource.",
      "enum": [
        "Configuring",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "modelAsString": true,
        "name": "networkFabricControllerOperationalState"
      },
      "readOnly": true
    },
    "NetworkFabricController": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "The NetworkFabricController resource definition.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkFabricControllerProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NetworkFabricControllerPatch": {
      "type": "object",
      "title": "Network Fabric Controller patch parameters",
      "description": "The NetworkFabricControllerPatch payload definition.",
      "properties": {
        "properties": {
          "description": "Network Fabric Controller patch properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkFabricControllerPatchableProperties"
        },
        "tags": {
          "description": "Azure resource tags that will replace the existing ones.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "NetworkFabricControllersListResult": {
      "type": "object",
      "description": "List of NetworkFabricControllers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkFabricController resources.",
          "items": {
            "$ref": "#/definitions/NetworkFabricController"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    }
  },
  "parameters": {}
}
