{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Marketplace SKU management service",
    "version": "2025-05-01",
    "description": "Microsoft.Marketplace Resource Provider management API for SKUs.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Skus"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Marketplace/skus": {
      "get": {
        "operationId": "Skus_ListByBillingProfile",
        "tags": [
          "Skus"
        ],
        "description": "Lists SKUs for billing profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileIdParameter"
          },
          {
            "name": "serviceFamily",
            "in": "query",
            "description": "The service family to filter by, such as 'Compute'.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "query",
            "description": "The service to filter by, such as 'Virtual Machines'.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is 'en'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Return SKUs available in the selected locations. Enumeration of the Azure datacenter regions. See https://azure.microsoft.com/regions/.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: $filter=serviceFamily eq 'Compute'. Fields that can be filtered by are:\n- `productId`\n- `serviceFamily`\n- `service`\n- `skuId`\n- `skuName`\n- `skuType`\n- `armRegionName`\n- `location`\n- `publisherId`\n- `productType`",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: $select=skuName,skuId",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Avoid using orderBy unless essential as this may impact the latency of your request. Example: $orderBy=skuName desc. This API only supports ordering by a single field. Fields that can be ordered by are:\n- `lastModifiedDateTime`\n- `skuName`\n- `skuId`\n- `productId`\n- `serviceFamily`\n- `service`",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SkuSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SKUs for billing profile": {
            "$ref": "./examples/Skus_ListByBillingProfile.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Marketplace/skus/{skuId}": {
      "get": {
        "operationId": "Skus_GetByBillingProfile",
        "tags": [
          "Skus"
        ],
        "description": "Gets a single SKU with availabilities for the given billing account and billing profile.\n\nSame as the billing-account-only variant, but additionally scopes the hydration\nclaims to a specific billing profile. Only meaningful for Modern (MCA) billing\naccounts; for EA billing accounts the billing profile is ignored.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/SkuIdParameter"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is 'en'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeStopSold",
            "in": "query",
            "description": "Include stop-sold SKUs in the response. Default is false.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeFutureAvailabilities",
            "in": "query",
            "description": "Include availabilities whose start date is in the future. Default is false.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetByBillingProfile": {
            "$ref": "./examples/Skus_GetByBillingProfile.json"
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Marketplace/skus": {
      "get": {
        "operationId": "Skus_ListByBillingAccount",
        "tags": [
          "Skus"
        ],
        "description": "Lists SKUs for billing account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "name": "serviceFamily",
            "in": "query",
            "description": "The service family to filter by, such as 'Compute'.",
            "required": true,
            "type": "string"
          },
          {
            "name": "service",
            "in": "query",
            "description": "The service to filter by, such as 'Virtual Machines'.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is 'en'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "locations",
            "in": "query",
            "description": "Return SKUs available in the selected locations. Enumeration of the Azure datacenter regions. See https://azure.microsoft.com/regions/.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition. Example: $filter=serviceFamily eq 'Compute'. Fields that can be filtered by are:\n- `productId`\n- `serviceFamily`\n- `service`\n- `skuId`\n- `skuName`\n- `skuType`\n- `armRegionName`\n- `location`\n- `publisherId`\n- `productType`",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the results. Example: $select=skuName,skuId",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderBy",
            "in": "query",
            "description": "Ordering expression for the results using OData notation. Avoid using orderBy unless essential as this may impact the latency of your request. Example: $orderBy=skuName desc. This API only supports ordering by a single field. Fields that can be ordered by are:\n- `lastModifiedDateTime`\n- `skuName`\n- `skuId`\n- `productId`\n- `serviceFamily`\n- `service`",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SkuSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SKUs for billing account": {
            "$ref": "./examples/Skus_ListByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Marketplace/skus/{skuId}": {
      "get": {
        "operationId": "Skus_GetByBillingAccount",
        "tags": [
          "Skus"
        ],
        "description": "Gets a single SKU with availabilities for the given billing account.\n\nReturns full SKU details (including availabilities) for the SKU identified by\nthe composite `productId/skuId`, scoped to the given billing account. The caller\nmust have billing account permissions. Supports both EA (legacy) and Modern (MCA)\nbilling account ID formats.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/BillingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/SkuIdParameter"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language to search, ISO 639-1 two-letter code, possible values - 'en,cs,de,es,fr,hu,it,ja,ko,nl,pl,pt-br,pt-pt,ru,sv,tr,id,zh-hans,zh-hant'. Default is 'en'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeStopSold",
            "in": "query",
            "description": "Include stop-sold SKUs in the response. Default is false.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeFutureAvailabilities",
            "in": "query",
            "description": "Include availabilities whose start date is in the future. Default is false.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SkuDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Skus_GetByBillingAccount": {
            "$ref": "./examples/Skus_GetByBillingAccount.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Attribute": {
      "type": "object",
      "description": "Key-value attribute pair.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The attribute key."
        },
        "value": {
          "type": "string",
          "description": "The attribute value."
        }
      }
    },
    "Availability": {
      "type": "object",
      "description": "Availability for a given plan",
      "properties": {
        "id": {
          "type": "string",
          "description": "The document id"
        },
        "actions": {
          "type": "array",
          "description": "List of allowed actions",
          "items": {
            "type": "string"
          }
        },
        "meter": {
          "$ref": "#/definitions/Meter",
          "description": "Applicable billing meter information"
        },
        "pricingAudience": {
          "type": "string",
          "description": "Specifies the distribution channel and customer segment for product pricing and availability. Possible values:\\n- `Direct-Commercial` - Available through direct Azure Marketplace purchases for commercial customers without intermediaries like partners or resellers\\n- `Partner-Commercial` - Available through Cloud Solution Provider partner channel for reseller distribution"
        },
        "terms": {
          "type": "array",
          "description": "List of applicable terms",
          "items": {
            "$ref": "#/definitions/Term"
          },
          "x-ms-identifiers": []
        },
        "hasFreeTrials": {
          "type": "boolean",
          "description": "A value indicating whether it has free trials"
        },
        "consumptionUnitType": {
          "type": "string",
          "description": "Consumption unit type"
        },
        "displayRank": {
          "type": "integer",
          "format": "int32",
          "description": "Display rank"
        }
      },
      "required": [
        "pricingAudience",
        "hasFreeTrials",
        "displayRank"
      ]
    },
    "BillingAccountBaseParameters": {
      "type": "object",
      "description": "The static parameters for a billing account based resource.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version to use for this operation.",
          "minLength": 1
        },
        "billingAccountId": {
          "type": "string",
          "description": "The ID of the target billing account.",
          "minLength": 1
        }
      },
      "required": [
        "apiVersion",
        "billingAccountId"
      ]
    },
    "BillingPlan": {
      "type": "object",
      "description": "Renew Billing Plan",
      "properties": {
        "billingPeriod": {
          "type": "string",
          "description": "Billing period"
        },
        "title": {
          "type": "string",
          "description": "Title of the billing plan"
        },
        "description": {
          "type": "string",
          "description": "Description of the billing plan"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "Retail price with currency"
        }
      }
    },
    "BillingProfileBaseParameters": {
      "type": "object",
      "description": "The static parameters for a billing profile based resource.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The API version to use for this operation.",
          "minLength": 1
        },
        "billingAccountId": {
          "type": "string",
          "description": "The ID of the target billing account.",
          "minLength": 1
        },
        "billingProfileId": {
          "type": "string",
          "description": "The ID of the target billing profile.",
          "minLength": 1
        }
      },
      "required": [
        "apiVersion",
        "billingAccountId",
        "billingProfileId"
      ]
    },
    "IncludedQuantityProperty": {
      "type": "object",
      "description": "Included quantity properties for a meter",
      "properties": {
        "termId": {
          "type": "string",
          "description": "Term id"
        },
        "quantity": {
          "type": "string",
          "description": "Included quantity"
        }
      }
    },
    "LifecyclePolicy": {
      "type": "object",
      "description": "Defines the lifecycle management policy for the term",
      "properties": {
        "graceDuration": {
          "type": "string",
          "description": "Grace period duration where customers retain access to their product. Examples: 'P1M' (1 month), 'P30D' (30 days), 'P0D' (0 days)"
        },
        "inactiveDuration": {
          "type": "string",
          "description": "Inactive period duration"
        },
        "lockoutDuration": {
          "type": "string",
          "description": "Lockout period duration"
        }
      }
    },
    "Meter": {
      "type": "object",
      "description": "Applicable billing meter information",
      "properties": {
        "meterId": {
          "type": "string",
          "description": "Meter id"
        },
        "partNumber": {
          "type": "string",
          "description": "Compute part number"
        },
        "consumptionResourceId": {
          "type": "string",
          "description": "Consumption resource id"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "Retail price with currency"
        },
        "type": {
          "type": "string",
          "description": "Type of this meter"
        },
        "includedQuantityProperties": {
          "type": "array",
          "description": "Included quantity properties",
          "items": {
            "$ref": "#/definitions/IncludedQuantityProperty"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "OfferingProperties": {
      "type": "object",
      "description": "Offering properties such as: product code (UPN), term id, meter type, offering id.",
      "properties": {
        "meterType": {
          "type": "string",
          "description": "The meter type."
        },
        "billingMeterId": {
          "type": "string",
          "description": "The billing meter id."
        },
        "offeringId": {
          "type": "string",
          "description": "The offering id."
        },
        "productCode": {
          "type": "string",
          "description": "The product code (UPN)."
        },
        "termId": {
          "type": "string",
          "description": "The term id."
        },
        "type": {
          "type": "string",
          "description": "The pricing property type (e.g., Consumption, Reservation, Entitlement)."
        }
      }
    },
    "Price": {
      "type": "object",
      "description": "Retail price with currency",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Currency code i.e. 'USD'"
        },
        "isPiRequired": {
          "type": "boolean",
          "description": "A value indicating whether a payment instrument is required"
        },
        "listPrice": {
          "type": "number",
          "format": "float",
          "description": "Retail price for the item"
        },
        "msrp": {
          "type": "number",
          "format": "float",
          "description": "Manufacturer's suggested retail price for the item"
        }
      },
      "required": [
        "isPiRequired",
        "listPrice",
        "msrp"
      ]
    },
    "ProductAlternateIds": {
      "type": "object",
      "description": "Product-level alternate ids (product id without SKU id), used for OData lookup on SKUs of a specific product.",
      "properties": {
        "applicablePromotion": {
          "type": "array",
          "description": "Applicable promotion product identifiers.",
          "items": {
            "type": "string"
          }
        },
        "addOnParent": {
          "type": "array",
          "description": "Add-on parent product identifiers.",
          "items": {
            "type": "string"
          }
        },
        "applicableFuturePriceConcession": {
          "type": "array",
          "description": "Applicable future price concession product identifiers.",
          "items": {
            "type": "string"
          }
        },
        "benefitSku": {
          "type": "array",
          "description": "Benefit SKU product identifiers.",
          "items": {
            "type": "string"
          }
        },
        "includedInBundle": {
          "type": "array",
          "description": "Included in bundle product identifiers.",
          "items": {
            "type": "string"
          }
        },
        "associatedSku": {
          "type": "array",
          "description": "Associated SKU product identifiers.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ProrationPolicy": {
      "type": "object",
      "description": "Proration policy",
      "properties": {
        "minimumProratedUnits": {
          "type": "string",
          "description": "Minimum prorated units"
        }
      }
    },
    "Sku": {
      "type": "object",
      "description": "SKU resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SkuSummary",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SkuAlternateIds": {
      "type": "object",
      "description": "Alternate ids for the SKU.",
      "properties": {
        "aadSkuId": {
          "type": "array",
          "description": "AAD SKU identifiers.",
          "items": {
            "type": "string"
          }
        },
        "legacyOfferGuid": {
          "type": "array",
          "description": "Legacy offer GUID identifiers.",
          "items": {
            "type": "string"
          }
        },
        "applicablePromotion": {
          "type": "array",
          "description": "Applicable promotion identifiers.",
          "items": {
            "type": "string"
          }
        },
        "addOnParent": {
          "type": "array",
          "description": "Add-on parent identifiers.",
          "items": {
            "type": "string"
          }
        },
        "applicableFuturePriceConcession": {
          "type": "array",
          "description": "Applicable future price concession identifiers.",
          "items": {
            "type": "string"
          }
        },
        "benefitSku": {
          "type": "array",
          "description": "Benefit SKU identifiers.",
          "items": {
            "type": "string"
          }
        },
        "includedInBundle": {
          "type": "array",
          "description": "Included in bundle identifiers.",
          "items": {
            "type": "string"
          }
        },
        "associatedSku": {
          "type": "array",
          "description": "Associated SKU identifiers.",
          "items": {
            "type": "string"
          }
        },
        "products": {
          "$ref": "#/definitions/ProductAlternateIds",
          "description": "Product-level alternate ids (product id without SKU id), used for OData lookup on SKUs of a specific product."
        }
      }
    },
    "SkuDetails": {
      "type": "object",
      "description": "Detailed description of the SKU. Inherits all properties of `SkuSummary`\nand adds the hydrated `availabilities` collection (filtered by the billing\naccount's eligibility).",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "Availabilities for this SKU.",
          "items": {
            "$ref": "#/definitions/Availability"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SkuSummary"
        }
      ]
    },
    "SkuProperties": {
      "type": "object",
      "description": "SKU properties, can be different per each service family.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The SKU category."
        },
        "dataDiskType": {
          "type": "string",
          "description": "The data disk type, such as 'Ssd'."
        },
        "diskType": {
          "type": "string",
          "description": "The disk type, such as 'Ssd'."
        },
        "numberOfCores": {
          "type": "string",
          "description": "The number of cores."
        },
        "ram": {
          "type": "string",
          "description": "The RAM."
        },
        "vCpu": {
          "type": "string",
          "description": "The number of virtual CPUs."
        },
        "armSkuName": {
          "type": "string",
          "description": "The ARM SKU name."
        },
        "accessTier": {
          "type": "string",
          "description": "The access tier, such as 'Standard'."
        }
      }
    },
    "SkuSummary": {
      "type": "object",
      "description": "Summary description of the SKU.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The unique id of the product."
        },
        "productDisplayName": {
          "type": "string",
          "description": "Product display name."
        },
        "productDescription": {
          "type": "string",
          "description": "The product description text."
        },
        "serviceFamily": {
          "type": "string",
          "description": "The service family of the product, such as 'Compute'."
        },
        "service": {
          "type": "string",
          "description": "The service name of the product, such as 'Virtual Machines'."
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id."
        },
        "publisherType": {
          "type": "string",
          "description": "Identifies the publisher relationship to Microsoft for support and partnership classification.\\n- `Microsoft` - First-party Microsoft product with direct Microsoft support and development\\n- `ThirdParty` - Independent software vendor product with publisher-provided support and maintenance"
        },
        "productType": {
          "type": "string",
          "description": "Offer type."
        },
        "productSubType": {
          "type": "string",
          "description": "Product sub type."
        },
        "summary": {
          "type": "string",
          "description": "Product summary."
        },
        "productAttributes": {
          "type": "array",
          "description": "The product attributes.",
          "items": {
            "$ref": "#/definitions/Attribute"
          },
          "x-ms-identifiers": []
        },
        "skuName": {
          "type": "string",
          "description": "SKU name."
        },
        "skuId": {
          "type": "string",
          "description": "SKU id.",
          "readOnly": true
        },
        "skuType": {
          "type": "string",
          "description": "SKU type."
        },
        "language": {
          "type": "string",
          "description": "Language code for the SKU content."
        },
        "skuDescription": {
          "type": "string",
          "description": "SKU description localized."
        },
        "skuTitle": {
          "type": "string",
          "description": "SKU title localized."
        },
        "lastModifiedDateTime": {
          "type": "string",
          "description": "Latest update date of the SKU."
        },
        "location": {
          "type": "string",
          "description": "Location (region)."
        },
        "armRegionName": {
          "type": "string",
          "description": "The ARM region name."
        },
        "cloud": {
          "type": "string",
          "description": "The cloud, such as 'Global'."
        },
        "locationType": {
          "type": "string",
          "description": "The location type, such as 'Region'."
        },
        "region": {
          "type": "string",
          "description": "The region."
        },
        "skuGroupId": {
          "type": "string",
          "description": "The SKU group id."
        },
        "zone": {
          "type": "string",
          "description": "The zone, such as 'Zone 1'."
        },
        "feature": {
          "type": "string",
          "description": "The feature."
        },
        "serviceType": {
          "type": "string",
          "description": "The service type."
        },
        "minQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum order quantity."
        },
        "maxQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum order quantity."
        },
        "cspState": {
          "type": "string",
          "description": "Controls plan availability and partner access within the Microsoft Cloud Solution Provider (CSP) program.\\n- `OptIn` - Enables all authorized Cloud Solution Provider partners to resell and deploy the product to customers\\n- `OptOut` - Excluded from Cloud Solution Provider program, available only through direct channels\\n- `SelectiveOptIn` - Available only to selected Cloud Solution Provider partners for resale and customer deployment"
        },
        "hasRi": {
          "type": "boolean",
          "description": "A value indicating whether the SKU supports reservations."
        },
        "skuAttributes": {
          "type": "array",
          "description": "The SKU attributes.",
          "items": {
            "$ref": "#/definitions/Attribute"
          },
          "x-ms-identifiers": []
        },
        "skuProperties": {
          "$ref": "#/definitions/SkuProperties",
          "description": "The SKU properties."
        },
        "offeringProperties": {
          "type": "array",
          "description": "Offering properties such as: product code (UPN), term id, meter type, offering id.",
          "items": {
            "$ref": "#/definitions/OfferingProperties"
          },
          "x-ms-identifiers": []
        },
        "alternateIds": {
          "$ref": "#/definitions/SkuAlternateIds",
          "description": "Alternate ids for the SKU."
        },
        "offeringType": {
          "type": "string",
          "description": "Offering type of product family Offers."
        },
        "categoryIds": {
          "type": "array",
          "description": "Category IDs for this SKU.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "productId",
        "skuName",
        "skuId",
        "skuType",
        "language",
        "skuDescription",
        "skuTitle",
        "location",
        "cloud",
        "locationType"
      ]
    },
    "SkuSummaryListResult": {
      "type": "object",
      "description": "The response of a SkuSummary list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SkuSummary items on this page",
          "items": {
            "$ref": "#/definitions/SkuSummary"
          },
          "x-ms-identifiers": [
            "skuId"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Term": {
      "type": "object",
      "description": "Applicable term",
      "properties": {
        "termDescriptionParameters": {
          "type": "array",
          "description": "Term description parameters",
          "items": {
            "$ref": "#/definitions/TermDescriptionParameter"
          },
          "x-ms-identifiers": [
            "parameter",
            "value"
          ]
        },
        "termId": {
          "type": "string",
          "description": "Term id"
        },
        "termUnit": {
          "type": "string",
          "description": "Term unit"
        },
        "prorationPolicy": {
          "$ref": "#/definitions/ProrationPolicy",
          "description": "Defines the rules for calculating prorated charges or refunds for a subscription."
        },
        "termDescription": {
          "type": "string",
          "description": "Term description"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "Retail price with currency"
        },
        "renewTermId": {
          "type": "string",
          "description": "Renew term id"
        },
        "renewTermUnits": {
          "type": "string",
          "description": "Renew term units"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan",
          "description": "Billing Plan"
        },
        "renewToTermBillingPlan": {
          "type": "string",
          "description": "Renew Billing Plan"
        },
        "isAutorenewable": {
          "type": "boolean",
          "description": "Indicates if autorenew is enabled"
        },
        "lifecyclePolicy": {
          "$ref": "#/definitions/LifecyclePolicy",
          "description": "Defines the lifecycle management policy for the term"
        },
        "productCode": {
          "type": "string",
          "description": "Product code for this term"
        },
        "state": {
          "type": "string",
          "description": "Term state"
        },
        "actions": {
          "type": "array",
          "description": "Term Actions",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TermDescriptionParameter": {
      "type": "object",
      "description": "Term description parameters",
      "properties": {
        "parameter": {
          "type": "string",
          "description": "Description parameter"
        },
        "value": {
          "type": "string",
          "description": "Parameter's value"
        }
      }
    }
  },
  "parameters": {
    "BillingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "The ID of the target billing account.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "BillingProfileIdParameter": {
      "name": "billingProfileId",
      "in": "path",
      "description": "The ID of the target billing profile.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "SkuIdParameter": {
      "name": "skuId",
      "in": "path",
      "description": "The ID of the SKU",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    }
  }
}
