{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.CompositeSolutions",
    "version": "2024-03-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CompositeSolutions"
    },
    {
      "name": "CompositeSolutionDefinitions"
    }
  ],
  "paths": {
    "/providers/Microsoft.CompositeSolutions/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CompositeSolutions/compositeSolutionDefinitions": {
      "get": {
        "operationId": "CompositeSolutionDefinitions_ListBySubscription",
        "tags": [
          "CompositeSolutionDefinitions"
        ],
        "description": "List CompositeSolutionDefinition resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutionDefinitions_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_ListBySubscription_MaximumSet_Gen.json"
          },
          "CompositeSolutionDefinitions_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CompositeSolutions/compositeSolutions": {
      "get": {
        "operationId": "CompositeSolutions_ListBySubscription",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "List CompositeSolution resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_ListBySubscription_MaximumSet_Gen.json"
          },
          "CompositeSolutions_ListBySubscription - generated by [MinimumSet] rule": {
            "$ref": "./examples/CompositeSolutions_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CompositeSolutions/compositeSolutionDefinitions": {
      "get": {
        "operationId": "CompositeSolutionDefinitions_ListByResourceGroup",
        "tags": [
          "CompositeSolutionDefinitions"
        ],
        "description": "List CompositeSolutionDefinition resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutionDefinitions_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "CompositeSolutionDefinitions_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CompositeSolutions/compositeSolutionDefinitions/{compositeSolutionDefinition}": {
      "get": {
        "operationId": "CompositeSolutionDefinitions_Get",
        "tags": [
          "CompositeSolutionDefinitions"
        ],
        "description": "Get a CompositeSolutionDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionDefinition",
            "in": "path",
            "description": "The name of the composite solution definition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutionDefinitions_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CompositeSolutionDefinitions_CreateOrUpdate",
        "tags": [
          "CompositeSolutionDefinitions"
        ],
        "description": "Create a CompositeSolutionDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionDefinition",
            "in": "path",
            "description": "The name of the composite solution definition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CompositeSolutionDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinition"
            }
          },
          "201": {
            "description": "Resource 'CompositeSolutionDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutionDefinitions_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "CompositeSolutionDefinitions_Update",
        "tags": [
          "CompositeSolutionDefinitions"
        ],
        "description": "Update a CompositeSolutionDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionDefinition",
            "in": "path",
            "description": "The name of the composite solution definition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinitionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutionDefinitions_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "CompositeSolutionDefinitions_Delete",
        "tags": [
          "CompositeSolutionDefinitions"
        ],
        "description": "Delete a CompositeSolutionDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionDefinition",
            "in": "path",
            "description": "The name of the composite solution definition",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutionDefinitions_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutionDefinitions_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CompositeSolutions/compositeSolutions": {
      "get": {
        "operationId": "CompositeSolutions_ListByResourceGroup",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "List CompositeSolution resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "CompositeSolutions_ListByResourceGroup - generated by [MinimumSet] rule": {
            "$ref": "./examples/CompositeSolutions_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CompositeSolutions/compositeSolutions/{compositeSolutionName}": {
      "get": {
        "operationId": "CompositeSolutions_Get",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "Get a CompositeSolution",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionName",
            "in": "path",
            "description": "The name of the composite solution",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CompositeSolutions_CreateOrUpdate",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "Create a CompositeSolution",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionName",
            "in": "path",
            "description": "The name of the composite solution",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeSolution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CompositeSolution' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CompositeSolution"
            }
          },
          "201": {
            "description": "Resource 'CompositeSolution' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CompositeSolution"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CompositeSolutions_Update",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "Update a CompositeSolution",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionName",
            "in": "path",
            "description": "The name of the composite solution",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompositeSolutionUpdate1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompositeSolution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "CompositeSolutions_Delete",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "Delete a CompositeSolution",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionName",
            "in": "path",
            "description": "The name of the composite solution",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_Delete - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CompositeSolutions/compositeSolutions/{compositeSolutionName}/detailedStatus": {
      "post": {
        "operationId": "CompositeSolutions_DetailedStatus",
        "tags": [
          "CompositeSolutions"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "compositeSolutionName",
            "in": "path",
            "description": "The name of the composite solution",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DetailedStatusResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CompositeSolutions_DetailedStatus - generated by [MaximumSet] rule": {
            "$ref": "./examples/CompositeSolutions_DetailedStatus_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.Legacy.ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "BundleProfile": {
      "type": "object",
      "description": "The properties related to Bundle",
      "properties": {
        "repository": {
          "type": "string",
          "description": "OCI repository of the current bundle",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tag": {
          "type": "string",
          "description": "OCI tag of the current bundle definition.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "repository"
      ]
    },
    "BundleProfileUpdate": {
      "type": "object",
      "description": "The properties related to Bundle",
      "properties": {
        "tag": {
          "type": "string",
          "description": "OCI tag of the current bundle definition.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "CompositeSolution": {
      "type": "object",
      "description": "A CompositeSolutionProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CompositeSolutionProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CompositeSolutionDefinition": {
      "type": "object",
      "description": "A CompositeSolutionProviderHub resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CompositeSolutionDefinitionProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CompositeSolutionDefinitionListResult": {
      "type": "object",
      "description": "The response of a CompositeSolutionDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CompositeSolutionDefinition items on this page",
          "items": {
            "$ref": "#/definitions/CompositeSolutionDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CompositeSolutionDefinitionProperties": {
      "type": "object",
      "description": "Details of the CompositeSolutionDefinition.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "bundleProfile": {
          "$ref": "#/definitions/BundleProfile",
          "description": "Bundle Profile.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameters": {
          "type": "array",
          "description": "Parameters for the composite solution",
          "items": {
            "$ref": "#/definitions/Parameter"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "credentials": {
          "type": "array",
          "description": "Credentials for the composite solution",
          "items": {
            "$ref": "#/definitions/Credential"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "mixins": {
          "type": "array",
          "description": "List of mixins used in the composite solution package",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "bundleProfile"
      ]
    },
    "CompositeSolutionDefinitionPropertiesUpdate": {
      "type": "object",
      "description": "The template for adding optional properties.",
      "properties": {
        "bundleProfile": {
          "$ref": "#/definitions/BundleProfileUpdate",
          "description": "Bundle Profile.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "CompositeSolutionDefinitionUpdate": {
      "type": "object",
      "description": "Path request body for CompositeSolutionDefinitionProperties",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentityUpdate",
          "description": "Updatable managed service identity"
        },
        "properties": {
          "$ref": "#/definitions/CompositeSolutionDefinitionPropertiesUpdate",
          "description": "RP-specific properties"
        }
      }
    },
    "CompositeSolutionListResult": {
      "type": "object",
      "description": "The response of a CompositeSolution list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CompositeSolution items on this page",
          "items": {
            "$ref": "#/definitions/CompositeSolution"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CompositeSolutionProperties": {
      "type": "object",
      "description": "Details of the CompositeSolution.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "compositeSolutionDefinitionId": {
          "type": "string",
          "description": "compositeSolutionDefinition resource identifier indicating which solution to deploy",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameters": {
          "type": "array",
          "description": "Bundle Parameters.",
          "items": {
            "$ref": "#/definitions/ParameterValue"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "credentials": {
          "type": "array",
          "description": "Array of secret",
          "items": {
            "$ref": "#/definitions/KeyVaultSecretReference"
          },
          "x-ms-identifiers": [
            "credentialName"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "outputs": {
          "type": "array",
          "description": "Bundle Outputs.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "friendlyName": {
          "type": "string",
          "description": "Bundle Friendly Name.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "saasOfferId": {
          "type": "string",
          "description": "Solution Center Offer ID.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "compositeSolutionDefinitionId",
        "parameters"
      ]
    },
    "CompositeSolutionPropertiesUpdate": {
      "type": "object",
      "description": "The template for adding optional properties.",
      "properties": {
        "compositeSolutionDefinitionId": {
          "type": "string",
          "description": "compositeSolutionDefinition resource identifier indicating which solution to deploy",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "parameters": {
          "type": "array",
          "description": "Bundle Parameters.",
          "items": {
            "$ref": "#/definitions/ParameterValue"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "credentials": {
          "type": "array",
          "description": "Array of secret",
          "items": {
            "$ref": "#/definitions/KeyVaultSecretReference"
          },
          "x-ms-identifiers": [
            "credentialName"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "friendlyName": {
          "type": "string",
          "description": "Bundle Friendly Name.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "saasOfferId": {
          "type": "string",
          "description": "Solution Center Offer ID.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "CompositeSolutionUpdate1": {
      "type": "object",
      "description": "Path request body for CompositeSolutionProperties",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentityUpdate",
          "description": "Updatable managed service identity"
        },
        "properties": {
          "$ref": "#/definitions/CompositeSolutionPropertiesUpdate",
          "description": "RP-specific properties"
        }
      }
    },
    "Credential": {
      "type": "object",
      "description": "Credential model",
      "properties": {
        "name": {
          "type": "string",
          "description": "Credential name"
        },
        "isRequired": {
          "type": "boolean",
          "description": "Whether the credential is required or not"
        },
        "applicableOperations": {
          "type": "array",
          "description": "Which operations this credential applies to. If not specified, this credential applies to all operations.",
          "items": {
            "type": "string"
          }
        },
        "microsoftTargets": {
          "type": "array",
          "description": "Which Microsoft cloud(s) the parameter applies to",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the credential"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the parameter"
        }
      },
      "required": [
        "name",
        "isRequired",
        "applicableOperations",
        "microsoftTargets",
        "displayName"
      ]
    },
    "CrpMetadata": {
      "type": "object",
      "description": "Metadata associated with the bundle",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Schema version of the metadata"
        },
        "mixin": {
          "type": "string",
          "description": "Name of the metadata"
        }
      },
      "required": [
        "schema",
        "mixin"
      ]
    },
    "DetailedStatusResponse": {
      "type": "object",
      "description": "Detailed Status Response",
      "properties": {
        "value": {
          "type": "array",
          "description": "Array of responses",
          "items": {
            "$ref": "#/definitions/MixinDetailedStatus"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "KeyVaultSecretReference": {
      "type": "object",
      "description": "KeyVault Secret Reference",
      "properties": {
        "credentialName": {
          "type": "string",
          "description": "The secret name"
        },
        "secretName": {
          "type": "string",
          "description": "The secret name"
        }
      },
      "required": [
        "credentialName",
        "secretName"
      ]
    },
    "ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "The template for adding optional properties.",
      "properties": {
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Legacy.ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity"
          }
        }
      }
    },
    "MixinDetailedStatus": {
      "type": "object",
      "description": "Mixin Detailed Status",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource Id"
        },
        "itemName": {
          "type": "string",
          "description": "Item Name"
        },
        "executionStatus": {
          "type": "string",
          "description": "Execution Status"
        },
        "dateTime": {
          "type": "string",
          "description": "Date"
        },
        "mixinName": {
          "type": "string",
          "description": "Mixin Name"
        },
        "isActive": {
          "type": "boolean",
          "description": "Whether is active"
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation Id to flow across all components"
        },
        "installationName": {
          "type": "string",
          "description": "Porter installation name"
        },
        "installationNameSpace": {
          "type": "string",
          "description": "Porter namespace '-n'"
        },
        "porterCorrelationId": {
          "type": "string",
          "description": "Porter Correlation Id"
        },
        "cnabRevision": {
          "type": "string",
          "description": "CNAB revision"
        }
      },
      "required": [
        "resourceId",
        "itemName",
        "executionStatus",
        "dateTime",
        "mixinName",
        "isActive",
        "correlationId",
        "installationName",
        "installationNameSpace",
        "porterCorrelationId",
        "cnabRevision"
      ]
    },
    "Parameter": {
      "type": "object",
      "description": "Parameter model",
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter name"
        },
        "type": {
          "type": "string",
          "description": "Data type of the parameter (string, int, etc)"
        },
        "exclusiveMinimum": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum value allowed (> than value specified).  Only applies to numerics."
        },
        "exclusiveMaximum": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum value allowed (< than value specified). Only applies to numerics."
        },
        "isRequired": {
          "type": "boolean",
          "description": "Whether the parameter is required or not"
        },
        "maximum": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum value allowed (>= value specified). Only applies to numerics."
        },
        "minimum": {
          "type": "integer",
          "format": "int64",
          "description": "Minimum value allowed (<= value specified). Only applies to numerics."
        },
        "description": {
          "type": "string",
          "description": "Description of the parameter"
        },
        "maxLength": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum length of the parameter. Only applies to strings."
        },
        "minLength": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum length of the parameter. Only applies to strings."
        },
        "applicableOperations": {
          "type": "array",
          "description": "Which operations this parameter applies to. If not specified, this parameter applies to all operations.",
          "items": {
            "type": "string"
          }
        },
        "microsoftTargets": {
          "type": "array",
          "description": "Which Microsoft cloud(s) the parameter applies to",
          "items": {
            "type": "string"
          }
        },
        "readOnly": {
          "type": "boolean",
          "description": "Whether the property is read only"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the parameter"
        },
        "default": {
          "type": "object",
          "description": "The default value of the parameter"
        },
        "allowedValues": {
          "type": "array",
          "description": "Allowed values",
          "items": {
            "type": "object"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "name",
        "isRequired",
        "applicableOperations",
        "microsoftTargets",
        "readOnly",
        "displayName"
      ]
    },
    "ParameterValue": {
      "type": "object",
      "description": "Paramter Value",
      "properties": {
        "name": {
          "type": "string",
          "description": "The parameter name"
        },
        "value": {
          "type": "object",
          "description": "Value of the Parameter"
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
