{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2019-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceUri}/providers/Microsoft.Insights/metricBaselines": {
      "get": {
        "tags": [
          "Baseline",
          "Metric"
        ],
        "operationId": "Baselines_List",
        "description": "**Lists the metric baseline values for a resource**.",
        "x-ms-examples": {
          "Get metric baselines": {
            "$ref": "./examples/metricBaselines.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/MetricNamesParameter"
          },
          {
            "$ref": "#/parameters/MetricNamespaceParameter"
          },
          {
            "$ref": "#/parameters/TimespanParameter"
          },
          {
            "$ref": "#/parameters/IntervalParameter"
          },
          {
            "$ref": "#/parameters/AggregationsParameter"
          },
          {
            "$ref": "#/parameters/SensitivitiesParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The **$filter** is used to reduce the set of metric data returned. Example: Metric contains metadata A, B and C. - Return all time series of C where A = a1 and B = b1 or b2 **$filter=A eq 'a1' and B eq 'b1' or B eq 'b2' and C eq '*'** - Invalid variant: **$filter=A eq 'a1' and B eq 'b1' and C eq '*' or B = 'b2'** This is invalid because the logical or operator cannot separate two different metadata names. - Return all time series where A = a1, B = b1 and C = c1: **$filter=A eq 'a1' and B eq 'b1' and C eq 'c1'** - Return all time series where A = a1 **$filter=A eq 'a1' and B eq '*' and C eq '*'**. Special case: When dimension name or dimension value uses round brackets. Eg: When dimension name is **dim (test) 1** Instead of using $filter= \"dim (test) 1 eq '*' \" use **$filter= \"dim %2528test%2529 1 eq '*' \"** When dimension name is **dim (test) 3** and dimension value is **dim3 (test) val** Instead of using $filter= \"dim (test) 3 eq 'dim3 (test) val' \" use **$filter= \"dim %2528test%2529 3 eq 'dim3 %2528test%2529 val' \"**",
            "required": false
          },
          {
            "$ref": "#/parameters/BaselineResultTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric baseline values.",
            "schema": {
              "$ref": "#/definitions/MetricBaselinesResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "MetricBaselinesResponse": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SingleMetricBaseline"
          },
          "description": "The list of metric baselines."
        }
      },
      "description": "A list of metric baselines."
    },
    "SingleMetricBaseline": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The metric baseline Id."
        },
        "type": {
          "type": "string",
          "description": "The resource type of the metric baseline resource."
        },
        "name": {
          "type": "string",
          "description": "The name of the metric for which the baselines were retrieved."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MetricBaselinesProperties",
          "description": "The metric baseline properties of the metric."
        }
      },
      "required": [
        "id",
        "type",
        "name",
        "properties"
      ],
      "description": "The baseline results of a single metric."
    },
    "MetricBaselinesProperties": {
      "type": "object",
      "properties": {
        "timespan": {
          "type": "string",
          "description": "The timespan for which the data was retrieved. Its value consists of two datetimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested."
        },
        "interval": {
          "type": "string",
          "format": "duration",
          "description": "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made."
        },
        "namespace": {
          "type": "string",
          "description": "The namespace of the metrics been queried."
        },
        "baselines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeSeriesBaseline"
          },
          "x-ms-identifiers": [],
          "description": "The baseline for each time series that was queried."
        }
      },
      "required": [
        "timespan",
        "interval",
        "baselines"
      ],
      "description": "The response to a metric baselines query."
    },
    "TimeSeriesBaseline": {
      "properties": {
        "aggregation": {
          "type": "string",
          "description": "The aggregation type of the metric."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSingleDimension"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "The dimensions of this time series."
        },
        "timestamps": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp for the baseline value in ISO 8601 format."
          },
          "description": "The list of timestamps of the baselines."
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SingleBaseline"
          },
          "x-ms-identifiers": [],
          "description": "The baseline values for each sensitivity."
        },
        "metadataValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BaselineMetadata"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "The baseline metadata values."
        }
      },
      "required": [
        "aggregation",
        "timestamps",
        "data"
      ],
      "description": "The baseline values for a single time series."
    },
    "MetricSingleDimension": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "value": {
          "type": "string",
          "description": "Value of the dimension."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "description": "The metric dimension name and value."
    },
    "SingleBaseline": {
      "type": "object",
      "properties": {
        "sensitivity": {
          "type": "string",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "x-ms-enum": {
            "name": "BaselineSensitivity",
            "modelAsString": true
          },
          "description": "the sensitivity of the baseline."
        },
        "lowThresholds": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double",
            "description": "A single low threshold value."
          },
          "description": "The low thresholds of the baseline."
        },
        "highThresholds": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double",
            "description": "A single high threshold value."
          },
          "description": "The high thresholds of the baseline."
        }
      },
      "required": [
        "sensitivity",
        "lowThresholds",
        "highThresholds"
      ],
      "description": "The baseline values for a single sensitivity value."
    },
    "BaselineMetadata": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the baseline metadata."
        },
        "value": {
          "type": "string",
          "description": "Value of the baseline metadata."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "description": "Represents a baseline metadata value."
    }
  },
  "parameters": {
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier of the resource.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "TimespanParameter": {
      "name": "timespan",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
      "x-ms-parameter-location": "method"
    },
    "IntervalParameter": {
      "name": "interval",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "duration",
      "description": "The interval (i.e. timegrain) of the query.",
      "x-ms-parameter-location": "method"
    },
    "MetricNamesParameter": {
      "name": "metricnames",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The names of the metrics (comma separated) to retrieve. Special case: If a metricname itself has a comma in it then use %2 to indicate it. Eg: 'Metric,Name1' should be **'Metric%2Name1'**",
      "x-ms-parameter-location": "method"
    },
    "MetricNamespaceParameter": {
      "name": "metricnamespace",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Metric namespace to query metric definitions for.",
      "x-ms-parameter-location": "method"
    },
    "AggregationsParameter": {
      "name": "aggregation",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The list of aggregation types (comma separated) to retrieve.",
      "x-ms-parameter-location": "method"
    },
    "SensitivitiesParameter": {
      "name": "sensitivities",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The list of sensitivities (comma separated) to retrieve.",
      "x-ms-parameter-location": "method"
    },
    "BaselineResultTypeParameter": {
      "name": "resultType",
      "in": "query",
      "type": "string",
      "enum": [
        "Data",
        "Metadata"
      ],
      "x-ms-enum": {
        "name": "ResultType",
        "modelAsString": false
      },
      "description": "Allows retrieving only metadata of the baseline. On data request all information is retrieved.",
      "x-ms-parameter-location": "method",
      "required": false
    }
  }
}
