{
  "swagger": "2.0",
  "info": {
    "version": "2024-10-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/httpRouteConfigs/{httpRouteName}": {
      "get": {
        "tags": [
          "HttpRouteConfig"
        ],
        "summary": "Get the specified Managed Http Route Config.",
        "operationId": "HttpRouteConfig_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/EnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteConfigNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfig"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get HttpRoute": {
            "$ref": "./examples/HttpRouteConfig_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "HttpRouteConfig"
        ],
        "summary": "Create or Update a Http Route Config.",
        "operationId": "HttpRouteConfig_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/EnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteConfigNameParameter"
          },
          {
            "name": "httpRouteConfigEnvelope",
            "in": "body",
            "description": "Http Route config to be created or updated",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfig"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfig"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfig"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "Create or Update Http Route": {
            "$ref": "./examples/HttpRouteConfig_CreateOrUpdate.json"
          },
          "Create or Update Http Route Prefix Rule": {
            "$ref": "./examples/HttpRouteConfig_CreateOrUpdatePrefix.json"
          },
          "Create or Update Http Route Path Separated Prefix Rule": {
            "$ref": "./examples/HttpRouteConfig_CreateOrUpdate_PathSepPrefix.json"
          }
        }
      },
      "patch": {
        "tags": [
          "HttpRouteConfig"
        ],
        "summary": "Update tags of a manged http route object",
        "description": "Patches an http route config resource. Only patching of tags is supported",
        "operationId": "HttpRouteConfig_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "httpRouteName",
            "in": "path",
            "description": "Name of the Http Route Config Resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "httpRouteConfigEnvelope",
            "in": "body",
            "required": true,
            "description": "Properties of http route config that need to be updated",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfig"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Managed Http Routes updated successfully.",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfig"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Managed Http Route": {
            "$ref": "./examples/HttpRouteConfig_Patch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "HttpRouteConfig"
        ],
        "summary": "Deletes the specified Managed Http Route.",
        "operationId": "HttpRouteConfig_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/EnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/HttpRouteConfigNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed"
          },
          "204": {
            "description": "Http Route does not exist"
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Certificate": {
            "$ref": "./examples/HttpRouteConfig_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/httpRouteConfigs": {
      "get": {
        "tags": [
          "HttpRouteConfig"
        ],
        "summary": "Get the Managed Http Routes in a given managed environment.",
        "operationId": "HttpRouteConfig_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./CommonDefinitions.json#/parameters/EnvironmentNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HttpRouteConfigCollection"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Managed Http Routes by Managed Environment": {
            "$ref": "./examples/HttpRouteConfig_ListByManagedEnvironment.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "HttpRouteConfig": {
      "description": "Advanced Ingress routing for path/header based routing for a Container App Environment",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Http Route Config properties",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "The provisioning state of the Http Route Config in cluster",
              "$ref": "#/definitions/HttpRouteProvisioningState"
            },
            "provisioningErrors": {
              "description": "List of errors when trying to reconcile http routes",
              "type": "array",
              "items": {
                "$ref": "#/definitions/HttpRouteProvisioningErrors"
              },
              "readOnly": true
            },
            "fqdn": {
              "description": "FQDN of the route resource.",
              "type": "string",
              "readOnly": true
            },
            "customDomains": {
              "description": "Custom domain bindings for http Routes' hostnames.",
              "type": "array",
              "items": {
                "$ref": "./CommonDefinitions.json#/definitions/CustomDomain"
              },
              "x-ms-identifiers": [
                "name"
              ]
            },
            "rules": {
              "description": "Routing Rules for http route resource.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/HttpRouteRule"
              },
              "x-ms-identifiers": [
                "name"
              ]
            }
          }
        }
      },
      "x-ms-client-flatten": true
    },
    "HttpRouteProvisioningErrors": {
      "description": "List of provisioning errors for a http route config object",
      "type": "object",
      "properties": {
        "timestamp": {
          "description": "Timestamp error occured at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "message": {
          "description": "Description or error message",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "HttpRouteTarget": {
      "description": "Targets - Container App Names, Revision Names, Labels.",
      "type": "object",
      "required": [
        "containerApp"
      ],
      "properties": {
        "containerApp": {
          "description": "Container App Name to route requests to",
          "type": "string"
        },
        "revision": {
          "description": "Revision to route requests to",
          "type": "string"
        },
        "label": {
          "description": "Label/Revision to route requests to",
          "type": "string"
        },
        "weight": {
          "description": "Weighted routing",
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 100
        }
      }
    },
    "HttpRouteMatch": {
      "description": "Criteria to match on",
      "type": "object",
      "properties": {
        "prefix": {
          "description": "match on all prefix's. Not exact",
          "type": "string"
        },
        "path": {
          "description": "match on exact path",
          "type": "string"
        },
        "pathSeparatedPrefix": {
          "description": "match on all prefix's. Not exact",
          "type": "string"
        },
        "caseSensitive": {
          "description": "path case sensitive, default is true",
          "type": "boolean"
        }
      }
    },
    "HttpRouteAction": {
      "description": "Action to perform once matching of routes is done",
      "type": "object",
      "properties": {
        "prefixRewrite": {
          "description": "Rewrite prefix, default is no rewrites",
          "type": "string"
        }
      }
    },
    "HttpRoute": {
      "description": "Http Routes configuration, including paths to match on and whether or not rewrites are to be done.",
      "type": "object",
      "properties": {
        "match": {
          "description": "Conditions route will match on",
          "$ref": "#/definitions/HttpRouteMatch"
        },
        "action": {
          "description": "Once route is matched, what is the desired action",
          "$ref": "#/definitions/HttpRouteAction"
        }
      }
    },
    "HttpRouteRule": {
      "description": "Http Route rule.",
      "type": "object",
      "properties": {
        "targets": {
          "description": "Targets- container apps, revisions, labels",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HttpRouteTarget"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "routes": {
          "description": "Routing configuration that will allow matches on specific paths/headers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HttpRoute"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of rule. Optional."
        }
      }
    },
    "HttpRouteProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Waiting",
        "Updating",
        "Deleting",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "HttpRouteProvisioningState",
        "modelAsString": true
      }
    },
    "HttpRouteConfigCollection": {
      "description": "Collection of Advanced Ingress Routing Config resources.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HttpRouteConfig"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "HttpRouteConfigNameParameter": {
      "name": "httpRouteName",
      "in": "path",
      "description": "Name of the Http Route Config Resource.",
      "required": true,
      "type": "string",
      "pattern": "^[a-z][a-z0-9]*$",
      "minLength": 3,
      "maxLength": 63,
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
