{
  "swagger": "2.0",
  "info": {
    "title": "AuthorizationManagementClient",
    "version": "2024-09-01-preview",
    "description": "Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role assignments. A role assignment grants access to Azure Active Directory users.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "roleAssignmentSchedules"
    },
    {
      "name": "roleAssignmentScheduleInstances"
    },
    {
      "name": "RoleAssignmentScheduleRequests"
    },
    {
      "name": "roleEligibilitySchedules"
    },
    {
      "name": "roleEligibilityScheduleInstances"
    },
    {
      "name": "RoleEligibilityScheduleRequests"
    },
    {
      "name": "roleManagementPolicies"
    },
    {
      "name": "roleManagementPolicyAssignments"
    },
    {
      "name": "eligibleChildResources"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/eligibleChildResources": {
      "get": {
        "operationId": "EligibleChildResources_Get",
        "tags": [
          "eligibleChildResources"
        ],
        "description": "Get the child resources of a resource on which user has eligible access",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=resourceType+eq+'Subscription' to filter on only resource of type = 'Subscription'. Use $filter=resourceType+eq+'subscription'+or+resourceType+eq+'resourcegroup' to filter on resource of type = 'Subscription' or 'ResourceGroup'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EligibleChildResourcesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetEligibleChildResourcesByScope": {
            "$ref": "./examples/GetEligibleChildResourcesByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleInstances": {
      "get": {
        "operationId": "RoleAssignmentScheduleInstances_ListForScope",
        "tags": [
          "roleAssignmentScheduleInstances"
        ],
        "description": "Gets role assignment schedule instances of a role assignment schedule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role assignment schedules at or above the scope. Use $filter=principalId eq {id} to return all role assignment schedules at, above or below the scope for the specified principal.  Use $filter=assignedTo('{userId}') to return all role assignment schedule instances for the user. Use $filter=asTarget() to return all role assignment schedule instances created for the current user.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentScheduleInstancesByScope": {
            "$ref": "./examples/GetRoleAssignmentScheduleInstancesByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleInstances/{roleAssignmentScheduleInstanceName}": {
      "get": {
        "operationId": "RoleAssignmentScheduleInstances_Get",
        "tags": [
          "roleAssignmentScheduleInstances"
        ],
        "description": "Gets the specified role assignment schedule instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleInstanceName",
            "in": "path",
            "description": "The name (hash of schedule name + time) of the role assignment schedule to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentScheduleInstanceByName": {
            "$ref": "./examples/GetRoleAssignmentScheduleInstanceByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests": {
      "get": {
        "operationId": "RoleAssignmentScheduleRequests_ListForScope",
        "tags": [
          "RoleAssignmentScheduleRequests"
        ],
        "description": "Gets role assignment schedule requests for a scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role assignment schedule requests at or above the scope. Use $filter=principalId eq {id} to return all role assignment schedule requests at, above or below the scope for the specified principal. Use $filter=asRequestor() to return all role assignment schedule requests requested by the current user. Use $filter=asTarget() to return all role assignment schedule requests created for the current user. Use $filter=asApprover() to return all role assignment schedule requests where the current user is an approver.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentScheduleRequestByScope": {
            "$ref": "./examples/GetRoleAssignmentScheduleRequestByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/{roleAssignmentScheduleRequestName}": {
      "get": {
        "operationId": "RoleAssignmentScheduleRequests_Get",
        "tags": [
          "RoleAssignmentScheduleRequests"
        ],
        "description": "Get the specified role assignment schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role assignment schedule request to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentScheduleRequestByName": {
            "$ref": "./examples/GetRoleAssignmentScheduleRequestByName.json"
          }
        }
      },
      "put": {
        "operationId": "RoleAssignmentScheduleRequests_Create",
        "tags": [
          "RoleAssignmentScheduleRequests"
        ],
        "description": "Creates a role assignment schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role assignment schedule request to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the role assignment schedule request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'RoleAssignmentScheduleRequest' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutRoleAssignmentScheduleRequest": {
            "$ref": "./examples/PutRoleAssignmentScheduleRequest.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/{roleAssignmentScheduleRequestName}/cancel": {
      "post": {
        "operationId": "RoleAssignmentScheduleRequests_Cancel",
        "tags": [
          "RoleAssignmentScheduleRequests"
        ],
        "description": "Cancels a pending role assignment schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role assignment schedule request to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CancelRoleAssignmentScheduleRequestByName": {
            "$ref": "./examples/CancelRoleAssignmentScheduleRequestByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentScheduleRequests/{roleAssignmentScheduleRequestName}/validate": {
      "post": {
        "operationId": "RoleAssignmentScheduleRequests_Validate",
        "tags": [
          "RoleAssignmentScheduleRequests"
        ],
        "description": "Validates a new role assignment schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role assignment schedule request to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the role assignment schedule request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ValidateRoleAssignmentScheduleRequestByName": {
            "$ref": "./examples/ValidateRoleAssignmentScheduleRequestByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentSchedules": {
      "get": {
        "operationId": "RoleAssignmentSchedules_ListForScope",
        "tags": [
          "roleAssignmentSchedules"
        ],
        "description": "Gets role assignment schedules for a resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role assignment schedules at or above the scope. Use $filter=principalId eq {id} to return all role assignment schedules at, above or below the scope for the specified principal. Use $filter=assignedTo('{userId}') to return all role assignment schedules for the current user. Use $filter=asTarget() to return all role assignment schedules created for the current user.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentScheduleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentSchedulesByScope": {
            "$ref": "./examples/GetRoleAssignmentSchedulesByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleAssignmentSchedules/{roleAssignmentScheduleName}": {
      "get": {
        "operationId": "RoleAssignmentSchedules_Get",
        "tags": [
          "roleAssignmentSchedules"
        ],
        "description": "Get the specified role assignment schedule for a resource scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleAssignmentScheduleName",
            "in": "path",
            "description": "The name (guid) of the role assignment schedule to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentSchedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleAssignmentScheduleByName": {
            "$ref": "./examples/GetRoleAssignmentScheduleByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilityScheduleInstances": {
      "get": {
        "operationId": "RoleEligibilityScheduleInstances_ListForScope",
        "tags": [
          "roleEligibilityScheduleInstances"
        ],
        "description": "Gets role eligibility schedule instances of a role eligibility schedule.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role assignment schedules at or above the scope. Use $filter=principalId eq {id} to return all role assignment schedules at, above or below the scope for the specified principal. Use $filter=assignedTo('{userId}') to return all role eligibility schedules for the user. Use $filter=asTarget() to return all role eligibility schedules created for the current user.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleEligibilityScheduleInstancesByScope": {
            "$ref": "./examples/GetRoleEligibilityScheduleInstancesByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilityScheduleInstances/{roleEligibilityScheduleInstanceName}": {
      "get": {
        "operationId": "RoleEligibilityScheduleInstances_Get",
        "tags": [
          "roleEligibilityScheduleInstances"
        ],
        "description": "Gets the specified role eligibility schedule instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleEligibilityScheduleInstanceName",
            "in": "path",
            "description": "The name (hash of schedule name + time) of the role eligibility schedule to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleEligibilityScheduleInstanceByName": {
            "$ref": "./examples/GetRoleEligibilityScheduleInstanceByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilityScheduleRequests": {
      "get": {
        "operationId": "RoleEligibilityScheduleRequests_ListForScope",
        "tags": [
          "RoleEligibilityScheduleRequests"
        ],
        "description": "Gets role eligibility schedule requests for a scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role eligibility schedule requests at or above the scope. Use $filter=principalId eq {id} to return all role eligibility schedule requests at, above or below the scope for the specified principal. Use $filter=asRequestor() to return all role eligibility schedule requests requested by the current user. Use $filter=asTarget() to return all role eligibility schedule requests created for the current user. Use $filter=asApprover() to return all role eligibility schedule requests where the current user is an approver.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleRequestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleEligibilityScheduleRequestByScope": {
            "$ref": "./examples/GetRoleEligibilityScheduleRequestByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilityScheduleRequests/{roleEligibilityScheduleRequestName}": {
      "get": {
        "operationId": "RoleEligibilityScheduleRequests_Get",
        "tags": [
          "RoleEligibilityScheduleRequests"
        ],
        "description": "Get the specified role eligibility schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleEligibilityScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role eligibility schedule request to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleEligibilityScheduleRequestByName": {
            "$ref": "./examples/GetRoleEligibilityScheduleRequestByName.json"
          }
        }
      },
      "put": {
        "operationId": "RoleEligibilityScheduleRequests_Create",
        "tags": [
          "RoleEligibilityScheduleRequests"
        ],
        "description": "Creates a role eligibility schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleEligibilityScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role eligibility schedule request to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the role eligibility schedule request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'RoleEligibilityScheduleRequest' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutRoleEligibilityScheduleRequest": {
            "$ref": "./examples/PutRoleEligibilityScheduleRequest.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilityScheduleRequests/{roleEligibilityScheduleRequestName}/cancel": {
      "post": {
        "operationId": "RoleEligibilityScheduleRequests_Cancel",
        "tags": [
          "RoleEligibilityScheduleRequests"
        ],
        "description": "Cancels a pending role eligibility schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleEligibilityScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role eligibility schedule request to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CancelRoleEligibilityScheduleRequestByName": {
            "$ref": "./examples/CancelRoleEligibilityScheduleRequestByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilityScheduleRequests/{roleEligibilityScheduleRequestName}/validate": {
      "post": {
        "operationId": "RoleEligibilityScheduleRequests_Validate",
        "tags": [
          "RoleEligibilityScheduleRequests"
        ],
        "description": "Validates a new role eligibility schedule request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleEligibilityScheduleRequestName",
            "in": "path",
            "description": "The name (guid) of the role eligibility schedule request to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the role eligibility schedule request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ValidateRoleEligibilityScheduleRequestByName": {
            "$ref": "./examples/ValidateRoleEligibilityScheduleRequestByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilitySchedules": {
      "get": {
        "operationId": "RoleEligibilitySchedules_ListForScope",
        "tags": [
          "roleEligibilitySchedules"
        ],
        "description": "Gets role eligibility schedules for a resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Use $filter=atScope() to return all role eligibility schedules at or above the scope. Use $filter=principalId eq {id} to return all role eligibility schedules at, above or below the scope for the specified principal. Use $filter=assignedTo('{userId}') to return all role eligibility schedules for the user. Use $filter=asTarget() to return all role eligibility schedules created for the current user.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilityScheduleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleEligibilitySchedulesByScope": {
            "$ref": "./examples/GetRoleEligibilitySchedulesByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleEligibilitySchedules/{roleEligibilityScheduleName}": {
      "get": {
        "operationId": "RoleEligibilitySchedules_Get",
        "tags": [
          "roleEligibilitySchedules"
        ],
        "description": "Get the specified role eligibility schedule for a resource scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleEligibilityScheduleName",
            "in": "path",
            "description": "The name (guid) of the role eligibility schedule to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleEligibilitySchedule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleEligibilityScheduleByName": {
            "$ref": "./examples/GetRoleEligibilityScheduleByName.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleManagementPolicies": {
      "get": {
        "operationId": "RoleManagementPolicies_ListForScope",
        "tags": [
          "roleManagementPolicies"
        ],
        "description": "Gets role management policies for a resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleManagementPolicyByRoleDefinitionFilter": {
            "$ref": "./examples/GetRoleManagementPolicyByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleManagementPolicies/{roleManagementPolicyName}": {
      "get": {
        "operationId": "RoleManagementPolicies_Get",
        "tags": [
          "roleManagementPolicies"
        ],
        "description": "Get the specified role management policy for a resource scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleManagementPolicyName",
            "in": "path",
            "description": "The name (guid) of the role management policy to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleManagementPolicyByName": {
            "$ref": "./examples/GetRoleManagementPolicyByName.json"
          }
        }
      },
      "patch": {
        "operationId": "RoleManagementPolicies_Update",
        "tags": [
          "roleManagementPolicies"
        ],
        "description": "Update a role management policy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleManagementPolicyName",
            "in": "path",
            "description": "The name (guid) of the role management policy to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the role management policy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PatchPartialRoleManagementPolicy": {
            "$ref": "./examples/PatchPartialRoleManagementPolicy.json"
          },
          "PatchRoleManagementPolicy": {
            "$ref": "./examples/PatchRoleManagementPolicy.json"
          },
          "PatchRoleManagementPolicyToEnablePIMOnlyMode": {
            "$ref": "./examples/PatchRoleManagementPolicyToEnablePIMOnlyMode.json"
          }
        }
      },
      "delete": {
        "operationId": "RoleManagementPolicies_Delete",
        "tags": [
          "roleManagementPolicies"
        ],
        "description": "Delete a role management policy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleManagementPolicyName",
            "in": "path",
            "description": "The name (guid) of the role management policy to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeleteRoleManagementPolicy": {
            "$ref": "./examples/DeleteRoleManagementPolicy.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleManagementPolicyAssignments": {
      "get": {
        "operationId": "RoleManagementPolicyAssignments_ListForScope",
        "tags": [
          "roleManagementPolicyAssignments"
        ],
        "description": "Gets role management assignment policies for a resource scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicyAssignmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetRoleManagementPolicyAssignmentByScope": {
            "$ref": "./examples/GetRoleManagementPolicyAssignmentByScope.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Authorization/roleManagementPolicyAssignments/{roleManagementPolicyAssignmentName}": {
      "get": {
        "operationId": "RoleManagementPolicyAssignments_Get",
        "tags": [
          "roleManagementPolicyAssignments"
        ],
        "description": "Get the specified role management policy assignment for a resource scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleManagementPolicyAssignmentName",
            "in": "path",
            "description": "The name of format {guid_guid} the role management policy assignment to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicyAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "./examples/GetRoleManagementPolicyAssignmentByName.json"
          }
        }
      },
      "put": {
        "operationId": "RoleManagementPolicyAssignments_Create",
        "tags": [
          "roleManagementPolicyAssignments"
        ],
        "description": "Create a role management policy assignment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleManagementPolicyAssignmentName",
            "in": "path",
            "description": "The name of format {guid_guid} the role management policy assignment to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the role management policy assignment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicyAssignment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'RoleManagementPolicyAssignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/RoleManagementPolicyAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PutRoleManagementPolicyAssignment": {
            "$ref": "./examples/PutRoleManagementPolicyAssignment.json"
          }
        }
      },
      "delete": {
        "operationId": "RoleManagementPolicyAssignments_Delete",
        "tags": [
          "roleManagementPolicyAssignments"
        ],
        "description": "Delete a role management policy assignment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleManagementPolicyAssignmentName",
            "in": "path",
            "description": "The name of format {guid_guid} the role management policy assignment to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DeleteRoleManagementPolicyAssignment": {
            "$ref": "./examples/DeleteRoleManagementPolicyAssignment.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApprovalMode": {
      "type": "string",
      "description": "The type of rule",
      "enum": [
        "SingleStage",
        "Serial",
        "Parallel",
        "NoApproval"
      ],
      "x-ms-enum": {
        "name": "ApprovalMode",
        "modelAsString": true,
        "values": [
          {
            "name": "SingleStage",
            "value": "SingleStage",
            "description": "SingleStage"
          },
          {
            "name": "Serial",
            "value": "Serial",
            "description": "Serial"
          },
          {
            "name": "Parallel",
            "value": "Parallel",
            "description": "Parallel"
          },
          {
            "name": "NoApproval",
            "value": "NoApproval",
            "description": "NoApproval"
          }
        ]
      }
    },
    "ApprovalSettings": {
      "type": "object",
      "description": "The approval settings.",
      "properties": {
        "isApprovalRequired": {
          "type": "boolean",
          "description": "Determines whether approval is required or not."
        },
        "isApprovalRequiredForExtension": {
          "type": "boolean",
          "description": "Determines whether approval is required for assignment extension."
        },
        "isRequestorJustificationRequired": {
          "type": "boolean",
          "description": "Determine whether requestor justification is required."
        },
        "approvalMode": {
          "$ref": "#/definitions/ApprovalMode",
          "description": "The type of rule"
        },
        "approvalStages": {
          "type": "array",
          "description": "The approval stages of the request.",
          "items": {
            "$ref": "#/definitions/ApprovalStage"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ApprovalStage": {
      "type": "object",
      "description": "The approval stage.",
      "properties": {
        "approvalStageTimeOutInDays": {
          "type": "integer",
          "format": "int32",
          "description": "The time in days when approval request would be timed out"
        },
        "isApproverJustificationRequired": {
          "type": "boolean",
          "description": "Determines whether approver need to provide justification for his decision."
        },
        "escalationTimeInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The time in minutes when the approval request would be escalated if the primary approver does not approve"
        },
        "primaryApprovers": {
          "type": "array",
          "description": "The primary approver of the request.",
          "items": {
            "$ref": "#/definitions/UserSet"
          }
        },
        "isEscalationEnabled": {
          "type": "boolean",
          "description": "The value determine whether escalation feature is enabled."
        },
        "escalationApprovers": {
          "type": "array",
          "description": "The escalation approver of the request.",
          "items": {
            "$ref": "#/definitions/UserSet"
          }
        }
      }
    },
    "AssignmentType": {
      "type": "string",
      "description": "Assignment type of the role assignment schedule",
      "enum": [
        "Activated",
        "Assigned"
      ],
      "x-ms-enum": {
        "name": "AssignmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Activated",
            "value": "Activated",
            "description": "Activated"
          },
          {
            "name": "Assigned",
            "value": "Assigned",
            "description": "Assigned"
          }
        ]
      }
    },
    "EligibleChildResource": {
      "type": "object",
      "description": "Eligible child resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource scope Id.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type.",
          "readOnly": true
        }
      }
    },
    "EligibleChildResourcesListResult": {
      "type": "object",
      "description": "Paged collection of EligibleChildResource items",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EligibleChildResource items on this page",
          "items": {
            "$ref": "#/definitions/EligibleChildResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnablementRules": {
      "type": "string",
      "description": "The type of enablement rule",
      "enum": [
        "MultiFactorAuthentication",
        "Justification",
        "Ticketing"
      ],
      "x-ms-enum": {
        "name": "EnablementRules",
        "modelAsString": true,
        "values": [
          {
            "name": "MultiFactorAuthentication",
            "value": "MultiFactorAuthentication",
            "description": "MultiFactorAuthentication"
          },
          {
            "name": "Justification",
            "value": "Justification",
            "description": "Justification"
          },
          {
            "name": "Ticketing",
            "value": "Ticketing",
            "description": "Ticketing"
          }
        ]
      }
    },
    "ExcludedPrincipalTypes": {
      "type": "string",
      "enum": [
        "ServicePrincipalsAsTarget",
        "ServicePrincipalsAsRequestor"
      ],
      "x-ms-enum": {
        "name": "ExcludedPrincipalTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "ServicePrincipalsAsTarget",
            "value": "ServicePrincipalsAsTarget",
            "description": "ServicePrincipalsAsTarget"
          },
          {
            "name": "ServicePrincipalsAsRequestor",
            "value": "ServicePrincipalsAsRequestor",
            "description": "ServicePrincipalsAsRequestor"
          }
        ]
      }
    },
    "ExpandedProperties": {
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "#/definitions/ExpandedPropertiesScope",
          "description": "Details of the resource scope"
        },
        "roleDefinition": {
          "$ref": "#/definitions/ExpandedPropertiesRoleDefinition",
          "description": "Details of role definition"
        },
        "principal": {
          "$ref": "#/definitions/ExpandedPropertiesPrincipal",
          "description": "Details of the principal"
        }
      }
    },
    "ExpandedPropertiesPrincipal": {
      "type": "object",
      "description": "Details of the principal",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the principal"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the principal"
        },
        "email": {
          "type": "string",
          "description": "Email id of the principal"
        },
        "type": {
          "type": "string",
          "description": "Type of the principal"
        }
      }
    },
    "ExpandedPropertiesRoleDefinition": {
      "type": "object",
      "description": "Details of role definition",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the role definition"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the role definition"
        },
        "type": {
          "type": "string",
          "description": "Type of the role definition"
        }
      }
    },
    "ExpandedPropertiesScope": {
      "type": "object",
      "description": "Details of the resource scope",
      "properties": {
        "id": {
          "type": "string",
          "description": "Scope id of the resource"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the resource"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource"
        }
      }
    },
    "MemberType": {
      "type": "string",
      "description": "Membership type of the role assignment schedule",
      "enum": [
        "Inherited",
        "Direct",
        "Group"
      ],
      "x-ms-enum": {
        "name": "MemberType",
        "modelAsString": true,
        "values": [
          {
            "name": "Inherited",
            "value": "Inherited",
            "description": "Inherited"
          },
          {
            "name": "Direct",
            "value": "Direct",
            "description": "Direct"
          },
          {
            "name": "Group",
            "value": "Group",
            "description": "Group"
          }
        ]
      }
    },
    "Microsoft.Common.CloudError": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Microsoft.Common.CloudErrorBody",
          "description": "An error response from the service."
        }
      },
      "x-ms-external": true
    },
    "Microsoft.Common.CloudErrorBody": {
      "type": "object",
      "description": "An error response from the service.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        }
      },
      "x-ms-external": true
    },
    "Microsoft.Common.Principal": {
      "type": "object",
      "description": "The name of the entity last modified it",
      "properties": {
        "id": {
          "type": "string",
          "description": "The id of the principal made changes"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the principal made changes"
        },
        "type": {
          "type": "string",
          "description": "Type of principal such as user , group etc"
        },
        "email": {
          "type": "string",
          "description": "Email of principal"
        }
      }
    },
    "Microsoft.Common.PrincipalType": {
      "type": "string",
      "description": "The principal type of the assigned principal ID.",
      "enum": [
        "User",
        "Group",
        "ServicePrincipal",
        "ForeignGroup",
        "Device"
      ],
      "x-ms-enum": {
        "name": "PrincipalType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "User"
          },
          {
            "name": "Group",
            "value": "Group",
            "description": "Group"
          },
          {
            "name": "ServicePrincipal",
            "value": "ServicePrincipal",
            "description": "ServicePrincipal"
          },
          {
            "name": "ForeignGroup",
            "value": "ForeignGroup",
            "description": "ForeignGroup"
          },
          {
            "name": "Device",
            "value": "Device",
            "description": "Device"
          }
        ]
      }
    },
    "NotificationDeliveryMechanism": {
      "type": "string",
      "description": "The type of notification.",
      "enum": [
        "Email"
      ],
      "x-ms-enum": {
        "name": "NotificationDeliveryMechanism",
        "modelAsString": true,
        "values": [
          {
            "name": "Email",
            "value": "Email",
            "description": "Email"
          }
        ]
      }
    },
    "NotificationLevel": {
      "type": "string",
      "description": "The notification level.",
      "enum": [
        "None",
        "Critical",
        "All"
      ],
      "x-ms-enum": {
        "name": "NotificationLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Critical"
          },
          {
            "name": "All",
            "value": "All",
            "description": "All"
          }
        ]
      }
    },
    "PIMOnlyMode": {
      "type": "string",
      "description": "Determines whether the setting is enabled, disabled or report only.",
      "enum": [
        "Disabled",
        "Enabled",
        "ReportOnly"
      ],
      "x-ms-enum": {
        "name": "PIMOnlyMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "ReportOnly",
            "value": "ReportOnly",
            "description": "ReportOnly"
          }
        ]
      }
    },
    "PIMOnlyModeSettings": {
      "type": "object",
      "description": "The PIM Only Mode settings.",
      "properties": {
        "mode": {
          "$ref": "#/definitions/PIMOnlyMode",
          "description": "Determines whether the setting is enabled, disabled or report only."
        },
        "excludes": {
          "type": "array",
          "description": "The list of excluded entities that the rule does not apply to.",
          "items": {
            "$ref": "#/definitions/UsersOrServicePrincipalSet"
          }
        },
        "excludedAssignmentTypes": {
          "type": "array",
          "description": "The list of excluded assignment types allowed.",
          "items": {
            "$ref": "#/definitions/ExcludedPrincipalTypes"
          }
        }
      }
    },
    "PolicyAssignmentProperties": {
      "type": "object",
      "description": "Expanded info of resource scope, role definition and policy",
      "properties": {
        "scope": {
          "$ref": "#/definitions/PolicyAssignmentPropertiesScope",
          "description": "Details of the resource scope"
        },
        "roleDefinition": {
          "$ref": "#/definitions/PolicyAssignmentPropertiesRoleDefinition",
          "description": "Details of role definition"
        },
        "policy": {
          "$ref": "#/definitions/PolicyAssignmentPropertiesPolicy",
          "description": "Details of the policy"
        }
      }
    },
    "PolicyAssignmentPropertiesPolicy": {
      "type": "object",
      "description": "Details of the policy",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the policy"
        },
        "lastModifiedBy": {
          "$ref": "#/definitions/Microsoft.Common.Principal",
          "description": "The name of the entity last modified it",
          "readOnly": true
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last modified date time."
        }
      }
    },
    "PolicyAssignmentPropertiesRoleDefinition": {
      "type": "object",
      "description": "Details of role definition",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the role definition"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the role definition"
        },
        "type": {
          "type": "string",
          "description": "Type of the role definition"
        }
      }
    },
    "PolicyAssignmentPropertiesScope": {
      "type": "object",
      "description": "Details of the resource scope",
      "properties": {
        "id": {
          "type": "string",
          "description": "Scope id of the resource"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the resource"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource"
        }
      }
    },
    "PolicyProperties": {
      "type": "object",
      "description": "Expanded info of resource scope",
      "properties": {
        "scope": {
          "$ref": "#/definitions/PolicyPropertiesScope",
          "description": "Details of the resource scope",
          "readOnly": true
        }
      }
    },
    "PolicyPropertiesScope": {
      "type": "object",
      "description": "Details of the resource scope",
      "properties": {
        "id": {
          "type": "string",
          "description": "Scope id of the resource"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the resource"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource"
        }
      }
    },
    "RecipientType": {
      "type": "string",
      "description": "The recipient type.",
      "enum": [
        "Requestor",
        "Approver",
        "Admin"
      ],
      "x-ms-enum": {
        "name": "RecipientType",
        "modelAsString": true,
        "values": [
          {
            "name": "Requestor",
            "value": "Requestor",
            "description": "Requestor"
          },
          {
            "name": "Approver",
            "value": "Approver",
            "description": "Approver"
          },
          {
            "name": "Admin",
            "value": "Admin",
            "description": "Admin"
          }
        ]
      }
    },
    "RequestType": {
      "type": "string",
      "description": "The type of the role assignment schedule request. Eg: SelfActivate, AdminAssign etc",
      "enum": [
        "AdminAssign",
        "AdminRemove",
        "AdminUpdate",
        "AdminExtend",
        "AdminRenew",
        "SelfActivate",
        "SelfDeactivate",
        "SelfExtend",
        "SelfRenew"
      ],
      "x-ms-enum": {
        "name": "RequestType",
        "modelAsString": true,
        "values": [
          {
            "name": "AdminAssign",
            "value": "AdminAssign",
            "description": "AdminAssign"
          },
          {
            "name": "AdminRemove",
            "value": "AdminRemove",
            "description": "AdminRemove"
          },
          {
            "name": "AdminUpdate",
            "value": "AdminUpdate",
            "description": "AdminUpdate"
          },
          {
            "name": "AdminExtend",
            "value": "AdminExtend",
            "description": "AdminExtend"
          },
          {
            "name": "AdminRenew",
            "value": "AdminRenew",
            "description": "AdminRenew"
          },
          {
            "name": "SelfActivate",
            "value": "SelfActivate",
            "description": "SelfActivate"
          },
          {
            "name": "SelfDeactivate",
            "value": "SelfDeactivate",
            "description": "SelfDeactivate"
          },
          {
            "name": "SelfExtend",
            "value": "SelfExtend",
            "description": "SelfExtend"
          },
          {
            "name": "SelfRenew",
            "value": "SelfRenew",
            "description": "SelfRenew"
          }
        ]
      }
    },
    "RoleAssignmentSchedule": {
      "type": "object",
      "description": "Role Assignment schedule",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleAssignmentScheduleProperties",
          "description": "Role assignment schedule properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleAssignmentScheduleInstance": {
      "type": "object",
      "description": "Information about current or upcoming role assignment schedule instance",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleAssignmentScheduleInstanceProperties",
          "description": "Role assignment schedule instance properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleAssignmentScheduleInstanceListResult": {
      "type": "object",
      "description": "The response of a RoleAssignmentScheduleInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoleAssignmentScheduleInstance items on this page",
          "items": {
            "$ref": "#/definitions/RoleAssignmentScheduleInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RoleAssignmentScheduleInstanceProperties": {
      "type": "object",
      "description": "Role assignment schedule properties with scope.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role assignment schedule scope."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "$ref": "#/definitions/Microsoft.Common.PrincipalType",
          "description": "The principal type of the assigned principal ID."
        },
        "roleAssignmentScheduleId": {
          "type": "string",
          "description": "Id of the master role assignment schedule"
        },
        "originRoleAssignmentId": {
          "type": "string",
          "description": "Role Assignment Id in external system"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the role assignment schedule instance."
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The startDateTime of the role assignment schedule instance"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The endDateTime of the role assignment schedule instance"
        },
        "linkedRoleEligibilityScheduleId": {
          "type": "string",
          "description": "roleEligibilityScheduleId used to activate"
        },
        "linkedRoleEligibilityScheduleInstanceId": {
          "type": "string",
          "description": "roleEligibilityScheduleInstanceId linked to this roleAssignmentScheduleInstance"
        },
        "assignmentType": {
          "$ref": "#/definitions/AssignmentType",
          "description": "Assignment type of the role assignment schedule"
        },
        "memberType": {
          "$ref": "#/definitions/MemberType",
          "description": "Membership type of the role assignment schedule"
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role assignment schedule was created"
        },
        "expandedProperties": {
          "$ref": "#/definitions/ExpandedProperties",
          "description": "Additional properties of principal, scope and role definition"
        }
      }
    },
    "RoleAssignmentScheduleListResult": {
      "type": "object",
      "description": "The response of a RoleAssignmentSchedule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoleAssignmentSchedule items on this page",
          "items": {
            "$ref": "#/definitions/RoleAssignmentSchedule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RoleAssignmentScheduleProperties": {
      "type": "object",
      "description": "Role assignment schedule properties with scope.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role assignment schedule scope."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "$ref": "#/definitions/Microsoft.Common.PrincipalType",
          "description": "The principal type of the assigned principal ID."
        },
        "roleAssignmentScheduleRequestId": {
          "type": "string",
          "description": "The id of roleAssignmentScheduleRequest used to create this roleAssignmentSchedule"
        },
        "linkedRoleEligibilityScheduleId": {
          "type": "string",
          "description": "The id of roleEligibilitySchedule used to activated this roleAssignmentSchedule"
        },
        "assignmentType": {
          "$ref": "#/definitions/AssignmentType",
          "description": "Assignment type of the role assignment schedule"
        },
        "memberType": {
          "$ref": "#/definitions/MemberType",
          "description": "Membership type of the role assignment schedule"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the role assignment schedule."
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start DateTime when role assignment schedule"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End DateTime when role assignment schedule"
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role assignment schedule was created"
        },
        "updatedOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role assignment schedule was modified"
        },
        "expandedProperties": {
          "$ref": "#/definitions/ExpandedProperties",
          "description": "Additional properties of principal, scope and role definition"
        }
      }
    },
    "RoleAssignmentScheduleRequest": {
      "type": "object",
      "description": "Role Assignment schedule request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleAssignmentScheduleRequestProperties",
          "description": "Role assignment schedule request properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleAssignmentScheduleRequestListResult": {
      "type": "object",
      "description": "The response of a RoleAssignmentScheduleRequest list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoleAssignmentScheduleRequest items on this page",
          "items": {
            "$ref": "#/definitions/RoleAssignmentScheduleRequest"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RoleAssignmentScheduleRequestProperties": {
      "type": "object",
      "description": "Role assignment schedule request properties with scope.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role assignment schedule request scope.",
          "readOnly": true
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "$ref": "#/definitions/Microsoft.Common.PrincipalType",
          "description": "The principal type of the assigned principal ID.",
          "readOnly": true
        },
        "requestType": {
          "$ref": "#/definitions/RequestType",
          "description": "The type of the role assignment schedule request. Eg: SelfActivate, AdminAssign etc"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the role assignment schedule request.",
          "readOnly": true
        },
        "approvalId": {
          "type": "string",
          "description": "The approvalId of the role assignment schedule request.",
          "readOnly": true
        },
        "targetRoleAssignmentScheduleId": {
          "type": "string",
          "description": "The resultant role assignment schedule id or the role assignment schedule id being updated"
        },
        "targetRoleAssignmentScheduleInstanceId": {
          "type": "string",
          "description": "The role assignment schedule instance id being updated"
        },
        "scheduleInfo": {
          "$ref": "#/definitions/RoleAssignmentScheduleRequestPropertiesScheduleInfo",
          "description": "Schedule info of the role assignment schedule"
        },
        "linkedRoleEligibilityScheduleId": {
          "type": "string",
          "description": "The linked role eligibility schedule id - to activate an eligibility."
        },
        "justification": {
          "type": "string",
          "description": "Justification for the role assignment"
        },
        "ticketInfo": {
          "$ref": "#/definitions/RoleAssignmentScheduleRequestPropertiesTicketInfo",
          "description": "Ticket Info of the role assignment"
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role assignment schedule request was created",
          "readOnly": true
        },
        "requestorId": {
          "type": "string",
          "description": "Id of the user who created this request",
          "readOnly": true
        },
        "expandedProperties": {
          "$ref": "#/definitions/ExpandedProperties",
          "description": "Additional properties of principal, scope and role definition",
          "readOnly": true
        }
      },
      "required": [
        "roleDefinitionId",
        "principalId",
        "requestType"
      ]
    },
    "RoleAssignmentScheduleRequestPropertiesScheduleInfo": {
      "type": "object",
      "description": "Schedule info of the role assignment schedule",
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start DateTime of the role assignment schedule."
        },
        "expiration": {
          "$ref": "#/definitions/RoleAssignmentScheduleRequestPropertiesScheduleInfoExpiration",
          "description": "Expiration of the role assignment schedule"
        }
      }
    },
    "RoleAssignmentScheduleRequestPropertiesScheduleInfoExpiration": {
      "type": "object",
      "description": "Expiration of the role assignment schedule",
      "properties": {
        "type": {
          "$ref": "#/definitions/Type",
          "description": "Type of the role assignment schedule expiration"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End DateTime of the role assignment schedule."
        },
        "duration": {
          "type": "string",
          "description": "Duration of the role assignment schedule in TimeSpan."
        }
      }
    },
    "RoleAssignmentScheduleRequestPropertiesTicketInfo": {
      "type": "object",
      "description": "Ticket Info of the role assignment",
      "properties": {
        "ticketNumber": {
          "type": "string",
          "description": "Ticket number for the role assignment"
        },
        "ticketSystem": {
          "type": "string",
          "description": "Ticket system name for the role assignment"
        }
      }
    },
    "RoleEligibilitySchedule": {
      "type": "object",
      "description": "Role eligibility schedule",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleEligibilityScheduleProperties",
          "description": "role eligibility schedule properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleEligibilityScheduleInstance": {
      "type": "object",
      "description": "Information about current or upcoming role eligibility schedule instance",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleEligibilityScheduleInstanceProperties",
          "description": "Role eligibility schedule instance properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleEligibilityScheduleInstanceListResult": {
      "type": "object",
      "description": "The response of a RoleEligibilityScheduleInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoleEligibilityScheduleInstance items on this page",
          "items": {
            "$ref": "#/definitions/RoleEligibilityScheduleInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RoleEligibilityScheduleInstanceProperties": {
      "type": "object",
      "description": "Role eligibility schedule properties with scope.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role eligibility schedule scope."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "$ref": "#/definitions/Microsoft.Common.PrincipalType",
          "description": "The principal type of the assigned principal ID."
        },
        "roleEligibilityScheduleId": {
          "type": "string",
          "description": "Id of the master role eligibility schedule"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the role eligibility schedule instance"
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The startDateTime of the role eligibility schedule instance"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The endDateTime of the role eligibility schedule instance"
        },
        "memberType": {
          "$ref": "#/definitions/MemberType",
          "description": "Membership type of the role eligibility schedule"
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role eligibility schedule was created"
        },
        "expandedProperties": {
          "$ref": "#/definitions/ExpandedProperties",
          "description": "Additional properties of principal, scope and role definition"
        }
      }
    },
    "RoleEligibilityScheduleListResult": {
      "type": "object",
      "description": "The response of a RoleEligibilitySchedule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoleEligibilitySchedule items on this page",
          "items": {
            "$ref": "#/definitions/RoleEligibilitySchedule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RoleEligibilityScheduleProperties": {
      "type": "object",
      "description": "Role eligibility schedule properties with scope.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role eligibility schedule scope."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "$ref": "#/definitions/Microsoft.Common.PrincipalType",
          "description": "The principal type of the assigned principal ID."
        },
        "roleEligibilityScheduleRequestId": {
          "type": "string",
          "description": "The id of roleEligibilityScheduleRequest used to create this roleAssignmentSchedule"
        },
        "memberType": {
          "$ref": "#/definitions/MemberType",
          "description": "Membership type of the role eligibility schedule"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the role eligibility schedule."
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start DateTime when role eligibility schedule"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End DateTime when role eligibility schedule"
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role eligibility schedule was created"
        },
        "updatedOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role eligibility schedule was modified"
        },
        "expandedProperties": {
          "$ref": "#/definitions/ExpandedProperties",
          "description": "Additional properties of principal, scope and role definition"
        }
      }
    },
    "RoleEligibilityScheduleRequest": {
      "type": "object",
      "description": "Role Eligibility schedule request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleEligibilityScheduleRequestProperties",
          "description": "Role eligibility schedule request properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleEligibilityScheduleRequestListResult": {
      "type": "object",
      "description": "The response of a RoleEligibilityScheduleRequest list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RoleEligibilityScheduleRequest items on this page",
          "items": {
            "$ref": "#/definitions/RoleEligibilityScheduleRequest"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RoleEligibilityScheduleRequestProperties": {
      "type": "object",
      "description": "Role eligibility schedule request properties with scope.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role eligibility schedule request scope.",
          "readOnly": true
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        },
        "principalType": {
          "$ref": "#/definitions/Microsoft.Common.PrincipalType",
          "description": "The principal type of the assigned principal ID.",
          "readOnly": true
        },
        "requestType": {
          "$ref": "#/definitions/RequestType",
          "description": "The type of the role assignment schedule request. Eg: SelfActivate, AdminAssign etc"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the role eligibility schedule request.",
          "readOnly": true
        },
        "approvalId": {
          "type": "string",
          "description": "The approvalId of the role eligibility schedule request.",
          "readOnly": true
        },
        "scheduleInfo": {
          "$ref": "#/definitions/RoleEligibilityScheduleRequestPropertiesScheduleInfo",
          "description": "Schedule info of the role eligibility schedule"
        },
        "targetRoleEligibilityScheduleId": {
          "type": "string",
          "description": "The resultant role eligibility schedule id or the role eligibility schedule id being updated"
        },
        "targetRoleEligibilityScheduleInstanceId": {
          "type": "string",
          "description": "The role eligibility schedule instance id being updated"
        },
        "justification": {
          "type": "string",
          "description": "Justification for the role eligibility"
        },
        "ticketInfo": {
          "$ref": "#/definitions/RoleEligibilityScheduleRequestPropertiesTicketInfo",
          "description": "Ticket Info of the role eligibility"
        },
        "condition": {
          "type": "string",
          "description": "The conditions on the role assignment. This limits the resources it can be assigned to. e.g.: @Resource[Microsoft.Storage/storageAccounts/blobServices/containers:ContainerName] StringEqualsIgnoreCase 'foo_storage_container'"
        },
        "conditionVersion": {
          "type": "string",
          "description": "Version of the condition. Currently accepted value is '2.0'"
        },
        "createdOn": {
          "type": "string",
          "format": "date-time",
          "description": "DateTime when role eligibility schedule request was created",
          "readOnly": true
        },
        "requestorId": {
          "type": "string",
          "description": "Id of the user who created this request",
          "readOnly": true
        },
        "expandedProperties": {
          "$ref": "#/definitions/ExpandedProperties",
          "description": "Additional properties of principal, scope and role definition",
          "readOnly": true
        }
      },
      "required": [
        "roleDefinitionId",
        "principalId",
        "requestType"
      ]
    },
    "RoleEligibilityScheduleRequestPropertiesScheduleInfo": {
      "type": "object",
      "description": "Schedule info of the role eligibility schedule",
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start DateTime of the role eligibility schedule."
        },
        "expiration": {
          "$ref": "#/definitions/RoleEligibilityScheduleRequestPropertiesScheduleInfoExpiration",
          "description": "Expiration of the role eligibility schedule"
        }
      }
    },
    "RoleEligibilityScheduleRequestPropertiesScheduleInfoExpiration": {
      "type": "object",
      "description": "Expiration of the role eligibility schedule",
      "properties": {
        "type": {
          "$ref": "#/definitions/Type",
          "description": "Type of the role eligibility schedule expiration"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End DateTime of the role eligibility schedule."
        },
        "duration": {
          "type": "string",
          "description": "Duration of the role eligibility schedule in TimeSpan."
        }
      }
    },
    "RoleEligibilityScheduleRequestPropertiesTicketInfo": {
      "type": "object",
      "description": "Ticket Info of the role eligibility",
      "properties": {
        "ticketNumber": {
          "type": "string",
          "description": "Ticket number for the role eligibility"
        },
        "ticketSystem": {
          "type": "string",
          "description": "Ticket system name for the role eligibility"
        }
      }
    },
    "RoleManagementPolicy": {
      "type": "object",
      "description": "Role management policy",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleManagementPolicyProperties",
          "description": "Role management policy properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RoleManagementPolicyApprovalRule": {
      "type": "object",
      "description": "The role management policy approval rule.",
      "properties": {
        "setting": {
          "$ref": "#/definitions/ApprovalSettings",
          "description": "The approval setting"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RoleManagementPolicyRule"
        }
[...]
