{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.CloudHealth",
    "version": "2026-01-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HealthModels"
    },
    {
      "name": "SignalDefinitions"
    },
    {
      "name": "AuthenticationSettings"
    },
    {
      "name": "Entities"
    },
    {
      "name": "Relationships"
    },
    {
      "name": "DiscoveryRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.CloudHealth/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.CloudHealth/healthmodels": {
      "get": {
        "operationId": "HealthModels_ListBySubscription",
        "tags": [
          "HealthModels"
        ],
        "description": "List HealthModel resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_ListBySubscription": {
            "$ref": "./examples/HealthModels_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels": {
      "get": {
        "operationId": "HealthModels_ListByResourceGroup",
        "tags": [
          "HealthModels"
        ],
        "description": "List HealthModel resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModelListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_ListByResourceGroup": {
            "$ref": "./examples/HealthModels_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}": {
      "get": {
        "operationId": "HealthModels_Get",
        "tags": [
          "HealthModels"
        ],
        "description": "Get a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Get": {
            "$ref": "./examples/HealthModels_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HealthModels_Create",
        "tags": [
          "HealthModels"
        ],
        "description": "Create a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HealthModel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          },
          "201": {
            "description": "Resource 'HealthModel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Create": {
            "$ref": "./examples/HealthModels_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HealthModels_Update",
        "tags": [
          "HealthModels"
        ],
        "description": "Update a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthModel"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Update": {
            "$ref": "./examples/HealthModels_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HealthModels_Delete",
        "tags": [
          "HealthModels"
        ],
        "description": "Delete a HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HealthModels_Delete": {
            "$ref": "./examples/HealthModels_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/authenticationsettings": {
      "get": {
        "operationId": "AuthenticationSettings_ListByHealthModel",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "List AuthenticationSetting resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_ListByHealthModel": {
            "$ref": "./examples/AuthenticationSettings_ListByHealthModel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/authenticationsettings/{authenticationSettingName}": {
      "get": {
        "operationId": "AuthenticationSettings_Get",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "Get a AuthenticationSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "authenticationSettingName",
            "in": "path",
            "description": "Name of the authentication setting. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_Get": {
            "$ref": "./examples/AuthenticationSettings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AuthenticationSettings_CreateOrUpdate",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "Create a AuthenticationSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "authenticationSettingName",
            "in": "path",
            "description": "Name of the authentication setting. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AuthenticationSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            }
          },
          "201": {
            "description": "Resource 'AuthenticationSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AuthenticationSetting"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_CreateOrUpdate": {
            "$ref": "./examples/AuthenticationSettings_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AuthenticationSettings_Delete",
        "tags": [
          "AuthenticationSettings"
        ],
        "description": "Delete a AuthenticationSetting",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "authenticationSettingName",
            "in": "path",
            "description": "Name of the authentication setting. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AuthenticationSettings_Delete": {
            "$ref": "./examples/AuthenticationSettings_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/discoveryrules": {
      "get": {
        "operationId": "DiscoveryRules_ListByHealthModel",
        "tags": [
          "DiscoveryRules"
        ],
        "description": "List DiscoveryRule resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp to use for the operation. When specified, the version of the resource at this point in time is retrieved. If not specified, the latest version is used.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryRules_ListByHealthModel": {
            "$ref": "./examples/DiscoveryRules_ListByHealthModel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/discoveryrules/{discoveryRuleName}": {
      "get": {
        "operationId": "DiscoveryRules_Get",
        "tags": [
          "DiscoveryRules"
        ],
        "description": "Get a DiscoveryRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "discoveryRuleName",
            "in": "path",
            "description": "Name of the discovery rule. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryRules_Get": {
            "$ref": "./examples/DiscoveryRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DiscoveryRules_CreateOrUpdate",
        "tags": [
          "DiscoveryRules"
        ],
        "description": "Create a DiscoveryRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "discoveryRuleName",
            "in": "path",
            "description": "Name of the discovery rule. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DiscoveryRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryRule"
            }
          },
          "201": {
            "description": "Resource 'DiscoveryRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryRules_CreateOrUpdate": {
            "$ref": "./examples/DiscoveryRules_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DiscoveryRules_Delete",
        "tags": [
          "DiscoveryRules"
        ],
        "description": "Delete a DiscoveryRule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "discoveryRuleName",
            "in": "path",
            "description": "Name of the discovery rule. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryRules_Delete": {
            "$ref": "./examples/DiscoveryRules_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities": {
      "get": {
        "operationId": "Entities_ListByHealthModel",
        "tags": [
          "Entities"
        ],
        "description": "List Entity resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp to use for the operation. When specified, the version of the resource at this point in time is retrieved. If not specified, the latest version is used.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_ListByHealthModel": {
            "$ref": "./examples/Entities_ListByHealthModel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}": {
      "get": {
        "operationId": "Entities_Get",
        "tags": [
          "Entities"
        ],
        "description": "Get a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_Get": {
            "$ref": "./examples/Entities_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Entities_CreateOrUpdate",
        "tags": [
          "Entities"
        ],
        "description": "Create a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Entity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Entity"
            }
          },
          "201": {
            "description": "Resource 'Entity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Entity"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_CreateOrUpdate": {
            "$ref": "./examples/Entities_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Entities_Delete",
        "tags": [
          "Entities"
        ],
        "description": "Delete a Entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_Delete": {
            "$ref": "./examples/Entities_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/getHistory": {
      "post": {
        "operationId": "Entities_GetHistory",
        "tags": [
          "Entities"
        ],
        "description": "Retrieve the health state transition history for an entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EntityHistoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EntityHistoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_GetHistory": {
            "$ref": "./examples/Entities_GetHistory.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/getSignalHistory": {
      "post": {
        "operationId": "Entities_GetSignalHistory",
        "tags": [
          "Entities"
        ],
        "description": "Retrieve the time series history for a signal on an entity",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignalHistoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalHistoryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_GetSignalHistory": {
            "$ref": "./examples/Entities_GetSignalHistory.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/entities/{entityName}/ingestHealthReport": {
      "post": {
        "operationId": "Entities_IngestHealthReport",
        "tags": [
          "Entities"
        ],
        "description": "Ingest a health report for a specific signal on an entity (the entity must already exist)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the entity. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthReportRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Entities_IngestHealthReport": {
            "$ref": "./examples/Entities_IngestHealthReport.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships": {
      "get": {
        "operationId": "Relationships_ListByHealthModel",
        "tags": [
          "Relationships"
        ],
        "description": "List Relationship resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp to use for the operation. When specified, the version of the resource at this point in time is retrieved. If not specified, the latest version is used.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RelationshipListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_ListByHealthModel": {
            "$ref": "./examples/Relationships_ListByHealthModel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/relationships/{relationshipName}": {
      "get": {
        "operationId": "Relationships_Get",
        "tags": [
          "Relationships"
        ],
        "description": "Get a Relationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_Get": {
            "$ref": "./examples/Relationships_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Relationships_CreateOrUpdate",
        "tags": [
          "Relationships"
        ],
        "description": "Create a Relationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Relationship' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "201": {
            "description": "Resource 'Relationship' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Relationship"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_CreateOrUpdate": {
            "$ref": "./examples/Relationships_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Relationships_Delete",
        "tags": [
          "Relationships"
        ],
        "description": "Delete a Relationship",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "relationshipName",
            "in": "path",
            "description": "Name of the relationship. Must be unique within a health model. For example, a concatenation of parentEntityName and childEntityName can be used as the name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Relationships_Delete": {
            "$ref": "./examples/Relationships_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions": {
      "get": {
        "operationId": "SignalDefinitions_ListByHealthModel",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "List SignalDefinition resources by HealthModel",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Timestamp to use for the operation. When specified, the version of the resource at this point in time is retrieved. If not specified, the latest version is used.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_ListByHealthModel": {
            "$ref": "./examples/SignalDefinitions_ListByHealthModel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudHealth/healthmodels/{healthModelName}/signaldefinitions/{signalDefinitionName}": {
      "get": {
        "operationId": "SignalDefinitions_Get",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Get a SignalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "Name of the signal definition. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Get": {
            "$ref": "./examples/SignalDefinitions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SignalDefinitions_CreateOrUpdate",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Create a SignalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "Name of the signal definition. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SignalDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            }
          },
          "201": {
            "description": "Resource 'SignalDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SignalDefinition"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_CreateOrUpdate": {
            "$ref": "./examples/SignalDefinitions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SignalDefinitions_Delete",
        "tags": [
          "SignalDefinitions"
        ],
        "description": "Delete a SignalDefinition",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "healthModelName",
            "in": "path",
            "description": "Name of health model resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{1,42}[a-zA-Z0-9]$"
          },
          {
            "name": "signalDefinitionName",
            "in": "path",
            "description": "Name of the signal definition. Must be unique within a health model.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,258}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SignalDefinitions_Delete": {
            "$ref": "./examples/SignalDefinitions_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AlertConfiguration": {
      "type": "object",
      "description": "Alert configuration details",
      "properties": {
        "severity": {
          "$ref": "#/definitions/AlertSeverity",
          "description": "The severity of triggered alert."
        },
        "description": {
          "type": "string",
          "description": "The alert rule description.",
          "minLength": 1,
          "maxLength": 1000
        },
        "actionGroupIds": {
          "type": "array",
          "description": "Optional list of action group resource IDs to be notified when the alert is triggered.",
          "minItems": 1,
          "maxItems": 5,
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Insights/actionGroups"
                }
              ]
            }
          }
        }
      },
      "required": [
        "severity"
      ]
    },
    "AlertSeverity": {
      "type": "string",
      "description": "Severity of an alert",
      "enum": [
        "Sev0",
        "Sev1",
        "Sev2",
        "Sev3",
        "Sev4"
      ],
      "x-ms-enum": {
        "name": "AlertSeverity",
        "modelAsString": true,
        "values": [
          {
            "name": "Sev0",
            "value": "Sev0",
            "description": "Critical"
          },
          {
            "name": "Sev1",
            "value": "Sev1",
            "description": "Error"
          },
          {
            "name": "Sev2",
            "value": "Sev2",
            "description": "Warning"
          },
          {
            "name": "Sev3",
            "value": "Sev3",
            "description": "Informational"
          },
          {
            "name": "Sev4",
            "value": "Sev4",
            "description": "Verbose"
          }
        ]
      }
    },
    "ApplicationInsightsTopologySpecification": {
      "type": "object",
      "description": "Discovery rule specification for an Application Insights topology query",
      "properties": {
        "applicationInsightsResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Application Insights resource ID",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Insights/components"
              }
            ]
          }
        }
      },
      "required": [
        "applicationInsightsResourceId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DiscoveryRuleSpecification"
        }
      ],
      "x-ms-discriminator-value": "ApplicationInsightsTopology"
    },
    "AuthenticationKind": {
      "type": "string",
      "description": "Supported kinds of authentication settings as discriminator",
      "enum": [
        "ManagedIdentity"
      ],
      "x-ms-enum": {
        "name": "AuthenticationKind",
        "modelAsString": true,
        "values": [
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity"
          }
        ]
      }
    },
    "AuthenticationSetting": {
      "type": "object",
      "description": "An authentication setting in a health model",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AuthenticationSettingProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AuthenticationSettingListResult": {
      "type": "object",
      "description": "The response of a AuthenticationSetting list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AuthenticationSetting items on this page",
          "items": {
            "$ref": "#/definitions/AuthenticationSetting"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AuthenticationSettingProperties": {
      "type": "object",
      "description": "Authentication setting properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 260
        },
        "authenticationKind": {
          "$ref": "#/definitions/AuthenticationKind",
          "description": "Kind of the authentication setting"
        }
      },
      "discriminator": "authenticationKind",
      "required": [
        "authenticationKind"
      ]
    },
    "AzureMonitorWorkspaceResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.Monitor/accounts"
          }
        ]
      }
    },
    "AzureMonitorWorkspaceSignals": {
      "type": "object",
      "description": "A grouping of Azure Monitor workspace signals.",
      "properties": {
        "authenticationSetting": {
          "$ref": "#/definitions/authenticationSettingName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source."
        },
        "azureMonitorWorkspaceResourceId": {
          "$ref": "#/definitions/AzureMonitorWorkspaceResourceId",
          "description": "Azure Monitor workspace resource ID."
        },
        "signals": {
          "type": "array",
          "description": "Signals assigned to this signal group.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/PrometheusMetricsSignal"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "authenticationSetting",
        "azureMonitorWorkspaceResourceId"
      ]
    },
    "AzureResourceSignal": {
      "type": "object",
      "description": "An Azure Resource Metric signal instance assigned to an entity.",
      "properties": {
        "metricNamespace": {
          "type": "string",
          "description": "Metric namespace",
          "minLength": 1,
          "maxLength": 256
        },
        "metricName": {
          "type": "string",
          "description": "Name of the metric",
          "minLength": 1,
          "maxLength": 256
        },
        "timeGrain": {
          "type": "string",
          "description": "Time range of signal. ISO duration format like PT10M.",
          "minLength": 1,
          "maxLength": 100
        },
        "aggregationType": {
          "$ref": "#/definitions/MetricAggregationType",
          "description": "Type of aggregation to apply to the metric"
        },
        "dimension": {
          "type": "string",
          "description": "Optional: Dimension to split by",
          "minLength": 1,
          "maxLength": 256
        },
        "dimensionFilter": {
          "type": "string",
          "description": "Optional: Dimension filter to apply to the dimension. Must only be set if also Dimension is set.",
          "minLength": 1,
          "maxLength": 256
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 260
        },
        "refreshInterval": {
          "type": "string",
          "description": "Interval in which the signal is being evaluated. Defaults to PT1M (1 minute).",
          "default": "PT1M",
          "enum": [
            "PT1M",
            "PT5M",
            "PT10M",
            "PT30M",
            "PT1H",
            "PT2H"
          ],
          "x-ms-enum": {
            "name": "RefreshInterval",
            "modelAsString": true,
            "values": [
              {
                "name": "PT1M",
                "value": "PT1M",
                "description": "One Minute"
              },
              {
                "name": "PT5M",
                "value": "PT5M",
                "description": "Five Minutes"
              },
              {
                "name": "PT10M",
                "value": "PT10M",
                "description": "Ten Minutes"
              },
              {
                "name": "PT30M",
                "value": "PT30M",
                "description": "Thirty Minutes"
              },
              {
                "name": "PT1H",
                "value": "PT1H",
                "description": "One Hour"
              },
              {
                "name": "PT2H",
                "value": "PT2H",
                "description": "Two Hours"
              }
            ]
          }
        },
        "dataUnit": {
          "type": "string",
          "description": "Unit of the signal result (e.g. Bytes, MilliSeconds, Percent, Count))",
          "minLength": 1,
          "maxLength": 100
        },
        "evaluationRules": {
          "$ref": "#/definitions/EvaluationRule",
          "description": "Evaluation rules for the signal definition"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SignalInstanceProperties"
        }
      ],
      "x-ms-discriminator-value": "AzureResourceMetric"
    },
    "AzureResourceSignals": {
      "type": "object",
      "description": "A grouping of Azure resource signals",
      "properties": {
        "authenticationSetting": {
          "$ref": "#/definitions/authenticationSettingName",
          "description": "Reference to the name of the authentication setting which is used for querying the data source."
        },
        "azureResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure resource ID",
          "x-ms-arm-id-details": {
            "allowedResources": []
          }
        },
        "azureResourceKind": {
          "type": "string",
          "description": "Azure resource kind (e.g., 'functionapp'). Populated by the UI for icon rendering. Can be null if not populated.",
          "minLength": 0,
          "maxLength": 256
        },
        "signals": {
          "type": "array",
          "description": "Signals assigned to this group.",
          "maxItems": 50,
          "items": {
            "$ref": "#/definitions/AzureResourceSignal"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "authenticationSetting",
        "azureResourceId"
      ]
    },
    "DependenciesSignalGroup": {
      "type": "object",
      "description": "Properties for dependent entities, i.e. child entities",
      "properties": {
        "aggregationType": {
          "type": "string",
          "description": "Aggregation type for child dependencies.",
          "default": "WorstOf",
          "enum": [
            "WorstOf",
            "Thresholds"
          ],
          "x-ms-enum": {
            "name": "DependenciesAggregationType",
            "modelAsString": true,
            "values": [
              {
                "name": "WorstOf",
                "value": "WorstOf",
                "description": "Default behavior: Worst child health state is propagated."
              },
              {
                "name": "Thresholds",
                "value": "Thresholds",
                "description": "Based on configurable thresholds."
              }
            ]
          }
        },
        "degradedThreshold": {
          "type": "string",
          "description": "Degraded threshold for aggregating the propagated health state of child dependencies. Can be either an absolute number that is greater than 0, or a percentage between 1-100%. The entity will be considered degraded when the number of not healthy child dependents (unhealthy, degraded, unknown) is equal to or above the threshold value. Must only be set when AggregationType is 'Thresholds'."
        },
        "unhealthyThreshold": {
          "type": "string",
          "description": "Unhealthy threshold for aggregating the propagated health state of child dependencies. Can be either an absolute number that is greater than 0, or a percentage between 1-100%. The entity will be considered unhealthy when the number of not healthy child dependents (unhealthy, degraded, unknown) is equal to or above the threshold value. Must only be set when AggregationType is 'Thresholds'."
        }
      },
      "required": [
        "aggregationType"
      ]
    },
    "DiscoveryError": {
      "type": "object",
      "description": "Error details for a failed discovery operation",
      "properties": {
        "message": {
          "type": "string",
          "description": "Error message",
          "readOnly": true
        },
        "context": {
          "type": "array",
          "description": "Additional context information, like resource IDs or query details",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "message"
      ]
    },
    "DiscoveryRule": {
      "type": "object",
      "description": "A discovery rule which automatically finds entities and relationships in a health model based on an Azure Resource Graph query",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DiscoveryRuleKind": {
      "type": "string",
      "description": "Discovery rule specification kind discriminator",
      "enum": [
        "ResourceGraphQuery",
        "ApplicationInsightsTopology"
      ],
      "x-ms-enum": {
        "name": "DiscoveryRuleKind",
        "modelAsString": true,
        "values": [
          {
            "name": "ResourceGraphQuery",
            "value": "ResourceGraphQuery",
            "description": "Azure Resource Graph query based discovery"
          },
          {
            "name": "ApplicationInsightsTopology",
            "value": "ApplicationInsightsTopology",
            "description": "Application Insights topology based discovery"
          }
        ]
      }
    },
    "DiscoveryRuleListResult": {
      "type": "object",
      "description": "The response of a DiscoveryRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DiscoveryRule items on this page",
          "items": {
            "$ref": "#/definitions/DiscoveryRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DiscoveryRuleProperties": {
      "type": "object",
      "description": "Discovery rule properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 260
        },
        "authenticationSetting": {
          "$ref": "#/definitions/authenticationSettingName",
          "description": "Reference to the name of the authentication setting which is used for querying Azure Resource Graph. The same authentication setting will also be assigned to any discovered entities."
        },
        "discoverRelationships": {
          "$ref": "#/definitions/DiscoveryRuleRelationshipDiscoveryBehavior",
          "description": "Whether to create relationships between the discovered entities based on a set of built-in rules. These relationships cannot be manually deleted."
        },
        "addRecommendedSignals": {
          "$ref": "#/definitions/DiscoveryRuleRecommendedSignalsBehavior",
          "description": "Whether to add all recommended signals to the discovered entities."
        },
        "specification": {
          "$ref": "#/definitions/DiscoveryRuleSpecification",
          "description": "Specification of the discovery rule defining how entities are discovered."
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when the discovery rule was (soft-)deleted.",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/DiscoveryError",
          "description": "Error details if the last discovery operation failed.",
          "readOnly": true
        },
        "entityName": {
          "type": "string",
          "description": "Name of the entity which represents the discovery rule. Note: It might take a few minutes after creating the discovery rule until the entity is created.",
          "readOnly": true
        }
      },
      "required": [
        "authenticationSetting",
        "discoverRelationships",
        "addRecommendedSignals",
        "specification",
        "entityName"
      ]
    },
    "DiscoveryRuleRecommendedSignalsBehavior": {
      "type": "string",
      "description": "Discovery rule recommended signal behavior",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DiscoveryRuleRecommendedSignalsBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Automatically add recommended signals"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Do not automatically add recommended signals"
          }
        ]
      }
    },
    "DiscoveryRuleRelationshipDiscoveryBehavior": {
      "type": "string",
      "description": "Discovery rule relationship discovery behavior",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DiscoveryRuleRelationshipDiscoveryBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Automatically attempt to discover relationships"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Do not automatically attempt to discover relationships"
          }
        ]
      }
    },
    "DiscoveryRuleSpecification": {
      "type": "object",
      "description": "Base model for discovery rule specifications",
      "properties": {
        "kind": {
          "$ref": "#/definitions/DiscoveryRuleKind",
          "description": "Kind of the discovery rule specification"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "Entity": {
      "type": "object",
      "description": "An entity (aka node) of a health model",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EntityProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EntityAlerts": {
      "type": "object",
      "description": "Alert configuration for an entity",
      "properties": {
        "unhealthy": {
          "$ref": "#/definitions/AlertConfiguration",
          "description": "Alert to be triggered on state change to unhealthy"
        },
        "degraded": {
          "$ref": "#/definitions/AlertConfiguration",
          "description": "Alert to be triggered on state change to degraded"
        }
      }
    },
    "EntityCoordinates": {
      "type": "object",
      "description": "Visual position of the entity",
      "properties": {
        "x": {
          "type": "number",
          "format": "float",
          "description": "X Coordinate"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y Coordinate"
        }
      },
      "required": [
        "x",
        "y"
      ]
    },
    "EntityHistoryRequest": {
      "type": "object",
      "description": "Request body for getting entity health history",
      "properties": {
        "startAt": {
          "type": "string",
          "format": "date-time",
          "description": "Start time for the history query. Defaults to 24 hours ago if not specified."
        },
        "endAt": {
          "type": "string",
          "format": "date-time",
          "description": "End time for the history query. Defaults to now if not specified."
        }
      }
    },
    "EntityHistoryResponse": {
      "type": "object",
      "description": "Response containing entity health state transitions",
      "properties": {
        "entityName": {
          "$ref": "#/definitions/entityName",
          "description": "Name of the entity"
        },
        "history": {
          "type": "array",
          "description": "List of health state transitions",
          "items": {
            "$ref": "#/definitions/HealthStateTransition"
          },
          "x-ms-identifiers": [
            "occurredAt"
          ]
        }
      },
      "required": [
        "entityName",
        "history"
      ]
    },
    "EntityListResult": {
      "type": "object",
      "description": "The response of a Entity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Entity items on this page",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EntityProperties": {
      "type": "object",
      "description": "Properties which are common across all kinds of entities",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Display name",
          "minLength": 1,
          "maxLength": 260
        },
        "kind": {
          "type": "string",
          "description": "Entity kind",
          "default": "Default",
          "minLength": 1,
          "maxLength": 260
        },
        "canvasPosition": {
          "$ref": "#/definitions/EntityCoordinates",
          "description": "Positioning of the entity on the model canvas"
        },
        "icon": {
          "$ref": "#/definitions/IconDefinition",
          "description": "Visual icon definition. If not set, a default icon is used."
        },
        "healthObjective": {
          "type": "number",
          "format": "float",
          "description": "Health objective as a percentage of time the entity should be healthy.",
          "minimum": 0,
          "maximum": 100
        },
        "impact": {
          "type": "string",
          "description": "Impact of the entity in health state propagation",
          "default": "Standard",
          "enum": [
            "Standard",
            "Limited",
            "Suppressed"
          ],
          "x-ms-enum": {
            "name": "EntityImpact",
            "modelAsString": true,
            "values": [
              {
                "name": "Standard",
                "value": "Standard",
                "description": "Standard impact"
              },
              {
                "name": "Limited",
                "value": "Limited",
                "description": "Limited impact"
              },
              {
                "name": "Suppressed",
                "value": "Suppressed",
                "description": "Suppressed impact"
              }
            ]
          }
        },
        "tags": {
          "type": "object",
          "description": "Optional set of tags (key-value pairs)",
          "additionalProperties": {
            "$ref": "#/definitions/string4096"
          }
        },
        "signalGroups": {
          "$ref": "#/definitions/SignalGroups",
          "description": "Signal groups which are assigned to this entity"
        },
        "discoveredBy": {
          "$ref": "#/definitions/discoveryRuleName",
          "description": "Discovered by which discovery rule. If set, the entity cannot be deleted manually.",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when the entity was (soft-)deleted",
          "readOnly": true
        },
        "healthState": {
          "$ref": "#/definitions/HealthState",
          "description": "Health state of this entity",
          "readOnly": true
        },
        "alerts": {
          "$ref": "#/definitions/EntityAlerts",
          "description": "Alert configuration for this entity"
        }
      }
    },
    "EvaluationRule": {
      "type": "object",
      "description": "Evaluation rule for a signal definition",
      "properties": {
        "degradedRule": {
          "$ref": "#/definitions/ThresholdRuleV2",
          "description": "Degraded rule with static threshold."
        },
        "unhealthyRule": {
          "$ref": "#/definitions/ThresholdRuleV2",
          "description": "Unhealthy rule with static threshold."
        }
      },
      "required": [
        "unhealthyRule"
      ]
    },
    "ExternalSignal": {
      "type": "object",
      "description": "An externally submitted signal instance assigned to an entity.",
      "properties": {
        "evaluationRules": {
          "$ref": "#/definitions/EvaluationRule",
          "description": "Evaluation rules for the external signal as submitted."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SignalInstanceProperties"
        }
      ],
      "x-ms-discriminator-value": "ExternalSignal"
    },
    "ExternalSignalGroup": {
      "type": "object",
      "description": "A grouping of externally submitted signals.",
      "properties": {
        "signals": {
          "type": "array",
          "description": "Signals assigned to this signal group.",
          "items": {
            "$ref": "#/definitions/ExternalSignal"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "HealthModel": {
      "type": "object",
      "description": "A HealthModel resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HealthModelProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HealthModelListResult": {
      "type": "object",
      "description": "The response of a HealthModel list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HealthModel items on this page",
          "items": {
            "$ref": "#/definitions/HealthModel"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HealthModelProperties": {
      "type": "object",
      "description": "HealthModel properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/HealthModelProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "discovery": {
          "$ref": "#/definitions/ModelDiscoverySettings",
          "description": "Configure to automatically discover entities from a given scope, such as a Service Group. The discovered entities will be linked to the root entity of the health model."
        }
      }
    },
    "HealthModelProvisioningState": {
      "type": "string",
      "description": "Health Model provisioning states",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "HealthModelProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          }
        ]
      },
      "readOnly": true
    },
[...]
