{
  "swagger": "2.0",
  "info": {
    "title": "ManagedApplicationClient",
    "version": "2016-09-01-preview",
    "description": "ARM managed applications (appliances)"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Solutions/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "ListOperations",
        "description": "Lists all of the available Microsoft.Solutions REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances/{applianceName}": {
      "get": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_Get",
        "description": "Gets the appliance.",
        "x-ms-examples": {
          "Get an appliance": {
            "$ref": "./examples/getAppliance.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the appliance.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_Delete",
        "description": "Deletes the appliance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_CreateOrUpdate",
        "description": "Creates a new appliance.",
        "x-ms-examples": {
          "Create or update appliance": {
            "$ref": "./examples/createOrUpdateAppliance.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Appliance"
            },
            "description": "Parameters supplied to the create or update an appliance."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the appliance, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "201": {
            "description": "Created - Returns information about the appliance, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_Update",
        "description": "Updates an existing appliance. The only value that can be updated via PATCH currently is the tags.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Appliance"
            },
            "description": "Parameters supplied to update an existing appliance."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the appliance, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions/{applianceDefinitionName}": {
      "get": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_Get",
        "description": "Gets the appliance definition.",
        "x-ms-examples": {
          "Get appliance definition": {
            "$ref": "./examples/getApplianceDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the appliance definition.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_Delete",
        "description": "Deletes the appliance definition.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance definition to delete.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_CreateOrUpdate",
        "description": "Creates a new appliance definition.",
        "x-ms-examples": {
          "Create or update appliance definition": {
            "$ref": "./examples/createOrUpdateApplianceDefinition.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "applianceDefinitionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the appliance definition.",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            },
            "description": "Parameters supplied to the create or update an appliance definition."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the appliance definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            }
          },
          "201": {
            "description": "Created - Returns information about the appliance definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applianceDefinitions": {
      "get": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_ListByResourceGroup",
        "description": "Lists the appliance definitions in a resource group.",
        "x-ms-examples": {
          "List appliance definitions": {
            "$ref": "./examples/listApplianceDefinitionsByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of appliance definitions.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/appliances": {
      "get": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_ListByResourceGroup",
        "description": "Gets all the appliances within a resource group.",
        "x-ms-examples": {
          "Lists appliances": {
            "$ref": "./examples/listAppliancesByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of appliances.",
            "schema": {
              "$ref": "#/definitions/ApplianceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/appliances": {
      "get": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_ListBySubscription",
        "description": "Gets all the appliances within a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of appliances.",
            "schema": {
              "$ref": "#/definitions/ApplianceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{applianceId}": {
      "get": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_GetById",
        "description": "Gets the appliance.",
        "parameters": [
          {
            "name": "applianceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the appliance.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_DeleteById",
        "description": "Deletes the appliance.",
        "parameters": [
          {
            "name": "applianceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_CreateOrUpdateById",
        "description": "Creates a new appliance.",
        "parameters": [
          {
            "name": "applianceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Appliance"
            },
            "description": "Parameters supplied to the create or update an appliance."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the appliance, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "201": {
            "description": "Created - Returns information about the appliance, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Appliances"
        ],
        "operationId": "Appliances_UpdateById",
        "description": "Updates an existing appliance. The only value that can be updated via PATCH currently is the tags.",
        "parameters": [
          {
            "name": "applianceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance, including the appliance name and the appliance resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/appliances/{appliance-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Appliance"
            },
            "description": "Parameters supplied to update an existing appliance."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the appliance, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{applianceDefinitionId}": {
      "get": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_GetById",
        "description": "Gets the appliance definition.",
        "parameters": [
          {
            "name": "applianceDefinitionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance definition, including the appliance name and the appliance definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the appliance definition.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_DeleteById",
        "description": "Deletes the appliance definition.",
        "parameters": [
          {
            "name": "applianceDefinitionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance definition, including the appliance name and the appliance definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "ApplianceDefinitions"
        ],
        "operationId": "ApplianceDefinitions_CreateOrUpdateById",
        "description": "Creates a new appliance definition.",
        "parameters": [
          {
            "name": "applianceDefinitionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified ID of the appliance definition, including the appliance name and the appliance definition resource type. Use the format, /subscriptions/{guid}/resourceGroups/{resource-group-name}/Microsoft.Solutions/applianceDefinitions/{applianceDefinition-name}",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            },
            "description": "Parameters supplied to the create or update an appliance definition."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the appliance definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            }
          },
          "201": {
            "description": "Created - Returns information about the appliance definition, including provisioning status.",
            "schema": {
              "$ref": "#/definitions/ApplianceDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Appliance": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplianceProperties",
          "description": "The appliance properties."
        },
        "plan": {
          "$ref": "#/definitions/Plan",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the appliance. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance."
    },
    "AppliancePatchable": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AppliancePropertiesPatchable",
          "description": "The appliance properties."
        },
        "plan": {
          "$ref": "#/definitions/PlanPatchable",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the appliance. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance."
    },
    "ApplianceDefinition": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplianceDefinitionProperties",
          "description": "The appliance definition properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ],
      "description": "Information about appliance definition."
    },
    "ApplianceProperties": {
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applianceDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of appliance definition Id."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the appliance parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "readOnly": true,
          "type": "object",
          "description": "Name and value pairs that define the appliance outputs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The appliance provisioning state."
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "The blob URI where the UI definition file is located."
        }
      },
      "required": [
        "managedResourceGroupId"
      ],
      "description": "The appliance properties."
    },
    "AppliancePropertiesPatchable": {
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applianceDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of appliance definition Id."
        },
        "parameters": {
          "type": "object",
          "description": "Name and value pairs that define the appliance parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "readOnly": true,
          "type": "object",
          "description": "Name and value pairs that define the appliance outputs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The appliance provisioning state."
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "The blob URI where the UI definition file is located."
        }
      },
      "description": "The appliance properties."
    },
    "ApplianceDefinitionProperties": {
      "properties": {
        "lockLevel": {
          "$ref": "#/definitions/ApplianceLockLevel",
          "description": "The appliance lock level."
        },
        "displayName": {
          "type": "string",
          "description": "The appliance definition display name."
        },
        "authorizations": {
          "description": "The appliance provider authorizations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceProviderAuthorization"
          }
        },
        "artifacts": {
          "description": "The collection of appliance artifacts. The portal will use the files specified as artifacts to construct the user experience of creating an appliance from an appliance definition.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceArtifact"
          }
        },
        "description": {
          "type": "string",
          "description": "The appliance definition description."
        },
        "packageFileUri": {
          "type": "string",
          "description": "The appliance definition package file Uri."
        }
      },
      "required": [
        "lockLevel",
        "authorizations",
        "packageFileUri"
      ],
      "description": "The appliance definition properties."
    },
    "Plan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "required": [
        "name",
        "publisher",
        "product",
        "version"
      ],
      "description": "Plan for the appliance."
    },
    "PlanPatchable": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "description": "Plan for the appliance."
    },
    "GenericResource": {
      "properties": {
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Resource information."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU name."
        },
        "tier": {
          "type": "string",
          "description": "The SKU tier."
        },
        "size": {
          "type": "string",
          "description": "The SKU size."
        },
        "family": {
          "type": "string",
          "description": "The SKU family."
        },
        "model": {
          "type": "string",
          "description": "The SKU model."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The SKU capacity."
        }
      },
      "required": [
        "name"
      ],
      "description": "SKU for the resource."
    },
    "Identity": {
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      },
      "description": "Identity for the resource."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "Resource information.",
      "x-ms-azure-resource": true
    },
    "ApplianceListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Appliance"
          },
          "description": "The array of appliances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of appliances."
    },
    "ApplianceDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceDefinition"
          },
          "description": "The array of appliance definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of appliance definitions."
    },
    "ProvisioningState": {
      "description": "Provisioning status of the appliance.",
      "readOnly": true,
      "enum": [
        "Accepted",
        "Running",
        "Ready",
        "Creating",
        "Created",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed",
        "Succeeded",
        "Updating"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ApplianceLockLevel": {
      "description": "The appliance lock level.",
      "enum": [
        "CanNotDelete",
        "ReadOnly",
        "None"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplianceLockLevel",
        "modelAsString": false
      }
    },
    "ApplianceArtifactType": {
      "description": "The appliance artifact type.",
      "enum": [
        "Template",
        "Custom"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ApplianceArtifactType",
        "modelAsString": false
      }
    },
    "ApplianceArtifact": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The appliance artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The appliance artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplianceArtifactType",
          "description": "The appliance artifact type."
        }
      },
      "description": "Appliance artifact."
    },
    "ApplianceProviderAuthorization": {
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the appliance resources."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the appliance's container resource group. This role definition cannot have permission to delete the resource group."
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ],
      "description": "The appliance provider authorization."
    },
    "ErrorResponse": {
      "description": "Error response indicates ARM appliance is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "Http status code.",
          "type": "string"
        },
        "errorCode": {
          "description": "Error code.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Microsoft.Solutions operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Solutions",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Microsoft.Solutions operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Microsoft.Solutions operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    }
  }
}
