{
  "swagger": "2.0",
  "info": {
    "title": "Azure Bot Service",
    "version": "2023-09-15-preview",
    "description": "Azure Bot Service is a platform for creating smart conversational agents.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Bots"
    },
    {
      "name": "BotChannels"
    },
    {
      "name": "ConnectionSettings"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    }
  ],
  "paths": {
    "/providers/Microsoft.BotService/checkNameAvailability": {
      "post": {
        "operationId": "Bots_GetCheckNameAvailability",
        "description": "Check whether a bot name is available.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponseBody"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "check Name Availability": {
            "$ref": "./examples/CheckNameAvailability.json"
          }
        }
      }
    },
    "/providers/Microsoft.BotService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationEntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/botServices": {
      "get": {
        "operationId": "Bots_List",
        "tags": [
          "Bots"
        ],
        "description": "Returns all the resources of a particular type belonging to a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Bots by Subscription": {
            "$ref": "./examples/ListBotsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/hostSettings": {
      "get": {
        "operationId": "HostSettings_Get",
        "description": "Get per subscription settings needed to host bot in compute resource such as Azure App Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/HostSettingsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Bot Host Settings": {
            "$ref": "./examples/GetHostSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/listAuthServiceProviders": {
      "post": {
        "operationId": "BotConnection_ListServiceProviders",
        "description": "Lists the available Service Providers for creating Connection Settings",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ServiceProviderResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Auth Service Providers": {
            "$ref": "./examples/ListServiceProviders.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/listQnAMakerEndpointKeys": {
      "post": {
        "operationId": "QnAMakerEndpointKeys_Get",
        "description": "Lists the QnA Maker endpoint keys",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QnAMakerEndpointKeysRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QnAMakerEndpointKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List QnAMaker Endpoint Keys": {
            "$ref": "./examples/ListQnAMakerEndpointKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.BotService/operationresults/{operationResultId}": {
      "get": {
        "operationId": "OperationResults_Get",
        "description": "Get the operation result for a long running operation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operationResultId",
            "in": "path",
            "description": "The ID of the operation result to get.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationResultsDescription"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get operation result": {
            "$ref": "./examples/OperationResultsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices": {
      "get": {
        "operationId": "Bots_ListByResourceGroup",
        "tags": [
          "Bots"
        ],
        "description": "Returns all the resources of a particular type belonging to a resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Bots by Resource Group": {
            "$ref": "./examples/ListBotsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}": {
      "get": {
        "operationId": "Bots_Get",
        "tags": [
          "Bots"
        ],
        "description": "Returns a BotService specified by the parameters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Bot": {
            "$ref": "./examples/GetBot.json"
          }
        }
      },
      "put": {
        "operationId": "Bots_Create",
        "tags": [
          "Bots"
        ],
        "description": "Creates a Bot Service. Bot Service is a resource group wide resource type.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Bot' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "201": {
            "description": "Resource 'Bot' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Create Bot": {
            "$ref": "./examples/CreateBot.json"
          }
        }
      },
      "patch": {
        "operationId": "Bots_Update",
        "tags": [
          "Bots"
        ],
        "description": "Updates a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "201": {
            "description": "Resource 'Bot' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Bot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Update Bot": {
            "$ref": "./examples/UpdateBot.json"
          }
        }
      },
      "delete": {
        "operationId": "Bots_Delete",
        "tags": [
          "Bots"
        ],
        "description": "Deletes a Bot Service from the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Delete Bot": {
            "$ref": "./examples/DeleteBot.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels": {
      "get": {
        "operationId": "Channels_ListByResourceGroup",
        "tags": [
          "BotChannels"
        ],
        "description": "Returns all the Channel registrations of a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChannelResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Channels by Resource Group": {
            "$ref": "./examples/ListChannelsByBotService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}": {
      "get": {
        "operationId": "Channels_Get",
        "tags": [
          "BotChannels"
        ],
        "description": "Returns a BotService Channel registration specified by the parameters.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Alexa Channel": {
            "$ref": "./examples/GetAlexaChannel.json"
          },
          "Get Channel": {
            "$ref": "./examples/GetChannel.json"
          },
          "Get DirectLine Speech Channel": {
            "$ref": "./examples/GetDirectLineSpeechChannel.json"
          },
          "Get Line Channel": {
            "$ref": "./examples/GetLineChannel.json"
          }
        }
      },
      "put": {
        "operationId": "Channels_Create",
        "tags": [
          "BotChannels"
        ],
        "description": "Creates a Channel registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": false
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BotChannel' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "201": {
            "description": "Resource 'BotChannel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Create Alexa Channel": {
            "$ref": "./examples/PutAlexaChannel.json"
          },
          "Create Channel": {
            "$ref": "./examples/PutChannel.json"
          },
          "Create DirectLine Speech Channel": {
            "$ref": "./examples/PutDirectLineSpeechChannel.json"
          },
          "Create Email Channel": {
            "$ref": "./examples/PutEmailChannel.json"
          },
          "Create Line Channel": {
            "$ref": "./examples/PutLineChannel.json"
          }
        }
      },
      "patch": {
        "operationId": "Channels_Update",
        "tags": [
          "BotChannels"
        ],
        "description": "Updates a Channel registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": false
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "201": {
            "description": "Resource 'BotChannel' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Update Alexa Channel": {
            "$ref": "./examples/UpdateAlexaChannel.json"
          },
          "Update Channel": {
            "$ref": "./examples/UpdateChannel.json"
          },
          "Update DirectLine Speech Channel": {
            "$ref": "./examples/UpdateDirectLineSpeechChannel.json"
          },
          "Update Line Channel": {
            "$ref": "./examples/UpdateLineChannel.json"
          }
        }
      },
      "delete": {
        "operationId": "Channels_Delete",
        "tags": [
          "BotChannels"
        ],
        "description": "Deletes a Channel registration from a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Delete Channel": {
            "$ref": "./examples/DeleteChannel.json"
          },
          "Delete DirectLine Speech Channel": {
            "$ref": "./examples/DeleteDirectLineSpeechChannel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}/listChannelWithKeys": {
      "post": {
        "operationId": "Channels_ListWithKeys",
        "tags": [
          "BotChannels"
        ],
        "description": "Lists a Channel registration for a Bot Service including secrets",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource.",
            "required": true,
            "type": "string",
            "enum": [
              "AlexaChannel",
              "FacebookChannel",
              "EmailChannel",
              "KikChannel",
              "TelegramChannel",
              "SlackChannel",
              "MsTeamsChannel",
              "SkypeChannel",
              "WebChatChannel",
              "DirectLineChannel",
              "SmsChannel",
              "LineChannel",
              "DirectLineSpeechChannel",
              "OutlookChannel",
              "Omnichannel",
              "TelephonyChannel",
              "AcsChatChannel",
              "SearchAssistant",
              "M365Extensions"
            ],
            "x-ms-enum": {
              "name": "ChannelName",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListChannelWithKeysResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Channel": {
            "$ref": "./examples/ListChannel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/channels/{channelName}/regeneratekeys": {
      "post": {
        "operationId": "DirectLine_RegenerateKeys",
        "tags": [
          "BotChannels"
        ],
        "description": "Regenerates secret keys and returns them for the DirectLine Channel of a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "channelName",
            "in": "path",
            "description": "The name of the Channel resource for which keys are to be regenerated.",
            "required": true,
            "type": "string",
            "enum": [
              "WebChatChannel",
              "DirectLineChannel"
            ],
            "x-ms-enum": {
              "name": "RegenerateKeysChannelName",
              "modelAsString": false
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for the created bot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BotChannel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate Keys for DirectLine Channel Site": {
            "$ref": "./examples/DirectlineRegenerateKeys.json"
          },
          "Regenerate Keys for WebChat Channel Site": {
            "$ref": "./examples/WebChatRegenerateKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections": {
      "get": {
        "operationId": "BotConnection_ListByBotService",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Returns all the Connection Settings registered to a particular BotService resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSettingResponseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Connection Settings": {
            "$ref": "./examples/ListConnectionsByBotService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}": {
      "get": {
        "operationId": "BotConnection_Get",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Get a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Connection Setting": {
            "$ref": "./examples/GetConnection.json"
          }
        }
      },
      "put": {
        "operationId": "BotConnection_Create",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Register a new Auth Connection for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for creating the Connection Setting.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectionSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "201": {
            "description": "Resource 'ConnectionSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Create Connection Setting": {
            "$ref": "./examples/PutConnection.json"
          }
        }
      },
      "patch": {
        "operationId": "BotConnection_Update",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Updates a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide for updating the Connection Setting.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "201": {
            "description": "Resource 'ConnectionSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Update Connection Setting": {
            "$ref": "./examples/UpdateConnection.json"
          }
        }
      },
      "delete": {
        "operationId": "BotConnection_Delete",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Deletes a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Delete Connection Setting": {
            "$ref": "./examples/DeleteConnection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/connections/{connectionName}/listWithSecrets": {
      "post": {
        "operationId": "BotConnection_ListWithSecrets",
        "tags": [
          "ConnectionSettings"
        ],
        "description": "Get a Connection Setting registration for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of the Bot Service Connection Setting resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][\\sa-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Connection Setting With Secrets": {
            "$ref": "./examples/GetConnectionListWithSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/createEmailSignInUrl": {
      "post": {
        "operationId": "Email_CreateSignInUrl",
        "tags": [
          "Bots"
        ],
        "description": "Creates an email channel sign in url for a Bot Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CreateEmailSignInUrlResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Create Url": {
            "$ref": "./examples/CreateEmailSignInUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_List",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "List Network Security Perimeter configurations associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfigurationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Network Security Perimeter Configurations": {
            "$ref": "./examples/ListNetworkSecurityPerimeterConfigurations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}": {
      "get": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Get",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Gets the specified Network Security Perimeter configuration associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "networkSecurityPerimeterConfigurationName",
            "in": "path",
            "description": "The resource association Name. Composed of parameter guid and association name.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Network Security Perimeter Configuration": {
            "$ref": "./examples/GetNetworkSecurityPerimeterConfiguration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/networkSecurityPerimeterConfigurations/{networkSecurityPerimeterConfigurationName}/reconcile": {
      "post": {
        "operationId": "NetworkSecurityPerimeterConfigurations_Reconcile",
        "tags": [
          "NetworkSecurityPerimeterConfigurations"
        ],
        "description": "Reconcile the specified Network Security Perimeter configuration associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "networkSecurityPerimeterConfigurationName",
            "in": "path",
            "description": "The resource association Name. Composed of parameter guid and association name.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Reconcile Network Security Perimeter Configuration": {
            "$ref": "./examples/ReconcileNetworkSecurityPerimeterConfiguration.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_List",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all the private endpoint connections associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Private Endpoint Connections": {
            "$ref": "./examples/ListPrivateEndpointConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Endpoint Connection": {
            "$ref": "./examples/GetPrivateEndpointConnection.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Create",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The private endpoint connection properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Put Private Endpoint Connection": {
            "$ref": "./examples/PutPrivateEndpointConnection.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection associated with the Azure resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Delete Private Endpoint Connection": {
            "$ref": "./examples/DeletePrivateEndpointConnection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BotService/botServices/{resourceName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByBotResource",
        "tags": [
          "Bots"
        ],
        "description": "Gets the private link resources that need to be created for a Bot.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Bot resource.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "List Private Link Resources": {
            "$ref": "./examples/ListPrivateLinkResources.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessMode": {
      "type": "string",
      "description": "Access Mode of the resource association",
      "enum": [
        "Enforced",
        "Learning",
        "Audit"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Enforced",
            "value": "Enforced"
          },
          {
            "name": "Learning",
            "value": "Learning"
          },
          {
            "name": "Audit",
            "value": "Audit"
          }
        ]
      }
    },
    "AcsChatChannel": {
      "type": "object",
      "description": "AcsChat channel definition",
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "AcsChatChannel"
    },
    "AlexaChannel": {
      "type": "object",
      "description": "Alexa channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AlexaChannelProperties",
          "description": "The set of properties specific to Alexa channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "AlexaChannel"
    },
    "AlexaChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Alexa channel.",
      "properties": {
        "alexaSkillId": {
          "type": "string",
          "description": "The Alexa skill Id"
        },
        "urlFragment": {
          "type": "string",
          "description": "Url fragment used in part of the Uri configured in Alexa",
          "readOnly": true
        },
        "serviceEndpointUri": {
          "type": "string",
          "description": "Full Uri used to configured the skill in Alexa",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "alexaSkillId",
        "isEnabled"
      ]
    },
    "Bot": {
      "type": "object",
      "description": "Bot resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BotProperties",
          "description": "The set of properties specific to bot resource"
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Contains resource tags defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of the resource."
        },
        "kind": {
          "$ref": "#/definitions/Kind",
          "description": "Required. Gets or sets the Kind of the resource."
        },
        "etag": {
          "type": "string",
          "description": "Entity Tag."
        },
        "zones": {
          "type": "array",
          "description": "Entity zones",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BotChannel": {
      "type": "object",
      "description": "Bot channel resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Channel",
          "description": "The set of properties specific to bot channel resource"
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Contains resource tags defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of the resource."
        },
        "kind": {
          "$ref": "#/definitions/Kind",
          "description": "Required. Gets or sets the Kind of the resource."
        },
        "etag": {
          "type": "string",
          "description": "Entity Tag."
        },
        "zones": {
          "type": "array",
          "description": "Entity zones",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BotProperties": {
      "type": "object",
      "description": "The parameters to provide for the Bot.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The Name of the bot"
        },
        "description": {
          "type": "string",
          "description": "The description of the bot"
        },
        "iconUrl": {
          "type": "string",
          "description": "The Icon Url of the bot",
          "default": ""
        },
        "endpoint": {
          "type": "string",
          "description": "The bot's endpoint",
          "x-nullable": true
        },
        "endpointVersion": {
          "type": "string",
          "description": "The bot's endpoint version",
          "readOnly": true
        },
        "allSettings": {
          "type": "object",
          "description": "Contains resource all settings defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "object",
          "description": "Contains resource parameters defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "manifestUrl": {
          "type": "string",
          "description": "The bot's manifest url"
        },
        "msaAppType": {
          "$ref": "#/definitions/MsaAppType",
          "description": "Microsoft App Type for the bot"
        },
        "msaAppId": {
          "type": "string",
          "description": "Microsoft App Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "msaAppTenantId": {
          "type": "string",
          "description": "Microsoft App Tenant Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "msaAppMSIResourceId": {
          "type": "string",
          "description": "Microsoft App Managed Identity Resource Id for the bot"
        },
        "configuredChannels": {
          "type": "array",
          "description": "Collection of channels for which the bot is configured",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "enabledChannels": {
          "type": "array",
          "description": "Collection of channels for which the bot is enabled",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "developerAppInsightKey": {
          "type": "string",
          "description": "The Application Insights key"
        },
        "developerAppInsightsApiKey": {
          "type": "string",
          "description": "The Application Insights Api Key"
        },
        "developerAppInsightsApplicationId": {
          "type": "string",
          "description": "The Application Insights App Id"
        },
        "luisAppIds": {
          "type": "array",
          "description": "Collection of LUIS App Ids",
          "items": {
            "type": "string"
          }
        },
        "luisKey": {
          "type": "string",
          "description": "The LUIS Key"
        },
        "isCmekEnabled": {
          "type": "boolean",
          "description": "Whether Cmek is enabled",
          "default": false
        },
        "cmekKeyVaultUrl": {
          "type": "string",
          "description": "The CMK Url"
        },
        "cmekEncryptionStatus": {
          "type": "string",
          "description": "The CMK encryption status",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The Tenant Id for the bot",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "Whether the bot is in an isolated network",
          "default": "Enabled",
          "enum": [
            "Enabled",
            "Disabled",
            "SecuredByPerimeter"
          ],
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true,
            "values": [
              {
                "name": "Enabled",
                "value": "Enabled"
              },
              {
                "name": "Disabled",
                "value": "Disabled"
              },
              {
                "name": "SecuredByPerimeter",
                "value": "SecuredByPerimeter"
              }
            ]
          }
        },
        "isStreamingSupported": {
          "type": "boolean",
          "description": "Whether the bot is streaming supported",
          "default": false
        },
        "isDeveloperAppInsightsApiKeySet": {
          "type": "boolean",
          "description": "Whether the bot is developerAppInsightsApiKey set",
          "readOnly": true
        },
        "migrationToken": {
          "type": "string",
          "description": "Token used to migrate non Azure bot to azure subscription",
          "readOnly": true
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "schemaTransformationVersion": {
          "type": "string",
          "description": "The channel schema transformation version for the bot",
          "default": null,
          "x-nullable": true
        },
        "storageResourceId": {
          "type": "string",
          "description": "The storage resourceId for the bot"
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of Private Endpoint Connections configured for the bot",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "networkSecurityPerimeterConfigurations": {
          "type": "array",
          "description": "List of Network Security Perimeter configurations for the bot",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeterConfiguration"
          },
          "readOnly": true
        },
        "openWithHint": {
          "type": "string",
          "description": "The hint to browser (e.g. protocol handler) on how to open the bot for authoring"
        },
        "appPasswordHint": {
          "type": "string",
          "description": "The hint (e.g. keyVault secret resourceId) on how to fetch the app secret"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "publishingCredentials": {
          "type": "string",
          "description": "Publishing credentials of the resource"
        }
      },
      "required": [
        "displayName",
        "endpoint",
        "msaAppId"
      ]
    },
    "BotResponseList": {
      "type": "object",
      "description": "The list of bot service operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Bot items on this page",
          "items": {
            "$ref": "#/definitions/Bot"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Channel": {
      "type": "object",
      "description": "Channel definition",
      "properties": {
        "channelName": {
          "type": "string",
          "description": "The channel name"
        },
        "etag": {
          "type": "string",
          "description": "Entity Tag of the resource",
          "x-nullable": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource.",
          "default": "global"
        }
      },
      "discriminator": "channelName",
      "required": [
        "channelName"
      ]
    },
    "ChannelResponseList": {
      "type": "object",
      "description": "The list of bot service channel operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BotChannel items on this page",
          "items": {
            "$ref": "#/definitions/BotChannel"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ChannelSettings": {
      "type": "object",
      "description": "Channel settings definition",
      "properties": {
        "extensionKey1": {
          "type": "string",
          "description": "The extensionKey1",
          "default": ""
        },
        "extensionKey2": {
          "type": "string",
          "description": "The extensionKey2",
          "default": ""
        },
        "sites": {
          "type": "array",
          "description": "The list of sites",
          "items": {
            "$ref": "#/definitions/Site"
          }
        },
        "channelId": {
          "type": "string",
          "description": "The channel id"
        },
        "channelDisplayName": {
          "type": "string",
          "description": "The channel display name"
        },
        "botId": {
          "type": "string",
          "description": "The bot id"
        },
        "botIconUrl": {
          "type": "string",
          "description": "The bot icon url"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication."
        },
        "requireTermsAgreement": {
          "type": "boolean",
          "description": "Whether customer needs to agree to new terms."
        }
      }
    },
    "CheckNameAvailabilityRequestBody": {
      "type": "object",
      "description": "The request body for a request to Bot Service Management to check availability of a bot name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "the name of the bot for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "the type of the bot for which availability needs to be checked"
        }
      }
    },
    "CheckNameAvailabilityResponseBody": {
      "type": "object",
      "description": "The response body returned for a request to Bot Service Management to check availability of a bot name.",
      "properties": {
        "valid": {
          "type": "boolean",
          "description": "indicates if the bot name is valid."
        },
        "message": {
          "type": "string",
          "description": "additional message from the bot management api showing why a bot name is not available"
        },
        "absCode": {
          "type": "string",
          "description": "response code from ABS"
        }
      }
    },
    "ConnectionSetting": {
      "type": "object",
      "description": "Bot channel resource definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionSettingProperties",
          "description": "The set of properties specific to bot channel resource"
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Contains resource tags defined as key/value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Gets or sets the SKU of the resource."
        },
        "kind": {
          "$ref": "#/definitions/Kind",
          "description": "Required. Gets or sets the Kind of the resource."
        },
        "etag": {
          "type": "string",
          "description": "Entity Tag."
        },
        "zones": {
          "type": "array",
          "description": "Entity zones",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConnectionSettingParameter": {
      "type": "object",
      "description": "Extra Parameter in a Connection Setting Properties to indicate service provider specific properties",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for the Connection Setting Parameter."
        },
        "value": {
          "type": "string",
          "description": "Value associated with the Connection Setting Parameter.",
          "x-nullable": true
        }
      }
    },
    "ConnectionSettingProperties": {
      "type": "object",
      "description": "Properties for a Connection Setting Item",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the Connection Setting."
        },
        "name": {
          "type": "string",
          "description": "Name of the Connection Setting."
        },
        "clientId": {
          "type": "string",
          "description": "Client Id associated with the Connection Setting."
        },
        "settingId": {
          "type": "string",
          "description": "Setting Id set by the service for the Connection Setting.",
          "readOnly": true
        },
        "clientSecret": {
          "type": "string",
          "format": "password",
          "description": "Client Secret associated with the Connection Setting",
          "x-ms-secret": true
        },
        "scopes": {
          "type": "string",
          "description": "Scopes associated with the Connection Setting",
          "default": ""
        },
        "serviceProviderId": {
          "type": "string",
          "description": "Service Provider Id associated with the Connection Setting"
        },
        "serviceProviderDisplayName": {
          "type": "string",
          "description": "Service Provider Display Name associated with the Connection Setting"
        },
        "parameters": {
          "type": "array",
          "description": "Service Provider Parameters associated with the Connection Setting",
          "items": {
            "$ref": "#/definitions/ConnectionSettingParameter"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the resource"
        }
      }
    },
    "ConnectionSettingResponseList": {
      "type": "object",
      "description": "The list of bot service connection settings response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectionSetting items on this page",
          "items": {
            "$ref": "#/definitions/ConnectionSetting"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CreateEmailSignInUrlResponse": {
      "type": "object",
      "description": "The ARM create email sign in url operation response.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the resource ID.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "properties": {
          "$ref": "#/definitions/CreateEmailSignInUrlResponseProperties",
          "description": "The set of properties specific to sign in url"
        }
      }
    },
    "CreateEmailSignInUrlResponseProperties": {
      "type": "object",
      "description": "The set of properties specific to sign in url",
      "properties": {
        "url": {
          "type": "string",
          "description": "Sign in url."
        }
      }
    },
    "DirectLineChannel": {
      "type": "object",
      "description": "Direct Line channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectLineChannelProperties",
          "description": "The set of properties specific to Direct Line channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "DirectLineChannel"
    },
    "DirectLineChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Direct Line channel.",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The list of Direct Line sites",
          "items": {
            "$ref": "#/definitions/DirectLineSite"
          }
        },
        "extensionKey1": {
          "type": "string",
          "description": "The extensionKey1",
          "default": ""
        },
        "extensionKey2": {
          "type": "string",
          "description": "The extensionKey2",
          "default": ""
        },
        "DirectLineEmbedCode": {
          "type": "string",
          "description": "Direct Line embed code of the resource"
        }
      }
    },
    "DirectLineSite": {
      "type": "object",
      "description": "A site for the Direct Line channel",
      "allOf": [
        {
          "$ref": "#/definitions/Site"
        }
      ]
    },
    "DirectLineSpeechChannel": {
      "type": "object",
      "description": "DirectLine Speech channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectLineSpeechChannelProperties",
          "description": "The set of properties specific to DirectLine Speech channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "DirectLineSpeechChannel"
    },
    "DirectLineSpeechChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the DirectLine Speech channel.",
      "properties": {
        "cognitiveServiceResourceId": {
          "type": "string",
          "description": "The cognitive service id with this channel registration."
        },
        "cognitiveServiceRegion": {
          "type": "string",
          "description": "The cognitive service region with this channel registration.",
          "x-nullable": true
        },
        "cognitiveServiceSubscriptionKey": {
          "type": "string",
          "format": "password",
          "description": "The cognitive service subscription key to use with this channel registration.",
          "x-nullable": true,
          "x-ms-secret": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled or not."
        },
        "customVoiceDeploymentId": {
          "type": "string",
          "description": "Custom speech model id (optional)."
        },
        "customSpeechModelId": {
          "type": "string",
          "description": "Custom voice deployment id (optional)."
        },
        "isDefaultBotForCogSvcAccount": {
          "type": "boolean",
          "description": "Make this a default bot for chosen cognitive service account."
        }
      }
    },
    "EmailChannel": {
      "type": "object",
      "description": "Email channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmailChannelProperties",
          "description": "The set of properties specific to email channel resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "EmailChannel"
    },
    "EmailChannelAuthMethod": {
      "type": "number",
      "description": "Email channel auth method. 0 Password (Default); 1 Graph.",
      "enum": [
        0,
        1
      ],
      "x-ms-enum": {
        "name": "EmailChannelAuthMethod",
        "modelAsString": false,
        "values": [
          {
            "name": "Password",
            "value": 0,
            "description": "Basic authentication."
          },
          {
            "name": "Graph",
            "value": 1,
            "description": "Modern authentication."
          }
        ]
      }
    },
    "EmailChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Email channel.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address"
        },
        "authMethod": {
          "$ref": "#/definitions/EmailChannelAuthMethod",
          "description": "Email channel auth method. 0 Password (Default); 1 Graph."
        },
        "password": {
          "type": "string",
          "description": "The password for the email address. Value only returned through POST to the action Channel List API, otherwise empty."
        },
        "magicCode": {
          "type": "string",
          "description": "The magic code for setting up the modern authentication."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "emailAddress",
        "isEnabled"
      ]
    },
    "Error": {
      "type": "object",
      "description": "Bot Service error object.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorBody",
          "description": "The error body."
        }
      }
    },
    "ErrorBody": {
      "type": "object",
      "description": "Bot Service error body.",
      "properties": {
        "code": {
          "type": "string",
          "description": "error code"
        },
        "message": {
          "type": "string",
          "description": "error message"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "FacebookChannel": {
      "type": "object",
      "description": "Facebook channel definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FacebookChannelProperties",
          "description": "The set of properties specific to bot facebook channel"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Channel"
        }
      ],
      "x-ms-discriminator-value": "FacebookChannel"
    },
    "FacebookChannelProperties": {
      "type": "object",
      "description": "The parameters to provide for the Facebook channel.",
      "properties": {
        "verifyToken": {
          "type": "string",
          "format": "password",
          "description": "Verify token. Value only returned through POST to the action Channel List API, otherwise empty.",
          "readOnly": true,
          "x-ms-secret": true
        },
        "pages": {
          "type": "array",
          "description": "The list of Facebook pages",
          "items": {
            "$ref": "#/definitions/FacebookPage"
          }
        },
        "appId": {
          "type": "string",
          "description": "Facebook application id"
        },
        "appSecret": {
          "type": "string",
          "format": "password",
          "description": "Facebook application secret. Value only returned through POST to the action Channel List API, otherwise empty.",
          "x-ms-secret": true
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback Url",
          "readOnly": true
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Whether this channel is enabled for the bot"
        }
      },
      "required": [
        "appId",
        "isEnabled"
      ]
    },
    "FacebookPage": {
      "type": "object",
      "description": "A Facebook page for Facebook channel registration",
      "properties": {
        "id": {
          "type": "string",
          "description": "Page id"
        },
        "accessToken": {
          "type": "string",
          "format": "password",
          "description": "Facebook application access token. Value only returned through POST to the action Channel List API, otherwise empty.",
          "x-ms-secret": true
        }
      },
      "required": [
        "id"
      ]
    },
    "HostSettingsResponse": {
      "type": "object",
      "description": "The response body returned for a request to Bot Service Management to check per subscription hostSettings",
      "properties": {
        "OAuthUrl": {
          "type": "string",
          "description": "For in-conversation bot user authentication"
        },
        "ToBotFromChannelOpenIdMetadataUrl": {
          "type": "string",
          "description": "For verifying incoming tokens from the channels"
        },
        "ToBotFromChannelTokenIssuer": {
          "type": "string",
          "description": "For verifying incoming tokens from the channels"
        },
        "ToBotFromEmulatorOpenIdMetadataUrl": {
          "type": "string",
          "description": "For verifying incoming tokens from bot emulator"
        },
        "ToChannelFromBotLoginUrl": {
          "type": "string",
          "description": "For getting access token to channels from bot host"
        },
        "ToChannelFromBotOAuthScope": {
          "type": "string",
          "description": "For getting access token to channels from bot host"
        },
        "ValidateAuthority": {
          "type": "boolean",
[...]
