{
  "swagger": "2.0",
  "info": {
    "title": "Azure AgFoodPlatform RP Service",
    "version": "2023-06-01-preview",
    "description": "APIs documentation for Microsoft Azure Data Manager for Agriculture Service.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DataConnectors"
    },
    {
      "name": "DataManagerForAgricultures"
    },
    {
      "name": "DataManagerForAgricultureExtensions"
    },
    {
      "name": "Extensions"
    },
    {
      "name": "AzureAgFoodPlatformRPServicePrivateEndpointConnections"
    },
    {
      "name": "AzureAgFoodPlatformRPServicePrivateLinkResources"
    },
    {
      "name": "Solutions"
    },
    {
      "name": "DataManagerForAgricultureSolutions"
    }
  ],
  "paths": {
    "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions": {
      "get": {
        "operationId": "DataManagerForAgricultureExtensions_ListByTenant",
        "tags": [
          "DataManagerForAgricultureExtensions"
        ],
        "description": "Get list of Data Manager For Agriculture extension.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "farmBeatsExtensionIds",
            "in": "query",
            "description": "DataManagerForAgricultureExtension ids.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "farmBeatsExtensionNames",
            "in": "query",
            "description": "DataManagerForAgriculture extension names.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "extensionCategories",
            "in": "query",
            "description": "Extension categories.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "publisherIds",
            "in": "query",
            "description": "Publisher ids.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "$maxPageSize",
            "in": "query",
            "description": "Maximum number of items needed (inclusive).\nMinimum = 10, Maximum = 1000, Default value = 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureExtensionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions/{dataManagerForAgricultureExtensionId}": {
      "get": {
        "operationId": "DataManagerForAgricultureExtensions_Get",
        "tags": [
          "DataManagerForAgricultureExtensions"
        ],
        "description": "Get Data Manager For Agriculture extension.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "dataManagerForAgricultureExtensionId",
            "in": "path",
            "description": "dataManagerForAgricultureExtensionId to be queried.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureExtension"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.AgFoodPlatform/farmBeatsSolutionDefinitions": {
      "get": {
        "operationId": "DataManagerForAgricultureSolutions_ListByTenant",
        "tags": [
          "DataManagerForAgricultureSolutions"
        ],
        "description": "Get list of Data Manager For Agriculture solutions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "farmBeatsSolutionIds",
            "in": "query",
            "description": "Ids of Data Manager For Agriculture Solutions which the customer requests to fetch.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "farmBeatsSolutionNames",
            "in": "query",
            "description": "Names of Data Manager For Agriculture Solutions which the customer requests to fetch.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "$maxPageSize",
            "in": "query",
            "description": "Maximum number of items needed (inclusive).\nMinimum = 10, Maximum = 1000, Default value = 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureSolutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AgFoodPlatform/farmBeatsSolutionDefinitions/{dataManagerForAgricultureSolutionId}": {
      "get": {
        "operationId": "DataManagerForAgricultureSolutions_Get",
        "tags": [
          "DataManagerForAgricultureSolutions"
        ],
        "description": "Get Data Manager For Agriculture solution by id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "dataManagerForAgricultureSolutionId",
            "in": "path",
            "description": "dataManagerForAgricultureSolutionId to be queried.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureSolution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.AgFoodPlatform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AgFoodPlatform/checkNameAvailability": {
      "post": {
        "operationId": "CheckNameAvailabilityOperations_CheckNameAvailability",
        "description": "Checks the name availability of the resource with requested resource name.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "nameAvailabilityRequest",
            "in": "body",
            "description": "NameAvailabilityRequest object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AgFoodPlatform/farmBeats": {
      "get": {
        "operationId": "DataManagerForAgricultures_ListBySubscription",
        "tags": [
          "DataManagerForAgricultures"
        ],
        "description": "Lists the DataManagerForAgriculture instances for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AgFoodPlatform/locations/{locations}/operationResults/{operationResultsId}": {
      "get": {
        "operationId": "OperationResultsOperations_Get",
        "description": "Get operationResults for a Data Manager For Agriculture resource.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "locations",
            "in": "path",
            "description": "Location.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationResultsId",
            "in": "path",
            "description": "operationResultsId for a specific location.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ArmAsyncOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats": {
      "get": {
        "operationId": "DataManagerForAgricultures_ListByResourceGroup",
        "tags": [
          "DataManagerForAgricultures"
        ],
        "description": "Lists the DataManagerForAgriculture instances for a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$maxPageSize",
            "in": "query",
            "description": "Maximum number of items needed (inclusive).\nMinimum = 10, Maximum = 1000, Default value = 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token for getting next set of results.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}": {
      "get": {
        "operationId": "DataManagerForAgricultures_Get",
        "tags": [
          "DataManagerForAgricultures"
        ],
        "description": "Get DataManagerForAgriculture resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgriculture"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DataManagerForAgricultures_CreateOrUpdate",
        "tags": [
          "DataManagerForAgricultures"
        ],
        "description": "Create or update Data Manager For Agriculture resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataManagerForAgriculture"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataManagerForAgriculture' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgriculture"
            }
          },
          "201": {
            "description": "Resource 'DataManagerForAgriculture' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgriculture"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "DataManagerForAgricultures_Update",
        "tags": [
          "DataManagerForAgricultures"
        ],
        "description": "Update a Data Manager For Agriculture resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataManagerForAgricultureUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataManagerForAgriculture"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DataManagerForAgricultures_Delete",
        "tags": [
          "DataManagerForAgricultures"
        ],
        "description": "Delete a Data Manager For Agriculture resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/dataConnectors": {
      "get": {
        "operationId": "DataConnectors_ListByDataManagerForAgriculture",
        "tags": [
          "DataConnectors"
        ],
        "description": "Lists the Data Connector Credentials for MADMA instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$maxPageSize",
            "in": "query",
            "description": "Maximum number of items needed (inclusive).\nMinimum = 10, Maximum = 1000, Default value = 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token for getting next set of results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/dataConnectors/{dataConnectorName}": {
      "get": {
        "operationId": "DataConnectors_Get",
        "tags": [
          "DataConnectors"
        ],
        "description": "Get specific Data Connector resource by DataConnectorName.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "description": "Connector name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "DataConnectors_CreateOrUpdate",
        "tags": [
          "DataConnectors"
        ],
        "description": "Create or update Data Connector For MADMA resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "description": "Connector name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataConnector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          },
          "201": {
            "description": "Resource 'DataConnector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "DataConnectors_Delete",
        "tags": [
          "DataConnectors"
        ],
        "description": "Delete a Data Connectors with given dataConnector name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "description": "Connector name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/extensions": {
      "get": {
        "operationId": "Extensions_ListByDataManagerForAgriculture",
        "tags": [
          "Extensions"
        ],
        "description": "Get installed extensions details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "extensionIds",
            "in": "query",
            "description": "Installed extension ids.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "extensionCategories",
            "in": "query",
            "description": "Installed extension categories.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "$maxPageSize",
            "in": "query",
            "description": "Maximum number of items needed (inclusive).\nMinimum = 10, Maximum = 1000, Default value = 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Skip token for getting next set of results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/extensions/{extensionId}": {
      "get": {
        "operationId": "Extensions_Get",
        "tags": [
          "Extensions"
        ],
        "description": "Get installed extension details by extension id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Id of extension resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Extensions_CreateOrUpdate",
        "tags": [
          "Extensions"
        ],
        "description": "Install or Update extension. Additional Api Properties are merged patch and if the extension is updated to a new version then the obsolete entries will be auto deleted from Additional Api Properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Id of extension resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Extension' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "201": {
            "description": "Resource 'Extension' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Extension"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Extensions_Delete",
        "tags": [
          "Extensions"
        ],
        "description": "Uninstall extension.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "extensionId",
            "in": "path",
            "description": "Id of extension resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/privateEndpointConnections": {
      "get": {
        "operationId": "AzureAgFoodPlatformRpServicePrivateEndpointConnections_ListByDataManagerForAgriculture",
        "tags": [
          "AzureAgFoodPlatformRPServicePrivateEndpointConnections"
        ],
        "description": "Get list of Private endpoint connections.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "AzureAgFoodPlatformRpServicePrivateEndpointConnections_Get",
        "tags": [
          "AzureAgFoodPlatformRPServicePrivateEndpointConnections"
        ],
        "description": "Get Private endpoint connection object.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "AzureAgFoodPlatformRpServicePrivateEndpointConnections_CreateOrUpdate",
        "tags": [
          "AzureAgFoodPlatformRPServicePrivateEndpointConnections"
        ],
        "description": "Approves or Rejects a Private endpoint connection request.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureAgFoodPlatformRPServicePrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'AzureAgFoodPlatformRPServicePrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "AzureAgFoodPlatformRpServicePrivateEndpointConnections_Delete",
        "tags": [
          "AzureAgFoodPlatformRPServicePrivateEndpointConnections"
        ],
        "description": "Delete Private endpoint connection request.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/privateLinkResources": {
      "get": {
        "operationId": "AzureAgFoodPlatformRpServicePrivateLinkResources_ListByDataManagerForAgriculture",
        "tags": [
          "AzureAgFoodPlatformRPServicePrivateLinkResources"
        ],
        "description": "Get list of Private link resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/privateLinkResources/{subResourceName}": {
      "get": {
        "operationId": "AzureAgFoodPlatformRpServicePrivateLinkResources_Get",
        "tags": [
          "AzureAgFoodPlatformRPServicePrivateLinkResources"
        ],
        "description": "Get Private link resource object.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "subResourceName",
            "in": "path",
            "description": "Sub resource name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/solutions": {
      "get": {
        "operationId": "Solutions_ListByDataManagerForAgriculture",
        "tags": [
          "Solutions"
        ],
        "description": "Get installed Solutions details.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "solutionIds",
            "in": "query",
            "description": "Installed Solution ids.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Ids of the resource.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "names",
            "in": "query",
            "description": "Names of the resource.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "propertyFilters",
            "in": "query",
            "description": "Filters on key-value pairs within the Properties object.\neg. \"{testKey} eq {testValue}\".",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Statuses of the resource.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "minCreatedDateTime",
            "in": "query",
            "description": "Minimum creation date of resource (inclusive).",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "maxCreatedDateTime",
            "in": "query",
            "description": "Maximum creation date of resource (inclusive).",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "minLastModifiedDateTime",
            "in": "query",
            "description": "Minimum last modified date of resource (inclusive).",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "maxLastModifiedDateTime",
            "in": "query",
            "description": "Maximum last modified date of resource (inclusive).",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "$maxPageSize",
            "in": "query",
            "description": "Maximum number of items needed (inclusive).\nMinimum = 10, Maximum = 1000, Default value = 50.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Skip token for getting next set of results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SolutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{dataManagerForAgricultureResourceName}/solutions/{solutionId}": {
      "get": {
        "operationId": "Solutions_Get",
        "tags": [
          "Solutions"
        ],
        "description": "Get installed Solution details by Solution id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "solutionId",
            "in": "path",
            "description": "SolutionId for Data Manager For Agriculture Resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Solutions_CreateOrUpdate",
        "tags": [
          "Solutions"
        ],
        "description": "Install Or Update Solution.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "solutionId",
            "in": "path",
            "description": "SolutionId for Data Manager For Agriculture Resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Solution' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "201": {
            "description": "Resource 'Solution' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Solutions_Delete",
        "tags": [
          "Solutions"
        ],
        "description": "Uninstall Solution.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataManagerForAgricultureResourceName",
            "in": "path",
            "description": "DataManagerForAgriculture resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "solutionId",
            "in": "path",
            "description": "SolutionId for Data Manager For Agriculture Resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ActionType": {
      "type": "string",
      "enum": [
        "Internal"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true
      }
    },
    "ApiKeyAuthCredentials": {
      "type": "object",
      "description": "ApiKeyAuthCredentials class for ApiKey based Auth.",
      "properties": {
        "apiKey": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Properties of the key vault."
        }
      },
      "required": [
        "apiKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AuthCredentials"
        }
      ],
      "x-ms-discriminator-value": "ApiKeyAuthCredentials"
    },
    "ApiProperties": {
      "type": "object",
      "description": "Api properties.",
      "properties": {
        "apiFreshnessTimeInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Interval in minutes for which the weather data for the api needs to be refreshed."
        }
      }
    },
    "ArmAsyncOperation": {
      "type": "object",
      "description": "Arm async operation class.\nRef: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the async operation."
        },
        "error": {
          "$ref": "#/definitions/ArmAsyncOperationError",
          "description": "Arm async operation error class.\nRef: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#azure-asyncoperation-resource-format."
        }
      }
    },
    "ArmAsyncOperationError": {
      "type": "object",
      "description": "Arm async operation error class.\nRef: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/async-api-reference.md#azure-asyncoperation-resource-format.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Status of the async operation."
        },
        "message": {
          "type": "string",
          "description": "Status of the async operation."
        }
      }
    },
    "AuthCredentials": {
      "type": "object",
      "description": "AuthCredentials abstract base class for Auth Purpose.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for AuthCredentials."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "AuthCredentialsKind": {
      "type": "string",
      "enum": [
        "OAuthClientCredentials",
        "ApiKeyAuthCredentials"
      ],
      "x-ms-enum": {
        "name": "AuthCredentialsKind",
        "modelAsString": true
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.PrivateEndpointConnection": {
      "type": "object",
      "description": "The private endpoint connection resource",
      "properties": {
        "properties": {
          "$ref": "../../../../../common-types/resource-management/v4/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The private endpoint connection properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureAgFoodPlatformRPServicePrivateEndpointConnection": {
      "type": "object",
      "description": "The private endpoint connection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureAgFoodPlatformRPServicePrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a AzureAgFoodPlatformRPServicePrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureAgFoodPlatformRPServicePrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureAgFoodPlatformRPServicePrivateLinkResource": {
      "type": "object",
      "description": "A private link resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureAgFoodPlatformRPServicePrivateLinkResourceListResult": {
      "type": "object",
      "description": "The response of a AzureAgFoodPlatformRPServicePrivateLinkResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureAgFoodPlatformRPServicePrivateLinkResource items on this page",
          "items": {
            "$ref": "#/definitions/AzureAgFoodPlatformRPServicePrivateLinkResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CheckNameAvailabilityReason": {
      "type": "string",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityReason",
        "modelAsString": true
      }
    },
    "CheckNameAvailabilityRequest": {
      "type": "object",
      "description": "The check availability request body.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource for which availability needs to be checked."
        },
        "type": {
          "type": "string",
          "description": "The resource type."
        }
      }
    },
    "CheckNameAvailabilityResponse": {
      "type": "object",
      "description": "The check availability result.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Indicates if the resource name is available."
        },
        "reason": {
          "$ref": "#/definitions/CheckNameAvailabilityReason",
          "description": "The reason why the given name is not available."
        },
        "message": {
          "type": "string",
          "description": "Detailed reason why the given name is available."
        }
      }
    },
    "CreatedByType": {
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true
      }
    },
    "DataConnector": {
      "type": "object",
      "description": "DataConnector Model.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataConnectorProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "The ETag value to implement optimistic concurrency.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DataConnectorListResult": {
      "type": "object",
      "description": "The response of a DataConnector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataConnector items on this page",
          "items": {
            "$ref": "#/definitions/DataConnector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataConnectorProperties": {
      "type": "object",
      "description": "DataConnector Properties.",
      "properties": {
        "credentials": {
          "$ref": "#/definitions/AuthCredentials",
          "description": "AuthCredentials abstract base class for Auth Purpose."
        }
      },
      "required": [
        "credentials"
      ]
    },
    "DataManagerForAgriculture": {
      "type": "object",
      "description": "Data Manager For Agriculture ARM Resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataManagerForAgricultureProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DataManagerForAgricultureExtension": {
      "type": "object",
      "description": "DataManagerForAgriculture extension resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataManagerForAgricultureExtensionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DataManagerForAgricultureExtensionListResult": {
      "type": "object",
      "description": "The response of a DataManagerForAgricultureExtension list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataManagerForAgricultureExtension items on this page",
          "items": {
            "$ref": "#/definitions/DataManagerForAgricultureExtension"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataManagerForAgricultureExtensionProperties": {
      "type": "object",
      "description": "DataManagerForAgricultureExtension properties.",
      "properties": {
        "targetResourceType": {
          "type": "string",
          "description": "Target ResourceType of the Data Manager For Agriculture Extension.",
          "readOnly": true
        },
        "farmBeatsExtensionId": {
          "type": "string",
          "description": "Data Manager For Agriculture Extension ID.",
          "minLength": 2,
          "maxLength": 100,
          "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$",
          "readOnly": true
        },
        "farmBeatsExtensionName": {
          "type": "string",
          "description": "Data Manager For Agriculture Extension name.",
          "minLength": 2,
          "maxLength": 100,
          "readOnly": true
        },
        "farmBeatsExtensionVersion": {
          "type": "string",
          "description": "Data Manager For Agriculture Extension version.",
          "minLength": 2,
          "maxLength": 100,
          "pattern": "^([1-9]|10).\\d$",
          "readOnly": true
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher ID.",
          "minLength": 2,
          "maxLength": 100,
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Textual description.",
          "minLength": 2,
          "maxLength": 500,
          "readOnly": true
        },
        "extensionCategory": {
          "type": "string",
          "description": "Category of the extension. e.g. weather/sensor/satellite.",
          "minLength": 2,
          "maxLength": 100,
          "readOnly": true
        },
        "extensionAuthLink": {
          "type": "string",
          "description": "Data Manager For Agriculture Extension auth link.",
          "readOnly": true
        },
        "extensionApiDocsLink": {
          "type": "string",
          "description": "Data Manager For Agriculture Extension api docs link.",
          "readOnly": true
        },
        "detailedInformation": {
          "type": "array",
          "description": "Detailed information which shows summary of requested data.\nUsed in descriptive get extension metadata call.\nInformation for weather category per api included are apisSupported,\ncustomParameters, PlatformParameters and Units supported.",
          "items": {
            "$ref": "#/definitions/DetailedInformation"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "DataManagerForAgricultureListResult": {
      "type": "object",
      "description": "The response of a DataManagerForAgriculture list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataManagerForAgriculture items on this page",
          "items": {
            "$ref": "#/definitions/DataManagerForAgriculture"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataManagerForAgricultureProperties": {
      "type": "object",
      "description": "Data Manager For Agriculture ARM Resource properties.",
      "properties": {
        "instanceUri": {
          "type": "string",
          "description": "Uri of the Data Manager For Agriculture instance.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Data Manager For Agriculture instance provisioning state.",
          "readOnly": true
        },
        "sensorIntegration": {
          "$ref": "#/definitions/SensorIntegration",
          "description": "Sensor integration request model."
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Property to allow or block public traffic for an Azure Data Manager For Agriculture resource."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "Private endpoints.",
          "items": {
            "$ref": "#/definitions/Azure.ResourceManager.PrivateEndpointConnection"
          },
          "readOnly": true
        }
      }
    },
    "DataManagerForAgricultureSolution": {
      "type": "object",
      "description": "DataManagerForAgriculture solution resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DataManagerForAgricultureSolutionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DataManagerForAgricultureSolutionListResult": {
      "type": "object",
      "description": "The response of a DataManagerForAgricultureSolution list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DataManagerForAgricultureSolution items on this page",
          "items": {
            "$ref": "#/definitions/DataManagerForAgricultureSolution"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DataManagerForAgricultureSolutionProperties": {
      "type": "object",
      "description": "DataManagerForAgricultureSolution properties.",
      "properties": {
        "partnerId": {
          "type": "string",
          "description": "Solution Partner Id.",
          "readOnly": true
        },
        "partnerTenantId": {
          "type": "string",
          "description": "Solution Partner Tenant Id.",
          "readOnly": true
        },
        "dataAccessScopes": {
          "type": "array",
          "description": "Gets scope of the Data manager For Agriculture data access that's required for processing solution request to partner.\nExample: For gdd they might need weatherScope and satelliteScope.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "marketplaceOfferDetails": {
          "$ref": "#/definitions/MarketplaceOfferDetails"
        },
        "openApiSpecsDictionary": {
          "type": "object",
          "description": "Gets api-version Swagger Document Dictionary to capture all api-versions of swagger exposed by partner to Data Manager For Agriculture.",
          "additionalProperties": {},
          "readOnly": true
        },
        "accessFBApplicationId": {
          "type": "string",
          "description": "Application id of the multi tenant application to be used by partner to access Data Manager For Agriculture data.",
          "readOnly": true
        },
        "saaSApplicationId": {
          "type": "string",
          "description": "Application id of the SaaS multi tenant application.",
          "readOnly": true
        },
        "actionIds": {
          "type": "array",
          "description": "List of ActionIds needed to make the SaaS multi tenant application access relevant fb data.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "roleId": {
          "type": "string",
          "description": "Role Id of the SaaS multi tenant application to access relevant fb data.",
          "readOnly": true
        },
        "roleName": {
          "type": "string",
          "description": "Role Name of the SaaS multi tenant application to access relevant fb data.",
          "readOnly": true
        },
        "accessFBApplicationName": {
          "type": "string",
          "description": "Application name of the multi tenant application to be used by partner to access Data Manager For Agriculture Data.",
          "readOnly": true
        }
      }
    },
    "DataManagerForAgricultureUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DataManagerForAgriculture.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/DataManagerForAgricultureUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataManagerForAgricultureUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the DataManagerForAgriculture.",
      "properties": {
        "sensorIntegration": {
          "$ref": "#/definitions/SensorIntegration",
          "description": "Sensor integration request model."
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Property to allow or block public traffic for an Azure Data Manager For Agriculture resource."
        }
      }
    },
    "DetailedInformation": {
      "type": "object",
      "description": "Model to capture detailed information for Data Manager For AgricultureExtensions.",
      "properties": {
        "apiName": {
          "type": "string",
          "description": "ApiName available for the Data Manager For Agriculture Extension."
        },
        "apiDocsLink": {
          "type": "string",
          "description": "Extension provider's API documentation link."
        },
        "apiType": {
          "type": "string",
          "description": "Type of Api in Extension."
        },
        "customParameters": {
          "type": "array",
          "description": "List of customParameters.",
          "items": {
            "type": "string"
          }
        },
        "platformParameters": {
          "type": "array",
          "description": "List of platformParameters.",
          "items": {
            "type": "string"
          }
        },
        "apiDefaultInputParameters": {
          "type": "array",
          "description": "List of defaultParameters.",
          "items": {
            "type": "string"
          }
        },
        "unitsSupported": {
          "$ref": "#/definitions/UnitSystemsInfo",
          "description": "Unit systems info for the data provider."
        },
        "apiInputParameters": {
          "type": "array",
          "description": "List of apiInputParameters.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Extension": {
      "type": "object",
      "description": "Extension resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ExtensionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "The ETag value to implement optimistic concurrency.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExtensionInstallationRequest": {
      "type": "object",
      "description": "Extension Installation Request Body.",
      "properties": {
        "extensionVersion": {
          "type": "string",
          "description": "Extension Version.",
          "minLength": 3,
          "maxLength": 10
        },
        "additionalApiProperties": {
          "type": "object",
          "description": "Additional Api Properties.",
          "additionalProperties": {
            "$ref": "#/definitions/ApiProperties"
          }
        }
      }
    },
    "ExtensionListResult": {
      "type": "object",
      "description": "The response of a Extension list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Extension items on this page",
          "items": {
            "$ref": "#/definitions/Extension"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ExtensionProperties": {
      "type": "object",
      "description": "Extension resource properties.",
      "properties": {
        "extensionId": {
          "type": "string",
          "description": "Extension Id.",
          "pattern": "^[a-zA-Z]{3,50}[.][a-zA-Z]{3,100}$",
          "readOnly": true
        },
        "extensionCategory": {
          "type": "string",
          "description": "Extension category. e.g. weather/sensor/satellite.",
          "readOnly": true
        },
        "installedExtensionVersion": {
          "type": "string",
          "description": "Installed extension version.",
          "pattern": "^([1-9]|10).\\d$",
          "readOnly": true
        },
        "extensionAuthLink": {
          "type": "string",
          "description": "Extension auth link.",
          "readOnly": true
        },
        "extensionApiDocsLink": {
          "type": "string",
          "description": "Extension api docs link.",
          "readOnly": true
        },
        "additionalApiProperties": {
          "type": "object",
          "description": "Additional Api Properties.",
          "additionalProperties": {
            "$ref": "#/definitions/ApiProperties"
          },
          "readOnly": true
        }
      }
    },
    "Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity. The value must be an UUID.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource. The value must be an UUID.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      }
    },
    "KeyVaultProperties": {
      "type": "object",
      "description": "Properties of the key vault.",
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "description": "Uri of the key vault.",
          "minLength": 1
        },
        "keyName": {
          "type": "string",
          "description": "Name of Key Vault key.",
          "minLength": 1
        },
        "keyVersion": {
          "type": "string",
          "description": "Version of Key Vault key.",
          "minLength": 1
        }
      },
      "required": [
        "keyVaultUri",
        "keyName",
        "keyVersion"
      ]
    },
    "MarketplaceOfferDetails": {
      "type": "object",
      "properties": {
        "saasOfferId": {
          "type": "string"
        },
        "publisherId": {
          "type": "string"
        }
      }
    },
    "OAuthClientCredentials": {
      "type": "object",
      "description": "OAuthClientCredentials for clientId clientSecret auth.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "ClientId associated with the provider.",
          "minLength": 1
        },
        "clientSecret": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Properties of the key vault."
        }
      },
      "required": [
        "clientId",
        "clientSecret"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AuthCredentials"
        }
      ],
      "x-ms-discriminator-value": "OAuthClientCredentials"
    },
    "Origin": {
      "type": "string",
      "enum": [
        "user",
        "system",
        "user,system"
      ],
      "x-ms-enum": {
        "name": "Origin",
        "modelAsString": true
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "The private endpoint resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM identifier for private endpoint.",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of the private endpoint connection.",
      "properties": {
        "groupIds": {
          "type": "array",
          "description": "The group ids for the private endpoint resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The private endpoint resource."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProvisioningState",
          "description": "The provisioning state of the private endpoint connection resource.",
          "readOnly": true
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ]
    },
    "PrivateEndpointConnectionProvisioningState": {
      "type": "string",
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProvisioningState",
        "modelAsString": true
      }
    },
    "PrivateEndpointServiceConnectionStatus": {
      "type": "string",
      "enum": [
        "Pending",
        "Approved",
        "Rejected"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointServiceConnectionStatus",
        "modelAsString": true
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "description": "Properties of a private link resource.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The private link resource group id.",
          "readOnly": true
        },
        "requiredMembers": {
          "type": "array",
          "description": "The private link resource required member names.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "description": "The private link resource private link DNS zone name.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "A collection of information about the state of the connection between service consumer and provider.",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateEndpointServiceConnectionStatus",
          "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
        },
        "description": {
          "type": "string",
          "description": "The reason for approval/rejection of the connection."
        },
        "actionsRequired": {
          "type": "string",
          "description": "A message indicating if changes on the service provider require any updates on the consumer."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Running"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "PublicNetworkAccess": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true
      }
    },
    "SensorIntegration": {
      "type": "object",
      "description": "Sensor integration request model.",
      "properties": {
        "enabled": {
          "type": "string",
          "description": "Sensor integration enable state."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Sensor integration instance provisioning state.",
          "readOnly": true
        },
        "provisioningInfo": {
[...]
