{
  "swagger": "2.0",
  "info": {
    "title": "KeyVaultManagementClient",
    "version": "2023-02-01",
    "description": "The Azure management API provides a RESTful set of web services that interact with Azure Key Vault.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Vaults"
    },
    {
      "name": "PrivateLinkResources"
    },
    {
      "name": "DeletedVaults"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "ManagedHsms"
    },
    {
      "name": "MHSMPrivateLinkResources"
    },
    {
      "name": "MHSMListRegions"
    },
    {
      "name": "DeletedManagedHsms"
    },
    {
      "name": "MhsmPrivateEndpointConnections"
    },
    {
      "name": "Secrets"
    }
  ],
  "paths": {
    "/providers/Microsoft.KeyVault/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.KeyVault/deletedManagedHSMs/{name}": {
      "get": {
        "operationId": "ManagedHsms_GetDeleted",
        "tags": [
          "DeletedManagedHsms"
        ],
        "description": "Gets the specified deleted managed HSM.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the deleted managed HSM.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedManagedHsm"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a deleted managed HSM": {
            "$ref": "./examples/ManagedHsms_GetDeleted.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.KeyVault/deletedManagedHSMs/{name}/purge": {
      "post": {
        "operationId": "ManagedHsms_PurgeDeleted",
        "tags": [
          "DeletedManagedHsms"
        ],
        "description": "Permanently deletes the specified managed HSM.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the deleted managed HSM.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Purge a managed HSM Pool": {
            "$ref": "./examples/ManagedHsms_PurgeDeleted.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.KeyVault/deletedVaults/{vaultName}": {
      "get": {
        "operationId": "Vaults_GetDeleted",
        "tags": [
          "DeletedVaults"
        ],
        "description": "Gets the deleted Azure key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the key vault.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedVault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a deleted vault": {
            "$ref": "./examples/Vaults_GetDeleted.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.KeyVault/deletedVaults/{vaultName}/purge": {
      "post": {
        "operationId": "Vaults_PurgeDeleted",
        "tags": [
          "DeletedVaults"
        ],
        "description": "Permanently deletes the specified vault. aka Purges the deleted Azure key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the key vault.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedVault"
            }
          },
          "202": {
            "description": "Vault is being purged.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Purge a deleted vault": {
            "$ref": "./examples/Vaults_PurgeDeleted.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/checkNameAvailability": {
      "post": {
        "operationId": "Vaults_CheckNameAvailability",
        "tags": [
          "Vaults"
        ],
        "description": "Checks that the vault name is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultCheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate a vault name": {
            "$ref": "./examples/Vaults_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedManagedHSMs": {
      "get": {
        "operationId": "ManagedHsms_ListDeleted",
        "tags": [
          "DeletedManagedHsms"
        ],
        "description": "The List operation gets information about the deleted managed HSMs associated with the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedManagedHsmListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/deletedVaults": {
      "get": {
        "operationId": "Vaults_ListDeleted",
        "tags": [
          "DeletedVaults"
        ],
        "description": "Gets information about the deleted vaults in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedVaultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/managedHSMs": {
      "get": {
        "operationId": "ManagedHsms_ListBySubscription",
        "tags": [
          "ManagedHsms"
        ],
        "description": "The List operation gets information about the managed HSM Pools associated with the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagedHsmListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List managed HSM Pools in a subscription": {
            "$ref": "./examples/ManagedHsms_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/vaults": {
      "get": {
        "operationId": "Vaults_ListBySubscription",
        "tags": [
          "Vaults"
        ],
        "description": "The List operation gets information about the vaults associated with the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VaultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List vaults in the specified subscription": {
            "$ref": "./examples/Vaults_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs": {
      "get": {
        "operationId": "ManagedHsms_ListByResourceGroup",
        "tags": [
          "ManagedHsms"
        ],
        "description": "The List operation gets information about the managed HSM Pools associated with the subscription and within the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagedHsmListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List managed HSM Pools in a resource group": {
            "$ref": "./examples/ManagedHsms_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}": {
      "get": {
        "operationId": "ManagedHsms_Get",
        "tags": [
          "ManagedHsms"
        ],
        "description": "Gets the specified managed HSM Pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedHsm"
            }
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a managed HSM Pool": {
            "$ref": "./examples/ManagedHsms_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ManagedHsms_CreateOrUpdate",
        "tags": [
          "ManagedHsms"
        ],
        "description": "Create or update a managed HSM Pool in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to create or update the managed HSM Pool",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedHsm"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedHsm"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new managed HSM Pool or update an existing managed HSM Pool": {
            "$ref": "./examples/ManagedHsms_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ManagedHsms_Update",
        "tags": [
          "ManagedHsms"
        ],
        "description": "Update a managed HSM Pool in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to patch the managed HSM Pool",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedHsm"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedHsm"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an existing managed HSM Pool": {
            "$ref": "./examples/ManagedHsms_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ManagedHsms_Delete",
        "tags": [
          "ManagedHsms"
        ],
        "description": "Deletes the specified managed HSM Pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a managed HSM Pool": {
            "$ref": "./examples/ManagedHsms_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/privateEndpointConnections": {
      "get": {
        "operationId": "MHSMPrivateEndpointConnections_ListByResource",
        "tags": [
          "MhsmPrivateEndpointConnections"
        ],
        "description": "The List operation gets information about the private endpoint connections associated with the managed HSM Pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MhsmPrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List managed HSM Pools in a subscription": {
            "$ref": "./examples/MHSMPrivateEndpointConnections_ListByResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "MHSMPrivateEndpointConnections_Get",
        "tags": [
          "MhsmPrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the managed HSM Pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Name of the private endpoint connection associated with the managed hsm pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MhsmPrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ManagedHsmGetPrivateEndpointConnection": {
            "$ref": "./examples/MHSMPrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MHSMPrivateEndpointConnections_Put",
        "tags": [
          "MhsmPrivateEndpointConnections"
        ],
        "description": "Updates the specified private endpoint connection associated with the managed hsm pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Name of the private endpoint connection associated with the managed hsm pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The intended state of private endpoint connection.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MhsmPrivateEndpointConnection"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MhsmPrivateEndpointConnection"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "(specified only if operation does not finish synchronously) The URI to poll for completion status. The response of this URI may be synchronous or asynchronous."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ManagedHsmPutPrivateEndpointConnection": {
            "$ref": "./examples/MHSMPrivateEndpointConnections_Put.json"
          }
        }
      },
      "delete": {
        "operationId": "MHSMPrivateEndpointConnections_Delete",
        "tags": [
          "MhsmPrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the managed hsm pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Name of the private endpoint connection associated with the managed hsm pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ManagedHsmDeletePrivateEndpointConnection": {
            "$ref": "./examples/MHSMPrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/privateLinkResources": {
      "get": {
        "operationId": "MHSMPrivateLinkResources_ListByMHSMResource",
        "tags": [
          "MHSMPrivateLinkResources"
        ],
        "description": "Gets the private link resources supported for the managed hsm pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MhsmPrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultListPrivateLinkResources": {
            "$ref": "./examples/MHSMPrivateLinkResources_ListByMHSMResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/managedHSMs/{name}/regions": {
      "get": {
        "operationId": "MHSMRegions_ListByResource",
        "tags": [
          "MHSMListRegions"
        ],
        "description": "The List operation gets information about the regions associated with the managed HSM Pool.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the managed HSM Pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedMhsmGeoReplicatedRegion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List managed HSM Pools in a subscription": {
            "$ref": "./examples/MHSMRegions_ListByResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults": {
      "get": {
        "operationId": "Vaults_ListByResourceGroup",
        "tags": [
          "Vaults"
        ],
        "description": "The List operation gets information about the vaults associated with the subscription and within the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VaultListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List vaults in the specified resource group": {
            "$ref": "./examples/Vaults_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}": {
      "get": {
        "operationId": "Vaults_Get",
        "tags": [
          "Vaults"
        ],
        "description": "Gets the specified Azure key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Vault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a vault": {
            "$ref": "./examples/Vaults_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Vaults_CreateOrUpdate",
        "tags": [
          "Vaults"
        ],
        "description": "Create or update a key vault in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to create or update the vault",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultCreateOrUpdateParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Vault"
            }
          },
          "201": {
            "description": "Resource 'Vault' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Vault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new vault or update an existing vault": {
            "$ref": "./examples/Vaults_CreateOrUpdate_Create_A_New_Vault_Or_Update_An_Existing_Vault.json"
          },
          "Create or update a vault with network acls": {
            "$ref": "./examples/Vaults_CreateOrUpdate_Create_Or_Update_A_Vault_With_Network_Acls.json"
          }
        }
      },
      "patch": {
        "operationId": "Vaults_Update",
        "tags": [
          "Vaults"
        ],
        "description": "Update a key vault in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to patch the vault",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VaultPatchParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Vault"
            }
          },
          "201": {
            "description": "Resource 'Vault' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Vault"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an existing vault": {
            "$ref": "./examples/Vaults_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Vaults_Delete",
        "tags": [
          "Vaults"
        ],
        "description": "Deletes the specified Azure key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a vault": {
            "$ref": "./examples/Vaults_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByResource",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "The List operation gets information about the private endpoint connections associated with the vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultListPrivateEndpointConnection": {
            "$ref": "./examples/PrivateEndpointConnections_ListByResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Name of the private endpoint connection associated with the key vault.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultGetPrivateEndpointConnection": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Put",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Updates the specified private endpoint connection associated with the key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Name of the private endpoint connection associated with the key vault.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The intended state of private endpoint connection.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "(specified only if operation does not finish synchronously) The URI to poll for completion status. The response of this URI may be synchronous or asynchronous."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultPutPrivateEndpointConnection": {
            "$ref": "./examples/PrivateEndpointConnections_Put.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Name of the private endpoint connection associated with the key vault.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultDeletePrivateEndpointConnection": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByVault",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the private link resources supported for the key vault.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyVaultListPrivateLinkResources": {
            "$ref": "./examples/PrivateLinkResources_ListByVault.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets": {
      "get": {
        "operationId": "Secrets_List",
        "tags": [
          "Secrets"
        ],
        "description": "The List operation gets information about the secrets in a vault.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of results to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecretListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List secrets in the vault": {
            "$ref": "./examples/Secrets_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/secrets/{secretName}": {
      "get": {
        "operationId": "Secrets_Get",
        "tags": [
          "Secrets"
        ],
        "description": "Gets the specified secret.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "The name of the secret.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a secret": {
            "$ref": "./examples/Secrets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Secrets_CreateOrUpdate",
        "tags": [
          "Secrets"
        ],
        "description": "Create or update a secret in a key vault in the specified subscription.  NOTE: This API is intended for internal use in ARM deployments. Users should use the data-plane REST service for interaction with vault secrets.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "The name of the secret.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to create or update the secret",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretCreateOrUpdateParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Secret' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "201": {
            "description": "Resource 'Secret' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a secret": {
            "$ref": "./examples/Secrets_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Secrets_Update",
        "tags": [
          "Secrets"
        ],
        "description": "Update a secret in the specified subscription.  NOTE: This API is intended for internal use in ARM deployments.  Users should use the data-plane REST service for interaction with vault secrets.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the vault.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "The name of the secret.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to patch the secret",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretPatchParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "201": {
            "description": "Resource 'Secret' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a secret": {
            "$ref": "./examples/Secrets_Update.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessPolicyEntry": {
      "type": "object",
      "description": "An identity that have access to the key vault. All identities in the array must use the same tenant ID as the key vault's tenant ID.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Azure Active Directory tenant ID that should be used for authenticating requests to the key vault."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of a user, service principal or security group in the Azure Active Directory tenant for the vault. The object ID must be unique for the list of access policies."
        },
        "applicationId": {
          "type": "string",
          "description": "Application ID of the client making request on behalf of a principal"
        },
        "permissions": {
          "$ref": "#/definitions/Permissions",
          "description": "Permissions the identity has for keys, secrets and certificates."
        }
      },
      "required": [
        "tenantId",
        "objectId",
        "permissions"
      ]
    },
    "AccessPolicyUpdateKind": {
      "type": "string",
      "enum": [
        "add",
        "replace",
        "remove"
      ],
      "x-ms-enum": {
        "name": "AccessPolicyUpdateKind",
        "modelAsString": false
      }
    },
    "ActionsRequired": {
      "type": "string",
      "description": "A message indicating if changes on the service provider require any updates on the consumer.",
      "enum": [
        "None"
      ],
      "x-ms-enum": {
        "name": "ActionsRequired",
        "modelAsString": true
      }
    },
    "ActivationStatus": {
      "type": "string",
      "description": "Activation Status",
      "enum": [
        "Active",
        "NotActivated",
        "Unknown",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ActivationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The managed HSM Pool is active."
          },
          {
            "name": "NotActivated",
            "value": "NotActivated",
            "description": "The managed HSM Pool is not yet activated."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "An unknown error occurred while activating managed hsm."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed to activate managed hsm."
          }
        ]
      }
    },
    "Attributes": {
      "type": "object",
      "description": "The object attributes managed by the KeyVault service.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Determines whether the object is enabled."
        },
        "nbf": {
          "type": "string",
          "format": "time",
          "description": "Not before date in seconds since 1970-01-01T00:00:00Z.",
          "x-ms-client-name": "notBefore"
        },
        "exp": {
          "type": "string",
          "format": "time",
          "description": "Expiry date in seconds since 1970-01-01T00:00:00Z.",
          "x-ms-client-name": "expires"
        },
        "created": {
          "type": "string",
          "format": "time",
          "description": "Creation time in seconds since 1970-01-01T00:00:00Z.",
          "readOnly": true
        },
        "updated": {
          "type": "string",
          "format": "time",
          "description": "Last updated time in seconds since 1970-01-01T00:00:00Z.",
          "readOnly": true
        }
      }
    },
    "CertificatePermissions": {
      "type": "string",
      "enum": [
        "all",
        "get",
        "list",
        "delete",
        "create",
        "import",
        "update",
        "managecontacts",
        "getissuers",
        "listissuers",
        "setissuers",
        "deleteissuers",
        "manageissuers",
        "recover",
        "purge",
        "backup",
        "restore"
      ],
      "x-ms-enum": {
        "name": "CertificatePermissions",
        "modelAsString": true
      }
    },
    "CheckMhsmNameAvailabilityParameters": {
      "type": "object",
      "description": "The parameters used to check the availability of the managed hsm name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The managed hsm name."
        }
      },
      "required": [
        "name"
      ]
    },
    "CheckMhsmNameAvailabilityResult": {
      "type": "object",
      "description": "The CheckMhsmNameAvailability operation response.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "A boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.",
          "readOnly": true
        },
        "reason": {
          "$ref": "#/definitions/Reason",
          "description": "The reason that a managed hsm name could not be used. The reason element is only returned if NameAvailable is false.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "An error message explaining the Reason value in more detail.",
          "readOnly": true
        }
      }
    },
    "CheckNameAvailabilityResult": {
      "type": "object",
      "description": "The CheckNameAvailability operation response.",
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "A boolean value that indicates whether the name is available for you to use. If true, the name is available. If false, the name has already been taken or is invalid and cannot be used.",
          "readOnly": true
        },
        "reason": {
          "$ref": "#/definitions/KeyVaultNameUnavailableReason",
          "description": "The reason that a vault name could not be used. The Reason element is only returned if NameAvailable is false.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "An error message explaining the Reason value in more detail.",
          "readOnly": true
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "An error response from Key Vault resource provider",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "An error response from Key Vault resource provider"
        }
      }
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "An error response from Key Vault resource provider",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code. This is a mnemonic that can be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "User friendly error message. The message is typically localized and may vary with service version."
        }
      }
    },
    "CreateMode": {
      "type": "string",
      "description": "The create mode to indicate whether the resource is being created or is being recovered from a deleted resource.",
      "enum": [
        "recover",
        "default"
      ],
      "x-ms-enum": {
        "name": "CreateMode",
        "modelAsString": false,
        "values": [
          {
            "name": "recover",
            "value": "recover",
            "description": "Recover the managed HSM pool from a soft-deleted resource."
          },
          {
            "name": "default",
            "value": "default",
            "description": "Create a new managed HSM pool. This is the default option."
          }
        ]
      }
    },
    "DeletedManagedHsm": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeletedManagedHsmProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeletedManagedHsmListResult": {
      "type": "object",
      "description": "The response of a DeletedManagedHsm list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeletedManagedHsm items on this page",
          "items": {
            "$ref": "#/definitions/DeletedManagedHsm"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeletedManagedHsmProperties": {
      "type": "object",
      "description": "Properties of the deleted managed HSM.",
      "properties": {
        "mhsmId": {
          "type": "string",
          "description": "The resource id of the original managed HSM.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The location of the original managed HSM.",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The deleted date.",
          "readOnly": true
        },
        "scheduledPurgeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The scheduled purged date.",
          "readOnly": true
        },
        "purgeProtectionEnabled": {
          "type": "boolean",
          "description": "Purge protection status of the original managed HSM.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Tags of the original managed HSM.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "DeletedVault": {
      "type": "object",
      "description": "Deleted vault information with extended details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeletedVaultProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "id": {
          "type": "string",
          "description": "The resource ID for the deleted key vault.",
          "readOnly": true
        },
        "vaultName": {
          "type": "string",
          "description": "The name of the key vault.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type of the key vault.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeletedVaultListResult": {
      "type": "object",
      "description": "The response of a DeletedVault list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeletedVault items on this page",
          "items": {
            "$ref": "#/definitions/DeletedVault"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeletedVaultProperties": {
      "type": "object",
      "description": "Properties of the deleted vault.",
      "properties": {
        "vaultId": {
          "type": "string",
          "description": "The resource id of the original vault.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The location of the original vault.",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The deleted date.",
          "readOnly": true
        },
        "scheduledPurgeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The scheduled purged date.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Tags of the original vault.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "purgeProtectionEnabled": {
          "type": "boolean",
          "description": "Purge protection status of the original vault.",
          "readOnly": true
        }
      }
    },
    "DimensionProperties": {
      "type": "object",
      "description": "Type of operation: get, read, delete, etc.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "toBeExportedForShoebox": {
          "type": "boolean",
          "description": "Property to specify whether the dimension should be exported for Shoebox."
        }
      }
    },
    "Error": {
      "type": "object",
      "description": "The server error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "innererror": {
          "$ref": "#/definitions/Error",
          "description": "The inner error, contains a more specific error code.",
          "readOnly": true,
          "x-ms-client-name": "innerError"
        }
      }
    },
    "GeoReplicationRegionProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Preprovisioning",
        "Provisioning",
        "Succeeded",
        "Failed",
        "Deleting",
        "Cleanup"
      ],
      "x-ms-enum": {
        "name": "GeoReplicationRegionProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "IPRule": {
      "type": "object",
      "description": "A rule governing the accessibility of a vault from a specific ip address or ip range.",
      "properties": {
        "value": {
          "type": "string",
          "description": "An IPv4 address range in CIDR notation, such as '124.56.78.91' (simple IP address) or '124.56.78.0/24' (all addresses that start with 124.56.78)."
        }
      },
      "required": [
        "value"
      ]
    },
    "IdentityType": {
      "type": "string",
      "description": "The type of identity.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    },
    "KeyPermissions": {
      "type": "string",
      "enum": [
        "all",
        "encrypt",
        "decrypt",
        "wrapKey",
        "unwrapKey",
        "sign",
        "verify",
        "get",
        "list",
        "create",
        "update",
        "import",
        "delete",
        "backup",
        "restore",
        "recover",
        "purge",
        "release",
        "rotate",
        "getrotationpolicy",
        "setrotationpolicy"
      ],
      "x-ms-enum": {
        "name": "KeyPermissions",
        "modelAsString": true
      }
    },
    "KeyVaultActionsRequiredMessage": {
      "type": "string",
      "description": "A message indicating if changes on the service provider require any updates on the consumer.",
      "enum": [
        "None"
      ],
      "x-ms-enum": {
        "name": "KeyVaultActionsRequiredMessage",
        "modelAsString": true
      }
    },
    "KeyVaultCreateMode": {
      "type": "string",
      "description": "The vault's create mode to indicate whether the vault need to be recovered or not.",
      "enum": [
        "recover",
        "default"
      ],
      "x-ms-enum": {
        "name": "KeyVaultCreateMode",
        "modelAsString": false
      }
    },
    "KeyVaultNameUnavailableReason": {
      "type": "string",
      "description": "The reason that a vault name could not be used. The Reason element is only returned if NameAvailable is false.",
      "enum": [
        "AccountNameInvalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "KeyVaultNameUnavailableReason",
        "modelAsString": false
      }
    },
    "KeyVaultNetworkRuleAction": {
      "type": "string",
      "description": "The default action when no rule from ipRules and from virtualNetworkRules match. This is only used after the bypass property has been evaluated.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "KeyVaultNetworkRuleAction",
        "modelAsString": true
      }
    },
    "KeyVaultNetworkRuleBypassOption": {
      "type": "string",
      "description": "Tells what traffic can bypass network rules. This can be 'AzureServices' or 'None'.  If not specified the default is 'AzureServices'.",
      "enum": [
        "AzureServices",
        "None"
      ],
      "x-ms-enum": {
        "name": "KeyVaultNetworkRuleBypassOption",
        "modelAsString": true
      }
    },
    "KeyVaultPatchMode": {
      "type": "string",
      "description": "The vault's create mode to indicate whether the vault need to be recovered or not.",
      "enum": [
        "recover",
        "default"
      ],
      "x-ms-enum": {
        "name": "KeyVaultPatchMode",
        "modelAsString": false
      }
    },
    "KeyVaultProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the vault.",
      "enum": [
        "Succeeded",
        "RegisteringDns"
      ],
      "x-ms-enum": {
        "name": "KeyVaultProvisioningState",
        "modelAsString": true
      }
    },
    "LogSpecification": {
      "type": "object",
      "description": "Log specification of operation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of log specification."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of log specification."
        },
        "blobDuration": {
          "type": "string",
          "description": "Blob duration of specification."
        }
      }
    },
    "ManagedHSMSecurityDomainProperties": {
      "type": "object",
      "description": "The security domain properties of the managed hsm.",
      "properties": {
        "activationStatus": {
          "$ref": "#/definitions/ActivationStatus",
          "description": "Activation Status",
          "readOnly": true
        },
        "activationStatusMessage": {
          "type": "string",
          "description": "Activation Status Message.",
          "readOnly": true
        }
      }
    },
    "ManagedHsm": {
      "type": "object",
      "description": "Resource information with extended details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ManagedHsmProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ManagedHsmError": {
      "type": "object",
      "description": "The error exception.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Error",
          "description": "The server error.",
          "readOnly": true
        }
      }
    },
    "ManagedHsmListResult": {
      "type": "object",
      "description": "The response of a ManagedHsm list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ManagedHsm items on this page",
          "items": {
            "$ref": "#/definitions/ManagedHsm"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ManagedHsmPrivateEndpointConnectionProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Deleting",
        "Failed",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ManagedHsmPrivateEndpointConnectionProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "ManagedHsmPrivateEndpointServiceConnectionStatus": {
      "type": "string",
      "description": "The private endpoint connection status.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ManagedHsmPrivateEndpointServiceConnectionStatus",
        "modelAsString": true
      }
    },
    "ManagedHsmProperties": {
      "type": "object",
      "description": "Properties of the managed HSM Pool",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Azure Active Directory tenant ID that should be used for authenticating requests to the managed HSM pool."
        },
        "initialAdminObjectIds": {
          "type": "array",
          "description": "Array of initial administrators object ids for this managed hsm pool.",
          "items": {
            "type": "string"
          }
        },
        "hsmUri": {
          "type": "string",
          "description": "The URI of the managed hsm pool for performing operations on keys.",
          "readOnly": true
        },
        "enableSoftDelete": {
          "type": "boolean",
          "description": "Property to specify whether the 'soft delete' functionality is enabled for this managed HSM pool. Soft delete is enabled by default for all managed HSMs and is immutable.",
          "default": true
        },
        "softDeleteRetentionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Soft deleted data retention days. When you delete an HSM or a key, it will remain recoverable for the configured retention period or for a default period of 90 days. It accepts values between 7 and 90.",
          "default": 90
        },
        "enablePurgeProtection": {
          "type": "boolean",
          "description": "Property specifying whether protection against purge is enabled for this managed HSM pool. Setting this property to true activates protection against purge for this managed HSM pool and its content - only the Managed HSM service may initiate a hard, irrecoverable deletion. Enabling this functionality is irreversible.",
          "default": true
        },
        "createMode": {
          "$ref": "#/definitions/CreateMode",
          "description": "The create mode to indicate whether the resource is being created or is being recovered from a deleted resource.",
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "statusMessage": {
          "type": "string",
          "description": "Resource Status Message.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ManagedHsmProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "networkAcls": {
          "$ref": "#/definitions/MhsmNetworkRuleSet",
          "description": "Rules governing the accessibility of the key vault from specific network locations."
        },
        "regions": {
          "type": "array",
          "description": "List of all regions associated with the managed hsm pool.",
          "items": {
            "$ref": "#/definitions/MhsmGeoReplicatedRegion"
          },
          "x-ms-identifiers": []
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections associated with the managed hsm pool.",
          "items": {
            "$ref": "#/definitions/MhsmPrivateEndpointConnectionItem"
          },
          "readOnly": true
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Control permission to the managed HSM from public networks.",
          "default": "Enabled"
        },
        "scheduledPurgeDate": {
          "type": "string",
          "format": "date-time",
          "description": "The scheduled purge date in UTC.",
          "readOnly": true
        },
        "securityDomainProperties": {
          "$ref": "#/definitions/ManagedHSMSecurityDomainProperties",
          "description": "Managed HSM security domain properties.",
          "readOnly": true
        }
      }
    },
    "ManagedHsmProvisioningState": {
      "type": "string",
      "description": "Provisioning state.",
      "enum": [
        "Succeeded",
        "Provisioning",
        "Failed",
        "Updating",
        "Deleting",
        "Activated",
        "SecurityDomainRestore",
        "Restoring"
      ],
      "x-ms-enum": {
        "name": "ManagedHsmProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The managed HSM Pool has been full provisioned."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The managed HSM Pool is currently being provisioned."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning of the managed HSM Pool has failed."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The managed HSM Pool is currently being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The managed HSM Pool is currently being deleted."
          },
          {
            "name": "Activated",
            "value": "Activated",
            "description": "The managed HSM pool is ready for normal use."
          },
          {
            "name": "SecurityDomainRestore",
            "value": "SecurityDomainRestore",
            "description": "The managed HSM pool is waiting for a security domain restore action."
          },
          {
            "name": "Restoring",
            "value": "Restoring",
            "description": "The managed HSM pool is being restored from full HSM backup."
          }
        ]
      },
      "readOnly": true
    },
    "ManagedHsmResource": {
      "type": "object",
      "description": "Managed HSM resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Azure Resource Manager resource ID for the managed HSM Pool.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the managed HSM Pool.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource type of the managed HSM Pool.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The supported Azure location where the managed HSM Pool should be created.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sku": {
          "$ref": "#/definitions/ManagedHsmSku",
          "description": "SKU details"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the key vault resource.",
          "readOnly": true
        }
      }
    },
    "ManagedHsmSku": {
      "type": "object",
      "description": "SKU details",
      "properties": {
        "family": {
          "$ref": "#/definitions/ManagedHsmSkuFamily",
          "description": "SKU Family of the managed HSM Pool"
        },
        "name": {
          "$ref": "#/definitions/ManagedHsmSkuName",
          "description": "SKU of the managed HSM Pool"
        }
      },
      "required": [
        "family",
        "name"
      ]
    },
    "ManagedHsmSkuFamily": {
      "type": "string",
      "description": "SKU Family of the managed HSM Pool",
      "enum": [
        "B"
      ],
      "x-ms-enum": {
        "name": "ManagedHsmSkuFamily",
[...]
