{
  "swagger": "2.0",
  "info": {
    "title": "Azure CIS FRP",
    "version": "2023-08-22-preview",
    "description": "CloudSprout Service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PublishConfigValues"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCis/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Operations PublishConfigValue": {
            "$ref": "./examples/PublishConfigValues_Operations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureCis/publishConfigValues": {
      "get": {
        "operationId": "PublishConfigValues_ListBySubscription",
        "tags": [
          "PublishConfigValues"
        ],
        "description": "List PublishConfigValuesResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublishConfigValuesResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBySubscription PublishConfigValue": {
            "$ref": "./examples/PublishConfigValues_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/publishConfigValues": {
      "get": {
        "operationId": "PublishConfigValues_ListByResourceGroup",
        "tags": [
          "PublishConfigValues"
        ],
        "description": "List PublishConfigValuesResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublishConfigValuesResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListByResourceGroup PublishConfigValue": {
            "$ref": "./examples/PublishConfigValues_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureCis/publishConfigValues/{resourceName}": {
      "get": {
        "operationId": "PublishConfigValues_Get",
        "tags": [
          "PublishConfigValues"
        ],
        "description": "Get a PublishConfigValuesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublishConfigValuesResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get PublishConfigValue": {
            "$ref": "./examples/PublishConfigValues_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PublishConfigValues_CreateOrUpdate",
        "tags": [
          "PublishConfigValues"
        ],
        "description": "Create a PublishConfigValuesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublishConfigValuesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PublishConfigValuesResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PublishConfigValuesResource"
            }
          },
          "201": {
            "description": "Resource 'PublishConfigValuesResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PublishConfigValuesResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create PublishConfigValue": {
            "$ref": "./examples/PublishConfigValues_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "PublishConfigValuesProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "PublishConfigValuesProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "PublishConfigValuesResource": {
      "type": "object",
      "description": "publishConfigValues Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PublishConfigValuesResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PublishConfigValuesResourceListResult": {
      "type": "object",
      "description": "The response of a PublishConfigValuesResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PublishConfigValuesResource items on this page",
          "items": {
            "$ref": "#/definitions/PublishConfigValuesResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PublishConfigValuesResourceProperties": {
      "type": "object",
      "description": "PublishConfigValuesResource properties",
      "properties": {
        "publishValues": {
          "type": "array",
          "description": "PublishValues.",
          "items": {
            "$ref": "#/definitions/PublishValue"
          },
          "x-ms-identifiers": []
        },
        "cloudSproutEnv": {
          "type": "string",
          "description": "CloudSprout environment to publish the value to. Optional."
        },
        "provisioningState": {
          "$ref": "#/definitions/PublishConfigValuesProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "publishValues"
      ]
    },
    "PublishValue": {
      "type": "object",
      "description": "PublishValue.",
      "properties": {
        "moniker": {
          "type": "string",
          "description": "Moniker"
        },
        "value": {
          "type": "string",
          "description": "Moniker value to be published."
        },
        "scope": {
          "$ref": "#/definitions/Scope",
          "description": "Scope of Moniker value. Optional."
        }
      },
      "required": [
        "moniker",
        "value"
      ]
    },
    "Scope": {
      "type": "object",
      "description": "Scope. Optional.",
      "properties": {
        "geoType": {
          "type": "string",
          "description": "GeoType. The valid value is Cloud."
        },
        "geoValue": {
          "type": "string",
          "description": "The GeoValue for the specified GeoType. If GeoType is Cloud, GeoValue is the applicable cloud name for the Moniker value."
        }
      },
      "required": [
        "geoType",
        "geoValue"
      ]
    }
  },
  "parameters": {}
}
