{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ArcContainerStorage management service",
    "version": "2024-10-01-preview",
    "description": "Microsoft.ArcContainerStorage Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperationStatus"
    },
    {
      "name": "EdgeStorageConfigurations"
    },
    {
      "name": "IngestSubvolumes"
    },
    {
      "name": "EdgeVolumes"
    },
    {
      "name": "MirrorSubvolumes"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeStorageConfigurations": {
      "get": {
        "operationId": "EdgeStorageConfigurations_List",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "List EdgeStorageConfiguration resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeStorageConfigurations/{edgeStorageConfigurationName}": {
      "get": {
        "operationId": "EdgeStorageConfigurations_Get",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Get a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeStorageConfigurations_CreateOrUpdate",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Create a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeStorageConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          },
          "201": {
            "description": "Resource 'EdgeStorageConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeStorageConfigurations_Update",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Update a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeStorageConfiguration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeStorageConfigurations_Delete",
        "tags": [
          "EdgeStorageConfigurations"
        ],
        "description": "Delete a EdgeStorageConfiguration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeStorageConfigurationName",
            "in": "path",
            "description": "The name of the EdgeStorageConfiguration",
            "required": true,
            "type": "string",
            "pattern": "^edge-storage-configuration$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeStorageConfigurations_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeStorageConfigurations_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes": {
      "get": {
        "operationId": "EdgeVolumes_List",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "List EdgeVolume resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeVolumeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}": {
      "get": {
        "operationId": "EdgeVolumes_Get",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Get a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeVolumes_CreateOrUpdate",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Create a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeVolume' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          },
          "201": {
            "description": "Resource 'EdgeVolume' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeVolumes_Update",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Update a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeVolumeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeVolume"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EdgeVolumes_Delete",
        "tags": [
          "EdgeVolumes"
        ],
        "description": "Delete a EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EdgeVolumes_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/EdgeVolumes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}/ingestSubvolumes": {
      "get": {
        "operationId": "IngestSubvolumes_List",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "List IngestSubvolume resources by EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestSubvolumeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}/ingestSubvolumes/{ingestSubvolumeName}": {
      "get": {
        "operationId": "IngestSubvolumes_Get",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Get a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "IngestSubvolumes_CreateOrUpdate",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Create a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IngestSubvolume' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          },
          "201": {
            "description": "Resource 'IngestSubvolume' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IngestSubvolumes_Update",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Update a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngestSubvolumeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestSubvolume"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_Update_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "IngestSubvolumes_Delete",
        "tags": [
          "IngestSubvolumes"
        ],
        "description": "Delete a IngestSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "ingestSubvolumeName",
            "in": "path",
            "description": "The name of the IngestSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestSubvolumes_Delete_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/IngestSubvolumes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}/mirrorSubvolumes": {
      "get": {
        "operationId": "MirrorSubvolumes_List",
        "tags": [
          "MirrorSubvolumes"
        ],
        "description": "List MirrorSubvolume resources by EdgeVolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MirrorSubvolumeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MirrorSubvolumes_List_MaximumSet": {
            "$ref": "./examples/MirrorSubvolumes_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ArcContainerStorage/edgeVolumes/{edgeVolumeName}/mirrorSubvolumes/{mirrorSubvolumeName}": {
      "get": {
        "operationId": "MirrorSubvolumes_Get",
        "tags": [
          "MirrorSubvolumes"
        ],
        "description": "Get a MirrorSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "mirrorSubvolumeName",
            "in": "path",
            "description": "The name of the MirrorSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MirrorSubvolume"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MirrorSubvolumes_Get_MaximumSet": {
            "$ref": "./examples/MirrorSubvolumes_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MirrorSubvolumes_CreateOrUpdate",
        "tags": [
          "MirrorSubvolumes"
        ],
        "description": "Create a MirrorSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "mirrorSubvolumeName",
            "in": "path",
            "description": "The name of the MirrorSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MirrorSubvolume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MirrorSubvolume' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MirrorSubvolume"
            }
          },
          "201": {
            "description": "Resource 'MirrorSubvolume' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MirrorSubvolume"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MirrorSubvolumes_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/MirrorSubvolumes_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MirrorSubvolumes_Update",
        "tags": [
          "MirrorSubvolumes"
        ],
        "description": "Update a MirrorSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "mirrorSubvolumeName",
            "in": "path",
            "description": "The name of the MirrorSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MirrorSubvolumeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MirrorSubvolume"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MirrorSubvolumes_Update_MaximumSet": {
            "$ref": "./examples/MirrorSubvolumes_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MirrorSubvolumes_Delete",
        "tags": [
          "MirrorSubvolumes"
        ],
        "description": "Delete a MirrorSubvolume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "edgeVolumeName",
            "in": "path",
            "description": "The name of the EdgeVolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          },
          {
            "name": "mirrorSubvolumeName",
            "in": "path",
            "description": "The name of the MirrorSubvolume",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-_.]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MirrorSubvolumes_Delete_MaximumSet": {
            "$ref": "./examples/MirrorSubvolumes_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ArcContainerStorage/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcContainerStorage/locations/{location}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "OperationStatus_Get",
        "tags": [
          "OperationStatus"
        ],
        "description": "Returns the current status of an async operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/OperationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationStatusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationStatus_Get_MaximumSet_Gen - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/OperationStatus_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountConfig": {
      "type": "object",
      "description": "A storage account used for mirroring",
      "properties": {
        "accountType": {
          "$ref": "#/definitions/AccountConfigType"
        }
      },
      "discriminator": "accountType",
      "required": [
        "accountType"
      ]
    },
    "AccountConfigType": {
      "type": "string",
      "description": "A storage account configuration type used for mirroring",
      "enum": [
        "blob",
        "onelake"
      ],
      "x-ms-enum": {
        "name": "AccountConfigType",
        "modelAsString": true,
        "values": [
          {
            "name": "blob",
            "value": "blob"
          },
          {
            "name": "onelake",
            "value": "onelake"
          }
        ]
      }
    },
    "AccountConfigUpdate": {
      "type": "object",
      "description": "A storage account used for mirroring",
      "properties": {
        "accountType": {
          "$ref": "#/definitions/AccountConfigType"
        }
      },
      "discriminator": "accountType",
      "required": [
        "accountType"
      ]
    },
    "AuthConfig": {
      "type": "object",
      "description": "Authentication settings for secure access to storage.",
      "properties": {
        "authType": {
          "$ref": "#/definitions/AuthType",
          "description": "Auth method to use."
        }
      },
      "required": [
        "authType"
      ]
    },
    "AuthConfigUpdate": {
      "type": "object",
      "description": "Authentication settings for secure access to storage.",
      "properties": {
        "authType": {
          "$ref": "#/definitions/AuthType",
          "description": "Auth method to use."
        }
      }
    },
    "AuthSysConfig": {
      "type": "object",
      "description": "Unix-like ownership of the subvolume via UID/GID.",
      "properties": {
        "uid": {
          "type": "integer",
          "format": "int64",
          "description": "User ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        },
        "gid": {
          "type": "integer",
          "format": "int64",
          "description": "Group ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        }
      },
      "required": [
        "uid",
        "gid"
      ]
    },
    "AuthSysConfigUpdate": {
      "type": "object",
      "description": "Unix-like ownership of the subvolume via UID/GID.",
      "properties": {
        "uid": {
          "type": "integer",
          "format": "int64",
          "description": "User ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        },
        "gid": {
          "type": "integer",
          "format": "int64",
          "description": "Group ID owning the subvolume (default 4294967294).",
          "minimum": 1,
          "maximum": 4294967294
        }
      }
    },
    "AuthType": {
      "type": "string",
      "description": "Possible authentication methods.",
      "enum": [
        "WORKLOAD_IDENTITY",
        "MANAGED_IDENTITY"
      ],
      "x-ms-enum": {
        "name": "AuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "WORKLOAD_IDENTITY",
            "value": "WORKLOAD_IDENTITY",
            "description": "Workload Identity for authentication."
          },
          {
            "name": "MANAGED_IDENTITY",
            "value": "MANAGED_IDENTITY",
            "description": "Managed Identity for authentication."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BackendConnectionState": {
      "type": "string",
      "description": "States of backend connection",
      "enum": [
        "Unknown",
        "Connected",
        "Disconnected due to network error",
        "Disconnected due to auth error"
      ],
      "x-ms-enum": {
        "name": "BackendConnectionState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The backend connection is not initialized"
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The backend connection is established"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected due to network error",
            "description": "The backend connection disconnected due to network error"
          },
          {
            "name": "AuthError",
            "value": "Disconnected due to auth error",
            "description": "The backend connection disconnected due to auth error"
          }
        ]
      }
    },
    "BlobAccountConfig": {
      "type": "object",
      "description": "a blob account used for mirroring",
      "properties": {
        "accountEndpoint": {
          "type": "string",
          "description": "Blob storage endpoint, for example: https://mysa.core.windows.net",
          "minLength": 3,
          "maxLength": 1024
        },
        "containerName": {
          "type": "string",
          "description": "Blob container name.",
          "minLength": 3,
          "maxLength": 63,
          "pattern": "^[a-z0-9]([a-z0-9]|-[a-z0-9])*$"
        },
        "indexTagsMode": {
          "type": "string",
          "description": "Mode MirrorIndexTags requires higher permissions. When set index tags will be translated to corresponding azindex.<name> xattrs. NoIndexTags will keep index tag xattrs unset.",
          "default": "NoIndexTags",
          "enum": [
            "MirrorIndexTags",
            "NoIndexTags"
          ],
          "x-ms-enum": {
            "name": "IndexTagsModes",
            "modelAsString": true,
            "values": [
              {
                "name": "mirrorIndexTags",
                "value": "MirrorIndexTags",
                "description": "use mirror"
              },
              {
                "name": "noIndexTags",
                "value": "NoIndexTags",
                "description": "no tags used"
              }
            ]
          }
        }
      },
      "required": [
        "accountEndpoint",
        "containerName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AccountConfig"
        }
      ],
      "x-ms-discriminator-value": "blob"
    },
    "BlobAccountConfigUpdate": {
      "type": "object",
      "description": "a blob account used for mirroring",
      "properties": {
        "accountEndpoint": {
          "type": "string",
          "description": "Blob storage endpoint, for example: https://mysa.core.windows.net",
          "minLength": 3,
          "maxLength": 1024
        },
        "containerName": {
          "type": "string",
          "description": "Blob container name.",
          "minLength": 3,
          "maxLength": 63,
          "pattern": "^[a-z0-9]([a-z0-9]|-[a-z0-9])*$"
        },
        "indexTagsMode": {
          "type": "string",
          "description": "Mode MirrorIndexTags requires higher permissions. When set index tags will be translated to corresponding azindex.<name> xattrs. NoIndexTags will keep index tag xattrs unset.",
          "default": "NoIndexTags",
          "enum": [
            "MirrorIndexTags",
            "NoIndexTags"
          ],
          "x-ms-enum": {
            "name": "IndexTagsModes",
            "modelAsString": true,
            "values": [
              {
                "name": "mirrorIndexTags",
                "value": "MirrorIndexTags",
                "description": "use mirror"
              },
              {
                "name": "noIndexTags",
                "value": "NoIndexTags",
                "description": "no tags used"
              }
            ]
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AccountConfigUpdate"
        }
      ],
      "x-ms-discriminator-value": "blob"
    },
    "BlobFilteringConfig": {
      "type": "object",
      "description": "A scheme for filtering blobs to mirror",
      "properties": {
        "blobNamePrefix": {
          "type": "string",
          "description": "Use a prefix for filtering. For example, if the value is 'a' it only mirrors blobs with names starting with a.",
          "maxLength": 255,
          "pattern": "(^(?!.*[/][/]).*[^.]$|^$)"
        }
      }
    },
    "ConfigurationState": {
      "type": "string",
      "description": "States of a configuration resource",
      "enum": [
        "InProgress",
        "Pending",
        "Running",
        "Terminating",
        "Updating",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ConfigurationState",
        "modelAsString": true,
        "values": [
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Good, just in progress creating the resources"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Something is stuck waiting to be resolved, e.g. incorrect underlying storage configuration"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "The configuration is running and in use"
          },
          {
            "name": "Terminating",
            "value": "Terminating",
            "description": "The configuration is terminating"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The configuration is updating"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "We can't determine the status of the configuration"
          }
        ]
      }
    },
    "EdgeStorageConfiguration": {
      "type": "object",
      "description": "EdgeStorageConfiguration is a custom resource that defines the configuration for edge storage settings.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeStorageConfigurationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeStorageConfigurationListResult": {
      "type": "object",
      "description": "The response of a EdgeStorageConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeStorageConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/EdgeStorageConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeStorageConfigurationProperties": {
      "type": "object",
      "description": "Defines the properties of the EdgeStorageConfiguration resource.",
      "properties": {
        "defaultDiskStorageClasses": {
          "type": "array",
          "description": "The default disk storage class(es) to be used for edge volumes. Must not be empty and is immutable once set.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/StorageClass"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "workloadIdentity": {
          "$ref": "#/definitions/WorkloadIdentity",
          "description": "Object containing optional workload identity information."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/EdgeStorageConfigurationStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "defaultDiskStorageClasses"
      ]
    },
    "EdgeStorageConfigurationPropertiesUpdate": {
      "type": "object",
      "description": "Defines the properties of the EdgeStorageConfiguration resource.",
      "properties": {
        "workloadIdentity": {
          "$ref": "#/definitions/WorkloadIdentityUpdate",
          "description": "Object containing optional workload identity information."
        }
      }
    },
    "EdgeStorageConfigurationStatus": {
      "type": "object",
      "description": "Defines the observed status of the EdgeStorageConfiguration resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/ConfigurationState",
          "description": "The current state of the configuration."
        },
        "details": {
          "type": "string",
          "description": "Additional details about the configuration's status."
        }
      }
    },
    "EdgeStorageConfigurationUpdate": {
      "type": "object",
      "description": "EdgeStorageConfiguration is a custom resource that defines the configuration for edge storage settings.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeStorageConfigurationPropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeVolume": {
      "type": "object",
      "description": "EdgeVolume is a custom resource for defining an edge volume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeVolumeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EdgeVolumeListResult": {
      "type": "object",
      "description": "The response of a EdgeVolume list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EdgeVolume items on this page",
          "items": {
            "$ref": "#/definitions/EdgeVolume"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EdgeVolumeProperties": {
      "type": "object",
      "description": "Defines the desired state (spec) of the EdgeVolume resource.",
      "properties": {
        "requestedSize": {
          "type": "string",
          "description": "Size of the EdgeVolume (example: 1Gi). Must be a valid storage size and is immutable once set.",
          "pattern": "^[0-9][0-9]*([.][0-9]+)?[KMGTP]i?$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ingestOperationConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of concurrency for ingest operations (between 1 and 256).",
          "minimum": 1,
          "maximum": 256
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/EdgeVolumeStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "requestedSize"
      ]
    },
    "EdgeVolumePropertiesUpdate": {
      "type": "object",
      "description": "Defines the desired state (spec) of the EdgeVolume resource.",
      "properties": {
        "ingestOperationConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of concurrency for ingest operations (between 1 and 256).",
          "minimum": 1,
          "maximum": 256
        }
      }
    },
    "EdgeVolumeState": {
      "type": "string",
      "description": "States of an EdgeVolume",
      "enum": [
        "unknown",
        "deploying",
        "deployed"
      ],
      "x-ms-enum": {
        "name": "EdgeVolumeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "unknown",
            "description": "edgevolume is in an unknown state"
          },
          {
            "name": "Deploying",
            "value": "deploying",
            "description": "edgevolume is deploying"
          },
          {
            "name": "Deployed",
            "value": "deployed",
            "description": "edgevolume is deployed and running"
          }
        ]
      }
    },
    "EdgeVolumeStatus": {
      "type": "object",
      "description": "Defines the observed state (status) of the EdgeVolume resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/EdgeVolumeState",
          "description": "The current state of the EdgeVolume. Defaults to 'unknown'."
        },
        "details": {
          "type": "string",
          "description": "Additional details about the EdgeVolume status."
        },
        "spaceAvailable": {
          "type": "string",
          "description": "The amount of space available (string format, e.g., '500Mi').",
          "pattern": "^(|[0-9.]+[eEinumkKMGTP]*[-+]?[0-9]*)$"
        },
        "persistentVolume": {
          "type": "string",
          "description": "The name of the kubernetes persistent volume resource underlying this edgevolume."
        }
      }
    },
    "EdgeVolumeUpdate": {
      "type": "object",
      "description": "EdgeVolume is a custom resource for defining an edge volume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EdgeVolumePropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EvictionOrder": {
      "type": "string",
      "description": "Defines the possible order for clean file eviction.",
      "enum": [
        "never",
        "unordered"
      ],
      "x-ms-enum": {
        "name": "EvictionOrder",
        "modelAsString": true,
        "values": [
          {
            "name": "never",
            "value": "never",
            "description": "Do not evict any files."
          },
          {
            "name": "unordered",
            "value": "unordered",
            "description": "Evict files in an unordered manner."
          }
        ]
      }
    },
    "IngestOrder": {
      "type": "string",
      "description": "Defines the possible order for dirty file ingestion.",
      "enum": [
        "oldest-first",
        "newest-first"
      ],
      "x-ms-enum": {
        "name": "IngestOrder",
        "modelAsString": true,
        "values": [
          {
            "name": "oldest-first",
            "value": "oldest-first",
            "description": "Upload dirty files in the order of oldest first."
          },
          {
            "name": "newest-first",
            "value": "newest-first",
            "description": "Upload dirty files in the order of newest first."
          }
        ]
      }
    },
    "IngestSubvolume": {
      "type": "object",
      "description": "IngestSubvolume is a custom resource that defines the configuration for a subvolume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IngestSubvolumeProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IngestSubvolumeEvictionConfig": {
      "type": "object",
      "description": "The eviction configuration for the subvolume.",
      "properties": {
        "order": {
          "$ref": "#/definitions/EvictionOrder",
          "description": "The order in which clean files will be evicted - this is best effort, not a guarantee."
        },
        "minDelaySec": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of seconds before a clean file is eligible for eviction.",
          "minimum": 0,
          "maximum": 31536000
        }
      }
    },
    "IngestSubvolumeIngestConfig": {
      "type": "object",
      "description": "The ingest configuration for the subvolume.",
      "properties": {
        "order": {
          "$ref": "#/definitions/IngestOrder",
          "description": "The order in which dirty files will be uploaded - this is best effort, not a guarantee."
        },
        "minDelaySec": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of seconds before a dirty file is eligible for ingest.",
          "minimum": 0,
          "maximum": 31536000
        }
      }
    },
    "IngestSubvolumeListResult": {
      "type": "object",
      "description": "The response of a IngestSubvolume list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IngestSubvolume items on this page",
          "items": {
            "$ref": "#/definitions/IngestSubvolume"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IngestSubvolumeProperties": {
      "type": "object",
      "description": "Defines the properties of the IngestSubvolume resource.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Top-level path for this subvolume (e.g., /mysubvol).",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^/?[a-zA-Z0-9-\\._]*$"
        },
        "authentication": {
          "$ref": "#/definitions/AuthConfig",
          "description": "Authentication config for certain subvolumes."
        },
        "storageAccountEndpoint": {
          "type": "string",
          "description": "Blob storage endpoint, for example: https://mysa.core.windows.net",
          "minLength": 3,
          "maxLength": 1024
        },
        "containerName": {
          "type": "string",
          "description": "Blob container name.",
          "minLength": 3
        },
        "authSys": {
          "$ref": "#/definitions/AuthSysConfig",
          "description": "Optional Unix-like ownership info (UID/GID) for the subvolume."
        },
        "ingest": {
          "$ref": "#/definitions/IngestSubvolumeIngestConfig",
          "description": "Ingest configuration for the subvolume."
        },
        "eviction": {
          "$ref": "#/definitions/IngestSubvolumeEvictionConfig",
          "description": "Eviction configuration for the subvolume."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/IngestSubvolumeStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "path",
        "authentication",
        "storageAccountEndpoint",
        "containerName"
      ]
    },
    "IngestSubvolumePropertiesUpdate": {
      "type": "object",
      "description": "Defines the properties of the IngestSubvolume resource.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Top-level path for this subvolume (e.g., /mysubvol).",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^/?[a-zA-Z0-9-\\._]*$"
        },
        "authentication": {
          "$ref": "#/definitions/AuthConfigUpdate",
          "description": "Authentication config for certain subvolumes."
        },
        "storageAccountEndpoint": {
          "type": "string",
          "description": "Blob storage endpoint, for example: https://mysa.core.windows.net",
          "minLength": 3,
          "maxLength": 1024
        },
        "containerName": {
          "type": "string",
          "description": "Blob container name.",
          "minLength": 3
        },
        "authSys": {
          "$ref": "#/definitions/AuthSysConfigUpdate",
          "description": "Optional Unix-like ownership info (UID/GID) for the subvolume."
        },
        "ingest": {
          "$ref": "#/definitions/IngestSubvolumeIngestConfig",
          "description": "Ingest configuration for the subvolume."
        },
        "eviction": {
          "$ref": "#/definitions/IngestSubvolumeEvictionConfig",
          "description": "Eviction configuration for the subvolume."
        }
      }
    },
    "IngestSubvolumeState": {
      "type": "string",
      "description": "States of an IngestSubvolume",
      "enum": [
        "unknown",
        "configuring",
        "configured",
        "cleaning_up"
      ],
      "x-ms-enum": {
        "name": "IngestSubvolumeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "unknown",
            "description": "IngestSubvolume is in an unknown state"
          },
          {
            "name": "Configuring",
            "value": "configuring",
            "description": "IngestSubvolume configuration is in progress"
          },
          {
            "name": "Configured",
            "value": "configured",
            "description": "IngestSubvolume is configured and ready"
          },
          {
            "name": "CleaningUp",
            "value": "cleaning_up",
            "description": "IngestSubvolume is being deleted"
          }
        ]
      }
    },
    "IngestSubvolumeStatus": {
      "type": "object",
      "description": "Defines the observed status of the IngestSubvolume resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/IngestSubvolumeState",
          "description": "The current state of the subvolume."
        },
        "backendConnection": {
          "$ref": "#/definitions/BackendConnectionState",
          "description": "Describes the backend connection."
        }
      }
    },
    "IngestSubvolumeUpdate": {
      "type": "object",
      "description": "IngestSubvolume is a custom resource that defines the configuration for a subvolume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IngestSubvolumePropertiesUpdate",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MirrorSubvolume": {
      "type": "object",
      "description": "MirrorSubvolume is a custom resource that defines the configuration for a subvolume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MirrorSubvolumeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MirrorSubvolumeListResult": {
      "type": "object",
      "description": "The response of a MirrorSubvolume list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MirrorSubvolume items on this page",
          "items": {
            "$ref": "#/definitions/MirrorSubvolume"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MirrorSubvolumeProperties": {
      "type": "object",
      "description": "Defines the properties of the MirrorSubvolume resource.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Top-level path for this subvolume (e.g., /mysubvol).",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^/?[a-zA-Z0-9-\\._]*$"
        },
        "authentication": {
          "$ref": "#/definitions/AuthConfig",
          "description": "Authentication config for certain subvolumes."
        },
        "account": {
          "$ref": "#/definitions/AccountConfig",
          "description": "Account used for mirror source"
        },
        "blobFiltering": {
          "$ref": "#/definitions/BlobFilteringConfig",
          "description": "Optional blob filtering configuration."
        },
        "authSys": {
          "$ref": "#/definitions/AuthSysConfig",
          "description": "Optional Unix-like ownership info (UID/GID) for the subvolume."
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleConfig",
          "description": "Schedule configuration for when mirroring should run."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/MirrorSubvolumeStatus",
          "description": "Read only object to reflect changes that have occurred on the Edge. Similar to Kubernetes status property for custom resources.",
          "readOnly": true
        }
      },
      "required": [
        "path",
        "authentication",
        "account",
        "schedule"
      ]
    },
    "MirrorSubvolumePropertiesUpdate": {
      "type": "object",
      "description": "Defines the properties of the MirrorSubvolume resource.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Top-level path for this subvolume (e.g., /mysubvol).",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^/?[a-zA-Z0-9-\\._]*$"
        },
        "authentication": {
          "$ref": "#/definitions/AuthConfigUpdate",
          "description": "Authentication config for certain subvolumes."
        },
        "account": {
          "$ref": "#/definitions/AccountConfigUpdate",
          "description": "Account used for mirror source"
        },
        "blobFiltering": {
          "$ref": "#/definitions/BlobFilteringConfig",
          "description": "Optional blob filtering configuration."
        },
        "authSys": {
          "$ref": "#/definitions/AuthSysConfigUpdate",
          "description": "Optional Unix-like ownership info (UID/GID) for the subvolume."
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleConfigUpdate",
          "description": "Schedule configuration for when mirroring should run."
        }
      }
    },
    "MirrorSubvolumeState": {
      "type": "string",
      "description": "States of an MirrorSubvolume",
      "enum": [
        "unknown",
        "configuring",
        "configured",
        "cleaning_up"
      ],
      "x-ms-enum": {
        "name": "MirrorSubvolumeState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "unknown",
            "description": "MirrorSubvolume is in an unknown state"
          },
          {
            "name": "Configuring",
            "value": "configuring",
            "description": "MirrorSubvolume configuration is in progress"
          },
          {
            "name": "Configured",
            "value": "configured",
            "description": "MirrorSubvolume is configured and ready"
          },
          {
            "name": "CleaningUp",
            "value": "cleaning_up",
            "description": "MirrorSubvolume is being deleted"
          }
        ]
      }
    },
    "MirrorSubvolumeStatus": {
      "type": "object",
      "description": "Defines the observed status of the MirrorSubvolume resource.",
      "properties": {
        "state": {
          "$ref": "#/definitions/MirrorSubvolumeState",
          "description": "The current state of the subvolume."
        }
      }
    },
    "MirrorSubvolumeUpdate": {
      "type": "object",
      "description": "MirrorSubvolume is a custom resource that defines the configuration for a subvolume.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MirrorSubvolumePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OnelakeAccountConfig": {
      "type": "object",
      "description": "A onelake account used for mirroring",
      "properties": {
        "accountEndpoint": {
          "type": "string",
          "description": "Onelake endpoint, for example: https://onelake.blob.fabric.microsoft.com",
          "minLength": 3,
          "maxLength": 1024
        },
        "containerName": {
          "type": "string",
          "description": "Blob container name.",
          "pattern": "^[^\\t\\n\\r\\\\/ #]*[/]([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}|[A-Za-z0-9_]*[.]lakehouse)$"
        }
      },
      "required": [
        "accountEndpoint",
        "containerName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AccountConfig"
        }
      ],
      "x-ms-discriminator-value": "onelake"
    },
    "OnelakeAccountConfigUpdate": {
      "type": "object",
      "description": "A onelake account used for mirroring",
      "properties": {
        "accountEndpoint": {
          "type": "string",
          "description": "Onelake endpoint, for example: https://onelake.blob.fabric.microsoft.com",
          "minLength": 3,
          "maxLength": 1024
        },
        "containerName": {
          "type": "string",
          "description": "Blob container name.",
          "pattern": "^[^\\t\\n\\r\\\\/ #]*[/]([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}|[A-Za-z0-9_]*[.]lakehouse)$"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AccountConfigUpdate"
        }
      ],
      "x-ms-discriminator-value": "onelake"
    },
    "ScheduleConfig": {
      "type": "object",
      "description": "schedule configuration",
      "properties": {
        "frequency": {
          "type": "string",
          "description": "Options are: @annually, @yearly, @monthly, @weekly, @daily, @hourly, never, or cron syntax (five digits, first is minutes (0-59), second is hours (0-23), third is day (1-31), fourth is month (1-12), fifth is day of the week (0-6)).",
          "pattern": "^(never|@(annually|yearly|monthly|weekly|daily|hourly)|((([*]|([1-5]?[0-9])([-]([1-5]?[0-9]))?)([/]([1-5]?[0-9]))?)) ((([*]|(1?[0-9]|2[0-3])([-](1?[0-9]|2[0-3]))?)([/](1?[0-9]|2[0-3]))?)) ((([*]|([1-2]?[0-9]|3[0-1])([-]([1-2]?[0-9]|3[0-1]))?)([/]([1-2][0-9]|3[0-1]))?)) (([*]|((1[0-2]|[0-9]|[jJ][aA][nN]|[jJ][aA][nN][uU][aA][rR][yY]|[fF][eE][bB]|[fF][eE][bB][rR][uU][aA][rR][yY]|[mM][aA][rR]|[mM][aA][rR][cC][hH]|[aA][pP][rR]|[aA][pP][rR][iI][lL]|[mM][aA][yY]|[jJ][uU][nN]|[jJ][uU][nN][eE]|[aA][uU][gG]|[aA][uU][gG][uU][sS][tT]|[sS][eE][pP]|[sS][eE][pP][tT]|[sS][eE][pP][tT][eE][mM][bB][eE][rR]|[oO][cC][tT]|[oO][cC][tT][oO][bB][eE][rR]|[nN][oO][vV]|[nN][oO][vV][eE][mM][bB][eE][rR]|[dD][eE][cC]|[dD][eE][cC][eE][mM][bB][eE][rR])([-](1[0-2]|[0-9]|[jJ][aA][nN]|[jJ][aA][nN][uU][aA][rR][yY]|[fF][eE][bB]|[fF][eE][bB][rR][uU][aA][rR][yY]|[mM][aA][rR]|[mM][aA][rR][cC][hH]|[aA][pP][rR]|[aA][pP][rR][iI][lL]|[mM][aA][yY]|[jJ][uU][nN]|[jJ][uU][nN][eE]|[aA][uU][gG]|[aA][uU][gG][uU][sS][tT]|[sS][eE][pP]|[sS][eE][pP][tT]|[sS][eE][pP][tT][eE][mM][bB][eE][rR]|[oO][cC][tT]|[oO][cC][tT][oO][bB][eE][rR]|[nN][oO][vV]|[nN][oO][vV][eE][mM][bB][eE][rR]|[dD][eE][cC]|[dD][eE][cC][eE][mM][bB][eE][rR]))?))([/](1[0-2]|[0-9]|[jJ][aA][nN]|[jJ][aA][nN][uU][aA][rR][yY]|[fF][eE][bB]|[fF][eE][bB][rR][uU][aA][rR][yY]|[mM][aA][rR]|[mM][aA][rR][cC][hH]|[aA][pP][rR]|[aA][pP][rR][iI][lL]|[mM][aA][yY]|[jJ][uU][nN]|[jJ][uU][nN][eE]|[aA][uU][gG]|[aA][uU][gG][uU][sS][tT]|[sS][eE][pP]|[sS][eE][pP][tT]|[sS][eE][pP][tT][eE][mM][bB][eE][rR]|[oO][cC][tT]|[oO][cC][tT][oO][bB][eE][rR]|[nN][oO][vV]|[nN][oO][vV][eE][mM][bB][eE][rR]|[dD][eE][cC]|[dD][eE][cC][eE][mM][bB][eE][rR]))??) (([*]|([0-6]|[mM][oO][nN]|[mM][oO][nN][dD][aA][yY]|[tT][uU][eE]|[tT][uU][eE][sS]|[tT][uU][eE][sS][dD][aA][yY]|[wW][eE][dD]|[wW][eE][dD][sS]|[wW][eE][dD][nN][eE][sS][dD][aA][yY]|[tT][hH][uU]|[tT][hH][uU][rR]|[tT][hH][uU][rR][sS]|[tT][hH][uU][rR][sS][dD][aA][yY]|[fF][rR][iI]|[fF][rR][iI][dD][aA][yY]|[sS][aA][tT]|[sS][aA][tT][uU][rR][dD][aA][yY]|[sS][uU][nN]|[sS][uU][nN][dD][aA][yY])([-][0-6]|[mM][oO][nN]|[mM][oO][nN][dD][aA][yY]|[tT][uU][eE]|[tT][uU][eE][sS]|[tT][uU][eE][sS][dD][aA][yY]|[wW][eE][dD]|[wW][eE][dD][sS]|[wW][eE][dD][nN][eE][sS][dD][aA][yY]|[tT][hH][uU]|[tT][hH][uU][rR]|[tT][hH][uU][rR][sS]|[tT][hH][uU][rR][sS][dD][aA][yY]|[fF][rR][iI]|[fF][rR][iI][dD][aA][yY]|[sS][aA][tT]|[sS][aA][tT][uU][rR][dD][aA][yY]|[sS][uU][nN]|[sS][uU][nN][dD][aA][yY])?)([/]([0-6]|[mM][oO][nN]|[mM][oO][nN][dD][aA][yY]|[tT][uU][eE]|[tT][uU][eE][sS]|[tT][uU][eE][sS][dD][aA][yY]|[wW][eE][dD]|[wW][eE][dD][sS]|[wW][eE][dD][nN][eE][sS][dD][aA][yY]|[tT][hH][uU]|[tT][hH][uU][rR]|[tT][hH][uU][rR][sS]|[tT][hH][uU][rR][sS][dD][aA][yY]|[fF][rR][iI]|[fF][rR][iI][dD][aA][yY]|[sS][aA][tT]|[sS][aA][tT][uU][rR][dD][aA][yY]|[sS][uU][nN]|[sS][uU][nN][dD][aA][yY]))??))$"
        },
        "oneshot": {
          "$ref": "#/definitions/UUIDType",
          "description": "By default, left blank. If at any time a uuid is specified here, it triggers an 'immediate' sync. If a uuid is specified on creation, the subvolume performs a sync on initial create, and thereafter according to the frequency. If this parameter is empty on creation, the subvolume initially creates without a sync, and then syncs according to the frequency."
        }
      },
      "required": [
        "frequency"
      ]
    },
    "ScheduleConfigUpdate": {
      "type": "object",
      "description": "schedule configuration",
      "properties": {
        "frequency": {
          "type": "string",
          "description": "Options are: @annually, @yearly, @monthly, @weekly, @daily, @hourly, never, or cron syntax (five digits, first is minutes (0-59), second is hours (0-23), third is day (1-31), fourth is month (1-12), fifth is day of the week (0-6)).",
          "pattern": "^(never|@(annually|yearly|monthly|weekly|daily|hourly)|((([*]|([1-5]?[0-9])([-]([1-5]?[0-9]))?)([/]([1-5]?[0-9]))?)) ((([*]|(1?[0-9]|2[0-3])([-](1?[0-9]|2[0-3]))?)([/](1?[0-9]|2[0-3]))?)) ((([*]|([1-2]?[0-9]|3[0-1])([-]([1-2]?[0-9]|3[0-1]))?)([/]([1-2][0-9]|3[0-1]))?)) (([*]|((1[0-2]|[0-9]|[jJ][aA][nN]|[jJ][aA][nN][uU][aA][rR][yY]|[fF][eE][bB]|[fF][eE][bB][rR][uU][aA][rR][yY]|[mM][aA][rR]|[mM][aA][rR][cC][hH]|[aA][pP][rR]|[aA][pP][rR][iI][lL]|[mM][aA][yY]|[jJ][uU][nN]|[jJ][uU][nN][eE]|[aA][uU][gG]|[aA][uU][gG][uU][sS][tT]|[sS][eE][pP]|[sS][eE][pP][tT]|[sS][eE][pP][tT][eE][mM][bB][eE][rR]|[oO][cC][tT]|[oO][cC][tT][oO][bB][eE][rR]|[nN][oO][vV]|[nN][oO][vV][eE][mM][bB][eE][rR]|[dD][eE][cC]|[dD][eE][cC][eE][mM][bB][eE][rR])([-](1[0-2]|[0-9]|[jJ][aA][nN]|[jJ][aA][nN][uU][aA][rR][yY]|[fF][eE][bB]|[fF][eE][bB][rR][uU][aA][rR][yY]|[mM][aA][rR]|[mM][aA][rR][cC][hH]|[aA][pP][rR]|[aA][pP][rR][iI][lL]|[mM][aA][yY]|[jJ][uU][nN]|[jJ][uU][nN][eE]|[aA][uU][gG]|[aA][uU][gG][uU][sS][tT]|[sS][eE][pP]|[sS][eE][pP][tT]|[sS][eE][pP][tT][eE][mM][bB][eE][rR]|[oO][cC][tT]|[oO][cC][tT][oO][bB][eE][rR]|[nN][oO][vV]|[nN][oO][vV][eE][mM][bB][eE][rR]|[dD][eE][cC]|[dD][eE][cC][eE][mM][bB][eE][rR]))?))([/](1[0-2]|[0-9]|[jJ][aA][nN]|[jJ][aA][nN][uU][aA][rR][yY]|[fF][eE][bB]|[fF][eE][bB][rR][uU][aA][rR][yY]|[mM][aA][rR]|[mM][aA][rR][cC][hH]|[aA][pP][rR]|[aA][pP][rR][iI][lL]|[mM][aA][yY]|[jJ][uU][nN]|[jJ][uU][nN][eE]|[aA][uU][gG]|[aA][uU][gG][uU][sS][tT]|[sS][eE][pP]|[sS][eE][pP][tT]|[sS][eE][pP][tT][eE][mM][bB][eE][rR]|[oO][cC][tT]|[oO][cC][tT][oO][bB][eE][rR]|[nN][oO][vV]|[nN][oO][vV][eE][mM][bB][eE][rR]|[dD][eE][cC]|[dD][eE][cC][eE][mM][bB][eE][rR]))??) (([*]|([0-6]|[mM][oO][nN]|[mM][oO][nN][dD][aA][yY]|[tT][uU][eE]|[tT][uU][eE][sS]|[tT][uU][eE][sS][dD][aA][yY]|[wW][eE][dD]|[wW][eE][dD][sS]|[wW][eE][dD][nN][eE][sS][dD][aA][yY]|[tT][hH][uU]|[tT][hH][uU][rR]|[tT][hH][uU][rR][sS]|[tT][hH][uU][rR][sS][dD][aA][yY]|[fF][rR][iI]|[fF][rR][iI][dD][aA][yY]|[sS][aA][tT]|[sS][aA][tT][uU][rR][dD][aA][yY]|[sS][uU][nN]|[sS][uU][nN][dD][aA][yY])([-][0-6]|[mM][oO][nN]|[mM][oO][nN][dD][aA][yY]|[tT][uU][eE]|[tT][uU][eE][sS]|[tT][uU][eE][sS][dD][aA][yY]|[wW][eE][dD]|[wW][eE][dD][sS]|[wW][eE][dD][nN][eE][sS][dD][aA][yY]|[tT][hH][uU]|[tT][hH][uU][rR]|[tT][hH][uU][rR][sS]|[tT][hH][uU][rR][sS][dD][aA][yY]|[fF][rR][iI]|[fF][rR][iI][dD][aA][yY]|[sS][aA][tT]|[sS][aA][tT][uU][rR][dD][aA][yY]|[sS][uU][nN]|[sS][uU][nN][dD][aA][yY])?)([/]([0-6]|[mM][oO][nN]|[mM][oO][nN][dD][aA][yY]|[tT][uU][eE]|[tT][uU][eE][sS]|[tT][uU][eE][sS][dD][aA][yY]|[wW][eE][dD]|[wW][eE][dD][sS]|[wW][eE][dD][nN][eE][sS][dD][aA][yY]|[tT][hH][uU]|[tT][hH][uU][rR]|[tT][hH][uU][rR][sS]|[tT][hH][uU][rR][sS][dD][aA][yY]|[fF][rR][iI]|[fF][rR][iI][dD][aA][yY]|[sS][aA][tT]|[sS][aA][tT][uU][rR][dD][aA][yY]|[sS][uU][nN]|[sS][uU][nN][dD][aA][yY]))??))$"
        },
        "oneshot": {
          "$ref": "#/definitions/UUIDType",
          "description": "By default, left blank. If at any time a uuid is specified here, it triggers an 'immediate' sync. If a uuid is specified on creation, the subvolume performs a sync on initial create, and thereafter according to the frequency. If this parameter is empty on creation, the subvolume initially creates without a sync, and then syncs according to the frequency."
        }
      }
    },
    "StorageClass": {
      "type": "string",
      "minLength": 1,
      "maxLength": 253
    },
    "UUIDType": {
      "type": "string",
      "pattern": "^[0-9a-fA-F-]{36}$"
    },
    "WorkloadIdentity": {
      "type": "object",
      "description": "Defines the workload identity properties.",
      "properties": {
        "clientId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The client ID for the workload identity."
        },
        "tenantId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The tenant ID for the workload identity."
        }
      },
      "required": [
        "clientId",
        "tenantId"
      ]
    },
    "WorkloadIdentityUpdate": {
      "type": "object",
      "description": "Defines the workload identity properties.",
      "properties": {
        "clientId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The client ID for the workload identity."
        },
        "tenantId": {
          "$ref": "#/definitions/UUIDType",
          "description": "The tenant ID for the workload identity."
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
