{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-16",
    "title": "windowsesu",
    "description": "Manage Multi-Access Keys (MAK) that enable Windows Extended Security Updates (ESU).",
    "x-ms-code-generation-settings": {
      "name": "windowsesuClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.WindowsExtendedSecurityUpdates/operations": {
      "get": {
        "tags": ["Operations"],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "ListOperations": { "$ref": "./examples/ListOperations.json" }
        },
        "description": "List all available Windows.ExtendedSecurityUpdates provider operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved operations.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.WindowsExtendedSecurityUpdates/multipleActivationKeys": {
      "get": {
        "tags": ["MultipleActivationKeys"],
        "operationId": "MultipleActivationKeys_List",
        "x-ms-examples": {
          "ListMultipleActivationKeys": { "$ref": "./examples/ListMultipleActivationKeys.json" }
        },
        "description": "List all Multiple Activation Keys (MAK) created for a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/MultipleActivationKeyList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.WindowsExtendedSecurityUpdates/multipleActivationKeys/{multipleActivationKeyName}": {
      "get": {
        "tags": ["MultipleActivationKeys"],
        "operationId": "MultipleActivationKeys_Get",
        "x-ms-examples": {
          "GetMultipleActivationKey": { "$ref": "./examples/GetMultipleActivationKey.json" }
        },
        "description": "Get a MAK key.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MultipleActivationKeyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/MultipleActivationKey"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": ["MultipleActivationKeys"],
        "operationId": "MultipleActivationKeys_Create",
        "x-ms-examples": {
          "CreateMultipleActivationKey": { "$ref": "./examples/CreateMultipleActivationKey.json" }
        },
        "description": "Create a MAK key.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MultipleActivationKeyNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/MultipleActivationKey"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MultipleActivationKey": {
      "description": "MAK key details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Friendly name of the MAK key.",
          "type": "string",
          "readOnly": true
        },
        "multipleActivationKey": {
          "description": "MAK 5x5 key.",
          "type": "string",
          "readOnly": true
        },
        "expirationDate": {
          "description": "Expiration date of the MAK key.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "installedServerNumberRange": {
          "description": "Number of activations/servers using the MAK key.",
          "enum": [
            "LessThan10",
            "From10To100",
            "From100To1000",
            "MoreThan1000"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "installedServerNumberRange",
            "modelAsString": false
          }
        }
      }
    },
    "MultipleActivationKeyList": {
      "description": "List of MAK keys.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of MAK keys.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MultipleActivationKey"
          }
        },
        "nextLink": {
          "description": "Link to the next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "REST API operation details.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay"
        }
      }
    },
    "OperationDisplay": {
      "description": "Meta data about operation used for display in portal.",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "operation": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "OperationList": {
      "description": "List of available REST API opertions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "Link to the next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "MultipleActivationKeyNameParameter": {
      "name": "multipleActivationKeyName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the MAK key."
    }
  }
}
