{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2025-12-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "BedrockBlueprints"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/bedrockBlueprints": {
      "get": {
        "operationId": "BedrockBlueprints_ListBySubscription",
        "tags": [
          "BedrockBlueprints"
        ],
        "description": "List BedrockBlueprint resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockBlueprintListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockBlueprints_ListBySubscription_MaximumSet": {
            "$ref": "./examples/BedrockBlueprints_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/bedrockBlueprints": {
      "get": {
        "operationId": "BedrockBlueprints_ListByResourceGroup",
        "tags": [
          "BedrockBlueprints"
        ],
        "description": "List BedrockBlueprint resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockBlueprintListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockBlueprints_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/BedrockBlueprints_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/bedrockBlueprints/{name}": {
      "get": {
        "operationId": "BedrockBlueprints_Get",
        "tags": [
          "BedrockBlueprints"
        ],
        "description": "Get a BedrockBlueprint",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockBlueprint",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockBlueprint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockBlueprints_Get_MaximumSet": {
            "$ref": "./examples/BedrockBlueprints_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BedrockBlueprints_CreateOrReplace",
        "tags": [
          "BedrockBlueprints"
        ],
        "description": "Create a BedrockBlueprint. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockBlueprint",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BedrockBlueprint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BedrockBlueprint' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BedrockBlueprint"
            }
          },
          "201": {
            "description": "Resource 'BedrockBlueprint' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BedrockBlueprint"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockBlueprints_CreateOrReplace_MaximumSet": {
            "$ref": "./examples/BedrockBlueprints_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "BedrockBlueprints_Update",
        "tags": [
          "BedrockBlueprints"
        ],
        "description": "Update a BedrockBlueprint",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockBlueprint",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BedrockBlueprintTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockBlueprint"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockBlueprints_Update_MaximumSet": {
            "$ref": "./examples/BedrockBlueprints_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BedrockBlueprints_Delete",
        "tags": [
          "BedrockBlueprints"
        ],
        "description": "Delete a BedrockBlueprint",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockBlueprint",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockBlueprints_Delete_MaximumSet": {
            "$ref": "./examples/BedrockBlueprints_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsBedrockBlueprintProperties": {
      "type": "object",
      "description": "Definition of awsBedrockBlueprint",
      "properties": {
        "blueprintArn": {
          "type": "string",
          "description": "ARN of a Blueprint"
        },
        "blueprintName": {
          "type": "string",
          "description": "Name of the Blueprint"
        },
        "blueprintStage": {
          "$ref": "#/definitions/BlueprintStage",
          "description": "Stage of the Blueprint"
        },
        "creationTime": {
          "type": "string",
          "description": "Creation timestamp"
        },
        "kmsEncryptionContext": {
          "type": "object",
          "description": "KMS encryption context",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKeyId": {
          "type": "string",
          "description": "KMS key identifier"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last modified timestamp"
        },
        "schema": {
          "description": "Schema of the blueprint"
        },
        "tags": {
          "type": "array",
          "description": "List of Tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "type": {
          "$ref": "#/definitions/Type",
          "description": "Modality Type"
        }
      }
    },
    "BedrockBlueprint": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BedrockBlueprintProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BedrockBlueprintListResult": {
      "type": "object",
      "description": "The response of a BedrockBlueprint list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BedrockBlueprint items on this page",
          "items": {
            "$ref": "#/definitions/BedrockBlueprint"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BedrockBlueprintProperties": {
      "type": "object",
      "description": "Definition of BedrockBlueprint",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsBedrockBlueprintProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "BedrockBlueprintTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in BedrockBlueprint resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BlueprintStage": {
      "type": "string",
      "description": "BlueprintStage enum",
      "enum": [
        "DEVELOPMENT",
        "LIVE"
      ],
      "x-ms-enum": {
        "name": "BlueprintStage",
        "modelAsString": true,
        "values": [
          {
            "name": "DEVELOPMENT",
            "value": "DEVELOPMENT",
            "description": "BlueprintStage enum DEVELOPMENT"
          },
          {
            "name": "LIVE",
            "value": "LIVE",
            "description": "BlueprintStage enum LIVE"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for the tag"
        },
        "value": {
          "type": "string",
          "description": "Value for the tag"
        }
      }
    },
    "Type": {
      "type": "string",
      "description": "Type enum",
      "enum": [
        "AUDIO",
        "DOCUMENT",
        "IMAGE",
        "VIDEO"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true,
        "values": [
          {
            "name": "AUDIO",
            "value": "AUDIO",
            "description": "Type enum AUDIO"
          },
          {
            "name": "DOCUMENT",
            "value": "DOCUMENT",
            "description": "Type enum DOCUMENT"
          },
          {
            "name": "IMAGE",
            "value": "IMAGE",
            "description": "Type enum IMAGE"
          },
          {
            "name": "VIDEO",
            "value": "VIDEO",
            "description": "Type enum VIDEO"
          }
        ]
      }
    }
  },
  "parameters": {}
}
