{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2025-12-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "BedrockApplicationInferenceProfiles"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/bedrockApplicationInferenceProfiles": {
      "get": {
        "operationId": "BedrockApplicationInferenceProfiles_ListBySubscription",
        "tags": [
          "BedrockApplicationInferenceProfiles"
        ],
        "description": "List BedrockApplicationInferenceProfile resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockApplicationInferenceProfiles_ListBySubscription_MaximumSet": {
            "$ref": "./examples/BedrockApplicationInferenceProfiles_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/bedrockApplicationInferenceProfiles": {
      "get": {
        "operationId": "BedrockApplicationInferenceProfiles_ListByResourceGroup",
        "tags": [
          "BedrockApplicationInferenceProfiles"
        ],
        "description": "List BedrockApplicationInferenceProfile resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockApplicationInferenceProfiles_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/BedrockApplicationInferenceProfiles_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/bedrockApplicationInferenceProfiles/{name}": {
      "get": {
        "operationId": "BedrockApplicationInferenceProfiles_Get",
        "tags": [
          "BedrockApplicationInferenceProfiles"
        ],
        "description": "Get a BedrockApplicationInferenceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockApplicationInferenceProfile",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockApplicationInferenceProfiles_Get_MaximumSet": {
            "$ref": "./examples/BedrockApplicationInferenceProfiles_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BedrockApplicationInferenceProfiles_CreateOrReplace",
        "tags": [
          "BedrockApplicationInferenceProfiles"
        ],
        "description": "Create a BedrockApplicationInferenceProfile. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockApplicationInferenceProfile",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BedrockApplicationInferenceProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfile"
            }
          },
          "201": {
            "description": "Resource 'BedrockApplicationInferenceProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfile"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockApplicationInferenceProfiles_CreateOrReplace_MaximumSet": {
            "$ref": "./examples/BedrockApplicationInferenceProfiles_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "BedrockApplicationInferenceProfiles_Update",
        "tags": [
          "BedrockApplicationInferenceProfiles"
        ],
        "description": "Update a BedrockApplicationInferenceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockApplicationInferenceProfile",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfileTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockApplicationInferenceProfile"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockApplicationInferenceProfiles_Update_MaximumSet": {
            "$ref": "./examples/BedrockApplicationInferenceProfiles_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BedrockApplicationInferenceProfiles_Delete",
        "tags": [
          "BedrockApplicationInferenceProfiles"
        ],
        "description": "Delete a BedrockApplicationInferenceProfile",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockApplicationInferenceProfile",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockApplicationInferenceProfiles_Delete_MaximumSet": {
            "$ref": "./examples/BedrockApplicationInferenceProfiles_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsBedrockApplicationInferenceProfileProperties": {
      "type": "object",
      "description": "Definition of awsBedrockApplicationInferenceProfile",
      "properties": {
        "createdAt": {
          "type": "string",
          "description": "Time Stamp"
        },
        "description": {
          "type": "string",
          "description": "Description of the inference profile"
        },
        "inferenceProfileArn": {
          "type": "string",
          "description": "Property inferenceProfileArn"
        },
        "inferenceProfileId": {
          "type": "string",
          "description": "Property inferenceProfileId"
        },
        "inferenceProfileIdentifier": {
          "type": "string",
          "description": "Inference profile identifier. Supports both system-defined inference profile ids, and inference profile ARNs."
        },
        "inferenceProfileName": {
          "type": "string",
          "description": "Property inferenceProfileName"
        },
        "modelSource": {
          "$ref": "#/definitions/InferenceProfileModelSource",
          "description": "Various ways to encode a list of models in a CreateInferenceProfile request"
        },
        "models": {
          "type": "array",
          "description": "List of model configuration",
          "items": {
            "$ref": "#/definitions/InferenceProfileModel"
          },
          "x-ms-identifiers": []
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "Status of the Inference Profile"
        },
        "tags": {
          "type": "array",
          "description": "List of Tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "type": {
          "$ref": "#/definitions/Type",
          "description": "Type of the Inference Profile"
        },
        "updatedAt": {
          "type": "string",
          "description": "Time Stamp"
        }
      }
    },
    "BedrockApplicationInferenceProfile": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BedrockApplicationInferenceProfileProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BedrockApplicationInferenceProfileListResult": {
      "type": "object",
      "description": "The response of a BedrockApplicationInferenceProfile list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BedrockApplicationInferenceProfile items on this page",
          "items": {
            "$ref": "#/definitions/BedrockApplicationInferenceProfile"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BedrockApplicationInferenceProfileProperties": {
      "type": "object",
      "description": "Definition of BedrockApplicationInferenceProfile",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsBedrockApplicationInferenceProfileProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "BedrockApplicationInferenceProfileTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in BedrockApplicationInferenceProfile resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "InferenceProfileModel": {
      "type": "object",
      "description": "Definition of InferenceProfileModel",
      "properties": {
        "modelArn": {
          "type": "string",
          "description": "ARN for Foundation Models in Bedrock. These models can be used as base models for model customization jobs"
        }
      }
    },
    "InferenceProfileModelSource": {
      "type": "object",
      "description": "Definition of InferenceProfileModelSource",
      "properties": {
        "copyFrom": {
          "type": "string",
          "description": "Source arns for a custom inference profile to copy its regional load balancing config from. Thiscan either be a foundation model or predefined inference profile ARN."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Status": {
      "type": "string",
      "description": "Status enum",
      "enum": [
        "ACTIVE"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true,
        "values": [
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "description": "Status enum ACTIVE"
          }
        ]
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Tag Key"
        },
        "value": {
          "type": "string",
          "description": "Tag Value"
        }
      }
    },
    "Type": {
      "type": "string",
      "description": "Type enum",
      "enum": [
        "APPLICATION",
        "SYSTEM_DEFINED"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true,
        "values": [
          {
            "name": "APPLICATION",
            "value": "APPLICATION",
            "description": "Type enum APPLICATION"
          },
          {
            "name": "SYSTEM_DEFINED",
            "value": "SYSTEM_DEFINED",
            "description": "Type enum SYSTEM_DEFINED"
          }
        ]
      }
    }
  },
  "parameters": {}
}
