{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2025-12-01-preview",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "BedrockAgentAliases"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/bedrockAgentAliases": {
      "get": {
        "operationId": "BedrockAgentAliases_ListBySubscription",
        "tags": [
          "BedrockAgentAliases"
        ],
        "description": "List BedrockAgentAlias resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockAgentAliasListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockAgentAliases_ListBySubscription_MaximumSet": {
            "$ref": "./examples/BedrockAgentAliases_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/bedrockAgentAliases": {
      "get": {
        "operationId": "BedrockAgentAliases_ListByResourceGroup",
        "tags": [
          "BedrockAgentAliases"
        ],
        "description": "List BedrockAgentAlias resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockAgentAliasListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockAgentAliases_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/BedrockAgentAliases_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/bedrockAgentAliases/{name}": {
      "get": {
        "operationId": "BedrockAgentAliases_Get",
        "tags": [
          "BedrockAgentAliases"
        ],
        "description": "Get a BedrockAgentAlias",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockAgentAlias",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockAgentAlias"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockAgentAliases_Get_MaximumSet": {
            "$ref": "./examples/BedrockAgentAliases_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BedrockAgentAliases_CreateOrReplace",
        "tags": [
          "BedrockAgentAliases"
        ],
        "description": "Create a BedrockAgentAlias. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockAgentAlias",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BedrockAgentAlias"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BedrockAgentAlias' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BedrockAgentAlias"
            }
          },
          "201": {
            "description": "Resource 'BedrockAgentAlias' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BedrockAgentAlias"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockAgentAliases_CreateOrReplace_MaximumSet": {
            "$ref": "./examples/BedrockAgentAliases_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "BedrockAgentAliases_Update",
        "tags": [
          "BedrockAgentAliases"
        ],
        "description": "Update a BedrockAgentAlias",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockAgentAlias",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BedrockAgentAliasTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BedrockAgentAlias"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockAgentAliases_Update_MaximumSet": {
            "$ref": "./examples/BedrockAgentAliases_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BedrockAgentAliases_Delete",
        "tags": [
          "BedrockAgentAliases"
        ],
        "description": "Delete a BedrockAgentAlias",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of BedrockAgentAlias",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BedrockAgentAliases_Delete_MaximumSet": {
            "$ref": "./examples/BedrockAgentAliases_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AgentAliasHistoryEvent": {
      "type": "object",
      "description": "Definition of AgentAliasHistoryEvent",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "Time Stamp."
        },
        "routingConfiguration": {
          "type": "array",
          "description": "Routing configuration for an Agent alias.",
          "items": {
            "$ref": "#/definitions/AgentAliasRoutingConfigurationListItem"
          },
          "x-ms-identifiers": []
        },
        "startDate": {
          "type": "string",
          "description": "Time Stamp."
        }
      }
    },
    "AgentAliasRoutingConfigurationListItem": {
      "type": "object",
      "description": "Definition of AgentAliasRoutingConfigurationListItem",
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "Agent Version."
        }
      }
    },
    "AgentAliasStatus": {
      "type": "string",
      "description": "AgentAliasStatus enum",
      "enum": [
        "CREATING",
        "DELETING",
        "FAILED",
        "PREPARED",
        "UPDATING"
      ],
      "x-ms-enum": {
        "name": "AgentAliasStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "CREATING",
            "value": "CREATING",
            "description": "AgentAliasStatus enum CREATING"
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "description": "AgentAliasStatus enum DELETING"
          },
          {
            "name": "FAILED",
            "value": "FAILED",
            "description": "AgentAliasStatus enum FAILED"
          },
          {
            "name": "PREPARED",
            "value": "PREPARED",
            "description": "AgentAliasStatus enum PREPARED"
          },
          {
            "name": "UPDATING",
            "value": "UPDATING",
            "description": "AgentAliasStatus enum UPDATING"
          }
        ]
      }
    },
    "AwsBedrockAgentAliasProperties": {
      "type": "object",
      "description": "Definition of awsBedrockAgentAlias",
      "properties": {
        "agentAliasArn": {
          "type": "string",
          "description": "Arn representation of the Agent Alias."
        },
        "agentAliasHistoryEvents": {
          "type": "array",
          "description": "The list of history events for an alias for an Agent.",
          "items": {
            "$ref": "#/definitions/AgentAliasHistoryEvent"
          },
          "x-ms-identifiers": []
        },
        "agentAliasId": {
          "type": "string",
          "description": "Id for an Agent Alias generated at the server side."
        },
        "agentAliasName": {
          "type": "string",
          "description": "Name for a resource."
        },
        "agentAliasStatus": {
          "$ref": "#/definitions/AgentAliasStatus",
          "description": "The statuses an Agent Alias can be in."
        },
        "agentId": {
          "type": "string",
          "description": "Identifier for a resource."
        },
        "createdAt": {
          "type": "string",
          "description": "Time Stamp."
        },
        "description": {
          "type": "string",
          "description": "Description of the Resource."
        },
        "routingConfiguration": {
          "type": "array",
          "description": "Routing configuration for an Agent alias.",
          "items": {
            "$ref": "#/definitions/AgentAliasRoutingConfigurationListItem"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "object",
          "description": "A map of tag keys and values",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updatedAt": {
          "type": "string",
          "description": "Time Stamp."
        }
      }
    },
    "BedrockAgentAlias": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BedrockAgentAliasProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BedrockAgentAliasListResult": {
      "type": "object",
      "description": "The response of a BedrockAgentAlias list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BedrockAgentAlias items on this page",
          "items": {
            "$ref": "#/definitions/BedrockAgentAlias"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BedrockAgentAliasProperties": {
      "type": "object",
      "description": "Definition of BedrockAgentAlias",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsBedrockAgentAliasProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "BedrockAgentAliasTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in BedrockAgentAlias resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
