{
  "swagger": "2.0",
  "info": {
    "title": "Compute Management- Update Management API",
    "description": "APIs for managing software update configurations.",
    "version": "2016-04-30-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/SoftwareUpdateDeployments/{softwareUpdateDeploymentName}": {
      "put": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_CreateOrUpdate",
        "description": "Create or update an software Update Deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The virtual machine name."
          },
          {
            "name": "softwareUpdateDeploymentName",
            "x-ms-client-name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the software Update Deployment."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            },
            "description": "Parameters supplied to the Create software Update Deployment operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            }
          }
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples"
          }
        }
      },
      "get": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_Get",
        "description": "Retrieves information about a software update deployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The virtual machine name."
          },
          {
            "name": "softwareUpdateDeploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            }
          }
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples/GetSoftwareUpdateDeployment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/SoftwareUpdateDeployments/{softwareUpdateDeploymentName}/instanceView": {
      "get": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_GetInstanceView",
        "description": "Gets the status of a SoftwareUpdateDeployment.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the VM."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeploymentInstanceView"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/SoftwareUpdateDeployments": {
      "get": {
        "tags": [
          "SoftwareUpdateDeployments"
        ],
        "operationId": "SoftwareUpdateDeployments_List",
        "description": "Lists all software update deployments in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SoftwareUpdateDeploymentListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Create a virtual machine image from a blob.": {
            "$ref": "./examples/GetSoftwareUpdateDeploymentByName.json"
          }
        }
      }
    }
  },
    "definitions": {
      "InstanceViewStatus": {
        "properties": {
          "code": {
            "type": "string",
            "description": "The status code."
          },
          "level": {
            "type": "string",
            "description": "The level code.",
            "enum": [
              "Info",
              "Warning",
              "Error"
            ],
            "x-ms-enum": {
              "name": "StatusLevelTypes",
              "modelAsString": false
            }
          },
          "displayStatus": {
            "type": "string",
            "description": "The short localizable label for the status."
          },
          "message": {
            "type": "string",
            "description": "The detailed status message, including for alerts and error messages."
          },
          "time": {
            "type": "string",
            "format": "date-time",
            "description": "The time of the status."
          }
        },
        "description": "Instance view status."
      },
      "SoftwareUpdateDeploymentProperties": {
        "properties": {
          "windows": {
            "$ref": "#/definitions/WindowsUpdateConfiguration",
            "description": "Windows Update Configuration."
          },
          "linux": {
            "$ref": "#/definitions/LinuxUpdateConfiguration",
            "description": "Linux Update Configuration."
          },
          "provisioningState": {
            "readOnly": true,
            "type": "string",
            "description": "The provisioning state, which only appears in the response."
          },
          "maximumDuration": {
            "type": "string",
            "format": "duration",
            "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601"
          },
          "rebootSetting": {
            "type": "string",
            "description": "Reboot setting for the software update configuration."
          },
          "instanceView": {
            "$ref": "#/definitions/SoftwareUpdateDeploymentInstanceView",
            "readOnly": true,
            "description": "The Software Update Deployment Instance View."
          }
        },
        "description": "The instance view of a resource."
      },
      "SoftwareUpdateDeployment": {
        "properties": {
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/SoftwareUpdateDeploymentProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ],
        "description": "Describes a Software Update Deployment."
      },
      "SoftwareUpdateDeploymentListResult": {
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SoftwareUpdateDeployment"
            },
            "description": "The list of software update deployments"
          },
          "nextLink": {
            "type": "string",
            "description": "The URI to fetch the next page of SoftwareUpdateDeployments. Call ListNext() with this URI to fetch the next page of SoftwareUpdateDeployments."
          }
        },
        "required": [
          "value"
        ],
        "description": "The List Availability Set operation response."
      },
      "WindowsUpdateConfiguration": {
        "type": "object",
        "properties": {
          "includedUpdates": {
            "type": "array",
            "description": "KB numbers included from the software update configuration.",
            "items": {
              "type": "string"
            }
          },
          "excludedUpdates": {
            "type": "array",
            "description": "KB numbers excluded from the software update configuration.",
            "items": {
              "type": "string"
            }
          },
          "includedUpdateClassifications": {
            "description": "Update classification included in the software update configuration. A comma separated string with required values",
            "type": "string",
            "enum": [
              "Unclassified",
              "Critical",
              "Security",
              "UpdateRollup",
              "FeaturePack",
              "ServicePack",
              "Definition",
              "Tools",
              "Updates"
            ],
            "x-ms-enum": {
              "name": "WindowsUpdateClasses",
              "modelAsString": true
            }
          }

        },
        "description": "Specifies Windows operating system Update configuration on the virtual machine."
      },
      "LinuxUpdateConfiguration": {
        "type": "object",
        "properties": {
          "includedUpdates": {
            "type": "array",
            "description": "packages included from the software update configuration.",
            "items": {
              "type": "string"
            }
          },
          "excludedUpdates": {
            "type": "array",
            "description": "packages excluded from the software update configuration.",
            "items": {
              "type": "string"
            }
          },
          "includedUpdateClassifications": {
            "description": "Update classifications included in the software update configuration.",
            "type": "string",
            "enum": [
              "Unclassified",
              "Critical",
              "Security",
              "Other"
            ],
            "x-ms-enum": {
              "name": "LinuxUpdateClasses",
              "modelAsString": true
            }
          }
        },
        "description": "Specifies Linux operating system Update configuration on the virtual machine."
      },
      "SoftwareUpdateDeploymentInstanceView": {
        "properties": {
          "statuses": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/definitions/InstanceViewStatus"
            },
            "description": "The resource status information."
          },
          "updates": {
            "readOnly": true,
            "type": "array",
            "items": {
              "$ref": "#/definitions/UpdateResult"
            },
            "description": "The resource status information."
          },
          "rebootRequired": {
            "readOnly": true,
            "type": "boolean",
            "description": "Specifies whether reboot need to be done."
          },
          "maintenanceWindowExceeded": {
            "readOnly": true,
            "type": "boolean",
            "description": "Specifies whether maintenance window exceeded."
          }
        },
        "description": "The instance view of a Software Update Deployment ."
      },
      "UpdateResult": {
        "properties": {
          "updateId": {
            "type": "boolean",
            "description": "Specifies whether reboot need to be done."
          },
          "updateState": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "updateStateReason": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "message": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "classification": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          },
          "title": {
            "type": "string",
            "description": "Specifies whether maintenance window exceeded."
          }
        },
        "description": "The instance view of a Software Update Deployment ."
      },    
      "SubResource": {
        "properties": {
          "id": {
            "type": "string",
            "description": "Resource Id"
          }
        },
        "x-ms-azure-resource": true
      },
      "SubResourceReadOnly": {
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Resource Id"
          }
        },
        "x-ms-azure-resource": true
      },
      "Resource": {
        "description": "The Resource model definition.",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "Resource Id"
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Resource name"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "Resource type"
          },
          "location": {
            "type": "string",
            "description": "Resource location"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource tags"
          }
        },
        "required": [
          "location"
        ],
        "x-ms-azure-resource": true
      },
      "InnerError": {
        "properties": {
          "exceptiontype": {
            "type": "string",
            "description": "The exception type."
          },
          "errordetail": {
            "type": "string",
            "description": "The internal error message or exception dump."
          }
        },
        "description": "Inner error details."
      },
      "ApiError": {
        "properties": {
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ApiErrorBase"
            },
            "description": "The Api error details"
          },
          "innererror": {
            "$ref": "#/definitions/InnerError",
            "description": "The Api inner error"
          },
          "code": {
            "type": "string",
            "description": "The error code."
          },
          "target": {
            "type": "string",
            "description": "The target of the particular error."
          },
          "message": {
            "type": "string",
            "description": "The error message."
          }
        },
        "description": "Api error."
      },
      "ApiErrorBase": {
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code."
          },
          "target": {
            "type": "string",
            "description": "The target of the particular error."
          },
          "message": {
            "type": "string",
            "description": "The error message."
          }
        },
        "description": "Api error base."
      },
      "OperationStatusResponse": {
        "properties": {
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "Operation ID"
          },
          "status": {
            "readOnly": true,
            "type": "string",
            "description": "Operation status"
          },
          "startTime": {
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "description": "Start time of the operation"
          },
          "endTime": {
            "readOnly": true,
            "type": "string",
            "format": "date-time",
            "description": "End time of the operation"
          },
          "error": {
            "readOnly": true,
            "$ref": "#/definitions/ApiError",
            "description": "Api error"
          }
        },
        "description": "Operation status response"
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Client Api Version."
      }
    }
  }