{
  "swagger": "2.0",
  "info": {
    "title": "Azure Maps Resource Provider",
    "description": "Resource Provider",
    "version": "2021-12-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "description": "Create or update a Maps Account. A Maps Account holds the keys which allow access to the Maps REST APIs.",
        "operationId": "Accounts_CreateOrUpdate",
        "x-ms-examples": {
          "Create Gen1 Account": {
            "$ref": "./examples/CreateAccount.json"
          },
          "Create Gen2 Account": {
            "$ref": "./examples/CreateAccountGen2.json"
          },
          "Create Account with Managed Identities": {
            "$ref": "./examples/CreateAccountManagedIdentity.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "MapsAccount",
            "in": "body",
            "description": "The new or updated parameters for the Maps Account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MapsAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/MapsAccount"
            }
          },
          "201": {
            "description": "The Account was successfully created.",
            "schema": {
              "$ref": "#/definitions/MapsAccount"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "description": "Updates a Maps Account. Only a subset of the parameters may be updated after creation, such as Sku, Tags, Properties.",
        "operationId": "Accounts_Update",
        "x-ms-examples": {
          "Update Account Tags": {
            "$ref": "./examples/UpdateAccount.json"
          },
          "Update to Gen2 Account": {
            "$ref": "./examples/UpdateAccountGen2.json"
          },
          "Update to Gen1 Account": {
            "$ref": "./examples/UpdateAccountGen1.json"
          },
          "Update Account Managed Identities": {
            "$ref": "./examples/UpdateAccountManagedIdentity.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "MapsAccountUpdateParameters",
            "in": "body",
            "description": "The updated parameters for the Maps Account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MapsAccountUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/MapsAccount"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "description": "Delete a Maps Account.",
        "operationId": "Accounts_Delete",
        "x-ms-examples": {
          "DeleteAccount": {
            "$ref": "./examples/DeleteAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account was deleted successfully."
          },
          "204": {
            "description": "The specified Account was not found. Nothing was deleted."
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "description": "Get a Maps Account.",
        "operationId": "Accounts_Get",
        "x-ms-examples": {
          "GetAccount": {
            "$ref": "./examples/GetAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccount"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "description": "Get all Maps Accounts in a Resource Group",
        "operationId": "Accounts_ListByResourceGroup",
        "x-ms-examples": {
          "List Accounts By Resource Group": {
            "$ref": "./examples/ListAccountsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccounts"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "description": "Get all Maps Accounts in a Subscription",
        "operationId": "Accounts_ListBySubscription",
        "x-ms-examples": {
          "List Accounts By Subscription": {
            "$ref": "./examples/ListAccountsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccounts"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listSas": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Create and list an account shared access signature token. Use this SAS token for authentication to Azure Maps REST APIs through various Azure Maps SDKs. As prerequisite to create a SAS Token. \n\nPrerequisites:\n1. Create or have an existing User Assigned Managed Identity in the same Azure region as the account. \n2. Create or update an Azure Map account with the same Azure region as the User Assigned Managed Identity is placed.",
        "operationId": "Accounts_ListSas",
        "x-ms-examples": {
          "List Account Sas": {
            "$ref": "./examples/AccountListSAS.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "MapsAccountSasParameters",
            "in": "body",
            "description": "The updated parameters for the Maps Account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSasParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccountSasToken"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listKeys": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Get the keys to use with the Maps APIs. A key is used to authenticate and authorize access to the Maps REST APIs. Only one key is needed at a time; two are given to provide seamless key regeneration.",
        "operationId": "Accounts_ListKeys",
        "x-ms-examples": {
          "List Keys": {
            "$ref": "./examples/ListKeys.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "description": "Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.",
        "operationId": "Accounts_RegenerateKeys",
        "x-ms-examples": {
          "Regenerate Key": {
            "$ref": "./examples/RegenerateKey.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "keySpecification",
            "in": "body",
            "required": true,
            "description": "Which key to regenerate:  primary or secondary.",
            "schema": {
              "$ref": "#/definitions/MapsKeySpecification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsAccountKeys"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Maps/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "List operations available for the Maps Resource Provider",
        "operationId": "Maps_ListOperations",
        "x-ms-examples": {
          "Get Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsOperations"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "List operations available for the Maps Resource Provider",
        "operationId": "Maps_ListSubscriptionOperations",
        "x-ms-examples": {
          "Get Operations by Subscription": {
            "$ref": "./examples/GetOperationsSubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/MapsOperations"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators": {
      "get": {
        "tags": [
          "Creators"
        ],
        "description": "Get all Creator instances for an Azure Maps Account",
        "operationId": "Creators_ListByAccount",
        "x-ms-examples": {
          "List Creator Resources By Account": {
            "$ref": "./examples/ListMapsCreatorsByAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/CreatorList"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/creators/{creatorName}": {
      "put": {
        "tags": [
          "Creators"
        ],
        "description": "Create or update a Maps Creator resource. Creator resource will manage Azure resources required to populate a custom set of mapping data. It requires an account to exist before it can be created.",
        "operationId": "Creators_CreateOrUpdate",
        "x-ms-examples": {
          "Create Creator Resource": {
            "$ref": "./examples/CreateMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          },
          {
            "name": "CreatorResource",
            "in": "body",
            "description": "The new or updated parameters for the Creator resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Creator is updated with the provided properties.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "201": {
            "description": "The Creator will be created asynchronously. The Creator will be ready to use once the provisioningState property changed to 'Succeeded' through creators Get API.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Creators"
        ],
        "description": "Updates the Maps Creator resource. Only a subset of the parameters may be updated after creation, such as Tags.",
        "operationId": "Creators_Update",
        "x-ms-examples": {
          "Update Creator Resource": {
            "$ref": "./examples/UpdateMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          },
          {
            "name": "CreatorUpdateParameters",
            "in": "body",
            "description": "The update parameters for Maps Creator.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatorUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Maps Creator was successfully updated.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Creators"
        ],
        "description": "Delete a Maps Creator resource.",
        "operationId": "Creators_Delete",
        "x-ms-examples": {
          "Delete Creator Resource": {
            "$ref": "./examples/DeleteMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Maps Creator will be deleted."
          },
          "204": {
            "description": "The specified Maps Creator resource was not found. Nothing was deleted."
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Creators"
        ],
        "description": "Get a Maps Creator resource.",
        "operationId": "Creators_Get",
        "x-ms-examples": {
          "Get Creator Resource": {
            "$ref": "./examples/GetMapsCreator.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CreatorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "schema": {
              "$ref": "#/definitions/Creator"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "AccountNameParameter": {
      "name": "accountName",
      "in": "path",
      "description": "The name of the Maps Account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "PrivateAtlasNameParameter": {
      "name": "privateAtlasName",
      "in": "path",
      "description": "The name of the Private Atlas instance.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CreatorNameParameter": {
      "name": "creatorName",
      "in": "path",
      "description": "The name of the Maps Creator instance.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "Creator": {
      "description": "An Azure resource which represents Maps Creator product and provides ability to manage private location data.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The Creator resource properties.",
          "$ref": "#/definitions/CreatorProperties"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "MapsAccount": {
      "description": "An Azure resource which represents access to a suite of Maps REST APIs.",
      "type": "object",
      "properties": {
        "sku": {
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        },
        "kind": {
          "description": "Get or Set Kind property.",
          "$ref": "#/definitions/Kind"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "identity": {
          "type": "object",
          "$ref": "#/definitions/ManagedServiceIdentity",
          "description": "Sets the identity property for maps account."
        },
        "properties": {
          "description": "The map account properties.",
          "$ref": "#/definitions/MapsAccountProperties"
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "MapsAccountUpdateParameters": {
      "description": "Parameters used to update an existing Maps Account.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "kind": {
          "description": "Get or Set Kind property.",
          "$ref": "#/definitions/Kind"
        },
        "sku": {
          "description": "The SKU of this account.",
          "$ref": "#/definitions/Sku"
        },
        "identity": {
          "type": "object",
          "$ref": "#/definitions/ManagedServiceIdentity",
          "description": "Sets the identity property for maps account."
        },
        "properties": {
          "description": "The map account properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MapsAccountProperties"
        }
      }
    },
    "CreatorUpdateParameters": {
      "description": "Parameters used to update an existing Creator resource.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters."
        },
        "properties": {
          "description": "Creator resource properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CreatorProperties"
        }
      }
    },
    "MapsAccounts": {
      "description": "A list of Maps Accounts.",
      "type": "object",
      "properties": {
        "value": {
          "description": "a Maps Account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/MapsAccount"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "CreatorList": {
      "description": "A list of Creator resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "a Creator account.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Creator"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "Kind": {
      "description": "The Kind of the Maps Account.",
      "type": "string",
      "default": "Gen1",
      "enum": [
        "Gen1",
        "Gen2"
      ],
      "x-ms-enum": {
        "name": "kind",
        "modelAsString": true
      }
    },
    "Sku": {
      "description": "The SKU of the Maps Account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the SKU, in standard format (such as S0).",
          "type": "string",
          "enum": [
            "S0",
            "S1",
            "G2"
          ],
          "x-ms-enum": {
            "name": "name",
            "modelAsString": true
          }
        },
        "tier": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the sku tier. This is based on the SKU name."
        }
      },
      "required": [
        "name"
      ]
    },
    "MapsKeySpecification": {
      "description": "Whether the operation refers to the primary or secondary key.",
      "type": "object",
      "required": [
        "keyType"
      ],
      "properties": {
        "keyType": {
          "type": "string",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": true
          },
          "description": "Whether the operation refers to the primary or secondary key."
        }
      }
    },
    "MapsAccountKeys": {
      "description": "The set of keys which can be used to access the Maps REST APIs. Two keys are provided for key rotation without interruption.",
      "type": "object",
      "properties": {
        "primaryKeyLastUpdated": {
          "type": "string",
          "readOnly": true,
          "description": "The last updated date and time of the primary key."
        },
        "primaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "The primary key for accessing the Maps REST APIs."
        },
        "secondaryKey": {
          "type": "string",
          "readOnly": true,
          "description": "The secondary key for accessing the Maps REST APIs."
        },
        "secondaryKeyLastUpdated": {
          "type": "string",
          "readOnly": true,
          "description": "The last updated date and time of the secondary key."
        }
      }
    },
    "AccountSasParameters": {
      "description": "Parameters used to create an account Shared Access Signature (SAS) token. The REST API access control is provided by Azure Maps Role Based Access (RBAC) identity and access.",
      "type": "object",
      "properties": {
        "signingKey": {
          "type": "string",
          "description": "The Map account key to use for signing.",
          "enum": [
            "primaryKey",
            "secondaryKey"
          ],
          "x-ms-enum": {
            "name": "SigningKey",
            "modelAsString": true
          }
        },
        "principalId": {
          "description": "The principal Id also known as the object Id of a User Assigned Managed Identity currently assigned to the Map Account. To assign a Managed Identity of the account, use operation Create or Update an assign a User Assigned Identity resource Id.",
          "type": "string"
        },
        "regions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional, allows control of which region locations are permitted access to Azure Maps REST APIs with the SAS token. Example: \"eastus\", \"westus2\". Omitting this parameter will allow all region locations to be accessible."
        },
        "maxRatePerSecond": {
          "type": "integer",
          "minimum": 0,
          "maximum": 500,
          "default": 500,
          "format": "int32",
          "exclusiveMinimum": true,
          "description": "Required parameter which represents the desired maximum request per second to allowed for the given SAS token. This does not guarantee perfect accuracy in measurements but provides application safe guards of abuse with eventual enforcement."
        },
        "start": {
          "description": "The date time offset of when the token validity begins. For example \"2017-05-24T10:42:03.1567373Z\".",
          "type": "string"
        },
        "expiry": {
          "description": "The date time offset of when the token validity expires. For example \"2017-05-24T10:42:03.1567373Z\"",
          "type": "string"
        }
      },
      "required": [
        "signingKey",
        "principalId",
        "maxRatePerSecond",
        "start",
        "expiry"
      ]
    },
    "MapsAccountSasToken": {
      "description": "A new Sas token which can be used to access the Maps REST APIs and is controlled by the specified Managed identity permissions on Azure (IAM) Role Based Access Control.",
      "type": "object",
      "properties": {
        "accountSasToken": {
          "type": "string",
          "readOnly": true,
          "description": "The shared access signature access token."
        }
      }
    },
    "ManagedServiceIdentity": {
      "description": "Identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal ID of resource identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant ID of resource."
        },
        "type": {
          "type": "string",
          "description": "The identity type.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          }
        }
      }
    },
    "MapsOperations": {
      "description": "The set of operations available for Maps.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An operation available for Maps.",
          "type": "array",
          "readOnly": true,
          "uniqueItems": false,
          "items": {
            "$ref": "#/definitions/OperationDetail"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "OperationDetail": {
      "description": "Operation detail payload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationProperties",
          "description": "Properties of the operation"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Resource of the operation",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of operation, include metric specifications.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "One property of operation, include metric specifications."
        }
      }
    },
    "ServiceSpecification": {
      "description": "One property of operation, include metric specifications.",
      "type": "object",
      "properties": {
        "metricSpecifications": {
          "description": "Metric specifications of operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          }
        }
      }
    },
    "MetricSpecification": {
      "description": "Metric specification of operation.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of metric specification."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of metric specification."
        },
        "displayDescription": {
          "type": "string",
          "description": "Display description of metric specification."
        },
        "unit": {
          "type": "string",
          "description": "Unit could be Count."
        },
        "dimensions": {
          "description": "Dimensions of map account.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dimension"
          }
        },
        "aggregationType": {
          "type": "string",
          "description": "Aggregation type could be Average."
        },
        "fillGapWithZero": {
          "type": "boolean",
          "description": "The property to decide fill gap with zero or not."
        },
        "category": {
          "type": "string",
          "description": "The category this metric specification belong to, could be Capacity."
        },
        "resourceIdDimensionNameOverride": {
          "type": "string",
          "description": "Account Resource Id."
        },
        "sourceMdmAccount": {
          "type": "string",
          "description": "Source metrics account."
        },
        "internalMetricName": {
          "type": "string",
          "description": "Internal metric name."
        }
      }
    },
    "Dimension": {
      "description": "Dimension of map account, for example API Category, Api Name, Result Type, and Response Code.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "internalName": {
          "type": "string",
          "description": "Internal name of the dimension."
        },
        "internalMetricName": {
          "type": "string",
          "description": "Internal metric name of the dimension."
        },
        "sourceMdmNamespace": {
          "type": "string",
          "description": "Source Mdm Namespace of the dimension."
        },
        "toBeExportedToShoebox": {
          "type": "boolean",
          "description": "Flag to indicate exporting to Azure Monitor."
        }
      }
    },
    "MapsAccountProperties": {
      "description": "Additional Map account properties",
      "type": "object",
      "properties": {
        "uniqueId": {
          "description": "A unique identifier for the maps account",
          "type": "string",
          "readOnly": true
        },
        "disableLocalAuth": {
          "description": "Allows toggle functionality on Azure Policy to disable Azure Maps local authentication support. This will disable Shared Keys authentication from any usage.",
          "type": "boolean",
          "default": false
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Map account resource.",
          "readOnly": true
        },
        "linkedResources": {
          "type": "array",
          "$ref": "#/definitions/LinkedResources",
          "description": "Sets the resources to be used for Managed Identities based operations for the Map account resource."
        },
        "cors": {
          "$ref": "#/definitions/CorsRules",
          "description": "Specifies CORS rules for the Blob service. You can include up to five CorsRule elements in the request. If no CorsRule elements are included in the request body, all CORS rules will be deleted, and CORS will be disabled for the Blob service."
        }
      }
    },
    "LinkedResources": {
      "type": "array",
      "maxItems": 10,
      "items": {
        "$ref": "#/definitions/LinkedResource"
      },
      "description": "The array of associated resources to the Map account. Linked resource in the array cannot individually update, you must update all linked resources in the array together. These resources may be used on operations on the Azure Maps REST API. Access is controlled by the Map Account Managed Identity(s) permissions to those resource(s)."
    },
    "LinkedResource": {
      "type": "object",
      "properties": {
        "uniqueName": {
          "type": "string",
          "description": "A provided name which uniquely identifies the linked resource."
        },
        "id": {
          "type": "string",
          "description": "ARM resource id in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/accounts/{storageName}'."
        }
      },
      "required": [
        "uniqueName",
        "id"
      ],
      "description": "Linked resource is reference to a resource deployed in an Azure subscription, add the linked resource `uniqueName` value as an optional parameter for operations on Azure Maps Geospatial REST APIs."
    },
    "CorsRules": {
      "type": "object",
      "properties": {
        "corsRules": {
          "type": "array",
          "maxItems": 5,
          "items": {
            "description": "Specifies a CORS rule for the Map Account.",
            "$ref": "#/definitions/CorsRule"
          },
          "description": "The list of CORS rules. You can include up to five CorsRule elements in the request. "
        }
      },
      "description": "Sets the CORS rules. You can include up to five CorsRule elements in the request. "
    },
    "CorsRule": {
      "type": "object",
      "properties": {
        "allowedOrigins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required if CorsRule element is present. A list of origin domains that will be allowed via CORS, or \"*\" to allow all domains"
        }
      },
      "required": [
        "allowedOrigins"
      ],
      "description": "Specifies a CORS rule for the Map Account."
    },
    "CreatorProperties": {
      "description": "Creator resource properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the resource provisioning, terminal states: Succeeded, Failed, Canceled",
          "type": "string",
          "readOnly": true
        },
        "storageUnits": {
          "description": "The storage units to be allocated. Integer values from 1 to 100, inclusive.",
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 100
        }
      },
      "required": [
        "storageUnits"
      ]
    }
  }
}
