{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureStackHCI",
    "version": "2025-11-01-preview",
    "description": "Azure Stack HCI service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Clusters"
    },
    {
      "name": "KubernetesVersions"
    },
    {
      "name": "PlatformUpdates"
    },
    {
      "name": "OsImages"
    },
    {
      "name": "UpdateContents"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureStackHCI/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the operations for the provider.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/clusters": {
      "get": {
        "operationId": "Clusters_ListBySubscription",
        "tags": [
          "Clusters"
        ],
        "description": "List all HCI clusters in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/kubernetesVersions": {
      "get": {
        "operationId": "KubernetesVersions_ListBySubscriptionLocationResource",
        "tags": [
          "KubernetesVersions"
        ],
        "description": "List all kubernetes versions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubernetesVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KubernetesVersions_ListBySubscriptionLocationResource_MaximumSet": {
            "$ref": "./examples/KubernetesVersions_ListBySubscriptionLocationResource_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/osImages": {
      "get": {
        "operationId": "OsImages_ListBySubscriptionLocationResource",
        "tags": [
          "OsImages"
        ],
        "description": "List all os images.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OsImageListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OsImages_ListBySubscriptionLocationResource_MaximumSet": {
            "$ref": "./examples/OsImages_ListBySubscriptionLocationResource_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/osImages/{osImageName}": {
      "get": {
        "operationId": "OsImages_Get",
        "tags": [
          "OsImages"
        ],
        "description": "Get a os image.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "osImageName",
            "in": "path",
            "description": "The name of the OsImage",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OsImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OsImages_Get_MaximumSet": {
            "$ref": "./examples/OsImages_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/platformUpdates": {
      "get": {
        "operationId": "PlatformUpdates_List",
        "tags": [
          "PlatformUpdates"
        ],
        "description": "List all platform updates.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlatformUpdateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlatformUpdates_ListByLocation_MaximumSet": {
            "$ref": "./examples/PlatformUpdates_ListByLocation_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/platformUpdates/{platformUpdateName}": {
      "get": {
        "operationId": "PlatformUpdates_Get",
        "tags": [
          "PlatformUpdates"
        ],
        "description": "Get a platform update.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "platformUpdateName",
            "in": "path",
            "description": "The name of the PlatformUpdate",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlatformUpdate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PlatformUpdates_Get_MaximumSet": {
            "$ref": "./examples/PlatformUpdates_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/updateContents": {
      "get": {
        "operationId": "UpdateContents_List",
        "tags": [
          "UpdateContents"
        ],
        "description": "List all update contents.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateContentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContents_ListByLocation_MaximumSet": {
            "$ref": "./examples/UpdateContents_ListByLocation_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/locations/{location}/updateContents/{updateContentName}": {
      "get": {
        "operationId": "UpdateContents_Get",
        "tags": [
          "UpdateContents"
        ],
        "description": "Gets content for an update.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "updateContentName",
            "in": "path",
            "description": "The name of the UpdateContent",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]{3,50}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateContent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateContents_Get_MaximumSet": {
            "$ref": "./examples/UpdateContents_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters": {
      "get": {
        "operationId": "Clusters_ListByResourceGroup",
        "tags": [
          "Clusters"
        ],
        "description": "List all HCI clusters in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Get HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Clusters_Create",
        "tags": [
          "Clusters"
        ],
        "description": "Create an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Details of the HCI cluster.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Cluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "201": {
            "description": "Resource 'Cluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Clusters_Update",
        "tags": [
          "Clusters"
        ],
        "description": "Update an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Details of the HCI cluster.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Clusters_Delete",
        "tags": [
          "Clusters"
        ],
        "description": "Delete an HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/configureRemoteSupport": {
      "post": {
        "operationId": "Clusters_ConfigureRemoteSupport",
        "tags": [
          "Clusters"
        ],
        "description": "Configure RemoteSupport on a cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Configure Remote Support Request Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteSupportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/createClusterIdentity": {
      "post": {
        "operationId": "Clusters_CreateIdentity",
        "tags": [
          "Clusters"
        ],
        "description": "Create cluster identity.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StackHciClusterIdentityResponseResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/extendSoftwareAssuranceBenefit": {
      "post": {
        "operationId": "Clusters_ExtendSoftwareAssuranceBenefit",
        "tags": [
          "Clusters"
        ],
        "description": "Extends Software Assurance Benefit to a cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Software Assurance Change Request Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SoftwareAssuranceChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/triggerLogCollection": {
      "post": {
        "operationId": "Clusters_TriggerLogCollection",
        "tags": [
          "Clusters"
        ],
        "description": "Trigger Log Collection on a cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Trigger Log Collection Request Payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LogCollectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSecretsLocations": {
      "post": {
        "operationId": "Clusters_UpdateSecretsLocations",
        "tags": [
          "Clusters"
        ],
        "description": "Update cluster secrets locations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretsLocationsChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/uploadCertificate": {
      "post": {
        "operationId": "Clusters_UploadCertificate",
        "tags": [
          "Clusters"
        ],
        "description": "Upload certificate.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the cluster.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Upload certificate request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadCertificateRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccessLevel": {
      "type": "string",
      "description": "Remote Support Access Level",
      "enum": [
        "Diagnostics",
        "DiagnosticsAndRepair"
      ],
      "x-ms-enum": {
        "name": "AccessLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "Diagnostics",
            "value": "Diagnostics",
            "description": "Diagnostics access level."
          },
          {
            "name": "DiagnosticsAndRepair",
            "value": "DiagnosticsAndRepair",
            "description": "Diagnostics and repair access level."
          }
        ]
      }
    },
    "ArcExtensionState": {
      "type": "string",
      "description": "Arc extension installation state.",
      "enum": [
        "NotSpecified",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Moving",
        "Deleting",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ArcExtensionState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "Arc extension state is not specified."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Arc extension state is Succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Arc extension state is Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Arc extension state is Canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Arc extension state is Accepted when extension installation triggered."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Arc extension is in Creating State."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Arc extension is in Updating State."
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "Arc extension is in Moving State."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Arc extension is in Deleting State."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Arc extension is in Deleted State."
          }
        ]
      },
      "readOnly": true
    },
    "ArcSettingAggregateState": {
      "type": "string",
      "description": "Aggregate state of Arc agent across the nodes in this HCI cluster.",
      "enum": [
        "NotSpecified",
        "Error",
        "Succeeded",
        "Canceled",
        "Failed",
        "Connected",
        "Disconnected",
        "Deleted",
        "Creating",
        "Updating",
        "Deleting",
        "Moving",
        "PartiallySucceeded",
        "PartiallyConnected",
        "InProgress",
        "Accepted",
        "Provisioning",
        "DisableInProgress"
      ],
      "x-ms-enum": {
        "name": "ArcSettingAggregateState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The state is not specified."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "An error occurred."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The operation succeeded."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation was canceled."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The operation failed."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The arc setting is connected."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The arc setting is disconnected."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The arc setting is deleted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The arc setting is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The arc setting is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The arc setting is being deleted."
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "The arc setting is being moved."
          },
          {
            "name": "PartiallySucceeded",
            "value": "PartiallySucceeded",
            "description": "The operation partially succeeded."
          },
          {
            "name": "PartiallyConnected",
            "value": "PartiallyConnected",
            "description": "The arc setting is partially connected."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The operation is in progress."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The operation has been accepted."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The arc setting is provisioning."
          },
          {
            "name": "DisableInProgress",
            "value": "DisableInProgress",
            "description": "Disable operation is in progress."
          }
        ]
      },
      "readOnly": true
    },
    "AvailabilityType": {
      "type": "string",
      "description": "Indicates the way the update content can be downloaded.",
      "enum": [
        "Local",
        "Online",
        "Notify"
      ],
      "x-ms-enum": {
        "name": "AvailabilityType",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local",
            "description": "Update content is available locally."
          },
          {
            "name": "Online",
            "value": "Online",
            "description": "Update content is available online."
          },
          {
            "name": "Notify",
            "value": "Notify",
            "description": "Update content requires notification."
          }
        ]
      }
    },
    "AzureLinuxEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported by Azure Linux Edge Devices.",
      "enum": [
        "CollectLog",
        "RemoteSupport"
      ],
      "x-ms-enum": {
        "name": "AzureLinuxEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          }
        ]
      }
    },
    "Cluster": {
      "type": "object",
      "description": "Cluster details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "Cluster properties."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ClusterDesiredProperties": {
      "type": "object",
      "description": "Desired properties of the cluster.",
      "properties": {
        "windowsServerSubscription": {
          "$ref": "#/definitions/WindowsServerSubscription",
          "description": "Desired state of Windows Server Subscription."
        },
        "diagnosticLevel": {
          "$ref": "#/definitions/DiagnosticLevel",
          "description": "Desired level of diagnostic data emitted by the cluster."
        }
      }
    },
    "ClusterIdentityResponseProperties": {
      "type": "object",
      "description": "Cluster identity response properties.",
      "properties": {
        "aadClientId": {
          "type": "string",
          "description": "App id of cluster AAD identity."
        },
        "aadTenantId": {
          "type": "string",
          "description": "Tenant id of cluster AAD identity."
        },
        "aadServicePrincipalObjectId": {
          "type": "string",
          "description": "Id of cluster identity service principal."
        },
        "aadApplicationObjectId": {
          "type": "string",
          "description": "Object id of cluster AAD identity."
        }
      }
    },
    "ClusterList": {
      "type": "object",
      "description": "List of clusters.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Cluster items on this page",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterNode": {
      "type": "object",
      "description": "Cluster node details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the cluster node.",
          "readOnly": true
        },
        "id": {
          "type": "number",
          "format": "float",
          "description": "Id of the node in the cluster.",
          "readOnly": true
        },
        "windowsServerSubscription": {
          "$ref": "#/definitions/WindowsServerSubscription",
          "description": "State of Windows Server Subscription.",
          "readOnly": true
        },
        "nodeType": {
          "$ref": "#/definitions/ClusterNodeType",
          "description": "Type of the cluster node hardware.",
          "readOnly": true
        },
        "ehcResourceId": {
          "type": "string",
          "description": "Edge Hardware Center Resource Id",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "Manufacturer of the cluster node hardware.",
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "Model name of the cluster node hardware.",
          "readOnly": true
        },
        "osName": {
          "type": "string",
          "description": "Operating system running on the cluster node.",
          "readOnly": true
        },
        "osVersion": {
          "type": "string",
          "description": "Version of the operating system running on the cluster node.",
          "readOnly": true
        },
        "osDisplayVersion": {
          "type": "string",
          "description": "Display version of the operating system running on the cluster node.",
          "readOnly": true
        },
        "serialNumber": {
          "type": "string",
          "description": "Immutable id of the cluster node.",
          "readOnly": true
        },
        "coreCount": {
          "type": "number",
          "format": "float",
          "description": "Number of physical cores on the cluster node.",
          "readOnly": true
        },
        "memoryInGiB": {
          "type": "number",
          "format": "float",
          "description": "Total available memory on the cluster node (in GiB).",
          "readOnly": true
        },
        "lastLicensingTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Most recent licensing timestamp.",
          "readOnly": true
        },
        "oemActivation": {
          "$ref": "#/definitions/OemActivation",
          "description": "OEM activation status of the node.",
          "readOnly": true
        }
      }
    },
    "ClusterNodeType": {
      "type": "string",
      "description": "The node type of all the nodes of the cluster.",
      "enum": [
        "FirstParty",
        "ThirdParty"
      ],
      "x-ms-enum": {
        "name": "ClusterNodeType",
        "modelAsString": true,
        "values": [
          {
            "name": "FirstParty",
            "value": "FirstParty",
            "description": "First party cluster node."
          },
          {
            "name": "ThirdParty",
            "value": "ThirdParty",
            "description": "Third party cluster node."
          }
        ]
      }
    },
    "ClusterPatch": {
      "type": "object",
      "description": "Cluster details to update.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "Identity of Cluster resource"
        },
        "properties": {
          "$ref": "#/definitions/ClusterPatchProperties",
          "description": "Cluster properties."
        }
      }
    },
    "ClusterPatchProperties": {
      "type": "object",
      "description": "Cluster properties.",
      "properties": {
        "cloudManagementEndpoint": {
          "type": "string",
          "description": "Endpoint configured for management from the Azure portal"
        },
        "aadClientId": {
          "type": "string",
          "description": "App id of cluster AAD identity."
        },
        "aadTenantId": {
          "type": "string",
          "description": "Tenant id of cluster AAD identity."
        },
        "desiredProperties": {
          "$ref": "#/definitions/ClusterDesiredProperties",
          "description": "Desired properties of the cluster."
        }
      }
    },
    "ClusterPattern": {
      "type": "string",
      "description": "Supported Storage Pattern for HCI Cluster",
      "enum": [
        "Standard",
        "RackAware"
      ],
      "x-ms-enum": {
        "name": "ClusterPattern",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard cluster."
          },
          {
            "name": "RackAware",
            "value": "RackAware",
            "description": "RackAware cluster."
          }
        ]
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Cluster properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "Status of the cluster agent.",
          "readOnly": true
        },
        "connectivityStatus": {
          "$ref": "#/definitions/ConnectivityStatus",
          "description": "Overall connectivity status for the cluster resource.",
          "readOnly": true
        },
        "cloudId": {
          "type": "string",
          "description": "Unique, immutable resource id.",
          "readOnly": true
        },
        "cloudManagementEndpoint": {
          "type": "string",
          "description": "Endpoint configured for management from the Azure portal."
        },
        "aadClientId": {
          "type": "string",
          "description": "App id of cluster AAD identity."
        },
        "aadTenantId": {
          "type": "string",
          "description": "Tenant id of cluster AAD identity."
        },
        "aadApplicationObjectId": {
          "type": "string",
          "description": "Object id of cluster AAD identity."
        },
        "aadServicePrincipalObjectId": {
          "type": "string",
          "description": "Id of cluster identity service principal."
        },
        "softwareAssuranceProperties": {
          "$ref": "#/definitions/SoftwareAssuranceProperties",
          "description": "Software Assurance properties of the cluster."
        },
        "cloudEnvironment": {
          "type": "string",
          "description": "Cloud Environment of the cluster. (e.g. AzurePublic, ALDO )",
          "readOnly": true
        },
        "isManagementCluster": {
          "type": "boolean",
          "description": "Is Management Cluster, when true indicates that the cluster is used for managing other clusters",
          "readOnly": true
        },
        "clusterWitness": {
          "$ref": "#/definitions/ClusterWitnessProperties",
          "description": "Cluster Witness properties of the cluster. A cluster witness is a resource (such as a storage account or file share) that helps maintain quorum and supports automatic failover in high-availability cluster configurations."
        },
        "logCollectionProperties": {
          "$ref": "#/definitions/LogCollectionProperties",
          "description": "Log Collection properties of the cluster."
        },
        "remoteSupportProperties": {
          "$ref": "#/definitions/RemoteSupportProperties",
          "description": "RemoteSupport properties of the cluster."
        },
        "desiredProperties": {
          "$ref": "#/definitions/ClusterDesiredProperties",
          "description": "Desired properties of the cluster."
        },
        "reportedProperties": {
          "$ref": "#/definitions/ClusterReportedProperties",
          "description": "Properties reported by cluster agent.",
          "readOnly": true
        },
        "isolatedVmAttestationConfiguration": {
          "$ref": "#/definitions/IsolatedVmAttestationConfiguration",
          "description": "Attestation configurations for isolated VM (e.g. TVM, CVM) of the cluster.",
          "readOnly": true
        },
        "trialDaysRemaining": {
          "type": "number",
          "format": "float",
          "description": "Number of days remaining in the trial period.",
          "readOnly": true
        },
        "billingModel": {
          "type": "string",
          "description": "Type of billing applied to the resource.",
          "readOnly": true
        },
        "registrationTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "First cluster sync timestamp.",
          "readOnly": true
        },
        "lastSyncTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Most recent cluster sync timestamp.",
          "readOnly": true
        },
        "lastBillingTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Most recent billing meter timestamp.",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Region specific DataPath Endpoint of the cluster.",
          "readOnly": true
        },
        "resourceProviderObjectId": {
          "type": "string",
          "description": "Object id of RP Service Principal",
          "readOnly": true
        },
        "secretsLocations": {
          "type": "array",
          "description": "List of secret locations.",
          "items": {
            "$ref": "#/definitions/SecretsLocationDetails"
          },
          "x-ms-identifiers": []
        },
        "clusterPattern": {
          "$ref": "#/definitions/ClusterPattern",
          "description": "Supported Storage Type for HCI Cluster",
          "readOnly": true
        },
        "localAvailabilityZones": {
          "type": "array",
          "description": "Local Availability Zone information for HCI cluster",
          "items": {
            "$ref": "#/definitions/LocalAvailabilityZones"
          },
          "x-ms-identifiers": [
            "localAvailabilityZoneName"
          ]
        }
      }
    },
    "ClusterReportedProperties": {
      "type": "object",
      "description": "Properties reported by cluster agent.",
      "properties": {
        "clusterName": {
          "type": "string",
          "description": "Name of the on-prem cluster connected to this resource.",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "description": "Unique id generated by the on-prem cluster.",
          "readOnly": true
        },
        "clusterVersion": {
          "type": "string",
          "description": "Version of the cluster software.",
          "readOnly": true
        },
        "nodes": {
          "type": "array",
          "description": "List of nodes reported by the cluster.",
          "items": {
            "$ref": "#/definitions/ClusterNode"
          },
          "readOnly": true
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "Last time the cluster reported the data.",
          "readOnly": true
        },
        "msiExpirationTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "MSI expiration timestamp of the cluster MSI",
          "readOnly": true
        },
        "imdsAttestation": {
          "$ref": "#/definitions/ImdsAttestation",
          "description": "IMDS attestation status of the cluster.",
          "readOnly": true
        },
        "diagnosticLevel": {
          "$ref": "#/definitions/DiagnosticLevel",
          "description": "Level of diagnostic data emitted by the cluster."
        },
        "supportedCapabilities": {
          "type": "array",
          "description": "Capabilities supported by the cluster.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "clusterType": {
          "$ref": "#/definitions/ClusterNodeType",
          "description": "The node type of all the nodes of the cluster.",
          "readOnly": true
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of all the nodes of the cluster.",
          "readOnly": true
        },
        "oemActivation": {
          "$ref": "#/definitions/OemActivation",
          "description": "OEM activation status of the cluster.",
          "readOnly": true
        },
        "hardwareClass": {
          "type": "string",
          "description": "Hardware class of the cluster.",
          "default": "Medium",
          "enum": [
            "Small",
            "Medium",
            "Large"
          ],
          "x-ms-enum": {
            "name": "HardwareClass",
            "modelAsString": true,
            "values": [
              {
                "name": "Small",
                "value": "Small",
                "description": "The hardware class is small."
              },
              {
                "name": "Medium",
                "value": "Medium",
                "description": "The hardware class is medium. This corresponds to the default"
              },
              {
                "name": "Large",
                "value": "Large",
                "description": "The hardware class is large."
              }
            ]
          },
          "readOnly": true
        },
        "customLocationId": {
          "type": "string",
          "description": "Name of the on-prem cluster connected to this resource.",
          "readOnly": true
        }
      }
    },
    "ClusterWitnessProperties": {
      "type": "object",
      "description": "Cluster Witness properties of the cluster. A cluster witness is a resource (such as a storage account or file share) that helps maintain quorum and supports automatic failover in high-availability cluster configurations.",
      "properties": {
        "authenticationMode": {
          "type": "string",
          "description": "The authentication mode for the cluster witness. An example value 'ManagedIdentity'.",
          "readOnly": true
        }
      }
    },
    "ClustersLogCollectionSession": {
      "type": "object",
      "description": "Log Collection Session details of the cluster.",
      "properties": {
        "logStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start Time of the logs when it was collected",
          "readOnly": true
        },
        "logEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "End Time of the logs when it was collected",
          "readOnly": true
        },
        "timeCollected": {
          "type": "string",
          "format": "date-time",
          "description": "Duration of logs collected",
          "readOnly": true
        },
        "logSize": {
          "type": "integer",
          "format": "int64",
          "description": "Size of the logs collected",
          "readOnly": true
        },
        "logCollectionStatus": {
          "$ref": "#/definitions/LogCollectionStatus",
          "description": "LogCollection status",
          "readOnly": true
        },
        "correlationId": {
          "type": "string",
          "description": "CorrelationId of the log collection",
          "readOnly": true
        },
        "logCollectionJobType": {
          "$ref": "#/definitions/LogCollectionJobType",
          "description": "LogCollection job type",
          "readOnly": true
        },
        "endTimeCollected": {
          "type": "string",
          "format": "date-time",
          "description": "End Time of the logs when it was collected",
          "readOnly": true
        },
        "logCollectionError": {
          "$ref": "#/definitions/LogCollectionError",
          "description": "Log Collection Error details of the cluster.",
          "readOnly": true
        }
      }
    },
    "ClustersRemoteSupportNodeSettings": {
      "type": "object",
      "description": "Remote Support Node Settings of the cluster.",
      "properties": {
        "arcResourceId": {
          "type": "string",
          "description": "Arc ResourceId of the Node",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Remote Support Access Connection State on the Node",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Remote Support Enablement Request Created TimeStamp on the Node",
          "readOnly": true
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Remote Support Enablement Request Updated TimeStamp on the Node",
          "readOnly": true
        },
        "connectionStatus": {
          "type": "string",
          "description": "Remote Support Access Connection Status on the Node",
          "readOnly": true
        },
        "connectionErrorMessage": {
          "type": "string",
          "description": "Remote Support Access Connection Error Message on the Node",
          "readOnly": true
        },
        "transcriptLocation": {
          "type": "string",
          "description": "Remote Support Transcript location on the node",
          "readOnly": true
        }
      }
    },
    "ComplianceAssignmentType": {
      "type": "string",
      "description": "Represents the compliance assignment type of a resource.",
      "enum": [
        "Audit",
        "ApplyAndAutoCorrect"
      ],
      "x-ms-enum": {
        "name": "ComplianceAssignmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Audit",
            "value": "Audit",
            "description": "Report on the state of the machine, but don't make changes."
          },
          {
            "name": "ApplyAndAutoCorrect",
            "value": "ApplyAndAutoCorrect",
            "description": "Applied to the machine. If it drifts, the local service inside the machine makes a correction at the next evaluation."
          }
        ]
      }
    },
    "ComplianceStatus": {
      "type": "string",
      "description": "Represents the compliance status of a resource.",
      "enum": [
        "Compliant",
        "NonCompliant",
        "Pending"
      ],
      "x-ms-enum": {
        "name": "ComplianceStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Compliant",
            "value": "Compliant",
            "description": "The resource is compliant"
          },
          {
            "name": "NonCompliant",
            "value": "NonCompliant",
            "description": "The resource is non-compliant"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "The resource compliance status is pending"
          }
        ]
      }
    },
    "ConnectivityStatus": {
      "type": "string",
      "description": "Overall connectivity status for the cluster resource.",
      "enum": [
        "NotYetRegistered",
        "Connected",
        "NotConnectedRecently",
        "PartiallyConnected",
        "Disconnected",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ConnectivityStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotYetRegistered",
            "value": "NotYetRegistered",
            "description": "The cluster is not yet registered."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The cluster is connected."
          },
          {
            "name": "NotConnectedRecently",
            "value": "NotConnectedRecently",
            "description": "The cluster has not connected recently."
          },
          {
            "name": "PartiallyConnected",
            "value": "PartiallyConnected",
            "description": "The cluster is partially connected."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The cluster is disconnected."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The state is not specified."
          }
        ]
      }
    },
    "ContentPayload": {
      "type": "object",
      "description": "Represents details of a specific update content payload.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Represents url of a update payload."
        },
        "hash": {
          "type": "string",
          "description": "Represents hash of a update payload."
        },
        "hashAlgorithm": {
          "type": "string",
          "description": "Represents hash algorithm of a update payload."
        },
        "identifier": {
          "type": "string",
          "description": "Represents identifier of a update payload."
        },
        "packageSizeInBytes": {
          "type": "string",
          "description": "Represents size in bytes of a update payload."
        },
        "group": {
          "type": "string",
          "description": "Represents the group of a update payload."
        },
        "fileName": {
          "type": "string",
          "description": "Represents the file name of a update payload."
        }
      }
    },
    "CreatedByType": {
      "type": "string",
      "description": "The type of identity that created the resource.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "The resource was created by a user."
          },
          {
            "name": "Application",
            "value": "Application",
            "description": "The resource was created by an application."
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "The resource was created by a managed identity."
          },
          {
            "name": "Key",
            "value": "Key",
            "description": "The resource was created by a key."
          }
        ]
      }
    },
    "DeploymentAdapterPropertyOverrides": {
      "type": "object",
      "description": "The network adapter properties to override during deployment of a cluster.",
      "properties": {
        "jumboPacket": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirect": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "networkDirectTechnology": {
          "type": "string",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation. Expected values are 'iWARP', 'RoCEv2', 'RoCE'"
        }
      }
    },
    "DeploymentHostNetwork": {
      "type": "object",
      "description": "The HostNetwork of a cluster.",
      "properties": {
        "intents": {
          "type": "array",
          "description": "The network intents assigned to the network reference pattern used for the deployment. Each intent will define its own name, traffic type, adapter names, and overrides as recommended by your OEM.",
          "items": {
            "$ref": "#/definitions/DeploymentIntents"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageNetworks": {
          "type": "array",
          "description": "List of StorageNetworks config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageNetworks"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "storageConnectivitySwitchless": {
          "type": "boolean",
          "description": "Defines how the storage adapters between nodes are connected either switch or switch less.."
        },
        "enableStorageAutoIp": {
          "type": "boolean",
          "description": "Optional parameter required only for 3 Nodes switchless deployments. This allows users to specify IPs and Mask for Storage NICs when Network ATC is not assigning the IPs for storage automatically."
        }
      }
    },
    "DeploymentIntents": {
      "type": "object",
      "description": "The Intents of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the network intent you wish to create."
        },
        "trafficType": {
          "type": "array",
          "description": "List of network traffic types. Only allowed values are 'Compute', 'Storage', 'Management'.",
          "items": {
            "type": "string"
          }
        },
        "adapter": {
          "type": "array",
          "description": "Array of network interfaces used for the network intent.",
          "items": {
            "type": "string"
          }
        },
        "overrideVirtualSwitchConfiguration": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "virtualSwitchConfigurationOverrides": {
          "$ref": "#/definitions/DeploymentVirtualSwitchConfigurationOverrides",
          "description": "Set virtualSwitch ConfigurationOverrides for cluster."
        },
        "overrideQosPolicy": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "qosPolicyOverrides": {
          "$ref": "#/definitions/QosPolicyOverrides",
          "description": "Set QoS PolicyOverrides for cluster."
        },
        "overrideAdapterProperty": {
          "type": "boolean",
          "description": "This parameter should only be modified based on your OEM guidance. Do not modify this parameter without OEM validation."
        },
        "adapterPropertyOverrides": {
          "$ref": "#/definitions/DeploymentAdapterPropertyOverrides",
          "description": "Set Adapter PropertyOverrides for cluster."
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "Deployment mode to trigger job.",
      "enum": [
        "Validate",
        "Deploy"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Validate",
            "value": "Validate",
            "description": "Validate ECE action deployment for a cluster."
          },
          {
            "name": "Deploy",
            "value": "Deploy",
            "description": "Deploy ECE action deployment for a cluster."
          }
        ]
      }
    },
    "DeploymentStep": {
      "type": "object",
      "description": "The Step of AzureStackHCI Cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of step.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of step.",
          "readOnly": true
        },
        "fullStepIndex": {
          "type": "string",
          "description": "FullStepIndex of step.",
          "readOnly": true
        },
        "startTimeUtc": {
          "type": "string",
          "description": "Start time of step.",
          "readOnly": true
        },
        "endTimeUtc": {
          "type": "string",
          "description": "End time of step.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of step. Allowed values are 'Error', 'Success', 'InProgress'",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of nested steps of AzureStackHCI Cluster Deployment.",
          "items": {
            "$ref": "#/definitions/DeploymentStep"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "exception": {
          "type": "array",
          "description": "List of exceptions in AzureStackHCI Cluster Deployment.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "DeploymentStorageAdapterIPInfo": {
      "type": "object",
      "description": "The storage network adapter info.",
      "properties": {
        "physicalNode": {
          "type": "string",
          "description": "physical node name."
        },
        "ipv4Address": {
          "type": "string",
          "description": "The IPv4 address assigned to network adapter used for storage."
        },
        "subnetMask": {
          "type": "string",
          "description": "The SubnetMask address assigned to network adapter used for storage."
        }
      }
    },
    "DeploymentStorageNetworks": {
      "type": "object",
      "description": "The StorageNetworks of a cluster.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the storage network."
        },
        "networkAdapterName": {
          "type": "string",
          "description": "Name of the storage network adapter."
        },
        "vlanId": {
          "type": "string",
          "description": "ID specified for the VLAN storage network. This setting is applied to the network interfaces that route the storage and VM migration traffic."
        },
        "storageAdapterIPInfo": {
          "type": "array",
          "description": "List of Storage adapter physical nodes config to deploy AzureStackHCI Cluster.",
          "items": {
            "$ref": "#/definitions/DeploymentStorageAdapterIPInfo"
          },
          "x-ms-identifiers": [
            "physicalNode"
          ]
        }
      }
    },
    "DeploymentVirtualSwitchConfigurationOverrides": {
      "type": "object",
      "description": "The VirtualSwitchConfigurationOverrides of a cluster.",
      "properties": {
        "enableIov": {
          "type": "string",
          "description": "Enable IoV for Virtual Switch"
        },
        "loadBalancingAlgorithm": {
          "type": "string",
          "description": "Load Balancing Algorithm for Virtual Switch"
        }
      }
    },
    "DeviceConfiguration": {
      "type": "object",
      "description": "Device configuration.",
      "properties": {
        "network": {
          "$ref": "#/definitions/NetworkConfiguration",
          "description": "Network configuration."
        },
        "hostName": {
          "type": "string",
          "description": "Hostname of the device."
        },
        "webProxy": {
          "$ref": "#/definitions/WebProxyConfiguration",
          "description": "Web proxy configuration."
        },
        "time": {
          "$ref": "#/definitions/TimeConfiguration",
          "description": "Time configuration."
        }
      }
    },
    "DeviceKind": {
      "type": "string",
      "description": "Edge device kind.",
      "enum": [
        "HCI"
      ],
      "x-ms-enum": {
        "name": "DeviceKind",
        "modelAsString": true,
        "values": [
          {
            "name": "HCI",
            "value": "HCI",
            "description": "Arc-enabled edge device with HCI OS."
          }
        ]
      }
    },
    "DeviceLogCollectionStatus": {
      "type": "string",
      "description": "Represents the status of a log collection operation.",
      "enum": [
        "NotStarted",
        "Running",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeviceLogCollectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "NotStarted",
            "value": "NotStarted",
            "description": "Log collection operation has not been initiated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Indicates that the log collection operation is currently running."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Indicates that the log collection operation has failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Indicates that the log collection operation has completed successfully."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Indicates that the log collection operation has completed successfully."
          }
        ]
      },
      "readOnly": true
    },
    "DeviceState": {
      "type": "string",
      "description": "The edge device state.",
      "enum": [
        "NotSpecified",
        "Connected",
        "Disconnected",
        "Repairing",
        "Draining",
        "InMaintenance",
        "Resuming",
        "Processing"
      ],
      "x-ms-enum": {
        "name": "DeviceState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The edge device state is not specified."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The edge device state is in connected state."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The edge device state is in disconnected state."
          },
          {
            "name": "Repairing",
            "value": "Repairing",
            "description": "The edge device state is in repairing state."
          },
          {
            "name": "Draining",
            "value": "Draining",
            "description": "The edge device state is in draining state."
          },
          {
            "name": "InMaintenance",
            "value": "InMaintenance",
            "description": "The edge device state is in maintenance state."
          },
          {
            "name": "Resuming",
            "value": "Resuming",
            "description": "The edge device state is in resuming state."
          },
          {
            "name": "Processing",
            "value": "Processing",
            "description": "The edge device state is in processing state."
          }
        ]
      }
    },
    "DiagnosticLevel": {
      "type": "string",
      "description": "Desired level of diagnostic data emitted by the cluster.",
      "enum": [
        "Off",
        "Basic",
        "Enhanced"
      ],
      "x-ms-enum": {
        "name": "DiagnosticLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "Off",
            "value": "Off",
            "description": "Diagnostic data is turned off."
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic level of diagnostic data."
          },
          {
            "name": "Enhanced",
            "value": "Enhanced",
            "description": "Enhanced level of diagnostic data."
          }
        ]
      }
    },
    "EceActionStatus": {
      "type": "object",
      "description": "Validation / deployment status details for Job.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Job status.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "List of steps of Edge device job.",
          "items": {
            "$ref": "#/definitions/Step"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "EceReportedProperties": {
      "type": "object",
      "description": "The DeploymentStatus of AzureStackHCI Cluster.",
      "properties": {
        "validationStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "validation status of AzureStackHCI Cluster Deployment.",
          "readOnly": true
        },
        "deploymentStatus": {
          "$ref": "#/definitions/EceActionStatus",
          "description": "Deployment status of AzureStackHCI Cluster Deployment.",
          "readOnly": true
        }
      }
    },
    "EceSecrets": {
      "type": "string",
      "description": "Secret names allowed for Enterprise Cloud Engine (ECE) deployment.",
      "enum": [
        "AzureStackLCMUserCredential",
        "DefaultARBApplication",
        "LocalAdminCredential",
        "WitnessStorageKey"
      ],
      "x-ms-enum": {
        "name": "EceSecrets",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureStackLCMUserCredential",
            "value": "AzureStackLCMUserCredential",
            "description": "AzureStackLCMUserCredential used for LCM operations for AzureStackHCI cluster."
          },
          {
            "name": "DefaultARBApplication",
            "value": "DefaultARBApplication",
            "description": "DefaultARBApplication used to manage Azure Arc resource bridge (ARB) for AzureStackHCI cluster."
          },
          {
            "name": "LocalAdminCredential",
            "value": "LocalAdminCredential",
            "description": "LocalAdminCredential used for admin operations for AzureStackHCI cluster."
          },
          {
            "name": "WitnessStorageKey",
            "value": "WitnessStorageKey",
            "description": "WitnessStorageKey used for setting up a cloud witness for AzureStackHCI cluster."
          }
        ]
      }
    },
    "EdgeDeviceJobType": {
      "type": "string",
      "description": "Common Job Types supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport"
      ],
      "x-ms-enum": {
        "name": "EdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          }
        ]
      }
    },
    "EdgeDeviceKind": {
      "type": "string",
      "description": "Edge device type based on host OS installed.",
      "enum": [
        "HCI",
        "WindowsServer",
        "WindowsIoT",
        "AzureLinux",
        "UbuntuLinux",
        "AzureLinuxRoe"
      ],
      "x-ms-enum": {
        "name": "EdgeDeviceKind",
        "modelAsString": true,
        "values": [
          {
            "name": "HCI",
            "value": "HCI",
            "description": "Arc-enabled edge device with HCI OS."
          },
          {
            "name": "WindowsServer",
            "value": "WindowsServer",
            "description": "Arc-enabled edge device with WindowsServer OS."
          },
          {
            "name": "WindowsIoT",
            "value": "WindowsIoT",
            "description": "Arc-enabled edge device with WindowsIoT OS."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Arc-enabled edge device with AzureLinux OS."
          },
          {
            "name": "UbuntuLinux",
            "value": "UbuntuLinux",
            "description": "Arc-enabled edge device with UbuntuLinux OS."
          },
          {
            "name": "AzureLinuxRoe",
            "value": "AzureLinuxRoe",
            "description": "Arc-enabled edge device with Azure Linux restricted operating environment."
          }
        ]
      }
    },
    "EdgeSolutionType": {
      "type": "string",
      "description": "Edge solution type.",
      "enum": [
        "WindowsServer",
        "AzureLinux"
      ],
      "x-ms-enum": {
        "name": "EdgeSolutionType",
        "modelAsString": true,
        "values": [
          {
            "name": "WindowsServer",
            "value": "WindowsServer",
            "description": "Edge solution for Windows based edge devices."
          },
          {
            "name": "AzureLinux",
            "value": "AzureLinux",
            "description": "Edge solution for Azure linux edge devices."
          }
        ]
      }
    },
    "ExtensionAggregateState": {
      "type": "string",
      "description": "Aggregate state of Arc Extensions across the nodes in this HCI cluster.",
      "enum": [
        "NotSpecified",
        "Error",
        "Succeeded",
        "Canceled",
        "Failed",
        "Connected",
        "Disconnected",
        "Deleted",
        "Creating",
        "Updating",
        "Deleting",
        "Moving",
        "PartiallySucceeded",
        "PartiallyConnected",
        "InProgress",
        "Accepted",
        "Provisioning",
        "UpgradeFailedRollbackSucceeded"
      ],
      "x-ms-enum": {
        "name": "ExtensionAggregateState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The state is not specified."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "An error occurred."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The operation succeeded."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation was canceled."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The operation failed."
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "The extension is connected."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "The extension is disconnected."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The extension is deleted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The extension is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The extension is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The extension is being deleted."
          },
          {
            "name": "Moving",
            "value": "Moving",
            "description": "The extension is being moved."
          },
          {
            "name": "PartiallySucceeded",
            "value": "PartiallySucceeded",
            "description": "The operation partially succeeded."
          },
          {
            "name": "PartiallyConnected",
            "value": "PartiallyConnected",
            "description": "The extension is partially connected."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The operation is in progress."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The operation has been accepted."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The extension is provisioning."
          },
          {
            "name": "UpgradeFailedRollbackSucceeded",
            "value": "UpgradeFailedRollbackSucceeded",
            "description": "Upgrade failed but rollback succeeded."
          }
        ]
      },
      "readOnly": true
    },
    "ExtensionManagedBy": {
      "type": "string",
      "description": "Extension managed by user or Azure.",
      "enum": [
        "User",
        "Azure"
      ],
      "x-ms-enum": {
        "name": "ExtensionManagedBy",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "Extension is managed by user."
          },
          {
            "name": "Azure",
            "value": "Azure",
            "description": "Extension is managed by Azure."
          }
        ]
      }
    },
    "HardwareClass": {
      "type": "string",
      "description": "Hardware class of the cluster.",
      "enum": [
        "Small",
        "Medium",
        "Large"
      ],
      "x-ms-enum": {
        "name": "HardwareClass",
        "modelAsString": true,
        "values": [
          {
            "name": "Small",
            "value": "Small",
            "description": "The hardware class is small."
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "The hardware class is medium. This corresponds to the default"
          },
          {
            "name": "Large",
            "value": "Large",
            "description": "The hardware class is large."
          }
        ]
      }
    },
    "HciEdgeDeviceJobType": {
      "type": "string",
      "description": "Job Type supported.",
      "enum": [
        "CollectLog",
        "RemoteSupport"
      ],
      "x-ms-enum": {
        "name": "HciEdgeDeviceJobType",
        "modelAsString": true,
        "values": [
          {
            "name": "CollectLog",
            "value": "CollectLog",
            "description": "Job to collect logs from the device."
          },
          {
            "name": "RemoteSupport",
            "value": "RemoteSupport",
            "description": "Job to provide remote support to the device."
          }
        ]
      }
    },
    "HealthState": {
      "type": "string",
      "description": "The overall health state.",
      "enum": [
        "Unknown",
        "Success",
        "Failure",
        "Warning",
        "Error",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The health state is unknown."
          },
          {
            "name": "Success",
            "value": "Success",
            "description": "The health check was successful."
          },
          {
            "name": "Failure",
            "value": "Failure",
            "description": "The health check failed."
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "The health check returned a warning."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "The health check returned an error."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The health check is in progress."
          }
        ]
      }
    },
    "IdentityProvider": {
      "type": "string",
      "description": "Identity Provider for the cluster",
      "enum": [
        "ActiveDirectory",
        "LocalIdentity"
      ],
      "x-ms-enum": {
        "name": "IdentityProvider",
        "modelAsString": true,
        "values": [
          {
            "name": "ActiveDirectory",
            "value": "ActiveDirectory",
            "description": "Active Directory as the Identity Provider. This is the default option."
          },
          {
            "name": "LocalIdentity",
            "value": "LocalIdentity",
            "description": "Use local identity with Azure Keyvault"
          }
        ]
      }
    },
    "ImdsAttestation": {
      "type": "string",
      "description": "IMDS attestation status of the cluster.",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ImdsAttestation",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "IMDS attestation is disabled."
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "IMDS attestation is enabled."
          }
        ]
      }
    },
    "IpAddressRange": {
      "type": "object",
      "description": "IP address range configuration.",
      "properties": {
        "startIp": {
          "type": "string",
          "description": "Start IP address."
        },
        "endIp": {
          "type": "string",
          "description": "End IP address."
        }
      },
      "required": [
        "startIp",
        "endIp"
      ]
    },
    "IpAssignmentType": {
      "type": "string",
      "description": "IP assignment types",
      "enum": [
        "Automatic",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "IpAssignmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Automatic",
            "value": "Automatic",
            "description": "Automatic IP assignment"
          },
          {
            "name": "Manual",
            "value": "Manual",
            "description": "Manual IP assignment"
          }
        ]
      }
    },
    "IsolatedVmAttestationConfiguration": {
      "type": "object",
      "description": "Attestation configurations for isolated VM (e.g. TVM, CVM) of the cluster.",
      "properties": {
        "attestationResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified Azure resource id of the Microsoft Azure attestation resource associated with this cluster.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Attestation/attestationProviders"
              }
            ]
          }
        },
        "relyingPartyServiceEndpoint": {
          "type": "string",
          "description": "Region specific endpoint for relying party service.",
          "readOnly": true
        },
        "attestationServiceEndpoint": {
          "type": "string",
[...]
