{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "version": "2016-07-07"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/managedeployments": {
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_ManageDeployments",
        "description": "Begin to manage (CUD) deployments of an Api Management service.To determine whether the operation has finished processing the request, call GetLongRunningOperationStatus.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceManageDeploymentsParameters"
            },
            "description": "Parameters supplied to the ManageDeployments operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "400": {
            "description": "Bad Request."
          },
          "409": {
            "description": "Conflict."
          },
          "404": {
            "description": "Service Not Found."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore": {
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_Restore",
        "description": "Begin restore from backup operation of an Api Management service.To determine whether the operation has finished processing the request, call GetLongRunningOperationStatus.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceBackupRestoreParameters"
            },
            "description": "Parameters supplied to the Restore Api Management service from backup operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "400": {
            "description": "Bad Request."
          },
          "409": {
            "description": "Conflict."
          },
          "404": {
            "description": "Service Not Found."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup": {
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_Backup",
        "description": "Begin backup operation of an Api Management service.To determine whether the operation has finished processing the request, call GetLongRunningOperationStatus.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceBackupRestoreParameters"
            },
            "description": "Parameters supplied to the BeginBackup operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Request Accepted.Asynchronous operation in progress."
          },
          "400": {
            "description": "Bad Request."
          },
          "409": {
            "description": "Conflict."
          },
          "404": {
            "description": "Service Not Found."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{operationStatusLink}": {
      "get": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_GetLongRunningOperationStatus",
        "description": "The Get Operation Status operation returns the status of the specified operation. After calling an asynchronous operation, you can call Get Operation Status to determine whether the operation has succeeded, failed, or is still in progress.",
        "parameters": [
          {
            "name": "operationStatusLink",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Location value returned by the Begin operation.",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ApiServiceResource"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "400": {
            "description": "Bad Request."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}": {
      "patch": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_BeginCreatingOrUpdating",
        "description": "Begins creating new or updating existing Api Management service.To determine whether the operation has finished processing the request, call GetApiServiceLongRunningOperationStatus.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to the CreateOrUpdate Api Management service operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiServiceResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ApiServiceResource"
            }
          },
          "400": {
            "description": "Bad Request."
          }
        }
      },
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_Update",
        "description": "Begins updating existing Api Management service.To determine whether the operation has finished processing the request, call GetApiServiceLongRunningOperationStatus.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to the CreateOrUpdate Api Management service operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiServiceResource"
            }
          },
          "202": {
            "description": "Accepted. Asynchronous Operation in progress."
          },
          "400": {
            "description": "Bad Request."
          },
          "409": {
            "description": "Conflict. Service is Transitioning."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_Get",
        "description": "Get an Api Management service resource description.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiServiceResource"
            }
          },
          "404": {
            "description": "ApiManagement Service not found."
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_Delete",
        "description": "Deletes existing Api Management service",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "200": {
            "description": "OK."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/": {
      "get": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_ListByResourceGroup",
        "description": "List all Api Management services within a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group. If resourceGroupName value is null the method lists all Api Management services within subscription"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiServiceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken": {
      "get": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_GetSsoToken",
        "description": "Gets SsoToken for an Api Management service.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/ApiServiceGetSsoTokenResult"
            }
          },
          "404": {
            "description": "Service not found."
          },
          "403": {
            "description": "Service is suspended."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability": {
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_CheckNameAvailability",
        "description": "Checks availability and correctness of a name for an Api Management service.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceCheckNameAvailabilityParameters"
            },
            "description": "Parameters supplied to the CheckNameAvailability operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiServiceNameAvailabilityResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/updatecertificate": {
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_UploadCertificate",
        "description": "Upload Custom Domain SSL certificate for an Api Management service.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceUploadCertificateParameters"
            },
            "description": "Parameters supplied to the Upload SSL certificate for an Api Management service operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CertificateInformation"
            }
          },
          "400": {
            "description": "Bad Request."
          }          
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/updatehostname": {
      "post": {
        "tags": [
          "ResourceProvider"
        ],
        "operationId": "ResourceProvider_UpdateHostname",
        "description": "Begin updating hostname of an Api Management service.To determine whether the operation has finished processing the request, call GetLongRunningOperationStatus.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiServiceUpdateHostnameParameters"
            },
            "description": "Parameters supplied to the UpdateHostname operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Asynchronous Operation in progress."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis": {
      "get": {
        "tags": [
          "Apis"
        ],
        "operationId": "Apis_ListByResourceGroup",
        "description": "List all APIs of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiPaged"
            }
          },
          "404": {
            "description": "Service not found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ApiContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{aid}": {
      "get": {
        "tags": [
          "Apis"
        ],
        "operationId": "Apis_Get",
        "description": "Gets specific API of the Api Management service instance.",
        "produces": [
          "application/json",
          "application/vnd.sun.wadl+xml",
          "application/vnd.swagger.doc+json",
          "application/wsdl+xml"
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API.",
            "maxLength": 256
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiContract"
            }
          },
          "404": {
            "description": "Not Found."
          }
        }
      },
      "put": {
        "tags": [
          "Apis"
        ],
        "operationId": "Apis_CreateOrUpdate",
        "description": "Creates new or updates existing specific API of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API.",
            "maxLength": 256
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiCreateOrUpdateParameters"
            },
            "description": "Create or update parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "ETag."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content in case of Update."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      },
      "patch": {
        "tags": [
          "Apis"
        ],
        "operationId": "Apis_Patch",
        "description": "Patches specific API of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchParameters"
            },
            "description": "Patch parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Update Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Apis"
        ],
        "operationId": "Apis_Delete",
        "description": "Deletes specific API of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Delete Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{aid}/operations": {
      "get": {
        "tags": [
          "ApiOperations"
        ],
        "operationId": "ApiOperations_ListByResourceGroup",
        "description": "List all API operations.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/OperationContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{aid}/operations/{oid}": {
      "get": {
        "tags": [
          "ApiOperations"
        ],
        "operationId": "ApiOperations_Get",
        "description": "Gets specific API operation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the operation within the API."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationContract"
            }
          },
          "404": {
            "description": "Not Found."
          }
        }
      },
      "put": {
        "tags": [
          "ApiOperations"
        ],
        "operationId": "ApiOperations_Create",
        "description": "Creates new API operation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the Operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationCreateOrUpdateParameters"
            },
            "description": "Create parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content in case of Update."
          },
          "400": {
            "description": "Service not found."
          },
          "404": {
            "description": "Bad Request."
          }

        }
      },
      "patch": {
        "tags": [
          "ApiOperations"
        ],
        "operationId": "ApiOperations_Update",
        "description": "Updates existing API operation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the Operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationCreateOrUpdateParameters"
            },
            "description": "Update parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Update Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      },
      "delete": {
        "tags": [
          "ApiOperations"
        ],
        "operationId": "ApiOperations_Delete",
        "description": "Deletes specific API Operation of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the Operation."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Delete Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{aid}/products": {
      "get": {
        "tags": [
          "ApiProducts"
        ],
        "operationId": "ApiProducts_ListByResourceGroup",
        "description": "List all API associated products.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ProductContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListByResourceGroup",
        "description": "List all subscriptions of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SubscriptionPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/SubscriptionContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "description": "Gets specific API of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SubscriptionContract"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Create",
        "description": "Creates new product subscription.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription.",
            "maxLength": 256
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionCreateParameters"
            },
            "description": "Create parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Update",
        "description": "Updates specific product subscription.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionUpdateParameters"
            },
            "description": "Update parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Update Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Delete",
        "description": "Deletes specific subscription of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Delete Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/regeneratePrimaryKey": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_RegeneratePrimaryKey",
        "description": "Regenerates primary key of existing subscription of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/subscriptions/{sid}/regenerateSecondaryKey": {
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_RegenerateSecondaryKey",
        "description": "Regenerates secindary key of existing subscription of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_ListByResourceGroup",
        "description": "List all products.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ProductContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Get",
        "description": "Get specific product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductContract"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Create",
        "description": "Create new product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product.",
            "maxLength": 256
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductCreateParameters"
            },
            "description": "Create or update parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Update",
        "description": "Update product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductUpdateParameters"
            },
            "description": "Update parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Update Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Delete",
        "description": "Delete product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "deleteSubscriptions",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Delete existing subscriptions to the product ot not."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Delete Successfull."
          },
          "404": {
            "description": "Service not found."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}/apis": {
      "get": {
        "tags": [
          "ProductApis"
        ],
        "operationId": "ProductApis_ListByResourceGroup",
        "description": "List all Product APIs.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ApiPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ApiContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}/apis/{aid}": {
      "put": {
        "tags": [
          "ProductApis"
        ],
        "operationId": "ProductApis_Add",
        "description": "Adds existing API to the Product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product.",
            "maxLength": 256
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API.",
            "maxLength": 256
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ProductApis"
        ],
        "operationId": "ProductApis_Remove",
        "description": "Removes specific API from the Product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}/groups": {
      "get": {
        "tags": [
          "ProductGroups"
        ],
        "operationId": "ProductGroups_ListByResourceGroup",
        "description": "List all Product Groups.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/GroupContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}/groups/{gid}": {
      "put": {
        "tags": [
          "ProductGroups"
        ],
        "operationId": "ProductGroups_Add",
        "description": "Assigns group to product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product.",
            "maxLength": 256
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the Group.",
            "maxLength": 256
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ProductGroups"
        ],
        "operationId": "ProductGroups_Remove",
        "description": "Removes group assignement from product.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the Group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_List",
        "description": "List all groups.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/GroupContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{gid}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_Get",
        "description": "Gets specific group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupContract"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_Create",
        "description": "Creates new group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group.",
            "maxLength": 256
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupCreateParameters"
            },
            "description": "Create parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "patch": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_Update",
        "description": "Patches specific group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupUpdateParameters"
            },
            "description": "Update parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content in case of Update Successfull."
          },
          "400": {
            "description": "Bad Request."
          },
          "404": {
            "description": "Service not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "operationId": "Groups_Delete",
        "description": "Deletes specific group of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{gid}/users": {
      "get": {
        "tags": [
          "GroupUsers"
        ],
        "operationId": "GroupUsers_ListByResourceGroup",
        "description": "List all group users.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserPaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/UserContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{gid}/users/{uid}": {
      "put": {
        "tags": [
          "GroupUsers"
        ],
        "operationId": "GroupUsers_Add",
        "description": "Include existing user to existing group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group.",
            "maxLength": 256
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the user.",
            "maxLength": 256
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "GroupUsers"
        ],
        "operationId": "GroupUsers_Remove",
        "description": "Remove existing user from existing group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "gid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the group."
          },
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the user."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tenant/policy": {
      "get": {
        "tags": [
          "TenantPolicy"
        ],
        "operationId": "TenantPolicy_Get",
        "description": "Gets tenant-level policy.",
        "produces": [
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        }
      },
      "put": {
        "tags": [
          "TenantPolicy"
        ],
        "operationId": "TenantPolicy_Set",
        "description": "Sets tenant-level policy.",
        "consumes": [          
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"        
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "policyStream",
            "in": "body",
            "required": true,
            "description": "Policy stream.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "etag",
            "in": "header",
            "required": false,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "TenantPolicy"
        ],
        "operationId": "TenantPolicy_Delete",
        "description": "Deletes tenant-level policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}/policy": {
      "get": {
        "tags": [
          "ProductPolicy"
        ],
        "operationId": "ProductPolicy_Get",
        "description": "Gets specific product policy.",
        "produces": [
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProductPolicy"
        ],
        "operationId": "ProductPolicy_Set",
        "description": "Sets policy for product.",
        "consumes": [          
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"        
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product.",
            "maxLength": 256
          },
          {
            "name": "policyStream",
            "in": "body",
            "required": true,
            "description": "Policy stream.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "etag",
            "in": "header",
            "required": false,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ProductPolicy"
        ],
        "operationId": "ProductPolicy_Delete",
        "description": "Deletes specific product policy of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "pid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the product."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{aid}/policy": {
      "get": {
        "tags": [
          "ApiPolicy"
        ],
        "operationId": "ApiPolicy_Get",
        "description": "Gets specific API policy.",
        "produces": [
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"     
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApiPolicy"
        ],
        "operationId": "ApiPolicy_Set",
        "description": "Sets policy for API.",
        "consumes": [
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API.",
            "maxLength": 256
          },
          {
            "name": "policyStream",
            "in": "body",
            "required": true,
            "description": "Policy stream.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "etag",
            "in": "header",
            "required": false,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ApiPolicy"
        ],
        "operationId": "ApiPolicy_Delete",
        "description": "Deletes specific API policy of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{aid}/operations/{oid}/policy": {
      "get": {
        "tags": [
          "ApiOperationPolicy"
        ],
        "operationId": "ApiOperationPolicy_Get",
        "description": "Gets specific API operation policy.",
        "produces": [
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApiOperationPolicy"
        ],
        "operationId": "ApiOperationPolicy_Set",
        "description": "Sets policy for API operation.",
        "consumes": [
          "application/vnd.ms-azure-apim.policy+xml",
          "application/vnd.ms-azure-apim.policy.raw+xml"
        ],
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API.",
            "maxLength": 256
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API operation.",
            "maxLength": 256
          },
          {
            "name": "policyStream",
            "in": "body",
            "required": true,
            "description": "Policy stream.",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          {
            "name": "etag",
            "in": "header",
            "required": false,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ApiOperationPolicy"
        ],
        "operationId": "ApiOperationPolicy_Delete",
        "description": "Deletes specific API operation policy of the Api Management service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "aid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API."
          },
          {
            "name": "oid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the API operation."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificates_ListByResourceGroup",
        "description": "This operation returns a collection of all certificates in the specified service instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to return."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of records to skip."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CertificatePaged"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/CertificateContract"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}": {
      "get": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificates_Get",
        "description": "Gets specific certificate.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "certificateId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the certificate."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CertificateContract"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificates_CreateOrUpdate",
        "description": "Creates new or update existing certificate.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "certificateId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the subscription.",
            "maxLength": 256
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateCreateOrUpdateParameters"
            },
            "description": "Create parameters."
          },
          {
            "name": "etag",
            "in": "header",
            "required": false,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificates_Delete",
        "description": "Deletes specific certificate.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "certificateId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Identifier of the certificate."
          },
          {
            "name": "etag",
            "in": "header",
            "required": true,
            "description": "ETag.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets": {
      "get": {
        "tags": [
          "PolicySnippents"
        ],
        "operationId": "PolicySnippents_ListByResourceGroup",
        "description": "List all policy snippets.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Polisy scope.",
            "enum": [
              "Tenant",
              "Product",
              "Api",
              "Operation",
              "All"
            ],
            "x-ms-enum": {
              "name": "PolicyScopeContract",
              "modelAsString": false
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicySnippetContract"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{pid}/subscriptions": {
      "get": {
[...]
