{
  "swagger": "2.0",
  "info": {
    "title": "WebApplicationFirewallManagement",
    "version": "2025-03-01",
    "description": "APIs to manage web application firewall rules.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureWebCategories"
    },
    {
      "name": "FirewallPolicies"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroups"
    },
    {
      "name": "FirewallPolicyIdpsSignaturesOverrides"
    },
    {
      "name": "FirewallPolicyDrafts"
    },
    {
      "name": "FirewallPolicyRuleCollectionGroupDrafts"
    },
    {
      "name": "VirtualNetworkAppliances"
    },
    {
      "name": "ServiceGateways"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories": {
      "get": {
        "operationId": "WebCategories_ListBySubscription",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets all the Azure Web Categories in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Azure Web Categories for a given subscription": {
            "$ref": "./examples/AzureWebCategoriesListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/azureWebCategories/{name}": {
      "get": {
        "operationId": "WebCategories_Get",
        "tags": [
          "AzureWebCategories"
        ],
        "description": "Gets the specified Azure Web Category.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the azureWebCategory.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands resourceIds back referenced by the azureWebCategory resource.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureWebCategory"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Web Category by name": {
            "$ref": "./examples/AzureWebCategoryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_ListAll",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets all the Firewall Policies in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given subscription": {
            "$ref": "./examples/FirewallPolicyListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/serviceGateways": {
      "get": {
        "operationId": "ServiceGateways_ListAll",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Gets all the service gateways in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "operationId": "VirtualNetworkAppliances_ListAll",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets all virtual network appliances in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies": {
      "get": {
        "operationId": "FirewallPolicies_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Lists all Firewall Policies in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all Firewall Policies for a given resource group": {
            "$ref": "./examples/FirewallPolicyListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}": {
      "get": {
        "operationId": "FirewallPolicies_Get",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Gets the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicies_CreateOrUpdate",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Creates or updates the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicy"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FirewallPolicies_UpdateTags",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Updates tags of a Azure Firewall Policy resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update Azure Firewall Policy tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update FirewallPolicy Tags": {
            "$ref": "./examples/FirewallPolicyPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicies_Delete",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deletes the specified Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Firewall Policy": {
            "$ref": "./examples/FirewallPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/deploy": {
      "post": {
        "operationId": "FirewallPolicyDeployments_Deploy",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Deploys the firewall policy draft and child rule collection group drafts.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "deploy firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDeploy.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/firewallPolicyDrafts/default": {
      "get": {
        "operationId": "FirewallPolicyDrafts_Get",
        "tags": [
          "FirewallPolicyDrafts"
        ],
        "description": "Get a draft Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyDrafts_CreateOrUpdate",
        "tags": [
          "FirewallPolicyDrafts"
        ],
        "description": "Create or update a draft Firewall Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update Firewall Policy Draft operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyDraft' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyDraft' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftPut.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicyDrafts_Delete",
        "tags": [
          "FirewallPolicyDrafts"
        ],
        "description": "Delete a draft policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete firewall policy draft": {
            "$ref": "./examples/FirewallPolicyDraftDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsFilterOptions": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignaturesFilterValues_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Retrieves the current filter values for the signatures overrides",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignatureOverridesFilterValuesQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignatureOverridesFilterValuesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverridesFilterValues.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/listIdpsSignatures": {
      "post": {
        "operationId": "FirewallPolicyIdpsSignatures_List",
        "tags": [
          "FirewallPolicies"
        ],
        "description": "Retrieves the current status of IDPS signatures for the relevant policy. Maximal amount of returned signatures is 1000.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IDPSQueryObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "query signature overrides": {
            "$ref": "./examples/FirewallPolicyQuerySignatureOverrides.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroups_List",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Lists all FirewallPolicyRuleCollectionGroups in a FirewallPolicy resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all FirewallPolicyRuleCollectionGroup With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesList.json"
          },
          "List all FirewallPolicyRuleCollectionGroups for a given FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupList.json"
          },
          "List all FirewallPolicyRuleCollectionGroups with IpGroups for a given FirewallPolicy": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups/{ruleCollectionGroupName}": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroups_Get",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Gets the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get FirewallPolicyNatRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyNatRuleCollectionGroupGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup With IpGroups": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsGet.json"
          },
          "Get FirewallPolicyRuleCollectionGroup With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyRuleCollectionGroups_CreateOrUpdate",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Creates or updates the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update FirewallPolicyRuleCollectionGroup operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create Firewall Policy Nat Rule Collection Group": {
            "$ref": "./examples/FirewallPolicyNatRuleCollectionGroupPut.json"
          },
          "Create Firewall Policy Rule Collection Group": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupPut.json"
          },
          "Create Firewall Policy Rule Collection Group With IP Groups": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithIpGroupsPut.json"
          },
          "Create Firewall Policy Rule Collection Group With Web Categories": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithWebCategoriesPut.json"
          },
          "Create Firewall Policy Rule Collection Group With http header to insert": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupWithHttpHeadersToInsert.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallPolicyRuleCollectionGroup"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FirewallPolicyRuleCollectionGroups_Delete",
        "tags": [
          "FirewallPolicyRuleCollectionGroups"
        ],
        "description": "Deletes the specified FirewallPolicyRuleCollectionGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete FirewallPolicyRuleCollectionGroup": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/ruleCollectionGroups/{ruleCollectionGroupName}/ruleCollectionGroupDrafts/default": {
      "get": {
        "operationId": "FirewallPolicyRuleCollectionGroupDrafts_Get",
        "tags": [
          "FirewallPolicyRuleCollectionGroupDrafts"
        ],
        "description": "Get Rule Collection Group Draft.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get rule collection group draft": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDraftGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyRuleCollectionGroupDrafts_CreateOrUpdate",
        "tags": [
          "FirewallPolicyRuleCollectionGroupDrafts"
        ],
        "description": "Create or Update Rule Collection Group Draft.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update FirewallPolicyRuleCollectionGroup operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroupDraft' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          },
          "201": {
            "description": "Resource 'FirewallPolicyRuleCollectionGroupDraft' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallPolicyRuleCollectionGroupDraft"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update rule collection group draft": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDraftPut.json"
          }
        }
      },
      "delete": {
        "operationId": "FirewallPolicyRuleCollectionGroupDrafts_Delete",
        "tags": [
          "FirewallPolicyRuleCollectionGroupDrafts"
        ],
        "description": "Delete Rule Collection Group Draft.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ruleCollectionGroupName",
            "in": "path",
            "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "delete firewall rule collection group draft": {
            "$ref": "./examples/FirewallPolicyRuleCollectionGroupDraftDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/signatureOverrides": {
      "get": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_List",
        "tags": [
          "FirewallPolicyIdpsSignaturesOverrides"
        ],
        "description": "Returns all signatures overrides objects for a specific policy as a list containing a single value.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignaturesOverridesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/signatureOverrides/default": {
      "get": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_Get",
        "tags": [
          "FirewallPolicyIdpsSignaturesOverrides"
        ],
        "description": "Returns all signatures overrides for a specific policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesGet.json"
          }
        }
      },
      "put": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_Put",
        "tags": [
          "FirewallPolicyIdpsSignaturesOverrides"
        ],
        "description": "Will override/create a new signature overrides for the policy's IDPS",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Will contain all properties of the object to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SignaturesOverrides' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "put signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesPut.json"
          }
        }
      },
      "patch": {
        "operationId": "FirewallPolicyIdpsSignaturesOverrides_Patch",
        "tags": [
          "FirewallPolicyIdpsSignaturesOverrides"
        ],
        "description": "Will update the status of policy's signature overrides for IDPS",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallPolicyName",
            "in": "path",
            "description": "The name of the Firewall Policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Will contain all properties of the object to put",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SignaturesOverrides"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "patch signature overrides": {
            "$ref": "./examples/FirewallPolicySignatureOverridesPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways": {
      "get": {
        "operationId": "ServiceGateways_List",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Gets all the service gateways in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}": {
      "get": {
        "operationId": "ServiceGateways_Get",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Gets the specified service gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "ServiceGateways_CreateOrUpdate",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Creates or updates a service gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update service gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceGateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServiceGateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceGateway"
            }
          },
          "201": {
            "description": "Resource 'ServiceGateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceGateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ServiceGateway"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ServiceGateways_UpdateTags",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Updates a service gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update service gateway tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "ServiceGateways_Delete",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Deletes the specified service gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/addressLocations": {
      "get": {
        "operationId": "ServiceGateways_GetAddressLocations",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Get address locations in service gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetServiceGatewayAddressLocationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/services": {
      "get": {
        "operationId": "ServiceGateways_GetServices",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Get Services in service gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetServiceGatewayServicesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/updateAddressLocations": {
      "post": {
        "operationId": "ServiceGateways_UpdateAddressLocations",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Creates or updates address locations within the service gateway.\n\nThe request supports both full and partial update modes at two levels: location and address.\n\nFull update replaces all existing data.\n\nPartial update modifies only the specified entries:\n\nFor location-level partial updates, if no address is provided, the existing address will be deleted.\n\nFor address-level partial updates, if no services are provided, the existing services will be considered for deletion.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Parameters supplied to the create or updates address locations in service gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceGatewayUpdateAddressLocationsRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TypeSpec.Http.NoContentResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceGateways/{serviceGatewayName}/updateServices": {
      "post": {
        "operationId": "ServiceGateways_UpdateServices",
        "tags": [
          "ServiceGateways"
        ],
        "description": "Creates, updates, or deletes services within the service gateway.\nThe request supports both full and partial update modes at the service level.\n\nFull update replaces all existing services with the new list provided in the request.\nPartial update modifies only the specified services.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serviceGatewayName",
            "in": "path",
            "description": "The name of the service gateway.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Parameters supplied to the create or updates services in service gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceGatewayUpdateServicesRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TypeSpec.Http.NoContentResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "operationId": "VirtualNetworkAppliances_List",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets all virtual network appliances in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances/{virtualNetworkApplianceName}": {
      "get": {
        "operationId": "VirtualNetworkAppliances_Get",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Gets information about the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworkAppliances_CreateOrUpdate",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Creates or updates a virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update virtual network appliance operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VirtualNetworkAppliance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "201": {
            "description": "Resource 'VirtualNetworkAppliance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/VirtualNetworkAppliance"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualNetworkAppliances_UpdateTags",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Updates a virtual network appliance tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update virtual network appliance tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "VirtualNetworkAppliances_Delete",
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "description": "Deletes the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "virtualNetworkApplianceName",
            "in": "path",
            "description": "The name of the virtual network appliance.",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Access": {
      "type": "string",
      "description": "Access to be allowed or denied.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "Access",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow"
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "Deny"
          }
        ]
      }
    },
    "AccessMode": {
      "type": "string",
      "description": "The access mode of the private link service.",
      "enum": [
        "Default",
        "Restricted"
      ],
      "x-ms-enum": {
        "name": "AccessMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Allows unrestricted access to the private link service."
          },
          {
            "name": "Restricted",
            "value": "Restricted",
            "description": "Limits access to subscriptions which are inside visibility list only."
          }
        ]
      }
    },
    "AccessRuleDirection": {
      "type": "string",
      "description": "Direction that specifies whether the access rules is inbound/outbound.",
      "enum": [
        "Inbound",
        "Outbound"
      ],
      "x-ms-enum": {
        "name": "AccessRuleDirection",
        "modelAsString": true,
        "values": [
          {
            "name": "Inbound",
            "value": "Inbound",
            "description": "Inbound"
          },
          {
            "name": "Outbound",
            "value": "Outbound",
            "description": "Outbound"
          }
        ]
      }
    },
    "ActionType": {
      "type": "string",
      "description": "Defines the action to take on rule match.",
      "enum": [
        "AnomalyScoring",
        "Allow",
        "Block",
        "Log",
        "JSChallenge",
        "CAPTCHA"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "AnomalyScoring",
            "value": "AnomalyScoring",
            "description": "AnomalyScoring"
          },
          {
            "name": "Allow",
            "value": "Allow",
            "description": "Allow"
          },
          {
            "name": "Block",
            "value": "Block",
            "description": "Block"
          },
          {
            "name": "Log",
            "value": "Log",
            "description": "Log"
          },
          {
            "name": "JSChallenge",
            "value": "JSChallenge",
            "description": "JSChallenge"
          },
          {
            "name": "CAPTCHA",
            "value": "CAPTCHA",
            "description": "CAPTCHA"
          }
        ]
      }
    },
    "AddressPrefixType": {
      "type": "string",
      "description": "Address prefix type.",
      "enum": [
        "IPPrefix",
        "ServiceTag",
        "NetworkGroup"
      ],
      "x-ms-enum": {
        "name": "AddressPrefixType",
        "modelAsString": true,
        "values": [
          {
            "name": "IPPrefix",
            "value": "IPPrefix",
            "description": "IPPrefix"
          },
          {
            "name": "ServiceTag",
            "value": "ServiceTag",
            "description": "ServiceTag"
          },
          {
            "name": "NetworkGroup",
            "value": "NetworkGroup",
            "description": "NetworkGroup"
          }
        ]
      }
    },
    "AddressSpaceAggregationOption": {
      "type": "string",
      "description": "Option indicating the update behavior of a resource's address prefixes referenced within a network manager configuration.",
      "enum": [
        "None",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "AddressSpaceAggregationOption",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Manual",
            "value": "Manual",
            "description": "Manual"
          }
        ]
      }
    },
    "AddressUpdateAction": {
      "type": "string",
      "description": "Specifies the type of update operation to perform on addresses within the address location of service gateway.\n\n- FullUpdate: Replaces all existing address data with the new list provided in the request. Any previously defined addresses not included will be removed.\n- PartialUpdate: Updates only the specified addresses.",
      "enum": [
        "FullUpdate",
        "PartialUpdate"
      ],
      "x-ms-enum": {
        "name": "AddressUpdateAction",
        "modelAsString": true,
        "values": [
          {
            "name": "FullUpdate",
            "value": "FullUpdate",
            "description": "FullUpdate"
          },
          {
            "name": "PartialUpdate",
            "value": "PartialUpdate",
            "description": "PartialUpdate"
          }
        ]
      }
    },
    "AdminRuleKind": {
      "type": "string",
      "description": "Whether the rule is custom or default.",
      "enum": [
        "Custom",
        "Default"
      ],
      "x-ms-enum": {
        "name": "AdminRuleKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom"
          },
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "AdminState": {
      "type": "string",
      "description": "Property to indicate if the Express Route Gateway serves traffic when there are multiple Express Route Gateways in the vnet",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AdminState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "AdvertisedPublicPrefixPropertiesValidationState": {
      "type": "string",
      "description": "Advertised Public Prefix State that denotes if the prefix is validated or not.",
      "enum": [
        "NotConfigured",
        "Configuring",
        "Configured",
        "ValidationNeeded",
        "ValidationFailed",
        "ManualValidationNeeded",
        "AsnValidationFailed",
        "CertificateMissingInRoutingRegistry",
        "InvalidSignatureEncoding",
        "SignatureVerificationFailed"
      ],
      "x-ms-enum": {
        "name": "AdvertisedPublicPrefixPropertiesValidationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotConfigured",
            "value": "NotConfigured",
            "description": "NotConfigured"
          },
          {
            "name": "Configuring",
            "value": "Configuring",
            "description": "Configuring"
          },
          {
            "name": "Configured",
            "value": "Configured",
            "description": "Configured"
          },
          {
            "name": "ValidationNeeded",
            "value": "ValidationNeeded",
            "description": "ValidationNeeded"
          },
          {
            "name": "ValidationFailed",
            "value": "ValidationFailed",
            "description": "ValidationFailed"
          },
          {
            "name": "ManualValidationNeeded",
            "value": "ManualValidationNeeded",
            "description": "ManualValidationNeeded"
          },
          {
            "name": "AsnValidationFailed",
            "value": "AsnValidationFailed",
            "description": "AsnValidationFailed"
          },
          {
            "name": "CertificateMissingInRoutingRegistry",
            "value": "CertificateMissingInRoutingRegistry",
            "description": "CertificateMissingInRoutingRegistry"
          },
          {
            "name": "InvalidSignatureEncoding",
            "value": "InvalidSignatureEncoding",
            "description": "InvalidSignatureEncoding"
          },
          {
            "name": "SignatureVerificationFailed",
            "value": "SignatureVerificationFailed",
            "description": "SignatureVerificationFailed"
          }
        ]
      }
    },
    "ApplicationGatewayBackendHealthServerHealth": {
      "type": "string",
      "description": "Health of backend server.",
      "enum": [
        "Unknown",
        "Up",
        "Down",
        "Partial",
        "Draining"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayBackendHealthServerHealth",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown"
          },
          {
            "name": "Up",
            "value": "Up",
            "description": "Up"
          },
          {
            "name": "Down",
            "value": "Down",
            "description": "Down"
          },
          {
            "name": "Partial",
            "value": "Partial",
            "description": "Partial"
          },
          {
            "name": "Draining",
            "value": "Draining",
            "description": "Draining"
          }
        ]
      }
    },
    "ApplicationGatewayClientAuthVerificationModes": {
      "type": "string",
      "description": "Verify client Authentication mode.",
      "enum": [
        "Strict",
        "Passthrough"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayClientAuthVerificationModes",
        "modelAsString": true,
        "values": [
          {
            "name": "Strict",
            "value": "Strict",
            "description": "Strict"
          },
          {
            "name": "Passthrough",
            "value": "Passthrough",
            "description": "Passthrough"
          }
        ]
      }
    },
    "ApplicationGatewayClientRevocationOptions": {
      "type": "string",
      "description": "Verify client certificate revocation status.",
      "enum": [
        "None",
        "OCSP"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayClientRevocationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "OCSP",
            "value": "OCSP",
            "description": "OCSP"
          }
        ]
      }
    },
    "ApplicationGatewayCookieBasedAffinity": {
      "type": "string",
      "description": "Cookie based affinity.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayCookieBasedAffinity",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "ApplicationGatewayCustomErrorStatusCode": {
      "type": "string",
      "description": "Status code of the application gateway custom error.",
      "enum": [
        "HttpStatus400",
        "HttpStatus403",
        "HttpStatus404",
        "HttpStatus405",
        "HttpStatus408",
        "HttpStatus500",
        "HttpStatus502",
        "HttpStatus503",
        "HttpStatus504"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayCustomErrorStatusCode",
        "modelAsString": true,
        "values": [
          {
            "name": "HttpStatus400",
            "value": "HttpStatus400",
            "description": "HttpStatus400"
          },
          {
            "name": "HttpStatus403",
            "value": "HttpStatus403",
            "description": "HttpStatus403"
          },
          {
            "name": "HttpStatus404",
            "value": "HttpStatus404",
            "description": "HttpStatus404"
          },
          {
            "name": "HttpStatus405",
            "value": "HttpStatus405",
            "description": "HttpStatus405"
          },
          {
            "name": "HttpStatus408",
            "value": "HttpStatus408",
            "description": "HttpStatus408"
          },
          {
            "name": "HttpStatus500",
            "value": "HttpStatus500",
            "description": "HttpStatus500"
          },
          {
            "name": "HttpStatus502",
            "value": "HttpStatus502",
            "description": "HttpStatus502"
          },
          {
            "name": "HttpStatus503",
            "value": "HttpStatus503",
            "description": "HttpStatus503"
          },
          {
            "name": "HttpStatus504",
            "value": "HttpStatus504",
            "description": "HttpStatus504"
          }
        ]
      }
    },
    "ApplicationGatewayFirewallMode": {
      "type": "string",
      "description": "Web application firewall mode.",
      "enum": [
        "Detection",
        "Prevention"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayFirewallMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Detection",
            "value": "Detection",
            "description": "Detection"
          },
          {
            "name": "Prevention",
            "value": "Prevention",
            "description": "Prevention"
          }
        ]
      }
    },
    "ApplicationGatewayFirewallRateLimitDuration": {
      "type": "string",
      "description": "Duration over which Rate Limit policy will be applied. Applies only when ruleType is RateLimitRule.",
      "enum": [
        "OneMin",
        "FiveMins"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayFirewallRateLimitDuration",
        "modelAsString": true,
        "values": [
          {
            "name": "OneMin",
            "value": "OneMin",
            "description": "OneMin"
          },
          {
            "name": "FiveMins",
            "value": "FiveMins",
            "description": "FiveMins"
          }
        ]
      }
    },
    "ApplicationGatewayFirewallUserSessionVariable": {
      "type": "string",
      "description": "User Session clause variable.",
      "enum": [
        "ClientAddr",
        "GeoLocation",
        "None",
        "ClientAddrXFFHeader",
        "GeoLocationXFFHeader"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayFirewallUserSessionVariable",
        "modelAsString": true,
        "values": [
          {
            "name": "ClientAddr",
            "value": "ClientAddr",
            "description": "ClientAddr"
          },
          {
            "name": "GeoLocation",
            "value": "GeoLocation",
            "description": "GeoLocation"
          },
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "ClientAddrXFFHeader",
            "value": "ClientAddrXFFHeader",
            "description": "ClientAddrXFFHeader"
          },
          {
            "name": "GeoLocationXFFHeader",
            "value": "GeoLocationXFFHeader",
            "description": "GeoLocationXFFHeader"
          }
        ]
      }
    },
    "ApplicationGatewayLoadDistributionAlgorithm": {
      "type": "string",
      "description": "Load Distribution Algorithm enums.",
      "enum": [
        "RoundRobin",
        "LeastConnections",
        "IpHash"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayLoadDistributionAlgorithm",
        "modelAsString": true,
        "values": [
          {
            "name": "RoundRobin",
            "value": "RoundRobin",
            "description": "RoundRobin"
          },
          {
            "name": "LeastConnections",
            "value": "LeastConnections",
            "description": "LeastConnections"
          },
          {
            "name": "IpHash",
            "value": "IpHash",
            "description": "IpHash"
          }
        ]
      }
    },
    "ApplicationGatewayOperationalState": {
      "type": "string",
      "description": "Operational state of the application gateway resource.",
      "enum": [
        "Stopped",
        "Starting",
        "Running",
        "Stopping"
      ],
      "x-ms-enum": {
        "name": "ApplicationGatewayOperationalState",
        "modelAsString": true,
        "values": [
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Stopped"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Starting"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Running"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Stopping"
          }
        ]
      }
    },
    "ApplicationGatewayProtocol": {
      "type": "string",
      "description": "Application Gateway protocol.",
[...]
