{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2023-11-02-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies/{name}": {
      "put": {
        "tags": [
          "AppResiliency"
        ],
        "summary": "Create or update an application's resiliency policy.",
        "description": "Create or update container app resiliency policy.",
        "operationId": "AppResiliency_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appName",
            "description": "Name of the Container App.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "description": "Name of the resiliency policy.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resiliencyEnvelope",
            "in": "body",
            "description": "The resiliency policy to create or update.",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliency"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliency"
            }
          },
          "201": {
            "description": "App Resiliency create or update has been started.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliency"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update App Resiliency": {
            "$ref": "./examples/AppResiliency_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppResiliency"
        ],
        "summary": "Update an application's resiliency policy.",
        "description": "Update container app resiliency policy.",
        "operationId": "AppResiliency_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appName",
            "description": "Name of the Container App.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "description": "Name of the resiliency policy.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "resiliencyEnvelope",
            "in": "body",
            "description": "The resiliency policy to update.",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliency"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliency"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update App Resiliency": {
            "$ref": "./examples/AppResiliency_Patch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppResiliency"
        ],
        "summary": "Delete an application's resiliency policy.",
        "description": "Delete container app resiliency policy.",
        "operationId": "AppResiliency_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appName",
            "description": "Name of the Container App.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "description": "Name of the resiliency policy.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resiliency policy deleted successfully."
          },
          "204": {
            "description": "Resiliency policy does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete App Resiliency": {
            "$ref": "./examples/AppResiliency_Delete.json"
          }
        }
      },
      "get": {
        "tags": [
          "AppResiliency"
        ],
        "summary": "Get an application's resiliency policy.",
        "description": "Get container app resiliency policy.",
        "operationId": "AppResiliency_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appName",
            "description": "Name of the Container App.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "description": "Name of the resiliency policy.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliency"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get App Resiliency": {
            "$ref": "./examples/AppResiliency_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{appName}/resiliencyPolicies": {
      "get": {
        "tags": [
          "AppResiliency"
        ],
        "summary": "List an application's resiliency policies.",
        "description": "List container app resiliency policies.",
        "operationId": "AppResiliency_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "appName",
            "description": "Name of the Container App.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/AppResiliencyCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List App Resiliency": {
            "$ref": "./examples/AppResiliency_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  }
}
