{
  "swagger": "2.0",
  "info": {
    "version": "2023-11-02-preview",
    "title": "ContainerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/detectors": {
      "get": {
        "tags": [
          "ContainerApps",
          "Diagnostics"
        ],
        "summary": "Get the list of diagnostics for a given Container App.",
        "operationId": "ContainerAppsDiagnostics_ListDetectors",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App for which detector info is needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiagnosticsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the list of available diagnostics for a given Container App": {
            "$ref": "./examples/ContainerAppsDiagnostics_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/detectors/{detectorName}": {
      "get": {
        "tags": [
          "ContainerApps",
          "Diagnostics"
        ],
        "summary": "Get a diagnostics result of a Container App.",
        "operationId": "ContainerAppsDiagnostics_GetDetector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "detectorName",
            "in": "path",
            "description": "Name of the Container App Detector.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Diagnostics"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's diagnostics info": {
            "$ref": "./examples/ContainerAppsDiagnostics_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/detectorProperties/revisionsApi/revisions/": {
      "get": {
        "tags": [
          "ContainerApps",
          "Diagnostics"
        ],
        "summary": "Get the Revisions for a given Container App.",
        "operationId": "ContainerAppsDiagnostics_ListRevisions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App for which Revisions are needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./ContainerAppsRevisions.json#/definitions/RevisionCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container App's revisions": {
            "$ref": "./examples/Revisions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Revision"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/detectorProperties/revisionsApi/revisions/{revisionName}": {
      "get": {
        "tags": [
          "ContainerApps",
          "Diagnostics"
        ],
        "summary": "Get a revision of a Container App.",
        "operationId": "ContainerAppsDiagnostics_GetRevision",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionName",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./ContainerAppsRevisions.json#/definitions/Revision"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's revision": {
            "$ref": "./examples/Revisions_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/containerApps/{containerAppName}/detectorProperties/rootApi/": {
      "get": {
        "tags": [
          "ContainerApps",
          "Diagnostics"
        ],
        "summary": "Get the properties of a Container App.",
        "operationId": "ContainerAppsDiagnostics_GetRoot",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "./ContainerApps.json#/definitions/ContainerApp"
            }
          },
          "404": {
            "description": "Not found.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App": {
            "$ref": "./examples/ContainerApps_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/detectors": {
      "get": {
        "tags": [
          "ManagedEnvironments",
          "Diagnostics"
        ],
        "summary": "Get the list of diagnostics for a given Managed Environment.",
        "description": "Get the list of diagnostics for a Managed Environment used to host container apps.",
        "operationId": "ManagedEnvironmentDiagnostics_ListDetectors",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiagnosticsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the list of available diagnostic data for a managed environments": {
            "$ref": "./examples/ManagedEnvironmentDiagnostics_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/detectors/{detectorName}": {
      "get": {
        "tags": [
          "ManagedEnvironments",
          "Diagnostics"
        ],
        "summary": "Get the diagnostics data for a given Managed Environment.",
        "description": "Get the diagnostics data for a Managed Environment used to host container apps.",
        "operationId": "ManagedEnvironmentDiagnostics_GetDetector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "detectorName",
            "in": "path",
            "description": "Name of the Managed Environment detector.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Diagnostics"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get diagnostic data for a managed environments": {
            "$ref": "./examples/ManagedEnvironmentDiagnostics_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/detectorProperties/rootApi/": {
      "get": {
        "tags": [
          "ManagedEnvironments",
          "Diagnostics"
        ],
        "summary": "Get the properties of a Managed Environment.",
        "description": "Get the properties of a Managed Environment used to host container apps.",
        "operationId": "ManagedEnvironmentsDiagnostics_GetRoot",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Environment.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./ManagedEnvironments.json#/definitions/ManagedEnvironment"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get environments by name": {
            "$ref": "./examples/ManagedEnvironments_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/detectors": {
      "get": {
        "tags": [
          "Jobs",
          "Diagnostics"
        ],
        "summary": "Get the list of diagnostics for a given Container App Job.",
        "description": "Get the list of diagnostics for a Container App Job.",
        "operationId": "Jobs_ListDetectors",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Jobs.json#/parameters/JobNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiagnosticsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the list of available diagnostic data for a Container App Job": {
            "$ref": "./examples/Job_ListDetectors.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/detectors/{detectorName}": {
      "get": {
        "tags": [
          "Jobs",
          "Diagnostics"
        ],
        "summary": "Get the diagnostics data for a given Container App Job.",
        "description": "Get the diagnostics data for a Container App Job.",
        "operationId": "Jobs_GetDetector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Jobs.json#/parameters/JobNameParameter"
          },
          {
            "name": "detectorName",
            "in": "path",
            "description": "Name of the Container App Job detector.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Diagnostics"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get diagnostic data for a Container App Job": {
            "$ref": "./examples/Job_GetDetector.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/jobs/{jobName}/detectorProperties/{apiName}": {
      "get": {
        "tags": [
          "Jobs",
          "Diagnostics"
        ],
        "summary": "Get the properties for a given Container App Job.",
        "description": "Get the properties of a Container App Job.",
        "operationId": "Jobs_ProxyGet",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./Jobs.json#/parameters/JobNameParameter"
          },
          {
            "name": "apiName",
            "in": "path",
            "description": "Proxy API Name for Container App Job.",
            "required": true,
            "enum": [
              "rootApi"
            ],
            "type": "string",
            "pattern": "^[-\\w\\._]+$",
            "x-ms-enum": {
              "name": "ApiName",
              "modelAsString": false
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./Jobs.json#/definitions/Job"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App Job by name": {
            "$ref": "./examples/Job_ProxyGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DiagnosticsCollection": {
      "description": "Diagnostics data collection for a resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of diagnostic data.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Diagnostics"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Diagnostics": {
      "description": "Diagnostics data for a resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Diagnostics resource specific properties",
          "type": "object",
          "properties": {
            "metadata": {
              "$ref": "#/definitions/DiagnosticsDefinition",
              "description": "Metadata of the diagnostics response."
            },
            "dataset": {
              "description": "Set of data collections associated with the response.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DiagnosticsDataApiResponse"
              },
              "x-ms-identifiers": []
            },
            "status": {
              "$ref": "#/definitions/DiagnosticsStatus",
              "description": "Status of the diagnostics response."
            },
            "dataProviderMetadata": {
              "$ref": "#/definitions/DiagnosticDataProviderMetadata",
              "description": "List of data providers' metadata."
            }
          }
        }
      }
    },
    "DiagnosticsDefinition": {
      "description": "Metadata of the diagnostics response",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique detector name",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Display Name of the detector",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Details of the diagnostics info",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "description": "Authors' names of the detector",
          "type": "string",
          "readOnly": true
        },
        "category": {
          "description": "Category of the detector",
          "type": "string",
          "readOnly": true
        },
        "supportTopicList": {
          "description": "List of support topics",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticSupportTopic"
          }
        },
        "analysisTypes": {
          "description": "List of analysis types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Authors' names of the detector",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "description": "Authors' names of the detector",
          "type": "number",
          "readOnly": true
        }
      }
    },
    "DiagnosticSupportTopic": {
      "description": "Support topic information",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique topic identifier",
          "type": "string",
          "readOnly": true
        },
        "pesId": {
          "description": "PES identifier",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DiagnosticsDataApiResponse": {
      "description": "Diagnostics data returned from a detector",
      "type": "object",
      "properties": {
        "table": {
          "description": "Table response",
          "$ref": "#/definitions/DiagnosticDataTableResponseObject"
        },
        "renderingProperties": {
          "description": "Details of the table response",
          "$ref": "#/definitions/DiagnosticRendering"
        }
      }
    },
    "DiagnosticDataTableResponseObject": {
      "description": "Diagnostics data table",
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Table name",
          "type": "string"
        },
        "columns": {
          "description": "Columns in the table",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticDataTableResponseColumn"
          },
          "x-ms-identifiers": [
            "columnName"
          ]
        },
        "rows": {
          "description": "Rows in the table",
          "type": "array",
          "items": {
            "type": "object"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DiagnosticDataTableResponseColumn": {
      "description": "Diagnostics data column",
      "type": "object",
      "properties": {
        "columnName": {
          "description": "Column name",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of the column",
          "type": "string"
        },
        "columnType": {
          "description": "Column type",
          "type": "string"
        }
      }
    },
    "DiagnosticRendering": {
      "description": "Rendering details of a diagnostics table",
      "type": "object",
      "properties": {
        "type": {
          "format": "int32",
          "description": "Rendering type",
          "type": "integer"
        },
        "title": {
          "description": "Title of the table",
          "type": "string"
        },
        "description": {
          "description": "Description of the table",
          "type": "string"
        },
        "isVisible": {
          "description": "Flag if the table should be rendered",
          "type": "boolean"
        }
      }
    },
    "DiagnosticsStatus": {
      "description": "Rendering details of a diagnostics table",
      "type": "object",
      "properties": {
        "message": {
          "description": "Diagnostic message",
          "type": "string"
        },
        "statusId": {
          "format": "int32",
          "description": "Status",
          "type": "integer"
        }
      }
    },
    "DiagnosticDataProviderMetadata": {
      "description": "Details of a diagnostics data provider",
      "type": "object",
      "properties": {
        "providerName": {
          "description": "Name of data provider",
          "type": "string"
        },
        "propertyBag": {
          "description": "Collection of properties",
          "type": "array",
          "items": {
            "description": "Property details",
            "type": "object",
            "properties": {
              "name": {
                "description": "Property name",
                "type": "string"
              },
              "value": {
                "description": "Property value",
                "type": "string"
              }
            }
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
