{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2023-11-02-preview"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/dotNetComponents": {
      "get": {
        "tags": [
          "DotNetComponents"
        ],
        "summary": "Get the .NET Components for a managed environment.",
        "operationId": "DotNetComponents_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/DotNetComponentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List .NET Components": {
            "$ref": "./examples/DotNetComponents_List.json"
          },
          "List .NET Components with ServiceBinds": {
            "$ref": "./examples/DotNetComponents_List_ServiceBind.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/dotNetComponents/{name}": {
      "get": {
        "tags": [
          "DotNetComponents"
        ],
        "summary": "Get a .NET Component.",
        "operationId": "DotNetComponents_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the .NET Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DotNetComponent"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get .NET Component": {
            "$ref": "./examples/DotNetComponents_Get.json"
          },
          "Get .NET Component with ServiceBinds": {
            "$ref": "./examples/DotNetComponents_Get_ServiceBind.json"
          }
        }
      },
      "put": {
        "tags": [
          "DotNetComponents"
        ],
        "summary": "Creates or updates a .NET Component.",
        "description": "Creates or updates a .NET Component in a Managed Environment.",
        "operationId": "DotNetComponents_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the .NET Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "dotNetComponentEnvelope",
            "in": "body",
            "description": "Configuration details of the .NET Component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DotNetComponent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No change performed on the .NET Component.",
            "schema": {
              "$ref": "#/definitions/DotNetComponent"
            }
          },
          "201": {
            "description": ".NET Component create or update has been started.",
            "schema": {
              "$ref": "#/definitions/DotNetComponent"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or Update .NET Component": {
            "$ref": "./examples/DotNetComponents_CreateOrUpdate.json"
          },
          "Create or Update .NET Component with ServiceBinds": {
            "$ref": "./examples/DotNetComponents_CreateOrUpdate_ServiceBind.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DotNetComponents"
        ],
        "summary": "Update properties of a .NET Component",
        "description": "Patches a .NET Component using JSON Merge Patch",
        "operationId": "DotNetComponents_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the .NET Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "dotNetComponentEnvelope",
            "in": "body",
            "description": "Configuration details of the .NET Component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DotNetComponent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/DotNetComponent"
            }
          },
          "202": {
            "description": "Patch operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Patch .NET Component": {
            "$ref": "./examples/DotNetComponents_Patch.json"
          },
          "Patch .NET Component with ServiceBinds": {
            "$ref": "./examples/DotNetComponents_Patch_ServiceBind.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DotNetComponents"
        ],
        "summary": "Delete a .NET Component.",
        "description": "Delete a .NET Component.",
        "operationId": "DotNetComponents_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "Name of the Managed Environment.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the .NET Component.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is in progress.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": ".NET Component does not exist."
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete .NET Component": {
            "$ref": "./examples/DotNetComponents_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DotNetComponentConfigurationProperty": {
      "description": "Configuration properties for a .NET Component",
      "type": "object",
      "properties": {
        "propertyName": {
          "description": "The name of the property",
          "type": "string"
        },
        "value": {
          "description": "The value of the property",
          "type": "string"
        }
      }
    },
    "DotNetComponentServiceBind": {
      "description": "Configuration to bind a .NET Component to another .NET Component",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the service bind",
          "type": "string"
        },
        "serviceId": {
          "description": "Resource id of the target service",
          "format": "arm-id",
          "type": "string"
        }
      }
    },
    "DotNetComponent": {
      "description": ".NET Component.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": ".NET Component resource specific properties",
          "type": "object",
          "properties": {
            "componentType": {
              "description": "Type of the .NET Component.",
              "enum": [
                "AspireDashboard",
                "AspireResourceServerApi"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "DotNetComponentType",
                "modelAsString": true
              }
            },
            "provisioningState": {
              "description": "Provisioning state of the .NET Component.",
              "enum": [
                "Succeeded",
                "Failed",
                "Canceled",
                "Deleting",
                "InProgress"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "DotNetComponentProvisioningState",
                "modelAsString": true
              }
            },
            "configurations": {
              "description": "List of .NET Components configuration properties",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DotNetComponentConfigurationProperty"
              },
              "x-ms-identifiers": [
                "propertyName"
              ]
            },
            "serviceBinds": {
              "description": "List of .NET Components that are bound to the .NET component",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DotNetComponentServiceBind"
              },
              "x-ms-identifiers": [
                "name"
              ]
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "DotNetComponentsCollection": {
      "description": ".NET Components ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DotNetComponent"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  }
}
