{
  "swagger": "2.0",
  "info": {
    "title": "Azure Compute Limit API",
    "version": "2026-07-01",
    "description": "Microsoft Azure Compute Limit Resource Provider.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GuestSubscriptions"
    },
    {
      "name": "SharedLimits"
    },
    {
      "name": "Features"
    },
    {
      "name": "VmFamilies"
    },
    {
      "name": "SharedLimitCaps"
    },
    {
      "name": "MemberCapOverrides"
    }
  ],
  "paths": {
    "/providers/Microsoft.ComputeLimit/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features": {
      "get": {
        "operationId": "Features_ListBySubscriptionLocationResource",
        "tags": [
          "Features"
        ],
        "description": "Lists all compute limit features for the subscription at the specified location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FeatureListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List features": {
            "$ref": "./examples/Features_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features/{featureName}": {
      "get": {
        "operationId": "Features_Get",
        "tags": [
          "Features"
        ],
        "description": "Gets the properties of a compute limit feature.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "The name of the Feature",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Feature"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SharedLimit feature": {
            "$ref": "./examples/Features_Get_SharedLimit.json"
          },
          "Get feature": {
            "$ref": "./examples/Features_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features/{featureName}/disable": {
      "post": {
        "operationId": "Features_Disable",
        "tags": [
          "Features"
        ],
        "description": "Disables a compute limit feature for the subscription at the specified location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "The name of the Feature",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Disable feature": {
            "$ref": "./examples/Features_Disable.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/features/{featureName}/enable": {
      "post": {
        "operationId": "Features_Enable",
        "tags": [
          "Features"
        ],
        "description": "Enables a compute limit feature for the subscription at the specified location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "featureName",
            "in": "path",
            "description": "The name of the Feature",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FeatureEnableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Enable feature": {
            "$ref": "./examples/Features_Enable.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/guestSubscriptions": {
      "get": {
        "operationId": "GuestSubscriptions_ListBySubscriptionLocationResource",
        "tags": [
          "GuestSubscriptions"
        ],
        "description": "Lists all guest subscriptions in a location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List guest subscriptions for a scope": {
            "$ref": "./examples/GuestSubscriptions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/guestSubscriptions/{guestSubscriptionId}": {
      "get": {
        "operationId": "GuestSubscriptions_Get",
        "tags": [
          "GuestSubscriptions"
        ],
        "description": "Gets the properties of a guest subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "guestSubscriptionId",
            "in": "path",
            "description": "The name of the GuestSubscription",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuestSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a guest subscription": {
            "$ref": "./examples/GuestSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GuestSubscriptions_Create",
        "tags": [
          "GuestSubscriptions"
        ],
        "description": "Adds a subscription as a guest to consume the compute limits shared by the host subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "guestSubscriptionId",
            "in": "path",
            "description": "The name of the GuestSubscription",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuestSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GuestSubscription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuestSubscription"
            }
          },
          "201": {
            "description": "Resource 'GuestSubscription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuestSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a guest subscription": {
            "$ref": "./examples/GuestSubscriptions_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "GuestSubscriptions_Delete",
        "tags": [
          "GuestSubscriptions"
        ],
        "description": "Deletes a subscription as a guest to stop consuming the compute limits shared by the host subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "guestSubscriptionId",
            "in": "path",
            "description": "The name of the GuestSubscription",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a guest subscription": {
            "$ref": "./examples/GuestSubscriptions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps": {
      "get": {
        "operationId": "SharedLimitCaps_ListBySubscriptionLocationResource",
        "tags": [
          "SharedLimitCaps"
        ],
        "description": "Lists all shared limit cap configurations visible to the caller's subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedLimitCapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List shared limit caps in a region for the caller's subscription": {
            "$ref": "./examples/SharedLimitCaps_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}": {
      "get": {
        "operationId": "SharedLimitCaps_Get",
        "tags": [
          "SharedLimitCaps"
        ],
        "description": "Gets the shared limit cap configuration for a VM family, as visible to the caller's subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedLimitCap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a shared limit cap for a VM family": {
            "$ref": "./examples/SharedLimitCaps_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SharedLimitCaps_CreateOrUpdate",
        "tags": [
          "SharedLimitCaps"
        ],
        "description": "Creates or replaces the shared limit cap configuration for a VM family.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedLimitCap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SharedLimitCap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SharedLimitCap"
            }
          },
          "201": {
            "description": "Resource 'SharedLimitCap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SharedLimitCap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a shared limit cap for a VM family": {
            "$ref": "./examples/SharedLimitCaps_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "SharedLimitCaps_Delete",
        "tags": [
          "SharedLimitCaps"
        ],
        "description": "Deletes the shared limit cap configuration for a VM family. The caller's subscription is treated as the host subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete the shared limit cap for a VM family": {
            "$ref": "./examples/SharedLimitCaps_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/memberCapOverrides": {
      "get": {
        "operationId": "MemberCapOverrides_ListByParent",
        "tags": [
          "MemberCapOverrides"
        ],
        "description": "Lists all per-member cap overrides configured under a SharedLimitCap.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MemberCapOverrideListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all member cap overrides under a shared limit cap": {
            "$ref": "./examples/MemberCapOverrides_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/memberCapOverrides/{memberSubscriptionId}": {
      "get": {
        "operationId": "MemberCapOverrides_Get",
        "tags": [
          "MemberCapOverrides"
        ],
        "description": "Gets the cap override configured for a single member subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "memberSubscriptionId",
            "in": "path",
            "description": "The name of the MemberCapOverride",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MemberCapOverride"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a single member cap override": {
            "$ref": "./examples/MemberCapOverrides_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MemberCapOverrides_CreateOrUpdate",
        "tags": [
          "MemberCapOverrides"
        ],
        "description": "Creates or replaces the cap override for a single member subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "memberSubscriptionId",
            "in": "path",
            "description": "The name of the MemberCapOverride",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberCapOverride"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MemberCapOverride' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MemberCapOverride"
            }
          },
          "201": {
            "description": "Resource 'MemberCapOverride' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MemberCapOverride"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a single member cap override": {
            "$ref": "./examples/MemberCapOverrides_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "MemberCapOverrides_Delete",
        "tags": [
          "MemberCapOverrides"
        ],
        "description": "Removes the per-member cap override for a member subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "memberSubscriptionId",
            "in": "path",
            "description": "The name of the MemberCapOverride",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a single member cap override": {
            "$ref": "./examples/MemberCapOverrides_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimitCaps/{vmFamilyName}/setMemberCapOverrides": {
      "post": {
        "operationId": "SharedLimitCaps_SetMemberCapOverrides",
        "tags": [
          "SharedLimitCaps"
        ],
        "description": "Replaces the full set of per-member cap overrides for this shared limit\ncap. The supplied array becomes the new complete set of overrides;\nsupplying an empty array clears all existing overrides.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the SharedLimitCap",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetMemberCapOverridesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SetMemberCapOverridesResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clear all member cap overrides (supply an empty array)": {
            "$ref": "./examples/SharedLimitCaps_SetMemberCapOverrides_ClearAll.json"
          },
          "Replace the full set of member cap overrides for a shared limit cap": {
            "$ref": "./examples/SharedLimitCaps_SetMemberCapOverrides.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimits": {
      "get": {
        "operationId": "SharedLimits_ListBySubscriptionLocationResource",
        "tags": [
          "SharedLimits"
        ],
        "description": "Lists all compute limits shared by the host subscription with its guest subscriptions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedLimitListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all shared limits for a scope": {
            "$ref": "./examples/SharedLimits_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/sharedLimits/{name}": {
      "get": {
        "operationId": "SharedLimits_Get",
        "tags": [
          "SharedLimits"
        ],
        "description": "Gets the properties of a compute limit shared by the host subscription with its guest subscriptions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the SharedLimit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedLimit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a shared limit": {
            "$ref": "./examples/SharedLimits_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SharedLimits_Create",
        "tags": [
          "SharedLimits"
        ],
        "description": "Enables sharing of a compute limit by the host subscription with its guest subscriptions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the SharedLimit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharedLimit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SharedLimit' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SharedLimit"
            }
          },
          "201": {
            "description": "Resource 'SharedLimit' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SharedLimit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a shared limit": {
            "$ref": "./examples/SharedLimits_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "SharedLimits_Delete",
        "tags": [
          "SharedLimits"
        ],
        "description": "Disables sharing of a compute limit by the host subscription with its guest subscriptions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the SharedLimit",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a shared limit": {
            "$ref": "./examples/SharedLimits_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/vmFamilies": {
      "get": {
        "operationId": "VmFamilies_ListBySubscriptionLocationResource",
        "tags": [
          "VmFamilies"
        ],
        "description": "Lists all VM families for the subscription at the specified location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the list operation. Filter can be applied to the 'category' property. Example: $filter=category eq 'generalPurposeCategory'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmFamilyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List VM families": {
            "$ref": "./examples/VmFamilies_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ComputeLimit/locations/{location}/vmFamilies/{vmFamilyName}": {
      "get": {
        "operationId": "VmFamilies_Get",
        "tags": [
          "VmFamilies"
        ],
        "description": "Gets the properties of a VM family.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "vmFamilyName",
            "in": "path",
            "description": "The name of the VmFamily",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmFamily"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a VM family": {
            "$ref": "./examples/VmFamilies_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Feature": {
      "type": "object",
      "description": "Compute limit feature.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FeatureProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "FeatureEnableRequest": {
      "type": "object",
      "description": "Request body for feature enable action.",
      "properties": {
        "serviceTreeId": {
          "type": "string",
          "description": "The Service Tree identifier associated with this feature action."
        }
      }
    },
    "FeatureListResult": {
      "type": "object",
      "description": "The response of a Feature list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Feature items on this page",
          "items": {
            "$ref": "#/definitions/Feature"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FeatureProperties": {
      "type": "object",
      "description": "Properties of the compute limit feature.",
      "properties": {
        "state": {
          "$ref": "#/definitions/FeatureState",
          "description": "The current state of the feature (for example, Enabled, Disabled)."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "FeatureState": {
      "type": "string",
      "description": "The allowed states for a compute limit feature.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "FeatureState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "The feature is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "The feature is disabled."
          }
        ]
      }
    },
    "GuestSubscription": {
      "type": "object",
      "description": "Guest subscription that consumes shared compute limits.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GuestSubscriptionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GuestSubscriptionListResult": {
      "type": "object",
      "description": "The response of a GuestSubscription list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GuestSubscription items on this page",
          "items": {
            "$ref": "#/definitions/GuestSubscription"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GuestSubscriptionProperties": {
      "type": "object",
      "description": "Properties for guest subscription.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "LimitName": {
      "type": "object",
      "description": "Properties of the limit name.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The limit name."
        },
        "localizedValue": {
          "type": "string",
          "description": "The localized limit name.",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "MemberCap": {
      "type": "object",
      "description": "Per-member cap override. Pairs a member subscription with its cap value.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "The member subscription identifier this cap applies to.",
          "pattern": "^[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}$"
        },
        "cap": {
          "type": "integer",
          "format": "int32",
          "description": "The cap value in count units for this member subscription.",
          "minimum": 0
        }
      },
      "required": [
        "subscriptionId",
        "cap"
      ]
    },
    "MemberCapOverride": {
      "type": "object",
      "description": "Member cap override as a standalone child resource of `SharedLimitCap`.\nUse this resource to read or modify a single member's cap without\nresending the entire `memberCapOverrides` array on the parent.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MemberCapOverrideProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MemberCapOverrideListResult": {
      "type": "object",
      "description": "The response of a MemberCapOverride list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MemberCapOverride items on this page",
          "items": {
            "$ref": "#/definitions/MemberCapOverride"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MemberCapOverrideProperties": {
      "type": "object",
      "description": "Properties of a per-member cap override.",
      "properties": {
        "cap": {
          "type": "integer",
          "format": "int32",
          "description": "The cap value in count units for this member subscription.",
          "minimum": 0
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "cap"
      ]
    },
    "SetMemberCapOverridesRequest": {
      "type": "object",
      "description": "Request body for the `setMemberCapOverrides` action.",
      "properties": {
        "memberCapOverrides": {
          "type": "array",
          "description": "The full set of per-member cap overrides to persist for this resource.\nThis call replaces the existing set entirely; supply an empty array\n(`[]`) to clear all overrides.",
          "items": {
            "$ref": "#/definitions/MemberCap"
          },
          "x-ms-identifiers": [
            "subscriptionId"
          ]
        }
      },
      "required": [
        "memberCapOverrides"
      ]
    },
    "SetMemberCapOverridesResult": {
      "type": "object",
      "description": "Response body for the `setMemberCapOverrides` action.",
      "properties": {
        "memberCapOverrides": {
          "type": "array",
          "description": "The per-member cap overrides as persisted after the action completed.",
          "items": {
            "$ref": "#/definitions/MemberCap"
          },
          "x-ms-identifiers": [
            "subscriptionId"
          ]
        }
      },
      "required": [
        "memberCapOverrides"
      ]
    },
    "SharedLimit": {
      "type": "object",
      "description": "Compute limits shared by the subscription.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SharedLimitProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SharedLimitCap": {
      "type": "object",
      "description": "Shared limit cap configuration for a VM family, owned by a host subscription\nand propagated to its member subscriptions. The same resource type is\nreadable by host and member subscriptions, but write operations (PUT/DELETE)\nare scoped to the caller's subscription as the host.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SharedLimitCapProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SharedLimitCapListResult": {
      "type": "object",
      "description": "The response of a SharedLimitCap list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SharedLimitCap items on this page",
          "items": {
            "$ref": "#/definitions/SharedLimitCap"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SharedLimitCapProperties": {
      "type": "object",
      "description": "Properties of a shared limit cap resource.",
      "properties": {
        "defaultMemberCap": {
          "type": "integer",
          "format": "int32",
          "description": "The default member cap value (in count units).\nSet to a non-negative integer to apply a cap to all member subscriptions\nthat do not have a per-member override. Omit the property to leave no\ndefault cap in effect.",
          "minimum": 0
        },
        "isBoundedCap": {
          "type": "boolean",
          "description": "Controls whether the service validates the aggregate cap against the\ngroup limit for the VM family.\n\nSUM(caps) is the sum of all per-member overrides' cap values plus\n`defaultMemberCap` multiplied by the number of member subscriptions without an override.\n\nWhen true, the service rejects any configuration where SUM(caps)\nexceeds the group limit. When false, SUM(caps) is permitted to exceed\nthe group limit.\n\nEnabling this flag is rejected if the current configuration already breaches the group limit;\nreduce caps first, then enable."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "isBoundedCap"
      ]
    },
    "SharedLimitListResult": {
      "type": "object",
      "description": "The response of a SharedLimit list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SharedLimit items on this page",
          "items": {
            "$ref": "#/definitions/SharedLimit"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SharedLimitProperties": {
      "type": "object",
      "description": "Properties of the compute shared limit.",
      "properties": {
        "resourceName": {
          "$ref": "#/definitions/LimitName",
          "description": "The limit name properties.",
          "readOnly": true
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum permitted usage of the resource.",
          "readOnly": true
        },
        "unit": {
          "type": "string",
          "description": "The quota units, such as Count.",
          "default": "Count",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "VmFamily": {
      "type": "object",
      "description": "VM family resource representing a virtual machine family and its category.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VmFamilyProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VmFamilyListResult": {
      "type": "object",
      "description": "The response of a VmFamily list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VmFamily items on this page",
          "items": {
            "$ref": "#/definitions/VmFamily"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VmFamilyProperties": {
      "type": "object",
      "description": "Properties of a VM family resource.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the VM family (for example, GeneralPurpose, ComputeOptimized)."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
