{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01",
    "title": "Azure Migrate V2",
    "description": "Assess your workloads for Azure.",
    "contact": {
      "name": "Microsoft",
      "email": "azuremigrate@microsoft.com"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "Azure Subscription Id in which project was created.",
      "type": "string",
      "in": "path",
      "required": true
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "description": "Name of the Azure Resource Group that project is part of.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "projectName": {
      "name": "projectName",
      "description": "Name of the Azure Migrate project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "machineName": {
      "name": "machineName",
      "description": "Unique name of a machine in private datacenter.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "assessedMachineName": {
      "name": "assessedMachineName",
      "description": "Unique name of an assessed machine evaluated as part of an assessment.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "groupName": {
      "name": "groupName",
      "description": "Unique name of a group within a project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "assessmentName": {
      "name": "assessmentName",
      "description": "Unique name of an assessment within a project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "hyperVCollectorName": {
      "name": "hyperVCollectorName",
      "description": "Unique name of a Hyper-V collector within a project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "vmWareCollectorName": {
      "name": "vmWareCollectorName",
      "description": "Unique name of a VMware collector within a project.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "assessmentOptionsName": {
      "name": "assessmentOptionsName",
      "description": "Name of the assessment options. The only name accepted in default.",
      "type": "string",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true
    },
    "api-version": {
      "name": "api-version",
      "description": "Standard request header. Used by service to identify API version used by client.",
      "type": "string",
      "in": "query",
      "required": true,
      "enum": [
        "2019-10-01"
      ]
    },
    "acceptLanguage": {
      "description": "Standard request header. Used by service to respond to client in appropriate language.",
      "name": "Accept-Language",
      "type": "string",
      "in": "header"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "definitions": {
    "Project": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "Azure Migrate Project.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Path reference to this project /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the project.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the object = [Microsoft.Migrate/assessmentProjects].",
          "readOnly": true
        },
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "location": {
          "type": "string",
          "description": "Azure location in which project is created."
        },
        "tags": {
          "type": "object",
          "description": "Tags provided by Azure Tagging service."
        },
        "properties": {
          "description": "Properties of the project.",
          "$ref": "#/definitions/ProjectProperties"
        }
      }
    },
    "ProjectProperties": {
      "type": "object",
      "description": "Properties of a project.",
      "properties": {
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was last updated. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Endpoint at which the collector agent can call agent REST API.",
          "readOnly": true
        },
        "assessmentSolutionId": {
          "type": "string",
          "description": "Assessment solution ARM id tracked by Microsoft.Migrate/migrateProjects."
        },
        "projectStatus": {
          "type": "string",
          "enum": [
            "Active",
            "Inactive"
          ],
          "description": "Assessment project status.",
          "x-ms-enum": {
            "name": "ProjectStatus",
            "modelAsString": true
          }
        },
        "customerWorkspaceId": {
          "type": "string",
          "description": "The ARM id of service map workspace created by customer."
        },
        "customerWorkspaceLocation": {
          "type": "string",
          "description": "Location of service map workspace created by customer."
        },
        "numberOfGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Number of groups created in the project.",
          "readOnly": true
        },
        "numberOfMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Number of machines in the project.",
          "readOnly": true
        },
        "numberOfAssessments": {
          "type": "integer",
          "format": "int32",
          "description": "Number of assessments created in the project.",
          "readOnly": true
        },
        "lastAssessmentTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when last assessment was created. Date-Time represented in ISO-8601 format. This value will be null until assessment is created.",
          "x-nullable": true,
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Deleting",
            "Failed",
            "Moving",
            "Succeeded"
          ],
          "description": "Provisioning state of the project.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "Group": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "A group created in a Migration project.",
      "required": [
        "properties"
      ],
      "properties": {
        "id": {
          "description": "Path reference to this group. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the group.",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "type": {
          "type": "string",
          "description": "Type of the object = [Microsoft.Migrate/assessmentProjects/groups].",
          "readOnly": true
        },
        "properties": {
          "description": "Properties of the group.",
          "$ref": "#/definitions/GroupProperties"
        }
      }
    },
    "GroupProperties": {
      "type": "object",
      "description": "Properties of group resource.",
      "properties": {
        "groupStatus": {
          "type": "string",
          "enum": [
            "Created",
            "Updated",
            "Running",
            "Completed",
            "Invalid"
          ],
          "description": "Whether the group has been created and is valid.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "GroupStatus",
            "modelAsString": true
          }
        },
        "machineCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of machines part of this group.",
          "readOnly": true
        },
        "assessments": {
          "type": "array",
          "description": "List of References to Assessments created on this group.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Reference to an Assessment. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}",
            "readOnly": true
          }
        },
        "areAssessmentsRunning": {
          "type": "boolean",
          "description": "If the assessments are in running state.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this group was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this group was last updated. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        }
      }
    },
    "UpdateGroupBody": {
      "type": "object",
      "description": "Properties of group update.",
      "properties": {
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "properties": {
          "description": "Properties of the group.",
          "$ref": "#/definitions/GroupBodyProperties"
        }
      }
    },
    "GroupBodyProperties": {
      "type": "object",
      "description": "Body properties of group update.",
      "properties": {
        "operationType": {
          "type": "string",
          "enum": [
            "Add",
            "Remove"
          ],
          "description": "Whether to add or remove the machines.",
          "x-ms-enum": {
            "name": "GroupUpdateOperation",
            "modelAsString": true
          }
        },
        "machines": {
          "type": "array",
          "description": "List of machine names that are part of this group.",
          "items": {
            "type": "string",
            "description": "Reference to a machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines/{machineName}"
          }
        }
      }
    },
    "Assessment": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "An assessment created for a group in the Migration project.",
      "required": [
        "properties"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Path reference to this assessment. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessment/{assessmentName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Unique name of an assessment.",
          "readOnly": true
        },
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "type": {
          "type": "string",
          "description": "Type of the object = [Microsoft.Migrate/assessmentProjects/groups/assessments].",
          "readOnly": true
        },
        "properties": {
          "description": "Properties of the assessment.",
          "$ref": "#/definitions/AssessmentProperties"
        }
      }
    },
    "AssessmentProperties": {
      "type": "object",
      "description": "Properties of an assessment.",
      "required": [
        "stage",
        "azureOfferCode",
        "timeRange",
        "percentile",
        "azureLocation",
        "azureStorageRedundancy",
        "scalingFactor",
        "azurePricingTier",
        "currency",
        "azureHybridUseBenefit",
        "discountPercentage",
        "sizingCriterion",
        "reservedInstance",
        "azureDiskType",
        "azureVmFamilies",
        "vmUptime"
      ],
      "properties": {
        "azureLocation": {
          "type": "string",
          "enum": [
            "Unknown",
            "EastAsia",
            "SoutheastAsia",
            "AustraliaEast",
            "AustraliaSoutheast",
            "BrazilSouth",
            "CanadaCentral",
            "CanadaEast",
            "WestEurope",
            "NorthEurope",
            "CentralIndia",
            "SouthIndia",
            "WestIndia",
            "JapanEast",
            "JapanWest",
            "KoreaCentral",
            "KoreaSouth",
            "UkWest",
            "UkSouth",
            "NorthCentralUs",
            "EastUs",
            "WestUs2",
            "SouthCentralUs",
            "CentralUs",
            "EastUs2",
            "WestUs",
            "WestCentralUs",
            "GermanyCentral",
            "GermanyNortheast",
            "ChinaNorth",
            "ChinaEast",
            "USGovArizona",
            "USGovTexas",
            "USGovIowa",
            "USGovVirginia",
            "USDoDCentral",
            "USDoDEast"
          ],
          "description": "Target Azure location for which the machines should be assessed. These enums are the same as used by Compute API.",
          "x-ms-enum": {
            "name": "AzureLocation",
            "modelAsString": true
          }
        },
        "azureOfferCode": {
          "type": "string",
          "enum": [
            "Unknown",
            "MSAZR0003P",
            "MSAZR0044P",
            "MSAZR0059P",
            "MSAZR0060P",
            "MSAZR0062P",
            "MSAZR0063P",
            "MSAZR0064P",
            "MSAZR0029P",
            "MSAZR0022P",
            "MSAZR0023P",
            "MSAZR0148P",
            "MSAZR0025P",
            "MSAZR0036P",
            "MSAZR0120P",
            "MSAZR0121P",
            "MSAZR0122P",
            "MSAZR0123P",
            "MSAZR0124P",
            "MSAZR0125P",
            "MSAZR0126P",
            "MSAZR0127P",
            "MSAZR0128P",
            "MSAZR0129P",
            "MSAZR0130P",
            "MSAZR0111P",
            "MSAZR0144P",
            "MSAZR0149P",
            "MSMCAZR0044P",
            "MSMCAZR0059P",
            "MSMCAZR0060P",
            "MSMCAZR0063P",
            "MSMCAZR0120P",
            "MSMCAZR0121P",
            "MSMCAZR0125P",
            "MSMCAZR0128P",
            "MSAZRDE0003P",
            "MSAZRDE0044P",
            "MSAZRUSGOV0003P",
            "EA"
          ],
          "description": "Offer code according to which cost estimation is done.",
          "x-ms-enum": {
            "name": "AzureOfferCode",
            "modelAsString": true
          }
        },
        "eaSubscriptionId": {
          "type": "string",
          "description": "Enterprise agreement subscription arm id.",
          "readOnly": true
        },
        "azurePricingTier": {
          "type": "string",
          "enum": [
            "Standard",
            "Basic"
          ],
          "description": "Pricing tier for Size evaluation.",
          "x-ms-enum": {
            "name": "AzurePricingTier",
            "modelAsString": true
          }
        },
        "azureStorageRedundancy": {
          "type": "string",
          "enum": [
            "Unknown",
            "LocallyRedundant",
            "ZoneRedundant",
            "GeoRedundant",
            "ReadAccessGeoRedundant"
          ],
          "description": "Storage Redundancy type offered by Azure.",
          "x-ms-enum": {
            "name": "AzureStorageRedundancy",
            "modelAsString": true
          }
        },
        "scalingFactor": {
          "type": "number",
          "format": "double",
          "description": "Scaling factor used over utilization data to add a performance buffer for new machines to be created in Azure. Min Value = 1.0, Max value = 1.9, Default = 1.3."
        },
        "percentile": {
          "type": "string",
          "enum": [
            "Percentile50",
            "Percentile90",
            "Percentile95",
            "Percentile99"
          ],
          "description": "Percentile of performance data used to recommend Azure size.",
          "x-ms-enum": {
            "name": "Percentile",
            "modelAsString": true
          }
        },
        "timeRange": {
          "type": "string",
          "enum": [
            "Day",
            "Week",
            "Month",
            "Custom"
          ],
          "description": "Time range of performance data used to recommend a size.",
          "x-ms-enum": {
            "name": "TimeRange",
            "modelAsString": true
          }
        },
        "perfDataStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time to consider performance data for assessment",
          "readOnly": true
        },
        "perfDataEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time to consider performance data for assessment",
          "readOnly": true
        },
        "stage": {
          "type": "string",
          "enum": [
            "InProgress",
            "UnderReview",
            "Approved"
          ],
          "description": "User configurable setting that describes the status of the assessment.",
          "x-ms-enum": {
            "name": "AssessmentStage",
            "modelAsString": true
          }
        },
        "currency": {
          "type": "string",
          "enum": [
            "Unknown",
            "USD",
            "DKK",
            "CAD",
            "IDR",
            "JPY",
            "KRW",
            "NZD",
            "NOK",
            "RUB",
            "SAR",
            "ZAR",
            "SEK",
            "TRY",
            "GBP",
            "MXN",
            "MYR",
            "INR",
            "HKD",
            "BRL",
            "TWD",
            "EUR",
            "CHF",
            "ARS",
            "AUD",
            "CNY"
          ],
          "description": "Currency to report prices in.",
          "x-ms-enum": {
            "name": "Currency",
            "modelAsString": true
          }
        },
        "azureHybridUseBenefit": {
          "type": "string",
          "enum": [
            "Unknown",
            "Yes",
            "No"
          ],
          "description": "AHUB discount on windows virtual machines.",
          "x-ms-enum": {
            "name": "AzureHybridUseBenefit",
            "modelAsString": true
          }
        },
        "discountPercentage": {
          "type": "number",
          "format": "double",
          "description": "Custom discount percentage to be applied on final costs. Can be in the range [0, 100]."
        },
        "confidenceRatingInPercentage": {
          "type": "number",
          "format": "double",
          "description": "Confidence rating percentage for assessment. Can be in the range [0, 100].",
          "x-nullable": true,
          "readOnly": true
        },
        "sizingCriterion": {
          "type": "string",
          "enum": [
            "PerformanceBased",
            "AsOnPremises"
          ],
          "description": "Assessment sizing criterion.",
          "x-ms-enum": {
            "name": "AssessmentSizingCriterion",
            "modelAsString": true
          }
        },
        "reservedInstance": {
          "type": "string",
          "enum": [
            "None",
            "RI1Year",
            "RI3Year"
          ],
          "description": "Azure reserved instance.",
          "x-ms-enum": {
            "name": "ReservedInstance",
            "modelAsString": true
          }
        },
        "azureVmFamilies": {
          "type": "array",
          "description": "List of azure VM families.",
          "items": {
            "type": "string",
            "enum": [
              "Unknown",
              "Basic_A0_A4",
              "Standard_A0_A7",
              "Standard_A8_A11",
              "Av2_series",
              "D_series",
              "Dv2_series",
              "DS_series",
              "DSv2_series",
              "F_series",
              "Fs_series",
              "G_series",
              "GS_series",
              "H_series",
              "Ls_series",
              "Dsv3_series",
              "Dv3_series",
              "Fsv2_series",
              "Ev3_series",
              "Esv3_series",
              "M_series",
              "DC_Series"
            ],
            "description": "Azure VM family.",
            "x-ms-enum": {
              "name": "AzureVmFamily",
              "modelAsString": true
            }
          }
        },
        "azureDiskType": {
          "type": "string",
          "enum": [
            "Unknown",
            "Standard",
            "Premium",
            "StandardSSD",
            "StandardOrPremium"
          ],
          "description": "Storage type selected for this disk.",
          "x-ms-enum": {
            "name": "AzureDiskType",
            "modelAsString": true
          }
        },
        "vmUptime": {
          "description": "Specify the duration for which the VMs are up in the on-premises environment.",
          "$ref": "#/definitions/VmUptime"
        },
        "pricesTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when the Azure Prices were queried. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was last updated. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "monthlyComputeCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly compute cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyBandwidthCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly network cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly storage cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyPremiumStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly premium storage cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyStandardSSDStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly standard SSD storage cost estimate for the machines that are part of this assessment as a group, for a 31-day month.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "Created",
            "Updated",
            "Running",
            "Completed",
            "Invalid",
            "OutOfSync",
            "OutDated"
          ],
          "description": "Whether the assessment has been created and is valid.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AssessmentStatus",
            "modelAsString": true
          }
        },
        "numberOfMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Number of assessed machines part of this assessment.",
          "readOnly": true
        }
      }
    },
    "VmUptime": {
      "type": "object",
      "properties": {
        "daysPerMonth": {
          "type": "number",
          "format": "int32",
          "description": "Number of days in a month for VM uptime."
        },
        "hoursPerDay": {
          "type": "number",
          "format": "int32",
          "description": "Number of hours per day for VM uptime."
        }
      }
    },
    "Disk": {
      "type": "object",
      "description": "A disk discovered on a machine.",
      "properties": {
        "gigabytesAllocated": {
          "type": "number",
          "format": "double",
          "description": "Gigabytes of storage provisioned for this disk.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User friendly name of the disk.",
          "readOnly": true
        }
      }
    },
    "NetworkAdapter": {
      "type": "object",
      "description": "A network adapter discovered on a machine.",
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "MAC Address of the network adapter.",
          "readOnly": true
        },
        "ipAddresses": {
          "type": "array",
          "description": "List of IP Addresses on the network adapter.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "IP Address of the network adapter.",
            "readOnly": true
          }
        },
        "displayName": {
          "type": "string",
          "description": "User friendly name of the network adapter.",
          "readOnly": true
        }
      }
    },
    "Machine": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "A machine in a migration project.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Path reference to this machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines/{machineName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the machine. It is a GUID which is unique identifier of machine in private data center. For user-readable name, we have a displayName property on this machine.",
          "readOnly": true
        },
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "type": {
          "type": "string",
          "description": "Type of the object = [Microsoft.Migrate/assessmentProjects/machines].",
          "readOnly": true
        },
        "properties": {
          "description": "Properties of the machine.",
          "$ref": "#/definitions/MachineProperties"
        }
      }
    },
    "MachineProperties": {
      "type": "object",
      "description": "Properties of a machine.",
      "properties": {
        "bootType": {
          "type": "string",
          "description": "Boot type of the machine.",
          "enum": [
            "Unknown",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "MachineBootType",
            "modelAsString": true
          }
        },
        "datacenterManagementServerArmId": {
          "type": "string",
          "description": "ARM ID of the data center as tracked by the Microsoft.OffAzure.",
          "readOnly": true
        },
        "discoveryMachineArmId": {
          "type": "string",
          "description": "ARM ID of the machine as tracked by the Microsoft.OffAzure.",
          "readOnly": true
        },
        "datacenterManagementServerName": {
          "type": "string",
          "description": "Name of the server hosting the datacenter management solution.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User readable name of the machine as defined by the user in their private datacenter.",
          "readOnly": true
        },
        "megabytesOfMemory": {
          "type": "number",
          "description": "Memory in Megabytes.",
          "readOnly": true
        },
        "numberOfCores": {
          "type": "integer",
          "description": "Processor count.",
          "readOnly": true
        },
        "operatingSystemType": {
          "type": "string",
          "description": "Operating System type of the machine.",
          "readOnly": true
        },
        "operatingSystemName": {
          "type": "string",
          "description": "Operating System name of the machine.",
          "readOnly": true
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Operating System version of the machine.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the machine",
          "readOnly": true
        },
        "groups": {
          "type": "array",
          "description": "List of references to the groups that the machine is member of.",
          "readOnly": true,
          "items": {
            "type": "string",
            "readOnly": true,
            "description": "Reference to a group that this machine is member of. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}"
          }
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this machine was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this machine was last updated. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "disks": {
          "type": "object",
          "description": "Dictionary of disks attached to the machine. Key is ID of disk. Value is a disk object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/Disk"
          }
        },
        "networkAdapters": {
          "type": "object",
          "description": "Dictionary of network adapters attached to the machine. Key is ID of network adapter. Value is a network adapter object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/NetworkAdapter"
          }
        }
      }
    },
    "AssessedDisk": {
      "type": "object",
      "description": "A disk assessed for an assessment.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the assessed disk.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User friendly name of the assessed disk.",
          "readOnly": true
        },
        "gigabytesProvisioned": {
          "type": "number",
          "format": "double",
          "description": "Gigabytes of storage provisioned for this disk.",
          "readOnly": true
        },
        "megabytesPerSecondOfRead": {
          "type": "number",
          "format": "double",
          "description": "Disk throughput in MegaBytes per second.",
          "readOnly": true
        },
        "megabytesPerSecondOfWrite": {
          "type": "number",
          "format": "double",
          "description": "Disk throughput in MegaBytes per second.",
          "readOnly": true
        },
        "numberOfReadOperationsPerSecond": {
          "type": "number",
          "format": "double",
          "description": "Number of read operations per second for the disk.",
          "readOnly": true
        },
        "numberOfWriteOperationsPerSecond": {
          "type": "number",
          "format": "double",
          "description": "Number of read and write operations per second for the disk.",
          "readOnly": true
        },
        "monthlyStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Estimated aggregate storage cost for a 31-day month for this disk.",
          "readOnly": true
        },
        "recommendedDiskType": {
          "type": "string",
          "enum": [
            "Unknown",
            "Standard",
            "Premium",
            "StandardSSD",
            "StandardOrPremium"
          ],
          "description": "Storage type selected for this disk.",
          "x-ms-enum": {
            "name": "AzureDiskType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "recommendedDiskSize": {
          "type": "string",
          "enum": [
            "Unknown",
            "Standard_S4",
            "Standard_S6",
            "Standard_S10",
            "Standard_S15",
            "Standard_S20",
            "Standard_S30",
            "Standard_S40",
            "Standard_S50",
            "Premium_P4",
            "Premium_P6",
            "Premium_P10",
            "Premium_P15",
            "Premium_P20",
            "Premium_P30",
            "Premium_P40",
            "Premium_P50",
            "Standard_S60",
            "Standard_S70",
            "Standard_S80",
            "Premium_P60",
            "Premium_P70",
            "Premium_P80",
            "StandardSSD_E10",
            "StandardSSD_E15",
            "StandardSSD_E20",
            "StandardSSD_E30",
            "StandardSSD_E40",
            "StandardSSD_E50",
            "StandardSSD_E60",
            "StandardSSD_E70",
            "StandardSSD_E80",
            "StandardSSD_E4",
            "StandardSSD_E6"
          ],
          "description": "Recommended Azure size for the disk, given utilization data and preferences set on Assessment.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureDiskSize",
            "modelAsString": true
          }
        },
        "gigabytesForRecommendedDiskSize": {
          "type": "integer",
          "format": "int32",
          "description": "Gigabytes of storage provided by the recommended Azure disk size.",
          "readOnly": true
        },
        "suitability": {
          "type": "string",
          "enum": [
            "Unknown",
            "NotSuitable",
            "Suitable",
            "ConditionallySuitable",
            "ReadinessUnknown"
          ],
          "description": "Whether this disk is suitable for Azure.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "CloudSuitability",
            "modelAsString": true
          }
        },
        "suitabilityExplanation": {
          "type": "string",
          "enum": [
            "Unknown",
            "NotApplicable",
            "DiskSizeGreaterThanSupported",
            "NoSuitableDiskSizeForIops",
            "NoSuitableDiskSizeForThroughput",
            "NoDiskSizeFoundInSelectedLocation",
            "NoDiskSizeFoundForSelectedRedundancy",
            "InternalErrorOccurredForDiskEvaluation",
            "NoEaPriceFoundForDiskSize"
          ],
          "description": "If disk is not suitable to be migrated, this explains the reasons and mitigation steps.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureDiskSuitabilityExplanation",
            "modelAsString": true
          }
        },
        "suitabilityDetail": {
          "type": "string",
          "enum": [
            "None",
            "NumberOfReadOperationsPerSecondMissing",
            "NumberOfWriteOperationsPerSecondMissing",
            "MegabytesPerSecondOfReadMissing",
            "MegabytesPerSecondOfWriteMissing",
            "DiskGigabytesConsumedMissing",
            "DiskGigabytesProvisionedMissing",
            "NumberOfReadOperationsPerSecondOutOfRange",
            "NumberOfWriteOperationsPerSecondOutOfRange",
            "MegabytesPerSecondOfReadOutOfRange",
            "MegabytesPerSecondOfWriteOutOfRange",
            "DiskGigabytesConsumedOutOfRange",
            "DiskGigabytesProvisionedOutOfRange"
          ],
          "description": "If disk is suitable to be migrate but some conditions/checks were not considered while calculating suitability, this explains the details.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureDiskSuitabilityDetail",
            "modelAsString": true
          }
        }
      }
    },
    "AssessedNetworkAdapter": {
      "type": "object",
      "description": "A network adapter assessed for an assessment.",
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "MAC Address of the network adapter.",
          "readOnly": true
        },
        "ipAddresses": {
          "type": "array",
          "description": "List of IP Addresses on the network adapter.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "IP Address of the network adapter.",
            "readOnly": true
          }
        },
        "displayName": {
          "type": "string",
          "description": "User friendly name of the assessed network adapter.",
          "readOnly": true
        },
        "monthlyBandwidthCosts": {
          "type": "number",
          "format": "double",
          "description": "Monthly cost estimate for network bandwidth used by this network adapter.",
          "readOnly": true
        },
        "megabytesPerSecondReceived": {
          "type": "number",
          "format": "double",
          "description": "Adapter throughput for incoming traffic in MegaBytes per second.",
          "readOnly": true
        },
        "megabytesPerSecondTransmitted": {
          "type": "number",
          "format": "double",
          "description": "Adapter throughput for outgoing traffic in MegaBytes per second.",
          "readOnly": true
        },
        "netGigabytesTransmittedPerMonth": {
          "type": "number",
          "format": "double",
          "description": "Gigabytes transmitted through this adapter each month."
        },
        "suitability": {
          "type": "string",
          "enum": [
            "Unknown",
            "NotSuitable",
            "Suitable",
            "ConditionallySuitable",
            "ReadinessUnknown"
          ],
          "description": "Whether this adapter is suitable for Azure.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "CloudSuitability",
            "modelAsString": true
          }
        },
        "suitabilityExplanation": {
          "type": "string",
          "enum": [
            "Unknown",
            "NotApplicable",
            "InternalErrorOccurred"
          ],
          "description": "If network adapter is suitable, this explains the reasons and mitigation steps.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureNetworkAdapterSuitabilityExplanation",
            "modelAsString": true
          }
        },
        "suitabilityDetail": {
          "type": "string",
          "enum": [
            "None",
            "MegabytesOfDataTransmittedMissing",
            "MegabytesOfDataTransmittedOutOfRange"
          ],
          "description": "If network adapter is not suitable for cloud, this explains the reasons.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureNetworkAdapterSuitabilityDetail",
            "modelAsString": true
          }
        }
      }
    },
    "AssessedMachine": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "A machine evaluated as part of an assessment.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Path reference to this assessed machine. /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the machine.",
          "readOnly": true
        },
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "type": {
          "type": "string",
          "description": "Type of the object = [Microsoft.Migrate/assessmentProjects/groups/assessments/assessedMachines].",
          "readOnly": true
        },
        "properties": {
          "description": "Properties of an assessed machine.",
          "$ref": "#/definitions/AssessedMachineProperties"
        }
      }
    },
    "AssessedMachineProperties": {
      "type": "object",
      "description": "Properties of an assessed machine.",
      "properties": {
        "bootType": {
          "type": "string",
          "description": "Boot type of the machine.",
          "enum": [
            "Unknown",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "MachineBootType",
            "modelAsString": true
          }
        },
        "datacenterMachineArmId": {
          "type": "string",
          "description": "ARM ID of the discovered machine.",
          "readOnly": true
        },
        "datacenterManagementServerArmId": {
          "type": "string",
          "description": "ARM ID of the discovered datacenter.",
          "readOnly": true
        },
        "datacenterManagementServerName": {
          "type": "string",
          "description": "Name of the server hosting the datacenter management solution.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the machine",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User readable name of the machine as defined by the user in their private datacenter.",
          "readOnly": true
        },
        "megabytesOfMemory": {
          "type": "number",
          "format": "double",
          "description": "Memory in Megabytes.",
          "readOnly": true
        },
        "numberOfCores": {
          "type": "integer",
          "format": "int32",
          "description": "Processor count.",
          "readOnly": true
        },
        "operatingSystemType": {
          "type": "string",
          "description": "Operating System type of the machine.",
          "readOnly": true
        },
        "operatingSystemName": {
          "type": "string",
          "description": "Operating System name of the machine.",
          "readOnly": true
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Operating System version of the machine.",
          "readOnly": true
        },
        "monthlyBandwidthCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly network cost estimate for the network adapters that are attached to this machine as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly storage cost estimate for the disks that are attached to this machine as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyPremiumStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly premium storage cost estimate for the disks that are attached to this machine as a group, for a 31-day month.",
          "readOnly": true
        },
        "monthlyStandardSSDStorageCost": {
          "type": "number",
          "format": "double",
          "description": "Monthly standard SSD storage cost estimate for the disks that are attached to this machine as a group, for a 31-day month.",
          "readOnly": true
        },
        "confidenceRatingInPercentage": {
          "type": "number",
          "format": "double",
          "description": "Confidence rating of assessed machine.",
          "x-nullable": true,
          "readOnly": true
        },
        "disks": {
          "type": "object",
          "description": "Dictionary of disks attached to the machine. Key is ID of disk. Value is a disk object.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/AssessedDisk"
          }
        },
        "networkAdapters": {
          "type": "object",
          "description": "Dictionary of network adapters attached to the machine. Key is name of the adapter. Value is a network adapter object.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "#/definitions/AssessedNetworkAdapter"
          }
        },
        "recommendedSize": {
          "type": "string",
          "enum": [
            "Unknown",
            "Basic_A0",
            "Basic_A1",
            "Basic_A2",
            "Basic_A3",
            "Basic_A4",
            "Standard_A0",
            "Standard_A1",
            "Standard_A2",
            "Standard_A3",
            "Standard_A4",
            "Standard_A5",
            "Standard_A6",
            "Standard_A7",
            "Standard_A8",
            "Standard_A9",
            "Standard_A10",
            "Standard_A11",
            "Standard_A1_v2",
            "Standard_A2_v2",
            "Standard_A4_v2",
            "Standard_A8_v2",
            "Standard_A2m_v2",
            "Standard_A4m_v2",
            "Standard_A8m_v2",
            "Standard_D1",
            "Standard_D2",
            "Standard_D3",
            "Standard_D4",
            "Standard_D11",
            "Standard_D12",
            "Standard_D13",
            "Standard_D14",
            "Standard_D1_v2",
            "Standard_D2_v2",
            "Standard_D3_v2",
            "Standard_D4_v2",
            "Standard_D5_v2",
            "Standard_D11_v2",
            "Standard_D12_v2",
            "Standard_D13_v2",
            "Standard_D14_v2",
            "Standard_D15_v2",
            "Standard_DS1",
            "Standard_DS2",
            "Standard_DS3",
            "Standard_DS4",
            "Standard_DS11",
            "Standard_DS12",
            "Standard_DS13",
            "Standard_DS14",
            "Standard_DS1_v2",
            "Standard_DS2_v2",
            "Standard_DS3_v2",
            "Standard_DS4_v2",
            "Standard_DS5_v2",
            "Standard_DS11_v2",
            "Standard_DS12_v2",
            "Standard_DS13_v2",
            "Standard_DS14_v2",
            "Standard_DS15_v2",
            "Standard_F1",
            "Standard_F2",
            "Standard_F4",
            "Standard_F8",
            "Standard_F16",
            "Standard_F1s",
            "Standard_F2s",
            "Standard_F4s",
            "Standard_F8s",
            "Standard_F16s",
            "Standard_G1",
            "Standard_G2",
            "Standard_G3",
            "Standard_G4",
            "Standard_G5",
            "Standard_GS1",
            "Standard_GS2",
            "Standard_GS3",
            "Standard_GS4",
            "Standard_GS5",
            "Standard_H8",
            "Standard_H16",
            "Standard_H8m",
            "Standard_H16m",
            "Standard_H16r",
            "Standard_H16mr",
            "Standard_L4s",
            "Standard_L8s",
            "Standard_L16s",
            "Standard_L32s",
            "Standard_D2s_v3",
            "Standard_D4s_v3",
            "Standard_D8s_v3",
            "Standard_D16s_v3",
            "Standard_D32s_v3",
            "Standard_D64s_v3",
            "Standard_D2_v3",
            "Standard_D4_v3",
            "Standard_D8_v3",
            "Standard_D16_v3",
            "Standard_D32_v3",
            "Standard_D64_v3",
            "Standard_F2s_v2",
            "Standard_F4s_v2",
            "Standard_F8s_v2",
            "Standard_F16s_v2",
            "Standard_F32s_v2",
            "Standard_F64s_v2",
            "Standard_F72s_v2",
            "Standard_E2_v3",
            "Standard_E4_v3",
            "Standard_E8_v3",
            "Standard_E16_v3",
            "Standard_E32_v3",
            "Standard_E64_v3",
            "Standard_E2s_v3",
            "Standard_E4s_v3",
            "Standard_E8s_v3",
            "Standard_E16s_v3",
            "Standard_E32s_v3",
            "Standard_E64s_v3",
            "Standard_M64s",
            "Standard_M64ms",
            "Standard_M128s",
            "Standard_M128ms"
          ],
          "description": "Recommended Azure size for this machine.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureVmSize",
            "modelAsString": true
          }
        },
        "numberOfCoresForRecommendedSize": {
          "type": "integer",
          "format": "int32",
          "description": "Number of CPU cores in the Recommended Azure VM Size.",
          "readOnly": true
        },
        "megabytesOfMemoryForRecommendedSize": {
          "type": "number",
          "format": "double",
          "description": "Megabytes of memory in the Recommended Azure VM Size.",
          "readOnly": true
        },
        "monthlyComputeCostForRecommendedSize": {
          "type": "number",
          "format": "double",
          "description": "Compute Cost for a 31-day month, if the machine is migrated to Azure with the Recommended Size.",
          "readOnly": true
        },
        "percentageCoresUtilization": {
          "type": "number",
          "format": "double",
          "description": "Utilization percentage of the processor core as observed in the private data center, in the Time Range selected on Assessment, reported as the Percentile value based on the percentile number selected in assessment.",
          "readOnly": true
        },
        "percentageMemoryUtilization": {
          "type": "number",
          "format": "double",
          "description": "Utilization percentage of the memory as observed in the private data center, in the Time Range selected on Assessment, reported as the Percentile value based on the percentile number selected in assessment.",
          "readOnly": true
        },
        "suitability": {
          "type": "string",
          "enum": [
            "Unknown",
            "NotSuitable",
            "Suitable",
            "ConditionallySuitable",
            "ReadinessUnknown"
          ],
          "description": "Whether machine is suitable for migration to Azure.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "CloudSuitability",
            "modelAsString": true
          }
        },
        "suitabilityExplanation": {
          "type": "string",
          "enum": [
            "Unknown",
            "NotApplicable",
            "GuestOperatingSystemArchitectureNotSupported",
            "GuestOperatingSystemNotSupported",
            "BootTypeNotSupported",
            "MoreDisksThanSupported",
            "NoSuitableVmSizeFound",
            "OneOrMoreDisksNotSuitable",
            "OneOrMoreAdaptersNotSuitable",
            "InternalErrorOccurredDuringComputeEvaluation",
            "InternalErrorOccurredDuringStorageEvaluation",
            "InternalErrorOccurredDuringNetworkEvaluation",
            "NoVmSizeSupportsStoragePerformance",
            "NoVmSizeSupportsNetworkPerformance",
            "NoVmSizeForSelectedPricingTier",
            "NoVmSizeForSelectedAzureLocation",
            "CheckRedHatLinuxVersion",
            "CheckOpenSuseLinuxVersion",
            "CheckWindowsServer2008R2Version",
            "CheckCentOsVersion",
            "CheckDebianLinuxVersion",
            "CheckSuseLinuxVersion",
            "CheckOracleLinuxVersion",
            "CheckUbuntuLinuxVersion",
            "CheckCoreOsLinuxVersion",
            "WindowsServerVersionConditionallySupported",
            "NoGuestOperatingSystemConditionallySupported",
            "WindowsClientVersionsConditionallySupported",
            "BootTypeUnknown",
            "GuestOperatingSystemUnknown",
            "WindowsServerVersionsSupportedWithCaveat",
            "WindowsOSNoLongerUnderMSSupport",
            "EndorsedWithConditionsLinuxDistributions",
            "UnendorsedLinuxDistributions",
            "NoVmSizeForStandardPricingTier",
            "NoVmSizeForBasicPricingTier"
          ],
          "description": "If machine is not ready to be migrated, this explains the reasons and mitigation steps.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureVmSuitabilityExplanation",
            "modelAsString": true
          }
        },
        "suitabilityDetail": {
          "type": "string",
          "enum": [
            "None",
            "RecommendedSizeHasLessNetworkAdapters",
            "CannotReportComputeCost",
            "CannotReportStorageCost",
            "CannotReportBandwidthCosts",
            "PercentageOfCoresUtilizedMissing",
            "PercentageOfMemoryUtilizedMissing",
            "PercentageOfCoresUtilizedOutOfRange",
            "PercentageOfMemoryUtilizedOutOfRange"
          ],
          "description": "If machine is not suitable for cloud, this explains the reasons.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AzureVmSuitabilityDetail",
            "modelAsString": true
          }
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this machine was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this machine was last updated. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        }
      }
    },
    "OperationDisplay": {
      "type": "object",
      "description": "Displayable properties of the operation.",
      "readOnly": true,
      "properties": {
        "provider": {
          "type": "string",
          "description": "Provider of the operation.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Resource operated on by the operation.",
          "readOnly": true
        },
        "operation": {
          "type": "string",
          "description": "Operation Type.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the operation.",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "A REST API operation supported by the provider.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation.",
          "readOnly": true
        },
        "display": {
          "description": "Displayable properties of the operation.",
          "$ref": "#/definitions/OperationDisplay"
        },
        "origin": {
          "type": "string",
          "description": "Origin of the operation.",
          "readOnly": true
        }
      }
    },
    "DownloadUrl": {
      "type": "object",
      "description": "Download URL for assessment report.",
      "properties": {
        "assessmentReportUrl": {
          "type": "string",
          "description": "Hyperlink to download report.",
          "readOnly": true
        },
        "expirationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Expiry date of download url.",
          "readOnly": true
        }
      }
    },
    "ProjectResultList": {
      "type": "object",
      "description": "List of projects.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of projects.",
          "items": {
            "$ref": "#/definitions/Project"
          }
        }
      }
    },
    "MachineResultList": {
      "type": "object",
      "description": "List of machines.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of machines.",
          "items": {
            "$ref": "#/definitions/Machine"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "GroupResultList": {
      "type": "object",
      "description": "List of groups.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of groups.",
          "items": {
            "$ref": "#/definitions/Group"
          }
        }
      }
    },
    "AssessedMachineResultList": {
      "type": "object",
      "description": "List of assessed machines.",
      "properties": {
        "value": {
          "description": "List of assessed machines.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssessedMachine"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "AssessmentResultList": {
      "type": "object",
      "description": "List of assessments.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of assessments.",
          "items": {
            "$ref": "#/definitions/Assessment"
          }
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Azure Migrate service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Azure Migrate service."
    },
    "CollectorBodyAgentSpnProperties": {
      "type": "object",
      "properties": {
        "authority": {
          "description": "AAD Authority URL which was used to request the token for the service principal.",
          "type": "string"
        },
        "applicationId": {
          "description": "Application/client Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services.",
          "type": "string"
        },
        "audience": {
          "description": "Intended audience for the service principal.",
          "type": "string"
        },
        "objectId": {
          "description": "Object Id of the service principal with which the on-premise management/data plane components would communicate with our Azure services.",
          "type": "string"
        },
        "tenantId": {
          "description": "Tenant Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services.",
          "type": "string"
        }
      }
    },
    "HyperVCollector": {
      "type": "object",
      "properties": {
        "eTag": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/CollectorProperties"
        }
      }
    },
    "CollectorProperties": {
      "type": "object",
      "properties": {
        "discoverySiteId": {
          "type": "string",
          "description": "The ARM id of the discovery service site."
        },
        "createdTimestamp": {
          "type": "string",
          "description": "Time when this collector was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "description": "Time when this collector was updated. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "agentProperties": {
          "$ref": "#/definitions/CollectorAgentProperties"
        }
      }
    },
    "CollectorAgentProperties": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "readOnly": true
        },
        "lastHeartbeatUtc": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "readOnly": true
        },
        "spnDetails": {
          "$ref": "#/definitions/CollectorBodyAgentSpnProperties"
        }
      }
    },
    "VMwareCollector": {
      "type": "object",
      "properties": {
        "eTag": {
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/CollectorProperties"
        }
      }
    },
    "HyperVCollectorList": {
      "type": "object",
      "description": "List of Hyper-V collectors.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Hyper-V collectors.",
          "items": {
            "$ref": "#/definitions/HyperVCollector"
          }
        }
      }
    },
    "VMwareCollectorList": {
      "type": "object",
      "description": "List of VMware collectors.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of VMware collectors.",
          "items": {
            "$ref": "#/definitions/VMwareCollector"
          }
        }
      }
    },
    "VmFamily": {
      "type": "object",
      "description": "VM family name, the list of targeted azure locations and the category of the family.",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Name of the VM family.",
          "readOnly": true
        },
        "targetLocations": {
          "type": "array",
          "description": "List of Azure regions.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Azure region name.",
            "readOnly": true
          }
        },
        "category": {
          "type": "array",
          "description": "Category of the VM family.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "VM family Category.",
            "readOnly": true
          }
        }
      }
    },
    "AssessmentOptionsProperties": {
      "type": "object",
      "description": "Assessment options properties.",
      "properties": {
        "vmFamilies": {
          "type": "array",
          "description": "Dictionary of VM families grouped by vm family name describing the targeted azure locations of VM family and the category of the family.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/VmFamily"
          }
        },
        "reservedInstanceVmFamilies": {
          "type": "array",
          "description": "List of supported VM Families.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Azure VM family name.",
            "readOnly": true
          }
        },
        "reservedInstanceSupportedLocations": {
          "type": "array",
          "description": "List of supported Azure regions for reserved instances.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Azure region name.",
            "readOnly": true
          }
        },
        "reservedInstanceSupportedCurrencies": {
          "type": "array",
          "description": "List of supported currencies for reserved instances.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Currency to report prices in.",
            "readOnly": true
          }
        },
        "reservedInstanceSupportedOffers": {
          "type": "array",
          "description": "List of supported Azure offer codes for reserved instances.",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "Azure offer code to be used for cost estimation",
            "readOnly": true
          }
        }
      }
    },
    "AssessmentOptions": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "Assessment options.",
      "required": [
        "properties"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of an assessment options.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Unique identifier of an assessment options.",
          "readOnly": true
        },
        "properties": {
          "description": "Properties of the assessment options.",
          "$ref": "#/definitions/AssessmentOptionsProperties"
        }
      }
    },
    "AssessmentOptionsResultList": {
      "type": "object",
      "description": "List of API operations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of operations.",
          "items": {
            "$ref": "#/definitions/AssessmentOptions"
          }
        }
      }
    },
    "OperationResultList": {
      "type": "object",
      "description": "List of API operations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of operations.",
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "summary": "Get all projects.",
        "description": "Get all the projects in the subscription.",
        "operationId": "Projects_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/ProjectResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Projects_List": {
            "$ref": "./examples/ProjectsInSubscription_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "summary": "Get all projects.",
        "description": "Get all the projects in the resource group.",
        "operationId": "Projects_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/ProjectResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Projects_List": {
            "$ref": "./examples/Projects_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}": {
      "get": {
        "summary": "Get the specified project.",
        "description": "Get the project with the specified name.",
        "operationId": "Projects_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Get": {
            "$ref": "./examples/Projects_Get.json"
          }
        }
      },
      "put": {
        "summary": "Create or update project.",
        "description": "Create a project with specified name. If a project already exists, update it.",
        "operationId": "Projects_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "name": "project",
            "description": "New or Updated project object.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Existing project updated.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "201": {
            "description": "Created. New project was created.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Create": {
            "$ref": "./examples/Projects_Create.json"
          }
        }
      },
      "patch": {
        "summary": "Update project.",
        "description": "Update a project with specified name. Supports partial updates, for example only tags can be provided.",
        "operationId": "Projects_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "name": "project",
            "description": "Updated project object.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Existing project updated.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Update": {
            "$ref": "./examples/Projects_Update.json"
          }
        }
      },
      "delete": {
        "summary": "Delete the project",
        "description": "Delete the project. Deleting non-existent project is a no-operation.",
        "operationId": "Projects_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Deleted the group.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            }
          },
          "204": {
            "description": "No content. No project with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Delete": {
            "$ref": "./examples/Projects_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions/{assessmentOptionsName}": {
      "get": {
        "summary": "Get all available options for the properties of an assessment on a project.",
        "description": "Get all available options for the properties of an assessment on a project.",
        "operationId": "Project_AssessmentOptions",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/assessmentOptionsName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AssessmentOptions"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentOptions_Get": {
            "$ref": "./examples/AssessmentOptions_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions": {
      "get": {
        "summary": "Gets list of all available options for the properties of an assessment on a project.",
        "description": "Gets list of all available options for the properties of an assessment on a project.",
        "operationId": "Project_AssessmentOptionsList",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AssessmentOptionsResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AssessmentOptions_Get": {
            "$ref": "./examples/AssessmentOptions_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines": {
      "get": {
        "summary": "Get all machines in the project",
        "description": "Get data of all the machines available in the project. Returns a json array of objects of type 'machine' defined in Models section.",
        "operationId": "Machines_ListByProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns list of all machine objects.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/MachineResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Machines_ListByProject": {
            "$ref": "./examples/Machines_ListByProject.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/machines/{machineName}": {
      "get": {
        "summary": "Get a specific machine.",
        "description": "Get the machine with the specified name. Returns a json object of type 'machine' defined in Models section.",
        "operationId": "Machines_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/machineName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the machine with the specified name.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Machines_Get": {
            "$ref": "./examples/Machines_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups": {
      "get": {
        "summary": "Get all groups",
        "description": "Get all groups created in the project. Returns a json array of objects of type 'group' as specified in the Models section.",
        "operationId": "Groups_ListByProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns list of groups.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/GroupResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Groups_ListByProject": {
            "$ref": "./examples/Groups_ListByProject.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}": {
      "get": {
        "summary": "Get a specific group.",
        "description": "Get information related to a specific group in the project. Returns a json object of type 'group' as specified in the models section.",
        "operationId": "Groups_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/groupName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the group with the specified name.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Groups_Get": {
            "$ref": "./examples/Groups_Get.json"
          }
        }
      },
      "put": {
        "summary": "Create a new group with specified settings.",
        "description": "Create a new group by sending a json object of type 'group' as given in Models section as part of the Request Body. The group name in a project is unique.\n\nThis operation is Idempotent.\n",
        "operationId": "Groups_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/groupName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "group",
            "description": "New or Updated Group object.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Existing group updated.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "201": {
            "description": "Created. New group was created.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Groups_Create": {
            "$ref": "./examples/Groups_Create.json"
          }
        }
      },
      "delete": {
        "summary": "Delete the group",
        "description": "Delete the group from the project. The machines remain in the project. Deleting a non-existent group results in a no-operation.\n\nA group is an aggregation mechanism for machines in a project. Therefore, deleting group does not delete machines in it.\n",
        "operationId": "Groups_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/groupName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Deleted the group.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            }
          },
          "204": {
            "description": "No content. No group with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Groups_Delete": {
            "$ref": "./examples/Groups_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/updateMachines": {
      "post": {
        "summary": "Update machines in group.",
        "description": "Update machines in group by adding or removing machines.",
        "operationId": "Groups_UpdateMachines",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/groupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "name": "groupUpdateProperties",
            "description": "Machines list to be added or removed from group.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateGroupBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Existing group updated.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Group"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments": {
      "get": {
        "summary": "Get all assessments created for the specified group.",
        "description": "Get all assessments created for the specified group.\n\nReturns a json array of objects of type 'assessment' as specified in Models section.\n",
        "operationId": "Assessments_ListByGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/groupName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns list of Assessment objects.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AssessmentResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Assessments_ListByGroup": {
            "$ref": "./examples/Assessments_ListByGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments": {
      "get": {
        "summary": "Get all assessments created in the project.",
        "description": "Get all assessments created in the project.\n\nReturns a json array of objects of type 'assessment' as specified in Models section.\n",
        "operationId": "Assessments_ListByProject",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns list of Assessment objects.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/AssessmentResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Assessments_ListByProject": {
            "$ref": "./examples/Assessments_ListByProject.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/groups/{groupName}/assessments/{assessmentName}": {
      "get": {
        "summary": "Get an assessment.",
        "description": "Get an existing assessment with the specified name. Returns a json object of type 'assessment' as specified in Models section.",
        "operationId": "Assessments_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/projectName"
          },
          {
            "$ref": "#/parameters/groupName"
          },
          {
            "$ref": "#/parameters/assessmentName"
          },
          {
            "$ref": "#/parameters/acceptLanguage"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns Assessment object.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/Assessment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Assessments_Get": {
            "$ref": "./examples/Assessments_Get.json"
          }
        }
      },
      "put": {
        "summary": "Create or Update assessment.",
        "description": "Create a new assessment with the given name and the specified settings. Since name of an assessment in a project is a unique identifier, if an assessment with the name provided already exists, then the existing assessment is updated.\n\nAny PUT operation, resulting in either create or update on an assessment, will cause the assessment to go in a \"InProgress\" state. This will be indicated by the field 'computationState' on the Assessment object. During this time no other PUT operation will be allowed on that assessment object, nor will a Delete operation. Once the computation for the assessment is complete, the field 'computationState' will be updated to 'Ready', and then other PUT or DELETE operations can happen on the assessment.\n\nWhen assessment is under computation, any PUT will lead to a 400 - Bad Request error.\n",
        "operationId": "Assessments_Create",
        "parameters": [
[...]
