{
  "swagger": "2.0",
  "info": {
    "title": "appliances",
    "version": "2022-10-27",
    "description": "The appliances Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Appliances"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceConnector/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceConnector/appliances": {
      "get": {
        "operationId": "Appliances_ListBySubscription",
        "tags": [
          "Appliances"
        ],
        "description": "Gets a list of Appliances in the specified subscription. The operation returns properties of each Appliance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Appliances by subscription": {
            "$ref": "./examples/Appliances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances": {
      "get": {
        "operationId": "Appliances_ListByResourceGroup",
        "tags": [
          "Appliances"
        ],
        "description": "Gets a list of Appliances in the specified subscription and resource group. The operation returns properties of each Appliance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplianceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Appliances by resource group": {
            "$ref": "./examples/Appliances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}": {
      "get": {
        "operationId": "Appliances_Get",
        "tags": [
          "Appliances"
        ],
        "description": "Gets the details of an Appliance with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Appliance": {
            "$ref": "./examples/Appliances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Appliances_CreateOrUpdate",
        "tags": [
          "Appliances"
        ],
        "description": "Creates or updates an Appliance in the specified Subscription and Resource Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create or update an Appliance.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Appliance"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Appliance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "201": {
            "description": "Resource 'Appliance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Appliance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create/Update Appliance": {
            "$ref": "./examples/Appliances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Appliances_Update",
        "tags": [
          "Appliances"
        ],
        "description": "Updates an Appliance with the specified Resource Name in the specified Resource Group and Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The updatable fields of an existing Appliance.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchableAppliance"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Appliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Appliance": {
            "$ref": "./examples/Appliances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Appliances_Delete",
        "tags": [
          "Appliances"
        ],
        "description": "Deletes an Appliance with the specified Resource Name, Resource Group, and Subscription Id.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Appliance": {
            "$ref": "./examples/Appliances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}/listClusterUserCredential": {
      "post": {
        "operationId": "Appliances_ListClusterUserCredential",
        "tags": [
          "Appliances"
        ],
        "description": "Returns the cluster user credentials for the dedicated appliance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplianceListCredentialResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListClusterUserCredentialAppliance": {
            "$ref": "./examples/Appliances_ListClusterUserCredential.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}/listKeys": {
      "post": {
        "operationId": "Appliances_ListKeys",
        "tags": [
          "Appliances"
        ],
        "description": "Returns the cluster customer credentials for the dedicated appliance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "artifactType",
            "in": "query",
            "description": "This sets the type of artifact being returned, when empty no artifact endpoint is returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplianceListKeysResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListKeys Appliance": {
            "$ref": "./examples/Appliances_ListKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceConnector/appliances/{resourceName}/upgradeGraphs/{upgradeGraph}/{subscriptionId}/{resourceGroupName}/{resourceName}/{upgradeGraph}": {
      "get": {
        "operationId": "Appliances_GetUpgradeGraph",
        "tags": [
          "Appliances"
        ],
        "summary": "Gets an Appliance upgrade graph.",
        "description": "Gets the upgrade graph of an Appliance with a specified resource group and name and specific release train.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Appliances name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "upgradeGraph",
            "in": "path",
            "description": "Upgrade graph version, ex - stable",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UpgradeGraph"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "Get Appliance Upgrade Graph": {
            "$ref": "./examples/Appliances_GetUpgradeGraph.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccessProfileType": {
      "type": "string",
      "description": "Name which contains the role of the kubeconfig.",
      "enum": [
        "clusterUser",
        "clusterCustomerUser"
      ],
      "x-ms-enum": {
        "name": "AccessProfileType",
        "modelAsString": true
      }
    },
    "Appliance": {
      "type": "object",
      "description": "Appliances definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplianceProperties",
          "description": "The set of properties specific to an Appliance",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ApplianceCredentialKubeconfig": {
      "type": "object",
      "description": "Cluster User Credential appliance.",
      "properties": {
        "name": {
          "$ref": "#/definitions/AccessProfileType",
          "description": "Name which contains the role of the kubeconfig.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Contains the kubeconfig value.",
          "readOnly": true
        }
      }
    },
    "ApplianceGetTelemetryConfigResult": {
      "type": "object",
      "description": "The Get Telemetry Config Result appliance.",
      "properties": {
        "telemetryInstrumentationKey": {
          "type": "string",
          "description": "Telemetry instrumentation key.",
          "readOnly": true
        }
      }
    },
    "ApplianceListCredentialResults": {
      "type": "object",
      "description": "The List Cluster User Credential appliance.",
      "properties": {
        "hybridConnectionConfig": {
          "$ref": "#/definitions/HybridConnectionConfig",
          "description": "Contains the REP (rendezvous endpoint) and “Listener” access token from notification service (NS).",
          "readOnly": true
        },
        "kubeconfigs": {
          "type": "array",
          "description": "The list of appliance kubeconfigs.",
          "items": {
            "$ref": "#/definitions/ApplianceCredentialKubeconfig"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "ApplianceListKeysResults": {
      "type": "object",
      "description": "The List Cluster Keys Results appliance.",
      "properties": {
        "artifactProfiles": {
          "type": "object",
          "description": "Map of artifacts that contains a list of ArtifactProfile used to upload artifacts such as logs.",
          "additionalProperties": {
            "$ref": "#/definitions/ArtifactProfile"
          },
          "readOnly": true
        },
        "kubeconfigs": {
          "type": "array",
          "description": "The list of appliance kubeconfigs.",
          "items": {
            "$ref": "#/definitions/ApplianceCredentialKubeconfig"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "sshKeys": {
          "type": "object",
          "description": "Map of Customer User Public, Private SSH Keys and Certificate when available.",
          "additionalProperties": {
            "$ref": "#/definitions/SSHKey"
          },
          "readOnly": true
        }
      }
    },
    "ApplianceListResult": {
      "type": "object",
      "description": "The response of a Appliance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Appliance items on this page",
          "items": {
            "$ref": "#/definitions/Appliance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplianceOperation": {
      "type": "object",
      "description": "Appliances operation.",
      "properties": {
        "display": {
          "$ref": "#/definitions/ApplianceOperationValueDisplay",
          "description": "Describes the properties of an Appliances Operation Value Display.",
          "x-ms-client-flatten": true
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Is this Operation a data plane operation",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the compute operation.",
          "readOnly": true
        },
        "origin": {
          "type": "string",
          "description": "The origin of the compute operation.",
          "readOnly": true
        }
      }
    },
    "ApplianceOperationValueDisplay": {
      "type": "object",
      "description": "Describes the properties of an Appliances Operation Value Display.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation.",
          "readOnly": true
        },
        "operation": {
          "type": "string",
          "description": "The display name of the compute operation.",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "description": "The resource provider for the operation.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "The display name of the resource the operation applies to.",
          "readOnly": true
        }
      }
    },
    "ApplianceOperationsList": {
      "type": "object",
      "description": "Lists of Appliances operations.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Next page of operations."
        },
        "value": {
          "type": "array",
          "description": "Array of applianceOperation",
          "items": {
            "$ref": "#/definitions/ApplianceOperation"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplianceProperties": {
      "type": "object",
      "description": "Properties for an appliance.",
      "properties": {
        "distro": {
          "$ref": "#/definitions/Distro",
          "description": "Represents a supported Fabric/Infra. (AKSEdge etc...).",
          "default": "AKSEdge"
        },
        "infrastructureConfig": {
          "$ref": "#/definitions/AppliancePropertiesInfrastructureConfig",
          "description": "Contains infrastructure information about the Appliance"
        },
        "provisioningState": {
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response.",
          "readOnly": true
        },
        "publicKey": {
          "type": "string",
          "description": "Certificates pair used to download MSI certificate from HIS. Can only be set once."
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "Appliance’s health and state of connection to on-prem",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of the Appliance"
        }
      }
    },
    "AppliancePropertiesInfrastructureConfig": {
      "type": "object",
      "description": "Contains infrastructure information about the Appliance",
      "properties": {
        "provider": {
          "$ref": "#/definitions/Provider",
          "description": "Information about the connected appliance."
        }
      }
    },
    "ArtifactProfile": {
      "type": "object",
      "description": "Appliance ArtifactProfile definition.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Endpoint is the URL to upload artifacts to.",
          "readOnly": true
        }
      }
    },
    "ArtifactType": {
      "type": "string",
      "description": "Appliance ArtifactType definition.",
      "enum": [
        "LogsArtifactType"
      ],
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true
      }
    },
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of the managed service identities assigned to this resource.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.Foundations.UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "Azure.ResourceManager.Foundations.UserAssignedIdentity": {
      "type": "object",
      "description": "A managed identity assigned by the user.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      }
    },
    "Distro": {
      "type": "string",
      "description": "Represents a supported Fabric/Infra. (AKSEdge etc...).",
      "enum": [
        "AKSEdge"
      ],
      "x-ms-enum": {
        "name": "Distro",
        "modelAsString": true
      }
    },
    "HybridConnectionConfig": {
      "type": "object",
      "description": "Contains the REP (rendezvous endpoint) and “Listener” access token from notification service (NS).",
      "properties": {
        "expirationTime": {
          "type": "integer",
          "format": "int64",
          "description": "Timestamp when this token will be expired.",
          "readOnly": true
        },
        "hybridConnectionName": {
          "type": "string",
          "description": "Name of the connection",
          "readOnly": true
        },
        "relay": {
          "type": "string",
          "description": "Name of the notification service.",
          "readOnly": true
        },
        "token": {
          "type": "string",
          "description": "Listener access token",
          "readOnly": true
        }
      }
    },
    "Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/ResourceIdentityType",
          "description": "The identity type."
        }
      }
    },
    "PatchableAppliance": {
      "type": "object",
      "description": "The Appliances patchable resource definition.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Provider": {
      "type": "string",
      "description": "Information about the connected appliance.",
      "enum": [
        "VMWare",
        "HCI",
        "SCVMM"
      ],
      "x-ms-enum": {
        "name": "Provider",
        "modelAsString": true
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "ResourceIdentityType": {
      "type": "string",
      "description": "The identity type.",
      "enum": [
        "SystemAssigned",
        "None"
      ],
      "x-ms-enum": {
        "name": "ResourceIdentityType",
        "modelAsString": true
      }
    },
    "SSHKey": {
      "type": "object",
      "description": "Appliance SSHKey definition.",
      "properties": {
        "certificate": {
          "type": "string",
          "description": "Certificate associated with the public key if the key is signed.",
          "readOnly": true
        },
        "creationTimeStamp": {
          "type": "integer",
          "format": "int64",
          "description": "Certificate creation timestamp (Unix).",
          "readOnly": true
        },
        "expirationTimeStamp": {
          "type": "integer",
          "format": "int64",
          "description": "Certificate expiration timestamp (Unix).",
          "readOnly": true
        },
        "privateKey": {
          "type": "string",
          "description": "Private Key.",
          "readOnly": true
        },
        "publicKey": {
          "type": "string",
          "description": "Public Key.",
          "readOnly": true
        }
      }
    },
    "SSHKeyType": {
      "type": "string",
      "description": "Appliance SSHKeyType definition.",
      "enum": [
        "SSHCustomerUser",
        "ManagementCAKey",
        "LogsKey",
        "ScopedAccessKey"
      ],
      "x-ms-enum": {
        "name": "SSHKeyType",
        "modelAsString": true
      }
    },
    "Status": {
      "type": "string",
      "description": "Appliance’s health and state of connection to on-prem",
      "enum": [
        "WaitingForHeartbeat",
        "Validating",
        "Connecting",
        "Connected",
        "Running",
        "PreparingForUpgrade",
        "ETCDSnapshotFailed",
        "UpgradePrerequisitesCompleted",
        "ValidatingSFSConnectivity",
        "ValidatingImageDownload",
        "ValidatingImageUpload",
        "ValidatingETCDHealth",
        "PreUpgrade",
        "UpgradingKVAIO",
        "WaitingForKVAIO",
        "ImagePending",
        "ImageProvisioning",
        "ImageProvisioned",
        "ImageDownloading",
        "ImageDownloaded",
        "ImageDeprovisioning",
        "ImageUnknown",
        "UpdatingCloudOperator",
        "WaitingForCloudOperator",
        "UpdatingCAPI",
        "UpdatingCluster",
        "PostUpgrade",
        "UpgradeComplete",
        "UpgradeClusterExtensionFailedToDelete",
        "UpgradeFailed",
        "Offline",
        "None"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true
      }
    },
    "SupportedVersion": {
      "type": "object",
      "description": "The SupportedVersion object for appliance.",
      "properties": {
        "metadata": {
          "$ref": "#/definitions/SupportedVersionMetadata",
          "description": "This is the metadata of the supported newer version.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The newer version available for upgrade.",
          "readOnly": true
        }
      }
    },
    "SupportedVersionCatalogVersion": {
      "type": "object",
      "description": "The SupportedVersionCatalogVersion object for appliance.",
      "properties": {
        "data": {
          "$ref": "#/definitions/SupportedVersionCatalogVersionData",
          "description": "The newer supported version catalog version data.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The catalog version name for the version available for upgrade.",
          "readOnly": true
        },
        "namespace": {
          "type": "string",
          "description": "The catalog version namespace for the version available for upgrade.",
          "readOnly": true
        }
      }
    },
    "SupportedVersionCatalogVersionData": {
      "type": "object",
      "description": "The SupportedVersionCatalogVersionData object for appliance.",
      "properties": {
        "audience": {
          "type": "string",
          "description": "The image audience name for the version available for upgrade.",
          "readOnly": true
        },
        "catalog": {
          "type": "string",
          "description": "The image catalog name for the version available for upgrade.",
          "readOnly": true
        },
        "offer": {
          "type": "string",
          "description": "The image offer name for the version available for upgrade.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The image version for the version available for upgrade.",
          "readOnly": true
        }
      }
    },
    "SupportedVersionMetadata": {
      "type": "object",
      "description": "The SupportedVersionMetadata object for appliance.",
      "properties": {
        "catalogVersion": {
          "$ref": "#/definitions/SupportedVersionCatalogVersion",
          "description": "The newer supported version catalog version.",
          "readOnly": true
        }
      }
    },
    "UpgradeGraph": {
      "type": "object",
      "description": "The Upgrade Graph for appliance.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The appliance resource path",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The release train name.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/UpgradeGraphProperties",
          "description": "The properties of supported version"
        }
      }
    },
    "UpgradeGraphProperties": {
      "type": "object",
      "description": "The Upgrade Graph Properties for appliance.",
      "properties": {
        "applianceVersion": {
          "type": "string",
          "description": "The current appliance version",
          "readOnly": true
        },
        "supportedVersions": {
          "type": "array",
          "description": "This contains the current version and supported upgrade versions.",
          "items": {
            "$ref": "#/definitions/SupportedVersion"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2022-10-27"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_10_27",
            "value": "2022-10-27",
            "description": "The 2022-10-27 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
