{
  "swagger": "2.0",
  "info": {
    "title": "Azure Machine Learning Workspaces",
    "version": "2021-10-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/skus": {
      "get": {
        "tags": [
          "Skus"
        ],
        "summary": "Lists all skus with associated features",
        "operationId": "WorkspaceSkus_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceTypeSkuPaginatedResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Skus": {
            "$ref": "./examples/WorkspaceSku/list.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SkuCapacity": {
      "required": [
        "minimum"
      ],
      "type": "object",
      "properties": {
        "minimum": {
          "format": "int32",
          "description": "Gets or sets the minimum.",
          "type": "integer"
        },
        "maximum": {
          "format": "int32",
          "description": "Gets or sets the maximum.",
          "type": "integer"
        },
        "default": {
          "format": "int32",
          "description": "Gets or sets the default.",
          "type": "integer"
        },
        "scaleType": {
          "description": "Gets or sets the type of the scale.",
          "enum": [
            "None",
            "Manual",
            "Automatic"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuScaleType",
            "modelAsString": true
          }
        }
      }
    },
    "SkuCost": {
      "required": [
        "meterId"
      ],
      "type": "object",
      "properties": {
        "meterId": {
          "description": "Gets or sets the meter Id.",
          "type": "string"
        },
        "quantity": {
          "format": "int32",
          "description": "Gets or sets the quantity.",
          "type": "integer"
        },
        "extendedUnit": {
          "description": "Gets or sets the extended unit.",
          "type": "string"
        }
      }
    },
    "SkuCapability": {
      "description": "The SKU capability",
      "required": [
        "name",
        "value"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the capability name.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the capability value.",
          "type": "string"
        }
      }
    },
    "SkuZoneDetail": {
      "description": "The SKU zone detail.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Gets or sets the physical zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capabilities": {
          "description": "Gets or sets the capabilities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCapability"
          }
        }
      }
    },
    "SkuExtendedLocationDetails": {
      "description": "The sku extended location details",
      "required": [
        "Name"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "Gets or sets the extended locations",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capabilities": {
          "description": "Gets or sets the capabilities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCapability"
          }
        }
      }
    },
    "SkuLocationInfo": {
      "description": "The SKU location info.",
      "required": [
        "location"
      ],
      "type": "object",
      "properties": {
        "location": {
          "description": "Gets or sets the location.",
          "type": "string"
        },
        "zones": {
          "description": "Gets or sets the physical availability zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zoneDetails": {
          "description": "Gets or sets the zone details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuZoneDetail"
          }
        },
        "extendedLocations": {
          "description": "Gets or sets the extended locations",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Gets or sets the type of extended locations",
          "enum": [
            "NotSpecified",
            "EdgeZone",
            "CustomLocation",
            "ArcZone"
          ],
          "type": "string"
        },
        "locationDetails": {
          "description": "Gets or sets the location details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuExtendedLocationDetails"
          }
        },
        "isSpotRestricted": {
          "description": "Gets or sets the Spot restricted flag.",
          "type": "boolean"
        }
      }
    },
    "SkuSetting": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the SKU name.",
          "type": "string"
        },
        "tier": {
          "description": "Gets or sets the SKU tier.",
          "type": "string"
        },
        "size": {
          "description": "Gets or sets the SKU size.",
          "type": "string"
        },
        "family": {
          "description": "Gets or sets the SKU family.",
          "type": "string"
        },
        "kind": {
          "description": "Gets or sets the SKU kind.",
          "type": "string"
        },
        "requiredQuotaIds": {
          "description": "Gets or sets the quota Ids SKU supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredFeatures": {
          "description": "Gets or sets the required features.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "capacity": {
          "$ref": "#/definitions/SkuCapacity"
        },
        "costs": {
          "description": "Gets or sets the SKU costs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCost"
          }
        },
        "capabilities": {
          "description": "Gets or sets the SKU capabilities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuCapability"
          }
        },
        "locationInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuLocationInfo"
          }
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResourceTypeSku": {
      "description": "The resource type SKU",
      "required": [
        "resourceType",
        "skus"
      ],
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Gets or sets the resource type name.",
          "type": "string"
        },
        "skus": {
          "description": "Gets or sets the SKU settings.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuSetting"
          }
        }
      }
    },
    "ResourceTypeSkuPaginatedResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceTypeSku"
          }
        },
        "continuationToken": {
          "type": "string"
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow."
    }
  }
}
