{
  "swagger": "2.0",
  "info": {
    "title": "ManagedServiceIdentityClient",
    "version": "2024-11-30",
    "description": "The Managed Service Identity Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SystemAssignedIdentities"
    },
    {
      "name": "Identities"
    },
    {
      "name": "FederatedIdentityCredentials"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.ManagedIdentity/identities/default/{scope}": {
      "get": {
        "operationId": "SystemAssignedIdentities_GetByScope",
        "tags": [
          "SystemAssignedIdentities"
        ],
        "description": "Gets the systemAssignedIdentity available under the specified RP scope.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The resource provider scope of the resource. Parent resource being extended by Managed Identities.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SystemAssignedIdentity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MsiOperationsList": {
            "$ref": "./examples/SystemAssignedIdentityGet.json"
          }
        }
      }
    },
    "/providers/Microsoft.ManagedIdentity/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MsiOperationsList": {
            "$ref": "./examples/MsiOperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedIdentity/userAssignedIdentities": {
      "get": {
        "operationId": "UserAssignedIdentities_ListBySubscription",
        "tags": [
          "Identities"
        ],
        "description": "Lists all the userAssignedIdentities available under the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityListBySubscription": {
            "$ref": "./examples/IdentityListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities": {
      "get": {
        "operationId": "UserAssignedIdentities_ListByResourceGroup",
        "tags": [
          "Identities"
        ],
        "description": "Lists all the userAssignedIdentities available under the specified ResourceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityListByResourceGroup": {
            "$ref": "./examples/IdentityListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}": {
      "get": {
        "operationId": "UserAssignedIdentities_Get",
        "tags": [
          "Identities"
        ],
        "description": "Gets the identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityGet": {
            "$ref": "./examples/IdentityGet.json"
          }
        }
      },
      "put": {
        "operationId": "UserAssignedIdentities_CreateOrUpdate",
        "tags": [
          "Identities"
        ],
        "description": "Create or update an identity in the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to create or update the identity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Identity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "201": {
            "description": "Resource 'Identity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityCreate": {
            "$ref": "./examples/IdentityCreate.json"
          }
        }
      },
      "patch": {
        "operationId": "UserAssignedIdentities_Update",
        "tags": [
          "Identities"
        ],
        "description": "Update an identity in the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to update the identity",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityUpdate": {
            "$ref": "./examples/IdentityUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "UserAssignedIdentities_Delete",
        "tags": [
          "Identities"
        ],
        "description": "Deletes the identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityDelete": {
            "$ref": "./examples/IdentityDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials": {
      "get": {
        "operationId": "FederatedIdentityCredentials_List",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Lists all the federated identity credentials under the specified user assigned identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredentialListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FederatedIdentityCredentialList": {
            "$ref": "./examples/FederatedIdentityCredentialList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{resourceName}/federatedIdentityCredentials/{federatedIdentityCredentialResourceName}": {
      "get": {
        "operationId": "FederatedIdentityCredentials_Get",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Gets the federated identity credential.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "federatedIdentityCredentialResourceName",
            "in": "path",
            "description": "The name of the federated identity credential resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FederatedIdentityCredentialGet": {
            "$ref": "./examples/FederatedIdentityCredentialGet.json"
          }
        }
      },
      "put": {
        "operationId": "FederatedIdentityCredentials_CreateOrUpdate",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Create or update a federated identity credential under the specified user assigned identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "federatedIdentityCredentialResourceName",
            "in": "path",
            "description": "The name of the federated identity credential resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters to create or update the federated identity credential.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FederatedIdentityCredential' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          },
          "201": {
            "description": "Resource 'FederatedIdentityCredential' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FederatedIdentityCredentialCreate": {
            "$ref": "./examples/FederatedIdentityCredentialCreate.json"
          }
        }
      },
      "delete": {
        "operationId": "FederatedIdentityCredentials_Delete",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Deletes the federated identity credential.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "federatedIdentityCredentialResourceName",
            "in": "path",
            "description": "The name of the federated identity credential resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FederatedIdentityCredentialDelete": {
            "$ref": "./examples/FederatedIdentityCredentialDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "FederatedIdentityCredential": {
      "type": "object",
      "description": "Describes a federated identity credential.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FederatedIdentityCredentialProperties",
          "description": "The properties associated with the federated identity credential.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "FederatedIdentityCredentialListResult": {
      "type": "object",
      "description": "The response of a FederatedIdentityCredential list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FederatedIdentityCredential items on this page",
          "items": {
            "$ref": "#/definitions/FederatedIdentityCredential"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FederatedIdentityCredentialProperties": {
      "type": "object",
      "description": "The properties associated with a federated identity credential.",
      "properties": {
        "issuer": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the issuer to be trusted."
        },
        "subject": {
          "type": "string",
          "description": "The identifier of the external identity."
        },
        "audiences": {
          "type": "array",
          "description": "The list of audiences that can appear in the issued token.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "issuer",
        "subject",
        "audiences"
      ]
    },
    "Identity": {
      "type": "object",
      "description": "Describes an identity resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UserAssignedIdentityProperties",
          "description": "The properties associated with the identity.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "IdentityListResult": {
      "type": "object",
      "description": "The response of a Identity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Identity items on this page",
          "items": {
            "$ref": "#/definitions/Identity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IdentityUpdate": {
      "type": "object",
      "description": "Describes an identity resource.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "properties": {
          "$ref": "#/definitions/UserAssignedIdentityProperties",
          "description": "The properties associated with the identity.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "IsolationScope": {
      "type": "string",
      "description": "Enum to configure regional restrictions on identity assignment, as necessary.",
      "enum": [
        "None",
        "Regional"
      ],
      "x-ms-enum": {
        "name": "IsolationScope",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "Regional",
            "value": "Regional"
          }
        ]
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "SystemAssignedIdentity": {
      "type": "object",
      "description": "Describes a system assigned identity resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SystemAssignedIdentityProperties",
          "description": "The properties associated with the identity.",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SystemAssignedIdentityProperties": {
      "type": "object",
      "description": "The properties associated with the system assigned identity.",
      "properties": {
        "tenantId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the tenant which the identity belongs to.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the service principal object associated with the created identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the app associated with the identity. This is a random generated UUID by MSI.",
          "readOnly": true
        },
        "clientSecretUrl": {
          "type": "string",
          "description": "The ManagedServiceIdentity DataPlane URL that can be queried to obtain the identity credentials.",
          "readOnly": true
        }
      }
    },
    "UserAssignedIdentityProperties": {
      "type": "object",
      "description": "The properties associated with the user assigned identity.",
      "properties": {
        "tenantId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the tenant which the identity belongs to.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the service principal object associated with the created identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "format": "uuid",
          "description": "The id of the app associated with the identity. This is a random generated UUID by MSI.",
          "readOnly": true
        },
        "isolationScope": {
          "$ref": "#/definitions/IsolationScope",
          "description": "Enum to configure regional restrictions on identity assignment, as necessary.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
