{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-04-preview",
    "title": "DataCollaborationManagementClient",
    "description": "Creates a Microsoft.DataCollaboration management client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.DataCollaboration/ListInvitations": {
      "get": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "List the invitations",
        "description": "Lists invitations",
        "operationId": "ConsumerInvitations_ListInvitations",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConsumerInvitations_ListInvitations": {
            "$ref": "./examples/ConsumerInvitations_ListInvitations.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataCollaboration/locations/{location}/consumerInvitations/{invitationId}": {
      "get": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "Gets the invitation identified by invitationId",
        "description": "Get an invitation",
        "operationId": "ConsumerInvitations_Get",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the invitation",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "An invitation id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_Get": {
            "$ref": "./examples/ConsumerInvitations_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataCollaboration/locations/{location}/RejectInvitation": {
      "post": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "Rejects the invitation identified by invitationId",
        "description": "Reject an invitation",
        "operationId": "ConsumerInvitations_RejectInvitation",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the invitation",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitation",
            "in": "body",
            "description": "An invitation payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_RejectInvitation": {
            "$ref": "./examples/ConsumerInvitations_RejectInvitation.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataCollaboration/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Lists the available operations",
        "description": "List of available operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataCollaboration/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List Workspaces in a subscription",
        "description": "List Workspaces in Subscription",
        "operationId": "Workspaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workspaces_ListBySubscription": {
            "$ref": "./examples/Workspaces_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List Workspaces in a resource group",
        "description": "List Workspaces in ResourceGroup",
        "operationId": "Workspaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workspaces_ListByResourceGroup": {
            "$ref": "./examples/Workspaces_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Get a workspace under a resource group",
        "description": "Get a workspace",
        "operationId": "Workspaces_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Workspaces_Get": {
            "$ref": "./examples/Workspaces_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Create an workspace in the given resource group",
        "description": "Create an workspace",
        "operationId": "Workspaces_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "workspace",
            "in": "body",
            "description": "The workspace payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Workspaces_Create": {
            "$ref": "./examples/Workspaces_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Delete a workspace",
        "description": "DeleteWorkspace",
        "operationId": "Workspaces_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Workspaces_Delete": {
            "$ref": "./examples/Workspaces_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "summary": "Patch a given workspace",
        "description": "Patch an workspace",
        "operationId": "Workspaces_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "workspaceUpdateParameters",
            "in": "body",
            "description": "The workspace update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkspaceUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Workspaces_Update": {
            "$ref": "./examples/Workspaces_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets": {
      "get": {
        "tags": [
          "DataAsset"
        ],
        "summary": "List of available DataAssets under a workspace.",
        "description": "List data assets in a workspace",
        "operationId": "DataAssets_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataAssets_ListByWorkspace": {
            "$ref": "./examples/DataAssets_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets/{dataAssetName}": {
      "get": {
        "tags": [
          "DataAsset"
        ],
        "summary": "Get a DataAsset in a workspace.",
        "description": "Get a DataAsset in a Workspace",
        "operationId": "DataAssets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the dataAssetName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssets_Get": {
            "$ref": "./examples/DataAssets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataAsset"
        ],
        "summary": "Adds a new DataAsset to an existing Workspace",
        "description": "Create a DataAsset",
        "operationId": "DataAssets_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataAsset",
            "in": "body",
            "description": "The new DataAsset information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssets_Create": {
            "$ref": "./examples/DataAssets_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataAsset"
        ],
        "summary": "Delete a DataAsset in a workspace.",
        "description": "Delete a DataAsset in a Workspace",
        "operationId": "DataAssets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataAssets_Delete": {
            "$ref": "./examples/DataAssets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets/{dataAssetName}/dataSets": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "List DataSets in a DataAsset.",
        "description": "List DataSets in a DataAsset",
        "operationId": "DataSets_ListByDataAsset",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataSets_ListByDataAsset": {
            "$ref": "./examples/DataSets_ListByDataAsset.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets/{dataAssetName}/dataSets/{dataSetCategory}": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get a DataSet in a DataAsset.",
        "description": "Get a DataSet in a DataAsset",
        "operationId": "DataSets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetCategory",
            "in": "path",
            "description": "The usage category name of the DataSet",
            "required": true,
            "type": "string",
            "enum": [
              "Production",
              "Sample"
            ]
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Get": {
            "$ref": "./examples/DataSets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataSet"
        ],
        "summary": "Adds a new DataSet to an existing DataAsset",
        "description": "Create a DataSet",
        "operationId": "DataSets_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetCategory",
            "in": "path",
            "description": "The usage category name of the DataSet",
            "required": true,
            "type": "string",
            "enum": [
              "Production",
              "Sample"
            ]
          },
          {
            "name": "dataSet",
            "in": "body",
            "description": "The new DataSet information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Create": {
            "$ref": "./examples/DataSets_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataSet"
        ],
        "summary": "Delete a DataSet in a DataAsset.",
        "description": "Delete a DataSet in a DataAsset",
        "operationId": "DataSets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetCategory",
            "in": "path",
            "description": "The usage category name of the DataSet",
            "required": true,
            "type": "string",
            "enum": [
              "Production",
              "Sample"
            ]
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataSets_Delete": {
            "$ref": "./examples/DataSets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines": {
      "get": {
        "tags": [
          "Pipeline"
        ],
        "summary": "List Pipelines in a Workspace.",
        "description": "List Pipelines in a Workspace",
        "operationId": "Pipelines_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Pipelines_ListByWorkspace": {
            "$ref": "./examples/Pipelines_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}": {
      "get": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Get Pipeline in a workspace.",
        "description": "Get a Pipeline in a workspace",
        "operationId": "Pipelines_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Pipelines_Get": {
            "$ref": "./examples/Pipelines_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Adds a new pipeline to an existing workspace.",
        "description": "Create a Pipeline",
        "operationId": "Pipelines_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipeline",
            "in": "body",
            "description": "The new pipeline information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Pipelines_Create": {
            "$ref": "./examples/Pipelines_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Delete a Pipeline in a workspace.",
        "description": "Delete a Pipeline in a Workspace",
        "operationId": "Pipelines_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Pipelines_Delete": {
            "$ref": "./examples/Pipelines_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}/pipelineSteps": {
      "get": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "List PipelineSteps of a Pipeline.\r\n///",
        "description": "List PipelineSteps of a Pipeline",
        "operationId": "PipelineSteps_ListByPipeline",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStepList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PipelineSteps_ListByPipeline": {
            "$ref": "./examples/PipelineSteps_ListByPipeline.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}/pipelineSteps/{pipelineStepName}": {
      "get": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "Get a PipelineStep in a Pipeline.",
        "description": "Get a PipelineStep in a Pipeline",
        "operationId": "PipelineSteps_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepName",
            "in": "path",
            "description": "The name of the pipeline step.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "PipelineSteps_Get": {
            "$ref": "./examples/PipelineSteps_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "Adds a new PipelineStep to an existing Pipeline.",
        "description": "Create a PipelineStep",
        "operationId": "PipelineSteps_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepName",
            "in": "path",
            "description": "The name of the pipeline step.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStep",
            "in": "body",
            "description": "The new pipeline information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "PipelineSteps_Create": {
            "$ref": "./examples/PipelineSteps_Create.json"
          },
          "PipelineSteps_SynapseSpark_Create": {
            "$ref": "./examples/PipelineSteps_SynapseSpark_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "Delete a PipelineStep in a Pipeline.",
        "description": "Delete a PipelineStep in a Pipeline",
        "operationId": "PipelineSteps_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepName",
            "in": "path",
            "description": "The name of the pipeline step.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PipelineSteps_Delete": {
            "$ref": "./examples/PipelineSteps_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "summary": "List Proposals in a Workspace.",
        "description": "List Proposals in a Workspace",
        "operationId": "Proposals_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProposalList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Proposals_ListByWorkspace": {
            "$ref": "./examples/Proposals_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "summary": "Get a Proposal in a Workspace.",
        "description": "Get a Proposal in a Workspace",
        "operationId": "Proposals_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Proposals_Get": {
            "$ref": "./examples/Proposals_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Proposal"
        ],
        "summary": "Adds a new Proposal to an existing Workspace.",
        "description": "Create a Proposal in a Workspace ",
        "operationId": "Proposals_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "proposal",
            "in": "body",
            "description": "The new proposal information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Proposals_Create": {
            "$ref": "./examples/Proposals_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Proposal"
        ],
        "summary": "Delete a Proposal in a Workspace.",
        "description": "Delete a Proposal in a Workspace",
        "operationId": "Proposals_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Proposals_Delete": {
            "$ref": "./examples/Proposals_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/dataAssetReferences": {
      "get": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "List DataAssetReference in a Proposal.",
        "description": "List Proposals in a Workspace",
        "operationId": "DataAssetReferences_ListByProposal",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReferenceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataAssetReferences_ListByProposal": {
            "$ref": "./examples/DataAssetReferences_ListByProposal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/dataAssetReferences/{referenceName}": {
      "get": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Get a DataAssetReference in a Proposal.",
        "description": "Get a DataAssetReference in a Proposal",
        "operationId": "DataAssetReferences_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssetReferences_Get": {
            "$ref": "./examples/DataAssetReferences_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Adds a new DataAssetReference to a Proposal.",
        "description": "Create a DataAssetReference in a Workspace ",
        "operationId": "DataAssetReferences_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataAssetReference",
            "in": "body",
            "description": "The new dataset reference information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssetReferences_Create": {
            "$ref": "./examples/DataAssetReferences_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Delete a DataAssetReference in a Proposal.",
        "description": "Delete a DataAssetReference in a Workspace",
        "operationId": "DataAssetReferences_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataAssetReferences_Delete": {
            "$ref": "./examples/DataAssetReferences_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "List entitlements in a proposal.",
        "description": "List entitlements in a proposal",
        "operationId": "Entitlements_ListByProposal",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EntitlementList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Entitlements_ListByProposal": {
            "$ref": "./examples/Entitlements_ListByProposal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements/{entitlementName}": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Get an entitlement from a proposal.",
        "description": "Get an entitlement in a proposal",
        "operationId": "Entitlements_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Entitlements_Get": {
            "$ref": "./examples/Entitlements_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Adds a new entitlement to a proposal.",
        "description": "Create an entitlement in a proposal",
        "operationId": "Entitlements_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlement",
            "in": "body",
            "description": "The new entitlement information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Entitlements_Create": {
            "$ref": "./examples/Entitlements_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Delete an entitlement in a proposal.",
        "description": "Delete an entitlement from a proposal",
        "operationId": "Entitlements_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Entitlements_Delete": {
            "$ref": "./examples/Entitlements_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements/{entitlementName}/constraints": {
      "get": {
        "tags": [
          "Constraint"
        ],
        "summary": "List constraints in an entitlement.",
        "description": "List constraints in an entitlement",
        "operationId": "Constraints_ListByEntitlement",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConstraintList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Constraints_ListByEntitlement": {
            "$ref": "./examples/Constraints_ListByEntitlement.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements/{entitlementName}/constraints/{constraintName}": {
      "get": {
        "tags": [
          "Constraint"
        ],
        "summary": "Get a constraint In an entitlement.",
        "description": "Get a constraint from an entitlement",
        "operationId": "Constraints_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraintName",
            "in": "path",
            "description": "The name of the constraint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Constraint"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Constraints_Get": {
            "$ref": "./examples/Constraints_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Constraint"
        ],
        "summary": "Adds a new constraint to an entitlement.",
        "description": "Create a constraint in an entitlement ",
        "operationId": "Constraints_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraintName",
            "in": "path",
            "description": "The name of the constraint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraint",
            "in": "body",
            "description": "The new constraint information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Constraint"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Constraint"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Constraint"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Constraints_Create": {
            "$ref": "./examples/Constraints_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Constraint"
        ],
        "summary": "Delete a constraint from an entitlement.",
        "description": "Delete a constraint from an entitlement",
        "operationId": "Constraints_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraintName",
            "in": "path",
            "description": "The name of the constraint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Constraints_Delete": {
            "$ref": "./examples/Constraints_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/invitations": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "summary": "List all Invitations in a proposal.",
        "description": "List invitations in a proposal",
        "operationId": "Invitations_ListByProposal",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvitationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Invitations_ListByProposal": {
            "$ref": "./examples/Invitations_ListByProposal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/invitations/{invitationName}": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "summary": "Get Invitation in a proposal.",
        "description": "Get an invitation in a proposal",
        "operationId": "Invitations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Get": {
            "$ref": "./examples/Invitations_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Invitation"
        ],
        "summary": "Sends a new invitation to a recipient to access a proposal.",
        "description": "Create an invitation ",
        "operationId": "Invitations_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal to send the invitation for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitation",
            "in": "body",
            "description": "Invitation details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Create": {
            "$ref": "./examples/Invitations_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Invitation"
        ],
        "summary": "Delete Invitation in a proposal.",
        "description": "Delete an invitation in a proposal",
        "operationId": "Invitations_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Delete": {
            "$ref": "./examples/Invitations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/scriptReferences": {
      "get": {
        "tags": [
          "ScriptReference"
        ],
        "summary": "List ScriptReference in a Proposal.",
        "description": "List Proposals in a Workspace",
        "operationId": "ScriptReferences_ListByProposal",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScriptReferenceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ScriptReferences_ListByProposal": {
            "$ref": "./examples/ScriptReferences_ListByProposal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/scriptReferences/{referenceName}": {
      "get": {
        "tags": [
          "ScriptReference"
        ],
        "summary": "Get a ScriptReference in a Proposal.",
        "description": "Get a ScriptReference in a Proposal",
        "operationId": "ScriptReferences_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScriptReference"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ScriptReferences_Get": {
            "$ref": "./examples/ScriptReferences_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ScriptReference"
        ],
        "summary": "Adds a new ScriptReference to a Proposal.",
        "description": "Create a ScriptReference in a Workspace ",
        "operationId": "ScriptReferences_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scriptReference",
            "in": "body",
            "description": "The new script reference information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScriptReference"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScriptReference"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScriptReference"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ScriptReferences_Create": {
            "$ref": "./examples/ScriptReferences_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ScriptReference"
        ],
        "summary": "Delete a ScriptReference in a Proposal.",
        "description": "Delete a ScriptReference in a Workspace",
        "operationId": "ScriptReferences_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ScriptReferences_Delete": {
            "$ref": "./examples/ScriptReferences_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/scripts": {
      "get": {
        "tags": [
          "Script"
        ],
        "summary": "List Scripts in a Workspace.",
        "description": "List Scripts in a Workspace",
        "operationId": "Scripts_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScriptList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Scripts_ListByWorkspace": {
            "$ref": "./examples/Scripts_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/scripts/{scriptName}": {
      "get": {
        "tags": [
          "Script"
        ],
        "summary": "Get Script in a workspace.",
        "description": "Get a Script in a Workspace",
        "operationId": "Scripts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "scriptName",
            "in": "path",
            "description": "The name of the script.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Script"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Scripts_Get": {
            "$ref": "./examples/Scripts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Script"
        ],
        "summary": "Adds a new script or update an existing script to an existing workspace.\r\nAlso, adds a new a revision for an existing script or create the first revision for a new script.",
        "description": "Create a Script in a Workspace ",
        "operationId": "Scripts_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "scriptName",
            "in": "path",
            "description": "The name of the script.",
            "required": true,
            "type": "string"
          },
          {
            "name": "script",
            "in": "body",
            "description": "The new script information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Script"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Script"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Script"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Scripts_Create": {
            "$ref": "./examples/Scripts_Create.json"
          },
          "Scripts_SynapseSpark_Create": {
            "$ref": "./examples/Scripts_SynapseSpark_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Script"
        ],
        "summary": "Delete a Script and all it's revisions in a workspace.",
        "description": "Delete a Script in a Workspace",
        "operationId": "Scripts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "scriptName",
            "in": "path",
            "description": "The name of the script.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Scripts_Delete": {
            "$ref": "./examples/Scripts_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/scripts/{scriptName}/scriptRevisions": {
      "get": {
        "tags": [
          "Script"
        ],
        "summary": "List revisions of a Script.\r\n///",
        "description": "List revisions of a Script",
        "operationId": "ScriptRevisions_ListByScript",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "scriptName",
            "in": "path",
            "description": "The name of the script.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScriptList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ScriptRevisions_ListByScript": {
            "$ref": "./examples/ScriptRevisions_ListByScript.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/scripts/{scriptName}/scriptRevisions/{revision}": {
      "get": {
        "tags": [
          "Script"
        ],
        "summary": "Get a Script's revision in a Workspace.",
        "description": "Get a Script's revision in a Workspace",
        "operationId": "ScriptRevisions_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "scriptName",
            "in": "path",
            "description": "The name of the script.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revision",
            "in": "path",
            "description": "The revision of the script.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Script"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.Ci resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ScriptRevisions_Get": {
            "$ref": "./examples/ScriptRevisions_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ADLSGen2FileDataSet": {
      "description": "An ADLS Gen 2 file data set.",
      "required": [
        "properties",
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DataSet"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ADLSGen2FileProperties",
          "description": "AdlsGen2File data source properties.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-discriminator-value": "AdlsGen2File"
    },
    "ADLSGen2FileProperties": {
      "description": "Properties of the ADLS Gen2 file data set.",
      "required": [
        "fileSystem",
        "filePath",
        "subscriptionId",
        "resourceGroup",
        "storageAccountName"
      ],
      "type": "object",
      "properties": {
        "filePath": {
          "description": "File path within the file system.",
          "type": "string"
        },
        "fileSystem": {
          "description": "File system to which the file belongs.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Resource group of storage account",
          "type": "string"
        },
        "storageAccountName": {
          "description": "Storage account name of the source data set",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Subscription id of storage account",
          "type": "string"
        }
      }
    },
    "ADLSGen2FileSystemDataSet": {
      "description": "An ADLS Gen 2 file system data set.",
      "required": [
        "properties",
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DataSet"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ADLSGen2FileSystemProperties",
          "description": "AdlsGen2FileSystem data source properties.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-discriminator-value": "AdlsGen2FileSystem"
    },
    "ADLSGen2FileSystemProperties": {
      "description": "Properties of the ADLS Gen2 file system data set.",
      "required": [
        "fileSystem",
        "subscriptionId",
        "resourceGroup",
        "storageAccountName"
      ],
      "type": "object",
      "properties": {
        "fileSystem": {
          "description": "The file system name.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Resource group of storage account",
          "type": "string"
        },
        "storageAccountName": {
          "description": "Storage account name of the source data set",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Subscription id of storage account",
          "type": "string"
        }
      }
    },
    "ADLSGen2FolderDataSet": {
      "description": "An ADLS Gen 2 folder data set.",
      "required": [
        "properties",
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DataSet"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ADLSGen2FolderProperties",
          "description": "AdlsGen2FileSystem data source properties.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-discriminator-value": "AdlsGen2Folder"
    },
    "ADLSGen2FolderProperties": {
      "description": "Properties of the ADLS Gen2 folder data set.",
      "required": [
        "fileSystem",
        "folderPath",
        "subscriptionId",
        "resourceGroup",
        "storageAccountName"
      ],
      "type": "object",
      "properties": {
        "fileSystem": {
          "description": "File system to which the folder belongs.",
          "type": "string"
        },
        "folderPath": {
          "description": "Folder path within the file system.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Resource group of storage account",
          "type": "string"
        },
        "storageAccountName": {
          "description": "Storage account name of the source data set",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Subscription id of storage account",
          "type": "string"
        }
      }
    },
    "BlobContainerDataSet": {
      "description": "An Azure storage blob container data set.",
      "required": [
        "properties",
        "kind"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DataSet"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BlobContainerProperties",
[...]
