{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-04-preview",
    "title": "DataCollaborationManagementClient",
    "description": "Creates a Microsoft.DataCollaboration management client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.DataCollaboration/listInvitations": {
      "get": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "List the invitations",
        "description": "Lists invitations",
        "operationId": "ConsumerInvitations_ListInvitations",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConsumerInvitations_ListInvitations": {
            "$ref": "./examples/ConsumerInvitations_ListInvitations.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataCollaboration/locations/{location}/consumerInvitations/{invitationId}": {
      "get": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "Gets the invitation identified by invitationId",
        "description": "Get an invitation",
        "operationId": "ConsumerInvitations_Get",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the invitation",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "An invitation id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_Get": {
            "$ref": "./examples/ConsumerInvitations_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataCollaboration/locations/{location}/consumerInvitations/{invitationId}/reject": {
      "post": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "Rejects the invitation identified by invitationId",
        "description": "Reject an invitation",
        "operationId": "ConsumerInvitations_RejectInvitation",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the invitation",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "An invitation id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_RejectInvitation": {
            "$ref": "./examples/ConsumerInvitations_RejectInvitation.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataCollaboration/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Lists the available operations",
        "description": "List of available operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataCollaboration/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List Workspaces in a subscription",
        "description": "List Workspaces in Subscription",
        "operationId": "Workspaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workspaces_ListBySubscription": {
            "$ref": "./examples/Workspaces_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "List Workspaces in a resource group",
        "description": "List Workspaces in ResourceGroup",
        "operationId": "Workspaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workspaces_ListByResourceGroup": {
            "$ref": "./examples/Workspaces_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "summary": "Get a workspace under a resource group",
        "description": "Get a workspace",
        "operationId": "Workspaces_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Workspaces_Get": {
            "$ref": "./examples/Workspaces_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "summary": "Create an workspace in the given resource group",
        "description": "Create or update an workspace",
        "operationId": "Workspaces_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "workspace",
            "in": "body",
            "description": "The workspace payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Workspaces_CreateOrUpdate": {
            "$ref": "./examples/Workspaces_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "summary": "Delete a workspace",
        "description": "DeleteWorkspace",
        "operationId": "Workspaces_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Workspaces_Delete": {
            "$ref": "./examples/Workspaces_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "summary": "Patch a given workspace",
        "description": "Patch an workspace",
        "operationId": "Workspaces_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "workspaceUpdateParameters",
            "in": "body",
            "description": "The workspace update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkspaceUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Workspaces_Update": {
            "$ref": "./examples/Workspaces_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/constrainedResources": {
      "get": {
        "tags": [
          "ConstrainedResource"
        ],
        "summary": "List constrained resources in a Workspace.",
        "description": "List constrained resources in a Workspace",
        "operationId": "ConstrainedResources_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConstrainedResourceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConstrainedResources_ListByWorkspace": {
            "$ref": "./examples/ConstrainedResources_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/constrainedResources/{constrainedResourceName}": {
      "get": {
        "tags": [
          "ConstrainedResource"
        ],
        "summary": "Get a constrained resource in a workspace.",
        "description": "Get a ConstrainedResource in a Workspace",
        "operationId": "ConstrainedResources_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "constrainedResourceName",
            "in": "path",
            "description": "The name of the constrained resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConstrainedResource"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "ConstrainedResources_Get": {
            "$ref": "./examples/ConstrainedResources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ConstrainedResource"
        ],
        "summary": "Adds a new constrained resource or update an existing constrained resource to an existing workspace.",
        "description": "Create or update a constrained resource in a Workspace ",
        "operationId": "ConstrainedResources_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "constrainedResourceName",
            "in": "path",
            "description": "The name of the constrained resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constrainedResource",
            "in": "body",
            "description": "The new constrained resource information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConstrainedResource"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "force",
            "in": "query",
            "description": "Whether to force resource update",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConstrainedResource"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ConstrainedResource"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConstrainedResources_CreateOrUpdate": {
            "$ref": "./examples/ConstrainedResources_CreateOrUpdate.json"
          },
          "ConstrainedResources_SynapseSparkPool_CreateOrUpdate": {
            "$ref": "./examples/ConstrainedResources_SynapseSparkPool_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ConstrainedResource"
        ],
        "summary": "Delete a constrained resource in a workspace.",
        "description": "Delete a ConstrainedResource in a Workspace",
        "operationId": "ConstrainedResources_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "constrainedResourceName",
            "in": "path",
            "description": "The name of the constrained resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConstrainedResources_Delete": {
            "$ref": "./examples/ConstrainedResources_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets": {
      "get": {
        "tags": [
          "DataAsset"
        ],
        "summary": "List of available DataAssets under a workspace.",
        "description": "List data assets in a workspace",
        "operationId": "DataAssets_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataAssets_ListByWorkspace": {
            "$ref": "./examples/DataAssets_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets/{dataAssetName}": {
      "get": {
        "tags": [
          "DataAsset"
        ],
        "summary": "Get a DataAsset in a workspace.",
        "description": "Get a DataAsset in a Workspace",
        "operationId": "DataAssets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the dataAssetName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssets_Get": {
            "$ref": "./examples/DataAssets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataAsset"
        ],
        "summary": "Adds a new DataAsset to an existing Workspace",
        "description": "Create or update a DataAsset",
        "operationId": "DataAssets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataAsset",
            "in": "body",
            "description": "The new DataAsset information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssets_CreateOrUpdate": {
            "$ref": "./examples/DataAssets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataAsset"
        ],
        "summary": "Delete a DataAsset in a workspace.",
        "description": "Delete a DataAsset in a Workspace",
        "operationId": "DataAssets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataAssets_Delete": {
            "$ref": "./examples/DataAssets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets/{dataAssetName}/dataSets": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "List DataSets in a DataAsset.",
        "description": "List DataSets in a DataAsset",
        "operationId": "DataSets_ListByDataAsset",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataSets_ListByDataAsset": {
            "$ref": "./examples/DataSets_ListByDataAsset.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/dataAssets/{dataAssetName}/dataSets/{dataSetCategory}": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get a DataSet in a DataAsset.",
        "description": "Get a DataSet in a DataAsset",
        "operationId": "DataSets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetCategory",
            "in": "path",
            "description": "The usage category name of the DataSet",
            "required": true,
            "type": "string",
            "enum": [
              "Production",
              "Sample"
            ],
            "x-ms-enum": {
              "name": "dataSetCategoryType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Get": {
            "$ref": "./examples/DataSets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataSet"
        ],
        "summary": "Adds a new DataSet to an existing DataAsset",
        "description": "Create or update a DataSet",
        "operationId": "DataSets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetCategory",
            "in": "path",
            "description": "The usage category name of the DataSet",
            "required": true,
            "type": "string",
            "enum": [
              "Production",
              "Sample"
            ],
            "x-ms-enum": {
              "name": "dataSetCategoryType",
              "modelAsString": true
            }
          },
          {
            "name": "dataSet",
            "in": "body",
            "description": "The new DataSet information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_CreateOrUpdate": {
            "$ref": "./examples/DataSets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataSet"
        ],
        "summary": "Delete a DataSet in a DataAsset.",
        "description": "Delete a DataSet in a DataAsset",
        "operationId": "DataSets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "dataAssetName",
            "in": "path",
            "description": "The name of the DataAsset",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetCategory",
            "in": "path",
            "description": "The usage category name of the DataSet",
            "required": true,
            "type": "string",
            "enum": [
              "Production",
              "Sample"
            ],
            "x-ms-enum": {
              "name": "dataSetCategoryType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataSets_Delete": {
            "$ref": "./examples/DataSets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/managedPrivateEndpoints": {
      "get": {
        "tags": [
          "ManagedPrivateEndpoint"
        ],
        "summary": "List managed private endpoints in a Workspace.",
        "description": "List managed private endpoints in a Workspace",
        "operationId": "ManagedPrivateEndpoints_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpointList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_ListByWorkspace": {
            "$ref": "./examples/ManagedPrivateEndpoints_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/managedPrivateEndpoints/{managedPrivateEndpointName}": {
      "get": {
        "tags": [
          "ManagedPrivateEndpoint"
        ],
        "summary": "Get a managed private endpoint in a workspace.",
        "description": "Get a ManagedPrivateEndpoint in a Workspace",
        "operationId": "ManagedPrivateEndpoints_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "managedPrivateEndpointName",
            "in": "path",
            "description": "The name of the managed private endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "ManagedPrivateEndpoints_Get": {
            "$ref": "./examples/ManagedPrivateEndpoints_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagedPrivateEndpoint"
        ],
        "summary": "Adds a new managed private endpoint to an existing workspace.",
        "description": "Create a managed private endpoint in a Workspace ",
        "operationId": "ManagedPrivateEndpoints_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "managedPrivateEndpointName",
            "in": "path",
            "description": "The name of the managed private endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "managedPrivateEndpoint",
            "in": "body",
            "description": "The new managed private endpoint information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ManagedPrivateEndpoint"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ManagedPrivateEndpoints_Create": {
            "$ref": "./examples/ManagedPrivateEndpoints_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ManagedPrivateEndpoint"
        ],
        "summary": "Delete a managed private endpoint from a workspace.",
        "description": "Delete a ManagedPrivateEndpoint in a Workspace",
        "operationId": "ManagedPrivateEndpoints_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "managedPrivateEndpointName",
            "in": "path",
            "description": "The name of the managed private endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ManagedPrivateEndpoints_Delete": {
            "$ref": "./examples/ManagedPrivateEndpoints_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelineRuns": {
      "get": {
        "tags": [
          "PipelineRun"
        ],
        "summary": "List pipeline runs in a workspace.",
        "description": "List pipelines runs in a workspace",
        "operationId": "PipelineRuns_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineRunList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PipelineRuns_ListByWorkspace": {
            "$ref": "./examples/PipelineRuns_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelineRuns/{pipelineRunName}": {
      "get": {
        "tags": [
          "PipelineRun"
        ],
        "summary": "Get pipeline run.",
        "description": "Get a pipeline run from a workspace",
        "operationId": "PipelineRuns_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineRunName",
            "in": "path",
            "description": "The name of the pipeline run.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineRun"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "PipelineRuns_Get": {
            "$ref": "./examples/PipelineRuns_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelineRuns/{pipelineRunName}/cancel": {
      "post": {
        "tags": [
          "PipelineRun"
        ],
        "summary": "Request cancellation of a pipeline run",
        "description": "Request to cancel a pipeline run.",
        "operationId": "PipelineRuns_Cancel",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineRunName",
            "in": "path",
            "description": "The name of the pipeline run.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineRun"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/PipelineRun"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "PipelineRuns_Cancel": {
            "$ref": "./examples/PipelineRuns_Cancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelineRuns/{pipelineRunName}/pipelineStepRuns": {
      "get": {
        "tags": [
          "PipelineStepRun"
        ],
        "summary": "List all step runs in a pipeline run.",
        "description": "List all step runs in a pipeline run",
        "operationId": "PipelineStepRuns_ListByPipelineRun",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineRunName",
            "in": "path",
            "description": "The name of the pipeline run.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStepRunList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PipelineStepRuns_ListByPipelineRun": {
            "$ref": "./examples/PipelineStepRuns_ListByPipelineRun.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelineRuns/{pipelineRunName}/pipelineStepRuns/{pipelineStepRunName}": {
      "get": {
        "tags": [
          "PipelineStepRun"
        ],
        "summary": "Get pipeline step run.",
        "description": "Get a pipeline step run from a pipeline run",
        "operationId": "PipelineStepRuns_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineRunName",
            "in": "path",
            "description": "The name of the pipeline run.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepRunName",
            "in": "path",
            "description": "The name of the pipeline step run.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStepRun"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "PipelineStepRuns_Get": {
            "$ref": "./examples/PipelineStepRuns_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines": {
      "get": {
        "tags": [
          "Pipeline"
        ],
        "summary": "List Pipelines in a Workspace.",
        "description": "List Pipelines in a Workspace",
        "operationId": "Pipelines_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Pipelines_ListByWorkspace": {
            "$ref": "./examples/Pipelines_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}": {
      "get": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Get Pipeline in a workspace.",
        "description": "Get a Pipeline in a workspace",
        "operationId": "Pipelines_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Pipelines_Get": {
            "$ref": "./examples/Pipelines_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Adds a new pipeline to an existing workspace.",
        "description": "Create or update a Pipeline",
        "operationId": "Pipelines_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipeline",
            "in": "body",
            "description": "The new pipeline information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Pipelines_CreateOrUpdate": {
            "$ref": "./examples/Pipelines_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Delete a Pipeline in a workspace.",
        "description": "Delete a Pipeline in a Workspace",
        "operationId": "Pipelines_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Pipelines_Delete": {
            "$ref": "./examples/Pipelines_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}/pipelineSteps": {
      "get": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "List PipelineSteps of a Pipeline.",
        "description": "List PipelineSteps of a Pipeline",
        "operationId": "PipelineSteps_ListByPipeline",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStepList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PipelineSteps_ListByPipeline": {
            "$ref": "./examples/PipelineSteps_ListByPipeline.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}/pipelineSteps/{pipelineStepName}": {
      "get": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "Get a PipelineStep in a Pipeline.",
        "description": "Get a PipelineStep in a Pipeline",
        "operationId": "PipelineSteps_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepName",
            "in": "path",
            "description": "The name of the pipeline step.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "PipelineSteps_Get": {
            "$ref": "./examples/PipelineSteps_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "Adds a new PipelineStep to an existing Pipeline.",
        "description": "Create or update a PipelineStep",
        "operationId": "PipelineSteps_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepName",
            "in": "path",
            "description": "The name of the pipeline step.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStep",
            "in": "body",
            "description": "The new pipeline information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineStep"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "PipelineSteps_CreateOrUpdate": {
            "$ref": "./examples/PipelineSteps_CreateOrUpdate.json"
          },
          "PipelineSteps_SynapseSpark_CreateOrUpdate": {
            "$ref": "./examples/PipelineSteps_SynapseSpark_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PipelineStep"
        ],
        "summary": "Delete a PipelineStep in a Pipeline.",
        "description": "Delete a PipelineStep in a Pipeline",
        "operationId": "PipelineSteps_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineStepName",
            "in": "path",
            "description": "The name of the pipeline step.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PipelineSteps_Delete": {
            "$ref": "./examples/PipelineSteps_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/pipelines/{pipelineName}/run": {
      "post": {
        "tags": [
          "Pipeline"
        ],
        "summary": "Creates a run of a pipeline.",
        "description": "Creates a run of a pipeline",
        "operationId": "Pipelines_Run",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "pipelineName",
            "in": "path",
            "description": "The name of the pipeline.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pipelineRunParameters",
            "in": "body",
            "description": "The parameters for running the pipeline",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PipelineRunParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PipelineRun"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/PipelineRun"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Pipelines_Run": {
            "$ref": "./examples/Pipelines_Run.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "summary": "List Proposals in a Workspace.",
        "description": "List Proposals in a Workspace",
        "operationId": "Proposals_ListByWorkspace",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProposalList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Proposals_ListByWorkspace": {
            "$ref": "./examples/Proposals_ListByWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}": {
      "get": {
        "tags": [
          "Proposal"
        ],
        "summary": "Get a Proposal in a Workspace.",
        "description": "Get a Proposal in a Workspace",
        "operationId": "Proposals_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Proposals_Get": {
            "$ref": "./examples/Proposals_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Proposal"
        ],
        "summary": "Adds a new Proposal to an existing Workspace.",
        "description": "Create or update a Proposal in a Workspace ",
        "operationId": "Proposals_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "proposal",
            "in": "body",
            "description": "The new proposal information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proposal"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Proposals_CreateOrUpdate": {
            "$ref": "./examples/Proposals_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Proposal"
        ],
        "summary": "Delete a Proposal in a Workspace.",
        "description": "Delete a Proposal in a Workspace",
        "operationId": "Proposals_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Proposals_Delete": {
            "$ref": "./examples/Proposals_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/dataAssetReferences": {
      "get": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "List DataAssetReference in a Proposal.",
        "description": "List Proposals in a Workspace",
        "operationId": "DataAssetReferences_ListByProposal",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReferenceList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataAssetReferences_ListByProposal": {
            "$ref": "./examples/DataAssetReferences_ListByProposal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/dataAssetReferences/{referenceName}": {
      "get": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Get a DataAssetReference in a Proposal.",
        "description": "Get a DataAssetReference in a Proposal",
        "operationId": "DataAssetReferences_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssetReferences_Get": {
            "$ref": "./examples/DataAssetReferences_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Adds a new DataAssetReference to a Proposal.",
        "description": "Create or update a DataAssetReference in a Workspace ",
        "operationId": "DataAssetReferences_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataAssetReference",
            "in": "body",
            "description": "The new dataset reference information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAssetReference"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssetReferences_CreateOrUpdate": {
            "$ref": "./examples/DataAssetReferences_CreateOrUpdate.json"
          },
          "DataAssetReferences_WriteOnly_CreateOrUpdate": {
            "$ref": "./examples/DataAssetReferences_WriteOnly_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Delete a DataAssetReference in a Proposal.",
        "description": "Delete a DataAssetReference in a Workspace",
        "operationId": "DataAssetReferences_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataAssetReferences_Delete": {
            "$ref": "./examples/DataAssetReferences_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/dataAssetReferences/{referenceName}/resolve": {
      "post": {
        "tags": [
          "DataAssetReference"
        ],
        "summary": "Resolve and return the DataAsset that the DataAssetReference points to.",
        "description": "Resolve and return the DataAsset that the DataAssetReference points to",
        "operationId": "DataAssetReferences_Resolve",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "referenceName",
            "in": "path",
            "description": "The name of the reference.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataAsset"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "DataAssetReferences_Resolve": {
            "$ref": "./examples/DataAssetReferences_Resolve.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "List entitlements in a proposal.",
        "description": "List entitlements in a proposal",
        "operationId": "Entitlements_ListByProposal",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EntitlementList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Entitlements_ListByProposal": {
            "$ref": "./examples/Entitlements_ListByProposal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements/{entitlementName}": {
      "get": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Get an entitlement from a proposal.",
        "description": "Get an entitlement in a proposal",
        "operationId": "Entitlements_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Entitlements_Get": {
            "$ref": "./examples/Entitlements_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Adds a new entitlement to a proposal.",
        "description": "Create or update an entitlement in a proposal",
        "operationId": "Entitlements_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlement",
            "in": "body",
            "description": "The new entitlement information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Entitlement"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Entitlements_CreateOrUpdate": {
            "$ref": "./examples/Entitlements_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Entitlement"
        ],
        "summary": "Delete an entitlement in a proposal.",
        "description": "Delete an entitlement from a proposal",
        "operationId": "Entitlements_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Entitlements_Delete": {
            "$ref": "./examples/Entitlements_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements/{entitlementName}/constraints": {
      "get": {
        "tags": [
          "Constraint"
        ],
        "summary": "List constraints in an entitlement.",
        "description": "List constraints in an entitlement",
        "operationId": "Constraints_ListByEntitlement",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConstraintList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Constraints_ListByEntitlement": {
            "$ref": "./examples/Constraints_ListByEntitlement.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataCollaboration/workspaces/{workspaceName}/proposals/{proposalName}/entitlements/{entitlementName}/constraints/{constraintName}": {
      "get": {
        "tags": [
          "Constraint"
        ],
        "summary": "Get a constraint in an entitlement.",
        "description": "Get a constraint from an entitlement",
        "operationId": "Constraints_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraintName",
            "in": "path",
            "description": "The name of the constraint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Constraint"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataCollaboration resource provider.",
            "schema": {
              "$ref": "#/definitions/DataCollaborationError"
            }
          }
        },
        "x-ms-examples": {
          "Constraints_Get": {
            "$ref": "./examples/Constraints_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Constraint"
        ],
        "summary": "Adds a new constraint to an entitlement.",
        "description": "Create or update a constraint in an entitlement ",
        "operationId": "Constraints_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workspaceName"
          },
          {
            "name": "proposalName",
            "in": "path",
            "description": "The name of the proposal.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entitlementName",
            "in": "path",
            "description": "The name of the entitlement.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraintName",
            "in": "path",
            "description": "The name of the constraint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "constraint",
            "in": "body",
            "description": "The new constraint information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Constraint"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
[...]
