{
  "x-generator": "NSwag v13.12.1.0 (NJsonSchema v10.4.6.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Catalog Products API",
    "version": "2022-09-01-preview"
  },
  "host": "catalogapi.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/offers/{id}": {
      "get": {
        "tags": [
          "SinglePublicOffer"
        ],
        "operationId": "SinglePublicOffer_Get",
        "x-ms-examples": {
          "Product_Get": {
            "$ref": "./examples/SinglePublicOffer_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Offer legacy or big id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "description": "API version",
            "default": "2022-09-01-preview",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "description": "Offer language",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "description": "Offer market",
            "default": "US",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "includeStopSoldPlans",
            "in": "query",
            "description": "To include stop sold or hidden plans",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "description": "Add hide key to retrieve preview items",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "boolean",
            "name": "includeHiddenPlans",
            "in": "query",
            "description": "To include hidden plans",
            "default": false,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a single public or preview offer",
            "schema": {
              "$ref": "#/definitions/ProductSummary"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case offer does not exist",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ProductSummary": {
      "type": "object",
      "required": [
        "productType"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product display name"
        },
        "popularity": {
          "type": "number",
          "description": "Popularity of the product",
          "format": "double"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "industries": {
          "type": "array",
          "description": "List of industry the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "cloudIndustryCategories": {
          "type": "array",
          "description": "List of cloud industry IDs the item belongs to",
          "items": {
            "type": "string"
          }
        },
        "categoryIds": {
          "type": "array",
          "description": "Array of product categories, https://docs.microsoft.com/en-us/azure/marketplace/marketplace-categories-industries#categories. Such as 'Productivity'",
          "items": {
            "type": "string"
          }
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher id"
        },
        "azureBenefit": {
          "description": "Eligibility for Azure consumption commitment benefit (https://docs.microsoft.com/en-us/marketplace/azure-consumption-commitment-benefit), Possible values: Eligible, NotEligible, if no value selected, this filter is ignored. Default: null",
          "allOf": [
            {
              "$ref": "#/definitions/AzureBenefit"
            }
          ]
        },
        "badges": {
          "type": "array",
          "description": "The following product badges are available: preferredSolution, powerBICertified, AdditionalPurchaseRequirement",
          "items": {
            "$ref": "#/definitions/Badge"
          }
        },
        "publisherType": {
          "description": "A value indicating whether it is a Microsoft product or a third-party offer",
          "allOf": [
            {
              "$ref": "#/definitions/PublisherType"
            }
          ]
        },
        "publishingStage": {
          "description": "Publishing Stage, can be Live or Preview",
          "allOf": [
            {
              "$ref": "#/definitions/PublishingStage"
            }
          ]
        },
        "uniqueProductId": {
          "type": "string",
          "description": "Product unique identifier"
        },
        "productType": {
          "description": "Product type",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "operatingSystems": {
          "type": "array",
          "description": "Operating system info for this product",
          "items": {
            "type": "string"
          }
        },
        "pricingTypes": {
          "type": "array",
          "description": "The list of the pricing types for which this offer is designated: \n - `Free`: The product has at least one plan that is free of charge.\n - `FreeTrial`: The product has at least one plan that is free trial.\n - `Byol`: The product has at least one plan that is bring your own license.\n - `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n - `Ri`: The product has at least one plan that is Reserved Instance billing model.",
          "items": {
            "$ref": "#/definitions/PricingType"
          }
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "Publisher display name"
        },
        "summary": {
          "type": "string",
          "description": "Product summary"
        },
        "longSummary": {
          "type": "string"
        },
        "privacyPolicyUri": {
          "type": "string",
          "description": "The Privacy Policy URL"
        },
        "version": {
          "type": "string",
          "description": "The product version"
        },
        "standardContractAmendmentsRevisionId": {
          "type": "string"
        },
        "cspLegalTermsUri": {
          "type": "string",
          "description": "The CSP legal terms URI"
        },
        "videos": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Video"
          }
        },
        "isReseller": {
          "type": "boolean"
        },
        "screenshots": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmImageGenerations": {
          "type": "array",
          "description": "Array of vm generations to search by, see https://docs.microsoft.com/en-us/azure/virtual-machines/generation-2, possible values, 1,2, s uch as ['1']",
          "items": {
            "type": "string"
          }
        },
        "vmArchitectureTypes": {
          "type": "array",
          "description": "Array of Virtual Machine image architecture types to search by, 1-x64, 2-ARM, such as ['1']",
          "items": {
            "type": "string"
          }
        },
        "vmSecurityTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VmSecurityType"
          }
        },
        "smallIconUri": {
          "type": "string",
          "description": "URI to the small product icon"
        },
        "mediumIconUri": {
          "type": "string",
          "description": "URI to the medium product icon"
        },
        "largeIconUri": {
          "type": "string",
          "description": "URI to the large product icon"
        },
        "wideIconUri": {
          "type": "string",
          "description": "URI to the wide product icon"
        },
        "description": {
          "type": "string",
          "description": "The product description text"
        },
        "ratingBuckets": {
          "type": "array",
          "description": "Rating buckets, Above1, Above2, Above3, Above4. Above5",
          "items": {
            "$ref": "#/definitions/RatingBucket"
          }
        },
        "ratingAverage": {
          "type": "number",
          "description": "Average rating for the offer",
          "format": "double"
        },
        "startingPrice": {
          "description": "The offer starting price",
          "allOf": [
            {
              "$ref": "#/definitions/MarketStartPrice"
            }
          ]
        },
        "linkedAddIns": {
          "type": "array",
          "description": "List of linked Add Ins supported by the product",
          "items": {
            "type": "string"
          }
        },
        "plans": {
          "type": "array",
          "description": "List of plans that are available for this product",
          "items": {
            "$ref": "#/definitions/PlanSummary"
          }
        },
        "legalTermsUri": {
          "type": "string",
          "description": "The legal terms URI"
        },
        "legalTermsType": {
          "type": "string",
          "description": "The legal terms type"
        },
        "supportUri": {
          "type": "string",
          "description": "The publisher support URI"
        },
        "links": {
          "type": "array",
          "description": "Links provided by the publisher",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "productOwnershipSellingMotion": {
          "type": "string",
          "description": "Product ownership selling motion"
        },
        "supportedProducts": {
          "type": "array",
          "description": "It maps to the list of products the publisher provides with which their offer works",
          "items": {
            "type": "string"
          }
        },
        "applicableProducts": {
          "type": "array",
          "description": "Product categories the offer belongs to",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AzureBenefit": {
      "type": "string",
      "description": "",
      "enum": [
        "Eligible",
        "NotEligible"
      ],
      "x-ms-enum": {
        "name": "AzureBenefit",
        "modelAsString": true
      }
    },
    "Badge": {
      "type": "string",
      "description": "",
      "enum": [
        "PreferredSolution",
        "PowerBICertified",
        "AdditionalPurchaseRequirement"
      ],
      "x-ms-enum": {
        "name": "Badge",
        "modelAsString": true
      }
    },
    "PublisherType": {
      "type": "string",
      "description": "",
      "enum": [
        "Microsoft",
        "ThirdParty"
      ],
      "x-ms-enum": {
        "name": "PublisherType",
        "modelAsString": true
      }
    },
    "PublishingStage": {
      "type": "string",
      "description": "",
      "enum": [
        "Preview",
        "Public"
      ],
      "x-ms-enum": {
        "name": "PublishingStage",
        "modelAsString": true
      }
    },
    "ProductType": {
      "type": "string",
      "description": "",
      "enum": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals",
        "Office365",
        "AADApps",
        "AzureServices"
      ],
      "x-ms-enum": {
        "name": "ProductType",
        "modelAsString": true
      }
    },
    "PricingType": {
      "type": "string",
      "description": "",
      "enum": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "x-ms-enum": {
        "name": "PricingType",
        "modelAsString": true
      }
    },
    "Video": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string",
          "description": "caption"
        },
        "uri": {
          "type": "string",
          "description": "uri"
        },
        "videoPurpose": {
          "type": "string",
          "description": "videoPurpose"
        },
        "previewImage": {
          "description": "previewImage",
          "allOf": [
            {
              "$ref": "#/definitions/PreviewImage"
            }
          ]
        }
      }
    },
    "PreviewImage": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string",
          "description": "caption"
        },
        "uri": {
          "type": "string",
          "description": "uri"
        },
        "imagePurpose": {
          "type": "string",
          "description": "imagePurpose"
        }
      }
    },
    "VmSecurityType": {
      "type": "string",
      "description": "",
      "enum": [
        "None",
        "Trusted",
        "Confidential"
      ],
      "x-ms-enum": {
        "name": "VmSecurityType",
        "modelAsString": true
      }
    },
    "RatingBucket": {
      "type": "string",
      "description": "",
      "enum": [
        "AboveOne",
        "AboveTwo",
        "AboveThree",
        "AboveFour"
      ],
      "x-ms-enum": {
        "name": "RatingBucket",
        "modelAsString": true
      }
    },
    "MarketStartPrice": {
      "type": "object",
      "properties": {
        "market": {
          "type": "string",
          "description": "The market."
        },
        "termUnits": {
          "type": "string",
          "description": "The terms pricing model units."
        },
        "meterUnits": {
          "type": "string",
          "description": "The meters pricing model units."
        },
        "minTermPrice": {
          "type": "number",
          "description": "Starting (minimal) terms price.",
          "format": "decimal"
        },
        "minMeterPrice": {
          "type": "number",
          "description": "Starting (minimal) meters price.",
          "format": "decimal"
        },
        "currency": {
          "type": "string",
          "description": "Currency for price."
        }
      }
    },
    "PlanSummary": {
      "type": "object",
      "required": [
        "productType"
      ],
      "properties": {
        "planId": {
          "type": "string",
          "description": "Plan id"
        },
        "cspState": {
          "description": "A value indicating whether the product is available for purchase through CSP channel",
          "allOf": [
            {
              "$ref": "#/definitions/CspState"
            }
          ]
        },
        "uniquePlanId": {
          "type": "string",
          "description": "Unique plan Id which is obtained by combining uniqueProductId and PlanId with no separator in between"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the plan"
        },
        "vmArchitectureType": {
          "type": "string",
          "description": "The VM image architecture type: x64, ARM"
        },
        "metadata": {
          "description": "Additional plan metadata",
          "allOf": [
            {
              "$ref": "#/definitions/PlanMetadata"
            }
          ]
        },
        "uiDefinitionUri": {
          "type": "string",
          "description": "What Azure portal view to open when someone wants to create a marketplace item"
        },
        "pricingTypes": {
          "type": "array",
          "description": "The list of the pricing types for which this plan is designated: \n - `Free`: The product has at least one plan that is free of charge.\n - `FreeTrial`: The product has at least one plan that is free trial.\n - `Byol`: The product has at least one plan that is bring your own license.\n - `Payg`: The product has at least one plan that is Pay as you go, usage based billing model.\n - `Ri`: The product has at least one plan that is Reserved Instance billing model.",
          "items": {
            "$ref": "#/definitions/PricingType"
          }
        },
        "isQuantifiable": {
          "type": "boolean",
          "description": "A value indicating whether the plan is quantifiable"
        },
        "vmSecuritytypes": {
          "type": "array",
          "description": "VM security types",
          "items": {
            "$ref": "#/definitions/VmSecurityType"
          }
        },
        "artifacts": {
          "type": "array",
          "description": "Plan-level resources and configuration files",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "summary": {
          "type": "string",
          "description": "The plan summary text"
        },
        "description": {
          "type": "string",
          "description": "Plan description"
        },
        "skuId": {
          "type": "string",
          "description": "The SKU id"
        },
        "productType": {
          "description": "The plan type, for Azure Application product type, this can be Solution Template or ManagedApp",
          "allOf": [
            {
              "$ref": "#/definitions/ProductType"
            }
          ]
        },
        "categoryIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayRank": {
          "type": "string",
          "description": "The display rank"
        },
        "purchaseDurationDiscounts": {
          "type": "array",
          "description": "The percentage discount for third-party virtual machines software reservations",
          "items": {
            "$ref": "#/definitions/PurchaseDurationDiscount"
          }
        },
        "leadGeneration": {
          "description": "Lead generation information",
          "allOf": [
            {
              "$ref": "#/definitions/LeadGeneration"
            }
          ]
        },
        "isPrivate": {
          "type": "boolean",
          "description": "Indication that the plan is accessible to restricted audience only"
        },
        "altStackReference": {
          "type": "string",
          "description": "Alternative stack reference"
        },
        "stackType": {
          "type": "string",
          "description": "Stack type : Classic, Gen1, Gen2"
        },
        "altArchitectureReference": {
          "type": "string"
        }
      }
    },
    "CspState": {
      "type": "string",
      "description": "",
      "enum": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ],
      "x-ms-enum": {
        "name": "CspState",
        "modelAsString": true
      }
    },
    "PlanMetadata": {
      "type": "object",
      "properties": {
        "generation": {
          "type": "string",
          "description": "generation"
        },
        "altStackReference": {
          "type": "string",
          "description": "altStackReference"
        },
        "relatedSkus": {
          "type": "array",
          "description": "relatedSkus",
          "items": {
            "$ref": "#/definitions/PlanSkuRelation"
          }
        }
      }
    },
    "PlanSkuRelation": {
      "type": "object",
      "properties": {
        "sku": {
          "description": "Sku",
          "allOf": [
            {
              "$ref": "#/definitions/RelatedSku"
            }
          ]
        },
        "relationType": {
          "type": "string",
          "description": "Relation Type"
        }
      }
    },
    "RelatedSku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name"
        },
        "generation": {
          "type": "string",
          "description": "Generation"
        },
        "identity": {
          "type": "string",
          "description": "Identity"
        }
      }
    },
    "Artifact": {
      "type": "object",
      "required": [
        "artifactType"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Artifact name"
        },
        "uri": {
          "type": "string",
          "description": "Artifact uri"
        },
        "artifactType": {
          "description": "Artifact type",
          "allOf": [
            {
              "$ref": "#/definitions/ArtifactType"
            }
          ]
        }
      }
    },
    "ArtifactType": {
      "type": "string",
      "description": "",
      "enum": [
        "Template",
        "Fragment",
        "Custom",
        "Metadata"
      ],
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true
      }
    },
    "PurchaseDurationDiscount": {
      "type": "object",
      "required": [
        "discountPercentage"
      ],
      "properties": {
        "duration": {
          "type": "string",
          "description": "The duration"
        },
        "discountPercentage": {
          "type": "number",
          "description": "The discountPercentage",
          "format": "double"
        }
      }
    },
    "LeadGeneration": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "productId"
        },
        "leadGenEnabled": {
          "type": "boolean",
          "description": "An indicator if leadgen is enabled"
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the link"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the link"
        },
        "uri": {
          "type": "string",
          "description": "URI of the link"
        }
      }
    }
  },
  "securityDefinitions": {
    "JWT": {
      "type": "apiKey",
      "description": "Copy this into the value field: Bearer {token}",
      "name": "Authorization",
      "in": "header"
    }
  }
}
