{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureFleet",
    "version": "2023-11-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Fleets"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureFleet/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureFleet/fleets": {
      "get": {
        "operationId": "Fleets_ListBySubscription",
        "tags": [
          "Fleets"
        ],
        "description": "List Fleet resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FleetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_ListBySubscription_MaximumSet": {
            "$ref": "./examples/Fleets_ListBySubscription_MaximumSet.json"
          },
          "Fleets_ListBySubscription_MinimumSet": {
            "$ref": "./examples/Fleets_ListBySubscription_MinimumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets": {
      "get": {
        "operationId": "Fleets_ListByResourceGroup",
        "tags": [
          "Fleets"
        ],
        "description": "List Fleet resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FleetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/Fleets_ListByResourceGroup_MaximumSet.json"
          },
          "Fleets_ListByResourceGroup_MinimumSet": {
            "$ref": "./examples/Fleets_ListByResourceGroup_MinimumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets/{fleetName}": {
      "get": {
        "operationId": "Fleets_Get",
        "tags": [
          "Fleets"
        ],
        "description": "Get a Fleet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fleetName",
            "in": "path",
            "description": "The name of the Compute Fleet",
            "required": true,
            "type": "string",
            "pattern": "^[^_\\W][\\w-._]{0,79}(?<![-.])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Fleet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_Get_MaximumSet": {
            "$ref": "./examples/Fleets_Get_MaximumSet.json"
          },
          "Fleets_Get_MinimumSet": {
            "$ref": "./examples/Fleets_Get_MinimumSet.json"
          }
        }
      },
      "put": {
        "operationId": "Fleets_CreateOrUpdate",
        "tags": [
          "Fleets"
        ],
        "description": "Create a Fleet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fleetName",
            "in": "path",
            "description": "The name of the Compute Fleet",
            "required": true,
            "type": "string",
            "pattern": "^[^_\\W][\\w-._]{0,79}(?<![-.])$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Fleet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Fleet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Fleet"
            }
          },
          "201": {
            "description": "Resource 'Fleet' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Fleet"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/Fleets_CreateOrUpdate_MaximumSet.json"
          },
          "Fleets_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/Fleets_CreateOrUpdate_MinimumSet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Fleets_Update",
        "tags": [
          "Fleets"
        ],
        "description": "Update a Fleet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fleetName",
            "in": "path",
            "description": "The name of the Compute Fleet",
            "required": true,
            "type": "string",
            "pattern": "^[^_\\W][\\w-._]{0,79}(?<![-.])$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FleetUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Fleet"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_Update_MaximumSet": {
            "$ref": "./examples/Fleets_Update_MaximumSet.json"
          },
          "Fleets_Update_MinimumSet": {
            "$ref": "./examples/Fleets_Update_MinimumSet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Fleets_Delete",
        "tags": [
          "Fleets"
        ],
        "description": "Delete a Fleet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fleetName",
            "in": "path",
            "description": "The name of the Compute Fleet",
            "required": true,
            "type": "string",
            "pattern": "^[^_\\W][\\w-._]{0,79}(?<![-.])$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_Delete_MaximumSet": {
            "$ref": "./examples/Fleets_Delete_MaximumSet.json"
          },
          "Fleets_Delete_MinimumSet": {
            "$ref": "./examples/Fleets_Delete_MinimumSet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets/{name}/virtualMachineScaleSets": {
      "get": {
        "operationId": "Fleets_ListVirtualMachineScaleSets",
        "tags": [
          "Fleets"
        ],
        "description": "List VirtualMachineScaleSet resources by Fleet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Fleet",
            "required": true,
            "type": "string",
            "pattern": "^[^_\\W][\\w-._]{0,79}(?<![-.])$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fleets_ListVirtualMachineScaleSets_MaximumSet": {
            "$ref": "./examples/Fleets_ListVirtualMachineScaleSets_MaximumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AdditionalUnattendContent": {
      "type": "object",
      "description": "Specifies additional XML formatted information that can be included in the\nUnattend.xml file, which is used by Windows Setup. Contents are defined by\nsetting name, component name, and the pass in which the content is applied.",
      "properties": {
        "passName": {
          "type": "string",
          "description": "The pass name. Currently, the only allowable value is OobeSystem.",
          "enum": [
            "OobeSystem"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "componentName": {
          "type": "string",
          "description": "The component name. Currently, the only allowable value is\nMicrosoft-Windows-Shell-Setup.",
          "enum": [
            "Microsoft-Windows-Shell-Setup"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "settingName": {
          "$ref": "#/definitions/SettingNames",
          "description": "Specifies the name of the setting to which the content applies. Possible values\nare: FirstLogonCommands and AutoLogon."
        },
        "content": {
          "type": "string",
          "description": "Specifies the XML formatted content that is added to the unattend.xml file for\nthe specified path and component. The XML must be less than 4KB and must\ninclude the root element for the setting or feature that is being inserted."
        }
      }
    },
    "ApiEntityReference": {
      "type": "object",
      "description": "The API entity reference.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id in the form of\n/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
        }
      }
    },
    "ApiError": {
      "type": "object",
      "description": "ApiError for Fleet",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        },
        "details": {
          "type": "array",
          "description": "The Api error details",
          "items": {
            "$ref": "#/definitions/ApiErrorBase"
          },
          "x-ms-identifiers": [
            "message",
            "target"
          ]
        },
        "innererror": {
          "$ref": "#/definitions/InnerError",
          "description": "The Api inner error"
        }
      }
    },
    "ApiErrorBase": {
      "type": "object",
      "description": "Api error base.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error."
        },
        "message": {
          "type": "string",
          "description": "The error message."
        }
      }
    },
    "ApplicationProfile": {
      "type": "object",
      "description": "Contains the list of gallery applications that should be made available to the\nVM/VMSS",
      "properties": {
        "galleryApplications": {
          "type": "array",
          "description": "Specifies the gallery applications that should be made available to the VM/VMSS",
          "items": {
            "$ref": "#/definitions/VMGalleryApplication"
          },
          "x-ms-identifiers": [
            "packageReferenceId"
          ]
        }
      }
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned,UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "BasePriorityProfile": {
      "type": "object",
      "description": "Contains common properties that are applicable to both Spot and Regular.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Total capacity to achieve. It is currently in terms of number of VMs.",
          "minimum": 0
        },
        "minCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum capacity to achieve which cannot be updated. If we will not be able to \"guarantee\" minimum capacity, we will reject the request in the sync path itself.",
          "minimum": 0
        }
      }
    },
    "BaseVirtualMachineProfile": {
      "type": "object",
      "description": "Describes the base virtual machine profile for fleet",
      "properties": {
        "osProfile": {
          "$ref": "#/definitions/VirtualMachineScaleSetOSProfile",
          "description": "Specifies the operating system settings for the virtual machines in the scale\nset."
        },
        "storageProfile": {
          "$ref": "#/definitions/VirtualMachineScaleSetStorageProfile",
          "description": "Specifies the storage settings for the virtual machine disks."
        },
        "networkProfile": {
          "$ref": "#/definitions/VirtualMachineScaleSetNetworkProfile",
          "description": "Specifies properties of the network interfaces of the virtual machines in the\nscale set."
        },
        "securityProfile": {
          "$ref": "#/definitions/SecurityProfile",
          "description": "Specifies the Security related profile settings for the virtual machines in the\nscale set."
        },
        "diagnosticsProfile": {
          "$ref": "#/definitions/DiagnosticsProfile",
          "description": "Specifies the boot diagnostic settings state. Minimum api-version: 2015-06-15."
        },
        "extensionProfile": {
          "$ref": "#/definitions/VirtualMachineScaleSetExtensionProfile",
          "description": "Specifies a collection of settings for extensions installed on virtual machines\nin the scale set."
        },
        "licenseType": {
          "type": "string",
          "description": "Specifies that the image or disk that is being used was licensed on-premises.\n<br><br> Possible values for Windows Server operating system are: <br><br>\nWindows_Client <br><br> Windows_Server <br><br> Possible values for Linux\nServer operating system are: <br><br> RHEL_BYOS (for RHEL) <br><br> SLES_BYOS\n(for SUSE) <br><br> For more information, see [Azure Hybrid Use Benefit for\nWindows\nServer](https://docs.microsoft.com/azure/virtual-machines/windows/hybrid-use-benefit-licensing)\n<br><br> [Azure Hybrid Use Benefit for Linux\nServer](https://docs.microsoft.com/azure/virtual-machines/linux/azure-hybrid-benefit-linux)\n<br><br> Minimum api-version: 2015-06-15"
        },
        "priority": {
          "$ref": "#/definitions/VirtualMachinePriorityTypes",
          "description": "Specifies the priority for the virtual machines in the scale set. Minimum\napi-version: 2017-10-30-preview."
        },
        "evictionPolicy": {
          "$ref": "#/definitions/VirtualMachineEvictionPolicyTypes",
          "description": "Specifies the eviction policy for the Azure Spot virtual machine and Azure Spot\nscale set. For Azure Spot virtual machines, both 'Deallocate' and 'Delete' are\nsupported and the minimum api-version is 2019-03-01. For Azure Spot scale sets,\nboth 'Deallocate' and 'Delete' are supported and the minimum api-version is\n2017-10-30-preview."
        },
        "billingProfile": {
          "$ref": "#/definitions/BillingProfile",
          "description": "Specifies the billing related details of a Azure Spot VMSS. Minimum\napi-version: 2019-03-01."
        },
        "scheduledEventsProfile": {
          "$ref": "#/definitions/ScheduledEventsProfile",
          "description": "Specifies Scheduled Event related configurations."
        },
        "userData": {
          "type": "string",
          "description": "UserData for the virtual machines in the scale set, which must be base-64\nencoded. Customer should not pass any secrets in here. Minimum api-version:\n2021-03-01."
        },
        "capacityReservation": {
          "$ref": "#/definitions/CapacityReservationProfile",
          "description": "Specifies the capacity reservation related details of a scale set. Minimum\napi-version: 2021-04-01."
        },
        "applicationProfile": {
          "$ref": "#/definitions/ApplicationProfile",
          "description": "Specifies the gallery applications that should be made available to the VM/VMSS"
        },
        "hardwareProfile": {
          "$ref": "#/definitions/VirtualMachineScaleSetHardwareProfile",
          "description": "Specifies the hardware profile related details of a scale set. Minimum\napi-version: 2021-11-01."
        },
        "serviceArtifactReference": {
          "$ref": "#/definitions/ServiceArtifactReference",
          "description": "Specifies the service artifact reference id used to set same image version for\nall virtual machines in the scale set when using 'latest' image version.\nMinimum api-version: 2022-11-01"
        },
        "securityPostureReference": {
          "$ref": "#/definitions/SecurityPostureReference",
          "description": "Specifies the security posture to be used for all virtual machines in the scale\nset. Minimum api-version: 2023-03-01"
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the time in which this VM profile for the Virtual Machine Scale Set\nwas created. Minimum API version for this property is 2023-09-01. This value\nwill be added to VMSS Flex VM tags when creating/updating the VMSS VM Profile\nwith minimum api-version 2023-09-01.",
          "readOnly": true
        }
      }
    },
    "BillingProfile": {
      "type": "object",
      "description": "Specifies the billing related details of a Azure Spot VM or VMSS. Minimum\napi-version: 2019-03-01.",
      "properties": {
        "maxPrice": {
          "type": "number",
          "format": "double",
          "description": "Specifies the maximum price you are willing to pay for a Azure Spot VM/VMSS.\nThis price is in US Dollars. <br><br> This price will be compared with the\ncurrent Azure Spot price for the VM size. Also, the prices are compared at the\ntime of create/update of Azure Spot VM/VMSS and the operation will only succeed\nif  the maxPrice is greater than the current Azure Spot price. <br><br> The\nmaxPrice will also be used for evicting a Azure Spot VM/VMSS if the current\nAzure Spot price goes beyond the maxPrice after creation of VM/VMSS. <br><br>\nPossible values are: <br><br> - Any decimal value greater than zero. Example:\n0.01538 <br><br> -1 – indicates default price to be up-to on-demand. <br><br>\nYou can set the maxPrice to -1 to indicate that the Azure Spot VM/VMSS should\nnot be evicted for price reasons. Also, the default max price is -1 if it is\nnot provided by you. <br><br>Minimum api-version: 2019-03-01."
        }
      }
    },
    "BootDiagnostics": {
      "type": "object",
      "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output\nand Screenshot to diagnose VM status. You can easily view the output of your\nconsole log. Azure also enables you to see a screenshot of the VM from the\nhypervisor.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether boot diagnostics should be enabled on the Virtual Machine."
        },
        "storageUri": {
          "type": "string",
          "description": "Uri of the storage account to use for placing the console output and\nscreenshot. If storageUri is not specified while enabling boot diagnostics,\nmanaged storage will be used."
        }
      }
    },
    "CachingTypes": {
      "type": "string",
      "description": "Specifies the caching requirements. Possible values are: **None,**\n**ReadOnly,** **ReadWrite.** The default values are: **None for Standard\nstorage. ReadOnly for Premium storage**",
      "enum": [
        "None",
        "ReadOnly",
        "ReadWrite"
      ],
      "x-ms-enum": {
        "name": "CachingTypes",
        "modelAsString": false
      }
    },
    "CapacityReservationProfile": {
      "type": "object",
      "description": "The parameters of a capacity reservation Profile.",
      "properties": {
        "capacityReservationGroup": {
          "$ref": "#/definitions/SubResource",
          "description": "Specifies the capacity reservation group resource id that should be used for\nallocating the virtual machine or scaleset vm instances provided enough\ncapacity has been reserved. Please refer to https://aka.ms/CapacityReservation\nfor more details."
        }
      }
    },
    "ComputeProfile": {
      "type": "object",
      "description": "Compute Profile to use for running user's workloads.",
      "properties": {
        "baseVirtualMachineProfile": {
          "$ref": "#/definitions/BaseVirtualMachineProfile",
          "description": "Base Virtual Machine Profile Properties to be specified according to \"specification/compute/resource-manager/Microsoft.Compute/ComputeRP/stable/{computeApiVersion}/virtualMachineScaleSet.json#/definitions/VirtualMachineScaleSetVMProfile\""
        },
        "computeApiVersion": {
          "type": "string",
          "description": "Specifies the Microsoft.Compute API version to use when creating underlying Virtual Machine scale sets and Virtual Machines.\nThe default value will be the latest supported computeApiVersion by Compute Fleet."
        }
      },
      "required": [
        "baseVirtualMachineProfile"
      ]
    },
    "DeleteOptions": {
      "type": "string",
      "description": "Specify what happens to the network interface when the VM is deleted",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DeleteOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete"
          },
          {
            "name": "Detach",
            "value": "Detach"
          }
        ]
      }
    },
    "DiagnosticsProfile": {
      "type": "object",
      "description": "Specifies the boot diagnostic settings state. Minimum api-version: 2015-06-15.",
      "properties": {
        "bootDiagnostics": {
          "$ref": "#/definitions/BootDiagnostics",
          "description": "Boot Diagnostics is a debugging feature which allows you to view Console Output\nand Screenshot to diagnose VM status. **NOTE**: If storageUri is being\nspecified then ensure that the storage account is in the same region and\nsubscription as the VM. You can easily view the output of your console log.\nAzure also enables you to see a screenshot of the VM from the hypervisor."
        }
      }
    },
    "DiffDiskOptions": {
      "type": "string",
      "description": "Specifies the ephemeral disk option for operating system disk.",
      "enum": [
        "Local"
      ],
      "x-ms-enum": {
        "name": "DiffDiskOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local"
          }
        ]
      }
    },
    "DiffDiskPlacement": {
      "type": "string",
      "description": "Specifies the ephemeral disk placement for operating system disk. This property\ncan be used by user in the request to choose the location i.e, cache disk or\nresource disk space for Ephemeral OS disk provisioning. For more information on\nEphemeral OS disk size requirements, please refer Ephemeral OS disk size\nrequirements for Windows VM at\nhttps://docs.microsoft.com/azure/virtual-machines/windows/ephemeral-os-disks#size-requirements\nand Linux VM at\nhttps://docs.microsoft.com/azure/virtual-machines/linux/ephemeral-os-disks#size-requirements",
      "enum": [
        "CacheDisk",
        "ResourceDisk"
      ],
      "x-ms-enum": {
        "name": "DiffDiskPlacement",
        "modelAsString": true,
        "values": [
          {
            "name": "CacheDisk",
            "value": "CacheDisk"
          },
          {
            "name": "ResourceDisk",
            "value": "ResourceDisk"
          }
        ]
      }
    },
    "DiffDiskSettings": {
      "type": "object",
      "description": "Describes the parameters of ephemeral disk settings that can be specified for\noperating system disk. **Note:** The ephemeral disk settings can only be\nspecified for managed disk.",
      "properties": {
        "option": {
          "$ref": "#/definitions/DiffDiskOptions",
          "description": "Specifies the ephemeral disk settings for operating system disk."
        },
        "placement": {
          "$ref": "#/definitions/DiffDiskPlacement",
          "description": "Specifies the ephemeral disk placement for operating system disk. Possible\nvalues are: **CacheDisk,** **ResourceDisk.** The defaulting behavior is:\n**CacheDisk** if one is configured for the VM size otherwise **ResourceDisk**\nis used. Refer to the VM size documentation for Windows VM at\nhttps://docs.microsoft.com/azure/virtual-machines/windows/sizes and Linux VM at\nhttps://docs.microsoft.com/azure/virtual-machines/linux/sizes to check which VM\nsizes exposes a cache disk."
        }
      }
    },
    "DiskCreateOptionTypes": {
      "type": "string",
      "description": "Specifies how the virtual machine should be created. Possible values are:\n**Attach.** This value is used when you are using a specialized disk to create\nthe virtual machine. **FromImage.** This value is used when you are using an\nimage to create the virtual machine. If you are using a platform image, you\nalso use the imageReference element described above. If you are using a\nmarketplace image, you also use the plan element previously described.",
      "enum": [
        "FromImage",
        "Empty",
        "Attach"
      ],
      "x-ms-enum": {
        "name": "DiskCreateOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "FromImage",
            "value": "FromImage"
          },
          {
            "name": "Empty",
            "value": "Empty"
          },
          {
            "name": "Attach",
            "value": "Attach"
          }
        ]
      }
    },
    "DiskDeleteOptionTypes": {
      "type": "string",
      "description": "Specifies the behavior of the managed disk when the VM gets deleted, for\nexample whether the managed disk is deleted or detached. Supported values are:\n**Delete.** If this value is used, the managed disk is deleted when VM gets\ndeleted. **Detach.** If this value is used, the managed disk is retained after\nVM gets deleted. Minimum api-version: 2021-03-01.",
      "enum": [
        "Delete",
        "Detach"
      ],
      "x-ms-enum": {
        "name": "DiskDeleteOptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete"
          },
          {
            "name": "Detach",
            "value": "Detach"
          }
        ]
      }
    },
    "DiskEncryptionSetParameters": {
      "type": "object",
      "description": "Describes the parameter of customer managed disk encryption set resource id\nthat can be specified for disk. **Note:** The disk encryption set resource id\ncan only be specified for managed disk. Please refer\nhttps://aka.ms/mdssewithcmkoverview for more details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      }
    },
    "DomainNameLabelScopeTypes": {
      "type": "string",
      "description": "The Domain name label scope.The concatenation of the hashed domain name label\nthat generated according to the policy from domain name label scope and vm\nindex will be the domain name labels of the PublicIPAddress resources that will\nbe created",
      "enum": [
        "TenantReuse",
        "SubscriptionReuse",
        "ResourceGroupReuse",
        "NoReuse"
      ],
      "x-ms-enum": {
        "name": "DomainNameLabelScopeTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "TenantReuse",
            "value": "TenantReuse"
          },
          {
            "name": "SubscriptionReuse",
            "value": "SubscriptionReuse"
          },
          {
            "name": "ResourceGroupReuse",
            "value": "ResourceGroupReuse"
          },
          {
            "name": "NoReuse",
            "value": "NoReuse"
          }
        ]
      }
    },
    "EncryptionIdentity": {
      "type": "object",
      "description": "Specifies the Managed Identity used by ADE to get access token for keyvault\noperations.",
      "properties": {
        "userAssignedIdentityResourceId": {
          "type": "string",
          "description": "Specifies ARM Resource ID of one of the user identities associated with the VM."
        }
      }
    },
    "EvictionPolicy": {
      "type": "string",
      "description": "Different kind of eviction policies",
      "enum": [
        "Delete",
        "Deallocate"
      ],
      "x-ms-enum": {
        "name": "EvictionPolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "Delete",
            "value": "Delete",
            "description": "When evicted, the Spot VM will be deleted and the corresponding capacity will be updated to reflect this."
          },
          {
            "name": "Deallocate",
            "value": "Deallocate",
            "description": "When evicted, the Spot VM will be deallocated/stopped"
          }
        ]
      }
    },
    "Fleet": {
      "type": "object",
      "description": "An Compute Fleet resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FleetProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        },
        "zones": {
          "type": "array",
          "description": "Zones in which the Compute Fleet is available",
          "items": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "plan": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Plan",
          "description": "Details of the resource plan."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FleetListResult": {
      "type": "object",
      "description": "The response of a Fleet list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Fleet items on this page",
          "items": {
            "$ref": "#/definitions/Fleet"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FleetProperties": {
      "type": "object",
      "description": "Details of the Compute Fleet.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "spotPriorityProfile": {
          "$ref": "#/definitions/SpotPriorityProfile",
          "description": "Configuration Options for Spot instances in Compute Fleet."
        },
        "regularPriorityProfile": {
          "$ref": "#/definitions/RegularPriorityProfile",
          "description": "Configuration Options for Regular instances in Compute Fleet."
        },
        "vmSizesProfile": {
          "type": "array",
          "description": "List of VM sizes supported for Compute Fleet",
          "items": {
            "$ref": "#/definitions/VmSizeProfile"
          },
          "x-ms-identifiers": []
        },
        "computeProfile": {
          "$ref": "#/definitions/ComputeProfile",
          "description": "Compute Profile to use for running user's workloads."
        }
      },
      "required": [
        "vmSizesProfile",
        "computeProfile"
      ]
    },
    "FleetUpdate": {
      "type": "object",
      "description": "Fleet Update Model",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentityUpdate",
          "description": "Updatable managed service identity"
        },
        "plan": {
          "$ref": "#/definitions/ResourcePlanUpdate",
          "description": "Updatable resource plan"
        },
        "properties": {
          "$ref": "#/definitions/FleetProperties",
          "description": "RP-specific updatable properties"
        }
      }
    },
    "IPVersion": {
      "type": "string",
      "description": "Available from Api-Version 2017-03-30 onwards, it represents whether the\nspecific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4.  Possible\nvalues are: 'IPv4' and 'IPv6'.",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IPVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "IPv4",
            "value": "IPv4"
          },
          {
            "name": "IPv6",
            "value": "IPv6"
          }
        ]
      }
    },
    "ImageReference": {
      "type": "object",
      "description": "Specifies information about the image to use. You can specify information about\nplatform images, marketplace images, or virtual machine images. This element is\nrequired when you want to use a platform image, marketplace image, or virtual\nmachine image, but is not used in other creation operations. NOTE: Image\nreference publisher and offer can only be set when you create the scale set.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        },
        "publisher": {
          "type": "string",
          "description": "The image publisher."
        },
        "offer": {
          "type": "string",
          "description": "Specifies the offer of the platform image or marketplace image used to create\nthe virtual machine."
        },
        "sku": {
          "type": "string",
          "description": "The image SKU."
        },
        "version": {
          "type": "string",
          "description": "Specifies the version of the platform image or marketplace image used to create\nthe virtual machine. The allowed formats are Major.Minor.Build or 'latest'.\nMajor, Minor, and Build are decimal numbers. Specify 'latest' to use the latest\nversion of an image available at deploy time. Even if you use 'latest', the VM\nimage will not automatically update after deploy time even if a new version\nbecomes available. Please do not use field 'version' for gallery image\ndeployment, gallery image should always use 'id' field for deployment, to use 'latest'\nversion of gallery image, just set \n'/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{imageName}'\nin the 'id' field without version input."
        },
        "exactVersion": {
          "type": "string",
          "description": "Specifies in decimal numbers, the version of platform image or marketplace\nimage used to create the virtual machine. This readonly field differs from 'version',\nonly if the value specified in 'version' field is 'latest'.",
          "readOnly": true
        },
        "sharedGalleryImageId": {
          "type": "string",
          "description": "Specified the shared gallery image unique id for vm deployment. This can be\nfetched from shared gallery image GET call."
        },
        "communityGalleryImageId": {
          "type": "string",
          "description": "Specified the community gallery image unique id for vm deployment. This can be\nfetched from community gallery image GET call."
        }
      }
    },
    "InnerError": {
      "type": "object",
      "description": "Inner error details.",
      "properties": {
        "exceptionType": {
          "type": "string",
          "description": "The exception type."
        },
        "errorDetail": {
          "type": "string",
          "description": "The internal error message or exception dump."
        }
      }
    },
    "InstanceViewStatus": {
      "type": "object",
      "description": "Instance view status.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The status code."
        },
        "level": {
          "$ref": "#/definitions/StatusLevelTypes",
          "description": "The level code."
        },
        "displayStatus": {
          "type": "string",
          "description": "The short localizable label for the status."
        },
        "message": {
          "type": "string",
          "description": "The detailed status message, including for alerts and error messages."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "The time of the status."
        }
      }
    },
    "KeyVaultSecretReference": {
      "type": "object",
      "description": "Describes a reference to Key Vault Secret",
      "properties": {
        "secretUrl": {
          "type": "string",
          "description": "The URL referencing a secret in a Key Vault."
        },
        "sourceVault": {
          "$ref": "#/definitions/SubResource",
          "description": "The relative URL of the Key Vault containing the secret."
        }
      },
      "required": [
        "secretUrl",
        "sourceVault"
      ]
    },
    "LinuxConfiguration": {
      "type": "object",
      "description": "Specifies the Linux operating system settings on the virtual machine. For a\nlist of supported Linux distributions, see [Linux on Azure-Endorsed\nDistributions](https://docs.microsoft.com/azure/virtual-machines/linux/endorsed-distros).",
      "properties": {
        "disablePasswordAuthentication": {
          "type": "boolean",
          "description": "Specifies whether password authentication should be disabled."
        },
        "ssh": {
          "$ref": "#/definitions/SshConfiguration",
          "description": "Specifies the ssh key configuration for a Linux OS."
        },
        "provisionVMAgent": {
          "type": "boolean",
          "description": "Indicates whether virtual machine agent should be provisioned on the virtual\nmachine. When this property is not specified in the request body, default\nbehavior is to set it to true. This will ensure that VM Agent is installed on\nthe VM so that extensions can be added to the VM later."
        },
        "patchSettings": {
          "$ref": "#/definitions/LinuxPatchSettings",
          "description": "[Preview Feature] Specifies settings related to VM Guest Patching on Linux."
        },
        "enableVMAgentPlatformUpdates": {
          "type": "boolean",
          "description": "Indicates whether VMAgent Platform Updates is enabled for the Linux virtual\nmachine. Default value is false."
        }
      }
    },
    "LinuxPatchAssessmentMode": {
      "type": "string",
      "description": "Specifies the mode of VM Guest Patch Assessment for the IaaS virtual\nmachine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You\ncontrol the timing of patch assessments on a virtual machine. <br /><br />\n**AutomaticByPlatform** - The platform will trigger periodic patch assessments.\nThe property provisionVMAgent must be true.",
      "enum": [
        "ImageDefault",
        "AutomaticByPlatform"
      ],
      "x-ms-enum": {
        "name": "LinuxPatchAssessmentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ImageDefault",
            "value": "ImageDefault"
          },
          {
            "name": "AutomaticByPlatform",
            "value": "AutomaticByPlatform"
          }
        ]
      }
    },
    "LinuxPatchSettings": {
      "type": "object",
      "description": "Specifies settings related to VM Guest Patching on Linux.",
      "properties": {
        "patchMode": {
          "$ref": "#/definitions/LinuxVMGuestPatchMode",
          "description": "Specifies the mode of VM Guest Patching to IaaS virtual machine or virtual\nmachines associated to virtual machine scale set with OrchestrationMode as\nFlexible.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - The\nvirtual machine's default patching configuration is used. <br /><br />\n**AutomaticByPlatform** - The virtual machine will be automatically updated by\nthe platform. The property provisionVMAgent must be true"
        },
        "assessmentMode": {
          "$ref": "#/definitions/LinuxPatchAssessmentMode",
          "description": "Specifies the mode of VM Guest Patch Assessment for the IaaS virtual\nmachine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You\ncontrol the timing of patch assessments on a virtual machine. <br /><br />\n**AutomaticByPlatform** - The platform will trigger periodic patch assessments.\nThe property provisionVMAgent must be true."
        },
        "automaticByPlatformSettings": {
          "$ref": "#/definitions/LinuxVMGuestPatchAutomaticByPlatformSettings",
          "description": "Specifies additional settings for patch mode AutomaticByPlatform in VM Guest\nPatching on Linux."
        }
      }
    },
    "LinuxVMGuestPatchAutomaticByPlatformRebootSetting": {
      "type": "string",
      "description": "Specifies the reboot setting for all AutomaticByPlatform patch installation\noperations.",
      "enum": [
        "Unknown",
        "IfRequired",
        "Never",
        "Always"
      ],
      "x-ms-enum": {
        "name": "LinuxVMGuestPatchAutomaticByPlatformRebootSetting",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown"
          },
          {
            "name": "IfRequired",
            "value": "IfRequired"
          },
          {
            "name": "Never",
            "value": "Never"
          },
          {
            "name": "Always",
            "value": "Always"
          }
        ]
      }
    },
    "LinuxVMGuestPatchAutomaticByPlatformSettings": {
      "type": "object",
      "description": "Specifies additional settings to be applied when patch mode AutomaticByPlatform\nis selected in Linux patch settings.",
      "properties": {
        "rebootSetting": {
          "$ref": "#/definitions/LinuxVMGuestPatchAutomaticByPlatformRebootSetting",
          "description": "Specifies the reboot setting for all AutomaticByPlatform patch installation\noperations."
        },
        "bypassPlatformSafetyChecksOnUserSchedule": {
          "type": "boolean",
          "description": "Enables customer to schedule patching without accidental upgrades"
        }
      }
    },
    "LinuxVMGuestPatchMode": {
      "type": "string",
      "description": "Specifies the mode of VM Guest Patching to IaaS virtual machine or virtual\nmachines associated to virtual machine scale set with OrchestrationMode as\nFlexible.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - The\nvirtual machine's default patching configuration is used. <br /><br />\n**AutomaticByPlatform** - The virtual machine will be automatically updated by\nthe platform. The property provisionVMAgent must be true",
      "enum": [
        "ImageDefault",
        "AutomaticByPlatform"
      ],
      "x-ms-enum": {
        "name": "LinuxVMGuestPatchMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ImageDefault",
            "value": "ImageDefault"
          },
          {
            "name": "AutomaticByPlatform",
            "value": "AutomaticByPlatform"
          }
        ]
      }
    },
    "ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "The template for adding optional properties.",
      "properties": {
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "x-nullable": true,
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity"
          }
        }
      }
    },
    "Mode": {
      "type": "string",
      "description": "Specifies the mode that ProxyAgent will execute on if the feature is enabled.\nProxyAgent will start to audit or monitor but not enforce access control over\nrequests to host endpoints in Audit mode, while in Enforce mode it will enforce\naccess control. The default value is Enforce mode.",
      "enum": [
        "Audit",
        "Enforce"
      ],
      "x-ms-enum": {
        "name": "Mode",
        "modelAsString": true,
        "values": [
          {
            "name": "Audit",
            "value": "Audit"
          },
          {
            "name": "Enforce",
            "value": "Enforce"
          }
        ]
      }
    },
    "NetworkApiVersion": {
      "type": "string",
      "description": "specifies the Microsoft.Network API version used when creating networking\nresources in the Network Interface Configurations for Virtual Machine Scale Set\nwith orchestration mode 'Flexible'",
      "enum": [
        "2020-11-01"
      ],
      "x-ms-enum": {
        "name": "NetworkApiVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "2020-11-01",
            "value": "2020-11-01"
          }
        ]
      }
    },
    "NetworkInterfaceAuxiliaryMode": {
      "type": "string",
      "description": "Specifies whether the Auxiliary mode is enabled for the Network Interface\nresource.",
      "enum": [
        "None",
        "AcceleratedConnections",
        "Floating"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliaryMode",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "AcceleratedConnections",
            "value": "AcceleratedConnections"
          },
          {
            "name": "Floating",
            "value": "Floating"
          }
        ]
      }
    },
    "NetworkInterfaceAuxiliarySku": {
      "type": "string",
      "description": "Specifies whether the Auxiliary sku is enabled for the Network Interface\nresource.",
      "enum": [
        "None",
        "A1",
        "A2",
        "A4",
        "A8"
      ],
      "x-ms-enum": {
        "name": "NetworkInterfaceAuxiliarySku",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None"
          },
          {
            "name": "A1",
            "value": "A1"
          },
          {
            "name": "A2",
            "value": "A2"
          },
          {
            "name": "A4",
            "value": "A4"
          },
          {
            "name": "A8",
            "value": "A8"
          }
        ]
      }
    },
    "OSImageNotificationProfile": {
      "type": "object",
      "properties": {
        "notBeforeTimeout": {
          "type": "string",
          "description": "Length of time a Virtual Machine being reimaged or having its OS upgraded will\nhave to potentially approve the OS Image Scheduled Event before the event is\nauto approved (timed out). The configuration is specified in ISO 8601 format,\nand the value must be 15 minutes (PT15M)"
        },
        "enable": {
          "type": "boolean",
          "description": "Specifies whether the OS Image Scheduled event is enabled or disabled."
        }
      }
    },
    "OperatingSystemTypes": {
      "type": "string",
      "description": "This property allows you to specify the type of the OS that is included in the\ndisk if creating a VM from user-image or a specialized VHD. Possible values\nare: **Windows,** **Linux.**",
      "enum": [
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "name": "OperatingSystemTypes",
        "modelAsString": false
      }
    },
    "PatchSettings": {
      "type": "object",
      "description": "Specifies settings related to VM Guest Patching on Windows.",
      "properties": {
        "patchMode": {
          "$ref": "#/definitions/WindowsVMGuestPatchMode",
          "description": "Specifies the mode of VM Guest Patching to IaaS virtual machine or virtual\nmachines associated to virtual machine scale set with OrchestrationMode as\nFlexible.<br /><br /> Possible values are:<br /><br /> **Manual** - You\ncontrol the application of patches to a virtual machine. You do this by\napplying patches manually inside the VM. In this mode, automatic updates are\ndisabled; the property WindowsConfiguration.enableAutomaticUpdates must be\nfalse<br /><br /> **AutomaticByOS** - The virtual machine will automatically be\nupdated by the OS. The property WindowsConfiguration.enableAutomaticUpdates\nmust be true. <br /><br /> **AutomaticByPlatform** - the virtual machine will\nautomatically updated by the platform. The properties provisionVMAgent and\nWindowsConfiguration.enableAutomaticUpdates must be true"
        },
        "enableHotpatching": {
          "type": "boolean",
          "description": "Enables customers to patch their Azure VMs without requiring a reboot. For\nenableHotpatching, the 'provisionVMAgent' must be set to true and 'patchMode'\nmust be set to 'AutomaticByPlatform'."
        },
        "assessmentMode": {
          "$ref": "#/definitions/WindowsPatchAssessmentMode",
          "description": "Specifies the mode of VM Guest patch assessment for the IaaS virtual\nmachine.<br /><br /> Possible values are:<br /><br /> **ImageDefault** - You\ncontrol the timing of patch assessments on a virtual machine.<br /><br />\n**AutomaticByPlatform** - The platform will trigger periodic patch assessments.\nThe property provisionVMAgent must be true."
        },
        "automaticByPlatformSettings": {
          "$ref": "#/definitions/WindowsVMGuestPatchAutomaticByPlatformSettings",
          "description": "Specifies additional settings for patch mode AutomaticByPlatform in VM Guest\nPatching on Windows."
        }
      }
    },
    "ProtocolTypes": {
      "type": "string",
      "description": "Specifies the protocol of WinRM listener. Possible values are: **http,**\n**https.**",
      "enum": [
        "Http",
        "Https"
      ],
      "x-ms-enum": {
        "name": "ProtocolTypes",
        "modelAsString": false
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting",
        "Migrating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Initial creation in progress."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Update in progress."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deletion in progress."
          },
          {
            "name": "Migrating",
            "value": "Migrating",
            "description": "Resource is being migrated from one subscription or resource group to another."
          }
        ]
      },
      "readOnly": true
    },
    "ProxyAgentSettings": {
      "type": "object",
      "description": "Specifies ProxyAgent settings while creating the virtual machine. Minimum\napi-version: 2023-09-01.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Specifies whether ProxyAgent feature should be enabled on the virtual machine\nor virtual machine scale set."
        },
        "mode": {
          "$ref": "#/definitions/Mode",
          "description": "Specifies the mode that ProxyAgent will execute on if the feature is enabled.\nProxyAgent will start to audit or monitor but not enforce access control over\nrequests to host endpoints in Audit mode, while in Enforce mode it will enforce\naccess control. The default value is Enforce mode."
        },
        "keyIncarnationId": {
          "type": "integer",
          "format": "int32",
          "description": "Increase the value of this property allows user to reset the key used for\nsecuring communication channel between guest and host."
        }
      }
    },
    "PublicIPAddressSku": {
      "type": "object",
      "description": "Describes the public IP Sku. It can only be set with OrchestrationMode as\nFlexible.",
      "properties": {
        "name": {
          "$ref": "#/definitions/PublicIPAddressSkuName",
          "description": "Specify public IP sku name"
        },
        "tier": {
          "$ref": "#/definitions/PublicIPAddressSkuTier",
          "description": "Specify public IP sku tier"
        }
      }
    },
    "PublicIPAddressSkuName": {
      "type": "string",
      "description": "Specify public IP sku name",
      "enum": [
        "Basic",
        "Standard"
      ],
      "x-ms-enum": {
        "name": "PublicIPAddressSkuName",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic"
          },
          {
            "name": "Standard",
            "value": "Standard"
          }
        ]
      }
    },
    "PublicIPAddressSkuTier": {
      "type": "string",
      "description": "Specify public IP sku tier",
      "enum": [
        "Regional",
        "Global"
      ],
      "x-ms-enum": {
        "name": "PublicIPAddressSkuTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Regional",
            "value": "Regional"
          },
          {
            "name": "Global",
            "value": "Global"
          }
        ]
      }
    },
    "RegularPriorityAllocationStrategy": {
      "type": "string",
      "description": "Regular VM Allocation strategy types for Compute Fleet",
      "enum": [
        "LowestPrice"
      ],
      "x-ms-enum": {
        "name": "RegularPriorityAllocationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "LowestPrice",
            "value": "LowestPrice",
            "description": "Default. VM sizes distribution will be determined to optimize for price."
          }
        ]
      }
    },
    "RegularPriorityProfile": {
      "type": "object",
      "description": "Configuration Options for Regular instances in Compute Fleet.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Total capacity to achieve. It is currently in terms of number of VMs.",
          "minimum": 0
        },
        "minCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum capacity to achieve which cannot be updated. If we will not be able to \"guarantee\" minimum capacity, we will reject the request in the sync path itself.",
          "minimum": 0
        },
        "allocationStrategy": {
          "$ref": "#/definitions/RegularPriorityAllocationStrategy",
          "description": "Allocation strategy to follow when determining the VM sizes distribution for Regular VMs."
        }
      }
    },
    "ResourcePlanUpdate": {
      "type": "object",
      "description": "The template for adding optional properties.",
      "properties": {
        "name": {
          "type": "string",
          "description": "A user defined name of the 3rd Party Artifact that is being procured."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher of the 3rd Party Artifact that is being bought. E.g. NewRelic"
        },
        "product": {
          "type": "string",
          "description": "The 3rd Party artifact that is being procured. E.g. NewRelic. Product maps to the OfferID specified for the artifact at the time of Data Market onboarding."
        },
        "promotionCode": {
          "type": "string",
          "description": "A publisher provided promotion code as provisioned in Data Market for the said product/artifact."
        },
        "version": {
          "type": "string",
          "description": "The version of the desired product/artifact."
        }
      }
    },
    "ResourceWithOptionalLocation": {
      "type": "object",
      "description": "The Resource model definition with location property as optional.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "id": {
          "type": "string",
          "description": "Resource Id",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ScheduledEventsProfile": {
      "type": "object",
      "properties": {
        "terminateNotificationProfile": {
          "$ref": "#/definitions/TerminateNotificationProfile",
          "description": "Specifies Terminate Scheduled Event related configurations."
        },
        "osImageNotificationProfile": {
          "$ref": "#/definitions/OSImageNotificationProfile",
          "description": "Specifies OS Image Scheduled Event related configurations."
        }
      }
    },
    "SecurityEncryptionTypes": {
      "type": "string",
      "description": "Specifies the EncryptionType of the managed disk. It is set to\nDiskWithVMGuestState for encryption of the managed disk along with VMGuestState\nblob, VMGuestStateOnly for encryption of just the VMGuestState blob, and\nNonPersistedTPM for not persisting firmware state in the VMGuestState blob..\n**Note:** It can be set for only Confidential VMs.",
      "enum": [
        "VMGuestStateOnly",
        "DiskWithVMGuestState",
        "NonPersistedTPM"
      ],
      "x-ms-enum": {
        "name": "SecurityEncryptionTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "VMGuestStateOnly",
            "value": "VMGuestStateOnly"
          },
          {
            "name": "DiskWithVMGuestState",
            "value": "DiskWithVMGuestState"
          },
          {
            "name": "NonPersistedTPM",
            "value": "NonPersistedTPM"
          }
        ]
      }
    },
    "SecurityPostureReference": {
      "type": "object",
      "description": "Specifies the security posture to be used for all virtual machines in the scale\nset. Minimum api-version: 2023-03-01",
      "properties": {
        "id": {
          "type": "string",
          "description": "The security posture reference id in the form of\n/CommunityGalleries/{communityGalleryName}/securityPostures/{securityPostureName}/versions/{major.minor.patch}|{major.*}|latest"
        },
        "excludeExtensions": {
          "type": "array",
          "description": "List of virtual machine extensions to exclude when applying the Security\nPosture.",
          "items": {
            "$ref": "#/definitions/VirtualMachineExtension"
          }
        }
      }
    },
    "SecurityProfile": {
      "type": "object",
      "description": "Specifies the Security profile settings for the virtual machine or virtual\nmachine scale set.",
      "properties": {
        "uefiSettings": {
          "$ref": "#/definitions/UefiSettings",
          "description": "Specifies the security settings like secure boot and vTPM used while creating\nthe virtual machine. Minimum api-version: 2020-12-01."
        },
        "encryptionAtHost": {
          "type": "boolean",
          "description": "This property can be used by user in the request to enable or disable the Host\nEncryption for the virtual machine or virtual machine scale set. This will\nenable the encryption for all the disks including Resource/Temp disk at host\nitself. The default behavior is: The Encryption at host will be disabled unless\nthis property is set to true for the resource."
        },
        "securityType": {
          "$ref": "#/definitions/SecurityTypes",
          "description": "Specifies the SecurityType of the virtual machine. It has to be set to any\nspecified value to enable UefiSettings. The default behavior is: UefiSettings\nwill not be enabled unless this property is set."
        },
        "encryptionIdentity": {
          "$ref": "#/definitions/EncryptionIdentity",
          "description": "Specifies the Managed Identity used by ADE to get access token for keyvault\noperations."
        },
        "proxyAgentSettings": {
          "$ref": "#/definitions/ProxyAgentSettings",
          "description": "Specifies ProxyAgent settings while creating the virtual machine. Minimum\napi-version: 2023-09-01."
        }
      }
    },
    "SecurityTypes": {
      "type": "string",
      "description": "Specifies the SecurityType of the virtual machine. It has to be set to any\nspecified value to enable UefiSettings. The default behavior is: UefiSettings\nwill not be enabled unless this property is set.",
      "enum": [
        "TrustedLaunch",
        "ConfidentialVM"
      ],
      "x-ms-enum": {
        "name": "SecurityTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "TrustedLaunch",
            "value": "TrustedLaunch"
          },
          {
            "name": "ConfidentialVM",
            "value": "ConfidentialVM"
          }
        ]
      }
    },
    "ServiceArtifactReference": {
      "type": "object",
      "description": "Specifies the service artifact reference id used to set same image version for\nall virtual machines in the scale set when using 'latest' image version.\nMinimum api-version: 2022-11-01",
      "properties": {
        "id": {
          "type": "string",
          "description": "The service artifact reference id in the form of\n/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/galleries/{galleryName}/serviceArtifacts/{serviceArtifactName}/vmArtifactsProfiles/{vmArtifactsProfilesName}"
        }
      }
    },
    "SettingNames": {
      "type": "string",
      "description": "Specifies the name of the setting to which the content applies. Possible values\nare: FirstLogonCommands and AutoLogon.",
      "enum": [
        "AutoLogon",
        "FirstLogonCommands"
      ],
      "x-ms-enum": {
        "name": "SettingNames",
        "modelAsString": false
      }
    },
    "SpotAllocationStrategy": {
      "type": "string",
      "description": "Spot allocation strategy types for Compute Fleet",
      "enum": [
        "PriceCapacityOptimized",
        "LowestPrice",
        "CapacityOptimized"
      ],
      "x-ms-enum": {
        "name": "SpotAllocationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "PriceCapacityOptimized",
            "value": "PriceCapacityOptimized",
            "description": "Default. VM sizes distribution will be determined to optimize for both price and capacity."
          },
          {
            "name": "LowestPrice",
            "value": "LowestPrice",
            "description": "VM sizes distribution will be determined to optimize for price. Note: Capacity will still be considered here but will be given much less weight."
          },
          {
            "name": "CapacityOptimized",
            "value": "CapacityOptimized",
            "description": "VM sizes distribution will be determined to optimize for capacity."
          }
        ]
      }
    },
    "SpotPriorityProfile": {
      "type": "object",
      "description": "Configuration Options for Spot instances in Compute Fleet.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Total capacity to achieve. It is currently in terms of number of VMs.",
          "minimum": 0
        },
        "minCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum capacity to achieve which cannot be updated. If we will not be able to \"guarantee\" minimum capacity, we will reject the request in the sync path itself.",
          "minimum": 0
        },
        "maxPricePerVM": {
          "type": "number",
          "format": "float",
          "description": "Price per hour of each Spot VM will never exceed this."
        },
        "evictionPolicy": {
          "$ref": "#/definitions/EvictionPolicy",
          "description": "Eviction Policy to follow when evicting Spot VMs."
        },
        "allocationStrategy": {
          "$ref": "#/definitions/SpotAllocationStrategy",
          "description": "Allocation strategy to follow when determining the VM sizes distribution for Spot VMs."
        }
      }
    },
    "SshConfiguration": {
      "type": "object",
      "description": "SSH configuration for Linux based VMs running on Azure",
      "properties": {
        "publicKeys": {
          "type": "array",
          "description": "The list of SSH public keys used to authenticate with linux based VMs.",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "x-ms-identifiers": [
            "path"
          ]
        }
      }
    },
    "SshPublicKey": {
      "type": "object",
      "description": "Contains information about SSH certificate public key and the path on the Linux\nVM where the public key is placed.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Specifies the full path on the created VM where ssh public key is stored. If\nthe file already exists, the specified key is appended to the file. Example:\n/home/user/.ssh/authorized_keys"
        },
        "keyData": {
          "type": "string",
          "description": "SSH public key certificate used to authenticate with the VM through ssh. The\nkey needs to be at least 2048-bit and in ssh-rsa format. For creating ssh keys,\nsee [Create SSH keys on Linux and Mac for Linux VMs in\nAzure]https://docs.microsoft.com/azure/virtual-machines/linux/create-ssh-keys-detailed)."
        }
      }
    },
    "StatusLevelTypes": {
      "type": "string",
      "description": "The level code.",
      "enum": [
        "Info",
        "Warning",
        "Error"
      ],
      "x-ms-enum": {
        "name": "StatusLevelTypes",
        "modelAsString": false
      }
    },
    "StorageAccountTypes": {
      "type": "string",
      "description": "Specifies the storage account type for the managed disk. Managed OS disk\nstorage account type can only be set when you create the scale set. NOTE:\nUltraSSD_LRS can only be used with data disks. It cannot be used with OS Disk.\nStandard_LRS uses Standard HDD. StandardSSD_LRS uses Standard SSD. Premium_LRS\nuses Premium SSD. UltraSSD_LRS uses Ultra disk. Premium_ZRS uses Premium SSD\nzone redundant storage. StandardSSD_ZRS uses Standard SSD zone redundant\nstorage. For more information regarding disks supported for Windows Virtual\nMachines, refer to\nhttps://docs.microsoft.com/azure/virtual-machines/windows/disks-types and, for\nLinux Virtual Machines, refer to\nhttps://docs.microsoft.com/azure/virtual-machines/linux/disks-types",
      "enum": [
        "Standard_LRS",
        "Premium_LRS",
        "StandardSSD_LRS",
        "UltraSSD_LRS",
        "Premium_ZRS",
        "StandardSSD_ZRS",
        "PremiumV2_LRS"
      ],
      "x-ms-enum": {
        "name": "StorageAccountTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard_LRS",
            "value": "Standard_LRS"
          },
          {
            "name": "Premium_LRS",
            "value": "Premium_LRS"
          },
          {
            "name": "StandardSSD_LRS",
            "value": "StandardSSD_LRS"
          },
          {
            "name": "UltraSSD_LRS",
            "value": "UltraSSD_LRS"
          },
          {
            "name": "Premium_ZRS",
            "value": "Premium_ZRS"
          },
          {
            "name": "StandardSSD_ZRS",
            "value": "StandardSSD_ZRS"
          },
          {
            "name": "PremiumV2_LRS",
            "value": "PremiumV2_LRS"
          }
        ]
      }
    },
    "SubResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      }
    },
    "SubResourceReadOnly": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id",
          "readOnly": true
        }
      }
    },
    "TerminateNotificationProfile": {
      "type": "object",
      "properties": {
        "notBeforeTimeout": {
          "type": "string",
          "description": "Configurable length of time a Virtual Machine being deleted will have to\npotentially approve the Terminate Scheduled Event before the event is auto\napproved (timed out). The configuration must be specified in ISO 8601 format,\nthe default value is 5 minutes (PT5M)"
        },
        "enable": {
          "type": "boolean",
          "description": "Specifies whether the Terminate Scheduled event is enabled or disabled."
        }
      }
    },
    "UefiSettings": {
      "type": "object",
      "description": "Specifies the security settings like secure boot and vTPM used while creating\nthe virtual machine. Minimum api-version: 2020-12-01.",
      "properties": {
        "secureBootEnabled": {
          "type": "boolean",
          "description": "Specifies whether secure boot should be enabled on the virtual machine. Minimum\napi-version: 2020-12-01."
        },
        "vTpmEnabled": {
          "type": "boolean",
          "description": "Specifies whether vTPM should be enabled on the virtual machine. Minimum\napi-version: 2020-12-01."
        }
      }
    },
    "VMDiskSecurityProfile": {
      "type": "object",
      "description": "Specifies the security profile settings for the managed disk. **Note:** It can\nonly be set for Confidential VMs.",
      "properties": {
        "securityEncryptionType": {
          "$ref": "#/definitions/SecurityEncryptionTypes",
          "description": "Specifies the EncryptionType of the managed disk. It is set to\nDiskWithVMGuestState for encryption of the managed disk along with VMGuestState\nblob, VMGuestStateOnly for encryption of just the VMGuestState blob, and\nNonPersistedTPM for not persisting firmware state in the VMGuestState blob..\n**Note:** It can be set for only Confidential VMs."
        },
        "diskEncryptionSet": {
          "$ref": "#/definitions/DiskEncryptionSetParameters",
          "description": "Specifies the customer managed disk encryption set resource id for the managed\ndisk that is used for Customer Managed Key encrypted ConfidentialVM OS Disk and\nVMGuest blob."
        }
      }
    },
    "VMGalleryApplication": {
      "type": "object",
      "description": "Specifies the required information to reference a compute gallery application\nversion",
      "properties": {
        "tags": {
          "type": "string",
          "description": "Optional, Specifies a passthrough value for more generic context."
        },
        "order": {
          "type": "integer",
          "format": "int32",
          "description": "Optional, Specifies the order in which the packages have to be installed"
        },
        "packageReferenceId": {
          "type": "string",
          "description": "Specifies the GalleryApplicationVersion resource id on the form of\n/subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{application}/versions/{version}"
        },
        "configurationReference": {
          "type": "string",
          "description": "Optional, Specifies the uri to an azure blob that will replace the default\nconfiguration for the package if provided"
        },
        "treatFailureAsDeploymentFailure": {
          "type": "boolean",
          "description": "Optional, If true, any failure for any operation in the VmApplication will fail\nthe deployment"
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "If set to true, when a new Gallery Application version is available in PIR/SIG,\nit will be automatically updated for the VM/VMSS"
        }
      },
      "required": [
        "packageReferenceId"
      ]
    },
    "VMSizeProperties": {
      "type": "object",
      "description": "Specifies VM Size Property settings on the virtual machine.",
      "properties": {
        "vCPUsAvailable": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the number of vCPUs available for the VM. When this property is not\nspecified in the request body the default behavior is to set it to the value of\nvCPUs available for that VM size exposed in api response of [List all available\nvirtual machine sizes in a\nregion](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list)."
        },
        "vCPUsPerCore": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the vCPU to physical core ratio. When this property is not specified\nin the request body the default behavior is set to the value of vCPUsPerCore\nfor the VM Size exposed in api response of [List all available virtual machine\nsizes in a\nregion](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list).\n**Setting this property to 1 also means that hyper-threading is disabled.**"
        }
      }
    },
    "VaultCertificate": {
      "type": "object",
      "description": "Describes a single certificate reference in a Key Vault, and where the\ncertificate should reside on the VM.",
      "properties": {
        "certificateUrl": {
          "type": "string",
          "description": "This is the URL of a certificate that has been uploaded to Key Vault as a\nsecret. For adding a secret to the Key Vault, see [Add a key or secret to the\nkey\nvault](https://docs.microsoft.com/azure/key-vault/key-vault-get-started/#add).\nIn this case, your certificate needs to be It is the Base64 encoding of the\nfollowing JSON Object which is encoded in UTF-8: <br><br> {<br>\n\"data\":\"<Base64-encoded-certificate>\",<br>  \"dataType\":\"pfx\",<br>\n\"password\":\"<pfx-file-password>\"<br>} <br> To install certificates on a virtual\nmachine it is recommended to use the [Azure Key Vault virtual machine extension\nfor\nLinux](https://docs.microsoft.com/azure/virtual-machines/extensions/key-vault-linux)\nor the [Azure Key Vault virtual machine extension for\nWindows](https://docs.microsoft.com/azure/virtual-machines/extensions/key-vault-windows)."
        },
        "certificateStore": {
          "type": "string",
          "description": "For Windows VMs, specifies the certificate store on the Virtual Machine to\nwhich the certificate should be added. The specified certificate store is\nimplicitly in the LocalMachine account. For Linux VMs, the certificate file is\nplaced under the /var/lib/waagent directory, with the file name\n&lt;UppercaseThumbprint&gt;.crt for the X509 certificate file and\n&lt;UppercaseThumbprint&gt;.prv for private key. Both of these files are .pem\nformatted."
        }
      }
    },
    "VaultSecretGroup": {
      "type": "object",
      "description": "Describes a set of certificates which are all in the same Key Vault.",
      "properties": {
        "sourceVault": {
          "$ref": "#/definitions/SubResource",
          "description": "The relative URL of the Key Vault containing all of the certificates in\nVaultCertificates."
        },
        "vaultCertificates": {
          "type": "array",
          "description": "The list of key vault references in SourceVault which contain certificates.",
          "items": {
            "$ref": "#/definitions/VaultCertificate"
          },
          "x-ms-identifiers": [
            "certificateUrl"
          ]
        }
      }
    },
    "VirtualHardDisk": {
      "type": "object",
      "description": "Describes the uri of a disk.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Specifies the virtual hard disk's uri."
        }
      }
    },
    "VirtualMachineEvictionPolicyTypes": {
      "type": "string",
      "description": "Specifies the eviction policy for the Azure Spot VM/VMSS",
      "enum": [
        "Deallocate",
        "Delete"
      ],
      "x-ms-enum": {
        "name": "VirtualMachineEvictionPolicyTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Deallocate",
            "value": "Deallocate"
          },
          {
            "name": "Delete",
            "value": "Delete"
          }
        ]
      }
    },
    "VirtualMachineExtension": {
      "type": "object",
      "description": "Describes a Virtual Machine Extension.",
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "id": {
          "type": "string",
          "description": "Resource Id",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Resource name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource type",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/VirtualMachineExtensionProperties",
          "description": "Describes the properties of a Virtual Machine Extension."
        }
      }
    },
    "VirtualMachineExtensionInstanceView": {
      "type": "object",
      "description": "The instance view of a virtual machine extension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The virtual machine extension name."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "substatuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        },
        "statuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "VirtualMachineExtensionProperties": {
      "type": "object",
      "description": "Describes the properties of a Virtual Machine Extension.",
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension\nconfiguration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is\navailable at deployment time. Once deployed, however, the extension will not\nupgrade minor versions unless redeployed, even with this property set to true."
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "Indicates whether the extension should be automatically upgraded by the\nplatform if there is a newer version of the extension available."
        },
        "settings": {
          "type": "object",
          "description": "Json formatted public settings for the extension.",
          "additionalProperties": {}
        },
        "protectedSettings": {
          "type": "object",
          "description": "The extension can contain either protectedSettings or\nprotectedSettingsFromKeyVault or no protected settings at all.",
          "additionalProperties": {}
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/VirtualMachineExtensionInstanceView",
          "description": "The virtual machine extension instance view."
        },
        "suppressFailures": {
          "type": "boolean",
          "description": "Indicates whether failures stemming from the extension will be suppressed\n(Operational failures such as not connecting to the VM will not be suppressed\nregardless of this value). The default is false."
        },
        "protectedSettingsFromKeyVault": {
          "$ref": "#/definitions/KeyVaultSecretReference",
          "description": "The extensions protected settings that are passed by reference, and consumed\nfrom key vault"
        },
        "provisionAfterExtensions": {
          "type": "array",
          "description": "Collection of extension names after which this extension needs to be\nprovisioned.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VirtualMachinePriorityTypes": {
      "type": "string",
      "description": "Specifies the priority for a standalone virtual machine or the virtual machines\nin the scale set. 'Low' enum will be deprecated in the future, please use 'Spot'\nas the enum to deploy Azure Spot VM/VMSS.",
      "enum": [
        "Regular",
        "Low",
        "Spot"
      ],
      "x-ms-enum": {
        "name": "VirtualMachinePriorityTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Regular",
            "value": "Regular"
          },
          {
            "name": "Low",
            "value": "Low"
          },
          {
            "name": "Spot",
            "value": "Spot"
          }
        ]
      }
    },
    "VirtualMachineScaleSet": {
      "type": "object",
      "description": "An AzureFleet's virtualMachineScaleSet",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the virtualMachineScaleSet",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "The compute RP resource id of the virtualMachineScaleSet \n\"subscriptions/{subId}/resourceGroups/{rgName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}\"",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the virtualMachineScaleSet",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "This represents the Provisioning State of the VMSS in response to the last operation that was performed on it by Azure Fleet resource.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "id",
        "provisioningState"
      ]
    },
    "VirtualMachineScaleSetDataDisk": {
      "type": "object",
      "description": "Describes a virtual machine scale set data disk.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "lun": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to\nidentify data disks within the VM and therefore must be unique for each data\ndisk attached to a VM."
        },
        "caching": {
          "$ref": "#/definitions/CachingTypes",
          "description": "Specifies the caching requirements. Possible values are: **None,**\n**ReadOnly,** **ReadWrite.** The default values are: **None for Standard\nstorage. ReadOnly for Premium storage.**"
        },
        "writeAcceleratorEnabled": {
          "type": "boolean",
          "description": "Specifies whether writeAccelerator should be enabled or disabled on the disk."
        },
        "createOption": {
          "$ref": "#/definitions/DiskCreateOptionTypes",
          "description": "The create option."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes. This element can be used\nto overwrite the size of the disk in a virtual machine image. The property\ndiskSizeGB is the number of bytes x 1024^3 for the disk and the value cannot be\nlarger than 1023."
        },
        "managedDisk": {
          "$ref": "#/definitions/VirtualMachineScaleSetManagedDiskParameters",
          "description": "The managed disk parameters."
        },
        "diskIOPSReadWrite": {
          "type": "integer",
          "format": "int64",
          "description": "Specifies the Read-Write IOPS for the managed disk. Should be used only when\nStorageAccountType is UltraSSD_LRS. If not specified, a default value would be\nassigned based on diskSizeGB.",
          "x-ms-client-name": "diskIopsReadWrite"
        },
        "diskMBpsReadWrite": {
          "type": "integer",
          "format": "int64",
          "description": "Specifies the bandwidth in MB per second for the managed disk. Should be used\nonly when StorageAccountType is UltraSSD_LRS. If not specified, a default value\nwould be assigned based on diskSizeGB."
        },
        "deleteOption": {
          "$ref": "#/definitions/DiskDeleteOptionTypes",
          "description": "Specifies whether data disk should be deleted or detached upon VMSS Flex\ndeletion (This feature is available for VMSS with Flexible OrchestrationMode\nonly).<br><br> Possible values: <br><br> **Delete** If this value is used, the\ndata disk is deleted when the VMSS Flex VM is deleted.<br><br> **Detach** If\nthis value is used, the data disk is retained after VMSS Flex VM is\ndeleted.<br><br> The default value is set to **Delete**."
        }
      },
      "required": [
        "lun",
        "createOption"
      ]
    },
    "VirtualMachineScaleSetExtension": {
      "type": "object",
      "description": "Describes a Virtual Machine Scale Set Extension.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the extension."
        },
        "type": {
          "type": "string",
          "description": "Resource type",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/VirtualMachineScaleSetExtensionProperties",
          "description": "Describes the properties of a Virtual Machine Scale Set Extension."
        }
      }
    },
    "VirtualMachineScaleSetExtensionProfile": {
      "type": "object",
      "description": "Describes a virtual machine scale set extension profile.",
      "properties": {
        "extensions": {
          "type": "array",
          "description": "The virtual machine scale set child extension resources.",
          "items": {
            "$ref": "#/definitions/VirtualMachineScaleSetExtension"
          }
        },
        "extensionsTimeBudget": {
          "type": "string",
          "description": "Specifies the time alloted for all extensions to start. The time duration\nshould be between 15 minutes and 120 minutes (inclusive) and should be\nspecified in ISO 8601 format. The default value is 90 minutes (PT1H30M).\nMinimum api-version: 2020-06-01."
        }
      }
    },
    "VirtualMachineScaleSetExtensionProperties": {
      "type": "object",
      "description": "Describes the properties of a Virtual Machine Scale Set Extension.",
      "properties": {
        "forceUpdateTag": {
          "type": "string",
[...]
