{
  "swagger": "2.0",
  "info": {
    "version": "2021-06-01-preview",
    "title": "SynapseManagementClient",
    "description": "Azure Synapse Analytics APIs"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "type": "oauth2",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces": {
      "get": {
        "operationId": "Workspaces_ListByResourceGroup",
        "description": "Returns a list of workspaces in a resource group",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceInfoListResult"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List workspaces in resource group": {
            "$ref": "./examples/ListWorkspacesInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}": {
      "get": {
        "operationId": "Workspaces_Get",
        "description": "Gets a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get a workspace": {
            "$ref": "./examples/GetWorkspace.json"
          }
        }
      },
      "patch": {
        "operationId": "Workspaces_Update",
        "description": "Updates a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "schema": {
              "$ref": "#/definitions/WorkspacePatchInfo"
            },
            "in": "body",
            "name": "workspacePatchInfo",
            "required": true,
            "description": "Workspace patch request properties"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Update a workspace": {
            "$ref": "./examples/UpdateWorkspace.json"
          }
        }
      },
      "put": {
        "operationId": "Workspaces_CreateOrUpdate",
        "description": "Creates or updates a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Workspace create or update request properties",
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "in": "body",
            "name": "workspaceInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update a workspace": {
            "$ref": "./examples/CreateOrUpdateWorkspace.json"
          }
        }
      },
      "delete": {
        "operationId": "Workspaces_Delete",
        "description": "Deletes a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          },
          "202": {
            "schema": {
              "type": "object"
            },
            "description": ""
          },
          "204": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete a workspace": {
            "$ref": "./examples/DeleteWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Synapse/workspaces": {
      "get": {
        "operationId": "Workspaces_List",
        "description": "Returns a list of workspaces in a subscription",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceInfoListResult"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List workspaces in subscription": {
            "$ref": "./examples/ListWorkspacesInSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/administrators/activeDirectory": {
      "get": {
        "operationId": "WorkspaceAadAdmins_Get",
        "description": "Gets a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "description": "OK"
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get workspace active directory admin": {
            "$ref": "./examples/GetWorkspaceAadAdmin.json"
          }
        }
      },
      "put": {
        "operationId": "WorkspaceAadAdmins_CreateOrUpdate",
        "description": "Creates or updates a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Workspace active directory administrator properties",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "in": "body",
            "name": "aadAdminInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "202": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update workspace active directory admin": {
            "$ref": "./examples/CreateOrUpdateWorkspaceAadAdmin.json"
          }
        }
      },
      "delete": {
        "operationId": "WorkspaceAadAdmins_Delete",
        "description": "Deletes a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "Accepted"
          },
          "202": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete workspace active directory admin": {
            "$ref": "./examples/DeleteWorkspaceAadAdmin.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlAdministrators/activeDirectory": {
      "get": {
        "operationId": "WorkspaceSqlAadAdmins_Get",
        "description": "Gets a workspace SQL active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "description": "OK"
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get workspace active directory admin": {
            "$ref": "./examples/GetWorkspaceAadAdmin.json"
          }
        }
      },
      "put": {
        "operationId": "WorkspaceSqlAadAdmins_CreateOrUpdate",
        "description": "Creates or updates a workspace SQL active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Workspace active directory administrator properties",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "in": "body",
            "name": "aadAdminInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "202": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update workspace active directory admin": {
            "$ref": "./examples/CreateOrUpdateWorkspaceAadAdmin.json"
          }
        }
      },
      "delete": {
        "operationId": "WorkspaceSqlAadAdmins_Delete",
        "description": "Deletes a workspace SQL active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "Accepted"
          },
          "202": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete workspace active directory admin": {
            "$ref": "./examples/DeleteWorkspaceAadAdmin.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/managedIdentitySqlControlSettings/default": {
      "get": {
        "operationId": "WorkspaceManagedIdentitySqlControlSettings_Get",
        "summary": "Get Managed Identity Sql Control Settings",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ManagedIdentitySqlControlSettingsModel"
            },
            "description": "OK"
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error"
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get managed identity sql control settings": {
            "$ref": "./examples/GetManagedIdentitySqlControlSettings.json"
          }
        }
      },
      "put": {
        "operationId": "WorkspaceManagedIdentitySqlControlSettings_CreateOrUpdate",
        "summary": "Create or update Managed Identity Sql Control Settings",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "description": "Managed Identity Sql Control Settings",
            "schema": {
              "$ref": "#/definitions/ManagedIdentitySqlControlSettingsModel"
            },
            "in": "body",
            "name": "managedIdentitySqlControlSettings",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ManagedIdentitySqlControlSettingsModel"
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error"
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update managed identity sql control settings": {
            "$ref": "./examples/CreateOrUpdateManagedIdentitySqlControlSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/restorableDroppedSqlPools/{restorableDroppedSqlPoolId}": {
      "get": {
        "tags": [
          "RestorableDroppedSqlPools"
        ],
        "operationId": "RestorableDroppedSqlPools_Get",
        "description": "Gets a deleted sql pool that can be restored",
        "x-ms-examples": {
          "Get a restorable dropped Sql pool": {
            "$ref": "./examples/RestorableDroppedSqlPoolGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "restorableDroppedSqlPoolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the deleted Sql Pool in the form of sqlPoolName,deletionTimeInFileTimeFormat"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedSqlPool"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/restorableDroppedSqlPools": {
      "get": {
        "tags": [
          "RestorableDroppedSqlPools"
        ],
        "operationId": "RestorableDroppedSqlPools_ListByWorkspace",
        "description": "Gets a list of deleted Sql pools that can be restored",
        "x-ms-examples": {
          "Get list of restorable dropped Sql pools": {
            "$ref": "./examples/RestorableDroppedSqlpoolList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedSqlPoolListResult"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "description": "Error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "AadAdminProperties": {
      "description": "Workspace active directory administrator properties",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Tenant ID of the workspace active directory administrator",
          "type": "string"
        },
        "login": {
          "description": "Login of the workspace active directory administrator",
          "type": "string"
        },
        "administratorType": {
          "description": "Workspace active directory administrator type",
          "type": "string"
        },
        "sid": {
          "description": "Object ID of the workspace active directory administrator",
          "type": "string"
        }
      }
    },
    "WorkspaceInfoListResult": {
      "description": "List of workspaces",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Link to the next page of results",
          "type": "string"
        },
        "value": {
          "description": "List of workspaces",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        }
      }
    },
    "DataLakeStorageAccountDetails": {
      "description": "Details of the data lake storage account associated with the workspace",
      "type": "object",
      "properties": {
        "accountUrl": {
          "description": "Account URL",
          "type": "string"
        },
        "filesystem": {
          "description": "Filesystem name",
          "type": "string"
        },
        "resourceId": {
          "description": "ARM resource Id of this storage account",
          "type": "string"
        },
        "createManagedPrivateEndpoint": {
          "description": "Create managed private endpoint to this storage account or not",
          "type": "boolean"
        }
      }
    },
    "EncryptionDetails": {
      "description": "Details of the encryption associated with the workspace",
      "type": "object",
      "properties": {
        "doubleEncryptionEnabled": {
          "description": "Double Encryption enabled",
          "type": "boolean",
          "readOnly": true
        },
        "cmk": {
          "description": "Customer Managed Key Details",
          "$ref": "#/definitions/CustomerManagedKeyDetails"
        }
      }
    },
    "CustomerManagedKeyDetails": {
      "description": "Details of the customer managed key associated with the workspace",
      "type": "object",
      "properties": {
        "status": {
          "description": "The customer managed key status on the workspace",
          "type": "string",
          "readOnly": true
        },
        "key": {
          "description": "The key object of the workspace",
          "$ref": "#/definitions/WorkspaceKeyDetails"
        },
        "kekIdentity": {
          "description": "Key encryption key",
          "$ref": "#/definitions/KekIdentityProperties"
        }
      }
    },
    "KekIdentityProperties": {
      "description": "Key encryption key properties",
      "type": "object",
      "properties": {
        "userAssignedIdentity": {
          "description": "User assigned identity resource Id",
          "type": "string"
        },
        "useSystemAssignedIdentity": {
          "description": "Boolean specifying whether to use system assigned identity or not"
        }
      }
    },
    "WorkspaceKeyDetails": {
      "description": "Details of the customer managed key associated with the workspace",
      "type": "object",
      "properties": {
        "name": {
          "description": "Workspace Key sub-resource name",
          "type": "string"
        },
        "keyVaultUrl": {
          "description": "Workspace Key sub-resource key vault url",
          "type": "string"
        }
      }
    },
    "ManagedIdentity": {
      "description": "The workspace managed identity",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal ID of the workspace managed identity",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant ID of the workspace managed identity",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "type": {
          "description": "The type of managed identity for the workspace",
          "enum": [
            "None",
            "SystemAssigned",
            "SystemAssigned,UserAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "description": "The user assigned managed identities.",
          "$ref": "#/definitions/UserAssignedManagedIdentities"
        }
      }
    },
    "UserAssignedManagedIdentities": {
      "type": "object",
      "description": "The User Assigned Managed Identities.",
      "additionalProperties": {
        "$ref": "#/definitions/UserAssignedManagedIdentity"
      }
    },
    "UserAssignedManagedIdentity": {
      "description": "User Assigned Managed Identity",
      "properties": {
        "clientId": {
          "type": "string",
          "format": "uuid",
          "description": "The client ID.",
          "readOnly": true,
          "x-nullable": true
        },
        "principalId": {
          "type": "string",
          "format": "uuid",
          "description": "The principal ID.",
          "readOnly": true,
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "VirtualNetworkProfile": {
      "description": "Virtual Network Profile",
      "type": "object",
      "properties": {
        "computeSubnetId": {
          "description": "Subnet ID used for computes in workspace",
          "type": "string"
        }
      }
    },
    "ManagedVirtualNetworkSettings": {
      "description": "Managed Virtual Network Settings",
      "type": "object",
      "properties": {
        "preventDataExfiltration": {
          "description": "Prevent Data Exfiltration",
          "type": "boolean"
        },
        "linkedAccessCheckOnTargetResource": {
          "description": "Linked Access Check On Target Resource",
          "type": "boolean"
        },
        "allowedAadTenantIdsForLinking": {
          "description": "Allowed Aad Tenant Ids For Linking",
          "type": "array",
          "items": {
            "type": "string",
            "description": "Tenant Id"
          }
        }
      }
    },
    "WorkspaceRepositoryConfiguration": {
      "description": "Git integration settings",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of workspace repositoryID configuration. Example WorkspaceVSTSConfiguration, WorkspaceGitHubConfiguration",
          "type": "string"
        },
        "hostName": {
          "description": "GitHub Enterprise host name. For example: https://github.mydomain.com",
          "type": "string"
        },
        "accountName": {
          "description": "Account name",
          "type": "string"
        },
        "projectName": {
          "description": "VSTS project name",
          "type": "string"
        },
        "repositoryName": {
          "description": "Repository name",
          "type": "string"
        },
        "collaborationBranch": {
          "description": "Collaboration branch",
          "type": "string"
        },
        "rootFolder": {
          "description": "Root folder to use in the repository",
          "type": "string"
        },
        "lastCommitId": {
          "description": "The last commit ID",
          "type": "string"
        },
        "tenantId": {
          "description": "The VSTS tenant ID",
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "PurviewConfiguration": {
      "description": "Purview Configuration",
      "type": "object",
      "properties": {
        "purviewResourceId": {
          "description": "Purview Resource ID",
          "type": "string"
        }
      }
    },
    "WorkspaceAadAdminInfo": {
      "description": "Workspace active directory administrator",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Workspace active directory administrator properties",
          "$ref": "#/definitions/AadAdminProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "CspWorkspaceAdminProperties": {
      "description": "Initial workspace AAD admin properties for a CSP subscription",
      "properties": {
        "initialWorkspaceAdminObjectId": {
          "description": "AAD object ID of initial workspace admin",
          "type": "string"
        }
      }
    },
    "Workspace": {
      "description": "A workspace",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Workspace resource properties",
          "$ref": "#/definitions/WorkspaceProperties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "description": "Identity of the workspace",
          "$ref": "#/definitions/ManagedIdentity"
        }
      }
    },
    "WorkspaceProperties": {
      "description": "Workspace properties",
      "type": "object",
      "properties": {
        "defaultDataLakeStorage": {
          "description": "Workspace default data lake storage account details",
          "$ref": "#/definitions/DataLakeStorageAccountDetails"
        },
        "sqlAdministratorLoginPassword": {
          "description": "SQL administrator login password",
          "type": "string"
        },
        "managedResourceGroupName": {
          "description": "Workspace managed resource group. The resource group name uniquely identifies the resource group within the user subscriptionId. The resource group name must be no longer than 90 characters long, and must be alphanumeric characters (Char.IsLetterOrDigit()) and '-', '_', '(', ')' and'.'. Note that the name cannot end with '.'",
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state",
          "type": "string",
          "readOnly": true
        },
        "sqlAdministratorLogin": {
          "description": "Login for workspace SQL active directory administrator",
          "type": "string"
        },
        "virtualNetworkProfile": {
          "description": "Virtual Network profile",
          "$ref": "#/definitions/VirtualNetworkProfile"
        },
        "connectivityEndpoints": {
          "description": "Connectivity endpoints",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "managedVirtualNetwork": {
          "description": "Setting this to 'default' will ensure that all compute for this workspace is in a virtual network managed on behalf of the user.",
          "type": "string"
        },
        "privateEndpointConnections": {
          "description": "Private endpoint connections to the workspace",
          "type": "array",
          "items": {
            "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnection"
          }
        },
        "encryption": {
          "description": "The encryption details of the workspace",
          "$ref": "#/definitions/EncryptionDetails"
        },
        "workspaceUID": {
          "description": "The workspace unique identifier",
          "type": "string",
          "readOnly": true,
          "format": "uuid"
        },
        "extraProperties": {
          "description": "Workspace level configs and feature flags",
          "additionalProperties": {
            "type": "object"
          },
          "type": "object",
          "readOnly": true
        },
        "managedVirtualNetworkSettings": {
          "description": "Managed Virtual Network Settings",
          "$ref": "#/definitions/ManagedVirtualNetworkSettings"
        },
        "workspaceRepositoryConfiguration": {
          "description": "Git integration settings",
          "$ref": "#/definitions/WorkspaceRepositoryConfiguration"
        },
        "purviewConfiguration": {
          "description": "Purview Configuration",
          "$ref": "#/definitions/PurviewConfiguration"
        },
        "adlaResourceId": {
          "description": "The ADLA resource ID.",
          "type": "string",
          "readOnly": true
        },
        "publicNetworkAccess": {
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "description": "Enable or Disable public network access to workspace",
          "type": "string",
          "x-ms-enum": {
            "name": "WorkspacePublicNetworkAccess",
            "modelAsString": true
          }
        },
        "cspWorkspaceAdminProperties": {
          "description": "Initial workspace AAD admin properties for a CSP subscription",
          "$ref": "#/definitions/CspWorkspaceAdminProperties"
        },
        "settings": {
          "description": "Workspace settings",
          "additionalProperties": {
            "type": "object"
          },
          "type": "object",
          "readOnly": true
        },
        "azureADOnlyAuthentication": {
          "description": "Enable or Disable AzureADOnlyAuthentication on All Workspace subresource",
          "type": "boolean"
        }
      }
    },
    "WorkspacePatchInfo": {
      "description": "Workspace patch details",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "identity": {
          "description": "The identity of the workspace",
          "$ref": "#/definitions/ManagedIdentity"
        },
        "properties": {
          "description": "Workspace patch properties",
          "$ref": "#/definitions/WorkspacePatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkspacePatchProperties": {
      "description": "Workspace patch properties",
      "type": "object",
      "properties": {
        "sqlAdministratorLoginPassword": {
          "description": "SQL administrator login password",
          "type": "string"
        },
        "managedVirtualNetworkSettings": {
          "description": "Managed Virtual Network Settings",
          "$ref": "#/definitions/ManagedVirtualNetworkSettings"
        },
        "workspaceRepositoryConfiguration": {
          "description": "Git integration settings",
          "$ref": "#/definitions/WorkspaceRepositoryConfiguration"
        },
        "purviewConfiguration": {
          "description": "Purview Configuration",
          "$ref": "#/definitions/PurviewConfiguration"
        },
        "provisioningState": {
          "description": "Resource provisioning state",
          "type": "string",
          "readOnly": true
        },
        "encryption": {
          "description": "The encryption details of the workspace",
          "$ref": "#/definitions/EncryptionDetails"
        },
        "publicNetworkAccess": {
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "description": "Enable or Disable public network access to workspace",
          "type": "string",
          "x-ms-enum": {
            "name": "WorkspacePublicNetworkAccess",
            "modelAsString": true
          }
        }
      }
    },
    "ManagedIdentitySqlControlSettingsModel": {
      "type": "object",
      "title": "Managed Identity Sql Control Settings",
      "description": "Sql Control Settings for workspace managed identity",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "title": "Managed Identity Sql Control Settings",
          "description": "Sql Control Settings for workspace managed identity",
          "properties": {
            "grantSqlControlToManagedIdentity": {
              "type": "object",
              "description": "Grant sql control to managed identity",
              "properties": {
                "desiredState": {
                  "description": "Desired state",
                  "type": "string",
                  "enum": [
                    "Enabled",
                    "Disabled"
                  ]
                },
                "actualState": {
                  "description": "Actual state",
                  "type": "string",
                  "enum": [
                    "Enabling",
                    "Enabled",
                    "Disabling",
                    "Disabled",
                    "Unknown"
                  ],
                  "readOnly": true
                }
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "RestorableDroppedSqlPoolProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the database"
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the database"
        },
        "maxSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "The max size in bytes of the database"
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The service level objective name of the database"
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The elastic pool name of the database"
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format)"
        },
        "deletionDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The deletion date of the database (ISO8601 format)"
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore date of the database (ISO8601 format)"
        }
      },
      "description": "The properties of a restorable dropped Sql pool"
    },
    "RestorableDroppedSqlPool": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/RestorableDroppedSqlPoolProperties",
          "description": "The properties of a restorable dropped Sql pool",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A restorable dropped Sql pool"
    },
    "RestorableDroppedSqlPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableDroppedSqlPool"
          },
          "description": "A list of restorable dropped Sql pools"
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list restorable dropped Sql pools request"
    }
  }
}
