{
  "swagger": "2.0",
  "info": {
    "description": "Describing the [Azure Remote Rendering](https://docs.microsoft.com/azure/remote-rendering/) REST API for rendering sessions and asset conversions. \n\nAll requests to these APIs must be authenticated using the Secure Token Service as described in the [Azure Remote rendering documentation chapter about authentication](https://docs.microsoft.com/en-us/azure/remote-rendering/how-tos/tokens).\n",
    "title": "MixedRealityRemoteRendering",
    "version": "2031-03-01"
  },
  "host": "remoterendering.westus2.mixedreality.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/accounts/{account_id}/conversions": {
      "get": {
        "operationId": "GetConversions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "@nextlink": "https://remoterendering.westus2.mixedreality.azure.com/v1/accounts/30ea64bd-100f-4bf0-adc9-29fa45d4880c/conversions?skiptoken=someskiptokenvalue",
                "conversions": [
                  {
                    "conversionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "convertedAsset": {
                      "assetFilePath": "converted_sphere.arrAsset",
                      "blobContainerName": "output_assets",
                      "storageAccountName": "contoso_storage01"
                    },
                    "error": null,
                    "status": "Success"
                  },
                  {
                    "conversionId": "fdcc58c3-e191-4fb7-a91c-fa4d590d6e76",
                    "convertedAsset": {
                      "assetFilePath": "converted_box.arrAsset",
                      "blobContainerName": "output_assets",
                      "storageAccountName": "contoso_storage01"
                    },
                    "error": null,
                    "status": "Success"
                  }
                ]
              }
            },
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "@nextLink": {
                  "description": "If more conversions are available this link with the same authentication header can be used to retrieve further values",
                  "type": "string"
                },
                "conversions": {
                  "items": {
                    "$ref": "#/definitions/conversion"
                  },
                  "type": "array"
                }
              },
              "required": [
                "conversions"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "conversion"
        ],
        "summary": "Get a list of all conversions. Returns a batch of conversions- if more conversions are available the @nextLink property contains the a URL where the next batch of conversions can be requested. This URL will need the same authentication as all calls to the Azure Remote Rendering API."
      }
    },
    "/v1/accounts/{account_id}/conversions/create": {
      "post": {
        "operationId": "CreateConversion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "Starting a conversion using a model stored in a connected Azure Blob Storage account.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/conversion_settings"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted. The response contains the id of the conversion.",
            "examples": {
              "application/json": {
                "conversionId": "366fcaf5-d280-45b9-846c-d5035c2d666c"
              }
            },
            "headers": {
              "Location": {
                "description": "The location of the created resource.",
                "type": "string"
              },
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/create_conversion_response"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            },
            "schema": {
              "example": {
                "error": "Unable to start conversion: Invalid request - the following errors occurred:\\n\\tInvalid input asset path file type - allowed types are: .fbx,.gltf,.glb."
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "examples": {
              "application/json": {
                "error": "Unable to start conversion"
              }
            },
            "schema": {
              "$ref": "#/definitions/create_conversion_error_response"
            }
          }
        },
        "tags": [
          "conversion"
        ],
        "description": "Starting a conversion using a model stored in an Azure Blob Storage account linked with your Azure Remote Rendering account. Documentation how to link your Azure Remote Rendering account with the Azure Blob Storage account can be found in the [documentation](https://docs.microsoft.com/azure/remote-rendering/how-tos/create-an-account#link-storage-accounts).\n  \nAll files under the folderpath in the input container will be retrieved to perform the conversion.  To cut down on conversion times no other model files etc should be present as children of folderPath - since they will be retrieved but not used.\n",
        "summary": "Starting a conversion using a model stored in a linked Azure Blob Storage account."
      }
    },
    "/v1/accounts/{account_id}/conversions/createwithsharedaccesssignature": {
      "post": {
        "operationId": "CreateConversionWithSas",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "Settings of the conversion to be created. As with the conversions/create API the inputAssetPath is used to define which files of the input blob container will be retrieved for the conversion process.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/conversion_settings_sas"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted. The response contains the id of the conversion.",
            "headers": {
              "Location": {
                "type": "string"
              },
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/create_conversion_response"
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            },
            "schema": {
              "example": {
                "error": "Unable to start conversion: Invalid request - the following errors occurred:\\n\\tInvalid input asset path file type - allowed types are: .fbx,.gltf,.glb."
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "conversion"
        ],
        "description": "Start a new asset conversion using Azure Blob Container Shared Access Signatures for file access. The steps required to generate a Shared Access Signature (SAS) token is described in the [Azure Remote Rendering documentation](https://docs.microsoft.com/en-us/azure/remote-rendering/how-tos/conversion/blob-storage#retrieve-sas-for-the-storage-containers).\n\nEnsure that the Shared Access Signature is generated for the blob container and not for individual files. In addition to this ensure that the input containerReadListSas has read and list rights and the output containerWriteSas has write rights.\n\nAll files under the folderpath in the input container will be retrieved to perform the conversion.  To cut down on conversion times no other model files etc should be present as children of folderPath - since they will be retrieved but not used.\n",
        "summary": "Start a new asset conversion using Azure Blob Container Shared Access Signatures for file access."
      }
    },
    "/v1/accounts/{account_id}/conversions/{conversion_id}": {
      "get": {
        "operationId": "GetConversion",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "the conversion id",
            "format": "uuid",
            "in": "path",
            "name": "conversion_id",
            "required": true,
            "type": "string",
            "x-example": "9e3b420e-393d-4863-815d-37c0a9a32d0d"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "examples": {
              "application/json": {
                "conversionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                "convertedAsset": {
                  "assetFilePath": "converted_sphere.arrAsset",
                  "blobContainerName": "output_assets",
                  "storageAccountName": "contoso_storage01"
                },
                "error": null,
                "status": "Success"
              }
            },
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/conversion"
            }
          },
          "400": {
            "description": "BadRequest",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "conversion"
        ],
        "summary": "Get the status of a previously created asset conversion"
      }
    },
    "/v1/accounts/{account_id}/sessions": {
      "get": {
        "operationId": "GetSessions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - returns a list of session properties",
            "schema": {
              "$ref": "#/definitions/sessions_list"
            }
          },
          "204": {
            "description": "204 Options"
          },
          "400": {
            "description": "BadRequest",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "vm session"
        ],
        "summary": "Get a list of all sessions"
      }
    },
    "/v1/accounts/{account_id}/sessions/create": {
      "post": {
        "operationId": "CreateSession",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "Settings of the session to be created",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/session_settings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "vm session"
        ],
        "summary": "Create a new VM session"
      }
    },
    "/v1/accounts/{account_id}/sessions/{session_id}": {
      "delete": {
        "operationId": "DeleteSession",
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "guid",
            "format": "uuid",
            "in": "path",
            "name": "session_id",
            "required": true,
            "type": "string",
            "x-example": "366fcaf5-d280-45b9-846c-d5035c2d666c"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "BadRequest",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The specified resource was not found.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "vm session"
        ],
        "summary": "Delete a particular VM session"
      },
      "patch": {
        "operationId": "UpdateSession",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "guid",
            "format": "uuid",
            "in": "path",
            "name": "session_id",
            "required": true,
            "type": "string",
            "x-example": "366fcaf5-d280-45b9-846c-d5035c2d666c"
          },
          {
            "description": "Settings of the session to be created",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/session_settings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "vm session"
        ],
        "summary": "Update a particular VM session"
      }
    },
    "/v1/accounts/{account_id}/sessions/{session_id}/properties": {
      "get": {
        "operationId": "GetSessionProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the Azure Remote Rendering account id",
            "format": "uuid",
            "in": "path",
            "name": "account_id",
            "required": true,
            "type": "string",
            "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
          },
          {
            "description": "guid",
            "format": "uuid",
            "in": "path",
            "name": "session_id",
            "required": true,
            "type": "string",
            "x-example": "366fcaf5-d280-45b9-846c-d5035c2d666c"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - returns a session properties object",
            "schema": {
              "$ref": "#/definitions/session_properties"
            }
          },
          "204": {
            "description": "NoContent",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The specified resource was not found.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "In case the rate limit has been exceeded.",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The minimum number of seconds to wait before not getting this response anymore.",
                "type": "integer"
              }
            }
          },
          "500": {
            "description": "InternalError",
            "headers": {
              "MS-CV": {
                "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "vm session"
        ],
        "summary": "Get properties of a particular VM session"
      }
    }
  },
  "definitions": {
    "conversion": {
      "properties": {
        "conversionId": {
          "format": "uuid",
          "type": "string"
        },
        "convertedAsset": {
          "description": "Azure Storage location of the converted asset on successful conversion",
          "properties": {
            "assetFilePath": {
              "type": "string"
            },
            "blobContainerName": {
              "type": "string"
            },
            "storageAccountName": {
              "type": "string"
            }
          },
          "required": [
            "storageAccountName",
            "blobContainerName",
            "assetFilePath"
          ],
          "type": "object"
        },
        "error": {
          "type": "string",
          "x-nullable": true
        },
        "status": {
          "$ref": "#/definitions/conversion_status"
        }
      },
      "required": [
        "conversionId",
        "status",
        "error"
      ],
      "type": "object"
    },
    "conversion_input_settings": {
      "properties": {
        "blobContainerName": {
          "type": "string"
        },
        "folderPath": {
          "type": "string"
        },
        "inputAssetPath": {
          "type": "string"
        },
        "storageAccountName": {
          "type": "string"
        }
      },
      "required": [
        "storageAccountName",
        "blobContainerName",
        "inputAssetPath"
      ],
      "type": "object"
    },
    "conversion_input_settings_sas": {
      "allOf": [
        {
          "$ref": "#/definitions/conversion_input_settings"
        },
        {
          "properties": {
            "containerReadListSas": {
              "type": "string"
            }
          },
          "required": [
            "containerReadListSas"
          ],
          "type": "object"
        }
      ]
    },
    "conversion_output_settings": {
      "properties": {
        "blobContainerName": {
          "type": "string"
        },
        "folderPath": {
          "type": "string"
        },
        "outputAssetFilename": {
          "type": "string"
        },
        "storageAccountName": {
          "type": "string"
        }
      },
      "required": [
        "storageAccountName",
        "blobContainerName"
      ],
      "type": "object"
    },
    "conversion_output_settings_sas": {
      "allOf": [
        {
          "$ref": "#/definitions/conversion_output_settings"
        },
        {
          "properties": {
            "containerWriteSas": {
              "type": "string"
            }
          },
          "required": [
            "containerWriteSas"
          ],
          "type": "object"
        }
      ]
    },
    "conversion_settings": {
      "description": "Describes the input and output location",
      "properties": {
        "input": {
          "$ref": "#/definitions/conversion_input_settings"
        },
        "output": {
          "$ref": "#/definitions/conversion_output_settings"
        }
      },
      "required": [
        "input",
        "output"
      ],
      "type": "object"
    },
    "conversion_settings_sas": {
      "properties": {
        "input": {
          "$ref": "#/definitions/conversion_input_settings_sas"
        },
        "output": {
          "$ref": "#/definitions/conversion_output_settings_sas"
        }
      },
      "required": [
        "input",
        "output"
      ],
      "type": "object"
    },
    "conversion_status": {
      "enum": [
        "UnknownError",
        "NotFound",
        "Created",
        "Running",
        "Aborted",
        "Failure",
        "Success"
      ],
      "type": "string"
    },
    "create_conversion_error_response": {
      "properties": {
        "error": {
          "description": "a description why the request was rejected",
          "type": "string"
        }
      },
      "type": "object"
    },
    "create_conversion_response": {
      "properties": {
        "conversionId": {
          "format": "uuid",
          "type": "string"
        }
      },
      "type": "object"
    },
    "invalid_request_format_error": {
      "properties": {
        "errors": {
          "description": "Description of individual field errors",
          "type": "object"
        },
        "status": {
          "description": "the HTTP status code",
          "type": "integer"
        },
        "title": {
          "description": "a title for the error",
          "type": "string"
        },
        "traceId": {
          "type": "string"
        },
        "type": {
          "description": "a description of the type of error which occurred",
          "type": "string"
        }
      },
      "type": "object"
    },
    "session_properties": {
      "properties": {
        "arrInspectorPort": {
          "example": 50052,
          "maximum": 65535,
          "minimum": 1,
          "type": "integer"
        },
        "handshakePort": {
          "example": 50051,
          "maximum": 65535,
          "minimum": 1,
          "type": "integer"
        },
        "message": {
          "description": "In case 'sessionStatus' is in error state, this string carries an additional error message",
          "example": null,
          "type": "string"
        },
        "sessionElapsedTime": {
          "description": "Amount of time the session is or has been in ready state",
          "example": "01:00:00",
          "type": "string"
        },
        "sessionHostname": {
          "example": "d4cefb7b-10b9-4631-934d-67445ffa9126.remoterenderingvm.westus2.mixedreality.azure.com",
          "type": "string"
        },
        "sessionId": {
          "example": "366fcaf5-d280-45b9-846c-d5035c2d666c",
          "type": "string"
        },
        "sessionMaxLeaseTime": {
          "example": "01:00:00",
          "type": "string"
        },
        "sessionSize": {
          "enum": [
            "Standard",
            "Premium"
          ],
          "example": "Standard",
          "type": "string"
        },
        "sessionStatus": {
          "$ref": "#/definitions/session_status",
          "example": "Ready"
        },
        "teraflops": {
          "example": 10.6,
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "session_settings": {
      "properties": {
        "maxLeaseTime": {
          "example": "01:00:00",
          "type": "string"
        },
        "size": {
          "enum": [
            "Standard",
            "Premium"
          ],
          "example": "Standard",
          "type": "string"
        }
      },
      "type": "object"
    },
    "session_status": {
      "enum": [
        "None",
        "Error",
        "Expired",
        "Starting",
        "Ready",
        "Stopped"
      ],
      "type": "string"
    },
    "sessions_list": {
      "properties": {
        "sessions": {
          "items": {
            "$ref": "#/definitions/session_properties"
          },
          "type": "array"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "MrcBearerAuth": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "MrcBearerAuth": []
    }
  ],
  "x-components": {
    "parameters": {
      "account_id": {
        "description": "the Azure Remote Rendering account id",
        "format": "uuid",
        "in": "path",
        "name": "account_id",
        "required": true,
        "type": "string",
        "x-example": "30ea64bd-100f-4bf0-adc9-29fa45d4880c"
      },
      "conversion_id": {
        "description": "the conversion id",
        "format": "uuid",
        "in": "path",
        "name": "conversion_id",
        "required": true,
        "type": "string",
        "x-example": "9e3b420e-393d-4863-815d-37c0a9a32d0d"
      },
      "session_id": {
        "description": "guid",
        "format": "uuid",
        "in": "path",
        "name": "session_id",
        "required": true,
        "type": "string",
        "x-example": "366fcaf5-d280-45b9-846c-d5035c2d666c"
      }
    },
    "responses": {
      "200Ok": {
        "description": "OK"
      },
      "202Accepted": {
        "description": "Accepted",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      },
      "204NoContent": {
        "description": "NoContent",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      },
      "400UserError": {
        "description": "BadRequest",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      },
      "401Unauthorized": {
        "description": "Unauthorized",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      },
      "403Forbidden": {
        "description": "Forbidden",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      },
      "404NotFound": {
        "description": "The specified resource was not found.",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      },
      "429Throttled": {
        "description": "In case the rate limit has been exceeded.",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          },
          "Retry-After": {
            "description": "The minimum number of seconds to wait before not getting this response anymore.",
            "schema": {
              "type": "integer"
            }
          }
        }
      },
      "500InternalError": {
        "description": "InternalError",
        "headers": {
          "MS-CV": {
            "$ref": "#/x-components/headers/mscv"
          }
        }
      }
    },
    "headers": {
      "mscv": {
        "description": "Microsoft Correlation Vector. Include this value when reporting errors to the Azure Remote Rendering team.",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "session_settings": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/definitions/session_settings"
            }
          }
        },
        "description": "Settings of the session to be created",
        "required": true
      }
    }
  }
}
