{
  "swagger": "2.0",
  "info": {
    "version": "2021-09-01",
    "title": "DevTestLabsClient",
    "description": "The DevTest Labs Client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DevTestLab/operations": {
      "get": {
        "tags": [
          "ProviderOperations"
        ],
        "description": "Result of the request to list REST API operations",
        "operationId": "ProviderOperations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderOperationResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ProviderOperations_List": {
            "$ref": "./examples/ProviderOperations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs": {
      "get": {
        "tags": [
          "Labs"
        ],
        "description": "List labs in a subscription.",
        "operationId": "Labs_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Lab",
        "x-ms-examples": {
          "Labs_ListBySubscription": {
            "$ref": "./examples/Labs_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/locations/{locationName}/operations/{name}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Get operation.",
        "operationId": "Operations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/locationName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the operation.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "minLength": 1
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/OperationResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Get": {
            "$ref": "./examples/Operations_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules": {
      "get": {
        "tags": [
          "GlobalSchedules"
        ],
        "description": "List schedules in a subscription.",
        "operationId": "GlobalSchedules_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=status)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Schedule",
        "x-ms-examples": {
          "GlobalSchedules_ListBySubscription": {
            "$ref": "./examples/GlobalSchedules_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs": {
      "get": {
        "tags": [
          "Labs"
        ],
        "description": "List labs in a resource group.",
        "operationId": "Labs_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=defaultStorageAccount)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Lab",
        "x-ms-examples": {
          "Labs_ListByResourceGroup": {
            "$ref": "./examples/Labs_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources": {
      "get": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "List artifact sources in a given lab.",
        "operationId": "ArtifactSources_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSourceList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ArtifactSource",
        "x-ms-examples": {
          "ArtifactSources_List": {
            "$ref": "./examples/ArtifactSources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates": {
      "get": {
        "tags": [
          "ArmTemplates"
        ],
        "description": "List azure resource manager templates in a given artifact source.",
        "operationId": "ArmTemplates_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArmTemplateList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ArmTemplate",
        "x-ms-examples": {
          "ArmTemplates_List": {
            "$ref": "./examples/ArmTemplates_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armtemplates/{name}": {
      "get": {
        "tags": [
          "ArmTemplates"
        ],
        "description": "Get azure resource manager template.",
        "operationId": "ArmTemplates_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the azure resource manager template.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArmTemplate"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ArmTemplates_Get": {
            "$ref": "./examples/ArmTemplates_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "description": "List artifacts in a given artifact source.",
        "operationId": "Artifacts_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=title)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Artifact",
        "x-ms-examples": {
          "Artifacts_List": {
            "$ref": "./examples/Artifacts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "description": "Get artifact.",
        "operationId": "Artifacts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=title)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Artifact"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts_Get": {
            "$ref": "./examples/Artifacts_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate": {
      "post": {
        "tags": [
          "Artifacts"
        ],
        "description": "Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.",
        "operationId": "Artifacts_GenerateArmTemplate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "generateArmTemplateRequest",
            "in": "body",
            "description": "Parameters for generating an ARM template for deploying artifacts.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateArmTemplateRequest"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArmTemplateInfo"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts_GenerateArmTemplate": {
            "$ref": "./examples/Artifacts_GenerateArmTemplate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}": {
      "get": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Get artifact source.",
        "operationId": "ArtifactSources_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "type": "string",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=displayName)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_Get": {
            "$ref": "./examples/ArtifactSources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Create or replace an existing artifact source.",
        "operationId": "ArtifactSources_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "artifactSource",
            "in": "body",
            "description": "Properties of an artifact source.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_CreateOrUpdate": {
            "$ref": "./examples/ArtifactSources_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Delete artifact source.",
        "operationId": "ArtifactSources_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_Delete": {
            "$ref": "./examples/ArtifactSources_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Allows modifying tags of artifact sources. All other properties will be ignored.",
        "operationId": "ArtifactSources_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the artifact source.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "artifactSource",
            "in": "body",
            "description": "Allows modifying tags of artifact sources. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactSourceFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_Update": {
            "$ref": "./examples/ArtifactSources_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}": {
      "get": {
        "tags": [
          "Costs"
        ],
        "description": "Get cost.",
        "operationId": "Costs_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the cost.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($expand=labCostDetails)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Costs_Get": {
            "$ref": "./examples/Costs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Costs"
        ],
        "description": "Create or replace an existing cost.",
        "operationId": "Costs_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the cost.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "labCost",
            "in": "body",
            "description": "A cost item.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Costs_CreateOrUpdate": {
            "$ref": "./examples/Costs_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages": {
      "get": {
        "tags": [
          "CustomImages"
        ],
        "description": "List custom images in a given lab.",
        "operationId": "CustomImages_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=vm)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImageList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/CustomImage",
        "x-ms-examples": {
          "CustomImages_List": {
            "$ref": "./examples/CustomImages_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}": {
      "get": {
        "tags": [
          "CustomImages"
        ],
        "description": "Get custom image.",
        "operationId": "CustomImages_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=vm)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_Get": {
            "$ref": "./examples/CustomImages_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "CustomImages"
        ],
        "description": "Create or replace an existing custom image. This operation can take a while to complete.",
        "operationId": "CustomImages_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "customImage",
            "in": "body",
            "description": "A custom image.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_CreateOrUpdate": {
            "$ref": "./examples/CustomImages_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "CustomImages"
        ],
        "description": "Delete custom image. This operation can take a while to complete.",
        "operationId": "CustomImages_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_Delete": {
            "$ref": "./examples/CustomImages_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "CustomImages"
        ],
        "description": "Allows modifying tags of custom images. All other properties will be ignored.",
        "operationId": "CustomImages_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the custom image.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "customImage",
            "in": "body",
            "description": "Allows modifying tags of custom images. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImageFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_Update": {
            "$ref": "./examples/CustomImages_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas": {
      "get": {
        "tags": [
          "Formulas"
        ],
        "description": "List formulas in a given lab.",
        "operationId": "Formulas_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FormulaList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Formula",
        "x-ms-examples": {
          "Formulas_List": {
            "$ref": "./examples/Formulas_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}": {
      "get": {
        "tags": [
          "Formulas"
        ],
        "description": "Get formula.",
        "operationId": "Formulas_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_Get": {
            "$ref": "./examples/Formulas_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Formulas"
        ],
        "description": "Create or replace an existing Formula. This operation can take a while to complete.",
        "operationId": "Formulas_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "formula",
            "in": "body",
            "description": "A formula for creating a VM, specifying an image base and other parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_CreateOrUpdate": {
            "$ref": "./examples/Formulas_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Formulas"
        ],
        "description": "Delete formula.",
        "operationId": "Formulas_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_Delete": {
            "$ref": "./examples/Formulas_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Formulas"
        ],
        "description": "Allows modifying tags of formulas. All other properties will be ignored.",
        "operationId": "Formulas_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the formula.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "formula",
            "in": "body",
            "description": "Allows modifying tags of formulas. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FormulaFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_Update": {
            "$ref": "./examples/Formulas_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages": {
      "get": {
        "tags": [
          "GalleryImages"
        ],
        "description": "List gallery images in a given lab.",
        "operationId": "GalleryImages_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=author)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/GalleryImage",
        "x-ms-examples": {
          "GalleryImages_List": {
            "$ref": "./examples/GalleryImages_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages/{name}": {
      "get": {
        "tags": [
          "GalleryImages"
        ],
        "description": "Get gallery image.",
        "operationId": "GalleryImages_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the gallery image.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GalleryImages_Get": {
            "$ref": "./examples/GalleryImages_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels": {
      "get": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "List notification channels in a given lab.",
        "operationId": "NotificationChannels_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=webHookUrl)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannelList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/NotificationChannel",
        "x-ms-examples": {
          "NotificationChannels_List": {
            "$ref": "./examples/NotificationChannels_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}": {
      "get": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Get notification channel.",
        "operationId": "NotificationChannels_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notification channel.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=webHookUrl)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Get": {
            "$ref": "./examples/NotificationChannels_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Create or replace an existing Notification Channel.",
        "operationId": "NotificationChannels_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notification channel.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "notificationChannel",
            "in": "body",
            "description": "A notification.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_CreateOrUpdate": {
            "$ref": "./examples/NotificationChannels_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Delete notification channel.",
        "operationId": "NotificationChannels_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notification channel.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Delete": {
            "$ref": "./examples/NotificationChannels_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Allows modifying tags of notification channels. All other properties will be ignored.",
        "operationId": "NotificationChannels_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notification channel.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "notificationChannel",
            "in": "body",
            "description": "Allows modifying tags of notification channels. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationChannelFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Update": {
            "$ref": "./examples/NotificationChannels_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationchannels/{name}/notify": {
      "post": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Send notification to provided channel.",
        "operationId": "NotificationChannels_Notify",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the notification channel.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "notifyParameters",
            "in": "body",
            "description": "Properties for generating a Notification.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotifyParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Notify": {
            "$ref": "./examples/NotificationChannels_Notify.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets": {
      "get": {
        "tags": [
          "PolicySets"
        ],
        "description": "List policy sets in a given lab.",
        "operationId": "PolicySets_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicySetList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/PolicySet",
        "x-ms-examples": {
          "PolicySets_List": {
            "$ref": "./examples/PolicySets_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies": {
      "post": {
        "tags": [
          "PolicySets"
        ],
        "description": "Evaluates lab policy.",
        "operationId": "PolicySets_EvaluatePolicies",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy set.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "evaluatePoliciesRequest",
            "in": "body",
            "description": "Request body for evaluating a policy set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvaluatePoliciesRequest"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EvaluatePoliciesResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "PolicySets_EvaluatePolicies": {
            "$ref": "./examples/PolicySets_EvaluatePolicies.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "description": "List policies in a given policy set.",
        "operationId": "Policies_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Policy",
        "x-ms-examples": {
          "Policies_List": {
            "$ref": "./examples/Policies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "description": "Get policy.",
        "operationId": "Policies_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=description)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Get": {
            "$ref": "./examples/Policies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "description": "Create or replace an existing policy.",
        "operationId": "Policies_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "policy",
            "in": "body",
            "description": "A Policy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Policies_CreateOrUpdate": {
            "$ref": "./examples/Policies_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "description": "Delete policy.",
        "operationId": "Policies_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Delete": {
            "$ref": "./examples/Policies_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "description": "Allows modifying tags of policies. All other properties will be ignored.",
        "operationId": "Policies_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the policy.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "policy",
            "in": "body",
            "description": "Allows modifying tags of policies. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Update": {
            "$ref": "./examples/Policies_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "description": "List schedules in a given lab.",
        "operationId": "Schedules_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=status)'",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Schedule",
        "x-ms-examples": {
          "Schedules_List": {
            "$ref": "./examples/Schedules_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "description": "Get schedule.",
        "operationId": "Schedules_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Specify the $expand query. Example: 'properties($select=status)'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Get": {
            "$ref": "./examples/Schedules_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Schedules"
        ],
        "description": "Create or replace an existing schedule.",
        "operationId": "Schedules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "schedule",
            "in": "body",
            "description": "A schedule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_CreateOrUpdate": {
            "$ref": "./examples/Schedules_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Schedules"
        ],
        "description": "Delete schedule.",
        "operationId": "Schedules_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Delete": {
            "$ref": "./examples/Schedules_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Schedules"
        ],
        "description": "Allows modifying tags of schedules. All other properties will be ignored.",
        "operationId": "Schedules_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "schedule",
            "in": "body",
            "description": "Allows modifying tags of schedules. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleFragment"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Update": {
            "$ref": "./examples/Schedules_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "description": "Execute a schedule. This operation can take a while to complete.",
        "operationId": "Schedules_Execute",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Execute": {
            "$ref": "./examples/Schedules_Execute.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "description": "Lists all applicable schedules",
        "operationId": "Schedules_ListApplicable",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the schedule.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Schedules_ListApplicable": {
            "$ref": "./examples/Schedules_ListApplicable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/secrets": {
      "get": {
        "tags": [
          "LabSecrets"
        ],
        "description": "List lab secrets in a given lab.",
        "operationId": "LabSecrets_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabSecretList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Secret",
        "x-ms-examples": {
          "LabSecrets_List": {
            "$ref": "./examples/LabSecrets_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/secrets/{name}": {
      "get": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Get lab secret.",
        "operationId": "LabSecrets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the lab secret.",
            "type": "string",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_Get": {
            "$ref": "./examples/LabSecrets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Create or replace an existing Lab Secret. This operation can take a while to complete.",
        "operationId": "LabSecrets_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the lab secret.",
            "type": "string",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "labSecret",
            "in": "body",
            "description": "A shared secret in a lab.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_CreateOrUpdate": {
            "$ref": "./examples/LabSecrets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Delete lab secret. This operation can take a while to complete.",
        "operationId": "LabSecrets_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the lab secret.",
            "type": "string",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_Delete": {
            "$ref": "./examples/LabSecrets_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Allows modifying tags of lab secrets. All other properties will be ignored.",
        "operationId": "LabSecrets_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the lab secret.",
            "type": "string",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "secret",
            "in": "body",
            "description": "Allows modifying tags of lab secrets. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecretFragment"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_Update": {
            "$ref": "./examples/LabSecrets_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners": {
      "get": {
        "tags": [
          "ServiceRunners"
        ],
        "description": "List service runners in a given lab.",
        "operationId": "ServiceRunners_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceRunnerList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ServiceRunner",
        "x-ms-examples": {
          "ServiceRunners_List": {
            "$ref": "./examples/ServiceRunners_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/servicerunners/{name}": {
      "get": {
        "tags": [
          "ServiceRunners"
        ],
        "description": "Get service runner.",
        "operationId": "ServiceRunners_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the service runner.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceRunner"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceRunners_Get": {
            "$ref": "./examples/ServiceRunners_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ServiceRunners"
        ],
        "description": "Create or replace an existing Service runner. This operation can take a while to complete.",
        "operationId": "ServiceRunners_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the service runner.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "serviceRunner",
            "in": "body",
            "description": "A container for a managed identity to execute DevTest lab services.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceRunner"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceRunner"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ServiceRunner"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceRunners_CreateOrUpdate": {
            "$ref": "./examples/ServiceRunners_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ServiceRunners"
        ],
        "description": "Delete service runner. This operation can take a while to complete.",
        "operationId": "ServiceRunners_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the service runner.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceRunners_Delete": {
            "$ref": "./examples/ServiceRunners_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/sharedgalleries": {
      "get": {
        "tags": [
          "SharedGalleries"
        ],
        "description": "List shared galleries in a given lab.",
        "operationId": "SharedGalleries_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$expand",
[...]
