{
  "swagger": "2.0",
  "info": {
    "version": "2021-09-01",
    "title": "DevTestLabsClient",
    "description": "Microsoft DevTest Labs Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DevTestLab/operations": {
      "get": {
        "tags": [
          "ProviderOperations"
        ],
        "description": "Result of the request to list REST API operations",
        "operationId": "ProviderOperations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ProviderOperations_List": {
            "$ref": "./examples/ProviderOperations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs": {
      "get": {
        "tags": [
          "Labs"
        ],
        "description": "List labs in a subscription.",
        "operationId": "Labs_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Lab",
        "x-ms-examples": {
          "Labs_ListBySubscription": {
            "$ref": "./examples/Labs_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/schedules": {
      "get": {
        "tags": [
          "GlobalSchedules"
        ],
        "description": "List schedules in a subscription.",
        "operationId": "GlobalSchedules_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Schedule",
        "x-ms-examples": {
          "GlobalSchedules_ListBySubscription": {
            "$ref": "./examples/GlobalSchedules_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs": {
      "get": {
        "tags": [
          "Labs"
        ],
        "description": "List labs in a resource group.",
        "operationId": "Labs_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Lab",
        "x-ms-examples": {
          "Labs_ListByResourceGroup": {
            "$ref": "./examples/Labs_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactSources": {
      "get": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "List artifact sources in a given lab.",
        "operationId": "ArtifactSources_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSourceList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ArtifactSource",
        "x-ms-examples": {
          "ArtifactSources_List": {
            "$ref": "./examples/ArtifactSources_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armTemplates": {
      "get": {
        "tags": [
          "ArmTemplates"
        ],
        "description": "List azure resource manager templates in a given artifact source.",
        "operationId": "ArmTemplates_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArmTemplateList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/ArmTemplate",
        "x-ms-examples": {
          "ArmTemplates_List": {
            "$ref": "./examples/ArmTemplates_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/armTemplates/{name}": {
      "get": {
        "tags": [
          "ArmTemplates"
        ],
        "description": "Get azure resource manager template.",
        "operationId": "ArmTemplates_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the azure resource manager template.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArmTemplate"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArmTemplates_Get": {
            "$ref": "./examples/ArmTemplates_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "description": "List artifacts in a given artifact source.",
        "operationId": "Artifacts_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Artifact",
        "x-ms-examples": {
          "Artifacts_List": {
            "$ref": "./examples/Artifacts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "description": "Get artifact.",
        "operationId": "Artifacts_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the artifact.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Artifact"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts_Get": {
            "$ref": "./examples/Artifacts_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate": {
      "post": {
        "tags": [
          "Artifacts"
        ],
        "description": "Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.",
        "operationId": "Artifacts_GenerateArmTemplate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/artifactSourceName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the artifact.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "generateArmTemplateRequest",
            "in": "body",
            "description": "Parameters for generating an ARM template for deploying artifacts.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateArmTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArmTemplateInfo"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Artifacts_GenerateArmTemplate": {
            "$ref": "./examples/Artifacts_GenerateArmTemplate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactSources/{name}": {
      "get": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Get artifact source.",
        "operationId": "ArtifactSources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the artifact source.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_Get": {
            "$ref": "./examples/ArtifactSources_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Create or replace an existing artifact source.",
        "operationId": "ArtifactSources_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the artifact source.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "artifactSource",
            "in": "body",
            "description": "Properties of an artifact source.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_CreateOrUpdate": {
            "$ref": "./examples/ArtifactSources_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Delete artifact source.",
        "operationId": "ArtifactSources_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the artifact source.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_Delete": {
            "$ref": "./examples/ArtifactSources_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ArtifactSources"
        ],
        "description": "Allows modifying tags of artifact sources. All other properties will be ignored.",
        "operationId": "ArtifactSources_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the artifact source.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "artifactSource",
            "in": "body",
            "description": "Allows modifying tags of artifact sources. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArtifactSourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArtifactSource"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArtifactSources_Update": {
            "$ref": "./examples/ArtifactSources_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}": {
      "get": {
        "tags": [
          "Costs"
        ],
        "description": "Get cost.",
        "operationId": "Costs_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the cost.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "name": "$expand",
            "in": "query",
            "type": "string",
            "description": "Specify the $expand query. Example: 'properties($expand=labCostDetails)'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Costs_Get": {
            "$ref": "./examples/Costs_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Costs"
        ],
        "description": "Create or replace an existing cost.",
        "operationId": "Costs_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the cost.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "labCost",
            "in": "body",
            "description": "A cost item.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/LabCost"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Costs_CreateOrUpdate": {
            "$ref": "./examples/Costs_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customImages": {
      "get": {
        "tags": [
          "CustomImages"
        ],
        "description": "List custom images in a given lab.",
        "operationId": "CustomImages_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImageList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/CustomImage",
        "x-ms-examples": {
          "CustomImages_List": {
            "$ref": "./examples/CustomImages_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customImages/{name}": {
      "get": {
        "tags": [
          "CustomImages"
        ],
        "description": "Get custom image.",
        "operationId": "CustomImages_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the custom image.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_Get": {
            "$ref": "./examples/CustomImages_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "CustomImages"
        ],
        "description": "Create or replace an existing custom image. This operation can take a while to complete.",
        "operationId": "CustomImages_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the custom image.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "customImage",
            "in": "body",
            "description": "A custom image.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_CreateOrUpdate": {
            "$ref": "./examples/CustomImages_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CustomImages"
        ],
        "description": "Delete custom image. This operation can take a while to complete.",
        "operationId": "CustomImages_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the custom image.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_Delete": {
            "$ref": "./examples/CustomImages_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "CustomImages"
        ],
        "description": "Allows modifying tags of custom images. All other properties will be ignored.",
        "operationId": "CustomImages_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the custom image.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "customImage",
            "in": "body",
            "description": "Allows modifying tags of custom images. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomImagePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomImages_Update": {
            "$ref": "./examples/CustomImages_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas": {
      "get": {
        "tags": [
          "Formulas"
        ],
        "description": "List formulas in a given lab.",
        "operationId": "Formulas_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FormulaList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Formula",
        "x-ms-examples": {
          "Formulas_List": {
            "$ref": "./examples/Formulas_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}": {
      "get": {
        "tags": [
          "Formulas"
        ],
        "description": "Get formula.",
        "operationId": "Formulas_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the formula.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_Get": {
            "$ref": "./examples/Formulas_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Formulas"
        ],
        "description": "Create or replace an existing Formula. This operation can take a while to complete.",
        "operationId": "Formulas_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the formula.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "formula",
            "in": "body",
            "description": "A formula for creating a VM, specifying an image base and other parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_CreateOrUpdate": {
            "$ref": "./examples/Formulas_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Formulas"
        ],
        "description": "Delete formula.",
        "operationId": "Formulas_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the formula.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_Delete": {
            "$ref": "./examples/Formulas_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Formulas"
        ],
        "description": "Allows modifying tags of formulas. All other properties will be ignored.",
        "operationId": "Formulas_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the formula.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "formula",
            "in": "body",
            "description": "Allows modifying tags of formulas. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FormulaPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Formula"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Formulas_Update": {
            "$ref": "./examples/Formulas_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryImages": {
      "get": {
        "tags": [
          "GalleryImages"
        ],
        "description": "List gallery images in a given lab.",
        "operationId": "GalleryImages_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImageList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/GalleryImage",
        "x-ms-examples": {
          "GalleryImages_List": {
            "$ref": "./examples/GalleryImages_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryImages/{name}": {
      "get": {
        "tags": [
          "GalleryImages"
        ],
        "description": "Get gallery image.",
        "operationId": "GalleryImages_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the gallery image.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GalleryImages_Get": {
            "$ref": "./examples/GalleryImages_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationChannels": {
      "get": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "List notification channels in a given lab.",
        "operationId": "NotificationChannels_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannelList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/NotificationChannel",
        "x-ms-examples": {
          "NotificationChannels_List": {
            "$ref": "./examples/NotificationChannels_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationChannels/{name}": {
      "get": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Get notification channel.",
        "operationId": "NotificationChannels_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the notification channel.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Get": {
            "$ref": "./examples/NotificationChannels_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Create or replace an existing Notification Channel.",
        "operationId": "NotificationChannels_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the notification channel.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "notificationChannel",
            "in": "body",
            "description": "A notification.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_CreateOrUpdate": {
            "$ref": "./examples/NotificationChannels_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Delete notification channel.",
        "operationId": "NotificationChannels_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the notification channel.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Delete": {
            "$ref": "./examples/NotificationChannels_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Allows modifying tags of notification channels. All other properties will be ignored.",
        "operationId": "NotificationChannels_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the notification channel.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "notificationChannel",
            "in": "body",
            "description": "Allows modifying tags of notification channels. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationChannelPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotificationChannel"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Update": {
            "$ref": "./examples/NotificationChannels_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/notificationChannels/{name}/notify": {
      "post": {
        "tags": [
          "NotificationChannels"
        ],
        "description": "Send notification to provided channel.",
        "operationId": "NotificationChannels_Notify",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the notification channel.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "notifyParameters",
            "in": "body",
            "description": "Properties for generating a Notification.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotifyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NotificationChannels_Notify": {
            "$ref": "./examples/NotificationChannels_Notify.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policySets": {
      "get": {
        "tags": [
          "PolicySets"
        ],
        "description": "List policy sets in a given lab.",
        "operationId": "PolicySets_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicySetList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/PolicySet",
        "x-ms-examples": {
          "PolicySets_List": {
            "$ref": "./examples/PolicySets_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policySets/{name}/evaluatePolicies": {
      "post": {
        "tags": [
          "PolicySets"
        ],
        "description": "Evaluates lab policy.",
        "operationId": "PolicySets_EvaluatePolicies",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the policy set.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "evaluatePoliciesRequest",
            "in": "body",
            "description": "Request body for evaluating a policy set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EvaluatePoliciesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EvaluatePoliciesResponse"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PolicySets_EvaluatePolicies": {
            "$ref": "./examples/PolicySets_EvaluatePolicies.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies": {
      "get": {
        "tags": [
          "Policies"
        ],
        "description": "List policies in a given policy set.",
        "operationId": "Policies_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Policy",
        "x-ms-examples": {
          "Policies_List": {
            "$ref": "./examples/Policies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "description": "Get policy.",
        "operationId": "Policies_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the policy.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Get": {
            "$ref": "./examples/Policies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "description": "Create or replace an existing policy.",
        "operationId": "Policies_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the policy.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policy",
            "in": "body",
            "description": "A Policy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_CreateOrUpdate": {
            "$ref": "./examples/Policies_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "description": "Delete policy.",
        "operationId": "Policies_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the policy.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Delete": {
            "$ref": "./examples/Policies_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Policies"
        ],
        "description": "Allows modifying tags of policies. All other properties will be ignored.",
        "operationId": "Policies_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "$ref": "#/parameters/policySetName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the policy.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "policy",
            "in": "body",
            "description": "Allows modifying tags of policies. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Update": {
            "$ref": "./examples/Policies_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "description": "List schedules in a given lab.",
        "operationId": "Schedules_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Schedule",
        "x-ms-examples": {
          "Schedules_List": {
            "$ref": "./examples/Schedules_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "description": "Get schedule.",
        "operationId": "Schedules_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the schedule.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Get": {
            "$ref": "./examples/Schedules_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Schedules"
        ],
        "description": "Create or replace an existing schedule.",
        "operationId": "Schedules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the schedule.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "schedule",
            "in": "body",
            "description": "A schedule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_CreateOrUpdate": {
            "$ref": "./examples/Schedules_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Schedules"
        ],
        "description": "Delete schedule.",
        "operationId": "Schedules_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the schedule.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Delete": {
            "$ref": "./examples/Schedules_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Schedules"
        ],
        "description": "Allows modifying tags of schedules. All other properties will be ignored.",
        "operationId": "Schedules_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the schedule.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "schedule",
            "in": "body",
            "description": "Allows modifying tags of schedules. All other properties will be ignored.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SchedulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Update": {
            "$ref": "./examples/Schedules_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "description": "Execute a schedule. This operation can take a while to complete.",
        "operationId": "Schedules_Execute",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the schedule.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_Execute": {
            "$ref": "./examples/Schedules_Execute.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/listApplicable": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "description": "Lists all applicable schedules",
        "operationId": "Schedules_ListApplicable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the schedule.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScheduleList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Schedules_ListApplicable": {
            "$ref": "./examples/Schedules_ListApplicable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/secrets": {
      "get": {
        "tags": [
          "LabSecrets"
        ],
        "description": "List lab secrets in a given lab.",
        "operationId": "LabSecrets_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "The filter to apply to the operation. Example: '$filter=contains(name,'myName')'"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "description": "The maximum number of resources to return from the operation. Example: '$top=10'",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "type": "string",
            "description": "The ordering expression for the results, using OData notation. Example: '$orderby=name desc'"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabSecretList"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/Secret",
        "x-ms-examples": {
          "LabSecrets_List": {
            "$ref": "./examples/LabSecrets_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/secrets/{name}": {
      "get": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Get lab secret.",
        "operationId": "LabSecrets_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the lab secret.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_Get": {
            "$ref": "./examples/LabSecrets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Create or replace an existing Lab Secret. This operation can take a while to complete.",
        "operationId": "LabSecrets_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the lab secret.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "labSecret",
            "in": "body",
            "description": "A shared secret in a lab.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/LabSecret"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_CreateOrUpdate": {
            "$ref": "./examples/LabSecrets_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LabSecrets"
        ],
        "description": "Delete lab secret. This operation can take a while to complete.",
        "operationId": "LabSecrets_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/labName"
          },
          {
            "name": "name",
            "in": "path",
            "type": "string",
            "description": "The name of the lab secret.",
            "x-ms-parameter-location": "method",
            "required": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LabSecrets_Delete": {
            "$ref": "./examples/LabSecrets_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LabSecrets"
        ],
[...]
