{
  "swagger": "2.0",
  "info": {
    "title": "ProviderHub",
    "description": "Microsoft ProviderHub",
    "version": "2024-04-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ProviderHubClient"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts/{rolloutName}": {
      "get": {
        "tags": [
          "CustomRollouts"
        ],
        "description": "Gets the custom rollout details.",
        "operationId": "CustomRollouts_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the rollout details.",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_Get": {
            "$ref": "./examples/CustomRollouts_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CustomRollouts"
        ],
        "description": "Deletes the custom rollout resource. Custom rollout must be in terminal state.",
        "operationId": "CustomRollouts_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the custom rollout resource."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "providerReleases_Delete": {
            "$ref": "./examples/CustomRollouts_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "CustomRollouts"
        ],
        "description": "Creates or updates the rollout details.",
        "operationId": "CustomRollouts_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            },
            "description": "The custom rollout properties supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Rollout completed successfully.",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "201": {
            "description": "Rollout created successfully.",
            "schema": {
              "$ref": "#/definitions/CustomRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_CreateOrUpdate": {
            "$ref": "./examples/CustomRollouts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts": {
      "get": {
        "tags": [
          "CustomRollouts"
        ],
        "description": "Gets the list of the custom rollouts for the given provider.",
        "operationId": "CustomRollouts_ListByProviderRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of custom rollouts for given provider.",
            "schema": {
              "$ref": "#/definitions/CustomRolloutArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_ListByProviderRegistration": {
            "$ref": "./examples/CustomRollouts_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/customRollouts/{rolloutName}/stop": {
      "post": {
        "tags": [
          "CustomRollouts"
        ],
        "description": "Stops or cancels the custom rollout, if in progress.",
        "operationId": "CustomRollouts_Stop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully cancelled the custom rollout."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CustomRollouts_Stop": {
            "$ref": "./examples/CustomRollouts_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts/{rolloutName}": {
      "get": {
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Gets the default rollout details.",
        "operationId": "DefaultRollouts_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the default rollout details.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Get": {
            "$ref": "./examples/DefaultRollouts_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Deletes the rollout resource. Rollout must be in terminal state.",
        "operationId": "DefaultRollouts_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the default rollout resource."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Delete": {
            "$ref": "./examples/DefaultRollouts_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Creates or updates the rollout details.",
        "operationId": "DefaultRollouts_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            },
            "description": "The Default rollout properties supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Default rollout started successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "201": {
            "description": "Default rollout completed successfully.",
            "schema": {
              "$ref": "#/definitions/DefaultRollout"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_CreateOrUpdate": {
            "$ref": "./examples/DefaultRollouts_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts": {
      "get": {
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Gets the list of the rollouts for the given provider.",
        "operationId": "DefaultRollouts_ListByProviderRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of default rollouts.",
            "schema": {
              "$ref": "#/definitions/DefaultRolloutArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_ListByProviderRegistration": {
            "$ref": "./examples/DefaultRollouts_ListByProviderRegistration.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/defaultRollouts/{rolloutName}/stop": {
      "post": {
        "tags": [
          "DefaultRollouts"
        ],
        "description": "Stops or cancels the rollout, if in progress.",
        "operationId": "DefaultRollouts_Stop",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetRolloutNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully cancelled the default rollout."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefaultRollouts_Stop": {
            "$ref": "./examples/DefaultRollouts_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateManifest": {
      "post": {
        "tags": [
          "Manifest"
        ],
        "description": "Generates the manifest for the given provider.",
        "operationId": "GenerateManifest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "GenerateManifest": {
            "$ref": "./examples/GenerateManifest.json"
          }
        },
        "responses": {
          "200": {
            "description": "Manifest generated.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderManifest"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/checkinManifest": {
      "post": {
        "tags": [
          "Manifest"
        ],
        "description": "Checkin the manifest.",
        "operationId": "CheckinManifest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "name": "checkinManifestParams",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckinManifestParams"
            },
            "description": "The required body parameters supplied to the checkin manifest operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "CheckinManifest": {
            "$ref": "./examples/CheckinManifest.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully checked-in manifest.",
            "schema": {
              "$ref": "#/definitions/CheckinManifestInfo"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations/{notificationRegistrationName}": {
      "get": {
        "tags": [
          "NotificationRegistration"
        ],
        "description": "Gets the notification registration details.",
        "operationId": "NotificationRegistrations_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetNotificationRegistrationNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "NotificationRegistrations_Get": {
            "$ref": "./examples/NotificationRegistrations_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the notification registration.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "NotificationRegistration"
        ],
        "description": "Creates or updates a notification registration.",
        "operationId": "NotificationRegistrations_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetNotificationRegistrationNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            },
            "description": "The required body parameters supplied to the notification registration operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "NotificationRegistrations_CreateOrUpdate": {
            "$ref": "./examples/NotificationRegistrations_CreateOrUpdate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the notification registration.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "NotificationRegistration"
        ],
        "description": "Deletes a notification registration.",
        "operationId": "NotificationRegistrations_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetNotificationRegistrationNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "NotificationRegistrations_Delete": {
            "$ref": "./examples/NotificationRegistrations_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the notification registration."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/notificationRegistrations": {
      "get": {
        "tags": [
          "NotificationRegistration"
        ],
        "description": "Gets the list of the notification registrations for the given provider.",
        "operationId": "NotificationRegistrations_ListByProviderRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "NotificationRegistrations_ListByProviderRegistration": {
            "$ref": "./examples/NotificationRegistrations_ListByProviderRegistration.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the notification registrations.",
            "schema": {
              "$ref": "#/definitions/NotificationRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ProviderHub/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all the operations supported by Microsoft.ProviderHub.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of supported operations.",
            "schema": {
              "$ref": "#/definitions/OperationsDefinitionArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/operations/default": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Gets the operations supported by the given provider.",
        "operationId": "Operations_ListByProviderRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Operations_ListByProviderRegistration": {
            "$ref": "./examples/Operations_ListByProviderRegistration.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the supported operations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationsDefinition"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Operations"
        ],
        "description": "Creates or updates the operation supported by the given provider.",
        "operationId": "Operations_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "name": "OperationsPutContent",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationsPutContent"
            },
            "description": "The operations content properties supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Operations_CreateOrUpdate": {
            "$ref": "./examples/Operations_CreateOrUpdate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the operation.",
            "schema": {
              "$ref": "#/definitions/OperationsPutContent"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Operations"
        ],
        "description": "Deletes an operation.",
        "operationId": "Operations_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Operations_Delete": {
            "$ref": "./examples/Operations_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the operation."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}": {
      "get": {
        "tags": [
          "ProviderRegistration"
        ],
        "description": "Gets the provider registration details.",
        "operationId": "ProviderRegistrations_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderRegistrations_Get": {
            "$ref": "./examples/ProviderRegistrations_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider registration.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProviderRegistration"
        ],
        "description": "Creates or updates the provider registration.",
        "operationId": "ProviderRegistrations_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            },
            "description": "The provider registration properties supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderRegistrations_CreateOrUpdate": {
            "$ref": "./examples/ProviderRegistrations_CreateOrUpdate.json"
          },
          "DirectProviderRegistrations_CreateOrUpdate": {
            "$ref": "./examples/DirectProviderRegistrations_CreateOrUpdate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the provider registration.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "201": {
            "description": "Successfully created the provider registration.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "ProviderRegistration"
        ],
        "description": "Deletes a provider registration.",
        "operationId": "ProviderRegistrations_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderRegistrations_Delete": {
            "$ref": "./examples/ProviderRegistrations_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the provider registration."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations": {
      "get": {
        "tags": [
          "ProviderRegistration"
        ],
        "description": "Gets the list of the provider registrations in the subscription.",
        "operationId": "ProviderRegistrations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderRegistrations_List": {
            "$ref": "./examples/ProviderRegistrations_List.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider registrations.",
            "schema": {
              "$ref": "#/definitions/ProviderRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/generateOperations": {
      "post": {
        "tags": [
          "ProviderRegistration"
        ],
        "description": "Generates the operations api for the given provider.",
        "operationId": "ProviderRegistrations_GenerateOperations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderRegistrations_GenerateOperations": {
            "$ref": "./examples/ProviderRegistrations_GenerateOperations.json"
          }
        },
        "responses": {
          "200": {
            "description": "The operations api has been generated successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OperationsDefinition"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}": {
      "get": {
        "tags": [
          "ResourceTypeRegistration"
        ],
        "description": "Gets a resource type details in the given subscription and provider.",
        "operationId": "ResourceTypeRegistrations_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ResourceTypeRegistrations_Get": {
            "$ref": "./examples/ResourceTypeRegistrations_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResourceTypeRegistration"
        ],
        "description": "Creates or updates a resource type.",
        "operationId": "ResourceTypeRegistrations_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            },
            "description": "The required request body parameters supplied to the resource type registration CreateOrUpdate operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ResourceTypeRegistrations_CreateOrUpdate": {
            "$ref": "./examples/ResourceTypeRegistrations_CreateOrUpdate.json"
          },
          "DirectResourceTypeRegistrations_CreateOrUpdate.json": {
            "$ref": "./examples/DirectResourceTypeRegistrations_CreateOrUpdate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource type.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "201": {
            "description": "Successfully created the resource type.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistration"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "ResourceTypeRegistration"
        ],
        "description": "Deletes a resource type",
        "operationId": "ResourceTypeRegistrations_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ResourceTypeRegistrations_Delete": {
            "$ref": "./examples/ResourceTypeRegistrations_Delete.json"
          }
        },
        "responses": {
          "202": {
            "description": "Delete request accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations": {
      "get": {
        "tags": [
          "ResourceTypeRegistration"
        ],
        "description": "Gets the list of the resource types for the given provider.",
        "operationId": "ResourceTypeRegistrations_ListByProviderRegistration",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ResourceTypeRegistrations_ListByProviderRegistration": {
            "$ref": "./examples/ResourceTypeRegistrations_ListByProviderRegistration.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource types.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeRegistrationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus/{sku}": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "operationId": "Skus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_Get": {
            "$ref": "./examples/Skus_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Creates or updates the resource type skus in the given resource type.",
        "operationId": "Skus_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuResource"
            },
            "description": "The required body parameters supplied to the resource sku operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_CreateOrUpdate": {
            "$ref": "./examples/Skus_CreateOrUpdate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Deletes a resource type sku.",
        "operationId": "Skus_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_Delete": {
            "$ref": "./examples/Skus_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus/{sku}": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "operationId": "Skus_GetNestedResourceTypeFirst",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_GetNestedResourceTypeFirst.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Creates or updates the resource type skus in the given resource type.",
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeFirst",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuResource"
            },
            "description": "The required body parameters supplied to the resource sku operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeFirst.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Deletes a resource type sku.",
        "operationId": "Skus_DeleteNestedResourceTypeFirst",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeFirst.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus/{sku}": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "operationId": "Skus_GetNestedResourceTypeSecond",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_GetNestedResourceTypeSecond.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Creates or updates the resource type skus in the given resource type.",
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeSecond",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuResource"
            },
            "description": "The required body parameters supplied to the resource sku operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeSecond.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Deletes a resource type sku.",
        "operationId": "Skus_DeleteNestedResourceTypeSecond",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeSecond.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus/{sku}": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the sku details for the given resource type and sku name.",
        "operationId": "Skus_GetNestedResourceTypeThird",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeThirdParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_GetNestedResourceTypeThird": {
            "$ref": "./examples/Skus_GetNestedResourceTypeThird.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Creates or updates the resource type skus in the given resource type.",
        "operationId": "Skus_CreateOrUpdateNestedResourceTypeThird",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeThirdParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SkuResource"
            },
            "description": "The required body parameters supplied to the resource sku operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_CreateOrUpdateNestedResourceTypeThird": {
            "$ref": "./examples/Skus_CreateOrUpdateNestedResourceTypeThird.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created or updated the resource type sku.",
            "schema": {
              "$ref": "#/definitions/SkuResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Deletes a resource type sku.",
        "operationId": "Skus_DeleteNestedResourceTypeThird",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeThirdParameter"
          },
          {
            "$ref": "#/parameters/SkuParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_DeleteNestedResourceTypeThird": {
            "$ref": "./examples/Skus_DeleteNestedResourceTypeThird.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the resource type sku."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/skus": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "operationId": "Skus_ListByResourceTypeRegistrations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrations": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrations.json"
          }
        },
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/skus": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeFirst.json"
          }
        },
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/skus": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeSecond.json"
          }
        },
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourcetypeRegistrations/{resourceType}/resourcetypeRegistrations/{nestedResourceTypeFirst}/resourcetypeRegistrations/{nestedResourceTypeSecond}/resourcetypeRegistrations/{nestedResourceTypeThird}/skus": {
      "get": {
        "tags": [
          "ResourceTypeSku"
        ],
        "description": "Gets the list of skus for the given resource type.",
        "operationId": "Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/GetResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeFirstParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeSecondParameter"
          },
          {
            "$ref": "#/parameters/NestedResourceTypeThirdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird": {
            "$ref": "./examples/Skus_ListByResourceTypeRegistrationsNestedResourceTypeThird.json"
          }
        },
        "responses": {
          "200": {
            "description": "SUccessfully retrieved the resource type skus.",
            "schema": {
              "$ref": "#/definitions/SkuResourceArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/resourceActions/{resourceActionName}/deleteResources": {
      "post": {
        "tags": [
          "ResourceActions"
        ],
        "description": "Deletes resources.",
        "operationId": "ResourceActions_DeleteResources",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ResourceActionParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceManagementAction"
            },
            "description": "The properties supplied to the DeleteResources operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource management action started.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceActions_DeleteResources": {
            "$ref": "./examples/ResourceActions_DeleteResources.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/authorizedApplications/{applicationId}": {
      "get": {
        "tags": [
          "AuthorizedApplication"
        ],
        "description": "Gets the authorized application details.",
        "operationId": "AuthorizedApplications_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          }
        ],
        "x-ms-examples": {
          "AuthorizedApplications_Get": {
            "$ref": "./examples/AuthorizedApplications_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the authorized application details.",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AuthorizedApplication"
        ],
        "description": "Creates or updates the authorized application.",
        "operationId": "AuthorizedApplications_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            },
            "description": "The authorized application properties supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "AuthorizedApplications_CreateOrUpdate": {
            "$ref": "./examples/AuthorizedApplications_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "responses": {
          "200": {
            "description": "Successfully updated the authorized application.",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            }
          },
          "201": {
            "description": "Successfully created the authorized application.",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplication"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AuthorizedApplication"
        ],
        "description": "Deletes an authorized application.",
        "operationId": "AuthorizedApplications_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          }
        ],
        "x-ms-examples": {
          "AuthorizedApplications_Delete": {
            "$ref": "./examples/AuthorizedApplications_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the authorized application."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerRegistrations/{providerNamespace}/authorizedApplications": {
      "get": {
        "tags": [
          "AuthorizedApplication"
        ],
        "description": "Gets the list of the authorized applications in the provider namespace.",
        "operationId": "AuthorizedApplications_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "AuthorizedApplications_List": {
            "$ref": "./examples/AuthorizedApplications_List.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the authorized applications.",
            "schema": {
              "$ref": "#/definitions/AuthorizedApplicationArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings/{providerMonitorSettingName}": {
      "get": {
        "tags": [
          "ProviderMonitorSetting"
        ],
        "description": "Gets the provider monitor setting details.",
        "operationId": "ProviderMonitorSettings_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderMonitorSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderMonitorSettings_Get": {
            "$ref": "./examples/ProviderMonitorSettings_Get.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider monitor setting.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSetting"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProviderMonitorSetting"
        ],
        "description": "Creates the provider monitor setting.",
        "operationId": "ProviderMonitorSettings_Create",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderMonitorSettingNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSetting"
            },
            "description": "The provider monitor setting properties supplied to the create operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderMonitorSettings_Create": {
            "$ref": "./examples/ProviderMonitorSettings_Create.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the provider monitor setting.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSetting"
            }
          },
          "201": {
            "description": "Successfully created the provider monitor setting.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSetting"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "ProviderMonitorSetting"
        ],
        "description": "Updates the provider monitor setting properties as specified in the request body. Update fails if the specified provider monitor setting does not already exist.",
        "operationId": "ProviderMonitorSettings_Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderMonitorSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderMonitorSettings_Update": {
            "$ref": "./examples/ProviderMonitorSettings_Update.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the provider monitor setting.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSetting"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ProviderMonitorSetting"
        ],
        "description": "Deletes a provider monitor setting.",
        "operationId": "ProviderMonitorSettings_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProviderMonitorSettingNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderMonitorSettings_Delete": {
            "$ref": "./examples/ProviderMonitorSettings_Delete.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the provider monitor setting."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProviderHub/providerMonitorSettings": {
      "get": {
        "tags": [
          "ProviderMonitorSetting"
        ],
        "description": "Gets the list of the provider monitor settings in the resource group.",
        "operationId": "ProviderMonitorSettings_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderMonitorSettings_ListByResourceGroup": {
            "$ref": "./examples/ProviderMonitorSettings_ListByResourceGroup.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider monitor settings.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSettingArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProviderHub/providerMonitorSettings": {
      "get": {
        "tags": [
          "ProviderMonitorSetting"
        ],
        "description": "Gets the list of the provider monitor settings in the subscription.",
        "operationId": "ProviderMonitorSettings_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-examples": {
          "ProviderMonitorSettings_ListBySubscription": {
            "$ref": "./examples/ProviderMonitorSettings_ListBySubscription.json"
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the provider monitor settings.",
            "schema": {
              "$ref": "#/definitions/ProviderMonitorSettingArrayResponseWithContinuation"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "enum": [
        "NotSpecified",
        "Accepted",
        "Running",
        "Creating",
        "Created",
        "Deleting",
        "Deleted",
        "Canceled",
        "Failed",
        "Succeeded",
        "MovingResources",
        "TransientFailure",
        "RolloutInProgress"
      ],
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "QuotaPolicy": {
      "enum": [
        "Default",
        "None",
        "Restricted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "QuotaPolicy",
        "modelAsString": true
      },
      "description": "Quota policy."
    },
    "TrafficRegions": {
      "type": "object",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomRolloutSpecification": {
      "type": "object",
      "properties": {
        "autoProvisionConfig": {
          "type": "object",
          "properties": {
            "storage": {
              "type": "boolean"
            },
            "resourceGraph": {
              "type": "boolean"
            }
          }
        },
        "canary": {
          "allOf": [
            {
              "$ref": "#/definitions/TrafficRegions"
            }
          ]
        },
        "releaseScopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "refreshSubscriptionRegistration": {
          "type": "boolean"
        },
        "skipReleaseScopeValidation": {
          "type": "boolean"
        },
        "providerRegistration": {
          "allOf": [
            {
              "$ref": "#/definitions/ProviderRegistration"
            }
          ]
        },
        "resourceTypeRegistrations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceTypeRegistration"
          }
        },
        "manifestCheckinSpecification": {
          "allOf": [
            {
              "$ref": "#/definitions/ManifestCheckinSpecification"
            }
          ]
        }
      }
    },
    "TypedErrorInfo": {
      "required": [
        "type"
      ],
      "type": "object",
      "description": "Error information.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the error."
        },
        "info": {
          "type": "object",
          "description": "The error information.",
          "readOnly": true
        }
      }
    },
    "ExtendedErrorInfo": {
      "type": "object",
      "description": "Error information.",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string"
        },
        "target": {
          "description": "The target of the error.",
          "type": "string"
        },
        "message": {
          "description": "The error message.",
          "type": "string"
        },
        "details": {
          "description": "The error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtendedErrorInfo"
          },
          "x-ms-identifiers": [
            "code"
          ]
        },
        "additionalInfo": {
          "description": "The additional error information.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TypedErrorInfo"
          },
          "x-ms-identifiers": [
            "type"
          ]
        }
      }
    },
    "CheckinManifestParams": {
      "type": "object",
      "properties": {
        "environment": {
          "type": "string",
          "description": "The environment supplied to the checkin manifest operation."
        },
        "baselineArmManifestLocation": {
          "type": "string",
          "description": "The baseline ARM manifest location supplied to the checkin manifest operation."
        }
      },
      "required": [
        "baselineArmManifestLocation",
        "environment"
      ]
    },
    "RolloutStatusBase": {
      "type": "object",
      "properties": {
        "completedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedOrSkippedRegions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ExtendedErrorInfo"
          }
        }
      }
    },
    "CustomRolloutProperties": {
      "type": "object",
      "required": [
        "specification"
      ],
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioned state of the resource."
        },
        "specification": {
          "allOf": [
            {
              "$ref": "#/definitions/CustomRolloutSpecification"
            }
          ]
        },
        "status": {
          "allOf": [
            {
              "$ref": "#/definitions/CustomRolloutStatus"
            }
          ]
        }
      }
    },
    "CustomRollout": {
      "description": "Rollout details.",
      "type": "object",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/CustomRolloutProperties",
          "description": "Properties of the rollout."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
[...]
