{
  "swagger": "2.0",
  "info": {
    "title": "Qumulo.Storage",
    "version": "2022-10-12",
    "description": "// FIXME: (missing-service-description) Add service description",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "FileSystemResources"
    }
  ],
  "paths": {
    "/providers/Qumulo.Storage/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Qumulo.Storage/fileSystems": {
      "get": {
        "operationId": "FileSystems_ListBySubscription",
        "tags": [
          "FileSystemResources"
        ],
        "description": "List FileSystemResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileSystems_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/FileSystems_ListBySubscription_MaximumSet_Gen.json"
          },
          "FileSystems_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/FileSystems_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Qumulo.Storage/fileSystems": {
      "get": {
        "operationId": "FileSystems_ListByResourceGroup",
        "tags": [
          "FileSystemResources"
        ],
        "description": "List FileSystemResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileSystems_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/FileSystems_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "FileSystems_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/FileSystems_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Qumulo.Storage/fileSystems/{fileSystemName}": {
      "get": {
        "operationId": "FileSystems_Get",
        "tags": [
          "FileSystemResources"
        ],
        "description": "Get a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileSystems_Get_MaximumSet_Gen": {
            "$ref": "./examples/FileSystems_Get_MaximumSet_Gen.json"
          },
          "FileSystems_Get_MinimumSet_Gen": {
            "$ref": "./examples/FileSystems_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "FileSystems_CreateOrUpdate",
        "tags": [
          "FileSystemResources"
        ],
        "description": "Create a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FileSystemResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          },
          "201": {
            "description": "Resource 'FileSystemResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileSystems_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/FileSystems_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "FileSystems_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/FileSystems_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FileSystems_Update",
        "tags": [
          "FileSystemResources"
        ],
        "description": "Update a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileSystemResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileSystems_Update_MaximumSet_Gen": {
            "$ref": "./examples/FileSystems_Update_MaximumSet_Gen.json"
          },
          "FileSystems_Update_MinimumSet_Gen": {
            "$ref": "./examples/FileSystems_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "FileSystems_Delete",
        "tags": [
          "FileSystemResources"
        ],
        "description": "Delete a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FileSystems_Delete_MaximumSet_Gen": {
            "$ref": "./examples/FileSystems_Delete_MaximumSet_Gen.json"
          },
          "FileSystems_Delete_MinimumSet_Gen": {
            "$ref": "./examples/FileSystems_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.Foundations.ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of the managed service identities assigned to this resource.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.Foundations.UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "Azure.ResourceManager.Foundations.UserAssignedIdentity": {
      "type": "object",
      "description": "A managed identity assigned by the user.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      }
    },
    "Azure.ResourceManager.ManagedServiceIdentity": {
      "type": "object",
      "description": "The managed service identities envelope.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "FileSystemResource": {
      "type": "object",
      "description": "A FileSystem Resource by Qumulo",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileSystemResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FileSystemResourceListResult": {
      "type": "object",
      "description": "The response of a FileSystemResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FileSystemResource items on this page",
          "items": {
            "$ref": "#/definitions/FileSystemResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FileSystemResourceProperties": {
      "type": "object",
      "description": "Properties specific to the Qumulo File System resource",
      "properties": {
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State of the resource",
          "readOnly": true
        },
        "storageSku": {
          "$ref": "#/definitions/StorageSku",
          "description": "Storage Sku"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "delegatedSubnetId": {
          "type": "string",
          "description": "Delegated subnet id for Vnet injection"
        },
        "clusterLoginUrl": {
          "type": "string",
          "description": "File system Id of the resource"
        },
        "privateIPs": {
          "type": "array",
          "description": "Private IPs of the resource",
          "items": {
            "type": "string"
          }
        },
        "adminPassword": {
          "type": "string",
          "description": "Initial administrator password of the resource"
        },
        "initialCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Storage capacity in TB"
        },
        "availabilityZone": {
          "type": "string",
          "description": "Availability zone"
        }
      },
      "required": [
        "marketplaceDetails",
        "storageSku",
        "userDetails",
        "delegatedSubnetId",
        "adminPassword",
        "initialCapacity"
      ]
    },
    "FileSystemResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the FileSystemResource.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/FileSystemResourceUpdateProperties",
          "description": "The updatable properties of the FileSystemResource."
        }
      }
    },
    "FileSystemResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the FileSystemResource.",
      "properties": {
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "delegatedSubnetId": {
          "type": "string",
          "description": "Delegated subnet id for Vnet injection"
        },
        "clusterLoginUrl": {
          "type": "string",
          "description": "File system Id of the resource"
        },
        "privateIPs": {
          "type": "array",
          "description": "Private IPs of the resource",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true
      }
    },
    "MarketplaceDetails": {
      "type": "object",
      "description": "MarketplaceDetails of Qumulo FileSystem resource",
      "properties": {
        "marketplaceSubscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id"
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher Id"
        },
        "marketplaceSubscriptionStatus": {
          "$ref": "#/definitions/MarketplaceSubscriptionStatus",
          "description": "Marketplace subscription status",
          "readOnly": true
        }
      },
      "required": [
        "planId",
        "offerId",
        "publisherId"
      ]
    },
    "MarketplaceSubscriptionStatus": {
      "type": "string",
      "description": "Marketplace subscription status of the file system resource",
      "enum": [
        "PendingFulfillmentStart",
        "Subscribed",
        "Suspended",
        "Unsubscribed"
      ],
      "x-ms-enum": {
        "name": "MarketplaceSubscriptionStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "PendingFulfillmentStart",
            "value": "PendingFulfillmentStart",
            "description": "Fulfillment has not started"
          },
          {
            "name": "Subscribed",
            "value": "Subscribed",
            "description": "Marketplace offer is subscribed"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "Marketplace offer is suspended because of non payment"
          },
          {
            "name": "Unsubscribed",
            "value": "Unsubscribed",
            "description": "Marketplace offer is unsubscribed"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State of the File system resource",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "File system resource creation request accepted"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "File system resource creation started"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "File system resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "File system resource deletion started"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "File system resource creation successful"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "File system resource creation failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "File system resource creation canceled"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "File system resource is deleted"
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "File system resource state is unknown"
          }
        ]
      },
      "readOnly": true
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "StorageSku": {
      "type": "string",
      "description": "Storage Sku",
      "enum": [
        "Standard",
        "Performance"
      ],
      "x-ms-enum": {
        "name": "StorageSku",
        "modelAsString": false,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Storage Sku"
          },
          {
            "name": "Performance",
            "value": "Performance",
            "description": "Performance Storage Sku"
          }
        ]
      }
    },
    "UserDetails": {
      "type": "object",
      "description": "User Details of Qumulo FileSystem resource",
      "properties": {
        "email": {
          "type": "string",
          "description": "User Email"
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2022-10-12"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_10_12",
            "value": "2022-10-12",
            "description": "The 2022-10-12 API version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
