{
  "swagger": "2.0",
  "info": {
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference.",
    "version": "2020-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches/{savedSearchId}": {
      "delete": {
        "tags": [
          "SavedSearches"
        ],
        "x-ms-examples": {
          "SavedSearchesDelete": {
            "$ref": "./examples/WorkspacesDeleteSavedSearches.json"
          }
        },
        "operationId": "SavedSearches_Delete",
        "description": "Deletes the specified saved search in a given workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "savedSearchId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the saved search."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          }
        }
      },
      "put": {
        "tags": [
          "SavedSearches"
        ],
        "x-ms-examples": {
          "SavedSearchCreateOrUpdate": {
            "$ref": "./examples/WorkspacesSavedSearchesCreateOrUpdate.json"
          }
        },
        "operationId": "SavedSearches_CreateOrUpdate",
        "description": "Creates or updates a saved search for a given workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "savedSearchId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the saved search."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SavedSearch"
            },
            "description": "The parameters required to save a search."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/SavedSearch"
            }
          }
        }
      },
      "get": {
        "tags": [
          "SavedSearches"
        ],
        "x-ms-examples": {
          "SavedSearchesGet": {
            "$ref": "./examples/WorkspacesSavedSearchesGet.json"
          }
        },
        "operationId": "SavedSearches_Get",
        "description": "Gets the specified saved search for a given workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "savedSearchId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the saved search."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/SavedSearch"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/savedSearches": {
      "get": {
        "tags": [
          "SavedSearches"
        ],
        "x-ms-examples": {
          "SavedSearchesList": {
            "$ref": "./examples/SavedSearchesListByWorkspace.json"
          }
        },
        "operationId": "SavedSearches_ListByWorkspace",
        "description": "Gets the saved searches for a given Log Analytics Workspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of saved searches for the given Log Analytics Workspace.",
            "schema": {
              "$ref": "#/definitions/SavedSearchesListResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Tag": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The tag name."
        },
        "value": {
          "type": "string",
          "description": "The tag value."
        }
      },
      "required": [
        "name",
        "value"
      ],
      "description": "A tag of a saved search."
    },
    "SavedSearchProperties": {
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the saved search. This helps the user to find a saved search faster. "
        },
        "displayName": {
          "type": "string",
          "description": "Saved search display name."
        },
        "query": {
          "type": "string",
          "description": "The query expression for the saved search. Please see https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-search-reference for reference."
        },
        "version": {
          "type": "integer",
          "format": "int64",
          "description": "The version number of the query language. The current version is 2 and is the default."
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "description": "The tags attached to the saved search."
        }
      },
      "required": [
        "category",
        "displayName",
        "query"
      ],
      "description": "Value object for saved search results."
    },
    "SavedSearch": {
      "properties": {
        "eTag": {
          "type": "string",
          "description": "The ETag of the saved search."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SavedSearchProperties",
          "description": "The properties of the saved search."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Value object for saved search results."
    },
    "SavedSearchesListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavedSearch"
          },
          "description": "The array of result values."
        }
      },
      "description": "The saved search list operation response."
    },
    "SearchSchemaValue": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the schema."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the schema."
        },
        "type": {
          "type": "string",
          "description": "The type."
        },
        "indexed": {
          "type": "boolean",
          "description": "The boolean that indicates the field is searchable as free text."
        },
        "stored": {
          "type": "boolean",
          "description": "The boolean that indicates whether or not the field is stored."
        },
        "facet": {
          "type": "boolean",
          "description": "The boolean that indicates whether or not the field is a facet."
        },
        "ownerType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The array of workflows containing the field."
        }
      },
      "required": [
        "facet",
        "stored",
        "indexed"
      ],
      "description": "Value object for schema results."
    },
    "SearchGetSchemaResponse": {
      "properties": {
        "metadata": {
          "x-ms-client-name": "Metadata",
          "$ref": "#/definitions/SearchMetadata",
          "description": "The metadata from search results."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchSchemaValue"
          },
          "description": "The array of result values."
        }
      },
      "description": "The get schema operation response."
    },
    "CoreSummary": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of a core summary."
        },
        "numberOfDocuments": {
          "type": "integer",
          "format": "int64",
          "description": "The number of documents of a core summary."
        }
      },
      "required": [
        "numberOfDocuments"
      ],
      "description": "The core summary of a search."
    },
    "SearchSort": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the field the search query is sorted on."
        },
        "order": {
          "type": "string",
          "description": "The sort order of the search.",
          "enum": [
            "asc",
            "desc"
          ],
          "x-ms-enum": {
            "name": "SearchSortEnum",
            "modelAsString": true
          }
        }
      },
      "description": "The sort parameters for search."
    },
    "SearchMetadataSchema": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the metadata schema."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "The version of the metadata schema."
        }
      },
      "description": "Schema metadata for search."
    },
    "SearchMetadata": {
      "properties": {
        "requestId": {
          "x-ms-client-name": "SearchId",
          "type": "string",
          "description": "The request id of the search."
        },
        "resultType": {
          "type": "string",
          "description": "The search result type."
        },
        "total": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of search results."
        },
        "top": {
          "type": "integer",
          "format": "int64",
          "description": "The number of top search results."
        },
        "id": {
          "type": "string",
          "description": "The id of the search results request."
        },
        "coreSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoreSummary"
          },
          "description": "The core summaries."
        },
        "status": {
          "type": "string",
          "description": "The status of the search results."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time for the search."
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "The time of last update."
        },
        "eTag": {
          "type": "string",
          "description": "The ETag of the search results."
        },
        "sort": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchSort"
          },
          "description": "How the results are sorted."
        },
        "requestTime": {
          "type": "integer",
          "format": "int64",
          "description": "The request time."
        },
        "aggregatedValueField": {
          "type": "string",
          "description": "The aggregated value field."
        },
        "aggregatedGroupingFields": {
          "type": "string",
          "description": "The aggregated grouping fields."
        },
        "sum": {
          "type": "integer",
          "format": "int64",
          "description": "The sum of all aggregates returned in the result set."
        },
        "max": {
          "type": "integer",
          "format": "int64",
          "description": "The max of all aggregates returned in the result set."
        },
        "schema": {
          "$ref": "#/definitions/SearchMetadataSchema",
          "description": "The schema."
        }
      },
      "description": "Metadata for search results."
    }
  },
  "parameters": {}
}
