{
  "swagger": "2.0",
  "info": {
    "title": "BlueprintClient",
    "description": "Azure Blueprint Client.",
    "version": "2018-11-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/operations": {
      "get": {
        "tags": [
          "AssignmentOperations"
        ],
        "operationId": "AssignmentOperations_List",
        "description": "List Operations for given blueprint assignment within a subscription.",
        "x-ms-examples": {
          "Assignment": {
            "$ref": "./examples/BlueprintAssignmentOperation_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AssignmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - all Blueprint assignment Operation retrieved.",
            "schema": {
              "$ref": "#/definitions/AssignmentOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Blueprint/blueprintAssignments/{assignmentName}/operations/{assignmentOperationName}": {
      "get": {
        "tags": [
          "AssignmentOperations"
        ],
        "operationId": "AssignmentOperations_Get",
        "description": "Get a Blueprint assignment operation.",
        "x-ms-examples": {
          "Assignment": {
            "$ref": "./examples/BlueprintAssignmentOperation_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AssignmentNameParameter"
          },
          {
            "$ref": "#/parameters/AssignmentOperationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Blueprint assignment retrieved.",
            "schema": {
              "$ref": "#/definitions/AssignmentOperation"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AssignmentOperation": {
      "type": "object",
      "description": "Represents underlying deployment detail for each update to the assignment.",
      "allOf": [
        { "$ref": "#/definitions/AzureResourceBase" }
      ],
      "properties": {
        "properties": {
          "description": "Properties for AssignmentOperation",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AssignmentOperationProperties"
        }
      }
    },
    "AssignmentOperationList":{
      "type": "object",
      "description": "List of AssignmentOperation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of AssignmentOperation.",
          "items": {
            "$ref": "#/definitions/AssignmentOperation"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next page of results."
        }
      }

    },
    "AssignmentOperationProperties": {
      "type": "object",
      "description": "properties of AssignmentOperation.",
      "properties": {
        "blueprintVersion": {
          "type": "string",
          "description": "The blueprint version used for the assignment operation."
        },
        "assignmentState": {
          "type": "string",
          "description": "State of this assignment operation."
        },
        "timeCreated": {
          "type": "string",
          "description": "Create time of this Assignment Operation."
        },
        "timeStarted": {
          "type": "string",
          "description": "Start time of the underlying deployment."
        },
        "timeFinished": {
          "type": "string",
          "description": "Finish time of the overall underlying deployments."
        },
        "deployments": {
          "type": "array",
          "description": "list of jobs in this assignment operation.",
          "items": {
            "$ref": "#/definitions/AssignmentDeploymentJob"
          }
        }
      }
    },
    "AssignmentDeploymentJob": {
      "type": "object",
      "description": "Represents individual job in given assignment operation.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of the job."
        },
        "action": {
          "type": "string",
          "description": "Name of the action performed in this job."
        },
        "jobId": {
          "type": "string",
          "description": "Id of this job."
        },
        "jobState": {
          "type": "string",
          "description": "State of this job."
        },
        "result": {
          "description": "deployment job result.",
          "$ref": "#/definitions/AssignmentDeploymentJobResult"
        },
        "history": {
          "type": "array",
          "description": "result of this deployment job for each retry.",
          "items": {
            "$ref": "#/definitions/AssignmentDeploymentJobResult"
          }
        },
        "requestUri": {
          "type": "string",
          "description": "Reference to deployment job resource id."
        }
      }
    },
    "AssignmentDeploymentJobResult": {
      "type": "object",
      "description": "result of each individual deployment in a blueprint assignment.",
      "properties": {
        "error": {
          "description": "contains error details if deployment job failed.",
          "$ref": "#/definitions/AzureResourceManagerError"
        },
        "resources": {
          "type": "array",
          "description": "resources created as result of the deployment job.",
          "items": {
            "$ref": "#/definitions/AssignmentJobCreatedResource"
          }
        }
      }
    },
    "AssignmentJobCreatedResource": {
      "type": "object",
      "description": "Azure resource created from deployment job.",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string",
            "description": "properties"
          }
        }
      },
      "allOf": [
        { "$ref": "#/definitions/AzureResourceBase" }
      ]
    },

    "AzureResourceBase": {
      "description": "Common properties for all Azure resources.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "String Id used to locate any resource on Azure."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of this resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of this resource."
        }
      }
    },
    "AzureResourceManagerError": {
      "type": "object",
      "description": "Error code and message",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        }

      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "azure subscriptionId, which we assign the blueprint to."
    },
    "AssignmentNameParameter": {
      "name": "assignmentName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "name of the assignment."
    },
    "AssignmentOperationNameParameter": {
      "name": "assignmentOperationName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "name of the assignment operation."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client",
      "description": "Client Api Version."
    }
  }
}
