{
  "swagger": "2.0",
  "info": {
    "title": "StorageManagementClient",
    "description": "The Azure Storage Management API.",
    "version": "2025-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}": {
      "put": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "Asynchronously creates a new storage task assignment sub-resource with the specified parameters. If a storage task assignment is already created and a subsequent create request is issued with different properties, the storage task assignment properties will be updated. If a storage task assignment is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "operationId": "StorageTaskAssignments_Create",
        "x-ms-examples": {
          "PutStorageTaskAssignment": {
            "$ref": "./examples/storageTaskAssignmentsCrud/PutStorageTaskAssignment.json"
          },
          "PutStorageTaskAssignmentRequiredProperties": {
            "$ref": "./examples/storageTaskAssignmentsCrud/PutStorageTaskAssignmentRequiredProperties.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/StorageTaskAssignmentName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignment"
            },
            "description": "The parameters to create a Storage Task Assignment."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Update storage task assignment with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignment"
            }
          },
          "201": {
            "description": "OK -- Create storage task assignment with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignment"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "Update storage task assignment properties",
        "operationId": "StorageTaskAssignments_Update",
        "x-ms-examples": {
          "PatchStorageTaskAssignment": {
            "$ref": "./examples/storageTaskAssignmentsCrud/PatchStorageTaskAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/StorageTaskAssignmentName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignmentUpdateParameters"
            },
            "description": "The parameters to update a Storage Task Assignment."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the update request body had no changes.",
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignment"
            }
          },
          "202": {
            "description": "Accepted -- update request accepted; operation will complete asynchronously.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "Get the storage task assignment properties",
        "operationId": "StorageTaskAssignments_Get",
        "x-ms-examples": {
          "GetStorageTaskAssignment": {
            "$ref": "./examples/storageTaskAssignmentsCrud/GetStorageTaskAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/StorageTaskAssignmentName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- properties retrieved successfully for the storage task assignment.",
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "Delete the storage task assignment sub-resource",
        "operationId": "StorageTaskAssignments_Delete",
        "x-ms-examples": {
          "DeleteStorageTaskAssignment": {
            "$ref": "./examples/storageTaskAssignmentsCrud/DeleteStorageTaskAssignment.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/StorageTaskAssignmentName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- specified storage task assignment does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments": {
      "get": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "List all the storage task assignments in an account",
        "operationId": "StorageTaskAssignments_List",
        "x-ms-examples": {
          "ListStorageTaskAssignmentsForAccount": {
            "$ref": "./examples/storageTaskAssignmentsList/ListStorageTaskAssignmentsForAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "name": "$top",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Optional, specifies the maximum number of storage task assignment Ids to be included in the list response."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of storage task assignments was retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignmentsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/reports": {
      "get": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "Fetch the report summary of all the storage task assignments and instances in an account",
        "operationId": "StorageTaskAssignmentsInstancesReport_List",
        "x-ms-examples": {
          "ListStorageTaskAssignmentsInstancesReportSummary": {
            "$ref": "./examples/storageTaskAssignmentsList/ListStorageTaskAssignmentsInstancesReportSummary.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Optional, specifies the maximum number of storage task assignment instances to be included in the list response."
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Optional. When specified, it can be used to query using reporting properties. See [Constructing Filter Strings](https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#constructing-filter-strings) for details."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- storage task assignments' instances report summary retrieved and returned successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/StorageTaskReportSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/storageTaskAssignments/{storageTaskAssignmentName}/reports": {
      "get": {
        "tags": [
          "StorageTaskAssignments"
        ],
        "description": "Fetch the report summary of a single storage task assignment's instances",
        "operationId": "StorageTaskAssignmentInstancesReport_List",
        "x-ms-examples": {
          "ListStorageTaskAssignmentInstancesReportSummary": {
            "$ref": "./examples/storageTaskAssignmentsList/ListStorageTaskAssignmentInstancesReportSummary.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/StorageTaskAssignmentName"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Optional, specifies the maximum number of storage task assignment instances to be included in the list response."
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Optional. When specified, it can be used to query using reporting properties. See [Constructing Filter Strings](https://learn.microsoft.com/rest/api/storageservices/querying-tables-and-entities#constructing-filter-strings) for details."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- storage task assignment's instances report summary retrieved and returned successfully",
            "schema": {
              "$ref": "./common.json#/definitions/StorageTaskReportSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "StorageTaskAssignment": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageTaskAssignmentProperties",
          "description": "Properties of the storage task assignment."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The storage task assignment."
    },
    "StorageTaskAssignmentProperties": {
      "type": "object",
      "properties": {
        "taskId": {
          "type": "string",
          "format": "arm-id",
          "description": "Id of the corresponding storage task"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the storage task assignment is enabled or not"
        },
        "description": {
          "type": "string",
          "description": "Text that describes the purpose of the storage task assignment"
        },
        "executionContext": {
          "$ref": "#/definitions/StorageTaskAssignmentExecutionContext",
          "description": "The storage task assignment execution context"
        },
        "report": {
          "$ref": "#/definitions/StorageTaskAssignmentReport",
          "description": "The storage task assignment report"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Represents the provisioning state of the storage task assignment.",
          "enum": [
            "ValidateSubscriptionQuotaBegin",
            "ValidateSubscriptionQuotaEnd",
            "Accepted",
            "Creating",
            "Succeeded",
            "Deleting",
            "Canceled",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "runStatus": {
          "$ref": "./common.json#/definitions/StorageTaskReportProperties",
          "description": "Run status of storage task assignment"
        }
      },
      "required": [
        "taskId",
        "enabled",
        "description",
        "executionContext",
        "report"
      ],
      "description": "Properties of the storage task assignment."
    },
    "StorageTaskAssignmentExecutionContext": {
      "type": "object",
      "properties": {
        "target": {
          "$ref": "#/definitions/ExecutionTarget",
          "description": "Execution target of the storage task assignment"
        },
        "trigger": {
          "$ref": "#/definitions/ExecutionTrigger",
          "description": "Execution trigger of the storage task assignment"
        }
      },
      "required": [
        "trigger"
      ],
      "description": "Execution context of the storage task assignment."
    },
    "ExecutionTarget": {
      "type": "object",
      "properties": {
        "prefix": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required list of object prefixes to be included for task execution"
        },
        "excludePrefix": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of object prefixes to be excluded from task execution. If there is a conflict between include and exclude prefixes, the exclude prefix will be the determining factor"
        }
      },
      "description": "Target helps provide filter parameters for the objects in the storage account and forms the execution context for the storage task"
    },
    "ExecutionTrigger": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "RunOnce",
            "OnSchedule"
          ],
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          },
          "description": "The trigger type of the storage task assignment execution"
        },
        "parameters": {
          "$ref": "#/definitions/TriggerParameters",
          "description": "The trigger parameters of the storage task assignment execution"
        }
      },
      "required": [
        "type",
        "parameters"
      ],
      "description": "Execution trigger for storage task assignment"
    },
    "TriggerParameters": {
      "type": "object",
      "properties": {
        "startFrom": {
          "type": "string",
          "format": "date-time",
          "description": "When to start task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "interval": {
          "type": "integer",
          "minimum": 1,
          "format": "int32",
          "description": "Run interval of task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "intervalUnit": {
          "type": "string",
          "enum": [
            "Days"
          ],
          "x-ms-enum": {
            "name": "IntervalUnit",
            "modelAsString": true
          },
          "description": "Run interval unit of task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "endBy": {
          "type": "string",
          "format": "date-time",
          "description": "When to end task execution. This is a required field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "startOn": {
          "type": "string",
          "format": "date-time",
          "description": "When to start task execution. This is a required field when ExecutionTrigger.properties.type is 'RunOnce'; this property should not be present when ExecutionTrigger.properties.type is 'OnSchedule'"
        }
      },
      "description": "The trigger parameters update for the storage task assignment execution"
    },
    "StorageTaskAssignmentReport": {
      "type": "object",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "The container prefix for the location of storage task assignment report"
        }
      },
      "required": [
        "prefix"
      ],
      "description": "The storage task assignment report"
    },
    "StorageTaskAssignmentUpdateParameters": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageTaskAssignmentUpdateProperties",
          "description": "Properties of the storage task assignment."
        }
      },
      "description": "Parameters of the storage task assignment update request"
    },
    "StorageTaskAssignmentUpdateProperties": {
      "type": "object",
      "properties": {
        "taskId": {
          "readOnly": true,
          "type": "string",
          "description": "Id of the corresponding storage task"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the storage task assignment is enabled or not"
        },
        "description": {
          "type": "string",
          "description": "Text that describes the purpose of the storage task assignment"
        },
        "executionContext": {
          "$ref": "#/definitions/StorageTaskAssignmentUpdateExecutionContext",
          "description": "The storage task assignment execution context"
        },
        "report": {
          "$ref": "#/definitions/StorageTaskAssignmentUpdateReport",
          "description": "The storage task assignment report"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Represents the provisioning state of the storage task assignment.",
          "enum": [
            "ValidateSubscriptionQuotaBegin",
            "ValidateSubscriptionQuotaEnd",
            "Accepted",
            "Creating",
            "Succeeded",
            "Deleting",
            "Canceled",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "runStatus": {
          "$ref": "./common.json#/definitions/StorageTaskReportProperties",
          "description": "Run status of storage task assignment"
        }
      },
      "description": "Properties of the storage task update assignment."
    },
    "StorageTaskAssignmentUpdateExecutionContext": {
      "type": "object",
      "properties": {
        "target": {
          "$ref": "#/definitions/ExecutionTarget",
          "description": "Execution target of the storage task assignment"
        },
        "trigger": {
          "$ref": "#/definitions/ExecutionTriggerUpdate",
          "description": "Execution trigger of the storage task assignment"
        }
      },
      "description": "Execution context of the storage task assignment update."
    },
    "ExecutionTriggerUpdate": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "RunOnce",
            "OnSchedule"
          ],
          "x-ms-enum": {
            "name": "TriggerType",
            "modelAsString": true
          },
          "description": "The trigger type of the storage task assignment execution"
        },
        "parameters": {
          "$ref": "#/definitions/TriggerParametersUpdate",
          "description": "The trigger parameters of the storage task assignment execution"
        }
      },
      "description": "Execution trigger update for storage task assignment"
    },
    "TriggerParametersUpdate": {
      "type": "object",
      "properties": {
        "startFrom": {
          "type": "string",
          "format": "date-time",
          "description": "When to start task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "interval": {
          "type": "integer",
          "minimum": 1,
          "format": "int32",
          "description": "Run interval of task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "intervalUnit": {
          "type": "string",
          "enum": [
            "Days"
          ],
          "x-ms-enum": {
            "name": "IntervalUnit",
            "modelAsString": true
          },
          "description": "Run interval unit of task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "endBy": {
          "type": "string",
          "format": "date-time",
          "description": "When to end task execution. This is a mutable field when ExecutionTrigger.properties.type is 'OnSchedule'; this property should not be present when ExecutionTrigger.properties.type is 'RunOnce'"
        },
        "startOn": {
          "type": "string",
          "format": "date-time",
          "description": "When to start task execution. This is a mutable field when ExecutionTrigger.properties.type is 'RunOnce'; this property should not be present when ExecutionTrigger.properties.type is 'OnSchedule'"
        }
      },
      "description": "The trigger parameters update for the storage task assignment execution"
    },
    "StorageTaskAssignmentUpdateReport": {
      "type": "object",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "The prefix of the storage task assignment report"
        }
      },
      "description": "The storage task assignment report"
    },
    "StorageTaskAssignmentsList": {
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskAssignment"
          },
          "x-ms-identifiers": [],
          "description": "Gets the list of storage task assignments and their properties."
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of storage task assignments. Returned when total number of requested storage task assignments exceed maximum page size.",
          "readOnly": true
        }
      },
      "description": "List of storage task assignments for the storage account"
    }
  },
  "parameters": {
    "StorageTaskAssignmentName": {
      "name": "storageTaskAssignmentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the storage task assignment within the specified resource group. Storage task assignment names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
      "pattern": "^[a-z][a-z0-9]{2,23}$",
      "maxLength": 24,
      "minLength": 3,
      "x-ms-parameter-location": "method"
    }
  }
}
