{
  "swagger": "2.0",
  "info": {
    "title": "AzureSphereManagementClient",
    "description": "Use these APIs to manage Azure Sphere in your Azure subscription",
    "version": "2022-02-01-privatepreview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Catalogs"
    },
    {
      "name": "Products"
    },
    {
      "name": "DeviceGroups"
    },
    {
      "name": "Images"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Certificates"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/countDevices": {
      "post": {
        "operationId": "Catalogs_CountDevices",
        "summary": "Counts the devices that belong to a catalog.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for count devices in a catalog.",
            "schema": {
              "$ref": "#/definitions/CountDevicesCatalogResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-examples": {
          "Count the devices assigned to the catalog": {
            "$ref": "./examples/PostCountDevicesCatalog.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/listImageComponentIds": {
      "post": {
        "operationId": "Catalogs_ListImageComponentIds",
        "summary": "Retrieves a set of image identifiers with corresponding component identifiers.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "ComponentIds for images request",
            "schema": {
              "$ref": "#/definitions/ListImageComponentIdsRequest"
            }
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for list of component identifiers for the given image identifiers.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_ImageComponent"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Return the list of component identifiers for the provided image identifiers": {
            "$ref": "./examples/PostListComponentIdsForImages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/claimDevices": {
      "post": {
        "operationId": "Catalogs_ClaimDevices",
        "summary": "Bulk claim of devices in a catalog.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Devices to be claimed",
            "schema": {
              "$ref": "#/definitions/ClaimDevicesRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Response to the action call to bulk claim devices.",
            "schema": {
              "$ref": "#/definitions/ClaimDevicesResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-examples": {
          "Claims devices in bulk": {
            "$ref": "./examples/PostClaimDevices.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/listDeviceInsights": {
      "post": {
        "operationId": "Catalogs_ListDeviceInsights",
        "summary": "List device insights for a catalog.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call to list device insights for a catalog.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_DeviceInsight"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Retrieves list of device insights": {
            "$ref": "./examples/PostListDeviceInsightsCatalog.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/listDeviceGroups": {
      "post": {
        "operationId": "Catalogs_ListDeviceGroups",
        "summary": "List device groups for a catalog.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call to list device groups for a catalog.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_DeviceGroup"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Retrieves device groups for given catalog": {
            "$ref": "./examples/PostListDeviceGroupsCatalog.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}": {
      "get": {
        "operationId": "Catalogs_Get",
        "summary": "Get a Catalog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-examples": {
          "Get the details of a catalog.": {
            "$ref": "./examples/GetCatalog.json"
          }
        }
      },
      "put": {
        "operationId": "Catalogs_CreateOrUpdate",
        "summary": "Create a Catalog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Catalog"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource creation accepted.",
            "schema": {
              "$ref": "#/definitions/ArmPutAcceptedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-examples": {
          "Put the details of the catalog.": {
            "$ref": "./examples/PutCatalog.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "Catalogs_Update",
        "summary": "Update a Catalog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogPatchRequest"
            },
            "description": "Request object for patch /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Catalog"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-examples": {
          "Patch a catalog.": {
            "$ref": "./examples/PatchCatalog.json"
          }
        }
      },
      "delete": {
        "operationId": "Catalogs_Delete",
        "summary": "Delete a Catalog",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted.",
            "schema": {
              "$ref": "#/definitions/ArmDeleteAcceptedResponse"
            }
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete a catalog.": {
            "$ref": "./examples/DeleteCatalog.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/listDevices": {
      "post": {
        "operationId": "Products_ListDevices",
        "summary": "List the devices that belong to a product.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for list devices in a product.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_Device"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List the devices assigned to the product": {
            "$ref": "./examples/PostListDevicesProduct.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/countDevices": {
      "post": {
        "operationId": "Products_CountDevices",
        "summary": "Counts the devices that belong to a product.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for count devices in a product.",
            "schema": {
              "$ref": "#/definitions/CountDevicesProductResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-examples": {
          "Count the devices assigned to the product": {
            "$ref": "./examples/PostCountDevicesProduct.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/generateDefaultDeviceGroups": {
      "post": {
        "operationId": "Products_GenerateDefaultDeviceGroups",
        "summary": "Creates default device groups under the specified product.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of default device groups created.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_DeviceGroup"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Creates default device groups under the specified product": {
            "$ref": "./examples/PostCreateDefaultDeviceGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}": {
      "get": {
        "operationId": "Products_Get",
        "summary": "Get a Product",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-examples": {
          "Get the details of a product.": {
            "$ref": "./examples/GetProduct.json"
          }
        }
      },
      "put": {
        "operationId": "Products_CreateOrUpdate",
        "summary": "Create a Product",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource creation accepted.",
            "schema": {
              "$ref": "#/definitions/ArmPutAcceptedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-examples": {
          "Put the details of the product.": {
            "$ref": "./examples/PutProduct.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "Products_Update",
        "summary": "Update a Product",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            },
            "description": "Request object for patch /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-examples": {
          "Patch a product.": {
            "$ref": "./examples/PatchProduct.json"
          }
        }
      },
      "delete": {
        "operationId": "Products_Delete",
        "summary": "Delete a Product",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted.",
            "schema": {
              "$ref": "#/definitions/ArmDeleteAcceptedResponse"
            }
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete a product.": {
            "$ref": "./examples/DeleteProduct.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/deploy": {
      "post": {
        "operationId": "DeviceGroups_Deploy",
        "summary": "Deploys a list of images to a device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeployImageToDeviceGroupRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Async response to the request to deploy images to device.",
            "schema": {
              "$ref": "#/definitions/DeployImagesToDeviceGroupResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Deploys a list of images in a device group": {
            "$ref": "./examples/PostDeployImagesInDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/listDeployments": {
      "post": {
        "operationId": "DeviceGroups_ListDeployments",
        "summary": "List the deployments for the device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for list deployments in a device group.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_Deployment"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List the deployments for the device group": {
            "$ref": "./examples/PostListDeploymentsDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/listDevices": {
      "post": {
        "operationId": "DeviceGroups_ListDevices",
        "summary": "List the devices assigned to the device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          },
          {
            "name": "deviceGroupName",
            "in": "path",
            "required": true,
            "description": "Device group name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for list devices in a device group.",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_Device"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "List the devices assigned to the device group": {
            "$ref": "./examples/PostListDevicesDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/countDevices": {
      "post": {
        "operationId": "DeviceGroups_CountDevices",
        "summary": "Counts the devices that belong to a device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          },
          {
            "name": "deviceGroupName",
            "in": "path",
            "required": true,
            "description": "Device group name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Response to the action call for count devices in a device group.",
            "schema": {
              "$ref": "#/definitions/CountDevicesDeviceGroupResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Count the devices assigned to the device group": {
            "$ref": "./examples/PostCountDevicesDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/move": {
      "post": {
        "operationId": "DeviceGroups_Move",
        "summary": "Move the device into the device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          },
          {
            "name": "deviceGroupName",
            "in": "path",
            "required": true,
            "description": "Device group name",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Assign device to device group request",
            "schema": {
              "$ref": "#/definitions/MoveDeviceDeviceGroupRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Async response of the move device to a device group action",
            "schema": {
              "$ref": "#/definitions/MoveDeviceDeviceGroupResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Move the device into the specified device group": {
            "$ref": "./examples/PostMoveDeviceToDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}/remove": {
      "post": {
        "operationId": "DeviceGroups_Remove",
        "summary": "Remove the device from the device group.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "productName",
            "in": "path",
            "required": true,
            "description": "Product name",
            "type": "string"
          },
          {
            "name": "deviceGroupName",
            "in": "path",
            "required": true,
            "description": "Device group name",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Remove the device from the device group request",
            "schema": {
              "$ref": "#/definitions/RemoveDeviceDeviceGroupRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Async response of the remove device from a device group action",
            "schema": {
              "$ref": "#/definitions/RemoveDeviceDeviceGroupResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Remove the device from the specified device group": {
            "$ref": "./examples/PostRemoveDeviceToDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}": {
      "get": {
        "operationId": "DeviceGroups_Get",
        "summary": "Get a DeviceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Get the details of a device group": {
            "$ref": "./examples/GetDeviceGroup.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceGroups_CreateOrUpdate",
        "summary": "Create a DeviceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Put the details of the device group": {
            "$ref": "./examples/PutDeviceGroup.json"
          }
        }
      },
      "patch": {
        "operationId": "DeviceGroups_Update",
        "summary": "Update a DeviceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            },
            "description": "Request object for patch /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups/{deviceGroupName}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-examples": {
          "Patch a device group": {
            "$ref": "./examples/PatchDeviceGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceGroups_Delete",
        "summary": "Delete a DeviceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "$ref": "#/parameters/DeviceGroupParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "202": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deletion accepted.",
            "schema": {
              "$ref": "#/definitions/ArmDeleteAcceptedResponse"
            }
          },
          "204": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource deleted successfully.",
            "schema": {
              "$ref": "#/definitions/ArmDeletedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete a device group": {
            "$ref": "./examples/DeleteDeviceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/images/{imageId}/metadata": {
      "post": {
        "operationId": "Images_Metadata",
        "summary": "Gets the metadata of the image",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "description": "Image identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Sphere Image metadata.",
            "schema": {
              "$ref": "#/definitions/ImageMetadataResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Images"
        ],
        "x-ms-examples": {
          "Retrieves the image metadata": {
            "$ref": "./examples/GetImageMetadata.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/images/{imageId}/upload": {
      "post": {
        "operationId": "Images_UploadImage",
        "summary": "Uploads an image in a catalog.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "imageId",
            "in": "path",
            "required": true,
            "description": "Image identifier. Use 'default' as value.",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Image to be uploaded",
            "schema": {
              "$ref": "#/definitions/UploadImageRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Response to the action call to upload an image.",
            "schema": {
              "$ref": "#/definitions/UploadImageResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Images"
        ],
        "x-ms-examples": {
          "Uploads an image using in base64 encoding": {
            "$ref": "./examples/PostUploadImage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/images/{imageId}": {
      "get": {
        "operationId": "Images_Get",
        "summary": "Get a Image",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ImageIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Images"
        ],
        "x-ms-examples": {
          "Get the details of an image.": {
            "$ref": "./examples/GetImage.json"
          }
        }
      },
      "put": {
        "operationId": "Images_CreateOrUpdate",
        "summary": "Create a Image",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ImageIdParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Image"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/images/{imageId}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Image"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource creation accepted.",
            "schema": {
              "$ref": "#/definitions/ArmPutAcceptedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Images"
        ],
        "x-ms-examples": {
          "Uploads a new image.": {
            "$ref": "./examples/PutImage.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/deployments/{deploymentName}": {
      "get": {
        "operationId": "Deployments_Get",
        "summary": "Get a Deployment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Deployments"
        ],
        "x-ms-examples": {
          "Get the deployment.": {
            "$ref": "./examples/GetDeployment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/devices/{deviceId}/listImages": {
      "post": {
        "operationId": "Devices_ListImages",
        "summary": "Get the list of images that should be installed on a given device.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "description": "Device identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Images that should be installed in the device",
            "schema": {
              "$ref": "#/definitions/AzureSpherePage_DeviceImage"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Devices"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Retrieves the images to be deployed in the device": {
            "$ref": "./examples/GetDeviceImages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/devices/{deviceId}/createDeviceCapabilityImage": {
      "post": {
        "operationId": "Devices_CreateDeviceCapabilityImage",
        "summary": "Creates a signed device capability image.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "description": "Device identifier",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Create device capability image request",
            "schema": {
              "$ref": "#/definitions/CreateDeviceCapabilityImageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Signed device capability image response",
            "schema": {
              "$ref": "#/definitions/SignedDeviceCapabilityImageResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Devices"
        ],
        "x-ms-examples": {
          "Creates a device capability image": {
            "$ref": "./examples/PostCreateDeviceCapabilityImage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/devices/{deviceId}": {
      "get": {
        "operationId": "Devices_Get",
        "summary": "Get a Device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/DeviceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Devices"
        ],
        "x-ms-examples": {
          "Get the details of a device.": {
            "$ref": "./examples/GetDevice.json"
          }
        }
      },
      "put": {
        "operationId": "Devices_CreateOrUpdate",
        "summary": "Claims a device in the catalog.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/DeviceIdParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            },
            "description": "Request object for put /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/devices/{deviceId}"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          },
          "201": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Resource creation accepted.",
            "schema": {
              "$ref": "#/definitions/ArmPutAcceptedResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Devices"
        ],
        "x-ms-examples": {
          "Claims a device.": {
            "$ref": "./examples/PutDevice.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/certificates/{serialNumber}/retrieveCertChain": {
      "post": {
        "operationId": "Certificates_RetrieveCertChain",
        "summary": "Retrieve the certificate chain",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "description": "Serial number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The certificate chain response.",
            "schema": {
              "$ref": "#/definitions/CertificateChainResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Certificates"
        ],
        "x-ms-examples": {
          "Retrieves an Azure Sphere Catalog certificate chain": {
            "$ref": "./examples/GetCatalogCertChain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/certificates/{serialNumber}/proofOfPossessionNonce": {
      "post": {
        "operationId": "Certificates_ProofOfPossessionNonce",
        "summary": "Takes a proof of possession nonce generated by DPS and generates a certificate signed by the catalog certificate.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "required": true,
            "description": "Catalog name",
            "type": "string"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "required": true,
            "description": "Serial number",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "description": "Parameters for the proof of possession nonce",
            "schema": {
              "$ref": "#/definitions/ProofOfPossessionNonceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result of the action to generate a proof of possession nonce",
            "schema": {
              "$ref": "#/definitions/ProofOfPossessionNonceResponse"
            }
          },
          "default": {
            "description": "An Azure Sphere Error",
            "schema": {
              "$ref": "#/definitions/AzureSphereErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Certificates"
        ],
        "x-ms-examples": {
          "Proof of possession nonce": {
            "$ref": "./examples/PostProofOfPosessionNonce.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/certificates/{serialNumber}": {
      "get": {
        "operationId": "Certificates_Get",
        "summary": "Get a Certificate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/CertificateIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Certificates"
        ],
        "x-ms-examples": {
          "Get the certificate.": {
            "$ref": "./examples/GetCertificate.json"
          }
        }
      }
    },
    "/providers/Microsoft.AzureSphere/operations": {
      "get": {
        "operationId": "Operations_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "The list of supported operations has been retrieved successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get operations.": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "summary": "Lists all operations supported by the Microsoft.AzureSphere resource provider."
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureSphere/catalogs": {
      "get": {
        "operationId": "Catalogs_ListBySubscription",
        "summary": "List Catalog resources by subscription ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Page_Catalog"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of catalogs for a given subscription.": {
            "$ref": "./examples/GetCatalogsSub.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs": {
      "get": {
        "operationId": "Catalogs_ListByResourceGroup",
        "summary": "List Catalog resources by resource group",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Page_Catalog"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Catalogs"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of catalogs for a given resource group.": {
            "$ref": "./examples/GetCatalogsRG.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products": {
      "get": {
        "operationId": "Products_ListByCatalogs",
        "summary": "List all Product by catalogName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Page_Product"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Products"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get products in a catalog": {
            "$ref": "./examples/GetProducts.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/products/{productName}/deviceGroups": {
      "get": {
        "operationId": "DeviceGroups_ListByProducts",
        "summary": "List all DeviceGroup by productName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/ProductParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Page_DeviceGroup"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "DeviceGroups"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get device groups in a catalog": {
            "$ref": "./examples/GetDeviceGroups.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/images": {
      "get": {
        "operationId": "Images_ListByCatalogs",
        "summary": "List all Image by catalogName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Page_Image"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Images"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get images in a catalog": {
            "$ref": "./examples/GetImages.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/deployments": {
      "get": {
        "operationId": "Deployments_ListByCatalogs",
        "summary": "List all Deployment by catalogName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CatalogParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/SkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "x-ms-correlation-request-id": {
                "type": "string"
              }
            },
            "description": "Typed response envelope for ARM operations.",
            "schema": {
              "$ref": "#/definitions/Page_Deployment"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "tags": [
          "Deployments"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get deployments in a catalog": {
            "$ref": "./examples/GetDeployments.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/catalogs/{catalogName}/devices": {
      "get": {
        "operationId": "Devices_ListByCatalogs",
        "summary": "List all Device by catalogName",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
[...]
