{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2025-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances/{virtualNetworkApplianceName}": {
      "delete": {
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "operationId": "VirtualNetworkAppliances_Delete",
        "description": "Deletes the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkApplianceNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "operationId": "VirtualNetworkAppliances_Get",
        "description": "Gets information about the specified virtual network appliance.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkApplianceNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting VirtualNetworkAppliance resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "operationId": "VirtualNetworkAppliances_CreateOrUpdate",
        "description": "Creates or updates a virtual network appliance.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkApplianceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            },
            "description": "Parameters supplied to the create or update virtual network appliance operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting VirtualNetworkAppliance resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting VirtualNetworkAppliance resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create virtual network appliance": {
            "$ref": "./examples/VirtualNetworkAppliances_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "operationId": "VirtualNetworkAppliances_UpdateTags",
        "description": "Updates a virtual network appliance tags.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworkApplianceNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update virtual network appliance tags."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting VirtualNetworkAppliance resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkAppliance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update virtual network appliance tags": {
            "$ref": "./examples/VirtualNetworkAppliances_UpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "operationId": "VirtualNetworkAppliances_ListAll",
        "description": "Gets all virtual network appliances in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of VirtualNetworkAppliance resources.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all virtual network appliances": {
            "$ref": "./examples/VirtualNetworkAppliances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworkAppliances": {
      "get": {
        "tags": [
          "VirtualNetworkAppliances"
        ],
        "operationId": "VirtualNetworkAppliances_List",
        "description": "Gets all virtual network appliances in a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of VirtualNetworkAppliance resources.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworkApplianceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List virtual network appliances in resource group": {
            "$ref": "./examples/VirtualNetworkAppliances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VirtualNetworkAppliancePropertiesFormat": {
      "type": "object",
      "properties": {
        "bandwidthInGbps": {
          "type": "int",
          "description": "Bandwidth of the VirtualNetworkAppliance resource in Gbps."
        },
        "ipConfigurations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/VirtualNetworkApplianceIpConfiguration"
          },
          "description": "A list of IPConfigurations of the virtual network appliance."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the virtual network appliance resource."
        },
        "resourceGuid": {
          "readOnly": true,
          "type": "string",
          "description": "The resource GUID property of the virtual network appliance resource."
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        }
      },
      "description": "VirtualNetworkAppliance properties."
    },
    "VirtualNetworkAppliance": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualNetworkAppliancePropertiesFormat",
          "description": "Properties of the virtual network appliance."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "A virtual network appliance in a resource group."
    },
    "VirtualNetworkApplianceIpConfiguration": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VirtualNetworkApplianceIpConfigurationProperties",
          "description": "Properties of the virtual network appliance ip configuration."
        },
        "name": {
          "type": "string",
          "description": "The name of virtual network appliance ip configuration."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "The virtual network appliance ip configuration."
    },
    "VirtualNetworkApplianceIpConfigurationProperties": {
      "type": "object",
      "properties": {
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "./network.json#/definitions/IPAllocationMethod",
          "description": "The private IP address allocation method."
        },
        "primary": {
          "type": "boolean",
          "description": "Whether the ip configuration is primary or not."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the private link service IP configuration resource."
        },
        "privateIPAddressVersion": {
          "$ref": "./network.json#/definitions/IPVersion",
          "description": "Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4."
        }
      },
      "description": "Properties of virtual network appliance IP configuration."
    },
    "VirtualNetworkApplianceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworkAppliance"
          },
          "description": "A list of virtual network appliances in a resource group."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for the ListVirtualNetworkAppliance API service call."
    }
  },
  "parameters": {
    "VirtualNetworkApplianceNameParameter": {
      "name": "virtualNetworkApplianceName",
      "in": "path",
      "required": true,
      "pattern": "^[0-9a-zA-Z]([0-9a-zA-Z_.-]{0,62}[0-9a-zA-Z_])?$",
      "type": "string",
      "description": "The name of the virtual network appliance.",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    }
  }
}
