{
    "swagger": "2.0",
    "info": {
        "title": "Azure Action Groups API",
        "x-ms-code-generation-settings": {
            "name": "MonitorManagementClient"
        },
        "version": "2017-04-01"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}": {
            "put": {
                "description": "Create a new action group or update an existing one.",
                "operationId": "ActionGroups_CreateOrUpdate",
                "x-ms-examples": {
                    "Create or update an action group": {
                        "$ref": "../examples/createOrUpdateActionGroup.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ActionGroupNameParameter"
                    },
                    {
                        "name": "actionGroup",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ActionGroupResource"
                        },
                        "description": "The action group to create or use for the update."
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An existing action group was successfully updated.",
                        "schema": {
                            "$ref": "#/definitions/ActionGroupResource"
                        }
                    },
                    "201": {
                        "description": "A new action group was successfully created.",
                        "schema": {
                            "$ref": "#/definitions/ActionGroupResource"
                        }
                    },
                    "default": {
                        "description": "An error occurred and the action group could not be created or updated."
                    }
                }
            },
            "get": {
                "description": "Get an action group.",
                "operationId": "ActionGroups_Get",
                "x-ms-examples": {
                    "Get an action group": {
                        "$ref": "../examples/getActionGroup.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ActionGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "schema": {
                            "$ref": "#/definitions/ActionGroupResource"
                        }
                    },
                    "404": {
                        "description": "The action group does not exist."
                    },
                    "default": {
                        "description": "An error occurred and the action group could not be retrieved."
                    }
                }
            },
            "delete": {
                "description": "Delete an action group.",
                "operationId": "ActionGroups_Delete",
                "x-ms-examples": {
                    "Delete an action group": {
                        "$ref": "../examples/deleteActionGroup.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ActionGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The action group was successfully deleted."
                    },
                    "204": {
                        "description": "The action group does not exist. It may have already been deleted."
                    },
                    "default": {
                        "description": "An error occurred and the action group could not be deleted."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/microsoft.insights/actionGroups": {
            "get": {
                "description": "Get a list of all action groups in a subscription.",
                "operationId": "ActionGroups_ListBySubscriptionId",
                "x-ms-examples": {
                    "List action groups": {
                        "$ref": "../examples/listActionGroups.json"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "schema": {
                            "$ref": "#/definitions/ActionGroupList"
                        }
                    },
                    "default": {
                        "description": "An error occurred and the list of action groups could not be retrieved."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups": {
            "get": {
                "description": "Get a list of all action groups in a resource group.",
                "operationId": "ActionGroups_ListByResourceGroup",
                "x-ms-examples": {
                    "List action groups": {
                        "$ref": "../examples/listActionGroups.json"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "schema": {
                            "$ref": "#/definitions/ActionGroupList"
                        }
                    },
                    "default": {
                        "description": "An error occurred and the list of action groups could not be retrieved."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}/subscribe": {
            "post": {
                "description": "Enable a receiver in an action group. This changes the receiver's status from Disabled to Enabled.",
                "operationId": "ActionGroups_EnableReceiver",
                "x-ms-examples": {
                    "Enable the receiver": {
                        "$ref": "../examples/enableReceiver.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ActionGroupNameParameter"
                    },
                    {
                        "name": "enableRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EnableRequest"
                        },
                        "description": "The receiver to re-enable."
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The receiver was successfully enabled."
                    },
                    "409": {
                        "description": "The receiver is already enabled in the action group."
                    },
                    "404": {
                        "description": "The action group was not found or no matching receiver was found in the action group."
                    },
                    "default": {
                        "description": "An error occurred and the receiver could not be enabled."
                    }
                }
            }
        }
    },
    "definitions": {
        "Resource": {
            "properties": {
                "id": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource Id"
                },
                "name": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource name"
                },
                "type": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Azure resource type"
                },
                "location": {
                    "type": "string",
                    "description": "Resource location",
                    "x-ms-mutability": [
                        "create",
                        "read"
                    ]
                },
                "tags": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "required": [
                "location"
            ],
            "x-ms-azure-resource": true,
            "description": "An azure resource object"
        },
        "ActionGroupResource": {
            "description": "An action group resource.",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ActionGroup"
                }
            }
        },
        "ActionGroupList": {
            "description": "A list of action groups.",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ActionGroupResource"
                    },
                    "description": "The list of action groups."
                },
                "nextLink": {
                    "type": "string",
                    "description": "Provides the link to retrive the next set of elements."
                }
            }
        },
        "ActionGroup": {
            "description": "An Azure action group.",
            "properties": {
                "groupShortName": {
                    "type": "string",
                    "maxLength": 15,
                    "description": "The short name of the action group. This will be used in SMS messages."
                },
                "enabled": {
                    "type": "boolean",
                    "default": true,
                    "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receviers will receive communications."
                },
                "emailReceivers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EmailReceiver"
                    },
                    "description": "The list of email receivers that are part of this action group."
                },
                "smsReceivers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SmsReceiver"
                    },
                    "description": "The list of SMS receivers that are part of this action group."
                },
                "webhookReceivers": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/WebhookReceiver"
                    },
                    "description": "The list of webhook receivers that are part of this action group."
                }
            },
            "required": [
                "groupShortName",
                "enabled"
            ]
        },
        "EmailReceiver": {
            "description": "An email receiver.",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the email receiver. Names must be unique across all receivers within an action group."
                },
                "emailAddress": {
                    "type": "string",
                    "description": "The email address of this receiver."
                },
                "status": {
                    "readOnly": true,
                    "$ref": "#/definitions/ReceiverStatus"
                }
            },
            "required": [
                "name",
                "emailAddress"
            ]
        },
        "SmsReceiver": {
            "description": "An SMS receiver.",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group."
                },
                "countryCode": {
                    "type": "string",
                    "description": "The country code of the SMS receiver."
                },
                "phoneNumber": {
                    "type": "string",
                    "description": "The phone number of the SMS receiver."
                },
                "status": {
                    "readOnly": true,
                    "$ref": "#/definitions/ReceiverStatus"
                }
            },
            "required": [
                "name",
                "countryCode",
                "phoneNumber"
            ]
        },
        "WebhookReceiver": {
            "description": "A webhook receiver.",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group."
                },
                "serviceUri": {
                    "type": "string",
                    "description": "The URI where webhooks should be sent."
                }
            },
            "required": [
                "name",
                "serviceUri"
            ]
        },
        "ReceiverStatus": {
            "type": "string",
            "enum": [
                "NotSpecified",
                "Enabled",
                "Disabled"
            ],
            "x-ms-enum": {
                "name": "ReceiverStatus",
                "modelAsString": false
            },
            "description": "Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications."
        },
        "EnableRequest": {
            "description": "Describes a receiver that should be resubscribed.",
            "properties": {
                "receiverName": {
                    "type": "string",
                    "description": "The name of the receiver to resubscribe."
                }
            },
            "required": [
                "receiverName"
            ]
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Azure subscription Id."
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group.",
            "x-ms-parameter-location": "method"
        },
        "ActionGroupNameParameter": {
            "name": "actionGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the action group.",
            "x-ms-parameter-location": "method"
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        }
    }
}