{
  "swagger": "2.0",
  "info": {
    "title": "InsightsClient",
    "version": "2015-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/eventtypes/management/values": {
      "get": {
        "tags": [
          "Events"
        ],
        "operationId": "Events_List",
        "description": "Provides the list of events. The **$filter** is very restricted and allows only the following patterns. - List events for a resource group: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation' and resourceGroupName eq '<ResourceGroupName>'. - List events for resource: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation' and resourceUri eq '<ResourceURI>'. - List events for a subscription: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation'. -List events for a resource provider: $filter=eventTimestamp ge '<Start Time>' and eventTimestamp le '<End Time>' and eventChannels eq 'Admin, Operation' and resourceProvider eq '<ResourceProviderName>'. - List events for a correlation Id: api-version=2014-04-01&$filter=eventTimestamp ge '2014-07-16T04:36:37.6407898Z' and eventTimestamp le '2014-07-20T04:36:37.6407898Z' and eventChannels eq 'Admin, Operation' and correlationId eq '<CorrelationID>'. No other syntax is allowed.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/SelectParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get a page of events",
            "schema": {
              "$ref": "#/definitions/EventDataCollection"
            },
            "examples": {
              "application/json": {
                  "value": [ {
                    "authorization": {
                      "action": "microsoft.support/supporttickets/write",
                      "role": "Subscription Admin",
                      "scope": "/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841"
                    },
                    "caller": "admin@contoso.com",
                    "channels": "Operation",
                    "claims": {
                      "aud": "https://management.core.windows.net/",
                      "iss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
                      "iat": "1421876371",
                      "nbf": "1421876371",
                      "exp": "1421880271",
                      "ver": "1.0",
                      "http://schemas.microsoft.com/identity/claims/tenantid": "1e8d8218-c5e7-4578-9acc-9abbd5d23315 ",
                      "http://schemas.microsoft.com/claims/authnmethodsreferences": "pwd",
                      "http://schemas.microsoft.com/identity/claims/objectidentifier": "2468adf0-8211-44e3-95xq-85137af64708",
                      "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn": "admin@contoso.com",
                      "puid": "20030000801A118C",
                      "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier": "9vckmEGF7zDKk1YzIY8k0t1_EAPaXoeHyPRn6f413zM",
                      "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname": "John",
                      "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname": "Smith",
                      "name": "John Smith",
                      "groups": "cacfe77c-e058-4712-83qw-f9b08849fd60,7f71d11d-4c41-4b23-99d2-d32ce7aa621c,31522864-0578-4ea0-9gdc-e66cc564d18c",
                      "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name": " admin@contoso.com",
                      "appid": "c44b4083-3bq0-49c1-b47d-974e53cbdf3c",
                      "appidacr": "2",
                      "http://schemas.microsoft.com/identity/claims/scope": "user_impersonation",
                      "http://schemas.microsoft.com/claims/authnclassreference": "1"
                    },
                    "correlationId": "1e121103-0ba6-4300-ac9d-952bb5d0c80f",
                    "description": "",
                    "eventDataId": "44ade6b4-3813-45e6-ae27-7420a95fa2f8",
                    "eventName": {
                      "value": "EndRequest",
                      "localizedValue": "End request"
                    },
                    "eventSource": {
                      "value": "Microsoft.Resources",
                      "localizedValue": "Microsoft Resources"
                    },
                    "httpRequest": {
                      "clientRequestId": "27003b25-91d3-418f-8eb1-29e537dcb249",
                      "clientIpAddress": "192.168.35.115",
                      "method": "PUT"
                    },
                    "id": "/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841/events/44ade6b4-3813-45e6-ae27-7420a95fa2f8/ticks/635574752669792776",
                    "level": "Informational",
                    "resourceGroupName": "MSSupportGroup",
                    "resourceProviderName": {
                      "value": "microsoft.support",
                      "localizedValue": "microsoft.support"
                    },
                    "resourceUri": "/subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841",
                    "operationId": "1e121103-0ba6-4300-ac9d-952bb5d0c80f",
                    "operationName": {
                      "value": "microsoft.support/supporttickets/write",
                      "localizedValue": "microsoft.support/supporttickets/write"
                    },
                    "properties": {
                      "statusCode": "Created"
                    },
                    "status": {
                      "value": "Succeeded",
                      "localizedValue": "Succeeded"
                    },
                    "subStatus": {
                      "value": "Created",
                      "localizedValue": "Created (HTTP Status Code: 201)"
                    },
                    "eventTimestamp": "2015-01-21T22:14:26.9792776Z",
                    "submissionTimestamp": "2015-01-21T22:14:39.9936304Z",
                    "subscriptionId": "089bd33f-d4ec-47fe-8ba5-0753aa5c5b33"
                  } ],
                "nextLink": "https://management.azure.com/########-####-####-####-############$skiptoken=######"
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/EventData"
      }
    }
  },
  "definitions": {
    "LocalizableString": {
      "required": [ "value" ],
      "properties": {
        "value": {
          "type": "string",
          "description": "the invariant value."
        },
        "localizedValue": {
          "type": "string",
          "description": "the locale specific value."
        }
      },
      "description": "The localizable string class."
    },
    "SenderAuthorization": {
      "properties": {
        "action": {
          "type": "string",
          "description": "the permissible actions. For instance: microsoft.support/supporttickets/write"
        },
        "role": {
          "type": "string",
          "description": "the role of the user. For instance: Subscription Admin"
        },
        "scope": {
          "type": "string",
          "description": "the scope."
        }
      },
      "description": "The RBAC properties of the event."
    },
    "HttpRequestInfo": {
      "properties": {
        "clientRequestId": {
          "type": "string",
          "description": "the client request id."
        },
        "clientIpAddress": {
          "type": "string",
          "description": "the client Ip Address"
        },
        "method": {
          "type": "string",
          "description": "the Http request method."
        },
        "uri": {
          "type": "string",
          "description": "the Uri."
        }
      },
      "description": "The Http request info."
    },
    "EventData": {
      "required": [ "channels", "level", "eventTimestamp", "submissionTimestamp" ],
      "properties": {
        "authorization": {
          "$ref": "#/definitions/SenderAuthorization",
          "description": "the authorization used by the user who has performed the operation that led to this event. This captures the RBAC properties of the event. These usually include the 'action', 'role' and the 'scope'"
        },
        "channels": {
          "type": "string",
          "description": "the event channels. The regular event logs, that you see in the Azure Management Portals, flow through the 'Operation' channel.",
          "enum": [
            "Admin",
            "Operation",
            "Debug",
            "Analytics"
          ],
          "x-ms-enum": {
            "name": "EventChannels",
            "modelAsString": false
          }
        },
        "claims": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "key value pairs to identify ARM permissions."
        },
        "caller": {
          "type": "string",
          "description": "the email address of the user who has performed the operation, the UPN claim or SPN claim based on availability."
        },
        "description": {
          "type": "string",
          "description": "the description of the event."
        },
        "id": {
          "type": "string",
          "description": "the Id of this event as required by ARM for RBAC. It contains the EventDataID and a timestamp information."
        },
        "eventDataId": {
          "type": "string",
          "description": "the event data Id. This is a unique identifier for an event."
        },
        "correlationId": {
          "type": "string",
          "description": "the correlation Id, usually a GUID in the string format. The correlation Id is shared among the events that belong to the same uber operation."
        },
        "eventName": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the event name. This value should not be confused with OperationName. For practical purposes, OperationName might be more appealing to end users."
        },
        "category": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the event category."
        },
        "httpRequest": {
          "$ref": "#/definitions/HttpRequestInfo",
          "description": "the HTTP request info. Usually includes the 'clientRequestId', 'clientIpAddress' (IP address of the user who initiated the event) and 'method' (HTTP method e.g. PUT)."
        },
        "level": {
          "type": "string",
          "description": "the event level",
          "enum": [
            "Critical",
            "Error",
            "Warning",
            "Informational",
            "Verbose"
          ],
          "x-ms-enum": {
            "name": "EventLevel",
            "modelAsString": false
          }
        },
        "resourceGroupName": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790546.aspx"
          },
          "type": "string",
          "description": "the resource group name of the impacted resource."
        },
        "resourceProviderName": {
          "$ref": "#/definitions/LocalizableString",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790572.aspx"
          },
          "description": "the resource provider name of the impacted resource."
        },
        "resourceId": {
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx"
          },
          "type": "string",
          "description": "the resource uri that uniquely identifies the resource that caused this event."
        },
        "resourceType": {
          "$ref": "#/definitions/LocalizableString",
          "externalDocs": {
            "url": "http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx"
          },
          "description": "the resource type"
        },
        "operationId": {
          "type": "string",
          "description": "It is usually a GUID shared among the events corresponding to single operation. This value should not be confused with EventName."
        },
        "operationName": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the operation name."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "the set of <Key, Value> pairs (usually a Dictionary<String, String>) that includes details about the event."
        },
        "status": {
          "$ref": "#/definitions/LocalizableString",
          "description": "a string describing the status of the operation. Some typical values are: Started, In progress, Succeeded, Failed, Resolved."
        },
        "subStatus": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the event sub status. Most of the time, when included, this captures the HTTP status code of the REST call. Common values are: OK (HTTP Status Code: 200), Created (HTTP Status Code: 201), Accepted (HTTP Status Code: 202), No Content (HTTP Status Code: 204), Bad Request(HTTP Status Code: 400), Not Found (HTTP Status Code: 404), Conflict (HTTP Status Code: 409), Internal Server Error (HTTP Status Code: 500), Service Unavailable (HTTP Status Code:503), Gateway Timeout (HTTP Status Code: 504)"
        },
        "eventTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "the timestamp of when the event was generated by the Azure service processing the request corresponding the event. It in ISO 8601 format."
        },
        "submissionTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "the timestamp of when the event became available for querying via this API. It is in ISO 8601 format. This value should not be confused eventTimestamp. As there might be a delay between the occurence time of the event, and the time that the event is submitted to the Azure logging infrastructure."
        },
        "subscriptionId": {
          "type": "string",
          "description": "the Azure subscription Id usually a GUID."
        },
        "tenantId": {
          "type": "string",
          "description": "the Azure tenant Id"
        }
      },
      "description": "The Azure event log entries are of type EventData"
    },
    "EventDataCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventData"
          },
          "description": "this list that includes the Azure audit logs."
        },
        "nextLink": {
          "type": "string",
          "description": "Provides the link to retrive the next set of events."
        }
      },
      "required": [ "value" ],
      "description": "Represents collection of events."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.",
      "x-ms-parameter-location": "method"
    },
    "SelectParameter": {
      "name": "$select",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Used to fetch events with only the given properties. The filter is a comma separated list of property names to be returned. Possible values are: authorization, channels, claims, correlationId, description, eventDataId, eventName, eventTimestamp, httpRequest, level, operationId, operationName, properties, resourceGroupName, resourceProviderName, resourceId, status, submissionTimestamp, subStatus, subscriptionId",
      "x-ms-parameter-location": "method"
    }
  }
}