{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft HorizonDb Management API",
    "version": "2026-01-20-preview",
    "description": "Azure Resource Provider API for managing HorizonDb clusters, pools, replicas, and firewall rules",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HorizonDbClusters"
    },
    {
      "name": "HorizonDbPools"
    },
    {
      "name": "HorizonDbReplicas"
    },
    {
      "name": "HorizonDbFirewallRules"
    },
    {
      "name": "HorizonDbPrivateEndpointConnections"
    },
    {
      "name": "HorizonDbPrivateLinkResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.HorizonDb/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations for Microsoft.HorizonDb": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HorizonDb/clusters": {
      "get": {
        "operationId": "HorizonDbClusters_ListBySubscription",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Lists all HorizonDb clusters in a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDb clusters by subscription": {
            "$ref": "./examples/Clusters_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters": {
      "get": {
        "operationId": "HorizonDbClusters_ListByResourceGroup",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Lists all HorizonDb clusters in a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDb clusters in a resource group": {
            "$ref": "./examples/Clusters_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}": {
      "get": {
        "operationId": "HorizonDbClusters_Get",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Gets information about a HorizonDb cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDb cluster": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDbClusters_CreateOrUpdate",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Creates a new HorizonDb cluster or updates an existing cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDb cluster": {
            "$ref": "./examples/Clusters_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbCluster"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDbClusters_Update",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Updates an existing HorizonDb cluster (e.g., tags, vCores, replica count)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterForPatchUpdate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a HorizonDb cluster": {
            "$ref": "./examples/Clusters_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbClusters_Delete",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Deletes a HorizonDb cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDb cluster": {
            "$ref": "./examples/Clusters_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools": {
      "get": {
        "operationId": "HorizonDbPools_List",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Lists all HorizonDb pools in a cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDb pools in a cluster": {
            "$ref": "./examples/Pools_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}": {
      "get": {
        "operationId": "HorizonDbPools_Get",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Gets information about a HorizonDb pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDb pool": {
            "$ref": "./examples/Pools_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/firewallRules": {
      "get": {
        "operationId": "HorizonDbFirewallRules_List",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Lists all HorizonDb firewall rules in a pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDb firewall rules in a pool": {
            "$ref": "./examples/FirewallRules_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/firewallRules/{firewallRuleName}": {
      "get": {
        "operationId": "HorizonDbFirewallRules_Get",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Gets information about a HorizonDb firewall rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDb firewall rule": {
            "$ref": "./examples/FirewallRules_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDbFirewallRules_CreateOrUpdate",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Creates a new HorizonDb firewall rule or updates an existing rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbFirewallRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbFirewallRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDb firewall rule": {
            "$ref": "./examples/FirewallRules_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbFirewallRule"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDbFirewallRules_Update",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Updates an existing HorizonDb firewall rule (e.g., IP ranges)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRuleForPatchUpdate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a HorizonDb firewall rule": {
            "$ref": "./examples/FirewallRules_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbFirewallRules_Delete",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Deletes a HorizonDb firewall rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDb firewall rule": {
            "$ref": "./examples/FirewallRules_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/replicas": {
      "get": {
        "operationId": "HorizonDbReplicas_List",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Lists all HorizonDb replicas in a pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplicaListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List HorizonDb replicas in a pool": {
            "$ref": "./examples/Replicas_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/replicas/{replicaName}": {
      "get": {
        "operationId": "HorizonDbReplicas_Get",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Gets information about a HorizonDb replica",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a HorizonDb replica": {
            "$ref": "./examples/Replicas_Get.json"
          }
        }
      },
      "put": {
        "operationId": "HorizonDbReplicas_CreateOrUpdate",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Creates a new HorizonDb replica or updates an existing replica",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbReplica' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbReplica' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a HorizonDb replica": {
            "$ref": "./examples/Replicas_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbReplica"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDbReplicas_Update",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Updates an existing HorizonDb replica (e.g., role)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbReplicaForPatchUpdate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a HorizonDb replica": {
            "$ref": "./examples/Replicas_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbReplicas_Delete",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Deletes a HorizonDb replica",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a HorizonDb replica": {
            "$ref": "./examples/Replicas_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateEndpointConnections": {
      "get": {
        "operationId": "HorizonDbPrivateEndpointConnections_List",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Lists private endpoint connections in a HorizonDb cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all private endpoint connections on a cluster": {
            "$ref": "./examples/PrivateEndpointConnections_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "HorizonDbPrivateEndpointConnections_Get",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Gets a private endpoint connection",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "patch": {
        "operationId": "HorizonDbPrivateEndpointConnections_Update",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Updates a private endpoint connection",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^.*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbPrivateEndpointConnectionForPatchUpdate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Approve or reject a private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbPrivateEndpointConnections_Delete",
        "tags": [
          "HorizonDbPrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the private endpoint connection",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateLinkResources": {
      "get": {
        "operationId": "HorizonDbPrivateLinkResources_List",
        "tags": [
          "HorizonDbPrivateLinkResources"
        ],
        "description": "Lists private link resources in a HorizonDb cluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private link resources for HorizonDb": {
            "$ref": "./examples/PrivateLinkResources_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/privateLinkResources/{groupName}": {
      "get": {
        "operationId": "HorizonDbPrivateLinkResources_Get",
        "tags": [
          "HorizonDbPrivateLinkResources"
        ],
        "description": "Gets a private link resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "The name of the private link resource group",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^.*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a private link resource for HorizonDb": {
            "$ref": "./examples/PrivateLinkResources_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CreateModeCluster": {
      "type": "string",
      "description": "The mode to create a new HorizonDb cluster",
      "enum": [
        "Create",
        "Update",
        "PointInTimeRestore",
        "GeoRestore",
        "ReviveDropped"
      ],
      "x-ms-enum": {
        "name": "CreateModeCluster",
        "modelAsString": true,
        "values": [
          {
            "name": "Create",
            "value": "Create",
            "description": "Create a new cluster"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "Update an existing cluster"
          },
          {
            "name": "PointInTimeRestore",
            "value": "PointInTimeRestore",
            "description": "Create cluster from point-in-time restore"
          },
          {
            "name": "GeoRestore",
            "value": "GeoRestore",
            "description": "Create cluster from geo restore"
          },
          {
            "name": "ReviveDropped",
            "value": "ReviveDropped",
            "description": "Revive a dropped cluster"
          }
        ]
      }
    },
    "CreateModePool": {
      "type": "string",
      "description": "The mode to create a new HorizonDb cluster",
      "enum": [
        "Create",
        "Update"
      ],
      "x-ms-enum": {
        "name": "CreateModePool",
        "modelAsString": true,
        "values": [
          {
            "name": "Create",
            "value": "Create",
            "description": "Create a new pool"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "Update an existing pool"
          }
        ]
      }
    },
    "HorizonDbCluster": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HorizonDbClusterForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb cluster for update operations",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/HorizonDbClusterPropertiesForPatchUpdate",
          "description": "The properties that can be updated for a HorizonDb cluster."
        }
      }
    },
    "HorizonDbClusterListResult": {
      "type": "object",
      "description": "The response of a HorizonDbCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbCluster items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbClusterProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb cluster",
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator login name",
          "minLength": 1,
          "maxLength": 63,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password",
          "minLength": 8,
          "maxLength": 128,
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        },
        "version": {
          "type": "string",
          "description": "The version of the HorizonDb cluster"
        },
        "createMode": {
          "$ref": "#/definitions/CreateModeCluster",
          "description": "The mode to create a new HorizonDb cluster"
        },
        "pointInTimeUTC": {
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format), specifying the time to restore from"
        },
        "sourceOrionDbResourceId": {
          "type": "string",
          "description": "The source HorizonDb cluster resource identifier for read replica or point in time restore scenarios"
        },
        "poolName": {
          "type": "string",
          "description": "The pool name for restore or replica operations"
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas",
          "minimum": 1,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "vCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of vCores",
          "minimum": 1,
          "maximum": 96,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "availabilityZone": {
          "type": "string",
          "description": "The availability zone of the HorizonDb cluster"
        },
        "processorType": {
          "type": "string",
          "description": "The processor type for the HorizonDb cluster"
        },
        "network": {
          "$ref": "#/definitions/Network",
          "description": "The network related info"
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Current state of the cluster",
          "readOnly": true
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of the cluster",
          "readOnly": true
        },
        "readonlyEndpoint": {
          "type": "string",
          "description": "The fully qualified domain name used for readonly endpoint for the cluster",
          "readOnly": true
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore point time (ISO8601 format) for the cluster",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the cluster",
          "readOnly": true
        },
        "zonePlacementPolicy": {
          "$ref": "#/definitions/ZonePlacementPolicy",
          "description": "Defines how replicas are placed across availability zones",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "administratorLogin"
      ]
    },
    "HorizonDbClusterPropertiesForPatchUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb cluster for update operations",
      "properties": {
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password",
          "minLength": 8,
          "maxLength": 128,
          "x-ms-mutability": [
            "update"
          ],
          "x-ms-secret": true
        },
        "vCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of vCores",
          "minimum": 1,
          "maximum": 96,
          "x-ms-mutability": [
            "update"
          ]
        }
      }
    },
    "HorizonDbFirewallRule": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbFirewallRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbFirewallRuleForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb firewall rule for update operations",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbFirewallRulePropertiesForPatchUpdate",
          "description": "Properties of a HorizonDb firewall rule for update operations"
        }
      }
    },
    "HorizonDbFirewallRuleListResult": {
      "type": "object",
      "description": "The response of a HorizonDbFirewallRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbFirewallRule items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbFirewallRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbFirewallRuleProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb firewall rule",
      "properties": {
        "startIpAddress": {
          "type": "string",
          "description": "The start IP address of the firewall rule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "endIpAddress": {
          "type": "string",
          "description": "The end IP address of the firewall rule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the HorizonDb firewall rule",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the firewall rule",
          "readOnly": true
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ]
    },
    "HorizonDbFirewallRulePropertiesForPatchUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb firewall rule for update operations",
      "properties": {
        "startIpAddress": {
          "type": "string",
          "description": "The start IP address of the firewall rule",
          "x-ms-mutability": [
            "update"
          ]
        },
        "endIpAddress": {
          "type": "string",
          "description": "The end IP address of the firewall rule",
          "x-ms-mutability": [
            "update"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the firewall rule",
          "x-ms-mutability": [
            "update"
          ]
        }
      }
    },
    "HorizonDbPool": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbPoolProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbPoolListResult": {
      "type": "object",
      "description": "The response of a HorizonDbPool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbPool items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbPool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbPoolProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb pool",
      "properties": {
        "sku": {
          "type": "string",
          "description": "The SKU for the HorizonDb pool",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The location of the HorizonDb pool",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Current state of the pool",
          "readOnly": true
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas in the pool",
          "readOnly": true
        },
        "administratorLogin": {
          "type": "string",
          "description": "The administrator login for the pool",
          "readOnly": true
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password for the pool",
          "readOnly": true,
          "x-ms-secret": true
        },
        "version": {
          "type": "string",
          "description": "The version of the HorizonDb pool",
          "readOnly": true
        },
        "tags": {
          "type": "string",
          "description": "The tags for the HorizonDb pool",
          "readOnly": true
        },
        "createMode": {
          "$ref": "#/definitions/CreateModePool",
          "description": "The create mode for the pool",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the pool",
          "readOnly": true
        }
      }
    },
    "HorizonDbPrivateEndpointConnection": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbPrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbPrivateEndpointConnectionForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb private endpoint connection for update operations",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbPrivateEndpointConnectionPropertiesForPatchUpdate",
          "description": "Properties of a private endpoint connection for update operations"
        }
      }
    },
    "HorizonDbPrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a HorizonDbPrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbPrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbPrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbPrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb private endpoint connection",
      "properties": {
        "groupIds": {
          "type": "array",
          "description": "Group IDs for the private endpoint connection",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The linked private endpoint",
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "Connection state of the private endpoint connection"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the private endpoint connection",
          "readOnly": true
        }
      }
    },
    "HorizonDbPrivateEndpointConnectionPropertiesForPatchUpdate": {
      "type": "object",
      "description": "Properties for updating a HorizonDb private endpoint connection",
      "properties": {
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "Connection state of the private endpoint connection",
          "x-ms-mutability": [
            "update"
          ]
        }
      }
    },
    "HorizonDbPrivateLinkResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbPrivateLinkResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbPrivateLinkResourceListResult": {
      "type": "object",
      "description": "The response of a HorizonDbPrivateLinkResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbPrivateLinkResource items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbPrivateLinkResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbPrivateLinkResourceProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb private link resource",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Group ID of the private link resource",
          "readOnly": true
        },
        "requiredMembers": {
          "type": "array",
          "description": "Required members of the private link resource",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "description": "Required private DNS zone names",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the private link resource",
          "readOnly": true
        }
      }
    },
    "HorizonDbReplica": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbReplicaProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbReplicaForPatchUpdate": {
      "type": "object",
      "description": "HorizonDb replica for update operations",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbReplicaPropertiesForPatchUpdate",
          "description": "Properties of a HorizonDb replica for update operations"
        }
      }
    },
    "HorizonDbReplicaListResult": {
      "type": "object",
      "description": "The response of a HorizonDbReplica list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbReplica items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbReplica"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbReplicaProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb replica",
      "properties": {
        "role": {
          "$ref": "#/definitions/ReplicaRole",
          "description": "Role of the replica",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "status": {
          "$ref": "#/definitions/State",
          "description": "Current status of the replica",
          "readOnly": true
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of the replica",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the replica",
          "readOnly": true
        }
      }
    },
    "HorizonDbReplicaPropertiesForPatchUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb replica for update operations",
      "properties": {
        "role": {
          "$ref": "#/definitions/ReplicaRole",
          "description": "Role of the replica",
          "x-ms-mutability": [
            "update"
          ]
        }
      }
    },
    "Network": {
      "type": "object",
      "description": "Network properties",
      "properties": {
        "publicNetworkAccess": {
          "type": "string",
          "description": "The flag indicating whether public ip is requested",
          "readOnly": true
        }
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "Properties of a private endpoint",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource ID of the private endpoint"
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "Connection state of a private endpoint connection",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionStatus",
          "description": "Status of the private endpoint connection"
        },
        "description": {
          "type": "string",
          "description": "Description for approving or rejecting the private endpoint connection"
        },
        "actionsRequired": {
          "type": "string",
          "description": "Actions required on the consumer side",
          "readOnly": true
        }
      }
    },
    "PrivateLinkServiceConnectionStatus": {
      "type": "string",
      "description": "Status of the private endpoint connection",
      "enum": [
        "Approved",
        "Pending",
        "Rejected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "PrivateLinkServiceConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Approved",
            "value": "Approved",
            "description": "Connection is approved"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Connection is pending approval"
          },
          {
            "name": "Rejected",
            "value": "Rejected",
            "description": "Connection is rejected"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Connection has been disconnected"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "InProgress",
        "Provisioning"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Provisioning completed successfully"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Provisioning was canceled"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Provisioning is in progress"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning is in progress"
          }
        ]
      },
      "readOnly": true
    },
    "ReplicaRole": {
      "type": "string",
      "description": "Role of the replica",
      "enum": [
        "Read",
        "Read/Write"
      ],
      "x-ms-enum": {
        "name": "ReplicaRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Read",
            "value": "Read",
            "description": "Read-only replica"
          },
          {
            "name": "ReadWrite",
            "value": "Read/Write",
            "description": "Read/write replica"
          }
        ]
      }
    },
    "State": {
      "type": "string",
      "description": "Current states",
      "enum": [
        "Ready",
        "Dropping",
        "Disabled",
        "Starting",
        "Stopping",
        "Stopped",
        "Updating",
        "Healthy"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "Ready",
            "value": "Ready",
            "description": "Is ready and operational"
          },
          {
            "name": "Dropping",
            "value": "Dropping",
            "description": "Is being dropped/deleted"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Is disabled"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Is starting up"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Is stopping"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Is stopped"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Is being updated"
          },
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "Is healthy"
          }
        ]
      }
    },
    "ZonePlacementPolicy": {
      "type": "string",
      "description": "The zone redundancy option for the cluster",
      "enum": [
        "Strict",
        "BestEffort"
      ],
      "x-ms-enum": {
        "name": "ZonePlacementPolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "Strict",
            "value": "Strict",
            "description": "Enforce zonal redundancy"
          },
          {
            "name": "BestEffort",
            "value": "BestEffort",
            "description": "Best-effort placement (default)"
          }
        ]
      }
    }
  },
  "parameters": {}
}
