{
  "swagger": "2.0",
  "host": "management.azure.com",
  "info": {
    "version": "2024-01-01-privatepreview",
    "title": "Management Groups APIs for Applications",
    "description": "The Azure Management Groups API enables consolidation of multiple \nsubscriptions/resources into an organizational hierarchy and centrally \nmanage access control, policies, alerting and reporting for those resources.\n This API version includes the preview state of Applications which are a new version of Management Groups.\n"
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Applications",
      "description": "An Application is a customer created scope, where multiple subscriptions or applications can be grouped by. \n"
    }
  ],
  "paths": {
    "/providers/Microsoft.Management/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Applications_Get",
        "description": "Get the details of the application.\n",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetApplication": {
            "$ref": "./examples/GetApplication.json"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "operationId": "Application_Create",
        "description": "Create an Application.\n",
        "parameters": [
          {
            "$ref": "#/parameters/ApplicationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "createApplicationRequest",
            "description": "Application creation parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutApplication": {
            "$ref": "./examples/PutApplication.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Management/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available Application REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Operations": {
            "$ref": "./examples/ListOperations.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "title": "Error response",
      "description": "Common error response.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error object",
          "$ref": "#/definitions/ErrorDetail"
        }
      }
    },
    "ErrorDetail": {
      "description": "The details of the error.",
      "type": "object",
      "properties": {
        "code": {
          "readOnly": true,
          "description": "One of a server-defined set of error codes.",
          "type": "string"
        },
        "message": {
          "readOnly": true,
          "description": "A human-readable representation of the error.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "x-ms-identifiers": [
            "message",
            "target"
          ],
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "x-ms-identifiers": [],
          "description": "The error additional info."
        }
      }
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "OperationListResult": {
      "description": "Describes the result of the request to list Microsoft.Management Application operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations supported by the Microsoft.Management resource provider for Applications.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "format": "uri",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "title": "Application APIs Operation",
      "description": "Operation supported by the Microsoft.Management resource provider for Applications.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "type": "object",
          "properties": {
            "provider": {
              "description": "The name of the provider.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "The resource on which the operation is performed.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "The operation that can be performed.",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "Operation description.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "origin": {
          "description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
          "type": "string",
          "readOnly": true,
          "enum": [
            "user",
            "system",
            "user,system"
          ],
          "x-ms-enum": {
            "name": "Origin",
            "modelAsString": true
          }
        },
        "actionType": {
          "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "Internal"
          ],
          "x-ms-enum": {
            "name": "ActionType",
            "modelAsString": true
          }
        }
      }
    },
    "PutApplication": {
      "description": "The application details.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the application.  For example, /providers/Microsoft.Management/applications/0000000-0000-0000-0000-000000000000"
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.  For example, Microsoft.Management/applications"
        },
        "name": {
          "type": "string",
          "description": "The name of the application. For example, 00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "title": "properties",
          "$ref": "#/definitions/CreateApplicationRequestProperties"
        }
      }
    },
    "Application": {
      "description": "The application details.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID for the application.  For example, /providers/Microsoft.Management/applications/0000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.  For example, Microsoft.Management/applications",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the application. For example, 00000000-0000-0000-0000-000000000000",
          "readOnly": true
        },
        "properties": {
          "title": "properties",
          "$ref": "#/definitions/CreateApplicationRequestProperties"
        }
      }
    },
    "CreateApplicationRequestProperties": {
      "description": "Application creation request body parameters.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the application. For example, Running",
          "enum": [
            "NotStarted",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name of the application. For example, ApplicationTest1"
        },
        "memberOf": {
          "title": "memberOf",
          "$ref": "#/definitions/CreateApplicationMemberOfProperties"
        }
      }
    },
    "CreateApplicationMemberOfProperties": {
      "description": "The details of the parent management group or application.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The fully qualified ID of the parent management group or applications.  For example, /providers/Microsoft.Management/managementGroups/0000000-0000-0000-0000-000000000000 or /providers/Microsoft.Management/applications/TestApplication"
        }
      }
    }
  },
  "parameters": {
    "ApplicationIdParameter": {
      "name": "applicationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Application ID.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Version of the API to be used with the client request. The current version is 2024-01-01-privatepreview."
    }
  }
}
