{
  "swagger": "2.0",
  "info": {
    "title": "Dynamics 365 Business Central",
    "description": "Business Central Standard APIs",
    "version": "1.0.0"
  },
  "host": "api.businesscentral.dynamics.com",
  "basePath": "/v1.0/api/v1.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/companies": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Returns a list of companies",
        "operationId": "getCompanies",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "systemVersion",
                "name",
                "displayName",
                "businessProfileId"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of companies",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/company"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies({company_id})": {
      "get": {
        "tags": [
          "company"
        ],
        "summary": "Retrieve the properties and relationships of an company object for Dynamics 365 Business Central.",
        "operationId": "getCompanyById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "systemVersion",
                "name",
                "displayName",
                "businessProfileId"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested company",
            "schema": {
              "$ref": "#/definitions/company"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/items": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Returns a list of items",
        "operationId": "getItems",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "picture",
                "defaultDimensions",
                "itemCategory"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "displayName",
                "type",
                "itemCategoryId",
                "itemCategoryCode",
                "blocked",
                "baseUnitOfMeasureId",
                "baseUnitOfMeasure",
                "gtin",
                "inventory",
                "unitPrice",
                "priceIncludesTax",
                "unitCost",
                "taxGroupId",
                "taxGroupCode",
                "lastModifiedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of items",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/item"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "item"
        ],
        "summary": "Creates a item in Dynamics 365 Business Central",
        "operationId": "postItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the item entity",
                  "type": "string"
                },
                "number": {
                  "description": "The number property for the item entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "displayName": {
                  "description": "The displayName property for the item entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "type": {
                  "description": "The type property for the item entity",
                  "type": "string"
                },
                "itemCategoryId": {
                  "format": "uuid",
                  "description": "The itemCategoryId property for the item entity",
                  "type": "string"
                },
                "itemCategoryCode": {
                  "description": "The itemCategoryCode property for the item entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "blocked": {
                  "description": "The blocked property for the item entity",
                  "type": "boolean"
                },
                "baseUnitOfMeasureId": {
                  "format": "uuid",
                  "description": "The baseUnitOfMeasureId property for the item entity",
                  "type": "string"
                },
                "baseUnitOfMeasure": {
                  "$ref": "#/definitions/unitofmeasuretype"
                },
                "gtin": {
                  "description": "The gtin property for the item entity",
                  "maxLength": 14,
                  "type": "string"
                },
                "inventory": {
                  "format": "decimal",
                  "description": "The inventory property for the item entity",
                  "type": "number"
                },
                "unitPrice": {
                  "format": "decimal",
                  "description": "The unitPrice property for the item entity",
                  "type": "number"
                },
                "priceIncludesTax": {
                  "description": "The priceIncludesTax property for the item entity",
                  "type": "boolean"
                },
                "unitCost": {
                  "format": "decimal",
                  "description": "The unitCost property for the item entity",
                  "type": "number"
                },
                "taxGroupId": {
                  "format": "uuid",
                  "description": "The taxGroupId property for the item entity",
                  "type": "string"
                },
                "taxGroupCode": {
                  "description": "The taxGroupCode property for the item entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "lastModifiedDateTime": {
                  "format": "date-time",
                  "description": "The lastModifiedDateTime property for the item entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new itemhas been succesfully created",
            "schema": {
              "$ref": "#/definitions/item"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/items({item_id})": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Retrieve the properties and relationships of an item object for Dynamics 365 Business Central.",
        "operationId": "getItemById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "picture",
                "defaultDimensions",
                "itemCategory"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "displayName",
                "type",
                "itemCategoryId",
                "itemCategoryCode",
                "blocked",
                "baseUnitOfMeasureId",
                "baseUnitOfMeasure",
                "gtin",
                "inventory",
                "unitPrice",
                "priceIncludesTax",
                "unitCost",
                "taxGroupId",
                "taxGroupCode",
                "lastModifiedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested item",
            "schema": {
              "$ref": "#/definitions/item"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "item"
        ],
        "summary": "Delete an item in Dynamics 365 Business Central",
        "operationId": "deleteItemById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified item"
          }
        }
      },
      "patch": {
        "tags": [
          "item"
        ],
        "summary": "Lets the user patch the specified item",
        "operationId": "patchItemById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the item entity",
                  "type": "string"
                },
                "number": {
                  "description": "The number property for the item entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "displayName": {
                  "description": "The displayName property for the item entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "type": {
                  "description": "The type property for the item entity",
                  "type": "string"
                },
                "itemCategoryId": {
                  "format": "uuid",
                  "description": "The itemCategoryId property for the item entity",
                  "type": "string"
                },
                "itemCategoryCode": {
                  "description": "The itemCategoryCode property for the item entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "blocked": {
                  "description": "The blocked property for the item entity",
                  "type": "boolean"
                },
                "baseUnitOfMeasureId": {
                  "format": "uuid",
                  "description": "The baseUnitOfMeasureId property for the item entity",
                  "type": "string"
                },
                "baseUnitOfMeasure": {
                  "$ref": "#/definitions/unitofmeasuretype"
                },
                "gtin": {
                  "description": "The gtin property for the item entity",
                  "maxLength": 14,
                  "type": "string"
                },
                "inventory": {
                  "format": "decimal",
                  "description": "The inventory property for the item entity",
                  "type": "number"
                },
                "unitPrice": {
                  "format": "decimal",
                  "description": "The unitPrice property for the item entity",
                  "type": "number"
                },
                "priceIncludesTax": {
                  "description": "The priceIncludesTax property for the item entity",
                  "type": "boolean"
                },
                "unitCost": {
                  "format": "decimal",
                  "description": "The unitCost property for the item entity",
                  "type": "number"
                },
                "taxGroupId": {
                  "format": "uuid",
                  "description": "The taxGroupId property for the item entity",
                  "type": "string"
                },
                "taxGroupCode": {
                  "description": "The taxGroupCode property for the item entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "lastModifiedDateTime": {
                  "format": "date-time",
                  "description": "The lastModifiedDateTime property for the item entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifieditem",
            "schema": {
              "$ref": "#/definitions/item"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "item_id",
          "description": "id for item",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/items({item_id})/picture": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Returns a list of picture",
        "operationId": "getPictureForItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "width",
                "height",
                "contentType",
                "content"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of picture",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/picture"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "item_id",
          "description": "id for item",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/items({item_id})/picture({picture_id})": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Retrieve the properties and relationships of an picture object for Dynamics 365 Business Central.",
        "operationId": "getPictureForItemById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "width",
                "height",
                "contentType",
                "content"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested picture",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "picture"
        ],
        "summary": "Delete an picture in Dynamics 365 Business Central",
        "operationId": "deletePictureForItemByIdById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified picture"
          }
        }
      },
      "patch": {
        "tags": [
          "picture"
        ],
        "summary": "Lets the user patch the specified picture",
        "operationId": "patchPictureForItemByIdById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the picture entity",
                  "type": "string"
                },
                "width": {
                  "format": "int32",
                  "description": "The width property for the picture entity",
                  "type": "integer"
                },
                "height": {
                  "format": "int32",
                  "description": "The height property for the picture entity",
                  "type": "integer"
                },
                "contentType": {
                  "description": "The contentType property for the picture entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "content": {
                  "format": "binary",
                  "description": "The content property for the picture entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifiedpicture",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "item_id",
          "description": "id for item",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "picture_id",
          "description": "id for picture",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/items({item_id})/defaultDimensions": {
      "get": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Returns a list of defaultDimensions",
        "operationId": "getDefaultDimensionsForItem",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "account",
                "dimension",
                "dimensionValue"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "parentId",
                "dimensionId",
                "dimensionCode",
                "dimensionValueId",
                "dimensionValueCode",
                "postingValidation"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of defaultDimensions",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/defaultDimensions"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Creates a defaultDimensions in Dynamics 365 Business Central",
        "operationId": "postDefaultDimensionsForItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "parentId": {
                  "format": "uuid",
                  "description": "The parentId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionId": {
                  "format": "uuid",
                  "description": "The dimensionId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionCode": {
                  "description": "The dimensionCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "dimensionValueId": {
                  "format": "uuid",
                  "description": "The dimensionValueId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionValueCode": {
                  "description": "The dimensionValueCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "postingValidation": {
                  "description": "The postingValidation property for the defaultDimensions entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new defaultDimensionshas been succesfully created",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "item_id",
          "description": "id for item",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/items({item_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
      "get": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Retrieve the properties and relationships of an defaultDimensions object for Dynamics 365 Business Central.",
        "operationId": "getDefaultDimensionsForItemByDimensionIdByParentId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "account",
                "dimension",
                "dimensionValue"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "parentId",
                "dimensionId",
                "dimensionCode",
                "dimensionValueId",
                "dimensionValueCode",
                "postingValidation"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested defaultDimensions",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Delete an defaultDimensions in Dynamics 365 Business Central",
        "operationId": "deleteDefaultDimensionsForItemByDimensionIdByParentIdById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified defaultDimensions"
          }
        }
      },
      "patch": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Lets the user patch the specified defaultDimensions",
        "operationId": "patchDefaultDimensionsForItemByDimensionIdByParentIdById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "parentId": {
                  "format": "uuid",
                  "description": "The parentId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionId": {
                  "format": "uuid",
                  "description": "The dimensionId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionCode": {
                  "description": "The dimensionCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "dimensionValueId": {
                  "format": "uuid",
                  "description": "The dimensionValueId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionValueCode": {
                  "description": "The dimensionValueCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "postingValidation": {
                  "description": "The postingValidation property for the defaultDimensions entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifieddefaultDimensions",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "item_id",
          "description": "id for item",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "defaultDimensions_parentId",
          "description": "parentId for defaultDimensions",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "defaultDimensions_dimensionId",
          "description": "dimensionId for defaultDimensions",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/picture": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Returns a list of picture",
        "operationId": "getPicture",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "width",
                "height",
                "contentType",
                "content"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of picture",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/picture"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/picture({picture_id})": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Retrieve the properties and relationships of an picture object for Dynamics 365 Business Central.",
        "operationId": "getPictureById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "width",
                "height",
                "contentType",
                "content"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested picture",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "picture"
        ],
        "summary": "Delete an picture in Dynamics 365 Business Central",
        "operationId": "deletePictureById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified picture"
          }
        }
      },
      "patch": {
        "tags": [
          "picture"
        ],
        "summary": "Lets the user patch the specified picture",
        "operationId": "patchPictureById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the picture entity",
                  "type": "string"
                },
                "width": {
                  "format": "int32",
                  "description": "The width property for the picture entity",
                  "type": "integer"
                },
                "height": {
                  "format": "int32",
                  "description": "The height property for the picture entity",
                  "type": "integer"
                },
                "contentType": {
                  "description": "The contentType property for the picture entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "content": {
                  "format": "binary",
                  "description": "The content property for the picture entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifiedpicture",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "picture_id",
          "description": "id for picture",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/defaultDimensions": {
      "get": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Returns a list of defaultDimensions",
        "operationId": "getDefaultDimensions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "account",
                "dimension",
                "dimensionValue"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "parentId",
                "dimensionId",
                "dimensionCode",
                "dimensionValueId",
                "dimensionValueCode",
                "postingValidation"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of defaultDimensions",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/defaultDimensions"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Creates a defaultDimensions in Dynamics 365 Business Central",
        "operationId": "postDefaultDimensions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "parentId": {
                  "format": "uuid",
                  "description": "The parentId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionId": {
                  "format": "uuid",
                  "description": "The dimensionId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionCode": {
                  "description": "The dimensionCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "dimensionValueId": {
                  "format": "uuid",
                  "description": "The dimensionValueId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionValueCode": {
                  "description": "The dimensionValueCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "postingValidation": {
                  "description": "The postingValidation property for the defaultDimensions entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new defaultDimensionshas been succesfully created",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
      "get": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Retrieve the properties and relationships of an defaultDimensions object for Dynamics 365 Business Central.",
        "operationId": "getDefaultDimensionsByDimensionIdByParentId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "account",
                "dimension",
                "dimensionValue"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "parentId",
                "dimensionId",
                "dimensionCode",
                "dimensionValueId",
                "dimensionValueCode",
                "postingValidation"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested defaultDimensions",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Delete an defaultDimensions in Dynamics 365 Business Central",
        "operationId": "deleteDefaultDimensionsByDimensionIdByParentId",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified defaultDimensions"
          }
        }
      },
      "patch": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Lets the user patch the specified defaultDimensions",
        "operationId": "patchDefaultDimensionsByDimensionIdByParentId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "parentId": {
                  "format": "uuid",
                  "description": "The parentId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionId": {
                  "format": "uuid",
                  "description": "The dimensionId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionCode": {
                  "description": "The dimensionCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "dimensionValueId": {
                  "format": "uuid",
                  "description": "The dimensionValueId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionValueCode": {
                  "description": "The dimensionValueCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "postingValidation": {
                  "description": "The postingValidation property for the defaultDimensions entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifieddefaultDimensions",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "defaultDimensions_parentId",
          "description": "parentId for defaultDimensions",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "defaultDimensions_dimensionId",
          "description": "dimensionId for defaultDimensions",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Returns a list of customers",
        "operationId": "getCustomers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "customerFinancialDetails",
                "picture",
                "defaultDimensions",
                "currency",
                "paymentTerm",
                "shipmentMethod",
                "paymentMethod"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "displayName",
                "type",
                "address",
                "phoneNumber",
                "email",
                "website",
                "taxLiable",
                "taxAreaId",
                "taxAreaDisplayName",
                "taxRegistrationNumber",
                "currencyId",
                "currencyCode",
                "paymentTermsId",
                "shipmentMethodId",
                "paymentMethodId",
                "blocked",
                "lastModifiedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of customers",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/customer"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "customer"
        ],
        "summary": "Creates a customer in Dynamics 365 Business Central",
        "operationId": "postCustomer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the customer entity",
                  "type": "string"
                },
                "number": {
                  "description": "The number property for the customer entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "displayName": {
                  "description": "The displayName property for the customer entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "type": {
                  "description": "The type property for the customer entity",
                  "type": "string"
                },
                "address": {
                  "$ref": "#/definitions/postaladdresstype"
                },
                "phoneNumber": {
                  "description": "The phoneNumber property for the customer entity",
                  "maxLength": 30,
                  "type": "string"
                },
                "email": {
                  "description": "The email property for the customer entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "website": {
                  "description": "The website property for the customer entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "taxLiable": {
                  "description": "The taxLiable property for the customer entity",
                  "type": "boolean"
                },
                "taxAreaId": {
                  "format": "uuid",
                  "description": "The taxAreaId property for the customer entity",
                  "type": "string"
                },
                "taxAreaDisplayName": {
                  "description": "The taxAreaDisplayName property for the customer entity",
                  "type": "string"
                },
                "taxRegistrationNumber": {
                  "description": "The taxRegistrationNumber property for the customer entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "currencyId": {
                  "format": "uuid",
                  "description": "The currencyId property for the customer entity",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "The currencyCode property for the customer entity",
                  "type": "string"
                },
                "paymentTermsId": {
                  "format": "uuid",
                  "description": "The paymentTermsId property for the customer entity",
                  "type": "string"
                },
                "shipmentMethodId": {
                  "format": "uuid",
                  "description": "The shipmentMethodId property for the customer entity",
                  "type": "string"
                },
                "paymentMethodId": {
                  "format": "uuid",
                  "description": "The paymentMethodId property for the customer entity",
                  "type": "string"
                },
                "blocked": {
                  "description": "The blocked property for the customer entity",
                  "type": "string"
                },
                "lastModifiedDateTime": {
                  "format": "date-time",
                  "description": "The lastModifiedDateTime property for the customer entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new customerhas been succesfully created",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})": {
      "get": {
        "tags": [
          "customer"
        ],
        "summary": "Retrieve the properties and relationships of an customer object for Dynamics 365 Business Central.",
        "operationId": "getCustomerById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "customerFinancialDetails",
                "picture",
                "defaultDimensions",
                "currency",
                "paymentTerm",
                "shipmentMethod",
                "paymentMethod"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "displayName",
                "type",
                "address",
                "phoneNumber",
                "email",
                "website",
                "taxLiable",
                "taxAreaId",
                "taxAreaDisplayName",
                "taxRegistrationNumber",
                "currencyId",
                "currencyCode",
                "paymentTermsId",
                "shipmentMethodId",
                "paymentMethodId",
                "blocked",
                "lastModifiedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested customer",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "customer"
        ],
        "summary": "Delete an customer in Dynamics 365 Business Central",
        "operationId": "deleteCustomerById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified customer"
          }
        }
      },
      "patch": {
        "tags": [
          "customer"
        ],
        "summary": "Lets the user patch the specified customer",
        "operationId": "patchCustomerById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the customer entity",
                  "type": "string"
                },
                "number": {
                  "description": "The number property for the customer entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "displayName": {
                  "description": "The displayName property for the customer entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "type": {
                  "description": "The type property for the customer entity",
                  "type": "string"
                },
                "address": {
                  "$ref": "#/definitions/postaladdresstype"
                },
                "phoneNumber": {
                  "description": "The phoneNumber property for the customer entity",
                  "maxLength": 30,
                  "type": "string"
                },
                "email": {
                  "description": "The email property for the customer entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "website": {
                  "description": "The website property for the customer entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "taxLiable": {
                  "description": "The taxLiable property for the customer entity",
                  "type": "boolean"
                },
                "taxAreaId": {
                  "format": "uuid",
                  "description": "The taxAreaId property for the customer entity",
                  "type": "string"
                },
                "taxAreaDisplayName": {
                  "description": "The taxAreaDisplayName property for the customer entity",
                  "type": "string"
                },
                "taxRegistrationNumber": {
                  "description": "The taxRegistrationNumber property for the customer entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "currencyId": {
                  "format": "uuid",
                  "description": "The currencyId property for the customer entity",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "The currencyCode property for the customer entity",
                  "type": "string"
                },
                "paymentTermsId": {
                  "format": "uuid",
                  "description": "The paymentTermsId property for the customer entity",
                  "type": "string"
                },
                "shipmentMethodId": {
                  "format": "uuid",
                  "description": "The shipmentMethodId property for the customer entity",
                  "type": "string"
                },
                "paymentMethodId": {
                  "format": "uuid",
                  "description": "The paymentMethodId property for the customer entity",
                  "type": "string"
                },
                "blocked": {
                  "description": "The blocked property for the customer entity",
                  "type": "string"
                },
                "lastModifiedDateTime": {
                  "format": "date-time",
                  "description": "The lastModifiedDateTime property for the customer entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifiedcustomer",
            "schema": {
              "$ref": "#/definitions/customer"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})/customerFinancialDetails": {
      "get": {
        "tags": [
          "customerFinancialDetail"
        ],
        "summary": "Returns a list of customerFinancialDetails",
        "operationId": "getCustomerFinancialDetailsForCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "balance",
                "totalSalesExcludingTax",
                "overdueAmount"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of customerFinancialDetails",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/customerFinancialDetail"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})/customerFinancialDetails({customerFinancialDetail_id})": {
      "get": {
        "tags": [
          "customerFinancialDetail"
        ],
        "summary": "Retrieve the properties and relationships of an customerFinancialDetail object for Dynamics 365 Business Central.",
        "operationId": "getCustomerFinancialDetailForCustomerById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "balance",
                "totalSalesExcludingTax",
                "overdueAmount"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested customerFinancialDetail",
            "schema": {
              "$ref": "#/definitions/customerFinancialDetail"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customerFinancialDetail_id",
          "description": "id for customerFinancialDetail",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})/picture": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Returns a list of picture",
        "operationId": "getPictureForCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "width",
                "height",
                "contentType",
                "content"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of picture",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/picture"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})/picture({picture_id})": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Retrieve the properties and relationships of an picture object for Dynamics 365 Business Central.",
        "operationId": "getPictureForCustomerById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "width",
                "height",
                "contentType",
                "content"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested picture",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "picture"
        ],
        "summary": "Delete an picture in Dynamics 365 Business Central",
        "operationId": "deletePictureForCustomerByIdById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified picture"
          }
        }
      },
      "patch": {
        "tags": [
          "picture"
        ],
        "summary": "Lets the user patch the specified picture",
        "operationId": "patchPictureForCustomerByIdById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the picture entity",
                  "type": "string"
                },
                "width": {
                  "format": "int32",
                  "description": "The width property for the picture entity",
                  "type": "integer"
                },
                "height": {
                  "format": "int32",
                  "description": "The height property for the picture entity",
                  "type": "integer"
                },
                "contentType": {
                  "description": "The contentType property for the picture entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "content": {
                  "format": "binary",
                  "description": "The content property for the picture entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifiedpicture",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "picture_id",
          "description": "id for picture",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})/defaultDimensions": {
      "get": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Returns a list of defaultDimensions",
        "operationId": "getDefaultDimensionsForCustomer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "account",
                "dimension",
                "dimensionValue"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "parentId",
                "dimensionId",
                "dimensionCode",
                "dimensionValueId",
                "dimensionValueCode",
                "postingValidation"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of defaultDimensions",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/defaultDimensions"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Creates a defaultDimensions in Dynamics 365 Business Central",
        "operationId": "postDefaultDimensionsForCustomer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "parentId": {
                  "format": "uuid",
                  "description": "The parentId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionId": {
                  "format": "uuid",
                  "description": "The dimensionId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionCode": {
                  "description": "The dimensionCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "dimensionValueId": {
                  "format": "uuid",
                  "description": "The dimensionValueId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionValueCode": {
                  "description": "The dimensionValueCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "postingValidation": {
                  "description": "The postingValidation property for the defaultDimensions entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new defaultDimensionshas been succesfully created",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customers({customer_id})/defaultDimensions({defaultDimensions_parentId},{defaultDimensions_dimensionId})": {
      "get": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Retrieve the properties and relationships of an defaultDimensions object for Dynamics 365 Business Central.",
        "operationId": "getDefaultDimensionsForCustomerByDimensionIdByParentId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "account",
                "dimension",
                "dimensionValue"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "parentId",
                "dimensionId",
                "dimensionCode",
                "dimensionValueId",
                "dimensionValueCode",
                "postingValidation"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested defaultDimensions",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Delete an defaultDimensions in Dynamics 365 Business Central",
        "operationId": "deleteDefaultDimensionsForCustomerByDimensionIdByParentIdById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified defaultDimensions"
          }
        }
      },
      "patch": {
        "tags": [
          "defaultDimensions"
        ],
        "summary": "Lets the user patch the specified defaultDimensions",
        "operationId": "patchDefaultDimensionsForCustomerByDimensionIdByParentIdById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "parentId": {
                  "format": "uuid",
                  "description": "The parentId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionId": {
                  "format": "uuid",
                  "description": "The dimensionId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionCode": {
                  "description": "The dimensionCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "dimensionValueId": {
                  "format": "uuid",
                  "description": "The dimensionValueId property for the defaultDimensions entity",
                  "type": "string"
                },
                "dimensionValueCode": {
                  "description": "The dimensionValueCode property for the defaultDimensions entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "postingValidation": {
                  "description": "The postingValidation property for the defaultDimensions entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifieddefaultDimensions",
            "schema": {
              "$ref": "#/definitions/defaultDimensions"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customer_id",
          "description": "id for customer",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "defaultDimensions_parentId",
          "description": "parentId for defaultDimensions",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "defaultDimensions_dimensionId",
          "description": "dimensionId for defaultDimensions",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customerFinancialDetails": {
      "get": {
        "tags": [
          "customerFinancialDetail"
        ],
        "summary": "Returns a list of customerFinancialDetails",
        "operationId": "getCustomerFinancialDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "balance",
                "totalSalesExcludingTax",
                "overdueAmount"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of customerFinancialDetails",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/customerFinancialDetail"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/customerFinancialDetails({customerFinancialDetail_id})": {
      "get": {
        "tags": [
          "customerFinancialDetail"
        ],
        "summary": "Retrieve the properties and relationships of an customerFinancialDetail object for Dynamics 365 Business Central.",
        "operationId": "getCustomerFinancialDetailById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "balance",
                "totalSalesExcludingTax",
                "overdueAmount"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested customerFinancialDetail",
            "schema": {
              "$ref": "#/definitions/customerFinancialDetail"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "customerFinancialDetail_id",
          "description": "id for customerFinancialDetail",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/vendors": {
      "get": {
        "tags": [
          "vendor"
        ],
        "summary": "Returns a list of vendors",
        "operationId": "getVendors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "picture",
                "defaultDimensions",
                "currency",
                "paymentTerm",
                "paymentMethod"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "displayName",
                "address",
                "phoneNumber",
                "email",
                "website",
                "taxRegistrationNumber",
                "currencyId",
                "currencyCode",
                "irs1099Code",
                "paymentTermsId",
                "paymentMethodId",
                "taxLiable",
                "blocked",
                "balance",
                "lastModifiedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned a list of vendors",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/vendor"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "vendor"
        ],
        "summary": "Creates a vendor in Dynamics 365 Business Central",
        "operationId": "postVendor",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the vendor entity",
                  "type": "string"
                },
                "number": {
                  "description": "The number property for the vendor entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "displayName": {
                  "description": "The displayName property for the vendor entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "address": {
                  "$ref": "#/definitions/postaladdresstype"
                },
                "phoneNumber": {
                  "description": "The phoneNumber property for the vendor entity",
                  "maxLength": 30,
                  "type": "string"
                },
                "email": {
                  "description": "The email property for the vendor entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "website": {
                  "description": "The website property for the vendor entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "taxRegistrationNumber": {
                  "description": "The taxRegistrationNumber property for the vendor entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "currencyId": {
                  "format": "uuid",
                  "description": "The currencyId property for the vendor entity",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "The currencyCode property for the vendor entity",
                  "type": "string"
                },
                "irs1099Code": {
                  "description": "The irs1099Code property for the vendor entity",
                  "type": "string"
                },
                "paymentTermsId": {
                  "format": "uuid",
                  "description": "The paymentTermsId property for the vendor entity",
                  "type": "string"
                },
                "paymentMethodId": {
                  "format": "uuid",
                  "description": "The paymentMethodId property for the vendor entity",
                  "type": "string"
                },
                "taxLiable": {
                  "description": "The taxLiable property for the vendor entity",
                  "type": "boolean"
                },
                "blocked": {
                  "description": "The blocked property for the vendor entity",
                  "type": "string"
                },
                "balance": {
                  "format": "decimal",
                  "description": "The balance property for the vendor entity",
                  "type": "number"
                },
                "lastModifiedDateTime": {
                  "format": "date-time",
                  "description": "The lastModifiedDateTime property for the vendor entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A new vendorhas been succesfully created",
            "schema": {
              "$ref": "#/definitions/vendor"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/vendors({vendor_id})": {
      "get": {
        "tags": [
          "vendor"
        ],
        "summary": "Retrieve the properties and relationships of an vendor object for Dynamics 365 Business Central.",
        "operationId": "getVendorById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "$expand",
            "description": "Entities to expand",
            "type": "array",
            "items": {
              "enum": [
                "picture",
                "defaultDimensions",
                "currency",
                "paymentTerm",
                "paymentMethod"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
                "number",
                "displayName",
                "address",
                "phoneNumber",
                "email",
                "website",
                "taxRegistrationNumber",
                "currencyId",
                "currencyCode",
                "irs1099Code",
                "paymentTermsId",
                "paymentMethodId",
                "taxLiable",
                "blocked",
                "balance",
                "lastModifiedDateTime"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully returned the requested vendor",
            "schema": {
              "$ref": "#/definitions/vendor"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "vendor"
        ],
        "summary": "Delete an vendor in Dynamics 365 Business Central",
        "operationId": "deleteVendorById",
        "responses": {
          "204": {
            "description": "Succesfully deleted the specified vendor"
          }
        }
      },
      "patch": {
        "tags": [
          "vendor"
        ],
        "summary": "Lets the user patch the specified vendor",
        "operationId": "patchVendorById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/IfMatchParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The id property for the vendor entity",
                  "type": "string"
                },
                "number": {
                  "description": "The number property for the vendor entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "displayName": {
                  "description": "The displayName property for the vendor entity",
                  "maxLength": 100,
                  "type": "string"
                },
                "address": {
                  "$ref": "#/definitions/postaladdresstype"
                },
                "phoneNumber": {
                  "description": "The phoneNumber property for the vendor entity",
                  "maxLength": 30,
                  "type": "string"
                },
                "email": {
                  "description": "The email property for the vendor entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "website": {
                  "description": "The website property for the vendor entity",
                  "maxLength": 80,
                  "type": "string"
                },
                "taxRegistrationNumber": {
                  "description": "The taxRegistrationNumber property for the vendor entity",
                  "maxLength": 20,
                  "type": "string"
                },
                "currencyId": {
                  "format": "uuid",
                  "description": "The currencyId property for the vendor entity",
                  "type": "string"
                },
                "currencyCode": {
                  "description": "The currencyCode property for the vendor entity",
                  "type": "string"
                },
                "irs1099Code": {
                  "description": "The irs1099Code property for the vendor entity",
                  "type": "string"
                },
                "paymentTermsId": {
                  "format": "uuid",
                  "description": "The paymentTermsId property for the vendor entity",
                  "type": "string"
                },
                "paymentMethodId": {
                  "format": "uuid",
                  "description": "The paymentMethodId property for the vendor entity",
                  "type": "string"
                },
                "taxLiable": {
                  "description": "The taxLiable property for the vendor entity",
                  "type": "boolean"
                },
                "blocked": {
                  "description": "The blocked property for the vendor entity",
                  "type": "string"
                },
                "balance": {
                  "format": "decimal",
                  "description": "The balance property for the vendor entity",
                  "type": "number"
                },
                "lastModifiedDateTime": {
                  "format": "date-time",
                  "description": "The lastModifiedDateTime property for the vendor entity",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully updated the specifiedvendor",
            "schema": {
              "$ref": "#/definitions/vendor"
            }
          }
        }
      },
      "parameters": [
        {
          "in": "path",
          "name": "company_id",
          "description": "id for company",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        {
          "in": "path",
          "name": "vendor_id",
          "description": "id for vendor",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/companies({company_id})/vendors({vendor_id})/picture": {
      "get": {
        "tags": [
          "picture"
        ],
        "summary": "Returns a list of picture",
        "operationId": "getPictureForVendor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/topParam"
          },
          {
            "$ref": "#/parameters/skipParam"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/filterParam"
          },
          {
            "in": "query",
            "name": "$select",
            "description": "Selected properties to be retrieved",
            "type": "array",
            "items": {
              "enum": [
                "id",
[...]
