{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-15",
    "title": "RecoveryServicesBackupClient",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig": {
      "get": {
        "tags": [
          "BackupResourceVaultConfigs"
        ],
        "description": "Fetches resource vault config.",
        "operationId": "BackupResourceVaultConfigs_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupResourceVaultConfigResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Vault Security Config": {
            "$ref": "./examples/Common/BackupResourceVaultConfigs_Get.json"
          }
        }
      },
      "patch": {
        "tags": [
          "BackupResourceVaultConfigs"
        ],
        "description": "Updates vault security config.",
        "operationId": "BackupResourceVaultConfigs_Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource config request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupResourceVaultConfigResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupResourceVaultConfigResource"
            }
          }
        },
        "x-ms-examples": {
          "Update Vault Security Config": {
            "$ref": "./examples/Common/BackupResourceVaultConfigs_Patch.json"
          }
        }
      },
      "put": {
        "tags": [
          "BackupResourceVaultConfigs"
        ],
        "description": "Updates vault security config.",
        "operationId": "BackupResourceVaultConfigs_Put",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource config request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupResourceVaultConfigResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupResourceVaultConfigResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Vault Security Config": {
            "$ref": "./examples/Common/BackupResourceVaultConfigs_Put.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}": {
      "get": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "Provides the details of the backed up item. This is an asynchronous operation. To know the status of the operation,\r\ncall the GetItemOperationResult API.",
        "operationId": "ProtectedItems_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with the backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with the backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Backed up item name whose details are to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          }
        },
        "x-ms-odata": "#/definitions/GetProtectedItemQueryObject",
        "x-ms-examples": {
          "Get Protected Classic Virtual Machine Details": {
            "$ref": "./examples/AzureIaasVm/ClassicCompute_ProtectedItem_Get.json"
          },
          "Get Protected Virtual Machine Details": {
            "$ref": "./examples/AzureIaasVm/Compute_ProtectedItem_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "Enables backup of an item or to modifies the backup policy information of an already backed up item. This is an\r\nasynchronous operation. To know the status of the operation, call the GetItemOperationResult API.",
        "operationId": "ProtectedItems_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Item name to be backed up.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource backed up item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-examples": {
          "Enable Protection on Azure IaasVm": {
            "$ref": "./examples/AzureIaasVm/ConfigureProtection.json"
          },
          "Stop Protection with retain data on Azure IaasVm": {
            "$ref": "./examples/AzureIaasVm/StopProtection.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProtectedItems"
        ],
        "description": "Used to disable backup of an item within a container. This is an asynchronous operation. To know the status of the\r\nrequest, call the GetItemOperationResult API.",
        "operationId": "ProtectedItems_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with the backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with the backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Backed up item to be deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "x-ms-examples": {
          "Delete Protection from Azure Virtual Machine": {
            "$ref": "./examples/Common/ProtectedItem_Delete.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ProtectedItemOperationResults"
        ],
        "description": "Fetches the result of any operation on the backup item.",
        "operationId": "ProtectedItemOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with the backup item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Backup item name whose details are to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "OperationID which represents the operation whose result needs to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "x-ms-examples": {
          "Get Operation Results of Protected Vm": {
            "$ref": "./examples/AzureIaasVm/ProtectedItemOperationResults.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints": {
      "get": {
        "tags": [
          "RecoveryPoints"
        ],
        "description": "Lists the backup copies for the backed up item.",
        "operationId": "RecoveryPoints_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with the backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with the backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Backed up item whose backup copies are to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecoveryPointResourceList"
            }
          }
        },
        "x-ms-odata": "#/definitions/BMSRPQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Protected Azure Vm Recovery Points": {
            "$ref": "./examples/AzureIaasVm/RecoveryPoints_List.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}": {
      "get": {
        "tags": [
          "RecoveryPoints"
        ],
        "description": "Provides the information of the backed up data identified using RecoveryPointID. This is an asynchronous operation.\r\nTo know the status of the operation, call the GetProtectedItemOperationResult API.",
        "operationId": "RecoveryPoints_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with backed up item.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Backed up item name whose backup data needs to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "RecoveryPointID represents the backed up data to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecoveryPointResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Vm Recovery Point Details": {
            "$ref": "./examples/AzureIaasVm/RecoveryPoints_Get.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore": {
      "post": {
        "tags": [
          "Restores"
        ],
        "description": "Restores the specified backed up data. This is an asynchronous operation. To know the status of this API call, use\r\nGetProtectedItemOperationResult API.",
        "operationId": "Restores_Trigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "Fabric name associated with the backed up items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "Container name associated with the backed up items.",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "Backed up item to be restored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "Recovery point ID which represents the backed up data to be restored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource restore request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreRequestResource"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-examples": {
          "Restore to New Azure IaasVm": {
            "$ref": "./examples/AzureIaasVm/TriggerRestore_ALR.json"
          },
          "Restore Disks": {
            "$ref": "./examples/AzureIaasVm/TriggerRestore_RestoreDisks.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies": {
      "get": {
        "tags": [
          "BackupPolicies"
        ],
        "description": "Lists of backup policies associated with Recovery Services Vault. API provides pagination parameters to fetch\r\nscoped results.",
        "operationId": "BackupPolicies_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResourceList"
            }
          }
        },
        "x-ms-odata": "#/definitions/ProtectionPolicyQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List protection policies with backupManagementType filter as AzureIaasVm": {
            "$ref": "./examples/AzureIaasVm/BackupPolicies_List.json"
          },
          "List protection policies with backupManagementType filter as AzureWorkload": {
            "$ref": "./examples/AzureWorkload/BackupPolicies_List.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}": {
      "get": {
        "tags": [
          "ProtectionPolicies"
        ],
        "description": "Provides the details of the backup policies associated to Recovery Services Vault. This is an asynchronous\r\noperation. Status of the operation can be fetched using GetPolicyOperationResult API.",
        "operationId": "ProtectionPolicies_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Backup policy information to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure IaasVm Protection Policy Details": {
            "$ref": "./examples/AzureIaasVm/ProtectionPolicies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ProtectionPolicies"
        ],
        "description": "Creates or modifies a backup policy. This is an asynchronous operation. Status of the operation can be fetched\r\nusing GetPolicyOperationResult API.",
        "operationId": "ProtectionPolicies_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Backup policy to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource backup policy",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-examples": {
          "Create or Update Simple Azure Vm Protection Policy": {
            "$ref": "./examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Simple.json"
          },
          "Create or Update Full Azure Vm Protection Policy": {
            "$ref": "./examples/AzureIaasVm/ProtectionPolicies_CreateOrUpdate_Complex.json"
          },
          "Create or Update Full Azure Workload Protection Policy": {
            "$ref": "./examples/AzureWorkload/ProtectionPolicies_CreateOrUpdate_Complex.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ProtectionPolicyOperationResults"
        ],
        "description": "Provides the result of an operation.",
        "operationId": "ProtectionPolicyOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "Backup policy name whose operation's result needs to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation ID which represents the operation whose result needs to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectionPolicyResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Protection Policy Operation Results": {
            "$ref": "./examples/AzureIaasVm/ProtectionPolicyOperationResults_Get.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs": {
      "get": {
        "tags": [
          "BackupJobs"
        ],
        "description": "Provides a pageable list of jobs.",
        "operationId": "BackupJobs_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "skipToken Filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          }
        },
        "x-ms-odata": "#/definitions/JobQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List All Jobs": {
            "$ref": "./examples/Common/ListJobs.json"
          },
          "List Jobs With Filters": {
            "$ref": "./examples/Common/ListJobsWithAllSupportedFilters.json"
          },
          "List Jobs With Time Filter": {
            "$ref": "./examples/Common/ListJobsWithStartTimeAndEndTimeFilters.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}": {
      "get": {
        "tags": [
          "JobDetails"
        ],
        "description": "Gets extended information associated with the job.",
        "operationId": "JobDetails_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the job whose details are to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Job Details": {
            "$ref": "./examples/Common/GetJobDetails.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel": {
      "post": {
        "tags": [
          "JobCancellations"
        ],
        "description": "Cancels a job. This is an asynchronous operation. To know the status of the cancellation, call\r\nGetCancelOperationResult API.",
        "operationId": "JobCancellations_Trigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "Name of the job to cancel.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-examples": {
          "Cancel Job": {
            "$ref": "./examples/Common/TriggerCancelJob.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "JobOperationResults"
        ],
        "description": "Fetches the result of any operation.",
        "operationId": "JobOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "Job name whose operation result has to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "OperationID which represents the operation whose result has to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "x-ms-examples": {
          "Cancel Job Operation Result": {
            "$ref": "./examples/Common/CancelJobOperationResult.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}": {
      "get": {
        "tags": [
          "ExportJobsOperationResults"
        ],
        "description": "Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also\r\ncontains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format.",
        "operationId": "ExportJobsOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "OperationID which represents the export job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResultInfoBaseResource"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/OperationResultInfoBaseResource"
            }
          }
        },
        "x-ms-examples": {
          "Export Jobs Operation Results": {
            "$ref": "./examples/Common/ExportJobsOperationResult.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Triggers export of jobs specified by filters and returns an OperationID to track.",
        "operationId": "Jobs_Export",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-odata": "#/definitions/JobQueryObject",
        "x-ms-examples": {
          "Export Jobs": {
            "$ref": "./examples/Common/TriggerExportJobs.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems": {
      "get": {
        "tags": [
          "BackupProtectedItems"
        ],
        "description": "Provides a pageable list of all items that are backed up within a vault.",
        "operationId": "BackupProtectedItems_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "skipToken Filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResourceList"
            }
          }
        },
        "x-ms-odata": "#/definitions/ProtectedItemQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List protected items with backupManagementType filter as AzureIaasVm": {
            "$ref": "./examples/AzureIaasVm/BackupProtectedItems_List.json"
          }
        }
      }
    },
    "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperation": {
      "post": {
        "tags": [
          "Operation"
        ],
        "description": "Validate operation for specified backed up item. This is a synchronous operation.",
        "operationId": "Operation_Validate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource validate operation request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateOperationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ValidateOperationsResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate Operation": {
            "$ref": "./examples/AzureIaasVm/ValidateOperation_RestoreDisk.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureFileshareProtectedItem": {
      "description": "Azure File Share workload-specific backup item.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the fileshare represented by this backup item.",
          "type": "string"
        },
        "protectionStatus": {
          "description": "Backup status of this backup item.",
          "type": "string"
        },
        "protectionState": {
          "description": "Backup state of this backup item.",
          "enum": [
            "Invalid",
            "IRPending",
            "Protected",
            "ProtectionError",
            "ProtectionStopped",
            "ProtectionPaused"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectionState",
            "modelAsString": true
          }
        },
        "lastBackupStatus": {
          "description": "Last backup operation status. Possible values: Healthy, Unhealthy.",
          "type": "string"
        },
        "lastBackupTime": {
          "format": "date-time",
          "description": "Timestamp of the last backup operation on this backup item.",
          "type": "string"
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureFileshareProtectedItemExtendedInfo",
          "description": "Additional information with this backup item."
        }
      },
      "x-ms-discriminator-value": "AzureFileShareProtectedItem"
    },
    "AzureFileshareProtectedItemExtendedInfo": {
      "description": "Additional information about Azure File Share backup item.",
      "type": "object",
      "properties": {
        "oldestRecoveryPoint": {
          "format": "date-time",
          "description": "The oldest backup copy available for this item in the service.",
          "type": "string"
        },
        "recoveryPointCount": {
          "format": "int32",
          "description": "Number of available backup copies associated with this backup item.",
          "type": "integer"
        },
        "policyState": {
          "description": "Indicates consistency of policy object and policy applied to this backup item.",
          "type": "string"
        },
        "resourceState": {
          "description": "Indicates the state of this resource. Possible values are from enum ResourceState {Invalid, Active, SoftDeleted, Deleted}",
          "type": "string",
          "readOnly": true
        },
        "resourceStateSyncTime": {
          "format": "date-time",
          "description": "The resource state sync time for this backup item.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AzureFileShareRecoveryPoint": {
      "description": "Azure File Share workload specific backup copy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RecoveryPoint"
        }
      ],
      "properties": {
        "recoveryPointType": {
          "description": "Type of the backup copy. Specifies whether it is a crash consistent backup or app consistent.",
          "type": "string",
          "readOnly": true
        },
        "recoveryPointTime": {
          "format": "date-time",
          "description": "Time at which this backup copy was created.",
          "type": "string",
          "readOnly": true
        },
        "fileShareSnapshotUri": {
          "description": "Contains Url to the snapshot of fileshare, if applicable",
          "type": "string",
          "readOnly": true
        },
        "recoveryPointSizeInGB": {
          "format": "int32",
          "description": "Contains recovery point size",
          "type": "integer",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "AzureFileShareRecoveryPoint"
    },
    "AzureFileShareRestoreRequest": {
      "description": "AzureFileShare Restore Request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RestoreRequest"
        }
      ],
      "properties": {
        "recoveryType": {
          "description": "Type of this recovery.",
          "enum": [
            "Invalid",
            "OriginalLocation",
            "AlternateLocation",
            "RestoreDisks",
            "Offline"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RecoveryType",
            "modelAsString": true
          }
        },
        "sourceResourceId": {
          "description": "Source storage account ARM Id",
          "type": "string"
        },
        "copyOptions": {
          "description": "Options to resolve copy conflicts.",
          "enum": [
            "Invalid",
            "CreateCopy",
            "Skip",
            "Overwrite",
            "FailOnConflict"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "CopyOptions",
            "modelAsString": true
          }
        },
        "restoreRequestType": {
          "description": "Restore Type (FullShareRestore or ItemLevelRestore)",
          "enum": [
            "Invalid",
            "FullShareRestore",
            "ItemLevelRestore"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RestoreRequestType",
            "modelAsString": true
          }
        },
        "restoreFileSpecs": {
          "description": "List of Source Files/Folders(which need to recover) and TargetFolderPath details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestoreFileSpecs"
          }
        },
        "targetDetails": {
          "$ref": "#/definitions/TargetAFSRestoreInfo",
          "description": "Target File Share Details"
        }
      },
      "x-ms-discriminator-value": "AzureFileShareRestoreRequest"
    },
    "AzureVmWorkloadProtectionPolicy": {
      "description": "Azure VM (Mercury) workload-specific backup policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectionPolicy"
        }
      ],
      "properties": {
        "workLoadType": {
          "description": "Type of workload for the backup management",
          "enum": [
            "Invalid",
            "VM",
            "FileFolder",
            "AzureSqlDb",
            "SQLDB",
            "Exchange",
            "Sharepoint",
            "VMwareVM",
            "SystemState",
            "Client",
            "GenericDataSource",
            "SQLDataBase",
            "AzureFileShare",
            "SAPHanaDatabase",
            "SAPAseDatabase"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "settings": {
          "$ref": "#/definitions/Settings",
          "description": "Common settings for the backup management"
        },
        "subProtectionPolicy": {
          "description": "List of sub-protection policies which includes schedule and retention",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubProtectionPolicy"
          }
        },
        "makePolicyConsistent": {
          "description": "Fix the policy inconsistency",
          "type": "boolean"
        }
      },
      "x-ms-discriminator-value": "AzureWorkload"
    },
    "AzureFileShareProtectionPolicy": {
      "description": "AzureStorage backup policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectionPolicy"
        }
      ],
      "properties": {
        "workLoadType": {
          "description": "Type of workload for the backup management",
          "enum": [
            "Invalid",
            "VM",
            "FileFolder",
            "AzureSqlDb",
            "SQLDB",
            "Exchange",
            "Sharepoint",
            "VMwareVM",
            "SystemState",
            "Client",
            "GenericDataSource",
            "SQLDataBase",
            "AzureFileShare",
            "SAPHanaDatabase",
            "SAPAseDatabase"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "WorkloadType",
            "modelAsString": true
          }
        },
        "schedulePolicy": {
          "$ref": "#/definitions/SchedulePolicy",
          "description": "Backup schedule specified as part of backup policy."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "Retention policy with the details on backup copy retention ranges."
        },
        "timeZone": {
          "description": "TimeZone optional input as string. For example: TimeZone = \"Pacific Standard Time\".",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureStorage"
    },
    "AzureIaaSClassicComputeVMProtectedItem": {
      "description": "IaaS VM workload-specific backup item representing the Classic Compute VM.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureIaaSVMProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.ClassicCompute/virtualMachines"
    },
    "AzureIaaSComputeVMProtectedItem": {
      "description": "IaaS VM workload-specific backup item representing the Azure Resource Manager VM.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureIaaSVMProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.Compute/virtualMachines"
    },
    "AzureIaaSVMErrorInfo": {
      "description": "Azure IaaS VM workload-specific error information.",
      "type": "object",
      "properties": {
        "errorCode": {
          "format": "int32",
          "description": "Error code.",
          "type": "integer",
          "readOnly": true
        },
        "errorTitle": {
          "description": "Title: Typically, the entity that the error pertains to.",
          "type": "string",
          "readOnly": true
        },
        "errorString": {
          "description": "Localized error string.",
          "type": "string",
          "readOnly": true
        },
        "recommendations": {
          "description": "List of localized recommendations for above error code.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ResourceHealthDetails": {
      "description": "Health Details for backup items.",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "Health Code",
          "type": "integer",
          "readOnly": true
        },
        "title": {
          "description": "Health Title",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Health Message",
          "type": "string",
          "readOnly": true
        },
        "recommendations": {
          "description": "Health Recommended Actions",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "AzureIaaSVMHealthDetails": {
      "description": "Azure IaaS VM workload-specific Health Details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceHealthDetails"
        }
      ]
    },
    "AzureIaaSVMJob": {
      "description": "Azure IaaS VM workload-specific job object.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "properties": {
        "duration": {
          "format": "duration",
          "description": "Time elapsed during the execution of this job.",
          "type": "string"
        },
        "actionsInfo": {
          "description": "Gets or sets the state/actions applicable on this job like cancel/retry.",
          "type": "array",
          "items": {
            "enum": [
              "Invalid",
              "Cancellable",
              "Retriable"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "JobSupportedAction",
              "modelAsString": false
            }
          }
        },
        "errorDetails": {
          "description": "Error details on execution of this job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureIaaSVMErrorInfo"
          }
        },
        "virtualMachineVersion": {
          "description": "Specifies whether the backup item is a Classic or an Azure Resource Manager VM.",
          "type": "string"
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureIaaSVMJobExtendedInfo",
          "description": "Additional information for this job."
        }
      },
      "x-ms-discriminator-value": "AzureIaaSVMJob"
    },
    "AzureIaaSVMJobExtendedInfo": {
      "description": "Azure IaaS VM workload-specific additional information for job.",
      "type": "object",
      "properties": {
        "tasksList": {
          "description": "List of tasks associated with this job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureIaaSVMJobTaskDetails"
          }
        },
        "propertyBag": {
          "description": "Job properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "internalPropertyBag": {
          "description": "Job internal properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "progressPercentage": {
          "format": "double",
          "description": "Indicates progress of the job. Null if it has not started or completed.",
          "type": "number"
        },
        "estimatedRemainingDuration": {
          "description": "Time remaining for execution of this job.",
          "type": "string"
        },
        "dynamicErrorMessage": {
          "description": "Non localized error message on job execution.",
          "type": "string"
        }
      }
    },
    "AzureIaaSVMJobTaskDetails": {
      "description": "Azure IaaS VM workload-specific job task details.",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "The task display name.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time.",
          "type": "string"
        },
        "instanceId": {
          "description": "The instanceId.",
          "type": "string"
        },
        "duration": {
          "format": "duration",
          "description": "Time elapsed for task.",
          "type": "string"
        },
        "status": {
          "description": "The status.",
          "type": "string"
        },
        "progressPercentage": {
          "format": "double",
          "description": "Progress of the task.",
          "type": "number"
        },
        "taskExecutionDetails": {
          "description": "Details about execution of the task.\r\neg: number of bytes transferred etc",
          "type": "string"
        }
      }
    },
    "AzureIaaSVMProtectedItem": {
      "description": "IaaS VM workload-specific backup item.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the VM represented by this backup item.",
          "type": "string"
        },
        "virtualMachineId": {
          "description": "Fully qualified ARM ID of the virtual machine represented by this item.",
          "type": "string"
        },
        "protectionStatus": {
          "description": "Backup status of this backup item.",
          "type": "string"
        },
        "protectionState": {
          "description": "Backup state of this backup item.",
          "enum": [
            "Invalid",
            "IRPending",
            "Protected",
            "ProtectionError",
            "ProtectionStopped",
            "ProtectionPaused"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectionState",
            "modelAsString": true
          }
        },
        "healthStatus": {
          "description": "Health status of protected item.",
          "enum": [
            "Passed",
            "ActionRequired",
            "ActionSuggested",
            "Invalid"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "HealthStatus",
            "modelAsString": true
          }
        },
        "healthDetails": {
          "description": "Health details on this backup item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureIaaSVMHealthDetails"
          }
        },
        "lastBackupStatus": {
          "description": "Last backup operation status.",
          "type": "string"
        },
        "lastBackupTime": {
          "format": "date-time",
          "description": "Timestamp of the last backup operation on this backup item.",
          "type": "string"
        },
        "protectedItemDataId": {
          "description": "Data ID of the protected item.",
          "type": "string"
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureIaaSVMProtectedItemExtendedInfo",
          "description": "Additional information for this backup item."
        },
        "extendedProperties": {
          "$ref": "#/definitions/ExtendedProperties"
        }
      },
      "x-ms-discriminator-value": "AzureIaaSVMProtectedItem"
    },
    "AzureIaaSVMProtectedItemExtendedInfo": {
      "description": "Additional information on Azure IaaS VM specific backup item.",
      "type": "object",
      "properties": {
        "oldestRecoveryPoint": {
          "format": "date-time",
          "description": "The oldest backup copy available for this backup item.",
          "type": "string"
        },
        "recoveryPointCount": {
          "format": "int32",
          "description": "Number of backup copies available for this backup item.",
          "type": "integer"
        },
        "policyInconsistent": {
          "description": "Specifies if backup policy associated with the backup item is inconsistent.",
          "type": "boolean"
        }
      }
    },
    "AzureIaaSVMProtectionPolicy": {
      "description": "IaaS VM workload-specific backup policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectionPolicy"
        }
      ],
      "properties": {
        "instantRPDetails": {
          "$ref": "#/definitions/InstantRPAdditionalDetails"
        },
        "schedulePolicy": {
          "$ref": "#/definitions/SchedulePolicy",
          "description": "Backup schedule specified as part of backup policy."
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "Retention policy with the details on backup copy retention ranges."
        },
        "instantRpRetentionRangeInDays": {
          "format": "int32",
          "description": "Instant RP retention policy range in days",
          "type": "integer"
        },
        "timeZone": {
          "description": "TimeZone optional input as string. For example: TimeZone = \"Pacific Standard Time\".",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureIaasVM"
    },
    "AzureSqlProtectedItem": {
      "description": "Azure SQL workload-specific backup item.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "properties": {
        "protectedItemDataId": {
          "description": "Internal ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services.",
          "type": "string"
        },
        "protectionState": {
          "description": "Backup state of the backed up item.",
          "enum": [
            "Invalid",
            "IRPending",
            "Protected",
            "ProtectionError",
            "ProtectionStopped",
            "ProtectionPaused"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectedItemState",
            "modelAsString": true
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureSqlProtectedItemExtendedInfo",
          "description": "Additional information for this backup item."
        }
      },
      "x-ms-discriminator-value": "Microsoft.Sql/servers/databases"
    },
    "AzureSqlProtectedItemExtendedInfo": {
      "description": "Additional information on Azure Sql specific protected item.",
      "type": "object",
      "properties": {
        "oldestRecoveryPoint": {
          "format": "date-time",
          "description": "The oldest backup copy available for this item in the service.",
          "type": "string"
        },
        "recoveryPointCount": {
          "format": "int32",
          "description": "Number of available backup copies associated with this backup item.",
          "type": "integer"
        },
        "policyState": {
          "description": "State of the backup policy associated with this backup item.",
          "type": "string"
        }
      }
    },
    "AzureStorageErrorInfo": {
      "description": "Azure storage specific error information",
      "type": "object",
      "properties": {
        "errorCode": {
          "format": "int32",
          "description": "Error code.",
          "type": "integer"
        },
        "errorString": {
          "description": "Localized error string.",
          "type": "string"
        },
        "recommendations": {
          "description": "List of localized recommendations for above error code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AzureSqlProtectionPolicy": {
      "description": "Azure SQL workload-specific backup policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectionPolicy"
        }
      ],
      "properties": {
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "Retention policy details."
        }
      },
      "x-ms-discriminator-value": "AzureSql"
    },
    "AzureStorageJob": {
      "description": "Azure storage specific job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "properties": {
        "duration": {
          "format": "duration",
          "description": "Time elapsed during the execution of this job.",
          "type": "string"
        },
        "actionsInfo": {
          "description": "Gets or sets the state/actions applicable on this job like cancel/retry.",
          "type": "array",
          "items": {
            "enum": [
              "Invalid",
              "Cancellable",
              "Retriable"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "JobSupportedAction",
              "modelAsString": false
            }
          }
        },
        "errorDetails": {
          "description": "Error details on execution of this job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureStorageErrorInfo"
          }
        },
        "storageAccountName": {
          "description": "Specifies friendly name of the storage account.",
          "type": "string"
        },
        "storageAccountVersion": {
          "description": "Specifies whether the Storage account is a Classic or an Azure Resource Manager Storage account.",
          "type": "string"
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureStorageJobExtendedInfo",
          "description": "Additional information about the job."
        }
      },
      "x-ms-discriminator-value": "AzureStorageJob"
    },
    "AzureStorageJobExtendedInfo": {
      "description": "Azure Storage workload-specific additional information for job.",
      "type": "object",
      "properties": {
        "tasksList": {
          "description": "List of tasks for this job",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureStorageJobTaskDetails"
          }
        },
        "propertyBag": {
          "description": "Job properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dynamicErrorMessage": {
          "description": "Non localized error message on job execution.",
          "type": "string"
        }
      }
    },
    "AzureStorageJobTaskDetails": {
      "description": "Azure storage workload specific job task details.",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "The task display name.",
          "type": "string"
        },
        "status": {
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "AzureVmWorkloadProtectedItem": {
      "description": "Azure VM workload-specific protected item.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the DB represented by this backup item.",
          "type": "string"
        },
        "serverName": {
          "description": "Host/Cluster Name for instance or AG",
          "type": "string"
        },
        "parentName": {
          "description": "Parent name of the DB such as Instance or Availability Group.",
          "type": "string"
        },
        "parentType": {
          "description": "Parent type of protected item, example: for a DB, standalone server or distributed",
          "type": "string"
        },
        "protectionStatus": {
          "description": "Backup status of this backup item.",
          "type": "string"
        },
        "protectionState": {
          "description": "Backup state of this backup item.",
          "enum": [
            "Invalid",
            "IRPending",
            "Protected",
            "ProtectionError",
            "ProtectionStopped",
            "ProtectionPaused"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectionState",
            "modelAsString": true
          }
        },
        "lastBackupStatus": {
          "description": "Last backup operation status. Possible values: Healthy, Unhealthy.",
          "enum": [
            "Invalid",
            "Healthy",
            "Unhealthy",
            "IRPending"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "LastBackupStatus",
            "modelAsString": true
          }
        },
        "lastBackupTime": {
          "format": "date-time",
          "description": "Timestamp of the last backup operation on this backup item.",
          "type": "string"
        },
        "lastBackupErrorDetail": {
          "$ref": "#/definitions/ErrorDetail",
          "description": "Error details in last backup"
        },
        "protectedItemDataSourceId": {
          "description": "Data ID of the protected item.",
          "type": "string"
        },
        "protectedItemHealthStatus": {
          "description": "Health status of the backup item, evaluated based on last heartbeat received",
          "enum": [
            "Invalid",
            "Healthy",
            "Unhealthy",
            "NotReachable",
            "IRPending"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectedItemHealthStatus",
            "modelAsString": true
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItemExtendedInfo",
          "description": "Additional information for this backup item."
        }
      },
      "x-ms-discriminator-value": "AzureVmWorkloadProtectedItem"
    },
    "AzureVmWorkloadProtectedItemExtendedInfo": {
      "description": "Additional information on Azure Workload for SQL specific backup item.",
      "type": "object",
      "properties": {
        "oldestRecoveryPoint": {
          "format": "date-time",
          "description": "The oldest backup copy available for this backup item.",
          "type": "string"
        },
        "recoveryPointCount": {
          "format": "int32",
          "description": "Number of backup copies available for this backup item.",
          "type": "integer"
        },
        "policyState": {
          "description": "Indicates consistency of policy object and policy applied to this backup item.",
          "type": "string"
        }
      }
    },
    "AzureVmWorkloadSAPAseDatabaseProtectedItem": {
      "description": "Azure VM workload-specific protected item representing SAP ASE Database.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureVmWorkloadSAPAseDatabase"
    },
    "AzureVmWorkloadSAPHanaDatabaseProtectedItem": {
      "description": "Azure VM workload-specific protected item representing SAP HANA Database.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureVmWorkloadSAPHanaDatabase"
    },
    "AzureVmWorkloadSQLDatabaseProtectedItem": {
      "description": "Azure VM workload-specific protected item representing SQL Database.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureVmWorkloadSQLDatabase"
    },
    "AzureWorkloadErrorInfo": {
      "description": "Azure storage specific error information",
      "type": "object",
      "properties": {
        "errorCode": {
          "format": "int32",
          "description": "Error code.",
          "type": "integer"
        },
        "errorString": {
          "description": "Localized error string.",
          "type": "string"
        },
        "errorTitle": {
          "description": "Title: Typically, the entity that the error pertains to.",
          "type": "string"
        },
        "recommendations": {
          "description": "List of localized recommendations for above error code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalDetails": {
          "description": "Additional details for above error code.",
          "type": "string"
        }
      }
    },
    "AzureWorkloadJob": {
      "description": "Azure storage specific job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "properties": {
        "workloadType": {
          "description": "Workload type of the job",
          "type": "string"
        },
        "duration": {
          "format": "duration",
          "description": "Time elapsed during the execution of this job.",
          "type": "string"
        },
        "actionsInfo": {
          "description": "Gets or sets the state/actions applicable on this job like cancel/retry.",
          "type": "array",
          "items": {
            "enum": [
              "Invalid",
              "Cancellable",
              "Retriable"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "JobSupportedAction",
              "modelAsString": false
            }
          }
        },
        "errorDetails": {
          "description": "Error details on execution of this job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureWorkloadErrorInfo"
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureWorkloadJobExtendedInfo",
          "description": "Additional information about the job."
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadJob"
    },
    "AzureWorkloadJobExtendedInfo": {
      "description": "Azure VM workload-specific additional information for job.",
      "type": "object",
      "properties": {
        "tasksList": {
          "description": "List of tasks for this job",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureWorkloadJobTaskDetails"
          }
        },
        "propertyBag": {
          "description": "Job properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dynamicErrorMessage": {
          "description": "Non localized error message on job execution.",
          "type": "string"
        }
      }
    },
    "AzureWorkloadJobTaskDetails": {
      "description": "Azure VM workload specific job task details.",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "The task display name.",
          "type": "string"
        },
        "status": {
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "AzureWorkloadPointInTimeRecoveryPoint": {
      "description": "Recovery point specific to PointInTime",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRecoveryPoint"
        }
      ],
      "properties": {
        "timeRanges": {
          "description": "List of log ranges",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PointInTimeRange"
          }
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadPointInTimeRecoveryPoint"
    },
    "AzureWorkloadPointInTimeRestoreRequest": {
      "description": "AzureWorkload SAP Hana -specific restore. Specifically for PointInTime/Log restore",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRestoreRequest"
        }
      ],
      "properties": {
        "pointInTime": {
          "format": "date-time",
          "description": "PointInTime value",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadPointInTimeRestoreRequest"
    },
    "AzureWorkloadRecoveryPoint": {
      "description": "Workload specific recovery point, specifically encapsulates full/diff recovery point",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RecoveryPoint"
        }
      ],
      "properties": {
        "recoveryPointTimeInUTC": {
          "format": "date-time",
          "description": "UTC time at which recovery point was created",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of restore point",
          "enum": [
            "Invalid",
            "Full",
            "Log",
            "Differential"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RestorePointType",
            "modelAsString": true
          },
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadRecoveryPoint"
    },
    "AzureWorkloadRestoreRequest": {
      "description": "AzureWorkload-specific restore.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/RestoreRequest"
        }
      ],
      "properties": {
        "recoveryType": {
          "description": "Type of this recovery.",
          "enum": [
            "Invalid",
            "OriginalLocation",
            "AlternateLocation",
            "RestoreDisks",
            "Offline"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RecoveryType",
            "modelAsString": true
          }
        },
        "sourceResourceId": {
          "description": "Fully qualified ARM ID of the VM on which workload that was running is being recovered.",
          "type": "string"
        },
        "propertyBag": {
          "description": "Workload specific property bag.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetInfo": {
          "$ref": "#/definitions/TargetRestoreInfo",
          "description": "Details of target database"
        },
        "recoveryMode": {
          "description": "Defines whether the current recovery mode is file restore or database restore",
          "enum": [
            "Invalid",
            "FileRecovery",
            "WorkloadRecovery"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RecoveryMode",
            "modelAsString": true
          }
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadRestoreRequest"
    },
    "AzureWorkloadSAPHanaPointInTimeRecoveryPoint": {
      "description": "Recovery point specific to PointInTime in SAPHana",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadPointInTimeRecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaPointInTimeRecoveryPoint"
    },
    "AzureWorkloadSAPHanaPointInTimeRestoreRequest": {
      "description": "AzureWorkload SAP Hana -specific restore. Specifically for PointInTime/Log restore",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadSAPHanaRestoreRequest"
        }
      ],
      "properties": {
        "pointInTime": {
          "format": "date-time",
          "description": "PointInTime value",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaPointInTimeRestoreRequest"
    },
    "AzureWorkloadSAPHanaRecoveryPoint": {
      "description": "SAPHana specific recoverypoint, specifically encapsulates full/diff recoverypoints",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaRecoveryPoint"
    },
    "AzureWorkloadSAPHanaRestoreRequest": {
      "description": "AzureWorkload SAP Hana-specific restore.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRestoreRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaRestoreRequest"
    },
    "AzureWorkloadSQLPointInTimeRecoveryPoint": {
      "description": "Recovery point specific to PointInTime",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadSQLRecoveryPoint"
        }
      ],
      "properties": {
        "timeRanges": {
          "description": "List of log ranges",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PointInTimeRange"
          }
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadSQLPointInTimeRecoveryPoint"
    },
    "AzureWorkloadSQLPointInTimeRestoreRequest": {
      "description": "AzureWorkload SQL -specific restore. Specifically for PointInTime/Log restore",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadSQLRestoreRequest"
        }
      ],
      "properties": {
        "pointInTime": {
          "format": "date-time",
          "description": "PointInTime value",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadSQLPointInTimeRestoreRequest"
    },
    "AzureWorkloadSQLRecoveryPoint": {
      "description": "SQL specific recoverypoint, specifically encapsulates full/diff recoverypoint along with extended info",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRecoveryPoint"
        }
      ],
      "properties": {
        "extendedInfo": {
          "$ref": "#/definitions/AzureWorkloadSQLRecoveryPointExtendedInfo",
          "description": "Extended Info that provides data directory details. Will be populated in two cases:\r\nWhen a specific recovery point is accessed using GetRecoveryPoint\r\nOr when ListRecoveryPoints is called for Log RP only with ExtendedInfo query filter"
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadSQLRecoveryPoint"
    },
    "AzureWorkloadSQLRecoveryPointExtendedInfo": {
      "description": "Extended info class details",
      "type": "object",
      "properties": {
        "dataDirectoryTimeInUTC": {
          "format": "date-time",
          "description": "UTC time at which data directory info was captured",
          "type": "string",
          "readOnly": true
        },
        "dataDirectoryPaths": {
          "description": "List of data directory paths during restore operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SQLDataDirectory"
          },
          "readOnly": true
        }
      }
    },
    "AzureWorkloadSQLRestoreRequest": {
      "description": "AzureWorkload SQL -specific restore. Specifically for full/diff restore",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRestoreRequest"
        }
      ],
      "properties": {
        "shouldUseAlternateTargetLocation": {
          "description": "Default option set to true. If this is set to false, alternate data directory must be provided",
          "type": "boolean"
        },
        "isNonRecoverable": {
          "description": "SQL specific property where user can chose to set no-recovery when restore operation is tried",
          "type": "boolean"
        },
        "alternateDirectoryPaths": {
          "description": "Data directory details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SQLDataDirectoryMapping"
          }
        }
      },
      "x-ms-discriminator-value": "AzureWorkloadSQLRestoreRequest"
    },
    "BackupResourceVaultConfig": {
      "description": "Backup resource vault config details.",
      "type": "object",
      "properties": {
        "storageModelType": {
          "description": "Storage type.",
          "enum": [
            "Invalid",
            "GeoRedundant",
            "LocallyRedundant"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StorageType",
            "modelAsString": true
          }
        },
        "storageType": {
          "description": "Storage type.",
          "enum": [
            "Invalid",
            "GeoRedundant",
            "LocallyRedundant"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StorageType",
            "modelAsString": true
          }
        },
        "storageTypeState": {
          "description": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked.",
          "enum": [
            "Invalid",
            "Locked",
            "Unlocked"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "StorageTypeState",
            "modelAsString": true
          }
        },
        "enhancedSecurityState": {
          "description": "Enabled or Disabled.",
          "enum": [
            "Invalid",
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "EnhancedSecurityState",
            "modelAsString": true
          }
        },
        "softDeleteFeatureState": {
          "description": "Soft Delete feature state",
          "enum": [
            "Invalid",
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SoftDeleteFeatureState",
            "modelAsString": true
          }
        }
      }
    },
    "BackupResourceVaultConfigResource": {
      "description": "Backup resource vault config details.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackupResourceVaultConfig",
          "description": "BackupResourceVaultConfigResource properties"
        }
      }
    },
    "BEKDetails": {
      "description": "BEK is bitlocker encryption key.",
      "type": "object",
      "properties": {
        "secretUrl": {
          "description": "Secret is BEK.",
          "type": "string"
        },
        "secretVaultId": {
          "description": "ID of the Key Vault where this Secret is stored.",
          "type": "string"
        },
        "secretData": {
          "description": "BEK data.",
          "type": "string"
        }
      }
    },
    "BMSRPQueryObject": {
      "description": "Filters to list backup copies.",
      "type": "object",
      "properties": {
        "startDate": {
          "format": "date-time",
          "description": "Backup copies created after this time.",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "Backup copies created before this time.",
          "type": "string"
        },
        "restorePointQueryType": {
          "description": "RestorePoint type",
          "enum": [
            "Invalid",
            "Full",
            "Log",
            "Differential",
            "FullAndDifferential",
            "All"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RestorePointQueryType",
            "modelAsString": true
          }
        },
        "extendedInfo": {
          "description": "In Get Recovery Point, it tells whether extended information about recovery point is asked.",
          "type": "boolean"
        }
      }
    },
    "DiskExclusionProperties": {
      "type": "object",
      "properties": {
        "diskLunList": {
          "description": "List of Disks' Logical Unit Numbers (LUN) to be used for VM Protection.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "isInclusionList": {
          "description": "Flag to indicate whether DiskLunList is to be included/ excluded from backup.",
          "type": "boolean"
        }
      }
    },
    "DiskInformation": {
      "description": "Disk information",
      "type": "object",
      "properties": {
        "lun": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DailyRetentionFormat": {
      "description": "Daily retention format.",
      "type": "object",
      "properties": {
        "daysOfTheMonth": {
          "description": "List of days of the month.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Day"
          }
        }
      }
    },
    "DailyRetentionSchedule": {
      "description": "Daily retention schedule.",
      "type": "object",
      "properties": {
        "retentionTimes": {
          "description": "Retention times of retention policy.",
          "type": "array",
          "items": {
            "format": "date-time",
            "type": "string"
          }
        },
        "retentionDuration": {
          "$ref": "#/definitions/RetentionDuration",
          "description": "Retention duration of retention Policy."
        }
      }
    },
    "Day": {
      "description": "Day of the week.",
      "type": "object",
      "properties": {
        "date": {
          "format": "int32",
          "description": "Date of the month",
          "type": "integer"
        },
        "isLast": {
          "description": "Whether Date is last date of month",
          "type": "boolean"
        }
      }
    },
    "DpmErrorInfo": {
      "description": "DPM workload-specific error information.",
      "type": "object",
      "properties": {
        "errorString": {
          "description": "Localized error string.",
          "type": "string"
        },
        "recommendations": {
          "description": "List of localized recommendations for above error code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DpmJob": {
      "description": "DPM workload-specific job object.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "properties": {
        "duration": {
          "format": "duration",
          "description": "Time elapsed for job.",
          "type": "string"
        },
        "dpmServerName": {
          "description": "DPM server name managing the backup item or backup job.",
          "type": "string"
        },
        "containerName": {
          "description": "Name of cluster/server protecting current backup item, if any.",
          "type": "string"
        },
        "containerType": {
          "description": "Type of container.",
          "type": "string"
        },
        "workloadType": {
          "description": "Type of backup item.",
          "type": "string"
        },
        "actionsInfo": {
          "description": "The state/actions applicable on this job like cancel/retry.",
          "type": "array",
          "items": {
            "enum": [
              "Invalid",
              "Cancellable",
              "Retriable"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "JobSupportedAction",
              "modelAsString": false
            }
          }
        },
        "errorDetails": {
          "description": "The errors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DpmErrorInfo"
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/DpmJobExtendedInfo",
          "description": "Additional information for this job."
        }
      },
      "x-ms-discriminator-value": "DpmJob"
    },
    "DpmJobExtendedInfo": {
      "description": "Additional information on the DPM workload-specific job.",
      "type": "object",
      "properties": {
        "tasksList": {
          "description": "List of tasks associated with this job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DpmJobTaskDetails"
          }
        },
        "propertyBag": {
          "description": "The job properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dynamicErrorMessage": {
          "description": "Non localized error message on job execution.",
          "type": "string"
        }
      }
    },
    "DpmJobTaskDetails": {
      "description": "DPM workload-specific job task details.",
      "type": "object",
      "properties": {
        "taskId": {
          "description": "The task display name.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The start time.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "The end time.",
          "type": "string"
        },
        "duration": {
          "format": "duration",
          "description": "Time elapsed for task.",
          "type": "string"
        },
        "status": {
          "description": "The status.",
          "type": "string"
        }
      }
    },
    "DPMProtectedItem": {
      "description": "Additional information on Backup engine specific backup item.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the managed item",
          "type": "string"
        },
        "backupEngineName": {
          "description": "Backup Management server protecting this backup item",
          "type": "string"
        },
        "protectionState": {
          "description": "Protection state of the backup engine",
          "enum": [
            "Invalid",
            "IRPending",
            "Protected",
            "ProtectionError",
            "ProtectionStopped",
            "ProtectionPaused"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectedItemState",
            "modelAsString": true
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/DPMProtectedItemExtendedInfo",
          "description": "Extended info of the backup item."
        }
      },
      "x-ms-discriminator-value": "DPMProtectedItem"
    },
    "DPMProtectedItemExtendedInfo": {
      "description": "Additional information of DPM Protected item.",
      "type": "object",
      "properties": {
        "protectableObjectLoadPath": {
          "description": "Attribute to provide information on various DBs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "protected": {
          "description": "To check if backup item is disk protected.",
          "type": "boolean"
        },
        "isPresentOnCloud": {
          "description": "To check if backup item is cloud protected.",
          "type": "boolean"
        },
        "lastBackupStatus": {
          "description": "Last backup status information on backup item.",
          "type": "string"
        },
        "lastRefreshedAt": {
          "format": "date-time",
          "description": "Last refresh time on backup item.",
          "type": "string"
        },
        "oldestRecoveryPoint": {
          "format": "date-time",
          "description": "Oldest cloud recovery point time.",
          "type": "string"
        },
        "recoveryPointCount": {
          "format": "int32",
          "description": "cloud recovery point count.",
          "type": "integer"
        },
        "onPremiseOldestRecoveryPoint": {
          "format": "date-time",
          "description": "Oldest disk recovery point time.",
          "type": "string"
        },
        "onPremiseLatestRecoveryPoint": {
          "format": "date-time",
          "description": "latest disk recovery point time.",
          "type": "string"
        },
        "onPremiseRecoveryPointCount": {
          "format": "int32",
          "description": "disk recovery point count.",
          "type": "integer"
        },
        "isCollocated": {
          "description": "To check if backup item is collocated.",
          "type": "boolean"
        },
        "protectionGroupName": {
          "description": "Protection group name of the backup item.",
          "type": "string"
        },
        "diskStorageUsedInBytes": {
          "description": "Used Disk storage in bytes.",
          "type": "string"
        },
        "totalDiskStorageSizeInBytes": {
          "description": "total Disk storage in bytes.",
          "type": "string"
        }
      }
    },
    "EncryptionDetails": {
      "description": "Details needed if the VM was encrypted at the time of backup.",
      "type": "object",
      "properties": {
        "encryptionEnabled": {
          "description": "Identifies whether this backup copy represents an encrypted VM at the time of backup.",
          "type": "boolean"
        },
        "kekUrl": {
          "description": "Key Url.",
          "type": "string"
        },
        "secretKeyUrl": {
          "description": "Secret Url.",
          "type": "string"
        },
        "kekVaultId": {
          "description": "ID of Key Vault where KEK is stored.",
          "type": "string"
        },
        "secretKeyVaultId": {
          "description": "ID of Key Vault where Secret is stored.",
          "type": "string"
        }
      }
    },
    "ErrorDetail": {
      "description": "Error Detail class which encapsulates Code, Message and Recommendations.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error Message related to the Code.",
          "type": "string",
          "readOnly": true
        },
        "recommendations": {
          "description": "List of recommendation strings.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ExportJobsOperationResultInfo": {
      "description": "This class is used to send blob details after exporting jobs.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/OperationResultInfoBase"
        }
      ],
      "properties": {
        "blobUrl": {
          "description": "URL of the blob into which the serialized string of list of jobs is exported.",
          "type": "string"
        },
        "blobSasKey": {
          "description": "SAS key to access the blob. It expires in 15 mins.",
          "type": "string"
        },
        "excelFileBlobUrl": {
          "description": "URL of the blob into which the ExcelFile is uploaded.",
          "type": "string"
        },
        "excelFileBlobSasKey": {
          "description": "SAS key to access the blob. It expires in 15 mins.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "ExportJobsOperationResultInfo"
    },
    "ExtendedProperties": {
      "description": "Extended Properties for Azure IaasVM Backup.",
      "type": "object",
      "properties": {
        "diskExclusionProperties": {
          "$ref": "#/definitions/DiskExclusionProperties",
          "description": "Extended Properties for Disk Exclusion."
        }
      }
    },
    "GenericProtectionPolicy": {
      "description": "Azure VM (Mercury) workload-specific backup policy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectionPolicy"
        }
      ],
      "properties": {
        "subProtectionPolicy": {
          "description": "List of sub-protection policies which includes schedule and retention",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubProtectionPolicy"
          }
        },
        "timeZone": {
          "description": "TimeZone optional input as string. For example: TimeZone = \"Pacific Standard Time\".",
          "type": "string"
        },
        "fabricName": {
          "description": "Name of this policy's fabric.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "GenericProtectionPolicy"
    },
    "InstantRPAdditionalDetails": {
      "type": "object",
      "properties": {
        "azureBackupRGNamePrefix": {
          "type": "string"
        },
        "azureBackupRGNameSuffix": {
          "type": "string"
        }
      }
    },
    "GenericProtectedItem": {
      "description": "Base class for backup items.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "properties": {
        "friendlyName": {
          "description": "Friendly name of the container.",
          "type": "string"
        },
        "policyState": {
          "description": "Indicates consistency of policy object and policy applied to this backup item.",
          "type": "string"
        },
        "protectionState": {
          "description": "Backup state of this backup item.",
          "enum": [
            "Invalid",
            "IRPending",
            "Protected",
            "ProtectionError",
            "ProtectionStopped",
            "ProtectionPaused"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProtectionState",
            "modelAsString": true
          }
        },
        "protectedItemId": {
          "format": "int64",
          "description": "Data Plane Service ID of the protected item.",
          "type": "integer"
        },
[...]
