{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft ESRP",
    "version": "2026-01-31-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SupportPlansResource"
    },
    {
      "name": "ProviderLevelOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.EnterpriseSupport/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_Get.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.EnterpriseSupport/validate": {
      "post": {
        "operationId": "ProviderLevelOperations_ValidateEnterpriseSupport",
        "tags": [
          "ProviderLevelOperations"
        ],
        "description": "ProviderLevel operation to check eligibility to create EnterpriseSupport instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "lineItems to validate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateEnterpriseSupportRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateEnterpriseSupportResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ValidateEnterpriseSupportEligibility": {
            "$ref": "./examples/ProviderLevelOperations_ValidateEnterpriseSupport.json"
          },
          "ValidateEnterpriseSupportEligibility_SupportCommit": {
            "$ref": "./examples/ProviderLevelOperations_ValidateEnterpriseSupport_SupportCommit.json"
          },
          "ValidateEnterpriseSupportEligibility_UfPAddOn": {
            "$ref": "./examples/ProviderLevelOperations_ValidateEnterpriseSupport_UfP.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EnterpriseSupport/supportPlans": {
      "get": {
        "operationId": "SupportPlansResource_ListBySubscription",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "List SupportPlan resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupportPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListSupportPlansBySubscription": {
            "$ref": "./examples/SupportPlansResource_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/supportPlans": {
      "get": {
        "operationId": "SupportPlansResource_ListByResourceGroup",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "List SupportPlan resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupportPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListSupportPlansByResourceGroup": {
            "$ref": "./examples/SupportPlansResource_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/supportPlans/{supportPlanName}": {
      "get": {
        "operationId": "SupportPlansResource_Get",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "Get a SupportPlan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supportPlanName",
            "in": "path",
            "description": "The name of the Support Plan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupportPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetSupportPlan": {
            "$ref": "./examples/SupportPlansResource_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SupportPlansResource_CreateOrUpdate",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "Create a SupportPlan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supportPlanName",
            "in": "path",
            "description": "The name of the Support Plan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupportPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SupportPlan' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SupportPlan"
            }
          },
          "201": {
            "description": "Resource 'SupportPlan' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SupportPlan"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateSupportPlan": {
            "$ref": "./examples/SupportPlansResource_CreateOrUpdate.json"
          },
          "CreateSupportPlanWithAddOn": {
            "$ref": "./examples/SupportPlansResource_CreateOrUpdate_WithAddOn.json"
          },
          "CreateSupportPlanWithSupportCommit": {
            "$ref": "./examples/SupportPlansResource_CreateOrUpdate_WithSupportCommit.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SupportPlansResource_Update",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "Update a SupportPlan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supportPlanName",
            "in": "path",
            "description": "The name of the Support Plan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupportPlanUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupportPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateSupportPlan": {
            "$ref": "./examples/SupportPlansResource_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SupportPlansResource_Delete",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "Delete a SupportPlan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supportPlanName",
            "in": "path",
            "description": "The name of the Support Plan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteSupportPlan": {
            "$ref": "./examples/SupportPlansResource_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/supportPlans/{supportPlanName}/cancel": {
      "post": {
        "operationId": "SupportPlansResource_Cancel",
        "tags": [
          "SupportPlansResource"
        ],
        "description": "Cancel a Support Plan",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supportPlanName",
            "in": "path",
            "description": "The name of the Support Plan",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Cancel request parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelSupportPlanRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource cancelled successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel a Support Plan": {
            "$ref": "./examples/SupportPlansResource_Cancel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "CancelSupportPlanRequest": {
      "type": "object",
      "description": "The request to cancel a Support Plan",
      "properties": {
        "serviceEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the support plan service should end"
        },
        "reasonCode": {
          "type": "string",
          "description": "The reason code for the cancellation"
        }
      },
      "required": [
        "serviceEndDate",
        "reasonCode"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning"
          },
          {
            "name": "Updating",
            "value": "Updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          },
          {
            "name": "Accepted",
            "value": "Accepted"
          },
          {
            "name": "Deleted",
            "value": "Deleted"
          }
        ]
      },
      "readOnly": true
    },
    "SupportPlan": {
      "type": "object",
      "description": "A Support Plan resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SupportPlanProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SupportPlanListResult": {
      "type": "object",
      "description": "The response of a SupportPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SupportPlan items on this page",
          "items": {
            "$ref": "#/definitions/SupportPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SupportPlanProperties": {
      "type": "object",
      "description": "Properties of a Support Plan resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        },
        "upn": {
          "type": "string",
          "description": "Product UPN",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Quantity for the purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service start date for Support Plan"
        },
        "serviceEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service end date for Support Plan"
        },
        "endCustomerId": {
          "type": "string",
          "description": "End customer identifier for add-on scenarios"
        },
        "shipToAddressId": {
          "type": "string",
          "description": "Shipping address identifier for add-on scenarios"
        },
        "isAutoRenewed": {
          "type": "boolean",
          "description": "Flag indicating if the support plan should auto-renew"
        },
        "multiEntityReferenceType": {
          "type": "string",
          "description": "Describes the type of the multi-entity reference identifier"
        },
        "multiEntityReferenceId": {
          "type": "string",
          "description": "Identifier used to correlate related entities in a multi-entity arrangement"
        },
        "isMultiEntityParticipationAllowed": {
          "type": "boolean",
          "description": "Flag indicating if multi-entity participation is allowed"
        }
      },
      "required": [
        "upn",
        "quantity",
        "serviceStartDate"
      ]
    },
    "SupportPlanUpdate": {
      "type": "object",
      "description": "The type used for update operations of the SupportPlan.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SupportPlanUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "SupportPlanUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the SupportPlan.",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Quantity for the purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service start date for Support Plan"
        },
        "serviceEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service end date for Support Plan"
        },
        "endCustomerId": {
          "type": "string",
          "description": "End customer identifier for add-on scenarios"
        },
        "shipToAddressId": {
          "type": "string",
          "description": "Shipping address identifier for add-on scenarios"
        },
        "isAutoRenewed": {
          "type": "boolean",
          "description": "Flag indicating if the support plan should auto-renew"
        },
        "multiEntityReferenceType": {
          "type": "string",
          "description": "Describes the type of the multi-entity reference identifier"
        },
        "multiEntityReferenceId": {
          "type": "string",
          "description": "Identifier used to correlate related entities in a multi-entity arrangement"
        },
        "isMultiEntityParticipationAllowed": {
          "type": "boolean",
          "description": "Flag indicating if multi-entity participation is allowed"
        }
      }
    },
    "ValidateEligibility": {
      "type": "string",
      "description": "The eligibility decision",
      "enum": [
        "eligible",
        "ineligible",
        "undetermined"
      ],
      "x-ms-enum": {
        "name": "ValidateEligibility",
        "modelAsString": false
      }
    },
    "ValidateEnterpriseSupportRequest": {
      "type": "object",
      "description": "The request for an eligibility check.",
      "properties": {
        "intent": {
          "type": "string",
          "description": "Indicates the purpose of the validation request"
        },
        "lineItems": {
          "type": "array",
          "description": "The array of line items to be validated",
          "items": {
            "$ref": "#/definitions/ValidateEnterpriseSupportRequestItem"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "lineItems"
      ]
    },
    "ValidateEnterpriseSupportRequestItem": {
      "type": "object",
      "description": "The item to be validated.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The scope. e.g. /billingAccounts/ba1/billingProfiles/bp1"
        },
        "upn": {
          "type": "string",
          "description": "The product upn"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "The quantity for this purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date for this purchase"
        },
        "market": {
          "type": "string",
          "description": "Market/region for the purchase"
        },
        "endCustomerId": {
          "type": "string",
          "description": "End customer identifier for add-on scenarios"
        },
        "shipToAddressId": {
          "type": "string",
          "description": "Shipping address identifier for add-on scenarios"
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant identifier for the purchase"
        },
        "multiEntityReferenceType": {
          "type": "string",
          "description": "Describes the type of the multi-entity reference identifier"
        },
        "multiEntityReferenceId": {
          "type": "string",
          "description": "Identifier used to correlate related entities in a multi-entity arrangement"
        }
      },
      "required": [
        "scope",
        "upn",
        "quantity",
        "serviceStartDate",
        "market"
      ]
    },
    "ValidateEnterpriseSupportResponse": {
      "type": "object",
      "description": "The response for an eligibility check.",
      "properties": {
        "lineItems": {
          "type": "array",
          "description": "The array of line item validations.",
          "items": {
            "$ref": "#/definitions/ValidateEnterpriseSupportResponseItem"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "lineItems"
      ]
    },
    "ValidateEnterpriseSupportResponseItem": {
      "type": "object",
      "description": "The item for an eligibility check.",
      "properties": {
        "scope": {
          "type": "string",
          "description": "The scope. e.g. /billingAccounts/ba1/billingProfiles/bp1"
        },
        "upn": {
          "type": "string",
          "description": "The product upn"
        },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "The quantity for this purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "The start date for this purchase"
        },
        "isEligible": {
          "$ref": "#/definitions/ValidateEligibility",
          "description": "eligibility"
        },
        "reason": {
          "type": "string",
          "description": "String reason for isEligible"
        },
        "reasonCode": {
          "type": "integer",
          "format": "int64",
          "description": "Code reason for isEligible"
        }
      },
      "required": [
        "scope",
        "upn",
        "quantity",
        "isEligible"
      ]
    }
  },
  "parameters": {}
}
