{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-24-preview",
    "title": "Desktop Virtualization API Client"
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "host": "management.azure.com",
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.DesktopVirtualization/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List all of the available operations the Desktop Virtualization resource provider supports.",
        "x-ms-examples": {
          "OperationDescription_List": {
            "$ref": "./examples/OperationDescription_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved operations.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces/{workspaceName}": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_Get",
        "description": "Get a workspace.",
        "x-ms-examples": {
          "Workspace_Get": {
            "$ref": "./examples/Workspace_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_CreateOrUpdate",
        "description": "Create or update a workspace.",
        "x-ms-examples": {
          "Workspace_Create": {
            "$ref": "./examples/Workspace_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "workspace",
            "description": "Object containing Workspace definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "201": {
            "description": "Successfully created workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_Delete",
        "description": "Remove a workspace.",
        "x-ms-examples": {
          "Workspace_Delete": {
            "$ref": "./examples/Workspace_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted workspace."
          },
          "204": {
            "description": "Workspace does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_Update",
        "description": "Update a workspace.",
        "x-ms-examples": {
          "Workspace_Update": {
            "$ref": "./examples/Workspace_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "name": "workspace",
            "description": "Object containing Workspace definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WorkspacePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated workspace.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_ListByResourceGroup",
        "description": "List workspaces.",
        "x-ms-examples": {
          "Workspace_ListByResourceGroup": {
            "$ref": "./examples/Workspace_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workspaces in resource group.",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/workspaces": {
      "get": {
        "tags": [
          "Workspace"
        ],
        "operationId": "Workspaces_ListBySubscription",
        "description": "List workspaces in subscription.",
        "x-ms-examples": {
          "Workspace_ListBySubscription": {
            "$ref": "./examples/Workspace_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved workspaces in subscription.",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}": {
      "get": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_Get",
        "description": "Get an application group.",
        "x-ms-examples": {
          "ApplicationGroup_Get": {
            "$ref": "./examples/ApplicationGroup_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_CreateOrUpdate",
        "description": "Create or update an applicationGroup.",
        "x-ms-examples": {
          "ApplicationGroup_Create": {
            "$ref": "./examples/ApplicationGroup_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "applicationGroup",
            "description": "Object containing ApplicationGroup definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "201": {
            "description": "Successfully created application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_Delete",
        "description": "Remove an applicationGroup.",
        "x-ms-examples": {
          "ApplicationGroup_Delete": {
            "$ref": "./examples/ApplicationGroup_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed application group."
          },
          "204": {
            "description": "Application group does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_Update",
        "description": "Update an applicationGroup.",
        "x-ms-examples": {
          "ApplicationGroups_Update": {
            "$ref": "./examples/ApplicationGroup_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "name": "applicationGroup",
            "description": "Object containing ApplicationGroup definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationGroupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups": {
      "get": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_ListByResourceGroup",
        "description": "List applicationGroups.",
        "x-ms-examples": {
          "ApplicationGroup_ListByResourceGroup": {
            "$ref": "./examples/ApplicationGroup_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are applicationGroupType."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application groups in resource group.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/applicationGroups": {
      "get": {
        "tags": [
          "ApplicationGroup"
        ],
        "operationId": "ApplicationGroups_ListBySubscription",
        "description": "List applicationGroups in subscription.",
        "x-ms-examples": {
          "ApplicationGroup_List": {
            "$ref": "./examples/ApplicationGroup_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are applicationGroupType."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application groups in subscription.",
            "schema": {
              "$ref": "#/definitions/ApplicationGroupList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/startMenuItems": {
      "get": {
        "tags": [
          "StartMenuItem"
        ],
        "operationId": "StartMenuItems_List",
        "description": "List start menu items in the given application group.",
        "x-ms-examples": {
          "StartMenuItem_List": {
            "$ref": "./examples/StartMenuItem_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved start menu items in application group.",
            "schema": {
              "$ref": "#/definitions/StartMenuItemList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/applications/{applicationName}": {
      "get": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_Get",
        "description": "Get an application.",
        "x-ms-examples": {
          "Application_Get": {
            "$ref": "./examples/Application_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_CreateOrUpdate",
        "description": "Create or update an application.",
        "x-ms-examples": {
          "Application_Create": {
            "$ref": "./examples/Application_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "application",
            "description": "Object containing Application definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Successfully created application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_Delete",
        "description": "Remove an application.",
        "x-ms-examples": {
          "Application_Delete": {
            "$ref": "./examples/Application_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed application."
          },
          "204": {
            "description": "Application does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_Update",
        "description": "Update an application.",
        "x-ms-examples": {
          "Application_Update": {
            "$ref": "./examples/Application_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "application",
            "description": "Object containing Application definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated application.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/applications": {
      "get": {
        "tags": [
          "Application"
        ],
        "operationId": "Applications_List",
        "description": "List applications.",
        "x-ms-examples": {
          "Applications_List": {
            "$ref": "./examples/Application_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved applications in application group.",
            "schema": {
              "$ref": "#/definitions/ApplicationList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}": {
      "get": {
        "tags": [
          "Desktop"
        ],
        "operationId": "Desktops_Get",
        "description": "Get a desktop.",
        "x-ms-examples": {
          "Desktop_Get": {
            "$ref": "./examples/Desktop_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DesktopNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved desktop.",
            "schema": {
              "$ref": "#/definitions/Desktop"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Desktop"
        ],
        "operationId": "Desktops_Update",
        "description": "Update a desktop.",
        "x-ms-examples": {
          "Desktop_Update": {
            "$ref": "./examples/Desktop_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DesktopNameParameter"
          },
          {
            "name": "desktop",
            "description": "Object containing Desktop definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DesktopPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated desktop.",
            "schema": {
              "$ref": "#/definitions/Desktop"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops": {
      "get": {
        "tags": [
          "Desktop"
        ],
        "operationId": "Desktops_List",
        "description": "List desktops.",
        "x-ms-examples": {
          "Desktop_List": {
            "$ref": "./examples/Desktop_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved desktops in application group.",
            "schema": {
              "$ref": "#/definitions/DesktopList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}": {
      "get": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_Get",
        "description": "Get a host pool.",
        "x-ms-examples": {
          "HostPool_Get": {
            "$ref": "./examples/HostPool_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_CreateOrUpdate",
        "description": "Create or update a host pool.",
        "x-ms-examples": {
          "HostPool_Create": {
            "$ref": "./examples/HostPool_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "hostPool",
            "description": "Object containing HostPool definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "201": {
            "description": "Successfully created host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_Delete",
        "description": "Remove a host pool.",
        "x-ms-examples": {
          "HostPool_Delete": {
            "$ref": "./examples/HostPool_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Force flag to delete sessionHost."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed host pool."
          },
          "204": {
            "description": "Host pool does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_Update",
        "description": "Update a host pool.",
        "x-ms-examples": {
          "HostPool_Update": {
            "$ref": "./examples/HostPool_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "hostPool",
            "description": "Object containing HostPool definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HostPoolPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated host pool.",
            "schema": {
              "$ref": "#/definitions/HostPool"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools": {
      "get": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_ListByResourceGroup",
        "description": "List hostPools.",
        "x-ms-examples": {
          "HostPool_ListByResourceGroup": {
            "$ref": "./examples/HostPool_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved host pool in resource group.",
            "schema": {
              "$ref": "#/definitions/HostPoolList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DesktopVirtualization/hostPools": {
      "get": {
        "tags": [
          "HostPool"
        ],
        "operationId": "HostPools_List",
        "description": "List hostPools in subscription.",
        "x-ms-examples": {
          "HostPool_List": {
            "$ref": "./examples/HostPool_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved host pool in subscription.",
            "schema": {
              "$ref": "#/definitions/HostPoolList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/msixPackages/{msixPackageFullName}": {
      "get": {
        "tags": [
          "MSIXPackage"
        ],
        "operationId": "MSIXPackages_Get",
        "description": "Get a msixpackage.",
        "x-ms-examples": {
          "MSIXPackage_Get": {
            "$ref": "./examples/MsixPackage_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/MSIXPackageFullNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved MSIX Package.",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "MSIXPackage"
        ],
        "operationId": "MSIXPackages_CreateOrUpdate",
        "description": "Create or update a MSIX package.",
        "x-ms-examples": {
          "MSIXPackage_Create": {
            "$ref": "./examples/MsixPackage_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/MSIXPackageFullNameParameter"
          },
          {
            "name": "msixPackage",
            "description": "Object containing  MSIX Package definitions.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated  MSIX Package.",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "201": {
            "description": "Successfully created  MSIX Package.",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MSIXPackage"
        ],
        "operationId": "MSIXPackages_Delete",
        "description": "Remove an MSIX Package.",
        "x-ms-examples": {
          "MSIXPackage_Delete": {
            "$ref": "./examples/MsixPackage_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/MSIXPackageFullNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed MSIX Package."
          },
          "204": {
            "description": "MSIX Package does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "MSIXPackage"
        ],
        "operationId": "MSIXPackages_Update",
        "description": "Update an  MSIX Package.",
        "x-ms-examples": {
          "MSIXPackage_Update": {
            "$ref": "./examples/MsixPackage_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/MSIXPackageFullNameParameter"
          },
          {
            "name": "msixPackage",
            "description": "Object containing MSIX Package definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MSIXPackagePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated MSIX Package.",
            "schema": {
              "$ref": "#/definitions/MSIXPackage"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/msixPackages": {
      "get": {
        "tags": [
          "MSIXPackage"
        ],
        "operationId": "MSIXPackages_List",
        "description": "List MSIX packages in hostpool.",
        "x-ms-examples": {
          "MSIXPackage_List": {
            "$ref": "./examples/MsixPackage_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved MSIX Packages in hostpool.",
            "schema": {
              "$ref": "#/definitions/MSIXPackageList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/expandMsixImage": {
      "post": {
        "tags": [
          "MsixImage"
        ],
        "operationId": "MsixImages_Expand",
        "description": "Expands and Lists MSIX packages in an Image, given the Image Path.",
        "x-ms-examples": {
          "MsixImage_Expand": {
            "$ref": "./examples/MsixImage_Expand_Post.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "msixImageURI",
            "description": "Object containing URI to MSIX Image",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MSIXImageURI"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved MSIX packages in specified Image Path.",
            "schema": {
              "$ref": "#/definitions/ExpandMsixImageList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/userSessions": {
      "get": {
        "tags": [
          "UserSession"
        ],
        "operationId": "UserSessions_ListByHostPool",
        "description": "List userSessions.",
        "x-ms-examples": {
          "UserSession_ListByHostPool": {
            "$ref": "./examples/UserSession_ListByHostPool.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are userprincipalname and sessionstate."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user sessions in host pool.",
            "schema": {
              "$ref": "#/definitions/UserSessionList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}": {
      "get": {
        "tags": [
          "SessionHost"
        ],
        "operationId": "SessionHosts_Get",
        "description": "Get a session host.",
        "x-ms-examples": {
          "SessionHost_Get": {
            "$ref": "./examples/SessionHost_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved session host.",
            "schema": {
              "$ref": "#/definitions/SessionHost"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SessionHost"
        ],
        "operationId": "SessionHosts_Delete",
        "description": "Remove a SessionHost.",
        "x-ms-examples": {
          "SessionHost_Delete": {
            "$ref": "./examples/SessionHost_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Force flag to force sessionHost deletion even when userSession exists."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed session host."
          },
          "204": {
            "description": "Session host does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "SessionHost"
        ],
        "operationId": "SessionHosts_Update",
        "description": "Update a session host.",
        "x-ms-examples": {
          "SessionHost_Update": {
            "$ref": "./examples/SessionHost_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          },
          {
            "name": "sessionHost",
            "description": "Object containing SessionHost definitions.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SessionHostPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated session host.",
            "schema": {
              "$ref": "#/definitions/SessionHost"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts": {
      "get": {
        "tags": [
          "SessionHost"
        ],
        "operationId": "SessionHosts_List",
        "description": "List sessionHosts.",
        "x-ms-examples": {
          "SessionHost_List": {
            "$ref": "./examples/SessionHost_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved session hosts in host pool.",
            "schema": {
              "$ref": "#/definitions/SessionHostList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}": {
      "get": {
        "tags": [
          "UserSession"
        ],
        "operationId": "UserSessions_Get",
        "description": "Get a userSession.",
        "x-ms-examples": {
          "UserSession_Get": {
            "$ref": "./examples/UserSession_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          },
          {
            "$ref": "#/parameters/UserSessionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user session.",
            "schema": {
              "$ref": "#/definitions/UserSession"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UserSession"
        ],
        "operationId": "UserSessions_Delete",
        "description": "Remove a userSession.",
        "x-ms-examples": {
          "UserSession_Delete": {
            "$ref": "./examples/UserSession_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          },
          {
            "$ref": "#/parameters/UserSessionIdParameter"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Force flag to login off userSession."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed user session."
          },
          "204": {
            "description": "User session does not exist."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions": {
      "get": {
        "tags": [
          "UserSession"
        ],
        "operationId": "UserSessions_List",
        "description": "List userSessions.",
        "x-ms-examples": {
          "UserSession_List": {
            "$ref": "./examples/UserSession_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user sessions in session host.",
            "schema": {
              "$ref": "#/definitions/UserSessionList"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}/disconnect": {
      "post": {
        "tags": [
          "UserSession"
        ],
        "operationId": "UserSessions_Disconnect",
        "description": "Disconnect a userSession.",
        "x-ms-examples": {
          "UserSession_Disconnect_Post": {
            "$ref": "./examples/UserSession_Disconnect_Post.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          },
          {
            "$ref": "#/parameters/UserSessionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully disconnected user session."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHosts/{sessionHostName}/userSessions/{userSessionId}/sendMessage": {
      "post": {
        "tags": [
          "UserSession"
        ],
        "operationId": "UserSessions_SendMessage",
        "description": "Send a message to a user.",
        "x-ms-examples": {
          "UserSession_SendMessage_Post": {
            "$ref": "./examples/UserSession_SendMessage_Post.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/HostPoolNameParameter"
          },
          {
            "$ref": "#/parameters/SessionHostNameParameter"
          },
          {
            "$ref": "#/parameters/UserSessionIdParameter"
          },
          {
            "name": "sendMessage",
            "description": "Object containing message includes title and message body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SendMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully sent message to user session."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "description": "Error response of an operation failure"
    },
    "ResourceProviderOperationList": {
      "description": "Result of the request to list operations.",
      "readOnly": true,
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          },
          "description": "List of operations supported by this resource provider."
        }
      }
    },
    "ResourceProviderOperation": {
      "description": "Supported operation of this resource provider.",
      "readOnly": true,
      "properties": {
        "name": {
          "description": "Operation name, in format of {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Resource provider: Microsoft Desktop Virtualization.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "Type of operation: get, read, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Description of this operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "Workspace": {
      "type": "object",
      "description": "Represents a Workspace definition.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Detailed properties for Workspace",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkspaceProperties"
        }
      }
    },
    "WorkspaceProperties": {
      "description": "Schema for Workspace properties.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of Workspace."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of Workspace."
        },
        "applicationGroupReferences": {
          "type": "array",
          "description": "List of applicationGroup resource Ids.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WorkspaceList": {
      "type": "object",
      "title": "WorkspaceList",
      "description": "List of Workspace definitions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Workspace definitions.",
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next page of results."
        }
      }
    },
    "WorkspacePatch": {
      "type": "object",
      "description": "Workspace properties that can be patched.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "tags to be updated"
        },
        "properties": {
          "description": "Detailed properties for Workspace",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WorkspacePatchProperties"
        }
      }
    },
    "WorkspacePatchProperties": {
      "description": "Workspace properties that can be patched.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of Workspace."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of Workspace."
        },
        "applicationGroupReferences": {
          "type": "array",
          "description": "List of applicationGroup links.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationGroup": {
      "type": "object",
      "description": "Represents a ApplicationGroup definition.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Detailed properties for ApplicationGroup",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationGroupProperties"
        }
      }
    },
    "ApplicationGroupProperties": {
      "description": "Schema for ApplicationGroup properties.",
      "type": "object",
      "required": [
        "hostPoolArmPath",
        "applicationGroupType"
      ],
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of ApplicationGroup."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of ApplicationGroup."
        },
        "hostPoolArmPath": {
          "type": "string",
          "description": "HostPool arm path of ApplicationGroup.",
          "x-nullable": false
        },
        "workspaceArmPath": {
          "type": "string",
          "description": "Workspace arm path of ApplicationGroup.",
          "readOnly": true
        },
        "applicationGroupType": {
          "enum": [
            "RemoteApp",
            "Desktop"
          ],
          "x-ms-enum": {
            "name": "ApplicationGroupType",
            "modelAsString": true
          },
          "type": "string",
          "description": "Resource Type of ApplicationGroup.",
          "x-nullable": false
        }
      }
    },
    "ApplicationGroupPatch": {
      "type": "object",
      "description": "ApplicationGroup properties that can be patched.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "tags": {
          "type": "object",
          "description": "tags to be updated"
        },
        "properties": {
          "description": "ApplicationGroup properties that can be patched.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationGroupPatchProperties"
        }
      }
    },
    "ApplicationGroupPatchProperties": {
      "description": "ApplicationGroup properties that can be patched.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of ApplicationGroup."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of ApplicationGroup."
        }
      }
    },
    "ApplicationGroupList": {
      "type": "object",
      "title": "ApplicationGroupList",
      "description": "List of ApplicationGroup definitions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of ApplicationGroup definitions.",
          "items": {
            "$ref": "#/definitions/ApplicationGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next page of results."
        }
      }
    },
    "HostPool": {
      "type": "object",
      "description": "Represents a HostPool definition.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Detailed properties for HostPool",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HostPoolProperties"
        }
      }
    },
    "HostPoolProperties": {
      "description": "Properties of HostPool.",
      "type": "object",
      "required": [
        "hostPoolType",
        "loadBalancerType",
        "preferredAppGroupType"
      ],
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of HostPool."
        },
        "description": {
          "type": "string",
          "description": "Description of HostPool."
        },
        "hostPoolType": {
          "enum": [
            "Personal",
            "Shared"
          ],
          "x-ms-enum": {
            "name": "HostPoolType",
            "modelAsString": true
          },
          "type": "string",
          "description": "HostPool type for desktop.",
          "x-nullable": false
        },
        "personalDesktopAssignmentType": {
          "enum": [
            "Automatic",
            "Direct"
          ],
          "x-ms-enum": {
            "name": "PersonalDesktopAssignmentType",
            "modelAsString": true
          },
          "type": "string",
          "description": "PersonalDesktopAssignment type for HostPool.",
          "x-nullable": false
        },
        "customRdpProperty": {
          "type": "string",
          "description": "Custom rdp property of HostPool."
        },
        "maxSessionLimit": {
          "type": "integer",
          "description": "The max session limit of HostPool."
        },
        "loadBalancerType": {
          "enum": [
            "BreadthFirst",
            "DepthFirst",
            "Persistent"
          ],
          "x-ms-enum": {
            "name": "LoadBalancerType",
            "modelAsString": true
          },
          "type": "string",
          "description": "The type of the load balancer.",
          "x-nullable": false
        },
        "ring": {
          "type": "integer",
          "description": "The ring number of HostPool."
        },
        "validationEnvironment": {
          "type": "boolean",
          "description": "Is validation environment."
        },
        "registrationInfo": {
          "$ref": "#/definitions/RegistrationInfo",
          "description": "The registration info of HostPool."
        },
        "vmTemplate": {
          "type": "string",
          "description": "VM template for sessionhosts configuration within hostpool."
        },
        "applicationGroupReferences": {
          "readOnly": true,
          "type": "array",
          "description": "List of applicationGroup links.",
          "items": {
            "type": "string"
          }
        },
        "ssoContext": {
          "type": "string",
          "description": "Path to keyvault containing ssoContext secret."
        },
        "preferredAppGroupType": {
          "enum": [
            "None",
            "Desktop",
            "RailApplications"
          ],
          "x-ms-enum": {
            "name": "PreferredAppGroupType",
            "modelAsString": true
          },
          "type": "string",
          "description": "The type of preferred application group type, default to Desktop Application Group",
          "x-nullable": false
        }
      }
    },
    "HostPoolPatch": {
      "type": "object",
      "description": "HostPool properties that can be patched.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "tags": {
          "type": "object",
          "description": "tags to be updated"
        },
        "properties": {
          "description": "HostPool properties that can be patched.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/HostPoolPatchProperties"
        }
      }
    },
    "HostPoolPatchProperties": {
      "description": "Properties of HostPool.",
      "type": "object",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of HostPool."
        },
        "description": {
          "type": "string",
          "description": "Description of HostPool."
        },
        "customRdpProperty": {
          "type": "string",
          "description": "Custom rdp property of HostPool."
        },
        "maxSessionLimit": {
          "type": "integer",
          "description": "The max session limit of HostPool."
        },
        "personalDesktopAssignmentType": {
          "enum": [
            "Automatic",
            "Direct"
          ],
          "x-ms-enum": {
            "name": "PersonalDesktopAssignmentType",
            "modelAsString": true
          },
          "type": "string",
          "description": "PersonalDesktopAssignment type for HostPool."
        },
        "loadBalancerType": {
          "enum": [
            "BreadthFirst",
            "DepthFirst",
            "Persistent"
          ],
          "x-ms-enum": {
            "name": "LoadBalancerType",
            "modelAsString": true
          },
          "type": "string",
          "description": "The type of the load balancer."
        },
        "ring": {
          "type": "integer",
          "description": "The ring number of HostPool."
        },
        "validationEnvironment": {
          "type": "boolean",
          "description": "Is validation environment."
        },
        "registrationInfo": {
          "$ref": "#/definitions/RegistrationInfoPatch",
          "description": "The registration info of HostPool."
        },
        "ssoContext": {
          "type": "string",
          "description": "Path to keyvault containing ssoContext secret."
        },
        "preferredAppGroupType": {
          "enum": [
            "None",
            "Desktop",
            "RailApplications"
          ],
          "x-ms-enum": {
            "name": "PreferredAppGroupType",
            "modelAsString": true
          },
          "type": "string",
          "description": "The type of preferred application group type, default to Desktop Application Group"
        }
      }
    },
    "RegistrationInfo": {
      "description": "Represents a RegistrationInfo definition.",
      "type": "object",
      "properties": {
        "expirationTime": {
          "format": "date-time",
          "type": "string",
          "description": "Expiration time of registration token."
        },
        "token": {
          "type": "string",
          "description": "The registration token base64 encoded string."
        },
        "registrationTokenOperation": {
          "enum": [
            "Delete",
            "None",
            "Update"
          ],
          "x-ms-enum": {
            "name": "RegistrationTokenOperation",
            "modelAsString": true
          },
          "type": "string",
          "description": "The type of resetting the token.",
          "x-nullable": false
        }
      }
    },
    "RegistrationInfoPatch": {
      "description": "Represents a RegistrationInfo definition.",
      "type": "object",
      "properties": {
        "registrationTokenOperation": {
          "enum": [
            "Delete",
            "None",
            "Update"
          ],
          "x-ms-enum": {
            "name": "RegistrationTokenOperation",
            "modelAsString": true
          },
          "type": "string",
          "description": "The type of resetting the token."
        }
      }
    },
    "SendMessage": {
      "description": "Represents message sent to a UserSession.",
      "type": "object",
      "properties": {
        "messageTitle": {
          "type": "string",
          "description": "Title of message."
        },
        "messageBody": {
          "type": "string",
          "description": "Body of message."
        }
      }
    },
    "HostPoolList": {
      "type": "object",
      "title": "HostPoolList",
      "description": "List of HostPool definitions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of HostPool definitions.",
          "items": {
            "$ref": "#/definitions/HostPool"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next page of results."
        }
      }
    },
    "MSIXPackage": {
      "description": "Schema for MSIX Package properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Detailed properties for MSIX Package",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MSIXPackageProperties",
          "x-nullable": false
        }
      }
    },
    "MSIXPackageProperties": {
      "description": "Schema for MSIX Package properties.",
      "type": "object",
      "properties": {
        "imagePath": {
          "type": "string",
          "description": "VHD/CIM image path on Network Share.",
          "x-nullable": false
        },
        "packageName": {
          "type": "string",
          "description": "Package Name from appxmanifest.xml. ",
          "x-nullable": false
        },
        "packageFamilyName": {
          "type": "string",
          "description": "Package Family Name from appxmanifest.xml. Contains Package Name and Publisher name. ",
          "x-nullable": false
        },
        "displayName": {
          "type": "string",
          "description": "User friendly Name to be displayed in the portal. ",
          "x-nullable": true
        },
        "packageRelativePath": {
          "type": "string",
          "description": "Relative Path to the package inside the image. ",
          "x-nullable": false
        },
        "isRegularRegistration": {
          "type": "boolean",
          "description": "Specifies how to register Package in feed.",
          "x-nullable": false
        },
        "isActive": {
          "type": "boolean",
          "description": "Make this version of the package the active one across the hostpool. ",
          "x-nullable": false
        },
        "packageDependencies": {
          "type": "array",
          "description": "List of package dependencies. ",
          "items": {
            "$ref": "#/definitions/MsixPackageDependencies"
          }
        },
        "version": {
          "type": "string",
          "description": "Package Version found in the appxmanifest.xml. ",
          "x-nullable": false
        },
        "lastUpdated": {
          "format": "date-time",
          "type": "string",
          "description": "Date Package was last updated, found in the appxmanifest.xml. ",
          "x-nullable": false
        },
        "packageApplications": {
          "type": "array",
          "description": "List of package applications. ",
          "items": {
            "$ref": "#/definitions/MsixPackageApplications"
          },
          "x-nullable": false
        }
      }
    },
    "MSIXPackagePatch": {
      "type": "object",
      "description": "MSIX Package properties that can be patched.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Detailed properties for MSIX Package",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MSIXPackagePatchProperties"
        }
      }
    },
    "MSIXPackagePatchProperties": {
      "description": "MSIX Package properties that can be patched.",
      "type": "object",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Set a version of the package to be active across hostpool. "
        },
        "isRegularRegistration": {
          "type": "boolean",
          "description": "Set Registration mode. Regular or Delayed."
        },
        "displayName": {
          "type": "string",
          "description": "Display name for MSIX Package."
        }
      }
    },
    "MsixPackageApplications": {
      "description": "Schema for MSIX Package Application properties.",
      "type": "object",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Package Application Id, found in appxmanifest.xml.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Description of Package Application.",
          "x-nullable": false
        },
        "appUserModelID": {
          "type": "string",
          "description": "Used to activate Package Application. Consists of Package Name and ApplicationID. Found in appxmanifest.xml.",
          "x-nullable": false
        },
        "friendlyName": {
          "type": "string",
          "description": "User friendly name.",
          "x-nullable": false
        },
        "iconImageName": {
          "type": "string",
          "description": "User friendly name.",
          "x-nullable": false
        },
        "rawIcon": {
          "type": "string",
          "format": "byte",
          "description": "the icon a 64 bit string as a byte array."
        },
        "rawPng": {
          "type": "string",
          "format": "byte",
          "description": "the icon a 64 bit string as a byte array."
        }
      }
    },
    "MsixPackageDependencies": {
      "description": "Schema for MSIX Package Dependencies properties.",
      "type": "object",
      "properties": {
        "dependencyName": {
          "type": "string",
          "description": "Name of package dependency.",
          "x-nullable": false
        },
        "publisher": {
          "type": "string",
          "description": "Name of dependency publisher.",
          "x-nullable": false
        },
        "minVersion": {
          "type": "string",
          "description": "Dependency version required.",
          "x-nullable": false
        }
      }
    },
    "MSIXPackageList": {
      "type": "object",
      "title": "MsixPackageList",
      "description": "List of MSIX Package definitions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of MSIX Package definitions.",
          "items": {
            "$ref": "#/definitions/MSIXPackage"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next page of results."
        }
      }
    },
    "Application": {
      "description": "Schema for Application properties.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "description": "Detailed properties for Application",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationProperties"
        }
      }
    },
    "ApplicationProperties": {
      "description": "Schema for Application properties.",
      "type": "object",
      "required": [
        "commandLineSetting"
      ],
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of Application."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of Application."
        },
        "filePath": {
          "type": "string",
          "description": "Specifies a path for the executable file for the application."
        },
        "msixPackageFamilyName": {
          "type": "string",
          "description": "Specifies the package family name for MSIX applications",
          "x-nullable": true,
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "msixPackageApplicationId": {
          "type": "string",
          "description": "Specifies the package application Id for MSIX applications",
          "x-nullable": true,
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "applicationType": {
          "enum": [
            "InBuilt",
            "MsixApplication"
          ],
          "x-ms-enum": {
            "name": "RemoteApplicationType",
            "modelAsString": true
          },
          "type": "string",
          "description": "Resource Type of Application.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "commandLineSetting": {
          "enum": [
            "DoNotAllow",
            "Allow",
            "Require"
          ],
          "x-ms-enum": {
            "name": "CommandLineSetting",
            "modelAsString": true
          },
          "type": "string",
          "description": "Specifies whether this published application can be launched with command line arguments provided by the client, command line arguments specified at publish time, or no command line arguments at all.",
          "x-nullable": false
        },
        "commandLineArguments": {
          "type": "string",
          "description": "Command Line Arguments for Application."
        },
        "showInPortal": {
          "type": "boolean",
          "description": "Specifies whether to show the RemoteApp program in the RD Web Access server."
        },
        "iconPath": {
          "type": "string",
          "description": "Path to icon."
        },
        "iconIndex": {
          "type": "integer",
          "description": "Index of the icon."
        },
        "iconHash": {
          "readOnly": true,
          "type": "string",
          "description": "Hash of the icon."
        },
        "iconContent": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "the icon a 64 bit string as a byte array."
        }
      }
    },
    "ApplicationList": {
      "type": "object",
      "title": "ApplicationList",
      "description": "List of Application definitions.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Application definitions.",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
[...]
