{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Workspaces Control Plane API",
    "version": "2025-05-03-preview",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AzureMonitorWorkspaces"
    },
    {
      "name": "MetricsContainers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListBySubscription",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_ListBySubscription - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_ListByResourceGroup",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_ListByResourceGroup - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}": {
      "get": {
        "operationId": "AzureMonitorWorkspaces_Get",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Returns the specified Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_Get - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AzureMonitorWorkspaces_CreateOrUpdate",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Creates or updates an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Properties that need to be specified to create a new Azure Monitor Workspace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureMonitorWorkspaceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "201": {
            "description": "Resource 'AzureMonitorWorkspaceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_CreateOrUpdate - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "AzureMonitorWorkspaces_Update",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Updates part of an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_Update - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AzureMonitorWorkspaces_Delete",
        "tags": [
          "AzureMonitorWorkspaces"
        ],
        "description": "Deletes an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureMonitorWorkspaces_Delete - generated by [MaximumSet] rule - generated by [MaximumSet] rule": {
            "$ref": "./examples/AzureMonitorWorkspaces_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers": {
      "get": {
        "operationId": "MetricsContainers_ListByAzureMonitorWorkspace",
        "tags": [
          "MetricsContainers"
        ],
        "description": "Lists metrics containers for a monitoring account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MacMetricsContainerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MetricsContainers_ListByAzureMonitorWorkspace_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/MetricsContainers_ListByAzureMonitorWorkspace_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}/metricsContainers/{metricsContainerName}": {
      "get": {
        "operationId": "MetricsContainers_Get",
        "tags": [
          "MetricsContainers"
        ],
        "description": "Gets metrics container settings for a monitoring account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "metricsContainerName",
            "in": "path",
            "description": "The name of the MacMetricsContainer",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MacMetricsContainerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MetricsContainers_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/MetricsContainers_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MetricsContainers_CreateOrUpdate",
        "tags": [
          "MetricsContainers"
        ],
        "description": "Creates or updates metrics container settings for a monitoring account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "metricsContainerName",
            "in": "path",
            "description": "The name of the MacMetricsContainer",
            "required": true,
            "type": "string",
            "pattern": "^default$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MacMetricsContainerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MacMetricsContainerResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MacMetricsContainerResource"
            }
          },
          "201": {
            "description": "Resource 'MacMetricsContainerResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MacMetricsContainerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MetricsContainers_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/MetricsContainers_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "AzureMonitorWorkspace": {
      "type": "object",
      "description": "Properties of an Azure Monitor Workspace",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The immutable Id of the Azure Monitor Workspace. This property is read-only.",
          "readOnly": true
        },
        "metrics": {
          "$ref": "#/definitions/AzureMonitorWorkspaceMetrics",
          "description": "Properties related to the metrics container in the Azure Monitor Workspace",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy.",
          "readOnly": true
        },
        "defaultIngestionSettings": {
          "$ref": "#/definitions/AzureMonitorWorkspaceDefaultIngestionSettings",
          "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace"
        }
      }
    },
    "AzureMonitorWorkspaceDefaultIngestionSettings": {
      "type": "object",
      "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection rule for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "dataCollectionEndpointResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection endpoint for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "dataCollectionRuleImmutableId": {
          "type": "string",
          "description": "The immutable Id of the default data collection rule for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "ingestionEndpoints": {
          "$ref": "#/definitions/IngestionEndpoints",
          "description": "The ingestion endpoints for this Azure Monitor Workspace.",
          "readOnly": true
        }
      }
    },
    "AzureMonitorWorkspaceMetrics": {
      "type": "object",
      "description": "Properties related to the metrics container in the Azure Monitor Workspace",
      "properties": {
        "prometheusQueryEndpoint": {
          "type": "string",
          "description": "The Prometheus query endpoint for the Azure Monitor Workspace",
          "readOnly": true
        },
        "internalId": {
          "type": "string",
          "description": "An internal identifier for the metrics container. Only to be used by the system.",
          "readOnly": true
        },
        "enableAccessUsingResourcePermissions": {
          "type": "boolean",
          "description": "Flag that indicates whether to enable access using resource permissions."
        }
      }
    },
    "AzureMonitorWorkspaceResource": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspace",
          "description": "Resource properties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AzureMonitorWorkspaceResourceListResult": {
      "type": "object",
      "description": "The response of a AzureMonitorWorkspaceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureMonitorWorkspaceResource items on this page",
          "items": {
            "$ref": "#/definitions/AzureMonitorWorkspaceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureMonitorWorkspaceResourceUpdate": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspace",
          "description": "Resource properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "IngestionEndpoints": {
      "type": "object",
      "description": "The ingestion endpoints for an Azure Monitor Workspace.",
      "properties": {
        "metrics": {
          "type": "string",
          "description": "The metrics ingestion endpoint for this Azure Monitor Workspace.",
          "readOnly": true
        }
      }
    },
    "MacMetricsContainer": {
      "type": "object",
      "description": "Properties of a metrics container.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the metrics container.",
          "readOnly": true
        },
        "limits": {
          "$ref": "#/definitions/MacMetricsLimits",
          "description": "Geneva Metrics limits."
        }
      }
    },
    "MacMetricsContainerResource": {
      "type": "object",
      "description": "Metrics container resource for an Azure Monitor Workspace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MacMetricsContainer",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MacMetricsContainerResourceListResult": {
      "type": "object",
      "description": "The response of a MacMetricsContainerResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MacMetricsContainerResource items on this page",
          "items": {
            "$ref": "#/definitions/MacMetricsContainerResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MacMetricsLimits": {
      "type": "object",
      "description": "Definition of Geneva Metrics limits",
      "properties": {
        "maxActiveTimeSeries": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum number of active time series allowed on the metrics containers."
        },
        "maxEventsPerMinute": {
          "type": "integer",
          "format": "int64",
          "description": "Maximum rate (events per minute) that can be processed on the metrics containers."
        }
      }
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Public network access is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Public network access is disabled."
          }
        ]
      }
    }
  },
  "parameters": {}
}
