{
  "swagger": "2.0",
  "info": {
    "title": "ManagedServiceIdentityClient",
    "version": "2023-01-31",
    "description": "The Managed Service Identity Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SystemAssignedIdentities"
    },
    {
      "name": "UserAssignedIdentities"
    },
    {
      "name": "FederatedIdentityCredentials"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Azure.ResourceManager.ManagedServiceIdentities/identities/default": {
      "get": {
        "operationId": "SystemAssignedIdentities_GetByScope",
        "tags": [
          "SystemAssignedIdentities"
        ],
        "description": "Gets the systemAssignedIdentity available under the specified RP scope.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SystemAssignedIdentity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Azure.ResourceManager.ManagedServiceIdentities/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Azure.ResourceManager.ManagedServiceIdentities/userAssignedIdentities": {
      "get": {
        "operationId": "UserAssignedIdentities_ListBySubscription",
        "tags": [
          "UserAssignedIdentities"
        ],
        "description": "Lists all the userAssignedIdentities available under the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.ManagedServiceIdentities/userAssignedIdentities": {
      "get": {
        "operationId": "UserAssignedIdentities_ListByResourceGroup",
        "tags": [
          "UserAssignedIdentities"
        ],
        "description": "Lists all the userAssignedIdentities available under the specified ResourceGroup.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.ManagedServiceIdentities/userAssignedIdentities/{resourceName}": {
      "get": {
        "operationId": "UserAssignedIdentities_Get",
        "tags": [
          "UserAssignedIdentities"
        ],
        "description": "Gets the identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "UserAssignedIdentities_CreateOrUpdate",
        "tags": [
          "UserAssignedIdentities"
        ],
        "description": "Create or update an identity in the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Identity' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "201": {
            "description": "Resource 'Identity' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "UserAssignedIdentities_Update",
        "tags": [
          "UserAssignedIdentities"
        ],
        "description": "Update an identity in the specified subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Identity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "UserAssignedIdentities_Delete",
        "tags": [
          "UserAssignedIdentities"
        ],
        "description": "Deletes the identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.ManagedServiceIdentities/userAssignedIdentities/{resourceName}/federatedIdentityCredentials": {
      "get": {
        "operationId": "FederatedIdentityCredentials_ListByIdentity",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Lists all the federated identity credentials under the specified user assigned identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Number of records to return.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredentialListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.ManagedServiceIdentities/userAssignedIdentities/{resourceName}/federatedIdentityCredentials/{federatedIdentityCredentialResourceName}": {
      "get": {
        "operationId": "FederatedIdentityCredentials_Get",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Gets the federated identity credential.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "federatedIdentityCredentialResourceName",
            "in": "path",
            "description": "The name of the federated identity credential resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "FederatedIdentityCredentials_CreateOrUpdate",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Create or update a federated identity credential under the specified user assigned identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "federatedIdentityCredentialResourceName",
            "in": "path",
            "description": "The name of the federated identity credential resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FederatedIdentityCredential' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          },
          "201": {
            "description": "Resource 'FederatedIdentityCredential' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FederatedIdentityCredential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "FederatedIdentityCredentials_Delete",
        "tags": [
          "FederatedIdentityCredentials"
        ],
        "description": "Deletes the federated identity credential.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the identity resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "federatedIdentityCredentialResourceName",
            "in": "path",
            "description": "The name of the federated identity credential resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]{1}[a-zA-Z0-9-_]{2,119}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "type": "object",
      "description": "An error response from the ManagedServiceIdentity service.",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "A list of additional details about the error."
        }
      }
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "An error response from the ManagedServiceIdentity service.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "description": "A list of additional details about the error.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CreatedByType": {
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true
      }
    },
    "FederatedIdentityCredential": {
      "type": "object",
      "description": "Describes a federated identity credential.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FederatedIdentityCredentialProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "FederatedIdentityCredentialListResult": {
      "type": "object",
      "description": "The response of a FederatedIdentityCredential list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FederatedIdentityCredential items on this page",
          "items": {
            "$ref": "#/definitions/FederatedIdentityCredential"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FederatedIdentityCredentialProperties": {
      "type": "object",
      "description": "The properties associated with a federated identity credential.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "The URL of the issuer to be trusted."
        },
        "subject": {
          "type": "string",
          "description": "The identifier of the external identity."
        },
        "audiences": {
          "type": "array",
          "description": "The list of audiences that can appear in the issued token.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "issuer",
        "subject",
        "audiences"
      ]
    },
    "Identity": {
      "type": "object",
      "description": "Describes an identity resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UserAssignedIdentityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "IdentityListResult": {
      "type": "object",
      "description": "The response of a Identity list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Identity items on this page",
          "items": {
            "$ref": "#/definitions/Identity"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IdentityUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Identity.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SystemAssignedIdentity": {
      "type": "object",
      "description": "Describes a system assigned identity resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SystemAssignedIdentityProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SystemAssignedIdentityProperties": {
      "type": "object",
      "description": "The properties associated with the system assigned identity.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The id of the tenant which the identity belongs to.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The id of the service principal object associated with the created identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The id of the app associated with the identity. This is a random generated UUID by MSI.",
          "readOnly": true
        },
        "clientSecretUrl": {
          "type": "string",
          "description": " The ManagedServiceIdentity DataPlane URL that can be queried to obtain the identity credentials.",
          "readOnly": true
        }
      }
    },
    "UserAssignedIdentityProperties": {
      "type": "object",
      "description": "The properties associated with the user assigned identity.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The id of the tenant which the identity belongs to.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The id of the service principal object associated with the created identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The id of the app associated with the identity. This is a random generated UUID by MSI.",
          "readOnly": true
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2023-01-31"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_01_31",
            "value": "2023-01-31"
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
