{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2024-03-03-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "HypervCollectorsOperations"
    },
    {
      "name": "VmwareCollectorsOperations"
    },
    {
      "name": "ServerCollectorsOperations"
    },
    {
      "name": "ImportCollectorsOperations"
    },
    {
      "name": "SqlCollectorOperations"
    },
    {
      "name": "ImportSqlCollectorOperations"
    },
    {
      "name": "WebAppCollectorOperations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/hypervcollectors": {
      "get": {
        "operationId": "HypervCollectorsOperations_ListByParent",
        "tags": [
          "HypervCollectorsOperations"
        ],
        "description": "List HypervCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervCollectorsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/HypervCollectorsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/hypervcollectors/{hypervCollectorName}": {
      "get": {
        "operationId": "HypervCollectorsOperations_Get",
        "tags": [
          "HypervCollectorsOperations"
        ],
        "description": "Get a HypervCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "hypervCollectorName",
            "in": "path",
            "description": "Hyper-V collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervCollectorsOperations_Get": {
            "$ref": "./examples/HypervCollectorsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "HypervCollectorsOperations_Create",
        "tags": [
          "HypervCollectorsOperations"
        ],
        "description": "Create a HypervCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "hypervCollectorName",
            "in": "path",
            "description": "Hyper-V collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HypervCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            }
          },
          "201": {
            "description": "Resource 'HypervCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HypervCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervCollectorsOperations_Create": {
            "$ref": "./examples/HypervCollectorsOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HypervCollectorsOperations_Delete",
        "tags": [
          "HypervCollectorsOperations"
        ],
        "description": "Delete a HypervCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "hypervCollectorName",
            "in": "path",
            "description": "Hyper-V collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HypervCollectorsOperations_Delete": {
            "$ref": "./examples/HypervCollectorsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/importSqlCollectors": {
      "get": {
        "operationId": "ImportSqlCollectorOperations_ListByParent",
        "tags": [
          "ImportSqlCollectorOperations"
        ],
        "description": "List ImportSqlCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportSqlCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportSqlCollectorOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/ImportSqlCollectorOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/importSqlCollectors/{importSqlCollectorsName}": {
      "get": {
        "operationId": "ImportSqlCollectorOperations_Get",
        "tags": [
          "ImportSqlCollectorOperations"
        ],
        "description": "Get a ImportSqlCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "importSqlCollectorsName",
            "in": "path",
            "description": "Import SQL Collector arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportSqlCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportSqlCollectorOperations_Get_MaximumSet": {
            "$ref": "./examples/ImportSqlCollectorOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ImportSqlCollectorOperations_Create",
        "tags": [
          "ImportSqlCollectorOperations"
        ],
        "description": "Create a ImportSqlCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "importSqlCollectorsName",
            "in": "path",
            "description": "Import SQL Collector arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportSqlCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ImportSqlCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImportSqlCollector"
            }
          },
          "201": {
            "description": "Resource 'ImportSqlCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImportSqlCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportSqlCollectorOperations_Create_MaximumSet": {
            "$ref": "./examples/ImportSqlCollectorOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ImportSqlCollectorOperations_Delete",
        "tags": [
          "ImportSqlCollectorOperations"
        ],
        "description": "Delete a ImportSqlCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "importSqlCollectorsName",
            "in": "path",
            "description": "Import SQL Collector arm name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportSqlCollectorOperations_Delete_MaximumSet": {
            "$ref": "./examples/ImportSqlCollectorOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/importcollectors": {
      "get": {
        "operationId": "ImportCollectorsOperations_ListByParent",
        "tags": [
          "ImportCollectorsOperations"
        ],
        "description": "List ImportCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportCollectorsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/ImportCollectorsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/importcollectors/{importCollectorName}": {
      "get": {
        "operationId": "ImportCollectorsOperations_Get",
        "tags": [
          "ImportCollectorsOperations"
        ],
        "description": "Get a ImportCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "importCollectorName",
            "in": "path",
            "description": "Import collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ImportCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportCollectorsOperations_Get": {
            "$ref": "./examples/ImportCollectorsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ImportCollectorsOperations_Create",
        "tags": [
          "ImportCollectorsOperations"
        ],
        "description": "Create a ImportCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "importCollectorName",
            "in": "path",
            "description": "Import collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ImportCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImportCollector"
            }
          },
          "201": {
            "description": "Resource 'ImportCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ImportCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportCollectorsOperations_Create": {
            "$ref": "./examples/ImportCollectorsOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ImportCollectorsOperations_Delete",
        "tags": [
          "ImportCollectorsOperations"
        ],
        "description": "Delete a ImportCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "importCollectorName",
            "in": "path",
            "description": "Import collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImportCollectorsOperations_Delete": {
            "$ref": "./examples/ImportCollectorsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors": {
      "get": {
        "operationId": "ServerCollectorsOperations_ListByParent",
        "tags": [
          "ServerCollectorsOperations"
        ],
        "description": "List ServerCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServerCollectorsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/ServerCollectorsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/servercollectors/{serverCollectorName}": {
      "get": {
        "operationId": "ServerCollectorsOperations_Get",
        "tags": [
          "ServerCollectorsOperations"
        ],
        "description": "Get a ServerCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "serverCollectorName",
            "in": "path",
            "description": "Physical server collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServerCollectorsOperations_Get": {
            "$ref": "./examples/ServerCollectorsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ServerCollectorsOperations_Create",
        "tags": [
          "ServerCollectorsOperations"
        ],
        "description": "Create a ServerCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "serverCollectorName",
            "in": "path",
            "description": "Physical server collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServerCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            }
          },
          "201": {
            "description": "Resource 'ServerCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServerCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServerCollectorsOperations_Create": {
            "$ref": "./examples/ServerCollectorsOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ServerCollectorsOperations_Delete",
        "tags": [
          "ServerCollectorsOperations"
        ],
        "description": "Delete a ServerCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "serverCollectorName",
            "in": "path",
            "description": "Physical server collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServerCollectorsOperations_Delete": {
            "$ref": "./examples/ServerCollectorsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlcollectors": {
      "get": {
        "operationId": "SqlCollectorOperations_ListByParent",
        "tags": [
          "SqlCollectorOperations"
        ],
        "description": "List SqlCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlCollectorOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/SqlCollectorOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/sqlcollectors/{collectorName}": {
      "get": {
        "operationId": "SqlCollectorOperations_Get",
        "tags": [
          "SqlCollectorOperations"
        ],
        "description": "Get a SqlCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "collectorName",
            "in": "path",
            "description": "Sql collector ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlCollectorOperations_Get": {
            "$ref": "./examples/SqlCollectorOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "SqlCollectorOperations_Create",
        "tags": [
          "SqlCollectorOperations"
        ],
        "description": "Create a SqlCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "collectorName",
            "in": "path",
            "description": "Sql collector ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlCollector"
            }
          },
          "201": {
            "description": "Resource 'SqlCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlCollectorOperations_Create": {
            "$ref": "./examples/SqlCollectorOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SqlCollectorOperations_Delete",
        "tags": [
          "SqlCollectorOperations"
        ],
        "description": "Delete a SqlCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "collectorName",
            "in": "path",
            "description": "Sql collector ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SqlCollectorOperations_Delete": {
            "$ref": "./examples/SqlCollectorOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors": {
      "get": {
        "operationId": "VmwareCollectorsOperations_ListByParent",
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "description": "List VmwareCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmwareCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmwareCollectorsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/VmwareCollectorsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/vmwarecollectors/{vmWareCollectorName}": {
      "get": {
        "operationId": "VmwareCollectorsOperations_Get",
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "description": "Get a VmwareCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "vmWareCollectorName",
            "in": "path",
            "description": "VMware collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmwareCollectorsOperations_Get": {
            "$ref": "./examples/VmwareCollectorsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VmwareCollectorsOperations_Create",
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "description": "Create a VmwareCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "vmWareCollectorName",
            "in": "path",
            "description": "VMware collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VmwareCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            }
          },
          "201": {
            "description": "Resource 'VmwareCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VmwareCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmwareCollectorsOperations_Create": {
            "$ref": "./examples/VmwareCollectorsOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VmwareCollectorsOperations_Delete",
        "tags": [
          "VmwareCollectorsOperations"
        ],
        "description": "Delete a VmwareCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "vmWareCollectorName",
            "in": "path",
            "description": "VMware collector ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VmwareCollectorsOperations_Delete": {
            "$ref": "./examples/VmwareCollectorsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppCollectors": {
      "get": {
        "operationId": "WebAppCollectorOperations_ListByParent",
        "tags": [
          "WebAppCollectorOperations"
        ],
        "description": "List WebAppCollector resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WebAppCollectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebAppCollectorOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/WebAppCollectorOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/webAppCollectors/{collectorName}": {
      "get": {
        "operationId": "WebAppCollectorOperations_Get",
        "tags": [
          "WebAppCollectorOperations"
        ],
        "description": "Get a WebAppCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "collectorName",
            "in": "path",
            "description": "Web app collector ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WebAppCollector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebAppCollectorOperations_Get": {
            "$ref": "./examples/WebAppCollectorOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "WebAppCollectorOperations_Create",
        "tags": [
          "WebAppCollectorOperations"
        ],
        "description": "Create a WebAppCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "collectorName",
            "in": "path",
            "description": "Web app collector ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebAppCollector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WebAppCollector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WebAppCollector"
            }
          },
          "201": {
            "description": "Resource 'WebAppCollector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WebAppCollector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebAppCollectorOperations_Create": {
            "$ref": "./examples/WebAppCollectorOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "WebAppCollectorOperations_Delete",
        "tags": [
          "WebAppCollectorOperations"
        ],
        "description": "Delete a WebAppCollector",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "collectorName",
            "in": "path",
            "description": "Web app collector ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WebAppCollectorOperations_Delete": {
            "$ref": "./examples/WebAppCollectorOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssessmentProject": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssessmentSizingCriterion": {
      "type": "string",
      "description": "Assessment Sizing Criteria.",
      "enum": [
        "PerformanceBased",
        "AsOnPremises"
      ],
      "x-ms-enum": {
        "name": "AssessmentSizingCriterion",
        "modelAsString": true,
        "values": [
          {
            "name": "PerformanceBased",
            "value": "PerformanceBased",
            "description": "Performance Data based Sizing."
          },
          {
            "name": "AsOnPremises",
            "value": "AsOnPremises",
            "description": "As On Premises or Static Data based Sizing."
          }
        ]
      }
    },
    "AssessmentStatus": {
      "type": "string",
      "description": "Assessment Status.",
      "enum": [
        "Created",
        "Updated",
        "Running",
        "Completed",
        "Invalid",
        "OutOfSync",
        "OutDated",
        "Deleted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AssessmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Assessment is Created."
          },
          {
            "name": "Updated",
            "value": "Updated",
            "description": "Assessment is Updated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Assessment is currently running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Assessment is Completed or Ready."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Assessment is Failed i.e. it is now invalid."
          },
          {
            "name": "OutOfSync",
            "value": "OutOfSync",
            "description": "Assessment is Out of Sync."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "Assessment is Out Dated."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Assessment is Deleted."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Assessment has Failed."
          }
        ]
      }
    },
    "AzureCurrency": {
      "type": "string",
      "description": "Currency for Azure.",
      "enum": [
        "Unknown",
        "USD",
        "DKK",
        "CAD",
        "IDR",
        "JPY",
        "KRW",
        "NZD",
        "NOK",
        "RUB",
        "SAR",
        "ZAR",
        "SEK",
        "TRY",
        "GBP",
        "MXN",
        "MYR",
        "INR",
        "HKD",
        "BRL",
        "TWD",
        "EUR",
        "CHF",
        "ARS",
        "AUD",
        "CNY"
      ],
      "x-ms-enum": {
        "name": "AzureCurrency",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Currency for Azure"
          },
          {
            "name": "USD",
            "value": "USD",
            "description": "USD Currency for Azure"
          },
          {
            "name": "DKK",
            "value": "DKK",
            "description": "DKK Currency for Azure"
          },
          {
            "name": "CAD",
            "value": "CAD",
            "description": "CAD Currency for Azure"
          },
          {
            "name": "IDR",
            "value": "IDR",
            "description": "IDR Currency for Azure"
          },
          {
            "name": "JPY",
            "value": "JPY",
            "description": "JPY Currency for Azure"
          },
          {
            "name": "KRW",
            "value": "KRW",
            "description": "KRW Currency for Azure"
          },
          {
            "name": "NZD",
            "value": "NZD",
            "description": "NZD Currency for Azure"
          },
          {
            "name": "NOK",
            "value": "NOK",
            "description": "NOK Currency for Azure"
          },
          {
            "name": "RUB",
            "value": "RUB",
            "description": "RUB Currency for Azure"
          },
          {
            "name": "SAR",
            "value": "SAR",
            "description": "SAR Currency for Azure"
          },
          {
            "name": "ZAR",
            "value": "ZAR",
            "description": "ZAR Currency for Azure"
          },
          {
            "name": "SEK",
            "value": "SEK",
            "description": "SEK Currency for Azure"
          },
          {
            "name": "TRY",
            "value": "TRY",
            "description": "TRY Currency for Azure"
          },
          {
            "name": "GBP",
            "value": "GBP",
            "description": "GBP Currency for Azure"
          },
          {
            "name": "MXN",
            "value": "MXN",
            "description": "MXN Currency for Azure"
          },
          {
            "name": "MYR",
            "value": "MYR",
            "description": "MYR Currency for Azure"
          },
          {
            "name": "INR",
            "value": "INR",
            "description": "INR Currency for Azure"
          },
          {
            "name": "HKD",
            "value": "HKD",
            "description": "HKD Currency for Azure"
          },
          {
            "name": "BRL",
            "value": "BRL",
            "description": "BRL Currency for Azure"
          },
          {
            "name": "TWD",
            "value": "TWD",
            "description": "TWD Currency for Azure"
          },
          {
            "name": "EUR",
            "value": "EUR",
            "description": "EUR Currency for Azure"
          },
          {
            "name": "CHF",
            "value": "CHF",
            "description": "CHF Currency for Azure"
          },
          {
            "name": "ARS",
            "value": "ARS",
            "description": "ARS Currency for Azure"
          },
          {
            "name": "AUD",
            "value": "AUD",
            "description": "AUD Currency for Azure"
          },
          {
            "name": "CNY",
            "value": "CNY",
            "description": "CNY Currency for Azure"
          }
        ]
      }
    },
    "AzureLocation": {
      "type": "string",
      "description": "Location for Azure.",
      "enum": [
        "Unknown",
        "EastAsia",
        "SoutheastAsia",
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CanadaCentral",
        "CanadaEast",
        "WestEurope",
        "NorthEurope",
        "CentralIndia",
        "SouthIndia",
        "WestIndia",
        "JapanEast",
        "JapanWest",
        "KoreaCentral",
        "KoreaSouth",
        "UkWest",
        "UkSouth",
        "NorthCentralUs",
        "EastUs",
        "WestUs2",
        "SouthCentralUs",
        "CentralUs",
        "EastUs2",
        "WestUs",
        "WestCentralUs",
        "GermanyCentral",
        "GermanyNortheast",
        "ChinaNorth",
        "ChinaEast",
        "USGovArizona",
        "USGovTexas",
        "USGovIowa",
        "USGovVirginia",
        "USDoDCentral",
        "USDoDEast",
        "FranceCentral",
        "AustraliaCentral",
        "SouthAfricaNorth",
        "FranceSouth",
        "AustraliaCentral2",
        "SouthAfricaWest",
        "GermanyNorth",
        "GermanyWestCentral",
        "NorwayEast",
        "NorwayWest",
        "ChinaEast2",
        "ChinaNorth2",
        "SwitzerlandNorth",
        "SwitzerlandWest",
        "UAENorth",
        "UAECentral",
        "UsNatEast",
        "UsNatWest",
        "UsSecEast",
        "UsSecCentral",
        "UsSecWest",
        "SwedenCentral",
        "QatarCentral",
        "JioIndiaWest",
        "ItalyNorth",
        "PolandCentral",
        "IsraelCentral",
        "MexicoCentral",
        "NewZealandNorth",
        "SpainCentral"
      ],
      "x-ms-enum": {
        "name": "AzureLocation",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Location for Azure"
          },
          {
            "name": "EastAsia",
            "value": "EastAsia",
            "description": "EastAsia Location for Azure"
          },
          {
            "name": "SoutheastAsia",
            "value": "SoutheastAsia",
            "description": "SoutheastAsia Location for Azure"
          },
          {
            "name": "AustraliaEast",
            "value": "AustraliaEast",
            "description": "AustraliaEast Location for Azure"
          },
          {
            "name": "AustraliaSoutheast",
            "value": "AustraliaSoutheast",
            "description": "AustraliaSoutheast Location for Azure"
          },
          {
            "name": "BrazilSouth",
            "value": "BrazilSouth",
            "description": "BrazilSouth Location for Azure"
          },
          {
            "name": "CanadaCentral",
            "value": "CanadaCentral",
            "description": "CanadaCentral Location for Azure"
          },
          {
            "name": "CanadaEast",
            "value": "CanadaEast",
            "description": "CanadaEast Location for Azure"
          },
          {
            "name": "WestEurope",
            "value": "WestEurope",
            "description": "WestEurope Location for Azure"
          },
          {
            "name": "NorthEurope",
            "value": "NorthEurope",
            "description": "NorthEurope Location for Azure"
          },
          {
            "name": "CentralIndia",
            "value": "CentralIndia",
            "description": "CentralIndia Location for Azure"
          },
          {
            "name": "SouthIndia",
            "value": "SouthIndia",
            "description": "SouthIndia Location for Azure"
          },
          {
            "name": "WestIndia",
            "value": "WestIndia",
            "description": "WestIndia Location for Azure"
          },
          {
            "name": "JapanEast",
            "value": "JapanEast",
            "description": "JapanEast Location for Azure"
          },
          {
            "name": "JapanWest",
            "value": "JapanWest",
            "description": "JapanWest Location for Azure"
          },
          {
            "name": "KoreaCentral",
            "value": "KoreaCentral",
            "description": "KoreaCentral Location for Azure"
          },
          {
            "name": "KoreaSouth",
            "value": "KoreaSouth",
            "description": "KoreaSouth Location for Azure"
          },
          {
            "name": "UkWest",
            "value": "UkWest",
            "description": "UkWest Location for Azure"
          },
          {
            "name": "UkSouth",
            "value": "UkSouth",
            "description": "UkSouth Location for Azure"
          },
          {
            "name": "NorthCentralUs",
            "value": "NorthCentralUs",
            "description": "NorthCentralUs Location for Azure"
          },
          {
            "name": "EastUs",
            "value": "EastUs",
            "description": "EastUs Location for Azure"
          },
          {
            "name": "WestUs2",
            "value": "WestUs2",
            "description": "WestUs2 Location for Azure"
          },
          {
            "name": "SouthCentralUs",
            "value": "SouthCentralUs",
            "description": "SouthCentralUs Location for Azure"
          },
          {
            "name": "CentralUs",
            "value": "CentralUs",
            "description": "CentralUs Location for Azure"
          },
          {
            "name": "EastUs2",
            "value": "EastUs2",
            "description": "EastUs2 Location for Azure"
          },
          {
            "name": "WestUs",
            "value": "WestUs",
            "description": "WestUs Location for Azure"
          },
          {
            "name": "WestCentralUs",
            "value": "WestCentralUs",
            "description": "WestCentralUs Location for Azure"
          },
          {
            "name": "GermanyCentral",
            "value": "GermanyCentral",
            "description": "GermanyCentral Location for Azure"
          },
          {
            "name": "GermanyNortheast",
            "value": "GermanyNortheast",
            "description": "GermanyNortheast Location for Azure"
          },
          {
            "name": "ChinaNorth",
            "value": "ChinaNorth",
            "description": "ChinaNorth Location for Azure"
          },
          {
            "name": "ChinaEast",
            "value": "ChinaEast",
            "description": "ChinaEast Location for Azure"
          },
          {
            "name": "USGovArizona",
            "value": "USGovArizona",
            "description": "USGovArizona Location for Azure"
          },
          {
            "name": "USGovTexas",
            "value": "USGovTexas",
            "description": "USGovTexas Location for Azure"
          },
          {
            "name": "USGovIowa",
            "value": "USGovIowa",
            "description": "USGovIowa Location for Azure"
          },
          {
            "name": "USGovVirginia",
            "value": "USGovVirginia",
            "description": "USGovVirginia Location for Azure"
          },
          {
            "name": "USDoDCentral",
            "value": "USDoDCentral",
            "description": "USDoDCentral Location for Azure"
          },
          {
            "name": "USDoDEast",
            "value": "USDoDEast",
            "description": "USDoDEast Location for Azure"
          },
          {
            "name": "FranceCentral",
            "value": "FranceCentral",
            "description": "FranceCentral Location for Azure"
          },
          {
            "name": "AustraliaCentral",
            "value": "AustraliaCentral",
            "description": "AustraliaCentral Location for Azure"
          },
          {
            "name": "SouthAfricaNorth",
            "value": "SouthAfricaNorth",
            "description": "SouthAfricaNorth Location for Azure"
          },
          {
            "name": "FranceSouth",
            "value": "FranceSouth",
            "description": "FranceSouth Location for Azure"
          },
          {
            "name": "AustraliaCentral2",
            "value": "AustraliaCentral2",
            "description": "AustraliaCentral2 Location for Azure"
          },
          {
            "name": "SouthAfricaWest",
            "value": "SouthAfricaWest",
            "description": "SouthAfricaWest Location for Azure"
          },
          {
            "name": "GermanyNorth",
            "value": "GermanyNorth",
            "description": "GermanyNorth Location for Azure"
          },
          {
            "name": "GermanyWestCentral",
            "value": "GermanyWestCentral",
            "description": "GermanyWestCentral Location for Azure"
          },
          {
            "name": "NorwayEast",
            "value": "NorwayEast",
            "description": "NorwayEast Location for Azure"
          },
          {
            "name": "NorwayWest",
            "value": "NorwayWest",
            "description": "NorwayWest Location for Azure"
          },
          {
            "name": "ChinaEast2",
            "value": "ChinaEast2",
            "description": "ChinaEast2 Location for Azure"
          },
          {
            "name": "ChinaNorth2",
            "value": "ChinaNorth2",
            "description": "ChinaNorth2 Location for Azure"
          },
          {
            "name": "SwitzerlandNorth",
            "value": "SwitzerlandNorth",
            "description": "SwitzerlandNorth Location for Azure"
          },
          {
            "name": "SwitzerlandWest",
            "value": "SwitzerlandWest",
            "description": "SwitzerlandWest Location for Azure"
          },
          {
            "name": "UAENorth",
            "value": "UAENorth",
            "description": "UAENorth Location for Azure"
          },
          {
            "name": "UAECentral",
            "value": "UAECentral",
            "description": "UAECentral Location for Azure"
          },
          {
            "name": "UsNatEast",
            "value": "UsNatEast",
            "description": "UsNatEast Location for Azure"
          },
          {
            "name": "UsNatWest",
            "value": "UsNatWest",
            "description": "UsNatWest Location for Azure"
          },
          {
            "name": "UsSecEast",
            "value": "UsSecEast",
            "description": "UsSecEast Location for Azure"
          },
          {
            "name": "UsSecCentral",
            "value": "UsSecCentral",
            "description": "UsSecCentral Location for Azure"
          },
          {
            "name": "UsSecWest",
            "value": "UsSecWest",
            "description": "UsSecWest Location for Azure"
          },
          {
            "name": "SwedenCentral",
            "value": "SwedenCentral",
            "description": "SwedenCentral Location for Azure"
          },
          {
            "name": "QatarCentral",
            "value": "QatarCentral",
            "description": "QatarCentral Location for Azure"
          },
          {
            "name": "JioIndiaWest",
            "value": "JioIndiaWest",
            "description": "JioIndiaWest Location for Azure"
          },
          {
            "name": "ItalyNorth",
            "value": "ItalyNorth",
            "description": "ItalyNorth Location for Azure"
          },
          {
            "name": "PolandCentral",
            "value": "PolandCentral",
            "description": "PolandCentral Location for Azure"
          },
          {
            "name": "IsraelCentral",
            "value": "IsraelCentral",
            "description": "IsraelCentral Location for Azure"
          },
          {
            "name": "MexicoCentral",
            "value": "MexicoCentral",
            "description": "MexicoCentral Location for Azure"
          },
          {
            "name": "NewZealandNorth",
            "value": "NewZealandNorth",
            "description": "NewZealandNorth Location for Azure"
          },
          {
            "name": "SpainCentral",
            "value": "SpainCentral",
            "description": "SpainCentral Location for Azure"
          }
        ]
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AzureWebAppTier": {
      "type": "string",
      "description": "Wep App Tier.",
      "enum": [
        "Unknown",
        "Free",
        "Shared",
        "Basic",
        "Standard",
        "Premium",
        "PremiumV2",
        "Isolated"
      ],
      "x-ms-enum": {
        "name": "AzureWebAppTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates Missing Data."
          },
          {
            "name": "Free",
            "value": "Free",
            "description": "Free Tier."
          },
          {
            "name": "Shared",
            "value": "Shared",
            "description": "Shared Tier."
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic Tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Tier."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium Tier."
          },
          {
            "name": "PremiumV2",
            "value": "PremiumV2",
            "description": "PremiumV2 Tier."
          },
          {
            "name": "Isolated",
            "value": "Isolated",
            "description": "Isolated Tier."
          }
        ]
      }
    },
    "CloudSuitability": {
      "type": "string",
      "description": "Cloud Suitability for Azure.",
      "enum": [
        "Unknown",
        "NotSuitable",
        "Suitable",
        "ConditionallySuitable",
        "ReadinessUnknown"
      ],
      "x-ms-enum": {
        "name": "CloudSuitability",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates missing data."
          },
          {
            "name": "NotSuitable",
            "value": "NotSuitable",
            "description": "Not Suitable for Azure."
          },
          {
            "name": "Suitable",
            "value": "Suitable",
            "description": "Suitable for Azure."
          },
          {
            "name": "ConditionallySuitable",
            "value": "ConditionallySuitable",
            "description": "Conditionally Suitable for Azure."
          },
          {
            "name": "ReadinessUnknown",
            "value": "ReadinessUnknown",
            "description": "Unknown Readiness for Azure."
          }
        ]
      }
    },
    "CollectorAgentPropertiesBase": {
      "type": "object",
      "description": "Collector agent property class.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets the collector agent id."
        },
        "version": {
          "type": "string",
          "description": "Gets the collector agent version."
        },
        "lastHeartbeatUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the collector last heartbeat time."
        },
        "spnDetails": {
          "$ref": "#/definitions/CollectorAgentSpnPropertiesBase",
          "description": "Gets or sets the SPN details."
        }
      }
    },
    "CollectorAgentSpnPropertiesBase": {
      "type": "object",
      "description": "Collector agent SPN details class.",
      "properties": {
        "authority": {
          "type": "string",
          "description": "Gets the AAD authority endpoint."
        },
        "applicationId": {
          "type": "string",
          "description": "Gets the AAD application id."
        },
        "audience": {
          "type": "string",
          "description": "Gets the AAD audience url."
        },
        "objectId": {
          "type": "string",
          "description": "Gets the object id of the AAD application."
        },
        "tenantId": {
          "type": "string",
          "description": "Gets the tenant id of the AAD application."
        }
      }
    },
    "CollectorPropertiesBase": {
      "type": "object",
      "description": "Collector properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "discoverySiteId": {
          "type": "string",
          "description": "Gets the discovery site id."
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the Timestamp when collector was created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when collector was last updated.",
          "readOnly": true
        }
      }
    },
    "CollectorPropertiesBaseWithAgent": {
      "type": "object",
      "description": "Collector properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "agentProperties": {
          "$ref": "#/definitions/CollectorAgentPropertiesBase",
          "description": "Gets or sets the collector agent properties."
        },
        "discoverySiteId": {
          "type": "string",
          "description": "Gets the discovery site id."
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the Timestamp when collector was created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when collector was last updated.",
          "readOnly": true
        }
      }
    },
    "HypervCollector": {
      "type": "object",
      "description": "Hyper-V collector resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CollectorPropertiesBaseWithAgent",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HypervCollectorListResult": {
      "type": "object",
      "description": "The response of a HypervCollector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HypervCollector items on this page",
          "items": {
            "$ref": "#/definitions/HypervCollector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ImportCollector": {
      "type": "object",
      "description": "Import collector resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CollectorPropertiesBase",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ImportCollectorListResult": {
      "type": "object",
      "description": "The response of a ImportCollector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ImportCollector items on this page",
          "items": {
            "$ref": "#/definitions/ImportCollector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ImportSqlCollector": {
      "type": "object",
      "description": "Import SQL Collector REST resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ImportSqlCollectorProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ImportSqlCollectorListResult": {
      "type": "object",
      "description": "The response of a ImportSqlCollector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ImportSqlCollector items on this page",
          "items": {
            "$ref": "#/definitions/ImportSqlCollector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ImportSqlCollectorProperties": {
      "type": "object",
      "description": "Import SQL Collector properties class.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "discoverySiteId": {
          "type": "string",
          "description": "The sql db extended details."
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was import SQL collector first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was import SQL collector last updated.",
          "readOnly": true
        }
      }
    },
    "LicensingProgram": {
      "type": "string",
      "description": "The licensing program.",
      "enum": [
        "Retail",
        "Unknown",
        "EA",
        "MCA"
      ],
      "x-ms-enum": {
        "name": "LicensingProgram",
        "modelAsString": true,
        "values": [
          {
            "name": "Retail",
            "value": "Retail",
            "description": "Retail/Pay as you go."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Not known"
          },
          {
            "name": "EA",
            "value": "EA",
            "description": "Enterprise agreement."
          },
          {
            "name": "MCA",
            "value": "MCA",
            "description": "Microsoft customer agreement."
          }
        ]
      }
    },
    "Percentile": {
      "type": "string",
      "description": "Percentile for Performance Data.",
      "enum": [
        "Percentile50",
        "Percentile90",
        "Percentile95",
        "Percentile99",
        "PercentileUnknown"
      ],
      "x-ms-enum": {
        "name": "Percentile",
        "modelAsString": true,
        "values": [
          {
            "name": "Percentile50",
            "value": "Percentile50",
            "description": "Percentile 50."
          },
          {
            "name": "Percentile90",
            "value": "Percentile90",
            "description": "Percentile 90."
          },
          {
            "name": "Percentile95",
            "value": "Percentile95",
            "description": "Percentile 95."
          },
          {
            "name": "Percentile99",
            "value": "Percentile99",
            "description": "Percentile 99."
          },
          {
            "name": "PercentileUnknown",
            "value": "PercentileUnknown",
            "description": "Percentile unknown."
          }
        ]
      }
    },
    "PremiumDiskSupport": {
      "type": "string",
      "description": "Premium Disk Support",
      "enum": [
        "PremiumDiskSupported",
        "PremiumDiskNotSupported"
      ],
      "x-ms-enum": {
        "name": "PremiumDiskSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "PremiumDiskSupported",
            "value": "PremiumDiskSupported",
            "description": "Premium Disk Supported"
          },
          {
            "name": "PremiumDiskNotSupported",
            "value": "PremiumDiskNotSupported",
            "description": "Premium Disk Not Supported"
          }
        ]
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "Private endpoint connection resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProjectProperties": {
      "type": "object",
      "description": "Properties of a project.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was last updated. Date-Time represented in ISO-8601\nformat.",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Endpoint at which the collector agent can call agent REST API.",
          "readOnly": true
        },
        "assessmentSolutionId": {
          "type": "string",
          "description": "Assessment solution ARM id tracked by Microsoft.Migrate/migrateProjects."
        },
        "projectStatus": {
          "$ref": "#/definitions/ProjectStatus",
          "description": "Assessment project status."
        },
        "customerWorkspaceId": {
          "type": "string",
          "description": "The ARM id of service map workspace created by customer."
        },
        "customerWorkspaceLocation": {
          "type": "string",
          "description": "Location of service map workspace created by customer."
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "This value can be set to 'enabled' to avoid breaking changes on existing\ncustomer resources and templates. If set to 'disabled', traffic over public\ninterface is not allowed, and private endpoint connections would be the\nexclusive access method."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The list of private endpoint connections to the project.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "customerStorageAccountArmId": {
          "type": "string",
          "description": "The ARM id of the storage account used for interactions when public access is\ndisabled."
        }
      }
    },
    "ProjectStatus": {
      "type": "string",
      "description": "Project Status.",
      "enum": [
        "Active",
        "Inactive"
      ],
      "x-ms-enum": {
        "name": "ProjectStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active Status."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "Inactive Status."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource provisioning Successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource provisioning Canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource is being Provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being Updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being Deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource is being Accepted."
          }
        ]
      },
      "readOnly": true
    },
    "SavingsOptions": {
      "type": "string",
      "description": "The savings options.",
      "enum": [
        "None",
        "RI1Year",
        "RI3Year",
        "SavingsPlan1Year",
        "SavingsPlan3Year",
        "CustomAzureOfferCode"
      ],
      "x-ms-enum": {
        "name": "SavingsOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No savings options."
          },
          {
            "name": "RI1Year",
            "value": "RI1Year",
[...]
