{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2020-01-01",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AllowedConnections"
    },
    {
      "name": "DiscoveredSecuritySolutions"
    },
    {
      "name": "ExternalSecuritySolutions"
    },
    {
      "name": "JitNetworkAccessPolicies"
    },
    {
      "name": "SecuritySolutions"
    },
    {
      "name": "ServerVulnerabilityAssessments"
    },
    {
      "name": "ServerVulnerabilityAssessment"
    },
    {
      "name": "Topology"
    },
    {
      "name": "securitySolutionsReferenceData"
    },
    {
      "name": "SecuritySolutionsReferenceData"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/allowedConnections": {
      "get": {
        "operationId": "AllowedConnections_List",
        "tags": [
          "AllowedConnections"
        ],
        "description": "Gets the list of all possible traffic between resources for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AllowedConnectionsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get allowed connections on a subscription": {
            "$ref": "./examples/AllowedConnections/GetAllowedConnectionsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions": {
      "get": {
        "operationId": "DiscoveredSecuritySolutions_List",
        "tags": [
          "DiscoveredSecuritySolutions"
        ],
        "description": "Gets a list of discovered Security Solutions for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DiscoveredSecuritySolutionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get discovered security solutions": {
            "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/externalSecuritySolutions": {
      "get": {
        "operationId": "ExternalSecuritySolutions_List",
        "tags": [
          "ExternalSecuritySolutions"
        ],
        "description": "Gets a list of external security solutions for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExternalSecuritySolutionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get external security solutions on a subscription": {
            "$ref": "./examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
      "get": {
        "operationId": "JitNetworkAccessPolicies_List",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get JIT network access policies on a subscription": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions": {
      "get": {
        "operationId": "ExternalSecuritySolutions_ListByHomeRegion",
        "tags": [
          "ExternalSecuritySolutions"
        ],
        "description": "Gets a list of external Security Solutions for the subscription and location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExternalSecuritySolutionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get external security solutions on a subscription from security data location": {
            "$ref": "./examples/ExternalSecuritySolutions/GetExternalSecuritySolutionsSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections": {
      "get": {
        "operationId": "AllowedConnections_ListByHomeRegion",
        "tags": [
          "AllowedConnections"
        ],
        "description": "Gets the list of all possible traffic between resources for the subscription and location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AllowedConnectionsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get allowed connections on a subscription from security data location": {
            "$ref": "./examples/AllowedConnections/GetAllowedConnectionsSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions": {
      "get": {
        "operationId": "DiscoveredSecuritySolutions_ListByHomeRegion",
        "tags": [
          "DiscoveredSecuritySolutions"
        ],
        "description": "Gets a list of discovered Security Solutions for the subscription and location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveredSecuritySolutionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get discovered security solutions from a security data location": {
            "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionsSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
      "get": {
        "operationId": "JitNetworkAccessPolicies_ListByRegion",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get JIT network access policies on a subscription from a security data location": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesSubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/securitySolutionsReferenceData": {
      "get": {
        "operationId": "SecuritySolutionsReferenceData_ListByHomeRegion",
        "tags": [
          "SecuritySolutionsReferenceData"
        ],
        "description": "Gets list of all supported Security Solutions for subscription and location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securitySolutionsReferenceDataList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security solutions from a security data location": {
            "$ref": "./examples/SecuritySolutionsReferenceData/GetSecuritySolutionsReferenceDataSubscriptionLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/topologies": {
      "get": {
        "operationId": "Topology_ListByHomeRegion",
        "tags": [
          "Topology"
        ],
        "description": "Gets a list that allows to build a topology view of a subscription and location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TopologyList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get topology on a subscription from security data location": {
            "$ref": "./examples/Topology/GetTopologySubscriptionLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securitySolutions": {
      "get": {
        "operationId": "SecuritySolutions_List",
        "tags": [
          "SecuritySolutions"
        ],
        "description": "Gets a list of Security Solutions for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SecuritySolutionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security solutions": {
            "$ref": "./examples/SecuritySolutions/GetSecuritySolutionsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securitySolutionsReferenceData": {
      "get": {
        "operationId": "securitySolutionsReferenceData_List",
        "tags": [
          "securitySolutionsReferenceData"
        ],
        "description": "Gets a list of all supported Security Solutions for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securitySolutionsReferenceDataList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security solutions": {
            "$ref": "./examples/SecuritySolutionsReferenceData/GetSecuritySolutionsReferenceDataSubscription_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/topologies": {
      "get": {
        "operationId": "Topology_List",
        "tags": [
          "Topology"
        ],
        "description": "Gets a list that allows to build a topology view of a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TopologyList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get topology on a subscription": {
            "$ref": "./examples/Topology/GetTopologySubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/serverVulnerabilityAssessments": {
      "get": {
        "operationId": "ServerVulnerabilityAssessment_ListByExtendedResource",
        "tags": [
          "ServerVulnerabilityAssessments"
        ],
        "description": "Gets a list of server vulnerability assessment onboarding statuses on a given resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceNamespace",
            "in": "path",
            "description": "The parent resource provider namespace.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The type of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a list of server vulnerability assessments on a resource. Though this API returns a list, Currently Microsoft.Security only supports a single default type of server vulnerability assessment": {
            "$ref": "./examples/ServerVulnerabilityAssessments/ListByExtendedResourceServerVulnerabilityAssessments_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceNamespace}/{resourceType}/{resourceName}/providers/Microsoft.Security/serverVulnerabilityAssessments/{serverVulnerabilityAssessment}": {
      "get": {
        "operationId": "ServerVulnerabilityAssessment_Get",
        "tags": [
          "ServerVulnerabilityAssessments"
        ],
        "description": "Gets a server vulnerability assessment onboarding statuses on a given resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceNamespace",
            "in": "path",
            "description": "The parent resource provider namespace.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The type of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverVulnerabilityAssessment",
            "in": "path",
            "description": "Name of the server vulnerability assessment resource.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ServerVulnerabilityAssessmentName",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a server vulnerability assessments onboarding status on a resource. Currently Microsoft.Security only supports the single 'default' resource": {
            "$ref": "./examples/ServerVulnerabilityAssessments/GetServerVulnerabilityAssessments_example.json"
          }
        }
      },
      "put": {
        "operationId": "ServerVulnerabilityAssessment_CreateOrUpdate",
        "tags": [
          "ServerVulnerabilityAssessment"
        ],
        "description": "Creating a server vulnerability assessment on a resource, which will onboard a resource for having a vulnerability assessment on it",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceNamespace",
            "in": "path",
            "description": "The parent resource provider namespace.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The type of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverVulnerabilityAssessment",
            "in": "path",
            "description": "Name of the server vulnerability assessment resource.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ServerVulnerabilityAssessmentName",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a server vulnerability assessments on a resource. Only 'default' resource is supported. Once creating the resource, the server will be onboarded to vulnerability assessment by Microsoft.Security": {
            "$ref": "./examples/ServerVulnerabilityAssessments/CreateServerVulnerabilityAssessments_example.json"
          }
        }
      },
      "delete": {
        "operationId": "ServerVulnerabilityAssessment_Delete",
        "tags": [
          "ServerVulnerabilityAssessment"
        ],
        "description": "Removing server vulnerability assessment from a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceNamespace",
            "in": "path",
            "description": "The parent resource provider namespace.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The type of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverVulnerabilityAssessment",
            "in": "path",
            "description": "Name of the server vulnerability assessment resource.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ServerVulnerabilityAssessmentName",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a server vulnerability assessments on a resource. Only 'default' resource is supported. Once deleting, Microsoft.Security will not provide vulnerability assessment findings on the resource.": {
            "$ref": "./examples/ServerVulnerabilityAssessments/DeleteServerVulnerabilityAssessments_example.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
      "get": {
        "operationId": "JitNetworkAccessPolicies_ListByResourceGroup",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get JIT network access policies on a resource group": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroup_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions/{externalSecuritySolutionsName}": {
      "get": {
        "operationId": "ExternalSecuritySolutions_Get",
        "tags": [
          "ExternalSecuritySolutions"
        ],
        "description": "Gets a specific external Security Solution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalSecuritySolutionsName",
            "in": "path",
            "description": "Name of an external security solution.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExternalSecuritySolution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get external security solution": {
            "$ref": "./examples/ExternalSecuritySolutions/GetExternalSecuritySolution_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/allowedConnections/{connectionType}": {
      "get": {
        "operationId": "AllowedConnections_Get",
        "tags": [
          "AllowedConnections"
        ],
        "description": "Gets the list of all possible traffic between resources for the subscription and location, based on connection type.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionType",
            "in": "path",
            "description": "The type of allowed connections (Internal, External)",
            "required": true,
            "type": "string",
            "enum": [
              "Internal",
              "External"
            ],
            "x-ms-enum": {
              "name": "ConnectionType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Internal",
                  "value": "Internal",
                  "description": "Internal"
                },
                {
                  "name": "External",
                  "value": "External",
                  "description": "External"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AllowedConnectionsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get allowed connections": {
            "$ref": "./examples/AllowedConnections/GetAllowedConnections_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions/{discoveredSecuritySolutionName}": {
      "get": {
        "operationId": "DiscoveredSecuritySolutions_Get",
        "tags": [
          "DiscoveredSecuritySolutions"
        ],
        "description": "Gets a specific discovered Security Solution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "discoveredSecuritySolutionName",
            "in": "path",
            "description": "Name of a discovered security solution.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveredSecuritySolution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get discovered security solution from a security data location": {
            "$ref": "./examples/DiscoveredSecuritySolutions/GetDiscoveredSecuritySolutionResourceGroupLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
      "get": {
        "operationId": "JitNetworkAccessPolicies_ListByResourceGroupAndRegion",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPoliciesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get JIT network access policies on a resource group from a security data location": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPoliciesResourceGroupLocation_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}": {
      "get": {
        "operationId": "JitNetworkAccessPolicies_Get",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "jitNetworkAccessPolicyName",
            "in": "path",
            "description": "Name of a Just-in-Time access configuration policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/GetJitNetworkAccessPolicy_example.json"
          }
        }
      },
      "put": {
        "operationId": "JitNetworkAccessPolicies_CreateOrUpdate",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Create a policy for protecting resources using Just-in-Time access control",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "jitNetworkAccessPolicyName",
            "in": "path",
            "description": "Name of a Just-in-Time access configuration policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'JitNetworkAccessPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/CreateJitNetworkAccessPolicy_example.json"
          }
        }
      },
      "delete": {
        "operationId": "JitNetworkAccessPolicies_Delete",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Delete a Just-in-Time access control policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "jitNetworkAccessPolicyName",
            "in": "path",
            "description": "Name of a Just-in-Time access configuration policy.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/DeleteJitNetworkAccessPolicy_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyInitiateType}": {
      "post": {
        "operationId": "JitNetworkAccessPolicies_Initiate",
        "tags": [
          "JitNetworkAccessPolicies"
        ],
        "description": "Initiate a JIT access from a specific Just-in-Time policy configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "jitNetworkAccessPolicyName",
            "in": "path",
            "description": "Name of a Just-in-Time access configuration policy.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jitNetworkAccessPolicyInitiateType",
            "in": "path",
            "description": "Type of the action to do on the Just-in-Time access policy.",
            "required": true,
            "type": "string",
            "enum": [
              "initiate"
            ],
            "x-ms-enum": {
              "name": "JitNetworkAccessPolicyInitiateType",
              "modelAsString": false
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessPolicyInitiateRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitNetworkAccessRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Initiate an action on a JIT network access policy": {
            "$ref": "./examples/JitNetworkAccessPolicies/InitiateJitNetworkAccessPolicy_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/securitySolutions/{securitySolutionName}": {
      "get": {
        "operationId": "SecuritySolutions_Get",
        "tags": [
          "SecuritySolutions"
        ],
        "description": "Gets a specific Security Solution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "securitySolutionName",
            "in": "path",
            "description": "Name of security solution.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecuritySolution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a security solution from a security data location": {
            "$ref": "./examples/SecuritySolutions/GetSecuritySolutionsResourceGroupLocation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/topologies/{topologyResourceName}": {
      "get": {
        "operationId": "Topology_Get",
        "tags": [
          "Topology"
        ],
        "description": "Gets a specific topology component.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "ascLocation",
            "in": "path",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations",
            "required": true,
            "type": "string"
          },
          {
            "name": "topologyResourceName",
            "in": "path",
            "description": "Name of a topology resources collection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TopologyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get topology": {
            "$ref": "./examples/Topology/GetTopology_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AadConnectivityState": {
      "type": "string",
      "description": "The connectivity state of the external AAD solution",
      "enum": [
        "Discovered",
        "NotLicensed",
        "Connected"
      ],
      "x-ms-enum": {
        "name": "AadConnectivityState",
        "modelAsString": true,
        "values": [
          {
            "name": "Discovered",
            "value": "Discovered",
            "description": "Discovered"
          },
          {
            "name": "NotLicensed",
            "value": "NotLicensed",
            "description": "NotLicensed"
          },
          {
            "name": "Connected",
            "value": "Connected",
            "description": "Connected"
          }
        ]
      }
    },
    "AadExternalSecuritySolution": {
      "type": "object",
      "description": "Represents an AAD identity protection solution which sends logs to an OMS workspace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AadSolutionProperties",
          "description": "The external security solution properties for AAD solutions"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ExternalSecuritySolution"
        }
      ],
      "x-ms-discriminator-value": "AAD"
    },
    "AadSolutionProperties": {
      "type": "object",
      "description": "The external security solution properties for AAD solutions",
      "properties": {
        "deviceVendor": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        },
        "workspace": {
          "$ref": "#/definitions/ConnectedWorkspace",
          "description": "Represents an OMS workspace to which the solution is connected"
        },
        "connectivityState": {
          "$ref": "#/definitions/AadConnectivityState",
          "description": "The connectivity state of the external AAD solution"
        }
      },
      "additionalProperties": {}
    },
    "AllowedConnectionsList": {
      "type": "object",
      "description": "List of all possible traffic between Azure resources",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllowedConnectionsResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page.",
          "readOnly": true
        }
      }
    },
    "AllowedConnectionsResource": {
      "type": "object",
      "description": "The resource whose properties describes the allowed traffic between Azure resources",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AllowedConnectionsResourceProperties",
          "description": "Describes the allowed traffic between Azure resources",
          "readOnly": true,
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AllowedConnectionsResourceProperties": {
      "type": "object",
      "description": "Describes the allowed traffic between Azure resources",
      "properties": {
        "calculatedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time on which the allowed connections resource was calculated",
          "readOnly": true
        },
        "connectableResources": {
          "type": "array",
          "description": "List of connectable resources",
          "items": {
            "$ref": "#/definitions/ConnectableResource"
          },
          "readOnly": true
        }
      }
    },
    "AtaExternalSecuritySolution": {
      "type": "object",
      "description": "Represents an ATA security solution which sends logs to an OMS workspace",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AtaSolutionProperties",
          "description": "The external security solution properties for ATA solutions"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ExternalSecuritySolution"
        }
      ],
      "x-ms-discriminator-value": "ATA"
    },
    "AtaSolutionProperties": {
      "type": "object",
      "description": "The external security solution properties for ATA solutions",
      "properties": {
        "lastEventReceived": {
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ExternalSecuritySolutionProperties"
        }
      ]
    },
    "Azure.Core.armResourceType": {
      "type": "string",
      "description": "Represents an Azure Resource Type."
    },
    "CefExternalSecuritySolution": {
      "type": "object",
      "description": "Represents a security solution which sends CEF logs to an OMS workspace",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CefSolutionProperties",
          "description": "The external security solution properties for CEF solutions"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ExternalSecuritySolution"
        }
      ],
      "x-ms-discriminator-value": "CEF"
    },
    "CefSolutionProperties": {
      "type": "object",
      "description": "The external security solution properties for CEF solutions",
      "properties": {
        "hostname": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "lastEventReceived": {
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ExternalSecuritySolutionProperties"
        }
      ]
    },
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "Common.ProvisioningState": {
      "type": "string",
      "description": "The current provisioning state of the resource. Indicates the status of the last operation performed on the resource.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Deleting",
        "Failed",
        "Canceled",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource has been successfully provisioned and is ready for use."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created. This is a transitional state."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated. This is a transitional state."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted. This is a transitional state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The last operation on the resource failed. Check the error details for more information."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The operation was canceled before completion."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          }
        ]
      }
    },
    "ConnectableResource": {
      "type": "object",
      "description": "Describes the allowed inbound and outbound traffic of an Azure resource",
      "properties": {
        "id": {
          "type": "string",
          "description": "The Azure resource id",
          "readOnly": true
        },
        "inboundConnectedResources": {
          "type": "array",
          "description": "The list of Azure resources that the resource has inbound allowed connection from",
          "items": {
            "$ref": "#/definitions/ConnectedResource"
          },
          "readOnly": true
        },
        "outboundConnectedResources": {
          "type": "array",
          "description": "The list of Azure resources that the resource has outbound allowed connection to",
          "items": {
            "$ref": "#/definitions/ConnectedResource"
          },
          "readOnly": true
        }
      }
    },
    "ConnectedResource": {
      "type": "object",
      "description": "Describes properties of a connected resource",
      "properties": {
        "connectedResourceId": {
          "type": "string",
          "description": "The Azure resource id of the connected resource",
          "readOnly": true
        },
        "tcpPorts": {
          "type": "string",
          "description": "The allowed tcp ports",
          "readOnly": true
        },
        "udpPorts": {
          "type": "string",
          "description": "The allowed udp ports",
          "readOnly": true
        }
      }
    },
    "ConnectedWorkspace": {
      "type": "object",
      "description": "Represents an OMS workspace to which the solution is connected",
      "properties": {
        "id": {
          "type": "string",
          "description": "Azure resource ID of the connected OMS workspace"
        }
      }
    },
    "DiscoveredSecuritySolution": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveredSecuritySolutionProperties",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        }
      },
      "required": [
        "properties",
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DiscoveredSecuritySolutionList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscoveredSecuritySolution"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page.",
          "readOnly": true
        }
      }
    },
    "DiscoveredSecuritySolutionProperties": {
      "type": "object",
      "properties": {
        "securityFamily": {
          "$ref": "#/definitions/SecurityFamily",
          "description": "The security family of the discovered solution"
        },
        "offer": {
          "type": "string",
          "description": "The security solutions' image offer"
        },
        "publisher": {
          "type": "string",
          "description": "The security solutions' image publisher"
        },
        "sku": {
          "type": "string",
          "description": "The security solutions' image sku"
        }
      },
      "required": [
        "securityFamily",
        "offer",
        "publisher",
        "sku"
      ]
    },
    "ExternalSecuritySolution": {
      "type": "object",
      "description": "Represents a security solution external to Microsoft Defender for Cloud which sends information to an OMS workspace and whose data is displayed by Microsoft Defender for Cloud.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/ExternalSecuritySolutionKind",
          "description": "The kind of the external solution"
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        }
      },
      "discriminator": "kind",
      "required": [
        "kind",
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ExternalSecuritySolutionKind": {
      "type": "string",
      "description": "The kind of the external solution",
      "enum": [
        "CEF",
        "ATA",
        "AAD"
      ],
      "x-ms-enum": {
        "name": "ExternalSecuritySolutionKind",
        "modelAsString": true,
        "values": [
          {
            "name": "CEF",
            "value": "CEF",
            "description": "CEF"
          },
          {
            "name": "ATA",
            "value": "ATA",
            "description": "ATA"
          },
          {
            "name": "AAD",
            "value": "AAD",
            "description": "AAD"
          }
        ]
      }
    },
    "ExternalSecuritySolutionList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalSecuritySolution"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ExternalSecuritySolutionProperties": {
      "type": "object",
      "description": "The solution properties (correspond to the solution kind)",
      "properties": {
        "deviceVendor": {
          "type": "string"
        },
        "deviceType": {
          "type": "string"
        },
        "workspace": {
          "$ref": "#/definitions/ConnectedWorkspace",
          "description": "Represents an OMS workspace to which the solution is connected"
        }
      },
      "additionalProperties": {}
    },
    "JitNetworkAccessPoliciesList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JitNetworkAccessPolicy": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/JitNetworkAccessPolicyProperties",
          "x-ms-client-flatten": true
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource"
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        }
      },
      "required": [
        "properties",
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "JitNetworkAccessPolicyInitiatePort": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 65535
        },
        "allowedSourceAddressPrefix": {
          "type": "string",
          "description": "Source of the allowed traffic. If omitted, the request will be for the source IP address of the initiate request."
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The time to close the request in UTC"
        }
      },
      "required": [
        "number",
        "endTimeUtc"
      ]
    },
    "JitNetworkAccessPolicyInitiateRequest": {
      "type": "object",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "description": "A list of virtual machines & ports to open access for",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessPolicyInitiateVirtualMachine"
          }
        },
        "justification": {
          "type": "string",
          "description": "The justification for making the initiate request"
        }
      },
      "required": [
        "virtualMachines"
      ]
    },
    "JitNetworkAccessPolicyInitiateVirtualMachine": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of the virtual machine that is linked to this policy"
        },
        "ports": {
          "type": "array",
          "description": "The ports to open for the resource with the `id`",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessPolicyInitiatePort"
          }
        }
      },
      "required": [
        "id",
        "ports"
      ]
    },
    "JitNetworkAccessPolicyProperties": {
      "type": "object",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessPolicyVirtualMachine"
          }
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessRequest"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets the provisioning state of the Just-in-Time policy.",
          "readOnly": true
        }
      },
      "required": [
        "virtualMachines"
      ]
    },
    "JitNetworkAccessPolicyVirtualMachine": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of the virtual machine that is linked to this policy"
        },
        "ports": {
          "type": "array",
          "description": "Port configurations for the virtual machine",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessPortRule"
          }
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Public IP address of the Azure Firewall that is linked to this policy, if applicable"
        }
      },
      "required": [
        "id",
        "ports"
      ]
    },
    "JitNetworkAccessPortRule": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 65535
        },
        "protocol": {
          "$ref": "#/definitions/Protocol"
        },
        "allowedSourceAddressPrefix": {
          "type": "string",
          "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
        },
        "allowedSourceAddressPrefixes": {
          "type": "array",
          "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
          "items": {
            "type": "string"
          }
        },
        "maxRequestAccessDuration": {
          "type": "string",
          "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day"
        }
      },
      "required": [
        "number",
        "protocol",
        "maxRequestAccessDuration"
      ]
    },
    "JitNetworkAccessRequest": {
      "type": "object",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessRequestVirtualMachine"
          }
        },
        "startTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the request in UTC"
        },
        "requestor": {
          "type": "string",
          "description": "The identity of the person who made the request"
        },
        "justification": {
          "type": "string",
          "description": "The justification for making the initiate request"
        }
      },
      "required": [
        "virtualMachines",
        "startTimeUtc",
        "requestor"
      ]
    },
    "JitNetworkAccessRequestPort": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 65535
        },
        "allowedSourceAddressPrefix": {
          "type": "string",
          "description": "Mutually exclusive with the \"allowedSourceAddressPrefixes\" parameter. Should be an IP address or CIDR, for example \"192.168.0.3\" or \"192.168.0.0/16\"."
        },
        "allowedSourceAddressPrefixes": {
          "type": "array",
          "description": "Mutually exclusive with the \"allowedSourceAddressPrefix\" parameter.",
          "items": {
            "type": "string"
          }
        },
        "endTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The date & time at which the request ends in UTC"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the port"
        },
        "statusReason": {
          "$ref": "#/definitions/StatusReason",
          "description": "A description of why the `status` has its value"
        },
        "mappedPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port which is mapped to this port's `number` in the Azure Firewall, if applicable"
        }
      },
      "required": [
        "number",
        "endTimeUtc",
        "status",
        "statusReason"
      ]
    },
    "JitNetworkAccessRequestVirtualMachine": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of the virtual machine that is linked to this policy"
        },
        "ports": {
          "type": "array",
          "description": "The ports that were opened for the virtual machine",
          "items": {
            "$ref": "#/definitions/JitNetworkAccessRequestPort"
          }
        }
      },
      "required": [
        "id",
        "ports"
      ]
    },
    "Protocol": {
      "type": "string",
      "enum": [
        "TCP",
        "UDP",
        "*"
      ],
      "x-ms-enum": {
        "name": "Protocol",
        "modelAsString": true,
        "values": [
          {
            "name": "TCP",
            "value": "TCP",
            "description": "TCP"
          },
          {
            "name": "UDP",
            "value": "UDP",
            "description": "UDP"
          },
          {
            "name": "All",
            "value": "*",
            "description": "*"
          }
        ]
      }
    },
    "SecurityFamily": {
      "type": "string",
      "description": "The security family of the discovered solution",
      "enum": [
        "Waf",
        "Ngfw",
        "SaasWaf",
        "Va"
      ],
      "x-ms-enum": {
        "name": "SecurityFamily",
        "modelAsString": true,
        "values": [
          {
            "name": "Waf",
            "value": "Waf",
            "description": "Waf"
          },
          {
            "name": "Ngfw",
            "value": "Ngfw",
            "description": "Ngfw"
          },
          {
            "name": "SaasWaf",
            "value": "SaasWaf",
            "description": "SaasWaf"
          },
          {
            "name": "Va",
            "value": "Va",
            "description": "Va"
          }
        ]
      }
    },
    "SecuritySolution": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecuritySolutionProperties",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecuritySolutionList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecuritySolution"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SecuritySolutionProperties": {
      "type": "object",
      "properties": {
        "securityFamily": {
          "$ref": "#/definitions/SecurityFamily",
          "description": "The security family of the security solution"
        },
        "provisioningState": {
          "$ref": "#/definitions/Common.ProvisioningState",
          "description": "The security family provisioning State"
        },
        "template": {
          "type": "string",
          "description": "The security solutions' template"
        },
        "protectionStatus": {
          "type": "string",
          "description": "The security solutions' status"
        }
      },
      "required": [
        "securityFamily",
        "provisioningState",
        "template",
        "protectionStatus"
      ]
    },
    "ServerVulnerabilityAssessment": {
      "type": "object",
      "description": "Describes the server vulnerability assessment details on a resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentProperties",
          "description": "describes ServerVulnerabilityAssessment properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServerVulnerabilityAssessmentProperties": {
      "type": "object",
      "description": "describes ServerVulnerabilityAssessment properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentPropertiesProvisioningState",
          "description": "The provisioningState of the vulnerability assessment capability on the VM",
          "readOnly": true
        }
      }
    },
    "ServerVulnerabilityAssessmentPropertiesProvisioningState": {
      "type": "string",
      "description": "The provisioningState of the vulnerability assessment capability on the VM",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deprovisioning"
      ],
      "x-ms-enum": {
        "name": "ServerVulnerabilityAssessmentPropertiesProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning"
          },
          {
            "name": "Deprovisioning",
            "value": "Deprovisioning",
            "description": "Deprovisioning"
          }
        ]
      }
    },
    "ServerVulnerabilityAssessmentsList": {
      "type": "object",
      "description": "List of server vulnerability assessments",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerVulnerabilityAssessment"
          }
        }
      }
    },
    "Status": {
      "type": "string",
      "description": "The status of the port",
      "enum": [
        "Revoked",
        "Initiated"
      ],
      "x-ms-enum": {
        "name": "Status",
        "modelAsString": true,
        "values": [
          {
            "name": "Revoked",
            "value": "Revoked",
            "description": "Revoked"
          },
          {
            "name": "Initiated",
            "value": "Initiated",
            "description": "Initiated"
          }
        ]
      }
    },
    "StatusReason": {
      "type": "string",
      "description": "A description of why the `status` has its value",
      "enum": [
        "Expired",
        "UserRequested",
        "NewerRequestInitiated"
      ],
      "x-ms-enum": {
        "name": "StatusReason",
        "modelAsString": true,
        "values": [
          {
            "name": "Expired",
            "value": "Expired",
            "description": "Expired"
          },
          {
            "name": "UserRequested",
            "value": "UserRequested",
            "description": "UserRequested"
          },
          {
            "name": "NewerRequestInitiated",
            "value": "NewerRequestInitiated",
            "description": "NewerRequestInitiated"
          }
        ]
      }
    },
    "TopologyList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TopologyResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TopologyResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TopologyResourceProperties",
          "readOnly": true,
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TopologyResourceProperties": {
      "type": "object",
      "properties": {
        "calculatedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time on which the topology was calculated",
          "readOnly": true
        },
        "topologyResources": {
          "type": "array",
          "description": "Azure resources which are part of this topology resource",
          "items": {
            "$ref": "#/definitions/TopologySingleResource"
          },
          "readOnly": true
        }
      }
    },
    "TopologySingleResource": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Azure resource id",
          "readOnly": true
        },
        "severity": {
          "type": "string",
          "description": "The security severity of the resource",
          "readOnly": true
        },
        "recommendationsExist": {
          "type": "boolean",
          "description": "Indicates if the resource has security recommendations",
          "readOnly": true
        },
        "networkZones": {
          "type": "string",
          "description": "Indicates the resource connectivity level to the Internet (InternetFacing, Internal ,etc.)",
          "readOnly": true
        },
        "topologyScore": {
          "type": "integer",
          "format": "int32",
          "description": "Score of the resource based on its security severity",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The location of this resource",
          "readOnly": true
        },
        "parents": {
          "type": "array",
          "description": "Azure resources connected to this resource which are in higher level in the topology view",
          "items": {
            "$ref": "#/definitions/TopologySingleResourceParent"
          },
          "readOnly": true
        },
        "children": {
          "type": "array",
          "description": "Azure resources connected to this resource which are in lower level in the topology view",
          "items": {
            "$ref": "#/definitions/TopologySingleResourceChild"
          },
          "readOnly": true
        }
      }
    },
    "TopologySingleResourceChild": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Azure resource id which serves as child resource in topology view",
          "readOnly": true
        }
      }
    },
    "TopologySingleResourceParent": {
      "type": "object",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Azure resource id which serves as parent resource in topology view",
          "readOnly": true
        }
      }
    },
    "securitySolutionsReferenceData": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.Core.armResourceType",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Location where the resource is stored",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/securitySolutionsReferenceDataProperties",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ]
    },
    "securitySolutionsReferenceDataList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/securitySolutionsReferenceData"
          }
        }
      }
    },
    "securitySolutionsReferenceDataProperties": {
      "type": "object",
      "properties": {
        "securityFamily": {
          "$ref": "#/definitions/SecurityFamily",
          "description": "The security family of the security solution"
        },
        "alertVendorName": {
          "type": "string",
          "description": "The security solutions' vendor name"
        },
        "packageInfoUrl": {
          "type": "string",
          "description": "The security solutions' package info url"
        },
        "productName": {
          "type": "string",
          "description": "The security solutions' product name"
        },
        "publisher": {
          "type": "string",
          "description": "The security solutions' publisher"
        },
        "publisherDisplayName": {
          "type": "string",
          "description": "The security solutions' publisher display name"
        },
        "template": {
          "type": "string",
          "description": "The security solutions' template"
        }
      },
      "required": [
        "securityFamily",
        "alertVendorName",
        "packageInfoUrl",
        "productName",
        "publisher",
        "publisherDisplayName",
        "template"
      ]
    }
  },
  "parameters": {}
}
