{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceNotifications Management Service",
    "version": "2025-11-19-preview",
    "description": "Microsoft.ResourceNotifications Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ResourceSubscriptions"
    },
    {
      "name": "Destinations"
    },
    {
      "name": "NotificationsSessions"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceNotifications/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationSessions": {
      "get": {
        "operationId": "NotificationsSessions_ListByLocation",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Lists notification sessions in a location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List notification sessions in a location": {
            "$ref": "./examples/NotificationSessions_ListByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationSessions/{notificationSessionName}": {
      "get": {
        "operationId": "NotificationsSessions_Get",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Gets a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a notification session": {
            "$ref": "./examples/NotificationSessions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "NotificationsSessions_CreateOrUpdate",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Creates or updates a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NotificationSessionResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          },
          "201": {
            "description": "Resource 'NotificationSessionResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a notification session": {
            "$ref": "./examples/NotificationSessions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NotificationsSessions_Delete",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Deletes a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Close a notification session": {
            "$ref": "./examples/NotificationSessions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationSessions/{notificationSessionName}/getSessionDetails": {
      "post": {
        "operationId": "NotificationsSessions_GetSessionDetails",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Gets session details for connecting to a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSessionDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetNotificationSessionDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get session details": {
            "$ref": "./examples/NotificationSessions_GetSessionDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/resourceSubscriptions": {
      "get": {
        "operationId": "ResourceSubscriptions_ListBySubscription",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Lists all resource subscriptions in a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all resource subscriptions in a subscription": {
            "$ref": "./examples/ResourceSubscriptions_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions": {
      "get": {
        "operationId": "ResourceSubscriptions_ListByResourceGroup",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Lists all resource subscriptions in a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all resource subscriptions in a resource group": {
            "$ref": "./examples/ResourceSubscriptions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions/{subscriptionRuleName}": {
      "get": {
        "operationId": "ResourceSubscriptions_Get",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Gets a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a resource subscription with cloud scope and partitioning": {
            "$ref": "./examples/ResourceSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceSubscriptions_CreateOrUpdate",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Creates or updates a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResourceSubscription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          },
          "201": {
            "description": "Resource 'ResourceSubscription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a resource subscription with tenant scope": {
            "$ref": "./examples/ResourceSubscriptions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ResourceSubscriptions_Update",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Updates a resource subscription (supports tags and property updates)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceSubscriptionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a resource subscription": {
            "$ref": "./examples/ResourceSubscriptions_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ResourceSubscriptions_Delete",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Deletes a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a resource subscription": {
            "$ref": "./examples/ResourceSubscriptions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions/{subscriptionRuleName}/destinations": {
      "get": {
        "operationId": "ResourceSubscriptionDestinations_List",
        "tags": [
          "Destinations"
        ],
        "description": "Lists all destinations for a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DestinationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all destinations for a resource subscription": {
            "$ref": "./examples/ResourceSubscriptionDestinations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions/{subscriptionRuleName}/destinations/{destinationName}": {
      "get": {
        "operationId": "ResourceSubscriptionDestinations_Get",
        "tags": [
          "Destinations"
        ],
        "description": "Gets a destination",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "destinationName",
            "in": "path",
            "description": "The name of the destination",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a storage account destination": {
            "$ref": "./examples/ResourceSubscriptionDestinations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceSubscriptionDestinations_CreateOrUpdate",
        "tags": [
          "Destinations"
        ],
        "description": "Creates or updates a destination",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "destinationName",
            "in": "path",
            "description": "The name of the destination",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Destination' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          },
          "201": {
            "description": "Resource 'Destination' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a fabric table destination": {
            "$ref": "./examples/ResourceSubscriptionDestinations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ResourceSubscriptionDestinations_Delete",
        "tags": [
          "Destinations"
        ],
        "description": "Deletes a destination",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "destinationName",
            "in": "path",
            "description": "The name of the destination",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a destination": {
            "$ref": "./examples/ResourceSubscriptionDestinations_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArnLocationPartitioningConfiguration": {
      "type": "object",
      "description": "ARN location partitioning configuration",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "The partitions list",
          "items": {
            "$ref": "#/definitions/Partition"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "partitions"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/PartitioningConfiguration"
        }
      ],
      "x-ms-discriminator-value": "arnLocation"
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BatchingPolicy": {
      "type": "object",
      "description": "Base properties for batching policy configuration",
      "properties": {
        "kind": {
          "$ref": "#/definitions/BatchingPolicyKind",
          "description": "The kind of batching policy"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "BatchingPolicyKind": {
      "type": "string",
      "description": "Batching policy kind discriminator",
      "enum": [
        "minCountMaxDelay"
      ],
      "x-ms-enum": {
        "name": "BatchingPolicyKind",
        "modelAsString": true,
        "values": [
          {
            "name": "minCountMaxDelay",
            "value": "minCountMaxDelay",
            "description": "Min count max delay batching policy"
          }
        ]
      }
    },
    "CloudScope": {
      "type": "object",
      "description": "Cloud scope configuration",
      "properties": {
        "providerNamespace": {
          "type": "string",
          "description": "The provider namespace populated by caller"
        },
        "appId": {
          "type": "string",
          "description": "The application ID (GUID format) extracted from request, checked against manifest",
          "readOnly": true
        }
      },
      "required": [
        "providerNamespace"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Scope"
        }
      ],
      "x-ms-discriminator-value": "cloud"
    },
    "Destination": {
      "type": "object",
      "description": "Destination resource for Azure Resource Notifications",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DestinationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DestinationKind": {
      "type": "string",
      "description": "Destination kind discriminator",
      "enum": [
        "fabricTable",
        "storageAccount"
      ],
      "x-ms-enum": {
        "name": "DestinationKind",
        "modelAsString": true,
        "values": [
          {
            "name": "fabricTable",
            "value": "fabricTable",
            "description": "Fabric table destination"
          },
          {
            "name": "storageAccount",
            "value": "storageAccount",
            "description": "Storage account destination"
          }
        ]
      }
    },
    "DestinationListResult": {
      "type": "object",
      "description": "The response of a Destination list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Destination items on this page",
          "items": {
            "$ref": "#/definitions/Destination"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DestinationOptions": {
      "type": "string",
      "description": "Available destination options",
      "enum": [
        "enableInitialSnapshot"
      ],
      "x-ms-enum": {
        "name": "DestinationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "enableInitialSnapshot",
            "value": "enableInitialSnapshot",
            "description": "Enables delivery of the initial snapshot"
          }
        ]
      }
    },
    "DestinationProperties": {
      "type": "object",
      "description": "Base properties for destination configuration",
      "properties": {
        "kind": {
          "$ref": "#/definitions/DestinationKind",
          "description": "The kind of destination"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "EndpointDeliveryMode": {
      "type": "string",
      "description": "The delivery mode for endpoints, determining how notifications are distributed across endpoints",
      "enum": [
        "round-robin",
        "failover"
      ],
      "x-ms-enum": {
        "name": "EndpointDeliveryMode",
        "modelAsString": true,
        "values": [
          {
            "name": "roundRobin",
            "value": "round-robin",
            "description": "Spreads load over all endpoints"
          },
          {
            "name": "failover",
            "value": "failover",
            "description": "Delivers to the first available endpoint"
          }
        ]
      }
    },
    "FabricEndpoint": {
      "type": "object",
      "description": "Fabric endpoint configuration",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "The workspace ID"
        },
        "databaseId": {
          "type": "string",
          "description": "The database ID"
        }
      },
      "required": [
        "workspaceId",
        "databaseId"
      ]
    },
    "FabricTableDestinationProperties": {
      "type": "object",
      "description": "Fabric table destination properties",
      "properties": {
        "outputSchema": {
          "type": "string",
          "description": "The output schema - readonly for now, will provide a way for 1P to set to fabric1P",
          "readOnly": true
        },
        "outputEncoding": {
          "type": "string",
          "description": "The output encoding - readonly and not configurable",
          "readOnly": true
        },
        "endpoint": {
          "$ref": "#/definitions/FabricEndpoint",
          "description": "The fabric endpoint configuration"
        },
        "options": {
          "type": "array",
          "description": "Optional destination configuration options",
          "items": {
            "$ref": "#/definitions/DestinationOptions"
          },
          "readOnly": true
        }
      },
      "required": [
        "endpoint"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DestinationProperties"
        }
      ],
      "x-ms-discriminator-value": "fabricTable"
    },
    "GetNotificationSessionDetails": {
      "type": "object",
      "description": "Session details for connecting to a notification session",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of the session"
        },
        "encodedNotificationSession": {
          "type": "string",
          "format": "password",
          "description": "Encoded notification session data",
          "x-ms-secret": true
        },
        "connectionDetails": {
          "$ref": "#/definitions/NotificationSessionConnectionDetails",
          "description": "Connection details for the session"
        },
        "validUntil": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp until which the session details are valid"
        }
      }
    },
    "GetSessionDetailsRequest": {
      "type": "object",
      "description": "Request body for getting session details",
      "properties": {
        "durationInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in minutes for session validity",
          "minimum": 1,
          "maximum": 240
        }
      }
    },
    "MinCountMaxDelayBatchingPolicy": {
      "type": "object",
      "description": "Min count max delay batching policy",
      "properties": {
        "minResources": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of resources"
        },
        "maxDelay": {
          "type": "string",
          "format": "duration",
          "description": "Maximum delay in ISO 8601 duration format (e.g., PT5M for 5 minutes)"
        }
      },
      "required": [
        "minResources",
        "maxDelay"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BatchingPolicy"
        }
      ],
      "x-ms-discriminator-value": "minCountMaxDelay"
    },
    "NotificationSessionConnectionDetails": {
      "type": "object",
      "description": "Connection details for a notification session",
      "properties": {
        "connectionString": {
          "type": "string",
          "format": "password",
          "description": "Connection string for the session",
          "x-ms-secret": true
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint URL for the session"
        }
      }
    },
    "NotificationSessionProperties": {
      "type": "object",
      "description": "Properties of a notification session",
      "properties": {
        "configuration": {
          "type": "string",
          "description": "Arbitrary configuration payload (string encoded)."
        },
        "description": {
          "type": "string",
          "description": "Description of the notification session.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "maxDurationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum duration in minutes.",
          "minimum": 1,
          "maximum": 1440,
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the session.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/NotificationSessionStatus",
          "description": "The status of the notification session",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation timestamp.",
          "readOnly": true
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last update timestamp.",
          "readOnly": true
        },
        "notificationSessionId": {
          "type": "string",
          "description": "Unique identifier of the notification session.",
          "readOnly": true
        }
      }
    },
    "NotificationSessionResource": {
      "type": "object",
      "description": "Notification session resource for Azure Resource Notifications",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NotificationSessionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NotificationSessionResourceListResult": {
      "type": "object",
      "description": "The response of a NotificationSessionResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NotificationSessionResource items on this page",
          "items": {
            "$ref": "#/definitions/NotificationSessionResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NotificationSessionStatus": {
      "type": "string",
      "description": "Notification session status",
      "enum": [
        "Active",
        "Paused",
        "Completed",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "NotificationSessionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active session"
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Paused session"
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Completed session"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed session"
          }
        ]
      }
    },
    "Partition": {
      "type": "object",
      "description": "Partition definition",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the partition"
        },
        "regions": {
          "type": "array",
          "description": "The regions for this partition",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "regions"
      ]
    },
    "PartitioningConfiguration": {
      "type": "object",
      "description": "Base properties for partitioning configuration",
      "properties": {
        "kind": {
          "$ref": "#/definitions/PartitioningConfigurationKind",
          "description": "The kind of partitioning configuration"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "PartitioningConfigurationKind": {
      "type": "string",
      "description": "Partitioning configuration kind discriminator",
      "enum": [
        "arnLocation"
      ],
      "x-ms-enum": {
        "name": "PartitioningConfigurationKind",
        "modelAsString": true,
        "values": [
          {
            "name": "arnLocation",
            "value": "arnLocation",
            "description": "ARN location partitioning"
          }
        ]
      }
    },
    "PathPolicy": {
      "type": "object",
      "description": "Base properties for path policy configuration",
      "properties": {
        "kind": {
          "$ref": "#/definitions/PathPolicyKind",
          "description": "The kind of path policy"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "PathPolicyKind": {
      "type": "string",
      "description": "Path policy kind discriminator",
      "enum": [
        "timeAndScopeRangeHash"
      ],
      "x-ms-enum": {
        "name": "PathPolicyKind",
        "modelAsString": true,
        "values": [
          {
            "name": "timeAndScopeRangeHash",
            "value": "timeAndScopeRangeHash",
            "description": "Time and scope range hash path policy"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ResourceSubscription": {
      "type": "object",
      "description": "Resource subscription for Azure Resource Notifications",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceSubscriptionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ResourceSubscriptionListResult": {
      "type": "object",
      "description": "The response of a ResourceSubscription list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResourceSubscription items on this page",
          "items": {
            "$ref": "#/definitions/ResourceSubscription"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ResourceSubscriptionProperties": {
      "type": "object",
      "description": "Properties of a resource subscription",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query to execute - only one table can be targeted at a time"
        },
        "scope": {
          "$ref": "#/definitions/Scope",
          "description": "The scope for the execution of the filter"
        },
        "partitioningConfiguration": {
          "$ref": "#/definitions/PartitioningConfiguration",
          "description": "Defines how to partition the event stream. Supported kind: arnLocation"
        },
        "options": {
          "type": "array",
          "description": "Optional configuration options",
          "items": {
            "$ref": "#/definitions/SubscriptionOptions"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation",
          "readOnly": true
        }
      },
      "required": [
        "query",
        "scope"
      ]
    },
    "ResourceSubscriptionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ResourceSubscription.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ResourceSubscriptionUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "ResourceSubscriptionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ResourceSubscription.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query to execute - only one table can be targeted at a time"
        }
      }
    },
    "Scope": {
      "type": "object",
      "description": "Base properties for scope configuration",
      "properties": {
        "kind": {
          "$ref": "#/definitions/ScopeKind",
          "description": "The kind of scope"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "ScopeKind": {
      "type": "string",
      "description": "The kind of scope for resource subscriptions, determining how notifications are scoped and delivered",
      "enum": [
        "tenant",
        "cloud"
      ],
      "x-ms-enum": {
        "name": "ScopeKind",
        "modelAsString": true,
        "values": [
          {
            "name": "tenant",
            "value": "tenant",
            "description": "Tenant scope"
          },
          {
            "name": "cloud",
            "value": "cloud",
            "description": "Cloud scope"
          }
        ]
      }
    },
    "StorageAccountDestinationProperties": {
      "type": "object",
      "description": "Storage account destination properties",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "Which partitions go to this destination",
          "items": {
            "type": "string"
          }
        },
        "pathPolicy": {
          "$ref": "#/definitions/PathPolicy",
          "description": "Incoming notifications are mapped to a path based on the path policy"
        },
        "batchingPolicy": {
          "$ref": "#/definitions/BatchingPolicy",
          "description": "Notifications for the same path are batched following the batching policy"
        },
        "outputSchema": {
          "type": "string",
          "description": "The schema to use for the delivered notifications - read-only, must be \"firstParty\" for now",
          "readOnly": true
        },
        "outputEncoding": {
          "type": "string",
          "description": "Format for the output - read-only, must be \"parquet\" for now",
          "readOnly": true
        },
        "endpointContainer": {
          "type": "string",
          "description": "Storage container to store the data"
        },
        "endpointDeliveryMode": {
          "$ref": "#/definitions/EndpointDeliveryMode",
          "description": "How to deliver to the endpoints below"
        },
        "endpoints": {
          "type": "array",
          "description": "Set of endpoints to use",
          "items": {
            "$ref": "#/definitions/StorageAccountEndpoint"
          },
          "x-ms-identifiers": [
            "url"
          ]
        }
      },
      "required": [
        "partitions",
        "pathPolicy",
        "endpointContainer",
        "endpointDeliveryMode",
        "endpoints"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DestinationProperties"
        }
      ],
      "x-ms-discriminator-value": "storageAccount"
    },
    "StorageAccountEndpoint": {
      "type": "object",
      "description": "Storage account endpoint",
      "properties": {
        "url": {
          "type": "string",
          "description": "The storage account endpoint URL"
        }
      },
      "required": [
        "url"
      ]
    },
    "SubscriptionOptions": {
      "type": "string",
      "description": "Available options for resource subscriptions",
      "enum": [
        "enablePeriodicSnapshots",
        "enableDeltas"
      ],
      "x-ms-enum": {
        "name": "SubscriptionOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "enablePeriodicSnapshots",
            "value": "enablePeriodicSnapshots",
            "description": "Enables delivery of periodic snapshots"
          },
          {
            "name": "enableDeltas",
            "value": "enableDeltas",
            "description": "Enables delivery of writes and deletes"
          }
        ]
      }
    },
    "TenantScope": {
      "type": "object",
      "description": "Tenant scope configuration",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The tenant ID populated by API after validation (from Aux token)",
          "readOnly": true
        },
        "servicePrincipal": {
          "type": "string",
          "description": "The service principal populated by API after validation (from Aux token)",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Scope"
        }
      ],
      "x-ms-discriminator-value": "tenant"
    },
    "TimeAndScopeRangeHashPathPolicy": {
      "type": "object",
      "description": "Time and scope range hash path policy",
      "properties": {
        "timeSource": {
          "type": "string",
          "description": "The source of time used for partitioning and hashing.\nTypical values include \"eventTime\" (use the event timestamp) and \"systemTime\" (use the ingestion/processing time)."
        },
        "scope": {
          "type": "string",
          "description": "The logical scope used for hashing into buckets, for example \"tenant\", \"subscription\", or \"resourceGroup\"."
        },
        "scopeBuckets": {
          "type": "integer",
          "format": "int32",
          "description": "The number of scope buckets to hash the chosen scope into."
        },
        "pathTemplate": {
          "type": "string",
          "description": "The path template string with variable placeholders that will be resolved at runtime, following the pattern:\nyear={yyyy},month={mm},day={dd}/hour={hh}/tenantBucket={scopeBucket}.\nPlaceholders such as {yyyy}, {mm}, {dd}, {hh}, and {scopeBucket} are replaced with the corresponding values."
        }
      },
      "required": [
        "timeSource",
        "scope",
        "scopeBuckets",
        "pathTemplate"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/PathPolicy"
        }
      ],
      "x-ms-discriminator-value": "timeAndScopeRangeHash"
    }
  },
  "parameters": {}
}
