{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights workbook template type.",
    "version": "2019-10-17-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooktemplates": {
      "get": {
        "description": "Get all Workbook templates defined within a specified resource group and category.",
        "operationId": "WorkbookTemplates_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CategoryParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/parameters/CanFetchWorkbookContentParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more workbook template definitions.",
            "schema": {
              "$ref": "#/definitions/WorkbookTemplatesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "WorkbookTemplatesList": {
            "$ref": "./examples/WorkbookTemplatesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooks/{resourceName}": {
      "get": {
        "description": "Get a single workbook template by its resourceName.",
        "operationId": "WorkbookTemplates_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookTemplateResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A workbook template definition.",
            "schema": {
              "$ref": "#/definitions/WorkbookTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookTemplateGet": {
            "$ref": "./examples/WorkbookTemplateGet.json"
          }
        }
      },
      "delete": {
        "description": "Delete a workbook template.",
        "operationId": "WorkbookTemplates_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookTemplateResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The workbook template has been successfully deleted."
          },
          "204": {
            "description": "The resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookTemplateDelete": {
            "$ref": "./examples/WorkbookTemplateDelete.json"
          }
        }
      },
      "put": {
        "description": "Create a new workbook template.",
        "operationId": "WorkbookTemplates_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookTemplateResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "workbookTemplateProperties",
            "description": "Properties that need to be specified to create a new workbook.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkbookTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The newly created workbook template.",
            "schema": {
              "$ref": "#/definitions/WorkbookTemplate"
            }
          },
          "201": {
            "description": "The newly created workbook template.",
            "schema": {
              "$ref": "#/definitions/WorkbookTemplate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookTemplateAdd": {
            "$ref": "./examples/WorkbookTemplateAdd.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "resourceId": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "WorkbookTemplatesListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkbookTemplate"
          },
          "description": "An array of workbook templates."
        }
      },
      "description": "WorkbookTemplate list result."
    },
    "WorkbookTemplate": {
      "description": "An Application Insights workbook Template definition.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a workbook template for an Azure resource.",
          "$ref": "#/definitions/WorkbookProperties"
        }
      }
    },
    "WorkbookProperties": {
      "description": "Properties that contain a workbook.",
      "required": [
        "displayName",
        "category",
        "serializedData",
        "userId"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the workbook template. This is GUID value."
        },
        "priority": {
          "type": "string",
          "description": "Priority of the template. Determines which template to open when a workbook gallery is opened in viewer mode."
        },
        "author": {
          "type": "string",
          "description": "Information about the author of the workbook template."
        },
        "templateData": {
          "type": "object",
          "description": "Valid JSON object containing workbook template payload."
        },
        "galleries": {
          "type": "array",
          "description": "Workbook galleries supported by the template.",
          "items": {
            "$ref": "#/definitions/WorkbookTemplateGallery"
          }
        },
        "localized": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/WorkbookTemplateLocalizedGallery"
            }
          }
        }
      }
    },
    "WorkbookTemplateGallery": {
      "description": "Gallery information for a workbook template.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the workbook template in the gallery."
        },
        "category": {
          "type": "string",
          "description": "Category for the gallery."
        },
        "type": {
          "type": "string",
          "description": "Type of workbook supported by the workbook template."
        },
        "resourceType": {
          "type": "string",
          "description": "Azure resource type supported by the gallery."
        }
      }
    },
    "WorkbookTemplateLocalizedGallery": {
      "description": "Localized tempalte data and gallery information.",
      "properties": {
        "templateData": {
          "type": "object",
          "description": "Valid JSON object containing workbook template payload."
        },
        "galleries": {
          "type": "array",
          "description": "Workbook galleries supported by the template.",
          "items": {
            "$ref": "#/definitions/WorkbookTemplateGallery"
          }
        }
      }
    },
    "WorkbookUpdateParameters": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of workbook. Choices are user and shared.",
          "enum": [
            "user",
            "shared"
          ],
          "x-ms-enum": {
            "name": "SharedTypeKind",
            "modelAsString": true
          }
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a workbook for an Azure resource.",
          "$ref": "#/definitions/WorkbookPropertiesUpdateParameters"
        }
      },
      "description": "The parameters that can be provided when updating workbook properties properties."
    },
    "WorkbookPropertiesUpdateParameters": {
      "description": "Properties that contain a workbook for PATCH operation.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-defined name (display name) of the workbook."
        },
        "serializedData": {
          "type": "string",
          "description": "Configuration of this particular workbook. Configuration data is a string containing valid JSON"
        },
        "category": {
          "type": "string",
          "description": "Workbook category, as defined by the user at creation time."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of 0 or more tags that are associated with this workbook definition"
        }
      }
    },
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "WorkbookError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error message body that will indicate why the operation failed."
    }
  },
  "parameters": {
    "WorkbookTemplateResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    },
    "CategoryParameter": {
      "name": "category",
      "in": "query",
      "required": true,
      "type": "string",
      "enum": [
        "workbook",
        "TSG",
        "performance",
        "retention"
      ],
      "x-ms-enum": {
        "name": "CategoryType",
        "modelAsString": true
      },
      "description": "Category of workbook to return.",
      "x-ms-parameter-location": "method"
    },
    "SourceIdParameter": {
      "name": "sourceId",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Azure Resource Id that will fetch all related workbooks.",
      "x-ms-parameter-location": "method"
    },
    "CanFetchWorkbookContentParameter": {
      "name": "canFetchContent",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tags",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "Tags presents on each workbook returned.",
      "x-ms-parameter-location": "method"
    }
  }
}
