{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-06-preview",
    "title": "AzureAnalysisServices",
    "description": "The Azure Analysis Services Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete servers",
    "x-ms-code-generation-settings": {
      "name": "AzureAnalysisServicesClient"
    }
  },
  "host": "management.azure.com",
  "basePath": "/webapi",
  "schemes": [ "https" ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{analysisServerName}": {
      "get": {
        "description": "Gets the current state of the specified Analysis Services server",
        "tags": [ "RpProvision" ],
        "operationId": "RpProvision_GetDetailsAsync",
        "parameters": [
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Analysis Services server"
          },
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Azure Resource group"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/RpProvisionResult" }
          }
        }
      },
      "put": {
        "description": "Updates the current state of the specified Analysis Services server as specified by the request body",
        "tags": [ "RpProvision" ],
        "operationId": "RpProvision_ProvisionAsync",
        "parameters": [
          {
            "name": "provisionRequest",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/RpProvisionRequest" },
            "description": "Request body for provisioning"
          },
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Analysis Services server"
          },
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Azure Resource group"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/RpProvisionResult" }
          },
          "201": {
            "description": "InProgress",
            "schema": { "$ref": "#/definitions/RpProvisionResult" }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "description": "Deletes the specified Analysis Services server.",
        "tags": [ "RpProvision" ],
        "operationId": "RpProvision_DeprovisionAsync",
        "parameters": [
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Analysis Services server"
          },
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Azure Resource group"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/RpProvisionResult" }
          },
          "204": {
            "description": "No Content",
            "schema": { "$ref": "#/definitions/RpProvisionResult" }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "description": "Updates the current state of the specified Analysis Services server as specified by the request body",
        "tags": [ "RpProvision" ],
        "operationId": "RpProvision_UpdateDetailsAsync",
        "parameters": [
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Analysis Services server"
          },
          {
            "name": "updateRequest",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/RpServerUpdateRequest" },
            "description": "Request object for updating the server"
          },
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Azure Resource group"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/RpProvisionResult" }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers": {
      "get": {
        "description": "Gets all the AS servers for the given resource group",
        "tags": [ "RpProvision" ],
        "operationId": "RpProvision_GetAllSeversForResourceGroupAsync",
        "parameters": [
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Name of the Azure Resource group"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ProvisionResultList" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers": {
      "get": {
        "description": "Gets all the AS servers for the given subscription",
        "tags": [ "RpProvision" ],
        "operationId": "RpProvision_GetAllServersForSubscriptionAsync",
        "parameters": [
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/ProvisionResultList" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}": {
      "get": {
        "description": "Gets all the AS servers for the give resource group",
        "tags": [ "RpProxy" ],
        "operationId": "RpProxy_GetOperationStatusAsync",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Identifier for the operation for which to get status"
          },
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Region in which the server operation was executed"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          },
          "202": {
            "description": "Accepted",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}": {
      "get": {
        "description": "Gets result of the specified operation",
        "tags": [ "RpProxy" ],
        "operationId": "RpProxy_GetOperationResultAsync",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Identifier for the operation for which to get status"
          },
          {
            "name": "cancellationToken",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/CancellationToken" },
            "description": "Cancellation token"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Subscription Id for the subscription in which the operation is executed"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Region in which the server operation was executed"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          },
          "202": {
            "description": "Accepted",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          },
          "204": {
            "description": "No Content",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          }
        }
      }
    }
  },
  "definitions": {
    "CancellationToken": {
      "description": "Cancellation token specification",
      "type": "object",
      "properties": {
        "IsCancellationRequested": {
          "type": "boolean",
          "readOnly": true
        },
        "CanBeCanceled": {
          "type": "boolean",
          "readOnly": true
        },
        "WaitHandle": {
          "$ref": "#/definitions/WaitHandle",
          "readOnly": true
        }
      }
    },
    "WaitHandle": {
      "description": "Wait handle object",
      "type": "object",
      "properties": {
        "Handle": { "$ref": "#/definitions/Object" },
        "SafeWaitHandle": { "$ref": "#/definitions/SafeWaitHandle" }
      }
    },
    "Object": {
      "type": "object",
      "properties": { }
    },
    "SafeWaitHandle": {
      "description": "Specifies the state of the wait handle",
      "type": "object",
      "properties": {
        "IsInvalid": {
          "type": "boolean",
          "readOnly": true
        },
        "IsClosed": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "RpServerUpdateRequest": {
      "description": "Update request specification",
      "type": "object",
      "properties": {
        "location": { "type": "string" },
        "sku": { "$ref": "#/definitions/RpSkuTier" },
        "tags": {
          "type": "object",
          "additionalProperties": { "type": "string" }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RpPropertyBag"
        }
      }
    },
    "RpSkuTier": {
      "description": "Update request specification",
      "type": "object",
      "properties": {
        "name": { "type": "string" },
        "tier": { "type": "string" }
      }
    },
    "RpPropertyBag": {
      "description": "Property bag",
      "type": "object",
      "properties": {
        "provisioningState": { "type": "string" },
        "serverFullName": { "type": "string" },
        "asAdministrators": { "$ref": "#/definitions/RpAsAdministrators" }
      }
    },
    "RpAsAdministrators": {
      "description": "Array of administrator user identities",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": { "type": "string" }
        }
      }
    },
    "RpProvisionRequest": {
      "description": "Provision request specification",
      "type": "object",
      "properties": {
        "location": { "type": "string" },
        "sku": { "$ref": "#/definitions/RpSkuTier" },
        "tags": {
          "type": "object",
          "additionalProperties": { "type": "string" }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RpPropertyBag"
        }
      }
    },
    "RpProvisionResult": {
      "description": "Provision result specification",
      "type": "object",
      "properties": {
        "id": { "type": "string" },
        "name": { "type": "string" },
        "resourceType": { "type": "string" },
        "location": { "type": "string" },
        "sku": { "$ref": "#/definitions/RpSkuTier" },
        "tags": {
          "type": "object",
          "additionalProperties": { "type": "string" }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RpPropertyBag"
        }
      }
    },
    "ProvisionResultList": {
      "description": "Provision request specification",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": { "$ref": "#/definitions/RpProvisionResult" }
        }
      }
    },
    "ExceptionData": {
      "description": "Error details",
      "type": "object",
      "properties": {
        "code": { "type": "string" },
        "message": { "type": "string" }
      }
    },
    "OperationDetail": {
      "description": "Provision result specification",
      "type": "object",
      "properties": {
        "id": { "type": "string" },
        "name": { "type": "string" },
        "status": { "type": "string" },
        "startTime": { "type": "string" },
        "endTime": { "type": "string" },
        "error": { "$ref": "#/definitions/ExceptionData" }
      }
    }
  }
}