{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2024-11-01-preview",
    "description": "Azure Programmable Connectivity Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Gateways"
    },
    {
      "name": "OperatorApiConnections"
    },
    {
      "name": "OperatorApiPlans"
    }
  ],
  "paths": {
    "/providers/Microsoft.ProgrammableConnectivity/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/gateways": {
      "get": {
        "operationId": "Gateways_ListBySubscription",
        "tags": [
          "Gateways"
        ],
        "description": "List Gateway resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_ListBySubscription_MaximumSet": {
            "$ref": "./examples/Gateways_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections": {
      "get": {
        "operationId": "OperatorApiConnections_ListBySubscription",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "List OperatorApiConnection resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_ListBySubscription_MaximumSet": {
            "$ref": "./examples/OperatorApiConnections_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans": {
      "get": {
        "operationId": "OperatorApiPlans_ListBySubscription",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "List OperatorApiPlan resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An optional OData based filter expression to apply on the operation.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "filter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20,
            "x-ms-client-name": "top"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "An optional query parameter which specifies the number of records to be skipped.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-client-name": "skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_ListBySubscription_MaximumSet": {
            "$ref": "./examples/OperatorApiPlans_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans/{operatorApiPlanName}": {
      "get": {
        "operationId": "OperatorApiPlans_Get",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "Get an OperatorApiPlan resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operatorApiPlanName",
            "in": "path",
            "description": "APC Gateway Plan Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_Get_MaximumSet": {
            "$ref": "./examples/OperatorApiPlans_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/gateways": {
      "get": {
        "operationId": "Gateways_ListByResourceGroup",
        "tags": [
          "Gateways"
        ],
        "description": "List Gateway resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/Gateways_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/gateways/{gatewayName}": {
      "get": {
        "operationId": "Gateways_Get",
        "tags": [
          "Gateways"
        ],
        "description": "Get a Gateway resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_Get_MaximumSet": {
            "$ref": "./examples/Gateways_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Gateways_CreateOrUpdate",
        "tags": [
          "Gateways"
        ],
        "description": "Create or update an APC Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Gateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "201": {
            "description": "Resource 'Gateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gateway"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/Gateways_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Gateways_Update",
        "tags": [
          "Gateways"
        ],
        "description": "Update Gateway tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_Update_MaximumSet": {
            "$ref": "./examples/Gateways_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Gateways_Delete",
        "tags": [
          "Gateways"
        ],
        "description": "Delete a Gateway.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "Azure Programmable Connectivity Gateway Name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gateways_Delete_MaximumSet": {
            "$ref": "./examples/Gateways_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections": {
      "get": {
        "operationId": "OperatorApiConnections_ListByResourceGroup",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "List OperatorApiConnection resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/OperatorApiConnections_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections/{operatorApiConnectionName}": {
      "get": {
        "operationId": "OperatorApiConnections_Get",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Get an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Get_MaximumSet": {
            "$ref": "./examples/OperatorApiConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OperatorApiConnections_Create",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Create an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "201": {
            "description": "Resource 'OperatorApiConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Create_MaximumSet": {
            "$ref": "./examples/OperatorApiConnections_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OperatorApiConnections_Update",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Update an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Update_MaximumSet": {
            "$ref": "./examples/OperatorApiConnections_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OperatorApiConnections_Delete",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Delete an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiConnectionName",
            "in": "path",
            "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Delete_MaximumSet": {
            "$ref": "./examples/OperatorApiConnections_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationOwnerProperties": {
      "type": "object",
      "description": "Details about the Application Owner (i.e.e organization) that would use the Operator's Network APIs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Common name of the organization owning the application."
        },
        "legalName": {
          "type": "string",
          "description": "Legal name of the organization owning the application."
        },
        "tradingName": {
          "type": "string",
          "description": "Trading name of the organization owning the application."
        },
        "organizationDescription": {
          "type": "string",
          "description": "A description of the organization owning the application."
        },
        "taxNumber": {
          "type": "string",
          "description": "Unique Tax Number for the user's organization in the country/region the APC Gateway is being purchased."
        },
        "organizationIdentificationId": {
          "type": "string",
          "description": "ID number for official identification of the organization"
        },
        "organizationIdentificationIssuer": {
          "type": "string",
          "description": "Issuing organization of the ID for official identification of the organization"
        },
        "contactEmailAddress": {
          "type": "string",
          "description": "Contact email address for the use of Network APIs at the company"
        },
        "legalRepresentative": {
          "$ref": "#/definitions/Person",
          "description": "Legal representative of the organization"
        },
        "privacyManager": {
          "$ref": "#/definitions/Person",
          "description": "Privacy manager of the organization"
        },
        "registeredGeographicAddress": {
          "$ref": "#/definitions/GeographicAddress",
          "description": "Registered Geographic address"
        }
      },
      "required": [
        "name",
        "legalName",
        "tradingName",
        "organizationDescription",
        "taxNumber",
        "organizationIdentificationId",
        "organizationIdentificationIssuer",
        "contactEmailAddress",
        "legalRepresentative",
        "privacyManager",
        "registeredGeographicAddress"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "Details about the Application that would use the Operator's Network APIs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the application. Example: Contoso App."
        },
        "applicationDescription": {
          "type": "string",
          "description": "Description of the application."
        },
        "category": {
          "$ref": "#/definitions/Category",
          "description": "The category of the application."
        },
        "privacyRightsRequestEmailAddress": {
          "type": "string",
          "description": "Privacy rights request email address."
        }
      },
      "required": [
        "name",
        "applicationDescription",
        "category",
        "privacyRightsRequestEmailAddress"
      ]
    },
    "Category": {
      "type": "string",
      "enum": [
        "Art and Design",
        "Auto and Vehicle",
        "Beauty",
        "Books and Reference",
        "Business",
        "Developer tools",
        "Education",
        "Events and Entertainment",
        "Finance",
        "Food and Drink",
        "Games",
        "Health and Fitness",
        "Kids",
        "Libraries and Demo",
        "Lifestyle",
        "Maps and Navigation",
        "Medical",
        "Music and Audio",
        "News and Magazines",
        "Photo and Video",
        "Productivity",
        "Shopping",
        "Social Networking and Communications",
        "Sports",
        "Utilities",
        "Travel and Local",
        "Weather"
      ],
      "x-ms-enum": {
        "name": "Category",
        "modelAsString": true,
        "values": [
          {
            "name": "artAndDesign",
            "value": "Art and Design"
          },
          {
            "name": "autoAndVehicle",
            "value": "Auto and Vehicle"
          },
          {
            "name": "beauty",
            "value": "Beauty"
          },
          {
            "name": "booksAndReference",
            "value": "Books and Reference"
          },
          {
            "name": "business",
            "value": "Business"
          },
          {
            "name": "developerTools",
            "value": "Developer tools"
          },
          {
            "name": "education",
            "value": "Education"
          },
          {
            "name": "eventsAndEntertainment",
            "value": "Events and Entertainment"
          },
          {
            "name": "finance",
            "value": "Finance"
          },
          {
            "name": "foodAndDrink",
            "value": "Food and Drink"
          },
          {
            "name": "games",
            "value": "Games"
          },
          {
            "name": "healthAndFitness",
            "value": "Health and Fitness"
          },
          {
            "name": "kids",
            "value": "Kids"
          },
          {
            "name": "librariesAndDemo",
            "value": "Libraries and Demo"
          },
          {
            "name": "lifestyle",
            "value": "Lifestyle"
          },
          {
            "name": "mapsAndNavigation",
            "value": "Maps and Navigation"
          },
          {
            "name": "medical",
            "value": "Medical"
          },
          {
            "name": "musicAndAudio",
            "value": "Music and Audio"
          },
          {
            "name": "newsAndMagazines",
            "value": "News and Magazines"
          },
          {
            "name": "photoAndVideo",
            "value": "Photo and Video"
          },
          {
            "name": "productivity",
            "value": "Productivity"
          },
          {
            "name": "shopping",
            "value": "Shopping"
          },
          {
            "name": "socialNetworkingAndCommunications",
            "value": "Social Networking and Communications"
          },
          {
            "name": "sports",
            "value": "Sports"
          },
          {
            "name": "utilities",
            "value": "Utilities"
          },
          {
            "name": "travelAndLocal",
            "value": "Travel and Local"
          },
          {
            "name": "weather",
            "value": "Weather"
          }
        ]
      }
    },
    "Gateway": {
      "type": "object",
      "description": "A Programmable Connectivity Gateway resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GatewayProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GatewayListResult": {
      "type": "object",
      "description": "The response of a Gateway list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Gateway items on this page",
          "items": {
            "$ref": "#/definitions/Gateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GatewayProperties": {
      "type": "object",
      "description": "Gateway resource properties",
      "properties": {
        "operatorApiConnections": {
          "type": "array",
          "description": "List of Operator API Connections selected by the user",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ProgrammableConnectivity/operatorApiConnections"
                }
              ]
            }
          },
          "readOnly": true
        },
        "gatewayBaseUrl": {
          "type": "string",
          "description": "Base URL of the Gateway resource. This is the URL that the users would use to make Open API Gateway requests to the Operators via Azure.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation on the Gateway resource.",
          "readOnly": true
        },
        "configuredApplication": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "Details about the Application that would use the Operator's Network APIs.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "configuredApplicationOwner": {
          "$ref": "#/definitions/ApplicationOwnerProperties",
          "description": "Details about the Organization owning the Application that would use the Operator's Network APIs.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "configuredApplication",
        "configuredApplicationOwner"
      ]
    },
    "GatewayTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Gateway resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GeographicAddress": {
      "type": "object",
      "description": "Model defining a geographic address",
      "properties": {
        "streetNumber": {
          "type": "string",
          "description": "Street Number of the address"
        },
        "streetName": {
          "type": "string",
          "description": "Street Name of the address"
        },
        "locality": {
          "type": "string",
          "description": "Locality of the address"
        },
        "city": {
          "type": "string",
          "description": "City of the address"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code of the address"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the address",
          "pattern": "[A-Z]{2}"
        }
      },
      "required": [
        "streetName",
        "city",
        "countryCode"
      ]
    },
    "MarketplaceProperties": {
      "type": "object",
      "description": "Azure marketplace properties for a plan.",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Azure marketplace Offer ID for this plan."
        },
        "legacyOfferId": {
          "type": "string",
          "description": "Azure marketplace Legacy Offer ID for this plan. This is used to fetch the details of the plan from the Azure marketplace."
        },
        "publisherId": {
          "type": "string",
          "description": "Azure marketplace Publisher ID for this plan."
        },
        "planId": {
          "type": "string",
          "description": "Azure marketplace Plan ID for this plan."
        },
        "termId": {
          "type": "string",
          "description": "Azure marketplace Term ID for this plan."
        }
      }
    },
    "OperatorApiConnection": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Connection resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorApiConnectionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OperatorApiConnectionListResult": {
      "type": "object",
      "description": "The response of a OperatorApiConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiConnection items on this page",
          "items": {
            "$ref": "#/definitions/OperatorApiConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiConnectionProperties": {
      "type": "object",
      "description": "Operator API Connection resource properties that cannot be updated once a resource has been created.",
      "properties": {
        "operatorApiPlanId": {
          "type": "string",
          "format": "arm-id",
          "description": "Reference to the Operator API Plan Resource ID.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ProgrammableConnectivity/operatorApiPlans"
              }
            ]
          }
        },
        "marketplaceSaasProperties": {
          "$ref": "#/definitions/SaasProperties",
          "description": "Details about the SaaS offer purchased from the Azure Marketplace.",
          "readOnly": true
        },
        "gatewayId": {
          "type": "string",
          "format": "arm-id",
          "description": "Reference to the APC Gateway resource ID.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ProgrammableConnectivity/gateways"
              }
            ]
          }
        },
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator in the linked Operator API Plan belongs to.",
          "readOnly": true
        },
        "camaraApiName": {
          "type": "string",
          "description": "The Network API for the current operator in the country/region provided in the linked Operator API Plan.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "description": "The status of the OperatorApiConnection resource.",
          "readOnly": true
        },
        "purposes": {
          "type": "array",
          "description": "The purpose for which the Application will use the API. Max Items 1 currently as Operators do not support multiple.",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        }
      },
      "required": [
        "operatorApiPlanId",
        "gatewayId",
        "purposes"
      ]
    },
    "OperatorApiConnectionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the OperatorApiConnection.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OperatorApiConnectionUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "OperatorApiConnectionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the OperatorApiConnection.",
      "properties": {
        "operatorApiPlanId": {
          "type": "string",
          "format": "arm-id",
          "description": "Reference to the Operator API Plan Resource ID.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ProgrammableConnectivity/operatorApiPlans"
              }
            ]
          }
        },
        "purposes": {
          "type": "array",
          "description": "The purpose for which the Application will use the API. Max Items 1 currently as Operators do not support multiple.",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        }
      }
    },
    "OperatorApiPlan": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Plans resource. This is a readonly resource that indicates which Operator Network APIs are available in the user's subscription.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorApiPlanProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OperatorApiPlanListResult": {
      "type": "object",
      "description": "The response of a OperatorApiPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiPlan items on this page",
          "items": {
            "$ref": "#/definitions/OperatorApiPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiPlanProperties": {
      "type": "object",
      "description": "Operator API Plan properties.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator this plan belongs to."
        },
        "camaraApiName": {
          "type": "string",
          "description": "Standardized Network API name defined by CAMARA specifications."
        },
        "supportedLocations": {
          "type": "array",
          "description": "List of Azure regions where this offer is supported.",
          "items": {
            "type": "string"
          }
        },
        "operatorRegions": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by the Operator.",
          "items": {
            "type": "string"
          }
        },
        "markets": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by Azure Marketplace.",
          "items": {
            "type": "string"
          }
        },
        "limits": {
          "type": "string",
          "description": "The limits, if any, will be imposed by the operator."
        },
        "marketplaceProperties": {
          "$ref": "#/definitions/MarketplaceProperties",
          "description": "Azure marketplace properties for this plan."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation on the Gateway resource.",
          "readOnly": true
        }
      }
    },
    "Person": {
      "type": "object",
      "description": "Model defining a contactable person",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Family name of the contactable person."
        },
        "givenName": {
          "type": "string",
          "description": "Given name of the contactable person"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address of the contactable person"
        }
      },
      "required": [
        "familyName",
        "givenName",
        "emailAddress"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create or update request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Purpose": {
      "type": "string",
      "description": "Valid values for the purpose based on W3C Data Privacy Vocabulary v2 https://w3c.github.io/dpv/2.0/dpv/",
      "enum": [
        "Academic Research",
        "Account Management",
        "Advertising",
        "Age Verification",
        "Combat Climate Change",
        "Commercial Purpose",
        "Commercial Research",
        "Communication For Customer Care",
        "Communication Management",
        "Counter Money Laundering",
        "Counter-terrorism",
        "Credit Checking",
        "Customer Care",
        "Customer Claims Management",
        "Customer Management",
        "Customer Order Management",
        "Customer Relationship Management",
        "Customer Solvency Monitoring",
        "Data Altruism",
        "Delivery Of Goods",
        "Direct Marketing",
        "Dispute Management",
        "Enforce Access Control",
        "Enforce Security",
        "Establish Contractual Agreement",
        "Fraud Prevention And Detection",
        "Fulfillment Of Contractual Obligation",
        "Fulfillment Of Obligation",
        "Human Resource Management",
        "Identity Authentication",
        "Identity Verification",
        "Improve Existing Products And Services",
        "Improve Healthcare",
        "Improve Internal CRM Processes",
        "Improve Public Services",
        "Improve Transport Mobility",
        "Increase Service Robustness",
        "Internal Resource Optimization",
        "Legal Compliance",
        "Maintain Credit Checking Database",
        "Maintain Credit Rating Database",
        "Maintain Fraud Database",
        "Marketing",
        "Member Partner Management",
        "Misuse Prevention And Detection",
        "Non Commercial Purpose",
        "Non Commercial Research",
        "Optimization For Consumer",
        "Optimization For Controller",
        "Optimize User Interface",
        "Organisation Compliance Management",
        "Organisation Governance",
        "Organisation Risk Management",
        "Payment Management",
        "Personalization",
        "Personalized Advertising",
        "Personalized Benefits",
        "Personnel Hiring",
        "Personnel Management",
        "Personnel Payment",
        "Protection Of IPR",
        "Protection Of National Security",
        "Protection Of Public Security",
        "Provide Event Recommendations",
        "Provide Official Statistics",
        "Provide Personalised Recommendations",
        "Provide Product Recommendations",
        "Public Benefit",
        "Public Policy Making",
        "Public Relations",
        "Record Management",
        "Repair Impairments",
        "Requested Service Provision",
        "Research And Development",
        "Rights Fulfillment",
        "Scientific Research",
        "Search Functionalities",
        "Sell Data To Third Parties",
        "Sell Insights From Data",
        "Sell Products",
        "Sell Products To Data Subject",
        "Service Optimization",
        "Service Personalisation",
        "Service Provision",
        "Service Registration",
        "Service Usage Analytics",
        "Social Media Marketing",
        "Targeted Advertising",
        "Technical Service Provision",
        "User Interface Personalisation",
        "Vendor Management",
        "Vendor Payment",
        "Vendor Records Management",
        "Vendor Selection Assessment",
        "Verification"
      ],
      "x-ms-enum": {
        "name": "Purpose",
        "modelAsString": true,
        "values": [
          {
            "name": "dpvAcademicResearch",
            "value": "Academic Research"
          },
          {
            "name": "dpvAccountManagement",
            "value": "Account Management"
          },
          {
            "name": "dpvAdvertising",
            "value": "Advertising"
          },
          {
            "name": "dpvAgeVerification",
            "value": "Age Verification"
          },
          {
            "name": "dpvCombatClimateChange",
            "value": "Combat Climate Change"
          },
          {
            "name": "dpvCommercialPurpose",
            "value": "Commercial Purpose"
          },
          {
            "name": "dpvCommercialResearch",
            "value": "Commercial Research"
          },
          {
            "name": "dpvCommunicationForCustomerCare",
            "value": "Communication For Customer Care"
          },
          {
            "name": "dpvCommunicationManagement",
            "value": "Communication Management"
          },
          {
            "name": "dpvCounterMoneyLaundering",
            "value": "Counter Money Laundering"
          },
          {
            "name": "dpvCounterterrorism",
            "value": "Counter-terrorism"
          },
          {
            "name": "dpvCreditChecking",
            "value": "Credit Checking"
          },
          {
            "name": "dpvCustomerCare",
            "value": "Customer Care"
          },
          {
            "name": "dpvCustomerClaimsManagement",
            "value": "Customer Claims Management"
          },
          {
            "name": "dpvCustomerManagement",
            "value": "Customer Management"
          },
          {
            "name": "dpvCustomerOrderManagement",
            "value": "Customer Order Management"
          },
          {
            "name": "dpvCustomerRelationshipManagement",
            "value": "Customer Relationship Management"
          },
          {
            "name": "dpvCustomerSolvencyMonitoring",
            "value": "Customer Solvency Monitoring"
          },
          {
            "name": "dpvDataAltruism",
            "value": "Data Altruism"
          },
          {
            "name": "dpvDeliveryOfGoods",
            "value": "Delivery Of Goods"
          },
          {
            "name": "dpvDirectMarketing",
            "value": "Direct Marketing"
          },
          {
            "name": "dpvDisputeManagement",
            "value": "Dispute Management"
          },
          {
            "name": "dpvEnforceAccessControl",
            "value": "Enforce Access Control"
          },
          {
            "name": "dpvEnforceSecurity",
            "value": "Enforce Security"
          },
          {
            "name": "dpvEstablishContractualAgreement",
            "value": "Establish Contractual Agreement"
          },
          {
            "name": "dpvFraudPreventionAndDetection",
            "value": "Fraud Prevention And Detection"
          },
          {
            "name": "dpvFulfilmentOfContractualObligation",
            "value": "Fulfillment Of Contractual Obligation"
          },
          {
            "name": "dpvFulfilmentOfObligation",
            "value": "Fulfillment Of Obligation"
          },
          {
            "name": "dpvHumanResourceManagement",
            "value": "Human Resource Management"
          },
          {
            "name": "dpvIdentityAuthentication",
            "value": "Identity Authentication"
          },
          {
            "name": "dpvIdentityVerification",
            "value": "Identity Verification"
          },
          {
            "name": "dpvImproveExistingProductsAndServices",
            "value": "Improve Existing Products And Services"
          },
          {
            "name": "dpvImproveHealthcare",
            "value": "Improve Healthcare"
          },
          {
            "name": "dpvImproveInternalCRMProcesses",
            "value": "Improve Internal CRM Processes"
          },
          {
            "name": "dpvImprovePublicServices",
            "value": "Improve Public Services"
          },
          {
            "name": "dpvImproveTransportMobility",
            "value": "Improve Transport Mobility"
          },
          {
            "name": "dpvIncreaseServiceRobustness",
            "value": "Increase Service Robustness"
          },
          {
            "name": "dpvInternalResourceOptimisation",
            "value": "Internal Resource Optimization"
          },
          {
            "name": "dpvLegalCompliance",
            "value": "Legal Compliance"
          },
          {
            "name": "dpvMaintainCreditCheckingDatabase",
            "value": "Maintain Credit Checking Database"
          },
          {
            "name": "dpvMaintainCreditRatingDatabase",
            "value": "Maintain Credit Rating Database"
          },
          {
            "name": "dpvMaintainFraudDatabase",
            "value": "Maintain Fraud Database"
          },
          {
            "name": "dpvMarketing",
            "value": "Marketing"
          },
          {
            "name": "dpvMemberPartnerManagement",
            "value": "Member Partner Management"
          },
          {
            "name": "dpvMisusePreventionAndDetection",
            "value": "Misuse Prevention And Detection"
          },
          {
            "name": "dpvNonCommercialPurpose",
            "value": "Non Commercial Purpose"
          },
          {
            "name": "dpvNonCommercialResearch",
            "value": "Non Commercial Research"
          },
          {
            "name": "dpvOptimisationForConsumer",
            "value": "Optimization For Consumer"
          },
          {
            "name": "dpvOptimisationForController",
            "value": "Optimization For Controller"
          },
          {
            "name": "dpvOptimiseUserInterface",
            "value": "Optimize User Interface"
          },
          {
            "name": "dpvOrganisationComplianceManagement",
            "value": "Organisation Compliance Management"
          },
          {
            "name": "dpvOrganisationGovernance",
            "value": "Organisation Governance"
          },
          {
            "name": "dpvOrganisationRiskManagement",
            "value": "Organisation Risk Management"
          },
          {
            "name": "dpvPaymentManagement",
            "value": "Payment Management"
          },
          {
            "name": "dpvPersonalisation",
            "value": "Personalization"
          },
          {
            "name": "dpvPersonalisedAdvertising",
            "value": "Personalized Advertising"
          },
          {
            "name": "dpvPersonalisedBenefits",
            "value": "Personalized Benefits"
          },
          {
            "name": "dpvPersonnelHiring",
            "value": "Personnel Hiring"
          },
          {
            "name": "dpvPersonnelManagement",
            "value": "Personnel Management"
          },
          {
            "name": "dpvPersonnelPayment",
            "value": "Personnel Payment"
          },
          {
            "name": "dpvProtectionOfIPR",
            "value": "Protection Of IPR"
          },
          {
            "name": "dpvProtectionOfNationalSecurity",
            "value": "Protection Of National Security"
          },
          {
            "name": "dpvProtectionOfPublicSecurity",
            "value": "Protection Of Public Security"
          },
          {
            "name": "dpvProvideEventRecommendations",
            "value": "Provide Event Recommendations"
          },
          {
            "name": "dpvProvideOfficialStatistics",
            "value": "Provide Official Statistics"
          },
          {
            "name": "dpvProvidePersonalisedRecommendations",
            "value": "Provide Personalised Recommendations"
          },
          {
            "name": "dpvProvideProductRecommendations",
            "value": "Provide Product Recommendations"
          },
          {
            "name": "dpvPublicBenefit",
            "value": "Public Benefit"
          },
          {
            "name": "dpvPublicPolicyMaking",
            "value": "Public Policy Making"
          },
          {
            "name": "dpvPublicRelations",
            "value": "Public Relations"
          },
          {
            "name": "dpvRecordManagement",
            "value": "Record Management"
          },
          {
            "name": "dpvRepairImpairments",
            "value": "Repair Impairments"
          },
          {
            "name": "dpvRequestedServiceProvision",
            "value": "Requested Service Provision"
          },
          {
            "name": "dpvResearchAndDevelopment",
            "value": "Research And Development"
          },
          {
            "name": "dpvRightsFulfillment",
            "value": "Rights Fulfillment"
          },
          {
            "name": "dpvScientificResearch",
            "value": "Scientific Research"
          },
          {
            "name": "dpvSearchFunctionalities",
            "value": "Search Functionalities"
          },
          {
            "name": "dpvSellDataToThirdParties",
            "value": "Sell Data To Third Parties"
          },
          {
            "name": "dpvSellInsightsFromData",
            "value": "Sell Insights From Data"
          },
          {
            "name": "dpvSellProducts",
            "value": "Sell Products"
          },
          {
            "name": "dpvSellProductsToDataSubject",
            "value": "Sell Products To Data Subject"
          },
          {
            "name": "dpvServiceOptimisation",
            "value": "Service Optimization"
          },
          {
            "name": "dpvServicePersonalisation",
            "value": "Service Personalisation"
          },
          {
            "name": "dpvServiceProvision",
            "value": "Service Provision"
          },
          {
            "name": "dpvServiceRegistration",
            "value": "Service Registration"
          },
          {
            "name": "dpvServiceUsageAnalytics",
            "value": "Service Usage Analytics"
          },
          {
            "name": "dpvSocialMediaMarketing",
            "value": "Social Media Marketing"
          },
          {
            "name": "dpvTargetedAdvertising",
            "value": "Targeted Advertising"
          },
          {
            "name": "dpvTechnicalServiceProvision",
            "value": "Technical Service Provision"
          },
          {
            "name": "dpvUserInterfacePersonalisation",
            "value": "User Interface Personalisation"
          },
          {
            "name": "dpvVendorManagement",
            "value": "Vendor Management"
          },
          {
            "name": "dpvVendorPayment",
            "value": "Vendor Payment"
          },
          {
            "name": "dpvVendorRecordsManagement",
            "value": "Vendor Records Management"
          },
          {
            "name": "dpvVendorSelectionAssessment",
            "value": "Vendor Selection Assessment"
          },
          {
            "name": "dpvVerification",
            "value": "Verification"
          }
        ]
      }
    },
    "SaasProperties": {
      "type": "object",
      "description": "Details about the SaaS offer purchased from the marketplace.",
      "properties": {
        "saasSubscriptionId": {
          "type": "string",
          "description": "Subscription ID of the SaaS offer purchased from the marketplace."
        },
        "saasResourceId": {
          "type": "string",
          "description": "Resource ID of the SaaS offer purchased from the marketplace."
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "Description of the current status of the OperatorApiConnection resource.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Current state of the OperatorApiConnection resource."
        },
        "reason": {
          "type": "string",
          "description": "Explanation of the current state of the OperatorApiConnection resource."
        }
      }
    }
  },
  "parameters": {}
}
