{
  "swagger": "2.0",
  "info": {
    "version": "2021-02-01",
    "title": "WorkerApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps": {
      "get": {
        "tags": [
          "WorkerApps"
        ],
        "summary": "Get the Worker Apps in a given resource group.",
        "description": "Description for Get the Worker Apps in a given resource group.",
        "operationId": "WorkerApps_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerAppCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Worker Apps by resource group": {
            "$ref": "./examples/ListWorkerAppsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps/{name}": {
      "get": {
        "tags": [
          "WorkerApps"
        ],
        "summary": "Get the properties of a Worker App.",
        "description": "Description for Get the properties of a Worker App.",
        "operationId": "WorkerApps_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerApp"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Worker App": {
            "$ref": "./examples/GetWorkerApp.json"
          }
        }
      },
      "put": {
        "tags": [
          "WorkerApps"
        ],
        "summary": "Create or update a Worker App.",
        "description": "Description for Create or update a Worker App.",
        "operationId": "WorkerApps_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workerAppEnvelope",
            "in": "body",
            "description": "Configuration details of the Worker App",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkerApp"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "No change performed on the Worker App.",
            "schema": {
              "$ref": "#/definitions/WorkerApp"
            }
          },
          "201": {
            "description": "Worker App create or update has been started.",
            "schema": {
              "$ref": "#/definitions/WorkerApp"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Worker App": {
            "$ref": "./examples/CreateOrUpdateWorkerApp.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "WorkerApps"
        ],
        "summary": "Delete a Worker App.",
        "description": "Description for Delete a Worker App.",
        "operationId": "WorkerApps_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is in progress."
          },
          "204": {
            "description": "Worker App does not exist."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Worker App": {
            "$ref": "./examples/DeleteWorkerApp.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "WorkerApp": {
      "description": "Worker App.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "WorkerApp resource specific properties",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state of the Worker App.",
              "enum": [
                "InProgress",
                "Succeeded",
                "Failed",
                "Canceled"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "WorkerAppProvisioningState",
                "modelAsString": false
              }
            },
            "kubeEnvironmentId": {
              "description": "Resource ID of the Worker App's KubeEnvironment.",
              "type": "string",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "latestRevisionName": {
              "description": "Name of the latest revision of the Worker App.",
              "type": "string",
              "readOnly": true
            },
            "latestRevisionFqdn": {
              "description": "Fully Qualified Domain Name of the latest revision of the Worker App.",
              "type": "string",
              "readOnly": true
            },
            "configuration": {
              "$ref": "#/definitions/WorkerAppConfiguration",
              "description": "Non versioned Worker App configuration properties."
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/WorkerAppTemplate",
              "description": "Worker App versioned application definition."
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkerAppCollection": {
      "description": "Worker App collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerApp"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkerAppConfiguration": {
      "description": "Non versioned Worker App configuration properties that define the mutable settings of a worker app",
      "type": "object",
      "properties": {
        "secrets": {
          "description": "Collection of secrets used by a worker app",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerAppSecret"
          }
        },
        "activeRevisionsMode": {
          "description": "ActiveRevisionsMode controls how active revisions are handled for the worker app:\n<list><item>Multiple: multiple revisions can be active. If no value if provided, this is the default</item><item>Single: Only one revision can be active at a time. Revision weights can not be used in this mode</item></list>",
          "enum": [
            "multiple",
            "single"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "WorkerAppActiveRevisionsMode",
            "modelAsString": false
          }
        },
        "ingress": {
          "$ref": "#/definitions/WorkerAppIngress",
          "description": "Ingress configurations."
        },
        "registries": {
          "description": "Collection of private container registry credentials for containers used by the worker app",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerAppRegistryCredentials"
          }
        }
      }
    },
    "WorkerAppIngress": {
      "description": "Worker App Ingress configuration.",
      "type": "object",
      "properties": {
        "fqdn": {
          "description": "Hostname.",
          "type": "string",
          "readOnly": true
        },
        "external": {
          "description": "Bool indicating if app exposes an external http endpoint",
          "default": false,
          "type": "boolean"
        },
        "targetPort": {
          "format": "int32",
          "description": "Target Port in containers for traffic from ingress",
          "type": "integer"
        },
        "transport": {
          "description": "Ingress transport protocol",
          "enum": [
            "auto",
            "http",
            "http2"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "WorkerAppIngressTransportMethod",
            "modelAsString": false
          }
        },
        "traffic": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerAppTrafficWeight"
          }
        }
      }
    },
    "WorkerAppRegistryCredentials": {
      "description": "Worker App Private Registry",
      "type": "object",
      "properties": {
        "server": {
          "description": "Container Registry Server",
          "type": "string"
        },
        "username": {
          "description": "Container Registry Username",
          "type": "string"
        },
        "passwordSecretRef": {
          "description": "The name of the Secret that contains the registry login password",
          "type": "string"
        }
      }
    },
    "WorkerAppSecret": {
      "description": "Worker App Secret.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Secret Name.",
          "type": "string"
        },
        "value": {
          "description": "Secret Value.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ],
          "x-ms-secret": true
        }
      }
    },
    "WorkerAppTrafficWeight": {
      "description": "Traffic weight assigned to a revision",
      "type": "object",
      "properties": {
        "revisionName": {
          "description": "Name of a revision",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "description": "Traffic weight assigned to a revision",
          "type": "integer"
        },
        "latestRevision": {
          "description": "Indicates that the traffic weight belongs to a latest stable revision",
          "default": false,
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}