{
  "swagger": "2.0",
  "info": {
    "version": "2021-02-01",
    "title": "WorkerAppsRevisions API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps/{workerAppName}/revisions": {
      "get": {
        "tags": [
          "WorkerAppsRevisions"
        ],
        "summary": "Get the Revisions for a given Worker App.",
        "description": "Description for Get the Revisions for a given Worker App.",
        "operationId": "WorkerAppsRevisions_ListRevisions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "workerAppName",
            "in": "path",
            "description": "Name of the Worker App for which Revisions are needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerAppRevisionCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Worker App's revisions": {
            "$ref": "./examples/ListWorkerAppRevisions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps/{workerAppName}/revisions/{name}": {
      "get": {
        "tags": [
          "WorkerAppsRevisions"
        ],
        "summary": "Get a revision of a Worker App.",
        "description": "Description for Get a revision of a Worker App.",
        "operationId": "WorkerAppsRevisions_GetRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "workerAppName",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkerAppRevision"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Worker App's revision": {
            "$ref": "./examples/GetWorkerAppRevision.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps/{workerAppName}/revisions/{name}/activate": {
      "post": {
        "tags": [
          "WorkerAppsRevisions"
        ],
        "summary": "Activates a revision for a Worker App",
        "description": "Description for Activates a revision for a Worker App",
        "operationId": "WorkerAppsRevisions_ActivateRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "workerAppName",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App Revision to activate",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Worker App revision was activated"
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Activate Worker App's revision": {
            "$ref": "./examples/ActivateWorkerAppRevision.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps/{workerAppName}/revisions/{name}/deactivate": {
      "post": {
        "tags": [
          "WorkerAppsRevisions"
        ],
        "summary": "Deactivates a revision for a Worker App",
        "description": "Description for Deactivates a revision for a Worker App",
        "operationId": "WorkerAppsRevisions_DeactivateRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "workerAppName",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App Revision to deactivate",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Worker App revision was deactivated"
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deactivate Worker App's revision": {
            "$ref": "./examples/DeactivateWorkerAppRevision.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/workerApps/{workerAppName}/revisions/{name}/restart": {
      "post": {
        "tags": [
          "WorkerAppsRevisions"
        ],
        "summary": "Restarts a revision for a Worker App",
        "description": "Description for Restarts a revision for a Worker App",
        "operationId": "WorkerAppsRevisions_RestartRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "workerAppName",
            "in": "path",
            "description": "Name of the Worker App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Worker App Revision to restart",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Worker App revision was restarted"
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restart Worker App's revision": {
            "$ref": "./examples/RestartWorkerAppRevision.json"
          }
        }
      }
    }
  },
  "definitions": {
    "WorkerAppRevision": {
      "description": "Worker App Revision.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "WorkerAppRevision resource specific properties",
          "type": "object",
          "properties": {
            "createdTime": {
              "format": "date-time",
              "description": "Timestamp describing when the revision was created\nby controller",
              "type": "string",
              "readOnly": true
            },
            "fqdn": {
              "description": "Fully qualified domain name of the revision",
              "type": "string",
              "readOnly": true
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/WorkerAppTemplate",
              "description": "Worker App Revision Template with all possible settings and the\ndefaults if user did not provide them. The defaults are populated\nas they were at the creation time",
              "readOnly": true
            },
            "active": {
              "description": "Boolean describing if the Revision is Active",
              "type": "boolean",
              "readOnly": true
            },
            "replicas": {
              "format": "int32",
              "description": "Number of pods currently running for this revision",
              "type": "integer",
              "readOnly": true
            },
            "trafficWeight": {
              "format": "int32",
              "description": "Traffic weight assigned to this revision",
              "type": "integer",
              "readOnly": true
            },
            "history": {
              "description": "Defines the events with respect to Provisioning and Scaling the\nRevision",
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkerAppRevisionEvent"
              },
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkerAppRevisionCollection": {
      "description": "Worker App Revisions collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerAppRevision"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkerAppRevisionEvent": {
      "description": "Worker App container definition.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Human readable message describing the event",
          "type": "string",
          "readOnly": true
        },
        "healthState": {
          "description": "Health State of the revision at the time of the event",
          "enum": [
            "Healthy",
            "Unhealthy",
            "None"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkerAppRevisionHealthState",
            "modelAsString": false
          }
        },
        "provisioningState": {
          "description": "Provisioning State of the revision at the time of the event",
          "enum": [
            "Provisioning",
            "Provisioned",
            "Failed",
            "Deprovisioning",
            "Deprovisioned"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WorkerAppRevisionProvisioningState",
            "modelAsString": false
          }
        },
        "timestamp": {
          "format": "date-time",
          "description": "Timestamp of the revision at the time of the event",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}