{
   "swagger":"2.0",
   "info":{
      "title":"Azure Arc VMware Management Service API",
      "description":"Self service experience for VMware.",
      "version":"2019-12-20-privatepreview"
   },
   "host":"management.azure.com",
   "schemes":[
      "https"
   ],
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "security":[
      {
         "azure_auth":[
            "user_impersonation"
         ]
      }
   ],
   "securityDefinitions":{
      "azure_auth":{
         "type":"oauth2",
         "authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize",
         "flow":"implicit",
         "description":"Azure Active Directory OAuth2 Flow.",
         "scopes":{
            "user_impersonation":"impersonate your user account"
         }
      }
   },
   "paths":{
      "/providers/Microsoft.VMware/operations":{
         "get":{
            "description":"Returns list of operations.",
            "operationId":"Operations_List",
            "x-ms-examples":{
               "ListOperations":{
                  "$ref":"./examples/ListOperations.json"
               }
            },
            "tags":[
               "Operations"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Operation details.",
                  "schema":{
                     "$ref":"#/definitions/operationsList"
                  }
               }
            },
            "deprecated":false,
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}":{
         "put":{
            "tags":[
               "ArcAgents"
            ],
            "description":"Create Or Update arc agent.",
            "summary":"Implements arc agent PUT method.",
            "operationId":"ArcAgents_Create",
            "x-ms-examples":{
               "CreateArcAgent":{
                  "$ref":"./examples/CreateArcAgent.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/ArcAgent"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/ArcAgent"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "ArcAgents"
            ],
            "operationId":"ArcAgents_Get",
            "x-ms-examples":{
               "GetArcAgent":{
                  "$ref":"./examples/GetArcAgent.json"
               }
            },
            "summary":"Gets an arc agent.",
            "description":"Implements arc agent GET method.",
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "ArcAgents"
            ],
            "operationId":"ArcAgents_Update",
            "x-ms-examples":{
               "UpdateArcAgent":{
                  "$ref":"./examples/UpdateArcAgent.json"
               }
            },
            "summary":"Updates an arc agent.",
            "description":"API to update certain properties of the arc agent resource.",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "ArcAgents"
            ],
            "operationId":"ArcAgents_Delete",
            "summary":"Deletes an arc agent.",
            "description":"Implements arc agent DELETE method.",
            "x-ms-examples":{
               "DeleteArcAgent":{
                  "$ref":"./examples/DeleteArcAgent.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ArcAgent"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/ArcAgents":{
         "get":{
            "tags":[
               "ArcAgents"
            ],
            "operationId":"ArcAgents_List",
            "summary":"Implements GET arcagents in a subscription.",
            "description":"List of arcagents in a subscription.",
            "x-ms-examples":{
               "ListArcAgents":{
                  "$ref":"./examples/ListArcAgents.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ArcAgentsList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents":{
         "get":{
            "tags":[
               "ArcAgents"
            ],
            "operationId":"ArcAgents_ListByResourceGroup",
            "summary":"Implements GET arcagents in a resource group.",
            "description":"List of arcagents in a resource group.",
            "x-ms-examples":{
               "ListArcAgentsByResourceGroup":{
                  "$ref":"./examples/ListArcAgentsByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ArcAgentsList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}/gethybridconnectionstring":{
         "post":{
            "tags":[
               "ArcAgents"
            ],
            "operationId":"ArcAgents_GetHybridConnectionString",
            "summary":"Implements GetHybridConnectionString for the arc agent.",
            "description":"Gets the hybrid connectionstring for the arc agent.",
            "x-ms-examples":{
               "ArcAgentGetHybridConnectionString":{
                  "$ref":"./examples/ArcAgentGetHybridConnectionString.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/HybridConnection"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/Images/{imageName}":{
         "put":{
            "tags":[
               "Images"
            ],
            "operationId":"Images_Create",
            "description":"Create Or Update image.",
            "summary":"Implements image PUT method.",
            "x-ms-examples":{
               "CreateImage":{
                  "$ref":"./examples/CreateImage.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/Image"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/Image"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/Image"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "Images"
            ],
            "operationId":"Images_Get",
            "summary":"Gets an image.",
            "description":"Implements image GET method.",
            "x-ms-examples":{
               "GetImage":{
                  "$ref":"./examples/GetImage.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/Image"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "Images"
            ],
            "operationId":"Images_Update",
            "summary":"Updates an image.",
            "description":"API to update certain properties of the image resource.",
            "x-ms-examples":{
               "UpdateImage":{
                  "$ref":"./examples/UpdateImage.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to udpate.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/Image"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "Images"
            ],
            "operationId":"Images_Delete",
            "summary":"Deletes an image.",
            "description":"Implements image DELETE method.",
            "x-ms-examples":{
               "DeleteImage":{
                  "$ref":"./examples/DeleteImage.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"imageName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the image resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/Image"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/Images":{
         "get":{
            "tags":[
               "Images"
            ],
            "operationId":"Images_List",
            "summary":"Implements GET images in a subscription.",
            "description":"List of images in a subscription.",
            "x-ms-examples":{
               "ListImages":{
                  "$ref":"./examples/ListImages.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ImagesList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/Images":{
         "get":{
            "tags":[
               "Images"
            ],
            "operationId":"Images_ListByResourceGroup",
            "summary":"Implements GET images in a resource group.",
            "description":"List of images in a resource group.",
            "x-ms-examples":{
               "ListImagesByResourceGroup":{
                  "$ref":"./examples/ListImagesByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ImagesList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ResourcePools/{resourcePoolName}":{
         "put":{
            "tags":[
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Create",
            "description":"Create Or Update resourcePool.",
            "summary":"Implements resourcePool PUT method.",
            "x-ms-examples":{
               "CreateResourcePool":{
                  "$ref":"./examples/CreateResourcePool.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"resourcePoolName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the resourcePool."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePool"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/ResourcePool"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Get",
            "summary":"Gets a resourcePool.",
            "description":"Implements resourcePool GET method.",
            "x-ms-examples":{
               "GetResourcePool":{
                  "$ref":"./examples/GetResourcePool.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"resourcePoolName",
                  "description":"Name of the resourcePool.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Update",
            "summary":"Updates a resourcePool.",
            "description":"API to update certain properties of the resourcePool resource.",
            "x-ms-examples":{
               "UpdateResourcePool":{
                  "$ref":"./examples/UpdateResourcePool.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"resourcePoolName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the resourcePool."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "ResourcePools"
            ],
            "operationId":"ResourcePools_Delete",
            "summary":"Deletes an resourcePool.",
            "description":"Implements resourcePool DELETE method.",
            "x-ms-examples":{
               "DeleteResourcePool":{
                  "$ref":"./examples/DeleteResourcePool.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"resourcePoolName",
                  "description":"Name of the resourcePool.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ResourcePool"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/ResourcePools":{
         "get":{
            "tags":[
               "ResourcePools"
            ],
            "operationId":"ResourcePools_List",
            "summary":"Implements GET resourcePools in a subscription.",
            "description":"List of resourcePools in a subscription.",
            "x-ms-examples":{
               "ListResourcePools":{
                  "$ref":"./examples/ListResourcePools.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ResourcePoolsList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ResourcePools":{
         "get":{
            "tags":[
               "ResourcePools"
            ],
            "operationId":"ResourcePools_ListByResourceGroup",
            "summary":"Implements GET resourcePools in a resource group.",
            "description":"List of resourcePools in a resource group.",
            "x-ms-examples":{
               "ListArcAgentsByResourceGroup":{
                  "$ref":"./examples/ListArcAgentsByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/ResourcePoolsList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}/runAsAccounts":{
         "get":{
            "tags":[
               "RunAsAccounts"
            ],
            "operationId":"RunAsAccounts_ListByArcAgent",
            "summary":"Implements Get RunAsAccounts of the agent.",
            "description":"Returns list of RunAsAccounts configured for the agent.",
            "x-ms-examples":{
               "ListRunAsAccountsByAgent":{
                  "$ref":"./examples/ListRunAsAccountsByAgent.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/RunAsAccountsList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/ArcAgents/{arcAgentName}/runAsAccounts/{runAsAccountName}":{
         "get":{
            "tags":[
               "RunAsAccounts"
            ],
            "operationId":"RunAsAccounts_Get",
            "summary":"Gets a runasaccount.",
            "description":"Implements runasaccount GET method.",
            "x-ms-examples":{
               "GetRunAsAccount":{
                  "$ref":"./examples/GetRunAsAccount.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"arcAgentName",
                  "description":"Name of the arc agent resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "in":"path",
                  "name":"runAsAccountName",
                  "description":"Name of the runasaccount resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/RunAsAccount"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VCenters/{vCenterName}":{
         "put":{
            "tags":[
               "VCenters"
            ],
            "operationId":"VCenters_Create",
            "description":"Create Or Update vCenter.",
            "summary":"Implements vCenter PUT method.",
            "x-ms-examples":{
               "CreateVCenter":{
                  "$ref":"./examples/CreateVCenter.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/VCenter"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/VCenter"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "VCenters"
            ],
            "operationId":"VCenters_Get",
            "summary":"Gets a vCenter.",
            "description":"Implements vCenter GET method.",
            "x-ms-examples":{
               "GetVCenter":{
                  "$ref":"./examples/GetVCenter.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "VCenters"
            ],
            "operationId":"VCenters_Update",
            "summary":"Updates a vCenter.",
            "description":"API to update certain properties of the vCenter resource.",
            "x-ms-examples":{
               "UpdateVCenter":{
                  "$ref":"./examples/UpdateVCenter.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "VCenters"
            ],
            "operationId":"VCenters_Delete",
            "summary":"Deletes an vCenter.",
            "description":"Implements vCenter DELETE method.",
            "x-ms-examples":{
               "DeleteVCenter":{
                  "$ref":"./examples/DeleteVCenter.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"vCenterName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the vCenter."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VCenter"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/VCenters":{
         "get":{
            "tags":[
               "VCenters"
            ],
            "operationId":"VCenters_List",
            "summary":"Implements GET vCenters in a subscription.",
            "description":"List of vCenters in a subscription.",
            "x-ms-examples":{
               "ListVCenters":{
                  "$ref":"./examples/ListVCenters.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VCentersList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VCenters":{
         "get":{
            "tags":[
               "VCenters"
            ],
            "operationId":"VCenters_ListByResourceGroup",
            "summary":"Implements GET vCenters in a resource group.",
            "description":"List of vCenters in a resource group.",
            "x-ms-examples":{
               "ListVCentersByResourceGroup":{
                  "$ref":"./examples/ListVCentersByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VCentersList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualMachines/{virtualMachineName}":{
         "put":{
            "tags":[
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Create",
            "description":"Create Or Update virtual machine.",
            "summary":"Implements virtual machine PUT method.",
            "x-ms-examples":{
               "CreateVirtualMachine":{
                  "$ref":"./examples/CreateVirtualMachine.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachine"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/VirtualMachine"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Get",
            "summary":"Gets a virtual machine.",
            "description":"Implements virtual machine GET method.",
            "x-ms-examples":{
               "GetVirtualMachine":{
                  "$ref":"./examples/GetVirtualMachine.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Update",
            "summary":"Updates a virtual machine.",
            "description":"API to update certain properties of the virtual machine resource.",
            "x-ms-examples":{
               "UpdateVirtualMachine":{
                  "$ref":"./examples/UpdateVirtualMachine.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_Delete",
            "summary":"Deletes an virtual machine.",
            "description":"Implements virtual machine DELETE method.",
            "x-ms-examples":{
               "DeleteVirtualMachine":{
                  "$ref":"./examples/DeleteVirtualMachine.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineName",
                  "description":"Name of the virtual machine resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachine"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/VirtualMachines":{
         "get":{
            "tags":[
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_List",
            "summary":"Implements GET virtualMachines in a subscription.",
            "description":"List of virtualMachines in a subscription.",
            "x-ms-examples":{
               "ListVirtualMachines":{
                  "$ref":"./examples/ListVirtualMachines.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachinesList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualMachines":{
         "get":{
            "tags":[
               "VirtualMachines"
            ],
            "operationId":"VirtualMachines_ListByResourceGroup",
            "summary":"Implements GET virtualMachines in a resource group.",
            "description":"List of virtualMachines in a resource group.",
            "x-ms-examples":{
               "ListVirtualMachinesByResourceGroup":{
                  "$ref":"./examples/ListVirtualMachinesByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachinesList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualMachineTemplates/{virtualMachineTemplateName}":{
         "put":{
            "tags":[
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Create",
            "description":"Create Or Update virtual machine template.",
            "x-ms-examples":{
               "CreateVirtualMachineTemplate":{
                  "$ref":"./examples/CreateVirtualMachineTemplate.json"
               }
            },
            "summary":"Implements virtual machine template PUT method.",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "description":"Name of the virtual machine template resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Get",
            "summary":"Gets a virtual machine template.",
            "description":"Implements virtual machine template GET method.",
            "x-ms-examples":{
               "GetVirtualMachineTemplate":{
                  "$ref":"./examples/GetVirtualMachineTemplate.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "description":"Name of the virtual machine template resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Update",
            "summary":"Updates a virtual machine template.",
            "description":"API to update certain properties of the virtual machine template resource.",
            "x-ms-examples":{
               "UpdateVirtualMachineTemplate":{
                  "$ref":"./examples/UpdateVirtualMachineTemplate.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine template resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_Delete",
            "summary":"Deletes an virtual machine template.",
            "description":"Implements virtual machine template DELETE method.",
            "x-ms-examples":{
               "DeleteVirtualMachineTemplate":{
                  "$ref":"./examples/DeleteVirtualMachineTemplate.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualMachineTemplateName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual machine template resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplate"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/VirtualMachineTemplates":{
         "get":{
            "tags":[
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_List",
            "summary":"Implements GET virtualMachineTemplates in a subscription.",
            "description":"List of virtualMachineTemplates in a subscription.",
            "x-ms-examples":{
               "ListVirtualMachineTemplates":{
                  "$ref":"./examples/ListVirtualMachineTemplates.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplatesList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualMachineTemplates":{
         "get":{
            "tags":[
               "VirtualMachineTemplates"
            ],
            "operationId":"VirtualMachineTemplates_ListByResourceGroup",
            "summary":"Implements GET virtualMachineTemplates in a resource group.",
            "description":"List of virtualMachineTemplates in a resource group.",
            "x-ms-examples":{
               "ListVirtualMachineTemplatesByResourceGroup":{
                  "$ref":"./examples/ListVirtualMachineTemplatesByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualMachineTemplatesList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualNetworks/{virtualNetworkName}":{
         "put":{
            "tags":[
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Create",
            "description":"Create Or Update virtual network.",
            "summary":"Implements virtual network PUT method.",
            "x-ms-examples":{
               "CreateVirtualNetwork":{
                  "$ref":"./examples/CreateVirtualNetwork.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualNetworkName",
                  "description":"Name of the virtual network resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Request payload.",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "201":{
                  "description":"Created",
				  "schema":{
                     "$ref":"#/definitions/VirtualNetwork"
                  },
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         },
         "get":{
            "tags":[
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Get",
            "summary":"Gets a virtual network.",
            "description":"Implements virtual network GET method.",
            "x-ms-examples":{
               "GetVirtualNetwork":{
                  "$ref":"./examples/GetVirtualNetwork.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualNetworkName",
                  "required":true,
                  "type":"string",
                  "description":"Name of the virtual network resource."
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "patch":{
            "tags":[
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Update",
            "summary":"Updates a virtual network.",
            "description":"API to update certain properties of the virtual network resource.",
            "x-ms-examples":{
               "UpdateVirtualNetwork":{
                  "$ref":"./examples/UpdateVirtualNetwork.json"
               }
            },
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualNetworkName",
                  "description":"Name of the virtual network resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               },
               {
                  "in":"body",
                  "name":"body",
                  "description":"Resource properties to update.",
                  "schema":{
                     "$ref":"#/definitions/ResourcePatch"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            }
         },
         "delete":{
            "tags":[
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_Delete",
            "summary":"Deletes an virtual network.",
            "description":"Implements virtual network DELETE method.",
            "x-ms-examples":{
               "DeleteVirtualNetwork":{
                  "$ref":"./examples/DeleteVirtualNetwork.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "in":"path",
                  "name":"virtualNetworkName",
                  "description":"Name of the virtual network resource.",
                  "required":true,
                  "type":"string"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetwork"
                  }
               },
               "202":{
                  "description":"Accepted",
                  "headers":{
                     "Azure-AsyncOperation":{
                        "description":"Tracking URL for long running operation.",
                        "type":"string"
                     }
                  }
               },
               "204":{
                  "description":"No Content"
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-long-running-operation":true
         }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.VMware/VirtualNetworks":{
         "get":{
            "tags":[
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_List",
            "summary":"Implements GET virtualNetworks in a subscription.",
            "description":"List of virtualNetworks in a subscription.",
            "x-ms-examples":{
               "ListVirtualNetworks":{
                  "$ref":"./examples/ListVirtualNetworks.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetworksList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMware/VirtualNetworks":{
         "get":{
            "tags":[
               "VirtualNetworks"
            ],
            "operationId":"VirtualNetworks_ListByResourceGroup",
            "summary":"Implements GET virtualNetworks in a resource group.",
            "description":"List of virtualNetworks in a resource group.",
            "x-ms-examples":{
               "ListVirtualNetworksByResourceGroup":{
                  "$ref":"./examples/ListVirtualNetworksByResourceGroup.json"
               }
            },
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "$ref":"#/parameters/subscriptionId"
               },
               {
                  "$ref":"#/parameters/resourceGroupName"
               },
               {
                  "$ref":"#/parameters/api-version"
               }
            ],
            "responses":{
               "200":{
                  "description":"Success",
                  "schema":{
                     "$ref":"#/definitions/VirtualNetworksList"
                  }
               },
               "default":{
                  "description":"Error response describing why the operation failed.",
                  "schema":{
                     "$ref":"#/definitions/ErrorResponse"
                  }
               }
            },
            "x-ms-pageable":{
               "nextLinkName":"nextLink"
            }
         }
      }
   },
   "definitions":{
      "ArcAgentProperties":{
         "description":"Defines the resource properties.",
         "required":[
            "certPublicKey"
         ],
         "type":"object",
         "properties":{
            "createdTimestamp":{
               "description":"Gets the timestamp marking arcAgent creation.",
               "type":"string",
               "readOnly":true
            },
            "updatedTimestamp":{
               "description":"Gets the timestamp marking last updated on the arcAgent.",
               "type":"string",
               "readOnly":true
            },
            "certPublicKey":{
               "description":"Gets or sets the arcAgent certificate public key.",
               "type":"string"
            },
            "serviceEndpoint":{
               "description":"Gets the Endpoint at which the agent can call service REST API.",
               "type":"string",
               "readOnly":true
            },
            "lastHeartBeatUtc":{
               "format":"date-time",
               "description":"Gets the last heartbeat time of the site in UTC.",
               "type":"string",
               "readOnly":true
            },
            "version":{
               "description":"Gets the version of the arcAgent.",
               "type":"string",
               "readOnly":true
            },
            "provisioningState":{
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ArcAgent":{
         "description":"Define the arcAgent.",
         "required":[
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{
            "properties":{
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/ArcAgentProperties"
            },
            "location":{
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[
                  "read",
                  "create"
               ]
            },
            "tags":{
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{
                  "type":"string"
               }
            },
            "name":{
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ArcAgentsList":{
         "description":"List of ArcAgents.",
         "properties":{
            "nextLink":{
               "description":"Url to follow for getting next page of ArcAgents.",
               "type":"string"
            },
            "value":{
               "description":"Array of ArcAgents",
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ArcAgent"
               }
            }
         },
         "required":[
            "value"
         ]
      },
      "HybridConnection":{
         "description":"The result of a get hybrid connection.",
         "type":"object",
         "properties":{
            "connectionString":{
               "description":"Gets or sets the connection string.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ImageProperties":{
         "description":"Defines the resource properties.",
         "required":[
            "moRefId",
            "vCenterId"
         ],
         "type":"object",
         "properties":{
            "vCenterId":{
               "description":"Gets or sets the ARM Id of the vCenter resource in which this image resides.",
               "type":"string"
            },
            "moRefId":{
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the image.",
               "type":"string"
            },
            "provisioningState":{
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "Image":{
         "description":"Define the image.",
         "required":[
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{
            "properties":{
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/ImageProperties"
            },
            "location":{
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[
                  "read",
                  "create"
               ]
            },
            "tags":{
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{
                  "type":"string"
               }
            },
            "name":{
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ImagesList":{
         "description":"List of Images.",
         "properties":{
            "nextLink":{
               "description":"Url to follow for getting next page of Images.",
               "type":"string"
            },
            "value":{
               "description":"Array of Images",
               "type":"array",
               "items":{
                  "$ref":"#/definitions/Image"
               }
            }
         },
         "required":[
            "value"
         ]
      },
      "ResourcePatch":{
         "type":"object",
         "properties":{
            "tags":{
               "type":"object",
               "additionalProperties":{
                  "type":"string"
               },
               "description":"Resource tags."
            }
         },
         "description":"Object containing updates for patch operations."
      },
      "ResourcePoolProperties":{
         "description":"Defines the resource properties.",
         "required":[
            "moRefId",
            "vCenterId"
         ],
         "type":"object",
         "properties":{
            "vCenterId":{
               "description":"Gets or sets the ARM Id of the vCenter resource in which this resource pool resides.",
               "type":"string"
            },
            "moRefId":{
               "description":"Gets or sets the vCenter MoRef (Managed Object Reference) ID for the resource pool.",
               "type":"string"
            },
            "provisioningState":{
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ResourcePool":{
         "description":"Define the resourcePool.",
         "required":[
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{
            "properties":{
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/ResourcePoolProperties"
            },
            "location":{
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[
                  "read",
                  "create"
               ]
            },
            "tags":{
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{
                  "type":"string"
               }
            },
            "name":{
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "ResourcePoolsList":{
         "description":"List of ResourcePools.",
         "properties":{
            "nextLink":{
               "description":"Url to follow for getting next page of ResourcePools.",
               "type":"string"
            },
            "value":{
               "description":"Array of ResourcePools",
               "type":"array",
               "items":{
                  "$ref":"#/definitions/ResourcePool"
               }
            }
         },
         "required":[
            "value"
         ]
      },
      "RunAsAccountProperties":{
         "description":"Defines the resource properties.",
         "required":[
            "accountId",
            "displayName"
         ],
         "type":"object",
         "properties":{
            "createdTimestamp":{
               "description":"Gets the timestamp marking run as account creation.",
               "type":"string",
               "readOnly":true
            },
            "updatedTimestamp":{
               "description":"Gets the timestamp marking last updated on the run as account.",
               "type":"string",
               "readOnly":true
            },
            "accountId":{
               "description":"Gets or sets the id of the on-premise runasaccount that maps to this account representation in Azure.",
               "type":"string"
            },
            "displayName":{
               "description":"Gets or sets the displayName for the runasaccount.",
               "type":"string"
            },
            "provisioningState":{
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "RunAsAccount":{
         "description":"Define the runAsAccount.",
         "required":[
            "properties"
         ],
         "type":"object",
         "properties":{
            "properties":{
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/RunAsAccountProperties"
            },
            "name":{
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "RunAsAccountsList":{
         "description":"List of runasaccounts.",
         "properties":{
            "nextLink":{
               "description":"Url to follow for getting next page of runasaccounts.",
               "type":"string"
            },
            "value":{
               "description":"Array of runasaccounts",
               "type":"array",
               "items":{
                  "$ref":"#/definitions/RunAsAccount"
               }
            }
         },
         "required":[
            "value"
         ]
      },
      "VCenterProperties":{
         "description":"Defines the resource properties.",
         "required":[
            "fqdn",
            "port",
            "runAsAccountId"
         ],
         "type":"object",
         "properties":{
            "createdTimestamp":{
               "description":"Gets the timestamp marking vCenter creation.",
               "type":"string",
               "readOnly":true
            },
            "updatedTimestamp":{
               "description":"Gets the timestamp marking last updated on the vCenter.",
               "type":"string",
               "readOnly":true
            },
            "fqdn":{
               "description":"Gets or sets the FQDN/IPAddress of the vCenter.",
               "type":"string"
            },
            "port":{
               "format":"int32",
               "description":"Gets or sets the port of the vCenter.",
               "maximum":65535,
               "minimum":1,
               "type":"integer"
            },
            "runAsAccountId":{
               "description":"Gets or sets the ARM Id of the run as account Id of the vCenter.",
               "type":"string"
            },
            "version":{
               "description":"Gets the version of the vCenter.",
               "type":"string",
               "readOnly":true
            },
            "instanceUuid":{
               "description":"Gets the instance UUID of the vCenter.",
               "type":"string",
               "readOnly":true
            },
            "provisioningState":{
               "description":"Gets or sets the provisioning state.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VCenter":{
         "description":"Define the vCenter.",
         "required":[
            "location",
            "properties"
         ],
         "type":"object",
         "x-ms-azure-resource":true,
         "properties":{
            "properties":{
               "x-ms-client-flatten":true,
               "description":"Resource properties.",
               "$ref":"#/definitions/VCenterProperties"
            },
            "location":{
               "description":"Gets or sets the location.",
               "type":"string",
               "x-ms-mutability":[
                  "read",
                  "create"
               ]
            },
            "tags":{
               "description":"Gets or sets the Resource tags.",
               "type":"object",
               "additionalProperties":{
                  "type":"string"
               }
            },
            "name":{
               "description":"Gets or sets the name.",
               "type":"string",
               "readOnly":true
            },
            "id":{
               "description":"Gets or sets the Id.",
               "type":"string",
               "readOnly":true
            },
            "type":{
               "description":"Gets or sets the type of the resource.",
               "type":"string",
               "readOnly":true
            }
         }
      },
      "VCentersList":{
         "description":"List of VCenters.",
         "properties":{
            "nextLink":{
               "description":"Url to follow for getting next page of VCenters.",
               "type":"string"
            },
            "value":{
               "description":"Array of VCenters",
               "type":"array",
               "items":{
                  "$ref":"#/definitions/VCenter"
               }
            }
         },
         "required":[
            "value"
         ]
      },
      "OsType":{
         "description":"Defines the different types of VM guest operating systems.",
         "enum":[
            "Windows",
            "Linux"
         ],
         "type":"string"
      },
      "OsProfile":{
         "description":"Defines the resource properties.",
         "type":"object",
         "properties":{
            "computerName":{
               "description":"Gets or sets computer name.",
               "type":"string"
            },
            "adminUserName":{
               "description":"Gets or sets administrator username.",
               "type":"string"
            },
            "adminPassword":{
               "description":"Gets or sets administrator password.",
               "type":"string"
            },
            "osType":{
               "description":"Type of OS.",
               "$ref":"#/definitions/OsType"
            }
         }
      },
      "HardwareProfile":{
         "description":"Defines the resource properties.",
         "type":"object",
         "properties":{
            "memorySizeInMB":{
               "format":"int32",
[...]
