{
  "swagger": "2.0",
  "info": {
    "version": "2025-10-01",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Microsoft Entra ID OAuth 2.0 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings": {
      "get": {
        "operationId": "ArcSettings_ListByCluster",
        "description": "Get ArcSetting resources of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSettingList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ArcSetting resources by HCI Cluster": {
            "$ref": "./examples/ListArcSettingsByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}": {
      "get": {
        "operationId": "ArcSettings_Get",
        "description": "Get ArcSetting resource details of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ArcSetting": {
            "$ref": "./examples/GetArcSetting.json"
          }
        }
      },
      "put": {
        "operationId": "ArcSettings_Create",
        "description": "Create ArcSetting for HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "name": "arcSetting",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcSetting"
            },
            "description": "Parameters supplied to the Create ArcSetting resource for this HCI cluster."
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create ArcSetting": {
            "$ref": "./examples/PutArcSetting.json"
          }
        }
      },
      "patch": {
        "operationId": "ArcSettings_Update",
        "description": "Update ArcSettings for HCI cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "name": "arcSetting",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcSettingsPatch"
            },
            "description": "ArcSettings parameters that needs to be updated"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch ArcSetting": {
            "$ref": "./examples/PatchArcSetting.json"
          }
        }
      },
      "delete": {
        "operationId": "ArcSettings_Delete",
        "description": "Delete ArcSetting resource details of HCI Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete ArcSetting": {
            "$ref": "./examples/DeleteArcSetting.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/generatePassword": {
      "post": {
        "tags": [
          "ArcSettings"
        ],
        "operationId": "ArcSettings_GeneratePassword",
        "description": "Generate password for arc settings.",
        "x-ms-examples": {
          "Generate Password": {
            "$ref": "./examples/GeneratePassword.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PasswordCredential"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/createArcIdentity": {
      "post": {
        "tags": [
          "ArcSettings"
        ],
        "operationId": "ArcSettings_CreateIdentity",
        "description": "Create Aad identity for arc settings.",
        "x-ms-examples": {
          "Create Arc Identity": {
            "$ref": "./examples/CreateArcIdentity.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcIdentityResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/consentAndInstallDefaultExtensions": {
      "post": {
        "tags": [
          "ArcSettings"
        ],
        "operationId": "ArcSettings_ConsentAndInstallDefaultExtensions",
        "description": "Add consent time for default extensions and initiate extensions installation",
        "x-ms-examples": {
          "Consent And Install Default Extensions": {
            "$ref": "./examples/ConsentAndInstallDefaultExtensions.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/arcSettings/{arcSettingName}/initializeDisableProcess": {
      "post": {
        "tags": [
          "ArcSettings"
        ],
        "operationId": "ArcSettings_InitializeDisableProcess",
        "description": "Initializes ARC Disable process on the cluster",
        "x-ms-examples": {
          "Trigger ARC Disable": {
            "$ref": "./examples/InitializeDisableProcess.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ArcSettingNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "ArcSettingList": {
      "description": "List of ArcSetting proxy resources for the HCI cluster.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of ArcSetting proxy resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArcSetting"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ArcSettingsPatch": {
      "description": "ArcSetting details to update.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "ArcSettings properties.",
          "$ref": "#/definitions/ArcSettingsPatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArcSettingsPatchProperties": {
      "description": "ArcSettings properties.",
      "type": "object",
      "properties": {
        "connectivityProperties": {
          "description": "contains connectivity related configuration for ARC resources",
          "type": "object",
          "items": {
            "$ref": "#/definitions/ArcConnectivityProperties"
          }
        }
      }
    },
    "ArcSetting": {
      "description": "ArcSetting details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "ArcSetting properties.",
          "$ref": "#/definitions/ArcSettingProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArcSettingProperties": {
      "description": "ArcSetting properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the ArcSetting proxy resource.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Failed",
            "Canceled",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning",
            "DisableInProgress"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "name": "NotSpecified",
                "value": "NotSpecified",
                "description": "The provisioning state is not specified."
              },
              {
                "name": "Error",
                "value": "Error",
                "description": "An error occurred during provisioning."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "Provisioning completed successfully."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "Provisioning failed."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "Provisioning was canceled."
              },
              {
                "name": "Connected",
                "value": "Connected",
                "description": "The resource is connected."
              },
              {
                "name": "Disconnected",
                "value": "Disconnected",
                "description": "The resource is disconnected."
              },
              {
                "name": "Deleted",
                "value": "Deleted",
                "description": "The resource has been deleted."
              },
              {
                "name": "Creating",
                "value": "Creating",
                "description": "The resource is being created."
              },
              {
                "name": "Updating",
                "value": "Updating",
                "description": "The resource is being updated."
              },
              {
                "name": "Deleting",
                "value": "Deleting",
                "description": "The resource is being deleted."
              },
              {
                "name": "Moving",
                "value": "Moving",
                "description": "The resource is being moved."
              },
              {
                "name": "PartiallySucceeded",
                "value": "PartiallySucceeded",
                "description": "Provisioning partially succeeded."
              },
              {
                "name": "PartiallyConnected",
                "value": "PartiallyConnected",
                "description": "The resource is partially connected."
              },
              {
                "name": "InProgress",
                "value": "InProgress",
                "description": "Provisioning is in progress."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "Provisioning request has been accepted."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The resource is currently provisioning."
              },
              {
                "name": "DisableInProgress",
                "value": "DisableInProgress",
                "description": "The resource is being disabled."
              }
            ]
          },
          "readOnly": true
        },
        "arcInstanceResourceGroup": {
          "description": "The resource group that hosts the Arc agents, ie. Hybrid Compute Machine resources.",
          "type": "string"
        },
        "arcApplicationClientId": {
          "description": "App id of arc AAD identity.",
          "type": "string"
        },
        "arcApplicationTenantId": {
          "description": "Tenant id of arc AAD identity.",
          "type": "string"
        },
        "arcServicePrincipalObjectId": {
          "description": "Object id of arc AAD service principal.",
          "type": "string"
        },
        "arcApplicationObjectId": {
          "description": "Object id of arc AAD identity.",
          "type": "string"
        },
        "aggregateState": {
          "description": "Aggregate state of Arc agent across the nodes in this HCI cluster.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Canceled",
            "Failed",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning",
            "DisableInProgress"
          ],
          "x-ms-enum": {
            "name": "ArcSettingAggregateState",
            "modelAsString": true,
            "values": [
              {
                "name": "NotSpecified",
                "value": "NotSpecified",
                "description": "The aggregate state is not specified."
              },
              {
                "name": "Error",
                "value": "Error",
                "description": "An error occurred in the aggregate state."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The operation successfully completed across all nodes."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "The operation was canceled across the nodes."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The operation failed on all or most nodes."
              },
              {
                "name": "Connected",
                "value": "Connected",
                "description": "All nodes are connected."
              },
              {
                "name": "Disconnected",
                "value": "Disconnected",
                "description": "All nodes are disconnected."
              },
              {
                "name": "Deleted",
                "value": "Deleted",
                "description": "The Arc agent has been deleted from all nodes."
              },
              {
                "name": "Creating",
                "value": "Creating",
                "description": "The Arc agent is being created across the nodes."
              },
              {
                "name": "Updating",
                "value": "Updating",
                "description": "The Arc agent is being updated across the nodes."
              },
              {
                "name": "Deleting",
                "value": "Deleting",
                "description": "The Arc agent is being deleted across the nodes."
              },
              {
                "name": "Moving",
                "value": "Moving",
                "description": "The Arc agent is being moved across the nodes."
              },
              {
                "name": "PartiallySucceeded",
                "value": "PartiallySucceeded",
                "description": "The operation succeeded on some nodes."
              },
              {
                "name": "PartiallyConnected",
                "value": "PartiallyConnected",
                "description": "Some nodes are connected, others are not."
              },
              {
                "name": "InProgress",
                "value": "InProgress",
                "description": "The operation is currently in progress across the nodes."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "The operation has been accepted and is pending execution."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The Arc agent is being provisioned across the nodes."
              },
              {
                "name": "DisableInProgress",
                "value": "DisableInProgress",
                "description": "The Arc agent is being disabled across the nodes."
              }
            ]
          },
          "readOnly": true
        },
        "perNodeDetails": {
          "description": "State of Arc agent in each of the nodes.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerNodeState"
          },
          "readOnly": true
        },
        "connectivityProperties": {
          "description": "contains connectivity related configuration for ARC resources",
          "type": "object",
          "items": {
            "$ref": "#/definitions/ArcConnectivityProperties"
          }
        },
        "defaultExtensions": {
          "description": "Properties for each of the default extensions category",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DefaultExtensionDetails"
          },
          "x-ms-identifiers": [
            "category"
          ],
          "readOnly": true
        }
      }
    },
    "PerNodeState": {
      "description": "Status of Arc agent for a particular node in HCI Cluster.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the Node in HCI Cluster"
        },
        "arcInstance": {
          "description": "Fully qualified resource ID for the Arc agent of this node.",
          "type": "string",
          "readOnly": true
        },
        "arcNodeServicePrincipalObjectId": {
          "description": "The service principal id of the arc for server node",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "State of the Arc agent in this node. Indicates the current lifecycle status of the agent, such as whether it's being provisioned, connected, updated, or has encountered an error.",
          "type": "string",
          "enum": [
            "NotSpecified",
            "Error",
            "Succeeded",
            "Canceled",
            "Failed",
            "Connected",
            "Disconnected",
            "Deleted",
            "Creating",
            "Updating",
            "Deleting",
            "Moving",
            "PartiallySucceeded",
            "PartiallyConnected",
            "InProgress",
            "Accepted",
            "Provisioning",
            "DisableInProgress"
          ],
          "x-ms-enum": {
            "name": "NodeArcState",
            "modelAsString": true,
            "values": [
              {
                "name": "NotSpecified",
                "value": "NotSpecified",
                "description": "The state is not specified."
              },
              {
                "name": "Error",
                "value": "Error",
                "description": "An error occurred during the agent's lifecycle."
              },
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The operation completed successfully."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "The operation was canceled before completion."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The operation failed."
              },
              {
                "name": "Connected",
                "value": "Connected",
                "description": "The Arc agent is connected on this node."
              },
              {
                "name": "Disconnected",
                "value": "Disconnected",
                "description": "The Arc agent is disconnected on this node."
              },
              {
                "name": "Deleted",
                "value": "Deleted",
                "description": "The Arc agent has been deleted from this node."
              },
              {
                "name": "Creating",
                "value": "Creating",
                "description": "The Arc agent is being created on this node."
              },
              {
                "name": "Updating",
                "value": "Updating",
                "description": "The Arc agent is being updated on this node."
              },
              {
                "name": "Deleting",
                "value": "Deleting",
                "description": "The Arc agent is being deleted from this node."
              },
              {
                "name": "Moving",
                "value": "Moving",
                "description": "The Arc agent is being moved on this node."
              },
              {
                "name": "PartiallySucceeded",
                "value": "PartiallySucceeded",
                "description": "The operation partially succeeded."
              },
              {
                "name": "PartiallyConnected",
                "value": "PartiallyConnected",
                "description": "The Arc agent is partially connected on this node."
              },
              {
                "name": "InProgress",
                "value": "InProgress",
                "description": "The operation is currently in progress."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "The operation has been accepted and is pending execution."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The Arc agent is currently being provisioned on this node."
              },
              {
                "name": "DisableInProgress",
                "value": "DisableInProgress",
                "description": "The Arc agent is in the process of being disabled on this node."
              }
            ]
          },
          "readOnly": true
        }
      }
    },
    "DefaultExtensionDetails": {
      "description": "Properties for a particular default extension category.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Default extension category",
          "type": "string",
          "readOnly": true
        },
        "consentTime": {
          "description": "Consent time for extension category",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "ArcConnectivityProperties": {
      "description": "Connectivity related configuration required by arc server.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "True indicates ARC connectivity is enabled"
        },
        "serviceConfigurations": {
          "type": "array",
          "description": "Service configurations associated with the connectivity resource. They are only processed by the server if 'enabled' property is set to 'true'.",
          "items": {
            "$ref": "#/definitions/ServiceConfiguration"
          },
          "x-ms-identifiers": [
            "serviceName"
          ]
        }
      },
      "additionalProperties": false
    },
    "ServiceConfiguration": {
      "type": "object",
      "description": "Service configuration details",
      "required": [
        "serviceName",
        "port"
      ],
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "Specifies the name of the service associated with the update or operation. This helps identify which system component or tool is involved.",
          "enum": [
            "WAC"
          ],
          "x-ms-enum": {
            "name": "serviceName",
            "modelAsString": true,
            "values": [
              {
                "name": "WAC",
                "value": "WAC",
                "description": "Windows Admin Center (WAC) is the service associated with this operation."
              }
            ]
          }
        },
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "The port on which service is enabled."
        }
      }
    },
    "PasswordCredential": {
      "type": "object",
      "properties": {
        "secretText": {
          "type": "string"
        },
        "keyId": {
          "type": "string"
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time"
        }
      },
      "additionalProperties": false,
      "readOnly": true
    },
    "ArcIdentityResponse": {
      "description": "ArcIdentity details.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "ArcIdentity properties.",
          "$ref": "#/definitions/ArcIdentityResponseProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArcIdentityResponseProperties": {
      "type": "object",
      "properties": {
        "arcApplicationClientId": {
          "type": "string"
        },
        "arcApplicationTenantId": {
          "type": "string"
        },
        "arcServicePrincipalObjectId": {
          "type": "string"
        },
        "arcApplicationObjectId": {
          "type": "string"
        }
      },
      "additionalProperties": false,
      "readOnly": true
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "ArcSettingNameParameter": {
      "name": "arcSettingName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the proxy resource holding details of HCI ArcSetting information.",
      "x-ms-parameter-location": "method"
    }
  }
}
