{
  "swagger": "2.0",
  "info": {
    "version": "2025-10-01",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Microsoft Entra ID OAuth 2.0 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/apply": {
      "post": {
        "operationId": "Updates_Post",
        "description": "Apply Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available updates": {
            "$ref": "./examples/PostUpdates.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates": {
      "get": {
        "operationId": "Updates_List",
        "description": "List all Updates",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List available updates": {
            "$ref": "./examples/ListUpdates.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}": {
      "delete": {
        "operationId": "Updates_Delete",
        "description": "Delete specified Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete an Update": {
            "$ref": "./examples/DeleteUpdates.json"
          }
        }
      },
      "put": {
        "operationId": "Updates_Put",
        "description": "Put specified Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "updateProperties",
            "in": "body",
            "description": "Properties of the Updates object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put a specific update": {
            "$ref": "./examples/PutUpdates.json"
          }
        }
      },
      "get": {
        "operationId": "Updates_Get",
        "description": "Get specified Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/UpdateNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a specific update": {
            "$ref": "./examples/GetUpdates.json"
          }
        }
      }
    }
  },
  "definitions": {
    "UpdateList": {
      "description": "List of Updates",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Updates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Update"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdatePrerequisite": {
      "description": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty.",
      "type": "object",
      "properties": {
        "updateType": {
          "description": "Updatable component type.",
          "type": "string"
        },
        "version": {
          "description": "Version of the prerequisite.",
          "type": "string"
        },
        "packageName": {
          "description": "Friendly name of the prerequisite.",
          "type": "string"
        }
      }
    },
    "Update": {
      "description": "Update details",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "description": "Update properties",
          "type": "object",
          "$ref": "#/definitions/UpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateProperties": {
      "description": "Details of a singular Update in HCI Cluster",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the Updates proxy resource. Indicates the current lifecycle status of the update operation, such as whether it has been accepted, is in progress, or has completed.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The update operation completed successfully."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The update operation failed."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "The update operation was canceled before completion."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "The update operation has been accepted and is pending execution."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The update operation is currently being provisioned."
              }
            ]
          },
          "readOnly": true
        },
        "installedDate": {
          "description": "Date that the update was installed.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "Description of the update.",
          "type": "string"
        },
        "minSbeVersionRequired": {
          "description": "Minimum Sbe Version of the update.",
          "type": "string"
        },
        "state": {
          "description": "Represents the current state of the update as it relates to this stamp. This includes phases such as preparation, installation, scanning, and error handling, providing insight into the update's progress and any issues encountered.",
          "type": "string",
          "enum": [
            "HasPrerequisite",
            "Obsolete",
            "Ready",
            "NotApplicableBecauseAnotherUpdateIsInProgress",
            "Preparing",
            "Installing",
            "Installed",
            "PreparationFailed",
            "InstallationFailed",
            "Invalid",
            "Recalled",
            "Downloading",
            "DownloadFailed",
            "HealthChecking",
            "HealthCheckFailed",
            "ReadyToInstall",
            "ScanInProgress",
            "ScanFailed",
            "AdditionalContentRequired"
          ],
          "x-ms-enum": {
            "name": "state",
            "modelAsString": true,
            "values": [
              {
                "name": "HasPrerequisite",
                "value": "HasPrerequisite",
                "description": "The update has prerequisites that must be fulfilled before it can proceed."
              },
              {
                "name": "Obsolete",
                "value": "Obsolete",
                "description": "The update is obsolete and no longer applicable."
              },
              {
                "name": "Ready",
                "value": "Ready",
                "description": "The update is ready to be installed."
              },
              {
                "name": "NotApplicableBecauseAnotherUpdateIsInProgress",
                "value": "NotApplicableBecauseAnotherUpdateIsInProgress",
                "description": "The update cannot be applied because another update is currently in progress."
              },
              {
                "name": "Preparing",
                "value": "Preparing",
                "description": "The update is currently in the preparation phase."
              },
              {
                "name": "Installing",
                "value": "Installing",
                "description": "The update is currently being installed."
              },
              {
                "name": "Installed",
                "value": "Installed",
                "description": "The update has been successfully installed."
              },
              {
                "name": "PreparationFailed",
                "value": "PreparationFailed",
                "description": "The update preparation phase failed."
              },
              {
                "name": "InstallationFailed",
                "value": "InstallationFailed",
                "description": "The update installation failed."
              },
              {
                "name": "Invalid",
                "value": "Invalid",
                "description": "The update is invalid and cannot be applied."
              },
              {
                "name": "Recalled",
                "value": "Recalled",
                "description": "The update has been recalled and should not be applied."
              },
              {
                "name": "Downloading",
                "value": "Downloading",
                "description": "The update is currently being downloaded."
              },
              {
                "name": "DownloadFailed",
                "value": "DownloadFailed",
                "description": "The update download failed."
              },
              {
                "name": "HealthChecking",
                "value": "HealthChecking",
                "description": "A health check is being performed before applying the update."
              },
              {
                "name": "HealthCheckFailed",
                "value": "HealthCheckFailed",
                "description": "The health check failed, preventing the update from proceeding."
              },
              {
                "name": "ReadyToInstall",
                "value": "ReadyToInstall",
                "description": "The update is ready to be installed after successful preparation and checks."
              },
              {
                "name": "ScanInProgress",
                "value": "ScanInProgress",
                "description": "The system is scanning for updates."
              },
              {
                "name": "ScanFailed",
                "value": "ScanFailed",
                "description": "The scan for updates failed."
              },
              {
                "name": "AdditionalContentRequired",
                "value": "AdditionalContentRequired",
                "description": "Additional content is required to proceed with the update."
              }
            ]
          }
        },
        "prerequisites": {
          "description": "If update State is HasPrerequisite, this property contains an array of objects describing prerequisite updates before installing this update. Otherwise, it is empty.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdatePrerequisite"
          },
          "x-ms-identifiers": [
            "packageName"
          ]
        },
        "componentVersions": {
          "description": "An array of component versions for a Solution Bundle update, and an empty array otherwise.  ",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageVersionInfo"
          },
          "x-ms-client-flatten": true,
          "x-ms-identifiers": [
            "version"
          ]
        },
        "rebootRequired": {
          "type": "object",
          "$ref": "#/definitions/RebootRequirement",
          "x-ms-client-flatten": true
        },
        "healthState": {
          "description": "Overall health state for update-specific health checks.",
          "type": "object",
          "$ref": "#/definitions/HealthState",
          "x-ms-client-flatten": true
        },
        "healthCheckResult": {
          "description": "An array of PrecheckResult objects.",
          "type": "array",
          "items": {
            "$ref": "./hciCommon.json#/definitions/PrecheckResult"
          },
          "x-ms-client-flatten": true
        },
        "healthCheckDate": {
          "description": "Last time the package-specific checks were run.",
          "type": "string",
          "format": "date-time"
        },
        "packagePath": {
          "description": "Path where the update package is available.",
          "type": "string"
        },
        "packageSizeInMb": {
          "description": "Size of the package. This value is a combination of the size from update metadata and size of the payload that results from the live scan operation for OS update content.",
          "type": "number"
        },
        "displayName": {
          "description": "Display name of the Update",
          "type": "string"
        },
        "version": {
          "description": "Version of the update.",
          "type": "string"
        },
        "publisher": {
          "description": "Publisher of the update package.",
          "type": "string"
        },
        "releaseLink": {
          "description": "Link to release notes for the update.",
          "type": "string"
        },
        "availabilityType": {
          "description": "Indicates how the update content is made available for download. This determines whether the update is sourced locally, from an online repository, or requires user notification.",
          "type": "string",
          "enum": [
            "Local",
            "Online",
            "Notify"
          ],
          "x-ms-enum": {
            "name": "availabilityType",
            "modelAsString": true,
            "values": [
              {
                "name": "Local",
                "value": "Local",
                "description": "The update content is available locally within the environment."
              },
              {
                "name": "Online",
                "value": "Online",
                "description": "The update content is available from an online source."
              },
              {
                "name": "Notify",
                "value": "Notify",
                "description": "The system will notify the user when update content becomes available."
              }
            ]
          }
        },
        "packageType": {
          "description": "Customer-visible type of the update.",
          "type": "string"
        },
        "additionalProperties": {
          "description": "Extensible KV pairs serialized as a string. This is currently used to report the stamp OEM family and hardware model information when an update is flagged as Invalid for the stamp based on OEM type.",
          "type": "string"
        },
        "updateStateProperties": {
          "description": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property.",
          "type": "object",
          "$ref": "#/definitions/UpdateStateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateStateProperties": {
      "description": "Additional information regarding the state of the update. See definition of UpdateStateProperties type below for more details on this property.",
      "type": "object",
      "properties": {
        "progressPercentage": {
          "description": "Progress percentage of ongoing operation. Currently this property is only valid when the update is in the Downloading state, where it maps to how much of the update content has been downloaded.",
          "type": "number"
        },
        "notifyMessage": {
          "description": "Brief message with instructions for updates of AvailabilityType Notify.",
          "type": "string"
        }
      }
    },
    "PackageVersionInfo": {
      "description": "Current version of each updatable component.",
      "type": "object",
      "properties": {
        "packageType": {
          "description": "Package type",
          "type": "string"
        },
        "version": {
          "description": "Package version",
          "type": "string"
        },
        "lastUpdated": {
          "description": "Last time this component was updated.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "RebootRequirement": {
      "type": "string",
      "description": "Indicates whether a reboot is required after the update or operation. Helps determine if a system restart is necessary to complete the process.",
      "enum": [
        "Unknown",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "RebootRequirement",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "It is not known whether a reboot is required."
          },
          {
            "name": "True",
            "value": "True",
            "description": "A reboot is required to complete the operation."
          },
          {
            "name": "False",
            "value": "False",
            "description": "No reboot is required after the operation."
          }
        ]
      }
    },
    "HealthState": {
      "type": "string",
      "description": "Overall health state for update-specific health checks. Indicates whether the system is functioning correctly, has warnings or errors, or is undergoing a health evaluation.",
      "enum": [
        "Unknown",
        "Success",
        "Failure",
        "Warning",
        "Error",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The health state is not known or cannot be determined."
          },
          {
            "name": "Success",
            "value": "Success",
            "description": "The health check completed successfully and the system is healthy."
          },
          {
            "name": "Failure",
            "value": "Failure",
            "description": "The health check failed, indicating a critical issue."
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "The health check detected a non-critical issue that may require attention."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "An error occurred during the health check process."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The health check is currently in progress."
          }
        ]
      }
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    },
    "UpdateNameParameter": {
      "name": "updateName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Update",
      "x-ms-parameter-location": "method"
    }
  }
}
