{
  "swagger": "2.0",
  "info": {
    "version": "2025-10-01",
    "title": "AzureStackHCI",
    "description": "Azure Stack HCI management service"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Microsoft Entra ID OAuth 2.0 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries": {
      "get": {
        "operationId": "UpdateSummaries_List",
        "description": "List all Update summaries under the HCI cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateSummariesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Update summaries under cluster resource": {
            "$ref": "./examples/ListUpdateSummaries.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updateSummaries/default": {
      "delete": {
        "operationId": "UpdateSummaries_Delete",
        "description": "Delete Update Summaries",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "ACCEPTED",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Delete an Update": {
            "$ref": "./examples/DeleteUpdateSummaries.json"
          }
        }
      },
      "put": {
        "operationId": "UpdateSummaries_Put",
        "description": "Put Update summaries under the HCI cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "updateLocationProperties",
            "in": "body",
            "description": "Properties of the UpdateSummaries resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSummaries"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateSummaries"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put Update summaries under cluster resource": {
            "$ref": "./examples/PutUpdateSummaries.json"
          }
        }
      },
      "get": {
        "operationId": "UpdateSummaries_Get",
        "description": "Get all Update summaries under the HCI cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateSummaries"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Update summaries under cluster resource": {
            "$ref": "./examples/GetUpdateSummaries.json"
          }
        }
      }
    }
  },
  "definitions": {
    "UpdateSummariesList": {
      "description": "List of Update Summaries",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Update Summaries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UpdateSummaries"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "Link to the next set of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateSummaries": {
      "description": "Get the update summaries for the cluster",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "description": "Update summaries properties",
          "type": "object",
          "$ref": "#/definitions/UpdateSummariesProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "UpdateSummariesProperties": {
      "description": "Properties of Update summaries",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the UpdateSummaries proxy resource. Indicates the current lifecycle status of the update summary operation, such as whether it has been accepted, is in progress, or has completed.",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Accepted",
            "Provisioning"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true,
            "values": [
              {
                "name": "Succeeded",
                "value": "Succeeded",
                "description": "The update summary operation completed successfully."
              },
              {
                "name": "Failed",
                "value": "Failed",
                "description": "The update summary operation failed."
              },
              {
                "name": "Canceled",
                "value": "Canceled",
                "description": "The update summary operation was canceled before completion."
              },
              {
                "name": "Accepted",
                "value": "Accepted",
                "description": "The update summary operation has been accepted and is pending execution."
              },
              {
                "name": "Provisioning",
                "value": "Provisioning",
                "description": "The update summary operation is currently being provisioned."
              }
            ]
          },
          "readOnly": true
        },
        "oemFamily": {
          "description": "OEM family name.",
          "type": "string"
        },
        "currentOemVersion": {
          "description": "Current OEM Version.",
          "type": "string"
        },
        "hardwareModel": {
          "description": "Name of the hardware model.",
          "type": "string"
        },
        "packageVersions": {
          "description": "Current version of each updatable component.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageVersionInfo"
          },
          "x-ms-client-flatten": true,
          "x-ms-identifiers": [
            "version"
          ]
        },
        "currentVersion": {
          "description": "Current Solution Bundle version of the stamp.",
          "type": "string"
        },
        "currentSbeVersion": {
          "description": "Current Sbe version of the stamp.",
          "type": "string"
        },
        "lastUpdated": {
          "description": "Last time an update installation completed successfully.",
          "type": "string",
          "format": "date-time"
        },
        "lastChecked": {
          "description": "Last time the update service successfully checked for updates",
          "type": "string",
          "format": "date-time"
        },
        "healthState": {
          "description": "Overall health state for update-specific health checks.",
          "type": "object",
          "$ref": "#/definitions/HealthState",
          "x-ms-client-flatten": true
        },
        "healthCheckResult": {
          "description": "An array of pre-check result objects.",
          "type": "array",
          "items": {
            "$ref": "./hciCommon.json#/definitions/PrecheckResult"
          },
          "x-ms-client-flatten": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "healthCheckDate": {
          "description": "Last time the package-specific checks were run.",
          "type": "string",
          "format": "date-time"
        },
        "state": {
          "description": "Overall update state of the stamp. Indicates the current status of update deployment across the stamp, including preparation, application, and any issues encountered.",
          "type": "string",
          "enum": [
            "Unknown",
            "AppliedSuccessfully",
            "UpdateAvailable",
            "UpdateInProgress",
            "UpdateFailed",
            "NeedsAttention",
            "PreparationInProgress",
            "PreparationFailed"
          ],
          "x-ms-enum": {
            "name": "updateSummariesPropertiesState",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "The update state is not known."
              },
              {
                "name": "AppliedSuccessfully",
                "value": "AppliedSuccessfully",
                "description": "Updates have been successfully applied to the stamp."
              },
              {
                "name": "UpdateAvailable",
                "value": "UpdateAvailable",
                "description": "Updates are available but have not yet been applied."
              },
              {
                "name": "UpdateInProgress",
                "value": "UpdateInProgress",
                "description": "Updates are currently being applied to the stamp."
              },
              {
                "name": "UpdateFailed",
                "value": "UpdateFailed",
                "description": "The update process failed."
              },
              {
                "name": "NeedsAttention",
                "value": "NeedsAttention",
                "description": "The update process requires user intervention or has encountered issues needing attention."
              },
              {
                "name": "PreparationInProgress",
                "value": "PreparationInProgress",
                "description": "Preparation for the update is currently in progress."
              },
              {
                "name": "PreparationFailed",
                "value": "PreparationFailed",
                "description": "Preparation for the update failed."
              }
            ]
          }
        }
      }
    },
    "PackageVersionInfo": {
      "description": "Current version of each updatable component.",
      "type": "object",
      "properties": {
        "packageType": {
          "description": "Package type",
          "type": "string"
        },
        "version": {
          "description": "Package version",
          "type": "string"
        },
        "lastUpdated": {
          "description": "Last time this component was updated.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "HealthState": {
      "type": "string",
      "description": "Represents the health status of a system component or operation. Indicates whether the component is functioning correctly, has warnings or errors, or is undergoing a process.",
      "enum": [
        "Unknown",
        "Success",
        "Failure",
        "Warning",
        "Error",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The health state is not known or cannot be determined."
          },
          {
            "name": "Success",
            "value": "Success",
            "description": "The component is healthy and operating as expected."
          },
          {
            "name": "Failure",
            "value": "Failure",
            "description": "The component has failed and is not functioning properly."
          },
          {
            "name": "Warning",
            "value": "Warning",
            "description": "The component has a warning that may require attention but is still operational."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "The component has encountered an error affecting its functionality."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The health evaluation or operation is currently in progress."
          }
        ]
      }
    }
  },
  "parameters": {
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the cluster.",
      "x-ms-parameter-location": "method"
    }
  }
}
