{
  "swagger": "2.0",
  "info": {
    "title": "StorageActionsManagementClient",
    "description": "The Azure Storage Actions Management API.",
    "version": "2023-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.StorageActions/operations": {
      "get": {
        "tags": [
          "Storage Actions Operations"
        ],
        "description": "Lists all of the available Storage Actions Rest API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/misc/OperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks/{storageTaskName}": {
      "put": {
        "tags": [
          "StorageTasks"
        ],
        "description": "Asynchronously creates a new storage task resource with the specified parameters. If a storage task is already created and a subsequent create request is issued with different properties, the storage task properties will be updated. If a storage task is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "operationId": "StorageTasks_Create",
        "x-ms-examples": {
          "PutStorageTask": {
            "$ref": "./examples/storageTasksCrud/PutStorageTask.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageTaskName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTask"
            },
            "description": "The parameters to create a Storage Task."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Update storage task with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "201": {
            "description": "OK -- Create storage task with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "StorageTasks"
        ],
        "description": "Delete the storage task resource.",
        "operationId": "StorageTasks_Delete",
        "x-ms-examples": {
          "DeleteStorageTask": {
            "$ref": "./examples/storageTasksCrud/DeleteStorageTask.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageTaskName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "NoContent -- specified storage task does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "StorageTasks"
        ],
        "description": "Get the storage task properties",
        "operationId": "StorageTasks_Get",
        "x-ms-examples": {
          "GetStorageTask": {
            "$ref": "./examples/storageTasksCrud/GetStorageTask.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageTaskName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- properties retrieved successfully for the storage task.",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "StorageTasks"
        ],
        "operationId": "StorageTasks_Update",
        "description": "Update storage task properties",
        "x-ms-examples": {
          "PatchStorageTask": {
            "$ref": "./examples/storageTasksCrud/PatchStorageTask.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageTaskName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTaskUpdateParameters"
            },
            "description": "The parameters to provide to update the storage task resource."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the update request body had no changes.",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "202": {
            "description": "Accepted -- update request accepted; operation will complete asynchronously.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageActions/storageTasks": {
      "get": {
        "tags": [
          "StorageTasks"
        ],
        "operationId": "StorageTasks_ListBySubscription",
        "description": "Lists all the storage tasks available under the subscription.",
        "x-ms-examples": {
          "ListStorageTasksBySubscription": {
            "$ref": "./examples/storageTasksList/ListStorageTasksBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of storage tasks was retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTasksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks": {
      "get": {
        "tags": [
          "StorageTasks"
        ],
        "operationId": "StorageTasks_ListByResourceGroup",
        "description": "Lists all the storage tasks available under the given resource group.",
        "x-ms-examples": {
          "ListStorageTasksByResourceGroup": {
            "$ref": "./examples/storageTasksList/ListStorageTasksByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of storage tasks in the given resource group retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTasksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks/{storageTaskName}/storageTaskAssignments": {
      "get": {
        "tags": [
          "StorageTasks"
        ],
        "operationId": "StorageTaskAssignment_List",
        "description": "Lists all the storage tasks available under the given resource group.",
        "x-ms-examples": {
          "ListStorageTaskAssignmentsByResourceGroup": {
            "$ref": "./examples/storageTasksList/ListStorageTaskAssignmentIds.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageTaskName"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "type": "string",
            "description": "Optional, specifies the maximum number of storage task assignment Ids to be included in the list response."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of storage task assignment Ids retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTaskAssignmentsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks/{storageTaskName}/reports": {
      "get": {
        "tags": [
          "StorageTasks"
        ],
        "operationId": "StorageTasksReport_List",
        "description": "Fetch the storage tasks run report summary for each assignment.",
        "x-ms-examples": {
          "ListStorageTasksByResourceGroup": {
            "$ref": "./examples/storageTasksList/ListStorageTasksRunReportSummary.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/StorageTaskName"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "type": "string",
            "description": "Optional, specifies the maximum number of storage task assignment Ids to be included in the list response."
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Optional. When specified, it can be used to query using reporting properties."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Storage tasks run report summary retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTaskReportSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageActions/locations/{location}/previewActions": {
      "post": {
        "tags": [
          "StorageTasks"
        ],
        "operationId": "StorageTasks_PreviewActions",
        "description": "Runs the input conditions against input object metadata properties and designates matched objects in response.",
        "x-ms-examples": {
          "PerformStorageTaskActionsPreview": {
            "$ref": "./examples/misc/PerformStorageTaskActionsPreview.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location to perform preview of the actions."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTaskPreviewAction"
            },
            "description": "The parameters to preview action condition."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Storage tasks preview action was performed and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTaskPreviewAction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "StorageTask": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identity of the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/StorageTaskProperties",
          "description": "Properties of the storage task."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Represents Storage Task."
    },
    "StorageTaskUpdateParameters": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The identity of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/StorageTaskProperties",
          "description": "Properties of the storage task."
        }
      },
      "description": "Parameters of the storage task update request"
    },
    "StorageTaskProperties": {
      "type": "object",
      "properties": {
        "taskVersion": {
          "readOnly": true,
          "type": "integer",
          "minimum": 1,
          "maximum": 1,
          "format": "int64",
          "description": "Storage task version."
        },
        "enabled": {
          "type": "boolean",
          "description": "Storage Task is enabled when set to true and disabled when set to false"
        },
        "description": {
          "type": "string",
          "description": "Text that describes the purpose of the storage task"
        },
        "action": {
          "$ref": "#/definitions/StorageTaskAction",
          "description": "The storage task action that is executed"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Represents the provisioning state of the storage task.",
          "enum": [
            "ValidateSubscriptionQuotaBegin",
            "ValidateSubscriptionQuotaEnd",
            "Creating",
            "Succeeded",
            "Deleting",
            "Canceled",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false
          }
        },
        "creationTimeInUtc": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date and time of the storage task in UTC."
        }
      },
      "required": [
        "enabled",
        "description",
        "action"
      ],
      "description": "Properties of the storage task."
    },
    "StorageTaskAction": {
      "type": "object",
      "properties": {
        "if": {
          "$ref": "#/definitions/IfCondition",
          "description": "The if block of storage task operation"
        },
        "else": {
          "$ref": "#/definitions/ElseCondition",
          "description": "The else block of storage task operation"
        }
      },
      "required": [
        "if"
      ],
      "description": "The storage task action represents conditional statements and operations to be performed on target objects."
    },
    "IfCondition": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "The condition predicate which is composed of object properties, eg: blob and container properties."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskOperation"
          },
          "x-ms-identifiers": [],
          "description": "List of operations to execute when the condition predicate satisfies."
        }
      },
      "required": [
        "condition",
        "operations"
      ],
      "description": "The if block of storage task operation"
    },
    "ElseCondition": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskOperation"
          },
          "x-ms-identifiers": [],
          "description": "List of operations to execute in the else block"
        }
      },
      "required": [
        "operations"
      ],
      "description": "The else block of storage task operation"
    },
    "StorageTaskOperation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The operation to be performed on the object.",
          "enum": [
            "SetBlobTier",
            "SetBlobTags",
            "SetBlobImmutabilityPolicy",
            "SetBlobLegalHold",
            "SetBlobExpiry",
            "DeleteBlob",
            "UndeleteBlob"
          ],
          "x-ms-enum": {
            "name": "StorageTaskOperationName",
            "modelAsString": true
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value parameters for the operation."
        },
        "onSuccess": {
          "type": "string",
          "description": "Action to be taken when the operation is successful for a object.",
          "enum": [
            "continue"
          ],
          "x-ms-enum": {
            "name": "onSuccess",
            "modelAsString": false
          }
        },
        "onFailure": {
          "type": "string",
          "description": "Action to be taken when the operation fails for a object.",
          "enum": [
            "break"
          ],
          "x-ms-enum": {
            "name": "onFailure",
            "modelAsString": false
          }
        }
      },
      "required": [
        "name"
      ],
      "description": "Represents an operation to be performed on the object"
    },
    "StorageTasksListResult": {
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTask"
          },
          "x-ms-identifiers": [],
          "description": "Gets the list of storage tasks and their properties."
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of storage tasks. Returned when total number of requested storage tasks exceed maximum page size.",
          "readOnly": true
        }
      },
      "description": "The response from the List Storage Tasks operation."
    },
    "StorageTaskAssignmentsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskAssignment"
          },
          "x-ms-identifiers": [],
          "description": "Gets the list of storage task assignment Ids."
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of storage task assignment Ids. Returned when total number of requested storage task assignment Ids exceed maximum page size.",
          "readOnly": true
        }
      },
      "description": "The response from the List Storage Tasks operation."
    },
    "StorageTaskAssignment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "ARM Id of the storage task assignments, associated with the storage tasks.",
          "readOnly": true
        }
      },
      "description": "Fetch the Storage task assignment ARM ids."
    },
    "StorageTaskReportSummary": {
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskReportInstance"
          },
          "x-ms-identifiers": [],
          "description": "Gets storage tasks run result summary."
        },
        "nextLink": {
          "type": "string",
          "description": "Request URL that can be used to query next page of storage task run results summary. Returned when the number of run instances and summary reports exceed maximum page size.",
          "readOnly": true
        }
      },
      "description": "Fetch Storage Tasks Run Summary."
    },
    "StorageTaskReportInstance": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageTaskReportProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Storage Tasks run report instance"
    },
    "StorageTaskReportProperties": {
      "type": "object",
      "properties": {
        "taskAssignmentId": {
          "readOnly": true,
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts/storageTaskAssignments"
              }
            ]
          },
          "description": "Represents the Storage Task Assignment Id associated with the storage task that provided an execution context."
        },
        "storageAccountId": {
          "readOnly": true,
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          },
          "description": "Represents the Storage Account Id where the storage task definition was applied and executed."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Start time of the run instance. Filter options such as startTime gt '2023-06-26T20:51:24.4494016Z' and other comparison operators can be used as described for DateTime properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
        },
        "finishTime": {
          "readOnly": true,
          "type": "string",
          "description": "End time of the run instance. Filter options such as startTime gt '2023-06-26T20:51:24.4494016Z' and other comparison operators can be used as described for DateTime properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
        },
        "objectsTargetedCount": {
          "readOnly": true,
          "type": "string",
          "description": "Total number of objects that meet the condition as defined in the storage task assignment execution context. Filter options such as objectsTargetedCount gt 50 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
        },
        "objectsOperatedOnCount": {
          "readOnly": true,
          "type": "string",
          "description": "Total number of objects that meet the storage tasks condition and were operated upon. Filter options such as objectsOperatedOnCount ge 100 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
        },
        "objectFailedCount": {
          "readOnly": true,
          "type": "string",
          "description": "Total number of objects where task operation failed when was attempted. Filter options such as objectFailedCount eq 0 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
        },
        "objectsSucceededCount": {
          "readOnly": true,
          "type": "string",
          "description": "Total number of objects where task operation succeeded when was attempted.Filter options such as objectsSucceededCount gt 150 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators"
        },
        "runStatusError": {
          "readOnly": true,
          "type": "string",
          "description": "Well known Azure Storage error code that represents the error encountered during execution of the run instance."
        },
        "runStatusEnum": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "InProgress",
            "Finished"
          ],
          "x-ms-enum": {
            "name": "RunStatusEnum",
            "modelAsString": true
          },
          "description": "Represents the status of the execution."
        },
        "summaryReportPath": {
          "readOnly": true,
          "type": "string",
          "description": "Full path to the verbose report stored in the reporting container as specified in the assignment execution context for the storage account. "
        },
        "taskId": {
          "readOnly": true,
          "type": "string",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.StorageActions/storageTasks"
              }
            ]
          },
          "description": "Storage Task Arm Id."
        },
        "taskVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Storage Task Version"
        },
        "runResult": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "RunResult",
            "modelAsString": true
          },
          "description": "Represents the overall result of the execution for the run instance"
        }
      },
      "description": "Storage task execution report for a run instance."
    },
    "StorageTaskPreviewAction": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/StorageTaskPreviewActionProperties",
          "description": "Properties of the storage task preview."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Storage Task Preview Action."
    },
    "StorageTaskPreviewActionProperties": {
      "type": "object",
      "properties": {
        "container": {
          "type": "object",
          "$ref": "#/definitions/StorageTaskPreviewContainerProperties",
          "description": "Preview action container properties to be tested for a match with the provided condition."
        },
        "blobs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewBlobProperties"
          },
          "x-ms-identifiers": [],
          "description": "Preview action container properties to be tested for a match with the provided condition."
        },
        "action": {
          "type": "object",
          "$ref": "#/definitions/StorageTaskPreviewActionCondition",
          "description": "Preview action container properties to be tested for a match with the provided condition."
        }
      },
      "required": [
        "container",
        "blobs",
        "action"
      ],
      "description": "Storage task preview action properties."
    },
    "StorageTaskPreviewActionCondition": {
      "type": "object",
      "properties": {
        "if": {
          "$ref": "#/definitions/StorageTaskPreviewActionIfCondition",
          "description": "The condition to be tested for a match with container and blob properties."
        },
        "elseBlockExists": {
          "type": "boolean",
          "description": "Specify whether the else block is present in the condition."
        }
      },
      "required": [
        "if",
        "elseBlockExists"
      ],
      "description": "Represents the storage task conditions to be tested for a match with container and blob properties."
    },
    "StorageTaskPreviewActionIfCondition": {
      "type": "object",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Storage task condition to bes tested for a match."
        }
      },
      "description": "Represents storage task preview action condition."
    },
    "StorageTaskPreviewContainerProperties": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "property for the container name."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": [],
          "description": "metadata key value pairs to be tested for a match against the provided condition."
        }
      },
      "description": "Storage task preview container properties"
    },
    "StorageTaskPreviewBlobProperties": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "property for the container name."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": [],
          "description": "properties key value pairs to be tested for a match against the provided condition."
        },
        "metadata": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": [],
          "description": "metadata key value pairs to be tested for a match against the provided condition."
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": [],
          "description": "tags key value pairs to be tested for a match against the provided condition."
        },
        "matchedBlock": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "If",
            "Else",
            "None"
          ],
          "x-ms-enum": {
            "name": "matchedBlockName",
            "modelAsString": true
          },
          "description": "Represents the condition block name that matched blob properties."
        }
      },
      "description": "Storage task preview container properties"
    },
    "StorageTaskPreviewKeyValueProperties": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Represents the key property of the pair."
        },
        "value": {
          "type": "string",
          "description": "Represents the value property of the pair."
        }
      },
      "description": "Storage task preview object key value pair properties."
    }
  },
  "parameters": {
    "StorageTaskName": {
      "name": "storageTaskName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
      "pattern": "^[a-z0-9]{3,18}$",
      "maxLength": 18,
      "minLength": 3,
      "x-ms-parameter-location": "method"
    }
  }
}
