{
  "swagger": "2.0",
  "info": {
    "title": "StorageActionsManagementClient",
    "version": "2023-01-01",
    "description": "The Azure Storage Actions Management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StorageTasks"
    }
  ],
  "paths": {
    "/providers/Microsoft.StorageActions/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StorageActions/storageTasks": {
      "get": {
        "operationId": "StorageTasks_ListBySubscription",
        "tags": [
          "StorageTasks"
        ],
        "description": "Lists all the storage tasks available under the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTaskListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListStorageTasksBySubscription": {
            "$ref": "./examples/StorageTasks_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks": {
      "get": {
        "operationId": "StorageTasks_ListByResourceGroup",
        "tags": [
          "StorageTasks"
        ],
        "description": "Lists all the storage tasks available under the given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTaskListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListStorageTasksByResourceGroup": {
            "$ref": "./examples/StorageTasks_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks/{storageTaskName}": {
      "get": {
        "operationId": "StorageTasks_Get",
        "tags": [
          "StorageTasks"
        ],
        "description": "Get the storage task properties",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageTaskName",
            "in": "path",
            "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 18,
            "pattern": "^[a-z0-9]{3,18}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetStorageTask": {
            "$ref": "./examples/StorageTasks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "StorageTasks_Create",
        "tags": [
          "StorageTasks"
        ],
        "description": "Asynchronously creates a new storage task resource with the specified parameters. If a storage task is already created and a subsequent create request is issued with different properties, the storage task properties will be updated. If a storage task is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageTaskName",
            "in": "path",
            "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 18,
            "pattern": "^[a-z0-9]{3,18}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to create a Storage Task.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTask"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StorageTask' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "201": {
            "description": "Resource 'StorageTask' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PutStorageTask": {
            "$ref": "./examples/StorageTasks_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "StorageTasks_Update",
        "tags": [
          "StorageTasks"
        ],
        "description": "Update storage task properties",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageTaskName",
            "in": "path",
            "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 18,
            "pattern": "^[a-z0-9]{3,18}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to provide to update the storage task resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageTaskUpdateParameters"
            },
            "x-ms-client-name": "parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StorageTask"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchStorageTask": {
            "$ref": "./examples/StorageTasks_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "StorageTasks_Delete",
        "tags": [
          "StorageTasks"
        ],
        "description": "Delete the storage task resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageTaskName",
            "in": "path",
            "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 18,
            "pattern": "^[a-z0-9]{3,18}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteStorageTask": {
            "$ref": "./examples/StorageTasks_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks/{storageTaskName}/reports/{resourceGroupName}/{storageTaskName}/{subscriptionId}": {
      "get": {
        "operationId": "StorageTasksReport_List",
        "tags": [
          "StorageTasks"
        ],
        "description": "Fetch the storage tasks run report summary for each assignment.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "storageTaskName",
            "in": "path",
            "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 18,
            "pattern": "^[a-z0-9]{3,18}$"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "description": "Optional, specifies the maximum number of storage task assignment Ids to be included in the list response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Optional. When specified, it can be used to query using reporting properties.",
            "required": false,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedStorageTaskReportInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "ListStorageTasksByResourceGroup": {
            "$ref": "./examples/StorageTasksReport_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorageActions/storageTasks/{storageTaskName}/storageTaskAssignments/{resourceGroupName}/{storageTaskName}/{subscriptionId}": {
      "get": {
        "operationId": "StorageTaskAssignment_List",
        "tags": [
          "StorageTasks"
        ],
        "description": "Lists all the storage tasks available under the given resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "storageTaskName",
            "in": "path",
            "description": "The name of the storage task within the specified resource group. Storage task names must be between 3 and 18 characters in length and use numbers and lower-case letters only.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 18,
            "pattern": "^[a-z0-9]{3,18}$"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "description": "Optional, specifies the maximum number of storage task assignment Ids to be included in the list response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedStorageTaskAssignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "ListStorageTaskAssignmentsByResourceGroup": {
            "$ref": "./examples/StorageTaskAssignment_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.ManagedServiceIdentity": {
      "type": "object",
      "description": "The managed service identities envelope.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "ElseCondition": {
      "type": "object",
      "description": "The else block of storage task operation",
      "properties": {
        "operations": {
          "type": "array",
          "description": "List of operations to execute in the else block",
          "items": {
            "$ref": "#/definitions/StorageTaskOperation"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "operations"
      ]
    },
    "ElseConditionUpdate": {
      "type": "object",
      "description": "The else block of storage task operation",
      "properties": {
        "operations": {
          "type": "array",
          "description": "List of operations to execute in the else block",
          "items": {
            "$ref": "#/definitions/StorageTaskOperation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "IfCondition": {
      "type": "object",
      "description": "The if block of storage task operation",
      "properties": {
        "condition": {
          "type": "string",
          "description": "The condition predicate which is composed of object properties, eg: blob and container properties."
        },
        "operations": {
          "type": "array",
          "description": "List of operations to execute when the condition predicate satisfies.",
          "items": {
            "$ref": "#/definitions/StorageTaskOperation"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "condition",
        "operations"
      ]
    },
    "IfConditionUpdate": {
      "type": "object",
      "description": "The if block of storage task operation",
      "properties": {
        "condition": {
          "type": "string",
          "description": "The condition predicate which is composed of object properties, eg: blob and container properties."
        },
        "operations": {
          "type": "array",
          "description": "List of operations to execute when the condition predicate satisfies.",
          "items": {
            "$ref": "#/definitions/StorageTaskOperation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true
      }
    },
    "MatchedBlockName": {
      "type": "string",
      "description": "Represents the condition block name that matched blob properties.",
      "enum": [
        "If",
        "Else",
        "None"
      ],
      "x-ms-enum": {
        "name": "MatchedBlockName",
        "modelAsString": true
      }
    },
    "PagedStorageTaskAssignment": {
      "type": "object",
      "description": "The response from the List Storage Tasks operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StorageTaskAssignment items on this page",
          "items": {
            "$ref": "#/definitions/StorageTaskAssignment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PagedStorageTaskReportInstance": {
      "type": "object",
      "description": "Fetch Storage Tasks Run Summary.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StorageTaskReportInstance items on this page",
          "items": {
            "$ref": "#/definitions/StorageTaskReportInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Represents the provisioning state of the storage task.",
      "enum": [
        "ValidateSubscriptionQuotaBegin",
        "ValidateSubscriptionQuotaEnd",
        "Creating",
        "Succeeded",
        "Deleting",
        "Canceled",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": []
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "RunResult": {
      "type": "string",
      "description": "Represents the overall result of the execution for the run instance",
      "enum": [
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "RunResult",
        "modelAsString": true
      }
    },
    "RunStatusEnum": {
      "type": "string",
      "description": "Represents the status of the execution.",
      "enum": [
        "InProgress",
        "Finished"
      ],
      "x-ms-enum": {
        "name": "RunStatusEnum",
        "modelAsString": true
      }
    },
    "StorageTask": {
      "type": "object",
      "description": "Represents Storage Task.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageTaskProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "StorageTaskAction": {
      "type": "object",
      "description": "The storage task action represents conditional statements and operations to be performed on target objects.",
      "properties": {
        "if": {
          "$ref": "#/definitions/IfCondition",
          "description": "The if block of storage task operation"
        },
        "else": {
          "$ref": "#/definitions/ElseCondition",
          "description": "The else block of storage task operation"
        }
      },
      "required": [
        "if"
      ]
    },
    "StorageTaskActionUpdate": {
      "type": "object",
      "description": "The storage task action represents conditional statements and operations to be performed on target objects.",
      "properties": {
        "if": {
          "$ref": "#/definitions/IfConditionUpdate",
          "description": "The if block of storage task operation"
        },
        "else": {
          "$ref": "#/definitions/ElseConditionUpdate",
          "description": "The else block of storage task operation"
        }
      }
    },
    "StorageTaskAssignment": {
      "type": "object",
      "description": "Fetch the Storage task assignment ARM ids.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "ARM Id of the storage task assignments, associated with the storage tasks.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": []
          }
        }
      }
    },
    "StorageTaskListResult": {
      "type": "object",
      "description": "The response of a StorageTask list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StorageTask items on this page",
          "items": {
            "$ref": "#/definitions/StorageTask"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StorageTaskOperation": {
      "type": "object",
      "description": "Represents an operation to be performed on the object",
      "properties": {
        "name": {
          "$ref": "#/definitions/StorageTaskOperationName",
          "description": "The operation to be performed on the object."
        },
        "parameters": {
          "type": "object",
          "description": "Key-value parameters for the operation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "onSuccess": {
          "type": "string",
          "description": "Action to be taken when the operation is successful for a object.",
          "enum": [
            "continue"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        },
        "onFailure": {
          "type": "string",
          "description": "Action to be taken when the operation fails for a object.",
          "enum": [
            "break"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "required": [
        "name"
      ]
    },
    "StorageTaskOperationName": {
      "type": "string",
      "description": "The operation to be performed on the object.",
      "enum": [
        "SetBlobTier",
        "SetBlobTags",
        "SetBlobImmutabilityPolicy",
        "SetBlobLegalHold",
        "SetBlobExpiry",
        "DeleteBlob",
        "UndeleteBlob"
      ],
      "x-ms-enum": {
        "name": "StorageTaskOperationName",
        "modelAsString": true
      }
    },
    "StorageTaskPreviewAction": {
      "type": "object",
      "description": "Storage Task Preview Action.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageTaskPreviewActionProperties",
          "description": "Properties of the storage task preview."
        }
      },
      "required": [
        "properties"
      ]
    },
    "StorageTaskPreviewActionCondition": {
      "type": "object",
      "description": "Represents the storage task conditions to be tested for a match with container and blob properties.",
      "properties": {
        "if": {
          "$ref": "#/definitions/StorageTaskPreviewActionIfCondition",
          "description": "The condition to be tested for a match with container and blob properties."
        },
        "elseBlockExists": {
          "type": "boolean",
          "description": "Specify whether the else block is present in the condition."
        }
      },
      "required": [
        "if",
        "elseBlockExists"
      ]
    },
    "StorageTaskPreviewActionIfCondition": {
      "type": "object",
      "description": "Represents storage task preview action condition.",
      "properties": {
        "condition": {
          "type": "string",
          "description": "Storage task condition to bes tested for a match."
        }
      }
    },
    "StorageTaskPreviewActionProperties": {
      "type": "object",
      "description": "Storage task preview action properties.",
      "properties": {
        "container": {
          "$ref": "#/definitions/StorageTaskPreviewContainerProperties",
          "description": "Preview action container properties to be tested for a match with the provided condition."
        },
        "blobs": {
          "type": "array",
          "description": "Preview action container properties to be tested for a match with the provided condition.",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewBlobProperties"
          },
          "x-ms-identifiers": []
        },
        "action": {
          "$ref": "#/definitions/StorageTaskPreviewActionCondition",
          "description": "Preview action container properties to be tested for a match with the provided condition."
        }
      },
      "required": [
        "container",
        "blobs",
        "action"
      ]
    },
    "StorageTaskPreviewBlobProperties": {
      "type": "object",
      "description": "Storage task preview container properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "property for the container name."
        },
        "properties": {
          "type": "array",
          "description": "properties key value pairs to be tested for a match against the provided condition.",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": []
        },
        "metadata": {
          "type": "array",
          "description": "metadata key value pairs to be tested for a match against the provided condition.",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": []
        },
        "tags": {
          "type": "array",
          "description": "tags key value pairs to be tested for a match against the provided condition.",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": []
        },
        "matchedBlock": {
          "$ref": "#/definitions/MatchedBlockName",
          "description": "Represents the condition block name that matched blob properties.",
          "readOnly": true
        }
      }
    },
    "StorageTaskPreviewContainerProperties": {
      "type": "object",
      "description": "Storage task preview container properties",
      "properties": {
        "name": {
          "type": "string",
          "description": "property for the container name."
        },
        "metadata": {
          "type": "array",
          "description": "metadata key value pairs to be tested for a match against the provided condition.",
          "items": {
            "$ref": "#/definitions/StorageTaskPreviewKeyValueProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "StorageTaskPreviewKeyValueProperties": {
      "type": "object",
      "description": "Storage task preview object key value pair properties.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Represents the key property of the pair."
        },
        "value": {
          "type": "string",
          "description": "Represents the value property of the pair."
        }
      }
    },
    "StorageTaskProperties": {
      "type": "object",
      "description": "Properties of the storage task.",
      "properties": {
        "taskVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Storage task version.",
          "minimum": 1,
          "maximum": 1,
          "readOnly": true
        },
        "enabled": {
          "type": "boolean",
          "description": "Storage Task is enabled when set to true and disabled when set to false"
        },
        "description": {
          "type": "string",
          "description": "Text that describes the purpose of the storage task"
        },
        "action": {
          "$ref": "#/definitions/StorageTaskAction",
          "description": "The storage task action that is executed"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Represents the provisioning state of the storage task.",
          "readOnly": true
        },
        "creationTimeInUtc": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date and time of the storage task in UTC.",
          "readOnly": true
        }
      },
      "required": [
        "enabled",
        "description",
        "action"
      ]
    },
    "StorageTaskPropertiesUpdate": {
      "type": "object",
      "description": "Properties of the storage task.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Storage Task is enabled when set to true and disabled when set to false"
        },
        "description": {
          "type": "string",
          "description": "Text that describes the purpose of the storage task"
        },
        "action": {
          "$ref": "#/definitions/StorageTaskActionUpdate",
          "description": "The storage task action that is executed"
        }
      }
    },
    "StorageTaskReportInstance": {
      "type": "object",
      "description": "Storage Tasks run report instance",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StorageTaskReportProperties",
          "description": "Storage task execution report for a run instance."
        }
      },
      "allOf": [
        {
          "type": "object",
          "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
          "properties": {
            "properties": {
              "type": "object",
              "description": "The resource-specific properties for this resource.",
              "x-ms-client-flatten": true,
              "x-ms-mutability": [
                "read",
                "create"
              ]
            }
          },
          "allOf": [
            {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
            }
          ]
        }
      ]
    },
    "StorageTaskReportProperties": {
      "type": "object",
      "description": "Storage task execution report for a run instance.",
      "properties": {
        "taskAssignmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Represents the Storage Task Assignment Id associated with the storage task that provided an execution context.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts/storageTaskAssignments"
              }
            ]
          }
        },
        "storageAccountId": {
          "type": "string",
          "format": "arm-id",
          "description": "Represents the Storage Account Id where the storage task definition was applied and executed.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        },
        "startTime": {
          "type": "string",
          "description": "Start time of the run instance. Filter options such as startTime gt '2023-06-26T20:51:24.4494016Z' and other comparison operators can be used as described for DateTime properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators",
          "readOnly": true
        },
        "finishTime": {
          "type": "string",
          "description": "End time of the run instance. Filter options such as startTime gt '2023-06-26T20:51:24.4494016Z' and other comparison operators can be used as described for DateTime properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators",
          "readOnly": true
        },
        "objectsTargetedCount": {
          "type": "string",
          "description": "Total number of objects that meet the condition as defined in the storage task assignment execution context. Filter options such as objectsTargetedCount gt 50 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators",
          "readOnly": true
        },
        "objectsOperatedOnCount": {
          "type": "string",
          "description": "Total number of objects that meet the storage tasks condition and were operated upon. Filter options such as objectsOperatedOnCount ge 100 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators",
          "readOnly": true
        },
        "objectFailedCount": {
          "type": "string",
          "description": "Total number of objects where task operation failed when was attempted. Filter options such as objectFailedCount eq 0 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators",
          "readOnly": true
        },
        "objectsSucceededCount": {
          "type": "string",
          "description": "Total number of objects where task operation succeeded when was attempted.Filter options such as objectsSucceededCount gt 150 and other comparison operators can be used as described for Numerical properties in https://learn.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities#supported-comparison-operators",
          "readOnly": true
        },
        "runStatusError": {
          "type": "string",
          "description": "Well known Azure Storage error code that represents the error encountered during execution of the run instance.",
          "readOnly": true
        },
        "runStatusEnum": {
          "$ref": "#/definitions/RunStatusEnum",
          "description": "Represents the status of the execution.",
          "readOnly": true
        },
        "summaryReportPath": {
          "type": "string",
          "description": "Full path to the verbose report stored in the reporting container as specified in the assignment execution context for the storage account. ",
          "readOnly": true
        },
        "taskId": {
          "type": "string",
          "format": "arm-id",
          "description": "Storage Task Arm Id.",
          "readOnly": true,
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.StorageActions/storageTasks"
              }
            ]
          }
        },
        "taskVersion": {
          "type": "string",
          "description": "Storage Task Version",
          "readOnly": true
        },
        "runResult": {
          "$ref": "#/definitions/RunResult",
          "description": "Represents the overall result of the execution for the run instance",
          "readOnly": true
        }
      }
    },
    "StorageTaskUpdateParameters": {
      "type": "object",
      "description": "Parameters of the storage task update request",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentity",
          "description": "The identity of the resource."
        },
        "tags": {
          "type": "object",
          "description": "Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater in length than 128 characters and a value no greater in length than 256 characters.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/StorageTaskPropertiesUpdate",
          "description": "Properties of the storage task."
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2023-01-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2023_01_01",
            "value": "2023-01-01",
            "description": "The 2023-01-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
