{
  "swagger": "2.0",
  "info": {
    "version": "2022-06-15-preview",
    "title": "Syntex",
    "description": "Syntex provider"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Syntex/documentProcessors": {
      "get": {
        "description": "Returns document processors in the subscription.",
        "operationId": "DocumentProcessor_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Document processor details.",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DocumentProcessor_List": {
            "$ref": "./examples/DocumentProcessor_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Syntex/documentProcessors": {
      "get": {
        "description": "Returns document processors in a resource group.",
        "operationId": "DocumentProcessor_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Document processor details.",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DocumentProcessor_ListByResourceGroup": {
            "$ref": "./examples/DocumentProcessor_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Syntex/documentProcessors/{processorName}": {
      "get": {
        "description": "Returns a document processor for a given name.",
        "operationId": "DocumentProcessor_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Document processor details.",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DocumentProcessor_Get": {
            "$ref": "./examples/DocumentProcessor_Get.json"
          }
        }
      },
      "delete": {
        "description": "Deletes document processor resource for a given name.",
        "operationId": "DocumentProcessor_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the document processor details."
          },
          "204": {
            "description": "The document processor details are not present."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DocumentProcessor_Delete": {
            "$ref": "./examples/DocumentProcessor_Delete.json"
          }
        }
      },
      "put": {
        "description": "Creates a document processor resource for a given name.",
        "operationId": "DocumentProcessor_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Document processor details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DocumentProcessor_Create": {
            "$ref": "./examples/DocumentProcessor_Create.json"
          }
        }
      },
      "patch": {
        "description": "Updates a document processor resource for a given name.",
        "operationId": "DocumentProcessor_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Document processor details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentProcessorPatchableProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessorResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DocumentProcessor_Update": {
            "$ref": "./examples/DocumentProcessor_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Syntex/documentProcessors/{processorName}/processDocuments": {
      "post": {
        "operationId": "DocumentProcessor_ProcessDocuments",
        "description": "Process a list of documents",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ProcessorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Documents processor request.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProcessDocumentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/ProcessDocumentsResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DocumentProcessor_ProcessDocuments": {
            "$ref": "./examples/DocumentProcessor_ProcessDocuments.json"
          }
        }
      }
    },
    "/providers/Microsoft.Syntex/operations": {
      "get": {
        "operationId": "Operations_List",
        "description": "List of all REST operations supported by the Microsoft.Syntex provider.",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describes the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DocumentProcessorResource": {
      "type": "object",
      "description": "Document processor details",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": false,
          "description": "Document processor properties.",
          "$ref": "#/definitions/DocumentProcessorProperties"
        }
      }
    },
    "DocumentProcessorPatchableProperties": {
      "type": "object",
      "description": "Document processor properties that can be patched",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Syntex properties for PATCH.",
          "properties": {
            "spoTenantAdminUrl": {
              "type": "string",
              "description": "The URL of admin tenant associated with this document processor resource"
            }
          }
        }
      }
    },
    "DocumentProcessorProperties": {
      "type": "object",
      "description": "Document processor properties",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The managed resource provisioning state."
        },
        "spoTenantAdminUrl": {
          "type": "string",
          "description": "The URL of admin tenant associated with this document processor resource"
        }
      },
      "required": [
        "spoTenantAdminUrl"
      ]
    },
    "ProvisioningState": {
      "description": "Provisioning status of the managed resource.",
      "readOnly": true,
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "DocumentProcessorList": {
      "type": "object",
      "description": "Document processor list",
      "properties": {
        "value": {
          "description": "Array of document processors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentProcessorResource"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProcessDocumentsRequest": {
      "type": "object",
      "description": "Process documents request.",
      "properties": {
        "value": {
          "description": "Array of document properties",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentProperties"
          },
          "x-ms-identifiers": [
            "documentId"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "ResponseStatus": {
      "description": "Process document response status.",
      "type": "string",
      "enum": [
        "Success"
      ],
      "x-ms-enum": {
        "name": "ResponseStatus",
        "modelAsString": true
      }
    },
    "ProcessDocumentsResponse": {
      "type": "object",
      "description": "Process documents response.",
      "properties": {
        "responseStatus": {
          "description": "Response status.",
          "$ref": "#/definitions/ResponseStatus"
        }
      },
      "required": [
        "responseStatus"
      ]
    },
    "DocumentProperties": {
      "type": "object",
      "description": "Document properties.",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "The ID of the processed document."
        },
        "eventId": {
          "type": "string",
          "description": "A unique event id corresponding to a usage record."
        },
        "meterId": {
          "type": "string",
          "description": "A logical meter id that Syntex billing service then translates to a corresponding commerce meter id."
        },
        "quantity": {
          "type": "number",
          "format": "double",
          "description": "Quantity corresponding to the logical meter id that Syntex billing service then translates to the unit expected by the commerce meter."
        },
        "eventDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time the document was processed.  It could be different from the time the Syntex billing service receives the usage event."
        }
      },
      "required": [
        "documentId",
        "eventId",
        "meterId",
        "quantity",
        "eventDateTime"
      ]
    },
    "OperationsListResult": {
      "type": "object",
      "description": "Lists the operations available.",
      "properties": {
        "value": {
          "description": "Collection of available operation details",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results (if there are any)."
        }
      },
      "required": [
        "value"
      ]
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "type": "object",
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "x-ms-identifiers": [
            "code"
          ],
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "ProcessorNameParameter": {
      "name": "processorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of document processor resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
