{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.MessagingConnectors management service",
    "version": "2025-08-01-preview",
    "description": "Microsoft.MessagingConnectors Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ConnectorOperations"
    },
    {
      "name": "DataPreviewOperations"
    },
    {
      "name": "SchemaOperations"
    },
    {
      "name": "ConfigOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.MessagingConnectors/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations List": {
            "$ref": "./examples/Operation_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/connectors": {
      "get": {
        "operationId": "ConnectorOperations_ListBySubscription",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "List Connector By Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfluentSourceConnector ListBySubscription": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/locations/{location}/dataPreview/default/preview": {
      "post": {
        "operationId": "DataPreviewOperations_Preview",
        "tags": [
          "DataPreviewOperations"
        ],
        "description": "create one dataPreview task",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Models.DataPreview.DataPreviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Models.DataPreview.DataPreviewResults"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DataPreview SqlServerSourceConnector": {
            "$ref": "./examples/DataPreview_SqlServerSourceConnector.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/locations/{location}/schema/default/fetch": {
      "post": {
        "operationId": "SchemaOperations_Fetch",
        "tags": [
          "SchemaOperations"
        ],
        "description": "fetch Schema task",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Models.FetchSchema.SchemaRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Models.FetchSchema.SchemaResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SchemaOperations fetchCdcSchema": {
            "$ref": "./examples/FetchCdcSchema.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/locations/{location}/validation/default/connectorValidation": {
      "post": {
        "operationId": "ConfigOperations_ConnectorValidation",
        "tags": [
          "ConfigOperations"
        ],
        "description": "create one validation task for connector config",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Models.Validation.ConnectorConfigurationValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Models.Validation.ValidationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigOperations ConnectorValidation": {
            "$ref": "./examples/Configs_ConnectorValidation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MessagingConnectors/locations/{location}/validation/default/dataPreviewValidation": {
      "post": {
        "operationId": "ConfigOperations_DataPreviewValidation",
        "tags": [
          "ConfigOperations"
        ],
        "description": "create one validation task for datapreview config",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Models.Validation.DataPreviewConfigurationValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Models.Validation.ValidationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigOperations DataPreviewValidation": {
            "$ref": "./examples/Configs_DatapreviewValidation.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors": {
      "get": {
        "operationId": "ConnectorOperations_ListByResourceGroup",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "List Connector By ResourceGroup and Subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfluentSourceConnector ListByResourceGroup": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors/{name}": {
      "get": {
        "operationId": "ConnectorOperations_Get",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Gets an Connector instance for the specified subscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,64}[a-zA-Z0-9_]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureDataExplorerSourceConnector Get": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectorOperations_CreateOrUpdate",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Create an Connector instance for the specified subscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,64}[a-zA-Z0-9_]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MessagingConnector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "201": {
            "description": "Resource 'MessagingConnector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureDataExplorerSourceConnector CreateOrUpdate": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ConnectorOperations_UpdateTags",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Update Tags of Connector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,64}[a-zA-Z0-9_]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessagingConnectorTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MessagingConnector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureDataExplorerSourceConnector UpdateTags": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectorOperations_Delete",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Delete an Connector instance for the specified subscription, resource group, and instance name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,64}[a-zA-Z0-9_]"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureDataExplorerSourceConnector Delete": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors/{name}/pause": {
      "post": {
        "operationId": "ConnectorOperations_Pause",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Pause one Connector to paused status",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,64}[a-zA-Z0-9_]"
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureDataExplorerSourceConnector Pause": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_Pause.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MessagingConnectors/connectors/{name}/resume": {
      "post": {
        "operationId": "ConnectorOperations_Resume",
        "tags": [
          "ConnectorOperations"
        ],
        "description": "Resume one Connector to running status",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Connector resource.",
            "required": true,
            "type": "string",
            "minLength": 5,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]{0,64}[a-zA-Z0-9_]"
          }
        ],
        "responses": {
          "204": {
            "description": "Action completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureDataExplorerSourceConnector Resume": {
            "$ref": "./examples/AzureDataExplorerSourceConnector_Resume.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DataPreview": {
      "type": "object",
      "description": "A dataPreview resource Azure",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Models.DataPreview.DataPreviewRequest",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MessagingConnector": {
      "type": "object",
      "description": "A Connector resource Azure",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Models.Connector.ConnectorProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MessagingConnectorListResult": {
      "type": "object",
      "description": "The response of a MessagingConnector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MessagingConnector items on this page",
          "items": {
            "$ref": "#/definitions/MessagingConnector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MessagingConnectorTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in MessagingConnector resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Models.Auth.AccessKeyAuthentication": {
      "type": "object",
      "description": "AccessKey Model.",
      "properties": {
        "accessKey": {
          "type": "string",
          "format": "password",
          "description": "AccessKey secret.",
          "x-ms-secret": true
        }
      },
      "required": [
        "accessKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Auth.Authentication"
        }
      ],
      "x-ms-discriminator-value": "AccessKey"
    },
    "Models.Auth.AnonymousAuthentication": {
      "type": "object",
      "description": "Anonymous Model.",
      "allOf": [
        {
          "$ref": "#/definitions/Models.Auth.Authentication"
        }
      ],
      "x-ms-discriminator-value": "Anonymous"
    },
    "Models.Auth.Authentication": {
      "type": "object",
      "description": "Base properties for auth.",
      "properties": {
        "authenticationMode": {
          "$ref": "#/definitions/Models.Auth.AuthenticationMode",
          "description": "Type of the Auth Model."
        }
      },
      "discriminator": "authenticationMode",
      "required": [
        "authenticationMode"
      ]
    },
    "Models.Auth.AuthenticationMode": {
      "type": "string",
      "description": "Auth Model types",
      "enum": [
        "OAuth",
        "ConnectionString",
        "UsernamePassword",
        "AccessKey",
        "SasToken",
        "Anonymous"
      ],
      "x-ms-enum": {
        "name": "AuthenticationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "OAuth",
            "value": "OAuth",
            "description": "OAuth model."
          },
          {
            "name": "ConnectionString",
            "value": "ConnectionString",
            "description": "ConnectionString model."
          },
          {
            "name": "UsernamePassword",
            "value": "UsernamePassword",
            "description": "UsernamePassword model."
          },
          {
            "name": "AccessKey",
            "value": "AccessKey",
            "description": "AccessKey model."
          },
          {
            "name": "SasToken",
            "value": "SasToken",
            "description": "SasToken model."
          },
          {
            "name": "Anonymous",
            "value": "Anonymous",
            "description": "Anonymous model."
          }
        ]
      }
    },
    "Models.Auth.ConnectionStringAuthentication": {
      "type": "object",
      "description": "ConnectionString Model.",
      "properties": {
        "connectionString": {
          "type": "string",
          "format": "password",
          "description": "ConnectionString secret.",
          "x-ms-secret": true
        }
      },
      "required": [
        "connectionString"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Auth.Authentication"
        }
      ],
      "x-ms-discriminator-value": "ConnectionString"
    },
    "Models.Auth.OAuthAuthentication": {
      "type": "object",
      "description": "OAuth Model.",
      "properties": {
        "accessToken": {
          "type": "string",
          "format": "password",
          "description": "AccessToken for OAuth.",
          "x-ms-secret": true
        }
      },
      "required": [
        "accessToken"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Auth.Authentication"
        }
      ],
      "x-ms-discriminator-value": "OAuth"
    },
    "Models.Auth.SasTokenAuthentication": {
      "type": "object",
      "description": "SasToken Model.",
      "properties": {
        "sasToken": {
          "type": "string",
          "format": "password",
          "description": "SasToken secret.",
          "x-ms-secret": true
        }
      },
      "required": [
        "sasToken"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Auth.Authentication"
        }
      ],
      "x-ms-discriminator-value": "SasToken"
    },
    "Models.Auth.UsernamePasswordAuthentication": {
      "type": "object",
      "description": "UsernamePassword Model.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username for auth."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for auth.",
          "x-ms-secret": true
        }
      },
      "required": [
        "username",
        "password"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Auth.Authentication"
        }
      ],
      "x-ms-discriminator-value": "UsernamePassword"
    },
    "Models.Connector.ConnectorProperties": {
      "type": "object",
      "description": "Properties of one Azure MessagingConnector resource",
      "properties": {
        "direction": {
          "$ref": "#/definitions/Models.Connector.Direction",
          "description": "Direction of connector"
        },
        "maxTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Max Tasks count of the Connector."
        },
        "networkProperties": {
          "$ref": "#/definitions/Models.Network.NetworkProperties",
          "description": "networkProperties config."
        },
        "scalingProperties": {
          "$ref": "#/definitions/Models.Scaling.ScalingProperties",
          "description": "Scale config."
        },
        "connectorState": {
          "$ref": "#/definitions/Models.Connector.ConnectorState",
          "description": "State of the MessagingConnector"
        },
        "provisioningState": {
          "$ref": "#/definitions/Models.Connector.ConnectorProvisioningState",
          "description": "State of provisioning of the MessagingConnector ARM Resource",
          "readOnly": true
        }
      },
      "discriminator": "direction",
      "required": [
        "direction",
        "maxTasks",
        "scalingProperties"
      ]
    },
    "Models.Connector.ConnectorProvisioningState": {
      "type": "string",
      "description": "Provisioning states of Connector ARM Resource",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ConnectorProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating State"
          }
        ]
      },
      "readOnly": true
    },
    "Models.Connector.ConnectorState": {
      "type": "string",
      "description": "Connector job execution status",
      "enum": [
        "Unknown",
        "Creating",
        "Initializing",
        "Running",
        "Updating",
        "Degraded",
        "Stopped",
        "Paused",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ConnectorState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown State"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating State"
          },
          {
            "name": "Initializing",
            "value": "Initializing",
            "description": "Initializing State"
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Running State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating State"
          },
          {
            "name": "Degraded",
            "value": "Degraded",
            "description": "Degraded State"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Stopped State"
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Paused State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting State"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed State"
          }
        ]
      }
    },
    "Models.Connector.ConnectorSubType": {
      "type": "string",
      "description": "Enum of the type of Connector",
      "enum": [
        "EventHubSource",
        "IoTHubSource"
      ],
      "x-ms-enum": {
        "name": "ConnectorSubType",
        "modelAsString": true,
        "values": [
          {
            "name": "EventHubSource",
            "value": "EventHubSource",
            "description": "EventHub Source."
          },
          {
            "name": "IoTHubSource",
            "value": "IoTHubSource",
            "description": "IoTHub Source."
          }
        ]
      }
    },
    "Models.Connector.ConnectorType": {
      "type": "string",
      "description": "Enum of the type of Connector",
      "enum": [
        "GooglePubSubSource",
        "KinesisSource",
        "PostgreSqlSource",
        "SqlServerSource",
        "CosmosDbSource",
        "ConfluentSource",
        "MySqlSource",
        "AzureServiceBusSource",
        "HanaDatabaseSource",
        "AzureDataExplorerSource",
        "MqttSource",
        "SolacePubsubSource",
        "ManagedAzureMapsWeatherSource",
        "EventHubSource",
        "DataverseSource",
        "AzureBlobSource",
        "SampleDataSource",
        "OracleSource",
        "HttpSource",
        "MongoDbSource"
      ],
      "x-ms-enum": {
        "name": "ConnectorType",
        "modelAsString": true,
        "values": [
          {
            "name": "GooglePubSubSource",
            "value": "GooglePubSubSource",
            "description": "Google pub sub source connector."
          },
          {
            "name": "KinesisSource",
            "value": "KinesisSource",
            "description": "Amazon kinesis source connector."
          },
          {
            "name": "PostgreSqlSource",
            "value": "PostgreSqlSource",
            "description": "Postgre sql source connector."
          },
          {
            "name": "SqlServerSource",
            "value": "SqlServerSource",
            "description": "Sql server source connector."
          },
          {
            "name": "CosmosDbSource",
            "value": "CosmosDbSource",
            "description": "Cosmos db source connector."
          },
          {
            "name": "ConfluentSource",
            "value": "ConfluentSource",
            "description": "Confluent source connector."
          },
          {
            "name": "MySqlSource",
            "value": "MySqlSource",
            "description": "Mysql source connector."
          },
          {
            "name": "AzureServiceBusSource",
            "value": "AzureServiceBusSource",
            "description": "Servicebus source connector."
          },
          {
            "name": "HanaDatabaseSource",
            "value": "HanaDatabaseSource",
            "description": "Hana database source connector."
          },
          {
            "name": "AzureDataExplorerSource",
            "value": "AzureDataExplorerSource",
            "description": "Azure Data Explorer source connector."
          },
          {
            "name": "MqttSource",
            "value": "MqttSource",
            "description": "Mqtt source connector."
          },
          {
            "name": "SolacePubsubSource",
            "value": "SolacePubsubSource",
            "description": "SolacePubsub source connector."
          },
          {
            "name": "ManagedAzureMapsWeatherSource",
            "value": "ManagedAzureMapsWeatherSource",
            "description": "ManagedAzureMapsWeatherSource source connector."
          },
          {
            "name": "EventHubSource",
            "value": "EventHubSource",
            "description": "EventHub source connector."
          },
          {
            "name": "DataverseSource",
            "value": "DataverseSource",
            "description": "Dataverse source connector."
          },
          {
            "name": "AzureBlobSource",
            "value": "AzureBlobSource",
            "description": "Dataverse source connector."
          },
          {
            "name": "SampleDataSource",
            "value": "SampleDataSource",
            "description": "SampleData source connector."
          },
          {
            "name": "OracleSource",
            "value": "OracleSource",
            "description": "Oracle source connector."
          },
          {
            "name": "HttpSource",
            "value": "HttpSource",
            "description": "Http source connector."
          },
          {
            "name": "MongoDbSource",
            "value": "MongoDbSource",
            "description": "MongoDb source connector."
          }
        ]
      }
    },
    "Models.Connector.Direction": {
      "type": "string",
      "description": "Enum of Directions of Connector",
      "enum": [
        "Source",
        "Sink"
      ],
      "x-ms-enum": {
        "name": "Direction",
        "modelAsString": true,
        "values": [
          {
            "name": "Source",
            "value": "Source",
            "description": "Source Connector"
          },
          {
            "name": "Sink",
            "value": "Sink",
            "description": "Sink Connector"
          }
        ]
      }
    },
    "Models.Connector.SourceConnector.CloudEventsConfig.CatalogCloudEventsConfig": {
      "type": "object",
      "description": "Catalog cloud events transform config.",
      "properties": {
        "autoRegisterSchemas": {
          "type": "boolean",
          "description": "Whether auto-register new schemas."
        },
        "catalogSchemaIds": {
          "type": "array",
          "description": "Catalog schemaIds.",
          "items": {
            "$ref": "#/definitions/Models.Connector.SourceConnector.CloudEventsConfig.CatalogSchemaId"
          },
          "x-ms-identifiers": []
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "Auth of Catalog"
        }
      },
      "required": [
        "autoRegisterSchemas",
        "catalogSchemaIds",
        "authentication"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsConfig"
        }
      ],
      "x-ms-discriminator-value": "Catalog"
    },
    "Models.Connector.SourceConnector.CloudEventsConfig.CatalogSchemaId": {
      "type": "object",
      "description": "Catalog schema id config",
      "properties": {
        "schemaGroupId": {
          "type": "string",
          "description": "The schema group id in the catalog, which can be obtained from the catalog cloud provider."
        },
        "schemaId": {
          "type": "string",
          "description": "The schema id in schema group."
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint for catalog."
        }
      },
      "required": [
        "schemaGroupId",
        "schemaId",
        "endpoint"
      ]
    },
    "Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsConfig": {
      "type": "object",
      "description": "Cloud events config",
      "properties": {
        "type": {
          "$ref": "#/definitions/Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsType",
          "description": "Type of CloudEventsConfig."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsType": {
      "type": "string",
      "description": "CloudEvents types",
      "enum": [
        "Catalog",
        "EventSchemaSet"
      ],
      "x-ms-enum": {
        "name": "CloudEventsType",
        "modelAsString": true,
        "values": [
          {
            "name": "Catalog",
            "value": "Catalog",
            "description": "CatalogCloudEventsConfig"
          },
          {
            "name": "EventSchemaSet",
            "value": "EventSchemaSet",
            "description": "EventSchemaSetCloudEventsConfig"
          }
        ]
      }
    },
    "Models.Connector.SourceConnector.CloudEventsConfig.EventSchemaSetCloudEventsConfig": {
      "type": "object",
      "description": "EventSchemaSet cloud events transform config.",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Endpoint of EventSchemaSet."
        },
        "messageGroupIds": {
          "type": "array",
          "description": "Id list of MessagingGroup.",
          "items": {
            "type": "string"
          }
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "Auth of EventSchemaSet"
        }
      },
      "required": [
        "endpoint",
        "messageGroupIds",
        "authentication"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsConfig"
        }
      ],
      "x-ms-discriminator-value": "EventSchemaSet"
    },
    "Models.Connector.SourceConnector.SourceConnectorProperties": {
      "type": "object",
      "description": "Base properties for Source Connector",
      "properties": {
        "converterConfig": {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterConfig",
          "description": "Type of the Connector."
        },
        "eventHubConfig": {
          "$ref": "#/definitions/Models.EventHubConfig.EventHubConfig",
          "description": "connectionString of the EventHub."
        },
        "sourceDataFormat": {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat",
          "description": "Data format of the data source"
        },
        "cloudEventsConfig": {
          "$ref": "#/definitions/Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsConfig",
          "description": "Cloud events config"
        },
        "dataSourceProperties": {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties",
          "description": "Special properties for source."
        }
      },
      "required": [
        "converterConfig",
        "eventHubConfig",
        "dataSourceProperties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.ConnectorProperties"
        }
      ],
      "x-ms-discriminator-value": "Source"
    },
    "Models.Connector.SourceConnector.SourceDataFormat.AvroSourceDataFormat": {
      "type": "object",
      "description": "Avro Source data format model",
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat"
        }
      ],
      "x-ms-discriminator-value": "Avro"
    },
    "Models.Connector.SourceConnector.SourceDataFormat.ConfluentAvroSourceDataFormat": {
      "type": "object",
      "description": "ConfluentAvro Source data format model",
      "properties": {
        "schemaRegistryUrl": {
          "type": "string",
          "format": "uri",
          "description": "Registry url for Confluent."
        },
        "key": {
          "type": "string",
          "description": "Access key for Confluent."
        },
        "secret": {
          "type": "string",
          "format": "password",
          "description": "Secret for Confluent.",
          "x-ms-secret": true
        },
        "subjectName": {
          "type": "string",
          "description": "subject name."
        },
        "schemaContext": {
          "type": "string",
          "description": "schema context."
        }
      },
      "required": [
        "schemaRegistryUrl",
        "key",
        "secret"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat"
        }
      ],
      "x-ms-discriminator-value": "ConfluentAvro"
    },
    "Models.Connector.SourceConnector.SourceDataFormat.CsvSourceDataFormat": {
      "type": "object",
      "description": "CSV Source data format model",
      "properties": {
        "dataWithHeader": {
          "type": "boolean",
          "description": "Whether the CSV data has a header row."
        },
        "textCharset": {
          "type": "string",
          "description": "Default is UTF-8. Supported Encodings: https://docs.oracle.com/javase/8/docs/technotes/guides/intl/encoding.doc.html"
        },
        "columnSeparator": {
          "type": "string",
          "description": "The character used to separate columns in the CSV data.",
          "minLength": 1,
          "maxLength": 1
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat"
        }
      ],
      "x-ms-discriminator-value": "Csv"
    },
    "Models.Connector.SourceConnector.SourceDataFormat.JsonSourceDataFormat": {
      "type": "object",
      "description": "JSON source data format model",
      "properties": {
        "textCharset": {
          "type": "string",
          "description": "Charset supported by Java language"
        }
      },
      "required": [
        "textCharset"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat"
        }
      ],
      "x-ms-discriminator-value": "Json"
    },
    "Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat": {
      "type": "object",
      "description": "Source data format base model",
      "properties": {
        "type": {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormatType",
          "description": "Type of data format"
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormatType": {
      "type": "string",
      "description": "Source data format Types",
      "enum": [
        "Json",
        "Csv",
        "ConfluentAvro",
        "Avro"
      ],
      "x-ms-enum": {
        "name": "SourceDataFormatType",
        "modelAsString": true,
        "values": [
          {
            "name": "Json",
            "value": "Json",
            "description": "Json format"
          },
          {
            "name": "Csv",
            "value": "Csv",
            "description": "Csv format"
          },
          {
            "name": "ConfluentAvro",
            "value": "ConfluentAvro",
            "description": "ConfluentAvro format"
          },
          {
            "name": "Avro",
            "value": "Avro",
            "description": "Avro format"
          }
        ]
      }
    },
    "Models.ConverterConfig.AvroConverterConfig": {
      "type": "object",
      "description": "AvroConverter config",
      "allOf": [
        {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterConfig"
        }
      ],
      "x-ms-discriminator-value": "AvroConverter"
    },
    "Models.ConverterConfig.ByteArrayConverterConfig": {
      "type": "object",
      "description": "ByteArrayConverter config",
      "allOf": [
        {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterConfig"
        }
      ],
      "x-ms-discriminator-value": "ByteArrayConverter"
    },
    "Models.ConverterConfig.ConverterConfig": {
      "type": "object",
      "description": "Base class for Converter config",
      "properties": {
        "type": {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterType",
          "description": "Type of converter."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "Models.ConverterConfig.ConverterType": {
      "type": "string",
      "description": "Enum of the type of Converter",
      "enum": [
        "ByteArrayConverter",
        "StringConverter",
        "JsonConverter",
        "AvroConverter",
        "CsvConverter"
      ],
      "x-ms-enum": {
        "name": "ConverterType",
        "modelAsString": true,
        "values": [
          {
            "name": "ByteArrayConverter",
            "value": "ByteArrayConverter",
            "description": "This represents a converter for byte arrays format."
          },
          {
            "name": "StringConverter",
            "value": "StringConverter",
            "description": "This represents a converter for string format."
          },
          {
            "name": "JsonConverter",
            "value": "JsonConverter",
            "description": "This represents a converter for json format."
          },
          {
            "name": "AvroConverter",
            "value": "AvroConverter",
            "description": "This represents a converter for Avro format."
          },
          {
            "name": "CsvConverter",
            "value": "CsvConverter",
            "description": "This represents a converter for csv format."
          }
        ]
      }
    },
    "Models.ConverterConfig.CsvConverterConfig": {
      "type": "object",
      "description": "CsvConverter config",
      "allOf": [
        {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterConfig"
        }
      ],
      "x-ms-discriminator-value": "CsvConverter"
    },
    "Models.ConverterConfig.JsonConverterConfig": {
      "type": "object",
      "description": "JsonConverter config",
      "properties": {
        "schemasEnabled": {
          "type": "boolean",
          "description": "Whether schemas enabled."
        },
        "decimalFormat": {
          "$ref": "#/definitions/Models.ConverterConfig.JsonDecimalFormat",
          "description": "Format for Decimal type."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterConfig"
        }
      ],
      "x-ms-discriminator-value": "JsonConverter"
    },
    "Models.ConverterConfig.JsonDecimalFormat": {
      "type": "string",
      "description": "Json Decimal Format configuration",
      "enum": [
        "Base64",
        "Numeric"
      ],
      "x-ms-enum": {
        "name": "JsonDecimalFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "Base64",
            "value": "Base64",
            "description": "Type of Base64."
          },
          {
            "name": "Numeric",
            "value": "Numeric",
            "description": "Type of Numeric."
          }
        ]
      }
    },
    "Models.ConverterConfig.StringConverterConfig": {
      "type": "object",
      "description": "StringConverter config",
      "allOf": [
        {
          "$ref": "#/definitions/Models.ConverterConfig.ConverterConfig"
        }
      ],
      "x-ms-discriminator-value": "StringConverter"
    },
    "Models.DataPreview.DataHeader": {
      "type": "object",
      "description": "Header item",
      "properties": {
        "key": {
          "type": "string",
          "description": "Header key"
        },
        "value": {
          "type": "string",
          "description": "Header value"
        }
      },
      "required": [
        "key",
        "value"
      ]
    },
    "Models.DataPreview.DataPreviewProperties": {
      "type": "object",
      "description": "Properties of one DataPreview",
      "properties": {
        "dataSourceProperties": {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties",
          "description": "Properties for the source"
        },
        "dataRange": {
          "$ref": "#/definitions/Models.DataPreview.DataRangeBaseConfig",
          "description": "DataRange for DataPreview"
        },
        "sourceDataFormat": {
          "$ref": "#/definitions/Models.Connector.SourceConnector.SourceDataFormat.SourceDataFormat",
          "description": "Data format of the data source"
        },
        "cloudEventsConfig": {
          "$ref": "#/definitions/Models.Connector.SourceConnector.CloudEventsConfig.CloudEventsConfig",
          "description": "Cloud events config"
        },
        "networkProperties": {
          "$ref": "#/definitions/Models.Network.NetworkProperties",
          "description": "networkProperties config."
        }
      },
      "required": [
        "dataSourceProperties",
        "dataRange"
      ]
    },
    "Models.DataPreview.DataPreviewRequest": {
      "type": "object",
      "description": "Request of DataPreview",
      "properties": {
        "dataPreviewProperties": {
          "$ref": "#/definitions/Models.DataPreview.DataPreviewProperties",
          "description": "DataPreview properties"
        },
        "skipValidation": {
          "type": "boolean",
          "description": "Skip validation or not"
        }
      },
      "required": [
        "dataPreviewProperties"
      ]
    },
    "Models.DataPreview.DataPreviewResults": {
      "type": "object",
      "description": "Properties of DataPreview results",
      "properties": {
        "results": {
          "type": "array",
          "description": "Content of DataPreview results in Json format.",
          "items": {
            "$ref": "#/definitions/Models.DataPreview.JsonConvertedRecord"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "results"
      ]
    },
    "Models.DataPreview.DataRangeBaseConfig": {
      "type": "object",
      "description": "Base config for DataRange",
      "properties": {
        "type": {
          "$ref": "#/definitions/Models.DataPreview.DataRangeType",
          "description": "type of dataRange"
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "Models.DataPreview.DataRangeLimit": {
      "type": "object",
      "description": "DataRange by max records limit",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Max Limit for DataRange"
        }
      },
      "required": [
        "limit"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataPreview.DataRangeBaseConfig"
        }
      ],
      "x-ms-discriminator-value": "Limit"
    },
    "Models.DataPreview.DataRangeType": {
      "type": "string",
      "description": "Type of DataRange",
      "enum": [
        "Limit"
      ],
      "x-ms-enum": {
        "name": "DataRangeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Limit",
            "value": "Limit",
            "description": "Max limit range type"
          }
        ]
      }
    },
    "Models.DataPreview.JsonConvertedRecord": {
      "type": "object",
      "description": "Preview result",
      "properties": {
        "headers": {
          "type": "array",
          "description": "Header of DataPreview result",
          "items": {
            "$ref": "#/definitions/Models.DataPreview.DataHeader"
          },
          "x-ms-identifiers": []
        },
        "key": {
          "type": "string",
          "description": "Key of DataPreview result"
        },
        "valueSchema": {
          "type": "string",
          "description": "ValueSchema of DataPreview result"
        },
        "value": {
          "type": "string",
          "description": "Value of DataPreview result"
        }
      },
      "required": [
        "headers",
        "key",
        "valueSchema",
        "value"
      ]
    },
    "Models.DataSource.AzureBlob.AzureBlobCompression": {
      "type": "string",
      "description": "Type of File Compression Mode",
      "enum": [
        "None",
        "Gzip"
      ],
      "x-ms-enum": {
        "name": "AzureBlobCompression",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Not Compressed"
          },
          {
            "name": "Gzip",
            "value": "Gzip",
            "description": "Gzip Compression"
          }
        ]
      }
    },
    "Models.DataSource.AzureBlob.AzureBlobSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for AzureBlobSourceConnector",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "The name of the storage account where the blob files are located"
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "Authentication for AzureBlob"
        },
        "containerName": {
          "type": "string",
          "description": "Container name"
        },
        "pathPattern": {
          "type": "string",
          "description": "The path pattern to locate the files, default to * to poll all"
        },
        "compression": {
          "$ref": "#/definitions/Models.DataSource.AzureBlob.AzureBlobCompression",
          "description": "Compression type"
        },
        "discoveryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "the datetime to start processing files, files whose creation time earlier than this will be ignored"
        },
        "pathDateFormat": {
          "type": "string",
          "description": "Date format of {date} variable in path pattern"
        },
        "pathTimeFormat": {
          "type": "string",
          "description": "Time format of {time} variable in path pattern, support only hours currently"
        },
        "outOfOrderHours": {
          "type": "integer",
          "format": "int32",
          "description": "For how many hours late that we still consider a file to be on time"
        }
      },
      "required": [
        "accountName",
        "authentication",
        "containerName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "AzureBlobSource"
    },
    "Models.DataSource.AzureDataExplorer.AzureDataExplorerSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for AzureDataExplorerSourceConnector",
      "properties": {
        "clusterUrl": {
          "type": "string",
          "description": "Url of AzureDataExplorer cluster."
        },
        "database": {
          "type": "string",
          "description": "Database name for AzureDataExplorer."
        },
        "tableNames": {
          "type": "string",
          "description": "AzureDataExplorer table names use commas to separate multiple tables."
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "The OAuth accessToken"
        }
      },
      "required": [
        "clusterUrl",
        "database",
        "tableNames",
        "authentication"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "AzureDataExplorerSource"
    },
    "Models.DataSource.AzureServiceBus.AzureServiceBusSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for AzureServiceBusSourceConnector",
      "properties": {
        "topicOrQueueName": {
          "type": "string",
          "description": "Name for topic Or Queue."
        },
        "connectionString": {
          "type": "string",
          "format": "password",
          "description": "Gets or sets the connection string for the Azure Servicebus instance.",
          "x-ms-secret": true
        },
        "subscriptionName": {
          "type": "string",
          "description": "Name for subscription."
        },
        "serviceBusType": {
          "$ref": "#/definitions/Models.DataSource.AzureServiceBus.AzureServiceBusType",
          "description": "AzureServiceBusSource type."
        }
      },
      "required": [
        "topicOrQueueName",
        "connectionString",
        "serviceBusType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "AzureServiceBusSource"
    },
    "Models.DataSource.AzureServiceBus.AzureServiceBusType": {
      "type": "string",
      "description": "Type of AzureServiceBusType",
      "enum": [
        "Queue",
        "Topic"
      ],
      "x-ms-enum": {
        "name": "AzureServiceBusType",
        "modelAsString": true,
        "values": [
          {
            "name": "Queue",
            "value": "Queue",
            "description": "Queue type"
          },
          {
            "name": "Topic",
            "value": "Topic",
            "description": "Topic type"
          }
        ]
      }
    },
    "Models.DataSource.Confluent.ConfluentAutoOffsetReset": {
      "type": "string",
      "description": "What to do when there is no initial offset in ZooKeeper or if an offset is out of range.",
      "enum": [
        "Latest",
        "Earliest",
        "None"
      ],
      "x-ms-enum": {
        "name": "ConfluentAutoOffsetReset",
        "modelAsString": true,
        "values": [
          {
            "name": "Latest",
            "value": "Latest",
            "description": "Automatically reset the offset to the latest offset."
          },
          {
            "name": "Earliest",
            "value": "Earliest",
            "description": "Automatically reset the offset to the earliest offset."
          },
          {
            "name": "None",
            "value": "None",
            "description": "None reset."
          }
        ]
      }
    },
    "Models.DataSource.Confluent.ConfluentSaslMechanism": {
      "type": "string",
      "description": "Enum of the SaslMechanism for Confluent connector",
      "enum": [
        "PLAIN",
        "SCRAM-SHA-256",
        "SCRAM-SHA-512"
      ],
      "x-ms-enum": {
        "name": "ConfluentSaslMechanism",
        "modelAsString": true,
        "values": [
          {
            "name": "Plain",
            "value": "PLAIN",
            "description": "The PLAIN sasl mechanism."
          },
          {
            "name": "ScramSha256",
            "value": "SCRAM-SHA-256",
            "description": "The SCRAM-SHA-256 sasl mechanism."
          },
          {
            "name": "ScramSha512",
            "value": "SCRAM-SHA-512",
            "description": "The SCRAM-SHA-512 sasl mechanism."
          }
        ]
      }
    },
    "Models.DataSource.Confluent.ConfluentSecurityProtocol": {
      "type": "string",
      "description": "Enum of the SecurityProtocol for Confluent connector",
      "enum": [
        "SASL_PLAINTEXT",
        "PLAINTEXT",
        "SASL_SSL",
        "SSL"
      ],
      "x-ms-enum": {
        "name": "ConfluentSecurityProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "SaslPlaintext",
            "value": "SASL_PLAINTEXT",
            "description": "The SASL_PLAINTEXT security protocol."
          },
          {
            "name": "Plaintext",
            "value": "PLAINTEXT",
            "description": "The PLAINTEXT security protocol."
          },
          {
            "name": "SaslSsl",
            "value": "SASL_SSL",
            "description": "The SASL_SSL security protocol."
          },
          {
            "name": "Ssl",
            "value": "SSL",
            "description": "The SSL security protocol."
          }
        ]
      }
    },
    "Models.DataSource.Confluent.ConfluentSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for ConfluentSourceConnector",
      "properties": {
        "bootstrapServers": {
          "type": "string",
          "description": "bootstrapServers of the Confluent server."
        },
        "topic": {
          "type": "string",
          "description": "Topic of the Confluent."
        },
        "consumerGroup": {
          "type": "string",
          "description": "ConsumerGroup of the Confluent."
        },
        "autoOffsetReset": {
          "$ref": "#/definitions/Models.DataSource.Confluent.ConfluentAutoOffsetReset",
          "description": "What to do when there is no initial offset in ZooKeeper or if an offset is out of range."
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "UserName+Password Or OAuth for Confluent."
        },
        "securityProtocol": {
          "$ref": "#/definitions/Models.DataSource.Confluent.ConfluentSecurityProtocol",
          "description": "Security protocol of the confluent."
        },
        "saslMechanism": {
          "$ref": "#/definitions/Models.DataSource.Confluent.ConfluentSaslMechanism",
          "description": "Sasl mechanism of the confluent."
        },
        "offsetStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "OffsetStartTime in utcDateTime zone."
        }
      },
      "required": [
        "bootstrapServers",
        "topic",
        "consumerGroup",
        "autoOffsetReset",
        "authentication"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "ConfluentSource"
    },
    "Models.DataSource.CosmosDb.CosmosDbOffsetPolicy": {
      "type": "string",
      "description": "Enum of the OffsetPolicy for CosmosDB connector",
      "enum": [
        "UseLatestSourceOffset",
        "UseEarliestRecordedOffset"
      ],
      "x-ms-enum": {
        "name": "CosmosDbOffsetPolicy",
        "modelAsString": true,
        "values": [
          {
            "name": "UseLatestSourceOffset",
            "value": "UseLatestSourceOffset",
            "description": "use the latest (most recent) source offset"
          },
          {
            "name": "UseEarliestRecordedOffset",
            "value": "UseEarliestRecordedOffset",
            "description": "use the earliest recorded offset"
          }
        ]
      }
    },
    "Models.DataSource.CosmosDb.CosmosDbSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for CosmosDbSourceConnector",
      "properties": {
        "pollIntervalInMs": {
          "type": "integer",
          "format": "int32",
          "description": "PollIntervalInMs policy."
        },
        "cosmosEndpoint": {
          "type": "string",
          "description": "Endpoint of CosmosDB."
        },
        "databaseName": {
          "type": "string",
          "description": "DatabaseName for CosmosDB server."
        },
        "container": {
          "type": "string",
          "description": "Container for CosmosDB server."
        },
        "masterKey": {
          "type": "string",
          "format": "password",
          "description": "masterKey for CosmosDB server.",
          "x-ms-secret": true
        },
        "offsetPolicy": {
          "$ref": "#/definitions/Models.DataSource.CosmosDb.CosmosDbOffsetPolicy",
          "description": "useLatestOffset policy"
        }
      },
      "required": [
        "pollIntervalInMs",
        "cosmosEndpoint",
        "databaseName",
        "container",
        "masterKey",
        "offsetPolicy"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "CosmosDbSource"
    },
    "Models.DataSource.DataSourceProperties": {
      "type": "object",
      "description": "Base properties for source.",
      "properties": {
        "connectorType": {
          "$ref": "#/definitions/Models.Connector.ConnectorType",
          "description": "Type of the Connector."
        },
        "connectorSubType": {
          "$ref": "#/definitions/Models.Connector.ConnectorSubType",
          "description": "Subtype of the Connector."
        }
      },
      "discriminator": "connectorType",
      "required": [
        "connectorType"
      ]
    },
    "Models.DataSource.Dataverse.DataverseEventPosition": {
      "type": "string",
      "description": "The position of events in an Event Hub partition",
      "enum": [
        "Earliest",
        "Latest"
      ],
      "x-ms-enum": {
        "name": "DataverseEventPosition",
        "modelAsString": true,
        "values": [
          {
            "name": "Earliest",
            "value": "Earliest",
            "description": "Corresponds to the first record of the partition."
          },
          {
            "name": "Latest",
            "value": "Latest",
            "description": "Corresponds to the end of the partition."
          }
        ]
      }
    },
    "Models.DataSource.Dataverse.DataverseSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for DataverseSourceConnector",
      "properties": {
        "eventHubNamespaceHostname": {
          "type": "string",
          "description": "Namespace of the EventHub."
        },
        "eventHub": {
          "type": "string",
          "description": "Name of the EventHub."
        },
        "consumerGroup": {
          "type": "string",
          "description": "ConsumerGroup of the EventHub."
        },
        "startEventPosition": {
          "$ref": "#/definitions/Models.DataSource.Dataverse.DataverseEventPosition",
          "description": "The position of events in an Event Hub partition."
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "Authentication for EventHub, OAuth or ConnectionString."
        },
        "offsetStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "OffsetStartTime in utcDateTime zone."
        },
        "postEntityImages": {
          "type": "array",
          "description": "List of post entity images",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "eventHubNamespaceHostname",
        "eventHub",
        "consumerGroup",
        "startEventPosition",
        "authentication",
        "postEntityImages"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "DataverseSource"
    },
    "Models.DataSource.EventHub.EventHubEventPosition": {
      "type": "string",
      "description": "The position of events in an Event Hub partition",
      "enum": [
        "Earliest",
        "Latest"
      ],
      "x-ms-enum": {
        "name": "EventHubEventPosition",
        "modelAsString": true,
        "values": [
          {
            "name": "Earliest",
            "value": "Earliest",
            "description": "Corresponds to the first record of the partition."
          },
          {
            "name": "Latest",
            "value": "Latest",
            "description": "Corresponds to the end of the partition."
          }
        ]
      }
    },
    "Models.DataSource.EventHub.EventHubSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for EventHubSourceConnector",
      "properties": {
        "eventHubNamespaceHostname": {
          "type": "string",
          "description": "namespace of the EventHub."
        },
        "eventHub": {
          "type": "string",
          "description": "Name of the EventHub."
        },
        "consumerGroup": {
          "type": "string",
          "description": "ConsumerGroup of the EventHub."
        },
        "startEventPosition": {
          "$ref": "#/definitions/Models.DataSource.EventHub.EventHubEventPosition",
          "description": "The position of events in an Event Hub partition."
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "Authentication for EventHub, OAuth or ConnectionString."
        },
        "offsetStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "OffsetStartTime in utcDateTime zone."
        }
      },
      "required": [
        "eventHubNamespaceHostname",
        "eventHub",
        "consumerGroup",
        "startEventPosition",
        "authentication"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "EventHubSource"
    },
    "Models.DataSource.GooglePubSub.GooglePubSubSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for GooglePubSubSourceConnector",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Google Cloud project ID where the Pub/Sub instance resides, assigned by GCP."
        },
        "subscriptionName": {
          "type": "string",
          "description": "Google Cloud subscription name where the Pub/Sub instance resides."
        },
        "accountKey": {
          "type": "string",
          "format": "password",
          "description": "Google Cloud account key, assigned by GCP.",
          "x-ms-secret": true
        }
      },
      "required": [
        "projectId",
        "subscriptionName",
        "accountKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "GooglePubSubSource"
    },
    "Models.DataSource.Hana.HanaDatabaseSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for HanaDatabaseSourceConnector",
      "properties": {
        "connectionUrl": {
          "type": "string",
          "description": "HANA JDBC connection URI, e.g. jdbc:sap://127.0.0.1:30015."
        },
        "userName": {
          "type": "string",
          "description": "HANA JDBC connection username."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "HANA JDBC connection password.",
          "x-ms-secret": true
        },
        "schema": {
          "type": "string",
          "description": "HANA schema to source data from."
        },
        "mode": {
          "$ref": "#/definitions/Models.DataSource.Hana.HanaMode",
          "description": "The mode in which data should be fetched from SAP DB table. Default is bulk. And supported values are bulk, incrementing. "
        },
        "incrementingColumn": {
          "type": "string",
          "description": "In order to fetch data from a SAP DB table when mode is set to incrementing, an incremental (or auto-incremental) column needs to be provided."
        },
        "queryMode": {
          "$ref": "#/definitions/Models.DataSource.Hana.HanaQueryMode",
          "description": "The query mode in which data should be fetched from SAP DB table."
        },
        "table": {
          "type": "string",
          "description": "the SAP DB table name where the data needs to be read from."
        },
        "query": {
          "type": "string",
          "description": "The query statement when queryMode is set to query."
        },
        "batch": {
          "type": "integer",
          "format": "int32",
          "description": "Max rows to include in a single batch call. Should be an integer."
        },
        "interval": {
          "type": "integer",
          "format": "int32",
          "description": "The poll interval at which the data should be fetched from SAP DB table, the default value in server end is 60000 with millisecond unit."
        },
        "partitions": {
          "type": "integer",
          "format": "int32",
          "description": "The number of topic partitions that the Source connector can use to publish the data."
        },
        "numericMapping": {
          "$ref": "#/definitions/Models.DataSource.Hana.HanaNumericMapping",
          "description": "Whether the DECIMAL column types are mapped to the default decimal type or one of the primitive types."
        }
      },
      "required": [
        "connectionUrl",
        "userName",
        "password"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "HanaDatabaseSource"
    },
    "Models.DataSource.Hana.HanaMode": {
      "type": "string",
      "description": "Specify the mode in which data should be fetched from SAP DB table",
      "enum": [
        "Bulk",
        "Incrementing"
      ],
      "x-ms-enum": {
        "name": "HanaMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Bulk",
            "value": "Bulk",
            "description": "Bulk mode to fetch from SAP table."
          },
          {
            "name": "Incrementing",
            "value": "Incrementing",
            "description": "Incrementing mode to fetch from SAP table."
          }
        ]
      }
    },
    "Models.DataSource.Hana.HanaNumericMapping": {
      "type": "string",
      "description": "Control whether the DECIMAL column types are mapped to the default decimal type or one of the primitive types.",
      "enum": [
        "None",
        "BestFit",
        "BestFitEagerDouble"
      ],
      "x-ms-enum": {
        "name": "HanaNumericMapping",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "HanaNumericMapping of none."
          },
          {
            "name": "BestFit",
            "value": "BestFit",
            "description": "HanaNumericMapping of best_fit."
          },
          {
            "name": "BestFitEagerDouble",
            "value": "BestFitEagerDouble",
            "description": "HanaNumericMapping of best_fit_eager_double."
          }
        ]
      }
    },
    "Models.DataSource.Hana.HanaQueryMode": {
      "type": "string",
      "description": "Specify the query mode in which data should be fetched from SAP DB table",
      "enum": [
        "Table",
        "Query"
      ],
      "x-ms-enum": {
        "name": "HanaQueryMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Table",
            "value": "Table",
            "description": "Query HANA by Schema and Table."
          },
          {
            "name": "Query",
            "value": "Query",
            "description": "Query HANA by specific SQL query."
          }
        ]
      }
    },
    "Models.DataSource.Http.HttpKeyValuePair": {
      "type": "object",
      "description": "HTTP key-value pair",
      "properties": {
        "key": {
          "type": "string",
          "description": "HTTP header, request parameter, or path variable name"
        },
        "value": {
          "type": "string",
          "description": "Value associated with the key"
        }
      },
      "required": [
        "key",
        "value"
      ]
    },
    "Models.DataSource.Http.HttpMethod": {
      "type": "string",
      "description": "Supported HTTP request methods",
      "enum": [
        "GET",
        "POST"
      ],
      "x-ms-enum": {
        "name": "HttpMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "GET",
            "value": "GET",
            "description": "HTTP GET method"
          },
          {
            "name": "POST",
            "value": "POST",
            "description": "HTTP POST method"
          }
        ]
      }
    },
    "Models.DataSource.Http.HttpSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for HttpSourceConnector",
      "properties": {
        "url": {
          "type": "string",
          "format": "uri",
          "description": "HTTP URL to fetch from."
        },
        "method": {
          "$ref": "#/definitions/Models.DataSource.Http.HttpMethod",
          "description": "HTTP request method. GET or POST."
        },
        "requestParameters": {
          "type": "array",
          "description": "HTTP parameters to be added to request.",
          "items": {
            "$ref": "#/definitions/Models.DataSource.Http.HttpKeyValuePair"
          },
          "x-ms-identifiers": []
        },
        "pathVariables": {
          "type": "array",
          "description": "Path variables to be substituted.",
          "items": {
            "$ref": "#/definitions/Models.DataSource.Http.HttpKeyValuePair"
          },
          "x-ms-identifiers": []
        },
        "headers": {
          "type": "array",
          "description": "HTTP headers to include in the request.",
          "items": {
            "$ref": "#/definitions/Models.DataSource.Http.HttpKeyValuePair"
          },
          "x-ms-identifiers": []
        },
        "body": {
          "type": "string",
          "description": "HTTP request body sent with POST request."
        },
        "pollIntervalMs": {
          "type": "integer",
          "format": "int32",
          "description": "Polling interval in milliseconds."
        },
        "maxRetries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of retry attempts on error before failing the task.",
          "minimum": 0,
          "maximum": 100
        },
        "retryBackoffMs": {
          "type": "integer",
          "format": "int32",
          "description": "Time to wait in ms before retrying after an error."
        },
        "retriableHttpStatusCodes": {
          "type": "string",
          "description": "HTTP status code or ranges to retry on. eg: 400, or 400- means code large than 400"
        },
        "authentication": {
          "$ref": "#/definitions/Models.Auth.Authentication",
          "description": "Authentication for HTTP"
        }
      },
      "required": [
        "url",
        "method",
        "authentication"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "HttpSource"
    },
    "Models.DataSource.Kinesis.KinesisSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for KinesisSourceConnector",
      "properties": {
        "awsAccessKeyId": {
          "type": "string",
          "description": "AccessKeyId for AWS Kinesis Server."
        },
        "awsSecretAccessKey": {
          "type": "string",
          "format": "password",
          "description": "SecretAccessKey for AWS Kinesis Server.",
          "x-ms-secret": true
        },
        "awsKinesisRegion": {
          "type": "string",
          "description": "Region of AWS Kinesis Server."
        },
        "awsKinesisStreamName": {
          "type": "string",
          "description": "StreamName in AWS Kinesis Server."
        },
        "startPosition": {
          "$ref": "#/definitions/Models.DataSource.Kinesis.KinesisStartPositionType",
          "description": "startPosition supported by Kinesis."
        },
        "startSequence": {
          "type": "string",
          "description": "startSequence for startPosition."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "startTime for startPosition."
        }
      },
      "required": [
        "awsAccessKeyId",
        "awsSecretAccessKey",
        "awsKinesisRegion",
        "awsKinesisStreamName",
        "startPosition"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "KinesisSource"
    },
    "Models.DataSource.Kinesis.KinesisStartPositionType": {
      "type": "string",
      "description": "StartPosition types for Kinesis, https://docs.aws.amazon.com/kinesis/latest/APIReference/API_StartingPosition.html",
      "enum": [
        "TrimHorizon",
        "Latest",
        "AtSequenceNumber",
        "AfterSequenceNumber",
        "AtTimestamp"
      ],
      "x-ms-enum": {
        "name": "KinesisStartPositionType",
        "modelAsString": true,
        "values": [
          {
            "name": "TrimHorizon",
            "value": "TrimHorizon",
            "description": "TrimHorizon type"
          },
          {
            "name": "Latest",
            "value": "Latest",
            "description": "Latest type"
          },
          {
            "name": "AtSequenceNumber",
            "value": "AtSequenceNumber",
            "description": "AtSequenceNumber type"
          },
          {
            "name": "AfterSequenceNumber",
            "value": "AfterSequenceNumber",
            "description": "AfterSequenceNumber type"
          },
          {
            "name": "AtTimestamp",
            "value": "AtTimestamp",
            "description": "AtTimestamp type"
          }
        ]
      }
    },
    "Models.DataSource.ManagedAzureMapsWeather.ManagedAzureMapsWeatherSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for ManagedAzureMapsWeatherSourceConnector",
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude of the location."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude of the location."
        },
        "details": {
          "type": "boolean",
          "description": "Whether get the full details for the weather data."
        },
        "language": {
          "type": "string",
          "description": "The language of the weather data."
        },
        "unit": {
          "$ref": "#/definitions/Models.DataSource.ManagedAzureMapsWeather.WeatherDataUnit",
          "description": "The data unit for the weather."
        },
        "pollIntervalInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The polling interval in minutes."
        }
      },
      "required": [
        "longitude",
        "latitude"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "ManagedAzureMapsWeatherSource"
    },
    "Models.DataSource.ManagedAzureMapsWeather.WeatherDataUnit": {
      "type": "string",
      "description": "Type of weather data unit",
      "enum": [
        "Metric",
        "Imperial"
      ],
      "x-ms-enum": {
        "name": "WeatherDataUnit",
        "modelAsString": true,
        "values": [
          {
            "name": "Metric",
            "value": "Metric",
            "description": "Metric data unit"
          },
          {
            "name": "Imperial",
            "value": "Imperial",
            "description": "Imperial data unit"
          }
        ]
      }
    },
    "Models.DataSource.MongoDb.MongoDbSnapshotMode": {
      "type": "string",
      "description": "Specifies the criteria for performing a snapshot when the connector starts.",
      "enum": [
        "Initial",
        "InitialOnly",
        "NoData"
      ],
      "x-ms-enum": {
        "name": "MongoDbSnapshotMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Initial",
            "value": "Initial",
            "description": "When the connector starts, it performs an initial database snapshot. After the snapshot completes, the connector begins to stream event records for subsequent database changes."
          },
          {
            "name": "InitialOnly",
            "value": "InitialOnly",
            "description": "The connector performs a database a snapshot only when no offsets have been recorded for the logical server name. After the snapshot completes, the connector stops. It does not transition to streaming event records for subsequent database changes."
          },
          {
            "name": "NoData",
            "value": "NoData",
            "description": "The connector runs a snapshot that captures the structure of all relevant tables, but it does not create READ events to represent the data set at the point of the connector’s start-up."
          }
        ]
      }
    },
    "Models.DataSource.MongoDb.MongoDbSourceConnectorProperties": {
      "type": "object",
      "description": "MongoDbConnector tracks a MongoDb replica set or a MongoDb shared cluster for document changes in databases and collections, recording those changes as events in Kafka topics",
      "properties": {
        "server": {
          "type": "string",
          "description": "Server address of MongoDb Server."
        },
        "username": {
          "type": "string",
          "description": "Username for MongoDb."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password for MongoDb.",
          "x-ms-secret": true
        },
        "replicaSet": {
          "type": "string",
          "description": "Name of the MongoDb replica set."
        },
        "enableTls": {
          "type": "boolean",
          "description": "Enables or disables TLS/SSL for the connection."
        },
        "databaseIncludeList": {
          "type": "string",
          "description": "A comma-separated list of regular expressions that match database names to be monitored. By default, all databases are monitored."
        },
        "databaseExcludeList": {
          "type": "string",
          "description": "A comma-separated list of regular expressions that match database names to be excluded from monitoring."
        },
        "collectionIncludeList": {
          "type": "string",
          "description": "A comma-separated list of regular expressions that match fully-qualified namespaces for MongoDb collections to be monitored. By default, the connector monitors all collections except those in the local and admin databases."
        },
        "collectionExcludeList": {
          "type": "string",
          "description": "A comma-separated list of regular expressions that match fully-qualified namespaces for MongoDb collections to be excluded from monitoring."
        },
        "snapshotMode": {
          "$ref": "#/definitions/Models.DataSource.MongoDb.MongoDbSnapshotMode",
          "description": "Specifies the criteria for performing a snapshot when the connector starts."
        },
        "snapshotFetchSize": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the maximum number of documents that should be read in one go from each collection while taking a snapshot."
        }
      },
      "required": [
        "server",
        "username",
        "password"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "MongoDbSource"
    },
    "Models.DataSource.Mqtt.MqttSourceConnectorProperties": {
      "type": "object",
      "description": "Configuration for MqttSourceConnector",
      "properties": {
        "serverVersion": {
          "$ref": "#/definitions/Models.DataSource.Mqtt.MqttVersion",
          "description": "Mqtt server version."
        },
        "topic": {
          "type": "string",
          "description": "Topic to subscribe to."
        },
        "brokerUrl": {
          "type": "string",
          "description": "URL of the broker where to establish the connection."
        },
        "username": {
          "type": "string",
          "description": "Username to use when connecting to the Mqtt v5 compliant broker."
        },
        "password": {
          "type": "string",
          "format": "password",
          "description": "Password to use when connecting to the Mqtt v5 compliant broker.",
          "x-ms-secret": true
        }
      },
      "required": [
        "serverVersion",
        "topic",
        "brokerUrl"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Models.DataSource.DataSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "MqttSource"
    },
    "Models.DataSource.Mqtt.MqttVersion": {
      "type": "string",
      "description": "Version for Mqtt server",
      "enum": [
        "V5",
        "V3AndBelow"
      ],
      "x-ms-enum": {
        "name": "MqttVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "V5",
            "value": "V5",
            "description": "Mqtt v5"
          },
          {
            "name": "V3AndBelow",
            "value": "V3AndBelow",
            "description": "Mqtt v3 and below"
          }
        ]
      }
    },
    "Models.DataSource.MySql.MySqlDecimalHandlingMode": {
      "type": "string",
      "description": "Enum DecimalHandlingMode for mysql",
      "enum": [
        "Precise",
        "Double",
        "String"
      ],
      "x-ms-enum": {
        "name": "MySqlDecimalHandlingMode",
        "modelAsString": true,
        "values": [
          {
            "name": "PreciseMode",
            "value": "Precise",
            "description": "The Precise mode."
          },
          {
            "name": "DoubleMode",
            "value": "Double",
            "description": "The Double mode."
          },
          {
            "name": "StringMode",
            "value": "String",
            "description": "The String mode."
          }
        ]
      }
    },
    "Models.DataSource.MySql.MySqlSkippedOperationsMode": {
      "type": "string",
      "description": "Enum SkippedOperationsMode for mysql",
      "enum": [
        "InsertOrCreate",
        "Update",
        "Delete",
        "Truncate",
        "None"
      ],
      "x-ms-enum": {
        "name": "MySqlSkippedOperationsMode",
        "modelAsString": true,
        "values": [
          {
            "name": "InsertOrCreate",
            "value": "InsertOrCreate",
            "description": "The InsertOrCreate mode."
          },
          {
[...]
