{
  "swagger": "2.0",
  "info": {
    "title": "PolicyClient",
    "version": "2022-08-01-preview",
    "description": "To query within your variable you can create variable values. These values can hold customer data to be shared between policy definitions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/variables/{variableName}/values/{variableValueName}": {
      "delete": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_Delete",
        "summary": "Deletes a variable value.",
        "description": "This operation deletes a variable value, given its name, the subscription it was created in, and the variable it belongs to. The scope of a variable value is the part of its ID preceding '/providers/Microsoft.Authorization/variables/{variableName}'.",
        "x-ms-examples": {
          "Delete a variable value": {
            "$ref": "./examples/deleteVariableValue.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/VariableValueNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content - the variable doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_CreateOrUpdate",
        "summary": "Creates or updates a variable value.",
        "description": " This operation creates or updates a variable value with the given subscription and name for a given variable. Variable values are scoped to the variable for which they are created for.",
        "x-ms-examples": {
          "Create or update a variable value": {
            "$ref": "./examples/createOrUpdateVariableValue.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/VariableValueNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableValue"
            },
            "description": "Parameters for the variable value."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the updated variable value.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "201": {
            "description": "Created - Returns information about the new variable value.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_Get",
        "summary": "Retrieves a variable value.",
        "description": "This operation retrieves a single variable value; given its name, subscription it was created at and the variable it's created for.",
        "x-ms-examples": {
          "Retrieve a variable value": {
            "$ref": "./examples/getVariableValue.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/VariableValueNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the variable value.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/variables/{variableName}/values": {
      "get": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_List",
        "summary": "List variable values for a variable.",
        "description": "This operation retrieves the list of all variable values associated with the given variable that is at a subscription level.",
        "x-ms-examples": {
          "List variable values that apply to a variable at subscription level": {
            "$ref": "./examples/listVariableValuesForSubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of variable values.",
            "schema": {
              "$ref": "#/definitions/VariableValueListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/variables/{variableName}/values": {
      "get": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_ListForManagementGroup",
        "summary": "List variable values at management group level.",
        "description": "This operation retrieves the list of all variable values applicable the variable indicated at the management group scope.",
        "x-ms-examples": {
          "List variable values at a management group scope": {
            "$ref": "./examples/listVariableValuesForManagementGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of variable values.",
            "schema": {
              "$ref": "#/definitions/VariableValueListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Authorization/variables/{variableName}/values/{variableValueName}": {
      "delete": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_DeleteAtManagementGroup",
        "summary": "Deletes a variable value.",
        "description": "This operation deletes a variable value, given its name, the management group it was created in, and the variable it belongs to. The scope of a variable value is the part of its ID preceding '/providers/Microsoft.Authorization/variables/{variableName}'.",
        "x-ms-examples": {
          "Delete a variable value at management group": {
            "$ref": "./examples/deleteVariableValueAtManagementGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/VariableValueNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content - the variable doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_CreateOrUpdateAtManagementGroup",
        "summary": "Creates or updates a variable value.",
        "description": " This operation creates or updates a variable value with the given management group and name for a given variable. Variable values are scoped to the variable for which they are created for.",
        "x-ms-examples": {
          "Create or update a variable value at management group": {
            "$ref": "./examples/createOrUpdateVariableValueAtManagementGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/VariableValueNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableValue"
            },
            "description": "Parameters for the variable value."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the updated variable value.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "201": {
            "description": "Created - Returns information about the new variable value.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "VariableValues"
        ],
        "operationId": "VariableValues_GetAtManagementGroup",
        "summary": "Retrieves a variable value.",
        "description": "This operation retrieves a single variable value; given its name,  management group it was created at and the variable it's created for.",
        "x-ms-examples": {
          "Retrieve a variable value at management group": {
            "$ref": "./examples/getVariableValueAtManagementGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/VariableNameParameter"
          },
          {
            "$ref": "#/parameters/VariableValueNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the variable value.",
            "schema": {
              "$ref": "#/definitions/VariableValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      },
      "type": "object",
      "description": "An error response from a policy operation."
    },
    "PolicyVariableValueColumnValue": {
      "required": [
        "columnName",
        "columnValue"
      ],
      "properties": {
        "columnName": {
          "type": "string",
          "description": "Column name for the variable value"
        },
        "columnValue": {
          "type": "object",
          "description": "Column value for the variable value; this can be an integer, double, boolean, null or a string."
        }
      },
      "type": "object",
      "description": "The name value tuple for this variable value column."
    },
    "PolicyVariableValueProperties": {
      "required": [
        "values"
      ],
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PolicyVariableValueColumnValue"
          },
          "x-ms-identifiers": [
            "columnName"
          ],
          "description": "Variable value column value array."
        }
      },
      "type": "object",
      "description": "The variable value properties."
    },
    "VariableValue": {
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PolicyVariableValueProperties",
          "description": "Properties for the variable value."
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the variable."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the variable."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource (Microsoft.Authorization/variables/values)."
        }
      },
      "type": "object",
      "description": "The variable value.",
      "x-ms-azure-resource": true
    },
    "VariableValueListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VariableValue"
          },
          "description": "An array of variable values."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "type": "object",
      "description": "List of variable values."
    }
  },
  "parameters": {
    "VariableNameParameter": {
      "name": "variableName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the variable to operate on.",
      "x-ms-parameter-location": "method"
    },
    "VariableValueNameParameter": {
      "name": "variableValueName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the variable value to operate on.",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the management group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the operation.",
      "x-ms-parameter-location": "client"
    }
  }
}
