{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration management service",
    "version": "2026-02-01-preview",
    "description": "The Microsoft.ApplicationMigration Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OracleSites"
    },
    {
      "name": "OracleInstances"
    },
    {
      "name": "OracleDatabases"
    },
    {
      "name": "OracleAgents"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/oracleSites": {
      "get": {
        "operationId": "OracleSites_ListBySubscription",
        "tags": [
          "OracleSites"
        ],
        "description": "Lists the OracleSites resource in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSiteList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleSites_ListBySubscription_MaximumSet": {
            "$ref": "./examples/OracleSites_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites": {
      "get": {
        "operationId": "OracleSites_ListByResourceGroup",
        "tags": [
          "OracleSites"
        ],
        "description": "Lists the OracleSites resource in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSiteList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleSites_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/OracleSites_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}": {
      "get": {
        "operationId": "OracleSites_Get",
        "tags": [
          "OracleSites"
        ],
        "description": "Gets the OracleSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleSites_Get_MaximumSet": {
            "$ref": "./examples/OracleSites_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OracleSites_CreateOrUpdate",
        "tags": [
          "OracleSites"
        ],
        "description": "Puts the OracleSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a OracleSite resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OracleSite' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "201": {
            "description": "Resource 'OracleSite' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleSites_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/OracleSites_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OracleSites_Update",
        "tags": [
          "OracleSites"
        ],
        "description": "Patch the OracleSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteTagsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleSites_Update_MaximumSet": {
            "$ref": "./examples/OracleSites_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OracleSites_Delete",
        "tags": [
          "OracleSites"
        ],
        "description": "Deletes the OracleSites resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleSites_Delete_MaximumSet": {
            "$ref": "./examples/OracleSites_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/agents": {
      "get": {
        "operationId": "OracleAgents_ListBySite",
        "tags": [
          "OracleAgents"
        ],
        "description": "Lists the Agents resource in OracleSites.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleAgentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleAgents_ListBySite_MaximumSet": {
            "$ref": "./examples/OracleAgents_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/agents/{agentName}": {
      "get": {
        "operationId": "OracleAgents_Get",
        "tags": [
          "OracleAgents"
        ],
        "description": "Gets the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleAgents_Get_MaximumSet": {
            "$ref": "./examples/OracleAgents_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OracleAgents_CreateOrUpdate",
        "tags": [
          "OracleAgents"
        ],
        "description": "Puts the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating agent.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OracleAgent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleAgent"
            }
          },
          "201": {
            "description": "Resource 'OracleAgent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleAgents_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/OracleAgents_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "OracleAgents_Update",
        "tags": [
          "OracleAgents"
        ],
        "description": "Patch the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Agents patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleAgents_Update_MaximumSet": {
            "$ref": "./examples/OracleAgents_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "OracleAgents_Delete",
        "tags": [
          "OracleAgents"
        ],
        "description": "Deletes the Agents resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleAgents_Delete_MaximumSet": {
            "$ref": "./examples/OracleAgents_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/agents/{agentName}/refresh": {
      "post": {
        "operationId": "OracleAgents_TriggerRefresh",
        "tags": [
          "OracleAgents"
        ],
        "description": "Trigger Refresh action to refresh the OracleAgent resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The name of agent",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleAgents_TriggerRefresh_MaximumSet": {
            "$ref": "./examples/OracleAgents_TriggerRefresh_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/oracleDatabases": {
      "get": {
        "operationId": "OracleDatabases_ListBySite",
        "tags": [
          "OracleDatabases"
        ],
        "description": "Lists the OracleDatabases resource in OracleSites.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleDatabaseList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleDatabases_ListBySite_MaximumSet": {
            "$ref": "./examples/OracleDatabases_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/oracleDatabases/{databaseName}": {
      "get": {
        "operationId": "OracleDatabases_Get",
        "tags": [
          "OracleDatabases"
        ],
        "description": "Gets the OracleDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleDatabases_Get_MaximumSet": {
            "$ref": "./examples/OracleDatabases_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OracleDatabases_CreateOrUpdate",
        "tags": [
          "OracleDatabases"
        ],
        "description": "Puts the OracleDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a OracleDatabase resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OracleDatabase' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "201": {
            "description": "Resource 'OracleDatabase' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleDatabases_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/OracleDatabases_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "OracleDatabases_Update",
        "tags": [
          "OracleDatabases"
        ],
        "description": "Patch the OracleDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The request body for updating a OracleDatabase resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleDatabaseResourcePatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleDatabases_Update_MaximumSet": {
            "$ref": "./examples/OracleDatabases_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "OracleDatabases_Delete",
        "tags": [
          "OracleDatabases"
        ],
        "description": "Deletes the OracleDatabases resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of Database",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleDatabases_Delete_MaximumSet": {
            "$ref": "./examples/OracleDatabases_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/oracleInstances": {
      "get": {
        "operationId": "OracleInstances_ListBySite",
        "tags": [
          "OracleInstances"
        ],
        "description": "Lists the OracleInstances resource in OracleSites.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleInstanceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleInstances_ListBySite_MaximumSet": {
            "$ref": "./examples/OracleInstances_ListBySite_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/oracleSites/{siteName}/oracleInstances/{instanceName}": {
      "get": {
        "operationId": "OracleInstances_Get",
        "tags": [
          "OracleInstances"
        ],
        "description": "Gets the OracleInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleInstances_Get_MaximumSet": {
            "$ref": "./examples/OracleInstances_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OracleInstances_CreateOrUpdate",
        "tags": [
          "OracleInstances"
        ],
        "description": "Puts the OracleInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The request body for creating or updating a OracleInstance resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OracleInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleInstance"
            }
          },
          "201": {
            "description": "Resource 'OracleInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OracleInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleInstances_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/OracleInstances_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "OracleInstances_Update",
        "tags": [
          "OracleInstances"
        ],
        "description": "Patch the OracleInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The request body for updating a OracleInstance resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleInstanceResourcePatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OracleInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleInstances_Update_MaximumSet": {
            "$ref": "./examples/OracleInstances_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "OracleInstances_Delete",
        "tags": [
          "OracleInstances"
        ],
        "description": "Deletes the OracleInstances resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of Site",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of Instance",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OracleInstances_Delete_MaximumSet": {
            "$ref": "./examples/OracleInstances_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgentHealthProperties": {
      "type": "object",
      "description": "Class for agent health properties.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the agent."
        },
        "lastHeartBeatUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Last heartbeat time of the agent in UTC."
        }
      }
    },
    "AgentProperties": {
      "type": "object",
      "description": "Agent properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "servicePrincipalIdentityDetails": {
          "$ref": "#/definitions/AgentSpnProperties",
          "description": "Service principal identity details used by agent for communication to the service.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "migrateApplianceName": {
          "type": "string",
          "description": "Name of the appliance on which agent is running.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "healthDetails": {
          "$ref": "#/definitions/AgentHealthProperties",
          "description": "Health details of the agent."
        },
        "fabricSiteName": {
          "type": "string",
          "description": "Name of the appliance on which agent is running.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "servicePrincipalIdentityDetails",
        "migrateApplianceName",
        "fabricSiteName"
      ]
    },
    "AgentResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentResourcePatchProperties",
          "description": "The Agent properties resource definition."
        }
      }
    },
    "AgentResourcePatchProperties": {
      "type": "object",
      "description": "Agent resource patch properties",
      "properties": {
        "healthDetails": {
          "$ref": "#/definitions/AgentHealthProperties",
          "description": "Health details of the agent."
        }
      }
    },
    "AgentSpnProperties": {
      "type": "object",
      "description": "Class for agent spn properties.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services."
        },
        "applicationId": {
          "type": "string",
          "description": "Application/client Id for the service principal with which the on-premise management/data plane components would communicate with our Azure services."
        },
        "objectId": {
          "type": "string",
          "description": "Object Id of the service principal with which the on-premise management/data plane components would communicate with our Azure services."
        }
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "BoolValue": {
      "type": "string",
      "description": "Represents an Enum with boolean values.",
      "enum": [
        "Unknown",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "BoolValue",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Represents an unknown value."
          },
          {
            "name": "True",
            "value": "True",
            "description": "Represents a true boolean value."
          },
          {
            "name": "False",
            "value": "False",
            "description": "Represents a false boolean value."
          }
        ]
      }
    },
    "Collation": {
      "type": "object",
      "description": "Represents a Collation in Oracle.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the collation."
        },
        "locale": {
          "type": "string",
          "description": "The locale of the collation."
        },
        "collationProvider": {
          "$ref": "#/definitions/CollationProvider",
          "description": "The provider of the collation."
        },
        "isDeterministic": {
          "type": "boolean",
          "description": "A value indicating whether the collation is deterministic."
        }
      }
    },
    "CollationProvider": {
      "type": "string",
      "description": "Represents the Collation Provider for Oracle.",
      "enum": [
        "UNKNOWN",
        "DEFAULT",
        "NLS_SORT",
        "NLS_COMP"
      ],
      "x-ms-enum": {
        "name": "CollationProvider",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "UNKNOWN collation provider."
          },
          {
            "name": "DEFAULT",
            "value": "DEFAULT",
            "description": "DEFAULT collation provider."
          },
          {
            "name": "NLS_SORT",
            "value": "NLS_SORT",
            "description": "NLS_SORT collation provider."
          },
          {
            "name": "NLS_COMP",
            "value": "NLS_COMP",
            "description": "NLS_COMP collation provider."
          }
        ]
      }
    },
    "CustomProperties": {
      "type": "object",
      "description": "Custom property with mixed value types",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value - string"
        }
      },
      "required": [
        "key",
        "value"
      ]
    },
    "Edition": {
      "type": "string",
      "description": "Represents the Edition of the Oracle instance.",
      "enum": [
        "Unknown",
        "StandardEdition2",
        "Express",
        "Personal"
      ],
      "x-ms-enum": {
        "name": "Edition",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown edition."
          },
          {
            "name": "StandardEdition2",
            "value": "StandardEdition2",
            "description": "Standard edition."
          },
          {
            "name": "Express",
            "value": "Express",
            "description": "Express edition."
          },
          {
            "name": "Personal",
            "value": "Personal",
            "description": "Personal edition."
          }
        ]
      }
    },
    "Encoding": {
      "type": "string",
      "description": "Represents the supported character sets in Oracle (NLS_CHARACTERSET).",
      "enum": [
        "UNKNOWN",
        "AL32UTF8",
        "AL16UTF16",
        "US7ASCII",
        "WE8ISO8859P1",
        "WE8ISO8859P15",
        "WE8MSWIN1252",
        "EE8ISO8859P2",
        "EE8MSWIN1250",
        "CL8ISO8859P5",
        "CL8MSWIN1251",
        "CL8KOI8R",
        "CL8KOI8U",
        "AR8ISO8859P6",
        "AR8MSWIN1256",
        "EL8ISO8859P7",
        "EL8MSWIN1253",
        "IW8ISO8859P8",
        "IW8MSWIN1255",
        "TR8ISO8859P9",
        "TR8MSWIN1254",
        "BLT8ISO8859P13",
        "BLT8MSWIN1257",
        "VN8MSWIN1258",
        "TH8TISASCII",
        "JA16SJIS",
        "JA16SJISTILDE",
        "JA16EUC",
        "JA16EUCTILDE",
        "ZHS16GBK",
        "ZHS32GB18030",
        "ZHT16BIG5",
        "ZHT16HKSCS",
        "ZHT16MSWIN950",
        "KO16KSC5601",
        "KO16MSWIN949",
        "RU8PC866"
      ],
      "x-ms-enum": {
        "name": "Encoding",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "Unknown Encoding."
          },
          {
            "name": "AL32UTF8",
            "value": "AL32UTF8",
            "description": "Unicode UTF-8 Universal character set (recommended for new databases)."
          },
          {
            "name": "AL16UTF16",
            "value": "AL16UTF16",
            "description": "Unicode UTF-16 Universal character set."
          },
          {
            "name": "US7ASCII",
            "value": "US7ASCII",
            "description": "US 7-bit ASCII character set."
          },
          {
            "name": "WE8ISO8859P1",
            "value": "WE8ISO8859P1",
            "description": "Western European ISO 8859-1."
          },
          {
            "name": "WE8ISO8859P15",
            "value": "WE8ISO8859P15",
            "description": "Western European ISO 8859-15 (with Euro sign)."
          },
          {
            "name": "WE8MSWIN1252",
            "value": "WE8MSWIN1252",
            "description": "Western European Windows code page 1252."
          },
          {
            "name": "EE8ISO8859P2",
            "value": "EE8ISO8859P2",
            "description": "Eastern European ISO 8859-2."
          },
          {
            "name": "EE8MSWIN1250",
            "value": "EE8MSWIN1250",
            "description": "Eastern European Windows code page 1250."
          },
          {
            "name": "CL8ISO8859P5",
            "value": "CL8ISO8859P5",
            "description": "Cyrillic ISO 8859-5."
          },
          {
            "name": "CL8MSWIN1251",
            "value": "CL8MSWIN1251",
            "description": "Cyrillic Windows code page 1251."
          },
          {
            "name": "CL8KOI8R",
            "value": "CL8KOI8R",
            "description": "Cyrillic KOI8-R for Russian."
          },
          {
            "name": "CL8KOI8U",
            "value": "CL8KOI8U",
            "description": "Cyrillic KOI8-U for Ukrainian."
          },
          {
            "name": "AR8ISO8859P6",
            "value": "AR8ISO8859P6",
            "description": "Arabic ISO 8859-6."
          },
          {
            "name": "AR8MSWIN1256",
            "value": "AR8MSWIN1256",
            "description": "Arabic Windows code page 1256."
          },
          {
            "name": "EL8ISO8859P7",
            "value": "EL8ISO8859P7",
            "description": "Greek ISO 8859-7."
          },
          {
            "name": "EL8MSWIN1253",
            "value": "EL8MSWIN1253",
            "description": "Greek Windows code page 1253."
          },
          {
            "name": "IW8ISO8859P8",
            "value": "IW8ISO8859P8",
            "description": "Hebrew ISO 8859-8."
          },
          {
            "name": "IW8MSWIN1255",
            "value": "IW8MSWIN1255",
            "description": "Hebrew Windows code page 1255."
          },
          {
            "name": "TR8ISO8859P9",
            "value": "TR8ISO8859P9",
            "description": "Turkish ISO 8859-9."
          },
          {
            "name": "TR8MSWIN1254",
            "value": "TR8MSWIN1254",
            "description": "Turkish Windows code page 1254."
          },
          {
            "name": "BLT8ISO8859P13",
            "value": "BLT8ISO8859P13",
            "description": "Baltic ISO 8859-13."
          },
          {
            "name": "BLT8MSWIN1257",
            "value": "BLT8MSWIN1257",
            "description": "Baltic Windows code page 1257."
          },
          {
            "name": "VN8MSWIN1258",
            "value": "VN8MSWIN1258",
            "description": "Vietnamese Windows code page 1258."
          },
          {
            "name": "TH8TISASCII",
            "value": "TH8TISASCII",
            "description": "Thai Windows code page 874."
          },
          {
            "name": "JA16SJIS",
            "value": "JA16SJIS",
            "description": "Japanese Shift-JIS."
          },
          {
            "name": "JA16SJISTILDE",
            "value": "JA16SJISTILDE",
            "description": "Japanese Shift-JIS (TILDE variant)."
          },
          {
            "name": "JA16EUC",
            "value": "JA16EUC",
            "description": "Japanese EUC."
          },
          {
            "name": "JA16EUCTILDE",
            "value": "JA16EUCTILDE",
            "description": "Japanese EUC (TILDE variant)."
          },
          {
            "name": "ZHS16GBK",
            "value": "ZHS16GBK",
            "description": "Simplified Chinese GBK."
          },
          {
            "name": "ZHS32GB18030",
            "value": "ZHS32GB18030",
            "description": "Simplified Chinese GB18030."
          },
          {
            "name": "ZHT16BIG5",
            "value": "ZHT16BIG5",
            "description": "Traditional Chinese Big5."
          },
          {
            "name": "ZHT16HKSCS",
            "value": "ZHT16HKSCS",
            "description": "Traditional Chinese HKSCS (Hong Kong Supplementary Character Set)."
          },
          {
            "name": "ZHT16MSWIN950",
            "value": "ZHT16MSWIN950",
            "description": "Traditional Chinese Microsoft Windows code page 950."
          },
          {
            "name": "KO16KSC5601",
            "value": "KO16KSC5601",
            "description": "Korean KSC5601."
          },
          {
            "name": "KO16MSWIN949",
            "value": "KO16MSWIN949",
            "description": "Korean Windows code page 949."
          },
          {
            "name": "RU8PC866",
            "value": "RU8PC866",
            "description": "Russian Windows code page 866."
          }
        ]
      }
    },
    "Error": {
      "type": "object",
      "description": "Defines the error.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The error ID."
        },
        "code": {
          "type": "string",
          "description": "The error code."
        },
        "summaryMessage": {
          "type": "string",
          "description": "The summarized error message."
        },
        "runAsAccountId": {
          "type": "string",
          "description": "The account ID used to login."
        },
        "message": {
          "type": "string",
          "description": "The detailed error message."
        },
        "possibleCause": {
          "type": "string",
          "description": "The error possible cause."
        },
        "recommendedAction": {
          "type": "string",
          "description": "Gets description of the checkpoint."
        },
        "severity": {
          "type": "string",
          "description": "Gets description of the severity."
        },
        "updatedTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "UTC Time(yyyy-MM-ddTHH:mm:ssZ) when this error was last updated."
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location for off-azure resources.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "Extension": {
      "type": "object",
      "description": "Represents an Extension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the extension."
        },
        "version": {
          "type": "string",
          "description": "The version of the extension."
        }
      }
    },
    "HasCustomDataTypes": {
      "type": "string",
      "description": "Represents the presence of custom data types in a DB.",
      "enum": [
        "Unknown",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "HasCustomDataTypes",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Custom data types presence in the database is unknown."
          },
          {
            "name": "True",
            "value": "True",
            "description": "The Database has custom data types."
          },
          {
            "name": "False",
            "value": "False",
            "description": "The Database does not have custom data types."
          }
        ]
      }
    },
    "HasTablesWithOids": {
      "type": "string",
      "description": "Represents the presence of Oids in Tables under a DB.",
      "enum": [
        "Unknown",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "HasTablesWithOids",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Oids presence in the database is unknown."
          },
          {
            "name": "True",
            "value": "True",
            "description": "The Database has tables with Oids."
          },
          {
            "name": "False",
            "value": "False",
            "description": "The Database does not have tables with Oids."
          }
        ]
      }
    },
    "HostMachineProperties": {
      "type": "object",
      "description": "Represents the properties of the machine where the Oracle instance is running.",
      "properties": {
        "vCores": {
          "type": "integer",
          "format": "int64",
          "description": "The machine vCore count."
        },
        "allocatedMemoryInMb": {
          "type": "integer",
          "format": "int64",
          "description": "The allocated RAM in Machine."
        },
        "totalStorageInGb": {
          "type": "integer",
          "format": "int64",
          "description": "The machine storage size in GB."
        },
        "oracleInstanceCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of Oracle instances on the machine."
        }
      }
    },
    "Language": {
      "type": "string",
      "description": "Represents the Language supported by Oracle.",
      "enum": [
        "UNKNOWN",
        "SQL",
        "PLSQL",
        "PLPERL",
        "JAVA",
        "C",
        "INTERNAL"
      ],
      "x-ms-enum": {
        "name": "Language",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "UNKNOWN edition."
          },
          {
            "name": "SQL",
            "value": "SQL",
            "description": "SQL language."
          },
          {
            "name": "PLSQL",
            "value": "PLSQL",
            "description": "PLSQL language"
          },
          {
            "name": "PLPERL",
            "value": "PLPERL",
            "description": "PLPERL language."
          },
          {
            "name": "JAVA",
            "value": "JAVA",
            "description": "JAVA language."
          },
          {
            "name": "C",
            "value": "C",
            "description": "C language.C language."
          },
          {
            "name": "INTERNAL",
            "value": "INTERNAL",
            "description": "INTERNAL language."
          }
        ]
      }
    },
    "OracleAgent": {
      "type": "object",
      "description": "The Agent resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OracleAgentList": {
      "type": "object",
      "description": "List of Agents.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OracleAgent items on this page",
          "items": {
            "$ref": "#/definitions/OracleAgent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OracleAuthenticationMethod": {
      "type": "string",
      "description": "Represents the Auth method.",
      "enum": [
        "UNKNOWN",
        "PASSWORD",
        "EXTERNAL",
        "KERBEROS",
        "SSL",
        "RADIUS",
        "OS",
        "GLOBAL"
      ],
      "x-ms-enum": {
        "name": "OracleAuthenticationMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN",
            "description": "UNKNOWN Authentication method version."
          },
          {
            "name": "PASSWORD",
            "value": "PASSWORD",
            "description": "Password-based authentication."
          },
          {
            "name": "EXTERNAL",
            "value": "EXTERNAL",
            "description": "External authentication (e.g., certificates, third-party)."
          },
          {
            "name": "KERBEROS",
            "value": "KERBEROS",
            "description": "Kerberos network authentication protocol."
          },
          {
            "name": "SSL",
            "value": "SSL",
            "description": "Secure Sockets Layer (SSL) authentication."
          },
          {
            "name": "RADIUS",
            "value": "RADIUS",
            "description": "RADIUS (Remote Authentication Dial-In User Service)."
          },
          {
            "name": "OS",
            "value": "OS",
            "description": "Operating system authentication."
          },
          {
            "name": "GLOBAL",
            "value": "GLOBAL",
            "description": "Global authentication (shared across systems)."
          }
        ]
      }
    },
    "OracleDatabase": {
      "type": "object",
      "description": "The OracleDatabase resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleDatabaseProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OracleDatabaseList": {
      "type": "object",
      "description": "List of Databases.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OracleDatabase items on this page",
          "items": {
            "$ref": "#/definitions/OracleDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OracleDatabaseProperties": {
      "type": "object",
      "description": "Oracle Database properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "databaseDisplayName": {
          "type": "string",
          "description": "The database name."
        },
        "oracleInstanceArmIds": {
          "type": "array",
          "description": "discovered Oracle Instance Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ApplicationMigration/oracleSites/oracleInstances"
                }
              ]
            }
          }
        },
        "encoding": {
          "$ref": "#/definitions/Encoding",
          "description": "Oracle database encoding."
        },
        "collations": {
          "type": "array",
          "description": "The list of collations in the database.",
          "items": {
            "$ref": "#/definitions/Collation"
          },
          "x-ms-identifiers": [
            "name",
            "locale",
            "collationProvider",
            "isDeterministic"
          ]
        },
        "extensions": {
          "type": "array",
          "description": "The list of extensions in the database.",
          "items": {
            "$ref": "#/definitions/Extension"
          },
          "x-ms-identifiers": [
            "name",
            "version"
          ]
        },
        "languages": {
          "type": "array",
          "description": "List of languages in the database.",
          "items": {
            "$ref": "#/definitions/Language"
          }
        },
        "hasTablesWithOids": {
          "$ref": "#/definitions/HasTablesWithOids",
          "description": "Whether tables with oid's exists in the database."
        },
        "hasCustomDataTypes": {
          "$ref": "#/definitions/HasCustomDataTypes",
          "description": "Whether the database has custom data types."
        },
        "storageSizeInMb": {
          "type": "number",
          "format": "float",
          "description": "Gets or sets storage size of Oracle database."
        },
        "hasSuperUserCreatedObjects": {
          "$ref": "#/definitions/BoolValue",
          "description": "Gets or sets hasSuperUserCreatedObjects of Oracle database."
        },
        "hasCustomCasts": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom casts defined."
        },
        "hasCustomFtsParsers": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) parsers defined."
        },
        "hasCustomFtsTemplates": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) templates defined."
        },
        "fileSystemAccessEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the access to the machine's file system is enabled for the database objects."
        },
        "errorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of errors."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OracleDatabaseResourcePatch": {
      "type": "object",
      "description": "Oracle Database patch object",
      "properties": {
        "databaseDisplayName": {
          "type": "string",
          "description": "The database name."
        },
        "oracleInstanceArmIds": {
          "type": "array",
          "description": "discovered Oracle Instance Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.ApplicationMigration/oracleSites/oracleInstances"
                }
              ]
            }
          }
        },
        "encoding": {
          "$ref": "#/definitions/Encoding",
          "description": "Oracle database encoding."
        },
        "collations": {
          "type": "array",
          "description": "The list of collations in the database.",
          "items": {
            "$ref": "#/definitions/Collation"
          },
          "x-ms-identifiers": [
            "name",
            "locale",
            "collationProvider",
            "isDeterministic"
          ]
        },
        "extensions": {
          "type": "array",
          "description": "The list of extensions in the database.",
          "items": {
            "$ref": "#/definitions/Extension"
          },
          "x-ms-identifiers": [
            "name",
            "version"
          ]
        },
        "languages": {
          "type": "array",
          "description": "List of languages in the database.",
          "items": {
            "$ref": "#/definitions/Language"
          }
        },
        "hasTablesWithOids": {
          "$ref": "#/definitions/HasTablesWithOids",
          "description": "Whether tables with oid's exists in the database."
        },
        "hasCustomDataTypes": {
          "$ref": "#/definitions/HasCustomDataTypes",
          "description": "Whether the database has custom data types."
        },
        "storageSizeInMb": {
          "type": "number",
          "format": "float",
          "description": "Gets or sets storage size of Oracle database."
        },
        "hasSuperUserCreatedObjects": {
          "$ref": "#/definitions/BoolValue",
          "description": "Gets or sets hasSuperUserCreatedObjects of Oracle database."
        },
        "hasCustomCasts": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom casts defined."
        },
        "hasCustomFtsParsers": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) parsers defined."
        },
        "hasCustomFtsTemplates": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) templates defined."
        },
        "fileSystemAccessEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the access to the machine's file system is enabled for the database objects."
        },
        "errorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of errors."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OracleDatabaseResourcePatchProperties": {
      "type": "object",
      "description": "Oracle Database properties",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleDatabaseResourcePatch",
          "description": "The database resource patch properties."
        }
      }
    },
    "OracleInstance": {
      "type": "object",
      "description": "The OracleInstance resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleInstanceProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OracleInstanceList": {
      "type": "object",
      "description": "List of Servers.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OracleInstance items on this page",
          "items": {
            "$ref": "#/definitions/OracleInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OracleInstanceProperties": {
      "type": "object",
      "description": "Oracle Server properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "The Server IP/host name."
        },
        "hostIp": {
          "type": "array",
          "description": "The Server IP in ipv4/ipv6 format.",
          "items": {
            "type": "string"
          }
        },
        "machineArmIds": {
          "type": "array",
          "description": "discovery Machine Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.OffAzure/serverSites/machines"
                }
              ]
            }
          }
        },
        "hostMachineProperties": {
          "$ref": "#/definitions/HostMachineProperties",
          "description": "The host machine properties."
        },
        "portNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Oracle Server port number"
        },
        "version": {
          "type": "string",
          "description": "The oracle server version."
        },
        "numberOfDatabase": {
          "type": "integer",
          "format": "int64",
          "description": "The number of database."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "oracle version support status."
        },
        "edition": {
          "$ref": "#/definitions/Edition",
          "description": "Oracle instance edition."
        },
        "endOfSupportDate": {
          "type": "string",
          "format": "date",
          "description": "Time when oracle instance version support end."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "errorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of errors."
        },
        "collations": {
          "type": "array",
          "description": "The list of collations in the database.",
          "items": {
            "$ref": "#/definitions/Collation"
          },
          "x-ms-identifiers": [
            "name",
            "locale",
            "collationProvider",
            "isDeterministic"
          ]
        },
        "serverParameters": {
          "type": "array",
          "description": "Dictionary of server parameters for the instance",
          "items": {
            "$ref": "#/definitions/ServerParameter"
          },
          "x-ms-identifiers": [
            "key",
            "value"
          ]
        },
        "tableSpaces": {
          "type": "array",
          "description": "List of tablespaces in the instance.",
          "items": {
            "type": "string"
          }
        },
        "nonDefaultTableSpaces": {
          "type": "array",
          "description": "List of non-default tablespaces in the instance.",
          "items": {
            "type": "string"
          }
        },
        "storageSizeInMb": {
          "type": "number",
          "format": "float",
          "description": "Gets or sets storage size of Oracle instance."
        },
        "maxConnections": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of connections allowed in the instance"
        },
        "hasCustomCasts": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom casts defined."
        },
        "hasCustomFtsParsers": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) parsers defined."
        },
        "hasCustomFtsTemplates": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) templates defined."
        },
        "tlsVersion": {
          "$ref": "#/definitions/TlsVersion",
          "description": "Specifies the TLS version used by the system."
        },
        "oracleAuthMethod": {
          "$ref": "#/definitions/OracleAuthenticationMethod",
          "description": "Specifies the Oracle authentication method used by the system."
        },
        "supportsSsl": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports SSL connections."
        },
        "supportsIpv6Connections": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports IPv6 connections."
        },
        "supportsIpv4Connections": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports IPv4 connections."
        },
        "deepDiscoveryPerformed": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether Deep Discovery has been performed on the instance."
        },
        "computeIopsCollected": {
          "type": "integer",
          "format": "int32",
          "description": "The number of compute IOPS (Input/Output Operations Per Second) collected."
        },
        "storageIopsCollected": {
          "type": "integer",
          "format": "int32",
          "description": "The number of storage IOPS (Input/Output Operations Per Second) collected."
        },
        "storageThroughPutCollected": {
          "type": "integer",
          "format": "int32",
          "description": "The storage throughput collected, measured in units per second."
        },
        "isReadReplicaEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether read replica functionality is enabled."
        },
        "readReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of read replicas configured for the system."
        },
        "isDrEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether disaster recovery (DR) functionality is enabled."
        },
        "isSuperUserAccessEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the super user access is enabled on the instance."
        },
        "softwareAttributes": {
          "$ref": "#/definitions/SoftwareAttributes",
          "description": "Software-specific attributes and metadata for the discovered Oracle instance."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "hostName",
        "portNumber"
      ]
    },
    "OracleInstanceResourcePatch": {
      "type": "object",
      "description": "Oracle Server properties",
      "properties": {
        "hostIp": {
          "type": "array",
          "description": "The Server IP in ipv4/ipv6 format.",
          "items": {
            "type": "string"
          }
        },
        "machineArmIds": {
          "type": "array",
          "description": "discovery Machine Ids",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.OffAzure/serverSites/machines"
                }
              ]
            }
          }
        },
        "hostMachineProperties": {
          "$ref": "#/definitions/HostMachineProperties",
          "description": "The host machine properties."
        },
        "version": {
          "type": "string",
          "description": "The oracle server version."
        },
        "numberOfDatabase": {
          "type": "integer",
          "format": "int64",
          "description": "The number of database."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "oracle version support status."
        },
        "edition": {
          "$ref": "#/definitions/Edition",
          "description": "Oracle instance edition."
        },
        "endOfSupportDate": {
          "type": "string",
          "format": "date",
          "description": "Time when oracle instance version support end."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "errorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of errors."
        },
        "collations": {
          "type": "array",
          "description": "The list of collations in the database.",
          "items": {
            "$ref": "#/definitions/Collation"
          },
          "x-ms-identifiers": [
            "name",
            "locale",
            "collationProvider",
            "isDeterministic"
          ]
        },
        "tableSpaces": {
          "type": "array",
          "description": "List of tablespaces in the instance.",
          "items": {
            "type": "string"
          }
        },
        "nonDefaultTableSpaces": {
          "type": "array",
          "description": "List of non-default tablespaces in the instance.",
          "items": {
            "type": "string"
          }
        },
        "storageSizeInMb": {
          "type": "number",
          "format": "float",
          "description": "Gets or sets storage size of Oracle instance."
        },
        "maxConnections": {
          "type": "integer",
          "format": "int64",
          "description": "The maximum number of connections allowed in the instance"
        },
        "hasCustomCasts": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom casts defined."
        },
        "hasCustomFtsParsers": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) parsers defined."
        },
        "hasCustomFtsTemplates": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system has custom full-text search (FTS) templates defined."
        },
        "tlsVersion": {
          "$ref": "#/definitions/TlsVersion",
          "description": "Specifies the TLS version used by the system."
        },
        "oracleAuthMethod": {
          "$ref": "#/definitions/OracleAuthenticationMethod",
          "description": "Specifies the Oracle authentication method used by the system."
        },
        "supportsSsl": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports SSL connections."
        },
        "supportsIpv6Connections": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports IPv6 connections."
        },
        "supportsIpv4Connections": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the system supports IPv4 connections."
        },
        "deepDiscoveryPerformed": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether Deep Discovery has been performed on the instance."
        },
        "computeIopsCollected": {
          "type": "integer",
          "format": "int32",
          "description": "The number of compute IOPS (Input/Output Operations Per Second) collected."
        },
        "storageIopsCollected": {
          "type": "integer",
          "format": "int32",
          "description": "The number of storage IOPS (Input/Output Operations Per Second) collected."
        },
        "storageThroughPutCollected": {
          "type": "integer",
          "format": "int32",
          "description": "The storage throughput collected, measured in units per second."
        },
        "isReadReplicaEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether read replica functionality is enabled."
        },
        "readReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of read replicas configured for the system."
        },
        "isDrEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether disaster recovery (DR) functionality is enabled."
        },
        "isSuperUserAccessEnabled": {
          "$ref": "#/definitions/BoolValue",
          "description": "Indicates whether the super user access is enabled on the instance."
        },
        "softwareAttributes": {
          "$ref": "#/definitions/SoftwareAttributes",
          "description": "Software-specific attributes and metadata for the discovered Oracle instance."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OracleInstanceResourcePatchProperties": {
      "type": "object",
      "description": "Oracle Server properties",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleInstanceResourcePatch",
          "description": "Oracle Instance resource patch properties object."
        }
      }
    },
    "OracleSite": {
      "type": "object",
      "description": "The OracleSite resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleSiteProperties",
          "description": "Resource properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OracleSiteList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OracleSite items on this page",
          "items": {
            "$ref": "#/definitions/OracleSite"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OracleSiteProperties": {
      "type": "object",
      "description": "Oracle Site properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "masterSiteId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped master Site Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OffAzure/masterSites"
              }
            ]
          }
        },
        "migrateProjectId": {
          "type": "string",
          "format": "arm-id",
          "description": "The mapped migrate project Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Migrate/migrateProjects"
              }
            ]
          }
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "masterSiteId",
        "migrateProjectId"
      ]
    },
    "OracleSitesResourcePatch": {
      "type": "object",
      "description": "Object containing tags updates for patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OracleSiteProperties",
          "description": "The OracleSites resource definition."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown provisioning state."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded provisioning state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed provisioning state."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled provisioning state."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating provisioning state."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting provisioning state."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating provisioning state."
          }
        ]
      },
      "readOnly": true
    },
    "ServerParameter": {
      "type": "object",
      "description": "Definition of Server Parameter",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "SiteTagsPatch": {
      "type": "object",
      "description": "The Site Tags patch resource definition.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SoftwareAttributes": {
      "type": "object",
      "description": "Software-specific attributes and metadata",
      "properties": {
        "softwareName": {
          "type": "string",
          "description": "Name of the software (e.g., Oracle)"
        },
        "providerName": {
          "type": "string",
[...]
