{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccountsList": {
            "$ref": "./examples/BillingAccountsList.json"
          },
          "BillingAccountsListWithExpand": {
            "$ref": "./examples/BillingAccountsListWithExpand.json"
          },
          "BillingAccountsListWithExpandForEnrollmentDetails": {
            "$ref": "./examples/BillingAccountsListWithExpandForEnrollmentDetails.json"
          }
        },
        "operationId": "BillingAccounts_List",
        "description": "Lists all billing accounts for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the address, invoiceSections and billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccounts": {
            "$ref": "./examples/BillingAccount.json"
          },
          "BillingAccountWithExpand": {
            "$ref": "./examples/BillingAccountWithExpand.json"
          }
        },
        "operationId": "BillingAccounts_Get",
        "description": "Get the billing account by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the address, invoiceSections and billingProfiles.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "BillingAccounts"
        ],
        "operationId": "BillingAccounts_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "The operation to update a billing account.",
        "x-ms-examples": {
          "UpdateBillingAccount": {
            "$ref": "./examples/UpdateBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingAccountUpdateRequest"
            },
            "description": "Request parameters supplied to the update billing account operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "202": {
            "description": "Accepted. Billing account update is in progress."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/listInvoiceSectionsWithCreateSubscriptionPermission": {
      "post": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "InvoiceSectionsListWithCreateSubPermission": {
            "$ref": "./examples/InvoiceSectionsListWithCreateSubPermission.json"
          }
        },
        "operationId": "BillingAccounts_ListInvoiceSectionsByCreateSubscriptionPermission",
        "description": "Lists all invoice sections with create subscription permission for a user.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSectionListWithCreateSubPermissionResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/paymentMethods": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "operationId": "PaymentMethods_ListByBillingAccount",
        "description": "Lists the Payment Methods by billing account Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/2019-10-01-preview/paymentmethods"
        },
        "x-ms-examples": {
          "PaymentMethodsListByBillingAccount": {
            "$ref": "./examples/PaymentMethodsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/validateAddress": {
      "post": {
        "tags": [
          "Address"
        ],
        "x-ms-examples": {
          "AddressValid": {
            "$ref": "./examples/AddressValid.json"
          },
          "AddressInvalid": {
            "$ref": "./examples/AddressInvalid.json"
          }
        },
        "operationId": "Address_Validate",
        "description": "Validates the address.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "address",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ValidateAddressResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/availableBalance/default": {
      "get": {
        "tags": [
          "AvailableBalances"
        ],
        "operationId": "AvailableBalances_GetByBillingProfile",
        "description": "The latest available credit balance for a given billingAccountName and billingProfileName.",
        "x-ms-examples": {
          "AvailableBalanceByBillingProfile": {
            "$ref": "./examples/AvailableBalanceByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableBalance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/paymentMethods": {
      "get": {
        "tags": [
          "PaymentMethods"
        ],
        "operationId": "PaymentMethods_ListByBillingProfile",
        "description": "Lists the Payment Methods by billing profile Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "PaymentMethodsListByBillingProfile": {
            "$ref": "./examples/PaymentMethodsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PaymentMethodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfilesListByBillingAccount": {
            "$ref": "./examples/BillingProfilesListByBillingAccount.json"
          },
          "BillingProfilesListWithExpand": {
            "$ref": "./examples/BillingProfilesListWithExpand.json"
          }
        },
        "operationId": "BillingProfiles_ListByBillingAccount",
        "description": "Lists all billing profiles for a user which that user has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfile": {
            "$ref": "./examples/BillingProfile.json"
          },
          "BillingProfileWithExpand": {
            "$ref": "./examples/BillingProfileWithExpand.json"
          }
        },
        "operationId": "BillingProfiles_Get",
        "description": "Get the billing profile by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the invoiceSections.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "BillingProfiles_Create",
        "x-ms-long-running-operation": true,
        "description": "The operation to create a BillingProfile.",
        "x-ms-examples": {
          "CreateBillingProfile": {
            "$ref": "./examples/CreateBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProfileCreationRequest"
            },
            "description": "Request parameters supplied to the Create BillingProfile operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "BillingProfiles_Update",
        "x-ms-long-running-operation": true,
        "description": "The operation to update a billing profile.",
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdateBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            },
            "description": "Request parameters supplied to the update billing profile operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "202": {
            "description": "Accepted. Billing profile update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "x-ms-examples": {
          "CustomersListByBillingAccount": {
            "$ref": "./examples/CustomersListByBillingProfile.json"
          }
        },
        "operationId": "Customers_ListByBillingProfile",
        "description": "Lists customers by billing profile which the current user can work with on-behalf of a partner.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter the list of customers.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CustomerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSectionsListByBillingProfile": {
            "$ref": "./examples/InvoiceSectionsListByBillingProfile.json"
          }
        },
        "operationId": "InvoiceSections_ListByBillingProfile",
        "description": "Lists all invoice sections for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}": {
      "get": {
        "tags": [
          "InvoiceSections"
        ],
        "x-ms-examples": {
          "InvoiceSection": {
            "$ref": "./examples/InvoiceSection.json"
          }
        },
        "operationId": "InvoiceSections_Get",
        "description": "Get the InvoiceSection by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "InvoiceSections"
        ],
        "operationId": "InvoiceSections_Create",
        "x-ms-long-running-operation": true,
        "description": "The operation to create an invoice section.",
        "x-ms-examples": {
          "CreateInvoiceSection": {
            "$ref": "./examples/CreateInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceSectionCreationRequest"
            },
            "description": "Request parameters supplied to the Create InvoiceSection operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "InvoiceSections"
        ],
        "operationId": "InvoiceSections_Update",
        "x-ms-long-running-operation": true,
        "description": "The operation to update a InvoiceSection.",
        "x-ms-examples": {
          "UpdateInvoiceSection": {
            "$ref": "./examples/UpdateInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            },
            "description": "Request parameters supplied to the Create InvoiceSection operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceSection"
            }
          },
          "202": {
            "description": "Accepted. InvoiceSection update is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "x-ms-examples": {
          "CustomersListByBillingAccount": {
            "$ref": "./examples/CustomersListByBillingAccount.json"
          }
        },
        "operationId": "Customers_ListByBillingAccount",
        "description": "Lists customers which the current user can work with on-behalf of a partner.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter the list of customers.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CustomerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "x-ms-examples": {
          "Customer": {
            "$ref": "./examples/Customer.json"
          },
          "CustomerWithExpand": {
            "$ref": "./examples/CustomerWithExpand.json"
          }
        },
        "operationId": "Customers_Get",
        "description": "Gets a customer by its id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand enabledAzurePlans, resellers.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Customer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/billingPermissions": {
      "get": {
        "tags": [
          "BillingPermissions"
        ],
        "x-ms-examples": {
          "BillingProfilePermissionsList": {
            "$ref": "./examples/CustomerPermissionsList.json"
          }
        },
        "operationId": "BillingPermissions_ListByCustomer",
        "description": "Lists all billing permissions the caller has for a customer.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPermissionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_ListByCustomer",
        "description": "Lists billing subscription by customer id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByCustomer": {
            "$ref": "./examples/BillingSubscriptionsListByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_GetByCustomer",
        "description": "Get a single billing subscription by id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BillingSubscriptionByCustomer": {
            "$ref": "./examples/BillingSubscriptionByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_ListByCustomer",
        "description": "Lists products by customer id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "ProductsListByInvoiceSection": {
            "$ref": "./examples/ProductsListByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/products/{productName}": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_GetByCustomer",
        "description": "Get a customer's product by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "Product": {
            "$ref": "./examples/ProductByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "Transactions_ListByCustomer",
        "description": "Lists the transactions by customer id for given start date and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "TransactionsListByCustomer": {
            "$ref": "./examples/TransactionsListByCustomer.json"
          },
          "ReservationTransactionsListByCustomer": {
            "$ref": "./examples/ReservationTransactionsListByCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments": {
      "get": {
        "tags": [
          "Departments"
        ],
        "x-ms-examples": {
          "DepartmentsListByBillingAccount": {
            "$ref": "./examples/DepartmentsListByBillingAccount.json"
          },
          "DepartmentsListByBillingAccountWithExpand": {
            "$ref": "./examples/DepartmentsListByBillingAccountWithExpand.json"
          }
        },
        "operationId": "Departments_ListByBillingAccountName",
        "description": "Lists all departments for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the enrollmentAccounts.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DepartmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}": {
      "get": {
        "tags": [
          "Departments"
        ],
        "x-ms-examples": {
          "Department": {
            "$ref": "./examples/Department.json"
          },
          "DepartmentWithExpand": {
            "$ref": "./examples/DepartmentWithExpand.json"
          }
        },
        "operationId": "Departments_Get",
        "description": "Get the department by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/departmentNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the enrollmentAccounts.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Department"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsListByBillingAccount": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccount.json"
          },
          "EnrollmentAccountsListByBillingAccountWithExpand": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccountWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_ListByBillingAccountName",
        "description": "Lists all Enrollment Accounts for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccount": {
            "$ref": "./examples/EnrollmentAccount.json"
          },
          "EnrollmentAccountWithExpand": {
            "$ref": "./examples/EnrollmentAccountWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_GetByEnrollmentAccountId",
        "description": "Get the enrollment account by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the Department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "x-ms-examples": {
          "BillingAccountInvoicesList": {
            "$ref": "./examples/BillingAccountInvoicesList.json"
          }
        },
        "operationId": "Invoices_ListByBillingAccount",
        "description": "List of invoices for a billing account.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "periodStartDate",
            "description": "Invoice period start date.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "description": "Invoice period end date.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices/{invoiceName}/pricesheet/default/download": {
      "post": {
        "tags": [
          "PriceSheet"
        ],
        "x-ms-examples": {
          "PricesheetDownload": {
            "$ref": "./examples/PricesheetDownload.json"
          }
        },
        "operationId": "PriceSheet_Download",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "description": "Download price sheet for an invoice.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/pricesheet/default/download": {
      "post": {
        "tags": [
          "PriceSheet"
        ],
        "x-ms-examples": {
          "PricesheetDownloadByBillingProfile": {
            "$ref": "./examples/PricesheetDownloadByBillingProfile.json"
          }
        },
        "operationId": "PriceSheet_DownloadByBillingProfile",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "description": "Download price sheet for a billing profile.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              },
              "OData-EntityId": {
                "description": "The operation entity Id GUID.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "x-ms-examples": {
          "InvoicesListByBillingProfile": {
            "$ref": "./examples/InvoicesListByBillingProfile.json"
          }
        },
        "operationId": "Invoices_ListByBillingProfile",
        "description": "List of invoices for a billing profile.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "periodStartDate",
            "description": "Invoice period start date.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "description": "Invoice period end date.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "x-ms-examples": {
          "Invoice": {
            "$ref": "./examples/Invoice.json"
          }
        },
        "operationId": "Invoices_Get",
        "description": "Get the invoice by name.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_ListByBillingAccount",
        "description": "Lists billing subscriptions by billing account name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingAccount": {
            "$ref": "./examples/BillingSubscriptionsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions/{billingSubscriptionName}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_ListByBillingSubscription",
        "description": "Lists invoices by billing subscriptions name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingAccount": {
            "$ref": "./examples/BillingSubscriptionInvoicesList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "name": "periodStartDate",
            "description": "Invoice period start date.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "description": "Invoice period end date.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoiceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions/{billingSubscriptionName}/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_GetById",
        "description": "Gets the invoice by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingAccount": {
            "$ref": "./examples/BillingSubscriptionInvoice.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_ListByBillingProfile",
        "description": "Lists billing subscriptions by billing profile name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByBillingProfile": {
            "$ref": "./examples/BillingSubscriptionsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_ListByInvoiceSection",
        "description": "Lists billing subscription by invoice section name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByInvoiceSection": {
            "$ref": "./examples/BillingSubscriptionsListByInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_Get",
        "description": "Get a single billing subscription by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscription": {
            "$ref": "./examples/BillingSubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/transfer": {
      "post": {
        "description": "Transfers the subscription from one invoice section to another within a billing account.",
        "operationId": "BillingSubscriptions_Transfer",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "TransferBillingSubscription": {
            "$ref": "./examples/TransferBillingSubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferBillingSubscriptionRequestProperties"
            },
            "description": "Request parameters supplied to the Transfer Billing Subscription operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransferBillingSubscriptionResult"
            }
          },
          "202": {
            "description": "Accepted. Billing Subscription transfer is in progress.",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/billingSubscriptions/{billingSubscriptionName}/validateTransferEligibility": {
      "post": {
        "x-ms-examples": {
          "SubscriptionTransferValidateSuccess": {
            "$ref": "./examples/ValidateSubscriptionTransferSuccess.json"
          },
          "SubscriptionTransferValidateFailure": {
            "$ref": "./examples/ValidateSubscriptionTransferFailure.json"
          }
        },
        "operationId": "BillingSubscriptions_ValidateTransfer",
        "description": "Validates the transfer of billing subscriptions across invoice sections.",
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/billingSubscriptionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferBillingSubscriptionRequestProperties"
            },
            "description": "Parameters supplied to the Transfer Billing Subscription operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ValidateSubscriptionTransferEligibilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_ListByBillingAccount",
        "description": "Lists products by billing account name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "ProductsListByBillingAccount": {
            "$ref": "./examples/ProductsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_ListByInvoiceSection",
        "description": "Lists products by invoice section name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "ProductsListByInvoiceSection": {
            "$ref": "./examples/ProductsListByInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by product type. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}": {
      "get": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Get",
        "description": "Get a single product by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "Product": {
            "$ref": "./examples/Product.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/transfer": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_Transfer",
        "description": "The operation to transfer a Product to another invoice section.",
        "x-ms-examples": {
          "TransferProduct": {
            "$ref": "./examples/TransferProduct.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferProductRequestProperties"
            },
            "description": "Parameters supplied to the Transfer Product operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Location URI to poll for result",
                "type": "string"
              },
              "Retry-After": {
                "description": "Recommends the retryable time after receiving this.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/validateTransferEligibility": {
      "post": {
        "x-ms-examples": {
          "SubscriptionTransferValidateSuccess": {
            "$ref": "./examples/ValidateProductTransferSuccess.json"
          },
          "SubscriptionTransferValidateFailure": {
            "$ref": "./examples/ValidateProductTransferFailure.json"
          }
        },
        "operationId": "Products_ValidateTransfer",
        "description": "Validates the transfer of products across invoice sections.",
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferProductRequestProperties"
            },
            "description": "Parameters supplied to the Transfer Products operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ValidateProductTransferEligibilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "Transactions_ListByBillingAccount",
        "description": "Lists the transactions by billing account name for given start and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "TransactionsListByBillingAccount": {
            "$ref": "./examples/TransactionsListByBillingAccount.json"
          },
          "ReservationTransactionsListByBillingAccount": {
            "$ref": "./examples/ReservationTransactionsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "Transactions_ListByBillingProfile",
        "description": "Lists the transactions by billing profile name for given start date and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "TransactionsListByBillingProfile": {
            "$ref": "./examples/TransactionsListByBillingProfile.json"
          },
          "ReservationTransactionsListByBillingProfile": {
            "$ref": "./examples/ReservationTransactionsListByBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "Transactions_ListByInvoiceSection",
        "description": "Lists the transactions by invoice section name for given start date and end date.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "TransactionsListByInvoiceSection": {
            "$ref": "./examples/TransactionsListByInvoiceSection.json"
          },
          "ReservationTransactionsListByInvoiceSection": {
            "$ref": "./examples/ReservationTransactionsListByInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by transaction kind. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TransactionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/transactions/{transactionName}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "operationId": "Transactions_Get",
        "description": "Get the transaction.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "Transaction": {
            "$ref": "./examples/Transaction.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/transactionNameParameter"
          },
          {
            "name": "periodStartDate",
            "in": "query",
            "description": "Start date",
            "required": true,
            "type": "string"
          },
          {
            "name": "periodEndDate",
            "in": "query",
            "description": "End date",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Transaction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/policies/default": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_GetByBillingProfile",
        "description": "The policy for a given billing account name and billing profile name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "PolicyByBillingProfile": {
            "$ref": "./examples/Policy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_Update",
        "description": "The operation to update a policy.",
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdatePolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            },
            "description": "Parameters supplied to the update policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/policies/default": {
      "get": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_GetByCustomer",
        "description": "The policy for a given billing account name and customer name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "PolicyByCustomer": {
            "$ref": "./examples/CustomerPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CustomerPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policies"
        ],
        "operationId": "Policies_UpdateCustomer",
        "description": "The operation to update a Customer policy.",
        "x-ms-examples": {
          "UpdateCustomer": {
            "$ref": "./examples/UpdateCustomerPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/customerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerPolicy"
            },
            "description": "Parameters supplied to the update customer policy operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CustomerPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default": {
      "get": {
        "tags": [
          "BillingProperties"
        ],
        "operationId": "BillingProperty_Get",
        "description": "Get billing property by subscription Id.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingProperty": {
            "$ref": "./examples/BillingProperty.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProperty"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/products/{productName}/updateAutoRenew": {
      "post": {
        "tags": [
          "Products"
        ],
        "operationId": "Products_UpdateAutoRenewByInvoiceSection",
        "description": "Cancel auto renew for product by product id and invoice section name",
        "x-ms-examples": {
          "CancelProductForInvoiceSection": {
            "$ref": "./examples/ProductCancelForInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/productNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/updateAutoRenewRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UpdateAutoRenewOperation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/elevate": {
      "post": {
        "tags": [
          "InvoiceSections"
        ],
        "description": "Elevates the caller's access to match their billing profile access.",
        "operationId": "InvoiceSections_ElevateToBillingProfile",
        "x-ms-examples": {
          "Elevate": {
            "$ref": "./examples/ElevateInvoiceSection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Elevated the caller's access to the invoice section."
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/initiateTransfer": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "description": "Initiates the request to transfer the legacy subscriptions or RIs.",
        "operationId": "Transfers_Initiate",
        "x-ms-examples": {
          "InitiateTransfer": {
            "$ref": "./examples/InitiateTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiateTransferRequest"
            },
            "description": "Parameters supplied to initiate the transfer."
          }
        ],
        "responses": {
          "200": {
            "description": "Initiated transfer details.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transfers/{transferName}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "description": "Gets the transfer details for given transfer Id.",
        "operationId": "Transfers_Get",
        "x-ms-examples": {
          "TransferGet": {
            "$ref": "./examples/GetTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/transferNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of transfer.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Transfers"
        ],
        "description": "Cancels the transfer for given transfer Id.",
        "operationId": "Transfers_Cancel",
        "x-ms-examples": {
          "TransferCancel": {
            "$ref": "./examples/CancelTransfer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          },
          {
            "$ref": "#/parameters/transferNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of canceled transfer.",
            "schema": {
              "$ref": "#/definitions/TransferDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/transfers": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "description": "Lists all transfer's details initiated from given invoice section.",
        "operationId": "Transfers_List",
        "x-ms-examples": {
          "TransfersList": {
            "$ref": "./examples/ListTransfers.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/billingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/invoiceSectionNameParameter"
          }
        ],
        "responses": {
[...]
