{
  "swagger": "2.0",
  "info": {
    "version": "2020-12-01",
    "title": "MarketplaceManagementClient",
    "description": "REST APIs for Azure Marketplace"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/notifications": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Notifications",
        "description": "Get all private store notifications",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreNotificationsList"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreNotifications": {
            "$ref": "./examples/GetPrivateStoreNotificationsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/notifications/{offerId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_UpdateNotification",
        "description": "Update notification for offer",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStoreNotificationsProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreNotificationsResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateOfferNotification": {
            "$ref": "./examples/UpdateOfferNotification.json"
          }
        }
      },
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetNotification",
        "description": "Get private store notification",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreNotificationsResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreNotification": {
            "$ref": "./examples/GetPrivateStoreNotification.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/requestApprovals": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetAllApprovalRequestsList",
        "description": "Get all opened approval requests",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApprovalRequestList"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetAllApprovalRequests": {
            "$ref": "./examples/GetAllApprovalRequestsList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/requestApprovals/{offerId}/query": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "post": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetOfferWithApprovalRequestsStatuses",
        "description": "Get offer with approval request status foreach plan, this api is used as a complex GET operation.",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStoreApprovalRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreApprovalRequestResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreOfferWithRequestApproval": {
            "$ref": "./examples/GetPrivateStoreOfferWithRequestApproval.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/requestApprovals/{offerId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_CreateApprovalRequest",
        "description": "Create approval request",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStoreApprovalRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreApprovalRequestResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpsertApprovalRequest": {
            "$ref": "./examples/UpsertApprovalRequest.json"
          },
          "DeleteApprovalRequest": {
            "$ref": "./examples/DeleteApprovalRequest.json"
          }
        }
      },
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetApprovalRequest",
        "description": "Get approval request",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreApprovalRequestResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetApprovalRequest": {
            "$ref": "./examples/GetApprovalRequest.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/adminRequestApprovals/{offerId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetOfferAdminApprovalRequests",
        "description": "Get open approval requests for offer, admin view",
        "parameters": [
          {
            "$ref": "#/parameters/PublisherIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreAdminApprovalRequestResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOfferAdminApprovalRequests": {
            "$ref": "./examples/GetOfferAdminApprovalRequests.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_UpdateAdminAction",
        "description": "Update the admin action, weather the request is approved or rejected ",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStoreAdminApprovalRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreAdminApprovalRequestResource"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateAdminAction": {
            "$ref": "./examples/UpdateAdminAction.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/adminRequestApprovals": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetAdminApprovalRequestsList",
        "description": "Get list of approval request, admin view",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminApprovalRequestList"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetAdminApprovalRequestsList": {
            "$ref": "./examples/GetAdminApprovalRequestsList.json"
          }
        }
      }
    }
  },
  "parameters": {
    "PrivateStoreIdParameter": {
      "name": "privateStoreId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The store ID - must use the tenant ID"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "PublisherIdParameter": {
      "name": "publisherId",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string",
      "description": "The publisher id of this offer."
    },
    "OfferIdPathParameter": {
      "in": "path",
      "name": "offerId",
      "type": "string",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "The offer ID to update or delete"
    },
    "PlanIdParameter": {
      "name": "planId",
      "in": "path",
      "type": "string",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "The plan ID to update or delete"
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "PrivateStoreNotifications": {
      "description": "Get all private store notifications",
      "type": "object",
      "properties": {
        "stopSellNotifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StopSellNotifications"
          }
        },
        "newNotifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NewNotifications"
          }
        },
        "approvalRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApprovalRequestsDetails"
          }
        }
      }
    },
    "UpdateNotificationDetails": {
      "description": "Notification update request payload",
      "type": "object",
      "properties": {
        "acknowledge": {
          "description": "Gets or sets a value indicating whether acknowledge action flag is enabled",
          "type": "boolean"
        },
        "dismiss": {
          "description": "Gets or sets a value indicating whether dismiss action flag is enabled",
          "type": "boolean"
        },
        "removeOffer": {
          "description": "Gets or sets a value indicating whether remove offer action flag is enabled",
          "type": "boolean"
        },
        "addPlans": {
          "description": "Gets or sets added plans",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removePlans": {
          "description": "Gets or sets remove plans",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AdminApprovalRequestList": {
      "description": "Describes the json payload for the list of opened approval requests, admin view",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateStoreAdminApprovalRequestResource"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of ApprovalRequests list results if there are any.",
          "type": "string"
        }
      }
    },
    "ApprovalRequestList": {
      "description": "Describes the json payload for the list of opened approval requests",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateStoreApprovalRequestResource"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of ApprovalRequests list results if there are any.",
          "type": "string"
        }
      }
    },
    "OfferDetails": {
      "description": "Offer details needed to get the plans statuses",
      "type": "object",
      "properties": {
        "publisherId": {
          "description": "The offer's publisher id",
          "type": "string"
        },
        "planIds": {
          "description": "Current plans list",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateStoreOfferWithRequestApproval": {
      "description": "Gets the offer plans list with indication on each plan whether is allowed by the admin, has pending request or not requested yet",
      "type": "object",
      "properties": {
        "uniqueOfferId": {
          "description": "Gets or sets unique offer id.",
          "type": "string"
        },
        "plansDetails": {
          "description": "Gets or sets the plans details",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/planDetails"
          }
        },
        "etag": {
          "description": "Gets or sets e-tag field ",
          "type": "string"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "planDetails": {
      "description": "Return plan with request details",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Gets or sets Plan Id ",
          "type": "string"
        },
        "status": {
          "description": "Gets or sets the plan status",
          "type": "string",
          "enum": [
            "AllowedByAdmin",
            "Pending",
            "None"
          ],
          "x-ms-enum": {
            "name": "plansStatus",
            "modelAsString": true
          }
        },
        "requestDate": {
          "description": "Gets or sets request date",
          "type": "string"
        },
        "justification": {
          "description": "Gets or sets user's justification for the plan's request",
          "type": "string"
        }
      }
    },
    "UpdatePayloadProperties": {
      "description": "update payload properties",
      "type": "object",
      "properties": {
        "publisherId": {
          "description": "Gets or sets publisher id",
          "type": "string"
        },
        "planIds": {
          "description": "Gets or sets the requests plan id. Can be one or more",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "justification": {
          "description": "Gets or sets user justification",
          "type": "string"
        },
        "user": {
          "description": "Gets or sets user details",
          "type": "string"
        },
        "userPayload": {
          "description": "Gets or sets usr payload",
          "type": "object",
          "items": {
            "$ref": "#/definitions/OfferDetails"
          }
        },
        "activity": {
          "description": "Gets or sets user activity",
          "type": "string"
        },
        "deletedPlanId": {
          "description": "Gets or sets deleted PlanId",
          "type": "string"
        }
      }
    },
    "ApprovalRequestResponse": {
      "description": "The approval request offer data structure.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalRequestResponseProperties",
          "description": "The approval request offer data properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ApprovalRequestResponseProperties": {
      "description": "Created object details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets or sets offer id",
          "type": "string"
        },
        "publisherId": {
          "description": "Gets or sets publisher id",
          "type": "string"
        },
        "offerDisplayName": {
          "description": "Gets or sets offer display name",
          "type": "string"
        },
        "plansDetails": {
          "description": "Gets or sets plans details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanRequestsDetails"
          }
        },
        "createDate": {
          "description": "Gets or sets create date",
          "type": "string"
        },
        "modifiedAt": {
          "description": "Gets or sets modified at date",
          "type": "string"
        },
        "isClosed": {
          "description": "Gets or sets a value indicating whether the request is closed",
          "type": "boolean"
        },
        "status": {
          "description": "Gets or sets the request status",
          "type": "string",
          "enum": [
            "Pending",
            "Rejected",
            "Approved",
            "None"
          ],
          "x-ms-enum": {
            "name": "requestStatus",
            "modelAsString": true
          }
        },
        "admin": {
          "description": "Gets or sets admin details",
          "type": "string"
        },
        "adminActionDate": {
          "description": "Gets or sets admin action date",
          "type": "string"
        },
        "messageCode": {
          "description": "Gets or sets the notification message code",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PlanRequestsDetails": {
      "description": "The request details of specific plan",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Gets or sets plan id",
          "type": "string"
        },
        "planDisplayName": {
          "description": "Gets or sets plan display name",
          "type": "string"
        },
        "requesters": {
          "description": "Gets or sets requesters details list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserRequestDetails"
          }
        }
      }
    },
    "UserRequestDetails": {
      "description": "user request details",
      "type": "object",
      "properties": {
        "user": {
          "description": "Gets or sets user id",
          "type": "string"
        },
        "date": {
          "description": "Gets or sets request date",
          "type": "string"
        },
        "justification": {
          "description": "Gets or sets justification",
          "type": "string"
        }
      }
    },
    "NewNotifications": {
      "description": "New plans notification details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets offer id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets offer display name",
          "type": "string"
        },
        "isFuturePlansEnabled": {
          "description": "Gets a value indicating whether future plans is enabled.",
          "type": "boolean"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        },
        "icon": {
          "description": "Gets or sets the icon url",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets removed plans notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanNotificationDetails"
          }
        }
      }
    },
    "StopSellNotifications": {
      "description": "Stop sell notification details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets offer id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets offer display name",
          "type": "string"
        },
        "isEntire": {
          "description": "Gets a value indicating whether entire offer is in stop sell or only few of its plans",
          "type": "boolean"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        },
        "icon": {
          "description": "Gets or sets the icon url",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets removed plans notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanNotificationDetails"
          }
        }
      }
    },
    "ApprovalRequestsDetails": {
      "description": "Approval requests notification details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets offer id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets offer display name",
          "type": "string"
        },
        "publisherId": {
          "description": "Gets or sets publisher id",
          "type": "string"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        },
        "icon": {
          "description": "Gets or sets the icon url",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets removed plans notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanNotificationDetails"
          }
        }
      }
    },
    "PlanNotificationDetails": {
      "description": "Plan notification details",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Gets or sets the plan id",
          "type": "string"
        },
        "planDisplayName": {
          "description": "Gets or sets the plan display name",
          "type": "string"
        }
      }
    },
    "AdminActionDetails": {
      "description": "Admin action properties data structure",
      "type": "object",
      "properties": {
        "publisherId": {
          "description": "Gets or sets publisher Id",
          "type": "string"
        },
        "adminAction": {
          "description": "Gets or sets admin action",
          "type": "string",
          "enum": [
            "Approved",
            "Rejected"
          ],
          "x-ms-enum": {
            "name": "adminAction",
            "modelAsString": true
          }
        },
        "existingRequestedPlans": {
          "description": "Gets or sets existing plans ids ( of existing requests)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvedPlans": {
          "description": "Gets or sets Approved plans ids, empty in case of rejected",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "comment": {
          "description": "Gets or sets admin comment",
          "type": "string"
        },
        "user": {
          "description": "Gets or sets admin details",
          "type": "string"
        }
      }
    },
    "AdminGetApprovalRequestsResponse": {
      "description": "Admin action properties data structure",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets Id",
          "type": "string"
        },
        "publisherId": {
          "description": "Gets or sets publisher Id",
          "type": "string"
        },
        "offerId": {
          "description": "Gets or sets offer Id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets or sets display name",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets plans details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanRequestsDetails"
          }
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PrivateStoreNotificationsList": {
      "description": "Describes the json payload for the list of notifications",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateStoreNotificationsResource"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of notifications list results if there are any.",
          "type": "string"
        }
      }
    },
    "PrivateStoreNotificationsResource": {
      "description": "The privateStore notifications data structure.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateStoreNotificationsProperties",
          "description": "The privateStore notifications data structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateStoreNotificationsProperties": {
      "description": "Notifications data structure properties",
      "type": "object",
      "properties": {
        "details": {
          "description": "Notifications details",
          "type": "object",
          "items": {
            "$ref": "#/definitions/PrivateStoreNotifications"
          },
          "readOnly": true
        },
        "update": {
          "description": "Update notification object",
          "type": "object",
          "items": {
            "$ref": "#/definitions/UpdateNotificationDetails"
          }
        }
      }
    },
    "PrivateStoreApprovalRequestResource": {
      "description": "Approval request resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateStoreApprovalRequestProperties",
          "description": "The privateStore offer Approval request  data structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateStoreApprovalRequestProperties": {
      "description": "Approval request resource properties",
      "type": "object",
      "properties": {
        "updatePayload": {
          "description": "user request payload",
          "type": "object",
          "items": {
            "$ref": "#/definitions/UpdatePayloadProperties"
          }
        },
        "userResponse": {
          "description": "user request response",
          "type": "object",
          "items": {
            "$ref": "#/definitions/PrivateStoreOfferWithRequestApproval"
          },
          "readOnly": true
        },
        "userUpsertResponse": {
          "description": "Approval request response for user",
          "type": "object",
          "items": {
            "$ref": "#/definitions/ApprovalRequestResponse"
          },
          "readOnly": true
        }
      }
    },
    "PrivateStoreAdminApprovalRequestResource": {
      "description": "Admin approval request resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateStoreAdminApprovalRequestProperties",
          "description": "The privateStore admin Approval request data structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateStoreAdminApprovalRequestProperties": {
      "description": "Admin approval request resource properties",
      "type": "object",
      "properties": {
        "adminRequestApprovalResponse": {
          "description": "request details for admin view",
          "type": "object",
          "items": {
            "$ref": "#/definitions/AdminGetApprovalRequestsResponse"
          },
          "readOnly": true
        },
        "adminApprovalPayload": {
          "description": "admin action details: approve or reject the request",
          "type": "object",
          "items": {
            "$ref": "#/definitions/AdminActionDetails"
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource"
        }
      },
      "x-ms-azure-resource": true
    },
    "SystemData": {
      "description": "Read only system data",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that created the resource"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that last modified the resource"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "IdentityType": {
      "description": "The type of identity that creates/modifies resources",
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
