{
  "swagger": "2.0",
  "info": {
    "version": "2020-12-01",
    "title": "MarketplaceManagementClient",
    "description": "REST APIs for Azure Marketplace"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/notifications": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Notifications",
        "description": "Get all private store notifications",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreNotifications"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreNotifications": {
            "$ref": "./examples/GetPrivateStoreNotifications.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}/notifications": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "post": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_UpdateNotification",
        "description": "Update notification for offer",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/UpdateNotificationDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateOfferNotification": {
            "$ref": "./examples/UpdateOfferNotification.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}/requestApprovals": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "post": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetOfferWithApprovalRequestsStatuses",
        "description": "Get offer with approval request status foreach plan",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/OfferDetailsProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateStoreOfferWithRequestApproval"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreOfferWithRequestApproval": {
            "$ref": "./examples/GetPrivateStoreOfferWithRequestApproval.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_CreateApprovalRequest",
        "description": "Create approval request",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/CreateApprovalRequestDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApprovalRequestResponse"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpsertApprovalRequest": {
            "$ref": "./examples/UpsertApprovalRequest.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}/adminRequestApprovals": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_GetOfferApprovalRequests",
        "description": "Get all opened approval requests for offer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/PublisherIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminGetApprovalRequestsResponse"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOfferApprovalRequests": {
            "$ref": "./examples/GetOfferApprovalRequests.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_UpdateAdminAction",
        "description": "Update the admin action, weather the request is approved or rejected ",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/AdminActionDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateAdminAction": {
            "$ref": "./examples/UpdateAdminAction.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}/plans/{planId}/requestApprovals": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/PlanIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "delete": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_WithdrawRequestApproval",
        "description": "Delete a request",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "OK"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WithdrawRequest": {
            "$ref": "./examples/WithdrawRequest.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Microsoft.Marketplace REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffers_List",
        "description": "Get a list of all private offers in the given private store",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferListResponse"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetPrivateStoreOffers": {
            "$ref": "./examples/GetPrivateStoreOffers.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers": {
      "parameters": [
        {
          "$ref": "#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStorePrivateOffers_List",
        "description": "Get a list of all private offers in the given private store",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferListResponse"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetPrivateStoreOffers": {
            "$ref": "./examples/GetPrivateStorePrivateOffers.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "delete": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_Delete",
        "description": "Deletes an offer from the given private store.",
        "responses": {
          "200": {
            "description": "Offer was deleted successfully"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrivateStoreOffer": {
            "$ref": "./examples/DeletePrivateStoreOffer.json"
          }
        }
      },
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_Get",
        "description": "Gets information about a specific offer.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Offer information retrieved",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreOffer": {
            "$ref": "./examples/GetPrivateStoreOffer.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_CreateOrUpdate",
        "description": "Update or add an offer to the default collection of the private store.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdatePrivateStoreOffer": {
            "$ref": "./examples/UpdatePrivateStoreOffer.json"
          }
        }
      },
      "post": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStoreOffer_Post",
        "description": "Delete Private store offer. This is a workaround.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStoreOperation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation succeeded"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostPrivateStoreOffer": {
            "$ref": "./examples/PostPrivateStoreOffer.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/offers/{offerId}": {
      "parameters": [
        {
          "$ref": "#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/OfferIdPathParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStorePrivateOffer_Get",
        "description": "Gets information about a specific private offer.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Private offer information retrieved",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStoreOffer": {
            "$ref": "./examples/GetPrivateStorePrivateOffer.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStorePrivateOffer_CreateOrUpdate",
        "description": "Update or add a private offer to the default collection of the private store.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Offer"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdatePrivateStoreOffer": {
            "$ref": "./examples/UpdatePrivateStorePrivateOffer.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores": {
      "parameters": [
        {
          "$ref": "#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "#/parameters/UseCacheParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_List",
        "description": "Gets the list of available private stores",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateStoreList"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetPrivateStores": {
            "$ref": "./examples/GetPrivateStores.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Get",
        "description": "Get information about the private store",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateStore"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStore": {
            "$ref": "./examples/GetPrivateStore.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Delete",
        "description": "Deletes the private store. All that is not saved will be lost.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Private store was deleted successfully ."
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrivateStores": {
            "$ref": "./examples/DeletePrivateStore.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_CreateOrUpdate",
        "description": "Changes private store properties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change successful"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdatePrivateStores": {
            "$ref": "./examples/UpdatePrivateStore.json"
          }
        }
      }
    }
  },
  "parameters": {
    "PrivateStoreIdParameter": {
      "name": "privateStoreId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The store ID - must use the tenant ID"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "PublisherIdParameter": {
      "name": "publisherId",
      "in": "query",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string",
      "description": "The publisher id of this offer."
    },
    "OfferIdPathParameter": {
      "in": "path",
      "name": "offerId",
      "type": "string",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "The offer ID to update or delete"
    },
    "PlanIdParameter": {
      "name": "planId",
      "in": "path",
      "type": "string",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "The plan ID to update or delete"
    },
    "UseCacheParameter": {
      "name": "use-cache",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Determines if to use cache or DB for serving this request"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "type": "string",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Subscription id of the private offers"
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "PrivateStoreNotifications": {
      "description": "Get all private store notifications",
      "type": "object",
      "properties": {
        "stopSellNotifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StopSellNotifications"
          }
        },
        "newNotifications": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NewNotifications"
          }
        },
        "approvalRequests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApprovalRequestsDetails"
          }
        }
      }
    },
    "UpdateNotificationDetails": {
      "description": "Notification update request payload",
      "type": "object",
      "properties": {
        "acknowledge": {
          "description": "Gets or sets a value indicating whether acknowledge action flag is enabled",
          "type": "boolean"
        },
        "dismiss": {
          "description": "Gets or sets a value indicating whether dismiss action flag is enabled",
          "type": "boolean"
        },
        "removeOffer": {
          "description": "Gets or sets a value indicating whether remove offer action flag is enabled",
          "type": "boolean"
        },
        "addPlans": {
          "description": "Gets or sets added plans",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "removePlans": {
          "description": "Gets or sets remove plans",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OfferDetailsProperties": {
      "description": "Offer Details request payload",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OfferDetails",
          "description": "The details to get the offer plans statuses",
          "x-ms-client-flatten": true
        }
      }
    },
    "OfferDetails": {
      "description": "Offer details needed to get the plans statuses",
      "type": "object",
      "properties": {
        "publisherId": {
          "description": "The offer's publisher id",
          "type": "string"
        },
        "planIds": {
          "description": "Current plans list",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateStoreOfferWithRequestApproval": {
      "description": "Gets the offer plans list with indication on each plan whether is allowed by the admin, has pending request or not requested yet",
      "type": "object",
      "properties": {
        "uniqueOfferId": {
          "description": "Gets or sets unique offer id.",
          "type": "string"
        },
        "plansDetails": {
          "description": "Gets or sets the plans details",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/planDetails"
          }
        },
        "etag": {
          "description": "Gets or sets e-tag field ",
          "type": "string"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "planDetails": {
      "description": "Return plan with request details",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Gets or sets Plan Id ",
          "type": "string"
        },
        "status": {
          "description": "Gets or sets the plan status",
          "type": "string",
          "enum": [
            "AllowedByAdmin",
            "Pending",
            "None"
          ],
          "x-ms-enum": {
            "name": "plansStatus",
            "modelAsString": true
          }
        },
        "requestDate": {
          "description": "Gets or sets request date",
          "type": "string"
        },
        "justification": {
          "description": "Gets or sets user's justification for the plan's request",
          "type": "string"
        }
      }
    },
    "CreateApprovalRequestDetails": {
      "description": "Create approval request payload",
      "type": "object",
      "properties": {
        "publisherId": {
          "description": "Gets or sets publisher id",
          "type": "string"
        },
        "planIds": {
          "description": "Gets or sets the requests plan id. Can be one or more",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "justification": {
          "description": "Gets or sets user justification",
          "type": "string"
        },
        "user": {
          "description": "Gets or sets user details",
          "type": "string"
        }
      }
    },
    "ApprovalRequestResponse": {
      "description": "The approval request offer data structure.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApprovalRequestResponseProperties",
          "description": "The approval request offer data properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ApprovalRequestResponseProperties": {
      "description": "Created object details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets or sets offer id",
          "type": "string"
        },
        "publisherId": {
          "description": "Gets or sets publisher id",
          "type": "string"
        },
        "offerDisplayName": {
          "description": "Gets or sets offer display name",
          "type": "string"
        },
        "plansDetails": {
          "description": "Gets or sets plans details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanRequestsDetails"
          }
        },
        "createDate": {
          "description": "Gets or sets create date",
          "type": "string"
        },
        "modifiedAt": {
          "description": "Gets or sets modified at date",
          "type": "string"
        },
        "isClosed": {
          "description": "Gets or sets a value indicating whether the request is closed",
          "type": "boolean"
        },
        "status": {
          "description": "Gets or sets the request status",
          "type": "string",
          "enum": [
            "Pending",
            "Rejected",
            "Approved",
            "None"
          ],
          "x-ms-enum": {
            "name": "requestStatus",
            "modelAsString": true
          }
        },
        "admin": {
          "description": "Gets or sets admin details",
          "type": "string"
        },
        "adminActionDate": {
          "description": "Gets or sets admin action date",
          "type": "string"
        },
        "messageCode": {
          "description": "Gets or sets the notification message code",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PlanRequestsDetails": {
      "description": "The request details of specific plan",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Gets or sets plan id",
          "type": "string"
        },
        "planDisplayName": {
          "description": "Gets or sets plan display name",
          "type": "string"
        },
        "requesters": {
          "description": "Gets or sets requesters details list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserRequestDetails"
          }
        }
      }
    },
    "UserRequestDetails": {
      "description": "user request details",
      "type": "object",
      "properties": {
        "user": {
          "description": "Gets or sets user id",
          "type": "string"
        },
        "date": {
          "description": "Gets or sets request date",
          "type": "string"
        },
        "justification": {
          "description": "Gets or sets justification",
          "type": "string"
        }
      }
    },
    "NewNotifications": {
      "description": "New plans notification details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets offer id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets offer display name",
          "type": "string"
        },
        "isFuturePlansEnabled": {
          "description": "Gets a value indicating whether future plans is enabled.",
          "type": "boolean"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        },
        "icon": {
          "description": "Gets or sets the icon url",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets removed plans notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanNotificationDetails"
          }
        }
      }
    },
    "StopSellNotifications": {
      "description": "Stop sell notification details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets offer id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets offer display name",
          "type": "string"
        },
        "isEntire": {
          "description": "Gets a value indicating whether entire offer is in stop sell or only few of its plans",
          "type": "boolean"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        },
        "icon": {
          "description": "Gets or sets the icon url",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets removed plans notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanNotificationDetails"
          }
        }
      }
    },
    "ApprovalRequestsDetails": {
      "description": "Approval requests notification details",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "Gets offer id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets offer display name",
          "type": "string"
        },
        "publisherId": {
          "description": "Gets or sets publisher id",
          "type": "string"
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        },
        "icon": {
          "description": "Gets or sets the icon url",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets removed plans notifications",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanNotificationDetails"
          }
        }
      }
    },
    "PlanNotificationDetails": {
      "description": "Plan notification details",
      "type": "object",
      "properties": {
        "planId": {
          "description": "Gets or sets the plan id",
          "type": "string"
        },
        "planDisplayName": {
          "description": "Gets or sets the plan display name",
          "type": "string"
        }
      }
    },
    "AdminActionDetails": {
      "description": "Admin action details payload",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdminActionProperties",
          "description": "Admin action properties data structure",
          "x-ms-client-flatten": true
        }
      }
    },
    "AdminActionProperties": {
      "description": "Admin action properties data structure",
      "type": "object",
      "properties": {
        "publisherId": {
          "description": "Gets or sets publisher Id",
          "type": "string"
        },
        "adminAction": {
          "description": "Gets or sets admin action",
          "type": "string",
          "enum": [
            "Approved",
            "Rejected"
          ],
          "x-ms-enum": {
            "name": "adminAction",
            "modelAsString": true
          }
        },
        "existingRequestedPlans": {
          "description": "Gets or sets existing plans ids ( of existing requests)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvedPlans": {
          "description": "Gets or sets Approved plans ids, empty in case of rejected",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "comment": {
          "description": "Gets or sets admin comment",
          "type": "string"
        },
        "user": {
          "description": "Gets or sets admin details",
          "type": "string"
        }
      }
    },
    "AdminGetApprovalRequestsResponse": {
      "description": "Admin action properties data structure",
      "type": "object",
      "properties": {
        "id": {
          "description": "Gets or sets Id",
          "type": "string"
        },
        "publisherId": {
          "description": "Gets or sets publisher Id",
          "type": "string"
        },
        "offerId": {
          "description": "Gets or sets offer Id",
          "type": "string"
        },
        "displayName": {
          "description": "Gets or sets display name",
          "type": "string"
        },
        "plans": {
          "description": "Gets or sets plans details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanRequestsDetails"
          }
        },
        "messageCode": {
          "description": "Gets or sets the notification message id",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PrivateStoreList": {
      "description": "Describes the json payload for the list of available private stores (between zero and one, inclusive)",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateStore"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of PrivateStore list results if there are any.",
          "type": "string"
        }
      }
    },
    "PrivateStoreOperation": {
      "description": "Set the Operation for the POST method. Ping or Delete",
      "type": "string",
      "enum": [
        "DeletePrivateStoreOffer",
        "Ping"
      ],
      "x-ms-enum": {
        "name": "Operation",
        "modelAsString": true
      }
    },
    "PrivateStore": {
      "description": "The PrivateStore data structure.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateStoreProperties",
          "description": "The PrivateStore data structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateStoreProperties": {
      "description": "Describes the json payload on whether or not the private store is enabled for a given tenant",
      "type": "object",
      "properties": {
        "availability": {
          "description": "Indicates private store availability",
          "type": "string",
          "enum": [
            "enabled",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "Availability",
            "modelAsString": true
          }
        },
        "privateStoreId": {
          "description": "Private Store id",
          "type": "string"
        },
        "eTag": {
          "description": "Identifier for purposes of race condition",
          "type": "string"
        },
        "privateStoreName": {
          "description": "Private Store Name",
          "type": "string"
        },
        "tenantTag": {
          "description": "Tenant Tag",
          "type": "string"
        },
        "tenantIds": {
          "description": "Tenant ids",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerTag": {
          "description": "Customer tag",
          "type": "string"
        },
        "hasCommercialAssociation": {
          "description": "Indicating whether private store has association with Commercial's Billing Account (through billing account's customer tag retrieved from GSM for a subscription",
          "type": "boolean"
        },
        "hasMultiTenantAssociation": {
          "description": "Indicating whether private store has association with multiple tenants (through tenant's tag retrieved from AAD",
          "type": "boolean"
        },
        "isGov": {
          "description": "Is government",
          "type": "boolean"
        }
      }
    },
    "OfferListResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of offer list results if there are any.",
          "type": "string"
        }
      }
    },
    "Offer": {
      "description": "The privateStore offer data structure.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/OfferProperties",
          "description": "The privateStore offer data structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "OfferProperties": {
      "type": "object",
      "properties": {
        "uniqueOfferId": {
          "description": "Offers unique id",
          "type": "string",
          "readOnly": true
        },
        "offerDisplayName": {
          "description": "It will be displayed prominently in the marketplace",
          "type": "string",
          "readOnly": true
        },
        "publisherDisplayName": {
          "description": "Publisher name that will be displayed prominently in the marketplace",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Identifier for purposes of race condition",
          "type": "string"
        },
        "privateStoreId": {
          "readOnly": true,
          "description": "Private store unique id",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "description": "Private store offer creation date",
          "type": "string"
        },
        "modifiedAt": {
          "readOnly": true,
          "description": "Private store offer modification date",
          "type": "string"
        },
        "specificPlanIdsLimitation": {
          "description": "Plan ids limitation for this offer",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateSuppressedDueIdempotence": {
          "description": "Indicating whether the offer was not updated to db (true = not updated). If the allow list is identical to the existed one in db, the offer would not be updated.",
          "type": "boolean"
        },
        "iconFileUris": {
          "description": "Icon File Uris",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "plans": {
          "description": "Offer plans",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plan"
          }
        }
      }
    },
    "Plan": {
      "type": "object",
      "properties": {
        "skuId": {
          "description": "Identifier for this plan",
          "type": "string",
          "readOnly": true
        },
        "planId": {
          "description": "Text identifier for this plan",
          "type": "string",
          "readOnly": true
        },
        "planDisplayName": {
          "description": "Friendly name for the plan for display in the marketplace",
          "type": "string",
          "readOnly": true
        },
        "accessibility": {
          "description": "Plan accessibility",
          "type": "string",
          "enum": [
            "Unknown",
            "Public",
            "PrivateTenantOnLevel",
            "PrivateSubscriptionOnLevel"
          ],
          "x-ms-enum": {
            "name": "accessibility",
            "modelAsString": true
          }
        },
        "altStackReference": {
          "description": "Alternative stack type",
          "type": "string",
          "readOnly": true
        },
        "stackType": {
          "description": "Stack type (classic or arm)",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "Microsoft.Marketplace REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Marketplace",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Amendments",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Get Amendments etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Marketplace operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Microsoft.Marketplace operations supported by the Microsoft.Marketplace resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any.",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
