{
    "swagger": "2.0",
    "info": {
        "title": "ASC API",
        "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
        "version": "2015-06-01-preview"
    },
    "host": "management.azure.com",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/providers/Microsoft.Security/operations": {
            "get": {
                "tags": ["Operations"],
                "description": "Exposes all available operations for discovery purposes.",
                "operationId": "Operations_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OperationList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations": {
            "get": {
                "tags": ["Locations"],
                "description": "The location of the responsible ASC of the specific subscription. For each subscription there is only one responsible location. The location in the response should be used to read or write other resources in ASC according to their ID.",
                "operationId": "Locations_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AscLocationList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}": {
            "get": {
                "tags": ["Locations"],
                "description": "Details of a specific location",
                "operationId": "Locations_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AscLocation"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/tasks": {
            "get": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksSubscription_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TaskList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
            "get": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksSubscriptionLocation_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TaskList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
            "get": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksSubscriptionLocation_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/TaskName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Task"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
            "post": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksSubscriptionLocation_Update",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/TaskName"
                }, {
                    "$ref": "#/parameters/TaskUpdateActionType"
                }],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks": {
            "get": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksResourceGroupLocation_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TaskList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}": {
            "get": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksResourceGroupLocation_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/TaskName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Task"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/tasks/{taskName}/{taskUpdateActionType}": {
            "post": {
                "tags": ["Tasks"],
                "description": "Recommended tasks that will help improve the security of the subscription proactively",
                "operationId": "TasksResourceGroupLocation_Update",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/TaskName"
                }, {
                    "$ref": "#/parameters/TaskUpdateActionType"
                }],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/alerts": {
            "get": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsSubscription_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }, {
                    "$ref": "#/parameters/ODataSelect"
                }, {
                    "$ref": "#/parameters/ODataExpand"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/alerts": {
            "get": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsResourceGroup_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }, {
                    "$ref": "#/parameters/ODataSelect"
                }, {
                    "$ref": "#/parameters/ODataExpand"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts": {
            "get": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsSubscriptionLocation_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }, {
                    "$ref": "#/parameters/ODataSelect"
                }, {
                    "$ref": "#/parameters/ODataExpand"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts": {
            "get": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsResourceGroupLocation_List",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }, {
                    "$ref": "#/parameters/ODataFilter"
                }, {
                    "$ref": "#/parameters/ODataSelect"
                }, {
                    "$ref": "#/parameters/ODataExpand"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}": {
            "get": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsSubscriptionLocation_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/AlertName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}": {
            "get": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsResourceGroupLocation_Get",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/AlertName"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/{alertUpdateActionType}": {
            "post": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsSubscriptionLocation_Update",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/AlertName"
                }, {
                    "$ref": "#/parameters/AlertUpdateActionType"
                }],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/alerts/{alertName}/{alertUpdateActionType}": {
            "post": {
                "tags": ["Alerts"],
                "description": "Alerts on security events that happened on the subscription",
                "operationId": "AlertsResourceGroupLocation_Update",
                "parameters": [{
                    "$ref": "#/parameters/ApiVersion"
                }, {
                    "$ref": "#/parameters/SubscriptionId"
                }, {
                    "$ref": "#/parameters/AscLocation"
                }, {
                    "$ref": "#/parameters/AlertName"
                }, {
                    "$ref": "#/parameters/AlertUpdateActionType"
                }, {
                    "$ref": "#/parameters/ResourceGroupName"
                }],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions": {
            "get": {
                "tags": ["DiscoveredSecuritySolutions"],
                "description": "Gets a list of discovered Security Solutions for the subscription.",
                "operationId": "DiscoveredSecuritySolutionsSubscription_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DiscoveredSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions": {
            "get": {
                "tags": ["DiscoveredSecuritySolutions"],
                "description": "Gets a list of discovered Security Solutions for the subscription and location.",
                "operationId": "DiscoveredSecuritySolutionsSubscriptionLocation_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DiscoveredSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions/{discoveredSecuritySolutionName}": {
            "get": {
                "tags": ["DiscoveredSecuritySolutions"],
                "description": "Gets a specific discovered Security Solution.",
                "operationId": "DiscoveredSecuritySolutionsSubscriptionLocation_Get",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/DiscoveredSecuritySolutionName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DiscoveredSecuritySolution"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
            "get": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Policies for protecting resources using Just-in-Time access control.",
                "operationId": "JitNetworkAccessPoliciesSubscription_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
            "get": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPoliciesSubscriptionLocation_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/jitNetworkAccessPolicies": {
            "get": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPoliciesResourceGroup_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies": {
            "get": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPoliciesResourceGroupLocation_List",
                "produces": [
                    "application/json"
                ],
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPoliciesList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}": {
            "get": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Policies for protecting resources using Just-in-Time access control for the subscription, location",
                "operationId": "JitNetworkAccessPoliciesResourceGroupLocation_Get",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPolicy"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "put": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Create a policy for protecting resources using Just-in-Time access control",
                "operationId": "JitNetworkAccessPoliciesResourceGroupLocation_Create",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyAction"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JitNetworkAccessPolicy"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            },
            "delete": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Delete a Just-in-Time access control policy.",
                "operationId": "JitNetworkAccessPoliciesResourceGroupLocation_Delete",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/jitNetworkAccessPolicies/{jitNetworkAccessPolicyName}/{jitNetworkAccessPolicyActionType}": {
            "post": {
                "tags": ["JitNetworkAccessPolicies"],
                "description": "Perform an action on a specific Just-in-Time policy configuration.",
                "operationId": "JitNetworkAccessPoliciesResourceGroupLocation_Update",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyName"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyActionType"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/JitNetworkAccessPolicyAction"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/externalSecuritySolutions": {
            "get": {
                "description": "Gets a list of external security solutions for the subscription.",
                "tags": ["ExternalSecuritySolutions"],
                "operationId": "ExternalSecuritySolutionsSubscription_List",
                "parameters": [{
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExternalSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions": {
            "get": {
                "description": "Gets a list of external Security Solutions for the subscription and location.",
                "tags": ["ExternalSecuritySolutions"],
                "operationId": "ExternalSecuritySolutionsSubscriptionLocation_List",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExternalSecuritySolutionList"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                },
                "x-ms-odata": "#/definitions/ExternalSecuritySolution"
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/ExternalSecuritySolutions/{externalSecuritySolutionsName}": {
            "get": {
                "description": "Gets a specific external Security Solution.",
                "tags": ["ExternalSecuritySolutions"],
                "operationId": "ExternalSecuritySolutionsSubscriptionLocation_Get",
                "parameters": [{
                        "$ref": "#/parameters/SubscriptionId"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupName"
                    },
                    {
                        "$ref": "#/parameters/AscLocation"
                    },
                    {
                        "$ref": "#/parameters/ExternalSecuritySolutionsName"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExternalSecuritySolution"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ErrorResponse": {
            "type": "object",
            "description": "Error response structure.",
            "properties": {
                "error": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/ErrorResponseProperties"
                }
            }
        },
        "ErrorResponseProperties": {
            "type": "object",
            "description": "Error details.",
            "properties": {
                "code": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Short constant description of the error"
                },
                "message": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Detailed description of the error and resolution suggestions"
                }
            }
        },
        "Resource": {
            "type": "object",
            "description": "Describes an Azure resource.",
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                }
            },
            "x-ms-azure-resource": true
        },
        "Kind": {
            "type": "object",
            "description": "Describes an Azure resource with kind",
            "properties": {
                "kind": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Kind of the resource"
                }
            }
        },
        "Location": {
            "type": "object",
            "description": "Describes an Azure resource with location",
            "properties": {
                "location": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Location where the resource is stored"
                }
            }
        },
        "OperationList": {
            "type": "object",
            "description": "List of possible operations for Microsoft.Security resource provider",
            "properties": {
                "value": {
                    "type": "array",
                    "description": "List of Security operations",
                    "items": {
                        "$ref": "#/definitions/Operation"
                    }
                }
            }
        },
        "Operation": {
            "type": "object",
            "description": "Possible operation in the REST API of Microsoft.Security",
            "properties": {
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the operation"
                },
                "origin": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Where the operation is originated"
                },
                "display": {
                    "$ref": "#/definitions/OperationDisplay"
                }
            }
        },
        "OperationDisplay": {
            "type": "object",
            "description": "Security operation display",
            "properties": {
                "provider": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The resource provider for the operation."
                },
                "resource": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The display name of the resource the operation applies to."
                },
                "operation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The display name of the security operation."
                },
                "description": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The description of the operation."
                }
            }
        },
        "TaskList": {
            "type": "object",
            "description": "List of security task recommendations",
            "properties": {
                "value": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Task"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "Task": {
            "type": "object",
            "description": "Security task that we recommend to do in order to strengthen security",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/TaskProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "TaskProperties": {
            "type": "object",
            "description": "Describes properties of a task.",
            "properties": {
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "State of the task (Active, Resolved etc.)"
                },
                "creationTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time this task was discovered in UTC"
                },
                "securityTaskParameters": {
                    "$ref": "#/definitions/SecurityTaskParameters"
                }
            }
        },
        "SecurityTaskParameters": {
            "type": "object",
            "description": "Changing set of properties, depending on the task type that is derived from the name field",
            "properties": {
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the task type"
                }
            }
        },
        "AscLocationList": {
            "type": "object",
            "description": "List of locations where ASC saves your data",
            "properties": {
                "value": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/AscLocation"
                    }
                }
            }
        },
        "AscLocation": {
            "type": "object",
            "description": "The ASC location of the subscription is in the \"name\" field",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/AscLocationProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "AscLocationProperties": {
            "type": "object",
            "description": "An empty set of properties"
        },
        "AlertList": {
            "type": "object",
            "description": "List of security alerts",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Alert"
                    }
                },
                "nextLink": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The URI to fetch the next page."
                }
            }
        },
        "Alert": {
            "type": "object",
            "description": "Security alert",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/AlertProperties"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }]
        },
        "AlertProperties": {
            "type": "object",
            "description": "describes security alert properties.",
            "properties": {
                "state": {
                    "readOnly": true,
                    "type": "string",
                    "description": "State of the alert (Active, Dismissed etc.)"
                },
                "reportedTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the incident was reported to Microsoft.Security in UTC"
                },
                "vendorName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the vendor that discovered the incident"
                },
                "alertName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Name of the alert type"
                },
                "alertDisplayName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Display name of the alert type"
                },
                "detectedTimeUtc": {
                    "readOnly": true,
                    "type": "string",
                    "format": "date-time",
                    "description": "The time the incident was detected by the vendor"
                },
                "description": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Description of the incident and what it means"
                },
                "remediationSteps": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Recommended steps to reradiate the incident"
                },
                "actionTaken": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The action that was taken as a response to the alert (Active, Blocked etc.)"
                },
                "reportedSeverity": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Estimated severity of this alert"
                },
                "compromisedEntity": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The entity that the incident happened on"
                },
                "associatedResource": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Azure resource ID of the associated resource"
                },
                "extendedProperties": {
                    "$ref": "#/definitions/AlertExtendedProperties"
                },
                "systemSource": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The type of the alerted resource (Azure, Non-Azure)"
                }
            }
        },
        "AlertExtendedProperties": {
            "readOnly": true,
            "type": "object",
            "description": "Changing set of properties depending on the alert type."
        },
        "DiscoveredSecuritySolutionList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DiscoveredSecuritySolution"
                    }
                }
            }
        },
        "DiscoveredSecuritySolution": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/DiscoveredSecuritySolutionProperties"
                }
            },
            "required": [
                "properties"
            ],
            "allOf": [{
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/Location"
                }
            ]
        },
        "DiscoveredSecuritySolutionProperties": {
            "type": "object",
            "properties": {
                "securityFamily": {
                    "type": "string",
                    "description": "The security family of the discovered solution",
                    "enum": [
                        "Waf",
                        "Ngfw",
                        "SaasWaf",
                        "Va"
                    ],
                    "x-ms-enum": {
                        "name": "securityFamily",
                        "modelAsString": false
                    }
                },
                "offer": {
                    "type": "string",
                    "description": "The security solutions' image offer"
                },
                "publisher": {
                    "type": "string",
                    "description": "The security solutions' image publisher"
                },
                "sku": {
                    "type": "string",
                    "description": "The security solutions' image sku"
                }
            },
            "required": [
                "securityFamily",
                "offer",
                "publisher",
                "sku"
            ]
        },
        "JitNetworkAccessPoliciesList": {
            "type": "object",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicy"
                    }
                }
            }
        },
        "JitNetworkAccessPolicy": {
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "$ref": "#/definitions/JitNetworkAccessPolicyProperties"
                }
            },
            "required": [
                "properties"
            ],
            "allOf": [{
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/Kind"
                },
                {
                    "$ref": "#/definitions/Location"
                }
            ]
        },
        "JitNetworkAccessPolicyProperties": {
            "type": "object",
            "properties": {
                "virtualMachines": {
                    "type": "array",
                    "description": "Configurations for Microsoft.Compute/virtualMachines resource type.",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessRequest"
                    }
                },
                "requests": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicyVirtualMachine"
                    }
                },
                "provisioningState": {
                    "type": "string",
                    "readOnly": true,
                    "description": "Gets the provisioning state of the Just-in-Time policy."
                }
            },
            "required": [
                "virtualMachines"
            ]
        },
        "JitNetworkAccessPolicyVirtualMachine": {
            "type": "object",
            "required": [
                "id",
                "ports"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource ID of the virtual machine that is linked to this policy"
                },
                "ports": {
                    "type": "array",
                    "description": "Port configurations for the virtual machine",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPortRule"
                    }
                }
            }
        },
        "JitNetworkAccessPortRule": {
            "type": "object",
            "properties": {
                "number": {
                    "$ref": "#/definitions/PortNumber"
                },
                "protocol": {
                    "type": "string",
                    "enum": [
                        "TCP",
                        "UDP",
                        "*"
                    ],
                    "x-ms-enum": {
                        "name": "protocol",
                        "modelAsString": false
                    }
                },
                "allowedSourceAddressPrefix": {
                    "type": "string"
                },
                "maxRequestAccessDuration": {
                    "type": "string",
                    "description": "Maximum duration requests can be made for. In ISO 8601 duration format. Minimum 5 minutes, maximum 1 day"
                }
            },
            "required": [
                "allowedSourceAddressPrefix",
                "maxRequestAccessDuration",
                "number",
                "protocol"
            ]
        },
        "JitNetworkAccessRequest": {
            "type": "object",
            "properties": {
                "virtualMachines": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessRequestVirtualMachine"
                    }
                },
                "startTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The start time of the request in UTC"
                },
                "requestor": {
                    "type": "string",
                    "description": "The identity of the person who made the request"
                }
            },
            "required": [
                "requestor",
                "startTimeUtc",
                "virtualMachines"
            ]
        },
        "JitNetworkAccessRequestVirtualMachine": {
            "type": "object",
            "required": [
                "id",
                "ports"
            ],
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource ID of the virtual machine that is linked to this policy"
                },
                "ports": {
                    "type": "array",
                    "description": "The ports that were opened for the virtual machine",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessRequestPort"
                    }
                }
            }
        },
        "JitNetworkAccessRequestPort": {
            "type": "object",
            "properties": {
                "number": {
                    "$ref": "#/definitions/PortNumber"
                },
                "allowedSourceAddressPrefix": {
                    "type": "string",
                    "description": "The IP address range that the port was opened for"
                },
                "endTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The date & time at which the request ends in UTC"
                },
                "status": {
                    "type": "string",
                    "description": "The status of the port",
                    "enum": [
                        "Revoked",
                        "Initiated"
                    ],
                    "x-ms-enum": {
                        "name": "status",
                        "modelAsString": false
                    }
                },
                "statusReason": {
                    "type": "string",
                    "description": "A description of why the `status` has its value",
                    "enum": [
                        "Expired",
                        "UserRequested",
                        "NewerRequestInitiated"
                    ],
                    "x-ms-enum": {
                        "name": "statusReason",
                        "modelAsString": false
                    }
                }
            },
            "required": [
                "allowedSourceAddressPrefix",
                "endTimeUtc",
                "number",
                "status",
                "statusReason"
            ]
        },
        "JitNetworkAccessPolicyAction": {
            "type": "object",
            "properties": {
                "virtualMachines": {
                    "type": "array",
                    "description": "A list of virtual machines & ports to open access for",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicyActionVirtualMachine"
                    }
                }
            },
            "required": [
                "virtualMachines"
            ]
        },
        "JitNetworkAccessPolicyActionVirtualMachine": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource ID of the virtual machine that is linked to this policy"
                },
                "ports": {
                    "type": "array",
                    "description": "The ports to open for the resource with the `id`",
                    "items": {
                        "$ref": "#/definitions/JitNetworkAccessPolicyActionPort"
                    }
                }
            },
            "required": [
                "id",
                "ports"
            ]
        },
        "JitNetworkAccessPolicyActionPort": {
            "type": "object",
            "properties": {
                "number": {
                    "$ref": "#/definitions/PortNumber"
                },
                "allowedSourceAddressPrefix": {
                    "type": "string"
                },
                "endTimeUtc": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The time to close the request in UTC"
                }
            },
            "required": [
                "allowedSourceAddressPrefix",
                "endTimeUtc",
                "number"
            ]
        },
        "PortNumber": {
            "type": "number",
            "minimum": 0,
            "maximum": 65535
        },
        "ExternalSecuritySolutionList": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ExternalSecuritySolution"
                    }
                }
            }
        },
        "ExternalSecuritySolution": {
            "type": "object",
            "description": "Represents a security solution external to Azure Security Center which sends information to an OMS workspace and whos data is displayed by Azure Security Center.",
            "discriminator": "kind",
            "properties": {},
            "allOf": [{
                    "$ref": "#/definitions/Resource"
                },
                {
                    "$ref": "#/definitions/Kind"
                },
                {
                    "$ref": "#/definitions/AscLocation"
                }
            ]
        },
        "CefExternalSecuritySolution": {
            "x-ms-discriminator-value": "CEF",
            "type": "object",
            "description": "Represents a security solution which sends CEF logs to an OMS workspace",
            "allOf": [{
                "$ref": "#/definitions/ExternalSecuritySolution"
            }],
            "properties": {
                "properties": {
                    "$ref": "#/definitions/CefSolutionProperties"
                }
            }
        },
        "AtaExternalSecuritySolution": {
            "x-ms-discriminator-value": "ATA",
            "type": "object",
            "description": "Represents an ATA security solution which sends logs to an OMS workspace",
            "allOf": [{
                "$ref": "#/definitions/ExternalSecuritySolution"
            }],
            "properties": {
                "properties": {
                    "$ref": "#/definitions/AtaSolutionProperties"
                }
            }
        },
        "AadExternalSecuritySolution": {
            "x-ms-discriminator-value": "AAD",
            "type": "object",
            "description": "Represents an AAD identity protection solution which sends logs to an OMS workspace.",
            "allOf": [{
                "$ref": "#/definitions/ExternalSecuritySolution"
            }],
            "properties": {
                "properties": {
                    "$ref": "#/definitions/AadSolutionProperties"
                }
            }
        },
        "ExternalSecuritySolutionKind": {
            "type": "string",
            "description": "The kind of the external solution",
            "enum": [
                "CEF",
                "ATA",
                "AAD"
            ],
            "x-ms-enum": {
                "name": "ExternalSecuritySolutionKind",
                "modelAsString": false
            }
        },
        "ExternalSecuritySolutionProperties": {
            "type": "object",
            "description": "The solution properties (correspond to the solution kind)",
            "properties": {
                "deviceVendor": {
                    "type": "string"
                },
                "deviceType": {
                    "type": "string"
                },
                "Workspace": {
                    "$ref": "#/definitions/ConnectedWorkspace"
                }
            }
        },
        "ConnectedWorkspace": {
            "type": "object",
            "title": "Represents an OMS workspace to which the solution is connected",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Azure resource ID of the connected OMS workspace"
                }
            }
        },
        "AadConnectivityState": {
            "type": "string",
            "title": "The connectivity state of the external AAD solution ",
            "enum": [
                "Discovered",
                "NotLicensed",
                "Connected"
            ],
            "x-ms-enum": {
                "name": "AadConnectivityState",
                "modelAsString": false
            }
        },
        "AadSolutionProperties": {
            "type": "object",
            "title": "The external security solution properties for AAD solutions",
            "allOf": [{
                    "$ref": "#/definitions/ExternalSecuritySolutionProperties"
                },
                {
                    "$ref": "#/definitions/AadConnectivityState"
                }
            ]
        },
        "CefSolutionProperties": {
            "type": "object",
            "title": "The external security solution properties for CEF solutions",
            "properties": {
                "hostName": {
                    "type": "string"
                },
                "agent": {
                    "type": "string"
                },
                "lastEventReceived": {
                    "type": "string"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/ExternalSecuritySolutionProperties"
            }]
        },
        "AtaSolutionProperties": {
            "type": "object",
            "title": "The external security solution properties for ATA solutions",
            "properties": {
                "lastEventReceived": {
                    "type": "string"
                }
            },
            "allOf": [{
                "$ref": "#/definitions/ExternalSecuritySolutionProperties"
            }]
        }
    },
    "parameters": {
        "SubscriptionId": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
            "type": "string",
            "description": "Azure subscription ID"
        },
        "ResourceGroupName": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
        },
        "ApiVersion": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": ["2017-08-01"],
            "description": "API version for the operation"
        },
        "AscLocation": {
            "name": "ascLocation",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location where ASC stores the data of the subscription. can be retrieved from Get locations"
        },
        "ExtendedResourceProvider": {
            "name": "extendedResourceProvider",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource provider name of the base resource",
            "x-ms-parameter-location": "method"
        },
        "ExtendedResourceType": {
            "name": "extendedResourceType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Type of the base resource",
            "x-ms-parameter-location": "method"
        },
        "ExtendedResourceName": {
            "name": "extendedResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the base resource",
            "x-ms-parameter-location": "method"
        },
        "ODataFilter": {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter. Optional.",
            "x-ms-parameter-location": "method"
        },
        "ODataSelect": {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData select. Optional.",
            "x-ms-parameter-location": "method"
        },
        "ODataExpand": {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData expand. Optional.",
            "x-ms-parameter-location": "method"
        },
        "TaskName": {
            "name": "taskName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the task object, will be a GUID",
            "x-ms-parameter-location": "method"
        },
        "TaskUpdateActionType": {
            "name": "taskUpdateActionType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": ["Activate", "Dismiss", "Start", "Resolve", "Close"],
            "description": "Type of the action to do on the task",
            "x-ms-parameter-location": "method"
        },
        "AlertName": {
            "name": "alertName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the alert object",
            "x-ms-parameter-location": "method"
        },
        "AlertUpdateActionType": {
            "name": "alertUpdateActionType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": ["Dismiss", "Reactivate"],
            "description": "Type of the action to do on the alert",
            "x-ms-parameter-location": "method"
        },
        "DiscoveredSecuritySolutionName": {
            "name": "discoveredSecuritySolutionName",
            "type": "string",
            "in": "path",
            "required": true,
            "description": "Name of a discovered security solution.",
            "x-ms-parameter-location": "method"
        },
        "JitNetworkAccessPolicyName": {
            "name": "jitNetworkAccessPolicyName",
            "type": "string",
            "in": "path",
            "required": true,
            "description": "Name of a Just-in-Time access configuration policy.",
            "x-ms-parameter-location": "method"
        },
        "JitNetworkAccessPolicyActionType": {
            "name": "jitNetworkAccessPolicyActionType",
            "type": "string",
            "in": "path",
            "required": true,
            "description": "Type of the action to do on the Just-in-Time access policy.",
            "enum": [
                "initiate"
            ],
            "x-ms-parameter-location": "method"
        },
        "JitNetworkAccessPolicyAction": {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/JitNetworkAccessPolicyAction"
            },
            "x-ms-parameter-location": "method"
        },
        "ExternalSecuritySolutionsName": {
            "name": "externalSecuritySolutionsName",
            "in": "path",
            "description": "Name of an external security solution.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        }
    }
}