{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagementClient",
    "version": "2024-10-23",
    "description": "Automation Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SoftwareUpdateConfigurations"
    },
    {
      "name": "AutomationAccounts"
    },
    {
      "name": "DscNodes"
    },
    {
      "name": "Certificates"
    },
    {
      "name": "Connections"
    },
    {
      "name": "ConnectionTypes"
    },
    {
      "name": "Credentials"
    },
    {
      "name": "DscConfigurations"
    },
    {
      "name": "DscNodeConfigurations"
    },
    {
      "name": "HybridRunbookWorkers"
    },
    {
      "name": "HybridRunbookWorkerGroups"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "JobSchedules"
    },
    {
      "name": "Modules"
    },
    {
      "name": "Python2Package"
    },
    {
      "name": "Python3Package"
    },
    {
      "name": "Packages"
    },
    {
      "name": "RuntimeEnvironments"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "Runbooks"
    },
    {
      "name": "Schedules"
    },
    {
      "name": "SourceControls"
    },
    {
      "name": "Variables"
    },
    {
      "name": "Watchers"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/providers/Microsoft.Automation/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Automation REST API operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all of the available Automation REST API operations.": {
            "$ref": "./examples/listRestAPIOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts": {
      "get": {
        "operationId": "AutomationAccount_List",
        "tags": [
          "AutomationAccounts"
        ],
        "summary": "Lists the Automation Accounts within an Azure subscription.",
        "description": "Retrieve a list of accounts within a given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List automation accounts by resource group": {
            "$ref": "./examples/listAutomationAccountsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Automation/deletedAutomationAccounts": {
      "get": {
        "operationId": "deletedAutomationAccounts_ListBySubscription",
        "description": "Retrieve deleted automation account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeletedAutomationAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get deleted automation account": {
            "$ref": "./examples/getDeletedAutomationAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts": {
      "get": {
        "operationId": "AutomationAccount_ListByResourceGroup",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Retrieve a list of accounts within a given resource group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List automation accounts by resource group": {
            "$ref": "./examples/listAutomationAccountsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}": {
      "get": {
        "operationId": "AutomationAccount_Get",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Get information about an Automation Account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get automation account": {
            "$ref": "./examples/getAutomationAccount.json"
          }
        }
      },
      "put": {
        "operationId": "AutomationAccount_CreateOrUpdate",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Create or update automation account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update automation account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutomationAccountCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AutomationAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutomationAccount"
            }
          },
          "201": {
            "description": "Resource 'AutomationAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AutomationAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update automation account": {
            "$ref": "./examples/createOrUpdateAutomationAccount.json"
          }
        }
      },
      "patch": {
        "operationId": "AutomationAccount_Update",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Update an automation account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update automation account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutomationAccountUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an automation account": {
            "$ref": "./examples/updateAutomationAccount.json"
          }
        }
      },
      "delete": {
        "operationId": "AutomationAccount_Delete",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Delete an automation account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/automationaccountoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete automation account": {
            "$ref": "./examples/deleteAutomationAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation": {
      "get": {
        "operationId": "AgentRegistrationInformation_Get",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Retrieve the automation agent registration information.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the agent registration information": {
            "$ref": "./examples/getAgentRegistration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/agentRegistrationInformation/regenerateKey": {
      "post": {
        "operationId": "AgentRegistrationInformation_RegenerateKey",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Regenerate a primary or secondary agent registration key",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/agentregistrationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The name of the agent registration key to be regenerated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentRegistrationRegenerateKeyParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentRegistration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regenerate registration key": {
            "$ref": "./examples/regenerateAgentRegistrationKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates": {
      "get": {
        "operationId": "Certificate_ListByAutomationAccount",
        "tags": [
          "Certificates"
        ],
        "description": "Retrieve a list of certificates.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List certificates": {
            "$ref": "./examples/listCertificatesByAutomationAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates/{certificateName}": {
      "get": {
        "operationId": "Certificate_Get",
        "tags": [
          "Certificates"
        ],
        "description": "Retrieve the certificate identified by certificate name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of certificate.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a certificate": {
            "$ref": "./examples/getCertificate.json"
          }
        }
      },
      "put": {
        "operationId": "Certificate_CreateOrUpdate",
        "tags": [
          "Certificates"
        ],
        "description": "Create a certificate.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of certificate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the create or update certificate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Certificate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "201": {
            "description": "Resource 'Certificate' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a certificate": {
            "$ref": "./examples/createOrUpdateCertificate.json"
          }
        }
      },
      "patch": {
        "operationId": "Certificate_Update",
        "tags": [
          "Certificates"
        ],
        "description": "Update a certificate.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of certificate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the update certificate operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a certificate": {
            "$ref": "./examples/updateCertificate.json"
          }
        }
      },
      "delete": {
        "operationId": "Certificate_Delete",
        "tags": [
          "Certificates"
        ],
        "description": "Delete the certificate.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The name of certificate.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a certificate": {
            "$ref": "./examples/deleteCertificate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations": {
      "get": {
        "operationId": "DscConfiguration_ListByAutomationAccount",
        "tags": [
          "DscConfigurations"
        ],
        "description": "Retrieve a list of configurations.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of rows to skip.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of rows to take.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Return total rows.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DscConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DSC Configuration": {
            "$ref": "./examples/getAllDscConfigurations.json"
          },
          "List Paged DSC Configurations with name filter": {
            "$ref": "./examples/getPagedlDscConfigurationsWithNameFilter.json"
          },
          "List Paged DSC Configurations with no filter": {
            "$ref": "./examples/getPagedDscConfigurationsWithNoFilter.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}": {
      "get": {
        "operationId": "DscConfiguration_Get",
        "tags": [
          "DscConfigurations"
        ],
        "description": "Retrieve the configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DscConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a DSC Configuration": {
            "$ref": "./examples/getDscConfiguration.json"
          }
        }
      },
      "put": {
        "operationId": "DscConfiguration_CreateOrUpdate",
        "tags": [
          "DscConfigurations"
        ],
        "description": "Create the configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The create or update parameters for configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DscConfigurationCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DscConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DscConfiguration"
            }
          },
          "201": {
            "description": "Resource 'DscConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DscConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Configuration": {
            "$ref": "./examples/createOrUpdateDscConfiguration.json"
          }
        }
      },
      "patch": {
        "operationId": "DscConfiguration_Update",
        "tags": [
          "DscConfigurations"
        ],
        "description": "Create the configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The create or update parameters for configuration.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DscConfigurationUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DscConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Configuration": {
            "$ref": "./examples/updateDscConfiguration.json"
          }
        }
      },
      "delete": {
        "operationId": "DscConfiguration_Delete",
        "tags": [
          "DscConfigurations"
        ],
        "description": "Delete the dsc configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DSC Configuration": {
            "$ref": "./examples/deleteDscConfiguration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}/content": {
      "get": {
        "operationId": "DscConfiguration_GetContent",
        "tags": [
          "DscConfigurations"
        ],
        "description": "Retrieve the configuration script identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "produces": [
          "*/*",
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DSC Configuration content": {
            "$ref": "./examples/getDscConfigurationContent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes": {
      "get": {
        "operationId": "ConnectionType_ListByAutomationAccount",
        "tags": [
          "ConnectionTypes"
        ],
        "description": "Retrieve a list of connection types.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get connection types, first 100": {
            "$ref": "./examples/getAllConnectionTypes_First100.json"
          },
          "Get connection types, next 100": {
            "$ref": "./examples/getAllConnectionTypes_Next100.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}": {
      "get": {
        "operationId": "ConnectionType_Get",
        "tags": [
          "ConnectionTypes"
        ],
        "description": "Retrieve the connection type identified by connection type name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "description": "The name of connection type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get connection type": {
            "$ref": "./examples/getConnectionType.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectionType_CreateOrUpdate",
        "tags": [
          "ConnectionTypes"
        ],
        "description": "Create a connection type.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "description": "The name of connection type.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the create or update connection type operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionTypeCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'ConnectionType' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update connection type": {
            "$ref": "./examples/createOrUpdateConnectionType.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectionType_Delete",
        "tags": [
          "ConnectionTypes"
        ],
        "description": "Delete the connection type.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "description": "The name of connection type.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an existing connection type": {
            "$ref": "./examples/deleteConnectionType.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections": {
      "get": {
        "operationId": "Connection_ListByAutomationAccount",
        "tags": [
          "Connections"
        ],
        "description": "Retrieve a list of connections.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List connections by automation account, first 100": {
            "$ref": "./examples/listConnectionsByAutomationAccount_First100.json"
          },
          "List connections by automation account, next 100": {
            "$ref": "./examples/listConnectionsByAutomationAccount_Next100.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections/{connectionName}": {
      "get": {
        "operationId": "Connection_Get",
        "tags": [
          "Connections"
        ],
        "description": "Retrieve the connection identified by connection name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a connection": {
            "$ref": "./examples/getConnection.json"
          }
        }
      },
      "put": {
        "operationId": "Connection_CreateOrUpdate",
        "tags": [
          "Connections"
        ],
        "description": "Create or update a connection.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the create or update connection operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Connection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "201": {
            "description": "Resource 'Connection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update connection": {
            "$ref": "./examples/createOrUpdateConnection.json"
          }
        }
      },
      "patch": {
        "operationId": "Connection_Update",
        "tags": [
          "Connections"
        ],
        "description": "Update a connection.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of connection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the update a connection operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a connection": {
            "$ref": "./examples/updateConnection.json"
          }
        }
      },
      "delete": {
        "operationId": "Connection_Delete",
        "tags": [
          "Connections"
        ],
        "description": "Delete the connection.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionName",
            "in": "path",
            "description": "The name of connection.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an existing connection": {
            "$ref": "./examples/deleteConnection.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/convertGraphRunbookContent": {
      "post": {
        "operationId": "convertGraphRunbookContent",
        "tags": [
          "AutomationAccounts"
        ],
        "description": "Post operation to serialize or deserialize GraphRunbookContent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Input data describing the graphical runbook.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GraphicalRunbookContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GraphicalRunbookContent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Graphical raw runbook content from graphical runbook JSON object": {
            "$ref": "./examples/serializeGraphRunbookContent.json"
          },
          "Get Graphical runbook content from raw content": {
            "$ref": "./examples/deserializeGraphRunbookContent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials": {
      "get": {
        "operationId": "Credential_ListByAutomationAccount",
        "tags": [
          "Credentials"
        ],
        "description": "Retrieve a list of credentials.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CredentialListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List credentials by automation account, first 100": {
            "$ref": "./examples/listCredentialsByAutomationAccount.json"
          },
          "List credentials by automation account, next 100": {
            "$ref": "./examples/listCredentialsByAutomationAccount_next100_using_nextLink.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}": {
      "get": {
        "operationId": "Credential_Get",
        "tags": [
          "Credentials"
        ],
        "description": "Retrieve the credential identified by credential name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of credential.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a credential": {
            "$ref": "./examples/getCredential.json"
          }
        }
      },
      "put": {
        "operationId": "Credential_CreateOrUpdate",
        "tags": [
          "Credentials"
        ],
        "description": "Create a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of credential.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the create or update credential operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Credential' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "201": {
            "description": "Resource 'Credential' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a credential": {
            "$ref": "./examples/createOrUpdateCredential.json"
          }
        }
      },
      "patch": {
        "operationId": "Credential_Update",
        "tags": [
          "Credentials"
        ],
        "description": "Update a credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of credential.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters supplied to the Update credential operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Credential"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a credential": {
            "$ref": "./examples/updateCredential_patch.json"
          }
        }
      },
      "delete": {
        "operationId": "Credential_Delete",
        "tags": [
          "Credentials"
        ],
        "description": "Delete the credential.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/credentialoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of credential.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a credential": {
            "$ref": "./examples/deleteCredentialExisting.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups": {
      "get": {
        "operationId": "HybridRunbookWorkerGroup_ListByAutomationAccount",
        "tags": [
          "HybridRunbookWorkerGroups"
        ],
        "description": "Retrieve a list of hybrid runbook worker groups.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroupsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List hybrid worker groups by Automation Account": {
            "$ref": "./examples/listHybridRunbookWorkerGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}": {
      "get": {
        "operationId": "HybridRunbookWorkerGroup_Get",
        "tags": [
          "HybridRunbookWorkerGroups"
        ],
        "description": "Retrieve a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a hybrid worker group": {
            "$ref": "./examples/getHybridRunbookWorkerGroup.json"
          }
        }
      },
      "put": {
        "operationId": "HybridRunbookWorkerGroup_Create",
        "tags": [
          "HybridRunbookWorkerGroups"
        ],
        "description": "Create a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "HybridRunbookWorkerGroupCreationParameters",
            "in": "body",
            "description": "The create or update parameters for hybrid runbook worker group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroupCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HybridRunbookWorkerGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "201": {
            "description": "Resource 'HybridRunbookWorkerGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a hybrid worker group": {
            "$ref": "./examples/putHybridRunbookWorkerGroup.json"
          }
        }
      },
      "patch": {
        "operationId": "HybridRunbookWorkerGroup_Update",
        "tags": [
          "HybridRunbookWorkerGroups"
        ],
        "description": "Update a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "HybridRunbookWorkerGroupUpdationParameters",
            "in": "body",
            "description": "The hybrid runbook worker group",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroupCreateOrUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update hybrid worker group": {
            "$ref": "./examples/updateHybridRunbookWorkerGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "HybridRunbookWorkerGroup_Delete",
        "tags": [
          "HybridRunbookWorkerGroups"
        ],
        "description": "Delete a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a hybrid worker group": {
            "$ref": "./examples/deleteHybridRunbookWorkerGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}/hybridRunbookWorkers": {
      "get": {
        "operationId": "HybridRunbookWorkers_ListByHybridRunbookWorkerGroup",
        "tags": [
          "HybridRunbookWorkers"
        ],
        "description": "Retrieve a list of hybrid runbook workers.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkersListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List hybrid workers by hybrid runbook worker group": {
            "$ref": "./examples/listHybridRunbookWorker.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}/hybridRunbookWorkers/{hybridRunbookWorkerId}": {
      "get": {
        "operationId": "HybridRunbookWorkers_Get",
        "tags": [
          "HybridRunbookWorkers"
        ],
        "description": "Retrieve a hybrid runbook worker.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerId",
            "in": "path",
            "description": "The hybrid runbook worker id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorker"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a V2 hybrid runbook worker": {
            "$ref": "./examples/getHybridRunbookWorker.json"
          }
        }
      },
      "put": {
        "operationId": "HybridRunbookWorkers_Create",
        "tags": [
          "HybridRunbookWorkers"
        ],
        "description": "Create a hybrid runbook worker.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerId",
            "in": "path",
            "description": "The hybrid runbook worker id",
            "required": true,
            "type": "string"
          },
          {
            "name": "HybridRunbookWorkerCreationParameters",
            "in": "body",
            "description": "The create or update parameters for hybrid runbook worker.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HybridRunbookWorker' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorker"
            }
          },
          "201": {
            "description": "Resource 'HybridRunbookWorker' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorker"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a V2 hybrid runbook worker": {
            "$ref": "./examples/putHybridRunbookWorker.json"
          }
        }
      },
      "patch": {
        "operationId": "HybridRunbookWorkers_Patch",
        "tags": [
          "HybridRunbookWorkers"
        ],
        "description": "Update a hybrid runbook worker.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerId",
            "in": "path",
            "description": "The hybrid runbook worker id",
            "required": true,
            "type": "string"
          },
          {
            "name": "HybridRunbookWorkerCreationParameters",
            "in": "body",
            "description": "The create or update parameters for hybrid runbook worker.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorker"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a V2 hybrid runbook worker": {
            "$ref": "./examples/patchHybridRunbookWorker.json"
          }
        }
      },
      "delete": {
        "operationId": "HybridRunbookWorkers_Delete",
        "tags": [
          "HybridRunbookWorkers"
        ],
        "description": "Delete a hybrid runbook worker.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerId",
            "in": "path",
            "description": "The hybrid runbook worker id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a V2 hybrid runbook worker": {
            "$ref": "./examples/deleteHybridRunbookWorker.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}/hybridRunbookWorkers/{hybridRunbookWorkerId}/move": {
      "post": {
        "operationId": "HybridRunbookWorkers_Move",
        "tags": [
          "HybridRunbookWorkers"
        ],
        "description": "Move a hybrid worker to a different group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkeroperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "description": "The name of the automation account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "description": "The hybrid runbook worker group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "hybridRunbookWorkerId",
            "in": "path",
            "description": "The hybrid runbook worker id",
            "required": true,
            "type": "string"
          },
          {
            "name": "HybridRunbookWorkerMoveParameters",
            "in": "body",
            "description": "The hybrid runbook worker move parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerMoveParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Move a V2 hybrid worker to a different group": {
            "$ref": "./examples/moveHybridRunbookWorker.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules": {
      "get": {
        "operationId": "JobSchedule_ListByAutomationAccount",
        "tags": [
          "JobSchedules"
        ],
        "description": "Retrieve a list of job schedules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
[...]
