{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-01-preview",
    "title": "Marketplace RP Service",
    "description": "REST APIs for User Solutions"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Marketplace/mysolutions": {
      "parameters": [
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "UserSolutions"
        ],
        "operationId": "UserSolutions_List",
        "description": "Gets the list of user solutions",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserSolutions"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetUserSolutions": {
            "$ref": "./examples/GetUserSolutions.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/mysolutions/{solutionId}": {
      "parameters": [
        {
          "$ref": "#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "#/parameters/SolutionIdParameter"
        }
      ],
      "get": {
        "tags": [
          "UserSolutions"
        ],
        "operationId": "UserSolutions_Get",
        "description": "Get information about the user solution",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetUserSolution": {
            "$ref": "./examples/GetUserSolution.json"
          }
        }
      },
      "put": {
        "tags": [
          "UserSolutions"
        ],
        "operationId": "UserSolutions_CreateOrUpdate",
        "description": "Creates or updates a user solutions",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          }
        ],
        "x-ms-examples": {
          "CreateUserSolution": {
            "$ref": "./examples/CreateUserSolution.json"
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Solution"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UserSolutions"
        ],
        "operationId": "UserSolutions_Delete",
        "description": "Deletes a user solution",
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RemoveUserSolution": {
            "$ref": "./examples/RemoveUserSolution.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Microsoft.Marketplace REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Get": {
            "$ref": "./examples/Operations_Get.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SolutionIdParameter": {
      "name": "solutionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The solution id"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The API version to use for the request."
    }
  },
  "definitions": {
    "Product": {
      "type": "object",
      "properties": {
        "uniqueProductId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "smallIconUri": {
          "type": "string"
        },
        "publisherDisplayName": {
          "type": "string"
        },
        "productType": {
          "type": "string"
        },
        "pricingTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storeFronts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ratingAverage": {
          "type": "number",
          "format": "double"
        }
      },
      "additionalProperties": false
    },
    "Solution": {
      "description": "The Solution data structure",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SolutionProperties",
          "description": "The Solution data structure",
          "x-ms-client-flatten": true
        }
      }
    },
    "SolutionProperties": {
      "description": "Describes the json payload for solution operations",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "UserSolutions": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Solution"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of the user solutions if there are any.",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "type": "object",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource"
        }
      },
      "x-ms-azure-resource": true
    },
    "SystemData": {
      "description": "Read only system data",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that created the resource"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that last modified the resource"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "IdentityType": {
      "description": "The type of identity that creates/modifies resources",
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    }
  }
}
