{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "JobProvisioningStateProperty": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state of the resource.",
          "enum": [
            "Failed",
            "Succeeded",
            "Suspended",
            "Processing"
          ],
          "x-ms-enum": {
            "name": "JobProvisioningState",
            "modelAsString": true
          }
        }
      },
      "description": "The provisioning state property."
    },
    "SourceControlCreateOrUpdateProperties": {
      "properties": {
        "repoUrl": {
          "type": "string",
          "maxLength": 2000,
          "description": "Gets or sets the repo url of the source control."
        },
        "branch": {
          "type": "string",
          "maxLength": 255,
          "description": "Gets or sets the repo branch of the source control. Include branch as empty string for VsoTfvc."
        },
        "folderPath": {
          "type": "string",
          "maxLength": 255,
          "description": "Gets or sets the folder path of the source control. Path must be relative."
        },
        "autoSync": {
          "type": "boolean",
          "description": "Gets or sets auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "Gets or sets the auto publish of the source control. Default is true."
        },
        "sourceType": {
          "type": "string",
          "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub, case sensitive.",
          "enum": [
            "VsoGit",
            "VsoTfvc",
            "GitHub"
          ],
          "x-ms-enum": {
            "name": "sourceType",
            "modelAsString": true
          }
        },
        "securityToken": {
          "type": "string",
          "maxLength": 1024,
          "description": "Gets or sets the authorization token for the repo of the source control."
        },
        "description": {
          "type": "string",
          "maxLength": 512,
          "description": "Gets or sets the user description of the source control."
        }
      },
      "description": "The properties of the create source control operation."
    },
    "SourceControlCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the source control."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update source control operation."
    },
    "SourceControlProperties": {
      "properties": {
        "repoUrl": {
          "type": "string",
          "description": "Gets or sets the repo url of the source control."
        },
        "branch": {
          "type": "string",
          "description": "Gets or sets the repo branch of the source control. Include branch as empty string for VsoTfvc."
        },
        "folderPath": {
          "type": "string",
          "description": "Gets or sets the folder path of the source control."
        },
        "autoSync": {
          "type": "boolean",
          "description": "Gets or sets auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "Gets or sets the auto publish of the source control. Default is true."
        },
        "sourceType": {
          "type": "string",
          "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub.",
          "enum": [
            "VsoGit",
            "VsoTfvc",
            "GitHub"
          ],
          "x-ms-enum": {
            "name": "sourceType",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": false,
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": false,
          "description": "Gets or sets the last modified time."
        }
      },
      "description": "Definition of the source control properties"
    },
    "SourceControl": {
      "x-ms-azure-resource": true,
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the source control."
        }
      },
      "description": "Definition of the source control."
    },
    "SourceControlListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceControl"
          },
          "description": "Gets or sets a list of souce controls."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list source controls operation."
    },
    "SourceControlUpdateProperties": {
      "properties": {
        "branch": {
          "type": "string",
          "description": "Gets or sets the repo branch of the source control."
        },
        "folderPath": {
          "type": "string",
          "description": "Gets or sets the folder path of the source control. Path must be relative."
        },
        "autoSync": {
          "type": "boolean",
          "description": "Gets or sets auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "Gets or sets the auto publish of the source control. Default is true."
        },
        "securityToken": {
          "type": "string",
          "description": "Gets or sets the authorization token for the repo of the source control."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the user description of the source control."
        }
      },
      "description": "The properties of the update source control"
    },
    "SourceControlUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the source control."
        }
      },
      "description": "The parameters supplied to the update source control operation."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure Resource group."
    },
    "AutomationAccountNameParameter": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header",
      "x-ms-parameter-location": "method"
    }
  }
}