{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2017-05-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
          "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
          "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "Job": {
      "description": "Definition of the job.", 
      "x-ms-mutability": [
        "read",
        "create"
      ],     
      "properties": {        
        "properties": {
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/JobProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of the job."
        }
      },
      "allOf": [
      {
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/ProxyResource"
      }
      ]      
    },
    "jobCollectionItem": {
      "description": "Job collection item properties.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Job properties.",
          "$ref": "#/definitions/jobCollectionItemProperties"
        }
      },
      "allOf": [
        {
            "$ref": "../../stable/2015-10-31/definitions.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "jobCollectionItemProperties": {
      "description": "Job collection item properties.",
      "properties": {       
        "runbook": {
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/RunbookAssociationProperty",
          "readOnly": true,
          "description": "The runbook association."
        },
        "jobId": {
          "type": "string",
          "format": "uuid",
          "readOnly": true,
          "description": "The id of the job."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation time of the job."
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "The status of the job.",
          "enum": [
            "New",
            "Activating",
            "Running",
            "Completed",
            "Failed",
            "Stopped",
            "Blocked",
            "Suspended",
            "Disconnected",
            "Suspending",
            "Stopping",
            "Resuming",
            "Removing"
          ],
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The end time of the job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The last modified time of the job."
        },
        "provisioningState": {
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/JobProvisioningStateProperty",
          "description": "The current provisioning state of the job."
        }  
      }
    },
    "JobListResultV2": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "./definitions.json#/definitions/jobCollectionItem",
            "readOnly": true
          },
          "description": "List of jobs."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The  link to the next page."
        }
      },
      "description": "The response model for the list job operation."
    },
    "softwareUpdateConfigurationProperties": {
      "description": "Software update configuration properties.",
      "properties": {
        "updateConfiguration": {
          "description": "update specific properties for the Software update configuration",
          "$ref": "#/definitions/updateConfiguration"
        },
        "scheduleInfo": {
          "description": "Schedule information for the Software update configuration",
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/ScheduleProperties"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state for the software update configuration, which only appears in the response.",
          "readOnly": true
        },
        "error": {
          "description": "detailes of provisioning error",
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/ErrorResponse"
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      },
      "required": [
        "updateConfiguration",
        "scheduleInfo"
      ]
    },
    "softwareUpdateConfiguration": {
      "x-ms-azure-resource": true,
      "description": "Software update configuration properties.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "softwareUpdateConfigurationListResult": {
      "description": "result of listing all software update configuration",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configurations",
          "type": "array",
          "items": {
            "$ref": "./definitions.json#/definitions/softwareUpdateConfigurationCollectionItem"
          }
        }
      }
    },
    "collectionItemUpdateConfiguration": {
      "description": "object returned when requesting a collection of software update configuration",
      "properties": {
        "azureVirtualMachines": {
          "type": "array",
          "description": "List of azure resource Ids for azure virtual machines targeted by the software update configuration.",
          "items": {
            "type": "string",
            "description": "Azure Resource Manager Id for a virtual machine."
          }
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601"
        }
      }
    },
    "softwareUpdateConfigurationCollectionItem": {
      "description": "Software update configuration collection item properties.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationCollectionItemProperties"
        }
      },
      "required": [
        "properties"
      ]
    },
    "softwareUpdateConfigurationCollectionItemProperties": {
      "description": "Software update configuration collection item properties.",
      "properties": {
        "updateConfiguration": {
          "description": "Update specific properties of the software update configuration.",
          "$ref": "#/definitions/collectionItemUpdateConfiguration"
        },
        "frequency": {
          "description": "execution frequency of the schedule associated with the software update configuration",
          "type": "string",
          "$ref": "../../stable/2015-10-31/definitions.json#/definitions/scheduleFrequency"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "the start time of the update."
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of the software update configuration, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time software update configuration was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state for the software update configuration, which only appears in the response.",
          "readOnly": true
        },
        "nextRun": {
          "type": "string",
          "format": "date-time",
          "description": "ext run time of the update."
        }
      }
    },
    "operatingSystemType": {
      "type": "string",
      "description": "Target operating system for the software update configuration.",
      "enum": [
        "Windows",
        "Linux"
      ],
      "x-ms-enum": {
        "modelAsString": false,
        "name": "OperatingSystemType"
      }
    },
    "updateConfiguration": {
      "type": "object",
      "description": "Update specifc properties of the software update configuration.",
      "properties": {
        "operatingSystem": {
          "description": "operating system of target machines",
          "$ref": "#/definitions/operatingSystemType"
        },
        "windows": {
          "description": "Windows specific update configuration.",
          "$ref": "#/definitions/WindowsProperties"
        },
        "linux": {
          "description": "Linux specific update configuration.",
          "$ref": "#/definitions/LinuxProperties"
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Maximum time allowed for the software update configuration run. Duration needs to be specified using the format PT[n]H[n]M[n]S as per ISO8601"
        },
        "azureVirtualMachines": {
          "type": "array",
          "description": "List of azure resource Ids for azure virtual machines targeted by the software update configuration.",
          "items": {
            "type": "string",
            "description": "Azure Resource Manager Id for a virtual machine."
          }
        },
        "nonAzureComputerNames": {
          "type": "array",
          "description": "List of names of non-azure machines targeted by the software update configuration.",
          "items": {
            "type": "string",
            "description": "Name of Non-Azure OMS Computer."
          }
        }
      },
      "required": [
        "operatingSystem"
      ]
    },
    "WindowsProperties": {
      "type": "object",
      "description": "Windows specific update configuration.",
      "properties": {
        "includedUpdateClassifications": {
          "description": "Update classification included in the software update configuration. A comma separated string with required values",
          "type": "string",
          "enum": [
            "Unclassified",
            "Critical",
            "Security",
            "UpdateRollup",
            "FeaturePack",
            "ServicePack",
            "Definition",
            "Tools",
            "Updates"
          ],
          "x-ms-enum": {
            "name": "WindowsUpdateClasses",
            "modelAsString": true
          }
        },
        "excludedKbNumbers": {
          "type": "array",
          "description": "KB numbers excluded from the software update configuration.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LinuxProperties": {
      "type": "object",
      "description": "Linux specific update configuration.",
      "properties": {
        "includedPackageClassifications": {
          "description": "Update classifications included in the software update configuration.",
          "type": "string",
          "enum": [
            "Unclassified",
            "Critical",
            "Security",
            "Other"
          ],
          "x-ms-enum": {
            "name": "LinuxUpdateClasses",
            "modelAsString": true
          }
        },
        "excludedPackageNameMasks": {
          "type": "array",
          "description": "packages excluded from the software update configuration.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "updateConfigurationNavigation": {
      "description": "Software update configuration Run Navigation model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the software update configuration triggered the software update configuration run",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "jobNavigation": {
      "description": "Software update configuration machine run job navigation properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the job associated with the software update configuration run",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationRunListResult": {
      "description": "result of listing all software update configuration runs",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configuration runs",
          "type": "array",
          "items": {
            "$ref": "./definitions.json#/definitions/softwareUpdateConfigurationRun"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "link to next page of results."
        }
      }
    },
    "softwareUpdateConfigurationRun": {
      "description": "Software update configuration Run properties.",
      "x-ms-azure-resource": false,
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration run."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration run"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration Run properties.",
          "$ref": "#/definitions/softwareUpdateConfigurationRunProperties"
        }
      }
    },
    "softwareUpdateConfigurationRunProperties": {
      "description": "Software update configuration properties.",
      "properties": {
        "softwareUpdateConfiguration": {
          "description": "software update configuration triggered this run",
          "$ref": "#/definitions/updateConfigurationNavigation"
        },
        "status": {
          "type": "string",
          "description": "Status of the software update configuration run.",
          "readOnly": true
        },
        "configuredDuration": {
          "type": "string",
          "description": "configured duration for the software update configuration run.",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "description": "Operating system target of the software update configuration triggered this run",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Etart time of the software update configuration run.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the software update configuration run.",
          "readOnly": true
        },
        "computerCount": {
          "type": "integer",
          "description": "Number of computers in the software update configuration run.",
          "readOnly": true
        },
        "failedCount": {
          "type": "integer",
          "description": "Number of computers with failed status.",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationMachineRunListResult": {
      "description": "result of listing all software update configuration machine runs",
      "properties": {
        "value": {
          "description": "outer object returned when listing all software update configuration machine runs",
          "type": "array",
          "items": {
            "$ref": "./definitions.json#/definitions/softwareUpdateConfigurationMachineRun"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "link to next page of results."
        }
      }
    },
    "updateConfigurationMachineRunProperties": {
      "description": "Software update configuration machine run properties.",
      "properties": {
        "targetComputer": {
          "type": "string",
          "description": "name of the updated computer",
          "readOnly": true
        },
        "targetComputerType": {
          "type": "string",
          "description": "type of the updated computer.",
          "readOnly": true
        },
        "softwareUpdateConfiguration": {
          "description": "software update configuration triggered this run",
          "$ref": "#/definitions/updateConfigurationNavigation"
        },
        "status": {
          "type": "string",
          "description": "Status of the software update configuration machine run.",
          "readOnly": true
        },
        "osType": {
          "type": "string",
          "description": "Operating system target of the software update configuration triggered this run",
          "readOnly": true
        },
        "correlationId": {
          "type": "string",
          "format": "uuid",
          "description": "correlation id of the software update configuration machine run",
          "readOnly": true
        },
        "sourceComputerId": {
          "type": "string",
          "format": "uuid",
          "description": "source computer id of the software update configuration machine run",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the software update configuration machine run.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the software update configuration machine run.",
          "readOnly": true
        },
        "configuredDuration": {
          "type": "string",
          "description": "configured duration for the software update configuration run.",
          "readOnly": true
        },
        "job": {
          "description": "Job associated with the software update configuration machine run",
          "$ref": "#/definitions/jobNavigation"
        },
        "creationTime": {
          "type": "string",
          "description": "Creation time of theresource, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy property, which only appears in the response.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "Last time resource was modified, which only appears in the response.",
          "format": "date-time",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "lastModifiedBy property, which only appears in the response.",
          "readOnly": true
        }
      }
    },
    "softwareUpdateConfigurationMachineRun": {
      "description": "Software update configuration machine run model.",
      "x-ms-azure-resource": false,
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the software update configuration machine run"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id of the software update configuration machine run"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Software update configuration machine run properties.",
          "$ref": "#/definitions/updateConfigurationMachineRunProperties"
        }
      }
    },
    "SourceControlCreateOrUpdateProperties": {
      "properties": {
        "repoUrl": {
          "type": "string",
          "maxLength": 2000,
          "description": "Gets or sets the repo url of the source control."
        },
        "branch": {
          "type": "string",
          "maxLength": 255,
          "description": "Gets or sets the repo branch of the source control. Include branch as empty string for VsoTfvc."
        },
        "folderPath": {
          "type": "string",
          "maxLength": 255,
          "description": "Gets or sets the folder path of the source control. Path must be relative."
        },
        "autoSync": {
          "type": "boolean",
          "description": "Gets or sets auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "Gets or sets the auto publish of the source control. Default is true."
        },
        "sourceType": {
          "type": "string",
          "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub, case sensitive.",
          "enum": [
            "VsoGit",
            "VsoTfvc",
            "GitHub"
          ],
          "x-ms-enum": {
            "name": "sourceType",
            "modelAsString": true
          }
        },
        "securityToken": {
          "type": "string",
          "maxLength": 1024,
          "description": "Gets or sets the authorization token for the repo of the source control."
        },
        "description": {
          "type": "string",
          "maxLength": 512,
          "description": "Gets or sets the user description of the source control."
        }
      },
      "description": "The properties of the create source control operation."
    },
    "SourceControlCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the source control."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update source control operation."
    },
    "SourceControlProperties": {
      "properties": {
        "repoUrl": {
          "type": "string",
          "description": "Gets or sets the repo url of the source control."
        },
        "branch": {
          "type": "string",
          "description": "Gets or sets the repo branch of the source control. Include branch as empty string for VsoTfvc."
        },
        "folderPath": {
          "type": "string",
          "description": "Gets or sets the folder path of the source control."
        },
        "autoSync": {
          "type": "boolean",
          "description": "Gets or sets auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "Gets or sets the auto publish of the source control. Default is true."
        },
        "sourceType": {
          "type": "string",
          "description": "The source type. Must be one of VsoGit, VsoTfvc, GitHub.",
          "enum": [
            "VsoGit",
            "VsoTfvc",
            "GitHub"
          ],
          "x-ms-enum": {
            "name": "sourceType",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        }
      },
      "description": "Definition of the source control properties"
    },
    "SourceControl": {
      "x-ms-azure-resource": true,
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the source control."
        }
      },
      "description": "Definition of the source control."
    },
    "SourceControlListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceControl"
          },
          "description": "Gets or sets a list of souce controls."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list source controls operation."
    },
    "SourceControlUpdateProperties": {
      "properties": {
        "branch": {
          "type": "string",
          "description": "Gets or sets the repo branch of the source control."
        },
        "folderPath": {
          "type": "string",
          "description": "Gets or sets the folder path of the source control. Path must be relative."
        },
        "autoSync": {
          "type": "boolean",
          "description": "Gets or sets auto async of the source control. Default is false."
        },
        "publishRunbook": {
          "type": "boolean",
          "description": "Gets or sets the auto publish of the source control. Default is true."
        },
        "securityToken": {
          "type": "string",
          "description": "Gets or sets the authorization token for the repo of the source control."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the user description of the source control."
        }
      },
      "description": "The properties of the update source control"
    },
    "SourceControlUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/SourceControlUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the source control."
        }
      },
      "description": "The parameters supplied to the update source control operation."
    },
    "SourceControlSyncJob": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource id."
        },
        "properties": {
          "$ref": "#/definitions/SourceControlSyncJobProperties",
          "x-ms-client-flatten": true,
          "description": "Gets the properties of the source control sync job."
        }
      },
      "description": "Definition of the source control sync job."
    },
    "SourceControlSyncJobProperties": {
      "properties": {
        "sourceControlSyncJobId": {
          "type": "string",
          "description": "Gets the source control sync job id."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time of the job."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets the provisioning state of the job.",
          "enum": [
            "Completed",
            "Failed",
            "Running"
          ],
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time of the job."
        },
        "startedBy": {
          "type": "string",
          "description": "Gets the user who started the sync job."
        }
      },
      "description": "Definition of source control sync job properties."
    },
    "SourceControlSyncJobListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceControlSyncJob"
          },
          "description": "Gets a list of source control sync jobs."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list source control sync jobs operation."
    },
    "SourceControlSyncJobById": {
      "properties": {
          "id": {
            "type": "string",
            "description": "Gets the id of the job."
          },
          "properties": {
            "$ref": "#/definitions/SourceControlSyncJobByIdProperties",
            "x-ms-client-flatten": true,
            "description": "Gets the properties of the source control sync job."
          }
      },
      "description": "Definition of the source control sync job."
    },
    "SourceControlSyncJobByIdProperties": {
      "properties": {
        "sourceControlSyncJobId": {
          "type": "string",
          "description": "Gets the source control sync job id."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time of the job."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets the provisioning state of the job.",
          "enum": [
            "Completed",
            "Failed",
            "Running"
          ],
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time of the job."
        },
        "startedBy": {
          "type": "string",
          "description": "Gets the user who started the sync job."
        },
        "errors": {
          "description": "Error details of the source control sync job.",
          "$ref": "#/definitions/SourceControlSyncJobByIdErrors"
        }
      },
      "description": "Definition of source control sync job properties."
    },
    "SourceControlSyncJobByIdErrors": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets the error code for the job."
        },
        "message": {
          "type": "string",
          "description": "Gets the error message for the job."
        }
      },
      "description": "Error details of the source control sync job."
    }
  },
  "parameters": {
    "automationAccountName": {
      "name": "automationAccountName",
      "description": "The name of the automation account.",
      "type": "string",
      "required": true,
      "in": "path"
    },
    "clientRequestId": {
      "name": "clientRequestId",
      "description": "Identifies this specific client request.",
      "type": "string",
      "required": false,
      "in": "header"
    }
  }
}