{
  "swagger": "2.0",
  "info": {
    "title": "MicrosoftPki",
    "description": "Describes an enrollment policy resource and operations.",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Pki/pkis/{pkiName}/enrollmentPolicies/{enrollmentPolicyName}": {
      "get": {
        "operationId": "EnrollmentPolicy_Get",
        "description": "Gets the specified enrollment policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pkiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PKI resource."
          },
          {
            "name": "enrollmentPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the enrollment policy resource."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The definition of the requested enrollment policy resource is returned in the response.",
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an enrollment policy": {
            "$ref": "./examples/EnrollmentPolicies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "EnrollmentPolicy_Create",
        "description": "Creates or updates an enrollment policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pkiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PKI resource."
          },
          {
            "name": "enrollmentPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the enrollment policy resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicy"
            },
            "description": "The requested definition of the enrollment policy resource being created or updated."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified resource was created or updated and its definition is returned in the response.",
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicy"
            }
          },
          "201": {
            "description": "The request has been accepted. The response contains an operation URI that can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a new enrollment policy or update an existing one": {
            "$ref": "./examples/EnrollmentPolicies_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "operationId": "EnrollmentPolicy_Update",
        "description": "Updates some properties of an enrollment policy, while not touching other properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pkiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PKI resource."
          },
          {
            "name": "enrollmentPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the enrollment policy."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicy_Patch"
            },
            "description": "The requested definition of the enrollment policy being patched. Properties that are not being modified must be absent or null."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified resource was created or updated and its definition is returned in the response.",
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicy"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update properties of an existing enrollment policy": {
            "$ref": "./examples/EnrollmentPolicies_Update.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        }
      },
      "delete": {
        "operationId": "EnrollmentPolicy_Delete",
        "description": "Deletes the specified enrollment policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pkiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PKI resource."
          },
          {
            "name": "enrollmentPolicyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the enrollment policy."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource with the specified name was deleted."
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The resource with the specified name was deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an existing enrollment policy": {
            "$ref": "./examples/EnrollmentPolicies_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Pki/pkis/{pkiName}/enrollmentPolicies": {
      "get": {
        "operationId": "EnrollmentPolicy_ListByPki",
        "description": "Lists all the enrollment policies in a PKI resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "pkiName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the PKI resource."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of enrollment policies is returned in the response.",
            "schema": {
              "$ref": "#/definitions/ApiEnrollmentPolicyList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List enrollment policies by PKI": {
            "$ref": "./examples/EnrollmentPolicies_ListByPki.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ApiEnrollmentPolicy": {
      "description": "Represents an enrollment policy.",
      "type": "object",
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system data."
        },
        "properties": {
          "$ref": "#/definitions/ApiEnrollmentPolicyProperties",
          "description": "Free-text description of this enrollment policy."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Resource"
        }
      ]
    },
    "ApiEnrollmentPolicy_Patch": {
      "description": "Contains the properties that must be updated in an enrollment policy.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApiEnrollmentPolicyProperties",
          "description": "Free-text description of this enrollment policy."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        }
      }
    },
    "ApiEnrollmentPolicyProperties": {
      "description": "Represents the properties of an enrollment policy.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-text description of this enrollment policy."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of this PKI resource",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Updating",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "certificateAuthorityResource": {
          "type": "string",
          "description": "The resource identifier of the CA that issues certificates for this policy."
        },
        "enrollmentUri": {
          "type": "string",
          "description": "The base URI for enrollment operations.",
          "readOnly": true
        },
        "banners": {
          "type": "array",
          "description": "The list of active banners for this enrollment policy.",
          "readOnly": true,
          "items": {
            "$ref": "definitions.json#/definitions/ResourceBanner"
          },
          "maxItems": 100,
          "x-ms-identifiers": []
        }
      }
    },
    "ApiEnrollmentPolicyList": {
      "description": "The response of a list enrollment policies operation.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiEnrollmentPolicy"
          },
          "description": "A list of enrollment policies.",
          "maxItems": 100
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results.",
          "maxLength": 1000
        }
      }
    }
  }
}
