{
  "swagger": "2.0",
  "info": {
    "version": "2023-08-02-preview",
    "title": "AppPlatformManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/javaEnvironments": {
      "get": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Get all the Java Environments for a subscription.",
        "operationId": "JavaEnvironments_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JavaEnvironmentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List environments by subscription": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/javaEnvironments": {
      "get": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Get all the Java Environments in a resource group.",
        "operationId": "JavaEnvironments_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JavaEnvironmentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List environments by resource group": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/javaEnvironments/{javaEnvironmentName}": {
      "get": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Get the properties of a Java Environment.",
        "description": "Get a Java Environment and its properties.",
        "operationId": "JavaEnvironments_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Java Environment.",
            "schema": {
              "$ref": "#/definitions/JavaEnvironment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get environments by name": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Creates or updates a Java Environment.",
        "description": "Create a new Java Environment or update an exiting Java Environment.",
        "operationId": "JavaEnvironments_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentEnvelopePutParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Java Environment.",
            "schema": {
              "$ref": "#/definitions/JavaEnvironment"
            }
          },
          "201": {
            "description": "Created. The response describes the new Java Environment and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/JavaEnvironment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create environments": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Delete a Java Environment.",
        "operationId": "JavaEnvironments_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted successfully."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete environment by name": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Update Java Environment's properties.",
        "description": "Operation to update an exiting Java Environment.",
        "operationId": "JavaEnvironments_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentEnvelopePatchParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Java Environment.",
            "schema": {
              "$ref": "#/definitions/JavaEnvironment"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Java Environment is now updating and contains a Location\r\nheader to query the operation result.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Managed Environment": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_Patch.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/javaEnvironments/{javaEnvironmentName}/getResourceUploadUrl": {
      "post": {
        "tags": [
          "JavaEnvironments"
        ],
        "description": "Get an resource upload URL for the env, which may be artifacts or source archive.",
        "operationId": "JavaEnvironments_GetResourceUploadUrl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the resource upload URL.",
            "schema": {
              "$ref": "#/definitions/ResourceUploadDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetResourceUploadUrl": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_GetResourceUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/javaEnvironments/{javaEnvironmentName}/checkNameAvailability": {
      "post": {
        "tags": [
          "JavaEnvironments"
        ],
        "summary": "Checks the resource name availability.",
        "description": "Checks if resource name is available.",
        "operationId": "Namespaces_CheckNameAvailability",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/JavaEnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/CheckNameAvailabilityParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "JavaEnvironments_CheckNameAvailability": {
            "$ref": "./examples/v2/JavaEnvironments/JavaEnvironments_CheckNameAvailability.json"
          }
        }
      }
    }
  },
  "definitions": {
    "JavaEnvironmentsCollection": {
      "description": "Collection of Java Environments",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JavaEnvironment"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "JavaEnvironmentForPatchBody": {
      "description": "An environment for hosting Azure Spring Apps only for patch body",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JavaEnvironmentForPatch"
        }
      ],
      "required": []
    },
    "JavaEnvironment": {
      "description": "An environment for hosting Azure Spring Apps",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Java environment resource specific properties",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Provisioning state of the Service",
              "enum": [
                "InProgress",
                "Deleting",
                "Deleted",
                "Succeeded",
                "Failed",
                "Canceled"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              }
            },
            "environmentId": {
              "description": "The resource Id of the App Environment that the Spring Apps instance builds on",
              "type": "string",
              "format": "arm-id",
              "x-ms-arm-id-details": {
                "allowedResources": [
                  {
                    "type": "Microsoft.App/managedEnvironments"
                  }
                ]
              }
            },
            "infraResourceGroup": {
              "description": "The name of the resource group that contains the infrastructure resources",
              "type": "string"
            },
            "zoneRedundant": {
              "description": "Whether or not this Java Environment is zone-redundant.",
              "enum": [
                "ZoneRedundant",
                "None"
              ],
              "type": "string",
              "x-ms-enum": {
                "name": "ZoneRedundantEnum",
                "modelAsString": true
              },
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "defaultDomain": {
              "description": "Default Domain Name for the Java environment",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "JavaEnvironmentForPatch": {
      "description": "An environment for hosting Azure Spring Apps in PATCH request body",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Java environment resource specific properties",
          "type": "object",
          "properties": {},
          "x-ms-client-flatten": true
        }
      }
    },
    "ResourceUploadDefinition": {
      "description": "Resource upload definition payload",
      "type": "object",
      "properties": {
        "relativePath": {
          "description": "Source relative path",
          "type": "string"
        },
        "uploadUrl": {
          "description": "Upload URL",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "JavaEnvironmentNameParameter": {
      "name": "javaEnvironmentName",
      "in": "path",
      "description": "Name of the Java Environment.",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$"
    },
    "JavaEnvironmentEnvelopePatchParameter": {
      "name": "environmentEnvelope",
      "in": "body",
      "description": "Configuration details of the Java Environment.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/JavaEnvironmentForPatchBody"
      }
    },
    "JavaEnvironmentEnvelopePutParameter": {
      "name": "environmentEnvelope",
      "in": "body",
      "description": "Configuration details of the Java Environment.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/JavaEnvironment"
      }
    },
    "CheckNameAvailabilityParameter": {
      "name": "checkNameAvailabilityRequest",
      "in": "body",
      "description": "The check name availability request.",
      "required": true,
      "schema": {
        "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest"
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
