{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations": {
            "get": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "./examples/Location/List.json"
                    }
                },
                "description": "Get a list of all AzureStack location.",
                "tags": [
                    "Locations"
                ],
                "operationId": "Locations_List",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LocationList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "./examples/Location/Get.json"
                    }
                },
                "description": "Get the specified location.",
                "tags": [
                    "Locations"
                ],
                "operationId": "Locations_Get",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "./examples/Location/put.json"
                    }
                },
                "description": "Updates the specified location.",
                "tags": [
                    "Locations"
                ],
                "operationId": "Locations_Update",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewLocationParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Location"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            },
            "delete": {
                "x-ms-examples": {
                    "Get the list of usage aggregates for all tenants.": {
                        "$ref": "./examples/Location/delete.json"
                    }
                },
                "description": "Deletes the specified location.",
                "tags": [
                    "Locations"
                ],
                "operationId": "Locations_Delete",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    }                   
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }                        
        }
    },
    "definitions": {
        "Location": {
            "description": "Contains information about a geographical location where resource providers can be deployed.",
            "type": "object",
            "properties": {
                "displayName": {
                    "description": "Display name of the location.",
                    "type": "string"
                },
                "id": {
                    "description": "Location identifier.",
                    "type": "string"
                },
                "latitude": {
                    "description": "Latitude of the location.",
                    "type": "string"
                },
                "longitude": {
                    "description": "Longitude of the location.",
                    "type": "string"
                },
                "name": {
                    "description": "Location name.",
                    "type": "string"
                }
            }
        },
        "LocationList": {
            "description": "List of locations.",
            "properties": {
                "value": {
                    "description": "List of locations.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Location"
                    }
                },
                "nextLink": {
                    "description": "URI to next page.",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "NewLocationParameter": {
            "description": "The new location",
            "name": "newLocation",
            "required": true,
            "in": "body",
            "schema": {
                "$ref": "#/definitions/Location"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}