{
  "swagger": "2.0",
  "info": {
    "title": "StreamAnalyticsManagementClient",
    "version": "2017-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}": {
      "put": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_CreateOrReplace",
        "description": "Creates a streaming job or replaces an already existing streaming job.",
        "x-ms-examples": {
          "Create a streaming job shell (a streaming job with no inputs, outputs, transformation, or functions)": {
            "$ref": "./examples/StreamingJob_Create_JobShell.json"
          },
          "Create a complete streaming job (a streaming job with a transformation, at least 1 input and at least 1 output)": {
            "$ref": "./examples/StreamingJob_Create_CompleteJob.json"
          }
        },
        "parameters": [
          {
            "name": "streamingJob",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "description": "The definition of the streaming job that will be used to create a new streaming job or replace the existing one."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch",
            "description": "Set to '*' to allow a new streaming job to be created, but to prevent updating an existing record set. Other values will result in a 412 Pre-condition Failed response."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The streaming job was successfully created or replaced.",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "type": "string"
              }
            }
          },
          "201": {
            "description": "The streaming job was successfully created or replaced.",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_Update",
        "description": "Updates an existing streaming job. This can be used to partially update (ie. update one or two properties) a streaming job without affecting the rest the job definition.",
        "x-ms-examples": {
          "Update a streaming job": {
            "$ref": "./examples/StreamingJob_Update.json"
          }
        },
        "parameters": [
          {
            "name": "streamingJob",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "description": "A streaming job object. The properties specified here will overwrite the corresponding properties in the existing streaming job (ie. Those properties will be updated). Any properties that are set to null here will mean that the corresponding property in the existing input will remain the same and not change as a result of this PATCH operation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch",
            "description": "The ETag of the streaming job. Omit this value to always overwrite the current record set. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The streaming job was successfully updated.",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "type": "string"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_Delete",
        "description": "Deletes a streaming job.",
        "x-ms-examples": {
          "Delete a streaming job": {
            "$ref": "./examples/StreamingJob_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The streaming job was successfully deleted."
          },
          "202": {
            "description": "The delete request was successfully initiated."
          },
          "204": {
            "description": "The streaming job does not exist."
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_Get",
        "description": "Gets details about the specified streaming job.",
        "x-ms-examples": {
          "Get a streaming job and do not use the $expand OData query parameter": {
            "$ref": "./examples/StreamingJob_Get_NoExpand.json"
          },
          "Get a streaming job and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions": {
            "$ref": "./examples/StreamingJob_Get_Expand.json"
          }
        },
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified streaming job.",
            "schema": {
              "$ref": "#/definitions/StreamingJob"
            },
            "headers": {
              "ETag": {
                "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs": {
      "get": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_ListByResourceGroup",
        "description": "Lists all of the streaming jobs in the specified resource group.",
        "x-ms-examples": {
          "List all streaming jobs in a resource group and do not use the $expand OData query parameter": {
            "$ref": "./examples/StreamingJob_List_ByResourceGroup_NoExpand.json"
          },
          "List all streaming jobs in a resource group and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions": {
            "$ref": "./examples/StreamingJob_List_ByResourceGroup_Expand.json"
          }
        },
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed the streaming jobs under the specified resource group.",
            "schema": {
              "$ref": "#/definitions/StreamingJobListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/streamingjobs": {
      "get": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_List",
        "description": "Lists all of the streaming jobs in the given subscription.",
        "x-ms-examples": {
          "List all streaming jobs in a subscription and do not use the $expand OData query parameter": {
            "$ref": "./examples/StreamingJob_List_BySubscription_NoExpand.json"
          },
          "List all streaming jobs in a subscription and use the $expand OData query parameter to expand inputs, outputs, transformation, and functions": {
            "$ref": "./examples/StreamingJob_List_BySubscription_Expand.json"
          }
        },
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The $expand OData query parameter. This is a comma-separated list of additional streaming job properties to include in the response, beyond the default set returned when this parameter is absent. The default set is all streaming job properties other than 'inputs', 'transformation', 'outputs', and 'functions'."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed the streaming jobs under the given subscription.",
            "schema": {
              "$ref": "#/definitions/StreamingJobListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/start": {
      "post": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_Start",
        "description": "Starts a streaming job. Once a job is started it will start processing input events and produce output.",
        "x-ms-examples": {
          "Start a streaming job with CustomTime output start mode": {
            "$ref": "./examples/StreamingJob_Start_CustomTime.json"
          },
          "Start a streaming job with JobStartTime output start mode": {
            "$ref": "./examples/StreamingJob_Start_JobStartTime.json"
          },
          "Start a streaming job with LastOutputEventTime output start mode": {
            "$ref": "./examples/StreamingJob_Start_LastOutputEventTime.json"
          }
        },
        "parameters": [
          {
            "name": "startJobParameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/StartStreamingJobParameters"
            },
            "description": "Parameters applicable to a start streaming job operation."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The streaming job was successfully started."
          },
          "202": {
            "description": "The start streaming job request was successfully initiated."
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/stop": {
      "post": {
        "tags": [
          "StreamingJobs"
        ],
        "operationId": "StreamingJobs_Stop",
        "description": "Stops a running streaming job. This will cause a running streaming job to stop processing input events and producing output.",
        "x-ms-examples": {
          "Stop a streaming job": {
            "$ref": "./examples/StreamingJob_Stop.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/StreamingJobNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The streaming job was successfully stopped."
          },
          "202": {
            "description": "The stop streaming job request was successfully initiated."
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "External": {
      "description": "The storage account where the custom code artifacts are located.",
      "properties": {
        "storageAccount": {
          "$ref": "./inputs.json#/definitions/StorageAccount"
        },
        "container": {
          "type": "string"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Stream Analytics operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of Stream Analytics operations supported by the Microsoft.StreamAnalytics resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "A Stream Analytics REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation being performed on this particular object.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "Contains the localized display information for this particular operation / action.",
          "readOnly": true,
          "properties": {
            "provider": {
              "description": "The localized friendly form of the resource provider name.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "The localized friendly form of the resource type related to this action/operation.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "The localized friendly name for the operation.",
              "type": "string",
              "readOnly": true
            },
            "description": {
              "description": "The localized friendly description for the operation.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "StreamingJob": {
      "description": "A streaming job object, containing all information associated with the named streaming job.",
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/StreamingJobProperties",
          "description": "The properties that are associated with a streaming job.  Required on PUT (CreateOrReplace) requests.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "./inputs.json#/definitions/Identity",
          "description": "Describes the system-assigned managed identity assigned to this job that can be used to authenticate with inputs and outputs."
        }
      }
    },
    "StreamingJobProperties": {
      "description": "The properties that are associated with a streaming job.",
      "properties": {
        "sku": {
          "description": "Describes the SKU of the streaming job. Required on PUT (CreateOrReplace) requests.",
          "$ref": "#/definitions/StreamingJobSku"
        },
        "jobId": {
          "readOnly": true,
          "type": "string",
          "description": "A GUID uniquely identifying the streaming job. This GUID is generated upon creation of the streaming job."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "Describes the provisioning status of the streaming job."
        },
        "jobState": {
          "readOnly": true,
          "type": "string",
          "description": "Describes the state of the streaming job."
        },
        "jobType": {
          "type": "string",
          "description": "Describes the type of the job. Valid modes are `Cloud` and 'Edge'.",
          "enum": [
            "Cloud",
            "Edge"
          ],
          "x-ms-enum": {
            "name": "JobType",
            "modelAsString": true
          }
        },
        "outputStartMode": {
          "$ref": "#/definitions/OutputStartMode",
          "description": "This property should only be utilized when it is desired that the job be started immediately upon creation. Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time."
        },
        "outputStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Value is either an ISO-8601 formatted time stamp that indicates the starting point of the output event stream, or null to indicate that the output event stream will start whenever the streaming job is started. This property must have a value if outputStartMode is set to CustomTime."
        },
        "lastOutputEventTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Value is either an ISO-8601 formatted timestamp indicating the last output event time of the streaming job or null indicating that output has not yet been produced. In case of multiple outputs or multiple streams, this shows the latest value in that set."
        },
        "eventsOutOfOrderPolicy": {
          "$ref": "#/definitions/EventsOutOfOrderPolicy",
          "description": "Indicates the policy to apply to events that arrive out of order in the input event stream."
        },
        "outputErrorPolicy": {
          "$ref": "#/definitions/OutputErrorPolicy",
          "description": "Indicates the policy to apply to events that arrive at the output and cannot be written to the external storage due to being malformed (missing column values, column values of wrong type or size)."
        },
        "eventsOutOfOrderMaxDelayInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum tolerable delay in seconds where out-of-order events can be adjusted to be back in order."
        },
        "eventsLateArrivalMaxDelayInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum tolerable delay in seconds where events arriving late could be included.  Supported range is -1 to 1814399 (20.23:59:59 days) and -1 is used to specify wait indefinitely. If the property is absent, it is interpreted to have a value of -1."
        },
        "dataLocale": {
          "type": "string",
          "description": "The data locale of the stream analytics job. Value should be the name of a supported .NET Culture from the set https://msdn.microsoft.com/en-us/library/system.globalization.culturetypes(v=vs.110).aspx. Defaults to 'en-US' if none specified."
        },
        "compatibilityLevel": {
          "$ref": "#/definitions/CompatibilityLevel",
          "description": "Controls certain runtime behaviors of the streaming job."
        },
        "createdDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Value is an ISO-8601 formatted UTC timestamp indicating when the streaming job was created."
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "./inputs.json#/definitions/Input"
          },
          "description": "A list of one or more inputs to the streaming job. The name property for each input is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual input."
        },
        "transformation": {
          "$ref": "./transformations.json#/definitions/Transformation",
          "description": "Indicates the query and the number of streaming units to use for the streaming job. The name property of the transformation is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual transformation."
        },
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "./outputs.json#/definitions/Output"
          },
          "description": "A list of one or more outputs for the streaming job. The name property for each output is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual output."
        },
        "functions": {
          "type": "array",
          "items": {
            "$ref": "./functions.json#/definitions/Function"
          },
          "description": "A list of one or more functions for the streaming job. The name property for each function is required when specifying this property in a PUT request. This property cannot be modify via a PATCH operation. You must use the PATCH API available for the individual transformation."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "The current entity tag for the streaming job. This is an opaque string. You can use it to detect whether the resource has changed between requests. You can also use it in the If-Match or If-None-Match headers for write operations for optimistic concurrency."
        },
        "jobStorageAccount": {
          "$ref": "#/definitions/JobStorageAccount"
        },
        "contentStoragePolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Valid values are JobStorageAccount and SystemAccount. If set to JobStorageAccount, this requires the user to also specify jobStorageAccount property. .",
          "enum": [
            "SystemAccount",
            "JobStorageAccount"
          ],
          "x-ms-enum": {
            "name": "ContentStoragePolicy",
            "modelAsString": true
          }
        },
        "externals": {
          "$ref": "#/definitions/External",
          "description": "The storage account where the custom code artifacts are located."
        },
        "cluster": {
          "$ref": "#/definitions/ClusterInfo",
          "description": "The cluster which streaming jobs will run on."
        }
      }
    },
    "ClusterInfo": {
      "description": "The properties associated with a Stream Analytics cluster.",
      "properties": {
        "id": {
          "description": "The resource id of cluster.",
          "type": "string"
        }
      }
    },
    "StreamingJobSku": {
      "description": "The properties that are associated with a SKU.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU. Required on PUT (CreateOrReplace) requests.",
          "enum": [
            "Standard"
          ],
          "x-ms-enum": {
            "name": "StreamingJobSkuName",
            "modelAsString": true
          }
        }
      }
    },
    "StreamingJobListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StreamingJob"
          },
          "readOnly": true,
          "description": "A list of streaming jobs. Populated by a 'List' operation."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The link (url) to the next page of results."
        }
      },
      "description": "Object containing a list of streaming jobs."
    },
    "StartStreamingJobParameters": {
      "description": "Parameters supplied to the Start Streaming Job operation.",
      "properties": {
        "outputStartMode": {
          "$ref": "#/definitions/OutputStartMode",
          "description": "Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time."
        },
        "outputStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "Value is either an ISO-8601 formatted time stamp that indicates the starting point of the output event stream, or null to indicate that the output event stream will start whenever the streaming job is started. This property must have a value if outputStartMode is set to CustomTime."
        }
      }
    },
    "OutputStartMode": {
      "type": "string",
      "description": "Value may be JobStartTime, CustomTime, or LastOutputEventTime to indicate whether the starting point of the output event stream should start whenever the job is started, start at a custom user time stamp specified via the outputStartTime property, or start from the last event output time.",
      "enum": [
        "JobStartTime",
        "CustomTime",
        "LastOutputEventTime"
      ],
      "x-ms-enum": {
        "name": "OutputStartMode",
        "modelAsString": true
      }
    },
    "EventsOutOfOrderPolicy": {
      "type": "string",
      "description": "Indicates the policy to apply to events that arrive out of order in the input event stream.",
      "enum": [
        "Adjust",
        "Drop"
      ],
      "x-ms-enum": {
        "name": "EventsOutOfOrderPolicy",
        "modelAsString": true
      }
    },
    "OutputErrorPolicy": {
      "type": "string",
      "description": "Indicates the policy to apply to events that arrive at the output and cannot be written to the external storage due to being malformed (missing column values, column values of wrong type or size).",
      "enum": [
        "Stop",
        "Drop"
      ],
      "x-ms-enum": {
        "name": "OutputErrorPolicy",
        "modelAsString": true
      }
    },
    "CompatibilityLevel": {
      "type": "string",
      "description": "Controls certain runtime behaviors of the streaming job.",
      "enum": [
        "1.0"
      ],
      "x-ms-enum": {
        "name": "CompatibilityLevel",
        "modelAsString": true
      }
    },
    "JobStorageAccount": {
      "description": "The properties that are associated with an Azure Storage account with MSI",
      "allOf": [
        {
          "$ref": "./inputs.json#/definitions/StorageAccount"
        }
      ],
      "properties": {
        "authenticationMode": {
          "$ref": "../../common/v1/definitions.json#/definitions/AuthenticationMode",
          "description": "Authentication Mode."
        }
      }
    }
  }
}
