{
  "swagger": "2.0",
  "info": {
    "version": "2022-11-01-preview",
    "title": "CdnManagementClient",
    "description": "Use these APIs to manage Azure Front Door resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies": {
      "get": {
        "tags": [
          "SecurityPolicies"
        ],
        "description": "Lists security policies associated with the profile",
        "operationId": "SecurityPolicies_ListByProfile",
        "x-ms-examples": {
          "SecurityPolicies_ListByProfile": {
            "$ref": "./examples/SecurityPolicies_ListByProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the Azure Front Door Standard or Azure Front Door Premium profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyListResult"
            }
          },
          "default": {
            "description": "Azure Front Door error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/AfdErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/securityPolicies/{securityPolicyName}": {
      "get": {
        "tags": [
          "SecurityPolicies"
        ],
        "description": "Gets an existing security policy within a profile.",
        "operationId": "SecurityPolicies_Get",
        "x-ms-examples": {
          "SecurityPolicies_Get": {
            "$ref": "./examples/SecurityPolicies_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the Azure Front Door Standard or Azure Front Door Premium profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "Name of the security policy under the profile.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "default": {
            "description": "Azure Front Door error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/AfdErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SecurityPolicies"
        ],
        "description": "Creates a new security policy within the specified profile.",
        "operationId": "SecurityPolicies_Create",
        "x-ms-examples": {
          "SecurityPolicies_Create": {
            "$ref": "./examples/SecurityPolicies_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the Azure Front Door Standard or Azure Front Door Premium profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "Name of the security policy under the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicy",
            "in": "body",
            "description": "The security policy properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new delivery rule has been created.",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "headers": {
              "location": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "default": {
            "description": "Azure Front Door error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/AfdErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "SecurityPolicies"
        ],
        "description": "Updates an existing security policy within a profile.",
        "operationId": "SecurityPolicies_Patch",
        "x-ms-examples": {
          "SecurityPolicies_Patch": {
            "$ref": "./examples/SecurityPolicies_Patch.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the Azure Front Door Standard or Azure Front Door Premium profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "Name of the security policy under the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyUpdateProperties",
            "in": "body",
            "description": "Security policy update properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityPolicyUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "headers": {
              "location": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "default": {
            "description": "Azure Front Door error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/AfdErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "SecurityPolicies"
        ],
        "description": "Deletes an existing security policy within profile.",
        "operationId": "SecurityPolicies_Delete",
        "x-ms-examples": {
          "SecurityPolicies_Delete": {
            "$ref": "./examples/SecurityPolicies_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the Azure Front Door Standard or Azure Front Door Premium profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "Name of the security policy under the profile.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "headers": {
              "location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Azure Front Door error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/AfdErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
  },
  "definitions": {
    "SecurityPolicy": {
      "description": "SecurityPolicy association for AzureFrontDoor profile",
      "type": "object",
      "allOf": [
        {
          "$ref": "./cdn.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityPolicyProperties"
        }
      }
    },
    "SecurityPolicyProperties": {
      "description": "The json object that contains properties required to create a security policy",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AFDStateProperties"
        }
      ],
      "properties": {
        "profileName": {
          "description": "The name of the profile which holds the security policy.",
          "type": "string",
          "readOnly": true
        },
        "parameters": {
          "description": "object which contains security policy parameters",
          "$ref": "#/definitions/SecurityPolicyPropertiesParameters"
        }
      }
    },
    "SecurityPolicyUpdateParameters": {
      "description": "The JSON object containing security policy update parameters.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityPolicyUpdateProperties"
        }
      }
    },
    "SecurityPolicyUpdateProperties": {
      "description": "The json object that contains properties required to update a security policy",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "object which contains security policy parameters",
          "$ref": "#/definitions/SecurityPolicyPropertiesParameters"
        }
      }
    },
    "SecurityPolicyPropertiesParameters": {
      "description": "The json object containing security policy parameters",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the Security policy to create.",
          "enum": [
            "WebApplicationFirewall"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SecurityPolicyType",
            "modelAsString": true
          }
        }
      }
    },
    "SecurityPolicyWebApplicationFirewallParameters": {
      "description": "The json object containing security policy waf parameters",
      "x-ms-discriminator-value": "WebApplicationFirewall",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SecurityPolicyPropertiesParameters"
        }
      ],
      "properties": {
        "wafPolicy": {
          "type": "object",
          "description": "Resource ID.",
          "$ref": "./cdn.json#/definitions/ResourceReference"
        },
        "associations": {
          "description": "Waf associations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityPolicyWebApplicationFirewallAssociation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SecurityPolicyWebApplicationFirewallAssociation": {
      "description": "settings for security policy patterns to match",
      "type": "object",
      "properties": {
        "domains": {
          "description": "List of domains.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivatedResourceReference"
          }
        },
        "patternsToMatch": {
          "description": "List of paths",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecurityPolicyListResult": {
      "description": "Result of the request to list security policies. It contains a list of security policy objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SecurityPolicy"
          },
          "description": "List of Security policies within a profile"
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of security policy objects if there is any."
        }
      }
    },
    "AFDStateProperties": {
      "description": "The tracking states for afd resources.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "description": "Provisioning status",
          "type": "string",
          "enum": [
            "Succeeded",
            "Failed",
            "Updating",
            "Deleting",
            "Creating"
          ],
          "x-ms-enum": {
            "name": "AfdProvisioningState",
            "modelAsString": true
          }
        },
        "deploymentStatus": {
          "enum": [
            "NotStarted",
            "InProgress",
            "Succeeded",
            "Failed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DeploymentStatus",
            "modelAsString": true
          }
        }
      }
    },
    "ActivatedResourceReference": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "isActive": {
          "readOnly": true,
          "type": "boolean",
          "description": "Whether the resource is active or inactive"
        }
      },
      "description": "Reference to another resource along with its state.",
      "type": "object",
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2022-11-01-preview."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of the Resource group within the Azure subscription."
    },
    "profileNameParameter": {
      "name": "profileName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$",
      "minLength": 1,
      "maxLength": 260,
      "x-ms-parameter-location": "method",
      "description": "Name of the Azure Front Door Standard or Azure Front Door Premium which is unique within the resource group."
    }
  }
}
