{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-01-preview",
    "title": "telephony",
    "description": "Description of the new service",
    "x-ms-code-generation-settings": {
      "name": "telephonyClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Telephony/operations": {
      "get": {
        "description": "Lists all of the available REST API operations of the Microsoft.Telephony provider.",
        "operationId": "Operations_List",
        "summary": "List Operations",
        "tags": [ "Common Azure REST API" ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of operations.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Telephony/locations/{location}/checkNameAvailability": {
      "post": {
        "description": "Checks that the Telephony resource name is valid and is not already in use.",
        "operationId": "Telephony_CheckNameAvailability",
        "summary": "Check Name Availability",
        "tags": [ "Telephony" ],
        "parameters": [
          {
            "name": "nameAvailabilityParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityParameters"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          }
        ],
        "consumes": [ "application/json" ],
        "responses": {
          "200": {
            "description": "Success. The response describes the name availability.",
            "schema": {
              "$ref": "#/definitions/NameAvailability"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "Check name availability available": {
            "$ref": "./examples/checkNameAvailabilityAvailable.json"
          },
          "Check name availability unavailable": {
            "$ref": "./examples/checkNameAvailabilityUnavailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Telephony/telephonyservices": {
      "get": {
        "description": "Handles requests to list all resources in a subscription.",
        "operationId": "Telephony_ListBySubscription",
        "summary": "List By Subscription",
        "tags": [ "Common Azure REST API" ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Telephony services in the subscription.",
            "schema": {
              "$ref": "#/definitions/TelephonyResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List by subscription": {
            "$ref": "./examples/listBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Telephony/telephonyservices": {
      "get": {
        "description": "Handles requests to list all resources in a resource group.",
        "operationId": "Telephony_ListByResourceGroup",
        "summary": "List By Resource Group",
        "tags": [ "Common Azure REST API" ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Telephony services in a resourceGroup.",
            "schema": {
              "$ref": "#/definitions/TelephonyResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "List by resource group": {
            "$ref": "./examples/listByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Telephony/telephonyservices/{resourceName}": {
      "patch": {
        "description": "Operation to update an exiting Telephony service.",
        "operationId": "Telephony_Update",
        "summary": "Update",
        "tags": [ "Telephony CRUD" ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TelephonyResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TelephonyServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a Telephony service which is not up-to-date.",
            "schema": {
              "$ref": "#/definitions/TelephonyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "Update resource": {
            "$ref": "./examples/update.json"
          }
        }
      },
      "get": {
        "description": "Get the Telephony service and its properties.",
        "operationId": "Telephony_Get",
        "summary": "Get",
        "tags": [ "Telephony CRUD" ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TelephonyServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the corresponding Telephony service.",
            "schema": {
              "$ref": "#/definitions/TelephonyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "Get resource": {
            "$ref": "./examples/get.json"
          }
        }
      },
      "put": {
        "description": "Create a new Telephony service or update an existing Telephony service.",
        "operationId": "Telephony_CreateOrUpdate",
        "summary": "Create Or Update",
        "tags": [ "Telephony CRUD" ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TelephonyResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TelephonyServiceName"
          }
        ],
        "consumes": [ "application/json" ],
        "responses": {
          "200": {
            "description": "An existing resource was created or updated",
            "schema": {
              "$ref": "#/definitions/TelephonyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "Create or udate resource": {
            "$ref": "./examples/createOrUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Operation to delete a Telephony service.",
        "operationId": "Telephony_Delete",
        "summary": "Delete",
        "tags": [ "Telephony CRUD" ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TelephonyServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been deleted successfully."
          },
          "204": {
            "description": "The resource did not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete resource": {
            "$ref": "./examples/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Telephony/telephonyservices/{resourceName}/listKeys": {
      "post": {
        "description": "Get the access keys of the Telephony resource.",
        "operationId": "Telephony_ListKeys",
        "summary": "List Keys",
        "tags": [ "Telephony Keys" ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TelephonyServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes Telephony service access keys.",
            "schema": {
              "$ref": "#/definitions/TelephonyKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "List keys": {
            "$ref": "./examples/listKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Telephony/telephonyservices/{resourceName}/regenerateKey": {
      "post": {
        "description": "Regenerate Telephony service access key. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "operationId": "Telephony_RegenerateKey",
        "summary": "Regenerate Key",
        "tags": [ "Telephony Keys" ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter that describes the Regenerate Key Operation.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TelephonyServiceName"
          }
        ],
        "responses": {
          "200": {
            "description": "Telephony service access key is regenerated",
            "schema": {
              "$ref": "#/definitions/TelephonyKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "consumes": [ "application/json" ],
        "produces": [ "application/json" ],
        "x-ms-examples": {
          "Regenerate key": {
            "$ref": "./examples/regenerateKey.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Result": {
      "description": "Sample result definition",
      "properties": {
        "sampleProperty": {
          "type": "string",
          "description": "Sample property of type string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicating why the requested operation could not be performed.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.ResourceProvider",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationList": {
      "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Resource Provider operations supported by the Resource Provider resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "TelephonyResourceList": {
      "description": "Object that includes an array of Telephony services and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Telephony services",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TelephonyResource"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "TelephonyResource": {
      "description": "A class representing a Telephony service resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/TelephonyProperties",
          "description": "The properties of the service.",
          "x-ms-client-flatten": true
        }
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "tags": {
          "description": "Tags of the service which is a list of key value pairs that describe the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "Resource": {
      "description": "The core properties of ARM resources.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Fully qualified resource ID for the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the service - e.g. \"Microsoft.Telephony/telephonyservices\"",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The Azure location where the Telephony service is running.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "TelephonyProperties": {
      "description": "A class that describes the properties of the Telephony service.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Running",
            "Creating",
            "Updating",
            "Deleting",
            "Moving"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "hostName": {
          "description": "FQDN of the Telephony service instance. Format: xxx.westus2.service.Telephony.net",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Version of the Telephony resource.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TelephonyKeys": {
      "description": "A class representing the access keys of Telephony service.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "The primary access key.",
          "type": "string"
        },
        "secondaryKey": {
          "description": "The secondary access key.",
          "type": "string"
        }
      }
    },
    "RegenerateKeyParameters": {
      "description": "Parameters describes the request to regenerate access keys",
      "type": "object",
      "properties": {
        "keyType": {
          "description": "The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive).",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": true
          }
        }
      }
    },
    "NameAvailabilityParameters": {
      "description": "Data POST-ed to the nameAvailability action",
      "required": [
        "type",
        "name"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The resource type. Should be always \"Microsoft.Telephony/telephonyservices\".",
          "type": "string"
        },
        "name": {
          "description": "The Telephony service name to validate. e.g.\"my-Telephony-name-here\"",
          "type": "string"
        }
      }
    },
    "NameAvailability": {
      "description": "Result of the request to check name availability. It contains a flag and possible reason of failure.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Indicates whether the name is available or not.",
          "type": "boolean"
        },
        "reason": {
          "description": "The reason of the availability. Required if name is not available.",
          "type": "string"
        },
        "message": {
          "description": "The message of the operation.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "TelephonyServiceName": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the Telephony resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "description": "The Azure region",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
