{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.OnlineExperimentation management service",
    "version": "2025-08-01-preview",
    "description": "Microsoft.OnlineExperimentation Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OnlineExperimentationWorkspaces"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "PrivateLinkResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.OnlineExperimentation/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Online Experimentation Workspaces operations.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OnlineExperimentation/workspaces": {
      "get": {
        "operationId": "OnlineExperimentationWorkspaces_ListBySubscription",
        "tags": [
          "OnlineExperimentationWorkspaces"
        ],
        "description": "Gets all online experimentation workspaces in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Online Experiment Workspaces in a subscription.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OnlineExperimentation/workspaces": {
      "get": {
        "operationId": "OnlineExperimentationWorkspaces_ListByResourceGroup",
        "tags": [
          "OnlineExperimentationWorkspaces"
        ],
        "description": "Gets all online experimentation workspaces in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List OnlineExperimentationWorkspaces in a resource group.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OnlineExperimentation/workspaces/{workspaceName}": {
      "get": {
        "operationId": "OnlineExperimentationWorkspaces_Get",
        "tags": [
          "OnlineExperimentationWorkspaces"
        ],
        "description": "Gets an online experimentation workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a single OnlineExperimentationWorkspace.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_Get.json"
          }
        }
      },
      "put": {
        "operationId": "OnlineExperimentationWorkspaces_CreateOrUpdate",
        "tags": [
          "OnlineExperimentationWorkspaces"
        ],
        "description": "Create an online experimentation workspace, or update an existing workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OnlineExperimentationWorkspace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspace"
            }
          },
          "201": {
            "description": "Resource 'OnlineExperimentationWorkspace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspace"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an OnlineExperimentationWorkspace with Free sku and customer managed key.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_CreateOrUpdateWithEncryption.json"
          },
          "Create or update an OnlineExperimentationWorkspace with Free sku.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_CreateOrUpdate.json"
          },
          "Create or update an OnlineExperimentationWorkspace with public network access disabled.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_CreateOrUpdateWithDisabledPublicNetworkAccess.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OnlineExperimentationWorkspaces_Update",
        "tags": [
          "OnlineExperimentationWorkspaces"
        ],
        "description": "Patch an online experimentation workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspacePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnlineExperimentationWorkspace"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an Online Experiment Workspace.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_Update.json"
          },
          "Update an Online Experimentation Workspace with customer managed encryption key.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_UpdateWithEncryption.json"
          },
          "Update an Online Experimentation Workspace with public network access.": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_UpdatePublicNetworkAccess.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OnlineExperimentationWorkspaces_Delete",
        "tags": [
          "OnlineExperimentationWorkspaces"
        ],
        "description": "Deletes an online experimentation workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Online Experimentation Workspace": {
            "$ref": "./examples/OnlineExperimentationWorkspaces_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OnlineExperimentation/workspaces/{workspaceName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_List",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets all the private endpoint connections configured on an online experimentation workspace resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists the Private Endpoint Connections.": {
            "$ref": "./examples/PrivateEndpointConnection_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OnlineExperimentation/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the private endpoint connection details for an online experimentation workspace resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnection",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnection_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_Update",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Updates private endpoint connection status (Approval/Rejected) for an online experimentation workspace resource. This gets invoked by resource admin.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnection",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates the Private Endpoint Connection.": {
            "$ref": "./examples/PrivateEndpointConnection_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes private endpoint connection for an online experimentation workspace resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnection",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes the Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnection_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OnlineExperimentation/workspaces/{workspaceName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_List",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets the list of private link resources for an online experimentation workspace resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResource_List ": {
            "$ref": "./examples/PrivateLinkResource_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OnlineExperimentation/workspaces/{workspaceName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "operationId": "PrivateLinkResources_Get",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Gets a private link resource for an online experimentation workspace resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workspaceName",
            "in": "path",
            "description": "The name of the OnlineExperimentationWorkspace",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*---)[a-z0-9-]{1,53}[a-z0-9]"
          },
          {
            "name": "privateLinkResourceName",
            "in": "path",
            "description": "The name of the PrivateLinkResource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-.]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Link Resource": {
            "$ref": "./examples/PrivateLinkResource_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CustomerManagedKeyEncryption": {
      "type": "object",
      "description": "Customer-managed key encryption properties for the resource.",
      "properties": {
        "keyEncryptionKeyIdentity": {
          "$ref": "#/definitions/KeyEncryptionKeyIdentity",
          "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault."
        },
        "keyEncryptionKeyUrl": {
          "type": "string",
          "format": "uri",
          "description": "key encryption key Url, versioned or non-versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek."
        }
      }
    },
    "KeyEncryptionKeyIdentity": {
      "type": "object",
      "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault.",
      "properties": {
        "identityType": {
          "$ref": "#/definitions/KeyEncryptionKeyIdentityType",
          "description": "The type of identity to use. Values can be systemAssignedIdentity, userAssignedIdentity, or delegatedResourceIdentity."
        },
        "userAssignedIdentityResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "User assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId. Mutually exclusive with identityType systemAssignedIdentity."
        },
        "federatedClientId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "application client identity to use for accessing key encryption key Url in a different tenant. Ex: f83c6b1b-4d34-47e4-bb34-9d83df58b540"
        }
      }
    },
    "KeyEncryptionKeyIdentityType": {
      "type": "string",
      "description": "The type of identity to use.",
      "enum": [
        "SystemAssignedIdentity",
        "UserAssignedIdentity"
      ],
      "x-ms-enum": {
        "name": "KeyEncryptionKeyIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssignedIdentity",
            "value": "SystemAssignedIdentity",
            "description": "System assigned identity"
          },
          {
            "name": "UserAssignedIdentity",
            "value": "UserAssignedIdentity",
            "description": "User assigned identity"
          }
        ]
      }
    },
    "OnlineExperimentationWorkspace": {
      "type": "object",
      "description": "An online experimentation workspace resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OnlineExperimentationWorkspaceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "sku": {
          "$ref": "#/definitions/OnlineExperimentationWorkspaceSku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OnlineExperimentationWorkspaceListResult": {
      "type": "object",
      "description": "The response of a OnlineExperimentationWorkspace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OnlineExperimentationWorkspace items on this page",
          "items": {
            "$ref": "#/definitions/OnlineExperimentationWorkspace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OnlineExperimentationWorkspacePatch": {
      "type": "object",
      "description": "Partial update of an online experimentation workspace resource.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/OnlineExperimentationWorkspaceSkuUpdate",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        },
        "properties": {
          "type": "object",
          "description": "Updatable properties of the online experimentation workspace resource.",
          "properties": {
            "logAnalyticsWorkspaceResourceId": {
              "type": "string",
              "format": "arm-id",
              "description": "The resource identifier of the Log Analytics workspace which online experimentation workspace uses for generating experiment analysis results.",
              "x-ms-arm-id-details": {
                "allowedResources": [
                  {
                    "type": "Microsoft.OperationalInsights/workspaces"
                  }
                ]
              }
            },
            "logsExporterStorageAccountResourceId": {
              "type": "string",
              "format": "arm-id",
              "description": "The resource identifier of storage account where logs are exported from Log Analytics workspace. online experimentation workspace uses it generating experiment analysis results.",
              "x-ms-arm-id-details": {
                "allowedResources": [
                  {
                    "type": "Microsoft.Storage/storageAccounts"
                  }
                ]
              }
            },
            "encryption": {
              "$ref": "#/definitions/ResourceEncryptionConfiguration",
              "description": "The encryption configuration for the online experimentation workspace resource."
            },
            "publicNetworkAccess": {
              "$ref": "#/definitions/PublicNetworkAccessType",
              "description": "Public Network Access Control for the online experimentation resource. Defaults to Enabled if set to null.\n- Enabled: The resource can be accessed from the public internet.\n- Disabled: The resource can only be accessed from a private endpoint."
            }
          }
        }
      }
    },
    "OnlineExperimentationWorkspaceProperties": {
      "type": "object",
      "description": "The properties of an online experimentation workspace.",
      "properties": {
        "workspaceId": {
          "type": "string",
          "description": "The Id of the workspace.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state for the resource",
          "readOnly": true
        },
        "logAnalyticsWorkspaceResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the Log Analytics workspace which online experimentation workspace uses for generating experiment analysis results.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "logsExporterStorageAccountResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of storage account where logs are exported from Log Analytics workspace. online experimentation workspace uses it generating experiment analysis results.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        },
        "appConfigurationResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of App Configuration with which this online experimentation workspace is tied for experimentation. This is a required field for creating an online experimentation workspace.",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.AppConfiguration/configurationStores"
              }
            ]
          }
        },
        "encryption": {
          "$ref": "#/definitions/ResourceEncryptionConfiguration",
          "description": "The encryption configuration for the online experimentation workspace resource."
        },
        "endpoint": {
          "type": "string",
          "format": "uri",
          "description": "The data plane endpoint for the online experimentation workspace resource.",
          "readOnly": true
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccessType",
          "description": "Public Network Access Control for the online experimentation resource. Defaults to Enabled if not set.\n- Enabled: The resource can be accessed from the public internet.\n- Disabled: The resource can only be accessed from a private endpoint."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The private endpoint connections associated with the online experimentation workspace resource.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        }
      },
      "required": [
        "logAnalyticsWorkspaceResourceId",
        "logsExporterStorageAccountResourceId",
        "appConfigurationResourceId"
      ]
    },
    "OnlineExperimentationWorkspaceSku": {
      "type": "object",
      "description": "The SKU (Stock Keeping Unit) assigned to this resource.",
      "properties": {
        "name": {
          "$ref": "#/definitions/OnlineExperimentationWorkspaceSkuName",
          "description": "The name of the SKU. Ex - F0, P0. It is typically a letter+number code"
        },
        "tier": {
          "$ref": "#/definitions/OnlineExperimentationWorkspaceSkuTier",
          "description": "The name of the SKU tier",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ]
    },
    "OnlineExperimentationWorkspaceSkuName": {
      "type": "string",
      "description": "The allowed SKU names for the online experimentation workspace.",
      "enum": [
        "F0",
        "S0",
        "P0",
        "D0"
      ],
      "x-ms-enum": {
        "name": "OnlineExperimentationWorkspaceSkuName",
        "modelAsString": true,
        "values": [
          {
            "name": "F0",
            "value": "F0",
            "description": "The Free service sku name."
          },
          {
            "name": "S0",
            "value": "S0",
            "description": "The Standard service sku name."
          },
          {
            "name": "P0",
            "value": "P0",
            "description": "The Premium service sku name."
          },
          {
            "name": "D0",
            "value": "D0",
            "description": "The Developer service sku name."
          }
        ]
      }
    },
    "OnlineExperimentationWorkspaceSkuTier": {
      "type": "string",
      "description": "The allowed SKU tiers for the online experimentation workspace.",
      "enum": [
        "Free",
        "Standard",
        "Premium",
        "Developer"
      ],
      "x-ms-enum": {
        "name": "OnlineExperimentationWorkspaceSkuTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Free",
            "value": "Free",
            "description": "The Free service tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "The Standard service tier."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "The Premium service tier."
          },
          {
            "name": "Developer",
            "value": "Developer",
            "description": "The Developer service tier."
          }
        ]
      }
    },
    "OnlineExperimentationWorkspaceSkuUpdate": {
      "type": "object",
      "description": "The SKU (Stock Keeping Unit) assigned to this resource.",
      "properties": {
        "name": {
          "$ref": "#/definitions/OnlineExperimentationWorkspaceSkuName",
          "description": "The name of the SKU. Ex - F0, P0. It is typically a letter+number code"
        }
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "Private endpoint connection resource for an online experimentation workspace resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "A private link resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateLinkResourceListResult": {
      "type": "object",
      "description": "The response of a PrivateLinkResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateLinkResource items on this page",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PublicNetworkAccessType": {
      "type": "string",
      "description": "The public network access type for an online experimentation resource.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccessType",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled: The resource can be accessed from the public internet"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled: The resource can only be accessed from a private endpoint."
          }
        ]
      }
    },
    "ResourceEncryptionConfiguration": {
      "type": "object",
      "description": "The encryption configuration for the online experimentation workspace resource.",
      "properties": {
        "customerManagedKeyEncryption": {
          "$ref": "#/definitions/CustomerManagedKeyEncryption",
          "description": "All Customer-managed key encryption properties for the resource."
        }
      }
    }
  },
  "parameters": {}
}
