{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsComponentLinkedStorageAccountsClient",
    "version": "2020-03-01-preview",
    "description": "Azure Application Insights client for setting linked storage account.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/linkedStorageAccounts/{storageType}": {
      "get": {
        "operationId": "ComponentLinkedStorageAccounts_Get",
        "description": "Returns the current linked storage settings for an Application Insights component.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Application Insights component resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageType",
            "in": "path",
            "description": "The type of the Application Insights component data source for the linked storage account.",
            "required": true,
            "type": "string",
            "enum": [
              "ServiceProfiler"
            ],
            "x-ms-enum": {
              "name": "StorageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "ServiceProfiler",
                  "value": "ServiceProfiler",
                  "description": "ServiceProfiler"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComponentLinkedStorageAccounts"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsCommonTypes.ErrorResponseLinkedStorage"
            }
          }
        },
        "x-ms-examples": {
          "ComponentLinkedStorageAccountsGet": {
            "$ref": "./examples/ComponentLinkedStorageAccountsGet.json"
          }
        }
      },
      "put": {
        "operationId": "ComponentLinkedStorageAccounts_CreateAndUpdate",
        "description": "Replace current linked storage account for an Application Insights component.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Application Insights component resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageType",
            "in": "path",
            "description": "The type of the Application Insights component data source for the linked storage account.",
            "required": true,
            "type": "string",
            "enum": [
              "ServiceProfiler"
            ],
            "x-ms-enum": {
              "name": "StorageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "ServiceProfiler",
                  "value": "ServiceProfiler",
                  "description": "ServiceProfiler"
                }
              ]
            }
          },
          {
            "name": "LinkedStorageAccountsProperties",
            "in": "body",
            "description": "Properties that need to be specified to update linked storage accounts for an Application Insights component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ComponentLinkedStorageAccounts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ComponentLinkedStorageAccounts' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ComponentLinkedStorageAccounts"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsCommonTypes.ErrorResponseLinkedStorage"
            }
          }
        },
        "x-ms-examples": {
          "ComponentLinkedStorageAccountsCreateAndUpdate": {
            "$ref": "./examples/ComponentLinkedStorageAccountsCreateAndUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ComponentLinkedStorageAccounts_Update",
        "description": "Update linked storage accounts for an Application Insights component.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Application Insights component resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageType",
            "in": "path",
            "description": "The type of the Application Insights component data source for the linked storage account.",
            "required": true,
            "type": "string",
            "enum": [
              "ServiceProfiler"
            ],
            "x-ms-enum": {
              "name": "StorageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "ServiceProfiler",
                  "value": "ServiceProfiler",
                  "description": "ServiceProfiler"
                }
              ]
            }
          },
          {
            "name": "LinkedStorageAccountsProperties",
            "in": "body",
            "description": "Properties that need to be specified to update a linked storage accounts for an Application Insights component.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ComponentLinkedStorageAccountsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ComponentLinkedStorageAccounts"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsCommonTypes.ErrorResponseLinkedStorage"
            }
          }
        },
        "x-ms-examples": {
          "ComponentLinkedStorageAccountsUpdate": {
            "$ref": "./examples/ComponentLinkedStorageAccountsUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ComponentLinkedStorageAccounts_Delete",
        "description": "Delete linked storage accounts for an Application Insights component.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The name of the Application Insights component resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "storageType",
            "in": "path",
            "description": "The type of the Application Insights component data source for the linked storage account.",
            "required": true,
            "type": "string",
            "enum": [
              "ServiceProfiler"
            ],
            "x-ms-enum": {
              "name": "StorageType",
              "modelAsString": true,
              "values": [
                {
                  "name": "ServiceProfiler",
                  "value": "ServiceProfiler",
                  "description": "ServiceProfiler"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApplicationInsightsCommonTypes.ErrorResponseLinkedStorage"
            }
          }
        },
        "x-ms-examples": {
          "ComponentLinkedStorageAccountsDelete": {
            "$ref": "./examples/ComponentLinkedStorageAccountsDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ApplicationInsightsCommonTypes.ErrorResponseLinkedStorage": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ApplicationInsightsCommonTypes.ErrorResponseLinkedStorageError",
          "description": "Error response indicates Insights service is not able to process the incoming request. The reason is provided in the error message."
        }
      }
    },
    "ApplicationInsightsCommonTypes.ErrorResponseLinkedStorageError": {
      "type": "object",
      "description": "Error response indicates Insights service is not able to process the incoming request. The reason is provided in the error message.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error message indicating why the operation failed.",
          "readOnly": true
        }
      }
    },
    "ComponentLinkedStorageAccounts": {
      "type": "object",
      "description": "An Application Insights component linked storage accounts",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedStorageAccountsProperties",
          "description": "The properties of the linked storage accounts.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ComponentLinkedStorageAccountsPatch": {
      "type": "object",
      "description": "An Application Insights component linked storage accounts patch",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedStorageAccountsProperties",
          "description": "The properties of the linked storage accounts.",
          "x-ms-client-flatten": true
        }
      }
    },
    "LinkedStorageAccountsProperties": {
      "type": "object",
      "description": "An Application Insights component linked storage account",
      "properties": {
        "linkedStorageAccount": {
          "type": "string",
          "description": "Linked storage account resource ID"
        }
      }
    }
  },
  "parameters": {}
}
