{
  "swagger": "2.0",
  "info": {
    "title": "Test Base",
    "description": "Test Base",
    "version": "2023-12-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/freeHourBalances": {
      "get": {
        "tags": [
          "Free Hour Balances"
        ],
        "operationId": "FreeHourBalances_List",
        "summary": "List all the free hour balances of a test base account. The result collection will only contain one element as all the data will be nested in a singleton object.",
        "description": "Return the Test Base free hour balances list.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Succeeded to list the Test Base free hour balances.",
            "schema": {
              "$ref": "#/definitions/FreeHourBalancesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FreeHourBalancesList": {
            "$ref": "./examples/FreeHourBalancesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/freeHourBalances/{freeHourBalanceName}": {
      "get": {
        "tags": [
          "Free Hour Balances"
        ],
        "operationId": "FreeHourBalances_Get",
        "summary": "Get the free hour balance of a test base account.",
        "description": "Return the Test Base free hour balance.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/FreeHourBalanceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Succeeded to get the Test Base free hour balance.",
            "schema": {
              "$ref": "#/definitions/FreeHourBalanceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FreeHourBalanceGet": {
            "$ref": "./examples/FreeHourBalanceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.TestBase/skus": {
      "get": {
        "tags": [
          "test base account"
        ],
        "operationId": "Skus_List",
        "description": "Lists the available SKUs of Test Base Account in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountSKUListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBaseAccountSKUsList": {
            "$ref": "./examples/TestBaseAccountSKUsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.TestBase/testBaseAccounts": {
      "get": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_ListBySubscription",
        "description": "Lists all the Test Base Accounts in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountIncludeSoftDeletedParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBaseAccountsListBySubscription": {
            "$ref": "./examples/TestBaseAccountsListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts": {
      "get": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_ListByResourceGroup",
        "description": "Lists all the Test Base Accounts in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountIncludeSoftDeletedParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBaseAccountsList": {
            "$ref": "./examples/TestBaseAccountsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}": {
      "put": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_Create",
        "description": "Create or replace (overwrite/recreate, with potential downtime) a Test Base Account in the specified subscription.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestBaseAccountResource"
            },
            "description": "Parameters supplied to create a Test Base Account."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountRestoreSoftDeletedParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Account was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountResource"
            }
          },
          "201": {
            "description": "The Test Base Account 'create' or 'update' operation was successfully enqueued. Check provisioningState to see detailed status.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/TestBaseAccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseAccountCreate": {
            "$ref": "./examples/TestBaseAccountCreate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_Update",
        "description": "Update an existing Test Base Account.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestBaseAccountUpdateParameters"
            },
            "description": "Parameters supplied to update a Test Base Account."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The existing Test Base Account was successfully updated.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountResource"
            }
          },
          "201": {
            "description": "The Test Base Account 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "The Test Base Account 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseAccountUpdate": {
            "$ref": "./examples/TestBaseAccountUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_Delete",
        "description": "Deletes a Test Base Account.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Account 'delete' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base Account 'delete' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base Account 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseAccountDelete": {
            "$ref": "./examples/TestBaseAccountDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_Get",
        "description": "Gets a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Account was successfully found.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseAccountGet": {
            "$ref": "./examples/TestBaseAccountGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/offboard": {
      "post": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "TestBaseAccounts_Offboard",
        "description": "Offboard a Test Base Account.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Account 'offboard' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base Account 'offboard' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base Account 'offboard' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseAccountOffboard": {
            "$ref": "./examples/TestBaseAccountOffboard.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/usages": {
      "get": {
        "tags": [
          "Test Base Account"
        ],
        "operationId": "Usage_List",
        "description": "Lists the usage data of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usage of the Test Base Account was returned.",
            "schema": {
              "$ref": "#/definitions/TestBaseAccountUsageDataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBaseAccountUsagesList": {
            "$ref": "./examples/TestBaseAccountUsagesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/getFileUploadUrl": {
      "post": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "TestBaseAccounts_GetFileUploadUrl",
        "description": "Gets the file upload URL of a Test Base Account.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GetFileUploadURLParameters"
            },
            "description": "Parameters supplied to the Test Base Account GetFileUploadURL operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The file upload URL of the Test Base Account was returned.",
            "schema": {
              "$ref": "#/definitions/FileUploadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseAccountGetFileUploadUrl": {
            "$ref": "./examples/TestBaseAccountGetFileUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableOSs": {
      "get": {
        "tags": [
          "Supported OSes"
        ],
        "operationId": "AvailableOS_List",
        "description": "Lists all the available OSs to run a package under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/OSUpdateTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AvailableOSListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvailableOSsList": {
            "$ref": "./examples/AvailableOSsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableOSs/{availableOSResourceName}": {
      "get": {
        "tags": [
          "Supported OSes"
        ],
        "operationId": "AvailableOS_Get",
        "description": "Gets an available OS to run a package under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "name": "availableOSResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of an Available OS."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AvailableOSResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailableOSGet": {
            "$ref": "./examples/AvailableOSGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/featureUpdateSupportedOses": {
      "get": {
        "tags": [
          "Supported OSes"
        ],
        "operationId": "FeatureUpdateSupportedOses_List",
        "description": "Lists all the available OSs to run a package under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FeatureUpdateSupportedOsesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FeatureUpdateSupportedOsesList": {
            "$ref": "./examples/FeatureUpdateSupportedOsesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/flightingRings": {
      "get": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "FlightingRings_List",
        "description": "Lists all the flighting rings of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FlightingRingListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FlightingRingsList": {
            "$ref": "./examples/FlightingRingsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/flightingRings/{flightingRingResourceName}": {
      "get": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "FlightingRings_Get",
        "description": "Gets a flighting ring of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "name": "flightingRingResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of a flighting ring."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FlightingRingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FlightingRingGet": {
            "$ref": "./examples/FlightingRingGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/firstPartyApps": {
      "get": {
        "tags": [
          "First Party Applications"
        ],
        "operationId": "FirstPartyApps_List",
        "description": "Lists all first party applications currently available for test runs under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FirstPartyAppListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FirstPartyAppsList": {
            "$ref": "./examples/FirstPartyAppsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/firstPartyApps/{firstPartyAppResourceName}": {
      "get": {
        "tags": [
          "First Party Applications"
        ],
        "operationId": "FirstPartyApps_Get",
        "description": "Gets a first party application to prepare a test run for a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "name": "firstPartyAppResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of a first party application."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FirstPartyAppResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FirstPartyAppsGet": {
            "$ref": "./examples/FirstPartyAppGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/galleryApps": {
      "get": {
        "tags": [
          "Gallery Applications"
        ],
        "operationId": "GalleryApps_List",
        "description": "Lists all gallery applications currently available for test runs under a Test Base Account which matches user query.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/KeywordParameter"
          },
          {
            "name": "applicationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Winget"
            ],
            "x-ms-enum": {
              "name": "applicationType",
              "modelAsString": true
            },
            "x-ms-parameter-location": "method",
            "description": "The type of the gallery application."
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "popularity",
              "relevance"
            ],
            "x-ms-enum": {
              "name": "orderBy",
              "modelAsString": true
            },
            "default": "relevance",
            "x-ms-parameter-location": "method",
            "description": "The order of result list."
          },
          {
            "$ref": "#/parameters/TopFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/GalleryAppListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GalleryAppsList": {
            "$ref": "./examples/GalleryAppsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/galleryApps/{galleryAppName}": {
      "get": {
        "tags": [
          "Gallery Applications"
        ],
        "operationId": "GalleryApps_Get",
        "description": "Gets a gallery application to prepare a test run for a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryAppNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/GalleryAppResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GalleryAppsGet": {
            "$ref": "./examples/GalleryAppGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/galleryApps/{galleryAppName}/galleryAppSkus": {
      "get": {
        "tags": [
          "Gallery Applications"
        ],
        "operationId": "GalleryAppSkus_List",
        "description": "Lists all SKUs of a gallery application currently available for test runs under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryAppNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/GalleryAppSkuListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GalleryAppSkusList": {
            "$ref": "./examples/GalleryAppsSkusList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/galleryApps/{galleryAppName}/galleryAppSkus/{galleryAppSkuName}": {
      "get": {
        "tags": [
          "Gallery Applications"
        ],
        "operationId": "GalleryAppSkus_Get",
        "description": "Gets a gallery application SKU to prepare a test run for a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/GalleryAppNameParameter"
          },
          {
            "name": "galleryAppSkuName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of a gallery application SKU."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/GalleryAppSkuResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GalleryAppsSkuGet": {
            "$ref": "./examples/GalleryAppSkuGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/testTypes": {
      "get": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "TestTypes_List",
        "description": "Lists all the test types of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestTypeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestTypesList": {
            "$ref": "./examples/TestTypesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/testTypes/{testTypeResourceName}": {
      "get": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "TestTypes_Get",
        "description": "Gets a test type of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "name": "testTypeResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of a test type."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestTypeResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestTypeGet": {
            "$ref": "./examples/TestTypeGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/checkPackageNameAvailability": {
      "post": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "TestBaseAccounts_CheckPackageNameAvailability",
        "description": "Checks that the Test Base Package name and version is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageCheckNameAvailabilityParameters"
            },
            "description": "Parameters supplied to the Test Base Package CheckNameAvailability operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Name is available",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckPackageNameAvailability": {
            "$ref": "./examples/CheckPackageNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages": {
      "get": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_ListByTestBaseAccount",
        "description": "Lists all the packages under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/PackageListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PackagesList": {
            "$ref": "./examples/PackagesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}": {
      "put": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_Create",
        "description": "Create or replace (overwrite/recreate, with potential downtime) a Test Base Package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageResource"
            },
            "description": "Parameters supplied to create a Test Base Package."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Package was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "201": {
            "description": "The Test Base Package 'create' or 'update' operation was successfully enqueued. Check provisioningState to see detailed status.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageCreate": {
            "$ref": "./examples/PackageCreate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_Update",
        "description": "Update an existing Test Base Package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageUpdateParameters"
            },
            "description": "Parameters supplied to update a Test Base Package."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The existing Test Base Package was successfully updated. Check provisioningState to see detailed status.",
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "201": {
            "description": "The Test Base Package 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "The Test Base Package 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageUpdate": {
            "$ref": "./examples/PackageUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_Delete",
        "description": "Deletes a Test Base Package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Package 'delete' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base Package 'delete' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base Package 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageDelete": {
            "$ref": "./examples/PackageDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_Get",
        "description": "Gets a Test Base Package.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Package was successfully found.",
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageGet": {
            "$ref": "./examples/PackageGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/hardDelete": {
      "post": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_HardDelete",
        "description": "Hard Delete a Test Base Package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Package 'HardDelete' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base Package 'HardDelete' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base Package 'HardDelete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageHardDelete": {
            "$ref": "./examples/PackageHardDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/getDownloadUrl": {
      "post": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_GetDownloadURL",
        "description": "Gets the download URL of a package.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The package download URL is returned.",
            "schema": {
              "$ref": "#/definitions/DownloadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageGetDownloadURL": {
            "$ref": "./examples/PackageGetDownloadURL.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/runTest": {
      "post": {
        "tags": [
          "Test Base Package"
        ],
        "operationId": "Packages_RunTest",
        "description": "Trigger a test run on the package.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PackageRunTestParameters"
            },
            "description": "The parameters supplied to the Test Base Package to start a Test Run."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The test is triggered successfully."
          },
          "202": {
            "description": "The request to trigger a test was accepted. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The test is triggered successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageRunTest": {
            "$ref": "./examples/PackageRunTest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/testSummaries": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestSummaries_List",
        "description": "Lists the Test Summaries of all the packages under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestSummaryListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestSummariesList": {
            "$ref": "./examples/TestSummariesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/testSummaries/{testSummaryName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestSummaries_Get",
        "description": "Gets a Test Summary with specific name from all the Test Summaries of all the packages under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "name": "testSummaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the Test Summary."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestSummaryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestSummaryGet": {
            "$ref": "./examples/TestSummaryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResults_List",
        "description": "Lists all the Test Results with specified OS Update type for a Test Base Package. Can be filtered by osName, releaseName, flightingRing, buildVersion, buildRevision.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/OSUpdateTypeParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestResultListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestResultsList": {
            "$ref": "./examples/TestResultsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResults_Get",
        "description": "Get the Test Result by Id with specified OS Update type for a Test Base Package.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestResultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestResultGet": {
            "$ref": "./examples/TestResultGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/osUpdates": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "OSUpdates_List",
        "description": "Lists the OS Updates in which the package were tested before.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/OSUpdateTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/OSUpdateListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OSUpdatesList": {
            "$ref": "./examples/OSUpdatesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/osUpdates/{osUpdateResourceName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "OSUpdates_Get",
        "description": "Gets an OS Update by name in which the package was tested before.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "name": "osUpdateResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of an OS Update."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/OSUpdateResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OSUpdateGet": {
            "$ref": "./examples/OSUpdateGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/favoriteProcesses": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcesses_List",
        "description": "Lists the favorite processes for a specific package.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FavoriteProcessListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FavoriteProcessesList": {
            "$ref": "./examples/FavoriteProcessesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/favoriteProcesses/{favoriteProcessResourceName}": {
      "put": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcesses_Create",
        "description": "Create or replace a favorite process for a Test Base Package.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FavoriteProcessResource"
            },
            "description": "Parameters supplied to create a favorite process in a package."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/FavoriteProcessResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The favorite processes was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/FavoriteProcessResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FavoriteProcessCreate": {
            "$ref": "./examples/FavoriteProcessCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcesses_Delete",
        "description": "Deletes a favorite process for a specific package.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/FavoriteProcessResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The package favorite process 'delete' operation was completed successfully."
          },
          "204": {
            "description": "The package favorite process 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FavoriteProcessDelete": {
            "$ref": "./examples/FavoriteProcessDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcesses_Get",
        "description": "Gets a favorite process for a Test Base Package.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/FavoriteProcessResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FavoriteProcessResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FavoriteProcessGet": {
            "$ref": "./examples/FavoriteProcessGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}/analysisResults": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "AnalysisResults_List",
        "description": "Lists the Analysis Results of a Test Result. The result collection will only contain one element as all the data will be nested in a singleton object.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "#/parameters/AnalysisResultTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AnalysisResultListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "ScriptExecutionAnalysisResultsList": {
            "$ref": "./examples/ScriptExecutionAnalysisResultsList.json"
          },
          "MemoryUtilizationAnalysisResultsList": {
            "$ref": "./examples/MemoryUtilizationAnalysisResultsList.json"
          },
          "CPUUtilizationAnalysisResultsList": {
            "$ref": "./examples/CPUUtilizationAnalysisResultsList.json"
          },
          "MemoryRegressionAnalysisResultsList": {
            "$ref": "./examples/MemoryRegressionAnalysisResultsList.json"
          },
          "CPURegressionAnalysisResultsList": {
            "$ref": "./examples/CPURegressionAnalysisResultsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}/analysisResults/{analysisResultName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "AnalysisResults_Get",
        "description": "Gets an Analysis Result of a Test Result by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "#/parameters/AnalysisResultNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AnalysisResultSingletonResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ScriptExecutionAnalysisResultGet": {
            "$ref": "./examples/ScriptExecutionAnalysisResultGet.json"
          },
          "MemoryUtilizationAnalysisResultGet": {
            "$ref": "./examples/MemoryUtilizationAnalysisResultGet.json"
          },
          "CPUUtilizationAnalysisResultGet": {
            "$ref": "./examples/CPUUtilizationAnalysisResultGet.json"
          },
          "MemoryRegressionAnalysisResultGet": {
            "$ref": "./examples/MemoryRegressionAnalysisResultGet.json"
          },
          "CPURegressionAnalysisResultGet": {
            "$ref": "./examples/CPURegressionAnalysisResultGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}/getDownloadUrl": {
      "post": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResults_GetDownloadURL",
        "description": "Gets the download URL of the test result.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/DownloadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestResultGetDownloadURL": {
            "$ref": "./examples/TestResultGetDownloadURL.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}/getVideoDownloadUrl": {
      "post": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResults_GetVideoDownloadURL",
        "description": "Gets the download URL of the test execution screen recording.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/DownloadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestResultGetVideoDownloadURL": {
            "$ref": "./examples/TestResultGetVideoDownloadURL.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults/{testResultName}/getConsoleLogDownloadUrl": {
      "post": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResults_GetConsoleLogDownloadURL",
        "description": "Gets the download URL of the test execution console log file.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestResultConsoleLogDownloadURLParameters"
            },
            "description": "Parameters supplied to the Test Result GetConsoleLogDownloadUrl operation."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/DownloadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestResultGetConsoleLogDownloadURL": {
            "$ref": "./examples/TestResultGetConsoleLogDownloadURL.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/emailEvents": {
      "get": {
        "tags": [
          "Test Base Email Event"
        ],
        "operationId": "EmailEvents_List",
        "description": "Lists all the email events of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/EmailEventListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EmailEventsList": {
            "$ref": "./examples/EmailEventsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/emailEvents/{emailEventResourceName}": {
      "get": {
        "tags": [
          "Test Base Email Event"
        ],
        "operationId": "EmailEvents_Get",
        "description": "Gets a email event of a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TestBaseAccountNameParameter"
          },
          {
            "name": "emailEventResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of an email event."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/EmailEventResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmailEventGet": {
            "$ref": "./examples/EmailEventGet.json"
          }
[...]
