{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ArcNetworking",
    "version": "2023-07-01-preview",
    "description": "Microsoft.ArcNetworking Resource Provider management API."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ArcNwLoadBalancer"
    }
  ],
  "paths": {
    "/providers/Microsoft.ArcNetworking/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ArcNetworking/arcNwLoadBalancers": {
      "get": {
        "operationId": "ArcNwLoadBalancer_ListBySubscription",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "List ArcNwLoadBalancerResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_ListBySubscription": {
            "$ref": "./examples/ArcNwLoadBalancer_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcNetworking/arcNwLoadBalancers": {
      "get": {
        "operationId": "ArcNwLoadBalancer_ListByResourceGroup",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "List ArcNwLoadBalancerResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_ListByResourceGroup": {
            "$ref": "./examples/ArcNwLoadBalancer_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ArcNetworking/arcNwLoadBalancers/{arcNwLoadBalancerName}": {
      "get": {
        "operationId": "ArcNwLoadBalancer_Get",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Get a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ArcNwLoadBalancerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_Get": {
            "$ref": "./examples/ArcNwLoadBalancer_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ArcNwLoadBalancer_CreateOrUpdate",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Create a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ArcNwLoadBalancerNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ArcNwLoadBalancerResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          },
          "201": {
            "description": "Resource 'ArcNwLoadBalancerResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_CreateOrUpdate": {
            "$ref": "./examples/ArcNwLoadBalancer_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ArcNwLoadBalancer_Update",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Update a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ArcNwLoadBalancerNameParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcNwLoadBalancerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_Update": {
            "$ref": "./examples/ArcNwLoadBalancer_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ArcNwLoadBalancer_Delete",
        "tags": [
          "ArcNwLoadBalancer"
        ],
        "description": "Delete a ArcNwLoadBalancerResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ArcNwLoadBalancerNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArcNwLoadBalancer_Delete": {
            "$ref": "./examples/ArcNwLoadBalancer_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AdvertiseMode": {
      "type": "string",
      "description": "Enum of advertise mode",
      "enum": [
        "ARP",
        "BGP",
        "Both"
      ],
      "x-ms-enum": {
        "name": "AdvertiseMode",
        "modelAsString": true,
        "values": [
          {
            "name": "ARP",
            "value": "ARP",
            "description": "ARP advertise mode "
          },
          {
            "name": "BGP",
            "value": "BGP",
            "description": "BGP advertise mode"
          },
          {
            "name": "Both",
            "value": "Both",
            "description": "both ARP and BGP advertise mode"
          }
        ]
      }
    },
    "ArcNwLoadBalancerProperties": {
      "type": "object",
      "description": "ArcNwLoadBalancer properties",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "IP Range",
          "items": {
            "type": "string"
          }
        },
        "serviceSelector": {
          "type": "object",
          "description": "A dynamic label mapping to select related services. For instance, if you want to create a load balancer only for services with label \"a=b\", then please specify {\"a\": \"b\"} in the field.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "advertiseMode": {
          "$ref": "#/definitions/AdvertiseMode",
          "description": "Advertise Mode"
        },
        "status": {
          "$ref": "#/definitions/ArcNwLoadBalancerStatus",
          "description": "Actual Status of the ArcNwLoadBalancer",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Resource provision state",
          "readOnly": true
        }
      },
      "required": [
        "addresses",
        "advertiseMode"
      ]
    },
    "ArcNwLoadBalancerResource": {
      "type": "object",
      "description": "ArcNwLoadBalancer resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ArcNwLoadBalancerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "Custom location of ArcNwLoadBalancer"
        }
      },
      "required": [
        "extendedLocation"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ArcNwLoadBalancerResourceListResult": {
      "type": "object",
      "description": "The response of a ArcNwLoadBalancerResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ArcNwLoadBalancerResource items on this page",
          "items": {
            "$ref": "#/definitions/ArcNwLoadBalancerResource"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ArcNwLoadBalancerResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the ArcNwLoadBalancerResource.",
      "properties": {
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocationUpdate",
          "description": "Custom location of ArcNwLoadBalancer"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ArcNwLoadBalancerResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArcNwLoadBalancerResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the ArcNwLoadBalancerResource.",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "IP Range",
          "items": {
            "type": "string"
          }
        },
        "serviceSelector": {
          "type": "object",
          "description": "A dynamic label mapping to select related services. For instance, if you want to create a load balancer only for services with label \"a=b\", then please specify {\"a\": \"b\"} in the field.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "advertiseMode": {
          "$ref": "#/definitions/AdvertiseMode",
          "description": "Advertise Mode"
        }
      }
    },
    "ArcNwLoadBalancerStatus": {
      "type": "object",
      "description": "The status of the ArcNwLoadBalancer",
      "properties": {
        "state": {
          "$ref": "#/definitions/State",
          "description": "The state of the ArcNwLoadBalancer",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "description": "Error message",
          "readOnly": true
        }
      }
    },
    "ExtendedLocation": {
      "type": "object",
      "description": "extended location",
      "properties": {
        "type": {
          "type": "string",
          "description": "extended location type: CustomLocation"
        },
        "name": {
          "type": "string",
          "description": "extended location resource id"
        }
      },
      "required": [
        "type",
        "name"
      ]
    },
    "ExtendedLocationUpdate": {
      "type": "object",
      "description": "extended location",
      "properties": {
        "type": {
          "type": "string",
          "description": "extended location type: CustomLocation"
        },
        "name": {
          "type": "string",
          "description": "extended location resource id"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "State": {
      "type": "string",
      "description": "Enum of load balancer state",
      "enum": [
        "OK",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "OK",
            "value": "OK",
            "description": "The load balancer is OK"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failure occurred when creating or deleting the load balancer"
          }
        ]
      }
    }
  },
  "parameters": {
    "ArcNwLoadBalancerNameParameter": {
      "name": "arcNwLoadBalancerName",
      "in": "path",
      "description": "Name of ArcNwLoadBalancer",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    }
  }
}
