{
    "swagger": "2.0",
    "info": {
        "title": "Custom Translator",
        "version": "1.0",
        "description": "Documentation for the Microsoft Custom Translator API<br/>C# code sample: https://github.com/MicrosoftTranslator/CustomTranslatorApiSamples",
        "contact": {
            "name": "Microsoft Custom Translator",
            "email": "custommt@microsoft.com"
        }
    },
    "host": "cognitivegbldev.azure-api.net",
    "basePath": "/translator/customtranslator",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/api/texttranslator/v1.0/models/{id}/undeployhubmodel": {
            "delete": {
                "description": "Accepts a request to undeploy a Hub model deployed to API V3.",
                "operationId": "Model_Undeploy",
                "tags": [
                    "Model"
                ],
                "summary": "Accepts a request to undeploy a Hub model deployed to API V3.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. Id of the corresponding model in Custom Translator with status Hub Deployed.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/subscriptions": {
            "get": {
                "description": "Gets the translator text subscription for this workspace.",
                "operationId": "Subscription_Get",
                "tags": [
                    "Subscription"
                ],
                "summary": "Gets the translator text subscription for this workspace.",
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "description": "Workspace id",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorSubscriptionResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": \"string\",\r\n  \"Name\": \"string\",\r\n  \"Kind\": \"string\",\r\n  \"Sku\": \"string\",\r\n  \"IsCMKEnabled\": true,\r\n  \"Region\": {\r\n    \"BillingRegionCode\": \"string\",\r\n    \"BillingRegionName\": \"string\"\r\n  },\r\n  \"Billing\": {\r\n    \"IsPaidSubscription\": true,\r\n    \"MaximumCharacterCount\": 0,\r\n    \"PricePerMillionCharacters\": 0.0\r\n  }\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/workspaces/{id}/users": {
            "post": {
                "description": "Adds users to the workspace. If the user already has permissions to the \r\nworkspace, this  will update their level of permissions to whatever is\r\nspecified.",
                "operationId": "Workspace_UpdateUsers",
                "tags": [
                    "Workspace"
                ],
                "summary": "Adds users to the workspace. If the user already has permissions to the \r\nworkspace, this  will update their level of permissions to whatever is\r\nspecified.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id for the workspace",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "apiTexttranslatorV1-0Workspaces-id-UsersPostRequest-1",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorWorkspacePermissionInfo"
                            },
                            "example": "[\r\n  {\r\n    \"EmailAddress\": \"string\",\r\n    \"RoleId\": 0\r\n  }\r\n]"
                        },
                        "description": "The users to be added"
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "The request was not formatted correctly."
                    },
                    "404": {
                        "description": "The user does not have permission to access the given workspace, or it does not exist."
                    }
                }
            },
            "get": {
                "description": "Gets the list of users with access to a specific workspace",
                "operationId": "Workspace_ListUsers",
                "tags": [
                    "Workspace"
                ],
                "summary": "Gets the list of users with access to a specific workspace",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id for the workspace",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorWorkspaceUsersResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Users\": [\r\n    {\r\n      \"Id\": 0,\r\n      \"User\": {\r\n        \"Id\": \"string\",\r\n        \"EmailAddress\": \"string\"\r\n      },\r\n      \"Role\": {\r\n        \"Id\": 0,\r\n        \"RoleName\": \"string\"\r\n      }\r\n    }\r\n  ]\r\n}"
                        }
                    },
                    "404": {
                        "description": "The user does not have permission to access the given workspace, or it does not exist."
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/workspaces/{id}/name": {
            "put": {
                "description": "Changes the name of a workspace",
                "operationId": "Workspace_UpdateName",
                "tags": [
                    "Workspace"
                ],
                "summary": "Changes the name of a workspace",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id for the workspace",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "textTranslatorWorkspaceNameRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorWorkspaceNameRequest"
                        },
                        "description": "The new name"
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "The request was not formatted correctly."
                    },
                    "404": {
                        "description": "The user does not have permission to access the given workspace, or it does not exist."
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/projects": {
            "post": {
                "description": "Create a project.",
                "operationId": "Project_Create",
                "tags": [
                    "Project"
                ],
                "summary": "Create a project.",
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "description": "Workspace id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "textTranslatorProjectRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorProjectRequest"
                        },
                        "description": "The project to create"
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            },
            "get": {
                "description": "### REMARKS ###\r\nProjects can be filtered using standard OData $filter syntax. Supported fields and operations:\r\n- Name- project name to filter by. Supported operations are 'eq' and 'substringof'.\r\n- SourceLanguage- Supported operations are 'eq'.\r\n- TargetLanguage- Supported operations are 'eq'.\r\n- Category- Supported operations are 'eq'.\r\n<br /><br />\r\nOnly basic 'and' operator is supported between different field filters. Source language, target language, and category\r\nallow for 'or' operator within the group.\r\n<br />\r\nExample: /api/texttranslator/v1/projects?$filter=substringof(name, 'Project 1') and status eq 'Deployed' and targetLanguage eq 'de,en'\r\n<br /><br /><br />\r\nTo sort the returned results please use the standard OData $orderby syntax. Supported fields are:\r\n- name- project name to order by.\r\n- createdDate- project created date to order by.\r\n<br /><br />\r\nOnly one orderBy field can be used at a time, else a 404  will be returned.\r\n<br />\r\nExample with Name : /api/texttranslator/v1/projects?$orderby=name desc\r\n<br />\r\nExample with CreatedDate : /api/texttranslator/v1/projects?$orderby=createdDate asc",
                "operationId": "Project_List",
                "tags": [
                    "Project"
                ],
                "summary": "Gets the list of projects.",
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "description": "The id of the workspace.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The OData $filter parameter.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "The OData $orderby parameter.",
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. The page index. Optional, if not provided returns all results.",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorProjectsResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PageIndex\": 0,\r\n  \"TotalPageCount\": 0,\r\n  \"Projects\": [\r\n    {\r\n      \"Id\": \"string\",\r\n      \"Name\": \"string\",\r\n      \"Label\": \"string\",\r\n      \"Description\": \"string\",\r\n      \"LanguagePair\": {\r\n        \"Id\": 0,\r\n        \"SourceLanguage\": {\r\n          \"Id\": 0,\r\n          \"DisplayName\": \"string\",\r\n          \"LanguageCode\": \"string\"\r\n        },\r\n        \"TargetLanguage\": {\r\n          \"Id\": 0,\r\n          \"DisplayName\": \"string\",\r\n          \"LanguageCode\": \"string\"\r\n        }\r\n      },\r\n      \"Category\": {\r\n        \"Id\": 0,\r\n        \"Name\": \"string\"\r\n      },\r\n      \"CategoryDescriptor\": \"string\",\r\n      \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n      \"BleuScoreCIPunctuated\": 0.0,\r\n      \"Status\": 0,\r\n      \"ModifiedDate\": \"string\",\r\n      \"CreatedDate\": \"string\",\r\n      \"CreatedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"ModifiedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"ApiDomain\": \"string\",\r\n      \"IsAvailable\": true,\r\n      \"HubCategory\": \"string\",\r\n      \"HasFreeTraining\": true,\r\n      \"ModelRegionStatus\": [\r\n        {\r\n          \"Region\": 0,\r\n          \"IsDeployed\": true,\r\n          \"RegionName\": \"string\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/models": {
            "post": {
                "description": "### REMARKS ###\r\nThe field 'isAutoTrain' defaults to true if not set. If it is set to false, it \r\ncreates the model in a draft state.",
                "operationId": "Model_Create",
                "tags": [
                    "Model"
                ],
                "summary": "Creates a new model.",
                "parameters": [
                    {
                        "name": "textTranslatorModelRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorModelRequest"
                        },
                        "description": "The model to be added."
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/workspaces": {
            "post": {
                "description": "Creates a new workspace",
                "operationId": "Workspace_Create",
                "tags": [
                    "Workspace"
                ],
                "summary": "Creates a new workspace",
                "parameters": [
                    {
                        "name": "textTranslatorCreateWorkspaceRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorCreateWorkspaceRequest"
                        },
                        "description": "Subscription and workspace name"
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "The request was not formatted correctly."
                    }
                }
            },
            "get": {
                "description": "Gets the list of workspaces that the user has access to.",
                "operationId": "Workspace_List",
                "tags": [
                    "Workspace"
                ],
                "summary": "Gets the list of workspaces that the user has access to.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorWorkspacesReponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Workspaces\": [\r\n    {\r\n      \"Id\": \"string\",\r\n      \"Role\": {\r\n        \"Id\": 0,\r\n        \"RoleName\": \"string\"\r\n      },\r\n      \"Name\": \"string\",\r\n      \"IsCreator\": true,\r\n      \"IsDefaultWorkspace\": true,\r\n      \"CreatedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"CreatedDate\": \"string\",\r\n      \"Sharing\": [\r\n        {\r\n          \"Id\": 0,\r\n          \"User\": {\r\n            \"Id\": \"string\",\r\n            \"EmailAddress\": \"string\"\r\n          },\r\n          \"Role\": {\r\n            \"Id\": 0,\r\n            \"RoleName\": \"string\"\r\n          }\r\n        }\r\n      ],\r\n      \"HasMigrations\": true,\r\n      \"Region\": {\r\n        \"BillingRegionCode\": \"string\",\r\n        \"BillingRegionName\": \"string\"\r\n      },\r\n      \"Subscription\": {\r\n        \"Id\": \"string\",\r\n        \"Name\": \"string\",\r\n        \"Kind\": \"string\",\r\n        \"Sku\": \"string\",\r\n        \"IsCMKEnabled\": true,\r\n        \"Region\": {\r\n          \"BillingRegionCode\": \"string\",\r\n          \"BillingRegionName\": \"string\"\r\n        },\r\n        \"Billing\": {\r\n          \"IsPaidSubscription\": true,\r\n          \"MaximumCharacterCount\": 0,\r\n          \"PricePerMillionCharacters\": 0.0\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/projects/{id}": {
            "delete": {
                "description": "Delete the current project",
                "operationId": "Project_Delete",
                "tags": [
                    "Project"
                ],
                "summary": "Delete the current project",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. Id of the project",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "get": {
                "description": "Gets the project specified by Id.",
                "operationId": "Project_Get",
                "tags": [
                    "Project"
                ],
                "summary": "Gets the project specified by Id.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The Id for the project for which details are requested.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorProjectInfo"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": \"string\",\r\n  \"Name\": \"string\",\r\n  \"Label\": \"string\",\r\n  \"Description\": \"string\",\r\n  \"LanguagePair\": {\r\n    \"Id\": 0,\r\n    \"SourceLanguage\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    },\r\n    \"TargetLanguage\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    }\r\n  },\r\n  \"Category\": {\r\n    \"Id\": 0,\r\n    \"Name\": \"string\"\r\n  },\r\n  \"CategoryDescriptor\": \"string\",\r\n  \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n  \"BleuScoreCIPunctuated\": 0.0,\r\n  \"Status\": 0,\r\n  \"ModifiedDate\": \"string\",\r\n  \"CreatedDate\": \"string\",\r\n  \"CreatedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ModifiedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ApiDomain\": \"string\",\r\n  \"IsAvailable\": true,\r\n  \"HubCategory\": \"string\",\r\n  \"HasFreeTraining\": true,\r\n  \"ModelRegionStatus\": [\r\n    {\r\n      \"Region\": 0,\r\n      \"IsDeployed\": true,\r\n      \"RegionName\": \"string\"\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            },
            "put": {
                "description": "Updates the project.",
                "operationId": "Project_Update",
                "tags": [
                    "Project"
                ],
                "summary": "Updates the project.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. The id of the project to update.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "textTranslatorProjectUpdateRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorProjectUpdateRequest"
                        },
                        "description": "The project to update"
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorProjectInfo"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": \"string\",\r\n  \"Name\": \"string\",\r\n  \"Label\": \"string\",\r\n  \"Description\": \"string\",\r\n  \"LanguagePair\": {\r\n    \"Id\": 0,\r\n    \"SourceLanguage\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    },\r\n    \"TargetLanguage\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    }\r\n  },\r\n  \"Category\": {\r\n    \"Id\": 0,\r\n    \"Name\": \"string\"\r\n  },\r\n  \"CategoryDescriptor\": \"string\",\r\n  \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n  \"BleuScoreCIPunctuated\": 0.0,\r\n  \"Status\": 0,\r\n  \"ModifiedDate\": \"string\",\r\n  \"CreatedDate\": \"string\",\r\n  \"CreatedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ModifiedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ApiDomain\": \"string\",\r\n  \"IsAvailable\": true,\r\n  \"HubCategory\": \"string\",\r\n  \"HasFreeTraining\": true,\r\n  \"ModelRegionStatus\": [\r\n    {\r\n      \"Region\": 0,\r\n      \"IsDeployed\": true,\r\n      \"RegionName\": \"string\"\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/{id}": {
            "delete": {
                "description": "Delete the document",
                "operationId": "Document_Delete",
                "tags": [
                    "Document"
                ],
                "summary": "Delete the document",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The id of the document to be deleted",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "get": {
                "description": "Gets the requested document",
                "operationId": "Document_Get",
                "tags": [
                    "Document"
                ],
                "summary": "Gets the requested document",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the document for which details are requested",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorDocumentInfo"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": 0,\r\n  \"TrainingDocumentType\": 0,\r\n  \"ExtractedSentenceCount\": 0,\r\n  \"CharacterCount\": 0,\r\n  \"UsedByPrioritizedModel\": true,\r\n  \"Name\": \"string\",\r\n  \"IsParallel\": true,\r\n  \"CreatedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ModifiedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"Files\": [\r\n    {\r\n      \"Id\": 0,\r\n      \"FileName\": \"string\",\r\n      \"Language\": {\r\n        \"Id\": 0,\r\n        \"DisplayName\": \"string\",\r\n        \"LanguageCode\": \"string\"\r\n      },\r\n      \"UploadDate\": \"string\",\r\n      \"ExtractedSentenceCount\": 0\r\n    }\r\n  ],\r\n  \"Languages\": [\r\n    {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    }\r\n  ],\r\n  \"CreatedDate\": \"string\",\r\n  \"IsAvailable\": true\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/workspaces/{id}": {
            "delete": {
                "description": "Deletes a workspace",
                "operationId": "Workspace_Delete",
                "tags": [
                    "Workspace"
                ],
                "summary": "Deletes a workspace",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id for the workspace",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "The user does not have permission to access the given workspace, or it does not exist."
                    }
                }
            },
            "get": {
                "description": "Gets the information for a specific workspace.",
                "operationId": "Workspace_Get",
                "tags": [
                    "Workspace"
                ],
                "summary": "Gets the information for a specific workspace.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id for the workspace",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorWorkspaceInfo"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": \"string\",\r\n  \"Role\": {\r\n    \"Id\": 0,\r\n    \"RoleName\": \"string\"\r\n  },\r\n  \"Name\": \"string\",\r\n  \"IsCreator\": true,\r\n  \"IsDefaultWorkspace\": true,\r\n  \"CreatedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"CreatedDate\": \"string\",\r\n  \"Sharing\": [\r\n    {\r\n      \"Id\": 0,\r\n      \"User\": {\r\n        \"Id\": \"string\",\r\n        \"EmailAddress\": \"string\"\r\n      },\r\n      \"Role\": {\r\n        \"Id\": 0,\r\n        \"RoleName\": \"string\"\r\n      }\r\n    }\r\n  ],\r\n  \"HasMigrations\": true,\r\n  \"Region\": {\r\n    \"BillingRegionCode\": \"string\",\r\n    \"BillingRegionName\": \"string\"\r\n  },\r\n  \"Subscription\": {\r\n    \"Id\": \"string\",\r\n    \"Name\": \"string\",\r\n    \"Kind\": \"string\",\r\n    \"Sku\": \"string\",\r\n    \"IsCMKEnabled\": true,\r\n    \"Region\": {\r\n      \"BillingRegionCode\": \"string\",\r\n      \"BillingRegionName\": \"string\"\r\n    },\r\n    \"Billing\": {\r\n      \"IsPaidSubscription\": true,\r\n      \"MaximumCharacterCount\": 0,\r\n      \"PricePerMillionCharacters\": 0.0\r\n    }\r\n  }\r\n}"
                        }
                    },
                    "404": {
                        "description": "The user does not have permission to access the given workspace, or it does not exist."
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/models/{id}": {
            "delete": {
                "description": "Deletes the model.",
                "operationId": "Model_Delete",
                "tags": [
                    "Model"
                ],
                "summary": "Deletes the model.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the model to delete.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "get": {
                "description": "### REMARKS ###\r\nTo sort the returned results please use the standard OData $orderby syntax. Supported fields are:\r\n- sourceSentences - Orders documents returned by number of source sentences.\r\n- targetSentences - Orders documents returned by number of target sentences.\r\n- alignedSentences - Orders documents returned by number of aligned sentences.\r\n- usedSentences - Orders documents returned by number of used sentences.\r\n<br /><br />\r\nOnly one orderBy field can be used at a time, else a 404  will be returned.\r\n<br />\r\nExample with SourceSentences : /api/texttranslator/v1/documents?$orderby=sourceSentences desc\r\n<br />\r\nExample with TargetSentences : /api/texttranslator/v1/documents?$orderby=targetSentences asc\r\n<br />\r\nExample with AlignedSentences: /api/texttranslator/v1/documents?$orderby=alignedSentences desc\r\n<br />\r\nExample with UsedSentences: /api/texttranslator/v1/documents?$orderby=usedSentences asc",
                "operationId": "Model_Get",
                "tags": [
                    "Model"
                ],
                "summary": "Get the model details.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the requested model.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "The OData $orderby parameter.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorModelInfo"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": 0,\r\n  \"Name\": \"string\",\r\n  \"ModelIdentifier\": \"string\",\r\n  \"ProjectId\": \"string\",\r\n  \"Documents\": [\r\n    {\r\n      \"DocumentInfo\": {\r\n        \"Id\": 0,\r\n        \"TrainingDocumentType\": 0,\r\n        \"ExtractedSentenceCount\": 0,\r\n        \"CharacterCount\": 0,\r\n        \"UsedByPrioritizedModel\": true,\r\n        \"Name\": \"string\",\r\n        \"IsParallel\": true,\r\n        \"CreatedBy\": {\r\n          \"Id\": \"string\",\r\n          \"UserName\": \"string\"\r\n        },\r\n        \"ModifiedBy\": {\r\n          \"Id\": \"string\",\r\n          \"UserName\": \"string\"\r\n        },\r\n        \"Files\": [\r\n          {\r\n            \"Id\": 0,\r\n            \"FileName\": \"string\",\r\n            \"Language\": {\r\n              \"Id\": 0,\r\n              \"DisplayName\": \"string\",\r\n              \"LanguageCode\": \"string\"\r\n            },\r\n            \"UploadDate\": \"string\",\r\n            \"ExtractedSentenceCount\": 0\r\n          }\r\n        ],\r\n        \"Languages\": [\r\n          {\r\n            \"Id\": 0,\r\n            \"DisplayName\": \"string\",\r\n            \"LanguageCode\": \"string\"\r\n          }\r\n        ],\r\n        \"CreatedDate\": \"string\",\r\n        \"IsAvailable\": true\r\n      },\r\n      \"ProcessedDocumentInfo\": {\r\n        \"Id\": 0,\r\n        \"ModelId\": 0,\r\n        \"DocumentId\": 0,\r\n        \"AlignedSentenceCount\": 0,\r\n        \"UsedSentenceCount\": 0\r\n      }\r\n    }\r\n  ],\r\n  \"ModelRegionStatuses\": [\r\n    {\r\n      \"Region\": 0,\r\n      \"IsDeployed\": true\r\n    }\r\n  ],\r\n  \"BaselineBleuScorePunctuated\": 0.0,\r\n  \"BleuScorePunctuated\": 0.0,\r\n  \"BaselineBleuScoreUnpunctuated\": 0.0,\r\n  \"BleuScoreUnpunctuated\": 0.0,\r\n  \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n  \"BleuScoreCIPunctuated\": 0.0,\r\n  \"BaselineBleuScoreCIUnpunctuated\": 0.0,\r\n  \"BleuScoreCIUnpunctuated\": 0.0,\r\n  \"StartDate\": \"string\",\r\n  \"CompletionDate\": \"string\",\r\n  \"ModifiedDate\": \"string\",\r\n  \"CreatedDate\": \"string\",\r\n  \"CreatedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ModifiedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"TrainingSentenceCount\": 0,\r\n  \"TuningSentenceCount\": 0,\r\n  \"TestingSentenceCount\": 0,\r\n  \"PhraseDictionarySentenceCount\": 0,\r\n  \"SentenceDictionarySentenceCount\": 0,\r\n  \"MonolingualSentenceCount\": 0,\r\n  \"ModelStatus\": 0,\r\n  \"IsTuningAuto\": true,\r\n  \"IsTestingAuto\": true,\r\n  \"IsAutoDeploy\": true,\r\n  \"AutoDeployThreshold\": 0.0,\r\n  \"HubBLEUScore\": 0.0,\r\n  \"HubCategory\": \"string\",\r\n  \"ErrorCode\": 0,\r\n  \"ModelType\": 0,\r\n  \"RetrainedFromSourceModelId\": 0\r\n}"
                        }
                    }
                }
            },
            "put": {
                "description": "### REMARKS ###\r\nDocuments can only be added or removed from the model if it is in a draft state.",
                "operationId": "Model_Update",
                "tags": [
                    "Model"
                ],
                "summary": "Updates the model.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The id of the model to update.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "textTranslatorModelUpdateRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorModelUpdateRequest"
                        },
                        "description": "The updated model object."
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorModelUpdateResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Name\": \"string\",\r\n  \"Documents\": [\r\n    0\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/models/{id}/deployment": {
            "post": {
                "description": "Deploy or undeploy a model.",
                "operationId": "Model_Deploy",
                "tags": [
                    "Model"
                ],
                "summary": "Deploy or undeploy a model.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The id of the model to deploy or undeploy.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "apiTexttranslatorV1-0Models-id-DeploymentPostRequest-1",
                        "in": "body",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorModelRegionStatus"
                            },
                            "example": "[\r\n  {\r\n    \"Region\": 0,\r\n    \"IsDeployed\": true\r\n  }\r\n]"
                        },
                        "description": "An array of regions to be deployed/undeployed"
                    }
                ],
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "202": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/export": {
            "get": {
                "description": "Downloads a zip containing Documents file(s) selected from project or all documents for model (does not require method override on header)",
                "operationId": "Document_Export",
                "tags": [
                    "Document"
                ],
                "summary": "Downloads a zip containing Documents file(s) selected from project or all documents for model (does not require method override on header)",
                "parameters": [
                    {
                        "name": "documentIds[]",
                        "in": "query",
                        "description": "The Ids of the document for which files are requested",
                        "required": true,
                        "type": "array",
                        "items": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                ],
                "produces": [
                    "application/x-zip-compressed",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "type": "string"
                        },
                        "examples": {
                            "application/json": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/{id}/export": {
            "get": {
                "description": "Downloads a zip containing the file(s) belonging to this document",
                "operationId": "Document_ExportFiles",
                "tags": [
                    "Document"
                ],
                "summary": "Downloads a zip containing the file(s) belonging to this document",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the document for which files are requested",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/x-zip-compressed",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "type": "string"
                        },
                        "examples": {
                            "application/json": "string"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/tests/{id}/export": {
            "post": {
                "description": "Export the test resuls as a zip file.",
                "operationId": "Test_ExportResults",
                "tags": [
                    "Test"
                ],
                "summary": "Export the test resuls as a zip file.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The test identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/x-zip-compressed",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "format": "binary",
                            "type": "string"
                        },
                        "examples": {
                            "application/json": "string"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/tests/{id}/results": {
            "get": {
                "description": "Gets aligned source, ref, general, and MT sentences.",
                "operationId": "Test_GetResult",
                "tags": [
                    "Test"
                ],
                "summary": "Gets aligned source, ref, general, and MT sentences.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The test identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorTestEntriessResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"TestEntries\": [\r\n    {\r\n      \"Source\": \"string\",\r\n      \"Target\": \"string\",\r\n      \"ReferenceString\": \"string\",\r\n      \"General\": \"string\"\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/projects/{id}/models": {
            "get": {
                "description": "### REMARKS ###\r\nModels can be filtered using standard OData $filter syntax. Supported fields and operations:\r\n- ModelName - Model name to filter by. Supported operations are 'eq' and 'substringof'.\r\n- DocumentType - Returns the model if it uses the given document type. Supported operations are 'eq'. \r\n- Status - Current status of the model (for example: 'deployed'). Supported operation is 'eq' and 'or' operator within the group.\r\n<br /><br />\r\nOnly basic 'and' operator is supported between different field filters. Also no nested conditions are supported.\r\n<br />\r\n     Example: /api/texttranslator/v1/projects/{id}/models?$filter=substringof(modelName, 'Model 1') and documentType eq 'training' and status eq 'deployed,draft'\r\n<br /><br /><br />\r\nTo sort the returned results please use the standard OData $orderby syntax. If an $orderby parameter is not provided, default sort order\r\nreturns any published models first, followed by most recently modified. Supported fields are:\r\n- name - Model name to order by\r\n- modifiedDate - Model modified date to order by\r\n<br /><br />\r\nOnly one orderBy field can be used at a time, else a 404  will be returned.\r\n<br />\r\nExample with Name : /api/texttranslator/v1/documents?$orderby=name desc\r\n<br />\r\nExample with ModifiedDate: /api/texttranslator/v1/documents?$orderby=modifiedDate asc",
                "operationId": "Project_GetModels",
                "tags": [
                    "Project"
                ],
                "summary": "Gets all the Models for the given project.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The OData $filter parameter.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "The OData $orderby parameter.",
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. The page index. Optional, if not provided returns all results.",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorModelsResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PageIndex\": 0,\r\n  \"TotalPageCount\": 0,\r\n  \"Models\": [\r\n    {\r\n      \"Id\": 0,\r\n      \"Name\": \"string\",\r\n      \"ModelIdentifier\": \"string\",\r\n      \"ProjectId\": \"string\",\r\n      \"Documents\": [\r\n        {\r\n          \"DocumentInfo\": {\r\n            \"Id\": 0,\r\n            \"TrainingDocumentType\": 0,\r\n            \"ExtractedSentenceCount\": 0,\r\n            \"CharacterCount\": 0,\r\n            \"UsedByPrioritizedModel\": true,\r\n            \"Name\": \"string\",\r\n            \"IsParallel\": true,\r\n            \"CreatedBy\": {\r\n              \"Id\": \"string\",\r\n              \"UserName\": \"string\"\r\n            },\r\n            \"ModifiedBy\": {\r\n              \"Id\": \"string\",\r\n              \"UserName\": \"string\"\r\n            },\r\n            \"Files\": [\r\n              {\r\n                \"Id\": 0,\r\n                \"FileName\": \"string\",\r\n                \"Language\": {\r\n                  \"Id\": 0,\r\n                  \"DisplayName\": \"string\",\r\n                  \"LanguageCode\": \"string\"\r\n                },\r\n                \"UploadDate\": \"string\",\r\n                \"ExtractedSentenceCount\": 0\r\n              }\r\n            ],\r\n            \"Languages\": [\r\n              {\r\n                \"Id\": 0,\r\n                \"DisplayName\": \"string\",\r\n                \"LanguageCode\": \"string\"\r\n              }\r\n            ],\r\n            \"CreatedDate\": \"string\",\r\n            \"IsAvailable\": true\r\n          },\r\n          \"ProcessedDocumentInfo\": {\r\n            \"Id\": 0,\r\n            \"ModelId\": 0,\r\n            \"DocumentId\": 0,\r\n            \"AlignedSentenceCount\": 0,\r\n            \"UsedSentenceCount\": 0\r\n          }\r\n        }\r\n      ],\r\n      \"ModelRegionStatuses\": [\r\n        {\r\n          \"Region\": 0,\r\n          \"IsDeployed\": true\r\n        }\r\n      ],\r\n      \"BaselineBleuScorePunctuated\": 0.0,\r\n      \"BleuScorePunctuated\": 0.0,\r\n      \"BaselineBleuScoreUnpunctuated\": 0.0,\r\n      \"BleuScoreUnpunctuated\": 0.0,\r\n      \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n      \"BleuScoreCIPunctuated\": 0.0,\r\n      \"BaselineBleuScoreCIUnpunctuated\": 0.0,\r\n      \"BleuScoreCIUnpunctuated\": 0.0,\r\n      \"StartDate\": \"string\",\r\n      \"CompletionDate\": \"string\",\r\n      \"ModifiedDate\": \"string\",\r\n      \"CreatedDate\": \"string\",\r\n      \"CreatedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"ModifiedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"TrainingSentenceCount\": 0,\r\n      \"TuningSentenceCount\": 0,\r\n      \"TestingSentenceCount\": 0,\r\n      \"PhraseDictionarySentenceCount\": 0,\r\n      \"SentenceDictionarySentenceCount\": 0,\r\n      \"MonolingualSentenceCount\": 0,\r\n      \"ModelStatus\": 0,\r\n      \"IsTuningAuto\": true,\r\n      \"IsTestingAuto\": true,\r\n      \"IsAutoDeploy\": true,\r\n      \"AutoDeployThreshold\": 0.0,\r\n      \"HubBLEUScore\": 0.0,\r\n      \"HubCategory\": \"string\",\r\n      \"ErrorCode\": 0,\r\n      \"ModelType\": 0,\r\n      \"RetrainedFromSourceModelId\": 0\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/tests/{id}": {
            "get": {
                "description": "Gets details of a specific test.",
                "operationId": "Test_Get",
                "tags": [
                    "Test"
                ],
                "summary": "Gets details of a specific test.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The test identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorTestInfo"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"Id\": 0,\r\n  \"Name\": \"string\",\r\n  \"ModelId\": 0,\r\n  \"Status\": 0,\r\n  \"BaselineBleuScorePunctuated\": 0.0,\r\n  \"BleuScorePunctuated\": 0.0,\r\n  \"BaselineBleuScoreUnpunctuated\": 0.0,\r\n  \"BleuScoreUnpunctuated\": 0.0,\r\n  \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n  \"BleuScoreCIPunctuated\": 0.0,\r\n  \"BaselineBleuScoreCIUnpunctuated\": 0.0,\r\n  \"BleuScoreCIUnpunctuated\": 0.0,\r\n  \"SentenceCount\": 0,\r\n  \"CreatedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  },\r\n  \"ModifiedBy\": {\r\n    \"Id\": \"string\",\r\n    \"UserName\": \"string\"\r\n  }\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/{id}/files/{fileid}/content": {
            "get": {
                "description": "Gets the content of the requested file",
                "operationId": "Document_GetFileContent",
                "tags": [
                    "Document"
                ],
                "summary": "Gets the content of the requested file",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The document identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fileid",
                        "in": "path",
                        "description": "Format - int64. The file id.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. Index of the page",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Format - int32. Number of items per page",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorFileContentResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PageIndex\": 0,\r\n  \"TotalPageCount\": 0,\r\n  \"Items\": [\r\n    \"string\"\r\n  ],\r\n  \"TotalExtractedSentences\": 0\r\n}"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents": {
            "get": {
                "description": "### REMARKS ###\r\nDocuments can be filtered using standard OData $filter syntax. Supported fields and operations:\r\n- Name - document name to filter by. Supported operations are 'eq' and 'substringof'.\r\n- DocumentType - Document type filter. Supported operations are 'eq'. Can support multi-selection.\r\n- LanguageCode - Language code filter. Supported operations are 'eq' . Can support multi-selection.\r\n- IsParallel - Filter by the IsParallel boolean flag. Supported operations are 'eq'.\r\n- ProjectLanguages - Filter for documents applicable to a project with the specified language pair.  Language pair should be specified with a '->' between the languages. Supported operations are 'eq'.\r\n<br /><br />\r\nOnly basic 'and' operator is supported between different field filters. DocumentType allow for 'or' operation within the group. Also no nested conditions are supported.\r\n<br />\r\nExample: /api/texttranslator/v1/documents?$filter=substringof(Name, 'Document 1') and documentType eq 'training,testing' and languageCode eq 'de' and isParallel eq false\r\n<br />\r\nExample with ProjectLanguages - /api/texttranslator/v1/documents?$filter=projectLanguage eq 'en->de'\r\n<br /><br />\r\nTo sort the returned results please use the standard OData $orderby syntax. Supported fields are:\r\n- name- document name to order by.\r\n- createdDate- document created date to order by.\r\n- documentType- document type to order by - Training,Testing,Tuning, Phrase Dictionary and Sentence Dictionary in ascending or descending.\r\n<br /><br />\r\nOnly one orderBy field can be used at a time, else a 404  will be returned.\r\n<br />\r\nExample with Name : /api/texttranslator/v1/documents?$orderby=name desc\r\n<br />\r\nExample with CreatedDate: /api/texttranslator/v1/documents?$orderby=createdDate asc\r\n<br />\r\nExample with DocumentType: /api/texttranslator/v1/documents?$orderby=documentType desc",
                "operationId": "Document_List",
                "tags": [
                    "Document"
                ],
                "summary": "Gets the documents.",
                "parameters": [
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. Index of the page.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "description": "Id of the workspace",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "includeAllDocumentsFields",
                        "in": "query",
                        "description": "Whether or not to return the optional field 'AllDocuments'\r\n            that includes basic information about documents outside the pagination range.",
                        "type": "boolean"
                    },
                    {
                        "name": "prioritizeModel",
                        "in": "query",
                        "description": "Format - int64. When paginating results, ensures that documents that are part of this model\r\n            are listed before all other documents. If both prioritizeModel and orderby are provided, prioritzeModel will\r\n            be ignored.",
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The OData $filter parameter.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "The OData $orderby parameter.",
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Format - int32. Limits the number of items per page. If not provided, defaults to 10.",
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorDocumentsResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PaginatedDocuments\": {\r\n    \"PageIndex\": 0,\r\n    \"TotalPageCount\": 0,\r\n    \"Documents\": [\r\n      {\r\n        \"Id\": 0,\r\n        \"TrainingDocumentType\": 0,\r\n        \"ExtractedSentenceCount\": 0,\r\n        \"CharacterCount\": 0,\r\n        \"UsedByPrioritizedModel\": true,\r\n        \"Name\": \"string\",\r\n        \"IsParallel\": true,\r\n        \"CreatedBy\": {\r\n          \"Id\": \"string\",\r\n          \"UserName\": \"string\"\r\n        },\r\n        \"ModifiedBy\": {\r\n          \"Id\": \"string\",\r\n          \"UserName\": \"string\"\r\n        },\r\n        \"Files\": [\r\n          {\r\n            \"Id\": 0,\r\n            \"FileName\": \"string\",\r\n            \"Language\": {\r\n              \"Id\": 0,\r\n              \"DisplayName\": \"string\",\r\n              \"LanguageCode\": \"string\"\r\n            },\r\n            \"UploadDate\": \"string\",\r\n            \"ExtractedSentenceCount\": 0\r\n          }\r\n        ],\r\n        \"Languages\": [\r\n          {\r\n            \"Id\": 0,\r\n            \"DisplayName\": \"string\",\r\n            \"LanguageCode\": \"string\"\r\n          }\r\n        ],\r\n        \"CreatedDate\": \"string\",\r\n        \"IsAvailable\": true\r\n      }\r\n    ]\r\n  },\r\n  \"AllDocuments\": {\r\n    \"Documents\": [\r\n      {\r\n        \"Id\": 0,\r\n        \"TrainingDocumentType\": 0,\r\n        \"ExtractedSentenceCount\": 0,\r\n        \"CharacterCount\": 0,\r\n        \"UsedByPrioritizedModel\": true\r\n      }\r\n    ]\r\n  }\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/{id}/files": {
            "get": {
                "description": "Gets the files for the document",
                "operationId": "Document_ListFiles",
                "tags": [
                    "Document"
                ],
                "summary": "Gets the files for the document",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the document for which the files information is requested",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorFileInfo"
                            }
                        },
                        "examples": {
                            "application/json": "[\r\n  {\r\n    \"Id\": 0,\r\n    \"FileName\": \"string\",\r\n    \"Language\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    },\r\n    \"UploadDate\": \"string\",\r\n    \"ExtractedSentenceCount\": 0\r\n  }\r\n]"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/categories": {
            "get": {
                "description": "Gets the list of categories that can be assigned to the project.",
                "operationId": "Category_List",
                "tags": [
                    "Category"
                ],
                "summary": "Gets the list of categories that can be assigned to the project.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorCategory"
                            }
                        },
                        "examples": {
                            "application/json": "[\r\n  {\r\n    \"Id\": 0,\r\n    \"Name\": \"string\"\r\n  }\r\n]"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/languages/supportedlanguagepairs": {
            "get": {
                "description": "Gets the list of language pairs are supported by the text translator for transalation.",
                "operationId": "Language_ListSupportedLanguagePairs",
                "tags": [
                    "Language"
                ],
                "summary": "Gets the list of language pairs are supported by the text translator for transalation.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorLanguagePair"
                            }
                        },
                        "examples": {
                            "application/json": "[\r\n  {\r\n    \"Id\": 0,\r\n    \"SourceLanguage\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    },\r\n    \"TargetLanguage\": {\r\n      \"Id\": 0,\r\n      \"DisplayName\": \"string\",\r\n      \"LanguageCode\": \"string\"\r\n    }\r\n  }\r\n]"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/languages": {
            "get": {
                "description": "Gets the list of languages supported by Translator Studio",
                "operationId": "Language_ListSupportedLanguages",
                "tags": [
                    "Language"
                ],
                "summary": "Gets the list of languages supported by Translator Studio",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorLanguage"
                            }
                        },
                        "examples": {
                            "application/json": "[\r\n  {\r\n    \"Id\": 0,\r\n    \"DisplayName\": \"string\",\r\n    \"LanguageCode\": \"string\"\r\n  }\r\n]"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/regions": {
            "get": {
                "description": "Gets the list of regions.",
                "operationId": "Region_List",
                "tags": [
                    "Region"
                ],
                "summary": "Gets the list of regions.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Region"
                            }
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/models/{id}/tests": {
            "get": {
                "description": "### REMARKS ###\r\nTests can be filtered using standard OData $filter syntax. Supported fields and operations:        \r\n- TestName - test name to filter by. Supported operations are 'eq' and 'substringof'.\r\n- Status - Supported operations are 'eq'.\r\n<br /><br />\r\nOnly basic 'and' operator is supported between different field filters. Also no nested conditions are supported.\r\n<br />\r\n    Example: /api/texttranslator/v1/models/{id}/tests?$filter=substringof(testName, 'Test 1') and status eq 'Complete'",
                "operationId": "Model_ListTests",
                "tags": [
                    "Model"
                ],
                "summary": "Gets the list of tests for the model.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the model to which tests belong.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The OData $filter parameter.",
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. The page index. Default is 1.",
                        "type": "integer",
                        "default": 1,
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorTestsResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PageIndex\": 0,\r\n  \"TotalPageCount\": 0,\r\n  \"Tests\": [\r\n    {\r\n      \"Id\": 0,\r\n      \"Name\": \"string\",\r\n      \"ModelId\": 0,\r\n      \"Status\": 0,\r\n      \"BaselineBleuScorePunctuated\": 0.0,\r\n      \"BleuScorePunctuated\": 0.0,\r\n      \"BaselineBleuScoreUnpunctuated\": 0.0,\r\n      \"BleuScoreUnpunctuated\": 0.0,\r\n      \"BaselineBleuScoreCIPunctuated\": 0.0,\r\n      \"BleuScoreCIPunctuated\": 0.0,\r\n      \"BaselineBleuScoreCIUnpunctuated\": 0.0,\r\n      \"BleuScoreCIUnpunctuated\": 0.0,\r\n      \"SentenceCount\": 0,\r\n      \"CreatedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"ModifiedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      }\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/import/jobs/all": {
            "get": {
                "description": "### REMARKS ###\r\nDocument import status can be filtered using standard OData $filter syntax. Supported fields and operations:\r\n- Name - Filters by document name. Supported operations are 'eq' and 'substringof'.\r\n- LanguageCode - Filters by language code. Supported operation is 'eq'.\r\n- Status - Filters by the import status. Supported operations are 'eq', 'lt' (less than), 'gt' (greater than).\r\n- UploadDateStart - Supported operation is 'ge' (greater than or equal to)\r\n- UploadDateEnd - Supported operation is 'le' (less than or equal to)\r\n<br /><br />\r\nOnly basic 'and' operator is supported between different field filters, and nested conditions are not supported.\r\n<br /><br />\r\nExample: /api/texttranslator/v1/documents/import/jobs/all?$filter=substringof(Name, 'Document 1') and languagePair eq 'de,en' and status lt '254'\r\n<br />",
                "operationId": "Document_ListImportJobsStatus",
                "tags": [
                    "Document"
                ],
                "summary": "Gets the status of all past document imports",
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "description": "Id for the workspace to fetch the jobs from.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The OData $filter parameter",
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. Index of the page. If not provided, defaults to returning the first page.",
                        "type": "integer",
                        "default": 1,
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Format - int32. Limits the number of items per page. If not provided, defaults to 10.",
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorImportAllJobsStatusResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PageIndex\": 0,\r\n  \"TotalPageCount\": 0,\r\n  \"Jobs\": [\r\n    {\r\n      \"JobId\": \"string\",\r\n      \"NumberFiles\": 0,\r\n      \"NumberFilesWithErrors\": 0,\r\n      \"Name\": \"string\",\r\n      \"Status\": {\r\n        \"DisplayName\": \"string\",\r\n        \"Id\": 0\r\n      },\r\n      \"DocumentType\": 0,\r\n      \"CreatedDate\": \"string\",\r\n      \"CreatedBy\": {\r\n        \"Id\": \"string\",\r\n        \"UserName\": \"string\"\r\n      },\r\n      \"Languages\": [\r\n        {\r\n          \"Id\": 0,\r\n          \"DisplayName\": \"string\",\r\n          \"LanguageCode\": \"string\"\r\n        }\r\n      ]\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/import/jobs/{jobid}": {
            "get": {
                "description": "### REMARKS ###\r\nDocument import status can be filtered using standard OData $filter syntax. Supported fields and operations:\r\n- FileName - Filters by document name. Supported operations are 'eq' and 'substringof'.\r\n- LanguageCode - Filters by language code. Supported operation is 'eq'.\r\n- Status - Filters by the import status. Supported operation is 'eq', 'lt' (less than), 'gt' (greater than).\r\n<br /><br />\r\nOnly basic 'and' operator is supported between different field filters, and nested conditions are not supported.\r\n<br /><br />\r\nExample: /api/texttranslator/v1/documents/import/jobs/{jobId}?$filter=substringof(FileName, 'Document 1') and languageCode eq 'de' and status lt '254'\r\n<br />",
                "operationId": "Document_ImportJobStatus",
                "tags": [
                    "Document"
                ],
                "summary": "Gets the status of the document import",
                "parameters": [
                    {
                        "name": "jobid",
                        "in": "path",
                        "description": "Format - uuid. The job identifier",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "The OData $filter parameter",
                        "type": "string"
                    },
                    {
                        "name": "pageIndex",
                        "in": "query",
                        "description": "Format - int32. Index of the page. If not provided, defaults to returning the first page.",
                        "type": "integer",
                        "default": 1,
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Format - int32. Limits the number of items per page. If not provided, defaults to 10.",
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TextTranslatorImportJobStatusResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"PageIndex\": 0,\r\n  \"TotalPageCount\": 0,\r\n  \"JobName\": \"string\",\r\n  \"FileProcessingStatus\": [\r\n    {\r\n      \"Status\": {\r\n        \"DisplayName\": \"string\",\r\n        \"Id\": 0\r\n      },\r\n      \"ModifiedDate\": \"string\",\r\n      \"FileName\": \"string\",\r\n      \"DocumentName\": \"string\",\r\n      \"Summary\": \"string\",\r\n      \"Id\": 0,\r\n      \"ParentId\": 0,\r\n      \"Language\": {\r\n        \"Id\": 0,\r\n        \"DisplayName\": \"string\",\r\n        \"LanguageCode\": \"string\"\r\n      }\r\n    }\r\n  ]\r\n}"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/subscriptions/billingregions": {
            "get": {
                "description": "Gets the translator text subscription regions.",
                "operationId": "Subscription_GetBillingRegions",
                "tags": [
                    "Subscription"
                ],
                "summary": "Gets the translator text subscription regions.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TextTranslatorBillingRegions"
                            }
                        },
                        "examples": {
                            "application/json": "[\r\n  {\r\n    \"BillingRegionCode\": \"string\",\r\n    \"BillingRegionName\": \"string\"\r\n  }\r\n]"
                        }
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/workspaces/{id}/users/{userid}": {
            "delete": {
                "description": "Removes a users permissions to the workspace.",
                "operationId": "Workspace_RemoveUser",
                "tags": [
                    "Workspace"
                ],
                "summary": "Removes a users permissions to the workspace.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id for the workspace",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userid",
                        "in": "path",
                        "description": "Format - int64. The user to be deleted",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "The user does not have permission to access the given workspace, or it does not exist."
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/models/{id}/train": {
            "post": {
                "description": "Train a model.",
                "operationId": "Model_Train",
                "tags": [
                    "Model"
                ],
                "summary": "Train a model.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64. The Id of the model to train.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/texttranslator/v1.0/documents/import": {
            "post": {
                "description": "Upload files for processing. Documents are created asynchronously. Upload status can be checked using the returned job id",
                "operationId": "Document_ImportFiles",
                "tags": [
                    "Document"
                ],
                "summary": "Upload files for processing. Documents are created asynchronously. Upload status can be checked using the returned job id",
                "parameters": [
                    {
                        "name": "workspaceId",
                        "in": "query",
                        "description": "Workspace id",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "Files",
                        "in": "formData",
                        "type": "array"
                    },
                    {
                        "name": "DocumentDetails",
                        "in": "formData",
                        "type": "string"
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/TestTranslatorImportFilesResponse"
                        },
                        "examples": {
                            "application/json": "{\r\n  \"JobId\": \"string\",\r\n  \"FilesAcceptedForProcessing\": [\r\n    \"string\"\r\n  ]\r\n}"
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        }
    },
    "definitions": {
        "Application": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "type": "integer"
                },
                "ApplicationName": {
                    "type": "string"
                },
                "ApplicationIdentifier": {
                    "type": "string"
                },
                "CreatedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "CreatedBy": {
                    "format": "uuid",
                    "type": "string"
                },
                "ModifiedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "ModifiedBy": {
                    "format": "uuid",
                    "type": "string"
                },
                "CreatedByNavigation": {
                    "$ref": "#/definitions/ApplicationUser"
                },
                "ApplicationSubscriptions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApplicationSubscriptions"
                    }
                },
                "Document": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Document"
                    }
                },
                "File": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/File"
                    }
                },
                "Project": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Project"
                    }
                },
                "UploadHistory": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/UploadHistory"
                    }
                },
                "ApplicationSharings": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApplicationSharing"
                    }
                },
                "ApplicationCredit": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApplicationCredit"
                    }
                }
            }
        },
        "ApplicationCredit": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "type": "integer"
                },
                "Type": {
                    "format": "int32",
                    "type": "integer"
                },
                "Credits": {
                    "format": "int32",
                    "type": "integer"
                },
                "ApplicationId": {
                    "format": "int32",
                    "type": "integer"
                },
                "Application": {
                    "$ref": "#/definitions/Application"
                }
            }
        },
        "ApplicationSharing": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int64",
                    "type": "integer"
                },
                "ApplicationId": {
                    "format": "int32",
                    "type": "integer"
                },
                "ApplicationUserId": {
                    "format": "uuid",
                    "type": "string"
                },
                "RoleId": {
                    "format": "int32",
                    "type": "integer"
                },
                "IsDefaultApplication": {
                    "type": "boolean"
                },
                "ApplicationUser": {
                    "$ref": "#/definitions/ApplicationUser"
                },
                "Application": {
                    "$ref": "#/definitions/Application"
                },
                "Role": {
                    "$ref": "#/definitions/Role"
                }
            }
        },
        "ApplicationSubscriptions": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int64",
                    "type": "integer"
                },
                "ApplicationIdentifier": {
                    "type": "string"
                },
                "ResourceId": {
                    "type": "string"
                },
                "BillingRegion": {
                    "type": "string"
                },
                "EncryptionScopeName": {
                    "type": "string"
                },
                "DataRegion": {
                    "type": "string"
                },
                "IsCMKEnabled": {
                    "type": "boolean"
                },
                "ApplicationIdentifierNavigation": {
                    "$ref": "#/definitions/Application"
                },
                "BillingRegionNavigation": {
                    "$ref": "#/definitions/BillingRegions"
                },
                "DataRegionNavigation": {
                    "$ref": "#/definitions/BillingRegions"
                }
            }
        },
        "ApplicationUser": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "uuid",
                    "type": "string"
                },
                "UserName": {
                    "type": "string"
                },
                "OrganizationName": {
                    "type": "string"
                },
                "InviteEmail": {
                    "type": "string"
                },
                "CreatedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "ModifiedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "IsNewUser": {
                    "type": "boolean"
                },
                "CanShare": {
                    "type": "boolean"
                },
                "ObjectId": {
                    "type": "string"
                },
                "TenantId": {
                    "type": "string"
                },
                "UPN": {
                    "type": "string"
                },
                "IDP": {
                    "type": "string"
                },
                "DocumentCreatedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Document"
                    }
                },
                "DocumentModifiedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Document"
                    }
                },
                "File": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/File"
                    }
                },
                "ModelCreatedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Model"
                    }
                },
                "ModelModifiedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Model"
                    }
                },
                "ProjectCreatedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Project"
                    }
                },
                "ProjectModifiedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Project"
                    }
                },
                "TestCreatedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Test"
                    }
                },
                "TestModifiedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Test"
                    }
                },
                "UploadHistoryCreatedByNavigation": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/UploadHistory"
                    }
                },
                "Applications": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Application"
                    }
                },
                "ApplicationSharings": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApplicationSharing"
                    }
                }
            }
        },
        "BillingRegions": {
            "type": "object",
            "properties": {
                "BillingRegionCode": {
                    "type": "string"
                },
                "BillingRegionName": {
                    "type": "string"
                },
                "BillingEndpoint": {
                    "type": "string"
                },
                "MonitoringStorageAccountName": {
                    "type": "string"
                },
                "MeteringKeySecretName": {
                    "type": "string"
                },
                "ApplicationSubscriptionsBillingRegion": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApplicationSubscriptions"
                    }
                },
                "ApplicationSubscriptionsDataRegion": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApplicationSubscriptions"
                    }
                }
            }
        },
        "Category": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int32",
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                },
                "Code": {
                    "type": "string"
                },
                "Project": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Project"
                    }
                }
            }
        },
        "Document": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "int64",
                    "type": "integer"
                },
                "ApplicationId": {
                    "format": "int32",
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                },
                "DocumentTypeId": {
                    "format": "int32",
                    "type": "integer"
                },
                "IsParallel": {
                    "type": "boolean"
                },
                "AlignedSentenceCount": {
                    "format": "int32",
                    "type": "integer"
                },
                "CreatedBy": {
                    "format": "uuid",
                    "type": "string"
                },
                "ModifiedBy": {
                    "format": "uuid",
                    "type": "string"
                },
                "CreatedDate": {
                    "format": "date-time",
                    "type": "string"
                },
                "IsAvailable": {
                    "type": "boolean"
                },
                "Application": {
[...]
