{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EdgeZones",
    "version": "2021-08-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MicrosoftEdgeZones"
    },
    {
      "name": "PublicMecEdgeZones"
    }
  ],
  "paths": {
    "/providers/Microsoft.EdgeZones/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/microsoftEdgeZones": {
      "get": {
        "operationId": "MicrosoftEdgeZones_ListBySubscription",
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "description": "Lists the Microsoft Edge Zones for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZoneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListMicrosoftEdgeZones": {
            "$ref": "./examples/MicrosoftEdgeZones_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/microsoftEdgeZones/{microsoftEdgeZoneName}": {
      "get": {
        "operationId": "MicrosoftEdgeZones_Get",
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "description": "Get a Microsoft Edge Zone in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "microsoftEdgeZoneName",
            "in": "path",
            "description": "The name of the MicrosoftEdgeZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetMicrosoftEdgeZone": {
            "$ref": "./examples/MicrosoftEdgeZones_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/microsoftEdgeZones/{microsoftEdgeZoneName}/register": {
      "post": {
        "operationId": "MicrosoftEdgeZones_Register",
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "description": "Registers a subscription for a Microsoft Edge Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "microsoftEdgeZoneName",
            "in": "path",
            "description": "The name of the MicrosoftEdgeZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterMicrosoftEdgeZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RegisterMicrosoftEdgeZone": {
            "$ref": "./examples/MicrosoftEdgeZones_Register.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/microsoftEdgeZones/{microsoftEdgeZoneName}/unregister": {
      "post": {
        "operationId": "MicrosoftEdgeZones_Unregister",
        "tags": [
          "MicrosoftEdgeZones"
        ],
        "description": "Unregisters a subscription for a Microsoft Edge Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "microsoftEdgeZoneName",
            "in": "path",
            "description": "The name of the MicrosoftEdgeZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UnregisterMicrosoftEdgeZone": {
            "$ref": "./examples/MicrosoftEdgeZones_Unregister.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/publicMecEdgeZones": {
      "get": {
        "operationId": "PublicMecEdgeZones_ListBySubscription",
        "tags": [
          "PublicMecEdgeZones"
        ],
        "description": "Lists the Public MEC Edge Zones for a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicMecEdgeZoneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListPublicMecEdgeZones": {
            "$ref": "./examples/PublicMecEdgeZones_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/publicMecEdgeZones/{publicMecEdgeZoneName}": {
      "get": {
        "operationId": "PublicMecEdgeZones_Get",
        "tags": [
          "PublicMecEdgeZones"
        ],
        "description": "Get a Public MEC Edge Zone in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "publicMecEdgeZoneName",
            "in": "path",
            "description": "The name of the PublicMecEdgeZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicMecEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPublicMecEdgeZone": {
            "$ref": "./examples/PublicMecEdgeZones_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/publicMecEdgeZones/{publicMecEdgeZoneName}/register": {
      "post": {
        "operationId": "PublicMecEdgeZones_Register",
        "tags": [
          "PublicMecEdgeZones"
        ],
        "description": "Registers a subscription for a Public MEC Edge Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "publicMecEdgeZoneName",
            "in": "path",
            "description": "The name of the PublicMecEdgeZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterPublicMecEdgeZoneRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MicrosoftEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RegisterPublicMecEdgeZone": {
            "$ref": "./examples/PublicMecEdgeZones_Register.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/publicMecEdgeZones/{publicMecEdgeZoneName}/unregister": {
      "post": {
        "operationId": "PublicMecEdgeZones_Unregister",
        "tags": [
          "PublicMecEdgeZones"
        ],
        "description": "Unregisters a subscription for a Public MEC Edge Zone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "publicMecEdgeZoneName",
            "in": "path",
            "description": "The name of the PublicMecEdgeZone",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublicMecEdgeZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UnregisterPublicMecEdgeZone": {
            "$ref": "./examples/PublicMecEdgeZones_Unregister.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MicrosoftEdgeZone": {
      "type": "object",
      "description": "A MicrosoftEdgeZone resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MicrosoftEdgeZoneProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MicrosoftEdgeZoneListResult": {
      "type": "object",
      "description": "The response of a MicrosoftEdgeZone list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MicrosoftEdgeZone items on this page",
          "items": {
            "$ref": "#/definitions/MicrosoftEdgeZone"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MicrosoftEdgeZoneProperties": {
      "type": "object",
      "description": "The properties of a MicrosoftEdgeZone Resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation. required property on a resource https://stackoverflow.microsoft.com/questions/327894",
          "readOnly": true
        },
        "registrationState": {
          "$ref": "#/definitions/RegistrationState",
          "description": "MicrosoftEdgeZone registration approved or not",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "MicrosoftEdgeZone display name"
        }
      },
      "required": [
        "displayName"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Provisioning State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting State"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted State"
          }
        ]
      },
      "readOnly": true
    },
    "PublicMecEdgeZone": {
      "type": "object",
      "description": "A PublicMecEdgeZone resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PublicMecEdgeZoneProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PublicMecEdgeZoneListResult": {
      "type": "object",
      "description": "The response of a PublicMecEdgeZone list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PublicMecEdgeZone items on this page",
          "items": {
            "$ref": "#/definitions/PublicMecEdgeZone"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PublicMecEdgeZoneProperties": {
      "type": "object",
      "description": "The properties of a PublicMecEdgeZone Resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation. required property on a resource https://stackoverflow.microsoft.com/questions/327894",
          "readOnly": true
        },
        "registrationState": {
          "$ref": "#/definitions/RegistrationState",
          "description": "PublicMecEdgeZone registration approved or not",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "PublicMecEdgeZone display name"
        }
      },
      "required": [
        "displayName"
      ]
    },
    "RegisterMicrosoftEdgeZoneRequest": {
      "type": "object",
      "description": "A MicrosoftEdgeZone register request body",
      "properties": {
        "organizationName": {
          "type": "string",
          "description": "Organization Name for the Microsoft Edge Zone registration"
        },
        "organizationContactName": {
          "type": "string",
          "description": "Organization Contact Name for the Microsoft Edge Zone registration"
        },
        "organizationContactEmailAddress": {
          "type": "string",
          "description": "Organization Contact Email Address for the Microsoft Edge Zone registration"
        },
        "organizationAzureServicesNeeded": {
          "type": "string",
          "description": "Azure services needed by organization of the Microsoft Edge Zone registration"
        },
        "organizationAzureResourceCapacityNeeded": {
          "type": "string",
          "description": "Azure resource capacity needed by organization of the Microsoft Edge Zone registration"
        }
      },
      "required": [
        "organizationName",
        "organizationContactName",
        "organizationContactEmailAddress",
        "organizationAzureServicesNeeded",
        "organizationAzureResourceCapacityNeeded"
      ]
    },
    "RegisterPublicMecEdgeZoneRequest": {
      "type": "object",
      "description": "A PublicMecEdgeZone register request body",
      "properties": {
        "organizationName": {
          "type": "string",
          "description": "Organization Name for the Public MEC Edge Zone registration"
        },
        "organizationContactName": {
          "type": "string",
          "description": "Organization Contact Name for the Public MEC Edge Zone registration"
        },
        "organizationContactEmailAddress": {
          "type": "string",
          "description": "Organization Contact Email Address for the Public MEC Edge Zone registration"
        },
        "organizationPartners": {
          "type": "string",
          "description": "Organization telecommunication partners and partners of interest"
        },
        "organizationApplicationOnboarding": {
          "type": "string",
          "description": "Organization cloud ready application ready for onboarding"
        },
        "organizationScenarioIndustry": {
          "type": "string",
          "description": "Organization scenario or industry"
        },
        "organizationAzureServicesNeeded": {
          "type": "string",
          "description": "Azure services needed by organization of the Public MEC Edge Zone registration"
        },
        "organizationAzureResourceCapacityNeeded": {
          "type": "string",
          "description": "Azure resource capacity needed by organization of the Public MEC Edge Zone registration"
        }
      },
      "required": [
        "organizationName",
        "organizationContactName",
        "organizationContactEmailAddress",
        "organizationPartners",
        "organizationApplicationOnboarding",
        "organizationScenarioIndustry",
        "organizationAzureServicesNeeded",
        "organizationAzureResourceCapacityNeeded"
      ]
    },
    "RegistrationState": {
      "type": "string",
      "description": "The status of the subscription's' Microsoft EdgeZone registration.",
      "enum": [
        "NotRegistered",
        "PendingRegister",
        "Registered",
        "PendingUnregister"
      ],
      "x-ms-enum": {
        "name": "RegistrationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotRegistered",
            "value": "NotRegistered",
            "description": "Not Registered State"
          },
          {
            "name": "PendingRegister",
            "value": "PendingRegister",
            "description": "Pending Register State"
          },
          {
            "name": "Registered",
            "value": "Registered",
            "description": "Registered State"
          },
          {
            "name": "PendingUnregister",
            "value": "PendingUnregister",
            "description": "Pending Unregister State"
          }
        ]
      }
    }
  },
  "parameters": {}
}
