{
  "swagger": "2.0",
  "info": {
    "title": "Azure Log Analytics",
    "description": "Azure Log Analytics API reference",
    "version": "2023-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs": {
      "get": {
        "tags": [
          "SummaryLogs"
        ],
        "x-ms-examples": {
          "SummaryLogsListByWorkspace": {
            "$ref": "./examples/SummaryLogsList.json"
          }
        },
        "operationId": "SummaryLogs_ListByWorkspace",
        "description": "Get all the summary rules for specified Log Analytics workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/SummaryLogsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}": {
      "put": {
        "tags": [
          "SummaryLogs"
        ],
        "x-ms-examples": {
          "SummaryLogsUpsert": {
            "$ref": "./examples/SummaryLogsUpsert.json"
          }
        },
        "operationId": "SummaryLogs_CreateOrUpdate",
        "description": "Create or Update Summary rule in Log Analytics workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SummaryLogsNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SummaryLogs"
            },
            "description": "The parameters required to update summary logs properties."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/SummaryLogs"
            }
          },
          "201": {
            "description": "OK response definition.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/SummaryLogs"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "get": {
        "tags": [
          "SummaryLogs"
        ],
        "x-ms-examples": {
          "SummaryLogsGet": {
            "$ref": "./examples/SummaryLogsGet.json"
          }
        },
        "operationId": "SummaryLogs_Get",
        "description": "Get a Summary rule in Log Analytics workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SummaryLogsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/SummaryLogs"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SummaryLogs"
        ],
        "x-ms-examples": {
          "SummaryLogsDelete": {
            "$ref": "./examples/SummaryLogsDelete.json"
          }
        },
        "operationId": "SummaryLogs_Delete",
        "description": "Delete a Summary rule in Log Analytics workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SummaryLogsNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "OK response definition."
          },
          "202": {
            "description": "Accepted response definition (Long running operation).",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}/stop": {
      "post": {
        "tags": [
          "SummaryLogs"
        ],
        "x-ms-examples": {
          "SummaryLogsStop": {
            "$ref": "./examples/SummaryLogsStop.json"
          }
        },
        "operationId": "SummaryLogs_Stop",
        "description": "Stop an active Summary rule in Log Analytics workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SummaryLogsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully suspending summary log rule."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/summaryLogs/{summaryLogsName}/start": {
      "post": {
        "tags": [
          "SummaryLogs"
        ],
        "x-ms-examples": {
          "SummaryLogsStop": {
            "$ref": "./examples/SummaryLogsStart.json"
          }
        },
        "operationId": "SummaryLogs_Start",
        "description": "Start an inactive Summary rule in Log Analytics workspace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SummaryLogsNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response definition (Long running operation).",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Operation Status Location URI",
                "type": "string"
              },
              "Location": {
                "description": "Operation Status Location URI",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "RuleDefinition": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "SummaryLogs rule query."
        },
        "binSize": {
          "type": "integer",
          "format": "int32",
          "description": "Scheduled window in minutes."
        },
        "binDelay": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum bin triggering delay in minutes."
        },
        "binStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time when the first bin will start (UTC)."
        },
        "timeSelector": {
          "type": "string",
          "enum": [
            "TimeGenerated",
            "IngestionTime"
          ],
          "description": "Determines which cursor is used in rule.",
          "x-ms-enum": {
            "name": "TimeSelectorEnum",
            "modelAsString": true,
            "values": [
              {
                "value": "TimeGenerated",
                "description": "TimeGenerated."
              },
              {
                "value": "IngestionTime",
                "description": "IngestionTime."
              }
            ]
          }
        },
        "destinationTable": {
          "type": "string",
          "description": "Rule results destination table."
        }
      },
      "description": "Rule's definition parameters."
    },
    "SummaryLogsProperties": {
      "type": "object",
      "properties": {
        "ruleType": {
          "type": "string",
          "enum": [
            "User",
            "System"
          ],
          "description": "SummaryLogs rule permutation System/User.",
          "x-ms-enum": {
            "name": "RuleTypeEnum",
            "modelAsString": true,
            "values": [
              {
                "value": "User",
                "description": "User defined summary log rule."
              },
              {
                "value": "System",
                "description": "Microsoft builtin summary log rule."
              }
            ]
          }
        },
        "isActive": {
          "readOnly": true,
          "type": "boolean",
          "description": "An explicit indication stating if summary logs rule is active or not, if not active - periodic query will not run."
        },
        "statusCode": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UserAction",
            "DataPlaneError"
          ],
          "description": "An explicit reasoning stating the cause for the rule de activation.",
          "x-ms-enum": {
            "name": "StatusCodeEnum",
            "modelAsString": true,
            "values": [
              {
                "value": "UserAction",
                "description": "Summary log rule stop originated from a user action (Stop was called)."
              },
              {
                "value": "DataPlaneError",
                "description": "Summary log rule stop was caused due to data plane related error."
              }
            ]
          }
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "SummaryLogs current provisioning state. If set to 'updating/deleting', indicates a resource lock due to ongoing operation, forbidding any update to the summary logs until the ongoing operation is concluded.",
          "enum": [
            "Updating",
            "Succeeded",
            "Deleting",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true,
            "values": [
              {
                "value": "Updating",
                "description": "Summary logs is still being built and updated, summary logs is currently locked for any changes till the procedure is done."
              },
              {
                "value": "Succeeded",
                "description": "Summary logs state is stable and without changes, Summary logs is unlocked and open for new updates."
              },
              {
                "value": "Deleting",
                "description": "Summary logs state is deleting, summary logs is currently locked for any changes till the procedure is done."
              },
              {
                "value": "Failed",
                "description": "Summary logs state is stable and without changes."
              },
              {
                "value": "Canceled",
                "description": "Summary logs state is stable and without changes."
              }
            ]
          }
        },
        "ruleDefinition": {
          "$ref": "#/definitions/RuleDefinition",
          "description": "Rule definition parameters."
        }
      },
      "description": "SummaryLogs properties."
    },
    "SummaryLogs": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SummaryLogsProperties",
          "description": "Summary Logs properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Workspace data summary logs definition."
    },
    "SummaryLogsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SummaryLogs"
          },
          "description": "A list of summary logs."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of operation list results if there are any."
        }
      },
      "description": "The list summary logs operation response."
    }
  },
  "parameters": {
    "SummaryLogsNameParameter": {
      "name": "summaryLogsName",
      "in": "path",
      "required": true,
      "pattern": "^[a-z][a-z0-9]*$",
      "type": "string",
      "description": "The name of the summary logs.",
      "x-ms-parameter-location": "method"
    }
  }
}
