{
  "swagger": "2.0",
  "info": {
    "version": "2021-08-01",
    "title": "DataShareManagementClient",
    "description": "Creates a Microsoft.DataShare management client."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Accounts in a subscription",
        "description": "List Accounts in Subscription",
        "operationId": "Accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Accounts_ListBySubscription": {
            "$ref": "./examples/Accounts_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get an account under a resource group",
        "description": "Get an account",
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "./examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Create an account in the given resource group",
        "description": "Create an account",
        "operationId": "Accounts_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "account",
            "in": "body",
            "description": "The account payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Accounts_Create": {
            "$ref": "./examples/Accounts_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete an account",
        "description": "DeleteAccount",
        "operationId": "Accounts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "./examples/Accounts_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Patch a given account",
        "description": "Patch an account",
        "operationId": "Accounts_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "accountUpdateParameters",
            "in": "body",
            "description": "The account update parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "./examples/Accounts_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Accounts in a resource group",
        "description": "List Accounts in ResourceGroup",
        "operationId": "Accounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Accounts_ListByResourceGroup": {
            "$ref": "./examples/Accounts_ListByResourceGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/listInvitations": {
      "get": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "List the invitations",
        "description": "Lists invitations",
        "operationId": "ConsumerInvitations_ListInvitations",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConsumerInvitations_ListInvitations": {
            "$ref": "./examples/ConsumerInvitations_ListInvitations.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}": {
      "get": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "Gets the invitation identified by invitationId",
        "description": "Get an invitation",
        "operationId": "ConsumerInvitations_Get",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the invitation",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationId",
            "in": "path",
            "description": "An invitation id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_Get": {
            "$ref": "./examples/ConsumerInvitations_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/rejectInvitation": {
      "post": {
        "tags": [
          "ConsumerInvitation"
        ],
        "summary": "Rejects the invitation identified by invitationId",
        "description": "Reject an invitation",
        "operationId": "ConsumerInvitations_RejectInvitation",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the invitation",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitation",
            "in": "body",
            "description": "An invitation payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerInvitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ConsumerInvitations_RejectInvitation": {
            "$ref": "./examples/ConsumerInvitations_RejectInvitation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets/{dataSetName}": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get DataSet in a share.",
        "description": "Get a DataSet in a share",
        "operationId": "DataSets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetName",
            "in": "path",
            "description": "The name of the dataSet.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Get": {
            "$ref": "./examples/DataSets_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataSet"
        ],
        "summary": "Adds a new data set to an existing share.",
        "description": "Create a DataSet ",
        "operationId": "DataSets_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to add the data set to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetName",
            "in": "path",
            "description": "The name of the dataSet.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSet",
            "in": "body",
            "description": "The new data set information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSets_Create": {
            "$ref": "./examples/DataSets_Create.json"
          },
          "DataSets_KustoCluster_Create": {
            "$ref": "./examples/DataSets_KustoCluster_Create.json"
          },
          "DataSets_KustoDatabase_Create": {
            "$ref": "./examples/DataSets_KustoDatabase_Create.json"
          },
          "DataSets_KustoTable_Create": {
            "$ref": "./examples/DataSets_KustoTable_Create.json"
          },
          "DataSets_SqlDWTable_Create": {
            "$ref": "./examples/DataSets_SqlDWTable_Create.json"
          },
          "DataSets_SqlDBTable_Create": {
            "$ref": "./examples/DataSets_SqlDBTable_Create.json"
          },
          "DataSets_SynapseWorkspaceSqlPoolTable_Create": {
            "$ref": "./examples/DataSets_SynapseWorkspaceSqlPoolTable_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataSet"
        ],
        "summary": "Delete DataSet in a share.",
        "description": "Delete a DataSet in a share",
        "operationId": "DataSets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetName",
            "in": "path",
            "description": "The name of the dataSet.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DataSets_Delete": {
            "$ref": "./examples/DataSets_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/dataSets": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "List DataSets in a share.",
        "description": "List DataSets in a share",
        "operationId": "DataSets_ListByShare",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataSets_ListByShare": {
            "$ref": "./examples/DataSets_ListByShare.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings/{dataSetMappingName}": {
      "get": {
        "tags": [
          "DataSetMapping"
        ],
        "summary": "Get DataSetMapping in a shareSubscription.",
        "description": "Get a DataSetMapping in a shareSubscription",
        "operationId": "DataSetMappings_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMappingName",
            "in": "path",
            "description": "The name of the dataSetMapping.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_Get": {
            "$ref": "./examples/DataSetMappings_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "DataSetMapping"
        ],
        "summary": "Maps a source data set in the source share to a sink data set in the share subscription.\r\nEnables copying the data set from source to destination.",
        "description": "Create a DataSetMapping ",
        "operationId": "DataSetMappings_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the share subscription which will hold the data set sink.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMappingName",
            "in": "path",
            "description": "The name of the data set mapping to be created.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMapping",
            "in": "body",
            "description": "Destination data set configuration details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetMapping"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_Create": {
            "$ref": "./examples/DataSetMappings_Create.json"
          },
          "DataSetMappings_SqlDW_Create": {
            "$ref": "./examples/DataSetMappings_SqlDW_Create.json"
          },
          "DataSetMappings_SqlDB_Create": {
            "$ref": "./examples/DataSetMappings_SqlDB_Create.json"
          },
          "DataSetMappings_SqlDWDataSetToAdlsGen2File_Create": {
            "$ref": "./examples/DataSetMappings_SqlDWDataSetToAdlsGen2File_Create.json"
          },
          "DataSetMappings_SynapseWorkspaceSqlPoolTable_Create": {
            "$ref": "./examples/DataSetMappings_SynapseWorkspaceSqlPoolTable_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataSetMapping"
        ],
        "summary": "Delete DataSetMapping in a shareSubscription.",
        "description": "Delete a DataSetMapping in a shareSubscription",
        "operationId": "DataSetMappings_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataSetMappingName",
            "in": "path",
            "description": "The name of the dataSetMapping.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "DataSetMappings_Delete": {
            "$ref": "./examples/DataSetMappings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings": {
      "get": {
        "tags": [
          "DataSetMapping"
        ],
        "summary": "List DataSetMappings in a share subscription.",
        "description": "List DataSetMappings in a share subscription",
        "operationId": "DataSetMappings_ListByShareSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the share subscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DataSetMappingList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DataSetMappings_ListByShareSubscription": {
            "$ref": "./examples/DataSetMappings_ListByShareSubscription.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/activateEmail": {
      "post": {
        "tags": [
          "EmailRegistration"
        ],
        "summary": "Activates the tenant and email combination using email code received.",
        "description": "Activate the email registration for the current tenant",
        "operationId": "EmailRegistrations_ActivateEmail",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the activation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "emailRegistration",
            "in": "body",
            "description": "The payload for tenant domain activation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRegistration"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EmailRegistration"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "EmailRegistrations_ActivateEmail": {
            "$ref": "./examples/EmailRegistrations_ActivateEmail.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/locations/{location}/registerEmail": {
      "post": {
        "tags": [
          "EmailRegistration"
        ],
        "summary": "Registers the tenant and email combination for verification.",
        "description": "Register an email for the current tenant",
        "operationId": "EmailRegistrations_RegisterEmail",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location of the registration",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EmailRegistration"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "EmailRegistrations_RegisterEmail": {
            "$ref": "./examples/EmailRegistrations_RegisterEmail.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations/{invitationName}": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "summary": "Get Invitation in a share.",
        "description": "Get an invitation in a share",
        "operationId": "Invitations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Get": {
            "$ref": "./examples/Invitations_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Invitation"
        ],
        "summary": "Sends a new invitation to a recipient to access a share.",
        "description": "Create an invitation ",
        "operationId": "Invitations_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to send the invitation for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitation",
            "in": "body",
            "description": "Invitation details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Create": {
            "$ref": "./examples/Invitations_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Invitation"
        ],
        "summary": "Delete Invitation in a share.",
        "description": "Delete an invitation in a share",
        "operationId": "Invitations_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "invitationName",
            "in": "path",
            "description": "The name of the invitation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Invitations_Delete": {
            "$ref": "./examples/Invitations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/invitations": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "summary": "List all Invitations in a share.",
        "description": "List invitations in a share",
        "operationId": "Invitations_ListByShare",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InvitationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Invitations_ListByShare": {
            "$ref": "./examples/Invitations_ListByShare.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataShare/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "summary": "Lists the available operations",
        "description": "List of available operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizationDetails": {
      "post": {
        "tags": [
          "Share"
        ],
        "summary": "List data set level details for a share synchronization",
        "description": "List synchronization details",
        "operationId": "Shares_ListSynchronizationDetails",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSynchronization",
            "in": "body",
            "description": "Share Synchronization payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSynchronization"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SynchronizationDetailsList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Shares_ListSynchronizationDetails": {
            "$ref": "./examples/Shares_ListSynchronizationDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/listSynchronizations": {
      "post": {
        "tags": [
          "Share"
        ],
        "summary": "List Synchronizations in a share",
        "description": "List synchronizations of a share",
        "operationId": "Shares_ListSynchronizations",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSynchronizationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Shares_ListSynchronizations": {
            "$ref": "./examples/Shares_ListSynchronizations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/adjust": {
      "post": {
        "tags": [
          "Share"
        ],
        "summary": "Adjust the expiration date of a share subscription in a provider share.",
        "description": "Adjust a share subscription's expiration date in a provider share",
        "operationId": "ProviderShareSubscriptions_Adjust",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerShareSubscriptionId",
            "in": "path",
            "description": "To locate shareSubscription",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "providerShareSubscription",
            "in": "body",
            "description": "The provider share subscription",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ProviderShareSubscriptions_Adjust": {
            "$ref": "./examples/ProviderShareSubscriptions_Adjust.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/reinstate": {
      "post": {
        "tags": [
          "Share"
        ],
        "summary": "Reinstate share subscription in a provider share.",
        "description": "Reinstate share subscription in a provider share",
        "operationId": "ProviderShareSubscriptions_Reinstate",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerShareSubscriptionId",
            "in": "path",
            "description": "To locate shareSubscription",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "providerShareSubscription",
            "in": "body",
            "description": "The provider share subscription",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ProviderShareSubscriptions_Reinstate": {
            "$ref": "./examples/ProviderShareSubscriptions_Reinstate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}/revoke": {
      "post": {
        "tags": [
          "Share"
        ],
        "summary": "Revoke share subscription in a provider share.",
        "description": "Revoke share subscription in a provider share",
        "operationId": "ProviderShareSubscriptions_Revoke",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerShareSubscriptionId",
            "in": "path",
            "description": "To locate shareSubscription",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ProviderShareSubscriptions_Revoke": {
            "$ref": "./examples/ProviderShareSubscriptions_Revoke.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions/{providerShareSubscriptionId}": {
      "get": {
        "tags": [
          "Share"
        ],
        "summary": "Get share subscription in a provider share.",
        "description": "Get share subscription in a provider share",
        "operationId": "ProviderShareSubscriptions_GetByShare",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "providerShareSubscriptionId",
            "in": "path",
            "description": "To locate shareSubscription",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscription"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ProviderShareSubscriptions_GetByShare": {
            "$ref": "./examples/ProviderShareSubscriptions_GetByShare.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/providerShareSubscriptions": {
      "get": {
        "tags": [
          "Share"
        ],
        "summary": "List of available share subscriptions to a provider share.",
        "description": "List share subscriptions in a provider share",
        "operationId": "ProviderShareSubscriptions_ListByShare",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProviderShareSubscriptionList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ProviderShareSubscriptions_ListByShare": {
            "$ref": "./examples/ProviderShareSubscriptions_ListByShare.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}": {
      "get": {
        "tags": [
          "Share"
        ],
        "summary": "Get a specified share",
        "description": "Get a share ",
        "operationId": "Shares_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to retrieve.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Shares_Get": {
            "$ref": "./examples/Shares_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Share"
        ],
        "summary": "Create a share in the given account.",
        "description": "Create a share ",
        "operationId": "Shares_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "share",
            "in": "body",
            "description": "The share payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Share"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Shares_Create": {
            "$ref": "./examples/Shares_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Share"
        ],
        "summary": "Deletes a share",
        "description": "Delete a share ",
        "operationId": "Shares_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Shares_Delete": {
            "$ref": "./examples/Shares_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares": {
      "get": {
        "tags": [
          "Share"
        ],
        "summary": "List of available shares under an account.",
        "description": "List shares in an account",
        "operationId": "Shares_ListByAccount",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Shares_ListByAccount": {
            "$ref": "./examples/Shares_ListByAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization": {
      "post": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Request cancellation of a data share snapshot",
        "description": "Request to cancel a synchronization.",
        "operationId": "ShareSubscriptions_CancelSynchronization",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionSynchronization",
            "in": "body",
            "description": "Share Subscription Synchronization payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ShareSubscriptions_CancelSynchronization": {
            "$ref": "./examples/ShareSubscriptions_CancelSynchronization.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/consumerSourceDataSets": {
      "get": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Get source dataSets of a shareSubscription.",
        "description": "Get source dataSets of a shareSubscription",
        "operationId": "ConsumerSourceDataSets_ListByShareSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConsumerSourceDataSetList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConsumerSourceDataSets_ListByShareSubscription": {
            "$ref": "./examples/ConsumerSourceDataSets_ListByShareSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings": {
      "post": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Get source share synchronization settings for a shareSubscription.",
        "description": "Get synchronization settings set on a share",
        "operationId": "ShareSubscriptions_ListSourceShareSynchronizationSettings",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SourceShareSynchronizationSettingList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListSourceShareSynchronizationSettings": {
            "$ref": "./examples/ShareSubscriptions_ListSourceShareSynchronizationSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails": {
      "post": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "List data set level details for a share subscription synchronization",
        "description": "List synchronization details",
        "operationId": "ShareSubscriptions_ListSynchronizationDetails",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the share subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscriptionSynchronization",
            "in": "body",
            "description": "Share Subscription Synchronization payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SynchronizationDetailsList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListSynchronizationDetails": {
            "$ref": "./examples/ShareSubscriptions_ListSynchronizationDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations": {
      "post": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "List Synchronizations in a share subscription.",
        "description": "List synchronizations of a share subscription",
        "operationId": "ShareSubscriptions_ListSynchronizations",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the share subscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronizationList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListSynchronizations": {
            "$ref": "./examples/ShareSubscriptions_ListSynchronizations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/synchronize": {
      "post": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Initiate an asynchronous data share job",
        "description": "Initiate a copy",
        "operationId": "ShareSubscriptions_Synchronize",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of share subscription",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronize",
            "in": "body",
            "description": "Synchronize payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Synchronize"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionSynchronization"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ShareSubscriptions_Synchronize": {
            "$ref": "./examples/ShareSubscriptions_Synchronize.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}": {
      "get": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Get shareSubscription in an account.",
        "description": "Get a shareSubscription in an account",
        "operationId": "ShareSubscriptions_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_Get": {
            "$ref": "./examples/ShareSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Create shareSubscription in an account.",
        "description": "Create a shareSubscription in an account",
        "operationId": "ShareSubscriptions_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "shareSubscription",
            "in": "body",
            "description": "create parameters for shareSubscription",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscription"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "ShareSubscriptions_Create": {
            "$ref": "./examples/ShareSubscriptions_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "Delete shareSubscription in an account.",
        "description": "Delete a shareSubscription in an account",
        "operationId": "ShareSubscriptions_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ShareSubscriptions_Delete": {
            "$ref": "./examples/ShareSubscriptions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions": {
      "get": {
        "tags": [
          "ShareSubscription"
        ],
        "summary": "List of available share subscriptions under an account.",
        "description": "List share subscriptions in an account",
        "operationId": "ShareSubscriptions_ListByAccount",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results using OData syntax.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results using OData syntax.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ShareSubscriptionList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ShareSubscriptions_ListByAccount": {
            "$ref": "./examples/ShareSubscriptions_ListByAccount.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings/{synchronizationSettingName}": {
      "get": {
        "tags": [
          "SynchronizationSetting"
        ],
        "summary": "Get synchronizationSetting in a share.",
        "description": "Get a synchronizationSetting in a share",
        "operationId": "SynchronizationSettings_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronizationSettingName",
            "in": "path",
            "description": "The name of the synchronizationSetting.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SynchronizationSetting"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "SynchronizationSettings_Get": {
            "$ref": "./examples/SynchronizationSettings_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "SynchronizationSetting"
        ],
        "summary": "Adds a new synchronization setting to an existing share.",
        "description": "Create a synchronizationSetting",
        "operationId": "SynchronizationSettings_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share to add the synchronization setting to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronizationSettingName",
            "in": "path",
            "description": "The name of the synchronizationSetting.",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronizationSetting",
            "in": "body",
            "description": "The new synchronization setting information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SynchronizationSetting"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SynchronizationSetting"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SynchronizationSetting"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "SynchronizationSettings_Create": {
            "$ref": "./examples/SynchronizationSettings_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SynchronizationSetting"
        ],
        "summary": "Delete synchronizationSetting in a share.",
        "description": "Delete a synchronizationSetting in a share",
        "operationId": "SynchronizationSettings_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "name": "synchronizationSettingName",
            "in": "path",
            "description": "The name of the synchronizationSetting .",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "SynchronizationSettings_Delete": {
            "$ref": "./examples/SynchronizationSettings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}/synchronizationSettings": {
      "get": {
        "tags": [
          "SynchronizationSetting"
        ],
        "summary": "List synchronizationSettings in a share.",
        "description": "List synchronizationSettings in a share",
        "operationId": "SynchronizationSettings_ListByShare",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareName",
            "in": "path",
            "description": "The name of the share.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SynchronizationSettingList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SynchronizationSettings_ListByShare": {
            "$ref": "./examples/SynchronizationSettings_ListByShare.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}": {
      "get": {
        "tags": [
          "Trigger"
        ],
        "summary": "Get Trigger in a shareSubscription.",
        "description": "Get a Trigger in a shareSubscription",
        "operationId": "Triggers_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "in": "path",
            "description": "The name of the trigger.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-examples": {
          "Triggers_Get": {
            "$ref": "./examples/Triggers_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Trigger"
        ],
        "summary": "This method creates a trigger for a share subscription",
        "description": "Create a Trigger ",
        "operationId": "Triggers_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the share subscription which will hold the data set sink.",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "in": "path",
            "description": "The name of the trigger.",
            "required": true,
            "type": "string"
          },
          {
            "name": "trigger",
            "in": "body",
            "description": "Trigger details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Trigger"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Triggers_Create": {
            "$ref": "./examples/Triggers_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Trigger"
        ],
        "summary": "Delete Trigger in a shareSubscription.",
        "description": "Delete a Trigger in a shareSubscription",
        "operationId": "Triggers_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the shareSubscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerName",
            "in": "path",
            "description": "The name of the trigger.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Triggers_Delete": {
            "$ref": "./examples/Triggers_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers": {
      "get": {
        "tags": [
          "Trigger"
        ],
        "summary": "List Triggers in a share subscription.",
        "description": "List Triggers in a share subscription",
        "operationId": "Triggers_ListByShareSubscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/accountName"
          },
          {
            "name": "shareSubscriptionName",
            "in": "path",
            "description": "The name of the share subscription.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "Continuation token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TriggerList"
            }
          },
          "default": {
            "description": "An error response received from the Microsoft.DataShare resource provider.",
            "schema": {
              "$ref": "#/definitions/DataShareError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Triggers_ListByShareSubscription": {
            "$ref": "./examples/Triggers_ListByShareSubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Account": {
      "description": "An account data transfer object.",
      "required": [
        "identity"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DefaultDto"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "Identity Info on the Account"
        },
        "properties": {
          "$ref": "#/definitions/AccountProperties",
          "description": "Properties on the account",
          "x-ms-client-flatten": true
        }
      }
    },
    "AccountList": {
      "description": "List response for get Accounts.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        },
        "value": {
          "description": "Collection of items of type DataTransferObjects.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "AccountProperties": {
      "description": "Account property bag.",
      "type": "object",
      "properties": {
        "createdAt": {
          "format": "date-time",
          "description": "Time at which the account was created.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "description": "Provisioning state of the Account",
          "enum": [
            "Succeeded",
            "Creating",
            "Deleting",
            "Moving",
            "Failed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "userEmail": {
          "description": "Email of the user who created the resource",
          "type": "string",
          "readOnly": true
        },
[...]
