{
  "swagger": "2.0",
  "info": {
    "title": "AppInsightsManagementClient",
    "description": "Azure Application Insights client for synthetic monitor based alerting.",
    "version": "2015-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/webtests": {
      "get": {
        "description": "Get all Application Insights synthetic monitors defined within a specified resource group.",
        "operationId": "SyntheticMonitor_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more synthetic monitor definitions.",
            "schema": {
              "$ref": "#/definitions/SyntheticMonitorListResult"
            }
          }
        },
        "x-ms-examples": {
          "SyntheticMonitorListByResourceGroup": {
            "$ref": "../examples/SyntheticMonitorListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/webtests/{webTestName}": {
      "get": {
        "description": "Get a specific Application Insights synthetic monitor definition.",
        "operationId": "SyntheticMonitor_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/WebTestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ann Application Insights synthetic monitor definition.",
            "schema": {
              "$ref": "#/definitions/SyntheticMonitor"
            }
          }
        },
        "x-ms-examples": {
          "SyntheticMonitorGet": {
            "$ref": "../examples/SyntheticMonitorGet.json"
          }
        }
      },
      "put": {
        "description": "Creates or updates an Application Insights synthetic monitor definition.",
        "operationId": "SyntheticMonitor_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/WebTestNameParameter"
          },
          {
            "name": "WebTestDefinition",
            "description": "Properties that need to be specified to create or update an Application Insights synthetic monitor definition.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SyntheticMonitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Adding the Application Insights synthetic monitor was successful. Synthetic monitor properties are updated and returned.",
            "schema": {
              "$ref": "#/definitions/SyntheticMonitor"
            }
          }
        },
        "x-ms-examples": {
          "SyntheticMonitorCreate": {
            "$ref": "../examples/SyntheticMonitorCreate.json"
          },
          "SyntheticMonitorUpdate": {
            "$ref": "../examples/SyntheticMonitorUpdate.json"
          }
        }
      },
      "delete": {
        "description": "Deletes an Application Insights synthetic monitor.",
        "operationId": "SyntheticMonitor_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WebTestNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No content: the request was successful, but the response is empty (the request to delete failed because the specified synthetic monitor does not exist)."
          },
          "200": {
            "description": "Successful request to delete a synthetic monitor definition."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.insights/webtests": {
      "get": {
        "description": "Get all Application Insights synthetic monitor alerts definitioned within a subscription.",
        "operationId": "SyntheticMonitor_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of 0 or more Application Insights synthetic monitor definitions.",
            "schema": {
              "$ref": "#/definitions/SyntheticMonitorListResult"
            }
          }
        },
        "x-ms-examples": {
          "SyntheticMonitorList": {
            "$ref": "../examples/SyntheticMonitorList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "SyntheticMonitorListResult": {
      "description": "A list of 0 or more Application Insights synthetic monitor definitions.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "Set of Application Insights synthetic monitor definitions.",
          "items": {
            "$ref": "#/definitions/SyntheticMonitor"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The link to get the next part of the returned list of synthetic monitors, should the return set be too large for a single request. May be null."
        }
      }
    },
    "SyntheticMonitor": {
      "description": "An Application Insights synthetic monitor definition.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of web test that this synthetic monitor watches. Choices are ping and multistep.",
          "default": "ping",
          "enum": [
            "ping",
            "multistep"
          ],
          "x-ms-enum": {
            "name": "WebTestKind",
            "modelAsString": false
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/WebTestProperties"
        }
      }
    },
    "WebTestProperties": {
      "description": "Metadata describing a synthetic monitor for an Azure resource.",
      "required": [
        "Name",
        "Kind"
      ],
      "properties": {
        "SyntheticMonitorId": {
          "type": "string",
          "description": "Unique ID of this WebTest."
        },
        "Name": {
          "x-ms-client-name": "WebTestName",
          "type": "string",
          "description": "User defined name if this WebTest."
        },
        "Description": {
          "type": "string",
          "description": "Purpose/user defined descriptive test for this WebTest."
        },
        "Enabled": {
          "type": "boolean",
          "description": "Is the test actively being monitored, default is false."
        },
        "Frequency": {
          "type": "integer",
          "format": "int32",
          "description": "Interval between test runs for this WebTest."
        },
        "Timeout": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds until this WebTest will timeout and fail."
        },
        "Kind": {
          "x-ms-client-name": "WebTestKind",
          "type": "string",
          "description": "The kind of web test this is, valid choices are ping and multistep.",
          "default": "ping",
          "enum": [
            "ping",
            "multistep"
          ],
          "x-ms-enum": {
            "name": "WebTestKind",
            "modelAsString": false
          }
        },
        "RetryEnabled": {
          "type": "boolean",
          "description": "Allow for retries should this WebTest fail."
        },
        "Locations": {
          "type": "array",
          "description": "A list of where to physically run the tests from to give global coverage for accessibility of your application.",
          "items": {
            "$ref": "#/definitions/WebTestGeolocation"
          }
        },
        "Configuration": {
          "type": "object",
          "description": "An XML configuration specification for a WebTest.",
          "properties": {
            "WebTest": {
              "type": "string",
              "description": "The XML specification of a WebTest to run against an application."
            }
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "Current state of this component, whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Succeeded, Deploying, Canceled, and Failed.",
          "readOnly": true
        }
      }
    },
    "WebTestGeolocation": {
      "description": "Geo-physical location to run a web test from.",
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Unique ID of this WebTest."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription Id."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "WebTestNameParameter": {
      "name": "webTestName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights webtest resource.",
      "x-ms-parameter-location": "method"
    }
  }
}