{
  "swagger": "2.0",
  "info": {
    "title": "DeviceUpdate",
    "version": "2024-10-01-preview",
    "description": "Microsoft Device Update resource provider.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "UpdateAccounts"
    },
    {
      "name": "ActiveDeployments"
    },
    {
      "name": "Agents"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "DeviceClasses"
    },
    {
      "name": "Updates"
    }
  ],
  "paths": {
    "/providers/Microsoft.DeviceUpdate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the list of operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/checkNameAvailability": {
      "post": {
        "operationId": "UpdateAccounts_CheckNameAvailability",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Check if the Update Account name is available",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Example of successful check name availability": {
            "$ref": "./examples/UpdateAccounts_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceUpdate/updateAccounts": {
      "get": {
        "operationId": "UpdateAccounts_ListBySubscription",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Returns list of Update Accounts.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get list of UpdateAccounts": {
            "$ref": "./examples/UpdateAccounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts": {
      "get": {
        "operationId": "UpdateAccounts_ListByResourceGroup",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Returns list of Update Accounts.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Accounts": {
            "$ref": "./examples/UpdateAccounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}": {
      "get": {
        "operationId": "UpdateAccounts_Get",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Returns update account details for the given update account name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Update Account details": {
            "$ref": "./examples/UpdateAccounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "UpdateAccounts_Create",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Creates or updates an Update Account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "UpdateAccount",
            "in": "body",
            "description": "Update Account details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'UpdateAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "201": {
            "description": "Resource 'UpdateAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates an Update Account": {
            "$ref": "./examples/UpdateAccounts_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "UpdateAccounts_Update",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Updates update account's patchable properties",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "updateAccountUpdatePayload",
            "in": "body",
            "description": "Updated Update Account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccountUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateAccount"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Update Account": {
            "$ref": "./examples/UpdateAccounts_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "UpdateAccounts_Delete",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Deletes an update account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an update account": {
            "$ref": "./examples/UpdateAccounts_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/activeDeployments": {
      "get": {
        "operationId": "ActiveDeployments_ListByUpdateAccount",
        "tags": [
          "ActiveDeployments"
        ],
        "description": "Returns active deployments for the given update account name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Active Deployments by Update Account": {
            "$ref": "./examples/ActiveDeployments_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/activeDeployments/{activeDeploymentName}": {
      "get": {
        "operationId": "ActiveDeployments_Get",
        "tags": [
          "ActiveDeployments"
        ],
        "description": "Returns Active Deployment details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "activeDeploymentName",
            "in": "path",
            "description": "Active Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for an Active Deployment": {
            "$ref": "./examples/ActiveDeployments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ActiveDeployments_Create",
        "tags": [
          "ActiveDeployments"
        ],
        "description": "Creates or updates an Active Deployment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "activeDeploymentName",
            "in": "path",
            "description": "Active Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "activeDeployment",
            "in": "body",
            "description": "Active Deployment details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ActiveDeployment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "201": {
            "description": "Resource 'ActiveDeployment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Active Deployment": {
            "$ref": "./examples/ActiveDeployments_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "ActiveDeployments_Update",
        "tags": [
          "ActiveDeployments"
        ],
        "description": "Updates Active Deployment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "activeDeploymentName",
            "in": "path",
            "description": "Active Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDeployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Active Deployment": {
            "$ref": "./examples/ActiveDeployments_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ActiveDeployments_Delete",
        "tags": [
          "ActiveDeployments"
        ],
        "description": "Delete Active Deployment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "activeDeploymentName",
            "in": "path",
            "description": "Active Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Active Deployment": {
            "$ref": "./examples/ActiveDeployments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/agents": {
      "get": {
        "operationId": "Agents_ListByUpdateAccount",
        "tags": [
          "Agents"
        ],
        "description": "Returns agents for the given update account name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Agents by an Update Account": {
            "$ref": "./examples/Agents_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/agents/{agentName}": {
      "get": {
        "operationId": "Agents_Get",
        "tags": [
          "Agents"
        ],
        "description": "Returns agent details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "Agent Id.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 1016,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]*[A-Za-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for an agent": {
            "$ref": "./examples/Agents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Agents_Create",
        "tags": [
          "Agents"
        ],
        "description": "Creates or updates an Agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "Agent Id.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 1016,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]*[A-Za-z0-9]$"
          },
          {
            "name": "agent",
            "in": "body",
            "description": "Agent details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Agent"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Agent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "201": {
            "description": "Resource 'Agent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Agent": {
            "$ref": "./examples/Agents_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Agents_Update",
        "tags": [
          "Agents"
        ],
        "description": "Updates Agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "Agent Id.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 1016,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]*[A-Za-z0-9]$"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Agent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Agent": {
            "$ref": "./examples/Agents_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Agents_Delete",
        "tags": [
          "Agents"
        ],
        "description": "Delete Agent.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "Agent Id.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 1016,
            "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]*[A-Za-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Agent": {
            "$ref": "./examples/Agents_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/calculateHighestVersionUpdates": {
      "post": {
        "operationId": "UpdateAccounts_CalculateHighestVersionUpdates",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Calculate the highest version updates for the Account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClassUpdatableDevicesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculates Highest Version Updates": {
            "$ref": "./examples/UpdateAccounts_CalculateHighestVersionUpdates.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/calculateUpdateCompliance": {
      "post": {
        "operationId": "UpdateAccounts_CalculateUpdateCompliance",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Calculate update compliance for the Account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateCompliance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Calculates Update Compliance": {
            "$ref": "./examples/UpdateAccounts_CalculateUpdateCompliance.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments": {
      "get": {
        "operationId": "Deployments_ListByUpdateAccount",
        "tags": [
          "Deployments"
        ],
        "description": "Returns deployments for the given update account name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Deployments by Account": {
            "$ref": "./examples/Deployments_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments/{deploymentName}": {
      "get": {
        "operationId": "Deployments_Get",
        "tags": [
          "Deployments"
        ],
        "description": "Returns Deployment details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "description": "Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for a Deployment": {
            "$ref": "./examples/Deployments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Deployments_Create",
        "tags": [
          "Deployments"
        ],
        "description": "Creates or updates a Deployment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "description": "Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deployment",
            "in": "body",
            "description": "Deployment details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Deployment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "201": {
            "description": "Resource 'Deployment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a Deployment": {
            "$ref": "./examples/Deployments_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Deployments_Update",
        "tags": [
          "Deployments"
        ],
        "description": "Updates Deployment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "description": "Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Deployment": {
            "$ref": "./examples/Deployments_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Deployments_Delete",
        "tags": [
          "Deployments"
        ],
        "description": "Delete Deployment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "description": "Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Deployment": {
            "$ref": "./examples/Deployments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments/{deploymentName}/calculateDeviceStates": {
      "post": {
        "operationId": "Deployments_CalculateDeviceStates",
        "tags": [
          "Deployments"
        ],
        "description": "Calculates the list of devices in a deployment along with their state. Useful for getting a list of failed devices.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "description": "Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentDeviceStatesList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of devices in a Deployment": {
            "$ref": "./examples/Deployments_CalculateDeviceStates.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deployments/{deploymentName}/calculateStatus": {
      "post": {
        "operationId": "Deployments_CalculateStatus",
        "tags": [
          "Deployments"
        ],
        "description": "Calculate the status of a deployment including a breakdown of how many devices in the deployment are in progress, completed, or failed.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "description": "Deployment Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 73,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeploymentStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the status of a Deployment": {
            "$ref": "./examples/Deployments_CalculateStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deviceClasses": {
      "get": {
        "operationId": "DeviceClasses_ListByUpdateAccount",
        "tags": [
          "DeviceClasses"
        ],
        "description": "Returns device compatibility classes for the given account name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClassListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Device Compatibility Classes by Account": {
            "$ref": "./examples/DeviceClasses_ListByUpdateAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/deviceClasses/{deviceClassName}": {
      "get": {
        "operationId": "DeviceClasses_Get",
        "tags": [
          "DeviceClasses"
        ],
        "description": "Returns Device Class details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deviceClassName",
            "in": "path",
            "description": "Device Class Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets details for a Device Class": {
            "$ref": "./examples/DeviceClasses_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceClasses_Create",
        "tags": [
          "DeviceClasses"
        ],
        "description": "Creates or updates a Device Class.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deviceClassName",
            "in": "path",
            "description": "Device Class Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deviceClass",
            "in": "body",
            "description": "Device Class details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeviceClass' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "201": {
            "description": "Resource 'DeviceClass' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates Device Class": {
            "$ref": "./examples/DeviceClasses_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "DeviceClasses_Update",
        "tags": [
          "DeviceClasses"
        ],
        "description": "Updates Device Class.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deviceClassName",
            "in": "path",
            "description": "Device Class Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceClass"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Device Class": {
            "$ref": "./examples/DeviceClasses_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceClasses_Delete",
        "tags": [
          "DeviceClasses"
        ],
        "description": "Delete Device Class.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "deviceClassName",
            "in": "path",
            "description": "Device Class Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes Device Class": {
            "$ref": "./examples/DeviceClasses_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/importUpdate": {
      "post": {
        "operationId": "UpdateAccounts_ImportUpdate",
        "tags": [
          "UpdateAccounts"
        ],
        "description": "Import update into given update account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "updateToImport",
            "in": "body",
            "description": "The update to be imported (see schema https://json.schemastore.org/azure-deviceupdate-import-manifest-5.0.json for details).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportUpdateRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Import Update": {
            "$ref": "./examples/UpdateAccounts_ImportUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/updates": {
      "get": {
        "operationId": "Updates_List",
        "tags": [
          "Updates"
        ],
        "description": "Returns list of Updates.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter the items in the result.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets list of Updates": {
            "$ref": "./examples/Updates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceUpdate/updateAccounts/{updateAccountName}/updates/{updateResourceName}": {
      "get": {
        "operationId": "Updates_Get",
        "tags": [
          "Updates"
        ],
        "description": "Returns update details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "updateResourceName",
            "in": "path",
            "description": "Concatenated update provider, name and version separated by underscore.",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 173,
            "pattern": "^[a-zA-Z0-9-._]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets Update details": {
            "$ref": "./examples/Updates_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Updates_Create",
        "tags": [
          "Updates"
        ],
        "description": "Create update resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "updateResourceName",
            "in": "path",
            "description": "Concatenated update provider, name and version separated by underscore.",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 173,
            "pattern": "^[a-zA-Z0-9-._]+$"
          },
          {
            "name": "update",
            "in": "body",
            "description": "Update details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Update' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "201": {
            "description": "Resource 'Update' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates an Update": {
            "$ref": "./examples/Updates_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "Updates_Modify",
        "tags": [
          "Updates"
        ],
        "description": "Update update tags.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "updateResourceName",
            "in": "path",
            "description": "Concatenated update provider, name and version separated by underscore.",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 173,
            "pattern": "^[a-zA-Z0-9-._]+$"
          },
          {
            "name": "tagUpdatePayload",
            "in": "body",
            "description": "Updated tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates Update Account": {
            "$ref": "./examples/Updates_Modify.json"
          }
        }
      },
      "delete": {
        "operationId": "Updates_Delete",
        "tags": [
          "Updates"
        ],
        "description": "Deletes update.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "updateAccountName",
            "in": "path",
            "description": "Account name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 36,
            "pattern": "^[A-Za-z0-9]+(-[A-Za-z0-9]+)*$"
          },
          {
            "name": "updateResourceName",
            "in": "path",
            "description": "Concatenated update provider, name and version separated by underscore.",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 173,
            "pattern": "^[a-zA-Z0-9-._]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an update": {
            "$ref": "./examples/Updates_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActiveDeployment": {
      "type": "object",
      "description": "The details of an active deployment that is currently being offered to agents.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ActiveDeploymentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ActiveDeploymentListResult": {
      "type": "object",
      "description": "The response of a ActiveDeployment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ActiveDeployment items on this page",
          "items": {
            "$ref": "#/definitions/ActiveDeployment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ActiveDeploymentProperties": {
      "type": "object",
      "description": "Active Deployment properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "deploymentId": {
          "type": "string",
          "description": "The deployment Id",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start date for the active deployment",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "deviceClassId": {
          "type": "string",
          "description": "The device class Id",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "updateProtocol": {
          "$ref": "#/definitions/UpdateProtocol",
          "description": "The update protocol",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "workflow": {
          "$ref": "#/definitions/DeploymentWorkflow",
          "description": "The deployment workflow metadata",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "updateManifest": {
          "type": "string",
          "description": "The update manifest that contains all of the metadata for the active deployment",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "updateManifestSignature": {
          "type": "string",
          "description": "The update manifest signature that is used to validate the integrity of the update manifest",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "deploymentId",
        "startDateTime",
        "deviceClassId",
        "updateProtocol",
        "workflow",
        "updateManifest",
        "updateManifestSignature"
      ]
    },
    "Agent": {
      "type": "object",
      "description": "Device Update Agent details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AgentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AgentEnrollmentState": {
      "type": "string",
      "description": "The agent enrollment state.",
      "enum": [
        "Succeeded",
        "Failed",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "AgentEnrollmentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Agent enrollment succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Agent enrollment failed."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Agent enrollment is in progress."
          }
        ]
      }
    },
    "AgentEnrollmentStatus": {
      "type": "object",
      "description": "Agent enrollment status.",
      "properties": {
        "state": {
          "$ref": "#/definitions/AgentEnrollmentState",
          "description": "The agent enrollment state.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "The agent enrollment error detail. This is only populated when state is Failed"
        }
      },
      "required": [
        "state"
      ]
    },
    "AgentInfo": {
      "type": "object",
      "description": "The agent info for the agent that indicates what updates it is compatible with.",
      "properties": {
        "updateProtocol": {
          "$ref": "#/definitions/UpdateProtocol",
          "description": "The update protocol representing the version of the device update protocol the agent supports"
        },
        "compatibilityProperties": {
          "type": "object",
          "description": "The compat properties of the agent. This object can be thought of as a set of key-value pairs where the key is the name of the compatibility property and the value is the value of the compatibility property. There will always be at least 1 compat property and no more than 5",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64",
          "description": "The sequence number of the agent info used to distinguish whether the agent info needs to be updated from the agent"
        }
      }
    },
    "AgentListResult": {
      "type": "object",
      "description": "The response of a Agent list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Agent items on this page",
          "items": {
            "$ref": "#/definitions/Agent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AgentProperties": {
      "type": "object",
      "description": "Device Update Agent properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "agentId": {
          "type": "string",
          "description": "This is the external device Id of the Microsoft.Devices/Device resource referenced by this agent",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "deviceClassId": {
          "type": "string",
          "description": "This is the ID of the device class of this agent"
        },
        "deviceResourceId": {
          "type": "string",
          "description": "This is the resource Id of the Microsoft.Devices/Device resource referenced by this agent"
        },
        "activeMqttBrokerEndpoint": {
          "type": "string",
          "description": "This is the active MQTT broker endpoint for this agent"
        },
        "agentInfo": {
          "$ref": "#/definitions/AgentInfo",
          "description": "This is the compatibility info for the agent that indicates what version of the device update protocol it supports and its compat properties."
        },
        "latestDeploymentInfo": {
          "$ref": "#/definitions/DeploymentInfo",
          "description": "This is the metadata about the latest deployment the agent has attempted"
        },
        "installedUpdateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "The current installed update Id on this agent"
        },
        "enrollmentStatus": {
          "$ref": "#/definitions/AgentEnrollmentStatus",
          "description": "Enrollment status",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "deviceUuid": {
          "type": "string",
          "description": "This is the device UUID for this agent"
        }
      },
      "required": [
        "deviceResourceId",
        "enrollmentStatus",
        "deviceUuid"
      ]
    },
    "Deployment": {
      "type": "object",
      "description": "Deployment details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeploymentAction": {
      "type": "string",
      "description": "The deployment action the agent take",
      "enum": [
        "ApplyDeployment"
      ],
      "x-ms-enum": {
        "name": "DeploymentAction",
        "modelAsString": true,
        "values": [
          {
            "name": "ApplyDeployment",
            "value": "ApplyDeployment",
            "description": "Apply the deployment to the agent"
          }
        ]
      }
    },
    "DeploymentDeviceState": {
      "type": "object",
      "description": "Deployment device status.",
      "properties": {
        "agentId": {
          "type": "string",
          "description": "Agent identity."
        },
        "retryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of times this deployment has been retried on this device."
        },
        "movedOnToNewDeployment": {
          "type": "boolean",
          "description": "Boolean flag indicating whether this device is in a newer deployment and can no longer retry this deployment."
        },
        "deviceState": {
          "$ref": "#/definitions/DeviceDeploymentState",
          "description": "Deployment device state.",
          "readOnly": true
        }
      },
      "required": [
        "agentId",
        "retryCount",
        "movedOnToNewDeployment",
        "deviceState"
      ]
    },
    "DeploymentDeviceStatesList": {
      "type": "object",
      "description": "The list of deployment device states.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeploymentDeviceState items on this page",
          "items": {
            "$ref": "#/definitions/DeploymentDeviceState"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentInfo": {
      "type": "object",
      "description": "The agent metadata for a deployment.",
      "properties": {
        "workflow": {
          "$ref": "#/definitions/DeploymentWorkflow",
          "description": "The deployment workflow metadata"
        },
        "updateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "The update Id for the deployment"
        },
        "state": {
          "$ref": "#/definitions/DeviceDeploymentState",
          "description": "The state the agent is in this deployment",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "installResult": {
          "$ref": "#/definitions/InstallResult",
          "description": "The deployment install result"
        }
      }
    },
    "DeploymentListResult": {
      "type": "object",
      "description": "The response of a Deployment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Deployment items on this page",
          "items": {
            "$ref": "#/definitions/Deployment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeploymentProperties": {
      "type": "object",
      "description": "Deployment properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "deploymentId": {
          "type": "string",
          "description": "The caller-provided deployment identifier. This cannot be longer than 73 characters, must be all lower-case, and cannot contain '&', '^', '[', ']', '{', '}', '|', '<', '>', forward slash, backslash, or double quote.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The deployment start datetime.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "updateId": {
          "$ref": "#/definitions/UpdateId",
          "description": "UpdateId that is deployed as part of this deployment.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "deviceClasses": {
          "type": "array",
          "description": "The device classes the deployment is compatible with. This is not provided by the caller during creating the deployment but is automatically determined by Device Update",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "deploymentId",
        "startDateTime",
        "updateId"
      ]
    },
    "DeploymentState": {
      "type": "string",
      "description": "Deployment state.",
      "enum": [
        "Active",
        "ActiveWithSubgroupFailures",
        "Failed",
        "Inactive",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "DeploymentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The deployment can be sent to devices targeted in the deployment."
          },
          {
            "name": "ActiveWithSubgroupFailures",
            "value": "ActiveWithSubgroupFailures",
            "description": "The deployment can be sent to some devices targeted in the deployment but at least 1 subgroup is in a failed state."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The deployment will not be sent to any devices.  Consult error for more details about what failed."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "A newer deployment for this group has been created and no devices in the group will receive this deployment."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The deployment has been canceled and no devices will receive it."
          }
        ]
      }
    },
    "DeploymentStatus": {
      "type": "object",
      "description": "Deployment status metadata.",
      "properties": {
        "deploymentState": {
          "$ref": "#/definitions/DeploymentState",
          "description": "The state of the deployment."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "The error details of the Failed state.  This is not present if the deployment state is not Failed."
        },
        "subgroupStatus": {
          "type": "array",
          "description": "The collection of device class subgroup status objects",
          "items": {
            "$ref": "#/definitions/DeviceClassSubgroupDeploymentStatus"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "deploymentState",
        "subgroupStatus"
      ]
    },
    "DeploymentWorkflow": {
      "type": "object",
      "description": "Deployment workflow metadata.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Deployment identifier."
        },
        "action": {
          "$ref": "#/definitions/DeploymentAction",
          "description": "Deployment action."
        },
        "retryTimestamp": {
          "type": "string",
          "description": "Datetime when the call requested the deployment be retried."
        }
      },
      "required": [
        "id",
        "action"
      ]
    },
    "DeviceClass": {
      "type": "object",
      "description": "Device Update Device Class details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceClassProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DeviceClassInfo": {
      "type": "object",
      "description": "The compatibility info for the device class that indicates what updates it is compatible with.",
      "properties": {
        "updateProtocol": {
          "$ref": "#/definitions/UpdateProtocol",
          "description": "The update protocol representing the version of the device update protocol the agent supports"
        },
        "compatibilityProperties": {
          "type": "object",
          "description": "The compat properties of the device class. This object can be thought of as a set of key-value pairs where the key is the name of the compatibility property and the value is the value of the compatibility property. There will always be at least 1 compat property and no more than 5",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DeviceClassListResult": {
      "type": "object",
      "description": "The response of a DeviceClass list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeviceClass items on this page",
          "items": {
            "$ref": "#/definitions/DeviceClass"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceClassProperties": {
      "type": "object",
      "description": "Device Update Device Class properties.",
      "properties": {
        "provisioningState": {
[...]
