{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this API specification will be used to manage packet core data plane resources",
    "version": "2024-02-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes/{packetCoreDataPlaneName}": {
      "delete": {
        "tags": [
          "PacketCoreDataPlane"
        ],
        "operationId": "PacketCoreDataPlanes_Delete",
        "description": "Deletes the specified packet core data plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet core data plane": {
            "$ref": "./examples/PacketCoreDataPlaneDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "PacketCoreDataPlane"
        ],
        "operationId": "PacketCoreDataPlanes_Get",
        "description": "Gets information about the specified packet core data plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core data plane": {
            "$ref": "./examples/PacketCoreDataPlaneGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PacketCoreDataPlane"
        ],
        "operationId": "PacketCoreDataPlanes_CreateOrUpdate",
        "description": "Creates or updates a packet core data plane. Must be created in the same location as its parent packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            },
            "description": "Parameters supplied to the create or update packet core data plane operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packet core data plane": {
            "$ref": "./examples/PacketCoreDataPlaneCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "PacketCoreDataPlane"
        ],
        "operationId": "PacketCoreDataPlanes_UpdateTags",
        "description": "Updates packet core data planes tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update packet core data plane tags."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update packet core data plane tags": {
            "$ref": "./examples/PacketCoreDataPlaneUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes": {
      "get": {
        "tags": [
          "PacketCoreDataPlanes"
        ],
        "operationId": "PacketCoreDataPlanes_ListByPacketCoreControlPlane",
        "description": "Lists all the packet core data planes associated with a packet core control plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of packet core data plane resources.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlaneListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core data planes in a control plane": {
            "$ref": "./examples/PacketCoreDataPlaneListByPacketCoreControlPlane.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PacketCoreDataPlane": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketCoreDataPlanePropertiesFormat",
          "description": "Packet core data plane Properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "Packet core data plane resource. Must be created in the same location as its parent packet core control plane."
    },
    "PacketCoreDataPlanePropertiesFormat": {
      "description": "Packet core data plane properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the packet core data plane resource."
        },
        "userPlaneAccessInterface": {
          "$ref": "./common.json#/definitions/InterfaceProperties",
          "description": "The user plane interface on the access network. For 5G networks, this is the N3 interface. For 4G networks, this is the S1-U interface."
        },
        "userPlaneAccessVirtualIpv4Addresses": {
          "type": "array",
          "items": {
            "$ref": "./ts29571.json#/definitions/Ipv4Addr"
          },
          "uniqueItems": true,
          "description": "The virtual IP address(es) for the user plane on the access network in a High Availability (HA) system. In an HA deployment the access network router should be configured to forward traffic for this address to the control plane access interface on the active or standby node. In non-HA system this list should be omitted or empty."
        }
      },
      "required": [
        "userPlaneAccessInterface"
      ]
    },
    "PacketCoreDataPlaneListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketCoreDataPlane"
          },
          "description": "A list of packet core data planes in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for packet core data planes API service call."
    }
  }
}
