{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this API specification will be used to manage mobile network resources",
    "version": "2024-02-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/sites/{siteName}": {
      "delete": {
        "tags": [
          "Site"
        ],
        "operationId": "Sites_Delete",
        "description": "Deletes the specified mobile network site. This will also delete any network functions that are a part of this site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileNetworkNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/SiteNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile network site": {
            "$ref": "./examples/SiteDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "Site"
        ],
        "operationId": "Sites_Get",
        "description": "Gets information about the specified mobile network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileNetworkNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/SiteNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting mobile network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile network site": {
            "$ref": "./examples/SiteGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "Site"
        ],
        "operationId": "Sites_CreateOrUpdate",
        "description": "Creates or updates a mobile network site. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileNetworkNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/SiteNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Site"
            },
            "description": "Parameters supplied to the create or update mobile network site operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting mobile network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting mobile network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile network site": {
            "$ref": "./examples/SiteCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "Site"
        ],
        "operationId": "Sites_UpdateTags",
        "description": "Updates site tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileNetworkNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/SiteNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update network site tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting network site resource.",
            "schema": {
              "$ref": "#/definitions/Site"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile network site tags": {
            "$ref": "./examples/SiteUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "operationId": "Sites_ListByMobileNetwork",
        "description": "Lists all sites in the mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileNetworkNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of mobile network resources.",
            "schema": {
              "$ref": "#/definitions/SiteListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile network sites in a mobile network": {
            "$ref": "./examples/SiteListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/sites/{siteName}/deletePacketCore": {
      "post": {
        "tags": [
          "Site"
        ],
        "operationId": "Sites_DeletePacketCore",
        "description": "Deletes a packet core under the specified mobile network site.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobileNetworkNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/SiteNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteDeletePacketCore"
            },
            "description": "Parameters supplied to delete a packet core under a site."
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet core in mobile network site": {
            "$ref": "./examples/SiteDeletePacketCore.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    }
  },
  "definitions": {
    "Site": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SitePropertiesFormat",
          "description": "Site properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Site resource. Must be created in the same location as its parent mobile network."
    },
    "SitePropertiesFormat": {
      "type": "object",
      "description": "Site properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the site resource."
        },
        "networkFunctions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SubResource"
          },
          "description": "An array of IDs of the network functions deployed in the site. Deleting the site will delete any network functions that are deployed in the site."
        }
      }
    },
    "SiteListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Site"
          },
          "description": "A list of sites in a mobile network."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for sites API service call."
    },
    "SiteDeletePacketCore": {
      "type": "object",
      "properties": {
        "packetCore": {
          "$ref": "./common.json#/definitions/PacketCoreControlPlaneResourceId"
        }
      },
      "description": "The packet core to delete under a site."
    }
  }
}
