{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this API specification will be used to manage the virtual network functions deployed using mobile network. They are standard mobile network properties defined by 3GPP in TS 29.571 v16.6.0.",
    "version": "2024-02-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "Ipv4Addr": {
      "type": "string",
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$",
      "description": "IPv4 address.",
      "example": "198.51.100.1"
    },
    "Ipv4AddrRm": {
      "$ref": "#/definitions/Ipv4Addr",
      "x-nullable": true,
      "description": "IPv4 address or null."
    },
    "Ipv4AddrMask": {
      "type": "string",
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])(\\/([0-9]|[1-2][0-9]|3[0-2]))$",
      "description": "IPv4 address prefix.",
      "example": "198.51.0.0/16"
    },
    "Ipv4AddrMaskRm": {
      "$ref": "#/definitions/Ipv4AddrMask",
      "x-nullable": true,
      "description": "IPv4 address prefix or null."
    },
    "BitRate": {
      "type": "string",
      "pattern": "^\\d+(\\.\\d+)? (bps|Kbps|Mbps|Gbps|Tbps)$",
      "description": "Bit rate."
    },
    "BitRateRm": {
      "$ref": "#/definitions/BitRate",
      "x-nullable": true,
      "description": "Bit rate or null."
    },
    "Ambr": {
      "description": "Aggregate maximum bit rate.",
      "type": "object",
      "properties": {
        "uplink": {
          "$ref": "#/definitions/BitRate",
          "description": "Uplink bit rate."
        },
        "downlink": {
          "$ref": "#/definitions/BitRate",
          "description": "Downlink bit rate."
        }
      },
      "required": [
        "uplink",
        "downlink"
      ]
    },
    "AmbrRm": {
      "$ref": "#/definitions/Ambr",
      "x-nullable": true,
      "description": "Aggregate maximum bit rate or null."
    },
    "RfspIndex": {
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 256,
      "description": "RAT/Frequency Selection Priority Index"
    },
    "RfspIndexRm": {
      "$ref": "#/definitions/RfspIndex",
      "x-nullable": true,
      "description": "RAT/Frequency Selection Priority Index or null"
    },
    "5Qi": {
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "maximum": 255,
      "description": "5G QoS Identifier."
    },
    "5QiRm": {
      "$ref": "#/definitions/5Qi",
      "x-nullable": true,
      "description": "5G QoS Identifier or null."
    },
    "5QiPriorityLevel": {
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 127,
      "description": "5G QoS Identifier priority level."
    },
    "5QiPriorityLevelRm": {
      "$ref": "#/definitions/5QiPriorityLevel",
      "x-nullable": true,
      "description": "5G QoS Identifier priority level or null."
    },
    "ArpPriorityLevel": {
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 15,
      "description": "ARP priority level."
    },
    "ArpPriorityLevelRm": {
      "$ref": "#/definitions/ArpPriorityLevel",
      "x-nullable": true,
      "description": "ARP priority level or null."
    },
    "PreemptionCapability": {
      "type": "string",
      "description": "Preemption capability.",
      "enum": [
        "NotPreempt",
        "MayPreempt"
      ],
      "x-ms-enum": {
        "name": "PreemptionCapability",
        "modelAsString": true,
        "values": [
          {
            "value": "NotPreempt",
            "description": "Cannot preempt"
          },
          {
            "value": "MayPreempt",
            "description": "May preempt"
          }
        ]
      }
    },
    "PreemptionVulnerability": {
      "type": "string",
      "description": "Preemption vulnerability.",
      "enum": [
        "NotPreemptable",
        "Preemptable"
      ],
      "x-ms-enum": {
        "name": "PreemptionVulnerability",
        "modelAsString": true,
        "values": [
          {
            "value": "NotPreemptable",
            "description": "Cannot be preempted"
          },
          {
            "value": "Preemptable",
            "description": "May be preempted"
          }
        ]
      }
    },
    "Arp": {
      "description": "Allocation and Retention Priority (ARP) parameters.",
      "type": "object",
      "properties": {
        "priorityLevel": {
          "$ref": "#/definitions/ArpPriorityLevel",
          "description": "ARP priority level."
        },
        "preemptCap": {
          "$ref": "#/definitions/PreemptionCapability",
          "description": "ARP preemption capability."
        },
        "preemptVuln": {
          "$ref": "#/definitions/PreemptionVulnerability",
          "description": "ARP preemption vulnerability"
        }
      },
      "required": [
        "priorityLevel",
        "preemptCap",
        "preemptVuln"
      ]
    },
    "Mcc": {
      "type": "string",
      "pattern": "^\\d{3}$",
      "description": "Mobile country code."
    },
    "MccRm": {
      "$ref": "#/definitions/Mcc",
      "x-nullable": true,
      "description": "Mobile country code or null."
    },
    "Mnc": {
      "type": "string",
      "pattern": "^\\d{2,3}$",
      "description": "Mobile network code."
    },
    "MncRm": {
      "$ref": "#/definitions/Mnc",
      "x-nullable": true,
      "description": "Mobile network code or null."
    },
    "PlmnId": {
      "description": "Public land mobile network (PLMN) ID. This is made up of the mobile country code and mobile network code, as defined in https://www.itu.int/rec/T-REC-E.212. The values 001-01 and 001-001 can be used for testing and the values 999-99 and 999-999 can be used on internal private networks.",
      "type": "object",
      "properties": {
        "mcc": {
          "$ref": "#/definitions/Mcc",
          "description": "Mobile country code (MCC)."
        },
        "mnc": {
          "$ref": "#/definitions/Mnc",
          "description": "Mobile network code (MNC)."
        }
      },
      "required": [
        "mcc",
        "mnc"
      ]
    },
    "PlmnIdRm": {
      "$ref": "#/definitions/PlmnId",
      "x-nullable": true,
      "description": "Public land mobile network ID or null."
    },
    "Tac": {
      "type": "string",
      "pattern": "(^[A-Fa-f0-9]{4}$)|(^[A-Fa-f0-9]{6}$)",
      "description": "Tracking Area Code (TAC)."
    },
    "TacRm": {
      "$ref": "#/definitions/Tac",
      "x-nullable": true,
      "description": "Tracking Area Code (TAC) or null."
    },
    "CoreNetworkType": {
      "type": "string",
      "description": "The core network technology generation (5G core, EPC / 4G core or EPC / 4G + 5G core).",
      "enum": [
        "5GC",
        "EPC",
        "EPC + 5GC"
      ],
      "default": "5GC",
      "x-ms-enum": {
        "name": "CoreNetworkType",
        "values": [
          {
            "value": "5GC",
            "description": "5G core"
          },
          {
            "value": "EPC",
            "description": "EPC / 4G core"
          },
          {
            "value": "EPC + 5GC",
            "description": "Combined EPC / 4G and 5G core"
          }
        ]
      }
    },
    "CoreNetworkTypeRm": {
      "$ref": "#/definitions/CoreNetworkType",
      "x-nullable": true,
      "description": "Core network type or null."
    },
    "PduSessionType": {
      "type": "string",
      "description": "PDU session type (IPv4/IPv6).",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "PduSessionType",
        "modelAsString": true,
        "values": [
          {
            "value": "IPv4"
          },
          {
            "value": "IPv6"
          }
        ]
      }
    },
    "PduSessionTypeRm": {
      "$ref": "#/definitions/PduSessionType",
      "x-nullable": true,
      "description": "PDU session type or null."
    },
    "Snssai": {
      "description": "Single-network slice selection assistance information (S-NSSAI).",
      "type": "object",
      "properties": {
        "sst": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "maximum": 255,
          "description": "Slice/service type (SST)."
        },
        "sd": {
          "type": "string",
          "pattern": "^[A-Fa-f0-9]{6}$",
          "description": "Slice differentiator (SD)."
        }
      },
      "required": [
        "sst"
      ]
    },
    "Dnn": {
      "description": "Data network name",
      "type": "string"
    },
    "Pei": {
      "description": "Permanent Equipment Identifier",
      "type": "string",
      "pattern": "^(imei-[0-9]{15}|imeisv-[0-9]{16}|.+)$"
    },
    "Supi": {
      "description": "Subscription Permanent Identifier",
      "type": "string",
      "pattern": "^(imsi-[0-9]{5,15}|nai-.+|.+)$"
    },
    "PduSessionId": {
      "description": "PDU session identifier",
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "maximum": 255
    },
    "Qfi": {
      "description": "Qos Flow Identifier",
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "maximum": 63
    },
    "GNbId": {
      "description": "gNodeB identifier",
      "type": "object",
      "properties": {
        "bitLength": {
          "type": "integer",
          "format": "int32",
          "minimum": 22,
          "maximum": 32
        },
        "gNBValue": {
          "type": "string",
          "pattern": "^[A-Fa-f0-9]{6,8}$"
        }
      }
    },
    "GlobalRanNodeId": {
      "description": "Global RAN Node ID",
      "type": "object",
      "properties": {
        "plmnId": {
          "x-ms-client-flatten": true,
          "description": "PLMN Identifier",
          "$ref": "#/definitions/PlmnId"
        },
        "gNbId": {
          "x-ms-client-flatten": true,
          "description": "gNodeB identifier",
          "$ref": "#/definitions/GNbId"
        },
        "ngeNbId": {
          "type": "string",
          "pattern": "^(MacroNGeNB-[A-Fa-f0-9]{5}|LMacroNGeNB-[A-Fa-f0-9]{6}|SMacroNGeNB-[A-Fa-f0-9]{5})$",
          "description": "NG-eNodeB identifier"
        },
        "eNbId": {
          "type": "string",
          "pattern": "^(MacroeNB-[A-Fa-f0-9]{5}|LMacroeNB-[A-Fa-f0-9]{6}|SMacroeNB-[A-Fa-f0-9]{5}|HomeeNB-[A-Fa-f0-9]{7})$",
          "description": "eNodeB identifier"
        },
        "n3IwfId": {
          "type": "string",
          "pattern": "^[A-Fa-f0-9]+$",
          "description": "N3 IWF identifier"
        },
        "wagfId": {
          "type": "string",
          "pattern": "^[A-Fa-f0-9]+$",
          "description": "W-AGF identifier"
        },
        "tngfId": {
          "type": "string",
          "pattern": "^[A-Fa-f0-9]+$",
          "description": "TNGF identifier"
        },
        "nid": {
          "type": "string",
          "pattern": "^[A-Fa-f0-9]{11}$",
          "description": "Network identifier"
        }
      },
      "required": [
        "plmnId"
      ]
    }
  }
}
