{
  "swagger": "2.0",
  "info": {
    "title": "SubscriptionClient",
    "version": "2025-11-01-preview",
    "description": "Subscription client provides an interface to create and manage Azure subscriptions programmatically.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Subscription/policies/default": {
      "get": {
        "operationId": "BillingAccount_GetPolicy",
        "description": "Get Billing Account Policy.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "billingAccountId",
            "in": "path",
            "description": "The name of the resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingAccountPoliciesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetBillingAccountPolicy": {
            "$ref": "./examples/getBillingAccountPolicy.json"
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/aliases": {
      "get": {
        "operationId": "Alias_List",
        "description": "List Alias Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionAliasListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListAlias": {
            "$ref": "./examples/listAlias.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Subscription/aliases/{aliasName}": {
      "get": {
        "operationId": "Alias_Get",
        "description": "Get Alias Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "aliasName",
            "in": "path",
            "description": "AliasName is the name for the subscription creation request. Note that this is not the same as subscription name and this doesn’t have any other lifecycle need beyond the request for subscription creation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionAliasResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetAlias": {
            "$ref": "./examples/getAlias.json"
          }
        }
      },
      "put": {
        "operationId": "Alias_Create",
        "description": "Create Alias Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "aliasName",
            "in": "path",
            "description": "AliasName is the name for the subscription creation request. Note that this is not the same as subscription name and this doesn’t have any other lifecycle need beyond the request for subscription creation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutAliasRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SubscriptionAliasResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SubscriptionAliasResponse"
            }
          },
          "201": {
            "description": "Resource 'SubscriptionAliasResponse' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SubscriptionAliasResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateAlias": {
            "$ref": "./examples/createAlias.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SubscriptionAliasResponse"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Alias_Delete",
        "description": "Delete Alias.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "aliasName",
            "in": "path",
            "description": "AliasName is the name for the subscription creation request. Note that this is not the same as subscription name and this doesn’t have any other lifecycle need beyond the request for subscription creation.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteAlias": {
            "$ref": "./examples/deleteAlias.json"
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Microsoft.Subscription API operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getOperations": {
            "$ref": "./examples/getOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Subscription/policies": {
      "get": {
        "operationId": "SubscriptionPolicy_ListPolicyForTenant",
        "description": "Get the subscription tenant policy for the user's tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetTenantPolicyListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getTenantPolicyList": {
            "$ref": "./examples/getTenantPolicyList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Subscription/policies/default": {
      "get": {
        "operationId": "SubscriptionPolicy_GetPolicyForTenant",
        "description": "Get the subscription tenant policy for the user's tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetTenantPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getTenantPolicy": {
            "$ref": "./examples/getTenantPolicy.json"
          }
        }
      },
      "put": {
        "operationId": "SubscriptionPolicy_AddUpdatePolicyForTenant",
        "description": "Create or Update Subscription tenant policy for user's tenant.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutTenantPolicyRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GetTenantPolicyResponse' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GetTenantPolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TenantPolicy": {
            "$ref": "./examples/changeTenantPolicy.json"
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/subscriptionOperations/{operationId}": {
      "get": {
        "operationId": "SubscriptionOperation_Get",
        "description": "Get the status of the pending Microsoft.Subscription API operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The operation ID, which can be found from the Location field in the generate recommendation response header.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionCreationResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getPendingSubscriptionOperations": {
            "$ref": "./examples/getSubscriptionOperation.json"
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/subscriptions/{subscriptionId}/acceptChangeTenant": {
      "post": {
        "operationId": "Subscriptions_AcceptTargetDirectory",
        "description": "The operation to accept Subscription Changed Request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "acceptTargetDirectory": {
            "$ref": "./examples/acceptTargetDirectory.json"
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/subscriptions/{subscriptionId}/acceptOwnership": {
      "post": {
        "operationId": "Subscription_AcceptOwnership",
        "description": "Accept subscription ownership.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcceptOwnershipRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcceptOwnership": {
            "$ref": "./examples/acceptSubscriptionOwnership.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Subscription/subscriptions/{subscriptionId}/acceptOwnershipStatus": {
      "get": {
        "operationId": "Subscription_AcceptOwnershipStatus",
        "description": "Accept subscription ownership status.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AcceptOwnershipStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AcceptOwnershipStatus": {
            "$ref": "./examples/acceptOwnershipStatus.json"
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/subscriptions/{subscriptionId}/changeTenantStatus": {
      "post": {
        "operationId": "Subscriptions_TargetDirectoryStatus",
        "description": "The operation for Acceptor to view the accepted request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TargetDirectoryResultProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "targetDirectoryStatus": {
            "$ref": "./examples/targetDirectoryStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/cancel": {
      "post": {
        "operationId": "Subscription_Cancel",
        "description": "The operation to cancel a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CanceledSubscriptionId"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "cancelSubscription": {
            "$ref": "./examples/cancelSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/changeTenantRequest": {
      "get": {
        "operationId": "Subscriptions_ListTargetDirectory",
        "description": "The operation to list Initiator Subscription Changed Request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TargetDirectoryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "listTargetDirectory": {
            "$ref": "./examples/listTargetDirectory.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/changeTenantRequest/default": {
      "get": {
        "operationId": "Subscriptions_GetTargetDirectory",
        "description": "The operation to view Initiator Subscription Changed Request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TargetDirectoryResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "getTargetDirectory": {
            "$ref": "./examples/getTargetDirectory.json"
          }
        }
      },
      "put": {
        "operationId": "Subscriptions_PutTargetDirectory",
        "description": "The operation to initiate Subscription Changed Request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Target Directory Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetDirectoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TargetDirectoryResult' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TargetDirectoryResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "putTargetDirectory": {
            "$ref": "./examples/putTargetDirectory.json"
          }
        }
      },
      "delete": {
        "operationId": "Subscriptions_DeleteTargetDirectory",
        "description": "The operation to delete Initiator Subscription Changed Request",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "deleteTargetDirectory": {
            "$ref": "./examples/deleteTargetDirectory.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/enable": {
      "post": {
        "operationId": "Subscription_Enable",
        "description": "The operation to enable a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnabledSubscriptionId"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "enableSubscription": {
            "$ref": "./examples/enableSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/rename": {
      "post": {
        "operationId": "Subscription_Rename",
        "description": "The operation to rename a subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RenamedSubscriptionId"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "renameSubscription": {
            "$ref": "./examples/renameSubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AcceptOwnership": {
      "type": "string",
      "description": "The accept ownership state of the resource.",
      "enum": [
        "Pending",
        "Completed",
        "Expired"
      ],
      "x-ms-enum": {
        "name": "AcceptOwnership",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Completed"
          },
          {
            "name": "Expired",
            "value": "Expired",
            "description": "Expired"
          }
        ]
      }
    },
    "AcceptOwnershipRequest": {
      "type": "object",
      "description": "The parameters required to accept subscription ownership.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AcceptOwnershipRequestProperties",
          "description": "Accept subscription ownership request properties."
        }
      }
    },
    "AcceptOwnershipRequestProperties": {
      "type": "object",
      "description": "Accept subscription ownership request properties.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name of the subscription."
        },
        "managementGroupId": {
          "type": "string",
          "description": "Management group Id for the subscription."
        },
        "tags": {
          "type": "object",
          "description": "Tags for the subscription",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "displayName"
      ]
    },
    "AcceptOwnershipStatusResponse": {
      "type": "object",
      "description": "Subscription Accept Ownership Response",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Newly created subscription Id.",
          "readOnly": true
        },
        "acceptOwnershipState": {
          "$ref": "#/definitions/AcceptOwnership",
          "description": "The accept ownership state of the resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Provisioning",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "billingOwner": {
          "type": "string",
          "description": "UPN of the billing owner",
          "readOnly": true
        },
        "subscriptionTenantId": {
          "type": "string",
          "description": "Tenant Id of the subscription"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the subscription."
        },
        "tags": {
          "type": "object",
          "description": "Tags for the subscription",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "BillingAccountPoliciesResponse": {
      "type": "object",
      "description": "Billing account policies information.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BillingAccountPoliciesResponseProperties",
          "description": "Billing account policies response properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BillingAccountPoliciesResponseProperties": {
      "type": "object",
      "description": "Put billing account policies response properties.",
      "properties": {
        "serviceTenants": {
          "type": "array",
          "description": "Service tenant for the billing account.",
          "items": {
            "$ref": "#/definitions/ServiceTenantResponse"
          }
        },
        "allowTransfers": {
          "type": "boolean",
          "description": "Determine if the transfers are allowed for the billing account"
        }
      }
    },
    "CanceledSubscriptionId": {
      "type": "object",
      "description": "The ID of the canceled subscription",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the canceled subscription",
          "readOnly": true
        }
      }
    },
    "ChangeDirectoryOperationStatus": {
      "type": "string",
      "description": "Status of the subscription transfer operation.",
      "enum": [
        "Initialized",
        "InProgress",
        "Completed"
      ],
      "x-ms-enum": {
        "name": "ChangeDirectoryOperationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Initialized",
            "value": "Initialized",
            "description": "The subscription transfer request has been created and is waiting for acceptance by the destination tenant."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The subscription transfer request has been accepted by the destination tenant and the transfer is in progress."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "The subscription transfer has been completed and is now owned by the destination tenant."
          }
        ]
      }
    },
    "EnabledSubscriptionId": {
      "type": "object",
      "description": "The ID of the subscriptions that is being enabled",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the subscriptions that is being enabled",
          "readOnly": true
        }
      }
    },
    "GetTenantPolicyListResponse": {
      "type": "object",
      "description": "Tenant policy information list.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GetTenantPolicyResponse items on this page",
          "items": {
            "$ref": "#/definitions/GetTenantPolicyResponse"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GetTenantPolicyResponse": {
      "type": "object",
      "description": "Tenant policy Information.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TenantPolicy",
          "description": "Tenant policy properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "Provisioning": {
      "type": "string",
      "description": "The provisioning state of the resource.",
      "enum": [
        "Pending",
        "Accepted",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "Provisioning",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the resource.",
      "enum": [
        "Accepted",
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          }
        ]
      }
    },
    "PutAliasRequest": {
      "type": "object",
      "description": "The parameters required to create a new subscription.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PutAliasRequestProperties",
          "description": "Put alias request properties."
        }
      }
    },
    "PutAliasRequestAdditionalProperties": {
      "type": "object",
      "description": "Put subscription additional properties.",
      "properties": {
        "managementGroupId": {
          "type": "string",
          "description": "Management group Id for the subscription."
        },
        "subscriptionTenantId": {
          "type": "string",
          "description": "Tenant Id of the subscription"
        },
        "subscriptionOwnerId": {
          "type": "string",
          "description": "Owner Id of the subscription"
        },
        "tags": {
          "type": "object",
          "description": "Tags for the subscription",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PutAliasRequestProperties": {
      "type": "object",
      "description": "Put subscription properties.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name of the subscription."
        },
        "workload": {
          "$ref": "#/definitions/Workload",
          "description": "The workload type of the subscription. It can be either Production or DevTest."
        },
        "billingScope": {
          "type": "string",
          "description": "Billing scope of the subscription.\nFor CustomerLed and FieldLed - /billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}\nFor PartnerLed - /billingAccounts/{billingAccountName}/customers/{customerName}\nFor Legacy EA - /billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}"
        },
        "subscriptionId": {
          "type": "string",
          "description": "This parameter can be used to create alias for existing subscription Id"
        },
        "resellerId": {
          "type": "string",
          "description": "Reseller Id"
        },
        "additionalProperties": {
          "$ref": "#/definitions/PutAliasRequestAdditionalProperties",
          "description": "Put alias request additional properties."
        }
      }
    },
    "PutTenantPolicyRequestProperties": {
      "type": "object",
      "description": "Put tenant policy request properties.",
      "properties": {
        "blockSubscriptionsLeavingTenant": {
          "type": "boolean",
          "description": "Blocks the leaving of subscriptions from user's tenant."
        },
        "blockSubscriptionsIntoTenant": {
          "type": "boolean",
          "description": "Blocks the entering of subscriptions into user's tenant."
        },
        "exemptedPrincipals": {
          "type": "array",
          "description": "List of user objectIds that are exempted from the set subscription tenant policies for the user's tenant.",
          "items": {
            "$ref": "#/definitions/Azure.Core.uuid"
          }
        }
      }
    },
    "RenamedSubscriptionId": {
      "type": "object",
      "description": "The ID of the subscriptions that is being renamed",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the subscriptions that is being renamed",
          "readOnly": true
        }
      }
    },
    "ServiceTenantResponse": {
      "type": "object",
      "description": "Billing account service tenant.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Service tenant id."
        },
        "tenantName": {
          "type": "string",
          "description": "Service tenant name."
        }
      }
    },
    "SubscriptionAliasListResult": {
      "type": "object",
      "description": "The list of aliases.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of subscription aliases.",
          "items": {
            "$ref": "#/definitions/SubscriptionAliasResponse"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The link (url) to the next page of results.",
          "readOnly": true
        }
      }
    },
    "SubscriptionAliasResponse": {
      "type": "object",
      "description": "Subscription Information with the alias.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SubscriptionAliasResponseProperties",
          "description": "Subscription Alias response properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SubscriptionAliasResponseProperties": {
      "type": "object",
      "description": "Put subscription creation result properties.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Newly created subscription Id.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the subscription."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "acceptOwnershipUrl": {
          "type": "string",
          "description": "Url to accept ownership of the subscription.",
          "readOnly": true
        },
        "acceptOwnershipState": {
          "$ref": "#/definitions/AcceptOwnership",
          "description": "The accept ownership state of the resource.",
          "readOnly": true
        },
        "billingScope": {
          "type": "string",
          "description": "Billing scope of the subscription.\nFor CustomerLed and FieldLed - /billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}\nFor PartnerLed - /billingAccounts/{billingAccountName}/customers/{customerName}\nFor Legacy EA - /billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}"
        },
        "workload": {
          "$ref": "#/definitions/Workload",
          "description": "The workload type of the subscription. It can be either Production or DevTest."
        },
        "resellerId": {
          "type": "string",
          "description": "Reseller Id"
        },
        "subscriptionOwnerId": {
          "type": "string",
          "description": "Owner Id of the subscription"
        },
        "managementGroupId": {
          "type": "string",
          "description": "The Management Group Id."
        },
        "createdTime": {
          "type": "string",
          "description": "Created Time"
        },
        "tags": {
          "type": "object",
          "description": "Tags for the subscription",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SubscriptionCreationResult": {
      "type": "object",
      "description": "The created subscription object.",
      "properties": {
        "subscriptionLink": {
          "type": "string",
          "description": "The link to the new subscription. Use this link to check the status of subscription creation operation."
        }
      }
    },
    "SubscriptionName": {
      "type": "object",
      "description": "The new name of the subscription.",
      "properties": {
        "subscriptionName": {
          "type": "string",
          "description": "New subscription name"
        }
      }
    },
    "TargetDirectoryListResult": {
      "type": "object",
      "description": "Subscription Response to list out Changed Target Directory.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of subscription response to changed target directory.",
          "items": {
            "$ref": "#/definitions/TargetDirectoryResult"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "type": "string",
          "description": "The link (url) to the next page of results.",
          "readOnly": true
        }
      }
    },
    "TargetDirectoryRequest": {
      "type": "object",
      "description": "Subscription Request for Changed Target Directory.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TargetDirectoryRequestProperties",
          "description": "Target Directory request properties."
        }
      }
    },
    "TargetDirectoryRequestProperties": {
      "type": "object",
      "description": "Properties of subscription Request for Changed Target Directory.",
      "properties": {
        "destinationOwnerId": {
          "type": "string",
          "description": "The destination OwnerId, can be object id or email address"
        },
        "destinationTenantId": {
          "type": "string",
          "description": "The destination Tenant id where subscription needs to be accepted"
        }
      }
    },
    "TargetDirectoryResult": {
      "type": "object",
      "description": "Subscription Response for Changed Target Directory.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TargetDirectoryResultProperties",
          "description": "Subscription Changed Target Directory response properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TargetDirectoryResultProperties": {
      "type": "object",
      "description": "Properties of subscription Response for Changed Target Directory.",
      "properties": {
        "destinationTenantId": {
          "type": "string",
          "description": "Destination Tenant Id where Subscription will be accepted.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true
        },
        "destinationOwnerId": {
          "type": "string",
          "description": "Destination Owner Id where Subscription will be accepted.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true
        },
        "subscriptionId": {
          "type": "string",
          "description": "The id of the subscription being transferred.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time when the transfer request was created",
          "readOnly": true
        },
        "acceptedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC date and time when the transfer request was accepted",
          "x-nullable": true,
          "readOnly": true
        },
        "sourceOwnerEmail": {
          "type": "string",
          "description": "The email address of the user who initiated the transfer request. If the request was generated by a Service Principal, this field may be null.",
          "readOnly": true
        },
        "sourceOwnerId": {
          "type": "string",
          "description": "The object id of the user who initiated the transfer request.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true
        },
        "sourceTenantId": {
          "type": "string",
          "description": "The id of the tenant where the subscription originally resided.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/ChangeDirectoryOperationStatus",
          "description": "Status of the subscription transfer operation.",
          "readOnly": true
        },
        "expiresOn": {
          "type": "string",
          "format": "date-time",
          "description": "Subscription Initiate Request Expiry time",
          "readOnly": true
        }
      }
    },
    "TenantPolicy": {
      "type": "object",
      "description": "Tenant policy.",
      "properties": {
        "policyId": {
          "type": "string",
          "description": "Policy Id.",
          "readOnly": true
        },
        "blockSubscriptionsLeavingTenant": {
          "type": "boolean",
          "description": "Blocks the leaving of subscriptions from user's tenant."
        },
        "blockSubscriptionsIntoTenant": {
          "type": "boolean",
          "description": "Blocks the entering of subscriptions into user's tenant."
        },
        "exemptedPrincipals": {
          "type": "array",
          "description": "List of user objectIds that are exempted from the set subscription tenant policies for the user's tenant.",
          "items": {
            "$ref": "#/definitions/Azure.Core.uuid"
          }
        }
      }
    },
    "Workload": {
      "type": "string",
      "description": "The workload type of the subscription. It can be either Production or DevTest.",
      "enum": [
        "Production",
        "DevTest"
      ],
      "x-ms-enum": {
        "name": "Workload",
        "modelAsString": true,
        "values": [
          {
            "name": "Production",
            "value": "Production",
            "description": "Production"
          },
          {
            "name": "DevTest",
            "value": "DevTest",
            "description": "DevTest"
          }
        ]
      }
    }
  },
  "parameters": {
    "SubscriptionIdPathParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
