{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PortalServices",
    "version": "2025-09-01-preview",
    "description": "Azure Portal Services API Reference",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CopilotPlans"
    }
  ],
  "paths": {
    "/providers/Microsoft.PortalServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all of the available PortalServices REST API operations.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PortalServices/copilotPlans": {
      "get": {
        "operationId": "CopilotPlans_ListBySubscription",
        "tags": [
          "CopilotPlans"
        ],
        "description": "List CopilotPlanResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CopilotPlanResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List copilot plans by subscription": {
            "$ref": "./examples/CopilotPlans_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/copilotPlans": {
      "get": {
        "operationId": "CopilotPlans_ListByResourceGroup",
        "tags": [
          "CopilotPlans"
        ],
        "description": "List CopilotPlanResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CopilotPlanResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List copilot plans by resource group": {
            "$ref": "./examples/CopilotPlans_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/copilotPlans/{copilotPlanName}": {
      "get": {
        "operationId": "CopilotPlans_Get",
        "tags": [
          "CopilotPlans"
        ],
        "description": "Get a CopilotPlanResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "copilotPlanName",
            "in": "path",
            "description": "The name of the copilot plan.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CopilotPlanResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a copilot plan": {
            "$ref": "./examples/CopilotPlans_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CopilotPlans_CreateOrUpdate",
        "tags": [
          "CopilotPlans"
        ],
        "description": "Create a CopilotPlanResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "copilotPlanName",
            "in": "path",
            "description": "The name of the copilot plan.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopilotPlanResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CopilotPlanResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CopilotPlanResource"
            }
          },
          "201": {
            "description": "Resource 'CopilotPlanResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CopilotPlanResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a copilot plan": {
            "$ref": "./examples/CopilotPlans_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "CopilotPlans_Update",
        "tags": [
          "CopilotPlans"
        ],
        "description": "Update a CopilotPlanResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "copilotPlanName",
            "in": "path",
            "description": "The name of the copilot plan.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopilotPlanUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CopilotPlanResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a copilot plan": {
            "$ref": "./examples/CopilotPlans_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "CopilotPlans_Delete",
        "tags": [
          "CopilotPlans"
        ],
        "description": "Delete a CopilotPlanResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "copilotPlanName",
            "in": "path",
            "description": "The name of the copilot plan.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a copilot plan": {
            "$ref": "./examples/CopilotPlans_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CopilotPlanProperties": {
      "type": "object",
      "description": "The Copilot Plan properties.",
      "properties": {
        "budgetResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "Azure Cost Management budget resource ID for spending limits integration. This enables budget enforcement and cost monitoring for the copilot plan.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Consumption/budgets"
              }
            ]
          }
        },
        "blockedAgents": {
          "type": "array",
          "description": "List of agent IDs that are blocked from being used with this copilot plan. If not specified, no agents are blocked.",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last provisioning operation performed on the resource.",
          "readOnly": true
        }
      }
    },
    "CopilotPlanResource": {
      "type": "object",
      "description": "A copilot plan that manages AI agent usage, spending limits, and access controls for users within an organization. Plans enable usage tracking, cost management, and agent governance for Azure AI-powered assistance services.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CopilotPlanProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CopilotPlanResourceListResult": {
      "type": "object",
      "description": "The response of a CopilotPlanResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CopilotPlanResource items on this page",
          "items": {
            "$ref": "#/definitions/CopilotPlanResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CopilotPlanUpdate": {
      "type": "object",
      "description": "The properties of a CopilotPlan that can be updated.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/CopilotPlanProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    }
  },
  "parameters": {}
}
