{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2023-05-01",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ServerVulnerabilityAssessmentsSettings"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/serverVulnerabilityAssessmentsSettings": {
      "get": {
        "operationId": "ServerVulnerabilityAssessmentsSettings_ListBySubscription",
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Get a list of all the server vulnerability assessments settings over a subscription level scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSettingsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List the server vulnerability assessments settings set on the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/ListServerVulnerabilityAssessmentsSettings_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/serverVulnerabilityAssessmentsSettings/{settingKind}": {
      "get": {
        "operationId": "ServerVulnerabilityAssessmentsSettings_Get",
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Get a server vulnerability assessments setting of the requested kind, that is set on the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "settingKind",
            "in": "path",
            "description": "The kind of the server vulnerability assessments setting",
            "required": true,
            "type": "string",
            "enum": [
              "azureServersSetting"
            ],
            "x-ms-enum": {
              "name": "ServerVulnerabilityAssessmentsSettingKindName",
              "modelAsString": true,
              "values": [
                {
                  "name": "azureServersSetting",
                  "value": "azureServersSetting",
                  "description": "azureServersSetting"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the server vulnerability assessments setting of the kind settingKind that is set on the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/GetServerVulnerabilityAssessmentsSetting_example.json"
          }
        }
      },
      "put": {
        "operationId": "ServerVulnerabilityAssessmentsSettings_CreateOrUpdate",
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Create or update a server vulnerability assessments setting of the requested kind on the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "settingKind",
            "in": "path",
            "description": "The kind of the server vulnerability assessments setting",
            "required": true,
            "type": "string",
            "enum": [
              "azureServersSetting"
            ],
            "x-ms-enum": {
              "name": "ServerVulnerabilityAssessmentsSettingKindName",
              "modelAsString": true,
              "values": [
                {
                  "name": "azureServersSetting",
                  "value": "azureServersSetting",
                  "description": "azureServersSetting"
                }
              ]
            }
          },
          {
            "name": "serverVulnerabilityAssessmentsSetting",
            "in": "body",
            "description": "A server vulnerability assessments setting over a predefined scope",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServerVulnerabilityAssessmentsSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
            }
          },
          "201": {
            "description": "Resource 'ServerVulnerabilityAssessmentsSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Set a server vulnerability assessments setting of the kind settingKind on the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/PutServerVulnerabilityAssessmentsSetting_example.json"
          }
        }
      },
      "delete": {
        "operationId": "ServerVulnerabilityAssessmentsSettings_Delete",
        "tags": [
          "ServerVulnerabilityAssessmentsSettings"
        ],
        "description": "Delete the server vulnerability assessments setting of the requested kind from the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "settingKind",
            "in": "path",
            "description": "The kind of the server vulnerability assessments setting",
            "required": true,
            "type": "string",
            "enum": [
              "azureServersSetting"
            ],
            "x-ms-enum": {
              "name": "ServerVulnerabilityAssessmentsSettingKindName",
              "modelAsString": true,
              "values": [
                {
                  "name": "azureServersSetting",
                  "value": "azureServersSetting",
                  "description": "azureServersSetting"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete the server vulnerability assessments setting of the kind settingKind from the subscription": {
            "$ref": "./examples/ServerVulnerabilityAssessmentsSettings/DeleteServerVulnerabilityAssessmentsSetting_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzureServersSetting": {
      "type": "object",
      "description": "A vulnerability assessments setting on Azure servers in the defined scope.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsAzureSettingProperties",
          "description": "The vulnerability assessments setting properties on Azure servers in the defined scope.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
        }
      ],
      "x-ms-discriminator-value": "AzureServersSetting"
    },
    "ServerVulnerabilityAssessmentsAzureSettingProperties": {
      "type": "object",
      "description": "Describes the vulnerability assessments setting properties on Azure servers in the defined scope.",
      "properties": {
        "selectedProvider": {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsAzureSettingSelectedProvider",
          "description": "The selected vulnerability assessments provider on Azure servers in the defined scope."
        }
      },
      "required": [
        "selectedProvider"
      ]
    },
    "ServerVulnerabilityAssessmentsAzureSettingSelectedProvider": {
      "type": "string",
      "description": "The selected vulnerability assessments provider on Azure servers in the defined scope.",
      "enum": [
        "MdeTvm"
      ],
      "x-ms-enum": {
        "name": "ServerVulnerabilityAssessmentsAzureSettingSelectedProvider",
        "modelAsString": true,
        "values": [
          {
            "name": "MdeTvm",
            "value": "MdeTvm",
            "description": "Microsoft Defender for Endpoints threat and vulnerability management."
          }
        ]
      }
    },
    "ServerVulnerabilityAssessmentsSetting": {
      "type": "object",
      "description": "A base vulnerability assessments setting on servers in the defined scope.",
      "properties": {
        "properties": {
          "type": "object",
          "description": "The resource-specific properties for this resource."
        },
        "kind": {
          "$ref": "#/definitions/ServerVulnerabilityAssessmentsSettingKind",
          "description": "The kind of the server vulnerability assessments setting."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServerVulnerabilityAssessmentsSettingKind": {
      "type": "string",
      "description": "The kind of the server vulnerability assessments setting",
      "enum": [
        "AzureServersSetting"
      ],
      "x-ms-enum": {
        "name": "ServerVulnerabilityAssessmentsSettingKind",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureServersSetting",
            "value": "AzureServersSetting",
            "description": "AzureServersSetting"
          }
        ]
      }
    },
    "ServerVulnerabilityAssessmentsSettingsList": {
      "type": "object",
      "description": "A page of a server vulnerability assessments settings list",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ServerVulnerabilityAssessmentsSetting items on this page.",
          "items": {
            "$ref": "#/definitions/ServerVulnerabilityAssessmentsSetting"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      }
    }
  },
  "parameters": {}
}
