{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.App Dev Compute management service",
    "version": "2026-07-01",
    "description": "Microsoft.App Dev Compute management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SandboxGroups"
    },
    {
      "name": "VnetConnections"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.App/sandboxGroups": {
      "get": {
        "operationId": "SandboxGroups_ListBySubscription",
        "tags": [
          "SandboxGroups"
        ],
        "description": "Get all SandboxGroups for a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SandboxGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SandboxGroups by subscription": {
            "$ref": "./examples/SandboxGroups_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sandboxGroups": {
      "get": {
        "operationId": "SandboxGroups_ListByResourceGroup",
        "tags": [
          "SandboxGroups"
        ],
        "description": "Get all SandboxGroups in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SandboxGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SandboxGroups by resource group": {
            "$ref": "./examples/SandboxGroups_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sandboxGroups/{sandboxGroupName}": {
      "get": {
        "operationId": "SandboxGroups_Get",
        "tags": [
          "SandboxGroups"
        ],
        "description": "Get the properties of a SandboxGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SandboxGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a SandboxGroup": {
            "$ref": "./examples/SandboxGroups_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SandboxGroups_CreateOrUpdate",
        "tags": [
          "SandboxGroups"
        ],
        "description": "Create or update a SandboxGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SandboxGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SandboxGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SandboxGroup"
            }
          },
          "201": {
            "description": "Resource 'SandboxGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SandboxGroup"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a SandboxGroup": {
            "$ref": "./examples/SandboxGroups_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SandboxGroups_Update",
        "tags": [
          "SandboxGroups"
        ],
        "description": "Patches a SandboxGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SandboxGroupPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SandboxGroup"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a SandboxGroup": {
            "$ref": "./examples/SandboxGroups_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SandboxGroups_Delete",
        "tags": [
          "SandboxGroups"
        ],
        "description": "Delete a SandboxGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SandboxGroup": {
            "$ref": "./examples/SandboxGroups_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sandboxGroups/{sandboxGroupName}/vnetConnections": {
      "get": {
        "operationId": "VnetConnections_ListBySandboxGroup",
        "tags": [
          "VnetConnections"
        ],
        "description": "List all VnetConnections in the specified SandboxGroup.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VnetConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List VnetConnections by SandboxGroup": {
            "$ref": "./examples/VnetConnections_ListBySandboxGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/sandboxGroups/{sandboxGroupName}/vnetConnections/{vnetConnectionName}": {
      "get": {
        "operationId": "VnetConnections_Get",
        "tags": [
          "VnetConnections"
        ],
        "description": "Get the properties of a VnetConnection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          },
          {
            "name": "vnetConnectionName",
            "in": "path",
            "description": "The name of the VnetConnection",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VnetConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a VnetConnection": {
            "$ref": "./examples/VnetConnections_Get.json"
          }
        }
      },
      "put": {
        "operationId": "VnetConnections_CreateOrUpdate",
        "tags": [
          "VnetConnections"
        ],
        "description": "Create or update a VnetConnection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          },
          {
            "name": "vnetConnectionName",
            "in": "path",
            "description": "The name of the VnetConnection",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VnetConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'VnetConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/VnetConnection"
            }
          },
          "201": {
            "description": "Resource 'VnetConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/VnetConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a VnetConnection": {
            "$ref": "./examples/VnetConnections_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VnetConnections_Delete",
        "tags": [
          "VnetConnections"
        ],
        "description": "Delete a VnetConnection.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sandboxGroupName",
            "in": "path",
            "description": "The name of the SandboxGroup",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          },
          {
            "name": "vnetConnectionName",
            "in": "path",
            "description": "The name of the VnetConnection",
            "required": true,
            "type": "string",
            "pattern": "^(?![.-])[A-Za-z0-9-]{1,32}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a VnetConnection": {
            "$ref": "./examples/VnetConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationInsightsTelemetryEndpoint": {
      "type": "object",
      "description": "A telemetry endpoint that sends telemetry to an Application Insights resource.",
      "properties": {
        "auth": {
          "$ref": "#/definitions/TelemetryApplicationInsightsAuth",
          "description": "The authentication used when sending telemetry to the endpoint."
        }
      },
      "required": [
        "auth"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TelemetryEndpoint"
        }
      ],
      "x-ms-discriminator-value": "ApplicationInsights"
    },
    "DynamicJsonColumnsMode": {
      "type": "string",
      "description": "Whether JSON log lines are parsed into additional output columns.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DynamicJsonColumnsMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Top-level keys of JSON log lines are merged into the output record."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Log lines are written to the output record without JSON parsing."
          }
        ]
      }
    },
    "LogAnalyticsTelemetryEndpoint": {
      "type": "object",
      "description": "A telemetry endpoint that sends telemetry to an Azure Monitor Log Analytics workspace through the Logs Ingestion API.",
      "properties": {
        "dceEndpoint": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the data collection endpoint that receives the telemetry."
        },
        "dcrImmutableId": {
          "type": "string",
          "description": "The immutable ID of the data collection rule that processes the telemetry."
        },
        "tableName": {
          "type": "string",
          "description": "The name of the target stream in the data collection rule."
        },
        "auth": {
          "$ref": "#/definitions/TelemetryAuth",
          "description": "The managed identity used to authenticate to the data collection endpoint."
        }
      },
      "required": [
        "dceEndpoint",
        "dcrImmutableId",
        "tableName",
        "auth"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TelemetryEndpoint"
        }
      ],
      "x-ms-discriminator-value": "LogAnalytics"
    },
    "LogColumn": {
      "type": "object",
      "description": "A single column in a custom log output schema.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the output column to produce."
        },
        "kind": {
          "$ref": "#/definitions/LogColumnKind",
          "description": "The kind of the custom log output column."
        }
      },
      "discriminator": "kind",
      "required": [
        "name",
        "kind"
      ]
    },
    "LogColumnKind": {
      "type": "string",
      "description": "The kind of a custom log output column.",
      "enum": [
        "Value",
        "Ref"
      ],
      "x-ms-enum": {
        "name": "LogColumnKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Value",
            "value": "Value",
            "description": "A column whose value is a literal string."
          },
          {
            "name": "Ref",
            "value": "Ref",
            "description": "A column whose value is resolved from a sandbox attribute."
          }
        ]
      }
    },
    "LogColumnRef": {
      "type": "string",
      "description": "A sandbox attribute that a custom log output column can reference.",
      "enum": [
        "LogContent",
        "LogStream",
        "SandboxId",
        "Region",
        "ContainerName"
      ],
      "x-ms-enum": {
        "name": "LogColumnRef",
        "modelAsString": true,
        "values": [
          {
            "name": "LogContent",
            "value": "LogContent",
            "description": "The contents of the container log line."
          },
          {
            "name": "LogStream",
            "value": "LogStream",
            "description": "The container output stream the log line was written to, either `stdout` or `stderr`."
          },
          {
            "name": "SandboxId",
            "value": "SandboxId",
            "description": "The ID of the sandbox that produced the record."
          },
          {
            "name": "Region",
            "value": "Region",
            "description": "The Azure region the sandbox is running in."
          },
          {
            "name": "ContainerName",
            "value": "ContainerName",
            "description": "The name of the container that produced the record."
          }
        ]
      }
    },
    "OtlpTelemetryEndpoint": {
      "type": "object",
      "description": "A telemetry endpoint that accepts the OpenTelemetry Protocol (OTLP).",
      "properties": {
        "endpoint": {
          "type": "string",
          "format": "uri",
          "description": "The URL of the OpenTelemetry Protocol endpoint."
        },
        "protocol": {
          "$ref": "#/definitions/TelemetryProtocol",
          "description": "The protocol used to send telemetry to the endpoint."
        },
        "auth": {
          "$ref": "#/definitions/TelemetryHeaderAuth",
          "description": "The authentication used when sending telemetry to the endpoint. When omitted, requests are sent without an authentication header."
        }
      },
      "required": [
        "endpoint",
        "protocol"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TelemetryEndpoint"
        }
      ],
      "x-ms-discriminator-value": "OTLP"
    },
    "RefLogColumn": {
      "type": "object",
      "description": "A custom log output column whose value is resolved from a sandbox attribute.",
      "properties": {
        "refName": {
          "$ref": "#/definitions/LogColumnRef",
          "description": "The sandbox attribute to resolve."
        }
      },
      "required": [
        "refName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/LogColumn"
        }
      ],
      "x-ms-discriminator-value": "Ref"
    },
    "SandboxGroup": {
      "type": "object",
      "description": "A SandboxGroup resource, representing a group of sandboxes that share configuration defaults and quotas.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SandboxGroupProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SandboxGroupListResult": {
      "type": "object",
      "description": "The response of a SandboxGroup list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SandboxGroup items on this page",
          "items": {
            "$ref": "#/definitions/SandboxGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SandboxGroupPatch": {
      "type": "object",
      "description": "A SandboxGroup resource for use in patch requests.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SandboxGroupPatchProperties",
          "description": "SandboxGroup properties that can be updated."
        }
      }
    },
    "SandboxGroupPatchProperties": {
      "type": "object",
      "description": "SandboxGroup resource specific properties for patch requests.",
      "properties": {
        "environmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the Azure Container Apps environment to link to the sandbox group. A sandbox group can be linked after creation, but the link cannot then be changed or removed. For subsequent create-or-update (PUT) requests, specify the same environment ID; omitting or changing it returns 409 Conflict. Omitting it from an update (PATCH) request leaves the existing link unchanged.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.App/managedEnvironments"
              }
            ]
          }
        },
        "telemetryConfig": {
          "$ref": "#/definitions/TelemetryConfig",
          "description": "The telemetry configuration for sandboxes in the sandbox group. When omitted, telemetry is not forwarded to any endpoint."
        }
      }
    },
    "SandboxGroupProperties": {
      "type": "object",
      "description": "SandboxGroup resource specific properties.",
      "properties": {
        "environmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the Azure Container Apps environment to link to the sandbox group. A sandbox group can be linked after creation, but the link cannot then be changed or removed. For subsequent create-or-update (PUT) requests, specify the same environment ID; omitting or changing it returns 409 Conflict. Omitting it from an update (PATCH) request leaves the existing link unchanged.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.App/managedEnvironments"
              }
            ]
          }
        },
        "defaultDomain": {
          "type": "string",
          "description": "The default domain of the linked Azure Container Apps environment. Sandbox endpoints use subdomains of this domain. This read-only property is populated by the service and is omitted when no environment is linked.",
          "readOnly": true
        },
        "telemetryConfig": {
          "$ref": "#/definitions/TelemetryConfig",
          "description": "The telemetry configuration for sandboxes in the sandbox group. When omitted, telemetry is not forwarded to any endpoint."
        },
        "provisioningState": {
          "$ref": "#/definitions/SandboxGroupProvisioningState",
          "readOnly": true
        }
      }
    },
    "SandboxGroupProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the SandboxGroup.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "InProgress",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "SandboxGroupProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "TelemetryApplicationInsightsAuth": {
      "type": "object",
      "description": "Authentication for an Application Insights telemetry endpoint.",
      "properties": {
        "secretId": {
          "type": "string",
          "description": "The name of the sandbox group secret that holds the Application Insights connection string."
        },
        "secretKeyName": {
          "type": "string",
          "description": "The key within the sandbox group secret whose value is the Application Insights connection string."
        }
      },
      "required": [
        "secretId",
        "secretKeyName"
      ]
    },
    "TelemetryAuth": {
      "type": "object",
      "description": "The managed identity used to authenticate to a telemetry endpoint.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/TelemetryAuthKind",
          "description": "The kind of managed identity used to authenticate to the telemetry endpoint."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "TelemetryAuthKind": {
      "type": "string",
      "description": "The kind of managed identity used to authenticate to a telemetry endpoint.",
      "enum": [
        "ManagedIdentity",
        "SystemAssignedManagedIdentity"
      ],
      "x-ms-enum": {
        "name": "TelemetryAuthKind",
        "modelAsString": true,
        "values": [
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "A user-assigned managed identity."
          },
          {
            "name": "SystemAssignedManagedIdentity",
            "value": "SystemAssignedManagedIdentity",
            "description": "The system-assigned managed identity of the sandbox group."
          }
        ]
      }
    },
    "TelemetryConfig": {
      "type": "object",
      "description": "The telemetry configuration for sandboxes in a sandbox group.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "The endpoints that sandbox telemetry is sent to.",
          "items": {
            "$ref": "#/definitions/TelemetryEndpoint"
          },
          "x-ms-identifiers": []
        },
        "metricsIntervalSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The interval, in seconds, at which sandbox metrics are collected. Defaults to 15 seconds when not specified.",
          "minimum": 2
        }
      }
    },
    "TelemetryData": {
      "type": "string",
      "description": "A category of telemetry that can be sent to a telemetry endpoint.",
      "enum": [
        "ContainerStdoutStderr",
        "ContainerOtel",
        "Metrics",
        "NetworkEgressDecisions"
      ],
      "x-ms-enum": {
        "name": "TelemetryData",
        "modelAsString": true,
        "values": [
          {
            "name": "ContainerStdoutStderr",
            "value": "ContainerStdoutStderr",
            "description": "Standard output and standard error written by containers in the sandbox."
          },
          {
            "name": "ContainerOtel",
            "value": "ContainerOtel",
            "description": "OpenTelemetry data emitted by containers in the sandbox."
          },
          {
            "name": "Metrics",
            "value": "Metrics",
            "description": "Resource usage metrics for the sandbox."
          },
          {
            "name": "NetworkEgressDecisions",
            "value": "NetworkEgressDecisions",
            "description": "A record of each decision made by the network egress policy of the sandbox."
          }
        ]
      }
    },
    "TelemetryEndpoint": {
      "type": "object",
      "description": "A destination that sandbox telemetry is sent to.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/TelemetryEndpointKind",
          "description": "The kind of the telemetry endpoint."
        },
        "data": {
          "type": "array",
          "description": "The categories of telemetry sent to this endpoint. When empty, every category is sent.",
          "items": {
            "$ref": "#/definitions/TelemetryData"
          }
        },
        "columns": {
          "type": "array",
          "description": "A custom output schema for log records. Applies to `ContainerStdoutStderr` telemetry, and additionally to `Metrics` telemetry on an OpenTelemetry Protocol endpoint. When omitted, records are written in their default shape.",
          "items": {
            "$ref": "#/definitions/LogColumn"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "dynamicJsonColumns": {
          "$ref": "#/definitions/DynamicJsonColumnsMode",
          "description": "Whether to parse JSON log lines and merge their top-level keys into the output record. Reserved keys, and keys already produced by an entry in `columns`, are not overwritten. Requires `ContainerStdoutStderr` in `data`. Defaults to `Disabled` when not specified."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind",
        "data"
      ]
    },
    "TelemetryEndpointKind": {
      "type": "string",
      "description": "The kind of a telemetry endpoint.",
      "enum": [
        "OTLP",
        "ApplicationInsights",
        "LogAnalytics"
      ],
      "x-ms-enum": {
        "name": "TelemetryEndpointKind",
        "modelAsString": true,
        "values": [
          {
            "name": "OTLP",
            "value": "OTLP",
            "description": "An endpoint that accepts the OpenTelemetry Protocol (OTLP)."
          },
          {
            "name": "ApplicationInsights",
            "value": "ApplicationInsights",
            "description": "An Application Insights resource."
          },
          {
            "name": "LogAnalytics",
            "value": "LogAnalytics",
            "description": "An Azure Monitor Log Analytics workspace, written through the Logs Ingestion API."
          }
        ]
      }
    },
    "TelemetryHeaderAuth": {
      "type": "object",
      "description": "Authentication for an OpenTelemetry Protocol telemetry endpoint. The referenced secret value is sent as an HTTP request header.",
      "properties": {
        "headerName": {
          "type": "string",
          "description": "The name of the HTTP request header to send, for example `Authorization`."
        },
        "secretId": {
          "type": "string",
          "description": "The name of the sandbox group secret that holds the header value."
        },
        "secretKeyName": {
          "type": "string",
          "description": "The key within the sandbox group secret whose value is sent as the header value."
        }
      },
      "required": [
        "headerName",
        "secretId",
        "secretKeyName"
      ]
    },
    "TelemetryManagedIdentityAuth": {
      "type": "object",
      "description": "Authentication that uses a user-assigned managed identity.",
      "properties": {
        "identity": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource ID of the user-assigned managed identity. The identity must be assigned to the sandbox group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      },
      "required": [
        "identity"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/TelemetryAuth"
        }
      ],
      "x-ms-discriminator-value": "ManagedIdentity"
    },
    "TelemetryProtocol": {
      "type": "string",
      "description": "The protocol used to send telemetry to an OpenTelemetry Protocol endpoint.",
      "enum": [
        "Grpc",
        "Http"
      ],
      "x-ms-enum": {
        "name": "TelemetryProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "Grpc",
            "value": "Grpc",
            "description": "Telemetry is sent over gRPC."
          },
          {
            "name": "Http",
            "value": "Http",
            "description": "Telemetry is sent over HTTP with a protobuf payload."
          }
        ]
      }
    },
    "TelemetrySystemAssignedManagedIdentityAuth": {
      "type": "object",
      "description": "Authentication that uses the system-assigned managed identity of the sandbox group.",
      "allOf": [
        {
          "$ref": "#/definitions/TelemetryAuth"
        }
      ],
      "x-ms-discriminator-value": "SystemAssignedManagedIdentity"
    },
    "ValueLogColumn": {
      "type": "object",
      "description": "A custom log output column whose value is a literal string.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The literal value written to every log record."
        }
      },
      "required": [
        "value"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/LogColumn"
        }
      ],
      "x-ms-discriminator-value": "Value"
    },
    "VnetConnection": {
      "type": "object",
      "description": "A virtual network connection associated with a SandboxGroup.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VnetConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VnetConnectionListResult": {
      "type": "object",
      "description": "The response of a VnetConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The VnetConnection items on this page",
          "items": {
            "$ref": "#/definitions/VnetConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "VnetConnectionProperties": {
      "type": "object",
      "description": "VnetConnection resource specific properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/VnetConnectionProvisioningState",
          "readOnly": true
        },
        "subnetId": {
          "type": "string",
          "format": "arm-id",
          "description": "Resource ID of the subnet that sandboxes in the parent SandboxGroup will be connected to.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/virtualNetworks/subnets"
              }
            ]
          }
        }
      }
    },
    "VnetConnectionProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the VnetConnection.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "InProgress",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "VnetConnectionProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
