{
  "swagger": "2.0",
  "info": {
    "title": "GitHub.Network client",
    "version": "2024-04-01",
    "description": "GitHub.Network Resource Provider REST API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "NetworkSettingsResources"
    }
  ],
  "paths": {
    "/providers/GitHub.Network/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "operationsList": {
            "$ref": "./examples/operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/GitHub.Network/networkSettings": {
      "get": {
        "operationId": "networkSettings_ListBySubscription",
        "tags": [
          "NetworkSettingsResources"
        ],
        "description": "Retrieves the properties of all GitHub.Network networkSettings resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsListBySub": {
            "$ref": "./examples/networkSettings_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Network/networkSettings": {
      "get": {
        "operationId": "networkSettings_ListByResourceGroup",
        "tags": [
          "NetworkSettingsResources"
        ],
        "description": "Retrieves the properties of all GitHub.Network networkSettings resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsListGet": {
            "$ref": "./examples/networkSettings_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Network/networkSettings/{networkSettingsName}": {
      "get": {
        "operationId": "networkSettings_Get",
        "tags": [
          "NetworkSettingsResources"
        ],
        "description": "Retrieves the properties of a GitHub.Network networkSettings resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSettingsName",
            "in": "path",
            "description": "Name of the GitHub.Network resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsGet": {
            "$ref": "./examples/networkSettings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "networkSettings_Create",
        "tags": [
          "NetworkSettingsResources"
        ],
        "description": "Creates a GitHub.Network networkSettings resource with the specified create parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSettingsName",
            "in": "path",
            "description": "Name of the GitHub.Network resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]"
          },
          {
            "name": "networkSettings",
            "in": "body",
            "description": "GitHub.Network networkSettings resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkSettingsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            }
          },
          "201": {
            "description": "Resource 'NetworkSettingsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsCreate": {
            "$ref": "./examples/networkSettings_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "networkSettings_Update",
        "tags": [
          "NetworkSettingsResources"
        ],
        "description": "Updates the properties of an existing GitHub.Network networkSettings resource with the specified update parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSettingsName",
            "in": "path",
            "description": "Name of the GitHub.Network resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]"
          },
          {
            "name": "networkSettings",
            "in": "body",
            "description": "Parameters for updating the properties of the GitHub.Network resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResourceUpdate"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsUpdate": {
            "$ref": "./examples/networkSettings_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "networkSettings_Delete",
        "tags": [
          "NetworkSettingsResources"
        ],
        "description": "Deletes an existing GitHub.Network networkSettings resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "networkSettingsName",
            "in": "path",
            "description": "Name of the GitHub.Network resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsDelete": {
            "$ref": "./examples/networkSettings_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkSettingsResource": {
      "type": "object",
      "description": "GitHub.Network networkSettings resource. Represents the network settings needed for vnet injection.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "type": "object",
          "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
          "properties": {
            "properties": {
              "$ref": "#/definitions/NetworkSettingsResourceProperties",
              "description": "The resource-specific properties for this resource.",
              "x-ms-client-flatten": true,
              "x-ms-mutability": [
                "read",
                "create"
              ]
            }
          },
          "allOf": [
            {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
            }
          ]
        }
      ]
    },
    "NetworkSettingsResourceListResult": {
      "type": "object",
      "description": "The response of a NetworkSettingsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkSettingsResource items on this page",
          "items": {
            "$ref": "#/definitions/NetworkSettingsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NetworkSettingsResourceProperties": {
      "type": "object",
      "description": "NetworkSettings resource-specific properties.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "Specifies a subnet ID for vnet-injection.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "businessId": {
          "type": "string",
          "description": "Specifies the GitHub business (enterprise/organization) ID associated to the Azure subscription.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The managed application provisioning state.",
          "readOnly": true
        }
      }
    },
    "NetworkSettingsResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the NetworkSettingsResource.",
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning status of the managed application.",
      "enum": [
        "Failed",
        "Succeeded",
        "Canceled",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The provisioning of the resource failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource was provisioned successfully."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The provisioning of the resource was cancelled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning is in progress."
          }
        ]
      },
      "readOnly": true
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-04-01-preview",
        "2024-04-01",
        "2024-04-02"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "2024-04-01-preview",
            "value": "2024-04-01-preview",
            "description": "The 2024-04-01-preview API version for staging environment."
          },
          {
            "name": "2024-04-01",
            "value": "2024-04-01",
            "description": "The 2024-04-01 API version for staff US environment."
          },
          {
            "name": "2024-04-02",
            "value": "2024-04-02",
            "description": "The 2024-04-02 API version for production US/EU environments."
          }
        ]
      }
    }
  },
  "parameters": {}
}
