{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Inventory",
    "version": "2024-11-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SubscriptionInternalPropertyResources"
    },
    {
      "name": "AzureHosts"
    },
    {
      "name": "Datacenters"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "Services"
    },
    {
      "name": "LinkedSubscriptions"
    },
    {
      "name": "ArmNamespaces"
    },
    {
      "name": "ResourceTypes"
    },
    {
      "name": "IcmTenants"
    },
    {
      "name": "IcmTeams"
    },
    {
      "name": "LinkedEntraApplications"
    },
    {
      "name": "ServiceHierarchies"
    },
    {
      "name": "ServiceInstances"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Inventory/subscriptionInternalProperties": {
      "get": {
        "operationId": "SubscriptionInternalPropertyResources_List",
        "tags": [
          "SubscriptionInternalPropertyResources"
        ],
        "description": "List SubscriptionInternalPropertyResource resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionInternalPropertyResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SubscriptionInternalPropertyResources_List": {
            "$ref": "./examples/SubscriptionInternalPropertyResources_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Inventory/subscriptionInternalProperties/default": {
      "get": {
        "operationId": "SubscriptionInternalPropertyResources_Get",
        "tags": [
          "SubscriptionInternalPropertyResources"
        ],
        "description": "Gets Subscription's internal properties.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SubscriptionInternalPropertyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SubscriptionInternalPropertyResources_Get": {
            "$ref": "./examples/SubscriptionInternalPropertyResources_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalAzureHosts": {
      "get": {
        "operationId": "AzureHosts_List",
        "tags": [
          "AzureHosts"
        ],
        "description": "List AzureHostResource resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureHostResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureHosts_List": {
            "$ref": "./examples/AzureHosts_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalAzureHosts/{azureHostName}": {
      "get": {
        "operationId": "AzureHosts_Get",
        "tags": [
          "AzureHosts"
        ],
        "description": "Get a AzureHostResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "azureHostName",
            "in": "path",
            "description": "Azure Host",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureHostResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AzureHosts_Get": {
            "$ref": "./examples/AzureHosts_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalClusters": {
      "get": {
        "operationId": "Clusters_List",
        "tags": [
          "Clusters"
        ],
        "description": "List ClusterResource resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_List": {
            "$ref": "./examples/Clusters_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalClusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Get a ClusterResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "Cluster",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-_]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Get": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalDatacenters": {
      "get": {
        "operationId": "Datacenters_List",
        "tags": [
          "Datacenters"
        ],
        "description": "List DatacenterResource resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatacenterResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Datacenters_List": {
            "$ref": "./examples/Datacenters_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/locations/{location}/physicalDatacenters/{datacenterName}": {
      "get": {
        "operationId": "Datacenters_Get",
        "tags": [
          "Datacenters"
        ],
        "description": "Get a DatacenterResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "datacenterName",
            "in": "path",
            "description": "Datacenter",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-_]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatacenterResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Datacenters_Get": {
            "$ref": "./examples/Datacenters_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services": {
      "get": {
        "operationId": "Services_List",
        "tags": [
          "Services"
        ],
        "description": "List Service resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Services_List": {
            "$ref": "./examples/Services_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}": {
      "get": {
        "operationId": "Services_Get",
        "tags": [
          "Services"
        ],
        "description": "Get a Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Services_Get": {
            "$ref": "./examples/Services_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/armNamespaces": {
      "get": {
        "operationId": "ArmNamespaces_List",
        "tags": [
          "ArmNamespaces"
        ],
        "description": "List ArmNamespace resources by Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArmNamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArmNamespaces_List": {
            "$ref": "./examples/ArmNamespaces_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/armNamespaces/{namespace}": {
      "get": {
        "operationId": "ArmNamespaces_Get",
        "tags": [
          "ArmNamespaces"
        ],
        "description": "Get a ArmNamespace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The name of the ArmNamespace",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArmNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ArmNamespaces_Get": {
            "$ref": "./examples/ArmNamespaces_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/armNamespaces/{namespace}/resourceTypes": {
      "get": {
        "operationId": "ResourceTypes_List",
        "tags": [
          "ResourceTypes"
        ],
        "description": "List ResourceType resources by ArmNamespace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The name of the ArmNamespace",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypes_List": {
            "$ref": "./examples/ResourceTypes_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/armNamespaces/{namespace}/resourceTypes/{resourceType}": {
      "get": {
        "operationId": "ResourceTypes_Get",
        "tags": [
          "ResourceTypes"
        ],
        "description": "Get a ResourceType",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The name of the ArmNamespace",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "resourceType",
            "in": "path",
            "description": "The name of the ResourceType",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceType"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceTypes_Get": {
            "$ref": "./examples/ResourceTypes_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/icmTenants": {
      "get": {
        "operationId": "IcmTenants_List",
        "tags": [
          "IcmTenants"
        ],
        "description": "List IcmTenant resources by Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IcmTenantListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IcmTenants_List": {
            "$ref": "./examples/IcmTenants_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/icmTenants/{tenantId}": {
      "get": {
        "operationId": "IcmTenants_Get",
        "tags": [
          "IcmTenants"
        ],
        "description": "Get a IcmTenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the IcmTenant",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IcmTenant"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IcmTenants_Get": {
            "$ref": "./examples/IcmTenants_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/icmTenants/{tenantId}/icmTeams": {
      "get": {
        "operationId": "IcmTeams_List",
        "tags": [
          "IcmTeams"
        ],
        "description": "List IcmTeam resources by IcmTenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the IcmTenant",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IcmTeamListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IcmTeams_List": {
            "$ref": "./examples/IcmTeams_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/icmTenants/{tenantId}/icmTeams/{teamName}": {
      "get": {
        "operationId": "IcmTeams_Get",
        "tags": [
          "IcmTeams"
        ],
        "description": "Get a IcmTeam",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "tenantId",
            "in": "path",
            "description": "The name of the IcmTenant",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "teamName",
            "in": "path",
            "description": "The name of the IcmTeam",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IcmTeam"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IcmTeams_Get": {
            "$ref": "./examples/IcmTeams_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/linkedEntraApplications": {
      "get": {
        "operationId": "LinkedEntraApplications_List",
        "tags": [
          "LinkedEntraApplications"
        ],
        "description": "List LinkedEntraApplication resources by Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkedEntraApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedEntraApplications_List": {
            "$ref": "./examples/LinkedEntraApplications_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/linkedEntraApplications/{appId}": {
      "get": {
        "operationId": "LinkedEntraApplications_Get",
        "tags": [
          "LinkedEntraApplications"
        ],
        "description": "Get a LinkedEntraApplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "appId",
            "in": "path",
            "description": "The name of the LinkedEntraApplication",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkedEntraApplication"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedEntraApplications_Get": {
            "$ref": "./examples/LinkedEntraApplications_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/linkedSubscriptions": {
      "get": {
        "operationId": "LinkedSubscriptions_List",
        "tags": [
          "LinkedSubscriptions"
        ],
        "description": "List LinkedSubscription resources by Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkedSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedSubscriptions_List": {
            "$ref": "./examples/LinkedSubscriptions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/linkedSubscriptions/{linkedSubscriptionId}": {
      "get": {
        "operationId": "LinkedSubscriptions_Get",
        "tags": [
          "LinkedSubscriptions"
        ],
        "description": "Get a LinkedSubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "linkedSubscriptionId",
            "in": "path",
            "description": "The name of the LinkedSubscription",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkedSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LinkedSubscriptions_Get": {
            "$ref": "./examples/LinkedSubscriptions_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/serviceHierarchies": {
      "get": {
        "operationId": "ServiceHierarchies_List",
        "tags": [
          "ServiceHierarchies"
        ],
        "description": "List ServiceHierarchy resources by Service",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceHierarchyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceHierarchies_List": {
            "$ref": "./examples/ServiceHierarchies_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/serviceHierarchies/{serviceHierarchy}": {
      "get": {
        "operationId": "ServiceHierarchies_Get",
        "tags": [
          "ServiceHierarchies"
        ],
        "description": "Get a ServiceHierarchy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "serviceHierarchy",
            "in": "path",
            "description": "The name of the ServiceHierarchy",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceHierarchy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceHierarchies_Get": {
            "$ref": "./examples/ServiceHierarchies_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/serviceHierarchies/{serviceHierarchy}/serviceInstances": {
      "get": {
        "operationId": "ServiceInstances_List",
        "tags": [
          "ServiceInstances"
        ],
        "description": "List ServiceInstance resources by ServiceHierarchy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "serviceHierarchy",
            "in": "path",
            "description": "The name of the ServiceHierarchy",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceInstances_List": {
            "$ref": "./examples/ServiceInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Inventory/services/{serviceId}/serviceHierarchies/{serviceHierarchy}/serviceInstances/{instanceName}": {
      "get": {
        "operationId": "ServiceInstances_Get",
        "tags": [
          "ServiceInstances"
        ],
        "description": "Get a ServiceInstance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "serviceId",
            "in": "path",
            "description": "The name of the Service",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "serviceHierarchy",
            "in": "path",
            "description": "The name of the ServiceHierarchy",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          },
          {
            "name": "instanceName",
            "in": "path",
            "description": "The name of the ServiceInstance",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9]+[-]*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceInstances_Get": {
            "$ref": "./examples/ServiceInstances_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AdditionalStateInformation": {
      "type": "object",
      "description": "Commerce object identifying additional state information associated with the subscription.",
      "properties": {
        "releaseNonDataRetentionResource": {
          "type": "boolean",
          "description": "Indicates whether the Non data retention resources can be released. This is a high confidence signal that would be set to true when the subscription is already in disabled state. To learn about Azure Data Retention policy after subscription has been disabled see"
        },
        "blockNewResourceCreation": {
          "type": "boolean",
          "description": "Indicates whether the new resource creation should be blocked. Existing resources functionality should not be impacted. This signal should be looked at when subscription state is Active. The service should be able to recover if the flag is reset to false."
        }
      }
    },
    "ArmNamespace": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ArmNamespaceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ArmNamespaceListResult": {
      "type": "object",
      "description": "The response of a ArmNamespace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ArmNamespace items on this page",
          "items": {
            "$ref": "#/definitions/ArmNamespace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ArmNamespaceProperties": {
      "type": "object",
      "description": "The ARM namespace properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      }
    },
    "AvailabilityZoneResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "AzureHostProperties": {
      "type": "object",
      "description": "Azure Host Properties",
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Node Id"
        },
        "clusterId": {
          "$ref": "#/definitions/ClusterResourceId",
          "description": "Cluster Id"
        },
        "serverId": {
          "$ref": "#/definitions/ServerResourceId",
          "description": "Physical server Id"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "nodeId",
        "clusterId",
        "serverId"
      ]
    },
    "AzureHostResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureHostProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AzureHostResourceListResult": {
      "type": "object",
      "description": "The response of a AzureHostResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureHostResource items on this page",
          "items": {
            "$ref": "#/definitions/AzureHostResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureRegionResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "BillingAccount": {
      "type": "object",
      "description": "Billing account of the customer that holds customer payment instrument, address etc. The subscription is always linked to a billing account.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique Id identifying the commerce object for the billing account."
        }
      },
      "required": [
        "id"
      ]
    },
    "BillingProperties": {
      "type": "object",
      "description": "The Subscription billing properties",
      "properties": {
        "additionalStateInformation": {
          "$ref": "#/definitions/AdditionalStateInformation",
          "description": "Commerce object identifying additional state information associated with the subscription."
        },
        "billingAccount": {
          "$ref": "#/definitions/BillingAccount",
          "description": "Billing account of the customer that holds customer payment instrument, address etc. The subscription is always linked to a billing account."
        },
        "billingType": {
          "$ref": "#/definitions/BillingType",
          "description": "Indicates the commerce stack that this account is on - modern or legacy"
        },
        "channelType": {
          "$ref": "#/definitions/ChannelType",
          "description": "Indicates the sales motion that this subscription type belongs to. This can be changed if a subscription moves from one channel type to another (e.g., CustomerLed to PartnerLed)"
        },
        "paymentType": {
          "$ref": "#/definitions/PaymentType",
          "description": "Differentiates how customer is paying for the subscription. This can change if customer changes from free to paid, etc."
        },
        "tier": {
          "$ref": "#/definitions/Tier",
          "description": "Customer segment"
        },
        "workloadType": {
          "$ref": "#/definitions/WorkloadType",
          "description": "Indicates the importance of this subscription. DevTest subscriptions get lower SLA compared to Production ones. This property can be changed later if needed as well."
        }
      },
      "required": [
        "additionalStateInformation",
        "billingAccount",
        "billingType",
        "channelType",
        "paymentType",
        "tier",
        "workloadType"
      ]
    },
    "BillingType": {
      "type": "string",
      "description": "Subscription billing types",
      "enum": [
        "Legacy",
        "Modern"
      ],
      "x-ms-enum": {
        "name": "BillingType",
        "modelAsString": true,
        "values": [
          {
            "name": "Legacy",
            "value": "Legacy",
            "description": "Legacy billing type"
          },
          {
            "name": "Modern",
            "value": "Modern",
            "description": "Modern billing type"
          }
        ]
      }
    },
    "ChannelType": {
      "type": "string",
      "description": "Subscription channel type",
      "enum": [
        "None",
        "Internal",
        "FieldLed",
        "CustomerLed",
        "PartnerLed"
      ],
      "x-ms-enum": {
        "name": "ChannelType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None channel type"
          },
          {
            "name": "Internal",
            "value": "Internal",
            "description": "Internal channel type"
          },
          {
            "name": "FieldLed",
            "value": "FieldLed",
            "description": "FieldLed channel type"
          },
          {
            "name": "CustomerLed",
            "value": "CustomerLed",
            "description": "CustomerLed channel type"
          },
          {
            "name": "PartnerLed",
            "value": "PartnerLed",
            "description": "Partnerled channel type"
          }
        ]
      }
    },
    "Cloud": {
      "type": "string",
      "description": "Enum for cloud",
      "enum": [
        "Public",
        "USNat",
        "Fairfax",
        "Mooncake"
      ],
      "x-ms-enum": {
        "name": "Cloud",
        "modelAsString": true,
        "values": [
          {
            "name": "Public",
            "value": "Public",
            "description": "Public cloud"
          },
          {
            "name": "USNat",
            "value": "USNat",
            "description": "USNat cloud"
          },
          {
            "name": "Fairfax",
            "value": "Fairfax",
            "description": "Fairfax cloud"
          },
          {
            "name": "Mooncake",
            "value": "Mooncake",
            "description": "Mooncake cloud"
          }
        ]
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Cluster Properties",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "friendly Name"
        },
        "isClusterInBuildout": {
          "type": "boolean",
          "description": "Is cluster in buildout"
        },
        "datacenterId": {
          "$ref": "#/definitions/DatacenterResourceId",
          "description": "Datacenter Resource Id"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "friendlyName",
        "isClusterInBuildout",
        "datacenterId"
      ]
    },
    "ClusterResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "ClusterResourceListResult": {
      "type": "object",
      "description": "The response of a ClusterResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ClusterResource items on this page",
          "items": {
            "$ref": "#/definitions/ClusterResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ComplexArmObject": {
      "type": "object",
      "description": "Model that describes a generic ARM object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the object"
        },
        "id": {
          "type": "string",
          "description": "The id of the object"
        },
        "resourceId": {
          "type": "string",
          "description": "The ARM resource ID of the object"
        }
      },
      "required": [
        "displayName",
        "id",
        "resourceId"
      ]
    },
    "CostCategory": {
      "type": "string",
      "description": "CostCategory for internal subscription",
      "enum": [
        "None",
        "FR",
        "FG",
        "FS",
        "FX",
        "FB"
      ],
      "x-ms-enum": {
        "name": "CostCategory",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None cost category"
          },
          {
            "name": "FR",
            "value": "FR",
            "description": "FR cost category"
          },
          {
            "name": "FG",
            "value": "FG",
            "description": "FG cost category"
          },
          {
            "name": "FS",
            "value": "FS",
            "description": "FS cost category"
          },
          {
            "name": "FX",
            "value": "FX",
            "description": "FX cost category"
          },
          {
            "name": "FB",
            "value": "FB",
            "description": "FB cost category"
          }
        ]
      }
    },
    "DatacenterProperties": {
      "type": "object",
      "description": "Datacenter Properties",
      "properties": {
        "shortId": {
          "type": "string",
          "description": "Datacenter short Id"
        },
        "locationDcmtId": {
          "type": "string",
          "description": "Datacenter location Dcmt Id"
        },
        "friendlyName": {
          "type": "string",
          "description": "Datacenter friendly Name Id"
        },
        "availabilityZoneId": {
          "$ref": "#/definitions/AvailabilityZoneResourceId",
          "description": "Availability Zone Id"
        },
        "facilityId": {
          "$ref": "#/definitions/FacilityResourceId",
          "description": "Facility Id"
        },
        "azureRegionId": {
          "$ref": "#/definitions/AzureRegionResourceId",
          "description": "Azure Region Id"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "shortId",
        "locationDcmtId",
        "friendlyName",
        "availabilityZoneId",
        "facilityId",
        "azureRegionId"
      ]
    },
    "DatacenterResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatacenterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatacenterResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "DatacenterResourceListResult": {
      "type": "object",
      "description": "The response of a DatacenterResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DatacenterResource items on this page",
          "items": {
            "$ref": "#/definitions/DatacenterResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FacilityResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "IcmTeam": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IcmTeamProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IcmTeamListResult": {
      "type": "object",
      "description": "The response of a IcmTeam list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IcmTeam items on this page",
          "items": {
            "$ref": "#/definitions/IcmTeam"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IcmTeamProperties": {
      "type": "object",
      "description": "The IcM team Properties",
      "properties": {
        "tenantName": {
          "type": "string",
          "description": "The tenant name"
        },
        "teamName": {
          "type": "string",
          "description": "The team name"
        },
        "tenantFrontEndCategoryName": {
          "type": "string",
          "description": "The tenant front end category name"
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID"
        },
        "tenantSiloId": {
          "type": "string",
          "description": "The tenant silo ID"
        },
        "tenantSiloIds": {
          "type": "array",
          "description": "The tenant silo IDs",
          "items": {
            "type": "string"
          }
        },
        "teamId": {
          "type": "string",
          "description": "The team ID"
        },
        "teamPublicId": {
          "type": "string",
          "description": "The team public ID"
        },
        "tenantPublicId": {
          "type": "string",
          "description": "The tenant public ID"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "tenantName",
        "teamName",
        "tenantFrontEndCategoryName",
        "tenantId",
        "tenantSiloId",
        "tenantSiloIds",
        "teamId",
        "teamPublicId",
        "tenantPublicId"
      ]
    },
    "IcmTenant": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IcmTenantProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IcmTenantListResult": {
      "type": "object",
      "description": "The response of a IcmTenant list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IcmTenant items on this page",
          "items": {
            "$ref": "#/definitions/IcmTenant"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IcmTenantProperties": {
      "type": "object",
      "description": "The IcM tenant Properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      }
    },
    "InternalSubscriptionPolicies": {
      "type": "object",
      "description": "The Internal Subscription policies",
      "properties": {
        "costCategory": {
          "$ref": "#/definitions/CostCategory",
          "description": "Cost categorizations used for internal subscriptions."
        },
        "environment": {
          "type": "string",
          "description": "Environment for the internal subscription."
        },
        "pcCode": {
          "type": "string",
          "description": "PCCode for the internal subscription."
        }
      },
      "required": [
        "costCategory",
        "environment",
        "pcCode"
      ]
    },
    "IsSubscriptionHobo": {
      "type": "string",
      "description": "Enum that represents whether the subscription is hosted on behalf of",
      "enum": [
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "IsSubscriptionHobo",
        "modelAsString": true,
        "values": [
          {
            "name": "True",
            "value": "True",
            "description": "Subscription is HOBO"
          },
          {
            "name": "False",
            "value": "False",
            "description": "Subscription is not HOBO"
          }
        ]
      }
    },
    "LinkedEntraApplication": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedEntraApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LinkedEntraApplicationListResult": {
      "type": "object",
      "description": "The response of a LinkedEntraApplication list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LinkedEntraApplication items on this page",
          "items": {
            "$ref": "#/definitions/LinkedEntraApplication"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LinkedEntraApplicationProperties": {
      "type": "object",
      "description": "The Linked Entra Applications Properties",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The tenant ID"
        },
        "application": {
          "$ref": "#/definitions/ComplexArmObject",
          "description": "The ARM properties of the application"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "tenantId",
        "application"
      ]
    },
    "LinkedSubscription": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkedSubscriptionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LinkedSubscriptionListResult": {
      "type": "object",
      "description": "The response of a LinkedSubscription list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LinkedSubscription items on this page",
          "items": {
            "$ref": "#/definitions/LinkedSubscription"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LinkedSubscriptionProperties": {
      "type": "object",
      "description": "The Linked Subscription Properties",
      "properties": {
        "subscription": {
          "$ref": "#/definitions/ComplexArmObject",
          "description": "The ARM properties of the subscription"
        },
        "environment": {
          "$ref": "#/definitions/SubscriptionEnvironment",
          "description": "The environment where the subscription resides"
        },
        "cloud": {
          "$ref": "#/definitions/Cloud",
          "description": "The cloud where the subscription resides"
        },
        "status": {
          "$ref": "#/definitions/SubscriptionStatus",
          "description": "The status of the subscription"
        },
        "isHobo": {
          "$ref": "#/definitions/IsSubscriptionHobo",
          "description": "Determines if the subscription is hosted on behalf of"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "subscription",
        "environment",
        "cloud",
        "status",
        "isHobo"
      ]
    },
    "NamespaceReadiness": {
      "type": "string",
      "description": "Enum that represents the readiness of the namespace",
      "enum": [
        "InDevelopment",
        "PrivatePreview",
        "PublicPreview",
        "GA",
        "ClosingDown",
        "Retired"
      ],
      "x-ms-enum": {
        "name": "NamespaceReadiness",
        "modelAsString": true,
        "values": [
          {
            "name": "InDevelopment",
            "value": "InDevelopment",
            "description": "The namespace is in development"
          },
          {
            "name": "PrivatePreview",
            "value": "PrivatePreview",
            "description": "The namespace is in private preview"
          },
          {
            "name": "PublicPreview",
            "value": "PublicPreview",
            "description": "The namespace is in public preview"
          },
          {
            "name": "GA",
            "value": "GA",
            "description": "The namespace is in general availability"
          },
          {
            "name": "ClosingDown",
            "value": "ClosingDown",
            "description": "The namespace is closing down"
          },
          {
            "name": "Retired",
            "value": "Retired",
            "description": "The namespace is retired"
          }
        ]
      }
    },
    "PaymentType": {
      "type": "string",
      "description": "Subscription state payment type",
      "enum": [
        "None",
        "Paid",
        "Free",
        "Entitlement",
        "SponsoredPlus",
        "Sponsored",
        "Benefit"
      ],
      "x-ms-enum": {
        "name": "PaymentType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None payment type"
          },
          {
            "name": "Paid",
            "value": "Paid",
            "description": "Paid payment type"
          },
          {
            "name": "Free",
            "value": "Free",
            "description": "Free payment type"
          },
          {
            "name": "Entitlement",
            "value": "Entitlement",
            "description": "Entitlement payment type"
          },
          {
            "name": "SponsoredPlus",
            "value": "SponsoredPlus",
            "description": "SponsoredPlus payment type"
          },
          {
            "name": "Sponsored",
            "value": "Sponsored",
            "description": "Sponsored payment type"
          },
          {
            "name": "Benefit",
            "value": "Benefit",
            "description": "Benefit payment type"
          }
        ]
      }
    },
    "PromotionData": {
      "type": "object",
      "description": "Promotion category and end date time",
      "properties": {
        "category": {
          "type": "string",
          "description": "promotion category free vs pay-as-you-go"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "promotion end date time"
        }
      },
      "required": [
        "category",
        "endDateTime"
      ]
    },
    "PromotionsList": {
      "type": "object",
      "description": "List of promotions",
      "properties": {
        "value": {
          "type": "array",
          "description": "Promotions that are offered to the subscription",
          "items": {
            "$ref": "#/definitions/PromotionData"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state enum",
      "enum": [
        "Provisioning",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource action is successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource action has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource action has been cancelled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The resource has been deleted."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource status is unspecified."
          }
        ]
      },
      "readOnly": true
    },
    "ResourceType": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResourceTypeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ResourceTypeListResult": {
      "type": "object",
      "description": "The response of a ResourceType list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResourceType items on this page",
          "items": {
            "$ref": "#/definitions/ResourceType"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ResourceTypeProperties": {
      "type": "object",
      "description": "The Resource Type Properties",
      "properties": {
        "resourceNamespace": {
          "type": "string",
          "description": "The namespace of the resource type"
        },
        "namespaceReadiness": {
          "$ref": "#/definitions/NamespaceReadiness",
          "description": "Specifies the readiness of the namespace"
        },
        "resourceTypeName": {
          "type": "string",
          "description": "The name of the resource type"
        },
        "resourceTypeReadiness": {
          "$ref": "#/definitions/ResourceTypeReadiness",
          "description": "Specifies the readiness of the resource type"
        },
        "typeSpaceId": {
          "type": "string",
          "description": "The type space ID for the resource type"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "resourceNamespace",
        "namespaceReadiness",
        "resourceTypeName",
        "resourceTypeReadiness"
      ]
    },
    "ResourceTypeReadiness": {
      "type": "string",
      "description": "Enum that represents the readiness of the resource type",
      "enum": [
        "InDevelopment",
        "PrivatePreview",
        "PublicPreview",
        "GA",
        "InternalOnly",
        "ClosingDown",
        "RemovedFromARM",
        "Deprecated"
      ],
      "x-ms-enum": {
        "name": "ResourceTypeReadiness",
        "modelAsString": true,
        "values": [
          {
            "name": "InDevelopment",
            "value": "InDevelopment",
            "description": "The namespace is in development"
          },
          {
            "name": "PrivatePreview",
            "value": "PrivatePreview",
            "description": "The namespace is in private preview"
          },
          {
            "name": "PublicPreview",
            "value": "PublicPreview",
            "description": "The namespace is in public preview"
          },
          {
            "name": "GA",
            "value": "GA",
            "description": "The namespace is in general availability"
          },
          {
            "name": "InternalOnly",
            "value": "InternalOnly",
            "description": "The namespace is internal only"
          },
          {
            "name": "ClosingDown",
            "value": "ClosingDown",
            "description": "The namespace is closing down"
          },
          {
            "name": "RemovedFromARM",
            "value": "RemovedFromARM",
            "description": "The namespace is removed from ARM"
          },
          {
            "name": "Deprecated",
            "value": "Deprecated",
            "description": "The namespace is deprecated"
          }
        ]
      }
    },
    "ServerResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "Service": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceHierarchy": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceHierarchyProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceHierarchyListResult": {
      "type": "object",
      "description": "The response of a ServiceHierarchy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ServiceHierarchy items on this page",
          "items": {
            "$ref": "#/definitions/ServiceHierarchy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServiceHierarchyProperties": {
      "type": "object",
      "description": "The Service Hierarchy Properties",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      }
    },
    "ServiceInstance": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceInstanceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceInstanceListResult": {
      "type": "object",
      "description": "The response of a ServiceInstance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ServiceInstance items on this page",
          "items": {
            "$ref": "#/definitions/ServiceInstance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServiceInstanceProperties": {
      "type": "object",
      "description": "The Service Instance Properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the service instance"
        },
        "serviceInstanceId": {
          "type": "string",
          "description": "The service instance ID of the service instance"
        },
        "msLocationId": {
          "type": "string",
          "description": "The ms location ID of the service instance"
        },
        "serviceHierarchy": {
          "type": "string",
          "description": "The service hierarchy of the service instance"
        },
        "locationIdentifier": {
          "type": "string",
          "description": "The location identifier of the service instance"
        },
        "cloud": {
          "$ref": "#/definitions/Cloud",
          "description": "The cloud in which the service instance resides"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "displayName",
        "serviceInstanceId",
        "msLocationId",
        "serviceHierarchy",
        "locationIdentifier",
        "cloud"
      ]
    },
    "ServiceListResult": {
      "type": "object",
      "description": "The response of a Service list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Service items on this page",
          "items": {
            "$ref": "#/definitions/Service"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServiceProperties": {
      "type": "object",
      "description": "Service Properties",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the service"
        },
        "serviceId": {
          "type": "string",
          "description": "The id of the service"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "displayName",
        "serviceId"
      ]
    },
    "State": {
      "type": "string",
      "description": "Subscription states",
      "enum": [
        "Registered",
        "Unregistered",
        "Warned",
        "Suspended",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "Registered",
            "value": "Registered",
            "description": "Registered subscription state"
          },
          {
            "name": "Unregistered",
            "value": "Unregistered",
            "description": "Unregistered subscription state"
          },
          {
            "name": "Warned",
            "value": "Warned",
            "description": "Warned subscription state"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "Suspended subscription state"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Deleted subscription state"
          }
        ]
      }
    },
    "SubscriptionEnvironment": {
      "type": "string",
      "description": "Enum that represents the subscription environment",
      "enum": [
        "Production",
        "NonProduction"
      ],
      "x-ms-enum": {
        "name": "SubscriptionEnvironment",
        "modelAsString": true,
        "values": [
          {
            "name": "Production",
            "value": "Production",
            "description": "Subscription environment is Production"
          },
          {
            "name": "NonProduction",
            "value": "NonProduction",
            "description": "Subscription environment is NonProduction"
          }
        ]
      }
    },
    "SubscriptionInternalProperties": {
      "type": "object",
      "description": "The Subscription internal properties",
      "properties": {
        "billingProperties": {
          "$ref": "#/definitions/BillingProperties",
          "description": "Subscription Billing properties."
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "displayName": {
          "type": "string",
          "description": "Subscription display name"
        },
        "entitlementStartDate": {
          "type": "string",
          "description": "Subscription Entitlement start date"
        },
        "offerCategory": {
          "type": "string",
          "description": "Subscription Offer Category"
        },
        "offerType": {
          "type": "string",
          "description": "Subscription offer Type"
        },
        "promotions": {
          "$ref": "#/definitions/PromotionsList",
          "description": "Promotions offered to the subscription"
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Current state of subscription"
        },
        "subscriptionPolicies": {
          "$ref": "#/definitions/SubscriptionPolicies",
          "description": "Subscription policies"
        },
        "internalSubscriptionPolicies": {
          "$ref": "#/definitions/InternalSubscriptionPolicies",
          "description": "Internal subscription policies"
        },
        "tenantId": {
          "type": "string",
          "description": "Subscription Tenant Id"
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Subscription Created Time"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "Subscription Created Time"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Subscription Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "subscriptionId",
        "tenantId"
      ]
    },
    "SubscriptionInternalPropertyResource": {
      "type": "object",
      "description": "Concrete extension resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SubscriptionInternalProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SubscriptionInternalPropertyResourceListResult": {
      "type": "object",
      "description": "The response of a SubscriptionInternalPropertyResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SubscriptionInternalPropertyResource items on this page",
          "items": {
            "$ref": "#/definitions/SubscriptionInternalPropertyResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SubscriptionPolicies": {
      "type": "object",
      "description": "The Subscription policies",
      "properties": {
        "locationPlacementId": {
          "type": "string",
          "description": "The placement requirement for the subscription based on its country of origin / offer type / offer category / etc. This is used in geo-fencing of certain regions or regulatory boundaries (e.g. Australia ring-fencing)."
        },
        "quotaId": {
          "type": "string",
          "description": "The quota requirement for the subscription based on the offer type / category (e.g. free vs. pay-as-you-go). This can be used to inform quota information for the subscription (e.g. max # of resource groups or max # of virtual machines."
        },
        "spendingLimit": {
          "type": "string",
          "description": "Indicates whether subscription has spending limit."
        }
      },
      "required": [
        "locationPlacementId",
        "quotaId",
        "spendingLimit"
      ]
    },
    "SubscriptionStatus": {
      "type": "string",
      "description": "Enum that represents whether the subscription is active or inactive",
      "enum": [
        "Active",
        "Inactive"
      ],
      "x-ms-enum": {
        "name": "SubscriptionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Subscription status is Active"
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "Subscription status is Inactive"
          }
        ]
      }
    },
    "Tier": {
      "type": "string",
      "description": "Subscription tier",
      "enum": [
        "Unknown",
        "Standard",
        "Premium",
        "Priority"
      ],
      "x-ms-enum": {
        "name": "Tier",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown tier"
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard tier"
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium tier"
          },
          {
            "name": "Priority",
            "value": "Priority",
            "description": "Priority tier"
          }
        ]
      }
    },
    "WorkloadType": {
      "type": "string",
      "description": "Subscription workload type",
      "enum": [
        "None",
        "DevTest",
        "Production"
      ],
      "x-ms-enum": {
        "name": "WorkloadType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None workload type"
          },
          {
            "name": "DevTest",
            "value": "DevTest",
            "description": "Development test workload type"
          },
          {
            "name": "Production",
            "value": "Production",
            "description": "Production workload type"
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
